﻿@model MoAD.DataObjects.EDMX.ItemTrackingStatu

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_LayoutInitialPage.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>ItemTrackingStatu</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CreatedAt)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreatedAt)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UpdatedAt)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UpdatedAt)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CurrentFormKey)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CurrentFormKey)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GUID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GUID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Note)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Note)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AspNetUser.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AspNetUser.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AspNetUser1.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AspNetUser1.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FormTemplate.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FormTemplate.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.InvocationType.InvocationType1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.InvocationType.InvocationType1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.WorkFlowItem.ExtendedCurrentRoleKey)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.WorkFlowItem.ExtendedCurrentRoleKey)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
