﻿@model IEnumerable<MoAD.DataObjects.EDMX.ItemTrackingStatu>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutInitialPage.cshtml";
}

<script>
    $(document).ready(function () {
        $('#table').DataTable({

            "oLanguage": {
                "sSearch": "إبحث",
                "sLengthMenu": "عدد الأسطر لكل صفحة _MENU_ ",
            }
        });
    });
</script>

<div class="row" style="margin-top:1%;">
    <div class="col-xl-12">
        <div class="row">
            <div class="col-xl-12">
                <div class="widget widget-two" style="direction:rtl;">
                    <div class="widget-header">
                        <span class="text-truncate text-nowrap">إعدادات <strong>قيد الانتظار</strong></span><span class="pull-left">@Html.ActionLink("جديد", "Create")</span>
                    </div>

                    <div class="row">
                        <div class="widget-body clearfix">

                            <table id="table" class="display" cellspacing="0" width="100%">
                                <thead>
                                    <tr>
                                        <th>
                                            @Html.DisplayNameFor(model => model.CreatedAt)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.UpdatedAt)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.CurrentFormKey)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.GUID)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.Note)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.AspNetUser.Email)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.AspNetUser1.Email)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.FormTemplate.Name)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.InvocationType.InvocationType1)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.WorkFlowItem.ExtendedCurrentRoleKey)
                                        </th>
                                        <th></th>
                                    </tr>
                                </thead>
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.CreatedAt)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.UpdatedAt)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.CurrentFormKey)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.GUID)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Note)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.AspNetUser.Email)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.AspNetUser1.Email)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.FormTemplate.Name)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.InvocationType.InvocationType1)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.WorkFlowItem.ExtendedCurrentRoleKey)
                                        </td>
                                        <td>
                                            @Html.ActionLink("Edit", "Edit", new { id = item.ItemTrackingStatusKey }) |
                                            @Html.ActionLink("Details", "Details", new { id = item.ItemTrackingStatusKey }) |
                                            @Html.ActionLink("Delete", "Delete", new { id = item.ItemTrackingStatusKey })
                                        </td>
                                    </tr>
                                }
                                <tfoot>
                                    <tr>
                                        <th>
                                            @Html.DisplayNameFor(model => model.CreatedAt)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.UpdatedAt)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.CurrentFormKey)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.GUID)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.Note)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.AspNetUser.Email)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.AspNetUser1.Email)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.FormTemplate.Name)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.InvocationType.InvocationType1)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.WorkFlowItem.ExtendedCurrentRoleKey)
                                        </th>
                                        <th></th>
                                    </tr>
                                </tfoot>

                            </table>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

