﻿@model MoAD.DataObjects.EDMX.FormElement

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_LayoutInitialPage.cshtml";
}

<h2>Details</h2>

<div>
    <h4>FormElement</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FormElementTypeKeyDependancy)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FormElementTypeKeyDependancy)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ExtendedData.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ExtendedData.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FormElementType.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FormElementType.Name)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.FormElementKey }) |
    @Html.ActionLink("Back to List", "Index")
</p>
