﻿@model IEnumerable<MoAD.DataObjects.EDMX.FormElement>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutInitialPage.cshtml";
}

<script>
    $(document).ready(function () {
        $('#table').DataTable({
            "scrollX": true,
            "oLanguage": {
                "sSearch": "إبحث",
                "sLengthMenu": "عدد الأسطر لكل صفحة _MENU_ ",
            }
        });
});
</script>

<div class="row" style="margin-top:1%;">
    <div class="col-xl-12">
        <div class="row">
            <div class="col-xl-12">
                <div class="widget widget-two" style="direction:rtl;">
                    <div class="widget-header">
                        <span class="text-truncate text-nowrap">إعدادات <strong>قيد الانتظار</strong></span><span class="pull-left">@Html.ActionLink("جديد", "Create")</span>
                    </div>

                    <div class="row">
                        <div class="widget-body clearfix">

                            <table id="table" class="display" cellspacing="0" width="100%">
                                    <thead>
                                        <tr>
                                            <th>
                                                @Html.DisplayNameFor(model => model.Name)
                                            </th>
                                            <th>
                                                @Html.DisplayNameFor(model => model.FormElementTypeKeyDependancy)
                                            </th>
                                            <th>
                                                @Html.DisplayNameFor(model => model.ExtendedData.Name)
                                            </th>
                                            <th>
                                                @Html.DisplayNameFor(model => model.FormElementType.Name)
                                            </th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    @foreach (var item in Model)
                                    {
                                        <tr>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.Name)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.FormElementTypeKeyDependancy)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.ExtendedData.Name)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.FormElementType.Name)
                                            </td>
                                            <td>
                                                @Html.ActionLink("Edit", "Edit", new { id = item.FormElementKey }) |
                                                @Html.ActionLink("Details", "Details", new { id = item.FormElementKey }) |
                                                @Html.ActionLink("Delete", "Delete", new { id = item.FormElementKey })
                                            </td>
                                        </tr>
                                    }
                                    <tfoot>
                                        <tr>
                                            <th>
                                                @Html.DisplayNameFor(model => model.Name)
                                            </th>
                                            <th>
                                                @Html.DisplayNameFor(model => model.FormElementTypeKeyDependancy)
                                            </th>
                                            <th>
                                                @Html.DisplayNameFor(model => model.ExtendedData.Name)
                                            </th>
                                            <th>
                                                @Html.DisplayNameFor(model => model.FormElementType.Name)
                                            </th>
                                            <th></th>
                                        </tr>
                                    </tfoot>
                                </table>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
