﻿@using Microsoft.AspNet.Identity
@using MoAD.DataObjects.EDMX
@using MoAD.WebApplication.Objects
@using MoAD.WebApplication.Models
@using MoAD.WebApplication.Managers

@{
    HttpCookie languageCookie = Request.Cookies["Language"];
    var InitialDirection = "rtl";
    if (languageCookie != null && languageCookie.Value != "3")
    {
        InitialDirection = "ltr";
    }

    List<NavBarViewModel> NavbarData = (List<NavBarViewModel>)ViewBag.NavbarData;
    Dictionary<string, string> Locale = ViewBag.Locale;
    int languageIdentifier = (int)ViewBag.Languageidentifier;
}



<!DOCTYPE html>
<html lang="en">
<head>
    <title> @ViewBag.Title</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="@Url.Content("~/assets/NewPages/bootstrap/bootstrap.min.css")">
    <link rel="stylesheet" href="@Url.Content("~/assets/NewPages/slider2/normalize.css")">
    <link rel='stylesheet' href="@Url.Content("~/assets/NewPages/slider2/swiper.css")">
    <link href="@Url.Content("~/content/header/sm-core-css.css")" rel="stylesheet" />
    <link href="@Url.Content("~/content/header/sm-blue.css")" rel="stylesheet" />
    <link href="@Url.Content("~/content/header/sm-core-css.css")" rel="stylesheet" />
    <link href="@Url.Content("~/content/header/sm-blue.css")" rel="stylesheet" />
    <link href="@Url.Content("~/Content/SharedLayout.css")" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A==" crossorigin="anonymous" referrerpolicy="no-referrer" />

    @*@if (InitialDirection == "rtl")
        {*@
    <link href="@Url.Content("~/assets/surveycomponent/survey.css")" rel="stylesheet" />
    @*}
        else
        {
            <link href="@Url.Content("~/assets/surveycomponent/survey-En.css")" rel="stylesheet" />
        }*@

    <script src="@Url.Content("~/assets/NewPages/jquery/jquery.min.js")"></script>
    <script src="@Url.Content("~/assets/NewPages/bootstrap/bootstrap.min.js")"></script>
    <script src="@Url.Content("~/scripts/header/jquery.smartmenus.js")"></script>
    @if (ViewContext.RouteData.Values["Controller"].ToString().ToLower() == "template")
    {
        <link href="@Url.Content("~/content/about/assets/css/main.css")" rel="stylesheet" />
    }

    <link rel="stylesheet" href="@Url.Content("~/assets/NewPages/dropzone/dropzone.css")" type="text/css" />
    <script src="@Url.Content("~/assets/NewPages/dropzone/dropzone.js")"></script>

    <link href="@Url.Content("~/assets/NewPages/summerNote/dist/summernote.css")" rel="stylesheet">
    <script src="@Url.Content("~/assets/NewPages/summerNote/dist/summernote.js")"></script>
    <script src="@Url.Content("~/assets/NewPages/summerNote/dist/lang/summernote-ar-AR.min.js")"></script>
    <link href="@Url.Content("~/assets/NewPages/select2/select2.css")" rel="stylesheet" />
    <script src="@Url.Content("~/assets/BlockUI.js")"></script>
    <script src="@Url.Content("~/assets/NewPages/select2/select2.js")"></script>
    <script src="@Url.Content("~/Scripts/bootbox.min.js")"></script>

    <link rel="apple-touch-icon" sizes="180x180" href="@Url.Content("~/assets/app/media/img/favicon/apple-touch-icon.png")">
    <link rel="icon" type="image/png" sizes="32x32" href="@Url.Content("~/assets/app/media/img/favicon/favicon-32x32.png")">
    <link rel="icon" type="image/png" sizes="16x16" href="@Url.Content("~/assets/app/media/img/favicon/favicon-16x16.png")">
    <link rel="manifest" href="@Url.Content("~/assets/app/media/img/favicon/site.webmanifest")">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">

    <style>
        .modal-content {
            max-height: calc(116vh - 210px);
            overflow-y: auto;
        }
    </style>

    @if (InitialDirection == "rtl")
    {


        <style>
             @@font-face {
            font-family: 'ge_dinar_onemedium';
            src: url('@Url.Content("~/assets/vendors/Fonts/GE Dinar One Medium.ttf")') format('truetype'), url('@Url.Content("~/assets/vendors/Fonts/ge-dinar-one-medium-webfont.woff2")') format('woff2'), url('@Url.Content("~/assets/vendors/Fonts//ge-dinar-one-medium-webfont.woff")') format('woff');
            font-weight: normal;
            font-style: normal;
        }

            body, h1, h2, h3, h4, h5, h6, input {
                font-family: 'ge_dinar_onemedium' !important;
            }

            ul a {
                cursor: pointer;
            }

            .sm-blue a, .sm-blue a:hover, .sm-blue a:focus, .sm-blue a:active {
                font-family: 'ge_dinar_onemedium' !important;
            }

            button, a {
                font-family: 'ge_dinar_onemedium' !important;
            }
            .sm-blue i {
                margin-left: 8px !important;
            }
        </style>
    }
    else
    {
        <style>
            body, h1, h2, h3, h4, h5, h6, input {
                font-family: "Gill Sans", sans-serif !important;
            }

            ul a {
                cursor: pointer;
            }

            .sm-blue a, .sm-blue a:hover, .sm-blue a:focus, .sm-blue a:active {
                font-family: "Gill Sans", sans-serif !important;
            }

            button, a {
                font-family: "Gill Sans", sans-serif !important;
            }

            .sm-blue i {
                margin-right: 8px !important;
            }
        </style>
    }

    <style>
        @@media(min-width:1025px) {
            .takrir-footer {
                padding-top: 123px;
            }
        }

        footer a{
            color:white;
            text-decoration:none;
        }
        .mm-survey-results-score {
            color: #646464;
        }
        #footerListingUl li{
            cursor:pointer;
        }



        body {
            background: url('@Url.Content("~/Images/backgrounds/background.jpg")') !important;
            background-repeat: no-repeat !important;
            background-size: 100% !important;
           /* padding-top: 38px;*/
        }

        [dir="rtl"] {
            background-color: white !important;
        }

        [dir="ltr"] {
            background-color: white !important;
        }



        a {
            border-bottom: none !important;
        }

        h4, h3 {
            font-weight: normal !important;
        }

        .sm-blue li ul::-webkit-scrollbar {
            background: #D2D2D6;
            width: 8px;
        }

        .sm-blue li ul::-webkit-scrollbar-thumb {
            background: #64A1BC;
        }

        #main-menu {
            border-radius: 0px;
        }

        .sm-blue, .sm-blue li .has-submenu, .sm-blue .element, .sm-blue .no-child {
            background: #447F99 !important;
        }

            .sm-blue a {
                font-weight: normal !important;
                padding: 17px !important;
                font-size: 16px !important;
            }

            .sm-blue li ul {
                width: max-content !important;
                background: #F7F8F9;
                height: 150px;
                min-height: 200px;
                border: 0px !important;
                overflow: scroll;
                overflow-x: hidden;
            }


            .sm-blue li ul {
                right: 0px;
            }

                .sm-blue li ul li {
                    float: none !important;
                }

            .sm-blue li .has-submenu:hover, .sm-blue li .has-submenu:focus {
                color: #447F99 !important;
                background: #F7F8F9 !important;
            }

                .sm-blue li .has-submenu:hover i {
                    color: #447F99 !important;
                    background: #F7F8F9 !important;
                }



            .sm-blue .has-submenu .sub-arrow {
                display: none;
            }

            .sm-blue > li {
                border-right: 1px solid white;
            }

            .sm-blue li ul a {
                background: #F7F8F9;
                color: #447F99 !important;
            }

            .sm-blue i {
                font-size: 16px;
                color: white;
                margin-left:8px;
            }
            .card:hover{
                cursor:pointer;
            }

        header button {
            border: none;
            margin-bottom: 4px;
            background: none;
            font-size: 17px;
            color: #447F99;
            font-weight: bold;
        }

            header button:first-child {
                border-right: 2px solid #447F99;
            }

        h1 {
            font-size: 2.8rem !important;
        }

        h2 {
            font-size: 2.06rem;
        }

        header {
            background: url('@Url.Content("~/Images/backgrounds/background.jpg")') !important;
            background-repeat: no-repeat !important;
            background-size: cover !important;
            padding-top: 38px;
        }

        .HeaderH1 {
            color: #5c6a72;
            font-weight: bold;
            text-align: center;
            line-height: 1.5;
            font-size: 2.9rem !important;
        }

        footer {
            background: url('@Url.Content("~/Images/backgrounds/footer-background.jpg")') !important;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover !important;
            padding-top: 1.875rem;
            padding-right: 1.875rem;
            padding-left: 1.875rem;
        }


        footer h3 {
            font-size: 31px !important;
        }

        footer li {
            color: white;
            padding-bottom: 10px;
            font-size: 1.7rem;
        }

        .mapouter {
            height: auto;
        }

        .reveal {
            position: relative;
            transform: translateY(150px);
            opacity: 0;
            transition: 1s all ease;
        }

            .reveal.active {
                transform: translateY(0);
                opacity: 1;
            }

        #overlay {
            /*position: absolute;*/
            z-index: 99999999999999999999999999999;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            /* background: rgb(249, 249, 251); */
            transition: 1s 0.4s;
            background: #ffff;
           /* opacity: 0.8;*/

        }

        @@media(max-width:1430px) {
            .sm-blue a {
                font-size: 17px !important;
            }
        }

        @@media(max-width:1024px) {
            .sm-blue a {
                font-weight: normal !important;
                padding: 10px !important;
                font-size: 1.7rem !important;
                color:#fff !important;
            }

            header button {
                font-size: 12px !important;
            }

            .HeaderH1 {
                line-height: 1.5;
                font-size: 2.1rem !important;
            }
        }

        @@media(max-width:600px) {
            #HeaderLogo {
                width: 25% !important;
            }

            .HeaderH1 {
                line-height: 1.5;
                font-size: 1.9rem !important;
            }


        }

        @@media(max-with:768px){
            .HeaderH1 {
                font-size: 1.8rem !important;
            }
        }

        @@media(max-width:425px) {
            #HeaderLogo{
                width:25% !important;
            }
        }
    </style>

</head>
<div id="overlay">
    <div class="col-md-12 col-sm-12 col-xs-12" style="text-align:center;margin-top:15%">
        <img src="@Url.Content("~/images/customgif/Syrian Loader.gif")" alt="Loading" style="width:10%;" />
        <br />
        @*<span style="color:black">@Html.Raw(BaseController.GetFieldLabel(Locale, "_InitialLoaderMsg"))</span>*@
    </div>
</div>

<body dir="@InitialDirection">
    @if (ViewBag.PageName == "Manbar")
    {
        <div class="row">
            <div class="col-lg-5 col-md-5 col-sm-5 col-xs-12">
                <h1 class="HeaderH1">
                    @Utilities.GetDataTransaltionByGuid("1234b24e-fcaa-4e23-857b-62b5161c6ded", languageIdentifier) <br />@Utilities.GetDataTransaltionByGuid("05e87bf3-0a85-4025-a73f-16bfb6ade579", languageIdentifier)
                </h1>
            </div>
            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12 text-center">
                <img src="@Url.Action("GetFilePathFromExtendedData","Files", new { extensionFileKey= 143116 })" id="HeaderLogo" style="cursor: pointer;width:50%;" hidden />
            </div>
            <div class="col-lg-5 col-md-5 col-sm-5 col-xs-12">
                <h1 class="HeaderH1">
                    @Utilities.GetDataTransaltionByGuid("cf709179-ea47-4732-982f-c861af72246e", languageIdentifier) <br />@Utilities.GetDataTransaltionByGuid("de787645-9109-427a-8630-da2bee66d9a3", languageIdentifier)
                </h1>
            </div>
        </div>
    }
    else if (ViewBag.PageName == "Marsad")
    {
        <div class="row">
            <div class="col-lg-5 col-md-5 col-sm-5 col-xs-12">
                <h1 class="HeaderH1">
                    @Utilities.GetDataTransaltionByGuid("fcde62a8-2fad-4e89-9a3e-2d380e758274", languageIdentifier) <br /> @Utilities.GetDataTransaltionByGuid("4c67b446-4f32-412d-a112-cc6af8e316b3", languageIdentifier)
                </h1>
            </div>
            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12 text-center">
                <img src="@Url.Action("GetFilePathFromExtendedData","Files", new { extensionFileKey= 143108 })" id="HeaderLogo" style="cursor: pointer; width: 50%;" hidden />
            </div>
            <div class="col-lg-5 col-md-5 col-sm-5 col-xs-12">
                <h1 class="HeaderH1">
                    @Utilities.GetDataTransaltionByGuid("a8d1eac1-fb73-4626-8133-cc068a1f4ba8", languageIdentifier) <br />@Utilities.GetDataTransaltionByGuid("d28321a5-9d0b-43c9-b3ca-5d3169fc4ba7", languageIdentifier)
                </h1>
            </div>
        </div>
    }
    else
    {
        <div class="row">
            <div class="col-lg-5 col-md-5 col-sm-5 col-xs-12">
                <h1 class="HeaderH1">
                    @Utilities.GetDataTransaltionByGuid("a433b2b2-834a-4afd-a0f4-43c3c0d2f23a", languageIdentifier)
                </h1>
            </div>
            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12 text-center">
                <img src="@Url.Action("GetFilePathFromExtendedData","Files", new { extensionFileKey= 143125 })" alt="Responsive image" style="cursor:pointer;width:50%;" id="HeaderLogo" hidden />
            </div>
            <div class="col-lg-5 col-md-5 col-sm-5 col-xs-12">
                <h1 class="HeaderH1">
                    @Utilities.GetDataTransaltionByGuid("2817F524-C297-4558-863F-E8B1CA74CC15", languageIdentifier)
                </h1>
            </div>
        </div>
    }



    <div class="row">
        <div class="col-lg-9"></div>
        <div class="col-lg-3" style="text-align:end;font-weight:bold;">

            @if (languageCookie.Value == "3")
            {
                <a style="cursor: pointer; color: #337ab7;" onclick="changeLanguage('4')">English</a>
            }
            else
            {
                <a style="cursor: pointer; color: #337ab7;" onclick="changeLanguage('3')">العربية</a>
            }

        </div>
    </div>
    <div id="navbarContainer">
        @Html.Partial("~/Views/CMS/_NavbarMenu.cshtml", new ViewDataDictionary { { "NavbarData", NavbarData }, { "LanguageIdentifier", ViewBag.CurrentLanguageIdentifier }, { "PageName", ViewBag.PageName } })
    </div>


    @RenderBody()

    <footer dir="@InitialDirection">

        <div class="row">
            <div class="col-lg-1"></div>



            @if (ViewBag.PageName == "Markaz")
            {
                <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12 ">
                    <h3 style="color:white;">@Utilities.GetDataTransaltionByGuid("78be38f5-a612-4fd3-bb2f-b57bd224d6cb", languageIdentifier)</h3>
                    <ul style="padding-top: 19px;" id="footerListingUl">
                        <li style="padding-bottom: 29px;"><a class="openLinks" data-guidKey="4a544bc9-57f6-4889-821b-c23fe2532310">@Utilities.GetDataTransaltionByGuid("4a544bc9-57f6-4889-821b-c23fe2532310", languageIdentifier)</a></li>
                        <li style="padding-bottom: 29px;"><a class="openLinks" data-guidKey="169b650d-fd02-4b1c-a825-9186bc314137">@Utilities.GetDataTransaltionByGuid("169b650d-fd02-4b1c-a825-9186bc314137", languageIdentifier)</a></li>
                        <li style="padding-bottom: 29px;">
                            <a class="openLinks" data-guidKey="e232b424-53f9-4504-8e64-06663be17308">@Utilities.GetDataTransaltionByGuid("e232b424-53f9-4504-8e64-06663be17308", languageIdentifier)</a>
                        </li>
                        <li style="padding-bottom: 29px;"><a class="openLinks" data-guidKey="b80358a1-02ab-49d6-8295-1ed9bc770dbd">@Utilities.GetDataTransaltionByGuid("b80358a1-02ab-49d6-8295-1ed9bc770dbd", languageIdentifier)</a></li>
                    </ul>
                </div>
            }
            else if (ViewBag.PageName == "Marsad")
            {
                <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12 takrir-footer" style="cursor:pointer;">
                    <h3 style="color:white;">@Utilities.GetDataTransaltionByGuid("336fc9fe-ccca-4dfe-8b99-cc624c98008a", languageIdentifier)</h3>
                </div>
            }
            else
            {
                <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12">
                  
                </div>
            }

            <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12">
                <h3 style="color:white;">@Utilities.GetDataTransaltionByGuid("86eb1887-40df-426f-9011-f10277a93edb", languageIdentifier)</h3>
                <ul style="list-style-type:none;padding:0px;">
                    <li>
                        <div class="row">
                            <div class="col-lg-2 phone-icon">
                                <img style="height: 50px; margin-top: 11px;" src=@Url.Content("~/Images/logos/phone.png") />
                            </div>
                            <div class="col-lg-10">
                                <div class="row" style="margin:20px 0px;">
                                    <div class="col-lg-12" style="padding-bottom:5px">@Utilities.GetDataTransaltionByGuid("4a0f8881-f2a9-493d-9a15-a5f2f779506d", languageIdentifier)</div>
                                    <div class="col-lg-12">@Utilities.GetDataTransaltionByGuid("98f84cee-7329-4702-a16d-79ac6e1cb016", languageIdentifier) </div>
                                </div>
                            </div>

                        </div>
                    </li>

                    <li>
                        <div class="row">
                            <div class="col-lg-2 email-icon">
                                <img style="height:50px;margin-top:11px;" src=@Url.Content("~/Images/logos/e-mail.png") />
                            </div>
                            <div class="col-lg-10">
                                <div class="row" style="margin:20px 0px;">
                                    <div class="col-lg-12" style="padding-bottom:5px">@Utilities.GetDataTransaltionByGuid("e0946b87-f50c-4b1c-86f8-1cb5b1921a72", languageIdentifier)</div>
                                    <div class="col-lg-12">@Utilities.GetDataTransaltionByGuid("79de7aa1-38be-4be2-811d-bd1beff0e274", languageIdentifier)</div>
                                </div>
                            </div>

                        </div>
                    </li>

                </ul>
            </div>
            <div class="col-lg-5 col-md-12 col-sm-12 col-xs-12">
                <img style="height: 50px; float: inherit; padding-right: 20px; margin-top: 6px;" src="@Url.Content("~/Images/logos/location.png")" />
                <h3 style="color:white;">@Utilities.GetDataTransaltionByGuid("e12f59e2-428e-474f-b17d-6d6291383c9b", languageIdentifier)</h3>
                <ul style="list-style-type: none; padding: 0px; margin-top: 11px;">


                    <li>
                       
                            <div class="mapouter">
                                <div class="gmap_canvas">
                                    <iframe width="400" height="300" id="gmap_canvas" src="https://maps.google.com/maps?q=damascus&t=&z=13&ie=UTF8&iwloc=&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe><a href="https://123movies-to.org"></a><br>
                                    <style>
                                        .mapouter {
                                            position: relative;
                                            text-align: inherit;
                                            height: auto;
                                        }
                                    </style><a href="https://www.embedgooglemap.net"></a>
                                    <style>
                                        .gmap_canvas {
                                            overflow: hidden;
                                            background: none !important;
                                            height: auto;
                                        }
                                    </style>
                                </div>
                            </div>
                        
                    </li>
                </ul>
            </div>

        </div>



    </footer>

    <div class="row" style="background:#444444;margin:0px;">

        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center">

            <a href="@Utilities.GetDataTransaltionByGuid("b0e15c68-8109-4ae9-be01-545c1a932ff9", languageIdentifier)" target="_blank">
                <img src=@Url.Content("~/Images/logos/facebook.png") style="height:40px;margin:5px; cursor:pointer;" />

            </a>

            <a href="@Utilities.GetDataTransaltionByGuid("2ecdf1c4-b054-4d4e-9de1-5066628a1b20", languageIdentifier)" target="_blank">
                <img src=@Url.Content("~/Images/logos/twitter.png") style="height: 40px; margin: 5px; cursor: pointer;" />

            </a>

            <a href="@Utilities.GetDataTransaltionByGuid("2b1b0389-fa85-45a5-80e5-29d1276fbb2d", languageIdentifier)" target="_blank">
                <img src=@Url.Content("~/Images/logos/g_plus.png") style="height: 40px; margin: 5px; cursor: pointer;" />
            </a>

        </div>

    </div>



    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel"></h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <h1 class="text-center modal-head-title"></h1>
                    <p class="text-center modal-head-text" style="line-height:3.4rem">

                    </p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">إغلاق</button>
                </div>
            </div>
        </div>
    </div>
    <script src=@Url.Content("~/assets/NewPages/slider2/swiper.js")></script>
    <script src="@Url.Content("~/assets/surveycomponent/survey.js")"></script>

    <script>
        $(function () {
            $('#main-menu').smartmenus({
                subMenusSubOffsetX: 1,
                subMenusSubOffsetY: -8
            });
        });

        /////////LoaderPart////
        $(window).on('load', function () {
            fadeOutEffect();
            function fadeOutEffect() {

                var fadeTarget = document.getElementById("overlay");
                var fadeEffect = setInterval(function () {
                    if (!fadeTarget.style.opacity) {
                        fadeTarget.style.opacity = 1;
                    }
                    if (fadeTarget.style.opacity > 0) {
                        fadeTarget.style.opacity -= 0.1;
                    } else {
                        clearInterval(fadeEffect);
                    }


                }, 300);

                setTimeout(function () {
                    $(".Body").css("filter", "");

                }, 3000);
                $("#HeaderLogo").fadeIn(6000);

                setTimeout(function () {

                    $("#overlay").remove();
                }, 3000);
            }
        });

           $(".openLinks").each(function (index) {
            var guidKey = $(this).attr("data-guidKey");
            var thisItem=$(this);
          $.ajax({
                url: '@Url.Action("CheckRedirection", "Files")',
                type: 'POST',
                data: {
                    __RequestVerificationToken: $('@Html.AntiForgeryToken()').val(),
                    g_key: guidKey
                },
                success: function (data) {
                    if (data == "False") {
                        thisItem.css("cursor", "initial");
                    } else {
                        thisItem.css("cursor", "pointer");
                    }
                },
                error: function (error) {

                    swal("Error", "Error Occured!", "error");

                }
            });
        });

        $(".openLinks").on('click', function () {
            var guidKey = $(this).attr("data-guidKey");
            var thisItem=$(this);
          $.ajax({
                url: '@Url.Action("CheckRedirection", "Files")',
                type: 'POST',
                data: {
                    __RequestVerificationToken: $('@Html.AntiForgeryToken()').val(),
                    g_key: guidKey
                },
                success: function (data) {
                    if (data == "False") {
                        thisItem.css("pointer", "click")
                    } else {
                        submit_post_via_hidden_formNewTab("@Url.Action("GetPdfPathFromGuid", "Files")", { GuidKey: guidKey,pageName:'@ViewBag.PageName'});
                    }
                },
                error: function (error) {

                    swal("Error", "Error Occured!", "error");

                }
            });
        })

        function submit_post_via_hidden_formNewTab(url, params) {
            var f = $("<form method='POST' target='_blank' style='display:none;'></form>").attr({
                action: url
            }).appendTo(document.body);

            for (var i in params) {
                if (params.hasOwnProperty(i)) {
                    $('<input type="hidden" />').attr({
                        name: i,
                        value: params[i]
                    }).appendTo(f);
                }
            }

            f.submit();

            f.remove();
        }

        function submit_post_via_hidden_form(url, params) {
            var f = $("<form method='POST' style='display:none;'></form>").attr({
                action: url
            }).appendTo(document.body);

            for (var i in params) {
                if (params.hasOwnProperty(i)) {
                    $('<input type="hidden" />').attr({
                        name: i,
                        value: params[i]
                    }).appendTo(f);
                }
            }

            f.submit();

            f.remove();
        }

                function changeLanguage(languageCode) {
            $.ajax({
                url: '@Url.Action("ChangeLanguage", "Home")',
                type: 'GET',
                cache: false,
                dataType: 'text',
                data: ({
                    id: languageCode
                }),
                contentType: 'application/json; charset=utf-8',
                success: function (data) {
                    location.reload();
                },
                error: function (xhr) {
                    console.log('errorr');
                }
            });
        }

        $(".logoff").click(function () {
            window.location = '@Url.Action("LogOff", "Account")';
        });

        $("#SignInManbar").click(function () {
            submit_post_via_hidden_form("@Url.Action("LoginView", "Account")", {});
        });

        $("#GoToManbar").click(function () {
            submit_post_via_hidden_form("@Url.Action("Manbar", "Home")", {});
        });

        $("#GoToMarkaz").click(function () {
            @if(ViewBag.PageName == "Manbar" && ViewContext.RouteData.Values["action"].ToString()!= "Manbar")
            {
                <text>
             submit_post_via_hidden_form("@Url.Action("Manbar", "NewPages")", {});
            </text>
            }
            else if (ViewBag.PageName == "Marsad" && ViewContext.RouteData.Values["action"].ToString() != "Marsad")
            {
  <text>
             submit_post_via_hidden_form("@Url.Action("Marsad", "NewPages")", {});
            </text>
            }
            else
            {
                  <text>
             submit_post_via_hidden_form("@Url.Action("Markaz", "NewPages")", {});
            </text>
            }


        });

        @if (!User.IsInRole("Editor"))
        {
            <text>
            console.log("@User.IsInRole("Editor")");
            $("#exampleModal").remove();
            </text>
        }
    </script>
</body>
</html>
