﻿<style>
    #footer {
        text-align: right;
        margin-bottom: -2%;
        background-color: rgb(0,44,83);
    }

    .Logo6Footer {
        cursor:pointer;
    }
</style>


<div class="row" style="background-image: url('@Url.Content("~/images/newdesignpics/Background2.png")'" id="test2">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="position:absolute;text-align: center;margin-top: 1%;" id="Logo6Div">


        <div class="column1 col-lg-2 col-md-2 col-sm-2 col-xs-2 Logo6Footer">
            <img src="@Url.Content("~/images/newdesignpics/logo6.png")" style="height:12%">
        </div>
        <div class="column1 col-lg-2 col-md-2 col-sm-2 col-xs-2 Logo6Footer">
            <img src="@Url.Content("~/images/newdesignpics/logo5.png")" style="height:12%">
        </div>
        <div class="column1 col-lg-2 col-md-2 col-sm-2 col-xs-2 Logo6Footer">
            <img src="@Url.Content("~/images/newdesignpics/logo4.png")" style="height:12%">
        </div>



        <div class="column1 col-lg-2 col-md-2 col-sm-2 col-xs-2 Logo6Footer">
            <img src="@Url.Content("~/images/newdesignpics/logo3.png")" style="height:12%">
        </div>
        <div class="column1 col-lg-2 col-md-2 col-sm-2 col-xs-2 Logo6Footer">
            <img src="@Url.Content("~/images/newdesignpics/logo2.png")" style="height:12%">
        </div>
        <div class="column1 col-lg-2 col-md-2 col-sm-2 col-xs-2 Logo6Footer">
            <img src="@Url.Content("~/images/newdesignpics/logo1.png")" style="height:12%;">
        </div>

    </div>

</div>


<div class="row" style="background-image: url('@Url.Content("~/images/newdesignpics/backgroundfooter.png" )'" id="footer">



    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="text-align: center;margin-top: 1%;">

        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3" style="margin-top:2%">
            <img style="width:6%;margin-right:2%;" src="@Url.Content("~/images/newdesignpics/googleicon.png")" />
            <img style="width:6%;margin-right:2%;" src="@Url.Content("~/images/newdesignpics/twittericon.png" )" />
            <img style="width:4%;" src="@Url.Content("~/images/newdesignpics/facebookicon.png")" />
        </div>

        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3" style="margin-top: 1%;">

            <div class="col-md-6">

                <div>
                    <img style="width:75%;" src="@Url.Content("~/images/newdesignpics/albaridalelectronilabel.png")" />

                </div>
               
                    <span style="color:white;">username@gmail.com</span>
               
            </div>


            <div class="col-md-6">
                <img style="width:40%;margin-right:60%;" src="@Url.Content("~/images/newdesignpics/emaillogo.png")" />

            </div>
        </div>

        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">


            <div class="col-md-6">

                <div>
                    <img style="width:50%;margin-bottom: 15%;" src="@Url.Content("~/images/newdesignpics/etaselbina.png")" />

                </div>

                <div>
                    <img style="width:65%;" src="@Url.Content("~/images/newdesignpics/alhatefnumber.png")" />

                    <img style="width:27%;" src="@Url.Content("~/images/newdesignpics/alhatef.png")" />

                </div>
                <div>

                    <img style="width:65%;" src="@Url.Content("~/images/newdesignpics/alfaxnumber.png")" />
                    <img style="width:27%;" src="@Url.Content("~/images/newdesignpics/alfax.png")" />

                </div>
            </div>


            <div class="col-md-6">
                <img style="width:40%;margin-right:60%;" src="@Url.Content("~/images/newdesignpics/phonelogo.png")" />

            </div>


        </div>

        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
            <img style="width:25%;" src="@Url.Content("~/images/newdesignpics/akhbaralwizarat.png")" />
            <br />

            <img style="width:25%;" src="@Url.Content("~/images/newdesignpics/machari3alwizarat.png")" />
        </div>

    </div>

</div>

<script>
    $(".Logo6Footer").hover(function () {


        $(this).find("img").css("background-color", "#d2c1bc")

    });

    $(".Logo6Footer").mouseleave(function () {


        $(this).find("img").css("background-color", "")

    });

</script>