﻿@using Newtonsoft.Json
@using Microsoft.AspNet.Identity;
@using MoAD.WebApplication.DataObjects;
@{

    Layout = "~/Views/Shared/_LayoutInitialPage.cshtml";

    var formTemplate = ViewData["formTemplate"] as List<Question>;
    var formTemplateCount = formTemplate.Count;
    var OrganisationKey = ViewData["OrganisationKey"];
    var FormTemplateType = ViewData["FormTemplateType"];
    var formInstanceKey = ViewData["formInstanceKey"];
    
    List<SelectListItem> OpOrganisations = ViewData["OpOrganisations"] as List<SelectListItem>;
    var questionCounter = -1;
    var answerCounter = 0;
    var questionNumber = formTemplate.Count();
    var pageInnerItems = 0;

    //difining the page numbers
    var questionPerSlide = 2;
    var pagenumber = Math.Ceiling((double)questionNumber / questionPerSlide);
#pragma warning the dropdown need to be fixed;

}
<style>
    input,textarea,select{
        font-size:18px !important;
       
    }

    .UserInput{
    width:100% !important;
    }
    /*h2 {
        font-size: 1rem !important;
    }*/

    label {
        font-size: 1rem;
    }

    .userinput {
        width: 500px;
    }

    .pagination-lg .page-link {
    }

    .claimsections {
        padding-top: 20px;
    }

    .breadcrumb-custom li > a, .breadcrumb-custom li > span {
        padding: 9px 10px 9px 10px;
    }

    #_335 {
        color: red !important;
        font-size: 17px !important;
    }

    #_369 {
        color: red !important;
        font-size: 17px !important;
    }

    #_382 {
        color: red !important;
        font-size: 17px !important;
    }

    #_429 {
        color: red !important;
        font-size: 17px !important;
    }

    #_464 {
        color: red !important;
        font-size: 17px !important;
    }

    #_498 {
        color: red !important;
        font-size: 17px !important;
    }

    #_514 {
        color: red !important;
        font-size: 17px !important;
    }

    #_534 {
        color: red !important;
        font-size: 17px !important;
    }

    #_560 {
        color: red !important;
        font-size: 17px !important;
    }

    #_591 {
        color: red !important;
        font-size: 17px !important;
    }

    #_605 {
        color: red !important;
        font-size: 17px !important;
    }

    #_615 {
        color: red !important;
        font-size: 17px !important;
    }

    #_631 {
        color: red !important;
        font-size: 17px !important;
    }

    #_655 {
        color: red !important;
        font-size: 17px !important;
    }

    #_703 {
        color: red !important;
        font-size: 17px !important;
    }

    #_712 {
        color: red !important;
        font-size: 17px !important;
    }

    /*.modal-content {
        direction: rtl;
    }*/
     .modal-content{
        text-align:right;
    }

    .EmptyMessage {
        color: red;
        display: none;
    }
        h3{
        font-family:Calibri;
    }
</style>
<label id="FormTemplateKey" style="display:none"> </label>

<div class="single-page-block-inner">

    <div class="single-page-block-form" style="direction:rtl;width:100%;">
        <div class="claimsections" style="display:block;background-color:white;margin-right:1%;">
            <h3 class="text-right" id="title" style="text-align:center;text-decoration: underline;padding-bottom: 20px;font-size: 2rem;margin-top:1%;">
                <strong>  </strong>
            </h3>
            <div id="formContent" class="row" style="margin-right:3%;">
                @if (User.IsInRole("Human Development Sector") || User.IsInRole("Administrative sector") || User.IsInRole("Economic sector") || User.IsInRole("Service sector") || User.IsInRole("OPManagerGroup5") || User.IsInRole("OPManagerGroup6") || User.IsInRole("OPManagerGroup7"))
                {
                    <div>
                        <h3 class="text-right questionans" style="text-align:right;display:block">
                            الجهة المراد تقديم الاستبانة عنها:
                            <span class="small"></span>
                        </h3>

                    </div>
                    <div style="display:block;padding-bottom: 20px;margin-left:3%;" class="questionans">
                        @Html.DropDownList("Organisations", OpOrganisations, "الجهة العامة", new { @class = "form-group select2", @id = "OpOrgDropdown" })

                        <div class="EmptyMessage">
                            الرجاء تعبئة الفراغ
                        </div>
                    </div>
                }
               
                @{
                    foreach (Question question in formTemplate)
                    {
                        questionCounter++;
                        if ((questionCounter % questionPerSlide) == 0)
                        {
                            pageInnerItems++;
                        }

                        <div>
                            <h3 id="_@question.QuestionKey" class="text-right part-@pageInnerItems questionans Reapeat" style="text-align:right;display:block">
                                @question.QuestionValue
                                <span class="small"></span>
                            </h3>

                        </div>

                        List<Answer> answers = question.Answers;








                        switch (answers.First().FormElement)
                        {
                            case "Radiobox":
                                {
                                    <div style="display:block;padding-bottom: 20px" class="part-@pageInnerItems questionans Reapeat" data-toggle="buttons">
                                        @{

                                            foreach (Answer answer in answers)
                                            {
                                                if (answer.ColumnValue == "InputRadio")
                                                {
                                                    <input data-templatekey="@answer.AnswerTemplateKey" class="form-control UserInput InputRadio NumericInput" value="@answer.AnswerInstanceFileExtensionName" type="text" id="@answer.AnswerTemplateKey" style="" disabled>

                                                }
                                                else
                                                {
                                                    if (answer.AnswerKey != null)
                                                    {
                                                        <label class="btn btn-default-outline @question.QuestionKey active RadioboxClass" data-colorCode="@answer.AnswerFileExtensionHTML" data-chekNextQuestions="@answer.ColumnValue" data-Input="@answer.SqlParameters" style="font-size:18px;">
                                                            <input data-templatekey="@answer.AnswerTemplateKey" type="radio" name="radio_@question.QuestionKey">
                                                            @answer.AnswerValue
                                                        </label>
                                                    }
                                                    else
                                                    {
                                                        <label class="btn btn-default-outline @question.QuestionKey RadioboxClass" data-colorCode="@answer.AnswerFileExtensionHTML" data-chekNextQuestions="@answer.ColumnValue" data-Input="@answer.SqlParameters" style="font-size:18px">
                                                            <input data-templatekey="@answer.AnswerTemplateKey" type="radio" name="radio_@question.QuestionKey">
                                                            @answer.AnswerValue
                                                        </label>
                                                    }
                                                }



                                            }
                                        }
                                        <div class="EmptyMessage">
                                            الرجاء تعبئة الفراغ
                                        </div>
                                    </div>
                                                    break;
                                                }

                                            case "Checkbox":
                                                {
                                                    <div style="display:block;padding-bottom: 20px" class="part-@pageInnerItems questionans" data-toggle="buttons">
                                                        @{
                                                            foreach (Answer answer in answers)
                                                            {
                                                                if (answer.AnswerKey != null)
                                                                {
                                                                    <label class="btn btn-default-outline active" style="font-size:18px">
                                                                        <input data-templatekey="@answer.AnswerTemplateKey" type="checkbox" name="check_@question.QuestionKey" class="@question.QuestionKey">
                                                                        @answer.AnswerValue
                                                                    </label>
                                                                }
                                                                else
                                                                {
                                                                    <label class="btn btn-default-outline" style="font-size:18px">
                                                                        <input data-templatekey="@answer.AnswerTemplateKey" type="checkbox" name="check_@question.QuestionKey" class="@question.QuestionKey">
                                                                        @answer.AnswerValue
                                                                    </label>
                                                                }

                                                            }
                                                        }
                                                        <div class="EmptyMessage">
                                                            الرجاء تعبئة الفراغ
                                                        </div>
                                                    </div>
                                                                    break;
                                                                }

                                                            case "FreeText":
                                                                {
                                                                    <div style="display:block;padding-bottom: 20px" class="part-@pageInnerItems questionans">
                                                                        @{
                                                                            foreach (Answer answer in answers)
                                                                            {

                                                                                <li>
                                                                                    <span data-templatekey="@answer.AnswerTemplateKey" style="font-size:15px!important"> @answer.AnswerValue</span>
                                                                                </li>

                                                                            }
                                                                        }

                                                                    </div>
                                                                                    break;
                                                                                }



                                                                            case "DropDown":
                                                                                {
                                                                                    <div style="display:block;padding-bottom: 20px;margin-left:3%;" class="part-@pageInnerItems questionans">
                                                                                        <select class="form-group part-@pageInnerItems select2 @question.QuestionKey" dir="rtl" style="width:500px;" id="@answers.FirstOrDefault().AnswerFileExtensionKey">
                                                                                            @{
<option></option>
    foreach (Answer answer in answers)
    {
        <option style="font-size:2rem;" data-extendedKey="@answer.AnswerFileExtensionName" value="@answer.AnswerTemplateKey" data-sqlQuery="@answer.SqlQueries" data-sqlParam="@answer.SqlParameters">@answer.AnswerValue</option>
    }
                                                                                            }
                                                                                        </select>
                                                                                        <div class="EmptyMessage">
                                                                                            الرجاء تعبئة الفراغ
                                                                                        </div>
                                                                                    </div>
                                                                                                        break;
                                                                                                    }
                                                                                                case "UserInput":
                                                                                                    {
                                                                                                        <div style="display:block;padding-bottom: 20px;margin-left: 3%;" class="part-@pageInnerItems questionans Reapeat">
                                                                                                            @{
                                                                                                                foreach (Answer answer in answers)
                                                                                                                {
                                                                                                                    HtmlString Numeric = answer.AnswerFileExtensionType == "Numeric" ? new HtmlString("NumericInput") : new HtmlString("");

                                                                                                                    <input data-templatekey="@answer.AnswerTemplateKey" class="form-control UserInput @Numeric @question.QuestionKey" value="@answer.AnswerInstanceFileExtensionName" type="text">
                                                                                                                    
                                                                                                                }
                                                                                                            }
                                                                                                            <div class="EmptyMessage">
                                                                                                                الرجاء تعبئة الفراغ
                                                                                                            </div>
                                                                                                        </div>
                                                                                                                        break;
                                                                                                                    }

                                                                                                                case "FileUpload":
                                                                                                                    {
                                                                                                                        <div style="display:block;padding-bottom: 20px;width:50%;" class="part-@pageInnerItems questionans">
                                                                                                                            @{
                                                                                                                                foreach (Answer answer in answers)
                                                                                                                                {
                                                                                                                                    if (answer.AnswerInstanceFileExtensionName != null)
                                                                                                                                    {
                                                                                                                                        if (answer.AnswerInstanceFileExtensionName != null && answer.AnswerInstanceFileExtensionName.Contains("image"))
                                                                                                                                        {
                                                                                                                                            <a download="image.jpg" href="@answer.AnswerInstanceFileExtensionFilePathOrSource" title="ImageName">
                                                                                                                                                <img id="" name="" src="@answer.AnswerInstanceFileExtensionFilePathOrSource" style="height:150px;width:150px;" />
                                                                                                                                            </a>
                                                                                                                                        }
                                                                                                                                        else
                                                                                                                                        {
                                                                                                                                            <a href="@answer.AnswerInstanceFileExtensionFilePathOrSource">
                                                                                                                                                <img src="@Url.Content("~/Images/file.png")" style="height:150px;width:150px;" />
                                                                                                                                            </a>

                                                                                                                                        }
                                                                                                                                    }
                                                                                                                                    <input data-templatekey="@answer.AnswerTemplateKey" type="file" class="dropify @question.QuestionKey" data-max-file-size="35M" data-height="100" multiple data-allowed-file-extensions="jpg png doc docx pdf txt rar zip ico xls xlsx pptx odt"/>

                                                                                                                                    if (answer.ColumnValue == "AddPlus")
                                                                                                                                    {
                                                                                                                                        <button class="btn blue btnAddChild @question.QuestionKey" style="margin-top:1%;margin-bottom:1%;display:none"  data-chekNextAnswers="@answer.SqlParameters" data-divClass="@question.QuestionKey">
                                                                                                                                            <i class="fa fa-plus-square" aria-hidden="true"></i>
                                                                                                                                        </button>

                                                                                                                                       <div id="@question.QuestionKey"></div>
                                                                                                                                    }


                                                                                                                                }

                                                                                                                            }
                                                                                                                            <div class="EmptyMessage">
                                                                                                                                الرجاء تعبئة الفراغ
                                                                                                                            </div>
                                                                                                                        </div>
                                                                                                                                        break;
                                                                                                                                    }



                                                                                                                                case "Calendar":
                                                                                                                                    {
                                                                                                                                        <div style="display:block;padding-bottom: 20px;margin-left:3%;" class="part-@pageInnerItems questionans">
                                                                                                                                            @{
                                                                                                                                                foreach (Answer answer in answers)
                                                                                                                                                {

                                                                                                                                                    <div class="input-group date datetimepicker" id="datetimepicker" style="direction:ltr">
                                                                                                                                                        <input data-templatekey="@answer.AnswerTemplateKey" value="@answer.AnswerInstanceFileExtensionName" style="z-index:0"  class="form-control @question.QuestionKey" @question.QuestionKey>
                                                                                                                                                        <span class="input-group-addon">
                                                                                                                                                            <i class="fa fa-calendar" aria-hidden="true"></i>
                                                                                                                                                        </span>
                                                                                                                                                    </div>


                                                                                                                                                }

                                                                                                                                            }
                                                                                                                                            <div class="EmptyMessage">
                                                                                                                                                الرجاء تعبئة الفراغ
                                                                                                                                            </div>
                                                                                                                                        </div>
                                                                                                                                                        break;
                                                                                                                                                    }

                                                                                                                                                case "TextArea":
                                                                                                                                                    {
                                                                                                                                                        <div style="display:block;padding-bottom: 20px;margin-left:3%;" class="part-@pageInnerItems questionans">
                                                                                                                                                            @{
                                                                                                                                                                foreach (Answer answer in answers)
                                                                                                                                                                {
                                                                                                                                                                    @*<textarea data-templatekey="@answer.AnswerTemplateKey" class="form-control" rows="3"></textarea>*@

                                                                                                                                                            HtmlString Numeric = answer.AnswerFileExtensionType == "Numeric" ? new HtmlString("NumericInput") : new HtmlString("");
                                                                                                                                                            <textarea data-templatekey="@answer.AnswerTemplateKey" class="form-control @Numeric @question.QuestionKey" rows="3">@answer.AnswerInstanceFileExtensionName</textarea>
                                                                                                                                                                }

                                                                                                                                                            }
                                                                                                                                                            <div class="EmptyMessage">
                                                                                                                                                                الرجاء تعبئة الفراغ
                                                                                                                                                            </div>
                                                                                                                                                        </div>
                                                                                                                                                                        break;
                                                                                                                                                                    }
                                                                                                                                                          


                                                                                                                                                                                default:
                                                                                                                                                                                    {
                                                                                                                                                                        <span> </span>
                                                                                                                                                                                break;
                                                                                                                                                                            }

                                                                                                                                                                    }


                                                                                                                                                                }
                }

            </div>
            <div class="row" style="text-align:center">
                <button type="button" id="submitClaimForm" class="btn btn-icon btn-primary  margin-inline" style="width:20%;border-radius:.25rem !important">
                    <i class="fa fa-upload" aria-hidden="true"></i>

                    @if (formInstanceKey != "null")
                            {
                                <text>
                    [تعديل]
                    </text>
                    }
                    else
                    {

                        <text>
                    [تقديم]
                        </text>
        
    }
                   
                </button>
            </div>

        </div>






    </div>

    <br />



</div>


        <script>

            var SqlQuery =  $("#13016").find("option").attr("data-sqlquery");
            var SqlParam =  $("#13016").find("option").attr("data-sqlparam");
            var OrkAnswerTempplateKey = $("#13016").find("option").next().val();
            console.log("OrkAnswerTempplateKeyOrkAnswerTempplateKeyOrkAnswerTempplateKey");
            console.log(OrkAnswerTempplateKey);
            GetData(SqlQuery,SqlParam);

            function GetData(SqlQuery,SqlParam){

                console.log(SqlQuery);


                //var test = MoAD.WebApplication.Globals.Configuration.DATA_INTERFACE_URL;

                var BASICPath = '@MoAD.WebApplication.Globals.Configuration.WEB_APPLICATION_URL';



                if(BASICPath=="online")
                    BASICPath="https://"+'@Request.Url.Host';

                var path =BASICPath + "/Takarir/"+SqlQuery;

                $.ajax({
                    url: '@Url.Action("GetAllOrganisations", "Takarir")',
                    type: 'GET',
                    dataType: 'json',
                    cache: false,
                    success: function (data) {

                        var html='';
                        $.each(data, function (index, value) {
                            html="<option value="+value.OrganisationKey+">"+value.OrganisationName+"</option>";
                            $("#13016").append(html);
                        });
                        $("#13016").select2();



                    }
                });
            }

            if('@ViewBag.employeeRecord'!=null && '@FormTemplateType'=="خارطة الموارد البشرية"){
                $.ajax({
                    url: '@Url.Action("GetEmployeeById", "ERMEmployees")',
                    type: 'GET',
                    dataType: "json",
                    data: {
                        employeeRecord: '@ViewBag.employeeRecord'
                    },
                    success: function (data) {
                        console.log(data);
                        var fullName= data.FirstName + " " + data.FatherName + " " + data.SurName;
                        var fullBirthDate= data.BirthDay + "-" + data.BirthMonth + "-" + data.BirthYear;

                        $("#_983").parent().next().find("input").val(fullName);
                        $("#_985").parent().next().find("input").val(fullBirthDate);
                        $("#_984").parent().next().find("select").val(data.BirthPlace);
                    }
                });
            }

            var FirstTimeAnswerClick = 0;
            var FormKey="";
            var AnswerTemplateKey = [];

            var pageid = 1;

            var PageN = 1;

            var testah=0;

            function nextpage(pagenumber, pagination,Page) {
                $(".menulist").css("font-weight", "normal");
                $(".claimsections").css('display','none')
                $("#section3").css("display", "block");
                $(".questionans").css("display", "none");
                $(".cubes").css("display", "none");
                $("." + pagenumber).css("display", "block");
                $(pagination).css("font-weight", "bold");
                $("#gonext").css('display', 'block')

                pageid = Number(Page);
                PageN = Number(Page);
            }

            function PreviousPage(pagenumber, pagination,Page) {
                $(".menulist").css("font-weight", "normal");
                $(".claimsections").css('display','none')
                $("#section3").css("display", "block");
                $(".questionans").css("display", "none");
                $(".cubes").css("display", "none");
                $("." + pagenumber).css("display", "block");
                $(pagination).css("font-weight", "bold");
                $("#gonext").css('display', 'block')

                pageid = Number(Page-1);
                PageN = Number(Page-1);
            }

            $(document).ready(function () {

                $(function() {
                    $('#formContent').on('keydown', '.NumericInput', function(e){-1!==$.inArray(e.keyCode,[46,8,9,27,13,110,190])||(/65|67|86|88/.test(e.keyCode)&&(e.ctrlKey===true||e.metaKey===true))&&(!0===e.ctrlKey||!0===e.metaKey)||35<=e.keyCode&&40>=e.keyCode||(e.shiftKey||48>e.keyCode||57<e.keyCode)&&(96>e.keyCode||105<e.keyCode)&&e.preventDefault()});
                })

                $("#testRepeat").click(function(){
                    //alert($(".Reapeat").length);

                    var classCount=$(".Reapeat").length;

                    for(i=0;i<classCount;i++){
                        $("#divates").append($(".Reapeat").eq(i).html());
                    }

                });

                $("label").click(function(){

                    //$(this).parent().find("label").removeClass("active");
                    //$(this).parent().find("label").css("background-color","");

                    var disabled="";

                    //$(this).css("background-color","white");
                    var color=$(this).attr("data-colorCode");
                    var chekNextQuestions=$(this).attr("data-chekNextQuestions");
                    var InputEnable=$(this).attr("data-Input");
                    var Answers=$(this).attr("data-chekNextAnswers");
                    var QuestionKey=$(this).children().attr("name").replace("radio_","");

                    ////disable and enable dropify
                    if($(this)[0].innerText == "نعم")
                    {
                        $(this).parent().next().next().find(".dropify").removeAttr("disabled");
                        $(this).parent().next().next().find(".dropify-wrapper").removeClass("disabled");
                        disabled=false;

                    }
                    if($(this)[0].innerText == "لا")
                    {
                        $(this).parent().next().next().find(".dropify").prop("disabled", true );
                        $(this).parent().next().next().find(".dropify-wrapper").addClass("disabled");
                        disabled=true;
                    }


                    if(color != null){
                        $(this).css("background-color",color);
                    }

                    if(chekNextQuestions != null && chekNextQuestions!=""){
                        console.log("chekNextQuestions=="+chekNextQuestions);
                        var chekNextQuestionsJson=JSON.parse(chekNextQuestions);

                        $.each(chekNextQuestionsJson, function (index, value) {

                            $("."+value).attr("disabled", disabled);

                            if(disabled==true)
                                $("."+value).hide();
                            else
                                $("."+value).show();

                            //
                            //var test=$("."+value).parent().parent();
                            //$("."+value).parent().parent().next().next().find(".dropify").prop("disabled", disabled );
                            //$("."+value).parent().parent().next().next().find(".dropify-wrapper").addClass("disabled");

                        });
                    }


                    if(InputEnable != null && InputEnable!=""){

                        var isDisabled = $("#"+InputEnable).prop('disabled');
                        $(".InputRadio").prop('disabled', true);
                        if(isDisabled)
                            $("#"+InputEnable).prop('disabled', false);
                        else
                            $("#"+InputEnable).prop('disabled', true);


                    }





                });

                $(".btnAddChild").click(function(){
                    var IdDiv=$(this).attr("data-divClass");
                    var Answers=$(this).attr("data-chekNextAnswers");

                    var AnswersJson=JSON.parse(Answers);

                    var i=0;
                    var html='';
                    $.each(AnswersJson, function (index, value) {
                        html+=' <div class="row" style="margin-right:3%;">';
                        if(i==0){
                            html+='<div><h3  class="text-right questionans Reapeat" style="text-align:right;display:block">أدخل إسم البطاقة:<span class="small"></span></h3></div>';
                            html+='<div style="display:block;padding-bottom: 20px;margin-left: 3%;"><input data-templatekey="'+value+'" class="form-control UserInput" type="text"></div>';
                        }else{
                            html+='<div><h3  class="text-right questionans Reapeat" style="text-align:right;display:block">حمل بطاقة الوصف الوظيفي.<span class="small"></span></h3></div>';
                            html+='<div style="display:block;padding-bottom: 20px;width:50%;" class="questionans"><input data-templatekey="'+value+'" type="file" class="dropify" data-max-file-size="35M" data-height="100" multiple data-allowed-file-extensions="jpg png doc docx pdf txt rar zip ico xls xlsx pptx odt"/></div>';
                        }


                        i++;
                    });



                    $("#"+IdDiv).append(html+"</div>");
                    $(".dropify").dropify();
                });


                //$('.dropify').dropify();
                //$(".page-link-1").css("background-color", "#93b5ec");
                $(".select2").select2();
                $(".userinput").css("width","400px");
                $(".userinput").css("border-radius","29px");
                $(".userinput").css("height","40px");
                $(".fileupload").css("width","313%");
                $(".fileupload").css("height","100px");
                $(".fileupload").css("margin-left","-312px");
                $(".fileupload").css("margin-top","10px");

                $("input[type='radio']").addClass("mt-radio");
                $(".page-link-1").click();


                $(function () {
                    //$('#datetimepicker').datetimepicker();
                    //$("#datetimepicker").datetimepicker({ maxDate: new Date });
                    var date = new Date();
                    var currentMonth = date.getMonth();
                    var currentDate = date.getDate();
                    var currentYear = date.getFullYear();
                    $('.datetimepicker').datetimepicker({
                        format: "DD-MM-YYYY",
                        widgetPositioning: {
                            horizontal: 'left',


                        },
                        icons: {
                            time: "fa fa-clock-o",
                            date: "fa fa-calendar",
                            up: "fa fa-arrow-up",
                            down: "fa fa-arrow-down",
                            previous: 'fa fa-chevron-left',
                            next: 'fa fa-chevron-right',
                        },
                        // maxDate: new Date(currentYear, currentMonth, currentDate)

                    });
                });
            });

            function ProductImage(file) {
                var selectedFile = event.target.files[0];
                var reader = new FileReader();
                var imgtag = $(file).parent().parent().find('.fileupload')[0];
                reader.onload = function () {
                    imgtag.src = event.target.result;
                };
                reader.readAsDataURL(selectedFile);
            }


            $(document).on('click', "[id^='answerClick']", function () {

                FirstTimeAnswerClick++;
                if (FirstTimeAnswerClick == 1) {
                }

            });

            $(document).on('click', "[id='submitClaimForm']", function () {


                var organisationKey="";
                var names = {};
                $('input:radio').each(function() { // find unique names
                    names[$(this).attr('name')] = true;
                });
                var count = 0;
                $.each(names, function() { // then count them
                    count++;
                });


                var iputRequired=0;

                $('.UserInput').each(function( index, element ) {
                    if ($(this).val() == '') {
                        iputRequired =1;
                    }

                });

                var answsers = "";
                $('.active ').each(function( index, element ) {
                    if($(this).find("input").attr("data-templatekey")!=undefined){
                        answsers = { key: $(this).find("input").attr("data-templatekey"), Textvalue:"", type:"RadioCheckBox", Parent:"",Child:"",count:""  }
                        AnswerTemplateKey.push(answsers);
                    }
                });


                $('input').each(function( index, element ) {
                    //if (this.checked && $(this).val() != '') {
                    //    console.log("ckeceled kjskhajk");
                    //    if($(this).attr("data-templatekey")!=undefined){
                    //        answsers = { key: $(this).attr("data-templatekey"), Textvalue:"", type:"RadioCheckBox", Parent:"",Child:"",count:""  }
                    //        AnswerTemplateKey.push(answsers);
                    //    }

                    //}

                    if ($(this).is('input:file')) {
                        if($(this)[0].files[0] != undefined){

                            var files=$(this)[0].files;
                            for(i=0 ;i < files.length ;i++ )
                            {
                                console.log(i);
                                console.log(files[i]);
                                var FilteType=files[i].type;
                                var answerKey= $(this).attr("data-templatekey");
                                var file =files[i];
                                var reader = new FileReader();
                                reader.readAsDataURL(files[i]);
                                reader.onload = function () {
                                    setTimeout(function() {
                                        answsers = { key: answerKey, Textvalue:"", type:FilteType,Image : reader.result, Parent:"",Child:"",count:""  }
                                        AnswerTemplateKey.push(answsers);
                                    }, 1000);
                                };
                            }
                        }
                    }

                    if ($(this).is('input:text') && $(this).val() != '') {

                        answsers = { key: $(this).attr("data-templatekey"), Textvalue:$(this).val(), type:"Freetext", Parent:"",Child:"",count:""  }
                        AnswerTemplateKey.push(answsers);
                    }
                });

                $('textarea').each(function () {
                    if ($(this).val() != '') {
                        answsers = { key: $(this).attr("data-templatekey"), Textvalue:$(this).val(), type:"TextArea", Parent:"",Child:"",count:"" }
                        organisationKey=$(this).attr("data-extendedKey");
                        AnswerTemplateKey.push(answsers);
                    }
                });

                $('option:selected').each(function () {
                    if($(this).parent().attr('id')=="13016"){
                        answsers = { key: OrkAnswerTempplateKey, Textvalue:$("#13016 option:selected").val(), type:"Freetext", Parent:"",Child:"",count:"" }
                        AnswerTemplateKey.push(answsers);
                    }else{
                        answsers = { key: $(this).val(), Textvalue:"", type:"Dropdown", Parent:"",Child:"",count:"" }
                        organisationKey=$(this).attr("data-extendedKey");
                        AnswerTemplateKey.push(answsers);
                    }
                });
                if(organisationKey==""){
                    organisationKey=@OrganisationKey;
                }

                @if (User.IsInRole("Human Development Sector") || User.IsInRole("Administrative sector") || User.IsInRole("Economic sector") || User.IsInRole("Service sector") || User.IsInRole("OPManagerGroup5") || User.IsInRole("OPManagerGroup6") || User.IsInRole("OPManagerGroup7"))
                    {
                      <text>

                organisationKey=$("#OpOrgDropdown").val();

                </text>
                        }

                if(organisationKey==""){
                    return;
                }


                console.log(AnswerTemplateKey);

                var FormTemplateKey = $('#FormTemplateKey').text();
                waitingDialog.show(' !!!  جاري التحميل');
                console.log("AnswerTemplateKey==="+AnswerTemplateKey);
                if('@formInstanceKey'!="null"){
                    console.log("formInstanceKey");
                    console.log('@formInstanceKey');

                    setTimeout(function() {

                        $.ajax({
                            url: '@Url.Action("DeleteAnswers", "ClaimForms")',
                            type: 'GET',
                            dataType: 'json',
                            cache: false,
                            data: {
                                idForm: '@formInstanceKey'
                            },
                            success: function (data) {
                                console.log(AnswerTemplateKey);
                                FormKey = data;
                                $.ajax({
                                    url: '@Url.Action("AnswersByUser", "ClaimForms")',
                                    type: 'POST',
                                    dataType: 'json',
                                    cache: false,
                                    data: {
                                        formKey: '@formInstanceKey', answerTemplateKey: JSON.stringify(AnswerTemplateKey)
                                    },
                                    success: function (data) {
                                        $.ajax({
                                            url: '@Url.Action("SaveClaimForm", "ClaimForms")',
                                            type: 'GET',
                                            dataType: 'json',
                                            cache: false,
                                            data: {
                                                formKey: '@formInstanceKey'
                                            },
                                            success: function (data) {


                                                var Title = $("#title").text();
                                                var test = "تعبئة إستمارة";
                                                var message= test + " " + Title;
                                                SetLog(Title.split(":",1), Title.split(":",1), message);
                                                var type= '@FormTemplateType';

                                                @if (User.IsInRole("HR"))
                                                {
                                                     <text>
                                                window.location = '@Url.Action("AdManagersClaims", "Home")/' + "?ClaimType=" + type + "&empID=" + '@TempData["empID"]';

                                                </text>
                                                }else
                                                {
                                                    <text>
                                                window.location = '@Url.Action("AdManagersClaims", "Home")/' + "?ClaimType=" + type;
                                                </text>
                                                }


                                            }
                                        });
                                    }
                                });
                            }
                        });

                    }, 2000);
                }else{
                    setTimeout(function() {

                        $.ajax({
                            url: '@Url.Action("SubmitFormForUser", "ClaimForms")',
                            type: 'GET',
                            dataType: 'json',
                            cache: false,
                            data: {
                                trackingStatusKey: "1", formTemplateKey: FormTemplateKey, userKey: "@User.Identity.GetUserId()", organisationKey: organisationKey,FileExtensionName:"FileExtensionName",createdby:'@ViewBag.employeeRecord'
                            },
                            success: function (data) {
                                console.log(AnswerTemplateKey);
                                FormKey = data;
                                $.ajax({
                                    url: '@Url.Action("AnswersByUser", "ClaimForms")',
                                    type: 'POST',
                                    dataType: 'json',
                                    cache: false,
                                    data: {
                                        formKey: FormKey, answerTemplateKey: JSON.stringify(AnswerTemplateKey)
                                    },
                                    success: function (data) {
                                        @if (User.IsInRole("Human Development Sector") || User.IsInRole("Administrative sector") || User.IsInRole("Economic sector") || User.IsInRole("Service sector") || User.IsInRole("OPManagerGroup5") || User.IsInRole("OPManagerGroup6") || User.IsInRole("OPManagerGroup7"))
                                        {
                                            <text>
                                        $.ajax({
                                            url: '@Url.Action("SaveOPForm", "ClaimForms")',
                                            type: 'GET',
                                            dataType: 'json',
                                            cache: false,
                                            data: {
                                                OpOrgKey: FormKey
                                            },
                                            success: function (data) {


                                                var Title = $("#title").text();
                                                var test = "تعبئة إستمارة";
                                                var message= test + " " + Title;
                                                SetLog(Title.split(":",1), Title.split(":",1), message);
                                                var type= '@FormTemplateType';

                                                window.location = '@Url.Action("AdManagersClaims", "Home")/' + "?ClaimType=" + type;


                                            }
                                        });
                                        </text>
                                        }else
                                        {
                                            <text>
                                        $.ajax({
                                            url: '@Url.Action("SaveClaimForm", "ClaimForms")',
                                            type: 'GET',
                                            dataType: 'json',
                                            cache: false,
                                            data: {
                                                formKey: FormKey
                                            },
                                            success: function (data) {


                                                var Title = $("#title").text();
                                                var test = "تعبئة إستمارة";
                                                var message= test + " " + Title;
                                                SetLog(Title.split(":",1), Title.split(":",1), message);
                                                var type= '@FormTemplateType';

                                                @if (ViewBag.employeeRecord != null)
                                                {
                                                    <text>
                                                window.location = '@Url.Action("AdManagersClaims", "Home")/' + "?ClaimType=" + type + "&empID=" + '@ViewBag.employeeRecord';
                                                </text>
                                                }else
                                                {
                                                        <text>
                                                window.location = '@Url.Action("AdManagersClaims", "Home")/' + "?ClaimType=" + type;
                                                </text>
                                                }

                                            }
                                        });
                                        </text>
                                        }

                                    }
                                });
                            }
                        });

                    }, 2000);
                }

            });



            @*$("#previouspage").click(function () {
        pageid--;
        if (pageid >0) {
            $(".question").css("display", "none");
            $(".cubes").css("display", "none");
            $(".part-" + pageid).css("display", "block");
            $(".page-link").css("background-color", "white");
            $(".page-link-" + pageid).css("background-color", "#93b5ec");
        }

    });*@

            @*$("#nextpage").click(function () {
        pageid++;
        var pagenumber = @pagenumber;
        if (pageid <= pagenumber){
            $(".question").css("display", "none");
            $(".cubes").css("display", "none");
            $(".part-" + pageid).css("display", "block");
            $(".page-link").css("background-color", "white");
            $(".page-link-" + pageid).css("background-color", "#93b5ec");
        }
    });*@


            $("#gonext").click(function () {
                $(".EmptyMessage").css("display","none").focus();
                var pagenumber = @pagenumber;
                var EmptyFields=0;
                var TrueRadio=0;

                $('.questionans:visible input').each(function( index, element ) {

                    var textValue=$(this).val();
                    if(textValue==""){

                        $(this).parent().find(".EmptyMessage").css("display","block").focus();
                        EmptyFields++;

                    }

                });


                $('.questionans:visible input:radio').each(function( index, element ) {

                    var valueRadio=$(this).parent().find(".btn btn-default-outline active").context.checked;
                    if(valueRadio==true){

                        TrueRadio++;
                    }else{
                        $(this).parent().parent().find(".EmptyMessage").css("display","block").focus();
                        //$(".EmptyMessage").css("display","block").focus();
                    }

                });


                var names = {};
                $('input:radio:visible').each(function() { // find unique names
                    names[$(this).attr('name')] = true;
                });
                var count = 0;
                $.each(names, function() { // then count them
                    count++;
                });


                if(EmptyFields==0 && TrueRadio == count){
                    if (PageN < pagenumber){
                        $(".menulist").css("font-weight", "normal");

                        PageN++;
                        console.log(PageN);
                        $(".questionans").css("display", "none");
                        $(".part-" + PageN).css("display", "block");

                        $(".page-link-"+ PageN).css("font-weight", "bold");
                        $("#gonext").css('display', 'block')
                    }

                    else{

                        $(".tasjil").click();


                    }
                }

            });

            //function radioevent(){
            //    alert("koko");

            //}

            //$('input[type="radio"]').on('click', function(e) {
            //    alert("koko");
            //});

        </script>
