﻿@using Newtonsoft.Json
@using Microsoft.AspNet.Identity;
@using MoAD.WebApplication.DataObjects;
@{
    var formTemplate = ViewData["formTemplate"] as List<Question>;
    var formTemplateCount = formTemplate.Count;
    var OrganisationKey = ViewData["OrganisationKey"];
    var questionCounter = -1;
    var answerCounter = 0;
    var questionNumber = formTemplate.Count();
    var pageInnerItems = 0;
    var FormTemplateKey = ViewData["FormTemplateKey"];
    //difining the page numbers
    var questionPerSlide = 2;
    var pagenumber = Math.Ceiling((double)questionNumber / questionPerSlide);
#pragma warning the dropdown need to be fixed;

}


<link href="@Url.Content("~/Content/Css/select2.min.css")" rel="stylesheet" />

<style>
    #HeaderLogo{
        display:inline !important;
    }

    .btn.btn-primary {
        background-color: #447F99;
        border-color: #447F99;
        border-radius: 15px;
        font-size:1.3rem;
    }

    .btn.btn-danger {
        border-radius: 15px;
        font-size: 1.3rem;
    }

    .backgroundChange1 {
    }

    input, textarea, select {
        font-size: 18px !important;
    }

    .select2-container {
        font-size: 18px;
    }


    h2 {
        font-size: 1rem !important;
    }

    label {
        font-size: 1rem;
    }

    .userinput {
        width: 500px;
    }

    .pagination-lg .page-link {
    }

    .claimsections {
        padding-top: 20px;
    }

    /*  .breadcrumb-custom li > a, .breadcrumb-custom li > span {
            padding: 9px 10px 9px 10px;
        }*/

    #_335 {
        color: red !important;
        font-size: 17px !important;
    }

    #_369 {
        color: red !important;
        font-size: 17px !important;
    }

    #_382 {
        color: red !important;
        font-size: 17px !important;
    }

    #_429 {
        color: red !important;
        font-size: 17px !important;
    }

    #_464 {
        color: red !important;
        font-size: 17px !important;
    }

    #_498 {
        color: red !important;
        font-size: 17px !important;
    }

    #_514 {
        color: red !important;
        font-size: 17px !important;
    }

    #_534 {
        color: red !important;
        font-size: 17px !important;
    }

    #_560 {
        color: red !important;
        font-size: 17px !important;
    }

    #_591 {
        color: red !important;
        font-size: 17px !important;
    }

    #_605 {
        color: red !important;
        font-size: 17px !important;
    }

    #_615 {
        color: red !important;
        font-size: 17px !important;
    }

    #_631 {
        color: red !important;
        font-size: 17px !important;
    }

    #_655 {
        color: red !important;
        font-size: 17px !important;
    }

    #_703 {
        color: red !important;
        font-size: 17px !important;
    }

    #_712 {
        color: red !important;
        font-size: 17px !important;
    }

    .modal-content {
        direction: rtl;
    }

    .EmptyMessage {
        color: red;
        display: none;
    }

    h3 {
        font-family: Calibri;
    }

    span {
        color: #447f99 !important;
    }

    @@media only screen and (max-width: 992px) {
        #manbar_Logo_Form {
            display: none;
        }
    }

    .menulist {
        font-size: 1.3rem;
    }

    .single-page-login-beta .single-page-block .single-page-block-inner {
        height: auto !important;
    }

        .single-page-login-beta .single-page-block .single-page-block-inner .single-page-block-form .form-actions{
            border-top:none !important;
        }

    .questionans{
        margin-top:20px;
        line-height:1.5;
    }
</style>
<label id="FormTemplateKey" style="display:none"> </label>
<div class="row" style="border-bottom: 5px solid orange;margin-bottom:10px;">
    <div class="col-lg-12">
        <h3 class="text-right" id="title" style="text-align: center; font-size: 2rem; color: #447f99 !important;margin:25px;">
            <strong>  </strong>
        </h3>
        <img src="@Url.Content("~/Images/logos/MNBAR-logo.png")" style="position:absolute;top:0;width:10%;" id="manbar_Logo_Form" />
    </div>
</div>

<ul class="list-unstyled breadcrumb breadcrumb-custom" style="padding-bottom:0px;text-align:right;">
    <li>
        <a style="cursor: pointer;color:white !important;" class="menulist tasjil" @*onclick="changesection('section4',this)"*@><font>تسجيل</font></a>
    </li>
    @{
        for (var i = pagenumber; i > 0; i--)
        {

            if (i == 1)
            {
                <li style="background-color: #ffa500 !important; ">
                    <a style="cursor: pointer; color: white !important; " class="page-link-@i menulist" onclick="nextpage('part-@i',this,'@i')"><font>الأهداف</font> </a>
                </li>
            }
            else
            {
                if (i == 2)
                {
                    if (FormTemplateKey.ToString() == "106")
                    {
                        <li>
                            <a style="cursor: pointer; color: white !important;" class="page-link-@i menulist" onclick="nextpage('part-@i',this,'@i')"><font>الشروط</font> </a>
                        </li>
                    }

                }
                else
                {
                    var j = i - 2;
                    <li style="background: white !important; border: 1px solid #447F99;">
                        <a style="cursor: pointer; color: white !important;" class="page-link-@i menulist pagination_numbers" @*onclick="nextpage('part-@i',this,'@i')"*@><font class="demo" style="font-weight: bold; color: #447f99;">@j</font></a>
                    </li>
                }

            }
        }
    }
</ul>





<div class="claimsections" id="section2" style="display:none;">
    <h3 class="text-right" style="text-align:right;">
        <span class="small" style="color:red;"><strong>يتم تسجيل الشكوى من قبل صاحب الرقم الوطني المتضرر مباشرة من الحالة.</strong></span>
    </h3>
    <br />
    <h3 class="text-right" style="text-align:right;">
        شروط تسجيل الشكوى
    </h3>
    <div>
        <ul>
            <li>ألا تكون الشكوى بدوافع ذاتية أو كيدية أو انتقامية.</li>
            <li>ألا تكون الشكوى معاينة عامة أو إشكالية لمسألة عامة أو رأي عام.</li>
            <li>أن تكون الحالة تتعلق بشكوى أو خلل إداري أو فساد لإجراء عايشه مباشرة الشخص المعني (صاحب الرقم الوطني) خلال طلبه لخدمة معينة من الجهة في يوم وتاريخ وساعة محددة من قبله.</li>
        </ul>
    </div>
</div>
<div class="claimsections" id="section3" style="display:none">
    <div id="formContent" class="row" style="position:relative;top:32px">
        @{
            foreach (Question question in formTemplate)
            {
                questionCounter++;
                if ((questionCounter % questionPerSlide) == 0)
                {
                    pageInnerItems++;
                }

                <div>
                    <h3 id="_@question.QuestionKey" class="text-right part-@pageInnerItems questionans" style="text-align: right; display: none; color: #447f99 !important; ">
                        @question.QuestionValue
                        <span class="small"></span>
                    </h3>
                </div>

                List<Answer> answers = question.Answers;


                switch (answers.First().FormElement)
                {
                    case "Radiobox":
                        {
                            <div style="display:none;padding-bottom: 20px" class="part-@pageInnerItems questionans" data-toggle="buttons">
                                @{

                                    foreach (Answer answer in answers)
                                    {

                                        <label class="btn btn-default-outline" data-colorCode="@answer.AnswerFileExtensionHTML" style="font-size: 15px; margin: 2%;">
                                            <input data-templatekey="@answer.AnswerTemplateKey" type="radio" name="radio_@question.QuestionKey" data-dependency="@answer.AnswerTemplateDependency">
                                            @answer.AnswerValue
                                        </label>

                                    }
                                }
                                <div class="EmptyMessage">
                                    الرجاء تعبئة الفراغ
                                </div>
                            </div>
                            break;
                        }

                    case "Checkbox":
                        {
                            <div style="display:none;padding-bottom: 20px" class="part-@pageInnerItems questionans" data-toggle="buttons">
                                @{
                                    foreach (Answer answer in answers)
                                    {
                                        <label class="btn btn-default-outline" style="font-size: 15px;margin: 2%;">
                                            <input data-templatekey="@answer.AnswerTemplateKey" type="checkbox" name="check_@question.QuestionKey">
                                            @answer.AnswerValue
                                        </label>
                                    }
                                }
                                <div class="EmptyMessage">
                                    الرجاء تعبئة الفراغ
                                </div>
                            </div>
                            break;
                        }

                    case "FreeText":
                        {
                            <div style="display:none;" class="part-@pageInnerItems questionans">
                                @{
                                    foreach (Answer answer in answers)
                                    {

                                        <li>
                                            <span data-templatekey="@answer.AnswerTemplateKey" style="font-size: 15px !important; line-height: 2.2"> @answer.AnswerValue</span>
                                        </li>

                                    }
                                }

                            </div>
                            break;
                        }

                    case "Header":
                        {
                            <div style="display:none;" class="part-@pageInnerItems questionans">
                                @{
                                    foreach (Answer answer in answers)
                                    {

                                        <li>
                                            <span data-templatekey="@answer.AnswerTemplateKey" style="font-size: 15px !important; line-height: 2.2;"> @answer.AnswerValue</span>
                                        </li>

                                    }
                                }

                            </div>
                            break;
                        }

                    case "DropDown":
                        {
                            <div style="display:none;padding-bottom: 20px" class="part-@pageInnerItems questionans">
                                <select class="form-group part-@pageInnerItems select2" dir="rtl" style="width:500px;" data-answerTemplate="@answers.FirstOrDefault().AnswerTemplateKey" id="@answers.FirstOrDefault().AnswerFileExtensionKey">
                                    @{
                                        foreach (Answer answer in answers)
                                        {
                                            <option style="font-size:2rem;" data-extendedKey="@answer.AnswerFileExtensionName" value="@answer.AnswerTemplateKey" data-sqlQuery="@answer.SqlQueries" data-sqlParam="@answer.SqlParameters">@answer.AnswerValue</option>
                                        }
                                    }
                                </select>
                                <div class="EmptyMessage">
                                    الرجاء تعبئة الفراغ
                                </div>
                            </div>
                            break;
                        }
                    case "UserInput":
                        {
                            <div style="display:none;padding-bottom: 20px" class="part-@pageInnerItems questionans">
                                @{

                                    //AnswerFileExtensionType = "Numeric"
                                    foreach (Answer answer in answers)
                                    {
                                        HtmlString Numeric = answer.AnswerFileExtensionType == "Numeric" ? new HtmlString("NumericInput") : new HtmlString("");

                                        <input data-templatekey="@answer.AnswerTemplateKey" class="form-control @Numeric" type="text">
                                        @*<textarea data-templatekey="@answer.AnswerTemplateKey" class="form-control @Numeric"></textarea>*@

                                    }
                                }
                                <div class="EmptyMessage">
                                    الرجاء تعبئة الفراغ
                                </div>
                            </div>
                            break;
                        }

                    case "FileUpload":
                        {
                            <div style="display:none;padding-bottom: 20px" class="part-@pageInnerItems questionans">
                                @{
                                    foreach (Answer answer in answers)
                                    {
                                        @*@Html.Raw(answer.FormElementFileExtensionHTMLCode
                                        .Replace("IdItem", "Quest" + questionCounter + "-Answer" + answerCounter)
                                        .Replace("ValueItem", answer.AnswerValue)
                                        .Replace("TextItem", answer.AnswerValue)
                                        .Replace("TemplateKeyItem", Convert.ToString(answer.AnswerTemplateKey))
                                        .Replace("NameItem", "Question" + questionCounter).Replace("true", "false"))*@


                                        <input data-templatekey="@answer.AnswerTemplateKey" type="file" class="dropify" data-max-file-size="35M" data-height="100" data-allowed-file-extensions="jpg png doc docx pdf txt rar zip ico xls xlsx pptx odt" />



                                    }

                                }
                                <div class="EmptyMessage">
                                    الرجاء تعبئة الفراغ
                                </div>
                            </div>
                            break;
                        }



                    case "Calendar":
                        {
                            <div style="display:none;padding-bottom: 20px" class="part-@pageInnerItems questionans">
                                @{
                                    foreach (Answer answer in answers)
                                    {

                                        <div class="input-group date" id="datetimepicker" style="direction:ltr">
                                            <input data-templatekey="@answer.AnswerTemplateKey" style="z-index:0" type="text" placeholder="MM/DD/YYYY" class="form-control">
                                            <span class="input-group-addon">
                                                <i class="fa fa-calendar" aria-hidden="true"></i>
                                            </span>
                                        </div>


                                    }

                                }
                                <div class="EmptyMessage">
                                    الرجاء تعبئة الفراغ
                                </div>
                            </div>
                            break;
                        }

                    case "TextArea":
                        {
                            <div style="display:none;padding-bottom: 20px" class="part-@pageInnerItems questionans">
                                @{
                                    foreach (Answer answer in answers)
                                    {
                                        @*<textarea data-templatekey="@answer.AnswerTemplateKey" class="form-control" rows="3"></textarea>*@
                                        HtmlString Numeric = answer.AnswerFileExtensionType == "Numeric" ? new HtmlString("NumericInput") : new HtmlString("");
                                        <textarea data-templatekey="@answer.AnswerTemplateKey" class="form-control @Numeric" rows="3">@answer.AnswerValue</textarea>
                                    }

                                }
                                <div class="EmptyMessage">
                                    الرجاء تعبئة الفراغ
                                </div>
                            </div>
                            break;
                        }



                    default:
                        {
                            <span> </span>
                            break;
                        }

                }


            }
        }
    </div>
</div>
<div class="claimsections" id="section4" style="display:none">
    @if (!User.IsInRole("Citizen"))
    {
        <section class="card" style="padding:10px">
            <div class="card-body">
                <h5 class="mb-3 text-black">
                    <strong>معلومات</strong>
                </h5>
                <dl class="row">
                    <dt class="col-xl-12" style="float:right"><label id="esemsoulasi" class="form-label">  مقدم الاستبانة :</label></dt>
                    @*<dt class="col-xl-12" style="float:right"><label id="address" class="form-label">مكان الإقامة :</label></dt>
                        <dt class="col-xl-12" style="float:right"><label id="celnumber" class="form-label"> رقم الهاتف الجوال :</label></dt>
                        <dt class="col-xl-12" style="float:right"><label id="email" class="form-label"> البريد الالكتروني :</label></dt>
                        <dt class="col-xl-12" style="float:right"><label id="nationalnumber" class="form-label">   الرقم الوطني : </label></dt>*@
                </dl>
            </div>
        </section>

    }
    @*<div class="form-group">
            <label class="form-label">الاسم الثلاثي</label>
            <input  class="form-control"  type="text">
        </div>
        <div class="form-group">
            <label class="form-label">مكان الإقامة</label>
            <input class="form-control" type="text">
        </div>

        <div class="form-group">
            <label class="form-label">رقم الهاتف الجوال</label>
            <input class="form-control" type="text">
        </div>

        <div class="form-group">
            <label class="form-label">البريد الالكتروني</label>
            <input class="form-control" type="text">
        </div>

        <div class="form-group">
            <label class="form-label">   الرقم الوطني</label>
            <input class="form-control" type="text">
        </div>*@
   <div class="row">
       <div class="col-lg-12" style="text-align:center;">
           <button type="button" class="btn btn-primary" style="position:relative;margin-bottom:5px;" id="submitClaimForm">تقديم </button>
       </div>
   </div>
    <form id="form-validation2" name="form-validation" method="POST">
        <div class="form-group">
            @*<div class="social-login" style="text-align:right;">
                    <span class="title">
                        شارك
                    </span>
                    <div class="social-container">
                        <a href="javascript: void(0);" class="btn btn-icon">
                            <i class="icmn-facebook"></i>
                        </a>
                        <a href="javascript: void(0);" class="btn btn-icon">
                            <i class="icmn-google"></i>
                        </a>
                        <a href="javascript: void(0);" class="btn btn-icon">
                            <i class="icmn-windows"></i>
                        </a>
                        <a href="javascript: void(0);" class="btn btn-icon">
                            <i class="icmn-twitter"></i>
                        </a>
                    </div>
                </div>*@
        </div>
    </form>
</div>
<br />
<div class="form-actions">
    <button id="gonext" type="submit" class="btn btn-primary width-100 margin-inline" style="float:left;">تابع</button>
    <button id="goprevious" type="submit" class="btn btn-danger width-100 margin-inline" style="display:none!important;">سابق</button>

    @* <a href="javascript: void(0);" class="btn btn-default-outilne width-150 margin-inline">Create Account</a>*@
</div>

@*@Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    <script src="@Url.Content("~/Scripts/Metronic/js.cookie.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/Metronic/jquery.slimscroll.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/Metronic/jquery.blockui.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/Metronic/bootstrap-switch.min.js")" type="text/javascript"></script>
*@

<script src="@Url.Content("~/scripts/arabicjs.js")"></script>
<script>
    $(document).ready(function(){

        $('.demo').persiaNumber('ar');

    });

    //jQuery(document).ready(function () {
    //    var map =
    //                [
    //                "&\#1632;", "&\#1633;", "&\#1634;", "&\#1635;", "&\#1636;",
    //                "&\#1637;", "&\#1638;", "&\#1639;", "&\#1640;", "&\#1641;"
    //                ]

    //    document.body.innerHTML =
    //        document.body.innerHTML.replace(
    //            /\d(?=[^<>]*(<|$))/g,
    //            function ($0) { return map[$0] }
    //        );
    //})

    document.addEventListener('keydown', function(event) {
        if(event.keyCode == 37) {
            $("#gonext").click();
        }
        else if(event.keyCode == 39) {
            $("#goprevious").click();
        }
    });




    var SqlQuery =  $("#13016").find("option").attr("data-sqlquery");
    var SqlParam =  $("#13016").find("option").attr("data-sqlparam");
    GetData(SqlQuery, SqlParam);

    
    var SqlQuery = $("#612140").find("option").attr("data-sqlquery");
    var SqlParam = $("#612140").find("option").attr("data-sqlparam");

    //here is id locally
    //var SqlQuery = $("#142025").find("option").attr("data-sqlquery");
    //var SqlParam = $("#142025").find("option").attr("data-sqlparam");
    GetServicesData(SqlQuery, SqlParam);

    $("#13016").change(function () {
        var orgKey = $("#13016 option:selected").val();
        GetServicesData(SqlQuery, SqlParam, orgKey);
    })

    function GetServicesData(SqlQuery,SqlParam,orgKey){

        console.log("GetServicesData");
        console.log(orgKey);
        console.log(SqlQuery);


        //var test = MoAD.WebApplication.Globals.Configuration.DATA_INTERFACE_URL;

        var BASICPath = '@MoAD.WebApplication.Globals.Configuration.WEB_APPLICATION_URL';



        if(BASICPath=="online")
            BASICPath="https://"+'@Request.Url.Host';

        var path =BASICPath + "/Takarir/"+SqlQuery;

        $.ajax({
            url: path,
            type: 'GET',
            dataType: 'json',
            cache: false,
            data: {
                serviceOrganisationKey: orgKey
            },
            success: function (data) {

                var html='';
                $.each(data, function (index, value) {
                    html = "<option value=" + value + ">" + value + "</option>";
                    
                    //$("#142025").append(html);
                    $("#612140").append(html);
                });
                $("#142025").select2();
                $("#612140").select2();



            }
        });
    }

    function GetData(SqlQuery,SqlParam){

        console.log(SqlQuery);


        //var test = MoAD.WebApplication.Globals.Configuration.DATA_INTERFACE_URL;

        var BASICPath = '@MoAD.WebApplication.Globals.Configuration.WEB_APPLICATION_URL';



        if(BASICPath=="online")
            BASICPath="https://"+'@Request.Url.Host';

        var path =BASICPath + "/Takarir/"+SqlQuery;

        $.ajax({
            url: path,
            type: 'GET',
            dataType: 'json',
            cache: false,
            data: {

            },
            success: function (data) {

                var html='';
                $.each(data, function (index, value) {
                    html="<option value="+value.OrganisationKey+">"+value.OrganisationName+"</option>";
                    $("#13016").append(html);
                });
                $("#13016").select2();



            }
        });
    }

    var FirstTimeAnswerClick = 0;
    var FormKey="";
    var AnswerTemplateKey = [];
    var AnswerTemplateKeyScoring = [];


    var pageid = 1;

    var PageN = 1;



    function nextpage(pagenumber, pagination,Page) {



        $(".menulist").css("font-weight", "normal");
        $(".claimsections").css('display','none')
        $("#section3").css("display", "block");
        $(".questionans").css("display", "none");
        $(".cubes").css("display", "none");
        $("." + pagenumber).css("display", "block");
       // $(pagination).css("font-weight", "bold");

        $("#gonext").css('display', 'block');
        $("#goprevious").css('display', 'none')


        pageid = Number(Page);
        PageN = Number(Page);
    }


    $(document).ready(function () {


        $(function() {
            $('.claimsections').on('keydown', '.NumericInput', function(e){-1!==$.inArray(e.keyCode,[46,8,9,27,13,110,190])||(/65|67|86|88/.test(e.keyCode)&&(e.ctrlKey===true||e.metaKey===true))&&(!0===e.ctrlKey||!0===e.metaKey)||35<=e.keyCode&&40>=e.keyCode||(e.shiftKey||48>e.keyCode||57<e.keyCode)&&(96>e.keyCode||105<e.keyCode)&&e.preventDefault()});
        })


        $("label").click(function(){

            $(this).parent().find("label").css("background-color","");
            //$(this).css("background-color","white");
            var color=$(this).attr("data-colorCode");
            if(color != null){
                $(this).css("background-color",color);
            }

            ////disable and enable dropify
            if($(this)[0].innerText == "نعم")
            {
                $(".dropify:visible").removeAttr( "disabled");
                jQuery('.dropify-wrapper:visible').removeClass('disabled');
            }
            if($(this)[0].innerText == "لا")
            {
                $(".dropify:visible").prop( "disabled", true );
                jQuery('.dropify-wrapper:visible').addClass('disabled');

            }


        });


        //$('.dropify').dropify();
        //$(".page-link-1").css("background-color", "#93b5ec");
        $(".select2").select2();
        $(".select2").select2({
            width: 'resolve' // need to override the changed default
        });
        $(".userinput").css("width","400px");
        $(".userinput").css("border-radius","29px");
        $(".userinput").css("height","40px");
        $(".fileupload").css("width","313%");
        $(".fileupload").css("height","100px");
        $(".fileupload").css("margin-left","-312px");
        $(".fileupload").css("margin-top","10px");

        $("input[type='radio']").addClass("mt-radio");
        $(".page-link-1").click();


        $(function () {
            //$('#datetimepicker').datetimepicker();
            //$("#datetimepicker").datetimepicker({ maxDate: new Date });
            var date = new Date();
            var currentMonth = date.getMonth();
            var currentDate = date.getDate();
            var currentYear = date.getFullYear();
            $('#datetimepicker').datetimepicker({
                format: "DD-MM-YYYY",
                widgetPositioning: {
                    horizontal: 'left'
                },
                icons: {
                    time: "fa fa-clock-o",
                    date: "fa fa-calendar",
                    up: "fa fa-arrow-up",
                    down: "fa fa-arrow-down",
                    previous: 'fa fa-chevron-left',
                    next: 'fa fa-chevron-right',
                },
                maxDate: new Date(currentYear, currentMonth, currentDate)

            });
        });

    });

    function ProductImage(file) {
        var selectedFile = event.target.files[0];
        var reader = new FileReader();
        var imgtag = $(file).parent().parent().find('.fileupload')[0];
        reader.onload = function () {
            imgtag.src = event.target.result;
        };
        reader.readAsDataURL(selectedFile);
    }


    $(document).on('click', "[id^='answerClick']", function () {

        FirstTimeAnswerClick++;
        if (FirstTimeAnswerClick == 1) {
        }

    });

    $(document).on('click', "[id='submitClaimForm']", function () {
        var dialog = bootbox.dialog({
            message: '<p class="text-center"><i class="fa fa-spin fa-spinner"></i> جار التحميل....</p>',

        });

        var organisationKey="";
        var names = {};
        $('input:radio').each(function() { // find unique names
            names[$(this).attr('name')] = true;
        });
        var count = 0;
        $.each(names, function() { // then count them
            count++;
        });
        //if($('input:radio:checked').length == count) {
        //    alert("test");
        //}


        var iputRequired=0;
        var car=0;
        $('input').each(function( index, element ) {
            if ($(this).is('input:text') && $(this).val() == '') {
                iputRequired =1;
            }
        });

        if(iputRequired == 0 && $('input:radio:checked').length == count){
            var answsers = "";
            var answersScoring = "";

            $('input').each(function( index, element ) {
                var QuestionKey = $(this).attr("name");
                //if(QuestionKey!=undefined)
                //    QuestionKey = QuestionKey.split("_")[1];

                //console.log("QuestionKey=" + QuestionKey);


                if (this.checked && $(this).val() != '') {
                    if($(this).attr("data-dependency")!=""){
                        answersScoring = { key: $(this).attr("data-dependency"), Textvalue:"", type:"RadioCheckBox", Parent:"",Child:"",count:""  }
                        AnswerTemplateKeyScoring.push(answersScoring);
                    }



                    answsers = { key: $(this).attr("data-templatekey"), Textvalue:"", type:"RadioCheckBox", Parent:"",Child:"",count:""  }
                    AnswerTemplateKey.push(answsers);
                }

                if ($(this).is('input:text') && $(this).val() != '') {
                    answsers = { key: $(this).attr("data-templatekey"), Textvalue:$(this).val(), type:"Freetext", Parent:"",Child:"",count:""  }
                    AnswerTemplateKey.push(answsers);
                }



                if ($(this).is('input:file')) {
                    if($(this)[0].files[0] !=  undefined ){

                        var files=$(this)[0].files;
                        for(i=0 ;i < files.length ;i++ )
                        {
                            console.log(i);
                            console.log(files[i]);
                            var FilteType=files[i].type;
                            var answerKey= $(this).attr("data-templatekey");
                            var file =files[i];
                            var reader = new FileReader();

                            reader.readAsDataURL(file);
                            reader.onload = function () {

                                setTimeout(function() {
                                    answsers = { key: answerKey, Textvalue:"", type:FilteType,Image : reader.result, Parent:"",Child:"",count:""  }
                                    AnswerTemplateKey.push(answsers);
                                }, 1000);
                            };
                        }
                    }
                }

            });
            $('textarea').each(function () {

                answsers = { key: $(this).attr("data-templatekey"), Textvalue:$(this).val(), type:"TextArea", Parent:"",Child:"",count:"" }
                organisationKey=$(this).attr("data-extendedKey");
                AnswerTemplateKey.push(answsers);

            });

            $('option:selected').each(function () {

                if($(this).parent().attr('id')!="13016"){
                   /* if ($(this).parent().attr('id') == "142025") {*/
                    if ($(this).parent().attr('id') == "612140") {
                        
                        // alert($(this).parent().attr('id'));
                        answsers = { key: $(this).parent().attr("data-answertemplate"), Textvalue: $(this).val(), type: "TextArea", Parent: "", Child: "", count: "" }
                        //organisationKey=$(this).attr("data-extendedKey");
                        organisationKey = $(this).val();

                        AnswerTemplateKey.push(answsers);
                    } else {
                        // alert($(this).parent().attr('id'));
                        answsers = { key: $(this).val(), Textvalue: "", type: "Dropdown", Parent: "", Child: "", count: "" }
                        //organisationKey=$(this).attr("data-extendedKey");
                        organisationKey = $(this).val();

                        AnswerTemplateKey.push(answsers);
                    }

                }


            });

            if(organisationKey==""){
                organisationKey='@OrganisationKey';
            }
            //if(answersScoring != ""){
            //  //  SaveScoringForm(AnswerTemplateKeyScoring,organisationKey);
            //    console.log("sgsgfhsf" + AnswerTemplateKeyScoring);

            //}

            //if(answersScoring == ""){
                var FormTemplateKey = $('#FormTemplateKey').text();

                console.log(AnswerTemplateKey);

                SaveForm(FormTemplateKey,organisationKey,AnswerTemplateKey);
            //}



        }else{
            bootbox.alert("عليك المجاوبة على جميع الأسئلة ");
            iputRequired =0;

        }






    });


    function SaveForm(FormTemplateKey,organisationKey,AnswerTemplateKey){


        setTimeout(function() {

            $.ajax({
                url: '@Url.Action("SubmitFormForUser", "ClaimForms")',
                type: 'GET',
                dataType: 'json',
                cache: false,
                data: {
                    trackingStatusKey: "1", formTemplateKey: FormTemplateKey, userKey: "@User.Identity.GetUserId()", organisationKey: $("#13016 option:selected").val()
                },
                success: function (data) {
                    console.log(AnswerTemplateKey);
                    FormKey = data;
                    $.ajax({
                        url: '@Url.Action("AnswersByUser", "ClaimForms")',
                        type: 'POST',
                        dataType: 'json',
                        cache: false,
                        data: {
                            formKey: FormKey, answerTemplateKey: JSON.stringify(AnswerTemplateKey)
                        },
                        success: function (data) {

                            $.ajax({
                                url: '@Url.Action("SaveClaimForm", "ClaimForms")',
                                type: 'GET',
                                dataType: 'json',
                                cache: false,
                                data: {
                                    formKey: FormKey
                                },
                                success: function (data) {


                                    CheckDependecies(FormTemplateKey,FormKey,$("#13016 option:selected").val());

                                    @*@if (User.IsInRole("Citizen"))
                                    {

                                        <text>
                                    window.location = '@Url.Action("Manbar", "Home")';

                                    </text>

                                    } else if (User.IsInRole("ADManager") || User.IsInRole("ADDirector"))
                                    {

                                        <text>
                                    window.location = '@Url.Action("AdManagersClaims", "Home")';

                                    </text>
                                    }else
                                    {
                                                       <text>
                                    window.location = '@Url.Action("Index", "Home")';

                                    </text>
                                    }*@


                                }
                            });
                        }
                    });
                }
            });

        }, 3000);
    }

    function CheckDependecies(FormTemplateKey,FormKey,organisationKey){

        $.ajax({
            url: '@Url.Action("CheckDependecies", "ClaimForms")',
            type: 'GET',
            dataType: 'json',
            cache: false,
            data: {
                FTKey: FormTemplateKey,Fk:FormKey,keyo:organisationKey
            },
            success: function (data) {


               @if (User.IsInRole("Citizen"))
                {

                    <text>
                window.location = '@Url.Action("Manbar", "Home")';

                    </text>

                } else if (User.IsInRole("ADManager") || User.IsInRole("ADDirector"))
                {

                    <text>
                window.location = '@Url.Action("AdManagersClaims", "Home")';

                    </text>
                }else
            {
                <text>
window.location = '@Url.Action("Index", "Home")';

                </text>
            }
    }
    });




    }

    function SetLog(source, title, message) {
        $.ajax({
            url: '@Url.Action("SetLog", "Home")',
            type: 'GET',
            cache: false,
            dataType: 'text',
            data: ({
                source: source,
                title: title,
                message: message

            }),
            contentType: 'application/json; charset=utf-8',


            success: function (data) {

                console.log("Logging done !!!!");
            },
            error: function (xhr) {
                alert('errorr');
            }
        });
    }


    function SaveScoringForm(AnswersScoring,organisationKey){

        $.ajax({
            url: '@Url.Action("SubmitFormForUser", "ClaimForms")',
            type: 'GET',
            dataType: 'json',
            cache: false,
            data: {
                trackingStatusKey: "1", formTemplateKey: "132", userKey: "@User.Identity.GetUserId()", organisationKey: organisationKey
            },
            success: function (data) {

                FormKey = data;
                $.ajax({
                    url: '@Url.Action("AnswersByUser", "ClaimForms")',
                    type: 'POST',
                    dataType: 'json',
                    cache: false,
                    data: {
                        formKey: FormKey, answerTemplateKey: JSON.stringify(AnswersScoring)
                    },
                    success: function (data) {

                        $.ajax({
                            url: '@Url.Action("SaveClaimForm", "ClaimForms")',
                            type: 'GET',
                            dataType: 'json',
                            cache: false,
                            data: {
                                formKey: FormKey
                            },
                            success: function (data) {

                                var FormTemplateKey = $('#FormTemplateKey').text();

                                $('option:selected').each(function () {
                                    answsers = { key: $(this).val(), Textvalue:"", type:"Dropdown", Parent:"",Child:"",count:""  }
                                    organisationKey=$(this).attr("data-extendedKey");
                                    AnswerTemplateKey.push(answsers);

                                });

                                if(organisationKey==""){
                                    organisationKey=@OrganisationKey;
                                }

                                SaveForm(FormTemplateKey,organisationKey,AnswerTemplateKey);
                                console.log("ScoringDone");




                            }
                        });
                    }
                });
            }
        });

    }
    @*$("#previouspage").click(function () {
        pageid--;
        if (pageid >0) {
            $(".question").css("display", "none");
            $(".cubes").css("display", "none");
            $(".part-" + pageid).css("display", "block");
            $(".page-link").css("background-color", "white");
            $(".page-link-" + pageid).css("background-color", "#93b5ec");
        }

    });*@

    @*$("#nextpage").click(function () {
        pageid++;
        var pagenumber = @pagenumber;
        if (pageid <= pagenumber){
            $(".question").css("display", "none");
            $(".cubes").css("display", "none");
            $(".part-" + pageid).css("display", "block");
            $(".page-link").css("background-color", "white");
            $(".page-link-" + pageid).css("background-color", "#93b5ec");
        }
    });*@


    $("#gonext").click(function () {

        $(".menulist").parent().css("background-color", "#447F99");
        $(".pagination_numbers").parent().css("background-color", "white");
        $(".pagination_numbers").parent().css("border", "1px solid #447F99");
        $("#goprevious").css("display","block");

        $(".EmptyMessage").css("display","none").focus();
        var pagenumber = @pagenumber;
        var EmptyFields=0;
        var TrueRadio=0;

        $('.questionans:visible input').each(function( index, element ) {

            var textValue=$(this).val();

            if (textValue == "" && $(this).attr("data-templatekey") != "759") {
              
                $(this).parent().find(".EmptyMessage").css("display","block").focus();
                EmptyFields++;

            }



        });

        $('.questionans:visible textarea').each(function( index, element ) {

            var textValue=$(this).val();

            if(textValue==""){
             
                $(this).parent().find(".EmptyMessage").css("display","block").focus();
                EmptyFields++;

            }



        });

        var names = {};
        $('.questionans:visible input:radio').each(function( index, element ) {

            var valueRadio = $(this).parent().find(".btn btn-default-outline active").context.checked;
            console.log(valueRadio);
            if(valueRadio==true){

                TrueRadio++;
            } else {
                names[$(this).attr('name')] = true;
                $(this).parent().parent().find(".EmptyMessage").css("display","block").focus();
                //$(".EmptyMessage").css("display","block").focus();
            }

        });


        
        //$('input:radio:visible').each(function() { // find unique names
        //    names[$(this).attr('name')] = true;
        //});
   
        var count = 0;
        $.each(names, function() { // then count them
            count++;
        });

        if(EmptyFields==0 && TrueRadio == count){



            if (PageN < pagenumber){
                $(".menulist").css("font-weight", "normal");


                    PageN++;
                    @*if('@FormTemplateKey'!="106" && PageN==2)
                        PageN++;*@
                console.log(PageN);
                $(".questionans").css("display", "none");
                $(".part-" + PageN).css("display", "block");

                $(".page-link-"+ PageN).css("font-weight", "bold");
               // $(".page-link-"+ PageN).css("color", "blue");
                //$(".page-link-" + PageN).parent().css("background-color", "#ffa500", "!important");
                $(".page-link-" + PageN).parent().attr('style', 'background-color: #ffa500 !important');
                $(".page-link-" + PageN).find("font").attr('style', 'color: white !important');

                $("#gonext").css('display', 'block')
            }

            else{
                changesection('section4',this)
                //$(".tasjil").click();

                $("#goprevious").css('display', 'none');

            }
        }

    });
    $("#goprevious").click(function () {

        var pagenumber = @pagenumber;
        if (PageN <= pagenumber && PageN!=1){

            $(".menulist").css("font-weight", "normal");

            $(".menulist").parent().css("background-color","#447F99");
            $(".pagination_numbers").parent().css("background-color", "white");
            $(".pagination_numbers").parent().css("border", "1px solid #447F99");

            PageN--;
            @*if('@FormTemplateKey'!="106" && PageN==2)
                PageN--;*@
            console.log(PageN);
            $(".questionans").css("display", "none");
            $(".part-" + PageN).css("display", "block");

            $(".page-link-"+ PageN).css("font-weight", "bold");
            //$(".page-link-" + PageN).parent().css("background-color", "#ffa500", "!important");
            $(".page-link-" + PageN).parent().attr('style', 'background-color: #ffa500 !important');
            if(PageN==1)
                $("#goprevious").css('display', 'none');
            else
                $("#goprevious").css('display', 'block');

        }
        else  if (PageN==1){
                ;
        }
        else{
            changesection('section4',this)
            //$(".tasjil").click();

            $("#goprevious").css('display', 'none');

        }

    });

    //function radioevent(){
    //    alert("koko");

    //}



    //$('input[type="radio"]').on('click', function(e) {
    //    alert("koko");
    //});




</script>