﻿@{
    ViewBag.Title = "InitialPage";
    Layout = null;
    //List<SelectListItem> Organisations = ViewData["Organisation"] as List<SelectListItem>;
}

<style>
    .modal-backdrop {
    /* bug fix - no overlay */    
    display: none;    
}

    nav.top-menu .dropdown-inline-button {
    padding: 7px 15px !important;
}

    .overlayHideApp {
        height: 100%;
        width: 0;
        position: fixed;
        z-index: 1;
        top: 0;
        left: 0;
        background-color: rgb(0,0,0);
        background-color: rgba(0,0,0, 0.9);
        overflow-x: hidden;
        transition: 0.5s;
    }

    .overlayHideApp-content {
        position: relative;
        top: 25%;
        width: 100%;
        text-align: center;
        margin-top: 30px;
    }

    .overlayHideApp a {
        padding: 8px;
        text-decoration: none;
        font-size: 36px;
        color: #818181;
        display: block;
        transition: 0.3s;
    }

        .overlayHideApp a:hover, .overlayHideApp a:focus {
            color: #f1f1f1;
        }
</style>

<style>
    .bell {
        display: block;
        width: 0px;
        height: 10px;
        font-size: 20px;
        /*-webkit-animation: ring 4s .7s ease-in-out infinite;
        -webkit-transform-origin: 50% 4px;
        -moz-animation: ring 4s .7s ease-in-out infinite;
        -moz-transform-origin: 50% 4px;
        animation: ring 4s .7s ease-in-out infinite;
        transform-origin: 50% 4px;*/
    }

    @@-webkit-keyframes ring {
        0% {
            -webkit-transform: rotateZ(0);
        }

        1% {
            -webkit-transform: rotateZ(30deg);
        }

        3% {
            -webkit-transform: rotateZ(-28deg);
        }

        5% {
            -webkit-transform: rotateZ(34deg);
        }

        7% {
            -webkit-transform: rotateZ(-32deg);
        }

        9% {
            -webkit-transform: rotateZ(30deg);
        }

        11% {
            -webkit-transform: rotateZ(-28deg);
        }

        13% {
            -webkit-transform: rotateZ(26deg);
        }

        15% {
            -webkit-transform: rotateZ(-24deg);
        }

        17% {
            -webkit-transform: rotateZ(22deg);
        }

        19% {
            -webkit-transform: rotateZ(-20deg);
        }

        21% {
            -webkit-transform: rotateZ(18deg);
        }

        23% {
            -webkit-transform: rotateZ(-16deg);
        }

        25% {
            -webkit-transform: rotateZ(14deg);
        }

        27% {
            -webkit-transform: rotateZ(-12deg);
        }

        29% {
            -webkit-transform: rotateZ(10deg);
        }

        31% {
            -webkit-transform: rotateZ(-8deg);
        }

        33% {
            -webkit-transform: rotateZ(6deg);
        }

        35% {
            -webkit-transform: rotateZ(-4deg);
        }

        37% {
            -webkit-transform: rotateZ(2deg);
        }

        39% {
            -webkit-transform: rotateZ(-1deg);
        }

        41% {
            -webkit-transform: rotateZ(1deg);
        }

        43% {
            -webkit-transform: rotateZ(0);
        }

        100% {
            -webkit-transform: rotateZ(0);
        }
    }

    @@-moz-keyframes ring {
        0% {
            -moz-transform: rotate(0);
        }

        1% {
            -moz-transform: rotate(30deg);
        }

        3% {
            -moz-transform: rotate(-28deg);
        }

        5% {
            -moz-transform: rotate(34deg);
        }

        7% {
            -moz-transform: rotate(-32deg);
        }

        9% {
            -moz-transform: rotate(30deg);
        }

        11% {
            -moz-transform: rotate(-28deg);
        }

        13% {
            -moz-transform: rotate(26deg);
        }

        15% {
            -moz-transform: rotate(-24deg);
        }

        17% {
            -moz-transform: rotate(22deg);
        }

        19% {
            -moz-transform: rotate(-20deg);
        }

        21% {
            -moz-transform: rotate(18deg);
        }

        23% {
            -moz-transform: rotate(-16deg);
        }

        25% {
            -moz-transform: rotate(14deg);
        }

        27% {
            -moz-transform: rotate(-12deg);
        }

        29% {
            -moz-transform: rotate(10deg);
        }

        31% {
            -moz-transform: rotate(-8deg);
        }

        33% {
            -moz-transform: rotate(6deg);
        }

        35% {
            -moz-transform: rotate(-4deg);
        }

        37% {
            -moz-transform: rotate(2deg);
        }

        39% {
            -moz-transform: rotate(-1deg);
        }

        41% {
            -moz-transform: rotate(1deg);
        }

        43% {
            -moz-transform: rotate(0);
        }

        100% {
            -moz-transform: rotate(0);
        }
    }

    @@keyframes ring {
        0% {
            transform: rotate(0);
        }

        1% {
            transform: rotate(30deg);
        }

        3% {
            transform: rotate(-28deg);
        }

        5% {
            transform: rotate(34deg);
        }

        7% {
            transform: rotate(-32deg);
        }

        9% {
            transform: rotate(30deg);
        }

        11% {
            transform: rotate(-28deg);
        }

        13% {
            transform: rotate(26deg);
        }

        15% {
            transform: rotate(-24deg);
        }

        17% {
            transform: rotate(22deg);
        }

        19% {
            transform: rotate(-20deg);
        }

        21% {
            transform: rotate(18deg);
        }

        23% {
            transform: rotate(-16deg);
        }

        25% {
            transform: rotate(14deg);
        }

        27% {
            transform: rotate(-12deg);
        }

        29% {
            transform: rotate(10deg);
        }

        31% {
            transform: rotate(-8deg);
        }

        33% {
            transform: rotate(6deg);
        }

        35% {
            transform: rotate(-4deg);
        }

        37% {
            transform: rotate(2deg);
        }

        39% {
            transform: rotate(-1deg);
        }

        41% {
            transform: rotate(1deg);
        }

        43% {
            transform: rotate(0);
        }

        100% {
            transform: rotate(0);
        }
    }

   .dropdown-dark .dropdown-toggle:after{
        position: absolute;
    right: -16px;
    top: 64%;
    margin-top: -1px;
    color: #bbb8cb;
    -webkit-transition: all 0.1s ease-in-out;
    -o-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;
    }
</style>





<style type="text/css">
    body {
        font-family: Calibri !important;
        font-size: 1.2rem !important;
    }


    .droid-arabic-kufi {
        font-family: 'Droid Arabic Kufi', serif;
    }

    /*.page-content{
             -webkit-transition: filter 2s; /* Safari */
    /*transition: filter 2s;
        }*/
    .page-content-inner {
        padding-top: 0px !important;
    }

    a.left-menu-link::after {
        visibility: hidden;
    }

    .left-menu{


        display:none;
    }
    .select2-container {
        z-index: 0 !important;
    }

    /*#overlay {
      opacity: 1;
    }*/

    #menu {
        float: left;
    }

    @@media (max-width: 767px) {
        #menu {
            float: none;
        }
    }

    #myVideo {
        position: fixed;
        right: 0;
        bottom: 0;
        min-width: 100%;
        min-height: 100%;
        top: -5.5%;
    }


    @@media (max-width: 1100px) {

        .pb {
            width: 96% !important;
        }
    }

    @@media (max-width: 1400px) {

        .pb {
            width: 95% !important;
        }
    }

    @@media (max-width: 600px) {

        .pb {
            width: 94% !important;
        }
    }

    }
</style>
<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
    <meta http-equiv="Pragma" content="no-cache" />
    <meta http-equiv="Expires" content="0" />
    @if (User.IsInRole("Citizen"))
    {
        <title> منبر صلة وصل</title>
    }
    else
    {
        <title>مركز الدعم الاداري</title>
    }

    @if (User.IsInRole("PB"))
    {
        <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/vendors.bundle.css")">
        <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/style.bundle.css")">
    }
    <link rel="apple-touch-icon" sizes="57x57" href="~/FavIcon/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="~/FavIcon/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="~/FavIcon/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="~/FavIcon/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="~/FavIcon/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="~/FavIcon/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="~/FavIcon/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="~/FavIcon/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="~/FavIcon/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192" href="~/FavIcon/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="~/FavIcon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="~/FavIcon/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="~/FavIcon/favicon-16x16.png">
    <link rel="manifest" href="~/FavIcon/manifest.json">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="~/FavIcon/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">
    @*<link href="http://fonts.googleapis.com/earlyaccess/droidarabickufi.css" rel="stylesheet" type="text/css" />*@
    @*<link href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700&subset=all" rel="stylesheet" type="text/css" />*@

  

    <link href="@Url.Content("~/Content/Css/default.min.css")" rel="stylesheet" type="text/css" id="style_color" />
    <link href="@Url.Content("~/Content/Css/font-awesome.min.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/Css/simple-line-icons.min.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/Css/bootstrap.min.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/Css/bootstrap-switch.min.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/Css/daterangepicker.min.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/Css/morris.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/Css/fullcalendar.min.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/Css/jqvmap.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/Css/components.min.css")" rel="stylesheet" id="style_components" type="text/css" />
    <link href="@Url.Content("~/Content/Css/plugins.min.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/Css/layout.min.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/Css/select2.min.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/content/pbdashboard/css/style.css")" rel="stylesheet" />
    <link href="@Url.Content("~/content/pbdashboard/css/animate.css")" rel="stylesheet" />
    <link href='http://fonts.googleapis.com/css?family=Montserrat:400,700%7COpen+Sans:300,400' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/vendors/bootstrap/dist/css/bootstrap.min.css")">
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/vendors/jscrollpane/style/jquery.jscrollpane.css")">
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/vendors/ladda/dist/ladda-themeless.min.css")">
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/vendors/select2/dist/css/select2.min.css")">
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/vendors/eonasdan-bootstrap-datetimepicker/build/css/bootstrap-datetimepicker.min.css")">
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/vendors/fullcalendar/dist/fullcalendar.min.css")">
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/vendors/cleanhtmlaudioplayer/src/player.css")">
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/vendors/cleanhtmlvideoplayer/src/player.css")">
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/vendors/bootstrap-sweetalert/dist/sweetalert.css")">
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/vendors/summernote/dist/summernote.css")">
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/vendors/owl.carousel/dist/assets/owl.carousel.min.css")">
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/vendors/ionrangeslider/css/ion.rangeSlider.css")">
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/vendors/datatables/media/css/dataTables.bootstrap4.min.css")">
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/vendors/c3/c3.min.css")">
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/vendors/chartist/dist/chartist.min.css")">
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/vendors/nprogress/nprogress.css")">
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/vendors/jquery-steps/demo/css/jquery.steps.css")">
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/vendors/bootstrap-select/dist/css/bootstrap-select.min.css")">
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/vendors/dropify/dist/css/dropify.min.css")">
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/common/css/source/main.css")">
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/spectrum.css")">

   
    <script src="@Url.Content("~/Scripts/vendors/jquery/jquery.min.js")"></script>
    <script src="@Url.Content("~/Scripts/vendors/tether/dist/js/tether.min.js")"></script>
    <script src="@Url.Content("~/Scripts/vendors/bootstrap/dist/js/bootstrap.min.js")"></script>
    <script src="@Url.Content("~/Scripts/vendors/jquery-mousewheel/jquery.mousewheel.min.js")"></script>
    <script src="@Url.Content("~/Scripts/vendors/jscrollpane/script/jquery.jscrollpane.min.js")"></script>
    <script src="@Url.Content("~/Scripts/vendors/spin.js/spin.js")"></script>
    <script src="@Url.Content("~/Scripts/vendors/ladda/dist/ladda.min.js")"></script>
    <script src="@Url.Content("~/Scripts/vendors/select2/dist/js/select2.full.min.js")"></script>
    <script src="@Url.Content("~/Scripts/vendors/html5-form-validation/dist/jquery.validation.min.js")"></script>
    <script src="@Url.Content("~/Scripts/vendors/jquery-typeahead/dist/jquery.typeahead.min.js")"></script>
    <script src="@Url.Content("~/Scripts/vendors/jquery-mask-plugin/dist/jquery.mask.min.js")"></script>
    <script src="@Url.Content("~/Scripts/vendors/autosize/dist/autosize.min.js")"></script>
    <script src="@Url.Content("~/Scripts/vendors/bootstrap-show-password/bootstrap-show-password.min.js")"></script>
    <script src="@Url.Content("~/Scripts/vendors/moment/min/moment.min.js")"></script>
    <script src="@Url.Content("~/Scripts/vendors/eonasdan-bootstrap-datetimepicker/build/js/bootstrap-datetimepicker.min.js")"></script>
    <script src="@Url.Content("~/Scripts/vendors/fullcalendar/dist/fullcalendar.min.js")"></script>
    <script src="@Url.Content("~/Scripts/vendors/bootstrap-sweetalert/dist/sweetalert.min.js")"></script>
    <script src="@Url.Content("~/Scripts/vendors/remarkable-bootstrap-notify/dist/bootstrap-notify.min.js")"></script>
    <script src="@Url.Content("~/Scripts/vendors/summernote/dist/summernote.min.js")"></script>
    <script src="@Url.Content("~/Scripts/vendors/owl.carousel/dist/owl.carousel.min.js")"></script>
    <script src="@Url.Content("~/Scripts/vendors/ionrangeslider/js/ion.rangeSlider.min.js")"></script>
    <script src="@Url.Content("~/Scripts/vendors/nestable/jquery.nestable.js")"></script>
    <script src="@Url.Content("~/Scripts/vendors/datatables/media/js/jquery.dataTables.min.js")"></script>
    <script src="@Url.Content("~/Scripts/vendors/datatables/media/js/dataTables.bootstrap4.min.js")"></script>
    <script src="@Url.Content("~/Scripts/vendors/datatables-fixedcolumns/js/dataTables.fixedColumns.js")"></script>
    <script src="@Url.Content("~/Scripts/vendors/datatables-responsive/js/dataTables.responsive.js")"></script>
    <script src="@Url.Content("~/Scripts/vendors/editable-table/mindmup-editabletable.js")"></script>
    <script src="@Url.Content("~/Scripts/c3/d3.v3.js")"></script>
    <script src="@Url.Content("~/Scripts/c3/c3.min.js")"></script>
    <script src="@Url.Content("~/Scripts/c3/Chart.js")"></script>
    <script src="@Url.Content("~/Scripts/vendors/chartist/dist/chartist.min.js")"></script>
    <script src="@Url.Content("~/Scripts/vendors/peity/jquery.peity.min.js")"></script>
    <script src="@Url.Content("~/Scripts/vendors/gsap/src/minified/TweenMax.min.js")"></script>
    <script src="@Url.Content("~/Scripts/vendors/hackertyper/hackertyper.js")"></script>
    <script src="@Url.Content("~/Scripts/vendors/jquery-countTo/jquery.countTo.js")"></script>
    <script src="@Url.Content("~/Scripts/vendors/nprogress/nprogress.js")"></script>
    <script src="@Url.Content("~/Scripts/vendors/jquery-steps/build/jquery.steps.min.js")"></script>
    <script src="@Url.Content("~/Scripts/vendors/bootstrap-select/dist/js/bootstrap-select.min.js")"></script>
    <script src="@Url.Content("~/Scripts/vendors/chart.js/src/Chart.bundle.min.js")"></script>
    <script src="@Url.Content("~/Scripts/vendors/dropify/dist/js/dropify.min.js")"></script>
    <script src="@Url.Content("~/Scripts/bootbox.min.js")"></script>
    <script src="@Url.Content("~/Scripts/common/js/common.js")"></script>
    <script src="@Url.Content("~/Scripts/common/js/demo.temp.js")"></script>
    <script src="@Url.Content("~/Scripts/jquery.signalR-2.2.2.min.js")"></script>
    <script src="@Url.Content("~/signalr/hubs")"></script>
    <script src="@Url.Content("~/Scripts/vendors/chartist-plugin-tooltip/dist/chartist-plugin-tooltip.min.js")"></script>
    <script src="@Url.Content("~/Content/spectrum.js")"></script>
    <script src="@Url.Content("~/Scripts/bootstrap-waitingfor.js")"></script>
    <script src="@Url.Content("~/Scripts/md5.min.js")"></script>
    <script src="@Url.Content("~/scripts/pbdashboard/js/custom.js")"></script>
    <script src="@Url.Content("~/scripts/pbdashboard/js/finely.js")"></script>
    <script src="@Url.Content("~/scripts/pbdashboard/js/countdown.js")"></script>
    <script src="@Url.Content("~/scripts/pbdashboard/js/emailsubscribe.js")"></script>
    <script src="@Url.Content("~/scripts/pbdashboard/js/contact.js")"></script>
    <script src="@Url.Content("~/scripts/pbdashboard/js/jquery.backstretch.min.js")"></script>
    <script src="@Url.Content("~/scripts/pbdashboard/js/jquery.mb.YTPlayer.js")"></script>
    <script src="@Url.Content("~/scripts/pbdashboard/js/placeholders.min.js")"></script>
    <style>
        #overlay {
            position: fixed;
            z-index: 99999;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            /* background:rgb(249, 249, 251);*/
            transition: 1s 0.4s;
        }

        @@media only screen and (max-width: 600px) {
            #LeftMenuToggle {
                display: none;
            }
        }
    </style>
</head>
@if (!User.IsInRole("PB"))
{

    <div id="overlay">
        <div class="col-md-12 col-sm-12 col-xs-12" style="text-align:center;margin-top:15%"><img src="@Url.Content("~/images/customgif/Syrian Loader.gif")" style="width:10%;" alt="Loading" /></div>
    </div>
}


@{ 
    HtmlString HiddenOverflow = new HtmlString("");
    if (User.IsInRole("PB"))
    {
         HiddenOverflow = new HtmlString("style='overflow: hidden;'");
    }

}

<body @HiddenOverflow>
    @if (User.IsInRole("PB"))
    {
        <ul class="m-nav-sticky" style="margin-top: 30px;">
            <li class="m-nav-sticky__item marsad" data-toggle="m-tooltip" title="مرصد الأداء الإداري" data-placement="left">
                <img src="@Url.Content("~/Imag/f2.png")" class="imgft" style="width:38px;cursor:pointer" />
            </li>
            <li class="m-nav-sticky__item index" data-toggle="m-tooltip" title="مركز  الدعم الإداري" data-placement="left">
                <img src="@Url.Content("~/Imag/f3.png")" class="imgft" style="width:38px;cursor:pointer" />

            </li>
            <li class="m-nav-sticky__item manbar" data-toggle="m-tooltip" title="منبر صلة وصل" data-placement="left">
                <img src="@Url.Content("~/Imag/ft5.png")" class="imgft" style="width:38px;cursor:pointer" />

            </li>
        </ul>
    }


    @if (User.IsInRole("PB"))
    {
        <video autoplay muted loop id="myVideo">
            <source src="@Url.Content("~/images/pbvideo/pb-video.mp4")" type="video/mp4" />
        </video>
    }


    @{
        if (!Request.Url.AbsoluteUri.Contains("PBDashboard"))
        {

            <nav class="left-menu" left-menu>
                @if (User.IsInRole("Citizen"))
                {
                    <div class="logo-container">
                        <a href='@Url.Action("Manbar", "Home")' class="logo">
                            <img src="@Url.Content("~/images/markazalda3em.png")" />
                        </a>
                        <h2 style="float: right;margin-top: -19%;position: relative;left: 25%;font-size:25px;width:200px;">منبر صلة وصل</h2>
                    </div>

                }
                else
                {
                    <div class="logo-container">
                        <a href='@Url.Action("Index", "Home")' class="logo">
                            <img src="@Url.Content("~/images/markazalda3em.png")" />
                        </a>
                        <h2 style="float: right;margin-top: -19%;position: relative;left: 25%;font-size:25px;width:200px;">مركز الدعم الاداري</h2>
                    </div>

                }
                <div class="left-menu-inner scroll-pane" style="text-align:right;">
                    <ul class="left-menu-list left-menu-list-root list-unstyled" id="LeftMenuBar">
                        <li class="left-menu-list-submenu" style="display:none;">
                            <a class="left-menu-link" href="javascript: void(0);">
                                <i class="left-menu-link-icon icmn-cog util-spin-delayed-pseudo"></i>
                                <span class="menu-top-hidden"></span>
                            </a>
                            <ul class="left-menu-list list-unstyled">
                                <li>
                                    <div class="left-menu-item">
                                        <div class="left-menu-block">
                                            <div class="left-menu-block-item">
                                                <small>This menu gives possibility to construct custom blocks with any widgets, components and elements inside, like this theme settings</small>
                                            </div>
                                            <div class="left-menu-block-item">
                                                <span class="font-weight-600">Theme Style:</span>
                                            </div>
                                            <div class="left-menu-block-item" id="options-theme">
                                                <div class="btn-group btn-group-justified" data-toggle="buttons">
                                                    <div class="btn-group">
                                                        <label class="btn btn-default active">
                                                            <input type="radio" name="options-theme" value="theme-default" autocomplete="off" checked=""> Light
                                                        </label>
                                                    </div>
                                                    <div class="btn-group">
                                                        <label class="btn btn-default">
                                                            <input type="radio" name="options-theme" value="theme-dark" autocomplete="off"> Dark
                                                        </label>
                                                    </div>
                                                </div>
                                                <div class="btn-group btn-group-justified" data-toggle="buttons">
                                                    <div class="btn-group">
                                                        <label class="btn btn-default">
                                                            <input type="radio" name="options-theme" value="theme-green" autocomplete="off"> Green
                                                        </label>
                                                    </div>
                                                    <div class="btn-group">
                                                        <label class="btn btn-default">
                                                            <input type="radio" name="options-theme" value="theme-blue" autocomplete="off"> Blue
                                                        </label>
                                                    </div>
                                                </div>
                                                <div class="btn-group btn-group-justified" data-toggle="buttons">
                                                    <div class="btn-group">
                                                        <label class="btn btn-default">
                                                            <input type="radio" name="options-theme" value="theme-red" autocomplete="off"> Red
                                                        </label>
                                                    </div>
                                                    <div class="btn-group">
                                                        <label class="btn btn-default">
                                                            <input type="radio" name="options-theme" value="theme-orange" autocomplete="off"> Orange
                                                        </label>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="left-menu-block-item">
                                            </div>
                                            <div class="left-menu-block-item" id="options-menu">
                                                <div class="btn-group btn-group-justified" data-toggle="buttons">
                                                    <div class="btn-group">
                                                        <label class="btn btn-default active">
                                                            <input type="radio" name="options-menu" value="menu-fixed" checked=""> On
                                                        </label>
                                                    </div>
                                                    <div class="btn-group">
                                                        <label class="btn btn-default">
                                                            <input type="radio" name="options-menu" value="menu-static"> Off
                                                        </label>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="left-menu-block-item">
                                                <span class="font-weight-600">Super Clean Mode:</span>
                                            </div>
                                            <div class="left-menu-block-item" id="options-mode">
                                                <div class="btn-group btn-group-justified" data-toggle="buttons">
                                                    <div class="btn-group">
                                                        <label class="btn btn-default active">
                                                            <input type="radio" name="options-mode" value="mode-superclean" checked="" id="superCleanON"> On
                                                        </label>
                                                    </div>
                                                    <div class="btn-group">
                                                        <label class="btn btn-default">
                                                            <input type="radio" name="options-mode" value="mode-default"> Off
                                                        </label>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="left-menu-block-item">
                                                <span class="font-weight-600">Colorful Menu:</span>
                                            </div>
                                            <div class="left-menu-block-item" id="options-colorful">
                                                <div class="btn-group btn-group-justified" data-toggle="buttons">
                                                    <div class="btn-group">
                                                        <label class="btn btn-default active">
                                                            <input type="radio" name="options-colorful" value="colorful-enabled" checked=""> On
                                                        </label>
                                                    </div>
                                                    <div class="btn-group">
                                                        <label class="btn btn-default">
                                                            <input type="radio" name="options-colorful" value="colorful-disabled"> Off
                                                        </label>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="left-menu-block-item">
                                                <span class="font-weight-600">Menu Shadow:</span>
                                            </div>
                                            <div class="left-menu-block-item" id="mode-box-shadow">
                                                <div class="btn-group btn-group-justified" data-toggle="buttons">
                                                    <div class="btn-group">
                                                        <label class="btn btn-default active">
                                                            <input type="radio" name="mode-box-shadow" value="mode-box-shadow" checked="" id="shadowON"> On
                                                        </label>
                                                    </div>
                                                    <div class="btn-group">
                                                        <label class="btn btn-default">
                                                            <input type="radio" name="mode-box-shadow" value="mode-box-shadow-disabled"> Off
                                                        </label>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="left-menu-block-item">
                                                <span class="font-weight-600">Squared Corners:</span>
                                            </div>
                                            <div class="left-menu-block-item" id="mode-squared">
                                                <div class="btn-group btn-group-justified" data-toggle="buttons">
                                                    <div class="btn-group">
                                                        <label class="btn btn-default">
                                                            <input type="radio" name="mode-squared" value="mode-squared"> On
                                                        </label>
                                                    </div>
                                                    <div class="btn-group">
                                                        <label class="btn btn-default active">
                                                            <input type="radio" name="mode-squared" value="mode-squared-disabled" checked=""> Off
                                                        </label>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </li>
                        @if (!User.IsInRole("PB"))
                        {
                            <li id="menu-initialpage" class="left-menu-list-active">
                                <a class="left-menu-link" id="HomeTab">
                                    <i class="left-menu-link-icon icmn-home2" style="float:right;"><!-- --></i>
                                    <span class="menu-top-hidden" dir="rtl"> الصفحة الرئيسية</span>
                                </a>
                            </li>
                        }
                        else
                        {
                            <li id="menu-initialpage" class="left-menu-list-active">
                                <a class="left-menu-link" id="HomeTab">
                                    <i class="left-menu-link-icon icmn-home2" style="float:right;"><!-- --></i>
                                    <span class="menu-top-hidden" dir="rtl"> المنصة الرئيسية</span>
                                </a>
                            </li>
                        }


                        <li class="left-menu-list drawtools" style="display:none">
                            <a class="left-menu-link">
                                <i class="fa fa-wrench" aria-hidden="true" style="float:right;"></i>
                                <span class="menu-top-hidden" dir="rtl" style="padding-right:5px">أدوات الهيكل</span>
                            </a>
                        </li>
                        <li class="drawtools" style="display:none">
                            @*<span draggable="true" ondragstart="drag(event,this)" class="menu-top-hidden btn btn-default-outlined margin-inline" data-value="<h2 dir='rtl' class='itemtodrop header' contenteditable='true' style='font-size:0.9rem;padding-top:8px'>المركز </h2> " dir="rtl" style="padding-right:5px"> مركز  </span>*@
                            <button type="button" id="drawline" class="btn btn-default-outlined margin-inline" style="margin-right:20px" data-toggle="tooltip" data-placement="right" title="">
                                خط إتصال
                            </button>
                        </li>
                        <li class="colorpciker" style="display:none">
                            <div class="radio">
                                <label>
                                    <input value="dashed" type="radio" name="linetype">
                                    متقطع
                                </label>
                            </div>
                            <div class="radio">
                                <label>
                                    <input value="solid" type="radio" checked="" name="linetype">
                                    صلب
                                </label>
                            </div>
                            <input type='text' id="custom" />
                        </li>
                        <li class="left-menu-list-separator"></li>
                    </ul>
                </div>
            </nav>

        }
    }






    @{
        HtmlString Background = new HtmlString("");
        HtmlString FontColor = new HtmlString("");
        HtmlString Display = new HtmlString("");
        HtmlString DisplayLeftMenu = new HtmlString("");


        if (User.IsInRole("PB"))
        {
            Background = new HtmlString("background-color:rgba(104, 55, 52, 0.8);");
            FontColor = new HtmlString("color:white;");
            Display = new HtmlString("display:block;");


        }
        else
        {
            Display = new HtmlString("display:none");

        }


        <nav class="top-menu" style="height:auto;position:absolute;@Background">

            @if (!Request.Url.AbsoluteUri.Contains("PBDashboard"))
            {
                <i class="fa fa-bars" style="font-size:30px;margin-top:31px;float:right;cursor:pointer;margin-right:1%;@FontColor" id="LeftMenuToggle"></i>

            }
            @if (User.IsInRole("PB"))
            {
                <div style="float: right;margin-right: 15px;margin-top: 25px;">
                    <a style="cursor:pointer;font-size: 22px;border-bottom: 0;@FontColor" onclick="GoToPbDashbord()"><span>المنصة الرئيسية</span><i style="font-size: 1.2em;margin-left:8px;" class="fa fa-home"></i></a>
                </div>
            }


            <div class="menu-icon-container hidden-md-up">
                <div class="animate-menu-button left-menu-toggle">
                    <div><!-- --></div>
                </div>
            </div>
            @*<div style="background-color:red;display:table;margin:0 auto;">
                    ksfodsjf

                </div>*@
            <div class="menu" id="menu">

                <div class="menu-user-block">
                    @if (User.Identity.IsAuthenticated && !User.IsInRole("Citizen"))
                    {
                        HtmlString marginTop = new HtmlString("");
                        if (!User.IsInRole("PB"))
                        {
                            marginTop = new HtmlString("-2%");
                        }


                        <div class="dropdown dropdown-avatar" style="float:left;margin-top: @marginTop;">
                            <a href="javascript: void(0);" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false" style="border-bottom:0px">
                                <span class="avatar" href="javascript:void(0);">
                                    @{
                                        if (ViewBag.UserImage != null && ViewBag.UserImage != "")
                                        {
                                            var imgSrc = String.Format("data:image/gif;base64,{0}", ViewBag.UserImage);
                                            <a download="image.jpg" href="@imgSrc" title="ImageName">
                                                <img id="" name="" src="@imgSrc" />
                                            </a>
                                        }
                                        else
                                        {

                                            if (User.IsInRole("PB"))
                                            {
                                                <img id="" name="" src="@Url.Content("~/images/LogoAlJoumhourya.png")" />

                                            }
                                            else
                                            {
                                                <img id="" name="" src="@Url.Content("~/images/InitialPage_Images/user_logo.png")" />

                                            }

                                        }

                                    }
                                    @*<img src="@Url.Content("~/Images/InitialPage_Images/user_logo.png")" alt="Alternative text to the image">*@
                                </span>
                            </a>
                            <ul class="dropdown-menu dropdown-menu-left" aria-labelledby="" role="menu" style="text-align: right;direction: rtl;">
                                @if (User.Identity.IsAuthenticated && !User.IsInRole("PB"))
                                {
                                    <a class="dropdown-item" href="javascript:void(0)" id="ProfileButton"><i class="dropdown-icon icmn-user"></i> الملف الشخصي</a>
                                    <div class="dropdown-divider"></div>
                                }
                                @if (User.Identity.IsAuthenticated)
                                {
                                    <a class="dropdown-item" href="javascript:void(0)" id="logoutBtn"><i class="dropdown-icon icmn-exit"></i> الخروج </a>
                                }
                                else
                                {
                                    <a class="dropdown-item" href="javascript:void(0)" id="loginBtn"><i class="dropdown-icon icmn-exit"></i> تسجيل الدخول</a>

                                }
                            </ul>
                        </div>
                        HtmlString FloatLeft = new HtmlString("");
                        if (Request.Url.AbsoluteUri.Contains("PBDashboard"))
                        {

                            FloatLeft = new HtmlString("float:left;");
                        }
                        else
                        {
                            FloatLeft = new HtmlString("");

                        }
                        <div class="menu-user-block" style="margin-right:-24%;@FloatLeft">
                            @if (User.Identity.IsAuthenticated && !User.IsInRole("Citizen"))
                            {



                                HtmlString MarginTop = new HtmlString("");
                                HtmlString Padding = new HtmlString("");
                                HtmlString FontSize = new HtmlString("font-size: 2.0rem;");

                                if (User.IsInRole("PB"))
                                {
                                    if (Request.Url.AbsoluteUri.Contains("PBDashboard"))
                                    {
                                        MarginTop = new HtmlString("margin-top:-14%;");
                                        FontSize = new HtmlString("font-size: 1.9rem;");
                                    }
                                    else
                                    {
                                        MarginTop = new HtmlString("margin-top:11%;");
                                    }

                                    Padding = new HtmlString("padding: -0.75em 0.4em !important;");

                                }

                                if (User.IsInRole("PB"))
                                {
                                    <div class="dropdown" dir="rtl" style="@MarginTop">
                                        <ul>


                                            <li class="dropdown dropdown-extended dropdown-notification dropdown-dark" id="header_notification_bar">
                                                <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-close-others="true" style="border-bottom:0px;color: #bbb8cb;" title="Feature will be available in a later version">
                                                    <i class="fa fa-envelope" style="margin-top: 10%;@FontColor@FontSize"></i>
                                                    <span class="badge badge-default" style="position: absolute;top: -8px;right: -4px;font-weight: 300;padding: 3px 6px;background-color: #36c6d3;color: #c13f3f;"> 0 </span>
                                                    @*<span class="badge badge-default" id="notificationnumber" style="padding-top:5px;@Padding">0</span>*@
                                                </a>
                                                <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="" style="overflow-y:auto;width:180px;" role="menu">
                                                    <a class="dropdown-item" style="text-align:right;cursor:not-allowed;" href="javascript:void(0)" id="" title="Feature will be available in a later version"><i class="dropdown-icon fa fa-file"></i> تقارير عاجلة </a>
                                                    <div class="dropdown-divider"></div>
                                                    <a class="dropdown-item" style="text-align:right;cursor:not-allowed;" href="javascript:void(0)" id="" title="Feature will be available in a later version"><i class="dropdown-icon fa fa-file"></i>  ملفات ساخنة  </a>
                                                </ul>
                                            </li>
                                        </ul>
                                    </div>
                                }

                            }
                        </div>



                        @*<div class="menu-user-block">
                                @if (User.Identity.IsAuthenticated && !User.IsInRole("Citizen"))
                                {



                                    <div class="dropdown" dir="rtl">
                                        <a id="" class="dropdown-inline-button" style="cursor: default;border-bottom:0px;@FontColor">
                                            <span>@User.Identity.Name.Trim()</span>
                                        </a>
                                    </div>


                                }
                            </div>*@


                    }
                </div>

                @*<div style="background-color:green" class="menu-user-block">pb</div>*@
                <div class="menu-user-block" style="margin: 0px 10px 0px -42px;">
                    @if (User.Identity.IsAuthenticated && !User.IsInRole("Citizen"))
                    {



                        <div class="dropdown" dir="rtl">
                            <a id="" class="dropdown-inline-button" style="cursor: default;border-bottom:0px;@FontColor">
                                <span>@User.Identity.Name.Trim()</span>
                            </a>
                        </div>


                    }
                </div>
                <div class="menu-user-block menu-notifications">
                </div>
                <div class="menu-info-block">
                    <div class="left">
                        <div class="header-buttons">
                        </div>
                    </div>
                    <div class="left hidden-md-down" المشروع الوطني للإصلاح الإداري>
                    </div>
                    <div class="right hidden-md-down margin-left-20">
                    </div>
                </div>
            </div>



            @if (User.IsInRole("PB"))
            {
                <div style="text-align: center;margin-top: 0.5%;@Display">
                    <a style="font-size: 40px;color:#d4ab56;cursor:auto;border-bottom:0;">المشروع الوطني للإصلاح الإداري</a>
                </div>
                @*<div style="float: right;margin-right: 10px;margin-top: 25px;">
                        <a style="cursor:pointer;font-size: 22px;@FontColor" onclick="GoToPbDashbord()">المنصة الرئيسية<i style="font-size: 1.6em;" class="fa fa-home"></i></a>
                    </div>*@
            }
        </nav>

    }
    @{
        if (User.IsInRole("PB"))
        {
            <section class="page-content" style="opacity:0.95 !important;position:relative;">
                <div class="page-content-inner" style="margin-left: 50px;">
                    <div class="section-main pb" id="top" style="width:98%;">
                        <div class="">
                            @RenderBody()
                            <div class="page-loading" style="width:104%;height:106%">
                                <noscript><div class="noscript-error"><i class="fa fa-info-circle"></i>Enable JavaScript to see this site working properly.</div></noscript>
                                <div class="square-loader-wrap">
                                    <div class="square-loader" style="background-color:#57090a"></div>
                                    <div class="square-loader" style="background-color:#57090a"></div>
                                    <div class="square-loader" style="background-color:#57090a"></div>
                                    <div class="square-loader" style="background-color:#57090a"></div>
                                </div>
                            </div>
                        </div>
                    </div>

                    @*@RenderBody()
                        <a id="bgndVideo" class="player"></a>*@
                </div>
            </section>
        }
        else
        {


            <section class="page-content" style="filter: blur(25px);transition: filter 2s;-webkit-transition: filter 2s;">
                <div class="page-content-inner">
                    @RenderBody()
                </div>
            </section>
        }
    }
    @if (!User.IsInRole("PB"))
    {
        <!--<div class="cwt__footer visible-footer">
            <div class="cwt__footer__top">
                <div class="row">
                    <div class="col-lg-5">
                        <div class="cwt__footer__title cwt__footer__title--light" dir="rtl" style="margin-right:5%;">
                            <h3 style="color: #827ca1;">للاتصال بنا</h3>
                        </div>
                        <div class="row" dir="rtl">
                            <div class="col-lg-6">
                            </div>
                            <div class="col-lg-6">
                                <ul class="list-unstyled">
                                    <li style="margin:15px;"><i class="fa fa-phone fa-2x" aria-hidden="true"></i> هاتف1:  3134671-11-963</li>
                                    <li style="margin:15px;"><i class="fa fa-phone fa-2x" aria-hidden="true"></i> هاتف2:  3134651-11-963</li>
                                    <li style="margin:15px;"><i class="fa fa-envelope fa-2x" aria-hidden="true"></i> بريد الكتروني: info@moad.gov.sy</li> 
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-5" dir="rtl">
                        <div class="cwt__footer__title" dir="rtl" style="margin-right:5%;">
                            <h3 style="color: #827ca1;">الروابط</h3>
                        </div>
                        <ul class="list-unstyled">
                            <li><a href='@Url.Action("Index", "Home")'><h5 style="color: #827ca1;"><img src="@Url.Content("~/Imag/f3.png")" class="imgft" style="width:50px;cursor:pointer" /> مركز  الدعم الإداري</h5></a></li>
                            <li><a href='@Url.Action("Marsad", "Home")'><h5 style="color: #827ca1;"><img src="@Url.Content("~/Imag/f2.png")" class="imgft" style="width:50px;cursor:pointer" /> مرصد الأداء الإداري</h5></a></li>

                            <li><a href='@Url.Action("Manbar", "Home")'><h5 style="color: #827ca1;"><img src="@Url.Content("~/Imag/ft5.png")" class="imgft" style="width:50px;cursor:pointer" /> منبر صلة وصل</h5></a></li>


                        </ul>

                    </div>
                </div>
            </div>
            <div class="cwt__footer__bottom" style="height:35%;">
                <div class="row">-->
                    @*<div class="col-md-4">

                    </div>*@
                    <!--<div class="col-md-8">
                        <div class="cwt__footer__company">
                            <span id="GlobalLearningLink" style="cursor:pointer;">
                                مشروع وزارة التنمية @DateTime.Now.Year | All rights reserved Copyright <sup><i class="fa fa-copyright" aria-hidden="true"></i></sup>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>-->
    }
    <div class="main-backdrop"><!-- --></div>

    @*<div id="overlayHideAppContainer" class="overlayHideApp" style="display:none; width:100%; z-index:2147483647;">
            <div class="overlayHideApp-content">
                <a>هذه الصفحة غير متوفرة حالياً على هذا الجهاز</a>
                <a>الرجاء إستعمال الحاسوب لتصفح هذه الصفحة</a>
                <a style="margin-top:50px;" href="@Url.Action("Index","Home")">العودة</a>
            </div>
        </div>*@

    <script>

        $("#GlobalLearningLink").click(function () {

            window.location.href = "http://www.gl.ae/home";

        });

        /////////LoaderPart////
        $(window).load(function () {


            @if (!User.IsInRole("PB"))
        {
            <text>
            fadeOutEffect();

            </text>
        }





            function fadeOutEffect() {
                var fadeTarget = document.getElementById("overlay");
                var fadeEffect = setInterval(function () {
                    if (!fadeTarget.style.opacity) {
                        fadeTarget.style.opacity = 1;
                    }
                    if (fadeTarget.style.opacity > 0) {
                        fadeTarget.style.opacity -= 0.1;
                    } else {
                        clearInterval(fadeEffect);
                    }


                }, 300);

                setTimeout(function () {

                    $(".page-content").css("filter", "blur(0)");
                    $(".page-content").css("opacity", "0.96");

                    $(".top-menu").css("filter", "blur(0)");


                }, 3000);
                setTimeout(function () {

                 //   $(".Body").css("filter", "");


                    $("#overlay").remove();
                }, 5000);

            }

        });
        /////////End LoaderPart////



        @if (User.IsInRole("PB"))
            {
                <text>
        //var vid = document.getElementById("myVideo");
        //vid.playbackRate = 0.5;
        </text>

            }




        //$('.left-menu').hide();
        $(".page-content").css("margin-right", "0px");
        $(".cwt__footer").css("margin-right", "0px");
        $(".top-menu").css("right", "0px", 'important');

        var toggle = 1;
        $("#LeftMenuToggle").click(function () {



            if (toggle == 0) {

                      @*@if (User.IsInRole("PB"))
                    {

                        <text>
                    $(".page-content").css("margin-top", "0%");
                        </text>

                    }*@

                $(this).removeClass("fa fa-times")
                $(this).addClass("fa fa-bars");
                $('.left-menu').hide();
                $(".page-content").css("margin-right", "0px");
                $(".cwt__footer").css("margin-right", "0px");
                $(".top-menu").css("right", "0px", 'important');
                $(".m-nav-sticky").css("display", "block");

                toggle = 1
            } else {

                $(this).removeClass("fa fa-bars")
                $(this).addClass("fa fa-times");
                $('.left-menu').show();

                // $(".page-content").css("margin-right", "240px");
                $(".cwt__footer").css("margin-right", "240px");
                $(".top-menu").css("right", "240px", 'important');

                $(".m-nav-sticky").css("display", "none");

                toggle--;
                ;
            }

        });




        //$(function () {

        //    var chat = $.connection.chatHub;


        //    chat.client.addNewMessageToPage = function (name, message) {


        //        //console.log("kokooooooo");
        //        getnotification();

        //    }

        //    $.connection.hub.start().done(function () {

        //    });
        //});

        $(window).on('resize', function () {
            var win = $(this); //this = window
            console.log("win.width() = " + win.width());
            if (win.width() >= 1400) { $('#overlayHideAppContainer').hide(); }
            else { $('#overlayHideAppContainer').show(); }
        });



        $(document).ready(function () {

            var win = $(this);
            console.log("win.width() = " + win.width());
            if (win.width() >= 1400) { $('#overlayHideAppContainer').hide(); }
            else { $('#overlayHideAppContainer').show(); }

            @if (!User.IsInRole("PB"))
            {
                <text>
            GetPriviliges();

            </text>
            }


            //$(".player").mb_YTPlayer({
            //    videoURL: videoBackgroundURL,
            //    containment: 'body',
            //    autoPlay: true,
            //    mute: videoMuted,
            //    startAt: 0,
            //    opacity: 1
            //});
            //$('#bgndVideo').on("YTPStart", function () {
            //    if (preloader == 'on') {
            //        $('.page-loading').delay(1500).fadeOut(1000, function () { animateInStart(); });
            //    }
            //    else {
            //        animateInStart();
            //    }
            //});

            //if (videoMuted == false) {
            //    $('.videoMuteButton').show();
            //}

            ///////////////////////////////////////////////////////////////////////////////////////////////////
            if (videoBackground == 'on') {
                if (/Android|webOS|iPhone|iPad|iPod|BlackBerry|IEMobile|Opera Mini/i.test(navigator.userAgent)) {
                    $(".player").hide();
                    $.backstretch(slideshowBackgroundURLS, {
                        fade: slideshowFade,
                        duration: slideshowDuration
                    });
                    $('.backstretch img').load(function () {
                        if (preloader == 'on') {
                            $('.page-loading').delay(1500).fadeOut(1000, function () { animateInStart(); });
                        }
                        else {
                            animateInStart();
                        }
                    });
                }
                else {
                    //$(".player").mb_YTPlayer({
                    //    videoURL: videoBackgroundURL,
                    //    containment: 'body',
                    //    autoPlay: true,
                    //    mute: videoMuted,
                    //    startAt: 0,
                    //    opacity: 1
                    //});

                    setTimeout(function () { $(".page-loading").fadeOut(); }, 5000);
                    $('#bgndVideo').on("YTPStart", function () {
                        if (preloader == 'on') {
                            $('.page-loading').delay(1500).fadeOut(1000, function () { animateInStart(); });
                        }
                        else {
                            animateInStart();
                        }
                    });

                    if (videoMuted == false) {
                        $('.videoMuteButton').show();
                    }
                }
            }
            else {
                $.backstretch(slideshowBackgroundURLS, {
                    fade: slideshowFade,
                    duration: slideshowDuration
                });
                $('.backstretch img').load(function () {
                    if (preloader == 'on') {
                        $('.page-loading').delay(1500).fadeOut(1000, function () { animateInStart(); });
                    }
                    else {
                        animateInStart();
                    }
                });
            }

            ///////////////////////////////////////////////////////////////////////////////////////////////////


            //var chat = $.connection.chatHub;

            //$.connection.hub.start().done(function () {
            //    chat.server.send("", "");

            //});
        });

        $("#loginBtn").click(function () {
            window.location = '@Url.Action("Login", "Account")';
        });


        //$(".souboutyat").click(function () {
        //    $('#chakwamodal').modal('show');
        //});
        var kaka = 0;
        function HighlightMenuClick(ClassID, Parent) {

            if (kaka == 1) {
                kaka = 0;
            }
            else {
                if ($("#" + ClassID).hasClass("left-menu-list-submenu")) {

                    $("#menu-initialpage").removeClass("left-menu-list-active");

                    //if ($("." + ClassID + " li").length == 0) {

                    $.ajax({
                        url: '@Url.Action("AccessPivilege", "Home")',
                        dataType: "json",
                        data: { ParentPrivilege: Parent },
                        success: function (result) {

                            var html = "";
                            $("." + ClassID).empty();
                            $.each(result, function (key, value) {

                                if (value.PositionType == "Parent") {
                                    html += "<li class='left-menu-list-submenu' onclick=" + value.Action + " id='" + value.ActionParent + "'>";
                                    html += "<a class='left-menu-link' href='javascript: void(0);' dir='rtl'>";
                                    if (value.logo != null)
                                        html += "" + value.logo + "";
                                    html += "" + value.PrivilegeName + "</a>";
                                    html += "<ul class='left-menu-list list-unstyled " + value.ActionParent + "'></ul>";
                                    html += "<li class='left-menu-list-separator'><!-- --></li>";
                                }

                                else {
                                    html += "<li><a class='left-menu-link' onclick=" + value.Action + ">";
                                    html += "" + value.PrivilegeName + "</a></li>";
                                }



                            });


                            $("." + ClassID).append(html);

                        }

                    });
                    $("#" + ClassID).removeClass("left-menu-list-submenu");
                    $("#" + ClassID).addClass("left-menu-list-submenu-opened");
                    // }

                }
                else {

                    $("#" + ClassID).removeClass("left-menu-list-submenu-opened");
                    $("#" + ClassID).addClass("left-menu-list-submenu");

                }
            }



        }

        function HighlightMenuClickParentChild(ClassID, Parent) {


            kaka = 1;
            if ($("#" + ClassID).hasClass("left-menu-list-submenu")) {
                $("#menu-initialpage").removeClass("left-menu-list-active");

                $.ajax({
                    url: '@Url.Action("AccessPivilege", "Home")',
                    dataType: "json",
                    data: { ParentPrivilege: Parent },
                    success: function (result) {

                        var html = "";
                        $("." + ClassID).empty();
                        $.each(result, function (key, value) {

                            if (value.PositionType == "Parent") {
                                html += "<li class='left-menu-list-submenu' onclick=" + value.Action + " id='" + value.ActionParent + "'>";
                                html += "<a class='left-menu-link' href='javascript: void(0);' dir='rtl'>";
                                if (value.logo != null)
                                    html += "" + value.logo + "";
                                html += "" + value.PrivilegeName + "</a>";
                                html += "<ul class='left-menu-list list-unstyled " + value.ActionParent + "'></ul>";
                                html += "<li class='left-menu-list-separator'><!-- --></li>";

                            }

                            else {

                                html += "<li><a class='left-menu-link' onclick=" + value.Action + ">";
                                html += "" + value.PrivilegeName + "</a></li>";

                            }



                        });

                        console.log("html: " + html);
                        $("." + ClassID).append(html);

                    }

                });
                $("#" + ClassID).removeClass("left-menu-list-submenu");
                $("#" + ClassID).addClass("left-menu-list-submenu-opened");


            }
            else {

                $("#" + ClassID).removeClass("left-menu-list-submenu-opened");
                $("#" + ClassID).addClass("left-menu-list-submenu");

            }

        }


        function Email() {

            location.href = 'http://74.208.210.99:84/roundcube/';


        }



        function GetPriviliges() {

            $.ajax({
                url: '@Url.Action("AccessPivilege", "Home")',
                dataType: "json",
                success: function (result) {

                    var html = "";

                    $.each(result, function (key, value) {


                        // html += "<li class='left-menu-list-submenu' onclick='" + value.Action + "' id='" + value.ActionParent + "'>";
                        html += "<li class='left-menu-list-submenu'";

                        html += 'onclick=' + value.Action;
                        html += "id='" + value.ActionParent + "'> <a class='left-menu-link' href='javascript: void(0);' dir='rtl'>";
                        html += "<i class='left-menu-link-icon " + value.logo + "' style='float:right;'></i>";
                        html += "" + value.PrivilegeName + "</a>";
                        html += "<ul class='left-menu-list list-unstyled " + value.ActionParent + "'></ul>";
                        html += "<li class='left-menu-list-separator'><!-- --></li>";


                    });


                    $("#LeftMenuBar").append("</li>" + html);
                    id = '@ViewBag.HighlightedPart';
                    if (id != null && id != "null") {
                        $("#" + id).addClass("left-menu-list-opened");
                        $("#menu-initialpage").removeClass("left-menu-list-active");

                    }

                    if (id == '') {
                        $("#menu-initialpage").addClass("left-menu-list-active");
                    }




                }
            });

        }

        function GetChildren(ClassId) {


           // alert(ClassId);

        }

        $(".formButton").click(function () {

            @*window.location = '@Url.Action("NewClaimForm", "ClaimForms")/' + "?FormTemplateKey=" + FormTemplateKey;*@

            var FormTemplateType = $(this).attr("data-FormType");
            //alert(FormTemplateType);
            $.ajax({
                url: '@Url.Action("GetFormTemplatesForAType", "Home")',
                dataType: "json",
                data: { TemplateType: FormTemplateType },
                success: function (result) {

                    //$("#TemplatesForm").empty();

                    $.each(result, function (key, value) {

                        window.location = '@Url.Action("NewClaimForm", "ClaimForms")/' + "?FormTemplateKey=" + value.FormTemplateKey;
                        //$("#TemplatesForm").append("<option value='" + value.FormTemplateKey + "'>" + value.Name + "</option>");


                    });

                    //$('#chakwamodal').modal('show');

                }
            });


        });

        $(".formButtonFasad").click(function () {


            window.location = '@Url.Action("NewClaimForm", "ClaimForms")/' + "?FormTemplateKey=106";


        });


        $(document).on('click', '#logoutBtn', function () {

            window.location = '@Url.Action("LogOff", "Account")';

        });

        $(document).on('click', '#gotoforms', function () {
            window.location = '@Url.Action("Index", "Forms")';
        });

        function GoToLanguageContent() {

            window.location = '@Url.Action("Index", "languagesContents")';


        }

         function GoToLanguageContentForms() {

            window.location = '@Url.Action("Forms", "SurveyGenerator")';


        }
    </script>
    <script>
        @*id = '@ViewBag.HighlightedPart';
        if (id != null && id != "null") {
            $("#" + id).addClass("left-menu-list-opened");
            $("#menu-initialpage").removeClass("left-menu-list-active");

        }

        if (id == '') {
            $("#menu-initialpage").addClass("left-menu-list-active");
        }*@

        $(document).ready(function () {
            $("#shadowON").click();
            $("#superCleanON").click();
            //$("#Organisations").select2();
            //$("#TemplatesForm").select2();
        });

        $('.Organisations').on('select2:selecting', function (e) {


            var parentOrganisation = $(this).val();
            var parent = $(this).parent().parent().parent().find(".organisationParent");

            $(parent).val(parentOrganisation);
        });





        $("#gotachakwa").click(function () {
            OrganisationKey = $("#Organisations").val();
            FormTemplateKey = $("#TemplatesForm").val();

            if ("@User.Identity.IsAuthenticated" === "False") {

                bootbox.confirm({
                    message: "Please Sign In",
                    callback: function (result) {
                        window.location = '@Url.Action("LoginToResult", "Account")/' + "?Organization=" + OrganisationKey + "&FormTemplate=" + FormTemplateKey;

                    }
                })
            } else {

                ////@*window.location = '@Url.Action("NewClaimForm", "ClaimForms")/' + "?OrganizationKey=" + OrganisationKey + "&FormTemplateKey=" + FormTemplateKey;*@
                window.location = '@Url.Action("NewClaimForm", "ClaimForms")/' + "?OrganizationKey=1&FormTemplateKey=106";

                @*window.location = '@Url.Action("NewClaimForm", "ClaimForms")';*@

            }


        });

        function UpdateOrgs() {
            window.location = "@Url.Action("UpdateOrgs", "MouwazafinWithOrgs", new { HighlightedPart = "ta3dilMou2asasat" })";
        }

        function Entidab() {
            window.location = '@Url.Action("EntidabMouwazaf", "AspNetUsers")';

        }
        function Idara() {
            window.location = '@Url.Action("Index", "AspNetUsers")';

        }

        function Users() {
            window.location = "@Url.Action("Index", "AspNetUsers",new { HighlightedPart = "e3dadalmousta5dimin"})";

        }

        function AddRole() {

            window.location = "@Url.Action("AddRole", "AspNetUsers",new { HighlightedPart = "e3dadalmousta5dimin" })";

        }

        function DeleteRole() {

            window.location = "@Url.Action("DeleteRole", "AspNetUsers",new { HighlightedPart = "e3dadalmousta5dimin" })";

        }

        function TechExpert() {

            submit_post_via_hidden_form("@Url.Action("TechExpert", "Home")", { HighlightedPart: "TechExpert" });

        }

        function ViewMoubadaratOrgs() {

            submit_post_via_hidden_form("@Url.Action("ViewMoubadaratOrgs", "Ranking")", { HighlightedPart: "Moubadarat" });

        }


        function MoubadaratOrgs() {

            submit_post_via_hidden_form("@Url.Action("MoubadaratOrgs", "Ranking")", { HighlightedPart: "Moubadarat" });

        }

        function SurveyPublish(ClaimType) {
            submit_post_via_hidden_form("@Url.Action("SurveyTable", "SurveyReport")", { ClaimType: ClaimType, HighlightedPart: "Takarir" });
        }

        function Survey(ClaimType) {
            console.log("ClaimTypeClaimType");
            if (ClaimType == "تقارير خارطة الموارد البشرية") {
                submit_post_via_hidden_form("@Url.Action("ERMReports", "ERMEmployees")", {  });
            } else {
                submit_post_via_hidden_form("@Url.Action("AlSurvey", "SurveyReport")", { type: "Survey", ClaimType: ClaimType, HighlightedPart: "Takarir" });
            }
        }

        function SawaLiMoukafa7atAlFasad() {
            window.location = '@Url.Action("NewClaimForm", "ClaimForms")/' + "?FormTemplateKey=106";
        }

        function RidaAlMouwaten() {
            window.location = '@Url.Action("NewClaimForm", "ClaimForms")/' + "?FormTemplateKey=113";
        }

        function RidaAlMouwazaf() {
            window.location = '@Url.Action("NewClaimForm", "ClaimForms")/' + "?FormTemplateKey=114";
        }

        function Ma3anLiSouboutyat() {
            window.location = '@Url.Action("NewClaimForm", "ClaimForms")/' + "?FormTemplateKey=127";
        }

        function Ma3anLilTabsit() {
            window.location = '@Url.Action("NewClaimForm", "ClaimForms")/' + "?FormTemplateKey=134";
        }

        function Organisations() {
            window.location = "@Url.Action("Index", "Organisations",new { HighlightedPart = "e3dadalmousta5dimin"})";

        }

        function GoToPbDashbord() {
            window.location = "@Url.Action("Index", "PBDashboard", new { })";

        }

        function Statuses() {
            window.location = "@Url.Action("Index", "Status",new { HighlightedPart = "e3dadatsayeel3alam"})";

        }

        function AnswerTemplates() {
            window.location = '@Url.Action("Index", "AnswersTemplates",new { HighlightedPart = "e3dadatelestibanat"})';

        }

        function ExtendedData() {
            window.location = '@Url.Action("Index", "ExtendedData",new { HighlightedPart = "e3dadatelestibanat"})';

        }

        function FormElements() {
            window.location = '@Url.Action("Index", "FormElements",new { HighlightedPart = "e3dadatelestibanat"})';

        }

        function FormElementTypes() {
            window.location = '@Url.Action("Index", "FormElementTypes",new { HighlightedPart = "e3dadatelestibanat"})';

        }

        function FormTemplates() {
            window.location = '@Url.Action("Index", "FormTemplates",new { HighlightedPart = "e3dadatelestibanat"})';

        }

        function FormTemplateTypes() {
            window.location = '@Url.Action("Index", "FormTemplateTypes",new { HighlightedPart = "e3dadatelestibanat"})';

        }

        function Questions() {
            window.location = '@Url.Action("Index", "Questions",new { HighlightedPart = "e3dadatelestibanat"})';

        }


        function privileges() {

            window.location = '@Url.Action("Index", "Privileges", new { HighlightedPart = "privileges" })';

        }

        function UsersCodes() {
            window.location = "@Url.Action("AuthenticationCodes", "Home",new { HighlightedPart = "e3dadalmousta5dimin"})";

        }

        function MouwazafinWithOrgs() {
            window.location = "@Url.Action("Index", "MouwazafinWithOrgs", new { HighlightedPart = "Ta3rifMouwazafin"})";

        }

        function TakarirRidaAlMouwazaf(FormTemplateKey) {

            submit_post_via_hidden_form("@Url.Action("AlTakarir", "Takarir")", { FormTemplateKey: FormTemplateKey, HighlightedPart: "Takarir" });
            @*submit_post_via_hidden_form("@Url.Action("Index", "Takarir")", { FormTemplateKey: FormTemplateKey, HighlightedPart: "Takarir" });*@

        }

        function Manbar() {
            submit_post_via_hidden_form("@Url.Action("Manbar", "Home")", {});


        }

        function Marsad() {
            submit_post_via_hidden_form("@Url.Action("Marsad", "Home")", {});

        }

        function TakarirTable(type) {

            window.location = '@Url.Action("TakarirTable", "Takarir")/' + "?ClaimType=" + type + "&HighlightedPart=Takarir";

        }



        $("#gotoclaimform").click(function () {
            window.location = '@Url.Action("Index", "MyClaim")';
        });


        $("#HomeTab").click(function () {

            @if (User.IsInRole("ADManager") || User.IsInRole("ADDirector"))
                        {
             <text>
            window.location = '@Url.Action("AdUsersLandingPage", "Home")';
            </text>
            }
            else if(User.IsInRole("PB"))
            {
                        <text>
            window.location = '@Url.Action("Index", "PBDashboard")';
            </text>
            }
             else if(User.IsInRole("HR"))
            {
                        <text>
            window.location = '@Url.Action("Index", "ERMEmployees")';
            </text>
            }else
            {
                        <text>
            window.location = '@Url.Action("Index", "UserDashboard")';
            </text>
            }

            @*window.location = '@Url.Action("Index", "Home")';*@
        });








        @*(@form.CurrentFormKey,@form.GUID,@form.CreatedAt,@form.WorkFlowItemKey,@form.AssignedToUserKey,@form.UpdatedByUserKey,@form.NextFormTemplateKey,@form.InvocationTypeKey,@form.UpdatedAt)*@
        function goToMyClaim(formKey, GUID, CreatedAt, CitizenKey, NextFormTemplateKey, CurrentStatusKey, CurrentFormtemplateKey, CurrentFormtemplateName, CurrentStatusName, NextOrganisationKey, CurrentOrganisationKey) {

            @if (User.IsInRole("ADManager") || User.IsInRole("ADDirector"))
            {
                 <text>
            submit_post_via_hidden_form("@Url.Action("ADManagerTemplate", "FormTemplatesDisplay")", { formKey: formKey, GUID: GUID, CreatedAt: CreatedAt, CitizenKey: CitizenKey, CurrentStatusKey: CurrentStatusKey, NextFormTemplateKey: NextFormTemplateKey, CurrentFormtemplateKey: CurrentFormtemplateKey, CurrentFormtemplateName: CurrentFormtemplateName, NextOrganisationKey: NextOrganisationKey, CurrentOrganisationKey: CurrentOrganisationKey });

            @*window.location = '@Url.Action("ADManagerTemplate", "FormTemplatesDisplay")/' + "?formKey=" + formKey + "&GUID=" + GUID + "&CreatedAt=" + CreatedAt + "&CitizenKey=" + CitizenKey + "&CurrentStatusKey=" + CurrentStatusKey + "&NextFormTemplateKey=" + NextFormTemplateKey + "&CurrentFormtemplateKey=" + CurrentFormtemplateKey + "&CurrentFormtemplateName=" + CurrentFormtemplateName + "&NextOrganisationKey=" + NextOrganisationKey + "&CurrentOrganisationKey=" + CurrentOrganisationKey;*@
            </text>
             }
            @if (User.IsInRole("OPManager") || User.IsInRole("OPGeneralDirector") || User.IsInRole("OPDirector") || User.IsInRole("Human Development Sector") || User.IsInRole("Administrative sector") || User.IsInRole("Economic sector") || User.IsInRole("Service sector"))
            {
                 <text>
            @*window.location = '@Url.Action("FormInstance", "Home")/' + "?formKey=" + formKey + "&GUID=" + GUID + "&CreatedAt=" + CreatedAt + "&CitizenKey=" + CitizenKey + "&CurrentStatusKey=" + CurrentStatusKey + "&NextFormTemplateKey=" + NextFormTemplateKey + "&CurrentFormtemplateKey=" + CurrentFormtemplateKey + "&CurrentFormtemplateName=" + CurrentFormtemplateName + "&CurrentStatusName=" + CurrentStatusName + "&NextOrganisationKey=" + NextOrganisationKey + "&CurrentOrganisationKey=" + CurrentOrganisationKey;*@
            submit_post_via_hidden_form("@Url.Action("FormInstance", "Home")", { formKey: formKey, GUID: GUID, CreatedAt: CreatedAt, CitizenKey: CitizenKey, CurrentStatusKey: CurrentStatusKey, NextFormTemplateKey: NextFormTemplateKey, CurrentFormtemplateKey: CurrentFormtemplateKey, CurrentFormtemplateName: CurrentFormtemplateName, CurrentStatusName: CurrentStatusName, NextOrganisationKey: NextOrganisationKey, CurrentOrganisationKey: CurrentOrganisationKey });

            </text>
             }
            @if (User.IsInRole("Citizen"))
             {
                 <text>
            @*window.location = '@Url.Action("ADManagerTemplate", "FormTemplatesDisplay")/' + "?formKey=" + formKey + "&GUID=" + GUID + "&CreatedAt=" + CreatedAt + "&CitizenKey=" + CitizenKey + "&CurrentStatusKey=" + CurrentStatusKey + "&NextFormTemplateKey=" + NextFormTemplateKey + "&CurrentFormtemplateKey=" + CurrentFormtemplateKey + "&CurrentFormtemplateName=" + CurrentFormtemplateName + "&NextOrganisationKey=" + NextOrganisationKey + "&CurrentOrganisationKey=" + CurrentOrganisationKey;*@
            submit_post_via_hidden_form("@Url.Action("ADManagerTemplate", "FormTemplatesDisplay")", { formKey: formKey, GUID: GUID, CreatedAt: CreatedAt, CitizenKey: CitizenKey, CurrentStatusKey: CurrentStatusKey, NextFormTemplateKey: NextFormTemplateKey, CurrentFormtemplateKey: CurrentFormtemplateKey, CurrentFormtemplateName: CurrentFormtemplateName, NextOrganisationKey: NextOrganisationKey, CurrentOrganisationKey: CurrentOrganisationKey });

            </text>
             }
        }



        function GoToInstanceForm(formkey) {
            window.location = '@Url.Action("FormInstance", "Home")/' + "?formKey=" + formkey;
        }

        function getnotification() {




            var html = "";
            html += '<div class="item" onclick="goToMyClaim("1")" >'
            html += '<i class="notification-icon icmn-star-full"></i>';
            html += '<div class="inner">';
            html += '<div class="title">';
            html += '<span class="pull-right">now</span>';
            html += '<a>إستمارة جديدة : <span class="label label-danger font-weight-700">New</span></a>'
            html += '</div>';
            html += '<div class="descr">';
            html += 'asdasdsad';

            html += '</div> </div> </div>';




            $("#notificationsbar").append(html);





            @*$.ajax({
                type: 'GET',
                url: '@Url.Action("GetNotifications", "MyClaim")',

                data: {
                },
                dataType: 'text',
                success: function (result) {

                    //var test = JSON.parse(result);
                    ////console.log(test);
                    //$.each(test, function (index, value) {

                        //var html = "";
                        //html += '<div class="item" onclick="goToMyClaim("1")" >'
                        //html += '<i class="notification-icon icmn-star-full"></i>';
                        //html += '<div class="inner">';
                        //html += '<div class="title">';
                        //html += '<span class="pull-right">now</span>';
                        //html += '<a>إستمارة جديدة : <span class="label label-danger font-weight-700">New</span></a>'
                        //html += '</div>';
                        //html += '<div class="descr">';
                        //html += 'asdasdsad';

                        //html += '</div> </div> </div>';




                        //$("#notificationsbar").append(html);


                    //});
                }
            });*@

        }



        $(document).on('click', '.marsad', function () {
            window.location = '@Url.Action("Marsad", "Home")';
        });

        $(document).on('click', '.index', function () {
            window.location = '@Url.Action("Index", "Home")';
        });

        $(document).on('click', '.manbar', function () {
            window.location = '@Url.Action("Manbar", "Home")';
        });



        $(document).on('click', '#gotodashboard', function () {
            window.location = '@Url.Action("Index", "UserDashboard")';
        });
        $("#EmailTab").click(function () {

        });

        $(document).on('click', '#admanagerdashboard', function () {
            window.location = '@Url.Action("AdUsersLandingPage", "Home")';
        });
        function gotoformViews(type, title) {
            if (type == "خارطة الموارد البشرية") {
                submit_post_via_hidden_form("@Url.Action("Index", "ERMEmployees")");
            } else {
                submit_post_via_hidden_form("@Url.Action("AdUsersForms2", "Home")",

            {
                type: type,
                HighlightedPart: title
            }
                    );
            }

        }


        function gotoform(FormTemplateKey, title) {


            @*window.location = '@Url.Action("NewClaimForm", "ClaimForms")/' + "?Organization=" + "1" + "&FormTemplateKey=" + FormTemplateKey + "&ManagerIndex=" + "True";*@

            submit_post_via_hidden_form("@Url.Action("NewClaimForm", "ClaimForms")",

        {
            Organization: "1",
            FormTemplateKey: escape(FormTemplateKey),
            ManagerIndex: "True",
            HighlightedPart: title
        }
                               );
        }


        function adManagerForms(organisationKey, formtype) {
            @*window.location = '@Url.Action("getAdManagerFormsForMoad", "Home")/' + "?ClaimType=" + formtype + "&organisationKey=" + organisationKey;*@

            submit_post_via_hidden_form("@Url.Action("getAdManagerFormsForMoad", "Home")",

        {
            ClaimType: formtype,
            organisationKey: organisationKey,
            HighlightedPart: "Estibanat"
        }
                               );


        }


        function gotomyclaims(ClaimType, title) {
            window.location = '@Url.Action("AdManagersClaims", "Home")/' + "?ClaimType=" + ClaimType;

            submit_post_via_hidden_form("@Url.Action("AdManagersClaims", "Home")",

        {
            ClaimType: ClaimType,
            HighlightedPart: title
        }
                               );
        }




        $("#ProfileButton").click(function () {


            @{
        <text>
            window.location = '@Url.Action("Profile", "Home")';

            </text>
    }
        });

        function gotoNewClaim(FormTemplateKey) {


            @*window.location = '@Url.Action("NewClaimForm", "ClaimForms")/' + "?FormTemplateKey=" + FormTemplateKey;*@
            submit_post_via_hidden_form("@Url.Action("NewClaimForm", "ClaimForms")", { FormTemplateKey: escape(FormTemplateKey), });

        }

        function ReportingPart(Part) {

            submit_post_via_hidden_form("@Url.Action("Index", "Reporting")", { section: Part, HighlightedPart: "Takarir" });

        }


        function Ranking() {
            submit_post_via_hidden_form("@Url.Action("TasnifAlAda2AlSanawi", "Ranking")", {});
            @*submit_post_via_hidden_form("@Url.Action("Index", "Ranking")", {});*@

        }


        function GetRanking() {
            submit_post_via_hidden_form("@Url.Action("TasnifAlAda2AlSanawi", "Ranking")", { description: "GetRanking" });

            @*submit_post_via_hidden_form("@Url.Action("GetRanking", "Ranking")", {});*@

        }


        function LoggingPage() {

            submit_post_via_hidden_form("@Url.Action("Index", "Logging")", { HighlightedPart: "Logging" });

        }

        function GetPublishedRanking() {

            submit_post_via_hidden_form("@Url.Action("GetPublishedRanking", "Ranking")", { HighlightedPart: "Ranking" });

        }


        function ChatPage() {

            submit_post_via_hidden_form("@Url.Action("Index", "ChatPage")", { HighlightedPart: "Chatting" });

        }

        function LogOut() {

            submit_post_via_hidden_form("@Url.Action("LogOff", "Account")", {});

        }

        function SignupToApprove() {

            submit_post_via_hidden_form("@Url.Action("SignupToApprove", "Home")", {});

        }

          function SurveyGenerator() {

            submit_post_via_hidden_form("@Url.Action("Index", "SurveyGenerator")", {});

        }


        function UserRoleOrOrganisation(Type) {
            submit_post_via_hidden_form("@Url.Action("UsersRoles", "Home")", { RolesOrOrganisations: Type, HighlightedPart: "e3dadalmousta5dimin" }, "_blank");
        }

        function submit_post_via_hidden_form(url, params) {
            var f = $("<form method='POST' style='display:none;'></form>").attr({
                action: url
            }).appendTo(document.body);

            for (var i in params) {
                if (params.hasOwnProperty(i)) {
                    $('<input type="hidden" />').attr({
                        name: i,
                        value: params[i]
                    }).appendTo(f);
                }
            }

            f.submit();

            f.remove();
        }


        function SetLog(source, title, message) {
            $.ajax({
                url: '@Url.Action("SetLog", "Home")',
                type: 'GET',
                cache: false,
                dataType: 'text',
                data: ({
                    source: source,
                    title: title,
                    message: message

                }),
                contentType: 'application/json; charset=utf-8',


                success: function (data) {

                    console.log("Logging done !!!!");
                },
                error: function (xhr) {
                    console.log('errorr');
                }
            });
        }







        //$(".player").mb_YTPlayer({
        //    videoURL: videoBackgroundURL,
        //    containment: 'body',
        //    autoPlay: true,
        //    mute: videoMuted,
        //    startAt: 0,
        //    opacity: 1
        //});







        //////////////////////////////////////////////////



    </script>

    @RenderSection("Scripts", false)
</body>
</html>
