﻿<!DOCTYPE html>

<style type="text/css">

    #dropZone{
        border-style: dashed;
        width:90%;
        margin-left:5%;
    }

    #formCreator{
        text-align:center;
        margin-top:10px;
    }

    .page-header .page-header-menu 
    .search-form .input-group 
    .form-control{
        color: #616d7d;
        background: #38414c;
    }

    .page-header .page-header-menu 
    .search-form .input-group 
    .form-control{
        border: 0;
        font-size: 13px;
        padding-right: 20px;
        font-weight: 300;
    }

    .page-header .page-header-menu{    
        background: #444d58;
    }

    .menu-dropdown a {
        color:white;
    }

    a, button, code, div, img, input, label, li, p, pre, select, span, svg, table, td, textarea, th, ul {
        -webkit-border-radius: 0!important;
        -moz-border-radius: 0!important;
        /*border-radius: 0!important;*/
    }

    .page-header{
        background: white;
    }

    .page-content{
        margin-top:0!important;
        padding-top:0px!important;
    }

    .page-header-top{
        background:white;
    }
    
    .page-header .page-header-top .top-menu .navbar-nav>li.dropdown .separator, .page-header .page-header-top .top-menu .navbar-nav>li.dropdown-separator .separator {
        border-left: 1px solid #E3E8EC;
    }


    .page-header .page-header-top .top-menu .navbar-nav>li.dropdown-separator .separator {
        float: left;
        display: inline-block;
        width: 1px;
        height: 18px;
        margin-left: 5px;
        margin-top: 17px;
    }

    a, button, code, div, img, input, label, li, p, pre, select, span, svg, table, td, textarea, th, ul {
        -webkit-border-radius: 0!important;
        -moz-border-radius: 0!important;
        /*border-radius: 0!important;*/
    }

    .page-header .page-header-top .top-menu .navbar-nav>li.dropdown {
        margin: 0;
        padding: 0 4px;
        height: 50px;
        display: inline-block;
    }

    .nav>li, .nav>li>a{
        position:relative;
    }

    .navbar-nav>li{
        float:left;
    }
    
    .quick-nav-child {
        position: fixed;
        z-index: 10103;
        /*top: 199px;*/
        top: 32%;
        /*right: 10px;*/
        margin-top: -80px;
        /*margin-top: -230px;*/
        /*pointer-events: none;*/
    }
    
    .quick-nav {
        position: fixed;
        z-index: 10103;
        /*top: 199px;*/
        top: 32%;
        /*right: 10px;*/
        margin-top: -80px;
        /*margin-top: -230px;*/
        pointer-events: none;
    }

    .quick-nav-trigger {
        position: absolute;
        z-index: 10103;
        top: 0;
        left: 0;
        height: 60px;
        width: 60px;
        border-radius: 50%!important;
        overflow: hidden;
        white-space: nowrap;
        color: transparent;
    }


    .quick-nav .quick-nav-bg {
        position: absolute;
        z-index: 10102;
        top: 0;
        left: 0;
        width: 60px;
        height: 60px;
        border-radius: 30px!important;
        background: #36C6D3;
        box-shadow: 0 1px 4px rgba(0,0,0,.2);
        transition:height .2s,box-shadow .2s;
    }

    .menu-dropdown.classic-menu-dropdown.active{
        background-color:#4E5966;
    }

    .menu-dropdown.classic-menu-dropdown:hover ul{
        display:block;
    }

    .menu-dropdown.classic-menu-dropdown ul{
        display:none;
    }

    .page-content-inner{
        background: white;
        min-height:400px;
    }

    .nav-link.active{
        background-color:#5D6B7B!important;
    }
</style>

<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")


    <link rel="apple-touch-icon" sizes="57x57" href="~/FavIcon/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="~/FavIcon/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="~/FavIcon/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="~/FavIcon/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="~/FavIcon/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="~/FavIcon/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="~/FavIcon/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="~/FavIcon/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="~/FavIcon/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192" href="~/FavIcon/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="~/FavIcon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="~/FavIcon/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="~/FavIcon/favicon-16x16.png">
    <link rel="manifest" href="~/FavIcon/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="~/FavIcon/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">


    <link href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700&subset=all" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/Css/default.min.css")" rel="stylesheet" type="text/css" id="style_color" />
    <link href="@Url.Content("~/Content/Css/font-awesome.min.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/Css/simple-line-icons.min.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/Css/bootstrap.min.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/Css/bootstrap-switch.min.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/Css/daterangepicker.min.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/Css/morris.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/Css/fullcalendar.min.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/Css/jqvmap.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/Css/components.min.css")" rel="stylesheet" id="style_components" type="text/css" />
    <link href="@Url.Content("~/Content/Css/plugins.min.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/Css/layout.min.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/Css/select2.min.css")" rel="stylesheet" type="text/css" />

</head>
<body>
    <div class="page-wrapper-row">
        <div class="page-wrapper-top">
            <div class="page-header">
                @*<div class="page-header-top">
                    <div class="container">
                        <div class="page-logo" style="float:right;position: relative;right: 15%;">
                            <h1 style="color:#3CC6D4; font-size:2.5rem; padding-top:12%;" dir="rtl">
                                الادارة
                            </h1>
                        </div>
                        <a href="javascript:;" class="menu-toggler"></a>
                        <div class="top-menu" style="float:right;position:relative;right:70%;">
                            <ul class="nav navbar-nav pull-right">
                                <li class="dropdown dropdown-extended dropdown-notification dropdown-dark" id="header_notification_bar">
                                    <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
                                        <i class="icon-bell"></i>
                                        <span class="badge badge-default" id="notificationnumber">0</span>
                                    </a>
                                    <ul class="dropdown-menu">
                                        <li class="external">
                                          
                                        </li>
                                        <li>
                                            <ul class="dropdown-menu-list scroller" id="notificationsbar" style="height: 250px;" data-handle-color="#637283">
                                               
                                            </ul>
                                        </li>
                                    </ul>
                                </li>


                                <li class="droddown dropdown-separator" style="margin-top:10px;">
                                    <span class="separator"></span>
                                </li>


                                <li class="dropdown dropdown-user dropdown-dark">
                                    <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
                                        <img alt="" class="img-circle" src="@Url.Content("~/Images/avatar9.jpg")">
                                        <span class="username username-hide-mobile" dir="rtl">كريم </span>
                                    </a>
                                    <ul class="dropdown-menu dropdown-menu-default" style="float:right">
                                        <li>
                                            <a href="page_user_profile_1.html">
                                                <i class="icon-user" dir="rtl"></i> ملفي
                                            </a>
                                        </li>
                                        <li>
                                            <a href="app_calendar.html">
                                                <i class="icon-calendar" dir="rtl"></i> تقويمي
                                            </a>
                                        </li>
                                        <li>
                                            <a href="app_inbox.html" dir="rtl">
                                                <i class="icon-envelope-open" dir="rtl"></i> رسائلي
                                                <div style="float:left">  <span class="badge badge-danger"> 3 </span></div> 
                                            </a>
                                        </li>
                                        <li>
                                            <a href="app_todo_2.html" dir="rtl">
                                                <i class="icon-rocket" dir="rtl"></i> مهامي
                                                <div style="float:left"> <span class="badge badge-success"> 7 </span></div>
</a>
                                        </li>
                                        <li class="divider"> </li>
                                        <li>
                                            <a href="page_user_lock_1.html" dir="rtl">
                                                <i class="icon-lock" dir="rtl"></i> اقفل الشاشة
                                            </a>
                                        </li>
                                        <li class="logout">
                                            <a  dir="rtl">
                                                <i class="icon-key" dir="rtl"></i> الخروج
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </div>

                    </div>
                </div>*@

                <div class="page-header-menu">
                    <div class="container">

                        <form class="search-form pull-right" action="page_general_search.html" method="GET" style="width:25%;margin-top:8px;position:relative;right:70%;">
                            <div class="input-group">
                                <input type="text" class="form-control" placeholder="ابحث" name="query" dir="rtl">
                                <span class="input-group-btn">
                                    <a href="javascript:;" class="btn submit">
                                        <i class="icon-magnifier"></i>
                                    </a>
                                </span>
                            </div>
                        </form>

                        <div class="hor-menu  " style="float:right;position: relative;left: 10%;">

@*@if (User.IsInRole("AD Manager"))
            {*@
                            <ul class="nav navbar-nav">
                                <li aria-haspopup="true" class="menu-dropdown classic-menu-dropdown active">
                                    <a href="javascript:;" dir="rtl">
                                        إستمارات
                                        <span class="arrow"></span>
                                    </a>
                                    <ul class="dropdown-menu pull-left" style="background-color:#4E5966;">
                                        <li id="newforms" aria-haspopup="true" class="active">
                                            <a  class="nav-link  active">
                                                <i id="drag1" class="fa fa-file-o" aria-hidden="true" style="color:#337ab7"></i>
                                                <span style="color:darkgrey" dir="rtl">إستمارة جديدة</span>
                                            </a>
                                        </li>
                                        <li id="viewforms" aria-haspopup="true">
                                            <a class="nav-link  ">
                                                <i class="fa fa-bars" aria-hidden="true" style="color:#337ab7"></i> 
                                                <span style="color:darkgrey" dir="rtl">رؤية لإستمارة</span>
                                            </a>
                                        </li>
                                        <li aria-haspopup="true">
                                            <a  class="nav-link  ">
                                                <i class="fa fa-tag" aria-hidden="true" style="color:#337ab7"></i> 
                                                <span style="color:darkgrey" dir="rtl">الفئات</span>

                                            </a>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
        
                <ul class="nav navbar-nav" id="usermanagement" >
                    <li aria-haspopup="true" class="menu-dropdown classic-menu-dropdown active">
                        <a>
                            @*User Management*@إدارة المستخدم
                            <span class="arrow"></span>
                        </a>
                    </li>
                </ul>

          @*}*@                  
                            
                            
                                  

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="body-content">
        @RenderBody()
        <hr />
        @*<footer style="position:fixed;bottom:0;left:0;width:100%;">
            <p style="margin-left:15px;">Developed by Global Learning - مشروع وزارة التنمية  ٢٠١٧</p>
        </footer>*@
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)

  

    <script src="@Url.Content("~/Scripts/Metronic/js.cookie.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/Metronic/jquery.slimscroll.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/Metronic/jquery.blockui.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/Metronic/bootstrap-switch.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/bootbox.min.js")"></script>


    <script src="@Url.Content("~/Scripts/Metronic/moment.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/Metronic/morris.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/Metronic/raphael-min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/Metronic/jquery.waypoints.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/Metronic/jquery.counterup.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/Metronic/fullcalendar.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/Metronic/jquery.flot.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/Metronic/jquery.flot.resize.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/Metronic/jquery.flot.categories.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/Metronic/jquery.easypiechart.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/Metronic/jquery.sparkline.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/Metronic/jquery.vmap.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/Metronic/app.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/Metronic/dashboard.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/Metronic/layout.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/Metronic/demo.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/Metronic/quick-sidebar.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/Metronic/quick-nav.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/select2.min.js")" type="text/javascript"></script>

  
    <script src="@Url.Content("~/Scripts/jquery.signalR-2.2.2.min.js")"></script>
    <script src="@Url.Content("~/signalr/hubs")"></script>


    
    <script>


        $(function () {

            var chat = $.connection.chatHub;


            chat.client.addNewMessageToPage = function (name, message) {



                @if (User.IsInRole("AD Manager"))
                  {

                      <text>
                $("#notificationnumber").text("1");


     getnotification();

                      </text>

                  }
        
            }

            $.connection.hub.start().done(function () {

            });
        });
        var AnswerIndex = 1;


        $(document).ready(function () {

            $('#clickmewow').click(function () {
                $('#radio1003').attr('checked', 'checked');
            });
        });

        $(document).on('click', '.quick-nav li a', function () {
            var elementNumber = $(this).attr("data-elementNumber");
            $("#quickNavChild" + elementNumber).toggle();
        });

        var i = 0;
        var formid ="formid";
        $(document).on("click", "#ValidateForm", function () {

            if (formid === "formid") {
                createformtemplate();
            }
            var question = "";
            var questionzone = $(this).parent().prev();

            try {
                 question = $(questionzone).find(".header")[0].innerText;

            } catch (err) {

            }
            var answerstext = [];
            var FormElementKeys = [];

            var answers = $(questionzone).find(".checkboxradio, .uploadfile, .userinput, .freetext , .dropdown, .userbutton ");


            for (j = 0; j < answers.length; j++) {
                
                if (answers[j].classList.contains("checkbox")) {
                    answerstext.push(answers[j].innerText)
                    FormElementKeys.push(2);
                }
                if (answers[j].classList.contains("radiobox")) {
                    answerstext.push(answers[j].innerText)

                    FormElementKeys.push(3);
                }

                if (answers[j].classList.contains("uploadfile")) {
                    answerstext.push(answers[j].innerText)

                    FormElementKeys.push(4);
                }

                if (answers[j].classList.contains("userinput")) {
                    answerstext.push("")
                    FormElementKeys.push(12);
                }

                if (answers[j].classList.contains("freetext")) {
                    answerstext.push(answers[j].innerText)

                    FormElementKeys.push(10);
                }

                if (answers[j].classList.contains("dropdown")) {
                     var dropdownsanswers = answers[j].value.split(";");                  
                     for (K = 0 ; K < dropdownsanswers.length; K++) {
                         answerstext.push(dropdownsanswers[K])
                         FormElementKeys.push(11);
                     }    
                }
                if (answers[j].classList.contains("userbutton")) {
                    answerstext.push(answers[j].innerText)
                    FormElementKeys.push(13);                 
                }
            }

            setTimeout(function () {
                createquestion(question, answerstext, FormElementKeys, formid);
            }, 5000);


            $(".expandcube").css("display", "none");
            $(".closeCube").css("display", "none");
            var dropzone = "<div id='dropZone"+i+"' class='col-md-12 col-lg-12 col-xs-12' style='height:245px;max-height:2400px;border-style: dashed;margin-top:10px;margin-left:5%;width:90%'>";
            dropzone += "<div class='row line"+ i +"' style='height:80px'>";
            dropzone += "<div id='div1t" + i + "'  class='cubes col-lg-2'  ondrop='drop(event,this)' data-value='2' ondragover='allowDrop(event,this)'><i class='fa fa-times closeCube' style='float:left;margin-top:10px;display:none;cursor:pointer'></i> <i class='fa fa-plus expandcube' style='float:left;margin-top:11px;cursor:pointer;display:none'></i></div>";
            dropzone += " <div id='div2t" + i + "' class='cubes col-lg-2' ondrop='drop(event,this)' data-value='2' ondragover='allowDrop(event,this)'><i class='fa fa-times closeCube' style='float:left;margin-top:10px;display:none;cursor:pointer'></i> <i class='fa fa-plus expandcube' style='float:left;margin-top:11px;cursor:pointer;display:none'></i></div>";
            dropzone += " <div id='div3t" + i + "' class='cubes col-lg-2' ondrop='drop(event,this)' data-value='2' ondragover='allowDrop(event,this)' ><i class='fa fa-times closeCube' style='float:left;margin-top:10px;display:none;cursor:pointer'></i> <i class='fa fa-plus expandcube' style='float:left;margin-top:11px;cursor:pointer;display:none'></i></div>";
            dropzone += " <div id='div4t" + i + "' class='cubes col-lg-2' ondrop='drop(event,this)' data-value='2' ondragover='allowDrop(event,this)' ><i class='fa fa-times closeCube' style='float:left;margin-top:10px;display:none;cursor:pointer'></i> <i class='fa fa-plus expandcube' style='float:left;margin-top:11px;cursor:pointer;display:none'></i></div>";
            dropzone += " <div id='div5t" + i + "' class='cubes col-lg-2' ondrop='drop(event,this)' data-value='2' ondragover='allowDrop(event,this)' ><i class='fa fa-times closeCube' style='float:left;margin-top:10px;display:none;cursor:pointer'></i> <i class='fa fa-plus expandcube' style='float:left;margin-top:11px;cursor:pointer;display:none'></i></div>";
            dropzone += " <div id='div6t" + i + "' class='cubes col-lg-2' ondrop='drop(event,this)' data-value='2' ondragover='allowDrop(event,this)' ><i class='fa fa-times closeCube' style='float:left;margin-top:10px;display:none;cursor:pointer'></i> <i class='fa fa-plus expandcube' style='float:left;margin-top:11px;cursor:pointer;display:none'></i></div>";
            dropzone += "</div>";
            dropzone += "<div class='row line" + i + "' style='height:80px'>";
            dropzone += "<div id='div7t" + i + "'  class='cubes col-lg-2'  ondrop='drop(event,this)' data-value='2' ondragover='allowDrop(event,this)'><i class='fa fa-times closeCube' style='float:left;margin-top:10px;display:none;cursor:pointer'></i> <i class='fa fa-plus expandcube' style='float:left;margin-top:11px;cursor:pointer;display:none'></i></div>";
            dropzone += " <div id='div8t" + i + "' class='cubes col-lg-2' ondrop='drop(event,this)' data-value='2' ondragover='allowDrop(event,this)'><i class='fa fa-times closeCube' style='float:left;margin-top:10px;display:none;cursor:pointer'></i> <i class='fa fa-plus expandcube' style='float:left;margin-top:11px;cursor:pointer;display:none'></i></div>";
            dropzone += " <div id='div9t" + i + "' class='cubes col-lg-2' ondrop='drop(event,this)' data-value='2' ondragover='allowDrop(event,this)' ><i class='fa fa-times closeCube' style='float:left;margin-top:10px;display:none;cursor:pointer'></i> <i class='fa fa-plus expandcube' style='float:left;margin-top:11px;cursor:pointer;display:none'></i></div>";
            dropzone += " <div id='div10t" + i + "' class='cubes col-lg-2' ondrop='drop(event,this)' data-value='2' ondragover='allowDrop(event,this)' ><i class='fa fa-times closeCube' style='float:left;margin-top:10px;display:none;cursor:pointer'></i> <i class='fa fa-plus expandcube' style='float:left;margin-top:11px;cursor:pointer;display:none'></i></div>";
            dropzone += " <div id='div11t" + i + "' class='cubes col-lg-2' ondrop='drop(event,this)' data-value='2' ondragover='allowDrop(event,this)' ><i class='fa fa-times closeCube' style='float:left;margin-top:10px;display:none;cursor:pointer'></i> <i class='fa fa-plus expandcube' style='float:left;margin-top:11px;cursor:pointer;display:none'></i></div>";
            dropzone += " <div id='div12t" + i + "' class='cubes col-lg-2' ondrop='drop(event,this)' data-value='2' ondragover='allowDrop(event,this)' ><i class='fa fa-times closeCube' style='float:left;margin-top:10px;display:none;cursor:pointer'></i> <i class='fa fa-plus expandcube' style='float:left;margin-top:11px;cursor:pointer;display:none'></i></div>";
            dropzone += "</div>";
            dropzone += "<div class='row line" + i + "' style='height:80px'>";
            dropzone += "<div id='div13t" + i + "'  class='cubes col-lg-2'  ondrop='drop(event,this)' data-value='2' ondragover='allowDrop(event,this)'><i class='fa fa-times closeCube' style='float:left;margin-top:10px;display:none;cursor:pointer'></i> <i class='fa fa-plus expandcube' style='float:left;margin-top:11px;cursor:pointer;display:none'></i></div>";
            dropzone += " <div id='div14t" + i + "' class='cubes col-lg-2' ondrop='drop(event,this)' data-value='2' ondragover='allowDrop(event,this)'><i class='fa fa-times closeCube' style='float:left;margin-top:10px;display:none;cursor:pointer'></i> <i class='fa fa-plus expandcube' style='float:left;margin-top:11px;cursor:pointer;display:none'></i></div>";
            dropzone += " <div id='div15t" + i + "' class='cubes col-lg-2' ondrop='drop(event,this)' data-value='2' ondragover='allowDrop(event,this)' ><i class='fa fa-times closeCube' style='float:left;margin-top:10px;display:none;cursor:pointer'></i> <i class='fa fa-plus expandcube' style='float:left;margin-top:11px;cursor:pointer;display:none'></i></div>";
            dropzone += " <div id='div16t" + i + "' class='cubes col-lg-2' ondrop='drop(event,this)' data-value='2' ondragover='allowDrop(event,this)' ><i class='fa fa-times closeCube' style='float:left;margin-top:10px;display:none;cursor:pointer'></i> <i class='fa fa-plus expandcube' style='float:left;margin-top:11px;cursor:pointer;display:none'></i></div>";
            dropzone += " <div id='div17t" + i + "' class='cubes col-lg-2' ondrop='drop(event,this)' data-value='2' ondragover='allowDrop(event,this)' ><i class='fa fa-times closeCube' style='float:left;margin-top:10px;display:none;cursor:pointer'></i> <i class='fa fa-plus expandcube' style='float:left;margin-top:11px;cursor:pointer;display:none'></i></div>";
            dropzone += " <div id='div18t" + i + "' class='cubes col-lg-2' ondrop='drop(event,this)' data-value='2' ondragover='allowDrop(event,this)' ><i class='fa fa-times closeCube' style='float:left;margin-top:10px;display:none;cursor:pointer'></i> <i class='fa fa-plus expandcube' style='float:left;margin-top:11px;cursor:pointer;display:none'></i></div>";
            dropzone += "</div>";
            dropzone += "</div>";


            $("#dropZone").css("border-style", "none");
            var drop = "dropZone" + (i - 1);
            $("#" + drop).css("border-style", "none");
            var currentParentHeight = $("#dropZone").parent().parent().height();
            var newParentHeight = currentParentHeight + 400;
            $("#dropZone").parent().parent().css("height", newParentHeight + "px");
            $('div#dropZone *').removeAttr('ondrop');
            $('div#dropZone *').removeAttr('ondragover');
            $('div#' + drop +" " +'*').removeAttr('ondrop');
            $('div#' + drop + " " + '*').removeAttr('ondragover');
            i++;
            refreshforms();
            $("#Headerdrag").css("cursor", "pointer");
            $("#Headerdrag").attr("draggable", "true");

            $("#formCreator").before(dropzone);
        });





        function createquestion(questionvalue, answerstext, FormElementKeys, formid) {
            $.ajax({
                url: '@Url.Action("CreateQuestion", "Forms")',
                type: "POST",
                cache: false,

                data: function () {
                    var data = new FormData();
                    data.append("questionvalue", questionvalue);
                    data.append("answerstext", answerstext);
                    data.append("FormElementKeys", FormElementKeys);
                    data.append("formid", formid);
                    data.append("AnswerIndex", AnswerIndex);

                    return data;
                }(),

                contentType: false,
                processData: false,

                success: function (response) {
                    AnswerIndex++;

                },
                error: function (xhr) {
                }
            });



        }

        $(document).on("click", "#CancelForm", function () {
            refreshforms();
            $("#Headerdrag").css("cursor", "pointer");
            $("#Headerdrag").attr("draggable", "true");
            

            $('.closeCube [style*="display:block"]').click()

            $(this).parent().prev().find(".itemtodrop").remove();

            
            $(this).parent().prev().find(".expandcube").css("display","none");
            $(this).parent().prev().find(".closeCube").css("display", "none");

        });

        var j = 0;
        $(document).on('click', '.closeCube', function () {
            
            var parentid = $(this).parent().parent().parent()[0].id;
            var cubeextanded = $(this).parent().attr("data-value");
            var cubenumber = Number(cubeextanded) / 2;
            for (k = 0; k < cubenumber;k++){
                var createcube = " <div id='divp" + j + "' class='cubes col-lg-2' ondrop='drop(event,this)' style='height:80px;border:1px solid' data-value='2' ondragover='allowDrop(event,this)' > <i class='fa fa-plus expandcube' style='float:left;margin-top:11px;cursor:pointer;display:none; margin-right:7px;'></i><i class='fa fa-times closeCube' style='float:left;margin-top:10px;display:none;cursor:pointer'></i> </div>";
            j++;
            $(this).parent().after(createcube);
            }
            $(this).parent().remove();

            if ($("#" + parentid).find(".checkboxradio").length == 0) {
                refreshforms();
            }
            if ($("#" + parentid).find(".header").length == 0) {
                $("#Headerdrag").css("cursor", "pointer");
                $("#Headerdrag").attr("draggable", "true");
            }
        });

        $(document).on('click', '.expandcube', function () {

            if ($(this).parent().prev().find(".itemtodrop").length <= 0) {
                $(this).parent().prev().remove();
                var totalrowsize = 0;
                var cubenumber = $(this).parent().attr("data-value");
                var newcubenumber = Number(cubenumber) + 2;
                $(this).parent().parent().children().each(function (n, i) {
                    totalrowsize += Number($(i).attr("data-value"))
                });

                if (totalrowsize + 2 <= 12) {
                    $(this).parent().removeClass("col-lg-" + cubenumber).addClass("col-lg-" + newcubenumber);
                    $(this).parent().attr("data-value", newcubenumber);
                }
            }
        });

        function refreshforms() {

            $("#Radioboxdrag").attr("draggable", "true");
            $("#Radioboxdrag").css("cursor", "pointer");
            $("#Checkboxdrag").attr("draggable", "true");
            $("#Checkboxdrag").css("cursor", "pointer");             
        }

        function createformtemplate() {
            var name = $("#TemplateName").text();
            var TemplateTypetype = $("#TemplateType").text();
            var description = $("#TemplateDescription").text();
            $.ajax({
                type: 'GET',
                url: '@Url.Action("CreateNewFormTemplate", "Forms")',

                data: {
                    name: name,
                    description: description,
                    formTemplateType: TemplateTypetype
                    //formTemplateType: "Claim",
                },
                dataType: 'text',
                success: function (result) {
                    formid = result;
                }
            });
        }

        function viewTemplate(TemplateKey) {
            $.ajax({
                type: 'GET',
                url: '@Url.Action("GetQuestions", "FormTemplatesDisplay")',
                data:{
                    TemplateKey: TemplateKey,
                },
                dataType: 'json',
                success: function (result) {
                    $("#formContainer").toggle('slow');
                    $("#template").toggle('slow');

                    //console.log(result);
                    var i = 0;

                    $.each(result, function (index, value) {
                        
                        //<h2 dir="rtl" class="itemtodrop header" contenteditable="true" style="float:right;margin-left: 10px;">Header</h2>
                        var question = '<h2 dir="rtl" class="itemtodrop header" contenteditable="true" style="float:right;margin-left: 10px;"> '+ value.QuestionValue + '</h2>';
                        var dropzone = "<div class='fa-hover col-lg-12'   style='cursor:pointer;'>";
                        dropzone += "<i onclick='editquestion(this," + i + ")' style='float:right' class='fa fa-pencil-square-o' aria-hidden='true'></i>";
                        dropzone += "<a  class='btn btn-sm red' style='margin-right:10px;display:none;float:right'> Cancel</a>"
                        dropzone += "<a  class='btn btn-sm default' style='display:none;float:right'> Save</a>"

                       
                        

                        dropzone += "</div>";
                         dropzone += "<div id='dropZone" + i + "' class='col-md-12 col-lg-12 col-xs-12' style='height:245px;max-height:2400px;margin-top:10px;margin-left:5%;width:90%'>";
                        dropzone += "<div class='row line" + i + "' style='height:80px'>";
                        dropzone += " <div id='div3t" + i + "' class='cubes col-lg-12' style='height:80px' ondrop='drop(event,this)' data-value='12' ondragover='allowDrop(event,this)'><i class='fa fa-times closeCube' style='float:left;margin-top:10px;display:none;cursor:pointer'></i> <i class='fa fa-plus expandcube' style='float:left;margin-top:11px;cursor:pointer;display:none'></i> " + question + "  </div>";
                        dropzone += "</div>";
                       
                        var answers="";
                        $.each(value.Answers, function (index1, value1) {
                            //console.log(value1);
                            if (value1.FormElementFileExtensionName != "FileUpload") {

                                if (value1.FormElementFileExtensionName === "FreeText") {
                                    var fillanswevalue = $(value1.FormElementFileExtensionHTMLCode);
                                    fillanswevalue[0].innerText = value1.AnswerValue;
                                    fillanswevalue[0].contentEditable = "False";
                                    answers += fillanswevalue[0].outerHTML;
                                }

                                if (value1.FormElementFileExtensionName === "Checkbox") {
                                    var fillanswevalue = $(value1.FormElementFileExtensionHTMLCode);
                                    fillanswevalue[0].children[0].innerText = value1.AnswerValue;
                                    fillanswevalue[0].children[0].contentEditable = "false";
                                    answers += fillanswevalue[0].outerHTML;
                                }

                                if (value1.FormElementFileExtensionName === "Radiobox") {
                                    var fillanswevalue = $(value1.FormElementFileExtensionHTMLCode);
                                    fillanswevalue[0].children[0].innerText = value1.AnswerValue;
                                    fillanswevalue[0].children[0].contentEditable = "false";
                                    answers += fillanswevalue[0].outerHTML;
                                }
                                if (value1.FormElementFileExtensionName === "DropDown") {
                                    console.log(value1);

                                    var drodpwnsvalue = value1.AnswerValue.split(';');
                                    console.log(drodpwnsvalue);
                                    var html = "<select style='float:right;margin-top:25px'>";
                                    for (i = 0; i < drodpwnsvalue.length; i++) {

                                        html += "<option>" + drodpwnsvalue[i]+ "</option>"

                                    }
                                    html += "<select>";
                                    answers += html;

                                }
                                    }
                                    else {
                                        answers += value1.FormElementFileExtensionHTMLCode;                                       
                                       }  
                         
                        });

                        dropzone += "<div class='row line" + i + "' style='height:80px'>";
                        dropzone += "<div id='div7t" + i + "'  class='cubes col-lg-2' style='height:80px'  ondrop='drop(event,this)' data-value='2' ondragover='allowDrop(event,this)'><i class='fa fa-times closeCube' style='float:left;margin-top:10px;display:none;cursor:pointer'></i> <i class='fa fa-plus expandcube' style='float:left;margin-top:11px;cursor:pointer;display:none'></i></div>";
                        dropzone += " <div id='div8t" + i + "' class='cubes col-lg-2' style='height:80px' ondrop='drop(event,this)' data-value='2' ondragover='allowDrop(event,this)'><i class='fa fa-times closeCube' style='float:left;margin-top:10px;display:none;cursor:pointer'></i> <i class='fa fa-plus expandcube' style='float:left;margin-top:11px;cursor:pointer;display:none'></i></div>";
                        dropzone += " <div id='div11t" + i + "' class='cubes col-lg-8' style='height:80px' ondrop='drop(event,this)' data-value='8' ondragover='allowDrop(event,this)' ><i class='fa fa-times closeCube' style='float:left;margin-top:10px;display:none;cursor:pointer'></i> <i class='fa fa-plus expandcube' style='float:left;margin-top:11px;cursor:pointer;display:none'></i>" + answers + "</div>";
                        dropzone += "</div>";
                        dropzone += "<div class='row line" + i + "' style='height:80px'>";
                        dropzone += "<div id='div13t" + i + "'  class='cubes col-lg-2' style='height:80px'  ondrop='drop(event,this)' data-value='2' ondragover='allowDrop(event,this)'><i class='fa fa-times closeCube' style='float:left;margin-top:10px;display:none;cursor:pointer'></i> <i class='fa fa-plus expandcube' style='float:left;margin-top:11px;cursor:pointer;display:none'></i></div>";
                        dropzone += " <div id='div14t" + i + "' class='cubes col-lg-2' style='height:80px' ondrop='drop(event,this)' data-value='2' ondragover='allowDrop(event,this)'><i class='fa fa-times closeCube' style='float:left;margin-top:10px;display:none;cursor:pointer'></i> <i class='fa fa-plus expandcube' style='float:left;margin-top:11px;cursor:pointer;display:none'></i></div>";
                        dropzone += " <div id='div15t" + i + "' class='cubes col-lg-2' style='height:80px' ondrop='drop(event,this)' data-value='2' ondragover='allowDrop(event,this)' ><i class='fa fa-times closeCube' style='float:left;margin-top:10px;display:none;cursor:pointer'></i> <i class='fa fa-plus expandcube' style='float:left;margin-top:11px;cursor:pointer;display:none'></i></div>";
                        dropzone += " <div id='div16t" + i + "' class='cubes col-lg-2' style='height:80px' ondrop='drop(event,this)' data-value='2' ondragover='allowDrop(event,this)' ><i class='fa fa-times closeCube' style='float:left;margin-top:10px;display:none;cursor:pointer'></i> <i class='fa fa-plus expandcube' style='float:left;margin-top:11px;cursor:pointer;display:none'></i></div>";
                        dropzone += " <div id='div17t" + i + "' class='cubes col-lg-2' style='height:80px' ondrop='drop(event,this)' data-value='2' ondragover='allowDrop(event,this)' ><i class='fa fa-times closeCube' style='float:left;margin-top:10px;display:none;cursor:pointer'></i> <i class='fa fa-plus expandcube' style='float:left;margin-top:11px;cursor:pointer;display:none'></i></div>";
                        dropzone += " <div id='div18t" + i + "' class='cubes col-lg-2' style='height:80px' ondrop='drop(event,this)' data-value='2' ondragover='allowDrop(event,this)' ><i class='fa fa-times closeCube' style='float:left;margin-top:10px;display:none;cursor:pointer'></i> <i class='fa fa-plus expandcube' style='float:left;margin-top:11px;cursor:pointer;display:none'></i></div>";
                        dropzone += "</div>";
                        dropzone += "</div>";
                        i++;
                  
                        $("#templatecontent").append(dropzone);
                        $("#templatecontent").append('<div class="col-lg-12"> <hr class="doubleLine"> </div>');

                    });

                  
         

                }
            });
        }

        $(document).on('click', '#backtotemplates', function () {

            $("#formContainer").toggle('slow');
            $("#template").toggle('slow');
            $("#templatecontent").html('');

//            var chat = $.connection.chatHub;

//            $.connection.hub.start().done(function () {
//                chat.server.send("", "");

//});




        });

        $(document).on('click', '#viewforms', function () {
            window.location = '@Url.Action("Index", "FormTemplatesDisplay")';

        });


        $(document).on('click', '#newforms', function () {
            window.location = '@Url.Action("Index", "Forms")';

        });


        function editquestion(editbutton,dropzoneide) {


            //console.log(editbutton);
            $(editbutton).next().css("display", "block");
            $(editbutton).next().next().css("display", "block");

            $("#dropZone" + dropzoneide).css("border-style", "dashed");

            //$("#dropZone" + dropzoneide).find(".cubes").css("height","80px !important");
            $("#dropZone" + dropzoneide).find(".cubes").css("border", "1px solid");

            var itemtoedit = $("#dropZone" + dropzoneide).find(".cubes").find(".itemtodrop");
            
            $.each(itemtoedit, function (index1, value1) {
                $(value1).prev().css("display", "block");
                $(value1).prev().prev().css("display", "block");

            });
        }

    </script>



    <script type="text/javascript">
        var objecttodrag;
        var objecttodragparent;

        function allowDrop(ev, div) {
            $(".cubes").css("background-color", "#ffffff");
            div.style.backgroundColor = 'grey';

            ev.preventDefault();
        }

        function drag(ev, element) {
            objecttodrag = $(element).attr("data-value");
            ev.dataTransfer.setData("text", ev.target.id);
        }

        function drop(ev, div) {
            ev.preventDefault();
            $(div).find(".closeCube").css("display", "block");
            $(div).find(".expandcube").css("display", "block");

            var data = ev.dataTransfer.getData("text");
            console.log(data);

            if (data == "Headerdrag") {
                $("#Headerdrag").attr("draggable", "false");
                $("#Headerdrag").css("cursor", "not-allowed");
            }

            if (data == "Checkboxdrag") {
                $("#Radioboxdrag").attr("draggable", "false");
                $("#Radioboxdrag").css("cursor", "not-allowed");
            }

            if (data == "Radioboxdrag") {
                $("#Checkboxdrag").attr("draggable", "false");
                $("#Checkboxdrag").css("cursor", "not-allowed");
            }
            var element = "";
            var formCreator = "<div id='formCreator' class='col-md-12 col-xs-12 col-lg-12' style='height:30px;margin-bottom:10px;'>";
            formCreator += "<button id='ValidateForm' type='button' class='btn btn-success'>Validate</button>";
            formCreator += "<button id='CancelForm' type='button' class='btn btn-danger'>Cancel</button>";
            formCreator += "</div>";
            if (!$("#dropZone").parent().find("#formCreator").length) {
                $("#dropZone").after(formCreator);
            }

            $("#" + ev.path[0].id).append(objecttodrag);
            $(".cubes").css("background-color", "#ffffff");



            if (data == "DropDowndrag") {



            }

        }

        function ProductImage(file) {
            var selectedFile = event.target.files[0];
            var reader = new FileReader();
            var imgtag = $(file).parent().parent().find('.fileupload')[0];
            reader.onload = function () {
                imgtag.src = event.target.result;
            };
            reader.readAsDataURL(selectedFile);
        }

        function saveform() {
            alert(formid);
            $.ajax({
                type: 'GET',
                url: '@Url.Action("SaveForm", "Forms")',

                data: {
                    FormId: formid,

                },
                dataType: 'text',
                success: function (result) {
                    bootbox.alert("Form Created");

                }
            });


        }

        $(document).on('click', '#usermanagement', function () {
            window.location = '@Url.Action("UserManagement", "Home")';

        });

        $(document).on('click', '.logout', function () {
            window.location = '@Url.Action("LogOff", "Account")';

        });



        $(document).ready(function () {
            @if (User.IsInRole("AD Manager"))
             {
                             <text>
            getnotification();

                        </text>

             }
        });

        function getnotification() {

            $.ajax({
                type: 'GET',
                url: '@Url.Action("GetNotifications", "MyClaim")',

                data: {
                },
                dataType: 'text',
                success: function (result) {

                    var test = JSON.parse(result);
                    //console.log(test);
                    $.each(test, function (index, value) {

                        @*onclick = "goToMyClaim(@form.FormKey)"*@



                        var html = "";
                        html += '<li onclick="goToMyClaim(' + value.FormKey + ')">';
                        html += '<a>';
                        html += '<span class="time">just now</span>';
                        html += '<span class="details">';
                        html += '<span class="label label-sm label-icon label-success">';
                        html += '<i class="fa fa-plus"></i>';
                        html += '</span> ' + value.Name + '';
                        html += '</span>';
                        html += '</a>';
                        html += '</li>';


                        $("#notificationsbar").append(html);


                    });
                }
            });

        }




        function goToMyClaim(formKey) {
             @if (User.IsInRole("ADManager"))
             {
                 <text>
            window.location = '@Url.Action("ClaimViewManager2", "Home")/' + "?formKey=" + formKey;
                 </text>
             }


             @if (User.IsInRole("OPManager"))
             {
                 <text>
            window.location = '@Url.Action("ClaimViewManager", "Home")/' + "?formKey=" + formKey;
                 </text>
             }


             @if (User.IsInRole("Citizen"))
             {
                 <text>
            window.location = '@Url.Action("MyClaimForm", "MyClaim")/' + "?formKey=" + formKey;
                 </text>
             }
             }




    </script>

</body>
</html>
