﻿@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @style = "display:inline-block" }))
    {
        @Html.AntiForgeryToken()

        @*<a id="loginBtn" class="nav-link cwt__main-menu__link cwt__js-click__features" ></a>*@

        @*<a class="nav-link cwt__main-menu__link cwt__js-click__features" style="cursor:pointer;" href="javascript:document.getElementById('logoutForm').submit()">خروج</a>*@


        <span style="color:white; clear:both; white-space:nowrap; display:inline-block;font-size:1.6rem;">
            أهلا @User.Identity.GetUserName()
            @*@Html.ActionLink(User.Identity.GetUserName() + " أهلا", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "الحساب", @style = "cursor:pointer;color:white;" })*@
        </span>

        <span>|</span>

        <a style="color:white; white-space:nowrap; display:inline-block;font-size:1.6rem;" href="javascript:document.getElementById('logoutForm').submit()">خروج</a>

    }
}
else
{
    @*@Html.ActionLink("تسجيل", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink", @class = "nav-link cwt__main-menu__link cwt__js-click__features", @style = "cursor:pointer;" })*@
    @*@Html.ActionLink("تسجيل الدخول", "LoginView", "Account", routeValues: null, htmlAttributes: new { id = "loginLink", @style = "cursor:pointer;color:white;" })*@
}
