﻿<style type="text/css">
    * {
        font-size: 100%;
        font-family: Calibri;
    }

    @@media only screen and (max-width: 1300px) {
    }

    .Marsad {
        display: none;
        cursor: pointer;
    }

    .Manbar {
        display: none;
        cursor: pointer;
    }

    .Markaz {
        display: none;
        cursor: pointer;
    }
</style>

<div class="page-header @*navbar navbar-fixed-top*@" style="background-color:white;direction:rtl;color:white;margin:0;">
    <div class="page-header-inner ">
        <div class="top-menu">
            <div class="row">
                <div class="col-md-4 col-sm-4 col-lg-4">
                    <img style="width: 35%;margin-left: 8%;margin-top: 3%;float:left" src="@Url.Content("~/images/newdesignpics/header2.png")" />

                </div>
                <div class="col-md-4 col-sm-4 col-lg-4" style="text-align: center;">
                    <img style="width:10%;margin-top: 3%" src="@Url.Content("~/images/newdesignpics/LogoSyria.png")" />

                </div>
                <div class="col-md-4 col-sm-4 col-lg-4">
                    <img style="width: 35%;margin-right: 8%;margin-top: 3%;" src="@Url.Content("~/images/newdesignpics/header1.png")" />

                </div>

            </div>

        </div>
    </div>

</div>


<div class="row" style="background-color:rgb(0,44,83);text-align:right;">
    <div style="margin-right:8%;">

        <!--Marsad-->

        <img style="width:7%;margin-right:2%;" src="@Url.Content("~/images/newdesignpics/Search.png")" class="Marsad" />

        <img style="width:6%;margin-right:35%;" src="@Url.Content("~/images/newdesignpics/login.png")" class="Marsad" />


        <img style="width:6%;margin-right:2%;" src="@Url.Content("~/images/newdesignpics/marsad/ta7asonalada2almou2asasati.png")" class="Marsad" />
        <img style="width:6%;margin-right:2%;" src="@Url.Content("~/images/newdesignpics/marsad/tajarebnaji7a.png")" class="Marsad" />
        <img style="width:6%;margin-right:2%;" src="@Url.Content("~/images/newdesignpics/marsad/altakariralsanawya.png")" class="Marsad" />
        <img style="width:6%;margin-right:2%;" src="@Url.Content("~/images/newdesignpics/marsad/altartibalsanawi.png")" class="Marsad" />
        <img style="width:6%;" src="@Url.Content("~/images/newdesignpics/marsad/hawlalmarsad.png")" class="Marsad" />
        <img style="width:3%;margin-left:1%;" src="@Url.Content("~/images/newdesignpics/home_icon.png")" class="Marsad" />
        <!--EndMarsad-->
        <!--Manbar-->

        @*<img style="width:6%;margin-right:2%;" src="@Url.Content("~/images/newdesignpics/Search.png")" class="Manbar" />*@
@if (!User.Identity.IsAuthenticated)
{
      <img style="width:6%;margin-right:42%;" src="@Url.Content("~/images/newdesignpics/login.png")" class="Manbar" id="SignInManbar"/>
}
        <span style="color:white; clear:both; white-space:nowrap;" id="SinInCitizenEmployeeButton" class="Manbar">@Html.Partial("_LoginPartial")</span>

        <img style="width:6%;margin-right:2%;" src="@Url.Content("~/images/newdesignpics/HymayatAlSerya.png")" class="Manbar" />
        <img style="width:6%;margin-right:2%;" src="@Url.Content("~/images/newdesignpics/SyasatAlKhousousya.png")" class="Manbar" />

        @if (User.IsInRole("Citizen"))
        {
            <img style="width:6%;margin-right:2%;" src="@Url.Content("~/images/newdesignpics/moutaba3atalchakwa.png")" class="Manbar" id="Moutaba3atChakwa"/>

        }

       
        <img style="width:6%;margin-right:2%;" src="@Url.Content("~/images/newdesignpics/KayfyatAlEstekhdam.png")" class="Manbar" />

        <img style="width:6%;margin-right:2%;" src="@Url.Content("~/images/newdesignpics/hawlalmanbar.png")" class="Manbar" />

        <img style="width:6%" src="@Url.Content("~/images/newdesignpics/hawlalmarkaz.png")" class="Manbar" id="GoToMarkaz"/>
        <img style="width:2%;margin-left:1%;" src="@Url.Content("~/images/newdesignpics/home_icon.png")" class="Manbar" />

        <!--EndManbar-->


        <!--Markaz-->
        @* <img style="width:6%;margin-right:2%;" src="@Url.Content("~/images/newdesignpics/Search.png")" class="Markaz" />*@
@if (!User.Identity.IsAuthenticated)
{
        <img style="width:12%;margin-right:28%;" src="@Url.Content("~/images/newdesignpics/markaz/loginmarkaz.png")" class="Markaz" id="SinInMangersButton" />
}
        <span style="color:white; clear:both; white-space:nowrap;" id="SinInCitizenEmployeeButton" class="Markaz">@Html.Partial("_LoginPartial")</span>

        @* <img style="width:6%;margin-right:35%;" src="@Url.Content("~/images/newdesignpics/login.png")" class="Markaz" id="SinInMangersButton"/>*@
        <img style="width:7%;margin-right:2%;" src="@Url.Content("~/images/newdesignpics/markaz/markazeste3lamat.png")" class="Markaz" />
        <img style="width:3%;margin-right:2%;" src="@Url.Content("~/images/newdesignpics/markaz/adella.png")" class="Markaz" />
        <img style="width:4%;margin-right:2%;" src="@Url.Content("~/images/newdesignpics/markaz/dirasat.png")" class="Markaz" />

        <img style="width:4%;margin-right:2%;" src="@Url.Content("~/images/newdesignpics/markaz/altakarir.png")" class="Markaz" />
        <img style="width:10%;margin-right:2%;" src="@Url.Content("~/images/newdesignpics/markaz/khadamatalda3emalidari.png")" class="Markaz" id="gotodashbord"/>


        <img style="width:6%" src="@Url.Content("~/images/newdesignpics/hawlalmarkaz.png")" class="Markaz" />


        <img style="width:2%;margin-left:1%;" src="@Url.Content("~/images/newdesignpics/home_icon.png")" class="Markaz" />
        <!--EndMarkaz-->


    </div>
</div>

<script>

    $("#SignInMarkaz").click(function () {

            @if (User.Identity.IsAuthenticated)
            {

                if (User.IsInRole("PB"))
                {
 <text>
            window.location = '@Url.Action("Index", "PBDashboard")';

            </text>
                }
                else
                {
 <text>
            submit_post_via_hidden_form("@Url.Action("Index", "Home")", {});

            </text>
                }

            } else
            {
                <text>
            submit_post_via_hidden_form("@Url.Action("LoginView", "Account")", { ManagerIndex: "True" });

            </text>
            }


        });
    $("#SinInMangersButton").click(function () {

        submit_post_via_hidden_form("@Url.Action("LoginView", "Account")", { ManagerIndex: "True" });


    });

    $("#SignInManbar").click(function () {

        submit_post_via_hidden_form("@Url.Action("LoginView", "Account")", {});


    });

    $("#GoToMarkaz").click(function () {

        submit_post_via_hidden_form("@Url.Action("Index", "Home")", {});


    });

    var ClassName = '@ViewBag.PageName';

    $("." + ClassName).show();


    $(".Markaz").hover(function () {

        $(this).css("background-color", "grey");

    });

    $(".Markaz").mouseout(function () {

        $(this).css("background-color", "");


    });

    $(".Marsad").hover(function () {

        $(this).css("background-color", "grey");

    });

    $(".Marsad").mouseout(function () {

        $(this).css("background-color", "");


    });

    $(".Manbar").hover(function () {

        $(this).css("background-color", "grey");

    });

    $(".Manbar").mouseout(function () {

        $(this).css("background-color", "");


    });

    $("#Moutaba3atChakwa").click(function () {


        window.location = '@Url.Action("Index", "UserDashboard")';

    });

    $("#gotodashbord").click(function () {

        @if (User.IsInRole("ADManager") || User.IsInRole("ADDirector"))
        {
            <text>
        window.location = '@Url.Action("AdUsersLandingPage", "Home")';

        </text>
        }else
            if (User.IsInRole("Administrator")) {

                <text>
        window.location = '@Url.Action("Index", "AspNetUsers")';


        </text>

            }else
                if (User.IsInRole("Editor")) {

                    <text>
        window.location = '@Url.Action("Index", "MouwazafinWithOrgs")';


        </text>

                }
        else
                if (User.IsInRole("PB")) {

                    <text>
                           window.location = '@Url.Action("Index", "PBDashboard")';


                    </text>

                }
                else
                {
                    <text>
        window.location = '@Url.Action("Index", "UserDashboard")';

        </text>
                }

        {

        }
    });

</script>
