﻿@using MoAD.WebApplication.Encryption
@{ 
    var Token = Html.AntiForgeryToken();
    var test = "";
}

<style>
    @@media only screen and (max-width: 1500px) {
        /*#RowToHide {
            display: none;
        }*/

        .col-md-3{
           margin-left:0% !important;
       
        }
    }

        @@media only screen and (max-width: 500px) {
        #RowToHide {
            display: none;
        }
         .col-md-3{
           margin-left:3% !important;
       
        }
    }

  
</style>
    <div class="row" style="min-height:500px;background-color:#B9BABD;">
        <div style="float:right;background-color:white;border-radius:15px;height: 55px;width: 300px;">
            <div style="text-align:center;color:#383A97;">
                <span style="font-size:4rem;">
                    خذ قرارك
                </span>
            </div>
        </div>

        <div class="row col-md-offset-2" style="margin-top:83px;">

            <div class="col-md-4" style="height:80px;min-width: 350px;margin-left: 3%;">
                <button class="btn formButton" style="width:100%;height:80px;background-color:#F36421;color:white;border: 6px solid darkgrey;border-radius:  15px;" data-FormType="@ViewBag.FormTemplateTypeResult[5]">
                    <span style="font-size:2.5rem;">رضا المواطن</span>
                    <hr>
                    <span>إملأ الإستمارة</span>
                </button>
            </div>

            <div class="col-md-4" style="height:80px;min-width: 350px;margin-left: 3%;">
                <button class="btn formButtonFasad" style="width:100%;height:80px;background-color:#EE1D23;color:white;border: 6px solid darkgrey;border-radius:  15px;" data-FormType="@ViewBag.FormTemplateTypeResult[0]">
                    <span style="font-size:2.5rem;">سوا لمكافحة الفساد</span>
                    <hr>
                    <span>إملأ الإستمارة</span>
                </button>
            </div>
        </div>


        <div class="row" style="height:80px;" id="RowToHide"></div>
        <div class="row col-md-offset-1">
            <div class="col-md-3" style="height:80px;min-width: 350px;margin-left: 3%;">
                <button class="btn formButton" style="width:100%;height:80px;background-color:#201C70;color:white;border: 6px solid darkgrey;border-radius:  15px;" data-FormType="@ViewBag.FormTemplateTypeResult[7]">
                    <span style="font-size:2.5rem;">معا لتبسيط الإجراءات</span>
                    <hr>
                    <span>إملأ الإستمارة</span>
                </button>
            </div>
            <div class="col-md-3" style="height:80px;min-width: 350px;margin-left: 3%;">
                <button class="btn formButtonMouwazaf" style="width:100%;height:80px;background-color:#0072BC;color:white;border: 6px solid darkgrey;border-radius:  15px;" data-FormType="@ViewBag.FormTemplateTypeResult[6]">
                    <span style="font-size:2.5rem;">رضا الموظف</span>
                    <hr>
                    <span>إملأ الإستمارة</span>
                </button>
            </div>
            <div class="col-md-3" style="height:80px;min-width: 350px; margin-left:3%" id="ma3anliSouityat">
                <button class="btn formButton" style="width:100%;height:80px;background-color:#B00D15;color:white;border: 6px solid darkgrey;border-radius:  15px;" data-FormType="@ViewBag.FormTemplateTypeResult[8]">
                    <span style="font-size:2.5rem;">معا لثبوتيات أقل</span>
                    <hr>
                    <span>إملأ الإستمارة</span>
                </button>
            </div>
            <div class="col-md-1 pull-left"></div>
        </div>



    </div>


<div class="row" style="background-color:white; height:5px;"></div>

@*<div class="row" style="background-color:grey;text-align:center;">

        <div class="col-md-3" style="height:1px;"></div>

        <div class="col-md-1">
            <div>
                <img onclick="location.href='@Url.Action("IbdaaHoukoumi","Home")';" style="width:100px;cursor:pointer;" src="@Url.Content("~/Images/NewDesign/ibda37oukoumiEmpty.png")" alt="Minister">
            </div>
        </div>

        <div class="col-md-1">
            <img onclick="location.href='@Url.Action("MinbarSilatWasel","Home")';" style="width:100px;cursor:pointer;" src="@Url.Content("~/Images/NewDesign/silatWaselEmpty.png")" alt="Minister">
        </div>

        <div class="col-md-1">
            <img onclick="location.href='@Url.Action("MarkazAlKada","Home")';" style="width:100px;cursor:pointer;" src="@Url.Content("~/Images/NewDesign/AlKadaEmpty.png")" alt="Minister">
        </div>

        <div class="col-md-1">
            <img onclick="location.href='@Url.Action("KawaderBachariya","Home")';" style="width:100px;cursor:pointer;" src="@Url.Content("~/Images/NewDesign/KawaderBachariyaEmpty.png")" alt="Minister">
        </div>

        <div class="col-md-1">
            <img onclick="location.href='@Url.Action("DaemIdari","Home")';" style="width:100px;cursor:pointer;" src="@Url.Content("~/Images/NewDesign/Da3emIdariEmpty.png")" alt="Minister">
        </div>

        <div class="col-md-1">
            <img onclick="location.href='@Url.Action("IndexMarsadNew","Home")';" style="width:100px;cursor:pointer;" src="@Url.Content("~/Images/NewDesign/marsadIdariNoLabel.png")" alt="Minister">
        </div>

        <div class="col-md-3" style="height:1px;"></div>

    </div>


    <div class="row" style="height:5px;background-color:white;"></div>*@
<script>
    $(".formButton").click(function () {

        if ("@User.Identity.IsAuthenticated" === "False") {
            var FormTemplateType = $(this).attr("data-FormType");

            $.ajax({
                url: '@Url.Action("GetFormTemplatesForAType", "Home")',
                dataType: "json",
                data: { TemplateType: FormTemplateType },
                success: function (result) {


                    $.each(result, function (key, value) {

                        @*window.location = '@Url.Action("LoginView", "Account")' + "?NextPageIndex=" + value.FormTemplateKey;*@
                        submit_post_via_hidden_form("@Url.Action("LoginView", "Account")", { NextPageIndex: value.FormTemplateKey }); 

                        @*window.location = '@Url.Action("NewClaimForm", "ClaimForms")/' + "?FormTemplateKey=" + value.FormTemplateKey;*@

                    });

                }
            });
        } else {
            var FormTemplateType = $(this).attr("data-FormType");

            $.ajax({
                url: '@Url.Action("GetFormTemplatesForAType", "Home")',
                dataType: "json",
                data: { TemplateType: FormTemplateType },
                success: function (result) {


                    $.each(result, function (key, value) {


                        @*window.location = '@Url.Action("NewClaimForm", "ClaimForms")/' + "?FormTemplateKey=" + value.FormTemplateKey;*@
                        submit_post_via_hidden_form("@Url.Action("NewClaimForm", "ClaimForms")",{FormTemplateKey: escape(value.FormTemplateKey)}); 

                    });

                }
            });
        }
    });


    $(".formButtonMouwazaf").click(function () {

        if ("@User.Identity.IsAuthenticated" === "False") {
            var FormTemplateType = $(this).attr("data-FormType");

            $.ajax({
                url: '@Url.Action("GetFormTemplatesForAType", "Home")',
                dataType: "json",
                data: { TemplateType: FormTemplateType },
                success: function (result) {


                    $.each(result, function (key, value) {

                        @*window.location = '@Url.Action("LoginView", "Account")' + "?NextPageIndex=" + value.FormTemplateKey + "&MouwazafIndex=True";*@
                        submit_post_via_hidden_form("@Url.Action("LoginView", "Account")", { NextPageIndex: value.FormTemplateKey, MouwazafIndex: "True" }); 

                        @*window.location = '@Url.Action("NewClaimForm", "ClaimForms")/' + "?FormTemplateKey=" + value.FormTemplateKey;*@

                    });

                }
            });
        } else {

            @if (User.IsInRole("Citizen"))
             {
                 <text>
            
            //bootbox.alert("!!! إن هذا الإستبان خاص بالموظفين ");

            bootbox.alert({
                message: '!!! إن هذا الإستبان خاص بالموظفين ',
                buttons: {
                    ok: {
                        label: 'إغلاق'
                    }
                }
            })



            </text>

             }else
             {
   <text>
            var FormTemplateType = $(this).attr("data-FormType");

            $.ajax({
                url: '@Url.Action("GetFormTemplatesForAType", "Home")',
                dataType: "json",
                data: { TemplateType: FormTemplateType },
                success: function (result) {


                    $.each(result, function (key, value) {


                        @*window.location = '@Url.Action("NewClaimForm", "ClaimForms")/' + "?FormTemplateKey=" + value.FormTemplateKey;*@
                        submit_post_via_hidden_form("@Url.Action("NewClaimForm", "ClaimForms")",

                                        {
                                            FormTemplateKey: escape(value.FormTemplateKey)
                                        }
                    ); 

                    });

                }
            });
                 </text>
             }

        }
    });


    AddAntiForgeryToken = function (data) {
        data.__RequestVerificationToken = '@Token';
        return data;
    };

    $(".formButtonFasad").click(function () {

        if ("@User.Identity.IsAuthenticated" === "False") {


            @*window.location = '@Url.Action("tESTLogin", "Account")' + "?NextPageIndex=106";*@
            submit_post_via_hidden_form("@Url.Action("LoginView", "Account")", {  NextPageIndex: "106"});         
        } else {




            @*window.location = '@Url.Action("NewClaimForm", "ClaimForms")/' + "?FormTemplateKey=106";*@

            submit_post_via_hidden_form("@Url.Action("NewClaimForm", "ClaimForms")", { FormTemplateKey: escape("106") });         
       
        }
    });

    function submit_post_via_hidden_form(url, params) {
        var f = $('<form method="POST"style="display:none;">@Token</form>').attr({
            action: url
        }).appendTo(document.body);

        for (var i in params) {
            if (params.hasOwnProperty(i)) {
                $('<input type="hidden" />').attr({
                    name: i,
                    value: params[i]
                }).appendTo(f);
            }
        }

        f.submit();

        f.remove();
    }
</script>
