﻿

<div class="portlet-body" style="background-color:#E6E7E9;">

    <div class="col-md-12" style="background-color:#E6E7E9;padding-top:20px;">
        <div class="col-md-6" style="background-color:#E6E7E9;">
            <div class="clearfix">
                <ul class="media-list">
                    <li class="media">
                        <a class="pull-right" href="javascript:;">
                            <img class="media-object" src="@Url.Content("~/Images/NewDesign/wazartalta3mlim.png")" alt="Minister">
                        </a>
                        <div class="media-body" style="direction:rtl;">
                            <h4 style="text-align:right;">وزارة التنمية الإدارية</h4>
                            <span style="font-size:1.6rem;">أنا فقرة أنقر هنا لإضافة النص الخاص بك و تحرير لي. من السهل فقط أنقر فوق "تحرير النص" أو أنقر نقرا مزدوجا لي لإضافة المحتوى الخاص بك و إجراء تغييرات على الخط</span>
                        </div>
                    </li>
                    <li class="media">
                        <a class="pull-right" href="javascript:;">
                            <img class="media-object" style="background-color:white;border-radius:15px;" src="@Url.Content("~/Images/NewDesign/emptyBox.png")" alt="Minister">
                        </a>
                        <div class="media-body" style="direction:rtl;">
                            <h4 style="text-align:right;">وزارة التنمية الإدارية</h4>
                            <span style="font-size:1.6rem;">أنا فقرة أنقر هنا لإضافة النص الخاص بك و تحرير لي. من السهل فقط أنقر فوق "تحرير النص" أو أنقر نقرا مزدوجا لي لإضافة المحتوى الخاص بك و إجراء تغييرات على الخط</span>
                        </div>
                    </li>
                    <li class="media">
                        <a class="pull-right" href="javascript:;">
                            <img class="media-object" style="background-color:white;border-radius:15px;" src="@Url.Content("~/Images/NewDesign/emptyBox.png")" alt="Minister">
                        </a>
                        <div class="media-body" style="direction:rtl;">
                            <h4 style="text-align:right;">وزارة التنمية الإدارية</h4>
                            <span style="font-size:1.6rem;">أنا فقرة أنقر هنا لإضافة النص الخاص بك و تحرير لي. من السهل فقط أنقر فوق "تحرير النص" أو أنقر نقرا مزدوجا لي لإضافة المحتوى الخاص بك و إجراء تغييرات على الخط</span>
                        </div>
                    </li>
                </ul>
            </div>
        </div>

        <div class="col-md-6" style="background-color:#E6E7E9;">
            <div class="clearfix">
                <ul class="media-list">
                    <li class="media">
                        <a class="pull-right" href="javascript:;">
                            <img class="media-object" src="@Url.Content("~/Images/NewDesign/wazartalta3mlim.png")" alt="Minister">
                        </a>
                        <div class="media-body" style="direction:rtl;">
                            <h4 style="text-align:right;">وزارة التنمية الإدارية</h4>
                            <span style="font-size:1.6rem;">أنا فقرة أنقر هنا لإضافة النص الخاص بك و تحرير لي. من السهل فقط أنقر فوق "تحرير النص" أو أنقر نقرا مزدوجا لي لإضافة المحتوى الخاص بك و إجراء تغييرات على الخط</span>
                        </div>
                    </li>
                    <li class="media">
                        <a class="pull-right" href="javascript:;">
                            <img class="media-object" style="background-color:white;border-radius:15px;" src="@Url.Content("~/Images/NewDesign/emptyBox.png")" alt="Minister">
                        </a>
                        <div class="media-body" style="direction:rtl;">
                            <h4 style="text-align:right;">وزارة التنمية الإدارية</h4>
                            <span style="font-size:1.6rem;">أنا فقرة أنقر هنا لإضافة النص الخاص بك و تحرير لي. من السهل فقط أنقر فوق "تحرير النص" أو أنقر نقرا مزدوجا لي لإضافة المحتوى الخاص بك و إجراء تغييرات على الخط</span>
                        </div>
                    </li>
                    <li class="media">
                        <a class="pull-right" href="javascript:;">
                            <img class="media-object" style="background-color:white;border-radius:15px;" src="@Url.Content("~/Images/NewDesign/emptyBox.png")" alt="Minister">
                        </a>
                        <div class="media-body" style="direction:rtl;">
                            <h4 style="text-align:right;">وزارة التنمية الإدارية</h4>
                            <span style="font-size:1.6rem;">أنا فقرة أنقر هنا لإضافة النص الخاص بك و تحرير لي. من السهل فقط أنقر فوق "تحرير النص" أو أنقر نقرا مزدوجا لي لإضافة المحتوى الخاص بك و إجراء تغييرات على الخط</span>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>


    <div style="height:10px;background-color:#E6E7E9;" class="col-md-12"></div>


</div>
