﻿
<style type="text/css">
    * {
        font-size: 100%;
        font-family: Calibri;
    }
</style>
<div class="page-header navbar navbar-fixed-top" style="background-color:#27358A;direction:rtl;color:white;height:100px;margin:0;">
    <div class="page-header-inner ">
        <div class="top-menu">
            <ul class="nav navbar-nav pull-right col-md-12 vcenter" style="margin-top:1.5%;">
                <li class="col-md-7 col-xs-12 pull-right vcenter" style="padding:0;">
                    <span style="font-size:1.6rem;" id="MainPageButton">الرئيسية</span>
                    <span>|</span>
                    @*<span style="font-size:1.6rem;">الإستخدام</span>
                        <span>|</span>*@
                    @*<span style="font-size:1.6rem;" id="mawka3jadid">موقع جديد</span>*@
                    @*<span>|</span>*@

                    @if (User.Identity.IsAuthenticated)
                    {
                        <span style="font-size:1.6rem;" id="ProfileButton">الملف الشخصي</span>
                        <span>|</span>
                        if (User.IsInRole("Citizen"))
                        {
                            <span id="gotodashbord" style="font-size:1.6rem;">متابعة الشكاوى</span>
                            <span>|</span>
                        }
                        else
                        {
                            <span id="gotodashbord" style="font-size:1.6rem;">لوحة التحكم</span>
                            <span>|</span>
                        }
                    }
                    @*<span style="font-size:1.6rem;">حماية السرية</span>*@

                    @*<span style="font-size:1.6rem;">حماية السرية</span>
                        <span>|</span>*@
                    <span style="color:white; clear:both; white-space:nowrap; display:inline-block;" id="SinInCitizenEmployeeButton">@Html.Partial("_LoginPartial")</span>

                    @*<span></span>*@
                    @*<span style="font-size:1.6rem;">تسجيل الدخول</span>*@
                </li>
                <li class="col-md-5 col-xs-12 pull-left" style="padding:0;">
                    @*<span style="font-size: 1.6rem;cursor:pointer;min-width:25px;" class="fa fa-facebook" aria-hidden="true"></span>
                        <span style="font-size: 1.6rem;cursor:pointer;min-width:25px;" class="fa fa-twitter" aria-hidden="true"></span>
                        <span style="font-size: 1.6rem;cursor:pointer;min-width:25px;" class="fa fa-google-plus" aria-hidden="true"></span>*@
                    @*<span style="padding-left: 8px;margin-right:5%;font-size: 1.9rem;">بحث</span>*@
                    @*<input style="height: 20px;width: 170px;color:black;" type="text" placeholder="">*@
                    @if (!User.Identity.IsAuthenticated)
                    {
                        <span style="color:white; clear:both; white-space:nowrap; display:inline-block;float:left;margin-left:5%;" id="SinInMangersButton">منظومة الدعم الاداري </span>
                    }
                </li>

            </ul>
        </div>
    </div>
    <div style="height:5px;background-color:#F36421;margin-top:100px;">
    </div>
</div>
<script>
    $("#MainPageButton").click(function () {
        window.location = '@Url.Action("Index", "Home")';
    });

    $("#mawka3jadid").click(function () {

        window.location = '@Url.Action("IndexNew", "Home")';


    });

    $("#gotodashbord").click(function () {

        @if (User.IsInRole("ADManager") || User.IsInRole("ADDirector"))
    {
        <text>
        window.location = '@Url.Action("AdUsersLandingPage", "Home")';

        </text>
    }else
    if (User.IsInRole("Administrator")) {

 <text>
        window.location = '@Url.Action("Index", "AspNetUsers")';


        </text>

        }else
    if (User.IsInRole("Editor")) {

 <text>
        window.location = '@Url.Action("Index", "MouwazafinWithOrgs")';


        </text>

    }
        else
        {
  <text>
        window.location = '@Url.Action("Index", "UserDashboard")';

        </text>
    }

        {

        }
    });

    $("#ProfileButton").click(function () {


        @{
    <text>
        window.location = '@Url.Action("Profile", "Home")';

        </text>
}
    });
    $("#SignInMarkaz").click(function () {

            @if (User.Identity.IsAuthenticated)
            {

                if (User.IsInRole("PB"))
                {
 <text>
            window.location = '@Url.Action("Index", "PBDashboard")';

            </text>
                }
                else
                {
 <text>
            submit_post_via_hidden_form("@Url.Action("Index", "Home")", {});

            </text>
                }

            } else
            {
                <text>
            submit_post_via_hidden_form("@Url.Action("LoginView", "Account")", { ManagerIndex: "True" });

            </text>
            }


        });

    $("#SinInMangersButton").click(function () {


        @*window.location = '@Url.Action("Login", "Account")' + "?ManagerIndex=True";*@



        submit_post_via_hidden_form("@Url.Action("LoginView", "Account")", { ManagerIndex: "True" });


    });

    function submit_post_via_hidden_form(url, params) {
        var f = $('<form method="POST"style="display:none;"></form>').attr({
            action: url
        }).appendTo(document.body);

        for (var i in params) {
            if (params.hasOwnProperty(i)) {
                $('<input type="hidden" />').attr({
                    name: i,
                    value: params[i]
                }).appendTo(f);
            }
        }

        f.submit();

        f.remove();
    }

    @*$("#SinInCitizenEmployeeButton").click(function () {

        window.location = '@Url.Action("Login", "Account")' + "?ManagerIndex=False";


    });*@


</script>