﻿@model MoAD.DataObjects.EDMX.FormTemplateType

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_LayoutInitialPage.cshtml";
}

<h2>Details</h2>

<div>
    <h4>FormTemplateType</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ParentFormTemplateType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ParentFormTemplateType)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Level)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Level)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.FormTemplateType1 }) |
    @Html.ActionLink("Back to List", "Index")
</p>
