﻿@model MoAD.DataObjects.EDMX.FormTemplate

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_LayoutInitialPage.cshtml";
}

<h2>Details</h2>

<div>
    <h4>FormTemplate</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Status)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Status)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreatedAt)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreatedAt)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FormTemplateType1.ParentFormTemplateType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FormTemplateType1.ParentFormTemplateType)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.FormTemplateKey }) |
    @Html.ActionLink("Back to List", "Index")
</p>
