﻿@using MoAD.DataObjects.EDMX;
@{
    Layout = "~/Views/Shared/_LayoutInitialPage.cshtml";

    List<ReportingGetWeakQuestionsPerSlice_Result> Report14 = ViewBag.Report14;
}

<!DOCTYPE html>

<html lang="en">
<head>
    <title>المنصة الرئيسية</title>
    <meta charset=utf-8>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

    <link href='http://fonts.googleapis.com/css?family=Montserrat:400,700%7COpen+Sans:300,400' rel='stylesheet' type='text/css'>

    @*<link href="../assets/global/css/components.min.css" rel="stylesheet" id="style_components" type="text/css" />*@
    @*<link href="@Url.Content("~/content/amcharts/components.min.css")" rel="stylesheet" id="style_components" type="text/css" />*@
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/vendors.bundle.css")">
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/style.bundle.css")">
    <link href="@Url.Content("~/Content/Overlay/style.css")" rel="stylesheet" type="text/css" />
    <script src="@Url.Content("~/Scripts/Overlay/modernizr.custom.79639.js")"></script>
    <noscript>
        <link href="@Url.Content("~/Content/Overlay/noscript.css")" rel="stylesheet" type="text/css" />
    </noscript>

    <style>
        .mb-60 {
            margin-bottom: 60px;
        }

        .services-inner {
            border: 2px solid #48c7ec;
            margin-left: 35px;
            transition: .3s;
            width: 22%;
        }

        .our-services-img {
            float: left;
            margin-left: -36px;
            margin-right: 22px;
            margin-top: 28px;
        }

        .our-services-text {
            padding-right: 10px;
        }

        .our-services-text {
            overflow: hidden;
            padding: 28px 0 25px;
        }

            .our-services-text h4 {
                color: #222222;
                font-size: 18px;
                font-weight: 700;
                letter-spacing: 1px;
                margin-bottom: 8px;
                padding-bottom: 10px;
                position: relative;
                text-transform: uppercase;
            }

                .our-services-text h4::before {
                    background: #ec6d48 none repeat scroll 0 0;
                    bottom: 0;
                    content: "";
                    height: 1px;
                    position: absolute;
                    width: 35px;
                }

        .our-services-wrapper:hover .services-inner {
            background: #fff none repeat scroll 0 0;
            border: 2px solid transparent;
            box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.2);
        }

        .our-services-text p {
            margin-bottom: 0;
        }

        p {
            font-size: 14px;
            font-weight: 400;
            line-height: 26px;
            color: #666;
            margin-bottom: 15px;
        }
    </style>

    <style>
        .overlay {
            height: 100%;
            width: 0;
            position: fixed;
            z-index: 1;
            top: 0;
            left: 0;
            background-color: rgb(0,0,0);
            background-color: rgba(0,0,0, 0.9);
            overflow-x: hidden;
            transition: 0.5s;
        }

        .overlay-content {
            position: relative;
            top: 0%;
            width: 100%;
            text-align: center;
            margin-top: 30px;
        }

        .overlay a {
            padding: 8px;
            text-decoration: none;
            font-size: 36px;
            color: #818181;
            display: block;
            transition: 0.3s;
        }

            .overlay a:hover, .overlay a:focus {
                color: #f1f1f1;
            }

        .overlay .closebtn {
            position: absolute;
            top: 80px;
            right: 45px;
            font-size: 60px;
        }

        @@media screen and (max-height: 450px) {
            .overlay a {
                font-size: 20px;
            }

            .overlay .closebtn {
                font-size: 40px;
                top: 15px;
                right: 35px;
            }
        }

        @@media screen and (max-width: 1600px) {
            .section-main {
                bottom: 45% !important;
            }

            .header {
                display: none !important;
            }
        }



        h2 {
            margin-top: 6%;
        }
    </style>
    <style>
        #myVideo {
            position: fixed;
            right: 0;
            bottom: 0;
            min-width: 100%;
            min-height: 100%;
            top: -5.5%;
            opacity: 0.5;
            background-color: #341f1f;
        }

        .bell {
            width: 20px !important;
        }

        .ps-content h2 {
            letter-spacing: 0px !important;
        }

        tspan {
            letter-spacing: initial !important;
        }

        text {
            font-size: 22px !important;
        }

        .text {
            color: white !important;
        }

        .cm-icon {
            color: white !important;
        }

        tspan {
            font-size: 13px !important;
        }
    </style>
</head>


<body>

    <ul class="m-nav-sticky" style="left:0px; border-radius: 0px 8px 8px 0px;">
        <li class="m-nav-sticky__item" onclick="openNav()" data-toggle="m-tooltip" style="color: #b7b7b7;transform: rotate(-90deg);width: 200px;height: 200px;cursor:pointer" data-placement="left">
            Real Time Report
        </li>
    </ul>


    <div id="myNav" style="overflow-y:hidden" class="overlay">
        <a href="javascript:void(0)" style="z-index:30" class="closebtn" onclick="closeNav()">&times;</a>
        <div class="overlay-content" style="height:100%">
            <section id="ps-container" class="ps-container" style="z-index:0;height:90%;top:50px;">
                <div class="ps-contentwrapper">
                    <div class="ps-content">
                        <h2>الجهات العامة ال ١٠ الأكثر ترهلاً</h2>
                        <p lang="ar" dir="rtl" style="letter-spacing:inherit;font-size:22px;">يبرز هذا التقرير المؤسسات العشر الأكثر ترهلاً أي الأقل إستجابة للشكاوى المقدمة من قبل المواطن.</p>
                    </div>
                    <div class="ps-content">
                        <h2>المؤسسات ال١٠ الأكثر فساداً</h2>
                        <p lang="ar" dir="rtl" style="letter-spacing:inherit;font-size:22px;">يبرز هذا التقرير المؤسسات العشر الأكثر فساداً أي التي تم تقديم شكوى عليها بتهمة الرشوى.</p>
                    </div>
                    <div class="ps-content">
                        <h2>المؤسسات ال١٠ الأقل نزاهة</h2>
                        <p lang="ar" dir="rtl" style="letter-spacing:inherit;font-size:22px;">يبرز هذا التقرير المؤسسات العشر الأقل نزاهة أي التي تم تقديم شكوى عليها بتهمة الخلل في تطبيق القوانين.</p>
                    </div>
                    <div class="ps-content">
                        <h2>المؤسسات ال١٠ الأسوأ</h2>
                        <p lang="ar" dir="rtl" style="letter-spacing:inherit;font-size:22px;">يبرز هذا التقرير المؤسسات العشر الأسوأ أي تلك التي تلقت أكبر عدد من الشكاوى المقدمة من المواطنين.</p>
                    </div>
                    <div class="ps-content">
                        <h2>التصنيف الحالي</h2>
                        <p lang="ar" dir="rtl" style="letter-spacing:inherit;font-size:22px;">هذا التصنيف مخصص لجميع الجهات العامة التابعة لوزارة الإدارة المحلية.</p>
                    </div>
                    <div class="ps-content">
                        <h2>المؤسسات الأكثر إستجابة للمواطن</h2>
                        <p lang="ar" dir="rtl" style="letter-spacing:inherit;font-size:22px;">هذا التقرير يحتوي على المؤسسات الأكثر إستجابة للمواطن أي التي تمكنت من حل أكثر نسبة شكاوى مقدمة من المواطن.</p>
                    </div>
                    @*<div class="ps-content">
                            <h2>نتائج إستطلاعات الرأي</h2>
                            <p lang="ar" dir="rtl" style="letter-spacing:inherit;font-size:22px;">هذا التقرير يحتوي على نتائج إستطلاع الرأي التابعة للشكاوى المستجابة من قبل الوزارة ،ويبرهن مدى رضا أو عدم رضا المواطن عن الشكاوى المعالجة.</p>
                        </div>
                        <div class="ps-content">
                            <h2>تقرير المراقبة</h2>
                            <p lang="ar" dir="rtl" style="letter-spacing:inherit;font-size:22px;">هذا التقرير يبرز نشاط المستخدمين كل شهر أو شهرين أو أسبوع.</p>
                        </div>*@


                    <div class="ps-content">
                        <h2>عدد الجهات العامة التي ساهم العاملين  فيها في رضا الموظف</h2>
                        <p lang="ar" dir="rtl" style="letter-spacing:inherit;font-size:22px;">يوضح هذا التقرير عدد الجهات العامة التي ساهم العاملين  فيها في رضا الموظف.</p>
                    </div>
                    <div class="ps-content">
                        <h2>تقرير رضا الموظف</h2>
                        <p lang="ar" dir="rtl" style="letter-spacing:inherit;font-size:22px;">للمزيد من المعلومات عن هذا التقرير الرجاء الدخول إلى صفحة التقارير (Reports).</p>
                    </div>
                </div>
                <div class="ps-slidewrapper">
                    <div class="ps-slides" style="height:100%;">

                        <div @*style="background-image:url(@Url.Content("~/Images/Chairs/1.jpg"));"*@ style="overflow:auto">
                            <div class="row">
                                <div class="col-md-12" style="overflow-y:auto">
                                    <!-- BEGIN CHART PORTLET-->
                                    <div class="portlet light bordered" style="min-height:100%;">

                                        <div class="portlet-body">
                                            @if (ViewBag.Report1.Count == 0)
                                            {
                                                <div><h2>No Data Available</h2> </div>
                                            }
                                            else
                                            {
                                                <div id="chart_1" class="chart" style="height: 500px;margin-top:-3%;"> </div>
                                            }
                                        </div>
                                    </div>
                                    <!-- END CHART PORTLET-->
                                </div>
                            </div>
                        </div>
                        <div @*style="background-image:url(@Url.Content("~/Images/Chairs/2.jpg"));*@ style="overflow:auto">
                            <div class="row">
                                <div class="col-md-12">
                                    <!-- BEGIN CHART PORTLET-->
                                    <div class="portlet light bordered" style="min-height:100%;">

                                        <div class="portlet-body" style="margin-top:-6%;">
                                            @if (ViewBag.Report2.Count == 0)
                                            {
                                                <div><h2>No Data Available</h2> </div>
                                            }
                                            else
                                            {
                                                <div id="chart_5" class="chart" style="height: 400px;"> </div>
                                            }
                                        </div>
                                    </div>
                                    <!-- END CHART PORTLET-->
                                </div>
                            </div>

                        </div>
                        <div @*style="background-image:url(@Url.Content("~/Images/Chairs/3.jpg"));"*@ style="overflow:auto">
                            <!-- BEGIN CHART PORTLET-->
                            <div class="portlet light bordered" style="min-height:100%;">
                                <div class="portlet-title">
                                </div>
                                <div class="portlet-body">
                                    @if (ViewBag.Report3.Count == 0)
                                    {
                                        <div><h2>No Data Available</h2> </div>
                                    }
                                    else
                                    {
                                        <div id="chart_4" class="chart" style="height: 400px;"> </div>
                                    }
                                </div>
                            </div>
                            <!-- END CHART PORTLET-->

                        </div>
                        <div @*style="background-image:url(@Url.Content("~/Images/Chairs/4.jpg"));"*@ style="overflow:auto">
                            <!-- BEGIN CHART PORTLET-->
                            <div class="portlet light bordered" style="min-height:100%;">
                                <div class="portlet-title">
                                </div>
                                <div class="portlet-body">
                                    @if (ViewBag.Report4.Count == 0)
                                    {
                                        <div><h2>No Data Available</h2> </div>
                                    }
                                    else
                                    {
                                        <div id="chart_7" class="chart" style="height: 400px;"> </div>
                                    }
                                </div>
                            </div>
                            <!-- END CHART PORTLET-->

                        </div>
                        <div @*style="background-image:url(@Url.Content("~/Images/Chairs/5.jpg"));"*@ style="overflow:auto">
                            <!-- BEGIN CHART PORTLET-->
                            <div class="portlet light bordered" style="min-height:100%;">
                                <div class="portlet-title">
                                </div>
                                <div class="portlet-body">
                                    @if (ViewBag.Report5.Count == 0)
                                    {
                                        <div><h2>No Data Available</h2> </div>
                                    }
                                    else
                                    {
                                        <div id="chart4" class="chart" style="height: 400px;"> </div>
                                    }
                                </div>
                            </div>
                            <!-- END CHART PORTLET-->
                        </div>
                        <div @*style="background-image:url(@Url.Content("~/Images/Chairs/5.jpg"));"*@ style="overflow:auto">
                            <div class="row">
                                <div class="col-md-12">
                                    <!-- BEGIN CHART PORTLET-->
                                    <div class="portlet light bordered" style="min-height:100%;">

                                        <div class="portlet-body" style="overflow:auto;">
                                            @if (ViewBag.Report6.Count == 0)
                                            {
                                                <div><h2>No Data Available</h2> </div>
                                            }
                                            else
                                            {
                                                <div id="chart1" class="chart" style="height: 500px;margin-top:-4%;"> </div>
                                            }
                                        </div>
                                    </div>
                                    <!-- END CHART PORTLET-->
                                </div>
                            </div>
                        </div>
                        <!--<div--> @*style="background-image:url(@Url.Content("~/Images/Chairs/5.jpg"));"*@
                        <!--style="overflow:auto">
                        <div class="row">
                            <div class="col-md-12">-->
                        <!-- BEGIN CHART PORTLET-->
                        <!--<div class="portlet light bordered" style="min-height:100%;">
                            <div class="portlet-title">
                            </div>
                            <div class="portlet-body">
                                @if (ViewBag.Report7.Count == 0)
                                {
                                    <div><h2>No Data Available</h2> </div>
                                }
                                else
                                {
                                    <div id="chart_6" class="chart" style="height: 525px;"> </div>
                                }
                            </div>
                        </div>-->
                        <!-- END CHART PORTLET-->
                        <!--</div>
                            </div>
                        </div>-->



                        <div @*style="background-image:url(@Url.Content("~/Images/Chairs/4.jpg"));"*@ style="overflow:auto">
                            <!-- BEGIN CHART PORTLET-->
                            <div class="portlet light bordered" style="min-height:100%;">
                                <div class="portlet-title">
                                </div>
                                <div class="portlet-body">

                                    @if (ViewBag.Report2.Count == 0)
                                    {
                                        <div><h2>No Data Available</h2> </div>
                                    }
                                    else
                                    {
                                        <div id="chart_55" class="chart" style="height: 400px;"> </div>
                                    }
                                </div>
                            </div>
                            <!-- END CHART PORTLET-->

                        </div>
                        <div @*style="background-image:url(@Url.Content("~/Images/Chairs/4.jpg"));"*@ style="overflow:auto">
                            <div class="row">
                                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                    <a class="dashboard-stat dashboard-stat-v2 blue" style="cursor:default;">
                                        <div class="visual">
                                            <i class="fa fa-comments"></i>
                                        </div>
                                        <div class="details">
                                            <div class="number">
                                                <span data-counter="counterup" data-value="1349">@ViewBag.Report12</span>
                                            </div>
                                            <div class="desc">  عدد الموظفين الذين ساهموا في الاستبيان </div>
                                        </div>
                                    </a>
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                    <a class="dashboard-stat dashboard-stat-v2 red" style="cursor:default;">
                                        <div class="visual">
                                            <i class="fa fa-bar-chart-o"></i>
                                        </div>
                                        <div class="details">
                                            <div class="number">
                                                <span data-counter="counterup" data-value="12,5">@ViewBag.Report13</span>
                                            </div>
                                            <div class="desc"> مستوى الرضا العام </div>
                                        </div>
                                    </a>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">

                                    <div class="portlet-body">
                                        <div class="mt-element-list">
                                            <div class="mt-list-head list-simple font-white bg-green">
                                                <div class="list-head-title-container">
                                                    <h3 class="list-title">(نقاط القوة (الأسئلة الثلاثة الأكثر إيجابية</h3>
                                                </div>
                                            </div>
                                            <div class="mt-list-container list-simple">
                                                <ul>
                                                    @{
                                                        try
                                                        {
                                                            foreach (var item in Report14)
                                                            {
                                                                <li class="mt-list-item">
                                                                    <div class="list-icon-container done">
                                                                        <i class="icon-check"></i>
                                                                    </div>
                                                                    <div class="list-item-content">
                                                                        <h3 class="uppercase">
                                                                            <a href="javascript:;" lang="ar" dir="rtl" style="font-size:22px;cursor:default;color:black;">@item.WeakQuestion</a>
                                                                        </h3>
                                                                    </div>
                                                                </li>

                                                            }
                                                        }
                                                        catch
                                                        {

                                                        }

                                                    }

                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                    <div class="portlet-body">
                                        <div class="mt-element-list">
                                            <div class="mt-list-head list-simple font-white bg-red">
                                                <div class="list-head-title-container">
                                                    <h3 class="list-title">(نقطة الضعف (السؤال الأكثر سلبية</h3>
                                                </div>
                                            </div>
                                            <div class="mt-list-container list-simple">
                                                <ul>
                                                    <li class="mt-list-item">
                                                        <div class="list-icon-container">
                                                            <i class="icon-close"></i>
                                                        </div>
                                                        <div class="list-item-content">
                                                            <h3 class="uppercase">
                                                                <a href="javascript:;" lang="ar" dir="rtl" style="font-size:22px;cursor:default;color:black;">@ViewBag.Report15</a>
                                                            </h3>
                                                        </div>
                                                    </li>

                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                    <nav style="height:106px;">
                        <a href="#" class="ps-prev"></a>
                        <a href="#" class="ps-next"></a>
                    </nav>
                </div>
            </section>
        </div>
    </div>

    <div class="section-main" id="top" style="position:absolute;bottom:15%;z-index:-1;">
        <div class="mini-container main-mini-container">
            <div class="title">
                <div class="header">
                    <img src="@Url.Content("~/images/LogoAlJoumhourya.png")" class="logo" alt="Finely" />
                </div>
                <div class="content">
                    <div>
                        <div style="opacity:0.7;margin-bottom:25%">
                            @Html.Action("PBMenu1")
                        </div>
                        <div class="social-nav">
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="page-loading">
            <noscript><div class="noscript-error"><i class="fa fa-info-circle"></i>Enable JavaScript to see this site working properly.</div></noscript>
            <div class="square-loader-wrap">
                <div class="square-loader" style="background-color:#57090a"></div>
                <div class="square-loader" style="background-color:#57090a"></div>
                <div class="square-loader" style="background-color:#57090a"></div>
                <div class="square-loader" style="background-color:#57090a"></div>
            </div>
        </div>
        <!-- JAVASCRIPT -->
        <script src="@Url.Content("~/scripts/pbdashboard/js/jquery.js")"></script>
        <!-- All set up / customisation variables for slideshow and video background etc. in custom.js file -->
        <script src="@Url.Content("~/scripts/pbdashboard/js/custom.js")"></script>
        <script src="@Url.Content("~/scripts/pbdashboard/js/finely.js")"></script>
        <script src="@Url.Content("~/scripts/pbdashboard/js/countdown.js")"></script>
        <script src="@Url.Content("~/scripts/pbdashboard/js/emailsubscribe.js")"></script>
        <script src="@Url.Content("~/scripts/pbdashboard/js/contact.js")"></script>
        <script src="@Url.Content("~/scripts/pbdashboard/js/jquery.backstretch.min.js")"></script>
        <script src="@Url.Content("~/scripts/pbdashboard/js/jquery.mb.YTPlayer.js")"></script>
        <script src="@Url.Content("~/scripts/pbdashboard/js/placeholders.min.js")"></script>
        <script src="@Url.Content("~/Scripts/Overlay/slider.js")"></script>
        <script src="@Url.Content("~/Scripts/vendors/bootstrap/dist/js/bootstrap.min.js")"></script>
        <script src="@Url.Content("~/scripts/amcharts/bootstrap.min.js")"></script>
        <script src="@Url.Content("~/scripts/amcharts/bootstrap-switch.min.js")"></script>
        <script src="@Url.Content("~/scripts/amcharts/amcharts.js")"></script>
        <script src="@Url.Content("~/scripts/amcharts/serial.js")"></script>
        <script src="@Url.Content("~/scripts/amcharts/pie.js")"></script>
        <script src="@Url.Content("~/scripts/amcharts/radar.js")"></script>
        <script src="@Url.Content("~/scripts/amcharts/light.js")"></script>
        <script src="@Url.Content("~/scripts/amcharts/patterns.js")"></script>
        <script src="@Url.Content("~/scripts/amcharts/chalk.js")"></script>
        <script src="@Url.Content("~/scripts/amcharts/ammap.js")"></script>
        <script src="@Url.Content("~/scripts/amcharts/worldlow.js")"></script>
        <script src="@Url.Content("~/scripts/amcharts/amstock.js")"></script>
        <script src="@Url.Content("~/scripts/amcharts/app.min.js")"></script>
        @*<script src="@Url.Content("~/scripts/amcharts/charts-amcharts.js")"></script>*@
        <script>

            $(window).on('resize', function () {
                var win = $(this); //this = window
                console.log("win.width() = " + win.width());
                if (win.width() >= 1500) { $('.header').css("display", "block"); $(".section-main").css("bottom", "15%"); }
                else { $('.header').css("display", "none"); $(".section-main").css("bottom", "45%"); }
            });



            $(document).ready(function () {

                $(".cwt__footer").remove();

                $('#clickmewow').click(function () {
                    $('#radio1003').attr('checked', 'checked');
                });
            })

            function openNav() {
                document.getElementById("myNav").style.width = "100%";
            }

            function closeNav() {
                document.getElementById("myNav").style.width = "0%";
            }
        </script>
        <script type="text/javascript">

            function FillChart(variable){

                $("label").each(function(){

                    $(this).removeAttr("class");
                    $(this).attr("class","btn btn-default-outline");

                })



                // $("#ParentPbMonitoringDiv").html('');
                $("#ParentPbMonitoringDiv").load('@Url.Action("PBMonitoringReportPartial", "PBDashboard")'+'?SystemUsing='+variable);



            }






            $(function () {

                Slider.init();

            });
            // Get the video
            //var video = document.getElementById("myVideo");

            //video.playbackRate = 0.5;

            // Get the button
            var btn = document.getElementById("myBtn");

            // Pause and play the video, and change the button text
            function myFunction() {
                if (video.paused) {
                    video.play();
                    btn.innerHTML = "Pause";
                } else {
                    video.pause();
                    btn.innerHTML = "Play";
                }
            }


            // No need to edit here - all settings in custom.js file

            $(document).ready(function () {

                //$(".header").css("opacity", "0.5");
                //$(".content").css("opacity", "1");

                //setTimeout(function () { $(".page-loading").fadeOut(); }, 5000);



                if(videoBackground == 'on') {
                    if( /Android|webOS|iPhone|iPad|iPod|BlackBerry|IEMobile|Opera Mini/i.test(navigator.userAgent) ) {
                        $(".player").hide();
                        $.backstretch(slideshowBackgroundURLS, {
                            fade: slideshowFade,
                            duration: slideshowDuration
                        });
                        $('.backstretch img').load(function(){
                            if(preloader == 'on') {
                                $('.page-loading').delay(1500).fadeOut(1000, function () {  animateInStart(); });
                            }
                            else {
                                animateInStart();
                            }
                        });
                    }
                    else {
                        //$(".player").mb_YTPlayer({
                        //    videoURL: videoBackgroundURL,
                        //	containment: 'body',
                        //	autoPlay: true,
                        //	mute: videoMuted,
                        //	startAt:0,
                        //	opacity:1
                        //});
                        $(".header").css("opacity", "0.9");
                        $(".content").css("opacity", "1");

                        setTimeout(function () { $(".page-loading").fadeOut(); $("body").css("background-color", ""); }, 5000);
                        $('#bgndVideo').on("YTPStart",function(){
                            if(preloader == 'on') {
                                $('.page-loading').delay(1500).fadeOut(1000, function () {  animateInStart(); });
                            }
                            else {
                                animateInStart();
                            }
                        });

                        if(videoMuted == false) {
                            $('.videoMuteButton').show();
                        }
                    }
                }
                else {
                    $.backstretch(slideshowBackgroundURLS, {
                        fade: slideshowFade,
                        duration: slideshowDuration
                    });
                    $('.backstretch img').load(function(){
                        if(preloader == 'on') {
                            $('.page-loading').delay(1500).fadeOut(1000, function () {  animateInStart(); });
                        }
                        else {
                            animateInStart();
                        }
                    });
                }

                //$("#countdown").countdown({ date: countdownDate	});

                //if ($(window).width() < 599) {
                //    $('.about-container .about-box-spacer').css('height', '1px');
                //}
                //else {
                //    var ieAboutSpacerHeight = $('.about-box-text').height() + 'px';
                //    $('.about-container .about-box-spacer').css('height', ieAboutSpacerHeight);
                //}
            });
            console.log("tdsfewsf usfywshwsfy");


            var initChartSample1 = function () {
                var chart = AmCharts.makeChart("chart_1", {
                    "type": "serial",
                    "theme": "light",
                    "pathToImages": App.getGlobalPluginsPath() + "amcharts/amcharts/images/",
                    "autoMargins": false,
                    "marginLeft": 30,
                    "marginRight": 8,
                    "marginTop": 10,
                    "marginBottom": 26,

                    "fontFamily": 'Open Sans',
                    "color": '#888',

                    "dataProvider":
                        @Html.Raw(Json.Encode(ViewBag.Report1)),
                    //[{
                    //    "year": "dkd",
                    //    "income": 23.5,
                    //    "expenses": 18.1
                    //}, {
                    //    "year": 2010,
                    //    "income": 26.2,
                    //    "expenses": 22.8
                    //}, {
                    //    "year": 2011,
                    //    "income": 30.1,
                    //    "expenses": 23.9
                    //}, {
                    //    "year": 2012,
                    //    "income": 29.5,
                    //    "expenses": 25.1
                    //}, {
                    //    "year": 2013,
                    //    "income": 30.6,
                    //    "expenses": 27.2,
                    //    "dashLengthLine": 5
                    //}, {
                    //    "year": 2014,
                    //    "income": 34.1,
                    //    "expenses": 29.9,
                    //    "dashLengthColumn": 5,
                    //    "alpha": 0.2,
                    //    "additional": "(projection)"
                    //}],
                    "valueAxes": [{
                        "axisAlpha": 0,
                        "position": "left"
                    }],
                    "startDuration": 1,
                    "graphs": [{
                        "alphaField": "alpha",
                        "balloonText": "<span style='font-size:13px;'>[[title]]  [[category]]:<b>[[value]]</b> [[additional]]</span>",
                        "dashLengthField": "dashLengthColumn",
                        "fillAlphas": 1,
                        "title": "عدد الشكاوى",
                        "type": "column",
                        "valueField": "income"
                    }, {
                        "balloonText": "<span style='font-size:13px;'>[[title]]  [[category]]:<b>[[value]]</b> [[additional]]</span>",
                        "bullet": "round",
                        "dashLengthField": "dashLengthLine",
                        "lineThickness": 3,
                        "bulletSize": 7,
                        "bulletBorderAlpha": 1,
                        "bulletColor": "#FFFFFF",
                        "useLineColorForBulletBorder": true,
                        "bulletBorderThickness": 3,
                        "fillAlphas": 0,
                        "lineAlpha": 1,
                        "title": "عدد الشكاوى المعالجة",
                        "valueField": "expenses"
                    }],
                    "categoryField": "year",
                    "categoryAxis": {
                        "gridPosition": "start",
                        "axisAlpha": 0,
                        "tickLength": 0
                    }
                });

                $('#chart_1').closest('.portlet').find('.fullscreen').click(function () {
                    chart.invalidateSize();
                });
            }
            initChartSample1();

            var initChartSample5 = function() {
                var chart = AmCharts.makeChart("chart_5", {
                    "theme": "light",
                    "type": "serial",
                    "startDuration": 2,

                    "fontFamily": 'Open Sans',

                    "color":    '#888',

                    "dataProvider":
                        @Html.Raw(Json.Encode(ViewBag.Report2)),

                    //    [{
                    //    "country": "USA",
                    //    "visits": 4025,
                    //    "color": "#FF0F00"
                    //}, {
                    //    "country": "China",
                    //    "visits": 1882,
                    //    "color": "#FF6600"
                    //}, {
                    //    "country": "Japan",
                    //    "visits": 1809,
                    //    "color": "#FF9E01"
                    //}, {
                    //    "country": "Germany",
                    //    "visits": 1322,
                    //    "color": "#FCD202"
                    //}, {
                    //    "country": "UK",
                    //    "visits": 1122,
                    //    "color": "#F8FF01"
                    //}, {
                    //    "country": "France",
                    //    "visits": 1114,
                    //    "color": "#B0DE09"
                    //}, {
                    //    "country": "India",
                    //    "visits": 984,
                    //    "color": "#04D215"
                    //}, {
                    //    "country": "Spain",
                    //    "visits": 711,
                    //    "color": "#0D8ECF"
                    //}, {
                    //    "country": "Netherlands",
                    //    "visits": 665,
                    //    "color": "#0D52D1"
                    //}, {
                    //    "country": "Russia",
                    //    "visits": 580,
                    //    "color": "#2A0CD0"
                    //}, {
                    //    "country": "South Korea",
                    //    "visits": 443,
                    //    "color": "#8A0CCF"
                    //}, {
                    //    "country": "Canada",
                    //    "visits": 441,
                    //    "color": "#CD0D74"
                    //}, {
                    //    "country": "Brazil",
                    //    "visits": 395,
                    //    "color": "#754DEB"
                    //}, {
                    //    "country": "Italy",
                    //    "visits": 386,
                    //    "color": "#DDDDDD"
                    //}, {
                    //    "country": "Australia",
                    //    "visits": 384,
                    //    "color": "#999999"
                    //}, {
                    //    "country": "Taiwan",
                    //    "visits": 338,
                    //    "color": "#333333"
                    //}, {
                    //    "country": "Poland",
                    //    "visits": 328,
                    //    "color": "#000000"
                    //}],
                    "valueAxes": [{
                        "position": "left",
                        "axisAlpha": 0,
                        "gridAlpha": 0
                    }],
                    "graphs": [{
                        "balloonText": "[[category]]: <b>[[value]]</b>",
                        "colorField": "color",
                        "fillAlphas": 0.85,
                        "lineAlpha": 0.1,
                        "type": "column",
                        "topRadius": 1,
                        "valueField": "visits"
                    }],
                    "depth3D": 40,
                    "angle": 30,
                    "chartCursor": {
                        "categoryBalloonEnabled": false,
                        "cursorAlpha": 0,
                        "zoomable": false
                    },
                    "categoryField": "country",
                    "categoryAxis": {
                        "gridPosition": "start",
                        "axisAlpha": 0,
                        "gridAlpha": 0

                    },
                    "exportConfig": {
                        "menuTop": "20px",
                        "menuRight": "20px",
                        "menuItems": [{
                            "icon": '/lib/3/images/export.png',
                            "format": 'png'
                        }]
                    }
                }, 0);

                jQuery('.chart_5_chart_input').off().on('input change', function() {
                    var property = jQuery(this).data('property');
                    var target = chart;
                    chart.startDuration = 0;

                    if (property == 'topRadius') {
                        target = chart.graphs[0];
                    }

                    target[property] = this.value;
                    chart.validateNow();
                });

                $('#chart_5').closest('.portlet').find('.fullscreen').click(function() {
                    chart.invalidateSize();
                });
            }
            initChartSample5();
            var initChartSample4 = function() {
                var chart = AmCharts.makeChart("chart_4", {
                    "type": "serial",
                    "theme": "light",


                    "handDrawn": true,
                    "handDrawScatter": 3,
                    "legend": {
                        "useGraphSettings": true,
                        "markerSize": 12,
                        "valueWidth": 0,
                        "verticalGap": 0
                    },
                    "dataProvider":
                        @Html.Raw(Json.Encode(ViewBag.Report3)),

                    //    [{
                    //    "year": 2005,
                    //    "income": 23.5,
                    //    "expenses": 18.1
                    //}, {
                    //    "year": 2006,
                    //    "income": 26.2,
                    //    "expenses": 22.8
                    //}, {
                    //    "year": 2007,
                    //    "income": 30.1,
                    //    "expenses": 23.9
                    //}, {
                    //    "year": 2008,
                    //    "income": 29.5,
                    //    "expenses": 25.1
                    //}, {
                    //    "year": 2009,
                    //    "income": 24.6,
                    //    "expenses": 25
                    //}],
                    "valueAxes": [{
                        "minorGridAlpha": 0.08,
                        "minorGridEnabled": true,
                        "position": "top",
                        "axisAlpha": 0
                    }],
                    "startDuration": 1,
                    "graphs": [{
                        "balloonText": "<span style='font-size:13px;'>[[title]] [[category]]:<b>[[value]]</b></span>",
                        "title": "عدد الشكاوى",
                        "type": "column",
                        "fillAlphas": 0.8,

                        "valueField": "income"
                    }
                    //, {
                    //    "balloonText": "<span style='font-size:13px;'>[[title]] in [[category]]:<b>[[value]]</b></span>",
                    //    "bullet": "round",
                    //    "bulletBorderAlpha": 1,
                    //    "bulletColor": "#FFFFFF",
                    //    "useLineColorForBulletBorder": true,
                    //    "fillAlphas": 0,
                    //    "lineThickness": 2,
                    //    "lineAlpha": 1,
                    //    "bulletSize": 7,
                    //    "title": "Expenses",
                    //    "valueField": "expenses"
                    //}
                    ],
                    "rotate": true,
                    "categoryField": "year",
                    "categoryAxis": {
                        "gridPosition": "start"
                    }
                });

                $('#chart_4').closest('.portlet').find('.fullscreen').click(function() {
                    chart.invalidateSize();
                });
            }
            initChartSample4();
            var initChartSample7 = function() {
                var chart = AmCharts.makeChart("chart_7", {
                    "type": "pie",
                    "theme": "light",

                    "fontFamily": 'Open Sans',

                    "color":    '#888',

                    "dataProvider":
                        @Html.Raw(Json.Encode(ViewBag.Report4)),

                    //    [{
                    //    "country": "Lithuania",
                    //    "value": 260
                    //}, {
                    //    "country": "Ireland",
                    //    "value": 201
                    //}, {
                    //    "country": "Germany",
                    //    "value": 65
                    //}, {
                    //    "country": "Australia",
                    //    "value": 39
                    //}, {
                    //    "country": "UK",
                    //    "value": 19
                    //}, {
                    //    "country": "Latvia",
                    //    "value": 10
                    //}],
                    "valueField": "value",
                    "titleField": "country",
                    //"outlineAlpha": 0.4,
                    //"depth3D": 15,
                    "balloonText": "[[title]]<br><span style='font-size:14px' lang='ar' dir='rtl'><b>[[value]]</b> ([[percents]]%)</span>",
                    //"angle": 30,
                    "exportConfig": {
                        menuItems: [{
                            icon: '/lib/3/images/export.png',
                            format: 'png'
                        }]
                    }
                });

                jQuery('.chart_7_chart_input').off().on('input change', function() {
                    var property = jQuery(this).data('property');
                    var target = chart;
                    var value = Number(this.value);
                    chart.startDuration = 0;

                    if (property == 'innerRadius') {
                        value += "%";
                    }

                    target[property] = value;
                    chart.validateNow();
                });

                $('#chart_7').closest('.portlet').find('.fullscreen').click(function() {
                    chart.invalidateSize();
                });
            }

            initChartSample7();

            var initChartSample44 = function() {
                var chart = AmCharts.makeChart("chart4", {
                    "type": "serial",
                    "theme": "light",


                    "handDrawn": true,
                    "handDrawScatter": 3,
                    "legend": {
                        "useGraphSettings": true,
                        "markerSize": 12,
                        "valueWidth": 0,
                        "verticalGap": 0
                    },
                    "dataProvider":
                        @Html.Raw(Json.Encode(ViewBag.Report5)),

                    //    [{
                    //    "year": 2005,
                    //    "income": 23.5,
                    //    "expenses": 18.1
                    //}, {
                    //    "year": 2006,
                    //    "income": 26.2,
                    //    "expenses": 22.8
                    //}, {
                    //    "year": 2007,
                    //    "income": 30.1,
                    //    "expenses": 23.9
                    //}, {
                    //    "year": 2008,
                    //    "income": 29.5,
                    //    "expenses": 25.1
                    //}, {
                    //    "year": 2009,
                    //    "income": 24.6,
                    //    "expenses": 25
                    //}],
                    "valueAxes": [{
                        "minorGridAlpha": 0.08,
                        "minorGridEnabled": true,
                        "position": "top",
                        "axisAlpha": 0
                    }],
                    "startDuration": 1,
                    "graphs": [{
                        "balloonText": "<span style='font-size:13px;'>[[title]] [[category]]:<b>[[value]]</b></span>",
                        "title": "مجموع نقاط",
                        "type": "column",
                        "fillAlphas": 0.8,

                        "valueField": "income"
                    }
                    //, {
                    //    "balloonText": "<span style='font-size:13px;'>[[title]] in [[category]]:<b>[[value]]</b></span>",
                    //    "bullet": "round",
                    //    "bulletBorderAlpha": 1,
                    //    "bulletColor": "#FFFFFF",
                    //    "useLineColorForBulletBorder": true,
                    //    "fillAlphas": 0,
                    //    "lineThickness": 2,
                    //    "lineAlpha": 1,
                    //    "bulletSize": 7,
                    //    "title": "Expenses",
                    //    "valueField": "expenses"
                    //}
                    ],
                    "rotate": true,
                    "categoryField": "year",
                    "categoryAxis": {
                        "gridPosition": "start"
                    }
                });

                $('#chart4').closest('.portlet').find('.fullscreen').click(function() {
                    chart.invalidateSize();
                });
            }
            initChartSample44();

            var initChartSample_1 = function () {
                var chart = AmCharts.makeChart("chart1", {
                    "type": "serial",
                    "theme": "light",
                    "pathToImages": App.getGlobalPluginsPath() + "amcharts/amcharts/images/",
                    "autoMargins": false,
                    "marginLeft": 30,
                    "marginRight": 8,
                    "marginTop": 10,
                    "marginBottom": 26,

                    "fontFamily": 'Open Sans',
                    "color": '#888',

                    "dataProvider":
                        @Html.Raw(Json.Encode(ViewBag.Report6)),
                    //[{
                    //    "year": "dkd",
                    //    "income": 23.5,
                    //    "expenses": 18.1
                    //}, {
                    //    "year": 2010,
                    //    "income": 26.2,
                    //    "expenses": 22.8
                    //}, {
                    //    "year": 2011,
                    //    "income": 30.1,
                    //    "expenses": 23.9
                    //}, {
                    //    "year": 2012,
                    //    "income": 29.5,
                    //    "expenses": 25.1
                    //}, {
                    //    "year": 2013,
                    //    "income": 30.6,
                    //    "expenses": 27.2,
                    //    "dashLengthLine": 5
                    //}, {
                    //    "year": 2014,
                    //    "income": 34.1,
                    //    "expenses": 29.9,
                    //    "dashLengthColumn": 5,
                    //    "alpha": 0.2,
                    //    "additional": "(projection)"
                    //}],
                    "valueAxes": [{
                        "axisAlpha": 0,
                        "position": "left"
                    }],
                    "startDuration": 1,
                    "graphs": [{
                        "alphaField": "alpha",
                        "balloonText": "<span style='font-size:13px;'>[[title]]  [[category]]:<b>[[value]]</b> [[additional]]</span>",
                        "dashLengthField": "dashLengthColumn",
                        "fillAlphas": 1,
                        "title": "عدد الشكاوى المعالجة",
                        "type": "column",
                        "valueField": "income"
                    }
                    //,
                    //{
                    //    "balloonText": "<span style='font-size:13px;'>[[title]]  [[category]]:<b>[[value]]</b> [[additional]]</span>",
                    //    "bullet": "round",
                    //    "dashLengthField": "dashLengthLine",
                    //    "lineThickness": 3,
                    //    "bulletSize": 7,
                    //    "bulletBorderAlpha": 1,
                    //    "bulletColor": "#FFFFFF",
                    //    "useLineColorForBulletBorder": true,
                    //    "bulletBorderThickness": 3,
                    //    "fillAlphas": 0,
                    //    "lineAlpha": 1,
                    //    "title": "عدد الشكاوى المعالجة",
                    //    "valueField": "expenses"
                    //}

                    ],
                    "categoryField": "year",
                    "categoryAxis": {
                        "gridPosition": "start",
                        "axisAlpha": 0,
                        "tickLength": 0
                    }
                });

                $('#chart1').closest('.portlet').find('.fullscreen').click(function () {
                    chart.invalidateSize();
                });
            }
            initChartSample_1();
            var initChartSample6 = function() {
                var chart = AmCharts.makeChart("chart_6", {
                    "type": "pie",
                    "theme": "light",

                    "fontFamily": 'Open Sans',

                    "color":    '#888',

                    "dataProvider":
                         @Html.Raw(Json.Encode(ViewBag.Report7)),
                    //    [{
                    //    "country": "Lithuania",
                    //    "litres": 501.9
                    //}, {
                    //    "country": "Czech Republic",
                    //    "litres": 301.9
                    //}, {
                    //    "country": "Ireland",
                    //    "litres": 201.1
                    //}, {
                    //    "country": "Germany",
                    //    "litres": 165.8
                    //}, {
                    //    "country": "Australia",
                    //    "litres": 139.9
                    //}, {
                    //    "country": "Austria",
                    //    "litres": 128.3
                    //}, {
                    //    "country": "UK",
                    //    "litres": 99
                    //}, {
                    //    "country": "Belgium",
                    //    "litres": 60
                    //}, {
                    //    "country": "The Netherlands",
                    //    "litres": 50
                    //}],
                    "valueField": "litres",
                    "titleField": "country",
                    "exportConfig": {
                        menuItems: [{
                            icon: App.getGlobalPluginsPath() + "amcharts/amcharts/images/export.png",
                            format: 'png'
                        }]
                    }
                });

                $('#chart_6').closest('.portlet').find('.fullscreen').click(function() {
                    chart.invalidateSize();
                });
            }
            initChartSample6();

            var initChartSample2 = function() {
                var chart = AmCharts.makeChart("chart_2", {
                    "type": "serial",
                    "theme": "light",

                    "fontFamily": 'Open Sans',
                    "color":    '#888888',

                    "legend": {
                        "equalWidths": false,
                        "useGraphSettings": true,
                        "valueAlign": "left",
                        "valueWidth": 120
                    },
                    "dataProvider":
                        @Html.Raw(Json.Encode(ViewBag.Report8)),
                    //    [{
                    //    "date": "2012-01-01",
                    //    "distance": 227,
                    //    "townName": "New York",
                    //    "townName2": "New York",
                    //    "townSize": 25,
                    //    "latitude": 40.71,
                    //    "duration": 408
                    //}, {
                    //    "date": "2012-01-02",
                    //    "distance": 371,
                    //    "townName": "Washington",
                    //    "townSize": 14,
                    //    "latitude": 38.89,
                    //    "duration": 482
                    //}, {
                    //    "date": "2012-01-03",
                    //    "distance": 433,
                    //    "townName": "Wilmington",
                    //    "townSize": 6,
                    //    "latitude": 34.22,
                    //    "duration": 562
                    //}, {
                    //    "date": "2012-01-04",
                    //    "distance": 345,
                    //    "townName": "Jacksonville",
                    //    "townSize": 7,
                    //    "latitude": 30.35,
                    //    "duration": 379
                    //}, {
                    //    "date": "2012-01-05",
                    //    "distance": 480,
                    //    "townName": "Miami",
                    //    "townName2": "Miami",
                    //    "townSize": 10,
                    //    "latitude": 25.83,
                    //    "duration": 501
                    //}, {
                    //    "date": "2012-01-06",
                    //    "distance": 386,
                    //    "townName": "Tallahassee",
                    //    "townSize": 7,
                    //    "latitude": 30.46,
                    //    "duration": 443
                    //}, {
                    //    "date": "2012-01-07",
                    //    "distance": 348,
                    //    "townName": "New Orleans",
                    //    "townSize": 10,
                    //    "latitude": 29.94,
                    //    "duration": 405
                    //}, {
                    //    "date": "2012-01-08",
                    //    "distance": 238,
                    //    "townName": "Houston",
                    //    "townName2": "Houston",
                    //    "townSize": 16,
                    //    "latitude": 29.76,
                    //    "duration": 309
                    //}, {
                    //    "date": "2012-01-09",
                    //    "distance": 218,
                    //    "townName": "Dalas",
                    //    "townSize": 17,
                    //    "latitude": 32.8,
                    //    "duration": 287
                    //}, {
                    //    "date": "2012-01-10",
                    //    "distance": 349,
                    //    "townName": "Oklahoma City",
                    //    "townSize": 11,
                    //    "latitude": 35.49,
                    //    "duration": 485
                    //}, {
                    //    "date": "2012-01-11",
                    //    "distance": 603,
                    //    "townName": "Kansas City",
                    //    "townSize": 10,
                    //    "latitude": 39.1,
                    //    "duration": 890
                    //}, {
                    //    "date": "2012-01-12",
                    //    "distance": 534,
                    //    "townName": "Denver",
                    //    "townName2": "Denver",
                    //    "townSize": 18,
                    //    "latitude": 39.74,
                    //    "duration": 810
                    //}, {
                    //    "date": "2012-01-13",
                    //    "townName": "Salt Lake City",
                    //    "townSize": 12,
                    //    "distance": 425,
                    //    "duration": 670,
                    //    "latitude": 40.75,
                    //    "dashLength": 8,
                    //    "alpha": 0.4
                    //}, {
                    //    "date": "2012-01-14",
                    //    "latitude": 36.1,
                    //    "duration": 470,
                    //    "townName": "Las Vegas",
                    //    "townName2": "Las Vegas"
                    //}, {
                    //    "date": "2012-01-15"
                    //}, {
                    //    "date": "2012-01-16"
                    //}, {
                    //    "date": "2012-01-17"
                    //}, {
                    //    "date": "2012-01-18"
                    //}, {
                    //    "date": "2012-01-19"
                    //}],
                    "valueAxes": [{
                        "id": "distanceAxis",
                        "axisAlpha": 0,
                        "gridAlpha": 0,
                        "position": "left",
                        "title": "distance"
                    }, {
                        "id": "latitudeAxis",
                        "axisAlpha": 0,
                        "gridAlpha": 0,
                        "labelsEnabled": false,
                        "position": "right"
                    }, {
                        "id": "durationAxis",
                        "duration": "mm",
                        "durationUnits": {
                            "hh": "h ",
                            "mm": "min"
                        },
                        "axisAlpha": 0,
                        "gridAlpha": 0,
                        "inside": true,
                        "position": "right",
                        "title": "duration"
                    }],
                    "graphs": [{
                        "alphaField": "alpha",
                        "balloonText": "[[value]] miles",
                        "dashLengthField": "dashLength",
                        "fillAlphas": 0.7,
                        "legendPeriodValueText": "total: [[value.sum]] mi",
                        "legendValueText": "[[value]] mi",
                        "title": "distance",
                        "type": "column",
                        "valueField": "distance",
                        "valueAxis": "distanceAxis"
                    }, {
                        "balloonText": "latitude:[[value]]",
                        "bullet": "round",
                        "bulletBorderAlpha": 1,
                        "useLineColorForBulletBorder": true,
                        "bulletColor": "#FFFFFF",
                        "bulletSizeField": "townSize",
                        "dashLengthField": "dashLength",
                        "descriptionField": "townName",
                        "labelPosition": "right",
                        "labelText": "[[townName2]]",
                        "legendValueText": "[[description]]/[[value]]",
                        "title": "latitude/city",
                        "fillAlphas": 0,
                        "valueField": "latitude",
                        "valueAxis": "latitudeAxis"
                    }, {
                        "bullet": "square",
                        "bulletBorderAlpha": 1,
                        "bulletBorderThickness": 1,
                        "dashLengthField": "dashLength",
                        "legendValueText": "[[value]]",
                        "title": "duration",
                        "fillAlphas": 0,
                        "valueField": "duration",
                        "valueAxis": "durationAxis"
                    }],
                    "chartCursor": {
                        "categoryBalloonDateFormat": "DD",
                        "cursorAlpha": 0.1,
                        "cursorColor": "#000000",
                        "fullWidth": true,
                        "valueBalloonsEnabled": false,
                        "zoomable": false
                    },
                    "dataDateFormat": "YYYY-MM-DD",
                    "categoryField": "date",
                    "categoryAxis": {
                        "dateFormats": [{
                            "period": "DD",
                            "format": "DD"
                        }, {
                            "period": "WW",
                            "format": "MMM DD"
                        }, {
                            "period": "MM",
                            "format": "MMM"
                        }, {
                            "period": "YYYY",
                            "format": "YYYY"
                        }],
                        "parseDates": true,
                        "autoGridCount": false,
                        "axisColor": "#555555",
                        "gridAlpha": 0.1,
                        "gridColor": "#FFFFFF",
                        "gridCount": 50
                    },
                    "exportConfig": {
                        "menuBottom": "20px",
                        "menuRight": "22px",
                        "menuItems": [{
                            "icon": App.getGlobalPluginsPath() + "amcharts/amcharts/images/export.png",
                            "format": 'png'
                        }]
                    }
                });

                $('#chart_2').closest('.portlet').find('.fullscreen').click(function() {
                    chart.invalidateSize();
                });
            }

            initChartSample2();



            var initChartSample4444 = function() {
                var chart = AmCharts.makeChart("chart444", {
                    "type": "serial",
                    "theme": "light",


                    "handDrawn": true,
                    "handDrawScatter": 3,
                    "legend": {
                        "useGraphSettings": true,
                        "markerSize": 12,
                        "valueWidth": 0,
                        "verticalGap": 0
                    },
                    "dataProvider":
                        @Html.Raw(Json.Encode(ViewBag.Report9)),

                    //    [{
                    //    "year": 2005,
                    //    "income": 23.5,
                    //    "expenses": "popo"
                    //    }, {
                    //        "year": 2005,
                    //        "income": 23.5,
                    //        "expenses": 18.1
                    //    },{
                    //        "year": 2005,
                    //        "income": 23.5,
                    //        "expenses": 18.1
                    //    },{
                    //        "year": 2005,
                    //        "income": 23.5,
                    //        "expenses": 18.1
                    //    },{
                    //        "year": 2005,
                    //        "income": 23.5,
                    //        "expenses": 18.1
                    //    },{
                    //        "year": 2005,
                    //        "income": 23.5,
                    //        "expenses": 18.1
                    //    },{
                    //        "year": 2005,
                    //        "income": 23.5,
                    //        "expenses": 18.1
                    //    },{
                    //        "year": 2005,
                    //        "income": 23.5,
                    //        "expenses": 18.1
                    //    },{
                    //    "year": 2006,
                    //    "income": 26.2,
                    //    "expenses": 22.8
                    //}, {
                    //    "year": 2007,
                    //    "income": 30.1,
                    //    "expenses": 23.9
                    //}, {
                    //    "year": 2008,
                    //    "income": 29.5,
                    //    "expenses": 25.1
                    //}, {
                    //    "year": 2009,
                    //    "income": 24.6,
                    //    "expenses": 25
                    //}],
                    "valueAxes": [{
                        "minorGridAlpha": 0.08,
                        "minorGridEnabled": true,
                        "position": "top",
                        "axisAlpha": 0
                    }],
                    "startDuration": 1,
                    "graphs": [{
                        "balloonText": "<span style='font-size:13px;'>[[title]] [[category]]:<b>[[value]]</b></span>",
                        "title": "مجموع التحركات",
                        "type": "column",
                        "fillAlphas": 0.8,

                        "valueField": "income"
                    }
                    //, {
                    //    "balloonText": "<span style='font-size:13px;'>[[title]] in [[category]]:<b>[[value]]</b></span>",
                    //    "bullet": "round",
                    //    "bulletBorderAlpha": 1,
                    //    "bulletColor": "#FFFFFF",
                    //    "useLineColorForBulletBorder": true,
                    //    "fillAlphas": 0,
                    //    "lineThickness": 2,
                    //    "lineAlpha": 1,
                    //    "bulletSize": 7,
                    //    "title": "Expenses",
                    //    "valueField": "expenses"
                    //}
                    ],
                    "rotate": true,
                    "categoryField": "year",
                    "categoryAxis": {
                        "gridPosition": "start"
                    }
                });

                $('#chart444').closest('.portlet').find('.fullscreen').click(function() {
                    chart.invalidateSize();
                });
            }
            initChartSample4444();



            var initChartSample44444 = function() {
                var chart = AmCharts.makeChart("chart4444", {
                    "type": "serial",
                    "theme": "light",


                    "handDrawn": true,
                    "handDrawScatter": 3,
                    "legend": {
                        "useGraphSettings": true,
                        "markerSize": 12,
                        "valueWidth": 0,
                        "verticalGap": 0
                    },
                    "dataProvider":
                        @Html.Raw(Json.Encode(ViewBag.Report10)),

                    //    [{
                    //    "year": 2005,
                    //    "income": 23.5,
                    //    "expenses": "popo"
                    //    }, {
                    //        "year": 2005,
                    //        "income": 23.5,
                    //        "expenses": 18.1
                    //    },{
                    //        "year": 2005,
                    //        "income": 23.5,
                    //        "expenses": 18.1
                    //    },{
                    //        "year": 2005,
                    //        "income": 23.5,
                    //        "expenses": 18.1
                    //    },{
                    //        "year": 2005,
                    //        "income": 23.5,
                    //        "expenses": 18.1
                    //    },{
                    //        "year": 2005,
                    //        "income": 23.5,
                    //        "expenses": 18.1
                    //    },{
                    //        "year": 2005,
                    //        "income": 23.5,
                    //        "expenses": 18.1
                    //    },{
                    //        "year": 2005,
                    //        "income": 23.5,
                    //        "expenses": 18.1
                    //    },{
                    //    "year": 2006,
                    //    "income": 26.2,
                    //    "expenses": 22.8
                    //}, {
                    //    "year": 2007,
                    //    "income": 30.1,
                    //    "expenses": 23.9
                    //}, {
                    //    "year": 2008,
                    //    "income": 29.5,
                    //    "expenses": 25.1
                    //}, {
                    //    "year": 2009,
                    //    "income": 24.6,
                    //    "expenses": 25
                    //}],
                    "valueAxes": [{
                        "minorGridAlpha": 0.08,
                        "minorGridEnabled": true,
                        "position": "top",
                        "axisAlpha": 0
                    }],
                    "startDuration": 1,
                    "graphs": [{
                        "balloonText": "<span style='font-size:13px;'>[[title]] [[category]]:<b>[[value]]</b></span>",
                        "title": "مجموع التحركات",
                        "type": "column",
                        "fillAlphas": 0.8,

                        "valueField": "income"
                    }
                    //, {
                    //    "balloonText": "<span style='font-size:13px;'>[[title]] in [[category]]:<b>[[value]]</b></span>",
                    //    "bullet": "round",
                    //    "bulletBorderAlpha": 1,
                    //    "bulletColor": "#FFFFFF",
                    //    "useLineColorForBulletBorder": true,
                    //    "fillAlphas": 0,
                    //    "lineThickness": 2,
                    //    "lineAlpha": 1,
                    //    "bulletSize": 7,
                    //    "title": "Expenses",
                    //    "valueField": "expenses"
                    //}
                    ],
                    "rotate": true,
                    "categoryField": "year",
                    "categoryAxis": {
                        "gridPosition": "start"
                    }
                });

                $('#chart4444').closest('.portlet').find('.fullscreen').click(function() {
                    chart.invalidateSize();
                });
            }
            initChartSample44444();
            var initChartSample55 = function() {
                var chart = AmCharts.makeChart("chart_55", {
                    "theme": "light",
                    "type": "serial",
                    "startDuration": 2,

                    "fontFamily": 'Open Sans',

                    "color":    '#888',

                    "dataProvider":
                        @Html.Raw(Json.Encode(ViewBag.Report2)),

                    //    [{
                    //    "country": "USA",
                    //    "visits": 4025,
                    //    "color": "#FF0F00"
                    //}, {
                    //    "country": "China",
                    //    "visits": 1882,
                    //    "color": "#FF6600"
                    //}, {
                    //    "country": "Japan",
                    //    "visits": 1809,
                    //    "color": "#FF9E01"
                    //}, {
                    //    "country": "Germany",
                    //    "visits": 1322,
                    //    "color": "#FCD202"
                    //}, {
                    //    "country": "UK",
                    //    "visits": 1122,
                    //    "color": "#F8FF01"
                    //}, {
                    //    "country": "France",
                    //    "visits": 1114,
                    //    "color": "#B0DE09"
                    //}, {
                    //    "country": "India",
                    //    "visits": 984,
                    //    "color": "#04D215"
                    //}, {
                    //    "country": "Spain",
                    //    "visits": 711,
                    //    "color": "#0D8ECF"
                    //}, {
                    //    "country": "Netherlands",
                    //    "visits": 665,
                    //    "color": "#0D52D1"
                    //}, {
                    //    "country": "Russia",
                    //    "visits": 580,
                    //    "color": "#2A0CD0"
                    //}, {
                    //    "country": "South Korea",
                    //    "visits": 443,
                    //    "color": "#8A0CCF"
                    //}, {
                    //    "country": "Canada",
                    //    "visits": 441,
                    //    "color": "#CD0D74"
                    //}, {
                    //    "country": "Brazil",
                    //    "visits": 395,
                    //    "color": "#754DEB"
                    //}, {
                    //    "country": "Italy",
                    //    "visits": 386,
                    //    "color": "#DDDDDD"
                    //}, {
                    //    "country": "Australia",
                    //    "visits": 384,
                    //    "color": "#999999"
                    //}, {
                    //    "country": "Taiwan",
                    //    "visits": 338,
                    //    "color": "#333333"
                    //}, {
                    //    "country": "Poland",
                    //    "visits": 328,
                    //    "color": "#000000"
                    //}],
                    "valueAxes": [{
                        "position": "left",
                        "axisAlpha": 0,
                        "gridAlpha": 0
                    }],
                    "graphs": [{
                        "balloonText": "[[category]]: <b>[[value]]</b>",
                        "colorField": "color",
                        "fillAlphas": 0.85,
                        "lineAlpha": 0.1,
                        "type": "column",
                        "topRadius": 1,
                        "valueField": "visits"
                    }],
                    "depth3D": 40,
                    "angle": 30,
                    "chartCursor": {
                        "categoryBalloonEnabled": false,
                        "cursorAlpha": 0,
                        "zoomable": false
                    },
                    "categoryField": "country",
                    "categoryAxis": {
                        "gridPosition": "start",
                        "axisAlpha": 0,
                        "gridAlpha": 0

                    },
                    "exportConfig": {
                        "menuTop": "20px",
                        "menuRight": "20px",
                        "menuItems": [{
                            "icon": '/lib/3/images/export.png',
                            "format": 'png'
                        }]
                    }
                }, 0);

                jQuery('.chart_5_chart_input').off().on('input change', function() {
                    var property = jQuery(this).data('property');
                    var target = chart;
                    chart.startDuration = 0;

                    if (property == 'topRadius') {
                        target = chart.graphs[0];
                    }

                    target[property] = this.value;
                    chart.validateNow();
                });

                $('#chart_55').closest('.portlet').find('.fullscreen').click(function() {
                    chart.invalidateSize();
                });
            }
            initChartSample55();
        </script>
</body>
</html>