﻿
<style>
    .tips {
        font-size: 40px;
        color: #999;
        position: fixed;
        top: 50%;
        left: 30%;
    }

    .menu1 {
        position: fixed !important;
        margin-top: -12px !important;
        left: 50%;
        top: 50%;
        -webkit-animation: rotation 2s infinite linear;
    }

    .my-icon {
        background: url("https://rawgit.com/yandongCoder/circular-menu/master/examples/circular-menu.png");
    }

    .icon1 {
        background-position: 0 0;
    }

    .icon2 {
        background-position: 0 -56px;
    }

    .icon3 {
        background-position: 0 -116px;
    }

</style>

<link href="@Url.Content("~/content/circular-menu.css")" rel="stylesheet" />

@{

    int count = ViewBag.AccessPivilege.Count;
    int j = 0;
    //var JsonResult;
    //foreach (var item in ViewBag.AccessPivilege)
    //{
    //    JsonResult = [{title: "subMenu",icon: "my-icon icon1"},];
    //}

    //JsonResult =[{disabled: true,title: "disabled"}];
}

<div id="parentDiv">
    <div class="tips">
        @*Right click in page.*@
        <div id="menu1" class="menu1">

        </div>
    </div>
    @* <i class="fa fa-eye"></i>*@
</div>

<input type="button" id="Toggle" style="display:none;" value="spin"/>


@*<link href="@Url.Content("~/content/pbdashboard/font-awesome/css/font-awesome.min.css")" rel="stylesheet" />*@
@*<script src="@Url.Content("~/scripts/jquery-1.10.2.min.js")"></script>*@
<script src="@Url.Content("~/scripts/circular-menu.js")"></script>
<script>
   
 

    function ExecuteFunction(actionResult) {
        $(".page-loading").fadeIn();
        debugger;
        actionResult=actionResult.split("(");
        var functionName=actionResult[0].replace("\"","");
        functionName=functionName.replace(/&quot;/g , "");

        var Parameters=actionResult[1].replace(")","");
        Parameters=Parameters.split(",");

        console.log(Parameters[0]);


        //  return;
        // function name and parameters to pass
        var fnstring = functionName;
        var fnparams=[];
        for(i=0;i<Parameters.length;i++){
            Parameters[i]=Parameters[i].replace(/\'"/g , "");
            fnparams[i]=Parameters[i].replace(/'/g , "");;
        }
        //var fnparams = [Parameters[0],Parameters[1]];

        // find object
        var fn = window[fnstring];

        // is object a function?
        if (typeof fn === "function") {
            $("body").css("background-color", "");
            $(".page-loading").fadeIn();
            fn.apply(null, fnparams);
        }
    }

    function LoggingPage() {

        submit_post_via_hidden_form("@Url.Action("Index", "Logging")", { HighlightedPart: "Logging" });

    }


    function Manbar() {
        submit_post_via_hidden_form("@Url.Action("Manbar", "Home")", { });


    }

    function Marsad() {
        submit_post_via_hidden_form("@Url.Action("Marsad", "Home")", { });

    }


    function SawaLiMoukafa7atAlFasad() {
        window.location = '@Url.Action("NewClaimForm", "ClaimForms")/' + "?FormTemplateKey=106";
    }

    function RidaAlMouwaten() {
        window.location = '@Url.Action("NewClaimForm", "ClaimForms")/' + "?FormTemplateKey=113";
    }

    function RidaAlMouwazaf() {
        window.location = '@Url.Action("NewClaimForm", "ClaimForms")/' + "?FormTemplateKey=114";
    }

    function Ma3anLiSouboutyat() {
        window.location = '@Url.Action("NewClaimForm", "ClaimForms")/' + "?FormTemplateKey=127";
    }

    function Ma3anLilTabsit() {
        window.location = '@Url.Action("NewClaimForm", "ClaimForms")/' + "?FormTemplateKey=134";
    }

    function LogOut() {

        submit_post_via_hidden_form("@Url.Action("LogOff", "Account")", {  });

    }

    function gotoform(FormTemplateKey, title) {


        @*window.location = '@Url.Action("NewClaimForm", "ClaimForms")/' + "?Organization=" + "1" + "&FormTemplateKey=" + FormTemplateKey + "&ManagerIndex=" + "True";*@

        submit_post_via_hidden_form("@Url.Action("NewClaimForm", "ClaimForms")",

{
    Organization: "1",
    FormTemplateKey: escape(FormTemplateKey),
    ManagerIndex: "True",
    HighlightedPart: title
}
                          );
    }

    function submit_post_via_hidden_form(url, params) {
        var f = $("<form method='POST' style='display:none;'></form>").attr({
            action: url
        }).appendTo(document.body);

        for (var i in params) {
            if (params.hasOwnProperty(i)) {
                $('<input type="hidden" />').attr({
                    name: i,
                    value: params[i]
                }).appendTo(f);
            }
        }

        f.submit();

        f.remove();
    }

    function gotoNewClaim(FormTemplateKey) {


        submit_post_via_hidden_form("@Url.Action("NewClaimForm", "ClaimForms")", { FormTemplateKey: escape(FormTemplateKey), });

    }

    function ReportingPart(Part) {

        submit_post_via_hidden_form("@Url.Action("Index", "Reporting")", { section: Part, HighlightedPart: "Takarir" });

    }

    function LoggingPage() {

        submit_post_via_hidden_form("@Url.Action("Index", "Logging")", { HighlightedPart: "Logging" });

    }

    function ChatPage() {

        submit_post_via_hidden_form("@Url.Action("Index", "ChatPage")", { HighlightedPart: "Chatting" });

    }

    function UserRoleOrOrganisation(Type) {
        submit_post_via_hidden_form("@Url.Action("UsersRoles", "Home")", { RolesOrOrganisations: Type, HighlightedPart: "e3dadalmousta5dimin" }, "_blank");
    }


    function adManagerForms(organisationKey, formtype) {
        @*window.location = '@Url.Action("getAdManagerFormsForMoad", "Home")/' + "?ClaimType=" + formtype + "&organisationKey=" + organisationKey;*@

        submit_post_via_hidden_form("@Url.Action("getAdManagerFormsForMoad", "Home")",

    {
        ClaimType: formtype,
        organisationKey: organisationKey,
        HighlightedPart: "Estibanat"
    }
                               );


    }


    function Ranking() {
        submit_post_via_hidden_form("@Url.Action("TasnifAlAda2AlSanawi", "Ranking")", {  });
            @*submit_post_via_hidden_form("@Url.Action("Index", "Ranking")", {});*@

            }


    function GetRanking() {
        submit_post_via_hidden_form("@Url.Action("TasnifAlAda2AlSanawi", "Ranking")", { description:"GetRanking"  });

            @*submit_post_via_hidden_form("@Url.Action("GetRanking", "Ranking")", {});*@

            }

  
    function gotomyclaims(ClaimType, title) {
        window.location = '@Url.Action("AdManagersClaims", "Home")/' + "?ClaimType=" + ClaimType;

        submit_post_via_hidden_form("@Url.Action("AdManagersClaims", "Home")",

    {
        ClaimType: ClaimType,
        HighlightedPart: title
    }
                               );
    }

    function gotoformViews(type, title) {
        @*window.location = '@Url.Action("AdUsersForms", "Home")/' + "?type=" + type;*@

        submit_post_via_hidden_form("@Url.Action("AdUsersForms2", "Home")",

{
    type: type,
    HighlightedPart: title
}
                );


    }

    function goToMyClaim(formKey, GUID, CreatedAt, CitizenKey, NextFormTemplateKey, CurrentStatusKey, CurrentFormtemplateKey, CurrentFormtemplateName, CurrentStatusName, NextOrganisationKey, CurrentOrganisationKey) {

        @if (User.IsInRole("ADManager") || User.IsInRole("ADDirector"))
           {
               <text>
        submit_post_via_hidden_form("@Url.Action("ADManagerTemplate", "FormTemplatesDisplay")", { formKey: formKey, GUID: GUID, CreatedAt: CreatedAt, CitizenKey: CitizenKey, CurrentStatusKey: CurrentStatusKey, NextFormTemplateKey: NextFormTemplateKey, CurrentFormtemplateKey: CurrentFormtemplateKey, CurrentFormtemplateName: CurrentFormtemplateName, NextOrganisationKey: NextOrganisationKey, CurrentOrganisationKey: CurrentOrganisationKey });

        @*window.location = '@Url.Action("ADManagerTemplate", "FormTemplatesDisplay")/' + "?formKey=" + formKey + "&GUID=" + GUID + "&CreatedAt=" + CreatedAt + "&CitizenKey=" + CitizenKey + "&CurrentStatusKey=" + CurrentStatusKey + "&NextFormTemplateKey=" + NextFormTemplateKey + "&CurrentFormtemplateKey=" + CurrentFormtemplateKey + "&CurrentFormtemplateName=" + CurrentFormtemplateName + "&NextOrganisationKey=" + NextOrganisationKey + "&CurrentOrganisationKey=" + CurrentOrganisationKey;*@
        </text>
    }
        @if (User.IsInRole("OPManager") || User.IsInRole("OPGeneralDirector") || User.IsInRole("OPDirector") || User.IsInRole("Human Development Sector") || User.IsInRole("Administrative sector") || User.IsInRole("Economic sector") || User.IsInRole("Service sector") || User.IsInRole("OPManagerGroup5") || User.IsInRole("OPManagerGroup6") || User.IsInRole("OPManagerGroup7"))
            {
                <text>
        @*window.location = '@Url.Action("FormInstance", "Home")/' + "?formKey=" + formKey + "&GUID=" + GUID + "&CreatedAt=" + CreatedAt + "&CitizenKey=" + CitizenKey + "&CurrentStatusKey=" + CurrentStatusKey + "&NextFormTemplateKey=" + NextFormTemplateKey + "&CurrentFormtemplateKey=" + CurrentFormtemplateKey + "&CurrentFormtemplateName=" + CurrentFormtemplateName + "&CurrentStatusName=" + CurrentStatusName + "&NextOrganisationKey=" + NextOrganisationKey + "&CurrentOrganisationKey=" + CurrentOrganisationKey;*@
        submit_post_via_hidden_form("@Url.Action("FormInstance", "Home")", { formKey: formKey, GUID: GUID, CreatedAt: CreatedAt, CitizenKey: CitizenKey, CurrentStatusKey: CurrentStatusKey, NextFormTemplateKey: NextFormTemplateKey, CurrentFormtemplateKey: CurrentFormtemplateKey, CurrentFormtemplateName: CurrentFormtemplateName, CurrentStatusName: CurrentStatusName, NextOrganisationKey: NextOrganisationKey, CurrentOrganisationKey: CurrentOrganisationKey });

        </text>
    }
        @if (User.IsInRole("Citizen"))
            {
                <text>
        @*window.location = '@Url.Action("ADManagerTemplate", "FormTemplatesDisplay")/' + "?formKey=" + formKey + "&GUID=" + GUID + "&CreatedAt=" + CreatedAt + "&CitizenKey=" + CitizenKey + "&CurrentStatusKey=" + CurrentStatusKey + "&NextFormTemplateKey=" + NextFormTemplateKey + "&CurrentFormtemplateKey=" + CurrentFormtemplateKey + "&CurrentFormtemplateName=" + CurrentFormtemplateName + "&NextOrganisationKey=" + NextOrganisationKey + "&CurrentOrganisationKey=" + CurrentOrganisationKey;*@
        submit_post_via_hidden_form("@Url.Action("ADManagerTemplate", "FormTemplatesDisplay")", { formKey: formKey, GUID: GUID, CreatedAt: CreatedAt, CitizenKey: CitizenKey, CurrentStatusKey: CurrentStatusKey, NextFormTemplateKey: NextFormTemplateKey, CurrentFormtemplateKey: CurrentFormtemplateKey, CurrentFormtemplateName: CurrentFormtemplateName, NextOrganisationKey: NextOrganisationKey, CurrentOrganisationKey: CurrentOrganisationKey });

        </text>
    }
    }


    function UpdateOrgs() {
        window.location = "@Url.Action("UpdateOrgs", "MouwazafinWithOrgs", new { HighlightedPart = "ta3dilMou2asasat" })";
    }

    function Entidab(){
        window.location = '@Url.Action("EntidabMouwazaf", "AspNetUsers")';

    }
    function Idara() {
        window.location = '@Url.Action("Index", "AspNetUsers")';

    }

    function Users() {
        window.location = "@Url.Action("Index", "AspNetUsers",new { HighlightedPart = "e3dadalmousta5dimin"})";

    }

    function AddRole() {

        window.location = "@Url.Action("AddRole", "AspNetUsers",new { HighlightedPart = "e3dadalmousta5dimin" })";

    }

    function DeleteRole() {

        window.location = "@Url.Action("DeleteRole", "AspNetUsers",new { HighlightedPart = "e3dadalmousta5dimin" })";

    }


    function Organisations() {
        window.location = "@Url.Action("Index", "Organisations",new { HighlightedPart = "e3dadalmousta5dimin"})";

    }

    function Statuses() {
        window.location = "@Url.Action("Index", "Status",new { HighlightedPart = "e3dadatsayeel3alam"})";

    }

    function AnswerTemplates() {
        window.location = '@Url.Action("Index", "AnswersTemplates",new { HighlightedPart = "e3dadatelestibanat"})';

    }

    function ExtendedData() {
        window.location = '@Url.Action("Index", "ExtendedData",new { HighlightedPart = "e3dadatelestibanat"})';

    }

    function FormElements() {
        window.location = '@Url.Action("Index", "FormElements",new { HighlightedPart = "e3dadatelestibanat"})';

    }

    function FormElementTypes() {
        window.location = '@Url.Action("Index", "FormElementTypes",new { HighlightedPart = "e3dadatelestibanat"})';

    }

    function FormTemplates() {
        window.location = '@Url.Action("Index", "FormTemplates",new { HighlightedPart = "e3dadatelestibanat"})';

    }

    function FormTemplateTypes() {
        window.location = '@Url.Action("Index", "FormTemplateTypes",new { HighlightedPart = "e3dadatelestibanat"})';

    }

    function Questions() {
        window.location = '@Url.Action("Index", "Questions",new { HighlightedPart = "e3dadatelestibanat"})';

    }


    function privileges() {

        window.location = '@Url.Action("Index", "Privileges", new { HighlightedPart = "privileges" })';

    }

    function UsersCodes() {
        window.location = "@Url.Action("AuthenticationCodes", "Home",new { HighlightedPart = "e3dadalmousta5dimin"})";

    }

    function MouwazafinWithOrgs() {
        window.location = "@Url.Action("Index", "MouwazafinWithOrgs", new { HighlightedPart = "Ta3rifMouwazafin"})";

    }

    function TakarirRidaAlMouwazaf(FormTemplateKey) {

        submit_post_via_hidden_form("@Url.Action("Index", "Takarir")", { FormTemplateKey: FormTemplateKey});

    }

    function TakarirTable(type) {

        window.location = '@Url.Action("TakarirTable", "Takarir")/' + "?ClaimType=" + type + "&HighlightedPart=Takarir";

    }

    function GetPublishedRanking() {

        submit_post_via_hidden_form("@Url.Action("GetPublishedRanking", "Ranking")", { HighlightedPart: "Ranking" });

    }

    function TechExpert() {

        submit_post_via_hidden_form("@Url.Action("TechExpert", "Home")", { HighlightedPart: "TechExpert" });

    }

    function ViewMoubadaratOrgs() {

        submit_post_via_hidden_form("@Url.Action("ViewMoubadaratOrgs", "Ranking")", { HighlightedPart: "Moubadarat" });

    }
    
    function MoubadaratOrgs() {

        submit_post_via_hidden_form("@Url.Action("MoubadaratOrgs", "Ranking")", { HighlightedPart: "Moubadarat" });

    }

    function Email() {

        location.href = 'http://74.208.210.99:84/roundcube/';


    }
    var test1= [ {
        title: "GitLab",
        icon: ["fa fa-gitlab", '#4078c0'],
    }, {
        title: "subMenu",
        icon: "my-icon icon1",
        menus: [{
            title: 'subMenu1',
            icon: 'fa fa-firefox',
            menus: [{
                title: 'kaka',
                icon: 'fa fa-firefox'
            }, {
                title: 'kaka1',
                icon: 'fa fa-firefox'
            }]
        }, {
            title: 'subMenu2',

            menus: [{
                title: 'kaka',

            }, {
                title: 'kaka1',

            }]
        }, {
            title: 'subMenu2',
            icon: 'fa fa-file'
        }]
    },{
        title: "click",
        icon: "my-icon icon1",
    }, {
        title: "click",
        icon: "my-icon icon3"
    }, {
        title: "hash-href",
        href: "#someHash"
    }, {
        title: "hash-href",
        href: "#someHash"
    }, {
        title: "hash-href",
        href: "#someHash"
    }, {
        title: "clickMe!",
        click: function () {
            alert('click event callback');

        }
    }, {
        disabled: true,
        title: "disabled"
    }]
    console.log(test1);
    //test1.splice(0, 0, firstItem);
    console.log("aahfsays");

    console.log('@Html.Raw(Json.Encode(ViewBag.AccessPivilege))');


    var menu = CMenu("#menu1")
  .config(
      @Html.Raw(Json.Encode(ViewBag.AccessPivilege))
  );

    menu.show();

    $(document).click(function () {
        // menu.hide();
        menu.show();

        // console.log(JSON.stringify(MenuResult));
    });
    $(document).contextmenu(function (e) {
        menu.show();
        
        //  menu.show([e.pageX, e.pageY]);
        return false;
    });

</script>