﻿<!DOCTYPE html>
<html lang="en" class="no-js">
<head>


    <link href="@Url.Content("~/scripts/pbmenu/css/normalize.css")" rel="stylesheet" />
    <link href="@Url.Content("~/scripts/pbmenu/css/demo.css")" rel="stylesheet" />
    <link href="@Url.Content("~/scripts/pbmenu/css/component2.css")" rel="stylesheet" />


    <script src="@Url.Content("~/scripts/pbmenu/js/modernizr-2.6.2.min.js")"></script>

    <script type="text/javascript">
var _gaq = _gaq || [];
_gaq.push(['_setAccount', 'UA-7243260-2']);
_gaq.push(['_trackPageview']);
(function() {
var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
})();
    </script>

</head>
<body>
    <div class="container">
        <!-- Top Navigation -->
    

        <div class="component">


            <button class="cn-button" id="cn-button">Menu</button>
            <div class="cn-wrapper" id="cn-wrapper">
                <ul>

                    @{
                        int count = ViewBag.AccessPivilege.Count;

                        @*<li><a href="#" style="visibility:hidden"><span>More....</span></a></li>*@                     
                           
                        foreach (var item in ViewBag.AccessPivilege)
                        {




                                <li><a href="#"><span>@item.PrivilegeName</span></a></li>
                          


                        }
                        @*if (count <= 7)
                        {
                            <li><a href="#"><span>More....</span></a></li>
                        }
                        <li><a href="#" style="visibility:hidden"><span>More....</span></a></li>*@
                    }
                   
                    @*<li><a href="#"><span>About</span></a></li>
                    <li><a href="#"><span>Tutorials</span></a></li>
                    <li><a href="#"><span>Articles</span></a></li>
                    <li><a href="#"><span>Snippets</span></a></li>
                    <li><a href="#"><span>Plugins</span></a></li>
                    <li><a href="#"><span>Contact</span></a></li>
                    <li><a href="#"><span>Follow</span></a></li>*@
                </ul>
             
            </div>
            <!-- End of Nav Structure -->
        </div>

    </div><!-- /container -->



    <script src="@Url.Content("~/scripts/pbmenu/js/polyfills.js")"></script>
    <script src="@Url.Content("~/scripts/pbmenu/js/demo2.js")"></script>
   

   
</body>
</html>