﻿@model MoAD.DataObjects.EDMX.AnswersTemplate

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_LayoutInitialPage.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>AnswersTemplate</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Value)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Value)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ScoreKey)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ScoreKey)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AnswerTemplateKeyIndex)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AnswerTemplateKeyIndex)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ExtendedData.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ExtendedData.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Question.Value)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Question.Value)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FormElement.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FormElement.Name)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
