﻿@model MoAD.DataObjects.EDMX.AnswersTemplate

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_LayoutInitialPage.cshtml";
}

<h2>Details</h2>

<div>
    <h4>AnswersTemplate</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Value)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Value)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ScoreKey)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ScoreKey)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AnswerTemplateKeyIndex)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AnswerTemplateKeyIndex)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ExtendedData.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ExtendedData.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Question.Value)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Question.Value)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FormElement.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FormElement.Name)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.AnswerTemplateKey }) |
    @Html.ActionLink("Back to List", "Index")
</p>
