﻿@model IEnumerable<MoAD.DataObjects.EDMX.AnswersTemplate>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutInitialPage.cshtml";
}

<script>
    $(document).ready(function () {
        $('#table').DataTable({
            //responsive: true,
            "scrollX": true,
            "oLanguage": {
                "sSearch": "إبحث",
                "sLengthMenu": "عدد الأسطر لكل صفحة _MENU_ ",
            }
        });
      
    });
</script>

<div class="row" style="margin-top:1%;">
    <div class="col-xl-12">
        <div class="row">
            <div class="col-xl-12">
                <div class="widget widget-two" style="direction:rtl;">
                    <div class="widget-header">
                        <span class="text-truncate text-nowrap">إعدادات <strong>قيد الانتظار</strong></span><span class="pull-left">@Html.ActionLink("جديد", "Create")</span>
                    </div>

                    <div class="row">

                        <div class="widget-body clearfix">

                            <table id="table" class="display" cellspacing="0" style="width:auto;">
                                <thead>
                                    <tr>
                                        <th>
                                            @Html.DisplayNameFor(model => model.Value)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.ScoreKey)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.AnswerTemplateKeyIndex)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.ExtendedData.Name)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.Question.Value)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.FormElement.Name)
                                        </th>
                                        <th></th>
                                    </tr>
                                </thead>

                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Value)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.ScoreKey)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.AnswerTemplateKeyIndex)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.ExtendedData.Name)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Question.Value)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.FormElement.Name)
                                        </td>
                                        <td>
                                            <div class="row" style="width:400px;margin-right: 5%;">
                                                @Html.ActionLink("Edit", "Edit", new { id = item.AnswerTemplateKey }) |
                                                @Html.ActionLink("Details", "Details", new { id = item.AnswerTemplateKey }) |
                                                @Html.ActionLink("Delete", "Delete", new { id = item.AnswerTemplateKey })
                                            </div>
                                        </td>
                                    </tr>
                                }
                                <tfoot>
                                    <tr>
                                        <th>
                                            @Html.DisplayNameFor(model => model.Value)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.ScoreKey)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.AnswerTemplateKeyIndex)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.ExtendedData.Name)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.Question.Value)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.FormElement.Name)
                                        </th>
                                        <th></th>
                                    </tr>
                                </tfoot>

                            </table>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

