﻿
@using Microsoft.AspNet.Identity
@using MoAD.DataObjects.EDMX
@using MoAD.WebApplication.Objects;
@using MoAD.WebApplication.Managers;
@using System;
@model MoAD.WebApplication.Models.CardModalViewModel



@{
    ViewBag.Title = "Home Page";
    Layout = null;
    HttpCookie languageCookie = Request.Cookies["Language"];
    var InitialDirection = "rtl";
    if (languageCookie != null && languageCookie.Value != "3")
    {
        InitialDirection = "ltr";
    }
    List<GetAdManagerForms_Result> Estetla3Ra2iPublishedFormsForManbar = ViewBag.Estetla3Ra2iPublishedForms;

    if (Estetla3Ra2iPublishedFormsForManbar == null)
    {
        Estetla3Ra2iPublishedFormsForManbar = new List<GetAdManagerForms_Result>();
    }
    Dictionary<string, string> Locale = ViewBag.Locale;
    int languageIdentifier = (int)Model.languageNeeded;
    string imageSource = Url.Action("GetFilePathFromExtendedData", "Files", new { extensionFileKey = Model.imageKey }).ToString();

}


 
    
           
            <div class="modal-body modal-body-card" id="modelCardBody">
                <div class="row">
                    <div class="col-lg-12  @(languageIdentifier == 4 ? "reverse-row" : "")" style="margin-top:10px">
                        <div class="col-lg-5 col-md-5 col-sm-5  col-xs-12">
                            <label for="language">
                                اللغة
                            </label>

                        </div>
                        <div class="col-lg-7 col-md-7 col-sm-7  col-xs-12" style=" margin-top: 10px;">
                            <select id="languageDropDownCard" class="form-control" style="width:100%">
                                <option value="3" @(Model.languageNeeded == 3 ? "selected" : "")>Arabic</option>
                                <option value="4" @(Model.languageNeeded == 4 ? "selected" : "")>English</option>
                            </select>
                        </div>

                    </div>

                    <div class="card-changd-parts">
                        @if (Model.TitleTranslation != null && Model.TitleTranslation.Length != 0)
                        {
                            <div class="col-lg-12 title-container @(languageIdentifier == 4 ? "reverse-row": "")" style="margin-top:10px">
                                <div class="col-lg-5 col-md-5 col-sm-5  col-xs-12">
                                    <label for="titleModal">
                                        تعديل العنوان
                                    </label>
                                </div>
                                <div class="col-lg-7 col-md-7 col-sm-7 col-xs-12">
                                    <input type='text' class='form-control' id='titleModal' data-translation='@(Model.TitleTranslation.Length!=0 ? Model.TitleTranslation : "" )' value='@(Model.TitleTranslation.Length!=0 ? Utilities.GetDataTransaltionByGuid(Model.TitleTranslation, languageIdentifier) : "")' />
                                </div>
                            </div>
                        }


                        @if (Model.SubTitleTranslation != null && Model.SubTitleTranslation.Length != 0)
                        {
                            <div class="col-lg-12 title-text-container @(languageIdentifier == 4 ? "reverse-row": "")" style="margin-top:10px">
                                <div class="col-lg-5 col-md-5 col-sm-5  col-xs-12">
                                    <label for="titleTextModal">
                                        تعديل عنوان التوصيف
                                    </label>
                                </div>
                                <div class="col-lg-7 col-md-7 col-sm-7 col-xs-12"><input type='text' class='form-control' id='titleTextModal' data-translation='@(Model.SubTitleTranslation.Length!=0 ? Model.SubTitleTranslation : "" )' value='@(Model.SubTitleTranslation.Length!=0 ? Utilities.GetDataTransaltionByGuid(Model.SubTitleTranslation, languageIdentifier) : "")' /></div>
                            </div>
                        }


                        @if (Model.ParagraphTranslation != null && Model.ParagraphTranslation.Length != 0)
                        {
                            <div class="col-lg-12 paragraph-container @(languageIdentifier == 4 ? "reverse-row": "")" style="margin-top:10px">
                                <div class="col-lg-5 col-md-5 col-sm-5  col-xs-12">
                                    <label for="textParagraphModal">
                                        تعديل التوصيف
                                    </label>
                                </div>
                                <div class="col-lg-7 col-md-7 col-sm-7 col-xs-12">
                                    <textarea class="form-control" id="textParagraphModal" rows="15" cols="15" data-translation='@(Model.ParagraphTranslation.Length!=0 ? Model.ParagraphTranslation : "" )'>

                                        @(Model.ParagraphTranslation.Length!=0 ? Utilities.GetDataTransaltionByGuid(Model.ParagraphTranslation, languageIdentifier).Trim() : "")
                                    </textarea>
                                </div>
                            </div>
                        }

                        @if (Model.imageKey != 0)
                        {
               
                            <div class="col-lg-12 paragraph-container @(languageIdentifier == 4 ? "reverse-row": "")" style="margin-top:10px">
                                <div class="col-lg-5 col-md-5 col-sm-5  col-xs-12">
                                    <label for="textParagraphModal">
                                        @Model.imageSize &nbsp; تعديل الصورة
                                    </label>
                                </div>
                                <div class="col-lg-7 col-md-7 col-sm-7 col-xs-12">
                                    <img src="@imageSource" class="image-to-reload pointer img-to-change" style="width: 100%; border-radius: 10%;" id="imgModal" data-translation="@Model.imageKey" />
                                </div>
                            </div>
                        }

                        @if (Model.FormTemplateKey != null)
                        {
                            <div class="col-lg-12 paragraph-container @(languageIdentifier == 4 ? "reverse-row": "")" style="margin-top:10px">
                                <div class="col-lg-5 col-md-5 col-sm-5  col-xs-12">
                                    <button class="btn btn-primary" onclick="viewestibana('@Model.FormTemplateKey')">تعديل الاستبيان</button>
                                </div>
                                <div class="col-lg-7 col-md-7 col-sm-7 col-xs-12">
                                </div>
                            </div>
                        }

                        @if (Model.redirectComponent == "True")
                        {

                            <div class="row mb-1" id="childTypeContainer">
                                <div class="col-lg-12">
                                    <label>نوع الصفحة</label>
                                    <select id="pageTypeDropdownCard" style="width:100%;">
                                        <option></option>
                                        <option value="Pdf">صفحة PDF</option>
                                        <option value="Page">صفحة ويب</option>
                                    </select>
                                </div>
                            </div>
                            <div class="row mb-1" id="redPdfContainerCard" hidden>
                                <div class="col-lg-12">
                                    <label>تحميل ملف PDF</label>
                                    <div class="dropzone my-dropzone pdfCard-drop-zone" @*id="inputModal"*@>
                                        <div class="dz-message" data-dz-message><span>قم بإسقاط الملفات هنا للتحميل</span></div>

                                    </div>
                                </div>
                            </div>
                            <div class="row mb-1" id="resPagesDropdownCardContainer" hidden>
                                <div class="col-lg-8">
                                    <label>اختر الصفحة</label>
                                    <select id="resPagesDropdownCard" style="width:100%;">
                                        <option value="Leaf">Page1</option>
                                        <option value="Parent">Page1</option>
                                    </select>
                                </div>
                                <div class="col-lg-2" style="margin-top:40px;">
                                    <a href="" class="goToCreatePage"><i class="fa fa-plus fa-2x"></i></a>
                                </div>
                                <div class="col-lg-2" style="margin-top:40px;">
                                    <a href="" class="goToPages" data-DropdownPagesName="resPagesDropdownCard"><i class="fa fa-eye fa-2x"></i></a>
                                </div>
                            </div>

                        }
                    </div>


                   

                </div>

            </div>
        

            <script>
       $("#pageTypeDropdownCard").select2({ placeholder: "نوع الصفحة", dropdownParent: "#modelCardBody" });
       $("#resPagesDropdownCard").select2({ placeholder: "اختر الصفحة", dropdownParent: "#modelCardBody" });
       $("#languageDropDownCard").select2({ dropdownParent: "#modelCardBody" });

       $(document).on("change", "#pageTypeDropdownCard", function () {
           var parentType = $(this).val();
           FillAllDopdownsPages();
           if (parentType == "Pdf") {
               $("#redPdfContainerCard").show();
               $("#resPagesDropdownCardContainer").hide();
           } else {
               $("#resPagesDropdownCardContainer").show();
               $("#redPdfContainerCard").hide();
           }
       })
                
            if ($(".pdfCard-drop-zone").length != 0) {
            Dropzone.autoDiscover = false;

            UploadDropZone = new Dropzone('.pdfCard-drop-zone', {

           url: '@Url.Action("UploadFile", "CMS")',

           file: "file",


           addRemoveLinks: true,

           acceptedFiles: ".pdf",



           sending: function () {



           },

           removedfile: function (file) {

                 $.ajax({
                url: '@Url.Action("RemoveFile", "CMS")',
                type: 'POST',
                        data: {
                            extendedDatakey: itemTypeKeyGlobalRedirectionCard,

                },
                 success: function (data) {

                     return (_ref = file.previewElement) != null ? _ref.parentNode.removeChild(file.previewElement) : void 0;

                },
                error: function (error) {
                    //console.log(error);
                        }

                    });

           },

                success: function (file, response) {

                    itemTypeKeyGlobalRedirectionCard = response;

           },

           error: function (file, error) {

               // when an error occure

                },
              
            })
        
        }
            </script>

