﻿
@using Microsoft.AspNet.Identity
@using MoAD.DataObjects.EDMX
@using MoAD.WebApplication.Objects;
@using MoAD.WebApplication.Managers;
@model MoAD.WebApplication.Models.SingleElementViewModel

<head>
    <link href="@Url.Content("~/assets/vendors/pintura/css/pintura.css")" rel="stylesheet" />
    <link href="@Url.Content("~/assets/vendors/pintura/css/styles.css")" rel="stylesheet" />
</head>


<!-- partial:index.partial.html -->
<body>
<div class="row" style="display:none;">
    <div class='container-form'>
        <input style="display:none;" id='selectedFile' class="disp-none" type='file' accept=".png, .jpg, .jpeg, .svg">
        <button style="display:none;" id="upload-aphoto" class="btn-primary btn">Select image</button>
    </div>
    <div class='container-image'>
        <img id='confirm-img' src=''>
    </div>
</div>


<div class="modal fade" id="imageModalTestContainer" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content modal-content1 modal-content1">
            <div class="modal-header">

                <button type="button" class="close" id="closeBtn" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body modal-body1" style="position:relative;">
                <div class="my-editor"></div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary cancel-modal" data-dismiss="modal">إغلاق</button>
                <button type="button" class="btn btn-primary save-modal">حفظ</button>
            </div>
        </div>
    </div>
</div>
<!-- partial -->


<script type="module">
        import { appendDefaultEditor } from "@Url.Content("~/assets/vendors/pintura/js/pintura.js")";

        const pintura = appendDefaultEditor(".my-editor", {
            // The source image to load
            src: "@Url.Content("~/Images/CMS/637901988265259183test.png")",

            // This will set a square crop aspect ratio
            imageCropAspectRatio: 0,

            // Stickers available to user
            stickers: [
                ["Emoji", ["⭐️", "😊", "👍", "👎", "☀️", "🌤", "🌥"]],
                [
                    "Markers",
                    [
                        {
                            src: "sticker-one.svg",
                            width: "5%",
                            alt: "One"
                        },
                        {
                            src: "sticker-two.svg",
                            width: "5%",
                            alt: "Two"
                        },
                        {
                            src: "sticker-three.svg",
                            width: "5%",
                            alt: "Three"
                        }
                    ]
                ]
            ]
        });
</script>

</body>


