﻿
@using Microsoft.AspNet.Identity
@using MoAD.DataObjects.EDMX
@using MoAD.WebApplication.Objects;
@using MoAD.WebApplication.Managers;
@model MoAD.WebApplication.Models.SingleElementViewModel

<head>
    <link href="@Url.Content("~/assets/NewPages/cropper/croppie.css")" rel="stylesheet" />

    <style>
        .disp-none {
            display: none;
        }

        .container-form {
            width: 100%;
            padding: 50px;
            padding-bottom: 0;
        }

        .container-image {
            width: 100%;
            padding: 20px;
        }


        #confirm-img {
            height: 218px;
            border-radius: 4px;
        }

        .croppie-container {
            width: auto;
            height: auto;
        }

        #imageModalContainer > .modal-dialog {
            width: 100%;
        }
        /* The switch - the box around the slider */
        .switch {
            position: relative;
            display: inline-block;
            width: 60px;
            height: 34px;
        }

            /* Hide default HTML checkbox */
            .switch input {
                opacity: 0;
                width: 0;
                height: 0;
            }

        /* The slider */
        .slider {
            position: absolute;
            cursor: pointer;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background-color: #ccc;
            -webkit-transition: .4s;
            transition: .4s;
        }

            .slider:before {
                position: absolute;
                content: "";
                height: 26px;
                width: 26px;
                left: 4px;
                bottom: 4px;
                background-color: white;
                -webkit-transition: .4s;
                transition: .4s;
            }

        input:checked + .slider {
            background-color: #2196F3;
        }

        input:focus + .slider {
            box-shadow: 0 0 1px #2196F3;
        }

        input:checked + .slider:before {
            -webkit-transform: translateX(26px);
            -ms-transform: translateX(26px);
            transform: translateX(26px);
        }

        /* Rounded sliders */
        .slider.round {
            border-radius: 34px;
        }

            .slider.round:before {
                border-radius: 50%;
            }

        @@media(min-width:500px) {
            .modal-dialog {
                max-width: unset !important;
            }
        }
    </style>

</head>
<body>
    <!-- partial:index.partial.html -->
    <div class="row" style="display:none;">
        <div class='container-form'>
            <input style="display:none;" id='selectedFile' class="disp-none" type='file' accept=".png, .jpg, .jpeg, .svg">
            <button style="display:none;" id="upload-aphoto" class="btn-primary btn">Select image</button>
        </div>
        <div class='container-image'>
            <img id='confirm-img' src=''>
        </div>
    </div>


    <div class="modal fade" id="imageModalContainer" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content modal-content1 modal-content1">
                <div class="modal-header">

                    <button type="button" class="close" id="closeBtn" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body modal-body1" style="position:relative;">
                    @*<div id="toggle">
                        <label class="switch">
                            <input type="checkbox" id="switcher">
                            <span class="slider round"></span>
                        </label>
                    </div>*@
                    <div id='crop-image-container'>

                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary cancel-modal" data-dismiss="modal">إغلاق</button>
                    <button type="button" class="btn btn-primary save-modal">حفظ</button>
                </div>
            </div>
        </div>
    </div>
    <!-- partial -->
    <script src=@Url.Content("~/assets/NewPages/cropper/croppie.js")></script>

    <script>
        var image = "";
        var imageKey = 0;
        var imageClicked = "";
        var imageWidth = "";
        var imageHeight = "";
        $(document).on('click', '.img-to-change', function () {
            $("#modalCards .close").click();
           document.getElementById('selectedFile').click();
           imageKey = $(this).data("translation");

            imageClicked = $(this);
            if ($(this).is("img")) {;
                imageWidth = $(clickedElement).width();
                imageHeight = $(clickedElement).height();
            } else {
                imageWidth = $(this).width();
                imageHeight = $(this).height();
            }

       });
        $(document).on('click', '.cancel-modal', function () {
            $(".modal-backdrop").remove();
        })
       $(document).on('change',"#selectedFile",function () {

           if (this.files[0] == undefined)
               return;
           let reader = new FileReader();
           reader.addEventListener("load", function () {
               //CHECK IMAGE CONDIIONS !!!!
               image = new Image();
               image.src = reader.result;

               image.onload = function () {
                   var height = image.height;
                   var width = image.width;

                   if (height < 100 || width < 100) {
                       alert("Height and Width must not exceed 100px.");

                   }
                   else {
                       $('#imageModalContainer').modal('show');
                   }

               }
               window.src = reader.result;


               $('#selectedFile').val('');
           }, false);
           if (this.files[0]) {
               reader.readAsDataURL(this.files[0]);
           }
       });

       var croppi;
       $('#imageModalContainer').on('shown.bs.modal', function () {

           var width = imageWidth;
          // var height = (imageHeight * 2) + 5;
           var height = imageHeight;

           var el = document.getElementById('crop-image-container');
            croppi = new Croppie(el, {
                viewport: { width: width, height: height },
                boundary: { width: width, height: height },
               showZoomer: false,
               enableResize: true,
               enableOrientation: true,
               mouseWheelZoom: 'scroll'
           });
           croppi.bind({
               url: window.src,
           });
           //on button click
           croppi.result('blob').then(function (blob) {
               // do something with cropped blob
           });


           //croppi = $('#crop-image-container').croppie({

           //    boundary:{
           //        width: 500,
           //        height: 900
           //    },
           //    viewport: {
           //        width: 500,
           //        height: 900
           //    },

           //});
           //$('.modal-body1').height(document.getElementById('crop-image-container').offsetHeight + 50 + 'px');
           //croppi.croppie('bind', {
           //    url: window.src,
           //}).then(function () {
           //    croppi.croppie('setZoom', 0);
           //});
       });
       $('#imageModalContainer').on('hidden.bs.modal', function () {
           croppi.destroy();
       });

        $(document).on('click', '.save-modal', function (ev) {
            SaveImage();
            return;
        });

        function SaveImage(){
             croppi.result({
                type: 'base64',
                format: 'png',
                size: 'original',
                fillColor: "#ffffff"
            }).then(function (resp) {
               $('#confirm-img').attr('src', resp);
               var img = $("#confirm-img").attr("src");
               //$(".modal-body").append('<img src="@Url.Content("~/images/customgif/Syrian Loader.gif")" alt="Loading" style="width:10%;z-index:4;position:absolute;top:50%;left:50%;transform:translate(-50%,-50%)" />')
               $.ajax({
                   url: '@Url.Action("SendImage","TestCMS")',
                   type: "Post",
                   data: {
                       src:img,
                       key: imageKey
                   },
                   success: function (response) {
                       $.unblockUI($("#body"));
                       if (response.includes("The process cannot access the file")) {
                           console.log("fett");
                           SaveImage();
                           return;
                       }
                       if ($(clickedElement).hasClass("card-to-remove")) location.reload();
                       if ($(clickedElement).hasClass('card')) {
                           location.reload();
                           $(clickedElement).find("img").attr("src", response);
                           $(clickedElement).css("background-image", "url('" + img + "')");
                       }
                       else {
                           location.reload();
                       }
                       $(".close").click();
                   }
               });

            });
        }

        $(document).on('click', "#switcher", function () {
            var NeededFullImageBool = $(this).is(':checked');
            croppi.destroy();
            if (NeededFullImageBool) {
                croppi = $('#crop-image-container').croppie({

                    boundary: {
                        width: imageWidth,
                        height: imageHeight
                    },
                    viewport: {
                        width: imageWidth,
                        height: imageHeight
                    },

                });
            }
            else {
                croppi = $('#crop-image-container').croppie({

                    boundary: {
                        width: imageWidth,
                        height: imageHeight *2
                    },
                    viewport: {
                        width: imageWidth,
                        height: imageHeight
                    },

                });
            }
            croppi.croppie('bind', {
                url: window.src,
            }).then(function () {
                croppi.croppie('setZoom', 0);
            });
        })
    </script>

</body>

