﻿
@using Microsoft.AspNet.Identity
@using MoAD.DataObjects.EDMX
@using MoAD.WebApplication.Objects;
@using MoAD.WebApplication.Managers;
@using System;
@using System.Text;
@model MoAD.WebApplication.Models.SingleElementViewModel



@{
    ViewBag.Title = "Home Page";
    Layout = null;
    HttpCookie languageCookie = Request.Cookies["Language"];
    var InitialDirection = "rtl";
    if (languageCookie != null && languageCookie.Value != "3")
    {
        InitialDirection = "ltr";
    }
    List<GetAdManagerForms_Result> Estetla3Ra2iPublishedFormsForManbar = ViewBag.Estetla3Ra2iPublishedForms;

    if (Estetla3Ra2iPublishedFormsForManbar == null)
    {
        Estetla3Ra2iPublishedFormsForManbar = new List<GetAdManagerForms_Result>();
    }
    Dictionary<string, string> Locale = ViewBag.Locale;
    int languageIdentifier = (int)Model.languageNeeded;
}


<div class="modal-body modal-body-single-element" id="myModal">


    <div class="row">
        @if (Model.isDropZone == false)
        {
            <div class="col-lg-12  @(languageIdentifier == 4 ? "reverse-row" : "")" style="margin-top:10px">
                <div class="col-lg-5 col-md-5 col-sm-5  col-xs-12">
                    <label for="language">
                        اللغة
                    </label>

                </div>
                <div class="col-lg-7 col-md-7 col-sm-7  col-xs-12">
                    <select id="languageDropDownSingle" class="form-control" style="width:100%;">
                        <option value="3" @(Model.languageNeeded == 3 ? "selected" : "")>Arabic</option>
                        <option value="4" @(Model.languageNeeded == 4 ? "selected" : "")>English</option>
                    </select>
                </div>

            </div>
        }

    </div>
    @if (Model.isSummernote == true)
    {

        var translationValue = Utilities.GetDataTransaltionByGuid(Model.ElementTranslation, languageIdentifier);
        var res2 = "";
        if (Utilities.TryGetFromBase64String(translationValue))
        {
            var stringconverted2 = System.Convert.FromBase64String(translationValue);
            res2 = Encoding.UTF8.GetString(stringconverted2);
        }
       

<div class="summernote" id="inputModal" data-translation=@(Model.ElementTranslation.Length !=0 ? Model.ElementTranslation : "") data-id=@((Model.componentId != null && Model.componentId.Length !=0) ? Model.componentId : "") >
    @Html.Raw(res2)
</div>
    }
    else if (Model.isDropZone)
    {
        <div class="dropzone my-dropzone img-drop-zone" id="inputModal" data-id=@((Model.componentId != null && Model.componentId.Length !=0) ? Model.componentId : "") data-translation=@(Model.ElementTranslation.Length !=0 ? Model.ElementTranslation : "")>
            <div class="dz-message" data-dz-message><span>قم بإسقاط الصورة هنا للتحميل</span></div>

        </div>

    }
    else
    {
        <div class="row col-lg-12">
            @if (Model.ElementTranslation != null)
            {
                if (Model.isTextArea)
                {
                    <textarea class="form-control" style="margin-bottom:10px;" id="inputModal" rows="15" cols="15" data-translation='@(Model.ElementTranslation.Length!=0 ? Model.ElementTranslation : "" )'>
                  @(Model.ElementTranslation.Length!=0 ? Utilities.GetDataTransaltionByGuid(Model.ElementTranslation, languageIdentifier).Trim() : "")
                </textarea>
                }
                else
                {
                    <input type="text" class="form-control" id="inputModal" data-id='@((Model.componentId != null && Model.componentId.Length !=0) ? Model.componentId : "")' data-translation='@(Model.ElementTranslation.Length !=0 ? Model.ElementTranslation : "")' value='@(Model.ElementTranslation.Length!=0 ? Utilities.GetDataTransaltionByGuid(Model.ElementTranslation, languageIdentifier) : "")' />
                }
            }
        </div>
    }

    @if (Model.redirectComponent == "True")
    {

        <div class="row mb-1" id="childTypeContainer">
            <div class="col-lg-12">
                <label>نوع الصفحة</label>
                <select id="pageTypeDropdown" style="width:100%;">
                    <option></option>
                    <option value="Pdf">صفحة PDF</option>
                    <option value="Page">صفحة ويب</option>
                </select>
            </div>
        </div>
        <div class="row mb-1" id="redPdfContainer" hidden>
            <div class="col-lg-12">
                <label>تحميل ملف PDF</label>
                <div class="dropzone my-dropzone pdf-drop-zone" @*id="inputModal"*@ >
                    <div class="dz-message" data-dz-message><span>قم بإسقاط الملفات هنا للتحميل</span></div>

                </div>
            </div>
        </div>
        <div class="row mb-1" id="redPageContainer" hidden>
            <div class="col-lg-8">
                <label>اختر الصفحة</label>
                <select id="resPagesDropdown" style="width:100%;">
                    <option value="Leaf">Page1</option>
                    <option value="Parent">Page1</option>
                </select>
            </div>
            <div class="col-lg-2" style="margin-top:40px;">
                <a href="" class="goToCreatePage"><i class="fa fa-plus fa-2x"></i></a>
            </div>
            <div class="col-lg-2" style="margin-top:40px;">
                <a href="" class="goToPages" data-DropdownPagesName="resPagesDropdown"><i class="fa fa-eye fa-2x"></i></a>
            </div>
        </div>

    }
</div>

<script>

    $("#pageTypeDropdown").select2({placeholder: "نوع الصفحة", dropdownParent: "#myModal" });
    $("#resPagesDropdown").select2({placeholder: "اختر الصفحة",dropdownParent: "#myModal" });
    $("#languageDropDownSingle").select2({ dropdownParent: "#myModal" });
    var fileKey = 0;
    $(document).ready(function () {
     
        if ($(".summernote").length != 0) {

            $(".summernote").summernote({
                lang: "ar-AR",
                height: 400
            });
            $(".note-image-input").hide();
            $(".note-group-select-from-files").append('<button class="btn btn-primary summerNoteUploadPicture">تحميل الصورة</button>')
        }

        $(document).on("click", ".summerNoteUploadPicture", function () {
            //$(this).parent().find("input").show();
            $(this).parent().find("input").click();

        })
        
        if ($(".pdf-drop-zone").length != 0) {
            Dropzone.autoDiscover = false;
            
            UploadDropZone = new Dropzone('.pdf-drop-zone', {

           url: '@Url.Action("UploadFile", "CMS")',

           file: "file",


           addRemoveLinks: true,

           acceptedFiles: ".pdf",



           sending: function () {



           },

           removedfile: function (file) {

                 $.ajax({
                url: '@Url.Action("RemoveFile", "CMS")',
                type: 'POST',
                        data: {
                            extendedDatakey: itemTypeKeyGlobalRedirection,

                },
                 success: function (data) {

                     return (_ref = file.previewElement) != null ? _ref.parentNode.removeChild(file.previewElement) : void 0;

                },
                error: function (error) {
                    //console.log(error);
                        }

                    });

           },

                success: function (file, response) {
                   
               itemTypeKeyGlobalRedirection = response;

           },

           error: function (file, error) {

               // when an error occure

                },
              //  params: { __RequestVerificationToken: $('@Html.AntiForgeryToken()').val(), imageKey:'@Model.ElementTranslation' } // parameters if needed


            })
            ;
        }

        if ($(".img-drop-zone").length != 0) {
            Dropzone.autoDiscover = false;
            console.log("here");
            UploadDropZone = new Dropzone('.img-drop-zone', {

           url: '@Url.Action("UploadFile2", "CMS")',

           file: "file",


           addRemoveLinks: true,

           acceptedFiles: ".png,.jpg,.jpeg",



           sending: function () {



           },

           removedfile: function (file) {

                 $.ajax({
                url: '@Url.Action("RemoveFile", "CMS")',
                type: 'POST',
                        data: {
                            extendedDatakey: fileKey,

                },
                 success: function (data) {

                     return (_ref = file.previewElement) != null ? _ref.parentNode.removeChild(file.previewElement) : void 0;

                },
                error: function (error) {
                    //console.log(error);
                        }

                    });

           },

           success: function (file, response) {

               fileKey = response;

           },

           error: function (file, error) {

               // when an error occure

                },
                params: { __RequestVerificationToken: $('@Html.AntiForgeryToken()').val(), imageKey:'@Model.ElementTranslation' } // parameters if needed


            })
            ;
        }

        $(document).on("change", "#pageTypeDropdown", function () {
            FillAllDopdownsPages();
            var parentType = $(this).val();

            if (parentType == "Pdf") {
                $("#redPdfContainer").show();
                $("#redPageContainer").hide();
            } else {
                $("#redPageContainer").show();
                $("#redPdfContainer").hide();
            }
        })

        
   

    })


</script>








