﻿@using Microsoft.AspNet.Identity
@using MoAD.DataObjects.EDMX
@using MoAD.WebApplication.Objects
@using MoAD.WebApplication.Managers
@using MoAD.WebApplication.Models;

@{
    ViewBag.Title = "Home Page";
    Layout = null;
    HttpCookie languageCookie = Request.Cookies["Language"];
    var InitialDirection = "rtl";
    if (languageCookie != null && languageCookie.Value != "3")
    {
        InitialDirection = "ltr";
    }
    List<GetAdManagerForms_Result> Estetla3Ra2iPublishedFormsForManbar = ViewBag.Estetla3Ra2iPublishedForms;

    if (Estetla3Ra2iPublishedFormsForManbar == null)
    {
        Estetla3Ra2iPublishedFormsForManbar = new List<GetAdManagerForms_Result>();
    }
    Dictionary<string, string> Locale = ViewBag.Locale;
    int languageIdentifier = (int)ViewBag.CurrentLanguageIdentifier;
    int? pageKey = (int?)ViewBag.pageKey;
    int navBarItemComponentKey = (int)ViewBag.NavBarItemComponentKey;
    List<NavBarViewModel> NavbarData = (List<NavBarViewModel>)ViewBag.NavbarData;
    int sliderItemComponentKey = (int)ViewBag.SliderItemComponentKey;
    List<NavBarViewModel> SliderData = (List<NavBarViewModel>)ViewBag.SliderData;

}

<!DOCTYPE html>
<html lang="en">
<head>
    <title>منبر صلة وصل</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="@Url.Content("~/assets/NewPages/bootstrap/bootstrap.min.css")">
    <link rel="stylesheet" href="@Url.Content("~/assets/NewPages/slider2/normalize.css")">
    <link rel='stylesheet' href="@Url.Content("~/assets/NewPages/slider2/swiper.css")">
    <script src="@Url.Content("~/assets/NewPages/jquery/jquery.min.js")"></script>
    <script src="@Url.Content("~/assets/NewPages/bootstrap/bootstrap.min.js")"></script>


    <link href="@Url.Content("~/content/header/sm-core-css.css")" rel="stylesheet" />
    <link href="@Url.Content("~/content/header/sm-blue.css")" rel="stylesheet" />

    <link href="@Url.Content("~/content/header/sm-core-css.css")" rel="stylesheet" />
    <link href="@Url.Content("~/content/header/sm-blue.css")" rel="stylesheet" />
    @*<script src="@Url.Content("~/Scripts/vendors/jquery/jquery.min.js")"></script>*@
    <link href="@Url.Content("~/Content/SharedLayout.css")" rel="stylesheet" />
    <link href="@Url.Content("~/assets/vendors/fontawesome/css/all.min.css")" rel="stylesheet" type="text/css" />
    <script src="@Url.Content("~/scripts/header/jquery.smartmenus.js")"></script>


    <link href="@Url.Content("~/assets/NewPages/select2/select2.css")" rel="stylesheet" />
    <script src="@Url.Content("~/assets/NewPages/select2/select2.js")"></script>
    <link rel="stylesheet" href="@Url.Content("~/assets/NewPages/dropzone/dropzone.css")" type="text/css" />
    <script src="@Url.Content("~/assets/NewPages/dropzone/dropzone.js")"></script>
    <script src="@Url.Content("~/assets/BlockUI.js")"></script>

    <link rel="apple-touch-icon" sizes="180x180" href="@Url.Content("~/assets/app/media/img/favicon/apple-touch-icon.png")">
    <link rel="icon" type="image/png" sizes="32x32" href="@Url.Content("~/assets/app/media/img/favicon/favicon-32x32.png")">
    <link rel="icon" type="image/png" sizes="16x16" href="@Url.Content("~/assets/app/media/img/favicon/favicon-16x16.png")">
    <link rel="manifest" href="@Url.Content("~/assets/app/media/img/favicon/site.webmanifest")">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">


    <style>
        .modal-body {
            max-height: calc(116vh - 210px);
            overflow-y: auto;
        }
    </style>
    @if (InitialDirection == "rtl")
    {
        <style>
            .sm-blue i {
                margin-left: 8px !important;
            }

            #orderParentsBtn {
                float: left;
            }

            #orderChildsBtn {
                margin-left: 3px;
                float: left;
            }
        </style>
    }
    else
    {
        <style>
            .sm-blue i {
                margin-right: 8px !important;
            }

            #orderParentsBtn {
                float: right;
            }

            #orderChildsBtn {
                margin-right: 3px;
                float: right;
            }
        </style>
    }

    @if (InitialDirection == "rtl")
    {



        <style>
            .card-box-manbar1 {
                margin-top: 15px;
                margin-left: 15px;
            }

            .card-box-manbar2 {
                margin-top: 15px;
                margin-right: 15px;
            }

            .card-box-manbar3 {
                margin-top: 15px;
                margin-left: 15px;
            }

            .card-box-manbar4 {
                margin-top: 15px;
                margin-right: 15px;
            }

            .card-box-manbar2::before {
                position: absolute;
                content: '';
                top: 0px;
                left: 0px;
                width: 42%;
                z-index: 3;
                height: 4px;
                background: #f98646;
            }

            .card-box-manbar2::after {
                position: absolute;
                content: '';
                top: 0px;
                left: 0px;
                height: 50%;
                border: 2px solid #f98646;
                background: #f98646;
            }

            .card-box-manbar1::before {
                position: absolute;
                content: '';
                top: 0px;
                right: 0px;
                width: 42%;
                z-index: 3;
                height: 4px;
                background: #f98646;
            }

            .card-box-manbar1::after {
                position: absolute;
                content: '';
                top: 0px;
                right: 0px;
                height: 50%;
                z-index: 3;
                border: 2px solid #f98646;
                background: #f98646;
            }

            .card-box-manbar4::before {
                position: absolute;
                content: '';
                bottom: 0px;
                left: 0px;
                width: 42%;
                z-index: 3;
                height: 4px;
                background: #f98646;
            }

            .card-box-manbar4::after {
                position: absolute;
                content: '';
                bottom: 0px;
                left: 0px;
                height: 50%;
                z-index: 3;
                border: 2px solid #f98646;
                background: #f98646;
            }

            .card-box-manbar3::before {
                position: absolute;
                content: '';
                bottom: 0px;
                right: 0px;
                width: 42%;
                z-index: 3;
                height: 4px;
                background: #f98646;
            }

            .card-box-manbar3::after {
                position: absolute;
                content: '';
                bottom: 0px;
                right: 0px;
                height: 50%;
                z-index: 3;
                border: 2px solid #f98646;
                background: #f98646;
            }

            .card-box-manbar::before {
                position: absolute;
                content: '';
                bottom: 0px;
                left: 0;
                width: 100%;
                z-index: 3;
                height: 4px;
                background: #f98646;
            }
        </style>
    }
    else
    {
        <style>
            .card-box-manbar1 {
                margin-top: 15px;
                margin-right: 15px;
            }

            .card-box-manbar2 {
                margin-top: 15px;
                margin-left: 15px;
            }

            .card-box-manbar3 {
                margin-top: 15px;
                margin-right: 15px;
            }

            .card-box-manbar4 {
                margin-top: 15px;
                margin-left: 15px;
            }

            .card-box-manbar2::before {
                position: absolute;
                content: '';
                top: 0px;
                right: 0px;
                width: 42%;
                z-index: 3;
                height: 4px;
                background: #f98646;
            }

            .card-box-manbar2::after {
                position: absolute;
                content: '';
                top: 0px;
                right: 0px;
                height: 50%;
                border: 2px solid #f98646;
                background: #f98646;
            }

            .card-box-manbar1::before {
                position: absolute;
                content: '';
                top: 0px;
                left: 0px;
                width: 42%;
                z-index: 3;
                height: 4px;
                background: #f98646;
            }

            .card-box-manbar1::after {
                position: absolute;
                content: '';
                top: 0px;
                left: 0px;
                height: 50%;
                z-index: 3;
                border: 2px solid #f98646;
                background: #f98646;
            }

            .card-box-manbar4::before {
                position: absolute;
                content: '';
                bottom: 0px;
                right: 0px;
                width: 42%;
                z-index: 3;
                height: 4px;
                background: #f98646;
            }

            .card-box-manbar4::after {
                position: absolute;
                content: '';
                bottom: 0px;
                right: 0px;
                height: 50%;
                z-index: 3;
                border: 2px solid #f98646;
                background: #f98646;
            }

            .card-box-manbar3::before {
                position: absolute;
                content: '';
                bottom: 0px;
                left: 0px;
                width: 42%;
                z-index: 3;
                height: 4px;
                background: #f98646;
            }

            .card-box-manbar3::after {
                position: absolute;
                content: '';
                bottom: 0px;
                left: 0px;
                height: 50%;
                z-index: 3;
                border: 2px solid #f98646;
                background: #f98646;
            }

            .card-box-manbar::before {
                position: absolute;
                content: '';
                bottom: 0px;
                right: 0;
                width: 100%;
                z-index: 3;
                height: 4px;
                background: #f98646;
            }
        </style>
    }

    @if (InitialDirection == "rtl")
    {


        <style>
             @@font-face {
            font-family: 'ge_dinar_onemedium';
            src: url('@Url.Content("~/assets/vendors/Fonts/GE Dinar One Medium.ttf")') format('truetype'), url('@Url.Content("~/assets/vendors/Fonts/ge-dinar-one-medium-webfont.woff2")') format('woff2'), url('@Url.Content("~/assets/vendors/Fonts//ge-dinar-one-medium-webfont.woff")') format('woff');
            font-weight: normal;
            font-style: normal;
        }

            body, h1, h2, h3, h4, h5, h6, input {
                font-family: 'ge_dinar_onemedium' !important;
            }


            .sm-blue a, .sm-blue a:hover, .sm-blue a:focus, .sm-blue a:active {
                font-family: 'ge_dinar_onemedium' !important;
            }

            button, a {
                font-family: 'ge_dinar_onemedium' !important;
            }

        </style>
    }
    else
    {
        <style>
            body, h1, h2, h3, h4, h5, h6, input {
                font-family: "Gill Sans", sans-serif !important;
            }



            .sm-blue a, .sm-blue a:hover, .sm-blue a:focus, .sm-blue a:active {
                font-family: "Gill Sans", sans-serif !important;
            }

            button, a {
                font-family: "Gill Sans", sans-serif !important;
            }
        </style>
    }

<style>
        .sm-blue li ul a {
            color: #447F99 !important;
        }
        #allCardsContainer {
            background-image: url(../Images/backgrounds/backgroundCardsManabar.png);
            width: 100%;
            height: auto;
            background-attachment: fixed;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
        }

        .fixedHeight {
            min-height: 270px;
        }

        .fixedHeightImg {
            height: 270px;
        }

        .modal {
            z-index: 9999999999999999999999999;
        }

        .formButtonFasad,.formButton {
            cursor:pointer;
        }


        @@media(max-width: 600px) {
            #HeaderLogo {
                width: 25% !important;
            }
        }



        .carousel-caption {
            font-size: 22px;
        }
        .mb-1{
            margin-bottom:10px;
        }
        .row{
            margin-right:0px !important;
            margin-left:0px !important;
        }
        .level1Font {
            font-size: 2.8rem !important;
        }

        .level2Font {
            font-size: 2.3rem !important;
        }

        .level3Font {
            font-size: 2.0rem !important;
        }
        img{
            height:100%;
        }
        #orderChildsComponentsModal, #orderParentsComponentsModal {
            z-index: 99999999999999;
        }
        .del-btns {
            display: none;
        }

        .pointer {
            cursor: pointer;
        }

        .reverse-row {
            display: flex;
            flex-direction: row-reverse;
        }

        .modal-body .title-container {
            background: white;
        }

        .modal-body label {
            color: #7c7c7c;
        }

        .modal-body select {
            cursor: pointer;
        }

        .modal-body input {
            margin-top: 10px;
        }

        .modal input[type='text'], .modal textarea {
            font-size: 18px;
        }

        .modal label {
            font-size: 20px;
            font-weight: normal;
            margin-top: 5px;
        }

        .modal-body-card label {
            margin-top: 10px;
        }

        .modal button, .modal input[type="button"] {
            font-size: 15px;
        }

        .modal select {
            width: 100%;
        }

        .modal-body {
            margin-bottom: 25px;
            padding: 5px !important;
        }
        body {
            background: url(../Images/backgrounds/background.jpg) !important;
            background-repeat: no-repeat !important;
            background-size: 100% !important;
           /* padding-top: 38px;*/
        }

        [dir="rtl"] {
            background-color: white !important;
        }


        h2{
            margin:20px !important;
        }
        ul a{
            cursor:pointer;
        }


        a {
            border-bottom: none !important;
        }

        h4, h3 {
            font-weight: normal !important;
            font-size:30px !important;
        }
        i {
            font-size: 50px;
            color: #7c7c7c;
            cursor:pointer;
        }
        .icon1:hover {
            color: #2fa32f;
        }
        .icon2:hover {
            color: #78ff99;
        }
        .icon3:hover {
            color: #ffc44d;
        }
        .icon4:hover {
            color: #f98646;
        }
        .icon5:hover {
            color: #c12a1a;
        }

        .sm-blue li ul::-webkit-scrollbar {
            background: #D2D2D6;
            width: 8px;
        }

        .sm-blue li ul::-webkit-scrollbar-thumb {
            background: #64A1BC;
        }

        #main-menu {
            border-radius: 0px;
        }

        .sm-blue, .sm-blue li .has-submenu, .sm-blue .element, .sm-blue .no-child {
            background: #447F99 !important;
        }

            .sm-blue a {
                font-weight: normal !important;
                padding: 17px !important;
                font-size: 17px !important;
            }

            .sm-blue li ul {
                width: max-content !important;
                background: #F7F8F9;
                height: 150px;
                min-height: 200px;
                border: 0px !important;
                overflow: scroll;
                overflow-x: hidden;
            }


            .sm-blue li ul {
                right: 0px;
            }

                .sm-blue li ul li {
                    float: none !important;
                }

            .sm-blue li .has-submenu:hover, .sm-blue li .has-submenu:focus {
                color: #447F99 !important;
                background: #F7F8F9 !important;
            }

                .sm-blue li .has-submenu:hover i {
                    color: #447F99 !important;
                    background: #F7F8F9 !important;
                }



            .sm-blue .has-submenu .sub-arrow {
                display: none;
            }

            .sm-blue > li {
                border-right: 1px solid white;
            }

            .sm-blue li ul a {
                background: #F7F8F9;
                color: #447F99;
            }

            .sm-blue i {
                font-size: 16px !important;
                color: white;
                margin-left:8px;
            }

        .takyimBtn {
            padding: 10px 30px;
            background: #e9e9e9;
            color: #7c7c7c;
            font-size:2.3rem;
            border: 2px solid #d3d3d3;
            transition: all ease 0.5s;
        }

       .img-takyim
        {
            background-image: url(@Html.Raw(Url.Action("GetFilePathFromExtendedData","Files", new { extensionFileKey= 143124, resizeWidth = 640 }))) !important;
            background-repeat: no-repeat !important;
            background-size: cover;
            height: 20vw;
        }

        .takyimBtn:hover {
            background: #d3d3d3;
        }

        header button {
            border: none;
            margin-bottom: 4px;
            background: none;
            font-size: 17px;
            color: #447F99;
            font-weight: bold;
        }

            header button:first-child {
                border-right: 2px solid #447F99;
            }

        h1 {
            font-size: 2.8rem !important;
        }



        .box {
            margin-top: -55px;
            background: #D9DBDA;
            text-align: center;
            box-shadow: 8px 7px 5px 0px rgba(0,0,0,0.52);
        }

            .box p {
                color: #646464;
                font-size: 2.5rem;
                margin: 20px 0;
            }

        header {
            background: url(../Images/backgrounds/background.jpg) !important;
            background-repeat: no-repeat !important;
            background-size: cover !important;
            padding-top: 38px;
        }

        .contact-container {
            background: url(../Images/backgrounds/sharekna-bg.jpg) !important;
            background-position: center !important;
            background-repeat: no-repeat !important;
            background-size: cover !important;
        }



           .flex{
               display:flex;
               align-items:center;
           }


        .content-container {
            /* margin-left: 30px;
            margin-right: 30px;*/
            margin-bottom: 20px;
            background: white;
            /* border-top: 8px solid #447F99;*/
            /*padding-bottom: 20px;*/
        }


        .HeaderH1 {
            color: #5c6a72;
            font-weight: bold;
            text-align: center;
            line-height: 1.5;
            font-size: 2.9rem !important;
        }


        .col-takyim,.col-khedma{
            font-size:24px;
            margin-top:30px;
        }


        .card h1{
            font-size:2.4rem !important;
        }
        .card h3 {
            font-size: 2.1rem;
            line-height: 1.8;
        }


        input {
            background: #e9e9e9;
            border: none;
            border: 1px solid #d3d3d3;
            outline: none;
        }




        footer {
            background: url(../Images/backgrounds/footer-background.jpg) !important;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover !important;
            /*padding-top: 1.875rem;
            padding-right: 1.875rem;
            padding-left: 1.875rem;*/
        }






        footer h3 {
            font-size: 31px !important;
        }

        footer li {
            color: white;
            padding-bottom: 10px;
            font-size: 1.7rem;
        }

        .mapouter {
            height: auto;
        }



        .eee {
            background-image: url(../Images/backgrounds/sharekna-bg.jpg);
            width: 100%;
            height: auto;
            background-attachment: fixed;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
        }

        label {
            font-weight: normal !important;
            color: #7c7c7c;
        }
        .ft1 {
            width: 100%;
            background-image: url(@Html.Raw(Url.Action("GetFilePathFromExtendedData","Files", new { extensionFileKey= 143123 })));
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            min-height: 10vw !important;
        }




        .reveal {
            position: relative;
            transform: translateY(150px);
            opacity: 0;
            transition: 1s all ease;
        }

            .reveal.active {
                transform: translateY(0);
                opacity: 1;
            }

        #overlay {
            position: fixed;
            z-index: 99999999999999999999999999999;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            /* background: rgb(249, 249, 251); */
            transition: 1s 0.4s;
            background: #ffff;
          /*  opacity: 0.8;*/
        }

        .carousel-control.right, .carousel-control.left{
            background-image:none;
        }
     /*   .card-manbar {
            position: relative;
            border: 20px solid #e1e1e1;
            padding:0px !important;
        }*/

        .card-manbar h3{
            color:#f98646;
        }
            .card-manbar p {
                font-size: 1.95rem;
                text-align: justify;
            }
            .card-manbar{
                background:white;
            }

            .card-manbar img {
                width: 100% !important;
            }
            .cardimg1,.cardimg2,.cardimg3,.cardimg4,.cardimg5{
                padding:0px;
                cursor:pointer;

            }


        .img-marsad {
            width: 100%;
            background-image: url(@Html.Raw(Url.Action("GetFilePathFromExtendedData","Files", new { extensionFileKey= 143122, resizeWidth = 2048 })));
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            min-height: 10vw !important;
        }
        .button-container{
            padding:30px 0px;
        }
        /* MEDIA QUERIES*/
        @@media(min-width:1441px){
            .takyim-sub-container {
                margin-top: 25px;
            }
        }
        @@media(min-width:1440px){
            .col-takyim, .col-khedma {
                margin-top: 34px;
            }
            .sm-blue a {
                font-size: 17px !important;
            }

        }




        @@media(max-width:1200px) {
            .box-left {
                height: 66% !important;
            }

            .box {
                margin: 11px 10px;
            }

        }



        @@media(max-width:1024px) {

            .sm-blue a {
                font-weight: normal !important;
                padding: 10px !important;
                font-size:1.7rem !important;
            }
            .HeaderH1 {
                line-height: 1.5;
                font-size: 2.1rem !important;
            }
            .kalimaTawjihyaText {
                font-size: 2.1rem !important;
            }
            .button-container{
                padding:1px 0px;
            }
            header button {
                font-size: 12px !important;
            }

         .cardimg1,.cardimg2,.cardimg3,.cardimg4,.cardimg5{
             height:20vw;
         }
            .col-takyim, .col-khedma {
                font-size: 22px;
                margin-top: 16px;
            }

            .img-takyim{
                height:17vw;
            }

            .box-left {
                margin-top: 35px;
            }
        }


        @@media(max-width:990px) {

            .img-takyim {
                height: 45vw;
            }
        }
        @@media(max-width:980px) {


            .HeaderH1 {
                font-size: 2.5rem !important;
            }


        }





        @@media(max-width:920px) {
            .carousel-caption p {
                font-size: 18px !important;
            }
        }






        @@media(max-width:768px) {

            i {
                font-size: 30px !important;
                padding: 5px 10px;
            }
            .HeaderH1 {

                font-size: 1.9rem !important;
            }



        }

        @@media(max-width:767px){
            .cards-container{
                padding:0px 50px;
            }
            .cardimg1, .cardimg2, .cardimg3, .cardimg4, .cardimg5{
                height:29vw;
            }
        }





        @@media(max-width:645px) {

            .carousel-caption p {
                font-size: 12px !important;
            }
            .cardimg1, .cardimg2, .cardimg3, .cardimg4, .cardimg5 {
                height: 45vw;
            }

        }






        @@media(max-width:425px) {
            /*.slider-responsive{
                display:none;
            }*/
            .cards-container {
                padding: 0px !important;
            }
            #HeaderLogo {
                width: 25% !important;
            }




        }






</style>
</head>
<div id="overlay">
    <div class="col-md-12 col-sm-12 col-xs-12" style="text-align:center;margin-top:15%">
        <img src="@Url.Content("~/images/customgif/Syrian Loader.gif")" alt="Loading" style="width:10%;" />
        <br />
        @*<span style="color:black">@Html.Raw(BaseController.GetFieldLabel(Locale, "_InitialLoaderMsg"))</span>*@
    </div>
</div>

<body dir="@InitialDirection">
    @if (User.IsInRole("Editor"))
    {
        <div class="row">
            <div class="col-lg-12">
                <a href="@Url.Action("Markaz","TestCMS")" class="btn btn-primary">تعديل المركز</a>
                <a href="@Url.Action("Manbar","TestCMS")" class="btn btn-primary">تعديل المنبر</a>
                <a href="@Url.Action("Marsad","TestCMS")" class="btn btn-primary">تعديل المرصد</a>
                <a href="@Url.Action("Forms","SurveyGenerator")" class="btn btn-primary">إدارة الاستبيانات</a>
            </div>
        </div>
    }
    <div class="row">
        <div class="col-lg-5 col-md-5 col-sm-5 col-xs-12">
            <h1 class="HeaderH1">
                <span class="text-to-change pointer" data-translation="1234b24e-fcaa-4e23-857b-62b5161c6ded" data-toggle="modal" data-target="#exampleModal">
                    @Utilities.GetDataTransaltionByGuid("1234b24e-fcaa-4e23-857b-62b5161c6ded", languageIdentifier)

                </span> <br />
                <span class="text-to-change pointer" data-toggle="modal" data-target="#exampleModal" data-translation="05e87bf3-0a85-4025-a73f-16bfb6ade579">
                    @Utilities.GetDataTransaltionByGuid("05e87bf3-0a85-4025-a73f-16bfb6ade579", languageIdentifier)
                </span>

            </h1>
        </div>
        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12 text-center img-to-change" data-translation="143116">
            <div>الصورة:  ١٠٨ × ١٠٠</div>
            <img title="انقر هنا لتعديل الصورة" src="@Html.Raw(Url.Action("GetFilePathFromExtendedData","Files", new { extensionFileKey= 143116 }))" id="HeaderLogo" style="cursor: pointer; width: 50%;" hidden />
        </div>
        <div class="col-lg-5 col-md-5 col-sm-5 col-xs-12">
            <h1 class="HeaderH1">
                <span class="text-to-change pointer" data-toggle="modal" data-target="#exampleModal" data-translation="cf709179-ea47-4732-982f-c861af72246e">
                    @Utilities.GetDataTransaltionByGuid("cf709179-ea47-4732-982f-c861af72246e", languageIdentifier)

                </span> <br />
                <span class="text-to-change pointer" data-toggle="modal" data-target="#exampleModal" data-translation="de787645-9109-427a-8630-da2bee66d9a3">
                    @Utilities.GetDataTransaltionByGuid("de787645-9109-427a-8630-da2bee66d9a3", languageIdentifier)
                </span>

            </h1>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-9"></div>
        <div class="col-lg-3" style="text-align:end;font-weight:bold;">
            @if (languageCookie.Value == "3")
            {
                <a style="cursor:pointer;" onclick="changeLanguage('4')">English</a>
            }
            else
            {
                <a style="cursor: pointer;" onclick="changeLanguage('3')">العربية</a>
            }
        </div>
    </div>
    <div class="row mb-1">
        <div class="col-lg-6">
            <button class="btn btn-primary-outline" data-toggle="modal" id="addBtn" data-target="#AddItemModal">إضافة عنوان رئيسي</button>
            <button class="btn btn-primary" id="EditBtn" data-toggle="modal" data-target="#EditItemModal">تعديل عنوان رئيسي</button>
            <button class="btn btn-danger" id="DeleteBtn" data-toggle="modal" data-target="#DeleteItemModal">حذف عنوان رئيسي</button>
        </div>
        <div class="col-lg-6">
            <button class="btn btn-primary-outline" data-toggle="modal" id="addChild" data-target="#AddChildrenModal">أضف عنوان فرعي</button>
            <button class="btn btn-primary" data-toggle="modal" data-target="#EditChildrenModal" id="EditChildrenModalBtn">تعديل العنوان الفرعي</button>
            <button class="btn btn-danger" data-toggle="modal" id="deleteChildBtn" data-target="#DeleteChildModal">إزالة عنوان فرعي</button>
            <button type="button" class="btn btn-primary" id="orderParentsBtn" data-toggle="modal" data-target="#orderParentsComponentsModal">
                ترتيب العناوين الرئيسية
            </button>
            <button type="button" class="btn btn-primary" id="orderChildsBtn" data-toggle="modal" data-target="#orderChildsComponentsModal">
                ترتيب العناوين الفرعية
            </button>
        </div>
    </div>

    <div id="navbarContainer">
        @Html.Partial("~/Views/CMS/_NavbarMenu.cshtml", new ViewDataDictionary { { "NavbarData", NavbarData }, { "LanguageIdentifier", ViewBag.CurrentLanguageIdentifier } })
    </div>
    @Html.Partial("~/Views/CMS/_NavbarIndexingModals.cshtml", new ViewDataDictionary { { "NavbarData", NavbarData }, { "LanguageIdentifier", ViewBag.CurrentLanguageIdentifier }, { "NavbarComponentKey", navBarItemComponentKey }, { "PageKey", pageKey } })
    @Html.Partial("~/Views/CMS/_NavBarAddItemModal.cshtml")
    @Html.Partial("~/Views/CMS/_NavBarEditItemModal.cshtml")
    @Html.Partial("~/Views/CMS/_NavBarDeleteItemModal.cshtml")


    @Html.Partial("~/Views/CMS/_NavBarAddChildrenModal.cshtml")
    @Html.Partial("~/Views/CMS/_NavBarDeleteChildModal.cshtml")
    @Html.Partial("~/Views/CMS/_NavbarEditChildModal.cshtml")

    <div class="row">
        <div class="col-lg-12 text-center">
            <a href='@Url.Action("Slider","CMS",new { pagekey=pageKey,type="slider1"})' target="_blank" class="btn btn-primary" style="margin-top:10px;margin-bottom:10px;">تعديل السلايدر</a>
        </div>
    </div>
    <div class="content-container" dir="@InitialDirection">
        @Html.Partial("~/Views/CMS/_SlidersPartial.cshtml", new ViewDataDictionary { { "NavbarData", SliderData }, { "LanguageIdentifier", ViewBag.CurrentLanguageIdentifier } })
        <div class="row reveal">
            <div class="col-lg-1 col-md-1 col-sm-1"></div>
            <div class="col-lg-5 col-md-5 col-sm-5 col-xs-12 card card-box-manbar1 card-manbar pointer" data-imageSize="٣٠٠ × ١٦٢" data-FormTemplateKey="113" data-toggle="modal" data-target="#modalCards">
                
                <input type="hidden" value="143117" class="imageKeyinput" />

                <div class="col-lg-5 col-md-12 col-sm-12 col-xs-12 cardimg1 card-img-fix fixedHeightImg">

                    <img title="انقر هنا لتعديل الصورة" src="@Html.Raw(Url.Action("GetFilePathFromExtendedData","Files", new { extensionFileKey= 143117, resizeWidth = 640 }))" />

                </div>
                <div class="col-lg-7 col-md-12 col-sm-12 col-xs-12 fixedHeight">
                    <h3 class="title" data-translation="292960c1-1ad5-4596-bbb6-56ea4a1985ac">
                        @Utilities.GetDataTransaltionByGuid("292960c1-1ad5-4596-bbb6-56ea4a1985ac", languageIdentifier)
                    </h3>
                    <p class="paragraph" data-translation="d224d808-d8e9-4698-93e6-35f1ed5ad764">
                        @Utilities.GetDataTransaltionByGuid("d224d808-d8e9-4698-93e6-35f1ed5ad764", languageIdentifier)
                    </p>
                </div>
            </div>
            <div class="col-lg-5 col-md-5 col-sm-5 col-xs-12 card card-box-manbar2 card-manbar pointer" data-imageSize="٣٠٠ × ١٦٢" data-FormTemplateKey="127" data-toggle="modal" data-target="#modalCards">
                <div class="col-lg-7 col-md-12 col-sm-12 col-xs-12 fixedHeight">
                    <h3 class="title" data-translation="0afc9540-c5f0-4328-b485-8a84c5c80467">
                        @Utilities.GetDataTransaltionByGuid("0afc9540-c5f0-4328-b485-8a84c5c80467", languageIdentifier)
                    </h3>
                    <p class="paragraph" data-translation="6b2cf73b-4e00-4dc4-89e6-840f9668bff9">
                        @Utilities.GetDataTransaltionByGuid("6b2cf73b-4e00-4dc4-89e6-840f9668bff9", languageIdentifier)
                    </p>
                </div>
                <div class="col-lg-5 col-md-12 col-sm-12 col-xs-12 cardimg2 card-img-fix fixedHeightImg" data-imageSize="٣٠٠ × ١٦٢">
                    <input type="hidden" value="143119" class="imageKeyinput" />
                    
                    <img title="انقر هنا لتعديل الصورة" src="@Html.Raw(Url.Action("GetFilePathFromExtendedData","Files", new { extensionFileKey= 143119, resizeWidth = 640 }))" />

                </div>
            </div>
            <div class="col-lg-1 col-md-1 col-sm-1"></div>
        </div>
        <div id="allCardsContainer">
            <div class="row reveal">
                <div class="col-lg-1 col-md-1 col-sm-1"></div>
                <div class="col-lg-5 col-md-5 col-sm-5 col-xs-12 card  card-box-manbar3 card-manbar pointer" data-imageSize="٣٠٠ × ١٦٢" data-FormTemplateKey="114" data-toggle="modal" data-target="#modalCards">

                    <input type="hidden" value="143120" class="imageKeyinput" />
                    <div class="col-lg-5 col-md-12 col-sm-12 col-xs-12 cardimg3 card-img-fix fixedHeightImg">

                        <img title="انقر هنا لتعديل الصورة" src="@Html.Raw(Url.Action("GetFilePathFromExtendedData","Files", new { extensionFileKey= 143120, resizeWidth = 640 }))" />

                    </div>
                    <div class="col-lg-7 col-md-12 col-sm-12 col-xs-12 fixedHeight">
                        <h3 class="title" data-translation="cc022ba2-c7d9-4ad2-bbb5-2d20e139a717">
                            @Utilities.GetDataTransaltionByGuid("cc022ba2-c7d9-4ad2-bbb5-2d20e139a717", languageIdentifier)
                        </h3>
                        <p class="paragraph" data-translation="1695fc75-90c4-43dd-863e-9f1bc6f8dbb5">
                            @Utilities.GetDataTransaltionByGuid("1695fc75-90c4-43dd-863e-9f1bc6f8dbb5", languageIdentifier)
                        </p>
                    </div>
                </div>
                <div class="col-lg-5 col-md-5 col-sm-5 col-xs-12 card card-box-manbar4 card-manbar pointer" data-imageSize="٣٠٠ × ١٦٢" data-FormTemplateKey="106" data-toggle="modal" data-target="#modalCards">
                    <div class="col-lg-7 col-md-12 col-sm-12 col-xs-12 fixedHeight">
                        <h3 class="title" data-translation="e8af30b4-a60d-4244-9448-f56eb468309c">
                            @Utilities.GetDataTransaltionByGuid("e8af30b4-a60d-4244-9448-f56eb468309c", languageIdentifier)
                        </h3>
                        <p class="paragraph" data-translation="fcda39f3-666f-4c8c-b0d6-e50a63984732">
                            @Utilities.GetDataTransaltionByGuid("fcda39f3-666f-4c8c-b0d6-e50a63984732", languageIdentifier)
                        </p>
                    </div>

                    <div class="col-lg-5 col-md-12 col-sm-12 col-xs-12 cardimg4 card-img-fix fixedHeightImg">

                        <input type="hidden" value="143118" class="imageKeyinput" />
                        <img title="انقر هنا لتعديل الصورة" src="@Html.Raw(Url.Action("GetFilePathFromExtendedData","Files", new { extensionFileKey= 143118, resizeWidth = 640 }))" />

                    </div>
                </div>

                <div class="col-lg-1 col-md-1 col-sm-1"></div>
            </div>
            <div class="row reveal">
                <div class="col-lg-3 col-md-3 col-sm-3"></div>

                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 card card-box-manbar card-manbar pointer" data-imageSize="٣٠٠ × ١٦٢" data-FormTemplateKey="134" data-toggle="modal" data-target="#modalCards">

                    <div class="col-lg-5 col-md-12 col-sm-12 col-xs-12 cardimg5 card-img-fix">
                        <input type="hidden" value="143121" class="imageKeyinput" />
                        <img title="انقر هنا لتعديل الصورة" src="@Html.Raw(Url.Action("GetFilePathFromExtendedData","Files", new { extensionFileKey= 143121, resizeWidth = 640 }))" />

                    </div>
                    <div class="col-lg-7 col-md-12 col-sm-12 col-xs-12 fixedHeight fixedHeightImg">
                        <h3 class="title" data-translation="8d5985e1-df3c-4626-a21a-4f7b87d0d6e9">
                            @Utilities.GetDataTransaltionByGuid("8d5985e1-df3c-4626-a21a-4f7b87d0d6e9", languageIdentifier)
                        </h3>
                        <p class="paragraph" data-translation="d02e8632-d6bc-4246-ad26-ae59501529cc">
                            @Utilities.GetDataTransaltionByGuid("d02e8632-d6bc-4246-ad26-ae59501529cc", languageIdentifier)
                        </p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-3"></div>
            </div>

            <div class="row reveal" style="background: #f98646;color: white;">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center">
                    <h2 class="text-to-change pointer" data-toggle="modal" data-target="#exampleModal" style="text-shadow:none;" data-translation="9a9c7a4b-cd96-4dc7-85cc-943d65b9530e">
                        @Utilities.GetDataTransaltionByGuid("9a9c7a4b-cd96-4dc7-85cc-943d65b9530e", languageIdentifier)
                    </h2>
                </div>
            </div>
        </div>
     

        <div class="row reveal takyim-container">

            <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12 takyim-sub-container">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 col-khedma">
                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                        <label for="khedma" class="text-to-change pointer" data-toggle="modal" data-target="#exampleModal" data-translation="dd66daa8-a6dd-4e24-86f7-d68b692f3a0b">
                            @Utilities.GetDataTransaltionByGuid("dd66daa8-a6dd-4e24-86f7-d68b692f3a0b", languageIdentifier)
                        </label>
                    </div>
                    <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
                        <input type="text" id="khedma" disabled style="width:100%;" />
                    </div>


                </div>
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 col-takyim">
                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                        <label class="text-to-change pointer" data-toggle="modal" data-target="#exampleModal" data-translation="4d413531-e82b-470d-b99c-e2776890d879">
                            @Utilities.GetDataTransaltionByGuid("4d413531-e82b-470d-b99c-e2776890d879", languageIdentifier)
                        </label>
                    </div>
                    <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
                        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2"><i class="far fa-smile-beam icon1"></i></div>
                        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2"><i class="far fa-smile icon2"></i></div>
                        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2"><i class="far fa-meh icon3"></i></div>
                        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2"><i class="far fa-meh icon4"></i></div>
                        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2"><i class="far fa-frown icon5"></i></div>

                    </div>


                </div>
                <div class="col-lg-10 col-md-9 col-sm-3 col-xs-3">

                </div>
                <div class="col-lg-2 col-md-3 col-sm-6 col-xs-6 text-center button-container">
                    <button data-toggle="modal" data-target="#exampleModal" class="takyimBtn text-to-change pointer" data-translation="9bf8c512-3993-4451-841a-3e96eb02ff87">
                        @Utilities.GetDataTransaltionByGuid("9bf8c512-3993-4451-841a-3e96eb02ff87", languageIdentifier)
                    </button>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-3 col-xs-3">

                </div>
            </div>
            <div class="col-12">
                الصورة: ١٣١٩ × ٥٨٣
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 text-center img-takyim img-to-change pointer" title="انقر هنا لتعديل الصورة" data-translation="143124">

            </div>

        </div>




        <div class="row" id="goToMarsad" style="cursor:pointer;">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                الصورة: ٢٢٨٤ × ٤٨٤
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 img-marsad img-to-change" title="انقر هنا لتعديل الصورة" data-translation="143122"></div>
        </div>

        <div class="row eee" style="margin:0;">

            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 reveal">
                <div class="col-lg-3 col-md-12  col-sm-12 col-xs-12 box">
                    <p data-toggle="modal" data-target="#exampleModal" class="text-to-change pointer" data-translation="d8c0dd7e-3617-49e0-98e2-0badb1ffc28e">
                        @Utilities.GetDataTransaltionByGuid("d8c0dd7e-3617-49e0-98e2-0badb1ffc28e", languageIdentifier)
                    </p>
                </div>
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center" style="padding:50px 0px;">
                    <div class="col-lg-3 col-md-3 col-sm-3"></div>
                    <div class="col-lg-6 col-md-6 col-sm-6">
                        <h3 style=" font-size: 2.6rem; color: #7c7c7c;">
                            <p data-toggle="modal" data-target="#exampleModal" class="text-to-change pointer" data-translation="b92961b5-d157-4e42-baa7-f68cd128a63b">
                                @Utilities.GetDataTransaltionByGuid("b92961b5-d157-4e42-baa7-f68cd128a63b", languageIdentifier)
                            </p>

                        </h3>
                    </div>

                    <div class="col-lg-3 col-md-3 col-sm-3"></div>

                </div>



            </div>

        </div>
        <div class="row" style="margin:auto;">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                الصورة:  ٢٤٠٠ × ٢٧٥
            </div>
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 ft1 pointer img-to-change" title="انقر هنا لتعديل الصورة" data-translation="143123">
                <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1"></div>

            </div>
        </div>



        <footer dir="@InitialDirection">

            <div class="row">
                <div class="col-lg-1"></div>
                <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12 ">

                </div>
                <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12">
                    <h3 style="color:white;" class="text-to-change pointer" data-translation="86eb1887-40df-426f-9011-f10277a93edb" data-toggle="modal" data-target="#exampleModal"> @Utilities.GetDataTransaltionByGuid("86eb1887-40df-426f-9011-f10277a93edb", languageIdentifier)</h3>
                    <ul style="list-style-type:none;padding:0px;">
                        <li>
                            <div class="row">
                                <div class="col-lg-2 phone-icon">
                                    <img style="height: 70px; margin-top: 11px;" src=@Url.Content("~/Images/logos/phone.png") />
                                </div>
                                <div class="col-lg-10">
                                    <div class="row" style="margin:18px 0px;">
                                        <div style="padding-bottom:5px" class="col-lg-12 text-to-change pointer" data-translation="4a0f8881-f2a9-493d-9a15-a5f2f779506d" data-toggle="modal" data-target="#exampleModal"> @Utilities.GetDataTransaltionByGuid("4a0f8881-f2a9-493d-9a15-a5f2f779506d", languageIdentifier)</div>
                                        <div class="col-lg-12 text-to-change pointer" data-translation="98f84cee-7329-4702-a16d-79ac6e1cb016" data-toggle="modal" data-target="#exampleModal"> @Utilities.GetDataTransaltionByGuid("98f84cee-7329-4702-a16d-79ac6e1cb016", languageIdentifier)</div>
                                    </div>
                                </div>

                            </div>
                        </li>

                        <li>
                            <div class="row">
                                <div class="col-lg-2 email-icon">
                                    <img style="height:70px;margin-top:11px;" src=@Url.Content("~/Images/logos/e-mail.png") />
                                </div>
                                <div class="col-lg-10">
                                    <div class="row" style="margin:18px 0px;">
                                        <div style="padding-bottom:5px" class="col-lg-12 text-to-change pointer" data-translation="e0946b87-f50c-4b1c-86f8-1cb5b1921a72" data-toggle="modal" data-target="#exampleModal"> @Utilities.GetDataTransaltionByGuid("e0946b87-f50c-4b1c-86f8-1cb5b1921a72", languageIdentifier)</div>
                                        <div class="col-lg-12 text-to-change pointer" data-translation="79de7aa1-38be-4be2-811d-bd1beff0e274" data-toggle="modal" data-target="#exampleModal"> @Utilities.GetDataTransaltionByGuid("79de7aa1-38be-4be2-811d-bd1beff0e274", languageIdentifier)</div>
                                    </div>
                                </div>

                            </div>
                        </li>

                    </ul>
                </div>
                <div class="col-lg-5 col-md-12 col-sm-12 col-xs-12">
                    <img style="height: 70px; float: inherit;" src="@Url.Content("~/Images/logos/location.png")" />
                    <h3 style="color:white;" class="text-to-change pointer" data-translation="e12f59e2-428e-474f-b17d-6d6291383c9b" data-toggle="modal" data-target="#exampleModal"> @Utilities.GetDataTransaltionByGuid("e12f59e2-428e-474f-b17d-6d6291383c9b", languageIdentifier)</h3>
                    <ul style="list-style-type: none; padding: 0px; margin-top: 11px;">


                        <li>
                            <div class="row">
                                <div class="mapouter">
                                    <div class="gmap_canvas">
                                        <iframe width="400" height="300" id="gmap_canvas" src="https://maps.google.com/maps?q=damascus&t=&z=13&ie=UTF8&iwloc=&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe><a href="https://123movies-to.org"></a><br>
                                        <style>
                                            .mapouter {
                                                position: relative;
                                                text-align: inherit;
                                                height: auto;
                                            }
                                        </style><a href="https://www.embedgooglemap.net"></a>
                                        <style>
                                            .gmap_canvas {
                                                overflow: hidden;
                                                background: none !important;
                                                height: auto;
                                            }
                                        </style>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>

            </div>



        </footer>

        <div class="row" style="background:#444444;margin:0px;">

            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center">

                <a class="text-to-change pointer socialMediaLinks" data-translation="b0e15c68-8109-4ae9-be01-545c1a932ff9" data-toggle="modal" data-target="#exampleModal" @*href="https://en-gb.facebook.com/moad.gov.sy/" target="_blank"*@>
                    <img src=@Url.Content("~/Images/logos/facebook.png") style="height:40px;margin:5px; cursor:pointer;" />

                </a>

                <a class="text-to-change pointer socialMediaLinks" data-translation="2ecdf1c4-b054-4d4e-9de1-5066628a1b20" data-toggle="modal" data-target="#exampleModal" @*href="https://twitter.com/moadsy" target="_blank"*@>
                    <img src=@Url.Content("~/Images/logos/twitter.png") style="height: 40px; margin: 5px; cursor: pointer;" />

                </a>

                <a class="text-to-change pointer socialMediaLinks" data-translation="2b1b0389-fa85-45a5-80e5-29d1276fbb2d" data-toggle="modal" data-target="#exampleModal" @*href="https://plus.google.com/u/0/104034386529231101869" target="_blank"*@>
                    <img src=@Url.Content("~/Images/logos/g_plus.png") style="height: 40px; margin: 5px; cursor: pointer;" />
                </a>

            </div>

        </div>
    </div>







    <!-- Modal -->

    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel"></h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                @Html.Partial("_SingleElementModal", new SingleElementViewModel() { ElementTranslation = "" })
                <div class="modal-footer">
                    <button type="button" id="saveBtn" class="btn btn-primary">حفظ</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">
                        إغلاق
                    </button>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal CARDS-->
    <div class="modal fade" id="modalCards" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel"></h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                @Html.Partial("_CardModal", new CardModalViewModel() { TitleTranslation = "", languageNeeded = 3, SubTitleTranslation = "", ParagraphTranslation = "" })
                <div class="modal-footer">
                    <input type="button" id="saveBtnCard" class="btn btn-primary" value="حفظ" />
                    <button type="button" class="btn btn-secondary" data-dismiss="modal"> إغلاق</button>
                </div>
            </div>
        </div>
    </div>

    @Html.Partial("_ImageChangeModal")
    <script src=@Url.Content("~/assets/NewPages/sweetAlert/sweetalert.js")></script>
    <script src="@Url.Content("~/Scripts/bootbox.min.js")"></script>
    <script>
        $(".del-btns").hide();

        function reveal() {
            var reveals = document.querySelectorAll(".reveal");

            for (var i = 0; i < reveals.length; i++) {
                var windowHeight = window.innerHeight;
                var elementTop = reveals[i].getBoundingClientRect().top;
                var elementVisible = 150;

                if (elementTop < windowHeight - elementVisible) {
                    reveals[i].classList.add("active");
                } else {
                    reveals[i].classList.remove("active");
                }
            }
        }


        window.addEventListener("scroll", reveal);
        $(function () {
            $('#main-menu').smartmenus({
                subMenusSubOffsetX: 1,
                subMenusSubOffsetY: -8
            });
        });


        $(".dropbtn").click(function () {

            $(this).next().toggle();
        });

        document.addEventListener('keydown', function (event) {
            if (event.keyCode == 27) {
                event.preventDefault();
            }

        });


        function myFunction() {
            var x = document.getElementById("myTopnav");
            if (x.className === "topnav") {
                x.className += " responsive";
            } else {
                x.className = "topnav";
            }
        }


        /////////LoaderPart////
        $(window).on('load', function () {

       // setTimeout(function () {
            fadeOutEffect();
        //}, 6000);

        function fadeOutEffect() {

            var fadeTarget = document.getElementById("overlay");
            var fadeEffect = setInterval(function () {
                if (!fadeTarget.style.opacity) {
                    fadeTarget.style.opacity = 1;
                }
                if (fadeTarget.style.opacity > 0) {
                    fadeTarget.style.opacity -= 0.1;
                } else {
                    clearInterval(fadeEffect);
                }


            }, 300);

            setTimeout(function () {
                $(".Body").css("filter", "");

            }, 3000);
            $("#HeaderLogo").fadeIn(6000);

            setTimeout(function () {

                $("#overlay").remove();
            }, 5000);

        }

        });
        /////////End LoaderPart////



        //function myFunction() {
        //    var x = document.getElementById("myTopnav");
        //    if (x.className === "topnav") {
        //        x.className += " responsive";
        //    } else {
        //        x.className = "topnav";
        //    }
        //}
          $("#ManbarSilatWasel").click(function () {

            submit_post_via_hidden_form("@Url.Action("Manbar", "NewPages")", {});

          });
        $("#MarsadAlAda2AlIdari").click(function () {

            submit_post_via_hidden_form("@Url.Action("Marsad", "NewPages")", {});

        });
        $("#SignInMarkaz").click(function () {

            @if (User.Identity.IsAuthenticated)
            {

                if (User.IsInRole("PB"))
                {
 <text>
            window.location = '@Url.Action("Index", "PBDashboard")';

            </text>
                }
                else
                {
 <text>
            submit_post_via_hidden_form("@Url.Action("Index", "Home")", {});

            </text>
                }

            } else
            {
                <text>
            submit_post_via_hidden_form("@Url.Action("LoginView", "Account")", { ManagerIndex: "True" });

            </text>
            }


        });

        $("#SinInMangersButton").click(function () {

            @if (User.Identity.IsAuthenticated)
                            {

                                if (User.IsInRole("PB"))
                                {
 <text>
            window.location = '@Url.Action("Index", "PBDashboard")';

            </text>
                                }
                                else
                                {
 <text>
            submit_post_via_hidden_form("@Url.Action("Index", "Home")", {});

            </text>
                                }

            }else
            {
                <text>
            submit_post_via_hidden_form("@Url.Action("LoginView", "Account")", { ManagerIndex: "True" });

            </text>
            }


        });

        $(".goToEstetla3ra2i").click(function () {
            var formKey = $(this).attr("data-formkey");
             submit_post_via_hidden_form("@Url.Action("Index", "SurveyReport")", { FormTemKey: formKey });
        })

        $(".EmptyEstetla3Class").hover(function () {
            $(this).text("لا يوجد نتائج إستطلاعات رأي");
        })

        $(".EmptyEstetla3Class").mouseleave(function () {
            $(this).text("نتائج إستطلاعات الرأي");
        })

        $("#GlobalLearningLink").click(function () {

            window.location.href = "http://www.gl.ae/home";

        });


        $("#SignInManbar").click(function () {

            submit_post_via_hidden_form("@Url.Action("LoginView", "Account")", {});


        });

        $("#GoToManbar").click(function () {

            submit_post_via_hidden_form("@Url.Action("Manbar", "Home")", {});


        });

        $("#GoToMarkaz").click(function () {

            submit_post_via_hidden_form("@Url.Action("Markaz", "NewPages")", {});


        });


        $("#AboutMarsad").click(function () {
            if (checkIfSamePage("Home/AboutMarsad") == "NotFound")
                submit_post_via_hidden_form("@Url.Action("AboutMarsad", "Home")", {});


        });


        $("#AboutMarkaz").click(function () {
            if (checkIfSamePage("Home/AboutMarkaz") == "NotFound")
                submit_post_via_hidden_form("@Url.Action("AboutMarkaz", "Home")", {});


        });

        $("#AboutManbar").click(function () {




            if (checkIfSamePage("Home/AboutManbar") == "NotFound")
                submit_post_via_hidden_form("@Url.Action("AboutManbar", "Home")", {});

        });


        function checkIfSamePage(PagePath) {
            var url = window.location.href;     // Returns full URL


            if (url.indexOf(PagePath) != -1) {
                return "Found";
            } else {
                return "NotFound"
            }


        }

        $("#Khousousya").click(function () {
            if (checkIfSamePage("Home/Khousousya") == "NotFound")
                submit_post_via_hidden_form("@Url.Action("Khousousya", "Home")", {});


        });

        $("#Himayatalserya").click(function () {
            if (checkIfSamePage("Home/Himayatalserya") == "NotFound")
                submit_post_via_hidden_form("@Url.Action("Himayatalserya", "Home")", {});


        });

        @*var ClassName = '@ViewBag.PageName';

                        $("." + ClassName).show();*@



        $("#Moutaba3atChakwa").click(function () {


            window.location = '@Url.Action("Index", "UserDashboard")';

        });


        $("#gotodashbordCitizen").click(function () {


            @if (User.Identity.IsAuthenticated)
       {
                      <text>
            window.location = '@Url.Action("Index", "UserDashboard")';

            </text>
            }else
            {

                                     <text>
            $("#SignInManbar").click();

            </text>

            }



        });


        $("#gotodashbord").click(function () {

            @if (User.IsInRole("ADManager") || User.IsInRole("ADDirector") || User.IsInRole("HR"))
            {
                <text>
            window.location = '@Url.Action("AdUsersLandingPage", "Home")';

            </text>
            }@*else
                if (User.IsInRole("Administrator")) {

                    <text>
            window.location = '@Url.Action("Index", "AspNetUsers")';


            </text>

                }*@else
                    if (User.IsInRole("Editor")) {

                        <text>
            window.location = '@Url.Action("Index", "MouwazafinWithOrgs")';


            </text>

                    }
                    else
                        if (User.IsInRole("PB")) {

                            <text>
            window.location = '@Url.Action("Index", "PBDashboard")';


            </text>

                        }
                        else
                        {
                            <text>
            window.location = '@Url.Action("Index", "UserDashboard")';

            </text>
                        }

            {

            }
        });

        function submit_post_via_hidden_form(url, params) {
            var f = $("<form method='POST' style='display:none;'></form>").attr({
                action: url
            }).appendTo(document.body);

            for (var i in params) {
                if (params.hasOwnProperty(i)) {
                    $('<input type="hidden" />').attr({
                        name: i,
                        value: params[i]
                    }).appendTo(f);
                }
            }

            f.submit();

            f.remove();
        }

        $("#AkhbarWizara").click(function () {

            submit_post_via_hidden_form("@Url.Action("AkhbarWizara", "Home")", {});


        })

        @*$("#HeaderLogo").click(function () {
            submit_post_via_hidden_form("@Url.Action("Markaz", "NewPages")", {});

        })*@

        $("#Machari3Wizara").click(function () {

            submit_post_via_hidden_form("@Url.Action("Machari3Wizara", "Home")", {});


        })


        $(".akhbaralwizara").click(function () {
            window.location = '@Url.Action("AboutWizara", "Home")';
        });

        $(".machari3alwizara").click(function () {
            window.location = '@Url.Action("AboutMachari3", "Home")';
        });


        $(".logoff").click(function () {


            window.location = '@Url.Action("LogOff", "Account")';

        });

        function goToMyClaim(formKey, GUID, CreatedAt, CitizenKey, NextFormTemplateKey, CurrentStatusKey, CurrentFormtemplateKey, CurrentFormtemplateName, CurrentStatusName, NextOrganisationKey, CurrentOrganisationKey) {

            @if (User.IsInRole("ADManager") || User.IsInRole("ADDirector"))
           {
               <text>
            submit_post_via_hidden_form("@Url.Action("ADManagerTemplate", "FormTemplatesDisplay")", { formKey: formKey, GUID: GUID, CreatedAt: CreatedAt, CitizenKey: CitizenKey, CurrentStatusKey: CurrentStatusKey, NextFormTemplateKey: NextFormTemplateKey, CurrentFormtemplateKey: CurrentFormtemplateKey, CurrentFormtemplateName: CurrentFormtemplateName, NextOrganisationKey: NextOrganisationKey, CurrentOrganisationKey: CurrentOrganisationKey });

            @*window.location = '@Url.Action("ADManagerTemplate", "FormTemplatesDisplay")/' + "?formKey=" + formKey + "&GUID=" + GUID + "&CreatedAt=" + CreatedAt + "&CitizenKey=" + CitizenKey + "&CurrentStatusKey=" + CurrentStatusKey + "&NextFormTemplateKey=" + NextFormTemplateKey + "&CurrentFormtemplateKey=" + CurrentFormtemplateKey + "&CurrentFormtemplateName=" + CurrentFormtemplateName + "&NextOrganisationKey=" + NextOrganisationKey + "&CurrentOrganisationKey=" + CurrentOrganisationKey;*@
            </text>
                        }
            @if (User.IsInRole("OPManager") || User.IsInRole("OPGeneralDirector") || User.IsInRole("OPDirector") || User.IsInRole("Human Development Sector") || User.IsInRole("Administrative sector") || User.IsInRole("Economic sector") || User.IsInRole("Service sector"))
            {
                <text>
            @*window.location = '@Url.Action("FormInstance", "Home")/' + "?formKey=" + formKey + "&GUID=" + GUID + "&CreatedAt=" + CreatedAt + "&CitizenKey=" + CitizenKey + "&CurrentStatusKey=" + CurrentStatusKey + "&NextFormTemplateKey=" + NextFormTemplateKey + "&CurrentFormtemplateKey=" + CurrentFormtemplateKey + "&CurrentFormtemplateName=" + CurrentFormtemplateName + "&CurrentStatusName=" + CurrentStatusName + "&NextOrganisationKey=" + NextOrganisationKey + "&CurrentOrganisationKey=" + CurrentOrganisationKey;*@
            submit_post_via_hidden_form("@Url.Action("FormInstance", "Home")", { formKey: formKey, GUID: GUID, CreatedAt: CreatedAt, CitizenKey: CitizenKey, CurrentStatusKey: CurrentStatusKey, NextFormTemplateKey: NextFormTemplateKey, CurrentFormtemplateKey: CurrentFormtemplateKey, CurrentFormtemplateName: CurrentFormtemplateName, CurrentStatusName: CurrentStatusName, NextOrganisationKey: NextOrganisationKey, CurrentOrganisationKey: CurrentOrganisationKey });

            </text>
                        }
            @if (User.IsInRole("Citizen"))
            {
                <text>
            @*window.location = '@Url.Action("ADManagerTemplate", "FormTemplatesDisplay")/' + "?formKey=" + formKey + "&GUID=" + GUID + "&CreatedAt=" + CreatedAt + "&CitizenKey=" + CitizenKey + "&CurrentStatusKey=" + CurrentStatusKey + "&NextFormTemplateKey=" + NextFormTemplateKey + "&CurrentFormtemplateKey=" + CurrentFormtemplateKey + "&CurrentFormtemplateName=" + CurrentFormtemplateName + "&NextOrganisationKey=" + NextOrganisationKey + "&CurrentOrganisationKey=" + CurrentOrganisationKey;*@
            submit_post_via_hidden_form("@Url.Action("ADManagerTemplate", "FormTemplatesDisplay")", { formKey: formKey, GUID: GUID, CreatedAt: CreatedAt, CitizenKey: CitizenKey, CurrentStatusKey: CurrentStatusKey, NextFormTemplateKey: NextFormTemplateKey, CurrentFormtemplateKey: CurrentFormtemplateKey, CurrentFormtemplateName: CurrentFormtemplateName, NextOrganisationKey: NextOrganisationKey, CurrentOrganisationKey: CurrentOrganisationKey });

            </text>
                        }
        }


        function changeLanguage(languageCode) {
            $.ajax({
                url: '@Url.Action("ChangeLanguage", "Home")',
                type: 'GET',
                cache: false,
                dataType: 'text',
                data: ({
                    id: languageCode
                }),
                contentType: 'application/json; charset=utf-8',
                success: function (data) {
                    location.reload();
                },
                error: function (xhr) {
                    console.log('errorr');
                }
            });
        }




        $('.carousel').carousel({
            interval: 10000
        })

        $('#myCarousel').on('slide.bs.carousel', function () {
            $('.carousel-caption').fadeOut(300);
        })
        $('#myCarousel').on('slid.bs.carousel', function () {
            $('.carousel-caption').fadeIn(600);
        })

        //$(".cardwork").on('click', function () {
        //    if ($(this).children().length == 1) {
        //        var servicebox = $(this).children()[0];
        //    }
        //    else
        //        var servicebox = $(this).children()[1];

        //   var children = $(servicebox).children();

        //   if ($(children[1]).css('opacity') === '0') {

        //      $(children[0]).css("opacity", "0");
        //      $(children[1]).css("opacity", "1");


        //       $(children[1]).css('transform', 'translateX(0)');

        //    }
        //    else {
        //        $(children[0]).css('opacity', '1');
        //        $(children[1]).css('transform', 'translateY(110px) rotateX(-90deg)');
        //       $(children[1]).css('opacity', '0');
        //   }


        //}

        //)
        $(".cardwork").on('mouseenter', function () {
           if ($(this).children().length == 1) {
                var servicebox = $(this).children()[0];
            }
            else
               var servicebox = $(this).children()[1];

            var children = $(servicebox).children();

           $(servicebox).css({
                    opacity: 1,
                    transition: 'opacity 1s ease-in-out'
                });



          $(children[0]).css("opacity", "0");
               $(children[1]).css("opacity", "1");
               $(children[1]).css('transform', 'translatex(0)');

      }

        )

        $(".cardwork").on('mouseleave', function () {
           if ($(this).children().length == 1) {
                var servicebox = $(this).children()[0];
            }
            else
                var servicebox = $(this).children()[1];

            var children = $(servicebox).children();

           if ($(children[0]).children().length == 0) {
               $(servicebox).css({
                   opacity: 0,
                   transition: 'opacity 1s ease-in-out'
             });
            }


          $(children[0]).css('opacity', '1');
         $(children[1]).css('transform', 'translatey(110px) rotatex(-90deg)');
           $(children[1]).css('opacity', '0');

       }

       )

        $(".card-to-remove").removeClass("card");
        $(".card-to-remove").removeClass("pointer");
        $(".card-to-remove").removeAttr("data-toggle");
        $(".card-to-remove").removeAttr("data-target");
        //CMS Functionalities
        var clickedElement = "";

        $(document).on('click', '.text-to-change', function () {
            clickedElement = $(this);
            var guid = $(this).data('translation');
            var language = @languageIdentifier;
            var singleElementModal = {};
            singleElementModal["ElementTranslation"] = guid;
            singleElementModal["languageNeeded"] = language;
                
            $(".modal-body-single-element").empty();
            $(".modal-body-single-element").append('<img src="@Url.Content("~/images/customgif/Syrian Loader.gif")" alt="Loading" style="width:20%;z-index:4; margin-right:40%" />');

            var singleElementModalJsonString = JSON.stringify(singleElementModal);

             $.ajax({

                            url: '@Url.Action("ChangeLanguageInModal")',



                            type: 'POST',



                            data: {

                                __RequestVerificationToken: $('@Html.AntiForgeryToken()').val(),

                                componentName: "singleElement",

                                componentStringObject: singleElementModalJsonString

                            },



                 success: function (data) {
                     if (data != "404") {
                         $(".modal-body-single-element").empty();
                         $(".modal-body-single-element").append(data);
                     }
                     //else {
                     //    swal("Error", "Error Occured!", "error");
                     //}

                                //$(".modal-body-card").empty();
                                //$(".modal-body-card").append(data);





                            },



                            error: function (error) {

                                swal("Error", "Error Occured!", "error");

                            }
                        });



        })

        $(document).on('click', '#saveBtn', function () {

            var textChanged = $("#inputModal").val();
            var guidToSend = $("#inputModal").data("translation");
            changeText(guidToSend, textChanged,"none");


        })

        $(document).on('click', '#saveBtnCard', function () {

            if ($(".title-container").is(":visible")) {
                var titleModalVal = $("#titleModal").val();
                var titleModalTranslation = $("#titleModal").data('translation');
                changeText(titleModalTranslation, titleModalVal, "title" );
            }
            if ($(".title-text-container").is(":visible")) {
                var titleTextModalval = $("#titleTextModal").val();
                var titleTextModalTranslation = $("#titleTextModal").data('translation');
                changeText(titleTextModalTranslation, titleTextModalval,"titleText");
            }

            if ($(".paragraph-container").is(":visible")) {
                var paragraphModalVal = $("#textParagraphModal").val();
                var paragraphTranslation = $("#textParagraphModal").data('translation');
                changeText(paragraphTranslation, paragraphModalVal,"paragraph");
            }





        })


        //$(document).on('click', '.blog-slider__button', function () {
        //    var parent = $(this).parent();
        //    var children = $(parent).children();
        //    var title = $(children[0]).text();
        //    var text = $(children[2]).text();
        //    $(".modal-head-title").text(title);
        //    $(".modal-head-text").text(text);


        //})

        $(document).on('click', '.card', function () {
            clickedElement = $(this);

            var title = "";
            var titleText = "";
            var paragraph = "";
            var titleTranslation = "";
            var titleTextTranslation = "";
            var paragraphTranslation = "";
            var imageKey = 0;

            title = $(this).find(".title").text().trim();

            var titleTranslation = $(this).find(".title").data('translation');

            var imageSize = $(this).attr("data-imageSize");

            titleText = $(this).find(".titleText").text().trim();
            var titleTextTranslation = $(this).find(".titleText").data('translation');

            paragraph = $(this).find(".paragraph").text().trim();
            var paragraphTranslation = $(this).find(".paragraph").data('translation');

            imageKey = $(this).find(".imageKeyinput").val();
            console.log(imageKey);
            console.log($(this).data("formtemplatekey"));
            var language = @languageIdentifier;
            var cardModal = {};
            cardModal["TitleTranslation"] = titleTranslation;
            cardModal["SubTitleTranslation"] = titleTextTranslation;
            cardModal["ParagraphTranslation"] = paragraphTranslation;
            cardModal["languageNeeded"] = language;
            cardModal["imageKey"] = imageKey;
            cardModal["FormTemplateKey"] = $(this).data("formtemplatekey");
            cardModal["imageSize"] = imageSize;
            
            var cardModalJsonString = JSON.stringify(cardModal);
            $(".modal-body-card").empty();
            $(".modal-body-card").append('<img src="@Url.Content("~/images/customgif/Syrian Loader.gif")" alt="Loading" style="width:20%;z-index:4; margin-right:40%" />');
             $.ajax({

                            url: '@Url.Action("ChangeLanguageInModal")',



                            type: 'POST',



                            data: {

                                __RequestVerificationToken: $('@Html.AntiForgeryToken()').val(),

                                componentName: "card",

                                componentStringObject: cardModalJsonString

                            },



                            success: function (data) {
                                if (data != "404") {
                                    $(".modal-body-card").empty();
                                    $(".modal-body-card").append(data);

                                    var image = $(".image-to-reload");
                                    var imageSrc = $(image).attr('src');
                                    $(image).attr('src', reloadImage(imageSrc));
                                }






                            },



                            error: function (error) {

                                swal("Error", "Error Occured!", "error");

                            }
                        });



        })
        //$(document).on('click', '.img-to-change', function () {

        //    $('.close').click();
        //    $(".modal-backdrop").remove();
        //})
        function changeText(guidToSend, textChanged, inputChangedName) {
            $.blockUI($("#body"));
            var lang = "";

            if ($(clickedElement).hasClass("card")) {
                lang = $("#languageDropDownCard option:selected").val();
                console.log("here in sa7");
            }
            else {
                lang = $("#languageDropDownSingle option:selected").val();
                console.log("here in ghalat");
            }
            if (guidToSend.length == 0 || textChanged.length == 0) {
                $.unblockUI($("#body"));
                return;
            }
            $.ajax({

                url: '@Url.Action("UpdateDataTranslation", "CMS")',



                type: 'POST',



                data: {

                    __RequestVerificationToken: $('@Html.AntiForgeryToken()').val(),

                    guid: guidToSend,

                    newTransaltion: textChanged,

                    language: parseInt(lang)

                },



                success: function (data) {
                    $.unblockUI($("#body"));
                    if (data != "Error") {
                        swal("مبروك", "تم حفظ المعلومات", "success");
                        if ($(clickedElement).hasClass("card")) {

                            if(lang === '@languageIdentifier'){
                                if (inputChangedName == "title") {
                                    $(clickedElement).find(".title").text(data);
                                    $(".close").click();
                                    return;
                                }
                                if (inputChangedName == "titleText") {
                                    $(clickedElement).find(".titleText").text(data);
                                    $(".close").click();
                                    return;
                                }
                                if (inputChangedName == "paragraph") {
                                    $(clickedElement).find(".paragraph").text(data);
                                    $(".close").click();
                                    return;
                                }
                            }

                        } if ($(clickedElement).hasClass("socialMediaLinks")) {

                        }
                        else {
                            $(clickedElement).text(data);
                        }
                    }
                    //else {
                    //    swal("Error", "Error Occured!", "error");
                    //}


                    $(".close").click();




                },



                error: function (error) {
                    $.unblockUI($("#body"));
                    swal("Error", "Error Occured!", "error");

                }
            });
        }

        $(document).on('change', "#languageDropDownCard", function () {

            var language = $("#languageDropDownCard option:selected").val();

                            // 1) get the data translations needed from inputs
                        var titleModalTranslation = "";
                        var titleTextModalTranslation = "";
                        var paragraphModalTranslation = "";
                        var imageKey = 0;
                        if ($(".title-container").is(":visible")) {
                            titleModalTranslation = $("#titleModal").data('translation');
                        }
                        if ($(".title-text-container").is(":visible")) {
                             titleTextModalTranslation = $("#titleTextModal").data('translation');
                        }

                        if ($(".paragraph-container").is(":visible")) {
                            paragraphModalTranslation = $("#textParagraphModal").data('translation');
                        }
                        imageKey = $("#imgModal").data("translation");
                       // create object of these translations
                        var cardModal = {};
                        cardModal["TitleTranslation"] = titleModalTranslation;
                        cardModal["SubTitleTranslation"] = titleTextModalTranslation;
                        cardModal["ParagraphTranslation"] = paragraphModalTranslation;
                        cardModal["languageNeeded"] = language;
            cardModal["imageKey"] = imageKey;
            var imageSize = $(this).attr("data-imageSize");
            cardModal["imageSize"] = imageSize;
            
            var cardModalJsonString = JSON.stringify(cardModal);

            $(".modal-body-card").empty();
            $(".modal-body-card").append('<img src="@Url.Content("~/images/customgif/Syrian Loader.gif")" alt="Loading" style="width:20%;z-index:4; margin-right:40%" />');
                         $.ajax({

                            url: '@Url.Action("ChangeLanguageInModal")',



                            type: 'POST',



                            data: {

                                __RequestVerificationToken: $('@Html.AntiForgeryToken()').val(),

                                componentName: "card",

                                componentStringObject: cardModalJsonString

                            },



                            success: function (data) {

                                if (data != "404") {
                                    $(".modal-body-card").empty();
                                    $(".modal-body-card").append(data);
                                }





                            },



                            error: function (error) {

                                swal("Error", "Error Occured!", "error");

                            }
                        });


        })
        $(document).on('change', "#languageDropDownSingle", function () {
            var language = $("#languageDropDownSingle option:selected").val();

                // 1) get the data translation
                var singleElementModal = {};
                singleElementModal["ElementTranslation"] = $("#inputModal").data("translation");
            singleElementModal["languageNeeded"] = language;

            $(".modal-body-single-element").empty();
            $(".modal-body-single-element").append('<img src="@Url.Content("~/images/customgif/Syrian Loader.gif")" alt="Loading" style="width:20%;z-index:4; margin-right:40%" />');
                var singleElementModalJsonString = JSON.stringify(singleElementModal);
                $.ajax({

                            url: '@Url.Action("ChangeLanguageInModal")',



                            type: 'POST',



                            data: {

                                __RequestVerificationToken: $('@Html.AntiForgeryToken()').val(),

                                componentName: "singleElement",

                                componentStringObject: singleElementModalJsonString

                            },



                            success: function (data) {

                                if (data != "404") {
                                    $(".modal-body-single-element").empty();
                                    $(".modal-body-single-element").append(data);
                                }
                                //else {
                                //    swal("Error", "Error Occured!", "error");
                                //}



                            },



                            error: function (error) {

                                swal("Error", "Error Occured!", "error");

                            }
                        });




        })
         FillAllDopdownsPages();
        function FillAllDopdownsPages() {
             $.ajax({
                url: '@Url.Action("GetAllPages", "TestCMS")',
                type: 'POST',
                 data: {
                     __RequestVerificationToken: $('@Html.AntiForgeryToken()').val()
                },
                 success: function (data) {

                     var childPageDropdownChildren = $("#childPageDropdownChildren");
                     var childPageDropdown = $("#childPageDropdown");
                     var parentPageDropdown = $("#parentPageDropdown");
                     var itemPageDropdown = $("#itemPageDropdown");
                     $(parentPageDropdown).empty();
                     //$(parentPageDropdown).append("<option>اختر الصفحة</option>")
                     $(itemPageDropdown).empty();
                     //$(itemPageDropdown).append("<option>اختر الصفحة</option>")
                     $(childPageDropdownChildren).empty();
                    // $(childPageDropdownChildren).append("<option>اختر الصفحة</option>")
                     $(childPageDropdown).empty();
                     //$(childPageDropdown).append("<option>اختر الصفحة</option>")
                     for (var i = 0; i < data.length; i++) {
                         var option = "<option value=" + data[i].Value + ">";
                         option += data[i].Text + "</option>";
                         $(parentPageDropdown).append(option);
                         $(childPageDropdownChildren).append(option);
                         $(childPageDropdown).append(option);
                         $(itemPageDropdown).append(option);
                     }
                },
                error: function (error) {
                    bootbox.alert({
                        message: ' حدث خطأ يرجى المحاولة مرة أخرى ',
                        buttons: {
                            ok: {
                                label: 'إغلاق'
                            }
                        }
                    })
                }
            });
        }
        function reloadImage(src) {
            // Create a timestamp
            var timestamp = new Date().getTime();

            // Get the image element

            var newSrc = src + "&t=" + timestamp;
            return newSrc;


        }

         function viewestibana(formKey) {
       
        submit_post_via_hidden_form("@Url.Action("EditSurveyTemplate", "SurveyGenerator")", { f_if: formKey });
    }
    </script>
</body>
</html>
