﻿@using Microsoft.AspNet.Identity
@using MoAD.DataObjects.EDMX
@using MoAD.WebApplication.Objects;
@using MoAD.WebApplication.Managers;
@using MoAD.WebApplication.Models;

@{
    ViewBag.Title = "Home Page";
    Layout = null;
    HttpCookie languageCookie = Request.Cookies["Language"];
    var InitialDirection = "rtl";
    if (languageCookie != null && languageCookie.Value != "3")
    {
        InitialDirection = "ltr";
    }
    List<GetAdManagerForms_Result> Estetla3Ra2iPublishedFormsForManbar = ViewBag.Estetla3Ra2iPublishedForms;

    if (Estetla3Ra2iPublishedFormsForManbar == null)
    {
        Estetla3Ra2iPublishedFormsForManbar = new List<GetAdManagerForms_Result>();
    }
    Dictionary<string, string> Locale = ViewBag.Locale;
    int languageIdentifier = (int)ViewBag.CurrentLanguageIdentifier;
    int? pageKey = (int?)ViewBag.pageKey;
    int navBarItemComponentKey = (int)ViewBag.NavBarItemComponentKey;
    List<NavBarViewModel> NavbarData = (List<NavBarViewModel>)ViewBag.NavbarData;
    int sliderItemComponentKey = (int)ViewBag.SliderItemComponentKey;
    List<NavBarViewModel> SliderData = (List<NavBarViewModel>)ViewBag.SliderData;

}

<!DOCTYPE html>
<html lang="en">
<head>
    <title> مرصد الأداء الإداري</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="@Url.Content("~/assets/NewPages/bootstrap/bootstrap.min.css")">
    <link rel="stylesheet" href="@Url.Content("~/assets/NewPages/slider2/normalize.css")">
    <link rel='stylesheet' href="@Url.Content("~/assets/NewPages/slider2/swiper.css")">
    <script src="@Url.Content("~/assets/NewPages/jquery/jquery.min.js")"></script>
    <script src="@Url.Content("~/assets/NewPages/bootstrap/bootstrap.min.js")"></script>


    <link href="@Url.Content("~/content/header/sm-core-css.css")" rel="stylesheet" />
    <link href="@Url.Content("~/content/header/sm-blue.css")" rel="stylesheet" />

    <link href="@Url.Content("~/content/header/sm-core-css.css")" rel="stylesheet" />
    <link href="@Url.Content("~/content/header/sm-blue.css")" rel="stylesheet" />
    @*<script src="@Url.Content("~/Scripts/vendors/jquery/jquery.min.js")"></script>*@
    <link href="@Url.Content("~/Content/SharedLayout.css")" rel="stylesheet" />
    <link href="@Url.Content("~/Content/Css/font-awesome.min.css")" rel="stylesheet" type="text/css" />
    <script src="@Url.Content("~/scripts/header/jquery.smartmenus.js")"></script>

    <link href="@Url.Content("~/assets/NewPages/select2/select2.css")" rel="stylesheet" />
    <script src="@Url.Content("~/assets/NewPages/select2/select2.js")"></script>
    <link rel="stylesheet" href="@Url.Content("~/assets/NewPages/dropzone/dropzone.css")" type="text/css" />
    <script src="@Url.Content("~/assets/NewPages/dropzone/dropzone.js")"></script>
    <script src="@Url.Content("~/assets/BlockUI.js")"></script>
    <link rel="apple-touch-icon" sizes="180x180" href="@Url.Content("~/assets/app/media/img/favicon/apple-touch-icon.png")">
    <link rel="icon" type="image/png" sizes="32x32" href="@Url.Content("~/assets/app/media/img/favicon/favicon-32x32.png")">
    <link rel="icon" type="image/png" sizes="16x16" href="@Url.Content("~/assets/app/media/img/favicon/favicon-16x16.png")">
    <link rel="manifest" href="@Url.Content("~/assets/app/media/img/favicon/site.webmanifest")">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">
    <style>
        .modal-body {
            max-height: calc(116vh - 210px);
            overflow-y: auto;
        }
    </style>
    @if (InitialDirection == "rtl")
    {

        <style>
            .sm-blue i {
                margin-left: 8px !important;
            }

            #orderParentsBtn {
                float: left;
            }

            #orderChildsBtn {
                margin-left: 3px;
                float: left;
            }
        </style>
    }
    else
    {
        <style>
            .sm-blue i {
                margin-right: 8px !important;
            }

            #orderParentsBtn {
                float: right;
            }

            #orderChildsBtn {
                margin-right: 3px;
                float: right;
            }
        </style>
    }

    @if (InitialDirection == "rtl")
    {


        <style>
             @@font-face {
            font-family: 'ge_dinar_onemedium';
            src: url('@Url.Content("~/assets/vendors/Fonts/GE Dinar One Medium.ttf")') format('truetype'), url('@Url.Content("~/assets/vendors/Fonts/ge-dinar-one-medium-webfont.woff2")') format('woff2'), url('@Url.Content("~/assets/vendors/Fonts//ge-dinar-one-medium-webfont.woff")') format('woff');
            font-weight: normal;
            font-style: normal;
        }

            body, h1, h2, h3, h4, h5, h6, input {
                font-family: 'ge_dinar_onemedium' !important;
            }


            .sm-blue a, .sm-blue a:hover, .sm-blue a:focus, .sm-blue a:active {
                font-family: 'ge_dinar_onemedium' !important;
            }

            button, a {
                font-family: 'ge_dinar_onemedium' !important;
            }

        </style>
    }
    else
    {
        <style>
            body, h1, h2, h3, h4, h5, h6, input {
                font-family: "Gill Sans", sans-serif !important;
            }



            .sm-blue a, .sm-blue a:hover, .sm-blue a:focus, .sm-blue a:active {
                font-family: "Gill Sans", sans-serif !important;
            }

            button, a {
                font-family: "Gill Sans", sans-serif !important;
            }
        </style>
    }
    <style>
        .sm-blue li ul a {
            color: #447F99 !important;
        }
        .modal {
            z-index: 9999999999999999999999999;
        }


        .row {
            margin-right: 0px !important;
            margin-left: 0px !important;
        }
        .text-color {
            color: #50718c;
        }
        #main-menu {
            border-radius: 0px;

        }
        #orderChildsComponentsModal, #orderParentsComponentsModal {
            z-index: 99999999999999;
        }
        .del-btns {
            display: none;
        }
        .boldClass{
            font-weight:bold !important;
        }
        .modal input[type='text'], .modal textarea {
            font-size: 18px;
        }
        .modal-body .title-container {
            background: white;
        }

        .modal-body label {
            color: #7c7c7c;
        }
        .modal label {
            font-size: 20px;
            font-weight: normal;
            margin-top: 5px;
        }
        .modal-body-card label {
            margin-top: 10px;
        }
        .modal-body select {
            cursor: pointer;
        }

        .modal-body input {
            margin-top: 10px;
        }

        .modal button, .modal input[type="button"] {
            font-size: 15px;
        }

        .modal select {
            width: 100%;
        }

        .modal-body {
            margin-bottom: 25px;
            padding: 5px !important;
        }
        .title-container {
            background: #e5eaec;
            padding: 10px;
        }
        .title-container>div{
            padding:10px;
        }
            .title-container p {
                color: #ed2814;
                margin: 0 !important;
                font-size: 2.8rem;
            }

        .eee3 button {
            background: none;
            color: white;
            font-size: 3.5rem;
            margin: 50px 0px;
        }
        pointer{
            cursor:pointer;
        }
        .title-container, .title-text-container, .paragraph-container {
            display: flex;
        }

        .reverse-row {
            display: flex;
            flex-direction: row-reverse;
        }
        .carousel-caption p {
            font-size: 25px;
        }
        .white-bg{
            background:white !important;
        }
        body {
            background: url(../Images/backgrounds/background.jpg) !important;
            background-repeat: no-repeat !important;
            background-size: cover !important;
            padding-top: 38px;
        }

        [dir="rtl"] {
            background-color: white !important;
        }


        ul a{
            cursor:pointer;
        }


        a {
            border-bottom: none !important;
        }

        h4, h3 {
            font-weight: normal !important;
        }

        .sm-blue li ul::-webkit-scrollbar {
            background: #D2D2D6;
            width: 8px;
        }

        .sm-blue li ul::-webkit-scrollbar-thumb {
            background: #64A1BC;
        }

        #main-menu {
            border-radius: 0px;

        }



        .pointer{
            cursor:pointer;
        }
        .sm-blue, .sm-blue li .has-submenu, .sm-blue .element, .sm-blue .no-child {
            background: #447F99 !important;
        }

            .sm-blue a {
                font-weight: normal !important;
                padding: 17px !important;
                font-size: 17px !important;
            }

            .sm-blue li ul {
                width: max-content !important;
                background: #F7F8F9;
                height: 150px;
                min-height: 200px;
                border: 0px !important;
                overflow: scroll;
                overflow-x: hidden;
            }


            .sm-blue li ul {
                right: 0px;
            }

                .sm-blue li ul li {
                    float: none !important;
                }

            .sm-blue li .has-submenu:hover, .sm-blue li .has-submenu:focus {
                color: #447F99 !important;
                background: #F7F8F9 !important;
            }

                .sm-blue li .has-submenu:hover i {
                    color: #447F99 !important;
                    background: #F7F8F9 !important;
                }



            .sm-blue .has-submenu .sub-arrow {
                display: none;
            }

            .sm-blue > li {
                border-right: 1px solid white;
            }

            .sm-blue li ul a {
                background: #F7F8F9;
                color: #447F99;
            }

            .sm-blue i {
                font-size: 16px;
                color: white;
            }

        header button {
            border: none;
            margin-bottom: 4px;
            background: none;
            font-size: 17px;
            color: #447F99;
            font-weight: bold;
        }
        .box1 {
            padding: 1%;
            font-size: 1vw;
            background-color: white;
            margin-top: 1vw;
            margin-bottom: 1vw;
            box-shadow: 0px 0px 16px 6px #c6b4b4;
            border: solid 0.3vw #d8d4d4;
        }
            .box1 p {
                font-size:2.5rem;
            }
        .row{
            margin-right:0px !important;
            margin-left:0px !important;
        }
        .col1 {
            height: 0.5vw;
            background-color: red;
            margin-top: 3vw;
        }

        .card-box {
            background: white;
            padding: 20px 0px;
            position: relative;
            border: 10px solid #E5EAEC;
        }
            .card-box::after {
                content: "";
                background: rgb(0,25,49);
                background: linear-gradient(90deg, rgba(0,25,49,1) 0%, rgba(37,83,120,1) 50%, rgba(0,25,49,1) 100%);
                display: block;
                height: 10px;
                width: 100%;
                position: absolute;
                bottom: 0;
            }
            header button:first-child {
                border-right: 2px solid #447F99;
            }

        h1 {
            font-size: 2.5rem !important;
        }

        h2 {
            font-size: 2.06rem;
        }
        .obs1 {
            position: relative;
            background-color: #fbe5e5;
            height: 3vw;
            background: rgba(255, 255, 255, .5);
            top: -116px;
            padding: 3px 14px;
            /* text-align: center; */
        }
        .titles2 {
            font-size: 1.5vw;
        }




        .card {
            overflow: hidden;
            position: relative;
        }






        header {
            background: url(../Images/backgrounds/background.jpg) !important;
            background-repeat: no-repeat !important;
            background-size: cover !important;
            padding-top: 38px;
        }





        .carousel-control.right, .carousel-control.left {
            background-image: none;
        }








        .text-container p {
            line-height: 1.9;
            max-width: 25rem;
            font-size: 1.25rem;
        }

        .text-container h2 {
            text-shadow: 2px 7px 2px #bbadad;
            color: #8E1927;
            font-size: 2.125rem;
            border-bottom: 2px solid #8E1927;
        }




        .HeaderH1 {
            color: #5c6a72;
            font-weight: bold;
            text-align: center;
            line-height: 1.5;
            font-size: 2.9rem !important;
        }




        .takarir-container {
            background-color: #447F99;
            margin: 30px;
            border-radius: 20px;
            padding: 10px;
        }

            .takarir-container h1 {
                color: white;
            }

        .takrir-ada2-container {
            background: url(../Images/takarir/تقرير-الأداء-الحكوميbutton.png);
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            height: 244px;
        }



        .card h3 {
            font-size: 17px;
        }

        .colu15 {
            background-image: url(../Imag/block-8.png);
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
        }

        .colu3, .colu4, .colu5, .colu6, .colu44, .colu55, .colu66 {
            height: 20vw;
        }

        .colu6 {
            background-image: url(../Images/backgrounds/haykal-bg.jpg);
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
        }

        .colu4 {
            background-image: url(../Images/backgrounds/business.png);
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
        }


        .colu3 {
            background-image: url(@Html.Raw(Url.Action("GetFilePathFromExtendedData","Files", new { extensionFileKey= 143114, resizeWidth = 640 })));
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
        }

        .colu5 {
            background-image: url(@Html.Raw(Url.Action("GetFilePathFromExtendedData","Files", new { extensionFileKey= 143115, resizeWidth = 640 })));
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
        }

        .colu44 {
            background-image: url(@Html.Raw(Url.Action("GetFilePathFromExtendedData","Files", new { extensionFileKey= 143109, resizeWidth = 640 })));
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
        }
        .colu55 {
            background-image: url(@Html.Raw(Url.Action("GetFilePathFromExtendedData","Files", new { extensionFileKey= 143110, resizeWidth = 640 })));
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
        }
        .colu66 {
            background-image: url(@Html.Raw(Url.Action("GetFilePathFromExtendedData","Files", new { extensionFileKey= 143111, resizeWidth = 640 })));
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
        }

        .imgft {
            height: 10vw !important;
        }

        .smallimage {
            margin: auto;
        }

        .linetitle {
            background-color: #882525;
            height: 0.3vw;
            margin-bottom: 0.5vw;
        }

        .kalimaTawjihyaText {
            font-size: 1.750rem;
        }

        hr {
            box-shadow: 0px 8px 5px 0px rgba(0,0,0,0.26);
        }

        .box {
            margin-top: -55px;
            background: #D9DBDA;
            text-align: center;
            box-shadow: 8px 7px 5px 0px rgba(0,0,0,0.52);
        }

            .box p {
                color: #646464;
                font-size: 2.5rem;
                margin: 20px 0;
            }

        footer {
            background: url(../Images/backgrounds/footer-background.jpg) !important;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover !important;
            padding-top: 1.875rem;
            padding-right: 1.875rem;
            padding-left: 1.875rem;
        }



        .flex {
            display: flex;
            align-items: center;
            justify-content: center;
        }


        footer h3 {
            font-size: 31px;
        }

        footer li {
            color: white;
            padding-bottom: 10px;
            font-size: 1.9rem;
        }

        .mapouter {
            height: auto;
        }






        .eee {
            background-image: url(@Html.Raw(Url.Action("GetFilePathFromExtendedData","Files", new { extensionFileKey= 143113 })));
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;

        }




        .ft1 {
            width: 100%;
            background-image: url(@Html.Raw(Url.Action("GetFilePathFromExtendedData","Files", new { extensionFileKey= 143112 })));
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            min-height: 10vw !important;
            cursor:pointer;
        }



        .reveal {
            position: relative;
            transform: translateY(150px);
            opacity: 0;
            transition: 1s all ease;
        }

            .reveal.active {
                transform: translateY(0);
                opacity: 1;
            }

        #overlay {
            position: fixed;
            z-index: 99999999999999999999999999999;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            /* background: rgb(249, 249, 251); */
            transition: 1s 0.4s;
            background: #ffff;
         /*   opacity: 0.8;*/
        }
        .mb-1 {
            margin-bottom: 10px !important;
        }

            /* MEDIA QUERIES*/

            @@media(max-width:1440px) {

          h4{
              font-size:20px !important;
          }
                .box1 p {
                    font-size: 2.6rem !important;
                }
        }


            @@media(max-width:1024px){
                .card-text p {
                    font-size: 2.3rem !important;
                }
                .box1 p {
                    font-size: 2.3rem !important;
                }
            }

        @@media(max-width:768px) {
            .card-text p {
                font-size: 1.9rem !important;
            }
            .box1 p {
                font-size: 2.0rem !important;
            }
        }


        @@media(max-width:635px) {
            .eee3 button {
                font-size: 1.6rem !important;
            }
            .box1 p {
                font-size: 1.7rem !important;
            }
        }

        @@media(max-width:1300px) {



            .text-responsive {
                width: 100% !important;
            }
        }




        @@media(max-width:1200px) {
            .box-left {
                height: 66% !important;
            }

            .box {
                margin: 11px 10px;
            }

            .text-container2-fix {
                height: 350px;
            }
        }
        @@media(min-width:1025px){
            .takrir-footer {
                padding-top: 123px;
            }
        }
        @@media(max-width:1024px) {
            .sm-blue a {
                font-weight: normal !important;
                padding: 10px !important;
                font-size: 12px !important;
            }
            .HeaderH1 {
                line-height: 1.5;
                font-size: 2.1rem !important;
            }

            #HeaderLogo{
                width:60%;
            }

            }



            header button {
                font-size: 12px !important;
            }

            .card {
                height: 394px !important;
            }

        @@media(max-width:991px){
            .card h3 {
                line-height: 2.9;
            }
        }

        @@media(max-width:980px) {
            .HeaderH1 {
                font-size: 2.5rem !important;
            }
        }

        @@media(max-width:974px) {
            .card h1 {
                font-size: 15px !important;
            }

            .card h3 {
                font-size: 13px !important;
            }
        }

        @@media(max-width:920px) {
            .carousel-caption p {
                font-size: 18px !important;
            }
        }

        @@media(max-width:800px) {
            .coluxx1, .coluxx2, .coluxx3 {
                height: 22vw !important;
            }

            .img-container {
                height: auto;
            }

            .slider-responsive > div {
                display: block;
            }

            .coluxx1, .coluxx2, .coluxx3 {
                height: 38.25rem;
            }
        }



        @@media(max-width:768px) {


            .HeaderH1 {
                font-size: 1.8rem !important;
            }


        }




        @@media (max-width:870px) and (min-width:431px) {
            .card h1 {
                font-size: 30px !important;
            }

            .card h3 {
                font-size: 23px !important;
            }
        }
        @@media(max-width:760px) {


            .card h2 {
                font-size: 18px !important;
            }

            .card h3 {
                font-size: 13px !important;
            }
        }
        @@media(max-width:645px) {
            .carousel-caption p {
                font-size: 12px !important;
            }
        }

        @@media(max-width:645px) {
            .carousel-caption p {
                font-size: 9px !important;
            }
        }






        @@media(max-width:425px) {
            /*.slider-responsive{
                display:none;
            }*/
            .card h1 {
                font-size: 13px !important;
            }

            .card h3 {
                font-size: 11px !important;
            }

            .card {
                height: 263px !important;
            }
        }


        @@media(max-width:425px){

            #HeaderLogo {
                width: 25% !important;
            }
            .title-container p {

                font-size: 2.5rem !important;
            }

        }

        @@media(max-width:340px) {
            h3 {
                font-size: 19px !important;
            }
            h4{
                font-size:15px !important;
                height:auto !important;
            }
        }




    </style>
</head>
<div id="overlay">
    <div class="col-md-12 col-sm-12 col-xs-12" style="text-align:center;margin-top:15%">
        <img src="@Url.Content("~/images/customgif/Syrian Loader.gif")" alt="Loading" style="width:10%;" />
        <br />
        @*<span style="color:black">@Html.Raw(BaseController.GetFieldLabel(Locale, "_InitialLoaderMsg"))</span>*@
    </div>
</div>

<body dir="@InitialDirection">
    @if (User.IsInRole("Editor"))
    {
        <div class="row">
            <div class="col-lg-12">
                <a href="@Url.Action("Markaz","TestCMS")" class="btn btn-primary">تعديل المركز</a>
                <a href="@Url.Action("Manbar","TestCMS")" class="btn btn-primary">تعديل المنبر</a>
                <a href="@Url.Action("Marsad","TestCMS")" class="btn btn-primary">تعديل المرصد</a>
                <a href="@Url.Action("Forms","SurveyGenerator")" class="btn btn-primary">إدارة الاستبيانات</a>
            </div>
        </div>
    }
    <div class="row">
        <div class="col-lg-5 col-md-5 col-sm-5 col-xs-12">
            <h1 class="HeaderH1">
                <span class="text-to-change pointer" data-translation="fcde62a8-2fad-4e89-9a3e-2d380e758274" data-toggle="modal" data-target="#exampleModal">
                    @Utilities.GetDataTransaltionByGuid("fcde62a8-2fad-4e89-9a3e-2d380e758274", languageIdentifier)

                </span> <br />
                <span class="text-to-change pointer" data-toggle="modal" data-target="#exampleModal" data-translation="4c67b446-4f32-412d-a112-cc6af8e316b3">
                    @Utilities.GetDataTransaltionByGuid("4c67b446-4f32-412d-a112-cc6af8e316b3", languageIdentifier)
                </span>
            </h1>
        </div>
        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12 text-center img-to-change" data-translation="143108">
            <div>الصورة:  ١٠٨ × ١٠٠</div>
            <img src="@Url.Action("GetFilePathFromExtendedData","Files", new { extensionFileKey= 143108 })" id="HeaderLogo" style="cursor: pointer; width: 50%;" hidden />
        </div>
        <div class="col-lg-5 col-md-5 col-sm-5 col-xs-12">
            <h1 class="HeaderH1">
                <span class="text-to-change pointer" data-toggle="modal" data-target="#exampleModal" data-translation="a8d1eac1-fb73-4626-8133-cc068a1f4ba8">
                    @Utilities.GetDataTransaltionByGuid("a8d1eac1-fb73-4626-8133-cc068a1f4ba8", languageIdentifier)

                </span> <br />
                <span class="text-to-change pointer" data-toggle="modal" data-target="#exampleModal" data-translation="d28321a5-9d0b-43c9-b3ca-5d3169fc4ba7">
                    @Utilities.GetDataTransaltionByGuid("d28321a5-9d0b-43c9-b3ca-5d3169fc4ba7", languageIdentifier)
                </span>

            </h1>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-9"></div>
        <div class="col-lg-3" style="text-align:end;font-weight:bold;">
            @if (languageCookie.Value == "3")
            {
                <a style="cursor:pointer;" onclick="changeLanguage('4')">English</a>
            }
            else
            {
                <a style="cursor: pointer;" onclick="changeLanguage('3')">العربية</a>
            }
        </div>
    </div>
    <div class="row mb-1">
        <div class="col-lg-6">
            <button class="btn btn-primary-outline" data-toggle="modal" id="addBtn" data-target="#AddItemModal">إضافة عنوان رئيسي</button>
            <button class="btn btn-primary" id="EditBtn" data-toggle="modal" data-target="#EditItemModal">تعديل عنوان رئيسي</button>
            <button class="btn btn-danger" id="DeleteBtn" data-toggle="modal" data-target="#DeleteItemModal">حذف عنوان رئيسي</button>
        </div>
        <div class="col-lg-6">
            <button class="btn btn-primary-outline" data-toggle="modal" id="addChild" data-target="#AddChildrenModal">أضف عنوان فرعي</button>
            <button class="btn btn-primary" data-toggle="modal" data-target="#EditChildrenModal" id="EditChildrenModalBtn">تعديل العنوان الفرعي</button>
            <button class="btn btn-danger" data-toggle="modal" id="deleteChildBtn" data-target="#DeleteChildModal">إزالة عنوان فرعي</button>
            <button type="button" class="btn btn-primary" id="orderParentsBtn" data-toggle="modal" data-target="#orderParentsComponentsModal">
                ترتيب العناوين الرئيسية
            </button>
            <button type="button" class="btn btn-primary" id="orderChildsBtn" data-toggle="modal" data-target="#orderChildsComponentsModal">
                ترتيب العناوين الفرعية
            </button>
        </div>
    </div>

    <div id="navbarContainer">
        @Html.Partial("~/Views/CMS/_NavbarMenu.cshtml", new ViewDataDictionary { { "NavbarData", NavbarData }, { "LanguageIdentifier", ViewBag.CurrentLanguageIdentifier } })
    </div>
    @Html.Partial("~/Views/CMS/_NavbarIndexingModals.cshtml", new ViewDataDictionary { { "NavbarData", NavbarData }, { "LanguageIdentifier", ViewBag.CurrentLanguageIdentifier }, { "NavbarComponentKey", navBarItemComponentKey }, { "PageKey", pageKey } })
    @Html.Partial("~/Views/CMS/_NavBarAddItemModal.cshtml")
    @Html.Partial("~/Views/CMS/_NavBarEditItemModal.cshtml")
    @Html.Partial("~/Views/CMS/_NavBarDeleteItemModal.cshtml")


    @Html.Partial("~/Views/CMS/_NavBarAddChildrenModal.cshtml")
    @Html.Partial("~/Views/CMS/_NavBarDeleteChildModal.cshtml")
    @Html.Partial("~/Views/CMS/_NavbarEditChildModal.cshtml")
    <div class="row">
        <div class="col-lg-12 text-center">
            <a href='@Url.Action("Slider","CMS",new { pagekey=pageKey,type="slider1"})' target="_blank" class="btn btn-primary" style="margin-top:10px;margin-bottom:10px;">تعديل السلايدر</a>
        </div>
    </div>
    <div class="white-bg">
        <div style="background:#ffff">
            <div class="content-container">
                @Html.Partial("~/Views/CMS/_SlidersPartial.cshtml", new ViewDataDictionary { { "NavbarData", SliderData }, { "LanguageIdentifier", ViewBag.CurrentLanguageIdentifier } })
            </div>

            <div class="row reveal text-center title-container" style=" margin-bottom: 30px;">

                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <p class="pointer text-to-change" data-translation="a92fd44d-b624-4c02-b1d2-611d58119661" data-toggle="modal" data-target="#exampleModal">
                        @Utilities.GetDataTransaltionByGuid("a92fd44d-b624-4c02-b1d2-611d58119661", languageIdentifier)
                    </p>
                </div>
            </div>
        </div>
        <div class="row reveal">
            <div class="col-lg-1 col-md-1 col-sm-1"></div>
            <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12 pointer" id="TakrirAda2Sanawi">
                <div class="col-md-12">الصورة:  ٧٠٤ × ٣٩٦</div>
                <div class="card colu3" title="انقر هنا لتعديل الصورة" data-toggle="modal" data-target="#modalCards" style="  border: 1px solid #e7e4e4; box-shadow: 3px 3px 4px 0px rgb(0 0 0 / 75%); display: flex; flex-direction: column-reverse; margin: 10px;">
                    <input type="hidden" value="143114" class="imageKeyinput" />
                    <h4 style="z-index: 4; background: rgba(255, 255, 255, .7); color: #5c6a72; padding: 16px; font-size: 24px;" data-translation="8d71581c-b20f-4c03-8997-ad3382e6980f" class="boldClass title">
                        @Utilities.GetDataTransaltionByGuid("8d71581c-b20f-4c03-8997-ad3382e6980f", languageIdentifier)
                    </h4>
                </div>
            </div>

            <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12 pointer" id="TasnifAda2Sanawi">
                <div class="col-md-12">الصورة:  ٧٠٤ × ٣٩٦</div>
                <div class="card colu5" title="انقر هنا لتعديل الصورة" data-toggle="modal" data-target="#modalCards" style="  border: 1px solid #e7e4e4; box-shadow: 3px 3px 4px 0px rgb(0 0 0 / 75%); display: flex; flex-direction: column-reverse; margin: 10px;">
                    <input type="hidden" value="143115" class="imageKeyinput" />
                    <h4 class="boldClass title" style="z-index: 4; background: rgba(255, 255, 255, .7); color: #5c6a72; padding: 16px; font-size: 24px;" data-translation="17de65e4-b16a-4b82-8ffe-37546c1438f0">
                        @Utilities.GetDataTransaltionByGuid("17de65e4-b16a-4b82-8ffe-37546c1438f0", languageIdentifier)
                    </h4>
                </div>
            </div>
            <div class="col-lg-1 col-md-1 col-sm-1"></div>
        </div>

        <div class="row reveal title-container text-center" style="margin-top:30px;">

            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <p class="text-to-change pointer" data-translation="b0b82876-0099-4394-9e71-63296d050139" data-toggle="modal" data-target="#exampleModal">
                    @Utilities.GetDataTransaltionByGuid("b0b82876-0099-4394-9e71-63296d050139", languageIdentifier)
                </p>
            </div>

        </div>
        <div class="row reveal" style="background: #e5eaec;">

            <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 card-box" id="GetPublishedTakarir">
                <div class="card-text">
                    <p data-toggle="modal" data-target="#exampleModal" class="text-color text-to-change pointer" data-translation="bc574abe-889d-4610-83ca-03cdfe6c3c32" style="font-size: 2.5rem; padding: 2px 11px;">
                        @Utilities.GetDataTransaltionByGuid("bc574abe-889d-4610-83ca-03cdfe6c3c32", languageIdentifier)
                    </p>
                </div>
                <div>الصورة:  ١٠٨ × ١٠٠</div>
                <div class="card colu44 pointer" title="انقر هنا لتعديل الصورة" data-toggle="modal" data-target="#modalCards" style="  border: 1px solid #e7e4e4; box-shadow: 3px 3px 4px 0px rgb(0 0 0 / 75%); display: flex; flex-direction: column-reverse; margin: 10px;">
                    <input type="hidden" value="143109" class="imageKeyinput" />
                    <h4 style="z-index: 4; background: rgba(255, 255, 255, .7); color: #5c6a72; height: 67px; padding: 16px; font-size: 24px; " class="boldClass title" data-translation="d2a17b1c-8802-4ea1-b096-7310bdfc6672">
                        @Utilities.GetDataTransaltionByGuid("d2a17b1c-8802-4ea1-b096-7310bdfc6672", languageIdentifier)
                    </h4>
                </div>
            </div>

            <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 card-box" id="tarahoulan">
                <div class="card-text">
                    <p class="text-color text-to-change pointer" data-toggle="modal" data-target="#exampleModal" style="font-size: 2.5rem; padding: 2px 11px;" data-translation="77371007-881c-47ae-9d0d-362c9f36f9cc">
                        @Utilities.GetDataTransaltionByGuid("77371007-881c-47ae-9d0d-362c9f36f9cc", languageIdentifier)
                    </p>
                </div>
                <div>الصورة:  ١٠٨ × ١٠٠</div>
                <div class="card colu55 pointer" title="انقر هنا لتعديل الصورة" data-toggle="modal" data-target="#modalCards" style="  border: 1px solid #e7e4e4; box-shadow: 3px 3px 4px 0px rgb(0 0 0 / 75%); display: flex; flex-direction: column-reverse; margin: 10px;">
                    <input type="hidden" value="143110" class="imageKeyinput" />
                    <h4 style="z-index: 4; background: rgba(255, 255, 255, .7); color: #5c6a72; height: 67px; padding: 16px; font-size: 24px; " class="boldClass title" data-translation="81dae4e7-ccc2-4e8a-a0f6-80716b71dbd4">
                        @Utilities.GetDataTransaltionByGuid("81dae4e7-ccc2-4e8a-a0f6-80716b71dbd4", languageIdentifier)
                    </h4>
                </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 card-box" id="EchReport">
                <div class="card-text">
                    <p class="text-color text-to-change pointer" data-toggle="modal" data-target="#exampleModal" style="font-size: 2.5rem; padding: 2px 11px;" data-translation="8b595350-ef0b-4178-a0cf-78aa6e90385d">
                        @Utilities.GetDataTransaltionByGuid("8b595350-ef0b-4178-a0cf-78aa6e90385d", languageIdentifier)
                    </p>
                </div>
                <div>الصورة:  ١٠٨ × ١٠٠</div>
                <div class="card colu66 pointer" title="انقر هنا لتعديل الصورة" data-toggle="modal" data-target="#modalCards" style="  border: 1px solid #e7e4e4; box-shadow: 3px 3px 4px 0px rgb(0 0 0 / 75%); display: flex; flex-direction: column-reverse; margin: 10px;">
                    <input type="hidden" value="143111" class="imageKeyinput" />
                    <h4 style="z-index: 4; background: rgba(255, 255, 255, .7); color: #5c6a72; height: 67px; padding: 16px; font-size: 24px; " class="boldClass title" data-translation="443e2bdc-8714-4184-ac72-99485cec0025">
                        @Utilities.GetDataTransaltionByGuid("443e2bdc-8714-4184-ac72-99485cec0025", languageIdentifier)

                    </h4>
                </div>
            </div>


        </div>

        <div class="row reveal">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                الصورة:  ٢٤٠٠ × ٢٧٥
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 eee img-to-change" data-translation="143113" title="انقر هنا لتعديل الصورة">
                <div class="eee3 flex">
                    <button id="Top10Orgs" class="btn tamyiz text-to-change pointer" data-toggle="modal" data-target="#exampleModal" data-translation="2ebc8915-4cc4-4c08-933c-78bdc3ea1837">
                        @Utilities.GetDataTransaltionByGuid("2ebc8915-4cc4-4c08-933c-78bdc3ea1837", languageIdentifier)
                    </button>
                </div>
            </div>

        </div>



        <div class="error-part" style="background:white;">

            <div class="row" style="margin: auto;">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    الصورة:  ٢٤٠٠ × ٢٧٥
                </div>
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 ft1 img-to-change" title="انقر هنا لتعديل الصورة" data-translation="143112">


                </div>
            </div>

            <footer dir="@InitialDirection">

                <div class="row">
                    <div class="col-lg-1"></div>
                    <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12 takrir-footer" style="cursor:pointer;">
                        <h3 style="color:white;" class="text-to-change pointer" data-translation="336fc9fe-ccca-4dfe-8b99-cc624c98008a" data-toggle="modal" data-target="#exampleModal"> @Utilities.GetDataTransaltionByGuid("336fc9fe-ccca-4dfe-8b99-cc624c98008a", languageIdentifier)</h3>
                    </div>
                    <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12">
                        <h3 style="color:white;" class="text-to-change pointer" data-translation="86eb1887-40df-426f-9011-f10277a93edb" data-toggle="modal" data-target="#exampleModal"> @Utilities.GetDataTransaltionByGuid("86eb1887-40df-426f-9011-f10277a93edb", languageIdentifier)</h3>
                        <ul style="list-style-type:none;padding:0px;">
                            <li>
                                <div class="row">
                                    <div class="col-lg-2 phone-icon">
                                        <img style="height: 70px; margin-top: 11px;" src=@Url.Content("~/Images/logos/phone.png") />
                                    </div>
                                    <div class="col-lg-10">
                                        <div class="row" style="margin:18px 0px;">
                                            <div style="padding-bottom:5px" class="col-lg-12 text-to-change pointer" data-translation="4a0f8881-f2a9-493d-9a15-a5f2f779506d" data-toggle="modal" data-target="#exampleModal"> @Utilities.GetDataTransaltionByGuid("4a0f8881-f2a9-493d-9a15-a5f2f779506d", languageIdentifier)</div>
                                            <div class="col-lg-12 text-to-change pointer" data-translation="98f84cee-7329-4702-a16d-79ac6e1cb016" data-toggle="modal" data-target="#exampleModal"> @Utilities.GetDataTransaltionByGuid("98f84cee-7329-4702-a16d-79ac6e1cb016", languageIdentifier)</div>
                                        </div>
                                    </div>

                                </div>
                            </li>

                            <li>
                                <div class="row">
                                    <div class="col-lg-2 email-icon">
                                        <img style="height:70px;margin-top:11px;" src=@Url.Content("~/Images/logos/e-mail.png") />
                                    </div>
                                    <div class="col-lg-10">
                                        <div class="row" style="margin:18px 0px;">
                                            <div style="padding-bottom:5px" class="col-lg-12 text-to-change pointer" data-translation="e0946b87-f50c-4b1c-86f8-1cb5b1921a72" data-toggle="modal" data-target="#exampleModal"> @Utilities.GetDataTransaltionByGuid("e0946b87-f50c-4b1c-86f8-1cb5b1921a72", languageIdentifier)</div>
                                            <div class="col-lg-12 text-to-change pointer" data-translation="79de7aa1-38be-4be2-811d-bd1beff0e274" data-toggle="modal" data-target="#exampleModal"> @Utilities.GetDataTransaltionByGuid("79de7aa1-38be-4be2-811d-bd1beff0e274", languageIdentifier)</div>
                                        </div>
                                    </div>

                                </div>
                            </li>

                        </ul>
                    </div>
                    <div class="col-lg-5 col-md-12 col-sm-12 col-xs-12">
                        <img style="height: 70px; float: inherit;" src="@Url.Content("~/Images/logos/location.png")" />
                        <h3 style="color:white;" class="text-to-change pointer" data-translation="e12f59e2-428e-474f-b17d-6d6291383c9b" data-toggle="modal" data-target="#exampleModal"> @Utilities.GetDataTransaltionByGuid("e12f59e2-428e-474f-b17d-6d6291383c9b", languageIdentifier)</h3>
                        <ul style="list-style-type: none; padding: 0px; margin-top: 11px;">


                            <li>
                                <div class="row">
                                    <div class="mapouter">
                                        <div class="gmap_canvas">
                                            <iframe width="400" height="300" id="gmap_canvas" src="https://maps.google.com/maps?q=damascus&t=&z=13&ie=UTF8&iwloc=&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe><a href="https://123movies-to.org"></a><br>
                                            <style>
                                                .mapouter {
                                                    position: relative;
                                                    text-align: inherit;
                                                    height: auto;
                                                }
                                            </style><a href="https://www.embedgooglemap.net"></a>
                                            <style>
                                                .gmap_canvas {
                                                    overflow: hidden;
                                                    background: none !important;
                                                    height: auto;
                                                }
                                            </style>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>

                </div>



            </footer>

            <div class="row" style="background:#444444;margin:0px;">

                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center">

                    <a class="text-to-change pointer socialMediaLinks" data-translation="b0e15c68-8109-4ae9-be01-545c1a932ff9" data-toggle="modal" data-target="#exampleModal" @*href="https://en-gb.facebook.com/moad.gov.sy/" target="_blank"*@>
                        <img src=@Url.Content("~/Images/logos/facebook.png") style="height:40px;margin:5px; cursor:pointer;" />

                    </a>

                    <a class="text-to-change pointer socialMediaLinks" data-translation="2ecdf1c4-b054-4d4e-9de1-5066628a1b20" data-toggle="modal" data-target="#exampleModal" @*href="https://twitter.com/moadsy" target="_blank"*@>
                        <img src=@Url.Content("~/Images/logos/twitter.png") style="height: 40px; margin: 5px; cursor: pointer;" />

                    </a>

                    <a class="text-to-change pointer socialMediaLinks" data-translation="2b1b0389-fa85-45a5-80e5-29d1276fbb2d" data-toggle="modal" data-target="#exampleModal" @*href="https://plus.google.com/u/0/104034386529231101869" target="_blank"*@>
                        <img src=@Url.Content("~/Images/logos/g_plus.png") style="height: 40px; margin: 5px; cursor: pointer;" />
                    </a>
                </div>

            </div>
        </div>
    </div>


    <!-- Modal -->

    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel"></h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                @Html.Partial("_SingleElementModal", new SingleElementViewModel() { ElementTranslation = "" })
                <div class="modal-footer">
                    <button type="button" id="saveBtn" class="btn btn-primary">حفظ</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">
                        إغلاق
                    </button>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal CARDS-->
    <div class="modal fade" id="modalCards" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel"></h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                @Html.Partial("_CardModal", new CardModalViewModel() { TitleTranslation = "", languageNeeded = 3, SubTitleTranslation = "", ParagraphTranslation = "" })
                <div class="modal-footer">
                    <input type="button" id="saveBtnCard" class="btn btn-primary" value="حفظ" />
                    <button type="button" class="btn btn-secondary" data-dismiss="modal"> إغلاق</button>
                </div>
            </div>
        </div>
    </div>
    @Html.Partial("_ImageChangeModal")

    <script src=@Url.Content("~/assets/NewPages/slider2/swiper.js")></script>
    <script src=@Url.Content("~/assets/NewPages/sweetAlert/sweetalert.js")></script>
    <script src="@Url.Content("~/Scripts/bootbox.min.js")"></script>
    <script>
        $(".del-btns").hide();

        function reveal() {
            var reveals = document.querySelectorAll(".reveal");

            for (var i = 0; i < reveals.length; i++) {
                var windowHeight = window.innerHeight;
                var elementTop = reveals[i].getBoundingClientRect().top;
                var elementVisible = 150;

                if (elementTop < windowHeight - elementVisible) {
                    reveals[i].classList.add("active");
                } else {
                    reveals[i].classList.remove("active");
                }
            }
        }
        var swiper = new Swiper('.blog-slider', {
            spaceBetween: 30,
            effect: 'fade',
            loop: true,
            mousewheel: {
                invert: false,
            },
            // autoHeight: true,
            pagination: {
                el: '.blog-slider__pagination',
                clickable: true,
            }
        });

        window.addEventListener("scroll", reveal);
        $(function () {
            $('#main-menu').smartmenus({
                subMenusSubOffsetX: 1,
                subMenusSubOffsetY: -8
            });
        });


        $(".dropbtn").click(function () {

            $(this).next().toggle();
        });

        document.addEventListener('keydown', function (event) {
            if (event.keyCode == 27) {
                event.preventDefault();
            }

        });


        function myFunction() {
            var x = document.getElementById("myTopnav");
            if (x.className === "topnav") {
                x.className += " responsive";
            } else {
                x.className = "topnav";
            }
        }


        /////////LoaderPart////
        $(window).on('load',function () {

       // setTimeout(function () {
            fadeOutEffect();
        //}, 6000);

        function fadeOutEffect() {

            var fadeTarget = document.getElementById("overlay");
            var fadeEffect = setInterval(function () {
                if (!fadeTarget.style.opacity) {
                    fadeTarget.style.opacity = 1;
                }
                if (fadeTarget.style.opacity > 0) {
                    fadeTarget.style.opacity -= 0.1;
                } else {
                    clearInterval(fadeEffect);
                }


            }, 300);

            setTimeout(function () {
                $(".Body").css("filter", "");

            }, 3000);
            $("#HeaderLogo").fadeIn(6000);

            setTimeout(function () {

                $("#overlay").remove();
            }, 5000);

        }

        });
        /////////End LoaderPart////



        //function myFunction() {
        //    var x = document.getElementById("myTopnav");
        //    if (x.className === "topnav") {
        //        x.className += " responsive";
        //    } else {
        //        x.className = "topnav";
        //    }
        //}
          $("#ManbarSilatWasel").click(function () {

            submit_post_via_hidden_form("@Url.Action("Manbar", "NewPages")", {});

          });
        $("#MarsadAlAda2AlIdari").click(function () {

            submit_post_via_hidden_form("@Url.Action("Marsad", "NewPages")", {});

        });
        $("#SignInMarkaz").click(function () {

            @if (User.Identity.IsAuthenticated)
            {

                if (User.IsInRole("PB"))
                {
 <text>
            window.location = '@Url.Action("Index", "PBDashboard")';

            </text>
                }
                else
                {
 <text>
            submit_post_via_hidden_form("@Url.Action("Index", "Home")", {});

            </text>
                }

            } else
            {
                <text>
            submit_post_via_hidden_form("@Url.Action("LoginView", "Account")", { ManagerIndex: "True" });

            </text>
            }


        });

        $("#SinInMangersButton").click(function () {

            @if (User.Identity.IsAuthenticated)
                            {

                                if (User.IsInRole("PB"))
                                {
 <text>
            window.location = '@Url.Action("Index", "PBDashboard")';

            </text>
                                }
                                else
                                {
 <text>
            submit_post_via_hidden_form("@Url.Action("Index", "Home")", {});

            </text>
                                }

            }else
            {
                <text>
            submit_post_via_hidden_form("@Url.Action("LoginView", "Account")", { ManagerIndex: "True" });

            </text>
            }


        });

        $(".goToEstetla3ra2i").click(function () {
            var formKey = $(this).attr("data-formkey");
             submit_post_via_hidden_form("@Url.Action("Index", "SurveyReport")", { FormTemKey: formKey });
        })

        $(".EmptyEstetla3Class").hover(function () {
            $(this).text("لا يوجد نتائج إستطلاعات رأي");
        })

        $(".EmptyEstetla3Class").mouseleave(function () {
            $(this).text("نتائج إستطلاعات الرأي");
        })

        $("#GlobalLearningLink").click(function () {

            window.location.href = "http://www.gl.ae/home";

        });


        $("#SignInManbar").click(function () {

            submit_post_via_hidden_form("@Url.Action("LoginView", "Account")", {});


        });

        $("#GoToManbar").click(function () {

            submit_post_via_hidden_form("@Url.Action("Manbar", "Home")", {});


        });

        $("#GoToMarkaz").click(function () {

            submit_post_via_hidden_form("@Url.Action("Markaz", "NewPages")", {});


        });


        $("#AboutMarsad").click(function () {
            if (checkIfSamePage("Home/AboutMarsad") == "NotFound")
                submit_post_via_hidden_form("@Url.Action("AboutMarsad", "Home")", {});


        });


        $("#AboutMarkaz").click(function () {
            if (checkIfSamePage("Home/AboutMarkaz") == "NotFound")
                submit_post_via_hidden_form("@Url.Action("AboutMarkaz", "Home")", {});


        });

        $("#AboutManbar").click(function () {




            if (checkIfSamePage("Home/AboutManbar") == "NotFound")
                submit_post_via_hidden_form("@Url.Action("AboutManbar", "Home")", {});

        });


        function checkIfSamePage(PagePath) {
            var url = window.location.href;     // Returns full URL


            if (url.indexOf(PagePath) != -1) {
                return "Found";
            } else {
                return "NotFound"
            }


        }

        $("#Khousousya").click(function () {
            if (checkIfSamePage("Home/Khousousya") == "NotFound")
                submit_post_via_hidden_form("@Url.Action("Khousousya", "Home")", {});


        });

        $("#Himayatalserya").click(function () {
            if (checkIfSamePage("Home/Himayatalserya") == "NotFound")
                submit_post_via_hidden_form("@Url.Action("Himayatalserya", "Home")", {});


        });

        @*var ClassName = '@ViewBag.PageName';

                        $("." + ClassName).show();*@



        $("#Moutaba3atChakwa").click(function () {


            window.location = '@Url.Action("Index", "UserDashboard")';

        });


        $("#gotodashbordCitizen").click(function () {


            @if (User.Identity.IsAuthenticated)
       {
                      <text>
            window.location = '@Url.Action("Index", "UserDashboard")';

            </text>
            }else
            {

                                     <text>
            $("#SignInManbar").click();

            </text>

            }



        });


        $("#gotodashbord").click(function () {

            @if (User.IsInRole("ADManager") || User.IsInRole("ADDirector") || User.IsInRole("HR"))
            {
                <text>
            window.location = '@Url.Action("AdUsersLandingPage", "Home")';

            </text>
            }@*else
                if (User.IsInRole("Administrator")) {

                    <text>
            window.location = '@Url.Action("Index", "AspNetUsers")';


            </text>

                }*@else
                    if (User.IsInRole("Editor")) {

                        <text>
            window.location = '@Url.Action("Index", "MouwazafinWithOrgs")';


            </text>

                    }
                    else
                        if (User.IsInRole("PB")) {

                            <text>
            window.location = '@Url.Action("Index", "PBDashboard")';


            </text>

                        }
                        else
                        {
                            <text>
            window.location = '@Url.Action("Index", "UserDashboard")';

            </text>
                        }

            {

            }
        });

        function submit_post_via_hidden_form(url, params) {
            var f = $("<form method='POST' style='display:none;'></form>").attr({
                action: url
            }).appendTo(document.body);

            for (var i in params) {
                if (params.hasOwnProperty(i)) {
                    $('<input type="hidden" />').attr({
                        name: i,
                        value: params[i]
                    }).appendTo(f);
                }
            }

            f.submit();

            f.remove();
        }

        function submit_post_via_hidden_formNewTab(url, params) {
            var f = $("<form method='POST' target='_blank' style='display:none;'></form>").attr({
                action: url
            }).appendTo(document.body);

            for (var i in params) {
                if (params.hasOwnProperty(i)) {
                    $('<input type="hidden" />').attr({
                        name: i,
                        value: params[i]
                    }).appendTo(f);
                }
            }

            f.submit();

            f.remove();
        }

        $("#AkhbarWizara").click(function () {

            submit_post_via_hidden_form("@Url.Action("AkhbarWizara", "Home")", {});


        })

        @*$("#HeaderLogo").click(function () {
            submit_post_via_hidden_form("@Url.Action("Markaz", "NewPages")", {});

        })*@

        $("#Machari3Wizara").click(function () {

            submit_post_via_hidden_form("@Url.Action("Machari3Wizara", "Home")", {});


        })


        $(".akhbaralwizara").click(function () {
            window.location = '@Url.Action("AboutWizara", "Home")';
        });

        $(".machari3alwizara").click(function () {
            window.location = '@Url.Action("AboutMachari3", "Home")';
        });


        $(".logoff").click(function () {


            window.location = '@Url.Action("LogOff", "Account")';

        });

        function goToMyClaim(formKey, GUID, CreatedAt, CitizenKey, NextFormTemplateKey, CurrentStatusKey, CurrentFormtemplateKey, CurrentFormtemplateName, CurrentStatusName, NextOrganisationKey, CurrentOrganisationKey) {

            @if (User.IsInRole("ADManager") || User.IsInRole("ADDirector"))
           {
               <text>
            submit_post_via_hidden_form("@Url.Action("ADManagerTemplate", "FormTemplatesDisplay")", { formKey: formKey, GUID: GUID, CreatedAt: CreatedAt, CitizenKey: CitizenKey, CurrentStatusKey: CurrentStatusKey, NextFormTemplateKey: NextFormTemplateKey, CurrentFormtemplateKey: CurrentFormtemplateKey, CurrentFormtemplateName: CurrentFormtemplateName, NextOrganisationKey: NextOrganisationKey, CurrentOrganisationKey: CurrentOrganisationKey });

            @*window.location = '@Url.Action("ADManagerTemplate", "FormTemplatesDisplay")/' + "?formKey=" + formKey + "&GUID=" + GUID + "&CreatedAt=" + CreatedAt + "&CitizenKey=" + CitizenKey + "&CurrentStatusKey=" + CurrentStatusKey + "&NextFormTemplateKey=" + NextFormTemplateKey + "&CurrentFormtemplateKey=" + CurrentFormtemplateKey + "&CurrentFormtemplateName=" + CurrentFormtemplateName + "&NextOrganisationKey=" + NextOrganisationKey + "&CurrentOrganisationKey=" + CurrentOrganisationKey;*@
            </text>
                        }
            @if (User.IsInRole("OPManager") || User.IsInRole("OPGeneralDirector") || User.IsInRole("OPDirector") || User.IsInRole("Human Development Sector") || User.IsInRole("Administrative sector") || User.IsInRole("Economic sector") || User.IsInRole("Service sector"))
            {
                <text>
            @*window.location = '@Url.Action("FormInstance", "Home")/' + "?formKey=" + formKey + "&GUID=" + GUID + "&CreatedAt=" + CreatedAt + "&CitizenKey=" + CitizenKey + "&CurrentStatusKey=" + CurrentStatusKey + "&NextFormTemplateKey=" + NextFormTemplateKey + "&CurrentFormtemplateKey=" + CurrentFormtemplateKey + "&CurrentFormtemplateName=" + CurrentFormtemplateName + "&CurrentStatusName=" + CurrentStatusName + "&NextOrganisationKey=" + NextOrganisationKey + "&CurrentOrganisationKey=" + CurrentOrganisationKey;*@
            submit_post_via_hidden_form("@Url.Action("FormInstance", "Home")", { formKey: formKey, GUID: GUID, CreatedAt: CreatedAt, CitizenKey: CitizenKey, CurrentStatusKey: CurrentStatusKey, NextFormTemplateKey: NextFormTemplateKey, CurrentFormtemplateKey: CurrentFormtemplateKey, CurrentFormtemplateName: CurrentFormtemplateName, CurrentStatusName: CurrentStatusName, NextOrganisationKey: NextOrganisationKey, CurrentOrganisationKey: CurrentOrganisationKey });

            </text>
                        }
            @if (User.IsInRole("Citizen"))
            {
                <text>
            @*window.location = '@Url.Action("ADManagerTemplate", "FormTemplatesDisplay")/' + "?formKey=" + formKey + "&GUID=" + GUID + "&CreatedAt=" + CreatedAt + "&CitizenKey=" + CitizenKey + "&CurrentStatusKey=" + CurrentStatusKey + "&NextFormTemplateKey=" + NextFormTemplateKey + "&CurrentFormtemplateKey=" + CurrentFormtemplateKey + "&CurrentFormtemplateName=" + CurrentFormtemplateName + "&NextOrganisationKey=" + NextOrganisationKey + "&CurrentOrganisationKey=" + CurrentOrganisationKey;*@
            submit_post_via_hidden_form("@Url.Action("ADManagerTemplate", "FormTemplatesDisplay")", { formKey: formKey, GUID: GUID, CreatedAt: CreatedAt, CitizenKey: CitizenKey, CurrentStatusKey: CurrentStatusKey, NextFormTemplateKey: NextFormTemplateKey, CurrentFormtemplateKey: CurrentFormtemplateKey, CurrentFormtemplateName: CurrentFormtemplateName, NextOrganisationKey: NextOrganisationKey, CurrentOrganisationKey: CurrentOrganisationKey });

            </text>
                        }
        }


        function changeLanguage(languageCode) {
            $.ajax({
                url: '@Url.Action("ChangeLanguage", "Home")',
                type: 'GET',
                cache: false,
                dataType: 'text',
                data: ({
                    id: languageCode
                }),
                contentType: 'application/json; charset=utf-8',
                success: function (data) {
                    location.reload();
                },
                error: function (xhr) {
                    console.log('errorr');
                }
            });
        }




        $('.carousel').carousel({
            interval: 10000
        })

        $('#myCarousel').on('slide.bs.carousel', function () {
            $('.carousel-caption').fadeOut(300);
        })
        $('#myCarousel').on('slid.bs.carousel', function () {
            $('.carousel-caption').fadeIn(600);
        })
        $(".card-to-remove").removeClass("card");
        $(".card-to-remove").removeClass("pointer");
        $(".card-to-remove").removeAttr("data-toggle");
        $(".card-to-remove").removeAttr("data-target");
        //$(".cardwork").on('click', function () {
        //    if ($(this).children().length == 1) {
        //        var servicebox = $(this).children()[0];
        //    }
        //    else
        //        var servicebox = $(this).children()[1];

        //   var children = $(servicebox).children();

        //   if ($(children[1]).css('opacity') === '0') {

        //      $(children[0]).css("opacity", "0");
        //      $(children[1]).css("opacity", "1");


        //       $(children[1]).css('transform', 'translateX(0)');

        //    }
        //    else {
        //        $(children[0]).css('opacity', '1');
        //        $(children[1]).css('transform', 'translateY(110px) rotateX(-90deg)');
        //       $(children[1]).css('opacity', '0');
        //   }


        //}

        //)
        $(".cardwork").on('mouseenter', function () {
           if ($(this).children().length == 1) {
                var servicebox = $(this).children()[0];
            }
            else
               var servicebox = $(this).children()[1];

            var children = $(servicebox).children();

           $(servicebox).css({
                    opacity: 1,
                    transition: 'opacity 1s ease-in-out'
                });



          $(children[0]).css("opacity", "0");
               $(children[1]).css("opacity", "1");
               $(children[1]).css('transform', 'translatex(0)');

      }

        )

        $(".cardwork").on('mouseleave', function () {
           if ($(this).children().length == 1) {
                var servicebox = $(this).children()[0];
            }
            else
                var servicebox = $(this).children()[1];

            var children = $(servicebox).children();

           if ($(children[0]).children().length == 0) {
               $(servicebox).css({
                   opacity: 0,
                   transition: 'opacity 1s ease-in-out'
             });
            }


          $(children[0]).css('opacity', '1');
         $(children[1]).css('transform', 'translatey(110px) rotatex(-90deg)');
           $(children[1]).css('opacity', '0');

       }

       )


        //CMS Functionalities
         var clickedElement = "";

        $(document).on('click', '.text-to-change', function () {
            clickedElement = $(this);
            var guid = $(this).data('translation');
            var language = @languageIdentifier;
            var singleElementModal = {};
            singleElementModal["ElementTranslation"] = guid;
            singleElementModal["languageNeeded"] = language;

            $(".modal-body-single-element").empty();
            $(".modal-body-single-element").append('<img src="@Url.Content("~/images/customgif/Syrian Loader.gif")" alt="Loading" style="width:20%;z-index:4; margin-right:40%" />');

            var singleElementModalJsonString = JSON.stringify(singleElementModal);

             $.ajax({

                            url: '@Url.Action("ChangeLanguageInModal")',



                            type: 'POST',



                            data: {

                                __RequestVerificationToken: $('@Html.AntiForgeryToken()').val(),

                                componentName: "singleElement",

                                componentStringObject: singleElementModalJsonString

                            },



                 success: function (data) {
                     if (data != "404") {
                         $(".modal-body-single-element").empty();
                         $(".modal-body-single-element").append(data);
                     }
                     else {
                         swal("Error", "Error Occured!", "error");
                     }

                                //$(".modal-body-card").empty();
                                //$(".modal-body-card").append(data);





                            },



                            error: function (error) {

                                swal("Error", "Error Occured!", "error");

                            }
                        });



        })

        $(document).on('click', '#saveBtn', function () {

            var textChanged = $("#inputModal").val();
            var guidToSend = $("#inputModal").data("translation");
            changeText(guidToSend, textChanged,"none");


        })

        $(document).on('click', '#saveBtnCard', function () {

            if ($(".title-container").is(":visible")) {
                var titleModalVal = $("#titleModal").val();
                var titleModalTranslation = $("#titleModal").data('translation');
                changeText(titleModalTranslation, titleModalVal, "title" );
            }
            if ($(".title-text-container").is(":visible")) {
                var titleTextModalval = $("#titleTextModal").val();
                var titleTextModalTranslation = $("#titleTextModal").data('translation');
                changeText(titleTextModalTranslation, titleTextModalval,"titleText");
            }

            if ($(".paragraph-container").is(":visible")) {
                var paragraphModalVal = $("#textParagraphModal").val();
                var paragraphTranslation = $("#textParagraphModal").data('translation');
                changeText(paragraphTranslation, paragraphModalVal,"paragraph");
            }





        })


        //$(document).on('click', '.blog-slider__button', function () {
        //    var parent = $(this).parent();
        //    var children = $(parent).children();
        //    var title = $(children[0]).text();
        //    var text = $(children[2]).text();
        //    $(".modal-head-title").text(title);
        //    $(".modal-head-text").text(text);


        //})

        $(document).on('click', '.card', function () {
            clickedElement = $(this);

            var title = "";
            var titleText = "";
            var paragraph = "";
            var titleTranslation = "";
            var titleTextTranslation = "";
            var paragraphTranslation = "";
            var imageKey = 0;

            title = $(this).find(".title").text().trim();

            var titleTranslation = $(this).find(".title").data('translation');



            titleText = $(this).find(".titleText").text().trim();
            var titleTextTranslation = $(this).find(".titleText").data('translation');

            paragraph = $(this).find(".paragraph").text().trim();
            var paragraphTranslation = $(this).find(".paragraph").data('translation');

            imageKey = $(this).find(".imageKeyinput").val();
            console.log(imageKey);
            var language = @languageIdentifier;
            var cardModal = {};
            cardModal["TitleTranslation"] = titleTranslation;
            cardModal["SubTitleTranslation"] = titleTextTranslation;
            cardModal["ParagraphTranslation"] = paragraphTranslation;
            cardModal["languageNeeded"] = language;
            cardModal["imageKey"] = imageKey;
            var cardModalJsonString = JSON.stringify(cardModal);
            $(".modal-body-card").empty();
            $(".modal-body-card").append('<img src="@Url.Content("~/images/customgif/Syrian Loader.gif")" alt="Loading" style="width:20%;z-index:4; margin-right:40%" />');
             $.ajax({

                            url: '@Url.Action("ChangeLanguageInModal")',



                            type: 'POST',



                            data: {

                                __RequestVerificationToken: $('@Html.AntiForgeryToken()').val(),

                                componentName: "card",

                                componentStringObject: cardModalJsonString

                            },



                            success: function (data) {
                                if (data != "404") {
                                    $(".modal-body-card").empty();

                                    $(".modal-body-card").append(data);

                                    var image = $(".image-to-reload");
                                    var imageSrc = $(image).attr('src');
                                    $(image).attr('src', reloadImage(imageSrc));
                                }






                            },



                            error: function (error) {

                                swal("Error", "Error Occured!", "error");

                            }
                        });



        })
        //$(document).on('click', '.img-to-change', function () {
        //    $('.close').click();
        //    $(".modal-backdrop").remove();
        //})
        function changeText(guidToSend, textChanged, inputChangedName) {
            $.blockUI($("#body"));
            var lang = "";

            if ($(clickedElement).hasClass("card")) {
                lang = $("#languageDropDownCard option:selected").val();
                console.log("here in sa7");
            }
            else {
                lang = $("#languageDropDownSingle option:selected").val();
                console.log("here in ghalat");
            }
            if (guidToSend.length == 0 || textChanged.length == 0) {
                $.unblockUI($("#body"));
                return;
            }
            $.ajax({

                url: '@Url.Action("UpdateDataTranslation", "CMS")',



                type: 'POST',



                data: {

                    __RequestVerificationToken: $('@Html.AntiForgeryToken()').val(),

                    guid: guidToSend,

                    newTransaltion: textChanged,

                    language: parseInt(lang)

                },



                success: function (data) {
                    if (data != "Error") {
                        $.unblockUI($("#body"));
                        swal("مبروك", "تم حفظ المعلومات", "success");
                        if ($(clickedElement).hasClass("card")) {

                           if(lang === '@languageIdentifier'){
                                if (inputChangedName == "title") {
                                    $(clickedElement).find(".title").text(data);
                                    $(".close").click();
                                    return;
                                }
                                if (inputChangedName == "titleText") {
                                    $(clickedElement).find(".titleText").text(data);
                                    $(".close").click();
                                    return;
                                }
                                if (inputChangedName == "paragraph") {
                                    $(clickedElement).find(".paragraph").text(data);
                                    $(".close").click();
                                    return;
                                }
                            }

                        } if ($(clickedElement).hasClass("socialMediaLinks")) {

                        }
                        else {
                            $(clickedElement).text(data);
                        }
                    }
                    //else {
                    //    swal("Error", "Error Occured!", "error");
                    //}


                    $(".close").click();




                },



                error: function (error) {
                    $.unblockUI($("#body"));
                    swal("Error", "Error Occured!", "error");

                }
            });
        }

         $("#TasnifAda2Sanawi").click(function () {


            @*submit_post_via_hidden_formNewTab("@Url.Action("Index", "TimeLine")", {});*@

        });
        $(document).on('change', "#languageDropDownCard", function () {

            var language = $("#languageDropDownCard option:selected").val();

                            // 1) get the data translations needed from inputs
                        var titleModalTranslation = "";
                        var titleTextModalTranslation = "";
                        var paragraphModalTranslation = "";
                        var imageKey = 0;
                        if ($(".title-container").is(":visible")) {
                            titleModalTranslation = $("#titleModal").data('translation');
                        }
                        if ($(".title-text-container").is(":visible")) {
                             titleTextModalTranslation = $("#titleTextModal").data('translation');
                        }

                        if ($(".paragraph-container").is(":visible")) {
                            paragraphModalTranslation = $("#textParagraphModal").data('translation');
                        }
                        imageKey = $("#imgModal").data("translation");
                       // create object of these translations
                        var cardModal = {};
                        cardModal["TitleTranslation"] = titleModalTranslation;
                        cardModal["SubTitleTranslation"] = titleTextModalTranslation;
                        cardModal["ParagraphTranslation"] = paragraphModalTranslation;
                        cardModal["languageNeeded"] = language;
                        cardModal["imageKey"] = imageKey;
            var cardModalJsonString = JSON.stringify(cardModal);

            $(".modal-body-card").empty();
            $(".modal-body-card").append('<img src="@Url.Content("~/images/customgif/Syrian Loader.gif")" alt="Loading" style="width:20%;z-index:4; margin-right:40%" />');
                         $.ajax({

                            url: '@Url.Action("ChangeLanguageInModal")',



                            type: 'POST',



                            data: {

                                __RequestVerificationToken: $('@Html.AntiForgeryToken()').val(),

                                componentName: "card",

                                componentStringObject: cardModalJsonString

                            },



                            success: function (data) {

                                if (data != "404") {
                                    $(".modal-body-card").empty();
                                    $(".modal-body-card").append(data);

                                    var image = $(".image-to-reload");
                                    var imageSrc = $(image).attr('src');
                                    $(image).attr('src', reloadImage(imageSrc));
                                }





                            },



                            error: function (error) {

                                swal("Error", "Error Occured!", "error");

                            }
                        });


        })
        $(document).on('change', "#languageDropDownSingle", function () {
            var language = $("#languageDropDownSingle option:selected").val();

                // 1) get the data translation
                var singleElementModal = {};
                singleElementModal["ElementTranslation"] = $("#inputModal").data("translation");
            singleElementModal["languageNeeded"] = language;

            $(".modal-body-single-element").empty();
            $(".modal-body-single-element").append('<img src="@Url.Content("~/images/customgif/Syrian Loader.gif")" alt="Loading" style="width:20%;z-index:4; margin-right:40%" />');
                var singleElementModalJsonString = JSON.stringify(singleElementModal);
                $.ajax({

                            url: '@Url.Action("ChangeLanguageInModal")',



                            type: 'POST',



                            data: {

                                __RequestVerificationToken: $('@Html.AntiForgeryToken()').val(),

                                componentName: "singleElement",

                                componentStringObject: singleElementModalJsonString

                            },



                            success: function (data) {

                                if (data != "404") {
                                    $(".modal-body-single-element").empty();
                                    $(".modal-body-single-element").append(data);
                                }
                                //else {
                                //    swal("Error", "Error Occured!", "error");
                                //}



                            },



                            error: function (error) {

                                swal("Error", "Error Occured!", "error");

                            }
                        });




        })
        FillAllDopdownsPages();
        function FillAllDopdownsPages() {
             $.ajax({
                url: '@Url.Action("GetAllPages", "TestCMS")',
                type: 'POST',
                 data: {
                     __RequestVerificationToken: $('@Html.AntiForgeryToken()').val()
                },
                 success: function (data) {

                     var childPageDropdownChildren = $("#childPageDropdownChildren");
                     var childPageDropdown = $("#childPageDropdown");
                     var parentPageDropdown = $("#parentPageDropdown");
                     var itemPageDropdown = $("#itemPageDropdown");
                     $(parentPageDropdown).empty();
                     //$(parentPageDropdown).append("<option>اختر الصفحة</option>")
                     $(itemPageDropdown).empty();
                    // $(itemPageDropdown).append("<option>اختر الصفحة</option>")
                     $(childPageDropdownChildren).empty();
                    // $(childPageDropdownChildren).append("<option>اختر الصفحة</option>")
                     $(childPageDropdown).empty();
                     //$(childPageDropdown).append("<option>اختر الصفحة</option>")
                     for (var i = 0; i < data.length; i++) {
                         var option = "<option value=" + data[i].Value + ">";
                         option += data[i].Text + "</option>";
                         $(parentPageDropdown).append(option);
                         $(childPageDropdownChildren).append(option);
                         $(childPageDropdown).append(option);
                         $(itemPageDropdown).append(option);
                     }
                },
                error: function (error) {
                    bootbox.alert({
                        message: ' حدث خطأ يرجى المحاولة مرة أخرى ',
                        buttons: {
                            ok: {
                                label: 'إغلاق'
                            }
                        }
                    })
                }
            });
        }
        function reloadImage(src) {
            // Create a timestamp
            var timestamp = new Date().getTime();

            // Get the image element

            var newSrc = src + "&t=" + timestamp;
            return newSrc;


        }
    </script>

</body>
</html>
