﻿@using Microsoft.AspNet.Identity
@using MoAD.DataObjects.EDMX
@using MoAD.WebApplication.Objects
@using MoAD.WebApplication.Managers
@using MoAD.WebApplication.Models;
@using MoAD.WebApplication.Controllers;

@{
    FilesController filesController = new FilesController();
    ViewBag.Title = "Home Page";
    Layout = null;
    HttpCookie languageCookie = Request.Cookies["Language"];
    var InitialDirection = "rtl";
    if (languageCookie != null && languageCookie.Value != "3")
    {
        InitialDirection = "ltr";
    }
    List<GetAdManagerForms_Result> Estetla3Ra2iPublishedFormsForManbar = ViewBag.Estetla3Ra2iPublishedForms;

    if (Estetla3Ra2iPublishedFormsForManbar == null)
    {
        Estetla3Ra2iPublishedFormsForManbar = new List<GetAdManagerForms_Result>();
    }

    int? pageKey = (int?)ViewBag.pageKey;
    int? videoComponentPageKey = (int?)ViewBag.videoComponentPageKey;
    Dictionary<string, string> Locale = ViewBag.Locale;
    int languageIdentifier = (int)ViewBag.Languageidentifier;
    int navBarItemComponentKey = (int)ViewBag.NavBarItemComponentKey;
    List<NavBarViewModel> NavbarData = (List<NavBarViewModel>)ViewBag.NavbarData;

}

<!DOCTYPE html>
<html lang="en">
<head>
    <title> الصفحة الرئيسية</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="@Url.Content("~/assets/NewPages/bootstrap/bootstrap.min.css")">
    <link rel="stylesheet" href="@Url.Content("~/assets/NewPages/slider2/normalize.css")">
    <link rel='stylesheet' href="@Url.Content("~/assets/NewPages/slider2/swiper.css")">
    <script src="@Url.Content("~/assets/NewPages/jquery/jquery.min.js")"></script>
    <script src="@Url.Content("~/assets/NewPages/bootstrap/bootstrap.min.js")"></script>


    <link href="@Url.Content("~/content/header/sm-core-css.css")" rel="stylesheet" />
    <link href="@Url.Content("~/content/header/sm-blue.css")" rel="stylesheet" />

    <link href="@Url.Content("~/content/header/sm-core-css.css")" rel="stylesheet" />
    <link href="@Url.Content("~/content/header/sm-blue.css")" rel="stylesheet" />
    @*<script src="@Url.Content("~/Scripts/vendors/jquery/jquery.min.js")"></script>*@
    <link href="@Url.Content("~/Content/SharedLayout.css")" rel="stylesheet" />
    <link href="@Url.Content("~/Content/Css/font-awesome.min.css")" rel="stylesheet" type="text/css" />
    <script src="@Url.Content("~/scripts/header/jquery.smartmenus.js")"></script>

    <link rel="stylesheet" href="@Url.Content("~/assets/NewPages/dropzone/dropzone.css")" type="text/css" />
    <script src="@Url.Content("~/assets/NewPages/dropzone/dropzone.js")"></script>
    <link href="@Url.Content("~/assets/NewPages/select2/select2.css")" rel="stylesheet" />
    <script src="@Url.Content("~/assets/NewPages/select2/select2.js")"></script>

    <link rel="apple-touch-icon" sizes="180x180" href="@Url.Content("~/assets/app/media/img/favicon/apple-touch-icon.png")">
    <link rel="icon" type="image/png" sizes="32x32" href="@Url.Content("~/assets/app/media/img/favicon/favicon-32x32.png")">
    <link rel="icon" type="image/png" sizes="16x16" href="@Url.Content("~/assets/app/media/img/favicon/favicon-16x16.png")">
    <link rel="manifest" href="@Url.Content("~/assets/app/media/img/favicon/site.webmanifest")">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">

    <link href="@Url.Content("~/assets/vendors/pintura/css/pintura.css")" rel="stylesheet" />
    <link href="@Url.Content("~/assets/vendors/pintura/css/styles.css")" rel="stylesheet" />

    <style>

        @@font-face {
            font-family: 'ge_dinar_onemedium';
            src: url('@Url.Content("~/assets/vendors/Fonts/GE Dinar One Medium.ttf")') format('truetype'), url('@Url.Content("~/assets/vendors/Fonts/ge-dinar-one-medium-webfont.woff2")') format('woff2'), url('@Url.Content("~/assets/vendors/Fonts//ge-dinar-one-medium-webfont.woff")') format('woff');
            font-weight: normal;
            font-style: normal;
        }
        .row{
            margin-right:0px !important;
            margin-left:0px !important;
        }

        .carousel-caption {
            font-size: 22px;

        }
        .modal-body .title-container {
            background: white;
        }

        .modal-body label {
            color: #7c7c7c;
        }
        .modal-body select{
            cursor:pointer;
        }
        .modal-body input{
            margin-top:10px;
        }

        .modal input[type='text'] , .modal textarea {
            font-size: 18px;
        }
        .modal label {
            font-size: 20px;
            font-weight: normal;
            margin-top: 5px;
        }

        .modal button,.modal input[type="button"]{
            font-size:15px;
        }
        .modal select{
            width:100%;
        }
        .modal-body{
            padding:5px !important;
        }
        body {
            background: url(../Images/backgrounds/background.jpg) !important;
            background-repeat: no-repeat !important;
            background-size: cover !important;
            padding-top: 38px;
        }

        [dir="rtl"] {
            background-color: white !important;
        }

        body, h1, h2, h3, h4, h5, h6 {
            font-family: 'ge_dinar_onemedium' !important;
        }


        .reverse-row{
            display:flex;
            flex-direction:row-reverse;
        }

        ul a{
            cursor:pointer;
        }
        .sm-blue a, .sm-blue a:hover, .sm-blue a:focus, .sm-blue a:active {
            font-family: 'ge_dinar_onemedium' !important;
        }

        button,a {
            font-family: 'ge_dinar_onemedium' !important;
        }

        a {
            border-bottom: none !important;
        }

        h4, h3 {
            font-weight: normal !important;
        }

        .sm-blue li ul::-webkit-scrollbar {
            background: #D2D2D6;
            width: 8px;
        }

        .sm-blue li ul::-webkit-scrollbar-thumb {
            background: #64A1BC;
        }

        #main-menu {
            border-radius: 0px;
            /*z-index:0;*/
        }

        .modal {
            z-index: 9999999999999999999999999;
        }

        .sm-blue, .sm-blue li .has-submenu, .sm-blue .element, .sm-blue .no-child {
            background: #447F99 !important;
        }

            .sm-blue a {
                font-weight: normal !important;
                padding: 17px !important;
                font-size: 16px !important;
            }

            .sm-blue li ul {
                width: max-content !important;
                background: #F7F8F9;
                height: 150px;
                min-height: 200px;
                border: 0px !important;
                overflow: scroll;
                overflow-x: hidden;
            }


            .sm-blue li ul {
                right: 0px;
            }

                .sm-blue li ul li {
                    float: none !important;
                }

            .sm-blue li .has-submenu:hover, .sm-blue li .has-submenu:focus {
                color: #447F99 !important;
                background: #F7F8F9 !important;
            }

                .sm-blue li .has-submenu:hover i {
                    color: #447F99 !important;
                    background: #F7F8F9 !important;
                }



            .sm-blue .has-submenu .sub-arrow {
                display: none;
            }

            .sm-blue > li {
                border-right: 1px solid white;
            }

            .sm-blue li ul a {
                background: #F7F8F9;
                color: #447F99;
            }

            .sm-blue i {

                font-size: 16px;
                color: white;
                margin-left:8px;
            }

        header button {
            border: none;
            margin-bottom: 4px;
            background: none;
            font-size: 17px;
            color: #447F99;
            font-weight: bold;
        }

            header button:first-child {
                border-right: 2px solid #447F99;
            }

        h1 {
            font-size: 2.8rem !important;
        }

        h2 {
            font-size: 2.06rem;
        }

        .service-box {
            position: absolute;
            top: 0;
            opacity: 0;
            left: 0;
            width: 100%;
            height: 100%;
            perspective: 1000px;
            -webkit-perspective: 1000px;
        }

        .service-icon {
            width: 100%;
            /*height: 220px;*/
            padding: 40px;
            text-align: center;
            transition: all .5s ease;
        }

        .service-content {
            position: absolute;
            top: 0;
            left: 0;
            z-index: 1;
            opacity: 0;
            width: 100%;
            height: 220px;
           /* padding: 20px;*/
            text-align: center;
            transition: all .5s ease;
            transform-style: preserve-3d;
            -webkit-transform: translateY(110px) rotateX(-90deg);
            -moz-transform: translateY(110px) rotateX(-90deg);
            -ms-transform: translateY(110px) rotateX(-90deg);
            -o-transform: translateY(110px) rotateX(-90deg);
            transform: translateY(110px) rotateX(-90deg);
        }



        .card {
            overflow: hidden;
            position: relative;
        }






        header {
            background: url(../Images/backgrounds/background.jpg) !important;
            background-repeat: no-repeat !important;
            background-size: cover !important;
            padding-top: 38px;
        }

        .contact-container {
            background: url(../Images/backgrounds/sharekna-bg.jpg) !important;
            background-position: center !important;
            background-repeat: no-repeat !important;
            background-size: cover !important;
        }

        .slider-container, .slider-container2 {
            background: #EDEDED;
            margin-top: 1.25rem;
            padding-top: 2.125rem;
        }

        .slider-container {
            border: 0.875rem solid #8E1927;
        }

        .slider-container2 {
            border: 0.875rem solid #447F99;
        }

        .slide-item {
            display: none
        }

        .img-container {
            height: 276px;
            transform: translateX(-47%);
            margin: 20px;
        }

        .text-container {
            padding: 7px 5px;
            background: white;
            transform: translateX(19%);
            box-shadow: 8px 11px 5px -3px rgba(0,0,0,0.58);
            margin: 20px;
            /*  min-width: 300px;*/
        }


        .img img {
            width: 12.75rem;
            margin: 76px 40px;
        }



        .slide-item, .slide-item2 {
            display: none
        }

        .show-slide, .show-slide2 {
            display: block !important;
        }


        .text-container p {
            line-height: 1.9;
            max-width: 25rem;
            font-size: 1.25rem;
        }

        .text-container h2 {
            text-shadow: 2px 7px 2px #bbadad;
            color: #8E1927;
            font-size: 2.125rem;
            border-bottom: 2px solid #8E1927;
        }


        .toggle-btns {
            display: flex;
            justify-content: center;
            margin-top: 0.625rem;
        }




            .toggle-btns ul {
                display: flex;
                justify-content: center;
                align-items: center;
                background: #BFBFBF;
                border-radius: 0.937rem;
                padding-left: 4px;
                padding-right: 4px;
                list-style-type: none;
            }

                .toggle-btns ul li button {
                    width: 1.25rem;
                    height: 1.25rem;
                    background: #959494;
                    margin: 3px;
                    border-radius: 50%;
                    cursor: pointer;
                    border: none;
                }

        .previous, .next, .previous2, .next2 {
            background: none;
            border: none;
        }

        .content-container {
            /* margin-left: 30px;
            margin-right: 30px;*/
            margin-bottom: 20px;
            background: white;
            /* border-top: 8px solid #447F99;*/
            /*padding-bottom: 20px;*/
        }


        .HeaderH1 {
            color: #5c6a72;
            font-weight: bold;
            text-align: center;
            line-height: 1.5;
            font-size: 2.9rem !important;
        }



            .content-container2 .active2 {
                background: #447F99 !important;
            }

        i {
            font-size: 2.625rem;
            color: #447F99;
        }

        .takarir-container {
            background-color: #447F99;
            margin: 30px;
            border-radius: 20px;
            padding: 10px;
        }

            .takarir-container h1 {
                color: white;
            }

     /*   .takrir-ada2-container {

            height: 244px;
        }*/

            .takrir-ada2-container .card {
                background: rgb(87,9,10);
                background: linear-gradient(90deg, rgba(87,9,10,1) 0%, rgba(184,93,96,1) 50%, rgba(87,9,10,1) 100%);
            }

        .coluxx1, .coluxx2, .coluxx3 {
            height: 20vw;
        }

        .coluxx1 {
            background-image: url(@Url.Action("GetFilePathFromExtendedData","Files", new { extensionFileKey= 143106 }));
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
        }

        .coluxx2 {
            background-image:url(@Url.Action("GetFilePathFromExtendedData","Files", new { extensionFileKey= 143104 }));
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
        }


        .coluxx3 {
            background-image: url(@Url.Action("GetFilePathFromExtendedData","Files", new { extensionFileKey= 143105 }));
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
        }
        .takrir-ada2-container h3 {
            padding: 39px !important;
            font-size: 2.4rem !important;
            line-height: 1.8 !important;
        }
        .card h1{
            font-size:2.4rem !important;
        }
        .card h3 {
            font-size: 2.1rem;
            line-height: 1.8;
        }

        .colu15 {
            background-image: url(../Imag/block-8.png);
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
        }

        .colu3, .colu4, .colu5, .colu6 {
            height: 320px;
        }

        .colu6 {
            background-image: url(@Url.Action("GetFilePathFromExtendedData","Files", new { extensionFileKey= 143102 }));
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
        }

        .colu4 {
            background-image: url(@Url.Action("GetFilePathFromExtendedData","Files", new { extensionFileKey= 143103 }));
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
        }


        .colu3 {
            background-image: url(@Url.Action("GetFilePathFromExtendedData","Files", new { extensionFileKey= 143127 }));
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
        }

       .colu5 {
            background-image: url(@Url.Action("GetFilePathFromExtendedData","Files", new { extensionFileKey= 143101 }));
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
        }

        .imgft {
            height: 10vw !important;
        }
        .pointer{
            cursor:pointer;
        }
        .smallimage {
            margin: auto;
        }
        .takrir-ada2-container h1 {
            font-size: 2.8rem !important;
        }
        .linetitle {
            background-color: #882525;
            height: 0.3vw;
            margin-bottom: 0.5vw;
        }

        .kalimaTawjihyaText {
            font-size: 2.5rem;
            color: #5c6a72;
        }

        hr {
            box-shadow: 0px 8px 5px 0px rgba(0,0,0,0.26);
        }

        .box {
            margin-top: -55px;
            background: #D9DBDA;
            text-align: center;
            box-shadow: 8px 7px 5px 0px rgba(0,0,0,0.52);
        }

            .box p {
                color: #646464;
                font-size: 2.5rem;
                margin: 20px 0;
            }

        footer {
            background: url(../Images/backgrounds/footer-background.jpg) !important;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover !important;
            padding-top: 1.875rem;
            padding-right: 1.875rem;
            padding-left: 1.875rem;
        }



        .flex {
            display: flex;
            justify-content: center;
        }


        footer h3 {
            font-size: 31px !important;
        }

        footer li {
            color: white;
            padding-bottom: 10px;
            font-size: 1.9rem;
        }

        .mapouter {
            height: auto;
        }

        .accept-btn, .decline-btn {
            padding: 8px 20px;
            border: 0px;
            border-radius: 5px;
        }

        .decline-btn {
            color: #64A1BC;
            background: white;
            border: 1px solid #64A1BC;
            transition: all ease 500ms;
        }

        .accept-btn {
            color: white;
            background: #64A1BC;
            transition: all ease 500ms;
        }

            .accept-btn:hover {
                background: #447F99;
            }

        .decline-btn:hover {
            background: #447F99;
            color: white;
        }

        .slider-responsive {
            margin: 10px 50px;
        }
        .eee {
            background-image: url(../Images/backgrounds/sharekna-bg.jpg);
            /* height: 27.5vw; */
            /* padding: 4vw; */
            width: 100%;
            height: auto;
            background-attachment: fixed;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
        }

        .blog-slider {
            /*width: 95%;*/
            position: relative;
            margin-bottom: 70px;
            background: #fff;
            box-shadow: 0px 14px 80px rgba(34, 35, 58, 0.2);
            padding: 25px;
            border-radius: 25px;
            height: 400px;
            transition: all 0.3s;
        }
        .blog-slider__text {
            line-height: 2.9rem !important;
            font-size:1.7rem !important;
        }
        .blog-slider__item.swiper-slide-active .blog-slider__img img {
            opacity: 1;
            transition-delay: 0.3s;
        }

        .blog-slider__item.swiper-slide-active .blog-slider__content > * {
            opacity: 1;
            transform: none;
        }

            .blog-slider__item.swiper-slide-active .blog-slider__content > *:nth-child(1) {
                transition-delay: 0.3s;
            }

            .blog-slider__item.swiper-slide-active .blog-slider__content > *:nth-child(2) {
                transition-delay: 0.4s;
            }

            .blog-slider__item.swiper-slide-active .blog-slider__content > *:nth-child(3) {
                transition-delay: 0.5s;
            }

            .blog-slider__item.swiper-slide-active .blog-slider__content > *:nth-child(4) {
                transition-delay: 0.6s;
            }

            .blog-slider__item.swiper-slide-active .blog-slider__content > *:nth-child(5) {
                transition-delay: 0.7s;
            }

            .blog-slider__item.swiper-slide-active .blog-slider__content > *:nth-child(6) {
                transition-delay: 0.8s;
            }

            .blog-slider__item.swiper-slide-active .blog-slider__content > *:nth-child(7) {
                transition-delay: 0.9s;
            }

            .blog-slider__item.swiper-slide-active .blog-slider__content > *:nth-child(8) {
                transition-delay: 1s;
            }

            .blog-slider__item.swiper-slide-active .blog-slider__content > *:nth-child(9) {
                transition-delay: 1.1s;
            }

            .blog-slider__item.swiper-slide-active .blog-slider__content > *:nth-child(10) {
                transition-delay: 1.2s;
            }

            .blog-slider__item.swiper-slide-active .blog-slider__content > *:nth-child(11) {
                transition-delay: 1.3s;
            }

            .blog-slider__item.swiper-slide-active .blog-slider__content > *:nth-child(12) {
                transition-delay: 1.4s;
            }

            .blog-slider__item.swiper-slide-active .blog-slider__content > *:nth-child(13) {
                transition-delay: 1.5s;
            }

            .blog-slider__item.swiper-slide-active .blog-slider__content > *:nth-child(14) {
                transition-delay: 1.6s;
            }

            .blog-slider__item.swiper-slide-active .blog-slider__content > *:nth-child(15) {
                transition-delay: 1.7s;
            }

        .blog-slider__img {
            width: 496px;
            flex-shrink: 0;
            height: 300px;
            background: linear-gradient(90deg, rgba(68,127,153,1) 12%, rgba(93,172,207,1) 46%, rgba(68,127,153,1) 92%);
            box-shadow: -1px 1px 5px 0px #447f99;
            border-radius: 20px;
            transform: translateX(-80px);
            overflow: hidden;
        }
        .ft1 {
            width: 100%;
            background-image: url(@Url.Action("GetFilePathFromExtendedData","Files", new { extensionFileKey= 143107 }));
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            min-height: 10vw !important;
            cursor:pointer;
        }



            .blog-slider__img:after {
                content: "";
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                border-radius: 20px;
                opacity: 0.8;
            }

            .blog-slider__img img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                display: block;
                opacity: 0;
                border-radius: 20px;
                transition: all 0.3s;
            }
        .blog-slider__content > * {
            opacity: 0;
            transform: translateY(25px);
            transition: all 0.4s;
        }

        .blog-slider__code {
            color: #7b7992;
            margin-bottom: 15px;
            display: block;
            font-weight: 500;
        }

        .blog-slider__title {
            font-size: 24px;
            font-weight: 700;
            color: #646464;
            margin-bottom: 20px;
        }

        .blog-slider__text {
            color: #646464;
            margin-bottom: 30px;
            line-height: 1.5em;
        }

        .blog-slider__button {
            display: inline-flex;
            background: linear-gradient(90deg, rgba(68,127,153,1) 12%, rgba(93,172,207,1) 46%, rgba(68,127,153,1) 92%);
            padding: 15px 35px;
            border-radius: 50px;
            color: #fff;
            box-shadow: 0px 3px 15px rgb(93 172 207);
            text-decoration: none;
            font-weight: bold;
            justify-content: center;
            text-align: center;
            letter-spacing: 1px;
            border:0px;
        }
        .blog-slider .swiper-container-horizontal > .swiper-pagination-bullets, .blog-slider .swiper-pagination-custom, .blog-slider .swiper-pagination-fraction {
            bottom: 10px;
            left: 0;
            width: 100%;
        }

        .blog-slider__pagination {
            position: absolute;
            z-index: 21;
            right: 20px;
            width: 11px !important;
            text-align: center;
            left: auto !important;
            top: 50%;
            bottom: auto !important;
            transform: translateY(-50%);
        }
            .blog-slider__pagination .swiper-pagination-bullet {
                width: 11px;
                height: 11px;
                display: block;
                border-radius: 10px;
                background: #062744;
                opacity: 0.2;
                transition: all 0.3s;
            }

            .blog-slider__pagination .swiper-pagination-bullet-active {
                opacity: 1;
                background: #447F99 !important;
                height: 30px;
            }
        .reveal {
            position: relative;
            transform: translateY(150px);
            opacity: 0;
            transition: 1s all ease;
        }

            .reveal.active {
                transform: translateY(0);
                opacity: 1;
            }

        #overlay {
            position: fixed;
            z-index: 99999999999999999999999999999;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            /* background: rgb(249, 249, 251); */
            transition: 1s 0.4s;
            background: #ffff;
            opacity: 0.8;

        }
        .blog-slider__pagination.swiper-pagination-bullets .swiper-pagination-bullet {
            margin: 8px 0;
        }
        .blog-slider__item {
            display: flex;
            align-items: center;
        }
        .carousel-control.right, .carousel-control.left{
            background-image:none;
        }
        /* MEDIA QUERIES*/
        @@media(max-width:1960px) {
            .text-container {
                transform: translateX(0);
            }


            .img-container {
                height: auto;
                transform: translateX(0);
            }

            .img img {
                margin: 76px 0px;
            }
        }
        @@media(max-width:1710px) {
            .cardwork h3 {
                line-height: 1.5 !important;
            }
        }
        @@media(max-width:1451px) {
            .cardwork h3 {
                line-height: 1.2 !important;
            }
        }

        @@media(max-width:1440px) {
            .card h3 {
                line-height: 1.2;
            }
        }
        @@media(max-width:1430px) {
            .blog-slider__content {
                margin-top: -80px;
                text-align: center;
                padding-right: 0px !important;
            }

            .sm-blue a {
                font-size: 17px !important;
            }

            .blog-slider__pagination {
                left: 50% !important;
                top: 205px;
                width: 100% !important;
                display: flex;
                justify-content: center;
                align-items: center;
            }

                .blog-slider__pagination.swiper-pagination-bullets .swiper-pagination-bullet {
                    margin: 0 5px;
                }

            .blog-slider__img {
                transform: translateY(-50%);
                width: 90%;
            }

            .blog-slider__pagination .swiper-pagination-bullet-active {
                height: 11px;
                width: 30px;
            }

            .blog-slider__item {
                flex-direction: column;
            }

            .blog-slider {
                min-height: 500px;
                height: auto;
                margin-top: 241px;
            }

            .text-isla7 {
                margin: 7px !important;
            }
        }


        @@media(max-width:1400px) {

            .img {
                display: none;
            }
            /*.text-container {
                height: 249px;
            }*/
        }
        @@media(max-width:1300px) {



            .text-responsive {
                width: 100% !important;
            }
        }

        @@media(max-width:1274px) {

            .cardwork h3 {
                line-height: 1.1 !important;
            }
        }

        @@media(max-width:1200px) {
            .box-left {
                height: 66% !important;
            }

            .box {
                margin: 11px 10px;
            }

            .text-container2-fix {
                height: 350px;
            }
        }
        @@media(min-width:1196px) {
            .content-container2 {
                margin: 40px 0px;
            }
        }

        @@media(max-width:1195px) {
            .content-container2 {
                margin-top: 145px;
            }
        }




        @@media(max-width:1135px) {
            .cardwork h3 {
                line-height: 1.0 !important;
            }
        }
        @@media(max-width:1024px) {
            .sm-blue a {
                font-weight: normal !important;
                padding: 10px !important;
                font-size: 9px !important;
            }

            .kalimaTawjihyaText {
                font-size: 2.1rem !important;
            }

            header button {
                font-size: 12px !important;
            }

            #HeaderLogo {
                width: 70% !important;
            }

           /* .card {
                height: 394px !important;
            }*/

            .takrir-ada2-container .service-content h3 {
                padding: 28px !important
            }

            .box-left {
                margin-top: 35px;
            }
        }
        @@media(max-width:991px) {
            .cardwork h3 {
                line-height: 2.8 !important;
            }
        }


        @@media(max-width:980px) {

            .cardwork h3 {
                line-height: 2.3 !important;
            }
            .HeaderH1 {
                font-size: 2.5rem !important;
            }


        }





        @@media(max-width:920px) {
            .carousel-caption p {
                font-size: 18px !important;
            }
        }



        @@media(max-width:800px) {
            .coluxx1, .coluxx2, .coluxx3 {
                height: 22vw !important;
            }

            .img-container {
                height: auto;
            }

            .slider-responsive > div {
                display: block;
            }
        }
        @@media(max-width:768px) {
            #HeaderLogo {
                width: 25% !important;
            }

            .HeaderH1 {
                line-height: 3.5;
                font-size: 1.9rem !important;
            }

            .takrir-ada2-container .service-content h3 {
                padding: 8px !important;
            }
        }
        @@media (max-width: 767px)
{
        .coluxx1, .coluxx2, .coluxx3 {
            height:48vw !important;
        }
}



            @@media(max-width:734px) {

                .cardwork h3 {
                    line-height: 2.1 !important;
                }
            }

            @@media(max-width:645px) {

                .cardwork h3 {
                    line-height: 1.5 !important;
                }
            }

        @@media(max-width:645px) {
            .carousel-caption p {
                font-size: 12px !important;
            }
            .coluxx1, .coluxx2, .coluxx3 {
                height: 48vw !important;
            }
        }

        @@media(max-width:645px) {
            .carousel-caption p {
                font-size: 9px !important;
            }
        }



        @@media(max-width:513px) {

            .cardwork h3 {
                line-height: 1.1 !important;
            }

        }



        @@media(max-width:425px) {

            #HeaderLogo{
                width:25% !important;
            }
             h1 {
                font-size: 13px !important;
            }

           h3 {
                font-size: 11px !important;
            }


                .card h1 {
                    font-size: 1.5rem !important;
                }

            .card h3 {
                line-height: 2.2 !important;
                font-size: 1.2rem !important;
            }
            h1 {
                font-size: 19px !important;
            }

            h3 {
                font-size: 16px !important;
            }



            .takrir-ada2-container h1 {
                font-size: 14px !important;
            }


        }




        @@media(max-width:375px) {


            h3 {
                font-size: 15px !important;
            }

            h1 {
                font-size: 17px !important;
            }
            .card h3 {
                line-height: 1.4 !important;
                font-size: 1.2rem !important;
            }

            .takrir-ada2-container h1 {
                font-size: 17px !important;

            }
            .takrir-ada2-container .service-content h3 {
                padding: 29px !important;
            }

        }


        @@media screen and (max-width: 576px) {
            .blog-slider__img {
                width: 95%;
            }
            .blog-slider__content {
                padding: 0;
            }

            .blog-slider__button {
                width: 100%;
            }
        }



        @@media screen and (max-height: 500px) and (min-width: 992px) {
            .blog-slider__img {
                height: 270px;
            }
        }



        .blog-slider__content {
            padding-right: 122px;
        }

        .mb-1 {
            margin-bottom: 10px !important;
        }


    </style>

</head>


<body dir="rtl">
    <div class="my-editor"></div>
    <script src=@Url.Content("~/assets/NewPages/slider2/swiper.js")></script>
    <script src=@Url.Content("~/assets/NewPages/sweetAlert/sweetalert.js")></script>
    <script src="@Url.Content("~/Scripts/bootbox.min.js")"></script>
    
    <script type="module">
        import { appendDefaultEditor } from "@Url.Content("~/assets/vendors/pintura/js/pintura.js")";
        
        const pintura = appendDefaultEditor(".my-editor", {
            // The source image to load
            src: "@Url.Content("~/Images/CMS/637901988265259183test.png")",

            // This will set a square crop aspect ratio
            imageCropAspectRatio: 0,

            // Stickers available to user
            stickers: [
                ["Emoji", ["⭐️", "😊", "👍", "👎", "☀️", "🌤", "🌥"]],
                [
                    "Markers",
                    [
                        {
                            src: "sticker-one.svg",
                            width: "5%",
                            alt: "One"
                        },
                        {
                            src: "sticker-two.svg",
                            width: "5%",
                            alt: "Two"
                        },
                        {
                            src: "sticker-three.svg",
                            width: "5%",
                            alt: "Three"
                        }
                    ]
                ]
            ]
        });
    </script>
</body>
</html>
