﻿@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>CodePen - Crop image with croppie and modal</title>
    <link rel='stylesheet' href='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css'>
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/croppie/2.6.5/croppie.css'>
    <style>
        .disp-none {
            display: none;
        }

        .container-form {
            width: 100%;
            padding: 50px;
            padding-bottom: 0;
        }

        .container-image {
            width: 100%;
            padding: 20px;
        }

        #confirm-img {
            height: 218px;
            border-radius: 4px;
        }

        @@media(min-width:500px) {
            .modal-dialog {
                max-width: unset !important;
            }
        }
    </style>

</head>
<body>
    <!-- partial:index.partial.html -->
    <div class="row">
        <div class='container-form'>
            <input id='selectedFile' class="disp-none" type='file' accept=".png, .jpg, .jpeg, .svg">
            <button id="upload-aphoto" class="btn-primary btn">Select image</button>
        </div>
        <div class='container-image'>
            <img id='confirm-img' src=''>
        </div>
    </div>


    <div class="modal fade" id="imageModalContainer" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content modal-content1 modal-content1">
                <div class="modal-header">
                    <h5 class="modal-title" id="imageModal">Crop Image</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body modal-body1">
                    <div id='crop-image-container'>

                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                    <button type="button" class="btn btn-primary save-modal">Save</button>
                </div>
            </div>
        </div>
    </div>
    <!-- partial -->
    <script src='https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js'></script>
    <script src='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js'></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/croppie/2.4.1/croppie.min.js'></script>
    <script>
       $(document).on('click', '#upload-aphoto', function () {
           document.getElementById('selectedFile').click();
       });
       var image = "";
       $('#selectedFile').change(function () {

           if (this.files[0] == undefined)
               return;
           let reader = new FileReader();
           reader.addEventListener("load", function () {
               //CHECK IMAGE CONDIIONS !!!!
               image = new Image();
               image.src = reader.result;

               image.onload = function () {
                   var height = image.height;
                   var width = image.width;

                   if (height < 100 || width < 100) {
                       alert("Height and Width must not exceed 100px.");

                   }
                   else {
                       $('#imageModalContainer').modal('show');
                   }

               }
               window.src = reader.result;


               $('#selectedFile').val('');
           }, false);
           if (this.files[0]) {
               reader.readAsDataURL(this.files[0]);
           }
       });

       let croppi;
       $('#imageModalContainer').on('shown.bs.modal', function () {

           let width = image.width;
           let height = image.height;

           $('#crop-image-container').height(height);
           $('#crop-image-container').width(width);

           croppi = $('#crop-image-container').croppie({

               boundary:{
               width: width,
               height : height
               },
               viewport: {
                   width: width,
                   height: height
               },
               viewMode: 3,
               aspectRatio: 16 / 9
           });
           $('.modal-body1').height(document.getElementById('crop-image-container').offsetHeight + 50 + 'px');
           croppi.croppie('bind', {
               url: window.src,
           }).then(function () {
               croppi.croppie('setZoom', 0);
           });
       });
       $('#imageModalContainer').on('hidden.bs.modal', function () {
           croppi.croppie('destroy');
       });

      $(document).on('click', '.save-modal', function (ev) {
           croppi.croppie('result', {
               type: 'base64',
               format: 'png',
               size: 'original',
           }).then(function (resp) {
               $('#confirm-img').attr('src', resp);
               var img = $("#confirm-img").attr("src");
               $.ajax({
                   url: '@Url.Action("sendimage")',
                   type: "post",
                   data: {
                       src:img,
                       key: 0
                   },
                   success: function (response) {
                       console.log(response);
                   }



               });
               $('.modal').modal('hide');
           });
       });
    </script>

</body>
</html>
