﻿@model MoAD.WebApplication.Models.EditLanguageContentsViewModel

@{
    ViewBag.Title = "Edit " + Model.FieldKey;
    Layout = "~/views/shared/_layoutinitialpage.cshtml";
       // Layout = "~/views/home/_SharedLayout.cshtml";
}
@Styles.RenderFormat("<link rel=\"preload\" href=\"{0}\" as=\"style\" onload=\"this.rel='stylesheet'\">", "~/assets/vendors/summernote/dist/summernote.css")

<style>
    @@media (max-width: 1024px) {
        .m-form__group {
            margin-top: 25px !important;
            margin-bottom: 25px !important;
        }
    }
</style>

<div class="row">
    <div class="col-lg-1"></div>
    <div class="col-lg-10">
        <div class="m-portlet m-portlet--responsive-mobile m-auto" style="border-radius:6px;margin-bottom:2rem !important;">
            @using (Html.BeginForm("Edit", "LanguagesContents", FormMethod.Post, htmlAttributes: new { @class = "m-form m-form--fit m-form--label-align-right", @role = "form" }))
            {
                <div class="m-portlet__body">
                    @Html.AntiForgeryToken()
                    <div class="m-form__content">
                        @Html.ValidationSummary("", new { @class = "text-danger mt-4" })
                    </div>
                    <div>
                        @Html.HiddenFor(model => model.LanguagesContentKey)
                    </div>

                    <div class="form-group m-form__group row">
                        <div class="col-xl-1 col-lg-1"></div>
                        <div class="col-xl-10 col-lg-10 m-auto">
                            <h3 class="m-form__section">Edit</h3>
                        </div>
                        <div class="col-xl-1 col-lg-1"></div>
                    </div>
                    <div class="form-group m-form__group row">
                        <div class="col-xl-1 col-lg-1"></div>
                        <div class="col-xl-10 col-lg-10 m-auto">
                            <label class="form-control-label">Field</label>
                            @Html.DropDownList("FieldKey", null, htmlAttributes: new { @class = "form-control", @disabled = "disabled" })
                            @Html.ValidationMessageFor(model => model.FieldKey, "", new { @class = "text-danger" })
                        </div>
                        <div class="col-xl-1 col-lg-1"></div>
                    </div>
                    <div class="form-group m-form__group row">
                        <div class="col-xl-1 col-lg-1"></div>
                        <div class="col-xl-10 col-lg-10 m-auto">
                            <label class="form-control-label">Language</label>
                            @Html.EditorFor(model => model.LanguageKey, new { htmlAttributes = new { @class = "form-control m-input bb-input", @disabled = "disabled" } })
                            @Html.ValidationMessageFor(model => model.LanguageKey, "", new { @class = "text-danger" })
                        </div>
                        <div class="col-xl-1 col-lg-1"></div>
                    </div>
                    <div class="form-group m-form__group row">
                        <div class="col-xl-1 col-lg-1"></div>
                        <div class="col-xl-10 col-lg-10 m-auto">
                            <label class="form-control-label w-100"><strong></strong><i class="la la-edit" style="font-weight:bold"></i> Content &nbsp;<button id="wysiwygButton" type="button" class="btn btn-secondary pull-right">Edit as HTML</button><i data-toggle="m-tooltip" data-width="100%" class="m-form__heading-help-icon flaticon-info" title="Any content entered here will show on the interface when the relevant language is loaded."></i></label>
                            @Html.TextAreaFor(model => model.FieldValue, new { @class = "form-control m-input summernote", @rows = "8", @placeholder = "Enter localized content here" })
                            @*@Html.ValidationMessageFor(model => model.FieldValue, "", new { @class = "text-danger" })*@
                        </div>
                        <div class="col-xl-1 col-lg-1"></div>
                    </div>
                    <div class="form-group m-form__group row">
                        <div class="col-xl-1 col-lg-1"></div>
                        <div class="col-xl-10 col-lg-10 m-auto">
                            <label class="form-control-label">Controller</label>
                            @Html.EditorFor(model => model.Controller, new { htmlAttributes = new { @class = "form-control m-input", @disabled = "disabled" } })
                            @Html.ValidationMessageFor(model => model.Controller, "", new { @class = "text-danger" })
                        </div>
                        <div class="col-xl-1 col-lg-1"></div>
                    </div>
                    <div class="form-group m-form__group row">
                        <div class="col-xl-1 col-lg-1"></div>
                        <div class="col-xl-10 col-lg-10 m-auto">
                            <label class="form-control-label">Action</label>
                            @Html.EditorFor(model => model.Action, new { htmlAttributes = new { @class = "form-control m-input", @disabled = "disabled" } })
                            @Html.ValidationMessageFor(model => model.Action, "", new { @class = "text-danger" })
                        </div>
                        <div class="col-xl-1 col-lg-1"></div>
                    </div>
                </div>
                <div class="m-portlet__foot m-portlet__no-border m-portlet__foot--fit">
                    <div class="m-form__actions m-form__actions--solid">
                        <div class="row">
                            <div class="col-lg-1"></div>
                            <div class="col-lg-10">
                                <button type="submit" class="btn btn-brand pull-left">Save</button>
                                @Html.ActionLink("Cancel", "Index", "LanguagesContents", new { @class = "btn btn-secondary pull-right" })
                            </div>
                            <div class="col-lg-1"></div>
                        </div>
                    </div>
                </div>

            }
        </div>
    </div>
    <div class="col-lg-1"></div>
</div>

@section Scripts{

    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/assets/vendors/summernote/dist/summernote.js")

    <script>

        $('#wysiwygButton').on('click', function () {
            $('.summernote').summernote({
                height: 150
            });
        });

    </script>
}
