﻿@model IEnumerable<MoAD.DataObjects.EDMX.LanguagesContent>
@{
    ViewBag.Title = "Manage Languages Content";
    Layout = "~/views/shared/_layoutinitialpage.cshtml";
    //Layout = "~/views/home/_SharedLayout.cshtml";
    //Layout = null;
}

@*@Styles.Render("~/assets/vendors/socicon/css/socicon.css")
@Styles.Render("~/assets/vendors/vendors/line-awesome/css/line-awesome.min.css")
@Styles.Render("~/assets/vendors/vendors/flaticon/css/flaticon.css")
@Styles.Render("~/assets/vendors/vendors/metronic/css/styles.css")
@Styles.Render("~/assets/vendors/vendors/fontawesome5/css/all.min.css")*@
@Styles.Render("~/assets/vendors/custom/datatables/datatables.bundle.css")

<div class="m-portlet m-portlet--mobile">
    <div class="m-portlet__head">
        <div class="m-portlet__head-caption">
            <div class="m-portlet__head-title">
                <h3 class="m-portlet__head-text">
                    Manage
                </h3>
            </div>
        </div>
    </div>
    <div class="m-portlet__body">

        <!--begin: Datatable -->
        <table class="table table-striped- table-bordered table-hover table-checkable" id="m_table_1">
            <thead>
                <tr>
                    <th>
                        #
                    </th>
                    <th>
                        Preview
                    </th>
                    <th>
                        Page
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Language)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Field)
                    </th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>

                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.LanguagesContentKey)
                        </td>
                        <td>
                            @try
                            {
                                    int valueLength = item.FieldValue.Length;
                                    int substringLength = valueLength < 200 ? valueLength : 200;
                                
                                <p>
                                    @item.FieldValue.Substring(0, substringLength) @(substringLength > valueLength ? "..." : "")
                                </p>
                            }catch(Exception e)
                            {

                            }
                        </td>
                        <td>
                            <div><span class="m-badge m-badge--dark m-badge--wide">@item.Controller</span></div><br />
                            <div><span class="m-badge m-badge--dark m-badge--wide">@item.Action</span></div>
                        </td>
                        <td>
                            <strong>@Html.DisplayFor(modelItem => item.Language.Language1)</strong>
                        </td>
                        <td wrap>
                            @Html.DisplayFor(modelItem => item.Field.Field1)
                        </td>
                        <td nowrap></td>
                    </tr>
                }
            </tbody>

        </table>
    </div>
</div>

@section Scripts {

    <!--begin::Page Vendors -->

    @Scripts.RenderFormat("<script src='{0}' defer></script>", "~/assets/vendors/custom/datatables/datatables.bundle.js")

    <!--end::Page Vendors -->
    <!--begin::Page Scripts -->
    <script>
        function editItem() {

        }

        var Datatable = {
            init: function () {
                $("#m_table_1").DataTable({
                    responsive: !0, pagingType: "full_numbers", columnDefs: [{
                        targets: -1, title: "Actions", orderable: !1, render: function (a, e, n, t) {

                            return '\n<span class="dropdown">' +
                            '\n<a href="#" class="btn m-btn m-btn--hover-brand m-btn--icon m-btn--icon-only m-btn--pill" data-toggle="dropdown" aria-expanded="true">' +
                                '\n<i class="la la-ellipsis-h"></i>\n</a>\n<div class="dropdown-menu dropdown-menu-right">' +
                                @*'\n<a class="dropdown-item" href="@Url.Action("Details")/' + n[0] + '"><i class="la la-info"></i> View Details</a>' +*@
                                '\n                                <a class="dropdown-item" href="@Url.Action("Edit")/' + n[0] + '"><i class="la la-edit"></i> Edit</a>' +
                                @*'\n                                <a class="dropdown-item" href="@Url.Action("Delete")/' + n[0] + '"><i class="la la-trash"></i> Delete</a>' +*@
                                '\n</div>\n</span>\n'
                        }
                    }]
                }
                )
            }
        }

        ;
        jQuery(document).ready(function () {
            Datatable.init()
        }

        );
    </script>
    <!--end::Page Scripts -->
}
