﻿@using Newtonsoft.Json
@using Microsoft.AspNet.Identity;
@using MoAD.WebApplication.DataObjects;
@using MoAD.DataObjects.EDMX;

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutInitialPage.cshtml";
    var formTemplate = Model as List<MoAD.WebApplication.DataObjects.Question>;
    List<SelectListItem> OpOrganisations = ViewData["OpOrganisations"] as List<SelectListItem>;
    List<GetSavedForm_Result> FormValues = ViewBag.FormValues;
    var rowNumber = 0;
    var FilteredFormValues = FormValues;
    if (FormValues != null)
    {

        rowNumber = FormValues.Count() / 8;
        FilteredFormValues = FormValues.OrderBy(x => Convert.ToInt32(x.AnswerInstanceFileExtensionHTML)).ToList();
    }
}
<style>
    .titles {
        text-align: right;
    }

    .dropify-wrapper {
        width: 200px;
        margin-top: 10px;
    }

    .file-icon {
        display: none;
    }

    .modal-content {
        text-align: right;
    }
</style>

@if (User.IsInRole("Human Development Sector") || User.IsInRole("Administrative sector") || User.IsInRole("Economic sector") || User.IsInRole("Service sector") || User.IsInRole("OPManagerGroup5") || User.IsInRole("OPManagerGroup6") || User.IsInRole("OPManagerGroup7"))
{
    <div class="col-md-12" style="direction:rtl;text-align:right;">
        <div>
            <h3 class="text-right questionans" style="text-align:right;display:block">
                الجهة المراد تقديم الاستبانة عنها:
                <span class="small"></span>
            </h3>

        </div>
        <div style="display:block;padding-bottom: 20px;margin-left:3%;" class="questionans">
            @Html.DropDownList("Organisations", OpOrganisations, "الجهة العامة", new { @class = "form-group select2", @id = "OpOrgDropdown" })
        </div>
    </div>
}

<div class="row" style="text-align:center;padding-top:20px;padding-bottom:20px;">
    <h3>
        @ViewBag.FormTemplateName
        @*(التدريب والتأهيل المستمر (الدورات التدريبية المنفذة خلال عام 2016*@
    </h3>
</div>


<div id="example" style="background-color:white;min-height:600px;">
    <div class="row" style="border-bottom:2px solid">

        <div class="form-body pull-right" style="width:100%;">
            <div class="row pull-right" id="" style="width: 97%;margin-right:2%;">
                <div class="row" id="" style="float: right;width:100%;">

                    @if (ViewBag.formInstanceKey == "")
                    {
                        <button class="btn blue" id="btnAddChild" style="float: right;margin-top: 20px;margin-right: 8px;">
                            <i class="fa fa-plus-square" aria-hidden="true"></i>
                        </button>
                    }
                    <div style="float:right;margin-top: 21px;margin-right: 8px;width:100%;">


                        <table id="formtable" class="cell-border" cellspacing="0" width="100%" style="padding:10px;border:2px solid #e7ecf1">
                            <thead>
                                <tr>
                                    @if (ViewBag.formInstanceKey == "")
                                    {
                                        <td> حذف </td>
                                    }
                                    <td dir="rtl">نوع الشهادة </td>
                                    <td dir="rtl"> مكان التدريب </td>
                                    <td dir="rtl"> عدد ساعات الدورة التدريبية</td>
                                    <td dir="rtl"> مدة الدورة التدريبية</td>
                                    <td dir="rtl"> العدد المستهدف</td>
                                    <td dir="rtl">الشريحة المستهدفة</td>
                                    <td dir="rtl"> نوع التدريب</td>
                                    <td dir="rtl"> عنوان الدورة التدريبية</td>
                                </tr>
                            </thead>
                            <tbody>

                                @if (ViewBag.formInstanceKey == "")
                                {
                                    <tr>
                                        <td>
                                            <a class="btn btn-info" style="background-color:#d82f2f" onclick="deletechildren(this)">
                                                <i class="fa fa-trash-o" aria-hidden="true"></i>
                                            </a>
                                        </td>
                                        <td><input data-index="1" data-templatekey="@formTemplate[7].Answers.FirstOrDefault().AnswerTemplateKey" type="text" dir="rtl" class="form-group answer" style="float:right;width:100%;height:35px" /></td>
                                        <td><select data-index="1" data-templatekey="@formTemplate[6].Answers.FirstOrDefault().AnswerTemplateKey" class="select2 dropdownanswer" tabindex="5" style="float:right;width:100%;direction:rtl"><option> محلي </option><option>داخلي</option><option>خارجي</option></select></td>

                                        <td><input data-index="1" data-templatekey="@formTemplate[5].Answers.FirstOrDefault().AnswerTemplateKey" type="text" dir="rtl" class="form-group answer" style="float:right;width:100%;height:35px" /></td>

                                        @* <td><select data-index="1" data-templatekey="@formTemplate[5].Answers.FirstOrDefault().AnswerTemplateKey" class="select2 dropdownanswer" tabindex="5" style="float:right;width:100%;direction:rtl"><option>إجابة ١ </option><option> إجابة ٢</option></select></td>*@

                                        <td><input data-index="1" data-templatekey="@formTemplate[4].Answers.FirstOrDefault().AnswerTemplateKey" type="text" dir="rtl" class="form-group answer" style="float:right;width:100%;height:35px" /></td>

                                        @*  <td><select data-index="1" data-templatekey="@formTemplate[4].Answers.FirstOrDefault().AnswerTemplateKey" class="select2 dropdownanswer" tabindex="5" style="float:right;width:100%;direction:rtl"><option>إجابة ١ </option><option> إجابة ٢</option></select></td>*@

                                        <td><input data-index="1" data-templatekey="@formTemplate[3].Answers.FirstOrDefault().AnswerTemplateKey" type="text" dir="rtl" class="form-group answer" style="float:right;width:100%;height:35px" /></td>

                                        @* <td><select data-index="1" data-templatekey="@formTemplate[3].Answers.FirstOrDefault().AnswerTemplateKey" class="select2 dropdownanswer" tabindex="5" style="float:right;width:100%;direction:rtl"><option>إجابة ١ </option><option> إجابة ٢</option></select></td>*@



                                        <td><input data-index="1" data-templatekey="@formTemplate[2].Answers.FirstOrDefault().AnswerTemplateKey" type="text" dir="rtl" class="form-group answer" style="float:right;width:100%;height:35px" /></td>
                                        <td><select data-index="1" data-templatekey="@formTemplate[1].Answers.FirstOrDefault().AnswerTemplateKey" class="select2 dropdownanswer" tabindex="5" style="float:right;width:100%;direction:rtl"><option>تقني – فني</option><option> تخصصي – إداري – لغة - حاسوب</option><option>غير ذلك (اتاحة كتابة نص)</option></select><input data-templatekey="@formTemplate[1].Answers.FirstOrDefault().AnswerTemplateKey" type="text" style="float:right;width:100%;display:none;" dir="rtl" class="answer" data-index="1" value="Empty" /></td>
                                        <td><input data-index="1" data-templatekey="@formTemplate[0].Answers.FirstOrDefault().AnswerTemplateKey" type="text" dir="rtl" class="form-group answer" style="float:right;width:100%;height:35px" /></td>
                                    </tr>
                                }
                                else
                                {
                                    int j = 0;
                                    for (int i = 0; i < rowNumber; i++)
                                    {

                                        if (ViewBag.Staus == "OPSaved" && User.IsInRole("ADManager"))
                                        {
                                            <tr>
                                                @{
                                                    <td><input data-index="@FilteredFormValues[j+7].AnswerInstanceFileExtensionHTML" data-templatekey="@formTemplate[7].Answers.FirstOrDefault().AnswerTemplateKey" type="text" dir="rtl" class="form-group answer" style="float:right;width:100%;height:35px" value="@FilteredFormValues[j+7].AnswerInstanceFileExtensionName" /></td>
                                                    <td>
                                                        <select data-index="@FilteredFormValues[j+6].AnswerInstanceFileExtensionHTML" data-templatekey="@formTemplate[6].Answers.FirstOrDefault().AnswerTemplateKey" class="select2 dropdownanswer" tabindex="5" style="float:right;width:100%;direction:rtl">
                                                           @{ 
                                                               var mahali = FilteredFormValues[j + 6].AnswerInstanceFileExtensionName == "محلي" ? "selected" : "";
                                                               var dakhili = FilteredFormValues[j + 6].AnswerInstanceFileExtensionName == "داخلي" ? "selected" : "";
                                                               var khariji = FilteredFormValues[j + 6].AnswerInstanceFileExtensionName == "خارجي" ? "selected" : "";
                                                           }
                                                            <option @mahali>محلي</option>
                                                            <option @dakhili>داخلي</option>
                                                            <option @khariji>خارجي</option>
                                                        </select>
                                                    </td>
                                                    <td><input data-index="@FilteredFormValues[j+5].AnswerInstanceFileExtensionHTML" data-templatekey="@formTemplate[5].Answers.FirstOrDefault().AnswerTemplateKey" type="text" dir="rtl" class="form-group answer" style="float:right;width:100%;height:35px" value="@FilteredFormValues[j+5].AnswerInstanceFileExtensionName"/></td>
                                                    <td><input data-index="@FilteredFormValues[j+4].AnswerInstanceFileExtensionHTML" data-templatekey="@formTemplate[4].Answers.FirstOrDefault().AnswerTemplateKey" type="text" dir="rtl" class="form-group answer" style="float:right;width:100%;height:35px" value="@FilteredFormValues[j+4].AnswerInstanceFileExtensionName"/></td>
                                                    <td><input data-index="@FilteredFormValues[j+3].AnswerInstanceFileExtensionHTML" data-templatekey="@formTemplate[3].Answers.FirstOrDefault().AnswerTemplateKey" type="text" dir="rtl" class="form-group answer" style="float:right;width:100%;height:35px" value="@FilteredFormValues[j+3].AnswerInstanceFileExtensionName"/></td>
                                                    <td><input data-index="@FilteredFormValues[j+2].AnswerInstanceFileExtensionHTML" data-templatekey="@formTemplate[2].Answers.FirstOrDefault().AnswerTemplateKey" type="text" dir="rtl" class="form-group answer" style="float:right;width:100%;height:35px" value="@FilteredFormValues[j+2].AnswerInstanceFileExtensionName"/></td>
                                                    <td>
                                                <select data-index="@FilteredFormValues[j+1].AnswerInstanceFileExtensionHTML" data-templatekey="@formTemplate[1].Answers.FirstOrDefault().AnswerTemplateKey" class="select2 dropdownanswer" tabindex="5" style="float:right;width:100%;direction:rtl">
                                                    <option>@FilteredFormValues[j + 1].AnswerInstanceFileExtensionName</option>
                                                    <option>تقني – فني</option>
                                                        <option> تخصصي – إداري – لغة - حاسوب</option>
                                                        <option>غير ذلك (اتاحة كتابة نص)</option>
                                                        </select>
                                                <input data-templatekey="@formTemplate[1].Answers.FirstOrDefault().AnswerTemplateKey" type="text" style="float:right;width:100%;display:none;" dir="rtl" class="answer" data-index="@FilteredFormValues[j+1].AnswerInstanceFileExtensionHTML" value="Empty" />
                                                    </td>
                                                    <td><input data-index="@FilteredFormValues[j+0].AnswerInstanceFileExtensionHTML" data-templatekey="@formTemplate[0].Answers.FirstOrDefault().AnswerTemplateKey" type="text" dir="rtl" class="form-group answer" style="float:right;width:100%;height:35px" value="@FilteredFormValues[j+0].AnswerInstanceFileExtensionName"/></td>
                                                }
                                            </tr>
                                                    }
                                                    else
                                                    {
                                                        <tr>
                                                            @{
                                                                <td><input type="text" dir="rtl" class="form-group answer" readonly style="float:right;width:100%" value="@FilteredFormValues[j+7].AnswerInstanceFileExtensionName" /></td>
                                                                <td><input type="text" dir="rtl" class="form-group answer" readonly style="float:right;width:100%" value="@FilteredFormValues[j+6].AnswerInstanceFileExtensionName" /></td>
                                                                <td><input type="text" dir="rtl" class="form-group answer" readonly style="float:right;width:100%" value="@FilteredFormValues[j+5].AnswerInstanceFileExtensionName" /></td>
                                                                <td><input type="text" dir="rtl" class="form-group answer" readonly style="float:right;width:100%" value="@FilteredFormValues[j+4].AnswerInstanceFileExtensionName" /></td>
                                                                <td><input type="text" dir="rtl" class="form-group answer" readonly style="float:right;width:100%" value="@FilteredFormValues[j+3].AnswerInstanceFileExtensionName" /></td>
                                                                <td><input type="text" dir="rtl" class="form-group answer" readonly style="float:right;width:100%" value="@FilteredFormValues[j+2].AnswerInstanceFileExtensionName" /></td>
                                                                <td><input type="text" dir="rtl" class="form-group answer" readonly style="float:right;width:100%" value="@FilteredFormValues[j+1].AnswerInstanceFileExtensionName" /></td>
                                                                <td><input type="text" dir="rtl" class="form-group answer" readonly style="float:right;width:100%" value="@FilteredFormValues[j+0].AnswerInstanceFileExtensionName" /></td>
                                                            }
                                                        </tr>
                                                                        }

                                                                        j = j + 8;
                                                                    }
                                                                }



                            </tbody>
                        </table>

                    </div>

                </div>
            </div>
        </div>

    </div>
    @if (ViewBag.formInstanceKey == "" || (ViewBag.Staus == "OPSaved" && User.IsInRole("ADManager")))
    {
        <div class="row" style="text-align:center;padding-top:20px;padding-bottom:20px">
            <button type="button" id="uploadform" class="btn btn-icon btn-primary  margin-inline" style="width:28%;border-radius:.25rem !important">
                <i class="fa fa-upload" aria-hidden="true"></i>
                [تحميل]
            </button>
        </div>
    }



</div>




<script>
    $('input').each(function (index, element) {

        if ($(this).val() == "UserInput") {
            $(this).val(' ');
        }
    });

    $(document).on('change', 'select', function () {

        var SELECTEDoPTION = $(this).val();
        if (SELECTEDoPTION == "غير ذلك (اتاحة كتابة نص)") {
            $(this).parent().find("input").show();
            $("#sex").css("display", "none");
        } else {
            $(this).parent().find("input").hide();
        }

    });

    var FormTable;
    $(document).ready(function () {
        //$("#formtable").DataTable();


        $('#formtable').DataTable({
            "paging": false,
            "sScrollX": "100%",
            "bScrollCollapse": true
        });

        FormTable = $("#formtable").DataTable();
        $(".dataTables_length").css("display", "none")
        $(".dataTables_filter").css("display", "none")
        $(".dataTables_info").css("display", "none")
        $(".dataTables_paginate").css("display", "none")
        $(".select2").select2();

    });

    var counter = 2;
    $("#btnAddChild").click(function (e) {
        e.preventDefault();








        FormTable.row.add([
          '<a class="btn btn-info" style="background-color:#d82f2f" onclick="deletechildren(this)"><i class="fa fa-trash-o" aria-hidden="true"></i></a>',
          '<input data-index="' + counter + '"  type="text" data-templatekey="3063" dir="rtl" class="form-group answer" style="float:right;width:100%;height:35px" />',
          '<td><select data-index="' + counter + '"data-templatekey="3062" class="select2 dropdownanswer" tabindex="5" style="float:right;width:100%;direction:rtl"><option> محلي </option><option>داخلي</option><option>خارجي</option></select></td>',

          '<input data-index="' + counter + '"  type="text" data-templatekey="3061" dir="rtl" class="form-group answer" style="float:right;width:100%;height:35px" />',

          //'<td><select data-index="' + counter + '" data-templatekey="3061"  class="select2 dropdownanswer" tabindex="5" style="float:right;width:100%;direction:rtl"><option>إجابة ١ </option><option> إجابة ٢</option></select></td>',
          '<input data-index="' + counter + '"  type="text" data-templatekey="3060" dir="rtl" class="form-group answer" style="float:right;width:100%;height:35px" />',

          //'<td><select data-index="' + counter + '" data-templatekey="3060"  class="select2 dropdownanswer" tabindex="5" style="float:right;width:100%;direction:rtl"><option>إجابة ١ </option><option> إجابة ٢</option></select></td>',

          '<input data-index="' + counter + '"  type="text" data-templatekey="3059" dir="rtl" class="form-group answer" style="float:right;width:100%;height:35px" />',

          //'<td><select data-index="' + counter + '" data-templatekey="3059"  class="select2 dropdownanswer" tabindex="5" style="float:right;width:100%;direction:rtl"><option>إجابة ١ </option><option> إجابة ٢</option></select></td>',

          '<input data-index="' + counter + '"  type="text" data-templatekey="3058" dir="rtl" class="form-group answer" style="float:right;width:100%;height:35px" />',
          '<td><select data-index="' + counter + '" data-templatekey="3057" class="select2 dropdownanswer" tabindex="5" style="float:right;width:100%;direction:rtl"><option>تقني – فني</option><option> تخصصي – إداري – لغة - حاسوب</option><option>غير ذلك (اتاحة كتابة نص)</option></select><input data-templatekey="3057" type="text" style="float:right;width:100%;display:none;" dir="rtl" class="answer" data-index="' + counter + '" value="Empty"/></td>',
          '<input data-index="' + counter + '"  type="text" data-templatekey="3056" dir="rtl" class="form-group answer" style="float:right;width:100%;height:35px" />',
        ]).draw(false);

        counter++;
        $(".select2").select2();

    });


    function deletechildren(childrenrow) {
        FormTable
       .row($(childrenrow).parents('tr'))
       .remove()
       .draw();
    }


    var AnswerTemplateKey = [];
    var FormKey;

    $(document).on('click', '#uploadform', function (event) {
        waitingDialog.show(' !!!  جاري التحميل');

        var answsers = "";

        $('.answer').each(function (index, element) {

            if ($(this).val() != "Empty") {
                answsers = { key: $(this).attr("data-templatekey"), Textvalue: $(this).val(), type: "UserInput", Index: $(this).attr("data-index"), Lines: "", Parent: "", Child: "", count: "" }
                AnswerTemplateKey.push(answsers);
            }
        });

        $('.dropdownanswer').each(function (index, element) {

            if ($(this).val() != "غير ذلك (اتاحة كتابة نص)") {
                answsers = { key: $(this).attr("data-templatekey"), Textvalue: $(this).val(), type: "DropDown", Index: $(this).attr("data-index"), Lines: "", Parent: "", Child: "", count: "" }
                AnswerTemplateKey.push(answsers);
            }

        });

        var organisationKey = '@ViewBag.OrganisationKey';
        @if (User.IsInRole("Human Development Sector") || User.IsInRole("Administrative sector") || User.IsInRole("Economic sector") || User.IsInRole("Service sector") || User.IsInRole("OPManagerGroup5") || User.IsInRole("OPManagerGroup6") || User.IsInRole("OPManagerGroup7"))
        {
            <text>
        organisationKey = $("#OpOrgDropdown").val();
        </text>
        }

        if (organisationKey == "") {
            return;
        }

        console.log(AnswerTemplateKey);
        if ('@ViewBag.formInstanceKey' != "") {
            setTimeout(function () {

                $.ajax({
                    url: '@Url.Action("DeleteAnswers", "ClaimForms")',
                    type: 'GET',
                    dataType: 'json',
                    cache: false,
                    data: {
                        idForm: '@ViewBag.formInstanceKey'
                    },
                    success: function (data) {
                        console.log(AnswerTemplateKey);
                        FormKey = data;
                        $.ajax({
                            url: '@Url.Action("AnswersByUser", "ClaimForms")',
                            type: 'POST',
                            dataType: 'json',
                            cache: false,
                            data: {
                                formKey: '@ViewBag.formInstanceKey', answerTemplateKey: JSON.stringify(AnswerTemplateKey)
                            },
                            success: function (data) {
                                $.ajax({
                                    url: '@Url.Action("SaveClaimForm", "ClaimForms")',
                                    type: 'GET',
                                    dataType: 'json',
                                    cache: false,
                                    data: {
                                        formKey: '@ViewBag.formInstanceKey'
                                    },
                                    success: function (data) {
                                        var Title = $("#title").text();
                                        var test = "تعبئة إستمارة";
                                        var message = test + " " + Title;
                                        SetLog(Title.split(":", 1), Title.split(":", 1), message);
                                        window.location = '@Url.Action("AdManagersClaims", "Home")/' + "?ClaimType=" + '@ViewBag.FormTemplateType';

                                    }
                                });
                            }
                        });
                    }
                });

            }, 2000);
        } else {
            $.ajax({
                url: '@Url.Action("SubmitFormForUser", "ClaimForms")',
                type: 'GET',
                dataType: 'json',
                cache: false,
                data: {
                    trackingStatusKey: "1", formTemplateKey: "142", userKey: "@User.Identity.GetUserId()", organisationKey: organisationKey
                },
                success: function (data) {
                    FormKey = data;
                    $.ajax({
                        url: '@Url.Action("AnswersByUser", "ClaimForms")',
                        type: 'POST',
                        dataType: 'json',
                        cache: false,
                        data: {
                            formKey: FormKey, answerTemplateKey: JSON.stringify(AnswerTemplateKey)
                        },
                        success: function (data) {
                            @if (User.IsInRole("Human Development Sector") || User.IsInRole("Administrative sector") || User.IsInRole("Economic sector") || User.IsInRole("Service sector") || User.IsInRole("OPManagerGroup5") || User.IsInRole("OPManagerGroup6") || User.IsInRole("OPManagerGroup7"))
                             {
                                 <text>
                            $.ajax({
                                url: '@Url.Action("SaveOPForm", "ClaimForms")',
                                type: 'GET',
                                dataType: 'json',
                                cache: false,
                                data: {
                                    OpOrgKey: FormKey
                                },
                                success: function (data) {

                                    var Title = $("#title").text();
                                    var test = "تعبئة إستمارة";
                                    var message = test + " " + Title;
                                    SetLog(Title.split(":", 1), Title.split(":", 1), message);
                                    window.location = '@Url.Action("AdManagersClaims", "Home")/' + "?ClaimType=" + '@ViewBag.FormTemplateType';


                                }
                            });
                            </text>
                             }else
                             {
                                 <text>
                            $.ajax({
                                url: '@Url.Action("SaveClaimForm", "ClaimForms")',
                                type: 'GET',
                                dataType: 'json',
                                cache: false,
                                data: {
                                    formKey: FormKey
                                },
                                success: function (data) {


                                    var Title = $("#title").text();
                                    var test = "تعبئة إستمارة";
                                    var message = test + " " + Title;
                                    SetLog(Title.split(":", 1), Title.split(":", 1), message);
                                    window.location = '@Url.Action("AdManagersClaims", "Home")/' + "?ClaimType=" + '@ViewBag.FormTemplateType';


                                }
                            });
                            </text>
                             }

                        }
                    });
                }
            });
        }

    });





</script>
