﻿@using Newtonsoft.Json
@using Microsoft.AspNet.Identity;
@using MoAD.WebApplication.DataObjects;
@using MoAD.DataObjects.EDMX;
@{
    Layout = "~/Views/Shared/_LayoutInitialPage.cshtml";
    List<GetSavedForm_Result> FormValues = ViewBag.FormValues;
    List<SelectListItem> OpOrganisations = ViewData["OpOrganisations"] as List<SelectListItem>;

}

<div class="page-content-inner">
    <style>
        .UserInput {
            width: 100% !important;
        }

        h2 {
            font-size: 1rem !important;
        }

        label {
            font-size: 1rem;
        }

        .userinput {
            width: 500px;
        }

        .pagination-lg .page-link {
        }

        .claimsections {
            padding-top: 20px;
        }

        .breadcrumb-custom li > a, .breadcrumb-custom li > span {
            padding: 9px 10px 9px 10px;
        }

        .modal-content {
            text-align: right;
        }

        .EmptyMessage {
            color: red;
            display: none;
        }

        h3 {
            font-family: Calibri;
        }

        .dataTables_filter {
            display: none;
        }

        .dataTables_length {
            display: none;
        }

        #repeatedQuestionTable_paginate {
            display: none;
        }

        .dataTables_info {
            display: none;
        }

        .dropify-wrapper {
            width: 200px;
            margin-top: 10px;
        }
    </style>
    @if (User.IsInRole("Human Development Sector") || User.IsInRole("Administrative sector") || User.IsInRole("Economic sector") || User.IsInRole("Service sector") || User.IsInRole("OPManagerGroup5") || User.IsInRole("OPManagerGroup6") || User.IsInRole("OPManagerGroup7"))
    {
        <div class="col-md-12" style="direction:rtl;text-align:right;">
            <div>
                <h3 class="text-right questionans" style="text-align:right;display:block">
                    الجهة المراد تقديم الاستبانة عنها:
                    <span class="small"></span>
                </h3>

            </div>
            <div style="display:block;padding-bottom: 20px;margin-left:3%;" class="questionans">
                @Html.DropDownList("Organisations", OpOrganisations, "الجهة العامة", new { @class = "form-group select2", @id = "OpOrgDropdown" })
            </div>
        </div>
    }
    <label id="FormTemplateKey" style="display:none"> 118</label>
    <h3 class="text-right" id="title" style="text-align:center;text-decoration: underline;padding-bottom: 20px;font-size: 2rem;margin-top:1%;">الشريحة الأولى أتمتة الدورات المستندية، ووجود نظام للأرشفة الإلكترونية</h3>

    <div class="single-page-block-inner">
        <div class="single-page-block-form" style="direction:rtl;width:100%;">
            <div class="claimsections" style="display:block;background-color:white;margin-right:1%;">
                <div id="formContent" class="row" style="margin-right:3%;">
                    <div>
                        <h3 id="_431" class="text-right part-1 questionans Reapeat" style="text-align:right;display:block">
                            هل يوجد ربط شبكي بين مختلف الوحدات التنظيمية؟
                            <span class="small"></span>
                        </h3>

                    </div>
                    <div style="display:block;padding-bottom: 20px" class="part-1 questionans Reapeat" data-toggle="buttons">
                        @if (ViewBag.formInstanceKey == "")
                        {
                            <label class="btn btn-default-outline" data-colorcode="" data-chekNextQuestions="431">
                                <input data-templatekey="1180" type="radio" name="radio_431" class="mt-radio">
                                نعم
                            </label>
                            <label class="btn btn-default-outline" data-colorcode="" data-chekNextQuestions="431">
                                <input data-templatekey="1179" type="radio" name="radio_431" class="mt-radio">
                                لا
                            </label>

                        }
                        else
                        {
                            if (ViewBag.Staus == "OPSaved" && User.IsInRole("ADManager"))
                            {
                                var na3am = FormValues.Where(x => x.AnswerTemplateKey == int.Parse("1179") || x.AnswerTemplateKey == int.Parse("1180")).Select(x => x.AnswerValue).FirstOrDefault().Contains("نعم") ? "active" : "";
                                var la = FormValues.Where(x => x.AnswerTemplateKey == int.Parse("1179") || x.AnswerTemplateKey == int.Parse("1180")).Select(x => x.AnswerValue).FirstOrDefault().Contains("لا") ?"active":"";

                                var na3amChecked = FormValues.Where(x => x.AnswerTemplateKey == int.Parse("1179") || x.AnswerTemplateKey == int.Parse("1180")).Select(x => x.AnswerValue).FirstOrDefault().Contains("نعم") ? "checked" : "";
                                var laChecked = FormValues.Where(x => x.AnswerTemplateKey == int.Parse("1179") || x.AnswerTemplateKey == int.Parse("1180")).Select(x => x.AnswerValue).FirstOrDefault().Contains("لا") ? "checked" : "";

                                <label class="btn btn-default-outline @na3am" data-colorcode="" data-chekNextQuestions="431">
                                    <input data-templatekey="1180" type="radio" name="radio_431" class="mt-radio" @na3amChecked>
                                    نعم
                                </label>
                                <label class="btn btn-default-outline @la" data-colorcode="" data-chekNextQuestions="431">
                                    <input data-templatekey="1179" type="radio" name="radio_431" class="mt-radio" @laChecked>
                                    لا
                                </label>
                              
                            }
                            else
                            {
                                <label class="btn btn-default-outline" data-colorcode="">
                                    <input data-templatekey="1180" type="radio" name="radio_431" class="mt-radio">

                                    @FormValues.Where(x => x.AnswerTemplateKey == int.Parse("1179") || x.AnswerTemplateKey == int.Parse("1180")).Select(x => x.AnswerValue).FirstOrDefault()
                                </label>
                            }

                        }

                        <div class="EmptyMessage">
                            الرجاء تعبئة الفراغ
                        </div>
                    </div>
                    <div>
                        <h3 id="_432" class="text-right part-1 questionans Reapeat" style="text-align:right;display:block">
                            حدد المديريات المشمولة بالربط الشبكي:
                            <span class="small"></span>
                        </h3>

                    </div>
                    <div style="display:block;padding-bottom: 20px;margin-left: 3%;" class="part-1 questionans Reapeat">

                        @if (ViewBag.formInstanceKey == "")
                        {
                            <input data-templatekey="1181" class="form-control UserInput 431" type="text" style="width: 400px; border-radius: 29px; height: 40px;">
                        }
                        else
                        {
                            <input data-templatekey="1181" class="form-control UserInput" value="@FormValues.Where(x => x.AnswerTemplateKey == int.Parse("1181")).Select(x => x.AnswerInstanceFileExtensionName).FirstOrDefault()" type="text" style="width: 400px; border-radius: 29px; height: 40px;">
                        }



                        <div class="EmptyMessage">
                            الرجاء تعبئة الفراغ
                        </div>
                    </div>
                    <div>
                        <h3 id="_433" class="text-right part-2 questionans Reapeat" style="text-align:right;display:block">
                            حدد نوع البرنامج:
                            <span class="small"></span>
                        </h3>

                    </div>
                    <div style="display:block;padding-bottom: 20px;margin-left: 3%;" class="part-2 questionans Reapeat">
                        @if (ViewBag.formInstanceKey == "")
                        {
                            <input data-templatekey="1182" class="form-control UserInput 431" type="text" style="width: 400px; border-radius: 29px; height: 40px;">
                        }
                        else
                        {
                            <input data-templatekey="1182" class="form-control UserInput 431" value="@FormValues.Where(x => x.AnswerTemplateKey == int.Parse("1182")).Select(x => x.AnswerInstanceFileExtensionName).FirstOrDefault()" type="text" style="width: 400px; border-radius: 29px; height: 40px;">
                        }
                        <div class="EmptyMessage">
                            الرجاء تعبئة الفراغ
                        </div>
                    </div>
                    <div>
                        <h3 id="_434" class="text-right part-2 questionans Reapeat" style="text-align:right;display:block">
                            هل يوجد من يستخدم التوقيع الالكتروني؟
                            <span class="small"></span>
                        </h3>

                    </div>
                    <div style="display:block;padding-bottom: 20px" class="part-2 questionans Reapeat" data-toggle="buttons">
                        @if (ViewBag.formInstanceKey == "")
                        {
                           
                            <label class="btn btn-default-outline" data-colorcode="">
                                <input data-templatekey="1184" type="radio" name="radio_434" class="mt-radio">
                                نعم
                            </label>
                            <label class="btn btn-default-outline" data-colorcode="">
                                <input data-templatekey="1183" type="radio" name="radio_434" class="mt-radio">
                                لا
                            </label>

                        }
                        else
                        {

                            if (ViewBag.Staus == "OPSaved" && User.IsInRole("ADManager"))
                            {
                                var na3am = FormValues.Where(x => x.AnswerTemplateKey == int.Parse("1183") || x.AnswerTemplateKey == int.Parse("1184")).Select(x => x.AnswerValue).FirstOrDefault().Contains("نعم") ? "active" : "";
                                var la = FormValues.Where(x => x.AnswerTemplateKey == int.Parse("1183") || x.AnswerTemplateKey == int.Parse("1184")).Select(x => x.AnswerValue).FirstOrDefault().Contains("لا") ? "active" : "";

                                var na3amChecked = FormValues.Where(x => x.AnswerTemplateKey == int.Parse("1183") || x.AnswerTemplateKey == int.Parse("1184")).Select(x => x.AnswerValue).FirstOrDefault().Contains("نعم") ? "checked" : "";
                                var laChecked = FormValues.Where(x => x.AnswerTemplateKey == int.Parse("1183") || x.AnswerTemplateKey == int.Parse("1184")).Select(x => x.AnswerValue).FirstOrDefault().Contains("لا") ? "checked" : "";

                                <label class="btn btn-default-outline @na3am" data-colorcode="">
                                    <input data-templatekey="1184" type="radio" name="radio_434" class="mt-radio" @na3amChecked>
                                    نعم
                                </label>
                                <label class="btn btn-default-outline @la" data-colorcode="">
                                    <input data-templatekey="1183" type="radio" name="radio_434" class="mt-radio" @laChecked>
                                    لا
                                </label>
                              
                            }
                            else
                            {
                                <label class="btn btn-default-outline" data-colorcode="">
                                    <input data-templatekey="1180" type="radio" name="radio_431" class="mt-radio">

                                    @FormValues.Where(x => x.AnswerTemplateKey == int.Parse("1183") || x.AnswerTemplateKey == int.Parse("1184")).Select(x => x.AnswerValue).FirstOrDefault()
                                </label>
                            }

                        }


                        <div class="EmptyMessage">
                            الرجاء تعبئة الفراغ
                        </div>
                    </div>
                    <div>
                        <h3 id="_435" class="text-right part-3 questionans Reapeat" style="text-align:right;display:block">
                            هل يتم العمل على المتابعة والتغذية الراجعة بالتقارير الالكترونية؟
                            <span class="small"></span>
                        </h3>

                    </div>
                    <div style="display:block;padding-bottom: 20px" class="part-3 questionans Reapeat" data-toggle="buttons">
                        @if (ViewBag.formInstanceKey == "")
                        {
                            <label class="btn btn-default-outline" data-colorcode="">
                                <input data-templatekey="1186" type="radio" name="radio_435" class="mt-radio">
                                نعم
                            </label>
                            <label class="btn btn-default-outline" data-colorcode="">
                                <input data-templatekey="1185" type="radio" name="radio_435" class="mt-radio">
                                لا
                            </label>

                        }
                        else
                        {
                            if (ViewBag.Staus == "OPSaved" && User.IsInRole("ADManager"))
                            {
                                var na3am = FormValues.Where(x => x.AnswerTemplateKey == int.Parse("1185") || x.AnswerTemplateKey == int.Parse("1186")).Select(x => x.AnswerValue).FirstOrDefault().Contains("نعم") ? "active" : "";
                                var la = FormValues.Where(x => x.AnswerTemplateKey == int.Parse("1185") || x.AnswerTemplateKey == int.Parse("1186")).Select(x => x.AnswerValue).FirstOrDefault().Contains("لا") ? "active" : "";

                                var na3amChecked = FormValues.Where(x => x.AnswerTemplateKey == int.Parse("1185") || x.AnswerTemplateKey == int.Parse("1186")).Select(x => x.AnswerValue).FirstOrDefault().Contains("نعم") ? "checked" : "";
                                var laChecked = FormValues.Where(x => x.AnswerTemplateKey == int.Parse("1185") || x.AnswerTemplateKey == int.Parse("1186")).Select(x => x.AnswerValue).FirstOrDefault().Contains("لا") ? "checked" : "";

                                <label class="btn btn-default-outline @na3am" data-colorcode="">
                                    <input data-templatekey="1186" type="radio" name="radio_435" class="mt-radio" @na3amChecked>
                                    نعم
                                </label>
                                <label class="btn btn-default-outline @la" data-colorcode="">
                                    <input data-templatekey="1185" type="radio" name="radio_435" class="mt-radio" @laChecked>
                                    لا
                                </label>
                              
                            }
                            else
                            {
                                <label class="btn btn-default-outline" data-colorcode="">
                                    <input type="radio" name="radio_431" class="mt-radio">

                                    @FormValues.Where(x => x.AnswerTemplateKey == int.Parse("1185") || x.AnswerTemplateKey == int.Parse("1186")).Select(x => x.AnswerValue).FirstOrDefault()
                                </label>
                            }

                        }


                        <div class="EmptyMessage">
                            الرجاء تعبئة الفراغ
                        </div>
                    </div>
                    <div>
                        <h3 id="_436" class="text-right part-3 questionans Reapeat" style="text-align:right;display:block">
                            حدد الإجراءات التي تمت أتمتها داخل الجهة:
                            <span class="small"></span>
                        </h3>

                    </div>
                    <span> </span>
                    @if (ViewBag.formInstanceKey == "")
                    {
                        <button class="btn blue" id="btnAddChild" style="float: right;margin-top: 20px;margin-right: 8px;">
                            <i class="fa fa-plus-square" aria-hidden="true"></i>
                        </button>
                    }
                   

                    <table id="repeatedQuestionTable" class="cell-border" cellspacing="0" width="100%" style="padding:10px;border:2px solid #e7ecf1">
                        <thead>
                            <tr>

                                <td dir="rtl">العمل</td>
                                <td dir="rtl">وصف الإجراء</td>
                                <td dir="rtl">المسار التدفقي له</td>
                                <td dir="rtl">عدد العاملين الذين يقدمونها</td>
                                @if (ViewBag.formInstanceKey == "")
                                {
                                    <td> حذف </td>
                                }
                            
                            </tr>
                        </thead>


                        <tbody>

                            @if (ViewBag.formInstanceKey == "")
                            {
                                <tr>
                                    <td><input data-index="1" data-templatekey="1188" type="text" dir="rtl" class="form-group inputanswer" placeholder="العمل " style="float:right;width:60%" /></td>
                                    <td><input data-index="1" data-templatekey="1189" type="text" dir="rtl" class="form-group inputanswer" placeholder="وصف الإجراء " style="float:right;width:60%" /></td>
                                    <td><input data-index="1" data-templatekey="1190" type="file" class="dropify" data-height="80" /></td>
                                    @*<td><input data-index="1" data-templatekey="1190" type="text" dir="rtl" class="form-group inputanswer" placeholder="المسار التدفقي له " style="float:right;width:60%" /></td>*@
                                    <td><input data-index="1" data-templatekey="1191" type="text" dir="rtl" class="form-group inputanswer" placeholder="عدد العاملين " style="float:right;width:60%" /></td>

                                    <td>
                                        <a class="btn btn-info" style="background-color:#d82f2f" onclick="deletechildren(this)">
                                            <i class="fa fa-trash-o" aria-hidden="true"></i>
                                        </a>
                                    </td>
                                </tr>
                            }
                            else
                            {

                                var tableValues = FormValues.Where(x => x.AnswerInstanceFileExtensionHTML != " " && x.AnswerInstanceFileExtensionHTML != "").Select(x => x.AnswerInstanceFileExtensionHTML).Distinct().ToList();
                                foreach (var row in tableValues)
                                {

                                    <tr>
                                        @{
                                            var rowsvalue = FormValues.Where(x => x.AnswerInstanceFileExtensionHTML == row.ToString()).ToList();

                                            //rowsvalue.Reverse();

                                            foreach (var columnvalue in rowsvalue)
                                            {

                                                var value = columnvalue.AnswerInstanceFileExtensionName == "Freetext" ? string.Empty : columnvalue.AnswerInstanceFileExtensionName;
                                                var Image = columnvalue.AnswerInstanceFileExtensionFilePathOrSource;

                                                if (columnvalue.AnswerTemplateKey == 1190)
                                                {
                                                    <td>
                                                        <a download="@columnvalue.AnswerInstanceFileExtensionName" href="@Image" title="ImageName">
                                                            <img id="" name="" src="@Image" style="height:150px;width:150px;" />
                                                        </a>
                                                        <input data-index="@columnvalue.AnswerInstanceFileExtensionHTML" data-templatekey="1190" type="file" class="dropify" data-height="80" data-fileName="@columnvalue.AnswerInstanceFileExtensionName" data-fileContent="@Image"/>
                                                    </td>
                                                }
                                                else
                                                {
                                                    <td><input data-index="@columnvalue.AnswerInstanceFileExtensionHTML" data-templatekey="@columnvalue.AnswerTemplateKey" type="text" dir="rtl" class="form-group inputanswer" value="@value" style="float:right;width:60%" /></td>

                                                }
                                            }
                                        }
                                    </tr>


                                                }


                                            }

                        </tbody>

                    </table>

                    <div>
                        <h3 id="_441" class="text-right part-6 questionans Reapeat" style="text-align:right;display:block">
                            ما هي الأعمال الواجب أتمتتها داخل الجهة (رتبها وفق الأولوية)؟
                            <span class="small"></span>
                        </h3>

                    </div>
                    <div style="display:block;padding-bottom: 20px;margin-left: 3%;" class="part-6 questionans Reapeat">
                        @if (ViewBag.formInstanceKey == "")
                        {
                            <input data-templatekey="1192" class="form-control UserInput" type="text" style="width: 400px; border-radius: 29px; height: 40px;">
                        }
                        else
                        {
                            <input data-templatekey="1192" class="form-control UserInput" value="@FormValues.Where(x => x.AnswerTemplateKey == int.Parse("1192")).Select(x => x.AnswerInstanceFileExtensionName).FirstOrDefault()" type="text" style="width: 400px; border-radius: 29px; height: 40px;">

                        }

                        <div class="EmptyMessage">
                            الرجاء تعبئة الفراغ
                        </div>
                    </div>
                    <div>
                        <h3 id="_442" class="text-right part-6 questionans Reapeat" style="text-align:right;display:block">
                            هل يتم تطبيق نظام الأرشفة الالكترونية؟
                            <span class="small"></span>
                        </h3>

                    </div>
                    <div style="display:block;padding-bottom: 20px" class="part-6 questionans Reapeat" data-toggle="buttons">
                        @if (ViewBag.formInstanceKey == "")
                        {
                            <label class="btn btn-default-outline" data-colorcode="" data-chekNextQuestions="442">
                                <input data-templatekey="1194" type="radio" name="radio_442" class="mt-radio">
                                نعم
                            </label>
                            <label class="btn btn-default-outline" data-colorcode="" data-chekNextQuestions="442">
                                <input data-templatekey="1193" type="radio" name="radio_442" class="mt-radio">
                                لا
                            </label>

                        }
                        else
                        {
                            if (ViewBag.Staus == "OPSaved" && User.IsInRole("ADManager"))
                            {
                                var na3am = FormValues.Where(x => x.AnswerTemplateKey == int.Parse("1193") || x.AnswerTemplateKey == int.Parse("1194")).Select(x => x.AnswerValue).FirstOrDefault().Contains("نعم") ? "active" : "";
                                var la = FormValues.Where(x => x.AnswerTemplateKey == int.Parse("1193") || x.AnswerTemplateKey == int.Parse("1194")).Select(x => x.AnswerValue).FirstOrDefault().Contains("لا") ? "active" : "";

                                var na3amChecked = FormValues.Where(x => x.AnswerTemplateKey == int.Parse("1193") || x.AnswerTemplateKey == int.Parse("1194")).Select(x => x.AnswerValue).FirstOrDefault().Contains("نعم") ? "checked" : "";
                                var laChecked = FormValues.Where(x => x.AnswerTemplateKey == int.Parse("1193") || x.AnswerTemplateKey == int.Parse("1194")).Select(x => x.AnswerValue).FirstOrDefault().Contains("لا") ? "checked" : "";

                                <label class="btn btn-default-outline @na3am" data-colorcode="" data-chekNextQuestions="442">
                                    <input data-templatekey="1194" type="radio" name="radio_442" class="mt-radio" @na3amChecked>
                                    نعم
                                </label>
                                <label class="btn btn-default-outline @la" data-colorcode="" data-chekNextQuestions="442">
                                    <input data-templatekey="1193" type="radio" name="radio_442" class="mt-radio" @laChecked>
                                    لا
                                </label>
                             
                            }
                            else
                            {
                                <label class="btn btn-default-outline" data-colorcode="">
                                    <input type="radio" name="radio_431" class="mt-radio">
                                    @FormValues.Where(x => x.AnswerTemplateKey == int.Parse("1193") || x.AnswerTemplateKey == int.Parse("1194")).Select(x => x.AnswerValue).FirstOrDefault()
                                </label>
                            }

                        }


                        <div class="EmptyMessage">
                            الرجاء تعبئة الفراغ
                        </div>
                    </div>
                    <div>
                        <h3 id="_443" class="text-right part-7 questionans Reapeat" style="text-align:right;display:block">
                            حدد مكان تطبيقه:
                            <span class="small"></span>
                        </h3>

                    </div>
                    <div style="display:block;padding-bottom: 20px;margin-left: 3%;" class="part-7 questionans Reapeat">
                        @if (ViewBag.formInstanceKey == "")
                        {
                            <input data-templatekey="1195" class="form-control UserInput 442" type="text" style="width: 400px; border-radius: 29px; height: 40px;">
                        }
                        else
                        {
                            <input data-templatekey="1195" class="form-control UserInput" value="@FormValues.Where(x => x.AnswerTemplateKey == int.Parse("1195")).Select(x => x.AnswerInstanceFileExtensionName).FirstOrDefault()" type="text" style="width: 400px; border-radius: 29px; height: 40px;">
                        }
                        <div class="EmptyMessage">
                            الرجاء تعبئة الفراغ
                        </div>
                    </div>
                    <div>
                        <h3 id="_444" class="text-right part-7 questionans Reapeat" style="text-align:right;display:block">
                            حدد نوع البرنامج:
                            <span class="small"></span>
                        </h3>

                    </div>
                    <div style="display:block;padding-bottom: 20px;margin-left: 3%;" class="part-7 questionans Reapeat">
                        @if (ViewBag.formInstanceKey == "")
                        {
                            <input data-templatekey="1196" class="form-control UserInput 442" type="text" style="width: 400px; border-radius: 29px; height: 40px;">
                        }
                        else
                        {
                            <input data-templatekey="1196" class="form-control UserInput" value="@FormValues.Where(x => x.AnswerTemplateKey == int.Parse("1196")).Select(x => x.AnswerInstanceFileExtensionName).FirstOrDefault()" type="text" style="width: 400px; border-radius: 29px; height: 40px;">
                        }
                        <div class="EmptyMessage">
                            الرجاء تعبئة الفراغ
                        </div>
                    </div>
                    <div>
                        <h3 id="_445" class="text-right part-8 questionans Reapeat" style="text-align:right;display:block">
                            تاريخ إصداره:
                            <span class="small"></span>
                        </h3>

                    </div>
                    <div style="display:block;padding-bottom: 20px;margin-left:3%;" class="part-8 questionans">
                        @if (ViewBag.formInstanceKey == "")
                        {
                            <div class="input-group date datetimepicker" id="datetimepicker" style="direction:ltr">
                                <input data-templatekey="1197" style="z-index:0" class="form-control 442">
                                <span class="input-group-addon">
                                    <i class="fa fa-calendar" aria-hidden="true"></i>
                                </span>
                            </div>
                        }
                        else
                        {
                            <input data-templatekey="1197" class="form-control UserInput" value="@FormValues.Where(x => x.AnswerTemplateKey == int.Parse("1197")).Select(x => x.AnswerInstanceFileExtensionName).FirstOrDefault()" type="text" style="width: 400px; border-radius: 29px; height: 40px;">
                        }
                        <div class="EmptyMessage">
                            الرجاء تعبئة الفراغ
                        </div>
                    </div>
                    <div>
                        <h3 id="_446" class="text-right part-8 questionans Reapeat" style="text-align:right;display:block">
                            مزاياه:
                            <span class="small"></span>
                        </h3>

                    </div>
                    <div style="display:block;padding-bottom: 20px;margin-left: 3%;" class="part-8 questionans Reapeat">
                        @if (ViewBag.formInstanceKey == "")
                        {
                            <input data-templatekey="1198" class="form-control UserInput 442" type="text" style="width: 400px; border-radius: 29px; height: 40px;">
                        }
                        else
                        {
                            <input data-templatekey="1198" class="form-control UserInput" value="@FormValues.Where(x => x.AnswerTemplateKey == int.Parse("1198")).Select(x => x.AnswerInstanceFileExtensionName).FirstOrDefault()" type="text" style="width: 400px; border-radius: 29px; height: 40px;">
                        }
                        <div class="EmptyMessage">
                            الرجاء تعبئة الفراغ
                        </div>
                    </div>
                    <div>
                        <h3 id="_447" class="text-right part-9 questionans Reapeat" style="text-align:right;display:block">
                            عيوبه:
                            <span class="small"></span>
                        </h3>

                    </div>
                    <div style="display:block;padding-bottom: 20px;margin-left: 3%;" class="part-9 questionans Reapeat">
                        @if (ViewBag.formInstanceKey == "")
                        {
                            <input data-templatekey="1199" class="form-control UserInput 442" type="text" style="width: 400px; border-radius: 29px; height: 40px;">
                        }
                        else
                        {
                            <input data-templatekey="1199" class="form-control UserInput" value="@FormValues.Where(x => x.AnswerTemplateKey == int.Parse("1199")).Select(x => x.AnswerInstanceFileExtensionName).FirstOrDefault()" type="text" style="width: 400px; border-radius: 29px; height: 40px;">
                        }
                        <div class="EmptyMessage">
                            الرجاء تعبئة الفراغ
                        </div>
                    </div>


                </div>


                @if (ViewBag.formInstanceKey == "" || (ViewBag.Staus == "OPSaved" && User.IsInRole("ADManager")))
                {
                    <div class="row" style="text-align:center">
                        <button type="button" id="submitClaimForm" class="btn btn-icon btn-primary  margin-inline" style="width:20%;border-radius:.25rem !important">
                            <i class="fa fa-upload" aria-hidden="true"></i>
                            [تقديم]
                        </button>
                    </div>
                }
            </div>





        </div>

        <br>


    </div>


    <script>
        $('.dropify').dropify();
        $("label").click(function () {

            $(this).parent().find("label").removeClass("active");
            $(this).parent().find("label").css("background-color", "");



            //$(this).css("background-color","white");
            var color = $(this).attr("data-colorCode");
            var chekNextQuestions = $(this).attr("data-chekNextQuestions");
            var disabled = "";

            ////disable and enable dropify
            if ($(this)[0].innerText == "نعم") {
                $(this).parent().next().next().find(".dropify").removeAttr("disabled");
                $(this).parent().next().next().find(".dropify-wrapper").removeClass("disabled");
                disabled = false;
            }
            if ($(this)[0].innerText == "لا") {
                $(this).parent().next().next().find(".dropify").prop("disabled", true);
                $(this).parent().next().next().find(".dropify-wrapper").addClass("disabled");
                disabled = true;
            }

            if (color != null) {
                $(this).css("background-color", color);
            }

            if (chekNextQuestions != null && chekNextQuestions != "") {
                console.log("chekNextQuestions==" + chekNextQuestions);
                //var chekNextQuestionsJson = JSON.parse(chekNextQuestions);

                // $.each(chekNextQuestionsJson, function (index, value) {

                $("." + chekNextQuestions).attr("disabled", disabled);


                //});
            }





        });

        $('input').each(function (index, element) {
            if ($(this).val() == 'Freetext') {

                $(this).val('');
            }




        });

        var FormKey = "";
        var AnswerTemplateKey = [];
        var table;
        $(document).ready(function () {


            $("#repeatedQuestionTable").DataTable();

            table = $("#repeatedQuestionTable").DataTable();

            $(".select2").select2();
            $(".userinput").css("width", "400px");
            $(".userinput").css("border-radius", "29px");
            $(".userinput").css("height", "40px");
            $(".fileupload").css("width", "313%");
            $(".fileupload").css("height", "100px");
            $(".fileupload").css("margin-left", "-312px");
            $(".fileupload").css("margin-top", "10px");

            $("input[type='radio']").addClass("mt-radio");
            $(".page-link-1").click();


            $(function () {
                var date = new Date();
                var currentMonth = date.getMonth();
                var currentDate = date.getDate();
                var currentYear = date.getFullYear();
                $('.datetimepicker').datetimepicker({
                    format: "DD-MM-YYYY",
                    widgetPositioning: {
                        horizontal: 'left'
                    },
                    icons: {
                        time: "fa fa-clock-o",
                        date: "fa fa-calendar",
                        up: "fa fa-arrow-up",
                        down: "fa fa-arrow-down",
                        previous: 'fa fa-chevron-left',
                        next: 'fa fa-chevron-right',
                    },
                    maxDate: new Date(currentYear, currentMonth, currentDate)

                });
            });
        });

        function deletechildren(childrenrow) {
            table
           .row($(childrenrow).parents('tr'))
           .remove()
           .draw();
        }


        var rowcounter = 2;
        $("#btnAddChild").click(function (e) {
            e.preventDefault();
            table.row.add([
              '<input data-index="' + rowcounter + '" data-templatekey="1188" type="text" dir="rtl" class="form-group inputanswer" placeholder="العمل " style="float:right;width:60%" />',
              '<input data-index="' + rowcounter + '" data-templatekey="1189" type="text" dir="rtl" class="form-group inputanswer" placeholder="وصف الإجراء " style="float:right;width:60%" />',
              '<input data-index="' + rowcounter + '" type="file" data-templatekey="1190"  class="dropify"  data-height="80" style="float:right;width:60%"/>',
              //'<input  data-index="' + rowcounter + '" data-templatekey="1190" type="text" dir="rtl" class="form-group inputanswer" placeholder="المسار التدفقي له " style="float:right;width:60%" />',
              '<input  data-index="' + rowcounter + '" data-templatekey="1191" type="text" dir="rtl" class="form-group inputanswer" placeholder="عدد العاملين " style="float:right;width:60%" />',
              '<a class="btn btn-info" style="background-color:#d82f2f" onclick="deletechildren(this)"><i class="fa fa-trash-o" aria-hidden="true"></i></a>',
            ]).draw(false);
            $('.dropify').dropify();
            rowcounter++;
        });



        $(document).on('click', "[id='submitClaimForm']", function () {
            waitingDialog.show(' !!!  جاري التحميل');

            var organisationKey = "";
            var names = {};
            $('input:radio').each(function () { // find unique names
                names[$(this).attr('name')] = true;
            });
            var count = 0;
            $.each(names, function () { // then count them
                count++;
            });

            var iputRequired = 0;
            $('.UserInput').each(function (index, element) {
                if ($(this).val() == '') {
                    iputRequired = 1;
                }

            });
            // if (iputRequired == 0 && $('input:radio:checked').length == count) {
            var answsers = "";
            $('input').each(function (index, element) {
                if (this.checked && $(this).val() != '') {
                    if ($(this).attr("data-templatekey") != undefined) {
                        answsers = { key: $(this).attr("data-templatekey"), Textvalue: "", type: "RadioCheckBox", Parent: "", Child: "", count: "" }
                        AnswerTemplateKey.push(answsers);
                    }
                }


                if ($(this).is('input:text')) {
                    if ($(this).attr("data-templatekey") != undefined && $(this).val() != "") {
                        if ($(this).attr("data-index") != undefined) {
                            answsers = { key: $(this).attr("data-templatekey"), Textvalue: $(this).val(), type: "Freetext", Index: $(this).attr("data-index"), Parent: "", Child: "", count: "" }
                            AnswerTemplateKey.push(answsers);
                        } else {
                            answsers = { key: $(this).attr("data-templatekey"), Textvalue: $(this).val(), type: "Freetext", Index: "", Parent: "", Child: "", count: "" }
                            AnswerTemplateKey.push(answsers);
                        }
                    }
                }

            });


            $('input').each(function (index, element) {
                if ($(this).is('input:file')) {

                    if ($(this)[0].files[0] != undefined) {
                        var files = $(this)[0].files;
                        for (i = 0 ; i < files.length ; i++) {
                            console.log(i);
                            console.log(files[i]);
                            var FilteType = files[i].type;
                            var FilteName = files[i].name;
                            var answerKey = $(this).attr("data-templatekey");
                            var index = $(this).attr("data-index");

                            var file = files[i];
                            var reader = new FileReader();

                            reader.readAsDataURL(file);
                            reader.onload = function () {

                                setTimeout(function () {
                                    answsers = { key: answerKey, Textvalue: "", type: FilteName, Index: index, Lines: "", Image: reader.result, Parent: "", Child: "", count: "" }
                                    AnswerTemplateKey.push(answsers);
                                }, 1000);
                            };
                        }
                    }
                    else {
                        
                        var answerKey = $(this).attr("data-templatekey");
                        var index = $(this).attr("data-index");
                        var fileContent = $(this).attr("data-fileContent");
                        var FilteName = $(this).attr("data-fileName");
                        answsers = { key: answerKey, Textvalue: "", type: FilteName, Index: index, Lines: "", Image: fileContent, Parent: "", Child: "", count: "" }
                        AnswerTemplateKey.push(answsers);

                    }




                }
            });
            var organisationKey = '@ViewBag.OrganisationKey';
                @if (User.IsInRole("Human Development Sector") || User.IsInRole("Administrative sector") || User.IsInRole("Economic sector") || User.IsInRole("Service sector") || User.IsInRole("OPManagerGroup5") || User.IsInRole("OPManagerGroup6") || User.IsInRole("OPManagerGroup7"))
            {
                <text>
          organisationKey=$("#OpOrgDropdown").val();
                </text>
            }
            console.log(AnswerTemplateKey);
           
            if ('@ViewBag.formInstanceKey' != "") {
                setTimeout(function () {

                    $.ajax({
                        url: '@Url.Action("DeleteAnswers", "ClaimForms")',
                        type: 'GET',
                        dataType: 'json',
                        cache: false,
                        data: {
                            idForm: '@ViewBag.formInstanceKey'
                        },
                        success: function (data) {
                            console.log(AnswerTemplateKey);
                            FormKey = data;
                            $.ajax({
                                url: '@Url.Action("AnswersByUser", "ClaimForms")',
                                type: 'POST',
                                dataType: 'json',
                                cache: false,
                                data: {
                                    formKey: '@ViewBag.formInstanceKey', answerTemplateKey: JSON.stringify(AnswerTemplateKey)
                                },
                                success: function (data) {
                                    $.ajax({
                                        url: '@Url.Action("SaveClaimForm", "ClaimForms")',
                                        type: 'GET',
                                        dataType: 'json',
                                        cache: false,
                                        data: {
                                            formKey: '@ViewBag.formInstanceKey'
                                        },
                                        success: function (data) {
                                               window.location = '@Url.Action("AdManagersClaims", "Home")/' + "?ClaimType=" + '@ViewBag.FormTemplateType';
                                        }
                                    });
                                }
                            });
                        }
                    });

                }, 2000);
            } else {
                setTimeout(function () {

                    $.ajax({
                        url: '@Url.Action("SubmitFormForUser", "ClaimForms")',
                        type: 'GET',
                        dataType: 'json',
                        cache: false,
                        data: {
                            trackingStatusKey: "1", formTemplateKey: '118', userKey: '@User.Identity.GetUserId()', organisationKey: organisationKey
                        },
                        success: function (data) {
                            FormKey = data;
                            $.ajax({
                                url: '@Url.Action("AnswersByUser", "ClaimForms")',
                                type: 'POST',
                                dataType: 'json',
                                cache: false,
                                data: {
                                    formKey: FormKey, answerTemplateKey: JSON.stringify(AnswerTemplateKey)
                                },
                                success: function (data) {
                                      @if (User.IsInRole("Human Development Sector") || User.IsInRole("Administrative sector") || User.IsInRole("Economic sector") || User.IsInRole("Service sector") || User.IsInRole("OPManagerGroup5") || User.IsInRole("OPManagerGroup6") || User.IsInRole("OPManagerGroup7"))
                                      {
                                          <text>
                                $.ajax({
                                    url: '@Url.Action("SaveOPForm", "ClaimForms")',
                                    type: 'GET',
                                    dataType: 'json',
                                    cache: false,
                                    data: {
                                        OpOrgKey: FormKey
                                    },
                                    success: function (data) {
                                        window.location = '@Url.Action("AdManagersClaims", "Home")/' + "?ClaimType=" + '@ViewBag.FormTemplateType';

                                    }
                                });
                                          </text>
                                      }else
                                      {
                                          <text>
                            $.ajax({
                                url: '@Url.Action("SaveClaimForm", "ClaimForms")',
                                type: 'GET',
                                dataType: 'json',
                                cache: false,
                                data: {
                                    formKey: FormKey
                                },
                                success: function (data) {

                                    window.location = '@Url.Action("AdManagersClaims", "Home")/' + "?ClaimType=" + '@ViewBag.FormTemplateType';

                                }
                            });
                                          </text>
                                      }

                                }
                            });
                        }
                    });

                }, 2000);
            }


            //} else {
            //    bootbox.alert("عليك المجاوبة على جميع الأسئلة ");
            //    iputRequired = 0;

            //}
        });



    </script>

</div>
