﻿@using Newtonsoft.Json
@using Microsoft.AspNet.Identity;
@using MoAD.WebApplication.DataObjects;
@using MoAD.DataObjects.EDMX;
@{
    Layout = "~/Views/Shared/_LayoutInitialPage.cshtml";
    var formTemplate = Model as List<MoAD.WebApplication.DataObjects.Question>;
    List<GetSavedForm_Result> FormValues = ViewBag.FormValues;
    List<SelectListItem> OpOrganisations = ViewData["OpOrganisations"] as List<SelectListItem>;
}
<style>
    .select2.select2-container {
        width: 80% !important;
    }

    table.dataTable thead .sorting_desc:after {
        display: none;
    }

    table.dataTable thead .sorting:before, table.dataTable thead .sorting:after, table.dataTable thead .sorting_asc:before, table.dataTable thead .sorting_asc:after, table.dataTable thead .sorting_desc:before, table.dataTable thead .sorting_desc:after, table.dataTable thead .sorting_asc_disabled:before, table.dataTable thead .sorting_asc_disabled:after, table.dataTable thead .sorting_desc_disabled:before, table.dataTable thead .sorting_desc_disabled:after {
        display: none !important;
    }

    th {
        text-align: center;
    }

    .dataTables_length, .dataTables_filter, .dataTables_info, .dataTables_paginate {
        display: none;
    }

    .modal-content {
        text-align: right;
    }
</style>

@if (User.IsInRole("Human Development Sector") || User.IsInRole("Administrative sector") || User.IsInRole("Economic sector") || User.IsInRole("Service sector") || User.IsInRole("OPManagerGroup5") || User.IsInRole("OPManagerGroup6") || User.IsInRole("OPManagerGroup7"))
{
    <div class="col-md-12" style="direction:rtl;text-align:right;">
        <div>
            <h3 class="text-right questionans" style="text-align:right;display:block">
                الجهة المراد تقديم الاستبانة عنها:
                <span class="small"></span>
            </h3>

        </div>
        <div style="display:block;padding-bottom: 20px;margin-left:3%;" class="questionans">
            @Html.DropDownList("Organisations", OpOrganisations, "الجهة العامة", new { @class = "form-group select2", @id = "OpOrgDropdown" })
        </div>
    </div>
}
<div class="row" style="text-align:center;padding-top:20px;padding-bottom:20px;">
    <h3>
        الشريحة الخامسة مدى الالتزام بتطبيق النظام الداخلي
    </h3>
</div>


<div id="example" style="background-color:white;min-height:600px;">
    <div class="row" style="border-bottom:2px solid">

        <div class="form-body pull-right" style="width:100%;">
            <div class="row pull-right" id="" style="width: 97%;margin-right:2%;">
                <div class="row" id="" style="float: right;width:100%;text-align:center;padding-top:10px">

                    @{
                        if (ViewBag.formInstanceKey == "")
                        {
                            <button class="btn blue" id="btnAddChildtable1" style="float: right;margin-top: 20px;margin-right: 8px;display:none">
                                <i class="fa fa-plus-square" aria-hidden="true"></i>
                            </button>
                        }
                    }

                    <h2 style="margin-bottom:0px">
                        مستوى المديريات
                    </h2>

                    <div style="float:right;margin-top: 21px;margin-right: 8px;width:100%;">
                        <table id="Tabel1" class="cell-border" cellspacing="0" width="100%" style="padding:10px;border:2px solid #e7ecf1">
                            <thead>
                                <tr>
                                    @{
                                        if (ViewBag.formInstanceKey == "")
                                        {
                                            // <td> حذف </td>
                                        }
                                    }
                                   @* <th style="border:2px solid #e7ecf1 !important" dir="rtl">ملاحظات</th>*@
                                    <th style="border:2px solid #e7ecf1 !important" dir="rtl">التباين في مهام معاون المدير</th>
                                    <th style="border:2px solid #e7ecf1 !important" dir="rtl"> معاون المدير</th>
                                    <th style="border:2px solid #e7ecf1 !important" dir="rtl"> التباين في مهام المدير</th>
                                    <th style="border:2px solid #e7ecf1 !important" dir="rtl"> صفة المدير</th>
                                    <th style="border:2px solid #e7ecf1 !important" dir="rtl">تبعية المدير</th>
                                    <th style="border:2px solid #e7ecf1 !important" dir="rtl"> مقارنة مهام المديرية مع النظام الداخلي</th>
                                    <th style="border:2px solid #e7ecf1 !important" dir="rtl"> اسم المديرية</th>

                                </tr>
                            </thead>
                            <tbody>
                                @{
                                    if (ViewBag.formInstanceKey == "")
                                    {
                                        <tr>
                                            @*<td>
                                                    <a class="btn btn-info" style="background-color:#d82f2f" onclick="deletechildren('Tabel1', this)">
                                                        <i class="fa fa-trash-o" aria-hidden="true"></i>
                                                    </a>
                                                </td>*@
                                            @*<td><input data-index="1" data-tableid="table1" data-templatekey="6486" type="text" dir="rtl" class="form-group answer" style="float:right;width:80%;height:31px" /></td>*@
                                            <td><select data-index="1" data-tableid="table1" type="text" dir="rtl" class="form-group select2 dropdownanswer" style="float:right"><option data-templatekey="6485">يوجد</option>@*<option data-templatekey="6484">لا يوجد</option>*@</select></td>
                                            <td><select data-index="1" data-tableid="table1" type="text" dir="rtl" class="form-group select2 dropdownanswer" style="float:right"><option data-templatekey="6483">تسمية</option>@*<option data-templatekey="6482">تكليف</option>*@@*<option data-templatekey="6481">ندب</option>*@@*<option data-templatekey="6480">لا يوجد</option>*@</select></td>
                                            <td><select data-index="1" data-tableid="table1" type="text" dir="rtl" class="form-group select2 dropdownanswer" style="float:right"><option data-templatekey="6479">يوجد</option>@*<option data-templatekey="6478">لا يوجد</option>*@</select></td>
                                            <td><select data-index="1" data-tableid="table1" type="text" dir="rtl" class="form-group select2 dropdownanswer" style="float:right;width:80%"><option data-templatekey="6477">تسمية</option>@*<option data-templatekey="6476">تكليف</option><option data-templatekey="6475">ندب</option>*@@*<option data-templatekey="6474">لا يوجد</option>*@</select></td>
                                            <td><select data-index="1" data-tableid="table1" type="text" dir="rtl" class="form-group select2 dropdownanswer" style="float:right;width:80%"><option data-templatekey="6473">مدير عام</option><option data-templatekey="6472">معاون مدير عام</option></select></td>
                                            <td><select data-index="1" data-tableid="table1" id="" type="text" dir="rtl" class="form-group select2 dropdownanswer" style="float:right;width:80%"><option data-templatekey="6471">نقص</option><option data-templatekey="6470">زيادة</option><option data-templatekey="6469">ازدواجية</option><option data-templatekey="6468">لا فرق</option></select></td>
                                            <td><input data-index="1" data-tableid="table1" data-templatekey="6467" type="text" dir="rtl" class="form-group answer" style="float:right;width:80%;height:31px" id="moudirya" /></td>
                                        </tr>
                                    }
                                    else
                                    {
                                        var table1values = FormValues.Where(x => x.AnswerInstanceFileExtensionHTMLCode == "table1").ToList();
                                        var rows = FormValues.Select(x => x.AnswerInstanceFileExtensionHTML).Distinct().ToList();

                                        foreach (var row in rows)
                                        {
                                            var rowvalues = table1values.Where(x => x.AnswerInstanceFileExtensionHTML == row).ToList();


                                            if (rowvalues.Count() > 0)
                                            {
                                                if (ViewBag.Staus == "OPSaved" && User.IsInRole("ADManager"))
                                                {
                                                    <tr>
                                                        <td><input data-index="@rowvalues.FirstOrDefault().AnswerInstanceFileExtensionHTML" data-tableid="table1" @*data-templatekey="6486"*@ type="text" dir="rtl" class="form-group answer" style="float:right;width:80%;height:31px" value="@rowvalues[7].AnswerInstanceFileExtensionName" /></td>
                                                        <td>
                                                            <select data-index="@rowvalues.FirstOrDefault().AnswerInstanceFileExtensionHTML" data-tableid="table1" type="text" dir="rtl" class="form-group select2 dropdownanswer" style="float:right">
                                                                @{
                                                                    var youjadSelected = rowvalues[6].AnswerInstanceFileExtensionName == "يوجد" ? "selected" : "";
                                                                    //var LaYoujadSelected = rowvalues[6].AnswerInstanceFileExtensionName == "لا يوجد" ? "selected" : "";
                                                                }
                                                                <option data-templatekey="6485" @youjadSelected>يوجد</option>
                                                               @* <option data-templatekey="6484" @LaYoujadSelected>لا يوجد</option>*@
                                                            </select>
                                                        </td>
                                                        <td>
                                                            <select data-index="@rowvalues.FirstOrDefault().AnswerInstanceFileExtensionHTML" data-tableid="table1" type="text" dir="rtl" class="form-group select2 dropdownanswer" style="float:right">
                                                                @{
                                                                    var selectedTasmya = rowvalues[5].AnswerInstanceFileExtensionName == "تسمية" ? "selected" : "";
                                                                  //  var selectedTaklif = rowvalues[5].AnswerInstanceFileExtensionName == "تكليف" ? "selected" : "";
                                                                  //  var selectedNadeb = rowvalues[5].AnswerInstanceFileExtensionName == "ندب" ? "selected" : "";
                                                                    //var selectedLaYoujad = rowvalues[5].AnswerInstanceFileExtensionName == "لا يوجد" ? "selected" : "";
                                                                }
                                                                <option data-templatekey="6483" @selectedTasmya>تسمية</option>
                                                                @*<option data-templatekey="6482" @selectedTaklif>تكليف</option>
                                                                <option data-templatekey="6481" @selectedNadeb>ندب</option>*@
                                                               @* <option data-templatekey="6480" @selectedLaYoujad>لا يوجد</option>*@
                                                            </select>
                                                        </td>
                                                        <td>
                                                            <select data-index="@rowvalues.FirstOrDefault().AnswerInstanceFileExtensionHTML" data-tableid="table1" type="text" dir="rtl" class="form-group select2 dropdownanswer" style="float:right">
                                                                @{
                                                                    var youjadSelected1 = rowvalues[4].AnswerInstanceFileExtensionName == "يوجد" ? "selected" : "";
                                                                    //var LaYoujadSelected1 = rowvalues[4].AnswerInstanceFileExtensionName == "لا يوجد" ? "selected" : "";
                                                                }
                                                                <option data-templatekey="6479" @youjadSelected1>يوجد</option>
                                                               @* <option data-templatekey="6478" @LaYoujadSelected1>لا يوجد</option>*@
                                                            </select>
                                                        </td>
                                                        <td>
                                                            <select data-index="@rowvalues.FirstOrDefault().AnswerInstanceFileExtensionHTML" data-tableid="table1" type="text" dir="rtl" class="form-group select2 dropdownanswer" style="float:right;width:80%">
                                                                @{
                                                                    var selectedTasmya1 = rowvalues[3].AnswerInstanceFileExtensionName == "تسمية" ? "selected" : "";
                                                                    //var selectedTaklif1 = rowvalues[3].AnswerInstanceFileExtensionName == "تكليف" ? "selected" : "";
                                                                    //var selectedNadeb1 = rowvalues[3].AnswerInstanceFileExtensionName == "ندب" ? "selected" : "";
                                                                    //var selectedLaYoujad1 = rowvalues[3].AnswerInstanceFileExtensionName == "لا يوجد" ? "selected" : "";
                                                                }
                                                                <option data-templatekey="6477" @selectedTasmya1>تسمية</option>
                                                                @*<option data-templatekey="6476" @selectedTaklif1>تكليف</option>
                                                                <option data-templatekey="6475" @selectedNadeb1>ندب</option>*@
                                                              @*  <option data-templatekey="6474" @selectedLaYoujad1>لا يوجد</option>*@
                                                            </select>
                                                        </td>
                                                        <td>
                                                            <select data-index="@rowvalues.FirstOrDefault().AnswerInstanceFileExtensionHTML" data-tableid="table1" type="text" dir="rtl" class="form-group select2 dropdownanswer" style="float:right;width:80%">
                                                                @{
                                                                    var moudir3am = rowvalues[2].AnswerInstanceFileExtensionName == "مدير عام" ? "selected" : "";
                                                                    var mou3awwnMoudir3am = rowvalues[2].AnswerInstanceFileExtensionName == "معاون مدير عام" ? "selected" : "";
                                                                }
                                                                <option data-templatekey="6473" @moudir3am>مدير عام</option>
                                                                <option data-templatekey="6472" @mou3awwnMoudir3am>معاون مدير عام</option>
                                                            </select>
                                                        </td>
                                                        <td>
                                                            <select data-index="@rowvalues.FirstOrDefault().AnswerInstanceFileExtensionHTML" data-tableid="table1" id="" type="text" dir="rtl" class="form-group select2 dropdownanswer" style="float:right;width:80%">
                                                                @{
                                                                    var nakes = rowvalues[1].AnswerInstanceFileExtensionName == "نقص" ? "selected" : "";
                                                                    var zyada = rowvalues[1].AnswerInstanceFileExtensionName == "زيادة" ? "selected" : "";
                                                                    var ezdiwajye = rowvalues[1].AnswerInstanceFileExtensionName == "ازدواجية" ? "selected" : "";
                                                                    var laFark = rowvalues[1].AnswerInstanceFileExtensionName == "لا فرق" ? "selected" : "";
                                                                }
                                                                <option data-templatekey="6471" @nakes>نقص</option>
                                                                <option data-templatekey="6470" @zyada>زيادة</option>
                                                                <option data-templatekey="6469" @ezdiwajye>ازدواجية</option>
                                                                <option data-templatekey="6468" @laFark>لا فرق</option>
                                                            </select>
                                                        </td>
                                                        <td><input data-index="@rowvalues.FirstOrDefault().AnswerInstanceFileExtensionHTML" data-tableid="table1" data-templatekey="6467" type="text" dir="rtl" class="form-group answer" style="float:right;width:80%;height:31px" id="moudirya" value="@rowvalues[0].AnswerInstanceFileExtensionName" /></td>
                                                    </tr>
                                                                    }
                                                                    else
                                                                    {
                                                                        <tr>
                                                                            <td style="text-align:center">@rowvalues[7].AnswerInstanceFileExtensionName</td>
                                                                            <td style="text-align:center">@rowvalues[6].AnswerInstanceFileExtensionName</td>
                                                                            <td style="text-align:center">@rowvalues[5].AnswerInstanceFileExtensionName</td>
                                                                            <td style="text-align:center">@rowvalues[4].AnswerInstanceFileExtensionName</td>
                                                                            <td style="text-align:center">@rowvalues[3].AnswerInstanceFileExtensionName</td>
                                                                            <td style="text-align:center">@rowvalues[2].AnswerInstanceFileExtensionName</td>
                                                                            <td style="text-align:center">@rowvalues[1].AnswerInstanceFileExtensionName</td>
                                                                            <td style="text-align:center">@rowvalues[0].AnswerInstanceFileExtensionName</td>
                                                                        </tr>
                                                                                }


                                                                            }

                                                                        }

                                                                    }

                                }

                            </tbody>
                        </table>

                    </div>

                </div>
            </div>
        </div>

    </div>


    <div class="row" style="border-bottom:2px solid">

        <div class="form-body pull-right" style="width:100%;">
            <div class="row pull-right" id="" style="width: 97%;margin-right:2%;">
                <div class="row" id="" style="float: right;width:100%;text-align:center;padding-top:10px">
                    @{
                        if (ViewBag.formInstanceKey == "")
                        {
                            <button class="btn blue" id="btnAddChildtable2" style="float: right;margin-top: 20px;margin-right: 8px;">
                                <i class="fa fa-plus-square" aria-hidden="true"></i>
                            </button>
                        }
                    }
                    <h2 style="margin-bottom:0px">
                        مستوى الدوائر
                    </h2>

                    <div style="float:right;margin-top: 21px;margin-right: 8px;width:100%;">

                        <table id="Tabel2" class="cell-border" cellspacing="0" width="100%" style="padding:10px;border:2px solid #e7ecf1">
                            <thead>
                                <tr>
                                    <th colspan="5" style="border:2px solid #e7ecf1 !important"></th>
                                    <th colspan="3" style="text-align:center;border:2px solid #e7ecf1 !important">عدد الدوائر</th>
                                    <th colspan="1" style="border:2px solid #e7ecf1 !important"></th>
                                </tr>
                                <tr>
                                    @{
                                        if (ViewBag.formInstanceKey == "")
                                        {
                                            <th style="border:2px solid #e7ecf1 !important">حذف</th>
                                        }
                                    }
                                   @* <th style="border:2px solid #e7ecf1 !important">ملاحظات</th>*@
                                    <th style="border:2px solid #e7ecf1 !important"> مقارنة مهام الدائرة مع النظام الداخلي</th>
                                    <th style="border:2px solid #e7ecf1 !important">وجود رئيس دائرة</th>
                                    <th style="border:2px solid #e7ecf1 !important">اسم الدوائر</th>
                                    <th style="border:2px solid #e7ecf1 !important">التباين</th>
                                    <th style="border:2px solid #e7ecf1 !important">الواقع</th>
                                    <th style="border:2px solid #e7ecf1 !important">نظام داخلي</th>
                                    <th style="border:2px solid #e7ecf1 !important">اسم المديرية</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    @{
                                        if (ViewBag.formInstanceKey == "")
                                        {
                                            <td>
                                                <a class="btn btn-info" style="background-color:#d82f2f" onclick="deletechildren('Tabel2', this)">
                                                    <i class="fa fa-trash-o" aria-hidden="true"></i>
                                                </a>
                                            </td>
                                           // <td><input data-index="1" data-tableid="table2" @*data-templatekey="6496"*@ type="text" dir="rtl" class="form-group answer" style="float:right;width:80%;height:31px" /></td>
                                            <td><select data-index="1" data-tableid="table2" type="text" dir="rtl" class="form-group select2 dropdownanswer" style="float:right;width:80%">@*<option data-templatekey="6500">لا يوجد اختلاف</option>*@<option data-templatekey="6499">نقص</option><option data-templatekey="6498">زيادة</option><option data-templatekey="6497">ازدواجية</option></select></td>
                                            <td><select data-index="1" data-tableid="table2" type="text" dir="rtl" class="form-group select2 dropdownanswer" style="float:right;width:80%"><option data-templatekey="6495">تسمية</option>@*<option data-templatekey="6494">تكليف</option><option data-templatekey="6493">ندب</option>*@@*<option data-templatekey="6492">لا يوجد</option>*@</select></td>
                                            <td><input data-index="1" data-tableid="table2" data-templatekey="6491" type="text" dir="rtl" class="form-group answer" style="float:right;width:80%;height:31px" /></td>
                                            <td><input data-index="1" data-tableid="table2" data-templatekey="6488" readonly type="text" dir="rtl" class="form-group answer" style="float:right;width:80%;height:31px" /></td>
                                            <td><input data-index="1" data-tableid="table2" data-templatekey="6489" type="number" dir="rtl" class="form-group answer wake3" style="float:right;width:80%;height:31px" /></td>
                                            <td><input data-index="1" data-tableid="table2" data-templatekey="6490" type="number" dir="rtl" class="form-group answer nizamda5ili" style="float:right;width:80%;height:31px" /></td>
                                            <td><input data-index="1" data-tableid="table2" data-templatekey="6487" type="text" dir="rtl" class="form-group answer moudirya" style="float:right;width:80%;height:31px" disabled /></td>
                                        }
                                        else
                                        {

                                            var table1values = FormValues.Where(x => x.AnswerInstanceFileExtensionHTMLCode == "table2").ToList();
                                            var rows = FormValues.Select(x => x.AnswerInstanceFileExtensionHTML).Distinct().ToList();

                                            foreach (var row in rows)
                                            {
                                                var rowvalues = table1values.Where(x => x.AnswerInstanceFileExtensionHTML == row).ToList();
                                                if (rowvalues.Count() > 0)
                                                {
                                                    if (ViewBag.Staus == "OPSaved" && User.IsInRole("ADManager"))
                                                    {
                                                    <tr>
                                                        <td><input data-index="@rowvalues.FirstOrDefault().AnswerInstanceFileExtensionHTML" data-tableid="table2" @*data-templatekey="6496"*@ type="text" dir="rtl" class="form-group answer" style="float:right;width:80%;height:31px" value="@rowvalues[7].AnswerInstanceFileExtensionName"/></td>
                                                        <td>
                                                        <select data-index="@rowvalues.FirstOrDefault().AnswerInstanceFileExtensionHTML" data-tableid="table2" type="text" dir="rtl" class="form-group select2 dropdownanswer" style="float:right;width:80%">
                                                            @{
                                                                //var LaYoujadEkhtilaf = rowvalues[6].AnswerInstanceFileExtensionName == "لا يوجد اختلاف" ? "selected" : "";
                                                                var nakes = rowvalues[6].AnswerInstanceFileExtensionName == "نقص" ? "selected" : "";
                                                                var ziade = rowvalues[6].AnswerInstanceFileExtensionName == "زيادة" ? "selected" : "";
                                                                var ezdiwajya = rowvalues[6].AnswerInstanceFileExtensionName == "ازدواجية" ? "selected" : "";
                                                            }
                                                      @*      <option data-templatekey="6500" @LaYoujadEkhtilaf>لا يوجد اختلاف</option>*@
                                                            <option data-templatekey="6499" @nakes>نقص</option>
                                                            <option data-templatekey="6498" @ziade>زيادة</option>
                                                            <option data-templatekey="6497" @ezdiwajya>ازدواجية</option>
                                                            </select>
                                                        </td>
                                                        <td>
                                                        <select data-index="@rowvalues.FirstOrDefault().AnswerInstanceFileExtensionHTML" data-tableid="table2" type="text" dir="rtl" class="form-group select2 dropdownanswer" style="float:right;width:80%">
                                                            @{
                                                                var table2Tasmya = rowvalues[5].AnswerInstanceFileExtensionName == "تسمية" ? "selected" : "";
                                                                //var table2Taklif = rowvalues[5].AnswerInstanceFileExtensionName == "تكليف" ? "selected" : "";
                                                                //var table2Nadeb = rowvalues[5].AnswerInstanceFileExtensionName == "ندب" ? "selected" : "";
                                                                //var table2Layoujad = rowvalues[5].AnswerInstanceFileExtensionName == "لا يوجد" ? "selected" : "";
                                                            }
                                                            <option data-templatekey="6495" @table2Tasmya>تسمية</option>
                                                            @*<option data-templatekey="6494" @table2Taklif>تكليف</option>
                                                            <option data-templatekey="6493" @table2Nadeb>ندب</option>*@
                                                          @*  <option data-templatekey="6492" @table2Layoujad>لا يوجد</option>*@
                                                            </select>
                                                        </td>
                                                        <td><input data-index="@rowvalues.FirstOrDefault().AnswerInstanceFileExtensionHTML" data-tableid="table2" data-templatekey="6491" type="text" dir="rtl" class="form-group answer" style="float:right;width:80%;height:31px" value="@rowvalues[4].AnswerInstanceFileExtensionName"/></td>
                                                        <td><input data-index="@rowvalues.FirstOrDefault().AnswerInstanceFileExtensionHTML" data-tableid="table2" data-templatekey="6488" readonly type="text" dir="rtl" class="form-group answer" style="float:right;width:80%;height:31px"  value="@rowvalues[1].AnswerInstanceFileExtensionName"/></td>
                                                        <td><input data-index="@rowvalues.FirstOrDefault().AnswerInstanceFileExtensionHTML" data-tableid="table2" data-templatekey="6489" type="number" dir="rtl" class="form-group answer wake3" style="float:right;width:80%;height:31px"  value="@rowvalues[2].AnswerInstanceFileExtensionName"/></td>
                                                        <td><input data-index="@rowvalues.FirstOrDefault().AnswerInstanceFileExtensionHTML" data-tableid="table2" data-templatekey="6490" type="number" dir="rtl" class="form-group answer nizamda5ili" style="float:right;width:80%;height:31px"  value="@rowvalues[3].AnswerInstanceFileExtensionName"/></td>
                                                        <td><input data-index="@rowvalues.FirstOrDefault().AnswerInstanceFileExtensionHTML" data-tableid="table2" data-templatekey="6487" type="text" dir="rtl" class="form-group answer moudirya" style="float:right;width:80%;height:31px" disabled  value="@rowvalues[0].AnswerInstanceFileExtensionName"/></td>
                                                      </tr>
                                                        }
                                                        else
                                                        {
<tr>
                                                        <td style="text-align:center">@rowvalues[7].AnswerInstanceFileExtensionName</td>
                                                        <td style="text-align:center">@rowvalues[6].AnswerInstanceFileExtensionName</td>
                                                        <td style="text-align:center">@rowvalues[5].AnswerInstanceFileExtensionName</td>
                                                        <td style="text-align:center">@rowvalues[4].AnswerInstanceFileExtensionName</td>
                                                        <td style="text-align:center">@rowvalues[1].AnswerInstanceFileExtensionName</td>
                                                        <td style="text-align:center">@rowvalues[2].AnswerInstanceFileExtensionName</td>
                                                        <td style="text-align:center">@rowvalues[3].AnswerInstanceFileExtensionName</td>
                                                        <td style="text-align:center">@rowvalues[0].AnswerInstanceFileExtensionName</td>
                                                    </tr>
                                                    }
                                                }
                                            }

                                        }
                                    }
                                </tbody>
                            </table>

                        </div>

                    </div>
                </div>
            </div>

        </div>


        <div class="row" style="border-bottom:2px solid">

            <div class="form-body pull-right" style="width:100%;">
                <div class="row pull-right" id="" style="width: 97%;margin-right:2%;">
                    <div class="row" id="" style="float: right;width:100%;text-align:center;padding-top:10px">
                        @{
                            if (ViewBag.formInstanceKey == "")
                            {
                                <button class="btn blue" id="btnAddChildtable3" style="float: right;margin-top: 20px;margin-right: 8px;">
                                    <i class="fa fa-plus-square" aria-hidden="true"></i>
                                </button>
                            }
                        }

                        <h2 style="margin-bottom:0px">
                            مستوى الشعب
                        </h2>

                        <div style="float:right;margin-top: 21px;margin-right: 8px;width:100%;">

                            <table id="Tabel3" class="cell-border" cellspacing="0" width="100%" style="padding:10px;border:2px solid #e7ecf1">
                                <thead>

                                    <tr>
                                        <th colspan="5" style="border:2px solid #e7ecf1 !important"></th>
                                        <th colspan="3" style="text-align:center;border:2px solid #e7ecf1 !important">عدد الشعب</th>
                                        <th colspan="2" style="border:2px solid #e7ecf1 !important"></th>
                                    </tr>
                                    <tr>
                                        @{
                                            if (ViewBag.formInstanceKey == "")
                                            {
                                                <th style="border:2px solid #e7ecf1 !important">حذف</th>
                                            }
                                        }

                                      @*  <th style="border:2px solid #e7ecf1 !important">ملاحظات</th>*@
                                        <th style="border:2px solid #e7ecf1 !important"> مقارنة مهام الشعبة مع النظام الداخلي</th>
                                        <th style="border:2px solid #e7ecf1 !important">وجود رئيس شعبة</th>
                                        <th style="border:2px solid #e7ecf1 !important">اسم الشعبة</th>
                                        <th style="border:2px solid #e7ecf1 !important">التباين</th>
                                        <th style="border:2px solid #e7ecf1 !important">تنظيمياً</th>
                                        <th style="border:2px solid #e7ecf1 !important">الواقع</th>
                                        <th style="border:2px solid #e7ecf1 !important">اسم الدائرة</th>
                                        <th style="border:2px solid #e7ecf1 !important">اسم المديرية</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
    @{
        if (ViewBag.formInstanceKey == "")
        {
            <td>
                <a class="btn btn-info" style="background-color:#d82f2f" onclick="deletechildren('Tabel3', this)">
                    <i class="fa fa-trash-o" aria-hidden="true"></i>
                </a>
            </td>
                                               // <td><input data-index="1" data-tableid="table3" data-templatekey="6515" type="text" dir="rtl" class="form-group answer" style="float:right;width:80%;height:31px" /></td>
                                                <td><select data-index="1" data-tableid="table3" type="text" dir="rtl" class="form-group select2 dropdownanswer" style="float:right;width:80%">@*<option data-templatekey="6514">لا يوجد اختلاف</option>*@<option data-templatekey="6513">نقص</option><option data-templatekey="6512">زيادة</option><option data-templatekey="6511">ازدواجية</option></select></td>
                                                <td><select data-index="1" data-tableid="table3" type="text" dir="rtl" class="form-group select2 dropdownanswer" style="float:right;width:80%"><option data-templatekey="6510">تسمية</option>@*<option data-templatekey="6509">تكليف</option><option data-templatekey="6508">ندب</option>*@@*<option data-templatekey="6507">لا يوجد</option>*@</select></td>
                                                <td><input data-index="1" data-tableid="table3" data-templatekey="6506" type="text" dir="rtl" class="form-group answer" style="float:right;width:80%;height:31px" /></td>
                                                <td><input data-index="1" data-tableid="table3" data-templatekey="6503" readonly type="text" dir="rtl" class="form-group answer" style="float:right;width:80%;height:31px" /></td>
                                                <td><input data-index="1" data-tableid="table3" data-templatekey="6504" type="number" dir="rtl" class="form-group answer wake3" style="float:right;width:80%;height:31px" /></td>
                                                <td><input data-index="1" data-tableid="table3" data-templatekey="6505" type="number" dir="rtl" class="form-group answer nizamda5ili" style="float:right;width:80%;height:31px" /></td>
                                                <td><input data-index="1" data-tableid="table3" data-templatekey="6502" type="text" dir="rtl" class="form-group answer" style="float:right;width:80%;height:31px" /></td>
                                                <td><input data-index="1" data-tableid="table3" data-templatekey="6501" type="text" dir="rtl" class="form-group answer moudirya" style="float:right;width:80%;height:31px" disabled /></td>
        }
        else
        {
            var table1values = FormValues.Where(x => x.AnswerInstanceFileExtensionHTMLCode == "table3").ToList();
            var rows = FormValues.Select(x => x.AnswerInstanceFileExtensionHTML).Distinct().ToList();

            foreach (var row in rows)
            {
                var rowvalues = table1values.Where(x => x.AnswerInstanceFileExtensionHTML == row).ToList();

                if (rowvalues.Count() > 0)
                {
                    if (ViewBag.Staus == "OPSaved" && User.IsInRole("ADManager"))
                    {
                        <tr>
                            <td><input data-index="@rowvalues.FirstOrDefault().AnswerInstanceFileExtensionHTML" data-tableid="table3" @*data-templatekey="6515"*@ type="text" dir="rtl" class="form-group answer" style="float:right;width:80%;height:31px" value="@rowvalues[8].AnswerInstanceFileExtensionName"/></td>
                            <td>
                            <select data-index="@rowvalues.FirstOrDefault().AnswerInstanceFileExtensionHTML" data-tableid="table3" type="text" dir="rtl" class="form-group select2 dropdownanswer" style="float:right;width:80%">
                                @{
                                    //var table3LaYoujadEkhtilaf = rowvalues[7].AnswerInstanceFileExtensionName == "لا يوجد اختلاف" ? "selected" : "";
                                    var table3Nakes = rowvalues[7].AnswerInstanceFileExtensionName == "نقص" ? "selected" : "";
                                    var table3ziade = rowvalues[7].AnswerInstanceFileExtensionName == "زيادة" ? "selected" : "";
                                    var table3Ezdiwajye = rowvalues[7].AnswerInstanceFileExtensionName == "ازدواجية" ? "selected" : "";
                                }
                                @* <option data-templatekey="6514" @table3LaYoujadEkhtilaf>لا يوجد اختلاف</option>*@
                                <option data-templatekey="6513" @table3Nakes>نقص</option>
                                <option data-templatekey="6512" @table3ziade>زيادة</option>
                                <option data-templatekey="6511" @table3Ezdiwajye>ازدواجية</option>
                                </select>
                            </td>
                            <td>
                            <select data-index="@rowvalues.FirstOrDefault().AnswerInstanceFileExtensionHTML" data-tableid="table3" type="text" dir="rtl" class="form-group select2 dropdownanswer" style="float:right;width:80%">
                                @{
                                    var table3Tasmya = rowvalues[6].AnswerInstanceFileExtensionName == "تسمية" ? "selected" : "";
                                    //var table3Taklif = rowvalues[6].AnswerInstanceFileExtensionName == "تكليف" ? "selected" : "";
                                    //var table3Nadeb = rowvalues[6].AnswerInstanceFileExtensionName == "ندب" ? "selected" : "";
                                    //var table3LaYoujad = rowvalues[5].AnswerInstanceFileExtensionName == "لا يوجد" ? "selected" : "";
                                }
                                 <option data-templatekey="6510" @table3Tasmya>تسمية</option>
                                @*<option data-templatekey="6509" @table3Taklif>تكليف</option>
                                <option data-templatekey="6508" @table3Nadeb>ندب</option>*@
                            @*    <option data-templatekey="6507" @table3LaYoujad>لا يوجد</option>*@
                                </select>
                            </td>
                            <td><input data-index="@rowvalues.FirstOrDefault().AnswerInstanceFileExtensionHTML" data-tableid="table3" data-templatekey="6506" type="text" dir="rtl" class="form-group answer" style="float:right;width:80%;height:31px" value="@rowvalues[1].AnswerInstanceFileExtensionName"/></td>
                            <td><input data-index="@rowvalues.FirstOrDefault().AnswerInstanceFileExtensionHTML" data-tableid="table3" data-templatekey="6503" readonly type="text" dir="rtl" class="form-group answer" style="float:right;width:80%;height:31px" value="@rowvalues[2].AnswerInstanceFileExtensionName"/></td>
                            <td><input data-index="@rowvalues.FirstOrDefault().AnswerInstanceFileExtensionHTML" data-tableid="table3" data-templatekey="6504" type="number" dir="rtl" class="form-group answer wake3" style="float:right;width:80%;height:31px" value="@rowvalues[3].AnswerInstanceFileExtensionName"/></td>
                            <td><input data-index="@rowvalues.FirstOrDefault().AnswerInstanceFileExtensionHTML" data-tableid="table3" data-templatekey="6505" type="number" dir="rtl" class="form-group answer nizamda5ili" style="float:right;width:80%;height:31px" value="@rowvalues[4].AnswerInstanceFileExtensionName"/></td>
                            <td><input data-index="@rowvalues.FirstOrDefault().AnswerInstanceFileExtensionHTML" data-tableid="table3" data-templatekey="6502" type="text" dir="rtl" class="form-group answer" style="float:right;width:80%;height:31px" value="@rowvalues[1].AnswerInstanceFileExtensionName"/></td>
                            <td><input data-index="@rowvalues.FirstOrDefault().AnswerInstanceFileExtensionHTML" data-tableid="table3" data-templatekey="6501" type="text" dir="rtl" class="form-group answer moudirya" style="float:right;width:80%;height:31px" disabled value="@rowvalues[0].AnswerInstanceFileExtensionName"/></td>
                        </tr>
                   }
                    else
                    {
                    <tr>
                        <td style="text-align:center">@rowvalues[8].AnswerInstanceFileExtensionName</td>
                        <td style="text-align:center">@rowvalues[7].AnswerInstanceFileExtensionName</td>
                        <td style="text-align:center">@rowvalues[6].AnswerInstanceFileExtensionName</td>
                        <td style="text-align:center">@rowvalues[5].AnswerInstanceFileExtensionName</td>
                        <td style="text-align:center">@rowvalues[2].AnswerInstanceFileExtensionName</td>
                        <td style="text-align:center">@rowvalues[3].AnswerInstanceFileExtensionName</td>
                        <td style="text-align:center">@rowvalues[4].AnswerInstanceFileExtensionName</td>
                        <td style="text-align:center">@rowvalues[1].AnswerInstanceFileExtensionName</td>
                        <td style="text-align:center">@rowvalues[0].AnswerInstanceFileExtensionName</td>
                    </tr>
                    }
                }


            }
        }

    }


                                    </tbody>
                                </table>

                            </div>

                        </div>
                    </div>
                </div>

            </div>
        </div>

        @if (ViewBag.formInstanceKey == "" || (ViewBag.Staus == "OPSaved" && User.IsInRole("ADManager")))
        {
            <div class="row" style="text-align:center;padding-top:20px;padding-bottom:20px">
                <button type="button" id="uploadform" class="btn btn-icon btn-primary  margin-inline" style="width:20%;border-radius:.25rem !important">
                    <i class="fa fa-upload" aria-hidden="true"></i>
                    [تحميل]
                </button>
            </div>
        }
        <script>
            $(".select2").select2({
            });
            var Tabel1;
            var Tabel2;
            var Tabel3;
            $(document).ready(function () {
                $('#Tabel1').DataTable({

                    "sScrollX": "100%",
                    "bScrollCollapse": true,
                    "paging": false
                });

                $('#Tabel2').DataTable({
                    "sScrollX": "100%",
                    "bScrollCollapse": true,
                    "paging": false
                });

                $('#Tabel3').DataTable({
                    "sScrollX": "100%",
                    "bScrollCollapse": true,
                    "paging": false
                });

                Tabel3 = $("#Tabel3").DataTable();
                Tabel1 = $("#formtable").DataTable();
                Tabel2 = $("#Tabel2").DataTable();
                $(".dataTables_length").css("display", "none")
                $(".dataTables_filter").css("display", "none")
                $(".dataTables_info").css("display", "none")
                $(".dataTables_paginate").css("display", "none")
                $(".select2").select2({});
            });

            $("#moudirya").keyup(function () {
                var MoudiryaName = $(this).val();

                setTimeout(function () {
                    $(".moudirya").val(MoudiryaName);

                }, 3000);
            });

            function deletechildren(tableid, childrenrow) {
                $("#" + tableid).DataTable()
               .row($(childrenrow).parents('tr'))
               .remove()
               .draw();
            }
            var table1counter = 2;
            $("#btnAddChildtable1").click(function () {
                var tableId = "'Tabel1'";
                $("#Tabel1").DataTable().row.add([
                '<a class="btn btn-info" style="background-color:#d82f2f" onclick="deletechildren(' + tableId + ', this)"><i class="fa fa-trash-o" aria-hidden="true"></i></a>',
                '<input data-index="' + table1counter + '" data-tableid="table1" data-templatekey="6486" type="text" dir="rtl" class="form-group answer" style="float:right;width:80%;height:31px" />',
                '<select  data-index="' + table1counter + '" data-tableid="table1" data-templatekey="" id="" type="text" dir="rtl" class="form-group select2 dropdownanswer" style="float:right"><option  data-templatekey="6485">يوجد</option>/*<option  data-templatekey="6484">لا يوجد</option>*/</select>',
                '<select  data-index="' + table1counter + '" data-tableid="table1" data-templatekey="" id="" type="text" dir="rtl" class="form-group select2 dropdownanswer" style="float:right"><option data-templatekey="6483">تسمية</option><option  data-templatekey="6482">تكليف</option><option  data-templatekey="6481">ندب</option><option  data-templatekey="6480">لا يوجد</option></select>',
                '<select  data-index="' + table1counter + '" data-tableid="table1" data-templatekey="" id="" type="text" dir="rtl" class="form-group select2 dropdownanswer" style="float:right"><option data-templatekey="6479">يوجد</option>/*<option data-templatekey="6478">لا يوجد</option>*/</select>',
                '<select  data-index="' + table1counter + '" data-tableid="table1" data-templatekey="" id="" type="text" dir="rtl" class="form-group select2 dropdownanswer" style="float:right;width:80%"><option data-templatekey="6477">تسمية</option><option data-templatekey="6476">تكليف</option><option data-templatekey="6475">ندب</option><option data-templatekey="6474">لا يوجد</option></select>',
                '<select  data-index="' + table1counter + '" data-tableid="table1" data-templatekey="" id="" type="text" dir="rtl" class="form-group select2 dropdownanswer" style="float:right;width:80%"><option data-templatekey="6473">مدير عام</option><option data-templatekey="6472">معاون مدير عام</option></select>',
                '<select  data-index="' + table1counter + '" data-tableid="table1"  id="" type="text" dir="rtl" class="form-group select2 dropdownanswer" style="float:right;width:80%"><option data-templatekey="6471">نقص</option><option  data-templatekey="6470">زيادة</option><option data-templatekey="6469">ازدواجية</option><option data-templatekey="6468">لا فرق</option></select>',
                '<input  data-index="' + table1counter + '" data-tableid="table1" data-templatekey="6467" type="text" dir="rtl" class="form-group answer" style="float:right;width:80%;height:31px" />',
                ]).draw(false);
                $(".select2").select2({
                });

                table1counter++;
            });
            var table2counter = 2;


            $("#btnAddChildtable2").click(function () {
                var tableId = "'Tabel2'";
                $("#Tabel2").DataTable().row.add([
                '<a class="btn btn-info" style="background-color:#d82f2f" onclick="deletechildren(' + tableId + ', this)"><i class="fa fa-trash-o" aria-hidden="true"></i></a>',
                '<input data-index="' + table2counter + '" data-tableid="table2" data-templatekey="6496" type="text" dir="rtl" class="form-group answer" style="float:right;width:80%;height:31px" />',
                '<select data-index="' + table2counter + '"  data-tableid="table2" data-templatekey="" id="" type="text" dir="rtl" class="form-group select2 dropdownanswer" style="float:right;width:80%">/*<option  data-templatekey="6500">لا يوجد اختلاف</option>*/<option  data-templatekey="6499">نقص</option><option  data-templatekey="6498">زيادة</option><option  data-templatekey="6497">ازدواجية</option></select>',
                '<select data-index="' + table2counter + '" data-tableid="table2"id="" type="text" dir="rtl" class="form-group select2 dropdownanswer" style="float:right;width:80%"><option  data-templatekey="6495">تسمية</option><option  data-templatekey="6494">تكليف</option><option  data-templatekey="6493">ندب</option>/*<option  data-templatekey="6492">لا يوجد</option>*/</select>',
                '<input data-index="' + table2counter + '" data-tableid="table2" data-templatekey="6491" type="text" dir="rtl" class="form-group answer" style="float:right;width:80%;height:31px" />',
                '<input data-index="' + table2counter + '" data-tableid="table2" data-templatekey="6488" readonly type="text" dir="rtl" class="form-group answer" style="float:right;width:80%;height:31px" />',
                '<input data-index="' + table2counter + '" data-tableid="table2" data-templatekey="6489" type="number" dir="rtl" class="form-group answer wake3" style="float:right;width:80%;height:31px" />',
                '<input data-index="' + table2counter + '" data-tableid="table2" data-templatekey="6490" type="number" dir="rtl" class="form-group answer nizamda5ili" style="float:right;width:80%;height:31px" />',
                '<input data-index="' + table2counter + '" data-tableid="table2" data-templatekey="6487" type="text" dir="rtl" class="form-group answer moudirya" style="float:right;width:80%;height:31px" disabled/>',
                ]).draw(false);
                $(".select2").select2({
                });
                var MOudiryaName = $("#moudirya").val();
                $(".moudirya").val(MOudiryaName);
                table2counter++;
            });


            var tabl3counter = 2;

            $("#btnAddChildtable3").click(function () {
                var tableId = "'Tabel3'";
                $("#Tabel3").DataTable().row.add([
                '<a class="btn btn-info" style="background-color:#d82f2f" onclick="deletechildren(' + tableId + ', this)"><i class="fa fa-trash-o" aria-hidden="true"></i></a>',
                '<input data-index="' + tabl3counter + '"  data-tableid="table3" data-templatekey="6515" type="text" dir="rtl" class="form-group answer" style="float:right;width:80%;height:31px" />',
                '<select data-index="' + tabl3counter + '" data-tableid="table3"  id="" type="text" dir="rtl" class="form-group select2 dropdownanswer" style="float:right;width:80%">/*<option data-templatekey="6514">لا يوجد اختلاف</option>*/<option data-templatekey="6513">نقص</option><option data-templatekey="6512">زيادة</option><option data-templatekey="6511">ازدواجية</option></select>',
                '<select data-index="' + tabl3counter + '" data-tableid="table3"  id="" type="text" dir="rtl" class="form-group select2 dropdownanswer" style="float:right;width:80%"><option  data-templatekey="6510">تسمية</option><option data-templatekey="6509">تكليف</option><option data-templatekey="6508">ندب</option></select>',
                '<input data-index="' + tabl3counter + '"  data-tableid="table3" data-templatekey="6506" type="text" dir="rtl" class="form-group answer" style="float:right;width:80%;height:31px" />',
                '<input data-index="' + tabl3counter + '"  data-tableid="table3" data-templatekey="6503" readonly type="text" dir="rtl" class="form-group answer" style="float:right;width:80%;height:31px" />',
                '<input data-index="' + tabl3counter + '"  data-tableid="table3" data-templatekey="6504" type="number" dir="rtl" class="form-group answer wake3" style="float:right;width:80%;height:31px" />',
                '<input data-index="' + tabl3counter + '"  data-tableid="table3" data-templatekey="6505" type="number" dir="rtl" class="form-group answer nizamda5ili" style="float:right;width:80%;height:31px" />',
                '<input data-index="' + tabl3counter + '"  data-tableid="table3" data-templatekey="6502" type="text" dir="rtl" class="form-group answer" style="float:right;width:80%;height:31px" />',
                '<input data-index="' + tabl3counter + '"  data-tableid="table3" data-templatekey="6501" type="text" dir="rtl" class="form-group answer moudirya" style="float:right;width:80%;height:31px" disabled/>',

                ]).draw(false);
                $(".select2").select2({
                });
                var MOudiryaName = $("#moudirya").val();
                $(".moudirya").val(MOudiryaName);
                tabl3counter++;
            });




            $(document).on('keyup', '.nizamda5ili', function () {
                var nizamda5ili = $(this).val();
                var wake3 = $(this).closest('td').prev('td').find('input').val()
                $(this).closest('td').prev('td').prev('td').find('input').val(Number(nizamda5ili) - Number(wake3));
            });

            $(document).on('keyup', '.wake3', function () {
                var wake3 = $(this).val();
                var nizamda5ili = $(this).closest('td').next('td').find('input').val()
                $(this).closest('td').prev('td').find('input').val(Number(nizamda5ili) - Number(wake3));
            });

            var AnswerTemplateKey = [];
            var FormKey;
            $(document).on('click', '#uploadform', function (event) {


                waitingDialog.show(' !!!  جاري التحميل');
                var answsers = "";


                $('input').each(function (index, element) {
                    if ($(this).attr("data-templatekey") != undefined) {
                        answsers = { key: $(this).attr("data-templatekey"), Textvalue: $(this).val(), type: "Freetext", Index: $(this).attr("data-index"), Lines: $(this).attr("data-tableid"), Parent: "", Child: "", count: "" }
                        AnswerTemplateKey.push(answsers);
                    }
                });
                $('option:selected').each(function () {
                    if ($(this).attr("data-templatekey") != undefined) {
                        answsers = { key: $(this).attr("data-templatekey"), Textvalue: $(this).val(), type: "DropDown", Index: $(this).parent().attr("data-index"), Lines: $(this).parent().attr("data-tableid"), Parent: "", Child: "", count: "" }
                        AnswerTemplateKey.push(answsers);
                    }
                });
                var organisationKey = '@ViewBag.OrganisationKey';
                @if (User.IsInRole("Human Development Sector") || User.IsInRole("Administrative sector") || User.IsInRole("Economic sector") || User.IsInRole("Service sector") || User.IsInRole("OPManagerGroup5") || User.IsInRole("OPManagerGroup6") || User.IsInRole("OPManagerGroup7"))
                {
                    <text>
                organisationKey = $("#OpOrgDropdown").val();
                </text>
                }

                if (organisationKey == "") {
                    return;
                }

                console.log(AnswerTemplateKey);
        
                if ('@ViewBag.formInstanceKey' != "") {
                    setTimeout(function () {

                        $.ajax({
                            url: '@Url.Action("DeleteAnswers", "ClaimForms")',
                            type: 'GET',
                            dataType: 'json',
                            cache: false,
                            data: {
                                idForm: '@ViewBag.formInstanceKey'
                            },
                            success: function (data) {
                                console.log(AnswerTemplateKey);
                                FormKey = data;
                                $.ajax({
                                    url: '@Url.Action("AnswersByUser", "ClaimForms")',
                                    type: 'POST',
                                    dataType: 'json',
                                    cache: false,
                                    data: {
                                        formKey: '@ViewBag.formInstanceKey', answerTemplateKey: JSON.stringify(AnswerTemplateKey)
                                    },
                                    success: function (data) {
                                        $.ajax({
                                            url: '@Url.Action("SaveClaimForm", "ClaimForms")',
                                            type: 'GET',
                                            dataType: 'json',
                                            cache: false,
                                            data: {
                                                formKey: '@ViewBag.formInstanceKey'
                                            },
                                            success: function (data) {
                                                var Title = $("#title").text();
                                                var test = "تعبئة إستمارة";
                                                var message = test + " " + Title;
                                                SetLog(Title.split(":", 1), Title.split(":", 1), message);
                                                window.location = '@Url.Action("AdManagersClaims", "Home")/' + "?ClaimType=" + '@ViewBag.FormTemplateType';

                                            }
                                        });
                                    }
                                });
                            }
                        });

                    }, 2000);
                } else {
                    $.ajax({
                        url: '@Url.Action("SubmitFormForUser", "ClaimForms")',
                        type: 'GET',
                        dataType: 'json',
                        cache: false,
                        data: {
                            trackingStatusKey: "1", formTemplateKey: "162", userKey: "@User.Identity.GetUserId()", organisationKey: organisationKey
                        },
                        success: function (data) {
                            FormKey = data;
                            $.ajax({
                                url: '@Url.Action("AnswersByUser", "ClaimForms")',
                                type: 'POST',
                                dataType: 'json',
                                cache: false,
                                data: {
                                    formKey: FormKey, answerTemplateKey: JSON.stringify(AnswerTemplateKey)
                                },
                                success: function (data) {
                                    @if (User.IsInRole("Human Development Sector") || User.IsInRole("Administrative sector") || User.IsInRole("Economic sector") || User.IsInRole("Service sector") || User.IsInRole("OPManagerGroup5") || User.IsInRole("OPManagerGroup6") || User.IsInRole("OPManagerGroup7"))
                                    {
                                        <text>
                                    $.ajax({
                                        url: '@Url.Action("SaveOPForm", "ClaimForms")',
                                        type: 'GET',
                                        dataType: 'json',
                                        cache: false,
                                        data: {
                                            OpOrgKey: FormKey
                                        },
                                        success: function (data) {
                                            var Title = $("#title").text();
                                            var test = "تعبئة إستمارة";
                                            var message = test + " " + Title;
                                            SetLog(Title.split(":", 1), Title.split(":", 1), message);
                                            window.location = '@Url.Action("AdManagersClaims", "Home")/' + "?ClaimType=" + '@ViewBag.FormTemplateType';


                                        }
                                    });
                                    </text>
                                    }else
                                    {
                                        <text>
                                    $.ajax({
                                        url: '@Url.Action("SaveClaimForm", "ClaimForms")',
                                        type: 'GET',
                                        dataType: 'json',
                                        cache: false,
                                        data: {
                                            formKey: FormKey
                                        },
                                        success: function (data) {

                                            var Title = $("#title").text();
                                            var test = "تعبئة إستمارة";
                                            var message = test + " " + Title;
                                            SetLog(Title.split(":", 1), Title.split(":", 1), message);
                                            window.location = '@Url.Action("AdManagersClaims", "Home")/' + "?ClaimType=" + '@ViewBag.FormTemplateType';


                                        }
                                    });
                                    </text>
                                    }

                                }
                            });
                        }
                    });
                }

            });







        </script>