﻿@using Newtonsoft.Json
@using Microsoft.AspNet.Identity;
@using MoAD.WebApplication.DataObjects;

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutInitialPage.cshtml";
    var formTemplate = Model as List<Question>;

}

<style>
    .cubeheader {
        height: 80px;
        border: 1px solid;
    }

    .cubes {
        height: 80px;
        border: 1px solid;
    }

    .titles {
        padding-top: 20px;
    }
    #dropZone .sp-replacer{
        display:none;
        padding:2px;
    }
     #dropZone .sp-dd{
        display:none;
    }
      #dropZone .sp-preview{
margin-right:0px;
    }
     

    /*.sp-replacer {
        margin-right: 20px;
    }*/

    .bootbox-body {
        direction: rtl;
    }
    .spacenumber-5{
        display:none;
    }
    h4{
        font-size:1rem;
    }
     .modal-content{
        text-align:right;
    }
</style>


<div class="row" style="text-align:center;padding-top:20px;padding-bottom:20px;">
    <h3>
        الشريحة الأولى : جودة الهيكل التنظيمي ومدى ملاءمته لطبيعة العمل
    </h3>
</div>
<div id="example" style="background-color:white;min-height:1400px;">
    <div id="dropZone" class="col-md-12 col-lg-12 col-xs-12" style="margin-top:10px">


        <div class="row" style="">

            <div class="cubeheader col-lg-6" style="text-align:center">
                <div class="col-lg-2" style="height:100%">
@{     if (ViewBag.formInstanceKey == "")
    {
        <input id="tarikhe3timadah" data-templatekey="@formTemplate[1].Answers.FirstOrDefault().AnswerTemplateKey" type="text" class="form-control answers" style="margin-top:10px">
    }
    else
    {
        <input id="tarikhe3timadah" readonly data-templatekey="@formTemplate[1].Answers.FirstOrDefault().AnswerTemplateKey" type="text" class="form-control answers" style="margin-top:10px">

    }

}
                </div>
                <div class="col-lg-4 " style="height:100%;border-left:2px solid">
                    <h5 class="titles">
                        أخر تعديل طرأ عليه
                    </h5>
                </div>
                <div class="col-lg-3" style="height:100%;border-left:2px solid">
                    <div class="input-group date" id="datetimepicker" style="direction:ltr;margin-top:10px">
                        @{ if (ViewBag.formInstanceKey == "")
                            {
                                <input id="a5erta3dil" type="text" data-templatekey="@formTemplate[0].Answers.FirstOrDefault().AnswerTemplateKey" class="form-control answers">
                            }
                            else
                            {
                                <input id="a5erta3dil" readonly type="text" data-templatekey="@formTemplate[0].Answers.FirstOrDefault().AnswerTemplateKey" class="form-control answers">

                            }

                        }
                        <span class="input-group-addon">
                            <i class="fa fa-calendar" aria-hidden="true"></i>
                        </span>
                    </div>
                </div>
                <div class="col-lg-3" style="height:100%;border-left:2px solid">
                    <h5 class="titles">
                        تاريخ اعتماده
                    </h5>
                </div>

            </div>
            <div class="cubeheader col-lg-6" style="text-align:center">
                <h5 class="titles">
                    الهيكل التنظيمي
                </h5>
            </div>

        </div>




        <div class="row" style="height:80px;">

            <div class="row">
                <div class="col-lg-6">                 
                        <div class="cubes col-lg-12" style="text-align:center">
                            <h3 class="titles">
                                الجهات التابعة
                            </h3>                      
                        </div>                       
                </div>
                <div class="col-lg-6">
                    <div class="cubes col-lg-9" style="text-align:center" >
                        <h3 class="titles">
                            الادارة المركزية
                        </h3>
                    </div>
                    <div class="cubes col-lg-3" style="text-align:center">
                        <h3 class="titles">
                            المستويات الادارية
                        </h3>
                    </div>
                </div>

            </div>

        </div>





                @*<div class="cubeheader col-lg-5" style="text-align:center">

                <h3 class="titles">
                    الجهات التابعة
                </h3>
            </div>
            <div class="cubeheader col-lg-5" style="text-align:center">
                <h3 class="titles">
                    الادارة المركزية
                </h3>
            </div>
            <div class="cubeheader col-lg-2" style="text-align:center">
                <h3 class="titles">
                    المستويات الادارية
                </h3>
            </div>*@

           




        <div class="row" style="height:20px">
            <div class="col-lg-1"></div>
            <div class="col-lg-1"></div>
            <div class="col-lg-1"></div>
            <div class="col-lg-1"></div>
            <div class="col-lg-1"></div>
            <div class="col-lg-1"></div>
            <div class="col-lg-1"></div>
            <div class="col-lg-1"></div>
            <div class="col-lg-1"></div>
            <div class="col-lg-1"></div>
            <div class="col-lg-1"></div>
            <div class="col-lg-1"></div>
        </div>

        @{
                    string[] titles = new string[] { " مستوى الأول", "مستوى ثاني", "مستوى ثالث ", "مستوى رابع ", "مستوى خامس ", "مستوى سادس", "مستوى سابع", "مستوى ثامن", "مستوى تاسع", "مستوى عاشر " };

                    for (int i = 0; i <= 9; i++)
                    {
                        HtmlString display = i > 5 ? new HtmlString("display:none") : new HtmlString("");
                        if (ViewBag.formInstanceKey != "")
                        {
                            display = new HtmlString("display: block");
                        }


                <div class="row rownumber-@i" style="height:80px;@display">
                   
                        <div class="row">
                            <div class="col-lg-6">
                          @for (int j = 0; j < 12; j++)
                          {
                            <div id="col-@i-row-@j" data-templatekey="@formTemplate[i+2].Answers.FirstOrDefault().AnswerTemplateKey" class="cubes col-lg-1" ondrop="drop(event,this)" ondragover="allowDrop(event,this)">
                                <input type='text' class="cubecolor" style="display:none" />
                                <i class="fa fa-times closeCube" style="float:left;margin-top:10px;margin-right:5px;cursor:pointer;display:none"></i>
                            </div>
                          }
                            </div>
                            <div class="col-lg-6">
                                @for (int j = 12; j < 24; j++)
                                {

                                    <div id="col-@i-row-@j" data-templatekey="@formTemplate[i+2].Answers.FirstOrDefault().AnswerTemplateKey" class="cubes col-lg-1" ondrop="drop(event,this)" ondragover="allowDrop(event,this)">
                                        @if (j == 23)
                                        {
                                            <h4 class="titles" style="text-align:center">
                                                @titles[i]
                                            </h4>
                                        }
                                        else
                                        {
                                            <input type='text' class="cubecolor" style="display:none" />
                                            <i class="fa fa-times closeCube" style="float:left;margin-top:10px;margin-right:5px;cursor:pointer;display:none"></i>
                                        }

                                    </div>
                                }
                            </div>

                        </div>
                   
                </div>

                <div class="row spacenumber-@i" style="height:40px;@display">
                    <div class="col-lg-6">
                    </div>
                    <div class="col-lg-6">
                    </div>
                    </div>
               
            }

        }

    </div>


    @if (ViewBag.formInstanceKey == "")
            {
        <div class="row">
            <button class="btn blue" id="addrow" style="float: right;margin-top: 20px;margin-right: 8px;">
                إضافة  سطر   <i class="fa fa-plus-square" aria-hidden="true"></i>
            </button>
        </div>
      
        <div class="row" style="text-align:center;padding-top:20px;padding-bottom:20px">
            <button type="button" id="uploadform" class="btn btn-icon btn-primary  margin-inline" style="width:20%;border-radius:.25rem !important">
                <i class="fa fa-upload" aria-hidden="true"></i>
                [تحميل]
            </button>
        </div>
    }



</div>

<script src="@Url.Content("~/Content/jquery.line.js")"></script>
<script>

        var lines =[];
        var objecttodrag;
        var objecttodragparent;


        $(document).ready(function () {
            $(".cubecolor").spectrum({
                showPaletteOnly: true,
                togglePaletteOnly: true,
                color: 'blanchedalmond',
                hideAfterPaletteSelect: true,
                palette: [
                    ["#000", "#444", "#666", "#999", "#ccc", "#eee", "#f3f3f3", "#fff"],
                    ["#f00", "#f90", "#ff0", "#0f0", "#0ff", "#00f", "#90f", "#f0f"],
                    ["#f4cccc", "#fce5cd", "#fff2cc", "#d9ead3", "#d0e0e3", "#cfe2f3", "#d9d2e9", "#ead1dc"],
                    ["#ea9999", "#f9cb9c", "#ffe599", "#b6d7a8", "#a2c4c9", "#9fc5e8", "#b4a7d6", "#d5a6bd"],
                    ["#e06666", "#f6b26b", "#ffd966", "#93c47d", "#76a5af", "#6fa8dc", "#8e7cc3", "#c27ba0"],
                    ["#c00", "#e69138", "#f1c232", "#6aa84f", "#45818e", "#3d85c6", "#674ea7", "#a64d79"],
                    ["#900", "#b45f06", "#bf9000", "#38761d", "#134f5c", "#0b5394", "#351c75", "#741b47"],
                    ["#600", "#783f04", "#7f6000", "#274e13", "#0c343d", "#073763", "#20124d", "#4c1130"]
                ],
                change: function (color) {

                    console.log();

                    $(this).parent().css("background-color",color.toHexString());

                }
            });

            $(function () {
               
                var date = new Date();
                var currentMonth = date.getMonth();
                var currentDate = date.getDate();
                var currentYear = date.getFullYear();
                $('#datetimepicker').datetimepicker({
                    format: "DD-MM-YYYY",
                    widgetPositioning: {
                        horizontal: 'left',
                          
                           
                    },
                    icons: {
                        time: "fa fa-clock-o",
                        date: "fa fa-calendar",
                        up: "fa fa-arrow-up",
                        down: "fa fa-arrow-down",
                        previous: 'fa fa-chevron-left',
                        next: 'fa fa-chevron-right',
                    },
                    maxDate: new Date(currentYear, currentMonth, currentDate)
               
                });
            });
            $("#custom").spectrum({
                showPaletteOnly: true,
                togglePaletteOnly: true,
                color: 'blanchedalmond',
                hideAfterPaletteSelect: true,

                palette: [
                    ["#000", "#444", "#666", "#999", "#ccc", "#eee", "#f3f3f3", "#fff"],
                    ["#f00", "#f90", "#ff0", "#0f0", "#0ff", "#00f", "#90f", "#f0f"],
                    ["#f4cccc", "#fce5cd", "#fff2cc", "#d9ead3", "#d0e0e3", "#cfe2f3", "#d9d2e9", "#ead1dc"],
                    ["#ea9999", "#f9cb9c", "#ffe599", "#b6d7a8", "#a2c4c9", "#9fc5e8", "#b4a7d6", "#d5a6bd"],
                    ["#e06666", "#f6b26b", "#ffd966", "#93c47d", "#76a5af", "#6fa8dc", "#8e7cc3", "#c27ba0"],
                    ["#c00", "#e69138", "#f1c232", "#6aa84f", "#45818e", "#3d85c6", "#674ea7", "#a64d79"],
                    ["#900", "#b45f06", "#bf9000", "#38761d", "#134f5c", "#0b5394", "#351c75", "#741b47"],
                    ["#600", "#783f04", "#7f6000", "#274e13", "#0c343d", "#073763", "#20124d", "#4c1130"]
                ],
                change: function (color) {


                    var cubes = $(".cubeselected");
                    var $this = $(cubes[0]);
                    var offset1 = $this.offset();
                    var width1 = $this.width();
                    var height1 = $this.height();
                    var x1 = offset1.left + width1 / 2;
                    var y1 = offset1.top + height1 / 2;


                    var $this2 = $(cubes[1]);
                    var offset2 = $this2.offset();
                    var width2 = $this.width();
                    var height2 = $this.height();
                    var x2 = offset2.left + width2 / 2;
                    var y2 = offset2.top + height2 / 2;

                    if (y1 > y2) {
                        var y1 = offset1.top;
                        var y2 = offset2.top + height2;
                    }

                    if (y1 < y2) {
                        var y1 = offset1.top + height1;
                        var y2 = offset2.top;
                    }
                    if (y1 == y2) {
                        x1 = offset1.left + width1 + 20;
                        x2 = offset2.left;
                    }
                    console.log($this[0].id);

                    var linetype=$("input[name='linetype']:checked").val()
                    var classes = $this[0].id + " " + $this2[0].id +  " line " + color.toHexString() +" " + linetype

                    $('#example').line(x1, y1, x2, y2, { color: color.toHexString(), zindex: 1, style: linetype,class: classes, }, function () { console.log($(this)) });

                    $(".cubeselected").css("border-color", "black");
                    $(".cubeselected").removeClass("cubeselected");
                    $(".colorpciker").toggle("hide");
                  

                }
            });
        });

        function allowDrop(ev, div) {
            ev.preventDefault();
        }

        function drag(ev, element) {
            objecttodrag = $(element).attr("data-value");
            ev.dataTransfer.setData("text", ev.target.id);
        }
        function drop(ev, div) {
            ev.preventDefault();
            $(div).find(".closeCube").css("display", "inline-block");
            $(div).find(".sp-replacer").css("display", "inline-block");

            console.log(ev);


            var data = ev.dataTransfer.getData("text");

            console.log(ev.target.id);
            console.log(div);

            $("#" + ev.target.id).append(objecttodrag);
            $(div).css("background-color", "grey");


        }
        $(document).ready(function () {
            $(".drawtools").css("display", "block");
        });



        $(document).on('click', '.cubes', function () {

            if ($(this).hasClass("cubeselected")) {
                $(this).css("border-color", "black");
                $(this).removeClass("cubeselected");

            } else {
                $(this).css("border-color", "red");
                $(this).addClass("cubeselected");
            }
        });

        //drawlineofoki

        $(document).on('click', '#drawline', function () {

            var cubes = $(".cubeselected");
            console.log(cubes);

            if (cubes.length == 2) {
                $(".colorpciker").toggle("show");
            } else {
                bootbox.alert("يمكنك ربط فقط مربعين !")
            }

        });


        $(document).on('click', '.cubecolor', function (event) {
            event.stopPropagation();




        });
        $(document).on('click', '.closeCube', function (event) {
            event.stopPropagation();
            $(this).css("display", "none");
            $(this).parent().find(".sp-replacer").css("display", "none");
            $(this).parent().css("background-color", "white");

            $(".cubeselected").css("border-color", "black");
            $(".cubeselected").removeClass("cubeselected");
            $(this).parent().find(".itemtodrop").remove();

            console.log($(this).parent()[0].id);
            $("." + $(this).parent()[0].id).remove();
        });
        var AnswerTemplateKey = [];
        var FormKey;

        $(document).on('click', '#uploadform', function (event) {
            waitingDialog.show(' !!!  جاري التحميل');

            var answsers = "";
            var lines =[];
            $('.line').each(function (index, element) {
                $(this).removeClass("line")
                lines.push($(this)[0].className);
            });

            $('.itemtodrop').each(function (index, element) {
                answsers = { key: $(this).parent().attr("data-templatekey"), Textvalue: $(this).text(), type: "Freetext", Index: $(this).parent().attr("id") + "/" +$(this).parent().css("background-color"),Lines : lines, Parent:"",Child:"",count:""}
                AnswerTemplateKey.push(answsers);
            });

            $('.answers').each(function (index, element) {
                answsers = { key: $(this).attr("data-templatekey"), Textvalue: $(this).val(), type: "Freetext", Index: $(this).attr("id"),Lines : lines , Parent:"",Child:"",count:""}
                AnswerTemplateKey.push(answsers);
            });
            console.log(AnswerTemplateKey);

            $.ajax({
                url: '@Url.Action("SubmitFormForUser", "ClaimForms")',
                type: 'GET',
                dataType: 'json',
                cache: false,
                data: {
                    trackingStatusKey: "1", formTemplateKey: "137", userKey: "@User.Identity.GetUserId()", organisationKey: '@ViewBag.OrganisationKey'
                },
                success: function (data) {
                    FormKey = data;
                    $.ajax({
                        url: '@Url.Action("AnswersByUser", "ClaimForms")',
                        type: 'POST',
                        dataType: 'json',
                        cache: false,
                        data: {
                            formKey: FormKey, answerTemplateKey: JSON.stringify(AnswerTemplateKey)
                        },
                        success: function (data) {

                            $.ajax({
                                url: '@Url.Action("SaveClaimForm", "ClaimForms")',
                                type: 'GET',
                                dataType: 'json',
                                cache: false,
                                data: {
                                    formKey: FormKey
                                },
                                success: function (data) {


                                    source = "بناء هيكل تنظيمي";
                                    title = "بناء هيكل تنظيمي";
                    
                                    message = "بناء هيكل تنظيمي";
                                    SetLog(source, title, message);
                                    window.location = '@Url.Action("AdManagersClaims", "Home")/'+ "?ClaimType=" + '@ViewBag.FormTemplateType';

                                }
                            });
                        }
                    });
                }
            });
        });

        $(document).ready(function () {
            var counter=0;
             if ('@ViewBag.formInstanceKey' != "")
             {
                 $(".drawtools").css("display", "none");

                 var result= @Html.Raw(Json.Encode(ViewBag.FormValues));
                 var answers=result.Data;
                 $.each(answers, function (index, value) {
                     
                     if(counter==0)
                     {
                         var array = JSON.parse("[" + value.AnswerInstanceFileExtensionHTMLCode + "]");
                         $.each(array[0], function (index1, value1) {

                             var lines = value1.split(" ");
                             console.log(lines);
                             var $this = $("#" +lines[0]);
                             var offset1 = $this.offset();
                             var width1 = $this.width();
                             var height1 = $this.height();
                             var x1 = offset1.left + width1 / 2;
                             var y1 = offset1.top + height1 / 2;
                             var $this2 = $("#" +lines[1]);
                             var offset2 = $this2.offset();
                             var width2 = $this.width();
                             var height2 = $this.height();
                             var x2 = offset2.left + width2 / 2;
                             var y2 = offset2.top + height2 / 2;

                             if (y1 > y2) {
                                 var y1 = offset1.top;
                                 var y2 = offset2.top + height2;
                             }

                             if (y1 < y2) {
                                 var y1 = offset1.top + height1;
                                 var y2 = offset2.top;
                             }
                             if (y1 == y2) {
                                 x1 = offset1.left + width1 + 20;
                                 x2 = offset2.left;
                             }
                             $('#example').line(x1, y1, x2, y2, { color: lines[2], zindex: 1, style: lines[3], class: "line", }, function () { console.log($(this)) });
                         });
                         counter=1
                     }

                     if( value.AnswerInstanceFileExtensionHTML.indexOf('col') >= 0){
                         var cubes = value.AnswerInstanceFileExtensionHTML.split("/");

                         console.log(value.AnswerInstanceFileExtensionHTML);
                         var html ="<h2 dir='rtl' style='font-size:1rem;padding-top:8px'>";
                         html+=value.AnswerInstanceFileExtensionName;
                         html+="</h2>"
                         $("#"+ cubes[0]).append(html);
                         $("#"+ cubes[0]).css("background-color",cubes[1]);
                     }else{
                         $("#"+ value.AnswerInstanceFileExtensionHTML).val(value.AnswerInstanceFileExtensionName);
                     }

                 });
             }


            $("#dropZone").css("margin-top","25px");

        });

    var rownumber=6;
    $(document).on('click', '#addrow', function (event) {

        if(rownumber<10){
            $(".rownumber-"+rownumber).css("display","block");
            var spacerow=rownumber-1;
            $(".spacenumber-"+spacerow).css("display","block");
            rownumber++
        }



    });
</script>


