﻿@using Microsoft.AspNet.Identity;
@using MoAD.WebApplication.DataObjects;

@{

    Layout = "~/Views/Shared/_LayoutInitialPage.cshtml";
    var formTemplate = Model as List<Question>;
    List<SelectListItem> OpOrganisations = ViewData["OpOrganisations"] as List<SelectListItem>;
}

<link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/jquery.orgchart.css")">
<link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/styletest.css")">

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
</head>
<body>
    <div class="row" style="text-align:center;padding-top:20px;padding-bottom:20px;">
        <h3>
            الشريحة الأولى : جودة الهيكل التنظيمي ومدى ملاءمته لطبيعة العمل
        </h3>
    </div>

    <div class="row" style="">
        @if (User.IsInRole("Human Development Sector") || User.IsInRole("Administrative sector") || User.IsInRole("Economic sector") || User.IsInRole("Service sector") || User.IsInRole("OPManagerGroup5") || User.IsInRole("OPManagerGroup6") || User.IsInRole("OPManagerGroup7"))
        {
          <div class="col-md-12" style="direction:rtl;text-align:right;">
              <div>
                  <h3 class="text-right questionans" style="text-align:right;display:block">
                      الجهة المراد تقديم الاستبانة عنها:
                      <span class="small"></span>
                  </h3>

              </div>
              <div style="display:block;padding-bottom: 20px;margin-left:3%;" class="questionans">
                  @Html.DropDownList("Organisations", OpOrganisations, "الجهة العامة", new { @class = "form-group select2", @id = "OpOrgDropdown" })
              </div>
          </div>
        }
        <div class="cubeheader col-lg-6" style="text-align:center">
            <div class="col-lg-2" style="height:100%">
                @{     if (ViewBag.formInstanceKey == "")
                    {
                        <input id="tarikhe3timadah" data-templatekey="@formTemplate[1].Answers.FirstOrDefault().AnswerTemplateKey" type="text" class="form-control answers" style="margin-top:10px" dir="rtl">
                    }
                    else
                    {
                        <input id="tarikhe3timadah" readonly data-templatekey="@formTemplate[1].Answers.FirstOrDefault().AnswerTemplateKey" type="text" class="form-control answers" style="margin-top:10px" dir="rtl">

                    }

                }
            </div>
            <div class="col-lg-4 " style="height:100%;">
                <h5 class="titles">
                    أخر تعديل طرأ عليه
                </h5>
            </div>
            <div class="col-lg-3" style="height:100%;">
                <div class="input-group date" id="datetimepicker" style="direction:ltr;margin-top:10px">
                    @{ if (ViewBag.formInstanceKey == "")
                        {
                            <input id="a5erta3dil" type="text" data-templatekey="@formTemplate[0].Answers.FirstOrDefault().AnswerTemplateKey" class="form-control answers" style="direction:rtl">
                        }
                        else
                        {
                            <input id="a5erta3dil" readonly type="text" data-templatekey="@formTemplate[0].Answers.FirstOrDefault().AnswerTemplateKey" class="form-control answers" style="direction:rtl">

                        }

                    }
                    <span class="input-group-addon">
                        <i class="fa fa-calendar" aria-hidden="true"></i>
                    </span>
                </div>
            </div>
            <div class="col-lg-3" style="height:100%;">
                <h5 class="titles">
                    تاريخ اعتماده
                </h5>
            </div>

        </div>


    </div>
    <div style="overflow-x:auto;" id="orgChart"></div>
    <div class="row" style="text-align:center;padding-top:20px;padding-bottom:20px">
        <button type="button" id="uploadform" class="btn btn-icon btn-primary  margin-inline" style="width:20%;border-radius:.25rem !important">
            <i class="fa fa-upload" aria-hidden="true"></i>
            [تحميل]
        </button>
    </div>

</body>
</html>

<script src="@Url.Content("~/Scripts/OrganisationCharts/jquery.orgchart.min.js")"></script>

<script src="@Url.Content("~/Scripts/OrganisationCharts/jquery.connectingLine.js")"></script>
<script src="@Url.Content("~/Scripts/OrganisationCharts/jquery-ui-1.10.4.custom.min.js")"></script>



<script>
    $("select").select2();
    var mySVG = $('#orgChart').connect();
    $(document).ready(function () {
        $(".drawtools").css("display", "block");
        $(".page-content").css("position", "absolute");
        $(".page-content").css("width", "90%");
        $(".page-content").css("background", "transparent");

    });
    var org_chart;

    if ('@ViewBag.formInstanceKey' == "")
    {
        var testData = [
            { id: 1, name: '@ViewBag.OrganisationName ', parent: 0 },
            { id: 2, name: 'مركز', parent: 1 },
            { id: 3, name: 'مركز', parent: 1 },
            { id: 4, name: 'مركز', parent: 1 },
            { id: 6, name: 'مركز', parent: 1 },
            { id: 7, name: 'مركز', parent: 1 },
            { id: 8, name: 'مركز', parent: 1 },
            { id: 5, name: 'مركز', parent: 3 },
        ];        }
    else
    {


        var result=@Html.Raw(Json.Encode(ViewBag.FormValues));
        var Data=result.Data;
        var text= Data[1].AnswerInstanceFileExtensionName;
        if(text=="Freetext")
            text="";

        $("#a5erta3dil").val(Data[0].AnswerInstanceFileExtensionName);
        $("#tarikhe3timadah").val(text);

        console.log(Data);

        var testData = JSON.parse(Data[2].AnswerInstanceFileExtensionqlParameters);
        var Lines=JSON.parse(Data[2].AnswerInstanceFileExtensionColumnValue);

        $.each(Lines, function (index, value) {

            mySVG.drawLine({
                left_node: value.left_node,
                right_node: value.right_node,
                horizantal_gap: value.horizantal_gap,
                error: value.error,
                width: value.width,
                color: value.color,
                type: value.type
            });

        });


        setTimeout(function(){  mySVG.redrawLines(); }, 5000);



    }

    //$(function(){

    //    org_chart = $('#orgChart').orgChart({

    //        data: testData, // your data

    //        showControls: true, // display add or remove node button.

    //        allowEdit: true, // click the node's title to edit

    //        //onAddNode: function(){},

    //        //onDeleteNode: function(){},

    //        onClickNode: function(node){},

    //        newNodeText: 'إضافة مركز' // text of add button

    //    });

    //});


    $(function () {
        org_chart = $('#orgChart').orgChart({
            data: testData,
            showControls: true,
            allowEdit: true,
            //onAddNode: function(node){
            //    // mySVG.redrawLines();
            //},
            //onDeleteNode: function(node){
            //    //  mySVG.redrawLines();
            //},
            onClickNode: function (node) {
                console.log('Clicked node ' + node.data.id);
            },
            newNodeText: 'إضافة مركز' // text of add button


        });
    });

    $("#orgChart").scroll(function () {
        mySVG.redrawLines();


    });






    function testing() {

        var koko =org_chart.getData();

    }


    $(document).on('click', '#drawline', function () {



        var cubes = $(".cubeselected");
        console.log(cubes);

        if (cubes.length == 2) {
            $(".colorpciker").toggle("show");
        } else {
            bootbox.alert("يمكنك ربط فقط مربعين !")
        }


    });

    $("#custom").spectrum({
        showPaletteOnly: true,
        togglePaletteOnly: true,
        color: 'blanchedalmond',
        hideAfterPaletteSelect: true,

        palette: [
            ["#000", "#444", "#666", "#999", "#ccc", "#eee", "#f3f3f3", "#fff"],
            ["#f00", "#f90", "#ff0", "#0f0", "#0ff", "#00f", "#90f", "#f0f"],
            ["#f4cccc", "#fce5cd", "#fff2cc", "#d9ead3", "#d0e0e3", "#cfe2f3", "#d9d2e9", "#ead1dc"],
            ["#ea9999", "#f9cb9c", "#ffe599", "#b6d7a8", "#a2c4c9", "#9fc5e8", "#b4a7d6", "#d5a6bd"],
            ["#e06666", "#f6b26b", "#ffd966", "#93c47d", "#76a5af", "#6fa8dc", "#8e7cc3", "#c27ba0"],
            ["#c00", "#e69138", "#f1c232", "#6aa84f", "#45818e", "#3d85c6", "#674ea7", "#a64d79"],
            ["#900", "#b45f06", "#bf9000", "#38761d", "#134f5c", "#0b5394", "#351c75", "#741b47"],
            ["#600", "#783f04", "#7f6000", "#274e13", "#0c343d", "#073763", "#20124d", "#4c1130"]
        ],
        change: function (color) {

            var cubes = $(".cubeselected");

            ;
            var dashed = "";

            var linetype = $("input[name='linetype']:checked").val()

            if (linetype == "solid")
            {
                dashed = [0, 0];
            }

            if (linetype =="dashed") {
                dashed = [4, 2];
            }






            mySVG.drawLine({
                left_node: '#'+ cubes[0].id,
                right_node: '#' + cubes[1].id,
                horizantal_gap: 5,
                error: true,
                width: 1,
                color: color.toHexString(),
                type: dashed
            });


            $(".cubeselected").css("border-color", "#e7e7e7");
            $(".cubeselected").removeClass("cubeselected");
            $(".colorpciker").toggle("hide");

        }
    });

    $(document).on('click', '.node', function () {

        if ($(this).hasClass("cubeselected")) {
            $(this).css("border-color", "#e7e7e7");
            $(this).removeClass("cubeselected");

        } else {
            $(this).css("border-color", "red");
            $(this).addClass("cubeselected");
        }
    });

    $(function () {

        var date = new Date();
        var currentMonth = date.getMonth();
        var currentDate = date.getDate();
        var currentYear = date.getFullYear();
        $('#datetimepicker').datetimepicker({
            format: "DD-MM-YYYY",
            widgetPositioning: {
                horizontal: 'left',


            },
            icons: {
                time: "fa fa-clock-o",
                date: "fa fa-calendar",
                up: "fa fa-arrow-up",
                down: "fa fa-arrow-down",
                previous: 'fa fa-chevron-left',
                next: 'fa fa-chevron-right',
            },
            maxDate: new Date(currentYear, currentMonth, currentDate)

        });
    });


    $(document).on('click', '#uploadform', function (event) {
        var Nodes = org_chart.getData();
        console.log(Nodes);
        console.log(_lines);


        waitingDialog.show(' !!!  جاري التحميل');

        var answsers = "";
        var AnswerTemplateKey = [];
        var empty;

        $('.answers').each(function (index, element) {
            var textValue = $(this).val();

            answsers = { key: $(this).attr("data-templatekey"), Textvalue: textValue, type: "Freetext", Index: $(this).attr("id"), Lines: "", Parent: "", Child: "", count: "" }
            AnswerTemplateKey.push(answsers);
        });

        answsers = { key: "3021", Textvalue: "", type: "Freetext", Index: "", Lines: "", Parent: "", Child: JSON.stringify(Nodes), count: JSON.stringify(_lines) }
        AnswerTemplateKey.push(answsers);

        console.log(AnswerTemplateKey);
        //alert(_lines.length);

        //for(j=0;j<_lines.length;j++){
        //    for(i=0;i<_lines.length;i++){

        //        if(_lines[j].color!=lines.length[i])
        //        alert("gotu");
        //    }
        //}

        //$.each(_lines, function (index, value) {

        //    alert(value.color);

        //});
        // return;
        var organisationKey = '@ViewBag.OrganisationKey';

        @if (User.IsInRole("Human Development Sector") || User.IsInRole("Administrative sector") || User.IsInRole("Economic sector") || User.IsInRole("Service sector") || User.IsInRole("OPManagerGroup5") || User.IsInRole("OPManagerGroup6") || User.IsInRole("OPManagerGroup7"))
        {
            <text>
        organisationKey=$("#OpOrgDropdown").val();
        </text>
        }
        if ('@ViewBag.formInstanceKey' != "")
        {
            setTimeout(function() {

                $.ajax({
                    url: '@Url.Action("DeleteAnswers", "ClaimForms")',
                    type: 'GET',
                    dataType: 'json',
                    cache: false,
                    data: {
                        idForm: '@ViewBag.formInstanceKey'
                    },
                    success: function (data) {
                        console.log(AnswerTemplateKey);
                        FormKey = data;
                        $.ajax({
                            url: '@Url.Action("AnswersByUser", "ClaimForms")',
                            type: 'POST',
                            dataType: 'json',
                            cache: false,
                            data: {
                                formKey: '@ViewBag.formInstanceKey', answerTemplateKey: JSON.stringify(AnswerTemplateKey)
                            },
                            success: function (data) {
                                $.ajax({
                                    url: '@Url.Action("SaveClaimForm", "ClaimForms")',
                                    type: 'GET',
                                    dataType: 'json',
                                    cache: false,
                                    data: {
                                        formKey: '@ViewBag.formInstanceKey'
                                    },
                                    success: function (data) {
source = "بناء هيكل تنظيمي";
                                    title = "بناء هيكل تنظيمي";

                                    message = "بناء هيكل تنظيمي";
                                    SetLog(source, title, message);
                                    window.location = '@Url.Action("AdManagersClaims", "Home")/' + "?ClaimType=" + '@ViewBag.FormTemplateType';


                                    }
                                });
                            }
                        });
                    }
                });

            }, 2000);
        }else{
            $.ajax({
                url: '@Url.Action("SubmitFormForUser", "ClaimForms")',
                type: 'GET',
                dataType: 'json',
                cache: false,
                data: {
                    trackingStatusKey: "1", formTemplateKey: "137", userKey: "@User.Identity.GetUserId()", organisationKey: organisationKey
                },
                success: function (data) {
                    FormKey = data;
                    $.ajax({
                        url: '@Url.Action("AnswersByUser", "ClaimForms")',
                        type: 'POST',
                        dataType: 'json',
                        cache: false,
                        data: {
                            formKey: FormKey, answerTemplateKey: JSON.stringify(AnswerTemplateKey)
                        },
                        success: function (data) {
                            @if (User.IsInRole("Human Development Sector") || User.IsInRole("Administrative sector") || User.IsInRole("Economic sector") || User.IsInRole("Service sector") || User.IsInRole("OPManagerGroup5") || User.IsInRole("OPManagerGroup6") || User.IsInRole("OPManagerGroup7"))
                            {
                                <text>
                            $.ajax({
                                url: '@Url.Action("SaveOPForm", "ClaimForms")',
                                type: 'GET',
                                dataType: 'json',
                                cache: false,
                                data: {
                                    OpOrgKey: FormKey
                                },
                                success: function (data) {
                                    source = "بناء هيكل تنظيمي";
                                    title = "بناء هيكل تنظيمي";

                                    message = "بناء هيكل تنظيمي";
                                    SetLog(source, title, message);
                                    window.location = '@Url.Action("AdManagersClaims", "Home")/' + "?ClaimType=" + '@ViewBag.FormTemplateType';

                                }
                            });
                            </text>
                            }else
                            {
                                <text>
                            $.ajax({
                                url: '@Url.Action("SaveClaimForm", "ClaimForms")',
                                type: 'GET',
                                dataType: 'json',
                                cache: false,
                                data: {
                                    formKey: FormKey
                                },
                                success: function (data) {
                                    source = "بناء هيكل تنظيمي";
                                    title = "بناء هيكل تنظيمي";

                                    message = "بناء هيكل تنظيمي";
                                    SetLog(source, title, message);
                                    window.location = '@Url.Action("AdManagersClaims", "Home")/' + "?ClaimType=" + '@ViewBag.FormTemplateType';

                                }
                            });
                            </text>
                            }

                        }
                    });
                }
            });
        }


    });
</script>