﻿@using Newtonsoft.Json
@using Microsoft.AspNet.Identity;
@using MoAD.WebApplication.DataObjects;
@using MoAD.DataObjects.EDMX;
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutInitialPage.cshtml";
    var formTemplate = Model as List<MoAD.WebApplication.DataObjects.Question>;
    List<GetSavedForm_Result> FormValues = ViewBag.FormValues;
    List<SelectListItem> OpOrganisations = ViewData["OpOrganisations"] as List<SelectListItem>;
    if (ViewBag.formInstanceKey != "")
    {
        //FilteredFormValues = FormValues.OrderBy(x => Convert.ToInt32(x.AnswerInstanceFileExtensionHTML)).ToList();
    }
}
<style>
    .titles {
        text-align: right;
    }
    h5{
        font-size:1.1rem;
    }
     .modal-content{
        text-align:right;
    }
</style>

@if (User.IsInRole("Human Development Sector") || User.IsInRole("Administrative sector") || User.IsInRole("Economic sector") || User.IsInRole("Service sector") || User.IsInRole("OPManagerGroup5") || User.IsInRole("OPManagerGroup6") || User.IsInRole("OPManagerGroup7"))
{
    <div class="col-md-12" style="direction:rtl;text-align:right;">
        <div>
            <h3 class="text-right questionans" style="text-align:right;display:block">
                الجهة المراد تقديم الاستبانة عنها:
                <span class="small"></span>
            </h3>

        </div>
        <div style="display:block;padding-bottom: 20px;margin-left:3%;" class="questionans">
            @Html.DropDownList("Organisations", OpOrganisations, "الجهة العامة", new { @class = "form-group select2", @id = "OpOrgDropdown" })
        </div>
    </div>
}

<div class="row" style="text-align:center;padding-top:20px;padding-bottom:20px;">
    <h3>
        الشريحة الثانية: نظام داخلي محدث واضح من حيث توزيع المهام وتقسيم الوحدات التنظيمية
    </h3>
</div>

<div id="example" style="background-color:white;min-height:600px;">

    <div class="row" style="height:80px;border:2px solid">
        <div class="col-lg-3 col-md-3" style="float:right;padding-top:25px">
            <h5 class="titles" style="direction:rtl">
                اسم الوحدة التنظيمية بالمستوى الأول (إدارة – مديرية ...):
            </h5>
        </div>

        <div class="col-lg-2 col-md-2 col-sm-2" style="float:right;padding-top:20px">
             @{ 

                 if (ViewBag.formInstanceKey == "") {
                     <input id="esemwehdamoustawaawal" data-templatekey="@formTemplate[0].Answers.FirstOrDefault().AnswerTemplateKey" class="form-control inputanswer" type="text" dir="rtl" placeholder="أدخل إسم الوحدة التنظيمية ">
                 }
                 else
                 {
                     var wehdatanzimyamoustawa1 = FormValues.Where(x => x.AnswerInstanceFileExtensionHTML == "esemwehdamoustawaawal").ToList().FirstOrDefault();
                     var value = wehdatanzimyamoustawa1.AnswerInstanceFileExtensionName == "UserInput" ? string.Empty : wehdatanzimyamoustawa1.AnswerInstanceFileExtensionName;

                     if (ViewBag.Staus == "OPSaved" && User.IsInRole("ADManager"))
                     {
                        <input id="esemwehdamoustawaawal" data-templatekey="@formTemplate[0].Answers.FirstOrDefault().AnswerTemplateKey" class="form-control inputanswer"  type="text" dir="rtl" value="@value">
                     }
                     else
                     {
                        <input id="esemwehdamoustawaawal" data-templatekey="@formTemplate[0].Answers.FirstOrDefault().AnswerTemplateKey" class="form-control inputanswer" readonly type="text" dir="rtl" value="@value">
                     }
                 }
            }
        </div>

        <div class="col-lg-2 col-md-2  col-sm-2" style="float:right;padding-top:25px">
            <h5 class="titles" style="direction:rtl">
                هل توجد مهام للوحدة التنظيمية؟
            </h5>
        </div>
        <div class="col-lg-2 col-md-2  col-sm-2" style="float:right;padding-top:20px">
@{

    if (ViewBag.formInstanceKey == "")
    {
        <select id="mahammoustawaawal" data-templatekey="@formTemplate[1].Answers.FirstOrDefault().AnswerTemplateKey" dir="rtl" class="select2 dropdownanswer">
            <option>يوجد</option>
            <option>لا يوجد</option>
        </select>
    }
    else
    {
        var mahamwehdatanzimya1 = FormValues.Where(x => x.AnswerInstanceFileExtensionHTML == "mahammoustawaawal").ToList().FirstOrDefault();
        if (ViewBag.Staus == "OPSaved" && User.IsInRole("ADManager"))
        {
            <select id="mahammoustawaawal" data-templatekey="@formTemplate[1].Answers.FirstOrDefault().AnswerTemplateKey" dir="rtl" class="select2 dropdownanswer">
               @{ 
                   var youjad = mahamwehdatanzimya1.AnswerInstanceFileExtensionName == "يوجد" ? "selected" : "";
                   var layoujad = mahamwehdatanzimya1.AnswerInstanceFileExtensionName == "لا يوجد" ? "selected" : "";
               }
                 <option @youjad>يوجد</option>
                <option @layoujad>لا يوجد</option>
            </select>
                   }
                   else
                   {
            <input id="esemwehdamoustawaawal" data-templatekey="@formTemplate[1].Answers.FirstOrDefault().AnswerTemplateKey" class="form-control inputanswer" readonly type="text" dir="rtl" value="@mahamwehdatanzimya1.AnswerInstanceFileExtensionName">
        }
    }
}
          
        </div>

        <div class="col-lg-1 col-md-1  col-sm-1" style="float:right;padding-top:20px">
            <h5 class="titles" style="direction:rtl;padding-top:10px">
             اذكرالمهام  : 
            </h5>
        </div>

        <div class="col-lg-2 col-md-2  col-sm-2" style="float:right;padding-top:20px">
            @{  if (ViewBag.formInstanceKey == "")
                {
                    <input id="ezkouralmaham" data-templatekey="@formTemplate[2].Answers.FirstOrDefault().AnswerTemplateKey" class="form-control inputanswer" placeholder="المهام" type="text" dir="rtl" value="">
                }
                else
                {
                    var ezkouralmaham = FormValues.Where(x => x.AnswerInstanceFileExtensionHTML == "ezkouralmaham").ToList().FirstOrDefault();
                    var value = ezkouralmaham.AnswerInstanceFileExtensionName == "UserInput" ? string.Empty : ezkouralmaham.AnswerInstanceFileExtensionName;
                    if (ViewBag.Staus == "OPSaved" && User.IsInRole("ADManager"))
                    {
                        <input id="ezkouralmaham"  data-templatekey="@formTemplate[2].Answers.FirstOrDefault().AnswerTemplateKey" class="form-control inputanswer" placeholder="" type="text" dir="rtl" value="@value">
                    }
                    else
                    {
                        <input id="ezkouralmaham" readonly data-templatekey="@formTemplate[2].Answers.FirstOrDefault().AnswerTemplateKey" class="form-control inputanswer" placeholder="" type="text" dir="rtl" value="@value">

                    }
                }

            }
        </div>
    </div>

    <div class="row" style="border-bottom:2px solid">
        <div class="row" style="padding-top:10px">
            <h5 class="titles" style="direction:rtl;text-align:center">
                الوحدات التنظيمية بالمستوى الاداري الثاني (قسم _ دائرة.. )
            </h5>
        </div>
        <div class="form-body pull-right" style="width:100%;">
            <div class="row pull-right" id="" style="width: 97%;margin-right:2%;">
                <div class="row" id="" style="float: right;width:100%;">
                    @{     if (ViewBag.formInstanceKey == "")
                        {
                            <button class="btn blue" id="btnAddChild" style="float: right;margin-top: 20px;margin-right: 8px;">
                                <i class="fa fa-plus-square" aria-hidden="true"></i>
                            </button>
                        }
                    }
                   

                    <div style="float:right;margin-top: 21px;margin-right: 8px;width:50%;">


                        <table id="moustawasani" class="cell-border" cellspacing="0" width="100%" style="padding:10px;border:2px solid #e7ecf1">
                            <thead>
                                <tr>
                                    @{     if (ViewBag.formInstanceKey == "")
                                        {
                                            <td> حذف </td>
                                        }
                                    }
                                    <td dir="rtl">هل يوجد مهام؟</td>
                                    <td dir="rtl"> اسم الوحدة التنظيمية</td>
                                </tr>
                            </thead>

                            @{     if (ViewBag.formInstanceKey == "")
                                {
                                    <tbody>
                                        <tr>
                                            <td>
                                                <a class="btn btn-info" style="background-color:#d82f2f" onclick="deletechildren(this)">
                                                    <i class="fa fa-trash-o" aria-hidden="true"></i>
                                                </a>
                                            </td>
                                            <td>
                                                <select id="tab1-col2-row1" data-index="2" data-templatekey="@formTemplate[4].Answers.FirstOrDefault().AnswerTemplateKey" class="select2 dropdownanswer" tabindex="5" style="float:right;width:100%;direction:rtl">
                                                    <option>يوجد</option>
                                                    <option>لا يوجد</option>
                                                </select>
                                            </td>
                                            <td><input id="tab1-col1-row1" data-index="1" data-templatekey="@formTemplate[3].Answers.FirstOrDefault().AnswerTemplateKey" type="text" dir="rtl" class="form-group inputanswer" placeholder="أدخل إسم الوحدة التنظيمية " style="float:right" /></td>
                                        </tr>
                                    </tbody>
                                }
                                else
                                {
                                    var table1values = FormValues.Where(x => x.AnswerInstanceFileExtensionHTML.Contains("tab1")).ToList();
                                    //FilteredFormValues = FormValues.OrderBy(x => Convert.ToInt32(x.AnswerInstanceFileExtensionHTML)).ToList();

                                    var rownumber = table1values.Count / 2;
                                    var dropdowns = table1values.Where(x => x.AnswerInstanceFileExtensionType == "DropDown").OrderBy(x => Convert.ToInt32(x.AnswerInstanceFileExtensionHTMLCode)).ToList();
                                    var inputs = table1values.Where(x => x.AnswerInstanceFileExtensionType == "UserInput" || x.AnswerInstanceFileExtensionType == "").OrderBy(x => Convert.ToInt32(x.AnswerInstanceFileExtensionHTMLCode)).ToList();
                                    var j = 0;
                                    for (int i = 0; i < rownumber; i++)
                                    {
                                        if (ViewBag.Staus == "OPSaved" && User.IsInRole("ADManager"))
                                        {
                                            <tr>
                                                @for (int k = 0; k < 1; k++)
                                                {
                                                    var value = inputs[j].AnswerInstanceFileExtensionName == "UserInput" ? string.Empty : inputs[j].AnswerInstanceFileExtensionName;


                                                    <td>
                                                        <select id="@dropdowns[j].AnswerInstanceFileExtensionHTML" data-index="@dropdowns[j].AnswerInstanceFileExtensionHTMLCode" data-templatekey="@formTemplate[4].Answers.FirstOrDefault().AnswerTemplateKey" class="select2 dropdownanswer" tabindex="5" style="float:right;width:100%;direction:rtl">
                                                            @{
                                                                var youjadTAb1 = dropdowns[j].AnswerInstanceFileExtensionName == "يوجد" ? "selected" : "";
                                                                var layoujadTAb1 = dropdowns[j].AnswerInstanceFileExtensionName == "لا يوجد" ? "selected" : "";
                                                            }
                                                             <option @youjadTAb1>يوجد</option>
                                                            <option @layoujadTAb1>لا يوجد</option>
                                                        </select>
                                                    </td>
                                                    <td><input id="@inputs[j].AnswerInstanceFileExtensionHTML" data-index="@inputs[j].AnswerInstanceFileExtensionHTMLCode" value="@value" data-templatekey="@formTemplate[3].Answers.FirstOrDefault().AnswerTemplateKey" type="text" dir="rtl" class="form-group inputanswer" placeholder="أدخل إسم الوحدة التنظيمية " style="float:right" /></td>
                                                    j++;
                                                }
                                            </tr>                                        }
                                        else
                                        {
                                            <tr>
                                                @for (int k = 0; k < 1; k++)
                                                {
                                                    var value = inputs[j].AnswerInstanceFileExtensionName == "UserInput" ? string.Empty : inputs[j].AnswerInstanceFileExtensionName;


                                                    <td><input type="text" dir="rtl" value="@dropdowns[j].AnswerInstanceFileExtensionName" class="form-group inputanswer" style="float:right" readonly /></td>
                                                    <td><input type="text" dir="rtl" value="@value" class="form-group inputanswer" style="float:right" readonly /></td>
                                                    j++;
                                                }
                                            </tr>
                                        }

                                    }
                                }
                            }
</table>

                    </div>

                </div>
            </div>
        </div>

    </div>

    <div class="row" style="border-bottom:2px solid">
        <div class="row" style="padding-top:10px">
            <h5 class="titles" style="direction:rtl;text-align:center">
                الوحدات التنظيمية بالمستوى الاداري الثالث  (شعبة.. )
            </h5>
        </div>
        <div class="form-body pull-right" style="width:100%;">
            <div class="row pull-right" id="" style="width: 97%;margin-right:2%;">
                <div class="row" id="" style="float: right;width:100%;">

                    @{     if (ViewBag.formInstanceKey == "")
                        {
                            <button class="btn blue" id="btnAddChildtable2" style="float: right;margin-top: 20px;margin-right: 8px;">
                                <i class="fa fa-plus-square" aria-hidden="true"></i>
                            </button>
                        }
                    }



                    
                    <div style="float:right;margin-top: 21px;margin-right: 8px;width:50%;">


                        <table id="moustawasales" class="cell-border" cellspacing="0" width="100%" style="padding:10px;border:2px solid #e7ecf1">
                            <thead>
                                <tr>
                                    @{     if (ViewBag.formInstanceKey == "")
                                        {
                                            <td> حذف </td>
                                        }
                                    }
                                    <td dir="rtl">هل يوجد مهام؟</td>
                                    <td dir="rtl"> اسم الوحدة التنظيمية</td>
                                </tr>
                            </thead>
                            <tbody>
                                @{  if (ViewBag.formInstanceKey == "")
                                    {
                                        <tr>
                                            <td>
                                                <a class="btn btn-info" style="background-color:#d82f2f" onclick="deletechildrentable2(this)">
                                                    <i class="fa fa-trash-o" aria-hidden="true"></i>
                                                </a>
                                            </td>
                                            <td>
                                                <select id="tab2-col2-row1" data-index="2" data-templatekey="@formTemplate[6].Answers.FirstOrDefault().AnswerTemplateKey" class="select2 dropdownanswer" tabindex="5" style="float:right;width:100%;direction:rtl">
                                                    <option>يوجد</option>
                                                    <option>لا يوجد</option>
                                                </select>
                                            </td>
                                            <td><input id="tab2-col1-row1" data-index="1" data-templatekey="@formTemplate[5].Answers.FirstOrDefault().AnswerTemplateKey" type="text" dir="rtl" class="form-group inputanswer" placeholder="أدخل إسم الوحدة التنظيمية " style="float:right" /></td>
                                        </tr>
                                    }
                                    else
                                    {
                                        var table2values = FormValues.Where(x => x.AnswerInstanceFileExtensionHTML.Contains("tab2")).ToList();
                                        var rownumber = table2values.Count / 2;
                                        var dropdowns = table2values.Where(x => x.AnswerInstanceFileExtensionType == "DropDown").OrderBy(x => Convert.ToInt32(x.AnswerInstanceFileExtensionHTMLCode)).ToList();
                                        var inputs = table2values.Where(x => x.AnswerInstanceFileExtensionType == "UserInput").OrderBy(x => Convert.ToInt32(x.AnswerInstanceFileExtensionHTMLCode)).ToList();

                                        var j = 0;
                                        for (int i = 0; i < rownumber; i++)
                                        {
                                            if (ViewBag.Staus == "OPSaved" && User.IsInRole("ADManager"))
                                            {
                                                <tr>
                                                    @for (int k = 0; k < 1; k++)
                                                    {
                                                        <td>
                                                            <select id="@dropdowns[j].AnswerInstanceFileExtensionHTML" data-index="@dropdowns[j].AnswerInstanceFileExtensionHTMLCode" data-templatekey="@formTemplate[6].Answers.FirstOrDefault().AnswerTemplateKey" class="select2 dropdownanswer" tabindex="5" style="float:right;width:100%;direction:rtl">
                                                                @{ 
                                                                    var youjadTAb2 = dropdowns[j].AnswerInstanceFileExtensionName == "يوجد" ? "selected" : "";
                                                                    var layoujadTAb2 = dropdowns[j].AnswerInstanceFileExtensionName == "لا يوجد" ? "selected" : "";

                                                                }
                                                                <option @youjadTAb2>يوجد</option>
                                                                <option @layoujadTAb2>لا يوجد</option>
                                                            </select>
                                                        </td>
                                                        <td><input id="@inputs[j].AnswerInstanceFileExtensionHTML" data-index="@inputs[j].AnswerInstanceFileExtensionHTMLCode" value="@inputs[j].AnswerInstanceFileExtensionName" data-templatekey="@formTemplate[5].Answers.FirstOrDefault().AnswerTemplateKey" type="text" dir="rtl" class="form-group inputanswer" placeholder="أدخل إسم الوحدة التنظيمية " style="float:right" /></td>
                                                        j++;
                                                    }
                                                </tr>
                                            }
                                            else
                                            {
                                                <tr>
                                                    @for (int k = 0; k < 1; k++)
                                                    {
                                                        <td><input type="text" dir="rtl" value="@dropdowns[j].AnswerInstanceFileExtensionName" class="form-group inputanswer" style="float:right" readonly /></td>
                                                        <td><input type="text" dir="rtl" value="@inputs[j].AnswerInstanceFileExtensionName" class="form-group inputanswer" style="float:right" readonly /></td>
                                                        j++;
                                                    }
                                                </tr>
                                            }

                                        }



                                    }

                                }



                               


                            </tbody>
                        </table>

                    </div>

                </div>
            </div>
        </div>

    </div>


    <div class="row" style="border-bottom:2px solid">
        <div class="row" style="padding-top:10px">
            <h5 class="titles" style="direction:rtl;text-align:center">
                الوحدات التنظيمية بالمستوى الاداري الرابع  ...
            </h5>
        </div>
        <div class="form-body pull-right" style="width:100%;">
            <div class="row pull-right" id="" style="width: 97%;margin-right:2%;">
                <div class="row" id="" style="float: right;width:100%;">

                    @{     if (ViewBag.formInstanceKey == "")
                        {
                            <button class="btn blue" id="btnAddChildtable3" style="float: right;margin-top: 20px;margin-right: 8px;">
                                <i class="fa fa-plus-square" aria-hidden="true"></i>
                            </button>
                        }
                    }




                    <div style="float:right;margin-top: 21px;margin-right: 8px;width:50%;">


                        <table id="moustawasales3" class="cell-border" cellspacing="0" width="100%" style="padding:10px;border:2px solid #e7ecf1">
                            <thead>
                                <tr>
                                    @{     if (ViewBag.formInstanceKey == "")
                                        {
                                            <td> حذف </td>
                                        }
                                    }
                                    <td dir="rtl">هل يوجد مهام؟</td>
                                    <td dir="rtl"> اسم الوحدة التنظيمية</td>
                                </tr>
                            </thead>
                            <tbody>
                                @{  if (ViewBag.formInstanceKey == "")
                                    {
                                        <tr>
                                            <td>
                                                <a class="btn btn-info" style="background-color:#d82f2f" onclick="deletechildrentable3(this)">
                                                    <i class="fa fa-trash-o" aria-hidden="true"></i>
                                                </a>
                                            </td>
                                            <td>
                                                <select id="tab3-col2-row1" data-index="2" data-templatekey="@formTemplate[8].Answers.FirstOrDefault().AnswerTemplateKey" class="select2 dropdownanswer" tabindex="5" style="float:right;width:100%;direction:rtl">
                                                    <option>يوجد</option>
                                                    <option>لا يوجد</option>
                                                </select>
                                            </td>
                                            <td><input id="tab3-col1-row1" data-index="1" data-templatekey="@formTemplate[7].Answers.FirstOrDefault().AnswerTemplateKey" type="text" dir="rtl" class="form-group inputanswer" placeholder="أدخل إسم الوحدة التنظيمية " style="float:right" /></td>
                                        </tr>
                                    }
                                    else
                                    {
                                        var table3values = FormValues.Where(x => x.AnswerInstanceFileExtensionHTML.Contains("tab3")).ToList();
                                        var rownumber = table3values.Count / 2;
                                        var dropdowns = table3values.Where(x => x.AnswerInstanceFileExtensionType == "DropDown").OrderBy(x => Convert.ToInt32(x.AnswerInstanceFileExtensionHTMLCode)).ToList();
                                        var inputs = table3values.Where(x => x.AnswerInstanceFileExtensionType == "UserInput").OrderBy(x => Convert.ToInt32(x.AnswerInstanceFileExtensionHTMLCode)).ToList();

                                        var j = 0;
                                        for (int i = 0; i < rownumber; i++)
                                        {
                                            if (ViewBag.Staus == "OPSaved" && User.IsInRole("ADManager"))
                                            {
                                                <tr>
                                                    @for (int k = 0; k < 1; k++)
                                                    {
                                                            <td>
                                                                <select id="@dropdowns[j].AnswerInstanceFileExtensionHTML" data-index="@dropdowns[j].AnswerInstanceFileExtensionHTMLCode" data-templatekey="@formTemplate[8].Answers.FirstOrDefault().AnswerTemplateKey" class="select2 dropdownanswer" tabindex="5" style="float:right;width:100%;direction:rtl">
                                                                    @{
                                                                        var youjadTAb3 = dropdowns[j].AnswerInstanceFileExtensionName == "يوجد" ? "selected" : "";
                                                                        var layoujadTAb3 = dropdowns[j].AnswerInstanceFileExtensionName == "لا يوجد" ? "selected" : "";

                                                                    }
                                                                     <option @youjadTAb3>يوجد</option>
                                                                    <option @layoujadTAb3>لا يوجد</option>
                                                                </select>
                                                            </td>
                                                            <td><input id="@inputs[j].AnswerInstanceFileExtensionHTML" data-index="@inputs[j].AnswerInstanceFileExtensionHTMLCode" value="@inputs[j].AnswerInstanceFileExtensionName" data-templatekey="@formTemplate[7].Answers.FirstOrDefault().AnswerTemplateKey" type="text" dir="rtl" class="form-group inputanswer" placeholder="أدخل إسم الوحدة التنظيمية " style="float:right" /></td>
                                                       j++;
                                                    }
                                                </tr>
                                            }
                                            else
                                            {
                                                <tr>
                                                    @for (int k = 0; k < 1; k++)
                                                    {
                                                        <td><input type="text" dir="rtl" value="@dropdowns[j].AnswerInstanceFileExtensionName" class="form-group inputanswer" style="float:right" readonly /></td>
                                                        <td><input type="text" dir="rtl" value="@inputs[j].AnswerInstanceFileExtensionName" class="form-group inputanswer" style="float:right" readonly /></td>
                                                        j++;
                                                    }
                                                </tr>
                                            }

                                        }



                                    }

                                }






                            </tbody>
                        </table>

                    </div>

                </div>
            </div>
        </div>

    </div>

    <div class="row" style="border-bottom:2px solid">
        <div class="row" style="padding-top:10px">
            <h5 class="titles" style="direction:rtl;text-align:center">
                الوحدات التنظيمية بالمستوى الاداري الخامس  ...
            </h5>
        </div>
        <div class="form-body pull-right" style="width:100%;">
            <div class="row pull-right" id="" style="width: 97%;margin-right:2%;">
                <div class="row" id="" style="float: right;width:100%;">

                    @{     if (ViewBag.formInstanceKey == "")
                        {
                            <button class="btn blue" id="btnAddChildtable4" style="float: right;margin-top: 20px;margin-right: 8px;">
                                <i class="fa fa-plus-square" aria-hidden="true"></i>
                            </button>
                        }
                    }




                    <div style="float:right;margin-top: 21px;margin-right: 8px;width:50%;">


                        <table id="moustawasales4" class="cell-border" cellspacing="0" width="100%" style="padding:10px;border:2px solid #e7ecf1">
                            <thead>
                                <tr>
                                    @{     if (ViewBag.formInstanceKey == "")
                                        {
                                            <td> حذف </td>
                                        }
                                    }
                                    <td dir="rtl">هل يوجد مهام؟</td>
                                    <td dir="rtl"> اسم الوحدة التنظيمية</td>
                                </tr>
                            </thead>
                            <tbody>
                                @{  if (ViewBag.formInstanceKey == "")
                                    {
                                        <tr>
                                            <td>
                                                <a class="btn btn-info" style="background-color:#d82f2f" onclick="deletechildrentable4(this)">
                                                    <i class="fa fa-trash-o" aria-hidden="true"></i>
                                                </a>
                                            </td>
                                            <td>
                                                <select id="tab4-col2-row1" data-index="2" data-templatekey="@formTemplate[10].Answers.FirstOrDefault().AnswerTemplateKey" class="select2 dropdownanswer" tabindex="5" style="float:right;width:100%;direction:rtl">
                                                    <option>يوجد</option>
                                                    <option>لا يوجد</option>
                                                </select>
                                            </td>
                                            <td><input id="tab4-col1-row1" data-index="1" data-templatekey="@formTemplate[9].Answers.FirstOrDefault().AnswerTemplateKey" type="text" dir="rtl" class="form-group inputanswer" placeholder="أدخل إسم الوحدة التنظيمية " style="float:right" /></td>
                                        </tr>
                                    }
                                    else
                                    {
                                        var table4values = FormValues.Where(x => x.AnswerInstanceFileExtensionHTML.Contains("tab4")).ToList();
                                        var rownumber = table4values.Count / 2;
                                        var dropdowns = table4values.Where(x => x.AnswerInstanceFileExtensionType == "DropDown").OrderBy(x => Convert.ToInt32(x.AnswerInstanceFileExtensionHTMLCode)).ToList();
                                        var inputs = table4values.Where(x => x.AnswerInstanceFileExtensionType == "UserInput").OrderBy(x => Convert.ToInt32(x.AnswerInstanceFileExtensionHTMLCode)).ToList();

                                        var j = 0;
                                        for (int i = 0; i < rownumber; i++)
                                        {
                                            if (ViewBag.Staus == "OPSaved" && User.IsInRole("ADManager"))
                                            {
                                                <tr>
                                                    @for (int k = 0; k < 1; k++)
                                                    {
                                                        <td>
                                                            <select id="@dropdowns[j].AnswerInstanceFileExtensionHTML" data-index="@dropdowns[j].AnswerInstanceFileExtensionHTMLCode" data-templatekey="@formTemplate[10].Answers.FirstOrDefault().AnswerTemplateKey" class="select2 dropdownanswer" tabindex="5" style="float:right;width:100%;direction:rtl">
                                                                @{
                                                                    var youjadTAb4 = dropdowns[j].AnswerInstanceFileExtensionName == "يوجد" ? "selected" : "";
                                                                    var layoujadTAb4 = dropdowns[j].AnswerInstanceFileExtensionName == "لا يوجد" ? "selected" : "";

                                                                }
                                                                <option @youjadTAb4>يوجد</option>
                                                                <option @layoujadTAb4>لا يوجد</option>
                                                            </select>
                                                        </td>
                                                        <td><input id="@inputs[j].AnswerInstanceFileExtensionHTML" data-index="@inputs[j].AnswerInstanceFileExtensionHTMLCode" value="@inputs[j].AnswerInstanceFileExtensionName" data-templatekey="@formTemplate[9].Answers.FirstOrDefault().AnswerTemplateKey" type="text" dir="rtl" class="form-group inputanswer" placeholder="أدخل إسم الوحدة التنظيمية " style="float:right" /></td>
                                                         j++;
                                                    }
                                                </tr>
                                            }
                                            else
                                            {
                                                <tr>
                                                    @for (int k = 0; k < 1; k++)
                                                    {
                                                        <td><input type="text" dir="rtl" value="@dropdowns[j].AnswerInstanceFileExtensionName" class="form-group inputanswer" style="float:right" readonly /></td>
                                                        <td><input type="text" dir="rtl" value="@inputs[j].AnswerInstanceFileExtensionName" class="form-group inputanswer" style="float:right" readonly /></td>
                                                        j++;
                                                    }
                                                </tr>
                                            }

                                        }



                                    }

                                }






                            </tbody>
                        </table>

                    </div>

                </div>
            </div>
        </div>

    </div>

    <div class="row" style="border-bottom:2px solid">
        <div class="row" style="padding-top:10px">
            <h5 class="titles" style="direction:rtl;text-align:center">
                الوحدات التنظيمية بالمستوى الاداري السادس  ...
            </h5>
        </div>
        <div class="form-body pull-right" style="width:100%;">
            <div class="row pull-right" id="" style="width: 97%;margin-right:2%;">
                <div class="row" id="" style="float: right;width:100%;">

                    @{     if (ViewBag.formInstanceKey == "")
                        {
                            <button class="btn blue" id="btnAddChildtable5" style="float: right;margin-top: 20px;margin-right: 8px;">
                                <i class="fa fa-plus-square" aria-hidden="true"></i>
                            </button>
                        }
                    }




                    <div style="float:right;margin-top: 21px;margin-right: 8px;width:50%;">


                        <table id="moustawasales5" class="cell-border" cellspacing="0" width="100%" style="padding:10px;border:2px solid #e7ecf1">
                            <thead>
                                <tr>
                                    @{     if (ViewBag.formInstanceKey == "")
                                        {
                                            <td> حذف </td>
                                        }
                                    }
                                    <td dir="rtl">هل يوجد مهام؟</td>
                                    <td dir="rtl"> اسم الوحدة التنظيمية</td>
                                </tr>
                            </thead>
                            <tbody>
                                @{  if (ViewBag.formInstanceKey == "")
                                    {
                                        <tr>
                                            <td>
                                                <a class="btn btn-info" style="background-color:#d82f2f" onclick="deletechildrentable5(this)">
                                                    <i class="fa fa-trash-o" aria-hidden="true"></i>
                                                </a>
                                            </td>
                                            <td>
                                                <select id="tab5-col2-row1" data-index="2" data-templatekey="@formTemplate[12].Answers.FirstOrDefault().AnswerTemplateKey" class="select2 dropdownanswer" tabindex="5" style="float:right;width:100%;direction:rtl">
                                                    <option>يوجد</option>
                                                    <option>لا يوجد</option>
                                                </select>
                                            </td>
                                            <td><input id="tab5-col1-row1" data-index="1" data-templatekey="@formTemplate[11].Answers.FirstOrDefault().AnswerTemplateKey" type="text" dir="rtl" class="form-group inputanswer" placeholder="أدخل إسم الوحدة التنظيمية " style="float:right" /></td>
                                        </tr>
                                    }
                                    else
                                    {
                                        var table2values = FormValues.Where(x => x.AnswerInstanceFileExtensionHTML.Contains("tab5")).ToList();
                                        var rownumber = table2values.Count / 2;
                                        var dropdowns = table2values.Where(x => x.AnswerInstanceFileExtensionType == "DropDown").OrderBy(x => Convert.ToInt32(x.AnswerInstanceFileExtensionHTMLCode)).ToList();
                                        var inputs = table2values.Where(x => x.AnswerInstanceFileExtensionType == "UserInput").OrderBy(x => Convert.ToInt32(x.AnswerInstanceFileExtensionHTMLCode)).ToList();

                                        var j = 0;
                                        for (int i = 0; i < rownumber; i++)
                                        {
                                            <tr>
                                                @for (int k = 0; k < 1; k++)
                                                {
                                                    if (ViewBag.Staus == "OPSaved" && User.IsInRole("ADManager"))
                                                    {
                                                        <td>
                                                            <select id="@dropdowns[j].AnswerInstanceFileExtensionHTML" data-index="@dropdowns[j].AnswerInstanceFileExtensionHTMLCode" data-templatekey="@formTemplate[12].Answers.FirstOrDefault().AnswerTemplateKey" class="select2 dropdownanswer" tabindex="5" style="float:right;width:100%;direction:rtl">
                                                                @{
                                                                    var youjadTAb5 = dropdowns[j].AnswerInstanceFileExtensionName == "يوجد" ? "selected" : "";
                                                                    var layoujadTAb5 = dropdowns[j].AnswerInstanceFileExtensionName == "لا يوجد" ? "selected" : "";

                                                                }
                                                                <option @youjadTAb5>يوجد</option>
                                                                <option @layoujadTAb5>لا يوجد</option>
                                                            </select>
                                                        </td>
                                                        <td><input id="@inputs[j].AnswerInstanceFileExtensionHTML" value="@inputs[j].AnswerInstanceFileExtensionName" data-index="@inputs[j].AnswerInstanceFileExtensionHTMLCode" data-templatekey="@formTemplate[11].Answers.FirstOrDefault().AnswerTemplateKey" type="text" dir="rtl" class="form-group inputanswer" placeholder="أدخل إسم الوحدة التنظيمية " style="float:right" /></td>
                                                                    }
                                                                    else
                                                                    {
                                                        <td><input type="text" dir="rtl" value="@dropdowns[j].AnswerInstanceFileExtensionName" class="form-group inputanswer" style="float:right" readonly /></td>
                                                        <td><input type="text" dir="rtl" value="@inputs[j].AnswerInstanceFileExtensionName" class="form-group inputanswer" style="float:right" readonly /></td>
                                                    }
                                                    j++;
                                                }
                                            </tr>
                                        }



                                    }

                                }






                            </tbody>
                        </table>

                    </div>

                </div>
            </div>
        </div>

    </div>



@if (ViewBag.formInstanceKey == "" || (ViewBag.Staus == "OPSaved" && User.IsInRole("ADManager")))
{
    <div class="row" style="text-align:center;padding-top:20px;padding-bottom:20px">
        <button type="button" id="uploadform" class="btn btn-icon btn-primary  margin-inline" style="width:20%;border-radius:.25rem !important">
            <i class="fa fa-upload" aria-hidden="true"></i>
            [تحميل]
        </button>
    </div>
    }
    
</div>




<script>
    var MoustawaSani;
    var MoustawaSales;
    $(document).ready(function () {
        //$("#moustawasani").DataTable();
        $('#moustawasani').dataTable({
            "paging": false
        });
        MoustawaSani = $("#moustawasani").DataTable();
        $(".select2").select2();
        // $("#moustawasales").DataTable();
        $('#moustawasales').dataTable({
            "paging": false
        });
        MoustawaSales = $("#moustawasales").DataTable();
        MoustawaSales3 = $("#moustawasales3").DataTable();
        MoustawaSales4 = $("#moustawasales4").DataTable();
        MoustawaSales5 = $("#moustawasales5").DataTable();


        $(".dataTables_length").css("display", "none")
        $(".dataTables_filter").css("display", "none")
        $(".dataTables_info").css("display", "none")
        $(".dataTables_paginate").css("display", "none")




    });
    var tab2rownumber = 1;
    var tab2row = 2;
    var inputNumbertab2 = 3;
    var dropdownNumbertab2 = 4;
    $("#btnAddChildtable2").click(function (e) {
        if (tab2rownumber < 50) {
            e.preventDefault();
            MoustawaSales.row.add([
              '<a class="btn btn-info" style="background-color:#d82f2f" onclick="deletechildrentable2(this)"><i class="fa fa-trash-o" aria-hidden="true"></i></a>',
              '<select id="tab2-col2-row' + tab2row + '" data-index="' + dropdownNumbertab2 + '"  tabindex="5" data-templatekey="3055" class="select2 dropdownanswer" style="float:right;width:100%;direction:rtl"><option>يوجد</option><option>لا يوجد</option></select>',
              '<input id="tab2-col1-row' + tab2row + '" data-index="' + inputNumbertab2 + '"    type="text" data-templatekey="3054" dir="rtl" class="form-group inputanswer" style="float:right" placeholder="أدخل إسم الوحدة التنظيمية "/>',
            ]).draw(false);
            $(".select2").select2();
            tab2row++;
            tab2rownumber++;
            inputNumbertab2 = inputNumbertab2 + 2;
            dropdownNumbertab2 = dropdownNumbertab2 + 2;
        }



    });


    var tab2rownumber4 = 1;
    var tab2row4 = 2;
    var inputNumbertab24 = 3;
    var dropdownNumbertab24 = 4;
    $("#btnAddChildtable4").click(function (e) {
        if (tab2rownumber4 < 50) {
            e.preventDefault();
            MoustawaSales4.row.add([
              '<a class="btn btn-info" style="background-color:#d82f2f" onclick="deletechildrentable4(this)"><i class="fa fa-trash-o" aria-hidden="true"></i></a>',
              '<select id="tab4-col2-row' + tab2row4 + '" data-index="' + dropdownNumbertab24 + '"  tabindex="5" data-templatekey="3055" class="select2 dropdownanswer" style="float:right;width:100%;direction:rtl"><option>يوجد</option><option>لا يوجد</option></select>',
              '<input id="tab4-col1-row' + tab2row4 + '" data-index="' + inputNumbertab24 + '"    type="text" data-templatekey="3054" dir="rtl" class="form-group inputanswer" style="float:right" placeholder="أدخل إسم الوحدة التنظيمية "/>',
            ]).draw(false);
            $(".select2").select2();
            tab2row4++;
            tab2rownumber4++;
            inputNumbertab24 = inputNumbertab24 + 2;
            dropdownNumbertab24 = dropdownNumbertab24 + 2;
        }



    });

    var tab2rownumber5 = 1;
    var tab2row5 = 2;
    var inputNumbertab25 = 3;
    var dropdownNumbertab25 = 4;
    $("#btnAddChildtable5").click(function (e) {
        if (tab2rownumber5 < 50) {
            e.preventDefault();
            MoustawaSales5.row.add([
              '<a class="btn btn-info" style="background-color:#d82f2f" onclick="deletechildrentable5(this)"><i class="fa fa-trash-o" aria-hidden="true"></i></a>',
              '<select id="tab5-col2-row' + tab2row5 + '" data-index="' + dropdownNumbertab25 + '"  tabindex="5" data-templatekey="3055" class="select2 dropdownanswer" style="float:right;width:100%;direction:rtl"><option>يوجد</option><option>لا يوجد</option></select>',
              '<input id="tab5-col1-row' + tab2row5 + '" data-index="' + inputNumbertab25 + '"    type="text" data-templatekey="3054" dir="rtl" class="form-group inputanswer" style="float:right" placeholder="أدخل إسم الوحدة التنظيمية "/>',
            ]).draw(false);
            $(".select2").select2();
            tab2row5++;
            tab2rownumber5++;
            inputNumbertab25 = inputNumbertab25 + 2;
            dropdownNumbertab25 = dropdownNumbertab25 + 2;
        }



    });

    var tab2rownumber3 = 1;
    var tab2row3 = 2;
    var inputNumbertab23 = 3;
    var dropdownNumbertab23 = 4;
    $("#btnAddChildtable3").click(function (e) {
        if (tab2rownumber3 < 50) {
            e.preventDefault();
            MoustawaSales3.row.add([
              '<a class="btn btn-info" style="background-color:#d82f2f" onclick="deletechildrentable3(this)"><i class="fa fa-trash-o" aria-hidden="true"></i></a>',
              '<select id="tab3-col2-row' + tab2row3 + '" data-index="' + dropdownNumbertab23 + '"  tabindex="5" data-templatekey="3055" class="select2 dropdownanswer" style="float:right;width:100%;direction:rtl"><option>يوجد</option><option>لا يوجد</option></select>',
              '<input id="tab3-col1-row' + tab2row3 + '" data-index="' + inputNumbertab23 + '"    type="text" data-templatekey="3054" dir="rtl" class="form-group inputanswer" style="float:right" placeholder="أدخل إسم الوحدة التنظيمية "/>',
            ]).draw(false);
            $(".select2").select2();
            tab2row3++;
            tab2rownumber3++;
            inputNumbertab23 = inputNumbertab23 + 2;
            dropdownNumbertab23 = dropdownNumbertab23 + 2;
        }



    });

    var tab1rownumber = 1;
    var tab1row = 2;
    var inputNumber = 3;
    var dropdownNumber = 4;
    $("#btnAddChild").click(function (e) {
        if (tab1rownumber < 50) {
            console.log(tab1rownumber);
            e.preventDefault();
            MoustawaSani.row.add([
              '<a class="btn btn-info" style="background-color:#d82f2f" onclick="deletechildren(this)"><i class="fa fa-trash-o" aria-hidden="true"></i></a>',
              '<select id="tab1-col2-row' + tab1row + '" data-index="' + dropdownNumber + '" data-templatekey="3053" class="select2 dropdownanswer" style="float:right;width:100%;direction:rtl"><option>يوجد</option><option>لا يوجد</option></select>',
              '<input id="tab1-col1-row' + tab1row + '"  data-index="' + inputNumber + '"  type="text" data-templatekey="3052" dir="rtl" class="form-group inputanswer" style="float:right" placeholder="أدخل إسم الوحدة التنظيمية "/>',
            ]).draw(false);
            $(".select2").select2();
            tab1row++;
            tab1rownumber++;
            inputNumber = inputNumber + 2;
            dropdownNumber = dropdownNumber + 2;
        }
    });


    function deletechildren(childrenrow) {
        tab1rownumber--;
        MoustawaSani
       .row($(childrenrow).parents('tr'))
       .remove()
       .draw();
    }

    function deletechildrentable2(childrenrow) {
        tab2rownumber--;
        MoustawaSales
       .row($(childrenrow).parents('tr'))
       .remove()
       .draw();
    }

    function deletechildrentable3(childrenrow) {
        tab2rownumber3--;
        MoustawaSales3
       .row($(childrenrow).parents('tr'))
       .remove()
       .draw();
    }

    function deletechildrentable4(childrenrow) {
        tab2rownumber4--;
        MoustawaSales4
       .row($(childrenrow).parents('tr'))
       .remove()
       .draw();
    }

    function deletechildrentable5(childrenrow) {
        tab2rownumber5--;
        MoustawaSales5
       .row($(childrenrow).parents('tr'))
       .remove()
       .draw();
    }
    var AnswerTemplateKey = [];
    var FormKey;
    $(document).on('click', '#uploadform', function (event) {
        waitingDialog.show(' !!!  جاري التحميل');
        var answsers = "";

        $('.inputanswer').each(function (index, element) {
            var inputValue;
            if ($(this).val() == "")
                inputValue = " ";
            else
                inputValue = $(this).val();

            answsers = { key: $(this).attr("data-templatekey"), Textvalue: inputValue, type: "UserInput", Index: $(this).attr("id"), Lines: $(this).attr("data-index"), Parent: "", Child: "", count: "" }
            AnswerTemplateKey.push(answsers);


        });

        $('.dropdownanswer').each(function (index, element) {
            if ($(this).val() != '') {
                answsers = { key: $(this).attr("data-templatekey"), Textvalue: $(this).val(), type: "DropDown", Index: $(this).attr("id"), Lines: $(this).attr("data-index"), Parent: "", Child: "", count: "" }
                AnswerTemplateKey.push(answsers);
            }
        });

        console.log(AnswerTemplateKey);
        var organisationKey = '@ViewBag.OrganisationKey';
        @if (User.IsInRole("Human Development Sector") || User.IsInRole("Administrative sector") || User.IsInRole("Economic sector") || User.IsInRole("Service sector") || User.IsInRole("OPManagerGroup5") || User.IsInRole("OPManagerGroup6") || User.IsInRole("OPManagerGroup7"))
        {
            <text>
        organisationKey = $("#OpOrgDropdown").val();
        </text>
        }
       
        if ('@ViewBag.formInstanceKey' != "") {
            setTimeout(function () {

                $.ajax({
                    url: '@Url.Action("DeleteAnswers", "ClaimForms")',
                    type: 'GET',
                    dataType: 'json',
                    cache: false,
                    data: {
                        idForm: '@ViewBag.formInstanceKey'
                    },
                    success: function (data) {
                        console.log(AnswerTemplateKey);
                        FormKey = data;
                        $.ajax({
                            url: '@Url.Action("AnswersByUser", "ClaimForms")',
                            type: 'POST',
                            dataType: 'json',
                            cache: false,
                            data: {
                                formKey: '@ViewBag.formInstanceKey', answerTemplateKey: JSON.stringify(AnswerTemplateKey)
                            },
                            success: function (data) {
                                $.ajax({
                                    url: '@Url.Action("SaveClaimForm", "ClaimForms")',
                                    type: 'GET',
                                    dataType: 'json',
                                    cache: false,
                                    data: {
                                        formKey: '@ViewBag.formInstanceKey'
                                    },
                                    success: function (data) {
                                       var Title = $("#title").text();
                           var test = "تعبئة إستمارة";
                           var message = test + " " + Title;
                           SetLog(Title.split(":", 1), Title.split(":", 1), message);
                           window.location = '@Url.Action("AdManagersClaims", "Home")/' + "?ClaimType=" + '@ViewBag.FormTemplateType';

                                    }
                                });
                            }
                        });
                    }
                });

            }, 2000);
        } else {
            $.ajax({
                url: '@Url.Action("SubmitFormForUser", "ClaimForms")',
                type: 'GET',
                dataType: 'json',
                cache: false,
                data: {
                    trackingStatusKey: "1", formTemplateKey: "141", userKey: "@User.Identity.GetUserId()", organisationKey: organisationKey
                },
                success: function (data) {
                    FormKey = data;
                    $.ajax({
                        url: '@Url.Action("AnswersByUser", "ClaimForms")',
                        type: 'POST',
                        dataType: 'json',
                        cache: false,
                        data: {
                            formKey: FormKey, answerTemplateKey: JSON.stringify(AnswerTemplateKey)
                        },
                        success: function (data) {
                             @if (User.IsInRole("Human Development Sector") || User.IsInRole("Administrative sector") || User.IsInRole("Economic sector") || User.IsInRole("Service sector") || User.IsInRole("OPManagerGroup5") || User.IsInRole("OPManagerGroup6") || User.IsInRole("OPManagerGroup7"))
                             {
                                 <text>
                       $.ajax({
                           url: '@Url.Action("SaveOPForm", "ClaimForms")',
                           type: 'GET',
                           dataType: 'json',
                           cache: false,
                           data: {
                               OpOrgKey: FormKey
                           },
                           success: function (data) {
                               var Title = $("#title").text();
                               var test = "تعبئة إستمارة";
                               var message = test + " " + Title;
                               SetLog(Title.split(":", 1), Title.split(":", 1), message);
                               window.location = '@Url.Action("AdManagersClaims", "Home")/' + "?ClaimType=" + '@ViewBag.FormTemplateType';

                           }
                       });
                                 </text>
                             }else
                             {
                                 <text>
                   $.ajax({
                       url: '@Url.Action("SaveClaimForm", "ClaimForms")',
                       type: 'GET',
                       dataType: 'json',
                       cache: false,
                       data: {
                           formKey: FormKey
                       },
                       success: function (data) {
                           var Title = $("#title").text();
                           var test = "تعبئة إستمارة";
                           var message = test + " " + Title;
                           SetLog(Title.split(":", 1), Title.split(":", 1), message);
                           window.location = '@Url.Action("AdManagersClaims", "Home")/' + "?ClaimType=" + '@ViewBag.FormTemplateType';

                       }
                   });
                                 </text>
                             }

                        }
                    });
                }
            });
        }

    });




</script>

