﻿@using Newtonsoft.Json
@using Microsoft.AspNet.Identity;
@using MoAD.WebApplication.DataObjects;
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutInitialPage.cshtml";
    var formTemplate = Model as List<Question>;
    List<SelectListItem> OpOrganisations = ViewData["OpOrganisations"] as List<SelectListItem>;
}
<style>
    .titles {
        text-align: right;
    }

    .dropify-wrapper {
        width: 200px;
        margin-top: 10px;
    }

    .file-icon {
        display: none;
    }
    #formtable { 
    border-collapse: separate; 
    border-spacing: 10px; 
    *border-collapse: expression('separate', cellSpacing = '10px');
}
</style>

@if (User.IsInRole("Human Development Sector") || User.IsInRole("Administrative sector") || User.IsInRole("Economic sector") || User.IsInRole("Service sector") || User.IsInRole("OPManagerGroup5") || User.IsInRole("OPManagerGroup6") || User.IsInRole("OPManagerGroup7"))
{
    <div class="col-md-12" style="direction:rtl;text-align:right;">
        <div>
            <h3 class="text-right questionans" style="text-align:right;display:block">
                الجهة المراد تقديم الاستبانة عنها:
                <span class="small"></span>
            </h3>

        </div>
        <div style="display:block;padding-bottom: 20px;margin-left:3%;" class="questionans">
            @Html.DropDownList("Organisations", OpOrganisations, "الجهة العامة", new { @class = "form-group select2", @id = "OpOrgDropdown" })
        </div>
    </div>
}

<div class="row" style="text-align:center;padding-top:20px;padding-bottom:20px;">
    <h3>
        هيكل وظيفي/ملاك عددي موطن في الوحدات التنظيمية
    </h3>
</div>



<div id="example" style="background-color:white;min-height:700px;">
    <div class="row" style="border-bottom:2px solid">
                        <table id="formtable" class="order-column dataTable no-footer" cellspacing="0" width="100%" style="padding:10px;border:2px solid #e7ecf1">
                            <thead>
                                <tr>
                                    <td dir="rtl"> ملاحظات </td>
                                    <td dir="rtl"> شكل التعيين </td>
                                    <td dir="rtl"> العدد الموجود</td>
                                    <td dir="rtl"> الحاجة الفعلية وفق الملاك العددي</td>
                                    <td dir="rtl"> المؤهل العلمي المطلوب حسب مهام الوحدة التنظيمية</td>
                                    <td dir="rtl">المؤهل العلمي</td>
                                    <td dir="rtl"> الفئة الوظيفية</td>
                                    <td dir="rtl"> المسمى الوظيفي</td>
                                </tr>
                            </thead>
                            <tbody>
                                @{    string[] titles = new string[] { "مدير", "معاون مدير", "رئيس دائرة........ ", "رئيس شعبة........ ", "معاون رئيس شعبة........ ", "منشئ........ ", "مساعد فني........", "عامل فني........", "سائق........", "آذن........", "مراسل........" };

                                    for (int i = 0; i < 11; i++)
                                    {
                                        <tr>
                                            <td><input style="direction:rtl"  data-templatekey="@formTemplate[7].Answers.FirstOrDefault().AnswerTemplateKey" id="col-8-row-@i" type="text" class="form-group inputanswer" /></td>
                                            <td><select data-templatekey="@formTemplate[6].Answers.FirstOrDefault().AnswerTemplateKey" id="col-7-row-@i" type="text" dir="rtl" class="form-group select2 dropdownanswer" style="float:right;width:100%"><option></option><option>تسمية</option><option>تكليف</option> <option>ندب</option></select></td>
                                            <td><input style="direction:rtl" data-templatekey="@formTemplate[5].Answers.FirstOrDefault().AnswerTemplateKey" id="col-6-row-@i" type="text" class="form-group inputanswer" /></td>
                                            <td><input style="direction:rtl" data-templatekey="@formTemplate[4].Answers.FirstOrDefault().AnswerTemplateKey" id="col-5-row-@i" type="text" class="form-group inputanswer" /></td>
                                            <td><input style="direction:rtl" data-templatekey="@formTemplate[3].Answers.FirstOrDefault().AnswerTemplateKey" id="col-4-row-@i" type="text" class="form-group inputanswer" /></td>
                                            <td><select data-templatekey="@formTemplate[2].Answers.FirstOrDefault().AnswerTemplateKey" id="col-3-row-@i" type="text" dir="rtl" class="form-group select2 dropdownanswer" style="float:right;width:100%"><option></option><option>دكتوراه</option><option>ماجستير</option><option> دبلوم تخصصي</option><option> شهادة جامعي</option><option> معهد متوسط</option><option>  شهادة ثانوية</option><option> تعليم أساسي</option></select></td>
                                            <td><select data-templatekey="@formTemplate[1].Answers.FirstOrDefault().AnswerTemplateKey" id="col-2-row-@i" type="text" dir="rtl" class="form-group select2 dropdownanswer" style="float:right;width:100%"><option></option><option>الأولى</option><option>الثانية</option><option>الثالثة</option><option>الرابعة</option><option>الخامسة</option></select></td>
                                            <td style="direction:rtl">   @titles[i]</td>
                                        </tr>
                                    }
                                }                          
                            </tbody>
                        </table>
      
    </div>
@if (ViewBag.formInstanceKey == "")
{
    <div class="row" style="text-align:center;padding-top:20px;padding-bottom:20px">
        <button type="button" id="uploadform" class="btn btn-icon btn-primary  margin-inline" style="width:20%;border-radius:.25rem !important">
            <i class="fa fa-upload" aria-hidden="true"></i>
            [تحميل]
        </button>
    </div>
}
  
</div>




<script>
    var FormTable;
    $(document).ready(function () {
        $('#formtable').DataTable({
            "pageLength": 20,
            "sScrollX": "100%",
            "bScrollCollapse": true,
            "paging": false,
        });
        FormTable = $("#formtable").DataTable();
        $(".dataTables_length").css("display", "none")
        $(".dataTables_filter").css("display", "none")
        $(".dataTables_info").css("display", "none")
        $(".dataTables_paginate").css("display", "none")
        //$(".select2").select2();

        @if (ViewBag.formInstanceKey == "")
        {
              <text>
        $(".select2").select2({
            placeholder: "تحديد الجواب ",
        });
        $('.select').select2().enable(false);
        </text>
        }else
        {
            <text>
            $(".select2").select2();
            </text>
        }


    });



    var AnswerTemplateKey = [];
    var FormKey;

    $(document).on('click', '#uploadform', function (event) {
        var answsers = "";



        $('.inputanswer').each(function (index, element) {
            answsers = { key: $(this).attr("data-templatekey"), Textvalue: $(this).val(), type: "UserInput", Index: $(this).attr("id"), Lines: "", Parent: "", Child: "", count: "" }
            AnswerTemplateKey.push(answsers);
        });

        $('.dropdownanswer').each(function (index, element) {
            answsers = { key: $(this).attr("data-templatekey"), Textvalue: $(this).val(), type: "DropDown", Index: $(this).attr("id"), Lines: "", Parent: "", Child: "", count: "" }
            AnswerTemplateKey.push(answsers);
        });


        console.log(AnswerTemplateKey);
        var organisationKey = '@ViewBag.OrganisationKey';
        @if (User.IsInRole("Human Development Sector") || User.IsInRole("Administrative sector") || User.IsInRole("Economic sector") || User.IsInRole("Service sector") || User.IsInRole("OPManagerGroup5") || User.IsInRole("OPManagerGroup6") || User.IsInRole("OPManagerGroup7"))
        {
            <text>
        organisationKey = $("#OpOrgDropdown").val();
            </text>
        }
        $.ajax({
            url: '@Url.Action("SubmitFormForUser", "ClaimForms")',
            type: 'GET',
            dataType: 'json',
            cache: false,
            data: {
                trackingStatusKey: "1", formTemplateKey: "138", userKey: "@User.Identity.GetUserId()", organisationKey: organisationKey
            },
            success: function (data) {
                FormKey = data;
                $.ajax({
                    url: '@Url.Action("AnswersByUser", "ClaimForms")',
                    type: 'POST',
                    dataType: 'json',
                    cache: false,
                    data: {
                        formKey: FormKey, answerTemplateKey: JSON.stringify(AnswerTemplateKey)
                    },
                    success: function (data) {
                        @if (User.IsInRole("Human Development Sector") || User.IsInRole("Administrative sector") || User.IsInRole("Economic sector") || User.IsInRole("Service sector") || User.IsInRole("OPManagerGroup5") || User.IsInRole("OPManagerGroup6") || User.IsInRole("OPManagerGroup7"))
                        {
                            <text>
                  $.ajax({
                      url: '@Url.Action("SaveOPForm", "ClaimForms")',
                      type: 'GET',
                      dataType: 'json',
                      cache: false,
                      data: {
                          OpOrgKey: FormKey
                      },
                      success: function (data) {
                       var Title = $("#title").text();
                                var test = "تعبئة إستمارة";
                                var message = test + " " + Title;
                                SetLog(Title.split(":", 1), Title.split(":", 1), message);
                                bootbox.alert(" تم حفظ النموذج !!", function () {
                                     window.location = '@Url.Action("AdManagersClaims", "Home")/'+ "?ClaimType=" + '@ViewBag.FormTemplateType';
                                })
                      }
                  });
                            </text>
                        }else
                        {
                            <text>
              $.ajax({
                  url: '@Url.Action("SaveClaimForm", "ClaimForms")',
                  type: 'GET',
                  dataType: 'json',
                  cache: false,
                  data: {
                      formKey: FormKey
                  },
                  success: function (data) {
                     var Title = $("#title").text();
                                var test = "تعبئة إستمارة";
                                var message = test + " " + Title;
                                SetLog(Title.split(":", 1), Title.split(":", 1), message);
                                bootbox.alert(" تم حفظ النموذج !!", function () {
                                     window.location = '@Url.Action("AdManagersClaims", "Home")/'+ "?ClaimType=" + '@ViewBag.FormTemplateType';
                                })
                  }
              });
                            </text>
                        }

                    }
                });
            }
        });
    });




    $(document).ready(function () {
        if ('@ViewBag.formInstanceKey' != "")
        {
            var result= @Html.Raw(Json.Encode(ViewBag.FormValues));
            var answers=result.Data;
            $.each(answers, function (index, value) {
                console.log(value);
                //AnswerInstanceFileExtensionType
                if(value.AnswerInstanceFileExtensionType == "UserInput"){
                    $("#"+ value.AnswerInstanceFileExtensionHTML).val(value.AnswerInstanceFileExtensionName);
                }
                if(value.AnswerInstanceFileExtensionType == "DropDown"){
                    //$("#"+ value.AnswerInstanceFileExtensionHTML).val(value.AnswerInstanceFileExtensionName);

                    $("#"+ value.AnswerInstanceFileExtensionHTML).val(value.AnswerInstanceFileExtensionName).change();
                }


            });
        }
    });



</script>

