﻿@using Newtonsoft.Json
@using Microsoft.AspNet.Identity;
@using MoAD.WebApplication.DataObjects;
@using MoAD.DataObjects.EDMX;
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutInitialPage.cshtml";
    var formTemplate = Model as List<MoAD.WebApplication.DataObjects.Question>;
    List<SelectListItem> OpOrganisations = ViewData["OpOrganisations"] as List<SelectListItem>;

}
<style>
    .titles {
        text-align: right;
    }

    .dropify-wrapper {
        width: 200px;
        margin-top: 10px;
    }

    .file-icon {
        display: none;
    }

    .tables {
        border-collapse: separate;
        border-spacing: 10px;
        *border-collapse: expression('separate', cellSpacing = '10px');
    }

    .bootbox-body {
        direction: rtl;
    }

    .modal-content {
        text-align: right;
    }
</style>

@if (User.IsInRole("Human Development Sector") || User.IsInRole("Administrative sector") || User.IsInRole("Economic sector") || User.IsInRole("Service sector") || User.IsInRole("OPManagerGroup5") || User.IsInRole("OPManagerGroup6") || User.IsInRole("OPManagerGroup7"))
{
    <div class="col-md-12" style="direction:rtl;text-align:right;">
        <div>
            <h3 class="text-right questionans" style="text-align:right;display:block">
                الجهة المراد تقديم الاستبانة عنها:
                <span class="small"></span>
            </h3>

        </div>
        <div style="display:block;padding-bottom: 20px;margin-left:3%;" class="questionans">
            @Html.DropDownList("Organisations", OpOrganisations, "الجهة العامة", new { @class = "form-group select2", @id = "OpOrgDropdown" })
        </div>
    </div>
}


<div class="row" style="text-align:center;padding-top:20px;padding-bottom:20px;">
    <h3>
        @ViewBag.FormTemplateName
        @*هيكل وظيفي/ملاك عددي موطن في الوحدات التنظيمية*@
    </h3>
</div>

@{
    if (ViewBag.formInstanceKey == "")
    {
        <div id="example" style="background-color:white;min-height:700px;">
            <div id="tables">
                <div class="form-group row" style="padding-top:20px;background-color: gainsboro">
                    <div class="col-lg-8 col-md-3">
                    </div>
                    <div class="col-lg-2 col-md-4 col-sm-8 col-xs-8">
                        <td>
                            <select data-index="1" data-tableid="table2" data-templatekey="@formTemplate[0].Answers.FirstOrDefault().AnswerTemplateKey" type="text" dir="rtl" class="form-control inputtitle col-lg-2 col-md-4 col-sm-8 col-xs-8 form-group select2 dropdownanswer" style="float:right;width:80%" id="wehdatanzimya">
                                <option data-templatekey="@formTemplate[0].Answers.FirstOrDefault().AnswerTemplateKey">مديرية</option>
                                <option data-templatekey="@formTemplate[0].Answers.FirstOrDefault().AnswerTemplateKey">إدارة</option>
                                <option data-templatekey="@formTemplate[0].Answers.FirstOrDefault().AnswerTemplateKey">فرع</option>
                            </select>
                        </td>

                    </div>
                    <div class="col-lg-2 col-md-5 col-sm-4 col-xs-4">

                        <h5 style="padding-top:8px">
                            : الوحدة التنظيمية (مستوى أول)
                        </h5>


                    </div>
                </div>

                <div class="row" style="border-bottom:2px solid">
                    <table id="formtable" class="order-column dataTable no-footer tables" cellspacing="0" width="100%" style="padding:10px;border:2px solid #e7ecf1">
                        <button class="btn blue" onclick="addchild(formtable)" style="float: right;margin-top: 20px;margin-right: 8px;">
                            <i class="fa fa-plus-square" aria-hidden="true"></i>
                        </button>
                        <thead>
                            <tr>

                                <td> حذف </td>
                                <td dir="rtl"> ملاحظات </td>
                                <td dir="rtl"> شكل التعيين </td>
                                <td dir="rtl"> العدد الموجود</td>
                                <td dir="rtl"> الحاجة الفعلية وفق الملاك العددي</td>
                                <td dir="rtl"> المؤهل العلمي المطلوب حسب مهام الوحدة التنظيمية</td>
                                <td dir="rtl">المؤهل العلمي</td>
                                <td dir="rtl"> الفئة الوظيفية</td>
                                <td dir="rtl"> المسمى الوظيفي</td>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                    <a class="btn btn-info" style="background-color:#d82f2f" onclick="deletechildren(formtable, this)">
                                        <i class="fa fa-trash-o" aria-hidden="true"></i>
                                    </a>
                                </td>
                                <td><input style="direction:rtl;width:200px" data-templatekey="@formTemplate[8].Answers.FirstOrDefault().AnswerTemplateKey" id="" type="text" class="form-group inputanswer" data-tableRowIndex="0" /></td>
                                <td>
                                    <select id="" type="text" dir="rtl" class="form-group select2" style="float:right;width:100%">
                                        <option class="optionanswer" data-templatekey="@formTemplate[7].Answers[0].AnswerTemplateKey" data-tableRowIndex="0">تسمية</option>
                                        <option class="optionanswer" data-templatekey="@formTemplate[7].Answers[1].AnswerTemplateKey" data-tableRowIndex="0">تكليف</option>
                                        <option class="optionanswer" data-templatekey="@formTemplate[7].Answers[2].AnswerTemplateKey" data-tableRowIndex="0">ندب</option>
                                        <option class="optionanswer" data-templatekey="7808" data-tableRowIndex="0">لا يوجد</option>
                                    </select>
                                </td>
                                <td><input style="direction:rtl;width:200px" data-templatekey="@formTemplate[6].Answers.FirstOrDefault().AnswerTemplateKey" id="" type="text" class="form-group inputanswer" data-tableRowIndex="0" /></td>
                                <td><input style="direction:rtl;width:200px" data-templatekey="@formTemplate[5].Answers.FirstOrDefault().AnswerTemplateKey" id="" type="text" class="form-group inputanswer" data-tableRowIndex="0" /></td>
                                @*<td><input style="direction:rtl;width:300px" data-templatekey="@formTemplate[4].Answers.FirstOrDefault().AnswerTemplateKey" id="" type="text" class="form-group inputanswer" /></td>*@
                                <td>
                                    <select data-templatekey="@formTemplate[4].Answers.FirstOrDefault().AnswerTemplateKey" id="" type="text" dir="rtl" class="form-group select2 dropdownanswer" style="float:right;width:100%" data-tableRowIndex="0">
                                        <option> المؤهل العلمي المطلوب حسب مهام الوحدة التنظيمية</option>
                                        <option>دكتوراه</option>
                                        <option>ماجستير</option>
                                        <option> دبلوم دراسات عليا</option>
                                        <option>دبلوم تأهيل تربوي</option>
                                        <option>شهادة جامعية</option>
                                        <option>معهد متوسط بعد الثانوية</option>
                                        <option>شهادة ثانوية</option>
                                        <option>مدرسة أو معهد على أساس التعليم الأساسي</option>
                                        <option>شهادة تعليم أساسي</option>
                                        <option>شهادة ممارسة مهنة</option>
                                        <option>شهادة التعليم الابتدائي</option>
                                        <option>وثيقة محو أمية</option>
                                        <option>غير ملم بالقرءة والكتابة</option>
                                        <option value="غير ذلك (اتاحة كتابة نص)">غير ذلك (اتاحة كتابة نص)</option>
                                    </select><input data-templatekey="@formTemplate[4].Answers.FirstOrDefault().AnswerTemplateKey" data-tableRowIndex="0" type="text" style="float:right;width:100%;display:none;" dir="rtl" />
                                </td>

                                <td>
                                    <select data-templatekey="@formTemplate[3].Answers.FirstOrDefault().AnswerTemplateKey" data-tableRowIndex="0" id="" type="text" dir="rtl" class="form-group select2 dropdownanswer" style="float:right;width:100%">
                                        <option>المؤهل العلمي / الشهادة المطلوبة</option>
                                        <option>دكتوراه</option>
                                        <option>ماجستير</option>
                                        <option> دبلوم دراسات عليا</option>
                                        <option>دبلوم تأهيل تربوي</option>
                                        <option>شهادة جامعية</option>
                                        <option>معهد متوسط بعد الثانوية</option>
                                        <option>شهادة ثانوية</option>
                                        <option>مدرسة أو معهد على أساس التعليم الأساسي</option>
                                        <option>شهادة تعليم أساسي</option>
                                        <option>شهادة ممارسة مهنة</option>
                                        <option>شهادة التعليم الابتدائي</option>
                                        <option>وثيقة محو أمية</option>
                                        <option>غير ملم بالقرءة والكتابة</option>
                                        <option value="غير ذلك (اتاحة كتابة نص)">غير ذلك (اتاحة كتابة نص)</option>
                                    </select><input data-templatekey="@formTemplate[3].Answers.FirstOrDefault().AnswerTemplateKey" type="text" style="float:right;width:100%;display:none;" dir="rtl" />
                                </td>
                                <td>
                                    <select data-templatekey="@formTemplate[2].Answers.FirstOrDefault().AnswerTemplateKey" data-tableRowIndex="0" id="" type="text" dir="rtl" class="form-group select2 dropdownanswer" style="float:right;width:100%">
                                        <option>الفئة الوظيفية</option>
                                        <option>الأولى</option>
                                        <option>الثانية</option>
                                        <option>الثالثة</option>
                                        <option>الرابعة</option>
                                        <option>الخامسة</option>
                                        <option value="غير ذلك (اتاحة كتابة نص)">اتاحة (كتابة نص)</option>
                                    </select><input data-templatekey="@formTemplate[2].Answers.FirstOrDefault().AnswerTemplateKey" data-tableRowIndex="0" type="text" style="float:right;width:100%;display:none;" dir="rtl" />
                                </td>
                                <td>
                                    <select data-templatekey="@formTemplate[1].Answers.FirstOrDefault().AnswerTemplateKey" data-tableRowIndex="0" id="" type="text" dir="rtl" class="form-group select2 dropdownanswer" style="float:right;width:100%">
                                        <option>المسمى الوظيفي</option>
                                        <option>معاون وزير</option>
                                        <option>مدير</option>
                                        <option>معاون مدير</option>
                                        <option>رئيس دائرة</option>
                                        <option>رئيس شعبة</option>
                                        <option>معاون رئيس شعبة</option>
                                        <option>مهندس</option>
                                        <option> كاتب</option>
                                        <option>منشئ</option>
                                        <option>مساعد مهندس</option>
                                        <option>رئيس مرآب</option>
                                        <option>أمين صندوق</option>
                                        <option> أمين مستودع</option>
                                        <option>محاسب محروقات</option>
                                        <option>مأمور هاتف</option>
                                        <option>ساحب</option>
                                        <option>عامل مهني</option>
                                        <option>رئيس ورشة</option>
                                        <option>سائق</option>
                                        <option>مراسل</option>
                                        <option>حارس</option>
                                        <option>آذن</option>
                                        <option>عامل إنتاجي</option>
                                        <option value="غير ذلك (اتاحة كتابة نص)">غير ذلك (اتاحة كتابة نص)</option>
                                    </select><input data-templatekey="@formTemplate[1].Answers.FirstOrDefault().AnswerTemplateKey" data-tableRowIndex="0" type="text" style="float:right;width:100%;display:none;" dir="rtl" />
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="row">
                <button class="btn blue" id="addtable" style="float: right;margin-top: 20px;margin-right: 8px;">
                    إضافة وحدة تنظيمية
                    <i class="fa fa-plus-square" aria-hidden="true"></i>
                </button>
            </div>
            <div class="row" style="text-align:center;padding-top:20px;padding-bottom:20px">
                <button type="button" id="uploadform" class="btn btn-icon btn-primary  margin-inline" style="width:28%;border-radius:.25rem !important">
                    <i class="fa fa-upload" aria-hidden="true"></i>
                    [تحميل]
                </button>
            </div>
        </div>
    }
    else
    {

        List<GetSavedForm_Result> FormValues = ViewBag.FormValues;
        var tableids = FormValues.Select(x => x.AnswerInstanceFileExtensionHTML).Distinct().ToList();

        <div id="result" style="background-color:white;min-height:700px;">

            @foreach (var table in tableids)
            {
                List<GetSavedForm_Result> tablevalue = FormValues.Where(x => x.AnswerInstanceFileExtensionHTML == table && x.AnswerTemplateKey != 3079).OrderBy(f => f.AnswerInstanceFileExtensionHTMLCode).OrderByDescending(x => x.QuestionKeyIndex).ToList();

                var tableCount = tablevalue.Count;
                var numberofrows = tablevalue.Count / 8;

                <div class="form-group row" style="padding-top:20px;background-color: gainsboro">
                    <div class="col-lg-8 col-md-3 col-sm-1 ">
                    </div>
                    <div class="col-lg-2 col-md-4 col-sm-6">
                        @{
                            var readOnly = "readOnly";
                            if (ViewBag.Staus == "OPSaved" && User.IsInRole("ADManager"))
                            {
                                readOnly = "";
                            }
                        }
                        <input type="text" class="form-control inputtitle" dir="rtl" data-index="@tablevalue.FirstOrDefault().AnswerInstanceFileExtensionHTML" data-templatekey="@formTemplate[0].Answers.FirstOrDefault().AnswerTemplateKey" value="@FormValues.Where(x => x.AnswerInstanceFileExtensionHTML == table && x.AnswerTemplateKey == 3079).ToList().FirstOrDefault().AnswerInstanceFileExtensionName" @readOnly>
                    </div>
                    <div class="col-lg-2 col-md-5 col-sm-5">

                        <h5 style="padding-top:8px">
                            : الوحدة التنظيمية
                        </h5>
                    </div>
                </div>

                <div class="row" style="border-bottom:2px solid">
                    <table id="@tablevalue.FirstOrDefault().AnswerInstanceFileExtensionHTML" class="order-column dataTable no-footer tables" cellspacing="0" width="100%" style="padding:10px;border:2px solid #e7ecf1">
                        <thead>
                            <tr>
                                <td dir="rtl"> ملاحظات </td>
                                <td dir="rtl"> شكل التعيين </td>
                                <td dir="rtl"> العدد الموجود</td>
                                <td dir="rtl" style="width:10%;"> الحاجة الفعلية وفق الملاك العددي</td>
                                <td dir="rtl"> المؤهل العلمي المطلوب حسب مهام الوحدة التنظيمية</td>
                                <td dir="rtl">المؤهل العلمي</td>
                                <td dir="rtl"> الفئة الوظيفية</td>
                                <td dir="rtl"> المسمى الوظيفي</td>
                            </tr>
                        </thead>
                        <tbody>
                            @if (ViewBag.Staus == "OPSaved" && User.IsInRole("ADManager"))
                            {
                                int k = 0;

                                for (int i = 0; i < numberofrows; i++)
                                {

                                    <tr>
                                        <td><input style="direction:rtl;width:200px" data-templatekey="@formTemplate[8].Answers.FirstOrDefault().AnswerTemplateKey" id="" type="text" class="form-group inputanswer" value="@tablevalue[k + 0].AnswerInstanceFileExtensionName" data-tableRowIndex="@tablevalue[k + 0].AnswerInstanceFileExtensionHTMLCode" /></td>
                                        <td>
                                            <select id="" type="text" dir="rtl" class="form-group select2" style="float:right;width:100%">
                                                @*<option class="optionanswer" >@tablevalue[k + 2].AnswerInstanceFileExtensionName</option>*@
                                                @{
                                                    var selectedTasmya = tablevalue[k + (tableCount - (tableCount - (numberofrows * 1)))].AnswerInstanceFileExtensionName == "تسمية" ? "selected" : "";
                                                    var selectedTaklif = tablevalue[k + +(tableCount - (tableCount - (numberofrows * 1)))].AnswerInstanceFileExtensionName == "تكليف" ? "selected" : "";
                                                    var selectedNadeb = tablevalue[k + +(tableCount - (tableCount - (numberofrows * 1)))].AnswerInstanceFileExtensionName == "ندب" ? "selected" : "";
                                                    var selectedLaYoujad = tablevalue[k + +(tableCount - (tableCount - (numberofrows * 1)))].AnswerInstanceFileExtensionName == "لا يوجد" ? "selected" : "";
                                                }
                                                <option class="optionanswer" data-templatekey="@formTemplate[7].Answers[0].AnswerTemplateKey" @selectedTasmya data-tableRowIndex="@tablevalue[k + 0].AnswerInstanceFileExtensionHTMLCode">تسمية</option>
                                                <option class="optionanswer" data-templatekey="@formTemplate[7].Answers[1].AnswerTemplateKey" @selectedTaklif data-tableRowIndex="@tablevalue[k + 0].AnswerInstanceFileExtensionHTMLCode">تكليف</option>
                                                <option class="optionanswer" data-templatekey="@formTemplate[7].Answers[2].AnswerTemplateKey" @selectedNadeb data-tableRowIndex="@tablevalue[k + 0].AnswerInstanceFileExtensionHTMLCode">ندب</option>
                                                <option class="optionanswer" data-templatekey="7808" @selectedLaYoujad data-tableRowIndex="@tablevalue[k + 0].AnswerInstanceFileExtensionHTMLCode">لا يوجد</option>
                                            </select>
                                        </td>
                                        <td dir="rtl"><input style="direction:rtl;width:80px" data-templatekey="@formTemplate[6].Answers.FirstOrDefault().AnswerTemplateKey" id="" type="text" class="form-group inputanswer" value="@tablevalue[k + + (tableCount-(tableCount - (numberofrows*2)))].AnswerInstanceFileExtensionName" data-tableRowIndex="@tablevalue[k + 0].AnswerInstanceFileExtensionHTMLCode" /></td>
                                        <td dir="rtl"><input style="direction:rtl;width:80px" data-templatekey="@formTemplate[5].Answers.FirstOrDefault().AnswerTemplateKey" id="" type="text" class="form-group inputanswer" value="@tablevalue[k + + (tableCount-(tableCount - (numberofrows*3)))].AnswerInstanceFileExtensionName" data-tableRowIndex="@tablevalue[k + 0].AnswerInstanceFileExtensionHTMLCode" /></td>
                                        @*<td><input style="direction:rtl;width:300px" data-templatekey="@formTemplate[4].Answers.FirstOrDefault().AnswerTemplateKey" id="" type="text" class="form-group inputanswer" /></td>*@
                                        <td>
                                            <select data-templatekey="@formTemplate[4].Answers.FirstOrDefault().AnswerTemplateKey" id="" type="text" dir="rtl" class="form-group select2 dropdownanswer" style="float:right;width:100%" data-tableRowIndex="@tablevalue[k + 0].AnswerInstanceFileExtensionHTMLCode">
                                                <option>@tablevalue[k + +(tableCount - (tableCount - (numberofrows * 4)))].AnswerInstanceFileExtensionName</option>

                                                <option>دكتوراه</option>
                                                <option>ماجستير</option>
                                                <option> دبلوم دراسات عليا</option>
                                                <option>دبلوم تأهيل تربوي</option>
                                                <option>شهادة جامعية</option>
                                                <option>معهد متوسط بعد الثانوية</option>
                                                <option>شهادة ثانوية</option>
                                                <option>مدرسة أو معهد على أساس التعليم الأساسي</option>
                                                <option>شهادة تعليم أساسي</option>
                                                <option>شهادة ممارسة مهنة</option>
                                                <option>شهادة التعليم الابتدائي</option>
                                                <option>وثيقة محو أمية</option>
                                                <option>غير ملم بالقرءة والكتابة</option>
                                                <option value="غير ذلك (اتاحة كتابة نص)">غير ذلك (اتاحة كتابة نص)</option>
                                            </select><input data-templatekey="@formTemplate[4].Answers.FirstOrDefault().AnswerTemplateKey" type="text" style="float:right;width:100%;display:none;" dir="rtl" />
                                        </td>

                                        <td>
                                            <select data-templatekey="@formTemplate[3].Answers.FirstOrDefault().AnswerTemplateKey" id="" type="text" dir="rtl" class="form-group select2 dropdownanswer" style="float:right;width:100%" data-tableRowIndex="@tablevalue[k + 0].AnswerInstanceFileExtensionHTMLCode">
                                                <option>@tablevalue[k + +(tableCount - (tableCount - (numberofrows * 5)))].AnswerInstanceFileExtensionName</option>
                                                <option>دكتوراه</option>
                                                <option>ماجستير</option>
                                                <option> دبلوم دراسات عليا</option>
                                                <option>دبلوم تأهيل تربوي</option>
                                                <option>شهادة جامعية</option>
                                                <option>معهد متوسط بعد الثانوية</option>
                                                <option>شهادة ثانوية</option>
                                                <option>مدرسة أو معهد على أساس التعليم الأساسي</option>
                                                <option>شهادة تعليم أساسي</option>
                                                <option>شهادة ممارسة مهنة</option>
                                                <option>شهادة التعليم الابتدائي</option>
                                                <option>وثيقة محو أمية</option>
                                                <option>غير ملم بالقرءة والكتابة</option>
                                                <option value="غير ذلك (اتاحة كتابة نص)">غير ذلك (اتاحة كتابة نص)</option>
                                            </select><input data-templatekey="@formTemplate[3].Answers.FirstOrDefault().AnswerTemplateKey" type="text" style="float:right;width:100%;display:none;" dir="rtl" />
                                        </td>
                                        <td>
                                            <select data-templatekey="@formTemplate[2].Answers.FirstOrDefault().AnswerTemplateKey" id="" type="text" dir="rtl" class="form-group select2 dropdownanswer" style="float:right;width:100%" data-tableRowIndex="@tablevalue[k + 0].AnswerInstanceFileExtensionHTMLCode">
                                                <option>@tablevalue[k + +(tableCount - (tableCount - (numberofrows * 6)))].AnswerInstanceFileExtensionName</option>
                                                <option>الأولى</option>
                                                <option>الثانية</option>
                                                <option>الثالثة</option>
                                                <option>الرابعة</option>
                                                <option>الخامسة</option>
                                                <option value="غير ذلك (اتاحة كتابة نص)">اتاحة (كتابة نص)</option>
                                            </select><input data-templatekey="@formTemplate[2].Answers.FirstOrDefault().AnswerTemplateKey" type="text" style="float:right;width:100%;display:none;" dir="rtl" />
                                        </td>
                                        <td>
                                            <select data-templatekey="@formTemplate[1].Answers.FirstOrDefault().AnswerTemplateKey" id="" type="text" dir="rtl" class="form-group select2 dropdownanswer" style="float:right;width:100%" data-tableRowIndex="@tablevalue[k + 0].AnswerInstanceFileExtensionHTMLCode">
                                                <option>@tablevalue[k + +(tableCount - (tableCount - (numberofrows * 7)))].AnswerInstanceFileExtensionName</option>
                                                <option>معاون وزير</option>
                                                <option>مدير</option>
                                                <option>معاون مدير</option>
                                                <option>رئيس دائرة</option>
                                                <option>رئيس شعبة</option>
                                                <option>معاون رئيس شعبة</option>
                                                <option>مهندس</option>
                                                <option> كاتب</option>
                                                <option>منشئ</option>
                                                <option>مساعد مهندس</option>
                                                <option>رئيس مرآب</option>
                                                <option>أمين صندوق</option>
                                                <option> أمين مستودع</option>
                                                <option>محاسب محروقات</option>
                                                <option>مأمور هاتف</option>
                                                <option>ساحب</option>
                                                <option>عامل مهني</option>
                                                <option>رئيس ورشة</option>
                                                <option>سائق</option>
                                                <option>مراسل</option>
                                                <option>حارس</option>
                                                <option>آذن</option>
                                                <option>عامل إنتاجي</option>
                                                <option value="غير ذلك (اتاحة كتابة نص)">غير ذلك (اتاحة كتابة نص)</option>
                                            </select><input data-templatekey="@formTemplate[1].Answers.FirstOrDefault().AnswerTemplateKey" type="text" style="float:right;width:100%;display:none;" dir="rtl" />
                                        </td>
                                    </tr>
                                    if (k <= numberofrows)
                                    {
                                        k++;
                                    }
                                    else
                                    {
                                        k = 0;
                                    }
                                    //k = k+ (numberofrows - 1);
                                }
                            }
                            else
                            {
                                int k = 0;

                                for (int i = 0; i < numberofrows; i++)
                                {
                                    int j = k;
                                    <tr>
                                        @for (int u = 0; u < 8; u++)
                                        {
                                            <td dir="rtl">@tablevalue[j].AnswerInstanceFileExtensionName</td>
                                            j = j + numberofrows;
                                        }
                                    </tr>
                                    k = k + 1;
                                }
                            }

                        </tbody>
                    </table>
                </div>

            }



        </div>
        if (ViewBag.Staus == "OPSaved" && User.IsInRole("ADManager"))
        {
            <div class="row" style="text-align:center;padding-top:20px;padding-bottom:20px">
                <button type="button" id="uploadform" class="btn btn-icon btn-primary  margin-inline" style="width:28%;border-radius:.25rem !important">
                    <i class="fa fa-upload" aria-hidden="true"></i>
                    [تحميل]
                </button>
            </div>
        }
    }

}


<script>
    var FormTable;
    $(document).ready(function () {
        $('#formtable').DataTable({
            "pageLength": 20,
            "sScrollX": "100%",
            "responsive": true,
            "bScrollCollapse": true,
            "bSort": false
        });
        FormTable = $("#formtable").DataTable();
        $(".dataTables_length").css("display", "none")
        $(".dataTables_filter").css("display", "none")
        $(".dataTables_info").css("display", "none")
        $(".dataTables_paginate").css("display", "none")
        //$(".select2").select2({
        //    placeholder: "تحديد الجواب ",
        //});
        $(".select2").select2();
    });

    $(document).on('change', 'select', function () {

        var SELECTEDoPTION = $(this).val();
        if (SELECTEDoPTION == "غير ذلك (اتاحة كتابة نص)") {
            $(this).parent().find("input").show();
            $("#sex").css("display", "none");
        } else {
            $(this).parent().find("input").hide();
        }

    });

    function addchild(tableid) {
        console.log("Indexxxxxx");
        var rowIndex=$("#" + tableid.id).DataTable().rows().count();
        $("#" + tableid.id).DataTable().row.add([
          '<a class="btn btn-info" style="background-color:#d82f2f" onclick="deletechildren(' + tableid.id + ',this)"><i class="fa fa-trash-o" aria-hidden="true"></i></a>',
          '<input style="direction:rtl;width:200px" data-templatekey="3034" id="" type="text" class="form-group inputanswer" data-tableRowIndex="' + rowIndex + '"/>',
          '<select id="" type="text" dir="rtl" class="form-group select2" style="float:right;width:100%"><option class="optionanswer" data-templatekey="3033" data-tableRowIndex="' + rowIndex + '">تسمية</option><option class="optionanswer" data-templatekey="6436" data-tableRowIndex="' + rowIndex + '">تكليف</option> <option class="optionanswer" data-templatekey="6437" data-tableRowIndex="' + rowIndex + '">ندب</option><option class="optionanswer" data-templatekey="7808" data-tableRowIndex="' + rowIndex + '">لا يوجد</option></select>',
          '<input style="direction:rtl;width:200px" data-templatekey="3032" id="" type="text" class="form-group inputanswer" data-tableRowIndex="' + rowIndex + '"/>',
          '<input style="direction:rtl;width:200px" data-templatekey="3031" id="" type="text" class="form-group inputanswer" data-tableRowIndex="' + rowIndex + '"/>',
          //'<input style="direction:rtl;width:300px" data-templatekey="3030" id="" type="text" class="form-group inputanswer" />',
          '<td><select data-templatekey="3030" id="" type="text" dir="rtl" class="form-group select2 dropdownanswer" style="float:right;width:100%" data-tableRowIndex="' + rowIndex + '"><option> المؤهل العلمي المطلوب حسب مهام الوحدة التنظيمية</option><option>دكتوراه</option><option>ماجستير</option><option> دبلوم دراسات عليا</option><option>دبلوم تأهيل تربوي</option><option>شهادة جامعية</option><option>معهد متوسط بعد الثانوية</option><option>شهادة ثانوية</option><option>مدرسة أو معهد على أساس التعليم الأساسي</option><option>شهادة تعليم أساسي</option><option>شهادة ممارسة مهنة</option><option>شهادة التعليم الابتدائي</option><option>وثيقة محو أمية</option><option>غير ملم بالقرءة والكتابة</option><option>غير ذلك (اتاحة كتابة نص)</option></select><input data-templatekey="3046"  type="text" style="float:right;width:100%;display:none;" dir="rtl"/></td>',

         '<td><select data-templatekey="3029" id="" type="text" dir="rtl" class="form-group select2 dropdownanswer" style="float:right;width:100%" data-tableRowIndex="' + rowIndex + '"><option>المؤهل العلمي / الشهادة المطلوبة</option><option>دكتوراه</option><option>ماجستير</option><option> دبلوم دراسات عليا</option><option>دبلوم تأهيل تربوي</option><option>شهادة جامعية</option><option>معهد متوسط بعد الثانوية</option><option>شهادة ثانوية</option><option>مدرسة أو معهد على أساس التعليم الأساسي</option><option>شهادة تعليم أساسي</option><option>شهادة ممارسة مهنة</option><option>شهادة التعليم الابتدائي</option><option>وثيقة محو أمية</option><option>غير ملم بالقرءة والكتابة</option><option>غير ذلك (اتاحة كتابة نص)</option></select><input data-templatekey="3046"  type="text" style="float:right;width:100%;display:none;" dir="rtl"/></td>',
          //'<select data-templatekey="3029" id="" type="text" dir="rtl" class="form-group select2 dropdownanswer" style="float:right;width:100%"><option></option><option>دكتوراه</option><option>ماجستير</option><option> دبلوم تخصصي</option><option> شهادة جامعية</option><option> معهد متوسط</option><option>  شهادة ثانوية</option><option> تعليم أساسي</option></select>',
         '<td><select data-templatekey="3028" id="" type="text" dir="rtl" class="form-group select2 dropdownanswer" style="float:right;width:100%" data-tableRowIndex="' + rowIndex + '"><option>الفئة الوظيفية</option><option>الأولى</option><option>الثانية</option><option>الثالثة</option><option>الرابعة</option><option>الخامسة</option><option>غير ذلك (اتاحة كتابة نص)</option></select><input data-templatekey="3044"  type="text" style="float:right;width:100%;display:none;" dir="rtl"/></td>',
          //'<select data-templatekey="3028" id="" type="text" dir="rtl" class="form-group select2 dropdownanswer" style="float:right;width:100%"><option></option><option>الأولى</option><option>الثانية</option><option>الثالثة</option><option>الرابعة</option><option>الخامسة</option></select>',
        '<td><select data-templatekey="3027" id="" type="text" dir="rtl" class="form-group select2 dropdownanswer" style="float:right;width:100%" data-tableRowIndex="' + rowIndex + '"><option>المسمى الوظيفي</option><option>معاون وزير</option><option>مدير</option><option>معاون مدير</option><option>رئيس دائرة</option><option>رئيس شعبة</option><option>معاون رئيس شعبة</option><option>مهندس</option><option> كاتب</option><option>منشئ</option><option>مساعد مهندس</option><option>رئيس مرآب</option><option>أمين صندوق</option><option> أمين مستودع</option><option>محاسب محروقات</option><option>مأمور هاتف</option><option>ساحب</option><option>عامل مهني</option>  <option>رئيس ورشة</option><option>سائق</option><option>مراسل</option><option>حارس</option><option>آذن</option><option>عامل إنتاجي</option><option>غير ذلك (اتاحة كتابة نص)</option></select><input data-templatekey="3043"  type="text" style="float:right;width:100%;display:none;" dir="rtl"/></td>',
          //'<select data-templatekey="3027" id="" type="text" dir="rtl" class="form-group select2 dropdownanswer" style="float:right;width:100%"><option></option><option>رئيس دائرة</option><option>مراسل</option><option>آذن</option> <option>سائق</option><option>عامل فني</option><option>مساعد فني</option><option>منشئ</option><option>معاون رئيس شعبة</option><option>رئيس شعبة</option><option>معاون مدير</option><option>مدير</option></select>',
        ]).draw(false);
        $(".select2").select2({
            placeholder: "تحديد الجواب ",
        });
    }




    function deletechildren(tableid, childrenrow) {
        console.log(tableid);
        $("#" + tableid.id).DataTable()
       .row($(childrenrow).parents('tr'))
       .remove()
       .draw();
    }


    var tablenumber = 1;
    var levelnumber;



    $("#addtable").click(function (e) {

        switch (tablenumber) {
            case 1:
                levelnumber = "مستوى ثاني";
                break;
            case 2:
                levelnumber = "مستوى ثالث";
                $("#addtable").prop("disabled", true);
                break;
 
        }

        var newtable = ' <div class="form-group row" style="padding-top:20px;background-color: gainsboro"><div class="col-lg-8 col-md-3 col-sm-1  "></div><div class="col-lg-2 col-md-4 col-sm-6"><select data-templatekey="3079" data-index="formtable' + tablenumber + '" type="text" class="form-control inputtitle col-lg-2 col-md-4 col-sm-8 col-xs-8 form-group select2 dropdownanswer" style="float:right;width:80%" id="wehdatanzimya' + tablenumber + '" dir="rtl"><option data-templatekey="6495">مديرية</option><option data-templatekey="6495">إدارة</option><option data-templatekey="6495">فرع</option></select></div><div class="col-lg-2 col-md-5 col-sm-5"><h5 style="padding-top:8px">: (' + levelnumber + ')الوحدة التنظيمية</h5></div></div>';


        newtable += '<div class="row" style="border-bottom:2px solid">';
        newtable += '<table id="formtable' + tablenumber + '" class="order-column dataTable no-footer tables" cellspacing="0" width="100%" style="padding:10px;border:2px solid #e7ecf1">';
        newtable += '<button class="btn blue" onclick="addchild(formtable' + tablenumber + ')"  style="float: right;margin-top: 20px;margin-right: 8px;"><i class="fa fa-plus-square" aria-hidden="true"></i></button>';
        newtable += '<thead><tr><td> حذف </td><td dir="rtl"> ملاحظات </td><td dir="rtl"> شكل التعيين </td><td dir="rtl"> العدد الموجود</td><td dir="rtl"> الحاجة الفعلية وفق الملاك العددي</td><td dir="rtl"> المؤهل العلمي المطلوب حسب مهام الوحدة التنظيمية</td><td dir="rtl">المؤهل العلمي</td><td dir="rtl"> الفئة الوظيفية</td><td dir="rtl"> المسمى الوظيفي</td></tr></thead>';
        newtable += '<tbody>';
        newtable += '<tr>';

        newtable += '<td><a class="btn btn-info" style="background-color:#d82f2f" onclick="deletechildren(' + tablenumber + ',this)"><i class="fa fa-trash-o" aria-hidden="true"></i></a></td>';
        newtable += '<td><input style="direction:rtl;width:200px" data-templatekey="3034" id="" type="text" class="form-group inputanswer" data-tableRowIndex="0"/></td>';
        newtable += '<td><select id="" type="text" dir="rtl" class="form-group select2" style="float:right;width:100%"><option class="optionanswer" data-templatekey="3033" data-tableRowIndex="0">تسمية</option><option class="optionanswer" data-templatekey="6436" data-tableRowIndex="0">تكليف</option> <option class="optionanswer" data-templatekey="6437" data-tableRowIndex="0">ندب</option><option class="optionanswer" data-templatekey="7808" data-tableRowIndex="0">لا يوجد</option></select></td>';
        newtable += '<td><input style="direction:rtl;width:200px" data-templatekey="3032" id="" type="text" class="form-group inputanswer" data-tableRowIndex="0"/></td>';
        newtable += '<td><input style="direction:rtl;width:200px" data-templatekey="3031" id="" type="text" class="form-group inputanswer" data-tableRowIndex="0"/></td>';
        newtable += '<td><select data-templatekey="3030" id="" type="text" dir="rtl" class="form-group select2 dropdownanswer" style="float:right;width:100%" data-tableRowIndex="0"><option> المؤهل العلمي المطلوب حسب مهام الوحدة التنظيمية</option><option>دكتوراه</option><option>ماجستير</option><option> دبلوم دراسات عليا</option><option>دبلوم تأهيل تربوي</option><option>شهادة جامعية</option><option>معهد متوسط بعد الثانوية</option><option>شهادة ثانوية</option><option>مدرسة أو معهد على أساس التعليم الأساسي</option><option>شهادة تعليم أساسي</option><option>شهادة ممارسة مهنة</option><option>شهادة التعليم الابتدائي</option><option>وثيقة محو أمية</option><option>غير ملم بالقرءة والكتابة</option><option>غير ذلك (اتاحة كتابة نص)</option></select><input data-templatekey="3046"  type="text" style="float:right;width:100%;display:none;" dir="rtl"/>';
        newtable += '<td><select data-templatekey="3029" id="" type="text" dir="rtl" class="form-group select2 dropdownanswer" style="float:right;width:100%" data-tableRowIndex="0"><option>المؤهل العلمي / الشهادة المطلوبة</option><option>دكتوراه</option><option>ماجستير</option><option> دبلوم دراسات عليا</option><option>دبلوم تأهيل تربوي</option><option>شهادة جامعية</option><option>معهد متوسط بعد الثانوية</option><option>شهادة ثانوية</option><option>مدرسة أو معهد على أساس التعليم الأساسي</option><option>شهادة تعليم أساسي</option><option>شهادة ممارسة مهنة</option><option>شهادة التعليم الابتدائي</option><option>وثيقة محو أمية</option><option>غير ملم بالقرءة والكتابة</option><option>غير ذلك (اتاحة كتابة نص)</option></select><input data-templatekey="3046"  type="text" style="float:right;width:100%;display:none;" dir="rtl"/></td>';
        newtable += '<td><select data-templatekey="3028" id="" type="text" dir="rtl" class="form-group select2 dropdownanswer" style="float:right;width:100%" data-tableRowIndex="0"><option>الفئة الوظيفية</option><option>الأولى</option><option>الثانية</option><option>الثالثة</option><option>الرابعة</option><option>الخامسة</option><option>غير ذلك (اتاحة كتابة نص)</option></select><input data-templatekey="3044"  type="text" style="float:right;width:100%;display:none;" dir="rtl"/></td>';
        newtable += '<td><select data-templatekey="3027" id="" type="text" dir="rtl" class="form-group select2 dropdownanswer" style="float:right;width:100%" data-tableRowIndex="0"><option>المسمى الوظيفي</option><option>معاون وزير</option><option>مدير</option><option>معاون مدير</option><option>رئيس دائرة</option><option>رئيس شعبة</option><option>معاون رئيس شعبة</option><option>مهندس</option><option> كاتب</option><option>منشئ</option><option>مساعد مهندس</option><option>رئيس مرآب</option><option>أمين صندوق</option><option> أمين مستودع</option><option>محاسب محروقات</option><option>مأمور هاتف</option><option>ساحب</option><option>عامل مهني</option>  <option>رئيس ورشة</option><option>سائق</option><option>مراسل</option><option>حارس</option><option>آذن</option><option>عامل إنتاجي</option><option>غير ذلك (اتاحة كتابة نص)</option></select><input data-templatekey="3043"  type="text" style="float:right;width:100%;display:none;" dir="rtl"/></td>';

        //newtable += '<td><a class="btn btn-info" style="background-color:#d82f2f" onclick="deletechildren(formtable' + tablenumber + ',this)"><i class="fa fa-trash-o" aria-hidden="true"></i></a></td>';
        //newtable += '<td><input style="direction:rtl;width:200px" data-templatekey="3034" id="" type="text" class="form-group inputanswer" /></td>';
        //newtable += '<td><select id="" type="text" dir="rtl" class="form-group select2" style="float:right;width:100%"><option class="optionanswer" data-templatekey="3033">تسمية</option><option class="optionanswer" data-templatekey="6436">تكليف</option> <option class="optionanswer" data-templatekey="6437">ندب</option></select></td>';
        //newtable += '<td><input style="direction:rtl;width:200px" data-templatekey="3032" id="" type="text" class="form-group inputanswer" /></td>';
        //newtable += '<td><input style="direction:rtl;width:200px" data-templatekey="3031" id="" type="text" class="form-group inputanswer" /></td>';
        //newtable += '<td><input style="direction:rtl;width:300px" data-templatekey="3030" id="" type="text" class="form-group inputanswer" /></td>';
        //newtable += '<td><select data-templatekey="3029" id="" type="text" dir="rtl" class="form-group select2 dropdownanswer" style="float:right;width:100%"><option></option><option>دكتوراه</option><option>ماجستير</option><option> دبلوم تخصصي</option><option> شهادة جامعية</option><option> معهد متوسط</option><option>  شهادة ثانوية</option><option> تعليم أساسي</option></select></td>';
        //newtable += '<td><select data-templatekey="3028" id="" type="text" dir="rtl" class="form-group select2 dropdownanswer" style="float:right;width:100%"><option></option><option>الأولى</option><option>الثانية</option><option>الثالثة</option><option>الرابعة</option><option>الخامسة</option></select></td>';
        //newtable += '<td><select data-templatekey="3027" id="" type="text" dir="rtl" class="form-group select2 dropdownanswer" style="float:right;width:100%"><option></option><option>رئيس دائرة</option><option>مراسل</option><option>آذن</option> <option>سائق</option><option>عامل فني</option><option>مساعد فني</option><option>منشئ</option><option>معاون رئيس شعبة</option><option>رئيس شعبة</option><option>معاون مدير</option><option>مدير</option></select></td>';
        newtable += '</tr>';
        newtable += '</tbody>';
        newtable += '</table>';
        newtable += '</div></div>';


        $("#tables").append(newtable);
        $(".select2").select2({
            placeholder: "تحديد الجواب ",
        });
        //$("#formtable" + tablenumber).DataTable();

        $("#formtable" + tablenumber).DataTable({
            "pageLength": 20,
            "sScrollX": "100%",
            "responsive": false,
            "bScrollCollapse": true,
            "bSort": false

        });

        //$(".select2").select2({
        //    placeholder: "تحديد الجواب ",
        //});
        $(".dataTables_length").css("display", "none")
        $(".dataTables_filter").css("display", "none")
        $(".dataTables_info").css("display", "none")
        $(".dataTables_paginate").css("display", "none")

        tablenumber++;

    });


    var AnswerTemplateKey = [];
    var FormKey;

    $(document).on('click', '#uploadform', function (event) {

        var emptyfields = 0;
        $('.inputtitle').each(function (index, element) {
            if ($(this).val() == "") {
                $(this).css("border", "2px solid red")
                emptyfields = 1;
            }
        });

        if (emptyfields == 1) {
            bootbox.alert("حدد جميع الوحدات التنظيمية !");
            return false;

        }

        var answsers = "";
        $('.inputtitle').each(function (index, element) {
            answsers = { key: $(this).attr("data-templatekey"), Textvalue: $(this).val(), type: "UserInput", Index: $(this).attr("data-index"), Lines: "wehdatanzimya", Parent: "", Child: "", count: "" }
            AnswerTemplateKey.push(answsers);
        });

        $('.inputanswer').each(function (index, element) {
            var inputvalue = "";
            if ($(this).val() == "") {
                inputvalue = " ";
            } else {
                inputvalue = $(this).val();
            }

            answsers = { key: $(this).attr("data-templatekey"), Textvalue: inputvalue, type: "UserInput", Index: $(this).parent().parent().parent().parent()[0].id, Lines: $(this).attr("data-tableRowIndex"), Parent: "", Child: "", count: "" }
            AnswerTemplateKey.push(answsers);
        });

        $('.dropdownanswer').each(function (index, element) {
            var dropdownvalue = "";
            if ($(this).val() == "") {
                dropdownvalue = " ";
            } else {
                dropdownvalue = $(this).val();
                if (dropdownvalue == "غير ذلك (اتاحة كتابة نص)")
                    dropdownvalue = $(this).parent().find("input").val();
            }
            answsers = { key: $(this).attr("data-templatekey"), Textvalue: dropdownvalue, type: "DropDown", Index: $(this).parent().parent().parent().parent()[0].id, Lines: $(this).attr("data-tableRowIndex"), Parent: "", Child: "", count: "" }
            AnswerTemplateKey.push(answsers);
        });


        $('option:selected').each(function () {
            if ($(this)[0].className == "optionanswer") {
                answsers = { key: $(this).attr("data-templatekey"), Textvalue: $(this).val(), type: "DropDown", Index: $(this).parent().parent().parent().parent().parent()[0].id, Lines: $(this).attr("data-tableRowIndex"), Parent: "", Child: "", count: "" }
                AnswerTemplateKey.push(answsers);
            }
        });

        waitingDialog.show(' !!!  جاري التحميل');
        var organisationKey = '@ViewBag.OrganisationKey';
        @if (User.IsInRole("Human Development Sector") || User.IsInRole("Administrative sector") || User.IsInRole("Economic sector") || User.IsInRole("Service sector") || User.IsInRole("OPManagerGroup5") || User.IsInRole("OPManagerGroup6") || User.IsInRole("OPManagerGroup7"))
        {
            <text>
        organisationKey = $("#OpOrgDropdown").val();
        </text>
        }
        console.log("AnswerTemplateKeyAnswerTemplateKeyAnswerTemplateKeyAnswerTemplateKey");
        console.log(AnswerTemplateKey);

        if ('@ViewBag.formInstanceKey' != "") {
            setTimeout(function () {

                $.ajax({
                    url: '@Url.Action("DeleteAnswers", "ClaimForms")',
                    type: 'GET',
                    dataType: 'json',
                    cache: false,
                    data: {
                        idForm: '@ViewBag.formInstanceKey'
                    },
                    success: function (data) {
                        console.log(AnswerTemplateKey);
                        FormKey = data;
                        $.ajax({
                            url: '@Url.Action("AnswersByUser", "ClaimForms")',
                            type: 'POST',
                            dataType: 'json',
                            cache: false,
                            data: {
                                formKey: '@ViewBag.formInstanceKey', answerTemplateKey: JSON.stringify(AnswerTemplateKey)
                            },
                            success: function (data) {
                                $.ajax({
                                    url: '@Url.Action("SaveClaimForm", "ClaimForms")',
                                    type: 'GET',
                                    dataType: 'json',
                                    cache: false,
                                    data: {
                                        formKey: '@ViewBag.formInstanceKey'
                                    },
                                    success: function (data) {
                                        var Title = $("#title").text();
                                        var test = "تعبئة إستمارة";
                                        var message = test + " " + Title;
                                        SetLog(Title.split(":", 1), Title.split(":", 1), message);
                                        window.location = '@Url.Action("AdManagersClaims", "Home")/' + "?ClaimType=" + '@ViewBag.FormTemplateType';

                                    }
                                });
                            }
                        });
                    }
                });

            }, 2000);
        } else {
            $.ajax({
                url: '@Url.Action("SubmitFormForUser", "ClaimForms")',
                type: 'GET',
                dataType: 'json',
                cache: false,
                data: {
                    trackingStatusKey: "1", formTemplateKey: "138", userKey: "@User.Identity.GetUserId()", organisationKey: organisationKey
                },
                success: function (data) {
                    FormKey = data;
                    $.ajax({
                        url: '@Url.Action("AnswersByUser", "ClaimForms")',
                        type: 'POST',
                        dataType: 'json',
                        cache: false,
                        data: {
                            formKey: FormKey, answerTemplateKey: JSON.stringify(AnswerTemplateKey)
                        },
                        success: function (data) {
                            @if (User.IsInRole("Human Development Sector") || User.IsInRole("Administrative sector") || User.IsInRole("Economic sector") || User.IsInRole("Service sector") || User.IsInRole("OPManagerGroup5") || User.IsInRole("OPManagerGroup6") || User.IsInRole("OPManagerGroup7"))
                             {
                                 <text>
                            $.ajax({
                                url: '@Url.Action("SaveOPForm", "ClaimForms")',
                                type: 'GET',
                                dataType: 'json',
                                cache: false,
                                data: {
                                    OpOrgKey: FormKey
                                },
                                success: function (data) {
                                    var Title = $("#title").text();
                                    var test = "تعبئة إستمارة";
                                    var message = test + " " + Title;
                                    SetLog(Title.split(":", 1), Title.split(":", 1), message);
                                    window.location = '@Url.Action("AdManagersClaims", "Home")/' + "?ClaimType=" + '@ViewBag.FormTemplateType';
                                }
                            });
                            </text>
                             }else
                             {
                                 <text>
                            $.ajax({
                                url: '@Url.Action("SaveClaimForm", "ClaimForms")',
                                type: 'GET',
                                dataType: 'json',
                                cache: false,
                                data: {
                                    formKey: FormKey
                                },
                                success: function (data) {
                                    var Title = $("#title").text();
                                    var test = "تعبئة إستمارة";
                                    var message = test + " " + Title;
                                    SetLog(Title.split(":", 1), Title.split(":", 1), message);
                                    window.location = '@Url.Action("AdManagersClaims", "Home")/' + "?ClaimType=" + '@ViewBag.FormTemplateType';
                                }
                            });
                            </text>
                             }

                        }
                    });
                }
            });
        }

    });





</script>
