﻿@using Newtonsoft.Json
@using Microsoft.AspNet.Identity;
@using MoAD.WebApplication.DataObjects;
@using MoAD.DataObjects.EDMX;

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutInitialPage.cshtml";
    var formTemplate = Model as List<MoAD.WebApplication.DataObjects.Question>;
    List<SelectListItem> OpOrganisations = ViewData["OpOrganisations"] as List<SelectListItem>;
    List<GetSavedForm_Result> FormValues = ViewBag.FormValues;
    var rowNumber = 2;
    var FilteredFormValues = FormValues;
    if (FormValues != null)
    {
        rowNumber = FormValues.Count() / 6;
        // FilteredFormValues = FormValues.OrderBy(x => Convert.ToInt32(x.AnswerInstanceFileExtensionHTML)).ToList();

        var rowsIndex = FormValues.Select(x => x.AnswerInstanceFileExtensionHTML).Distinct().ToList();


    }
}
<style>
    .titles {
        text-align: right;
    }

    .dropify-wrapper {
        width: 200px;
        margin-top: 10px;
    }

    .file-icon {
        display: none;
    }

    .modal-content {
        text-align: right;
    }
</style>

@if (User.IsInRole("Human Development Sector") || User.IsInRole("Administrative sector") || User.IsInRole("Economic sector") || User.IsInRole("Service sector") || User.IsInRole("OPManagerGroup5") || User.IsInRole("OPManagerGroup6") || User.IsInRole("OPManagerGroup7"))
{
    <div class="col-md-12" style="direction:rtl;text-align:right;">
        <div>
            <h3 class="text-right questionans" style="text-align:right;display:block">
                الجهة المراد تقديم الاستبانة عنها:
                <span class="small"></span>
            </h3>

        </div>
        <div style="display:block;padding-bottom: 20px;margin-left:3%;" class="questionans">
            @Html.DropDownList("Organisations", OpOrganisations, "الجهة العامة", new { @class = "form-group select2", @id = "OpOrgDropdown" })
        </div>
    </div>
}

<div class="row" style="text-align:center;padding-top:20px;padding-bottom:20px;">
    <h3>
        @ViewBag.FormTemplateName
        @*الشريحة الثالثة تفصيل الملاك العددي للجهة العامة*@
    </h3>
</div>


<div id="example" style="background-color:white;min-height:600px;">
    <div class="row" style="border-bottom:2px solid">

        <div class="form-body pull-right" style="width:100%;">
            <div class="row pull-right" id="" style="width: 97%;margin-right:2%;">
                <div class="row" id="" style="float: right;width:100%;">

                    @if (ViewBag.formInstanceKey == "" || (ViewBag.Staus == "OPSaved" && User.IsInRole("ADManager")))
                    {
                            <button class="btn blue" id="btnAddChild" style="float: right;margin-top: 20px;margin-right: 8px;">
                                <i class="fa fa-plus-square" aria-hidden="true"></i>
                            </button>
                    }
                    <div style="float:right;margin-top: 21px;margin-right: 8px;width:100%;">
@if (ViewBag.Staus == "OPSaved" && User.IsInRole("ADManager"))
{
                        <table id="formtable" class="cell-border" cellspacing="0" width="100%" style="padding:10px;border:2px solid #e7ecf1">
                            <thead>
                                <tr>

                                    <td> حذف </td>
                                    <td dir="rtl"> حمل بطاقة الوصف الوظيفي للشاغر </td>
                                    <td dir="rtl"> عدد الشاغر منها</td>
                                    <td dir="rtl"> عدد الشاغل منها</td>
                                    <td dir="rtl">المؤهل العلمي / الشهادة المطلوبة</td>
                                    <td dir="rtl">العدد</td>
                                    <td dir="rtl"> الفئة الوظيفية</td>
                                    <td dir="rtl"> المسمى الوظيفي</td>
                                </tr>
                            </thead>
                            <tbody>

                                @if (ViewBag.formInstanceKey == "" || (ViewBag.Staus == "OPSaved" && User.IsInRole("ADManager")))
                                {
                                    var rowsIndex = FormValues.Select(x => x.AnswerInstanceFileExtensionHTML).Distinct().ToList();
                                    int i = 1;
                                 
                                    foreach (var row in rowsIndex)
                                    {
                                        List<GetSavedForm_Result> rowvalues = FormValues.Where(x => x.AnswerInstanceFileExtensionHTML == row).OrderByDescending(x => x.QuestionKeyIndex).ToList();
                                        <tr>
                                            <td>
                                                <a class="btn btn-info" style="background-color:#d82f2f" onclick="deletechildren(this)">
                                                    <i class="fa fa-trash-o" aria-hidden="true"></i>
                                                </a>
                                            </td>
                                            <td>
                                                <a download="@rowvalues[0].AnswerInstanceFileExtensionName" href="@rowvalues[0].AnswerInstanceFileExtensionFilePathOrSource" title="ImageName">
                                                    <img id="" name="" src="@rowvalues[0].AnswerInstanceFileExtensionFilePathOrSource" style="height:150px;width:150px;" />
                                                </a>
                                            <input data-index="@i" data-templatekey="@formTemplate[6].Answers.FirstOrDefault().AnswerTemplateKey" type="file" class="dropify" data-height="80" data-fileContent="@rowvalues[0].AnswerInstanceFileExtensionFilePathOrSource" data-fileName="@rowvalues[0].AnswerInstanceFileExtensionName"/>
                                            </td>
                                            @{ 
                                                var diff = int.Parse(rowvalues[4].AnswerInstanceFileExtensionName) - int.Parse(rowvalues[2].AnswerInstanceFileExtensionName);
                                    }
                                            <td><input data-index="@i" data-templatekey="@formTemplate[5].Answers.FirstOrDefault().AnswerTemplateKey" type="text" dir="rtl" class="form-group answer @formTemplate[5].Answers.FirstOrDefault().AnswerTemplateKey" style="float:right;width:100%" disabled value="@diff"/></td>
                                            <td><input data-index="@i" data-templatekey="@formTemplate[4].Answers.FirstOrDefault().AnswerTemplateKey" type="text" dir="rtl" class="form-group answer @formTemplate[4].Answers.FirstOrDefault().AnswerTemplateKey" onkeyup="Calculate('1')" style="float:right;width:100%" value="@rowvalues[2].AnswerInstanceFileExtensionName"/></td>
                                            <td>
                                                <select data-templatekey="@formTemplate[3].Answers.FirstOrDefault().AnswerTemplateKey" data-index="@i" id="" type="text" dir="rtl" class="form-group select2 dropdownanswer" style="float:right;width:100%">
                                                    <option>@rowvalues[3].AnswerInstanceFileExtensionName</option>
                                                    <option>دكتوراه</option>
                                                    <option>ماجستير</option>
                                                    <option> دبلوم دراسات عليا</option>
                                                    <option>دبلوم تأهيل تربوي</option>
                                                    <option>شهادة جامعية</option>
                                                    <option>معهد متوسط بعد الثانوية</option>
                                                    <option>شهادة ثانوية</option>
                                                    <option>مدرسة أو معهد على أساس التعليم الأساسي</option>
                                                    <option>شهادة تعليم أساسي</option>
                                                    <option>شهادة ممارسة مهنة</option>
                                                    <option>شهادة التعليم الابتدائي</option>
                                                    <option>وثيقة محو أمية</option>
                                                    <option>غير ملم بالقرءة والكتابة</option>
                                                    <option value="غير ذلك (اتاحة كتابة نص)">غير ذلك (اتاحة كتابة نص)</option>
                                                </select><input data-templatekey="@formTemplate[0].Answers.FirstOrDefault().AnswerTemplateKey" type="text" style="float:right;width:100%;display:none;" dir="rtl" />
                                            </td>
                                            <td><input data-index="@i" data-templatekey="@formTemplate[2].Answers.FirstOrDefault().AnswerTemplateKey" type="text" dir="rtl" class="form-group answer @formTemplate[2].Answers.FirstOrDefault().AnswerTemplateKey" style="float:right;width:100%" value="@rowvalues[4].AnswerInstanceFileExtensionName"/></td>
                                            <td>
                                                <select data-templatekey="@formTemplate[1].Answers.FirstOrDefault().AnswerTemplateKey" id="" type="text" dir="rtl" class="form-group select2 dropdownanswer" style="float:right;width:100%" data-index="@i">
                                                    <option>@rowvalues[5].AnswerInstanceFileExtensionName</option>
                                                    <option>الأولى</option>
                                                    <option>الثانية</option>
                                                    <option>الثالثة</option>
                                                    <option>الرابعة</option>
                                                    <option>الخامسة</option>
                                                    <option value="غير ذلك (اتاحة كتابة نص)">اتاحة (كتابة نص)</option>

                                                </select><input data-templatekey="@formTemplate[1].Answers.FirstOrDefault().AnswerTemplateKey" type="text" style="float:right;width:100%;display:none;" dir="rtl" />
                                            </td>

                                            <td>
                                                <select data-templatekey="@formTemplate[0].Answers.FirstOrDefault().AnswerTemplateKey" data-index="@i" id="sex" type="text" dir="rtl" class="form-group select2 dropdownanswer" style="float:right;width:100%">
                                                    <option>@rowvalues[6].AnswerInstanceFileExtensionName</option>
                                                    <option>معاون وزير</option>
                                                    <option>مدير</option>
                                                    <option>معاون مدير</option>
                                                    <option>رئيس دائرة</option>
                                                    <option>رئيس شعبة</option>
                                                    <option>معاون رئيس شعبة</option>
                                                    <option>مهندس</option>
                                                    <option> كاتب</option>
                                                    <option>منشئ</option>
                                                    <option>مساعد مهندس</option>
                                                    <option>رئيس مرآب</option>
                                                    <option>أمين صندوق</option>
                                                    <option> أمين مستودع</option>
                                                    <option>محاسب محروقات</option>
                                                    <option>مأمور هاتف</option>
                                                    <option>ساحب</option>
                                                    <option>عامل مهني</option>
                                                    <option>رئيس ورشة</option>
                                                    <option>سائق</option>
                                                    <option>مراسل</option>
                                                    <option>حارس</option>
                                                    <option>آذن</option>
                                                    <option>عامل إنتاجي</option>
                                                    <option value="غير ذلك (اتاحة كتابة نص)">غير ذلك (اتاحة كتابة نص)</option>


                                                </select><input data-templatekey="@formTemplate[0].Answers.FirstOrDefault().AnswerTemplateKey" type="text" style="float:right;width:100%;display:none;" dir="rtl" />
                                            </td>
                                        </tr>
                                                        i++;
                                                    }

                                                }

                            </tbody>
                        </table>
}
else
{
    <table id="formtable" class="cell-border" cellspacing="0" width="100%" style="padding:10px;border:2px solid #e7ecf1">
        <thead>
            <tr>
                @if (ViewBag.formInstanceKey == "")
                {
                    <td> حذف </td>
                }
                <td dir="rtl"> حمل بطاقة الوصف الوظيفي للشاغر </td>
                <td dir="rtl"> عدد الشاغر منها</td>
                <td dir="rtl"> عدد الشاغل منها</td>
                <td dir="rtl">المؤهل العلمي / الشهادة المطلوبة</td>
                <td dir="rtl">العدد</td>
                <td dir="rtl"> الفئة الوظيفية</td>
                <td dir="rtl"> المسمى الوظيفي</td>
            </tr>
        </thead>
        <tbody>

            @if (ViewBag.formInstanceKey == "")
            {
                <tr>
                    <td>
                        <a class="btn btn-info" style="background-color:#d82f2f" onclick="deletechildren(this)">
                            <i class="fa fa-trash-o" aria-hidden="true"></i>
                        </a>
                    </td>
                    <td><input data-index="1" data-templatekey="@formTemplate[6].Answers.FirstOrDefault().AnswerTemplateKey" type="file" class="dropify" data-height="80" /></td>
                    <td><input data-index="1" data-templatekey="@formTemplate[5].Answers.FirstOrDefault().AnswerTemplateKey" type="text" dir="rtl" class="form-group answer @formTemplate[5].Answers.FirstOrDefault().AnswerTemplateKey" style="float:right;width:100%" disabled /></td>
                    <td><input data-index="1" data-templatekey="@formTemplate[4].Answers.FirstOrDefault().AnswerTemplateKey" type="text" dir="rtl" class="form-group answer @formTemplate[4].Answers.FirstOrDefault().AnswerTemplateKey" onkeyup="Calculate('1')" style="float:right;width:100%" /></td>
                    <td>
                        <select data-templatekey="@formTemplate[3].Answers.FirstOrDefault().AnswerTemplateKey" data-index="1" id="" type="text" dir="rtl" class="form-group select2 dropdownanswer" style="float:right;width:100%">
                            <option>المؤهل العلمي / الشهادة المطلوبة</option>
                            <option>دكتوراه</option>
                            <option>ماجستير</option>
                            <option> دبلوم دراسات عليا</option>
                            <option>دبلوم تأهيل تربوي</option>
                            <option>شهادة جامعية</option>
                            <option>معهد متوسط بعد الثانوية</option>
                            <option>شهادة ثانوية</option>
                            <option>مدرسة أو معهد على أساس التعليم الأساسي</option>
                            <option>شهادة تعليم أساسي</option>
                            <option>شهادة ممارسة مهنة</option>
                            <option>شهادة التعليم الابتدائي</option>
                            <option>وثيقة محو أمية</option>
                            <option>غير ملم بالقرءة والكتابة</option>
                            <option value="غير ذلك (اتاحة كتابة نص)">غير ذلك (اتاحة كتابة نص)</option>
                        </select><input data-templatekey="@formTemplate[0].Answers.FirstOrDefault().AnswerTemplateKey" type="text" style="float:right;width:100%;display:none;" dir="rtl" />
                    </td>
                    <td><input data-index="1" data-templatekey="@formTemplate[2].Answers.FirstOrDefault().AnswerTemplateKey" type="text" dir="rtl" class="form-group answer @formTemplate[2].Answers.FirstOrDefault().AnswerTemplateKey" style="float:right;width:100%" /></td>
                    <td>
                        <select data-templatekey="@formTemplate[1].Answers.FirstOrDefault().AnswerTemplateKey" id="" type="text" dir="rtl" class="form-group select2 dropdownanswer" style="float:right;width:100%" data-index="1">
                            <option>الفئة الوظيفية</option>
                            <option>الأولى</option>
                            <option>الثانية</option>
                            <option>الثالثة</option>
                            <option>الرابعة</option>
                            <option>الخامسة</option>
                            <option value="غير ذلك (اتاحة كتابة نص)">اتاحة (كتابة نص)</option>

                        </select><input data-templatekey="@formTemplate[1].Answers.FirstOrDefault().AnswerTemplateKey" type="text" style="float:right;width:100%;display:none;" dir="rtl" />
                    </td>

                    <td>
                        <select data-templatekey="@formTemplate[0].Answers.FirstOrDefault().AnswerTemplateKey" data-index="1" id="sex" type="text" dir="rtl" class="form-group select2 dropdownanswer" style="float:right;width:100%">
                            <option>المسمى الوظيفي</option>
                            <option>معاون وزير</option>
                            <option>مدير</option>
                            <option>معاون مدير</option>
                            <option>رئيس دائرة</option>
                            <option>رئيس شعبة</option>
                            <option>معاون رئيس شعبة</option>
                            <option>مهندس</option>
                            <option> كاتب</option>
                            <option>منشئ</option>
                            <option>مساعد مهندس</option>
                            <option>رئيس مرآب</option>
                            <option>أمين صندوق</option>
                            <option> أمين مستودع</option>
                            <option>محاسب محروقات</option>
                            <option>مأمور هاتف</option>
                            <option>ساحب</option>
                            <option>عامل مهني</option>
                            <option>رئيس ورشة</option>
                            <option>سائق</option>
                            <option>مراسل</option>
                            <option>حارس</option>
                            <option>آذن</option>
                            <option>عامل إنتاجي</option>
                            <option value="غير ذلك (اتاحة كتابة نص)">غير ذلك (اتاحة كتابة نص)</option>


                        </select><input data-templatekey="@formTemplate[0].Answers.FirstOrDefault().AnswerTemplateKey" type="text" style="float:right;width:100%;display:none;" dir="rtl" />
                    </td>

                </tr>
            }
            else
            {

                var rowsIndex = FormValues.Select(x => x.AnswerInstanceFileExtensionHTML).Distinct().ToList();

                foreach (var row in rowsIndex)
                {
                    List<GetSavedForm_Result> rowvalues = FormValues.Where(x => x.AnswerInstanceFileExtensionHTML == row).OrderByDescending(x => x.QuestionKeyIndex).ToList();
                     <tr>
                        @for (int i = 0; i < rowvalues.Count; i++)
                        {

                            if (i == 0)
                            {
                                <td>
                                    <a download="@rowvalues[i].AnswerInstanceFileExtensionName" href="@rowvalues[i].AnswerInstanceFileExtensionFilePathOrSource" title="ImageName">
                                        <img id="" name="" src="@rowvalues[i].AnswerInstanceFileExtensionFilePathOrSource" style="height:150px;width:150px;" />
                                    </a>




                                </td>
                            }
                            else
                            {
                                var value = rowvalues[i].AnswerInstanceFileExtensionName == "UserInput" ? string.Empty : rowvalues[i].AnswerInstanceFileExtensionName;

                                <td><input type="text" dir="rtl" class="form-group answer" style="float:right;width:100%" value="@value" /></td>
                            }
                        }

                    </tr>



                }


            }

        </tbody>
    </table>

}


                    </div>

                </div>
            </div>
        </div>

    </div>
   @if (ViewBag.formInstanceKey == ""  || (ViewBag.Staus == "OPSaved" && User.IsInRole("ADManager")))
    {
        <div class="row" style="text-align:center;padding-top:20px;padding-bottom:20px">
            <button type="button" id="uploadform" class="btn btn-icon btn-primary  margin-inline" style="width:28%;border-radius:.25rem !important">
                <i class="fa fa-upload" aria-hidden="true"></i>
                [تحميل]
            </button>
        </div>
        }


</div>




<script>



    $("select").select2();
    var FormTable;
    $(document).ready(function () {


        //$("#formtable").DataTable();

        $('#formtable').DataTable({
            "paging": false,
            "sScrollX": "100%",
            "bScrollCollapse": true,
            "responsive": true
        });
        FormTable = $("#formtable").DataTable();
        $(".dataTables_length").css("display", "none")
        $(".dataTables_filter").css("display", "none")
        $(".dataTables_info").css("display", "none")
        $(".dataTables_paginate").css("display", "none")
        $('.dropify').dropify();

    });

    $(document).on('change', 'select', function () {

        var SELECTEDoPTION=$(this).val();
        if (SELECTEDoPTION == "غير ذلك (اتاحة كتابة نص)") {
            $(this).parent().find("input").show();
            $("#sex").css("display","none");
        } else {
            $(this).parent().find("input").hide();
        }

    });

 
    @if(ViewBag.Staus == "OPSaved" && User.IsInRole("ADManager")){
        rowNumber++;
    }
    var counter = @rowNumber;
    $("#btnAddChild").click(function (e) {
        e.preventDefault();


        FormTable.row.add([
          '<a class="btn btn-info" style="background-color:#d82f2f" onclick="deletechildren(this)"><i class="fa fa-trash-o" aria-hidden="true"></i></a>',
          '<input data-index="' + counter + '" type="file" data-templatekey="3049"  class="dropify"  data-height="80"/>',
          '<input data-index="' + counter + '"  type="text" data-templatekey="3048" dir="rtl" class="form-group answer 3048' + counter + '" style="float:right;width:100%" disabled/>',
          '<input data-index="' + counter + '" type="text" data-templatekey="3047" dir="rtl" class="form-group answer 3047' + counter + '" onkeyup="Calculate(' + counter + ')" style="float:right;width:100%"/>',
          '<td><select data-templatekey="3046" data-index="' + counter + '" id="" type="text" dir="rtl" class="form-group select2 dropdownanswer" style="float:right;width:100%"><option>المؤهل العلمي / الشهادة المطلوبة</option><option>دكتوراه</option><option>ماجستير</option><option> دبلوم دراسات عليا</option><option>دبلوم تأهيل تربوي</option><option>شهادة جامعية</option><option>معهد متوسط بعد الثانوية</option><option>شهادة ثانوية</option><option>مدرسة أو معهد على أساس التعليم الأساسي</option><option>شهادة تعليم أساسي</option><option>شهادة ممارسة مهنة</option><option>شهادة التعليم الابتدائي</option><option>وثيقة محو أمية</option><option>غير ملم بالقرءة والكتابة</option><option>غير ذلك (اتاحة كتابة نص)</option></select><input data-templatekey="3046"  type="text" style="float:right;width:100%;display:none;" dir="rtl"/></td>',
          '<input data-index="' + counter + '"  type="text" data-templatekey="3045" dir="rtl" class="form-group answer 3045' + counter + '" style="float:right;width:100%"/>',
          '<td><select data-templatekey="3044" id="" type="text" dir="rtl" class="form-group select2 dropdownanswer" style="float:right;width:100%" data-index="' + counter + '"><option>الفئة الوظيفية</option><option>الأولى</option><option>الثانية</option><option>الثالثة</option><option>الرابعة</option><option>الخامسة</option><option>غير ذلك (اتاحة كتابة نص)</option></select><input data-templatekey="3044"  type="text" style="float:right;width:100%;display:none;" dir="rtl"/></td>',
          '<td><select data-templatekey="3043" data-index="' + counter + '" id="" type="text" dir="rtl" class="form-group select2 dropdownanswer" style="float:right;width:100%"><option>المسمى الوظيفي</option><option>معاون وزير</option><option>مدير</option><option>معاون مدير</option><option>رئيس دائرة</option><option>رئيس شعبة</option><option>معاون رئيس شعبة</option><option>مهندس</option><option> كاتب</option><option>منشئ</option><option>مساعد مهندس</option><option>رئيس مرآب</option><option>أمين صندوق</option><option> أمين مستودع</option><option>محاسب محروقات</option><option>مأمور هاتف</option><option>ساحب</option><option>عامل مهني</option>  <option>رئيس ورشة</option><option>سائق</option><option>مراسل</option><option>حارس</option><option>آذن</option><option>عامل إنتاجي</option><option>غير ذلك (اتاحة كتابة نص)</option></select><input data-templatekey="3043"  type="text" style="float:right;width:100%;display:none;" dir="rtl"/></td>',
        ]).draw(false);

        $("select").select2();
        $('.dropify').dropify();
        counter++;
    });


    function Calculate(index, input) {
        if (index == "1") {
            var firstValue = $(".3045").val();
            var secondValue = $(".3047").val();

            var result = parseInt(firstValue) - parseInt(secondValue);


            $(".3048").val(result);

        } else {
            var firstValue = $(".3045" + index).val();
            var secondValue = $(".3047" + index).val();

            var result = parseInt(firstValue) - parseInt(secondValue);


            $(".3048" + index).val(result);
        }


    }






    function deletechildren(childrenrow) {
        FormTable
       .row($(childrenrow).parents('tr'))
       .remove()
       .draw();
    }


    var AnswerTemplateKey = [];
    var FormKey;

    $(document).on('click', '#uploadform', function (event) {
        console.log("AnswerTemplateKeyAnswerTemplateKeyAnswerTemplateKeyAnswerTemplateKey");
        waitingDialog.show(' !!!  جاري التحميل');
        var answsers = "";
      
        $('.answer').each(function (index, element) {
            answsers = { key: $(this).attr("data-templatekey"), Textvalue: $(this).val(), type: "UserInput", Index: $(this).attr("data-index"), Lines: "", Parent: "", Child: "", count: "" }
            AnswerTemplateKey.push(answsers);
        });

        $('input').each(function (index, element) {
          
            if ($(this).is('input:file')) {

                if ($(this)[0].files[0] != undefined) {
                    var files = $(this)[0].files;
                    for (i = 0 ; i < files.length ; i++) {
                        console.log(i);
                        console.log(files[i]);
                        var FilteType = files[i].type;
                        var FilteName = files[i].name;
                        var answerKey = $(this).attr("data-templatekey");
                        var index = $(this).attr("data-index");

                        var file = files[i];
                        var reader = new FileReader();

                        reader.readAsDataURL(file);
                        reader.onload = function () {
                            console.log("filtetypeeeee");
                            console.log(reader.result);
                            setTimeout(function () {
                                answsers = { key: answerKey, Textvalue: "", type: FilteName, Index: index, Lines: "", Image: reader.result, Parent: "", Child: "", count: "" }
                                AnswerTemplateKey.push(answsers);
                            }, 1000);
                        };
                    }
                } else {
                    var answerKey = $(this).attr("data-templatekey");
                    var index = $(this).attr("data-index");
                    var fileName = $(this).attr("data-fileName");
                    var fileContent = $(this).attr("data-fileContent");
                    answsers = { key: answerKey, Textvalue: "", type: fileName, Index: index, Lines: "", Image: fileContent, Parent: "", Child: "", count: "" }
                    AnswerTemplateKey.push(answsers);
                }




            }
        });

        $('.dropdownanswer').each(function (index, element) {
            var dropdownvalue = "";
            if ($(this).val() == "") {
                dropdownvalue = " ";
            } else {
                dropdownvalue = $(this).val();
                if (dropdownvalue == "غير ذلك (اتاحة كتابة نص)")
                    dropdownvalue = $(this).parent().find("input").val();
            }
            answsers = { key: $(this).attr("data-templatekey"), Textvalue: dropdownvalue, type: "DropDown", Index: $(this).attr("data-index"), Lines: " ", Parent: "", Child: "", count: "" }
            AnswerTemplateKey.push(answsers);
        });

        var organisationKey = '@ViewBag.OrganisationKey';
        @if (User.IsInRole("Human Development Sector") || User.IsInRole("Administrative sector") || User.IsInRole("Economic sector") || User.IsInRole("Service sector") || User.IsInRole("OPManagerGroup5") || User.IsInRole("OPManagerGroup6") || User.IsInRole("OPManagerGroup7"))
        {
            <text>
        organisationKey = $("#OpOrgDropdown").val();
            </text>
        }
      

        if ('@ViewBag.formInstanceKey' != "") {
            setTimeout(function () {

                $.ajax({
                    url: '@Url.Action("DeleteAnswers", "ClaimForms")',
                    type: 'GET',
                    dataType: 'json',
                    cache: false,
                    data: {
                        idForm: '@ViewBag.formInstanceKey'
                    },
                    success: function (data) {
                        console.log(AnswerTemplateKey);
                        FormKey = data;
                        $.ajax({
                            url: '@Url.Action("AnswersByUser", "ClaimForms")',
                            type: 'POST',
                            dataType: 'json',
                            cache: false,
                            data: {
                                formKey: '@ViewBag.formInstanceKey', answerTemplateKey: JSON.stringify(AnswerTemplateKey)
                            },
                            success: function (data) {
                                $.ajax({
                                    url: '@Url.Action("SaveClaimForm", "ClaimForms")',
                                    type: 'GET',
                                    dataType: 'json',
                                    cache: false,
                                    data: {
                                        formKey: '@ViewBag.formInstanceKey'
                                    },
                                    success: function (data) {
                                        var Title = $("#title").text();
                               var test = "تعبئة إستمارة";
                               var message = test + " " + Title;
                               SetLog(Title.split(":", 1), Title.split(":", 1), message);
                               window.location = '@Url.Action("AdManagersClaims", "Home")/' + "?ClaimType=" + '@ViewBag.FormTemplateType';

                                    }
                                });
                            }
                        });
                    }
                });

            }, 2000);
        } else {
            setTimeout(function () {
                $.ajax({
                    url: '@Url.Action("SubmitFormForUser", "ClaimForms")',
                    type: 'GET',
                    dataType: 'json',
                    cache: false,
                    data: {
                        trackingStatusKey: "1", formTemplateKey: "140", userKey: "@User.Identity.GetUserId()", organisationKey: organisationKey
                    },
                    success: function (data) {
                        FormKey = data;
                        $.ajax({
                            url: '@Url.Action("AnswersByUser", "ClaimForms")',
                            type: 'POST',
                            dataType: 'json',
                            cache: false,
                            data: {
                                formKey: FormKey, answerTemplateKey: JSON.stringify(AnswerTemplateKey)
                            },
                            success: function (data) {
                                 @if (User.IsInRole("Human Development Sector") || User.IsInRole("Administrative sector") || User.IsInRole("Economic sector") || User.IsInRole("Service sector") || User.IsInRole("OPManagerGroup5") || User.IsInRole("OPManagerGroup6") || User.IsInRole("OPManagerGroup7"))
                                 {
                                     <text>
                           $.ajax({
                               url: '@Url.Action("SaveOPForm", "ClaimForms")',
                               type: 'GET',
                               dataType: 'json',
                               cache: false,
                               data: {
                                   OpOrgKey: FormKey
                               },
                               success: function (data) {
                                   var Title = $("#title").text();
                                   var test = "تعبئة إستمارة";
                                   var message = test + " " + Title;
                                   SetLog(Title.split(":", 1), Title.split(":", 1), message);
                                   window.location = '@Url.Action("AdManagersClaims", "Home")/' + "?ClaimType=" + '@ViewBag.FormTemplateType';
                               }
                           });
                                     </text>
                                 }else
                                 {
                                     <text>
                       $.ajax({
                           url: '@Url.Action("SaveClaimForm", "ClaimForms")',
                           type: 'GET',
                           dataType: 'json',
                           cache: false,
                           data: {
                               formKey: FormKey
                           },
                           success: function (data) {
                               var Title = $("#title").text();
                               var test = "تعبئة إستمارة";
                               var message = test + " " + Title;
                               SetLog(Title.split(":", 1), Title.split(":", 1), message);
                               window.location = '@Url.Action("AdManagersClaims", "Home")/' + "?ClaimType=" + '@ViewBag.FormTemplateType';

                           }
                       });
                                     </text>
                                 }

                            }
                        });
                    }
                });

            }, 2000);
        }



    });





</script>
