/*
 *  PREVIEW BLOCK
 */
.cwt__preview {
    height: 100vh;
    background: url(https://media.gettyimages.com/photos/syrians-shop-in-the-popular-hamidiyeh-market-in-the-old-part-of-the-picture-id498813844) no-repeat center center;
    background-size: cover;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
       -moz-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
       -moz-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
}

.cwt__preview__title {
    font-size: 3.75rem;
    font-weight: 900;
    line-height: 5rem;
    letter-spacing: 2px;
    color: #fff;
    text-transform: uppercase;
    margin: 3.125rem 0;
}
