﻿body {
    font-family: "Droid Arabic Kufi", serif;
}

.container-fluid {
    
}
.row {
    margin-right: 0px;
    margin-left: 0px;
}

h2{
    font-family: "Droid Arabic Kufi", serif;
     

}
h3{
    font-family: "Droid Arabic Kufi", serif;
    

}
h4{
   font-family: "Droid Arabic Kufi", serif;
        font-size: 1.5vw;

}
 .kalimaTawjihyaText{
           font-size: 1.2vw;
       }

 .imgbarLtr{

     background-image: url('../Imag/Background2Rotate.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    /*height:25vw;*/
  margin-top:0.1vw;
      box-shadow: -20px 2px 1px 0px #bcb8b8;
}

.imgbar{

     background-image: url('../Imag/Background2.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    /*height:25vw;*/
  margin-top:0.1vw;
      box-shadow: -20px 2px 1px 0px #bcb8b8;
}
.imgbar01 {
        /*margin-left: 0.5vw;*/
        background-color:#882525;
        /*border-bottom: 3.5vw solid #882525;
    border-left: 2.5vw solid transparent;*/
    /*top: 0.5vw;*/
    /*width: 52.7vw;*/
    box-shadow: 3px 2px 0px 1px #693f3f;
  float:right;
}

.imgbar1-1 {
    width: 18vw;
   margin-top:2vw;
   margin-bottom:2vw;
}
.imgbar01 h1 {
    position: relative;
    text-align: center;
     /*top:  -0.4vw;*/
    /*margin-left: 24.1vw;*/
    font-size:1.8vw;
    color: white;
   font-family: "Droid Arabic Kufi", serif;
}
.imgbar1 {
 text-align: center;
    padding: 1vw;
}
.imgbar2{
    text-align: right;
  font-size: 1.1vw;
    font-family: "Droid Arabic Kufi", serif;
    margin-top :1.1vw;
    

}
.imgbar3 {
      background-image: url(../Imag/BacharPic.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 13vw;
    /*width: 16vw;
   margin-left:6vw;*/
   float:right;
   margin-top:5px;
}

.container{
   max-width: 80vw;
}
.Line {
    height: 0.2vw;
    background-color: darkblue;
    width: 74vw;
    margin-left: 1.5vw;
}
.box{
        background-color: #e9e9e9;
        margin-top:10px;
        border-top:4px solid #19264d;
}

.row22 {
    
    height: 17vw;
        
}

.divpara {
    text-align: right;
    max-width: 25vw;
      font-family: "Droid Arabic Kufi", serif;
  
}
.linetitle{
          background-color: #882525;
    height: 0.3vw;
    margin-bottom: 0.5vw;
}

.imgs2{
 width: 23vw;
    height: 14vw;
    margin-top: 1vw;
}
.imgs3{
 width: 23vw;
    height: 12vw;
    margin-top: 1vw;
}

.colu15 {
    background-image: url('../Imag/block-8.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
         border: solid 1.5vw white;
       
}
.colu16 {
    background-image: url('../Imag/block-9.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 20vw;
         border: solid 1.5vw white;

       
}
.colu17 {
    background-image: url('../Imag/block-1.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;   
}
.colu17 h1{
  font-family: "Droid Arabic Kufi", serif;
    text-align: center;
    color: white;
}
.xxx{

}
.container-fluid1{
       margin-left: -2.5vw;
    margin-right: -2.5vw;
    text-align: center;

}
.container-fluid2{
       margin-left: -2.9vw;
    margin-right: -2.9vw;
    text-align: center;

}
.container1{
position: absolute;
    top: 14vw;
    font-size: 1.4vw;
    font-family: "Droid Arabic Kufi", serif;
    padding-left: 14vw;
}
.container2{
   background-color: #f5ecec;
    opacity: 0.5;
    height: 5vw;
    text-align: right;
    position: relative;
    top: 12vw;
}


.rik{
       top: 3.5vw;
    position: absolute;
    margin-left: 7.5vw;
    color: white;
    font-size: 1.3vw;
}


.eee2{
    text-align:right;
}
.eee {
   background-image: url(../Imag/logoFlagEagle.jpg);
    /*height: 27.5vw;*/
    /* padding: 4vw; */
    width: 100%;
    height:auto;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
}
.eee4{
    background: #ffffff;
    position: relative;
    height: 0.3vw;
    width: 100%;
    margin-left: 0vw;
}
.eee5{
    background: #e9dcdc;
    position: absolute;
    height: 0.3vw;
    width: 98.7vw;
    margin-left: -1vw;
    top: 14vw;
}
.img4ft{
    width:15vw;
}
.eee3{
   position: absolute;
    font-size: 2vw;
    color: white;
    top: 5vw;
    padding-left: 28vw;
     font-family: "Droid Arabic Kufi", serif;
}

.box1{
   background-color: white;
    box-shadow: 0 0 10px 5px #beaeae;
    border: solid 0.2vw whitesmoke;
    position: relative;
    color: slategray;
    margin-top:-34px;
    z-index:1;
}


.text-block{

}

.text-block1 {
    padding-right: -17vw;
    border: solid 0.3vw white;
    width: 52.8vw;
    /* margin-bottom: -30px; */
    border-radius: 3.5vw;
    text-align: center;
    font-size: 2vw;
    margin-left: -19vw;
    color: white;
}

/* .text-block1{ */
        /* padding-right: 1vw; */
        /* border: solid 0.3vw white; */
    /* width: 63.8vw; */
    /* border-radius: 1.5vw; */
    /* text-align: right; */
    /* font-size: 3vw; */
    /* margin-left: -20vw; */
    /* color: white; */

/* } */
.text-block2{
        padding-right: 1vw;
   border: solid 0.3vw white;
    width: 30.8vw;
    border-radius: 1.5vw;
    text-align: right;
    font-size: 3vw;
    /*margin-top: 2vw;*/
    margin-left: -21vw;
    color: white;
}
.coluxx3 {
     background-image: url('../Imag/block-5.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 17vw;       
}
.coluxx2 {
     background-image: url('../Imag/block-7.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 17vw;   
}
.coluxx1 {
    background-image: url('../Imag/block-17.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 17vw;   
}

.formobile {
    display:none;
}





/*@media (max-width: 1000px)****************************************************************/

@media (max-width: 1000px) {
    .rik {
        top: 4.5vw;     
        margin-left: 10.5vw;
  
    }
}

@media (max-width: 768px) {
       .imgbar01 h1 {

    font-size: 4vw;
}

       .kalimaTawjihyaText{
           font-size: 2vw;
       }

       .imgbar1-1 {
   margin-bottom:12vw;
}
       .coluxx3 {
    height: 48vw;     
}
.coluxx2 {
    height: 48vw;  
}
.coluxx1 {
    height: 48vw;  
}
}

