﻿

/************************************BAR***********************************/
.imgbar{
    width:100%;
}
.box1{
  padding: 1%;
    font-size: 1vw;
    background-color: white;
    margin-top: 1vw;
    margin-bottom: 1vw;
    box-shadow: 0px 0px 16px 6px #c6b4b4;
    border: solid 0.3vw #d8d4d4;
}

.col1{
     height: 0.5vw;
    background-color: red;
    margin-top: 3vw
}
/*.col2{
       height: 0.5vw;
    background-color: red;
    margin-top: 3vw;
    float:right !important;
}*/
.Rowimg1{

    text-align:left;
}
.Rowimg2{
   
    text-align:left;
}
.imgs1{
   width: 36.5vw;
    height: 16vw;
    margin-top: 1vw;
}
.imgs2{
   width: 100%;   
}

.obs{
position: absolute;
    height: 3vw;  
    font-size: 1.5vw;
    width: 33vw;
    text-align: right;
        top: 14.5vw;
}
.obs1{
   position: relative;
    background-color: #fbe5e5;
    height: 3vw;
       background:rgba(255, 255, 255, .5);
    top: -3.2vw;
    text-align:center;
    
}

.obs2{
position: absolute;
    height: 3vw;
    font-size: 1.1vw;
      font-family:'GE Dinar One';
    width: 18vw;
    text-align: right;
    top: 12.4vw;
}

.obs3{
  position: relative;
    background-color: #fbe5e5;
    height: 6vw;
    background:rgba(255, 255, 255, .5);
    top: -6vw;
   padding:10px;
    text-align:center;
    font-weight:700;
}
.titles2{
    font-size:1.5vw;
  
}

.row21 {
    
    height: 17vw;
        
}
.row22 {
  
    height: 13vw;
}
.row23 {
  
    height: 13vw;
}

.drawline {
    background-color: red;
    height: 0.7vw;
    width: 20vw;
}
.divpara {
    text-align: right;
  width:20vw;
    font-size: 1vw;
  
}
.linetitle{
    background-color: red;
    height: 0.5vw;
    margin-bottom:5px;
    width:100%;
}


.img4ft{
    width:15vw;
}
.eee2{
    text-align:right;
}
.eee {
   
    background-image: url('../Imag/footer3.png');
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height:15vw;
}
.eee4{
    background: #e9dcdc;
    position: absolute;
    height: 0.3vw;
    width: 99%;
    top: 1vw;
}
.eee5{
    background: #e9dcdc;
    position: absolute;
    height: 0.3vw;
    width: 99%;
    top: 14vw;
}
.eee3{
   position: absolute;
    z-index:9;
    color: white;
    top: 5vw;
    width:100%;
    text-align:center;
}

.tamyiz{
    font-size: 1.5vw !important;
}

@media (max-width: 698px) {
    .TitlePReport{
        font-size:12px;
    }
}

@media (max-width: 614px) {
    .TitlePReport{
        font-size:10px;
    }
}

@media (max-width: 536px) {
    .TitlePReport{
        font-size:8px;
    }
}

@media (max-width: 800px) {
    .obs3{
        font-size:12px;
    }
}

@media (max-width: 700px) {
    .obs3{
        font-size:10px;
    }
}

@media (max-width: 560px) {
    .obs3{
        font-size:8px;
    }
}
@media (max-width: 1100px) {

       .body{
           background-color:red;
       }

    .row h1 {
   
    padding-right:3px;
}
      .imgs1{
   
    height: 25vw !important;
   
}
    .obs1 {
        height:3vw;
    }

                .divpara{
   width:100%;
       font-size: 3vw;


}
                    .titles2{
    font-size:2.2vw;

}
.footertitles{
    font-size:2.2vw;
}
.footerinfo{
         font-size:1.9vw;

 }
              
         

/********************BAR*************************/
   }

 @media (max-width: 600px) {

       .body{
           background-color:azure;
       }
       .footertitles{
    font-size:5vw;
}


       .footerinfo{
         font-size:4vw;

 }

    .row h1 {
          font-family:'GE Dinar One';
    padding-right:3px;
}
                        .titles2{
    font-size:3vw;

}

    .imgs1{
   
    height: 35vw !important;
   
}
     .obs1 {
         height:5vw;
        top: -5vw;
    }


          .divpara{
   width:100%;
       font-size: 3vw;
}


  /***************************************BAR***********************************************************/

  .Rowimg1{

    text-align:center;
}
.Rowimg2{
 
    text-align:center;
}

.obs{
margin-left: 33vw;
top: 13.5vw;
}

.obs2{

top: 15vw;
}

.row21 {
text-align:center;       
}
         }



