﻿body {
    font-family:'GE Dinar One'
}

.container-fluid {
    
}
.row {
    margin-right: 0px;
    margin-left: 0px;
}

h2{
    font-family:'GE Dinar One';
     

}
h3{
    font-family:'GE Dinar One';
    

}
h4{
    font-family:'GE Dinar One';
        font-size: 1.5vw;

}
.imgbar{

     background-image: url('../Imag/Background2.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height:25vw;
  margin-top:0.1vw;
      box-shadow: -20px 2px 1px 0px #bcb8b8;
}
.imgbar01 {
        margin-left: 0.5vw;
        border-bottom: 3.5vw solid #882525;
    border-left: 2.5vw solid transparent;
    top: 0.5vw;
    width: 52.7vw;
    box-shadow: 3px 2px 0px 1px #693f3f;
  float:right;
}

.imgbar1-1 {
    height: 18vw;
    width: 18vw;
   margin-top:2vw;
}
.imgbar01 h1 {
    position: absolute;
    text-align: center;
     top:  -0.4vw;
    margin-left: 24.1vw;
    color: white;
    font-family:'GE Dinar One'
}
.imgbar1 {
 text-align: center;
    padding: 1vw;
}
.imgbar2{
    text-align: right;
  font-size: 1.1vw;
    font-family:'GE Dinar One';
    margin-top :1.1vw;
    

}
.imgbar3 {
      background-image: url(../Imag/BacharPic.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 13vw;
    width: 16vw;
   margin-left:6vw;
   float:right;
}

.container{
   max-width: 80vw;
}
.Line {
    height: 0.2vw;
    background-color: darkblue;
    width: 74vw;
    margin-left: 1.5vw;
}
.box{
        background-color: #e9e9e9;
    height: 10vw;
    font-size: 1.2vw;
    font-family: 'GE Dinar One';
    width: 74vw;
    margin-left: 1.5vw;
    text-align: right;
    padding-top: 1vw;
}



.row21 {
    
  
        
}
.row22 {
    
    height: 17vw;
        
}
.row23 {
    
   
        
}
.divpara {
    text-align: right;
    max-width: 25vw;
      font-family:'GE Dinar One';
  
}
.linetitle{
          background-color: #882525;
    height: 0.3vw;
    margin-bottom: 0.5vw;
    width: 94%;
    margin-left: 0.75vw;
}

.imgs2{
 width: 23vw;
    height: 14vw;
    margin-top: 1vw;
}
.imgs3{
 width: 23vw;
    height: 12vw;
    margin-top: 1vw;
}

.colu15 {
    background-image: url('../Imag/block-8.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height:20vw;
         border: solid 1.5vw white;
       
}
.colu16 {
    background-image: url('../Imag/block-9.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 20vw;
         border: solid 1.5vw white;

       
}
.colu17 {
    background-image: url('../Imag/block-1.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 15vw;
         /*border: solid 0.5vw white;*/
             margin-left: 0vw;
       
}
.colu17 h1{
   font-family: 'GE Dinar One';
    font-size: 2.4vw;
    padding-right: 20px;
    padding-top: 12% !important;
    text-align: center;
    color: white;
}
.xxx{

}
.container-fluid1{
       margin-left: -2.5vw;
    margin-right: -2.5vw;
    text-align: center;

}
.container-fluid2{
       margin-left: -2.9vw;
    margin-right: -2.9vw;
    text-align: center;

}
.container1{
position: absolute;
    top: 14vw;
    font-size: 1.4vw;
    font-family: 'GE Dinar One';
    padding-left: 14vw;
}
.container2{
   background-color: #f5ecec;
    opacity: 0.5;
    height: 5vw;
    text-align: right;
    position: relative;
    top: 12vw;
}


.rik{
       top: 3.5vw;
    position: absolute;
    margin-left: 7.5vw;
    color: white;
    font-size: 1.3vw;
}


.eee2{
    text-align:right;
}
.eee {
   background-image: url(../Imag/logoFlagEagle.jpg);
    /*height: 27.5vw;*/
    /* padding: 4vw; */
    width: 100%;
    height:auto;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
}
.eee4{
    background: #ffffff;
    position: relative;
    height: 0.3vw;
    width: 100%;
    margin-left: 0vw;
}
.eee5{
    background: #e9dcdc;
    position: absolute;
    height: 0.3vw;
    width: 98.7vw;
    margin-left: -1vw;
    top: 14vw;
}
.img4ft{
    width:15vw;
}
.eee3{
   position: absolute;
    font-size: 2vw;
    color: white;
    top: 5vw;
    padding-left: 28vw;
      font-family:'GE Dinar One';
}

.box1{
   background-color: white;
    box-shadow: 0 0 10px 5px #beaeae;
    border: solid 0.2vw whitesmoke;
    position: relative;
    color: slategray;
    font-size: 1.1vw;
    z-index: 1;
    margin-top: -2vw;
    height: 3.5vw;
    padding-right: 2vw;
    padding-top: 0.5vw;
    margin-left: 7vw;
    width: 18vw;
    margin-left: -4.5vw;
       
}


.text-block{

}

.text-block1 {
    padding-right: -17vw;
    border: solid 0.3vw white;
    width: 52.8vw;
    /* margin-bottom: -30px; */
    border-radius: 3.5vw;
    text-align: center;
    font-size: 2vw;
    margin-left: -19vw;
    color: white;
}

/* .text-block1{ */
        /* padding-right: 1vw; */
        /* border: solid 0.3vw white; */
    /* width: 63.8vw; */
    /* border-radius: 1.5vw; */
    /* text-align: right; */
    /* font-size: 3vw; */
    /* margin-left: -20vw; */
    /* color: white; */

/* } */
.text-block2{
        padding-right: 1vw;
   border: solid 0.3vw white;
    width: 30.8vw;
    border-radius: 1.5vw;
    text-align: right;
    font-size: 3vw;
    /*margin-top: 2vw;*/
    margin-left: -21vw;
    color: white;
}
.coluxx3 {
     background-image: url('../Imag/block-5.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    height: 17vw; 
   
    
}
.coluxx2 {
     background-image: url('../Imag/block-7.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    height: 17vw; 
   
    
}
.coluxx1 {
    background-image: url('../Imag/block-17.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    height: 17vw; 
  
}

.formobile {
    display:none;
}





/*@media (max-width: 1000px)****************************************************************/

@media (max-width: 1000px) {
    .rik {
        top: 4.5vw;     
        margin-left: 10.5vw;
  
    }

    .colu17 {
   
   
}
    .imgbar3 {
         margin-left:4.2vw;
   
}
}

@media (max-width: 700px) {

    .container-fluid{

    }
    .container{
    max-width: 100%;
    margin-top: 24vw;
    margin-left: 0vw;
    }
    .imgbar01 {
  border-bottom: 14.5vw solid #882525;
    width: 107vw;
    margin-top: 0.5vw;
    margin-left: -17vw;
    
    }


    .imgbar2 p {

    }
    .imgbar01 h1 {
       position: absolute;
    padding-left: 14vw;
    text-align: center;
    top: 1.4vw;
    font-size: 5vw;
    margin-left: 7.5vw;
    color: white;
    font-family: 'GE Dinar One';
}


     #img1 .formobile {
        display:block;

    }

    .imgbar{
         background-image: none !important;
    height: 133vw;
}
    .imgbar1{
        display:none;
}
    .imgbar2{
        background-image: url(../Imag/LogoAlJoumhourya.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;  
    background-attachment: fixed;
    color: #06278a;
    font-size: 6vw;
    background-position: 50% 58%;
    background-size: 70%;
    height: 110vw;
}
    .imgbar3{
          width: 100%;
    height: 186px;
    margin-top: 8vw;
    margin-left: 0vw;
    }

.Line{
   height: 1vw;
    width: 100%;
    margin-left: 0vw;
    margin-top: 38vw;
}

.box{width: 100%;
    margin-left: 0vw;
    text-align: center;
    padding-top: 9vw;
    font-size: 6vw;
    height: 186vw;
}



.divpara {
    margin-top: 12vw;
    text-align: right;
    max-width: 100vw;
    font-size: 5.2vw;
    font-family: 'GE Dinar One';
    height: 15vw;
    padding-left: 3vw;
  
}
.divpara h4{
        font-size: 7vw;
}

    .linetitle{
       width: 100%;
    margin-left: 0vw;
    height: 2vw;
    margin-bottom: 1.5vw;
}
.box1{
    margin-left: 48vw;
    height: 10vw;
    width: 70%;
    font-size: 6vw;
}
.coluxx1 {
    background-image: url(../Imag/block-17.png);
    background-position: center;
    background-size: cover;
    height: 62vw;
    width: 100%;
    margin-left: 0vw;
}
.coluxx2 {
    background-image: url(../Imag/block-7.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 62vw;
    width: 100%;
    margin-left: 0vw;
}

.coluxx3 {
    background-image: url(../Imag/block-5.png);
    background-position: center;
    background-repeat: no-repeat;
   background-size: cover;
    height: 62vw;
    width: 100%;
    margin-left: 0vw;
}

.colu15 {
   height: 51vw;
    width: 100%;
}
.colu16 {
     height: 51vw;
    width: 100%;
}

.colu17 {
        height: 24vw;
    width: 100%;
 
    margin-left: 0vw; 
    background-position: 50% 50%;
    background-size: 50%;
}
.colu17 h1 {
    font-family: 'GE Dinar One';
    font-size: 5.4vw;
    padding-right: 2px;
    padding-top: 5%;
    text-align: center;
    color: white;
}

.container1 {
   top: 37vw;
    padding-left: 1vw;
    font-size: 6.4vw;
}
.container2 {
    background-color: #f5ecec;
    opacity: 0.6;
    height: 13vw;
    text-align: right;
    position: relative;
    top: 35vw;
}
.container-fluid1 {
    margin-left: -8.2vw;
    margin-right: -8.2vw;
}
.text-block{

       height: 55vw;

}


.text-block1{
        border: solid 0.3vw white;
    width: 63.8vw;
    border-radius: 1.5vw;
    text-align: right;
    font-size: 5vw;
    margin-top: 4vw;
    margin-left: -8vw;
    color: white;

}
.text-block2{
       border: solid 0.3vw white;
    width: 38.8vw;
    border-radius: 1.5vw;
    text-align: right;
    font-size: 5vw;
    margin-top: -8vw;
    margin-left: -25vw;
    color: white;
}

.rik {
    position: relative;
    margin-left: 0vw;
    color: white;
    font-size: 5.3vw;
}


.eee{
    height:auto;

          /*height: 62.5vw;*/
    margin-top: 4vw;
    margin-bottom: 2vw;
}
.eee5{
   display:none;
}
}