﻿body {
}


.imgbar {
    height: 29.5vw;
}


.img7{
    height: 14vw;
    width: 15vw;

}

.img6{
    height: 14vw;
    width: 15vw;
}

.colu1 {
    background-image: url('../Imag/manbar6.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 15vw;
         border: solid 0.5vw white;
       
}
.colu2 {
    background-image: url('../Imag/manbar7.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 15vw;
     border: solid 0.5vw white;
   
}
.colu3 {
    background-image: url('../Imag/manbar8.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 15vw;
     border: solid 0.5vw white;
    
}
.colu31 {
    background-image: url('../Imag/manbar9.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 15vw;
     border: solid 0.5vw white;
    
}
.colu32 {
    background-image: url('../Imag/manbar10.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 15vw;
     border: solid 0.5vw white;
    
}
.colu4 {
    background-image: url('../Imag/manbar11.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 15vw;
     border: solid 0.5vw white;
   
}
.container-fluid1{
      margin-left: -1.9vw;
    margin-right: -1.9vw;
    text-align: center;

}
.container1{
position: absolute;
    top: 11vw;
    font-size: 1.5vw;
    text-align:right;
    
}
.container2{
      background-color: #f5ecec;
    height: auto;
    text-align: right;
    position: absolute;
    top: 12vw;
    background: rgba(255, 255, 255, .5);
    width: 100%;

}
.container11{
position: absolute;
    top: 9vw;
    font-size: 1.5vw;
    padding-left: 4vw;
}


.colu8 {
    background-image: url('../Imag/BackgroundMarsadIdari.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 240px; 
    border: solid 0.5vw white;
}

.colu9 {
    background-image: url('../Imag/MarsadAlAda2AlIdari.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 240px; 
    border: solid 0.5vw white;
}


.text-block{

}
.wit{
    background-color: #bcb8da;
    color: white;
    text-align: center;
    font-size: 2.5vw;
   
    background:rgba(255, 255, 255, .5);
    position: absolute;
    top: 0px;
    /*left: 35%;*/
}
.text-block1{
    border: solid 0.14vw  white;
    position: absolute;
    width: 30.8vw;
    border-radius: 0.5vw;
    text-align: right;
    padding-left: 23vw;
    font-size: 1vw;
    color: white;
    top: 5vw;
    margin-left:20%;
    padding-right:10px;

}
.text-block2{
   border: solid 0.14vw  white;
    position: absolute;
    width: 17.8vw;
    border-radius: 0.5vw;
    text-align: right;
    padding-left: 10vw;
    font-size: 1vw;
    color: white;
    top: 9vw;
    margin-left: 46%;
     padding-right:10px;
}

/**************************************************/

@media (max-width: 1200px) {

    .container-fluid1{
       margin-left: -2.3vw;
    margin-right: -2.3vw;
     

}

    .sections{
         font-size:2vw !important;
     }

    .rowemptyON{
        display:none;
    }
         .colu4{
        display:none;
    }
    

}



 @media (max-width: 600px) {

     .sections{
         font-size:5vw !important;
     }


     .colu4{
        display:none;
    }
     .text-block1{

    border: solid 0.2vw white;
    position: absolute;
    width: 50vw;
    border-radius: 0.5vw;
    text-align: right;
    padding-left: 23vw;
    font-size: 2vw;
    color: white;
    top: 10vw;
    margin-left: 20%;
    padding-right: 10px;
     }
    .text-block2{

    border: solid 0.20vw white;
    position: absolute;
    width: 25vw;
    border-radius: 0.5vw;
    text-align: right;
    padding-left: 10vw;
    font-size: 2vw;
    color: white;
    top: 20vw;
    margin-left: 44.5%;
    padding-right: 10px;

    }
    .wit{
    /*left: 45%;*/


    }

         }
