﻿body {

   
    color:darkblue;

         }

 header .row  {
     margin-top:0.5vw;
     margin-bottom:0.5vw;

}
.row{
      font-family:'GE Dinar One';
          color:darkblue;
          margin-bottom:0.8vw;
}

.img-fluid{
        width: 7vw;
    height: 6vw;
}

.row h1{
      font-family:'GE Dinar One';
        font-size: 1.4vw;
    padding-right: 20px;
      
}

.text-right h1{

}




/*.topnav {
       bottom: 0;
  width: 100%;
  overflow: hidden;
  background-color:#0f2568;
    box-shadow: 0 0 10px black;
}*/


.login a {

     /*margin-right: 13vw;*/
}
/*.topnav a {
     font-family: 'GE Dinar One';
    float: right;
    display: block;
    color: #ffffff;
    text-align: center;
    text-decoration: none;
    text-decoration-line: none;
    font-size: 1.1vw;
    padding: 2vw 3.54vw;
    margin-bottom: -2vw;
    margin-top: 0vw;
    padding-top: 1vw;
    margin-bottom: -1vw;
    
}
.topnav .dropdown {
     font-family: 'GE Dinar One';
    float: right;
    display: block;
    color: #ffffff;
    text-align: center;
    text-decoration: none;
    text-decoration-line: none;
    font-size: 1.1vw;
    padding: 2vw 3.54vw;
    margin-bottom: -2vw;
    margin-top: 0vw;
    padding-top: 1vw;
    margin-bottom: -1vw;
    
}*/

.homez {
    height: 1.56vw;
    margin-top: -1vw;
    padding-top: 0vw;
    margin-bottom: -1vw;
}

.material-icons {
   margin-left: -2vw;
    margin-top: 1vw;
    height: 4vw;

         /*background-image: url(../Imag/homez.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    height: 2vw;
    margin-right: 3vw;
    margin-left: -3.5vw;
    margin-top: 0.5vw;
    width: 3vw;*/
}
/*.topnav a:hover {
  background-color: #ddd;
  color: #0f2568;
   text-decoration: none;
}

.topnav .dropdown:hover {
  background-color: #ddd;
  color: #0f2568;
   text-decoration: none;
}*/

.active {
  /*background-color: #4CAF50;*/
  color: white;
}

/*.topnav .icon {
  display: none;
}*/
.responsivex {
       text-align: center;
    background-color: white;
    color: darkblue;
    margin-bottom: 25px;
    margin-top: 30px;
    margin-left: 136px;
}

/************************FOOTER*******************************/

.ft1 {
    background-image: url('../Imag/ft7.png');
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 6vw !important;
}
.imgft{
    height:6vw;

}
.smallimage{
    position:absolute;

}

.footer2 {
    background-image: url('../Imag/footer3.png');

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 20vw;
        margin-bottom: -1vw !important;
        margin-top:2vw;
}
.footer9{
   height: 6vw;
    background-color: #0b0c42;
}
.imgfooter1{
        width: 6vw;

              }
.footercol1{
/*background-color:lightskyblue;*/
    height:20vw;
      font-family:'GE Dinar One';
    font-size: 1vw;
    color: white;
        box-shadow: 0 0 2px #414268;
}
.footercol2{
/*background-color:lightslategrey;*/
    height:20vw;
     font-family: cursive;
    color: white;
    font-size: 1vw;
    color: white;
        box-shadow: 0 0 2px #414268;
            text-align: right;
}
.footercol3{
    /*background-color:lightseagreen;*/
    height:20vw;
      font-family:'GE Dinar One';
    font-size: 1vw;
    color: white;
        box-shadow: 0 0 2px #414268;
            box-shadow: 0 0 2px #414268;
}
.footercol4{
    height:20vw;
      font-family:'GE Dinar One';
    font-size: 1vw;
    color: white;
   
}
.footercol5{
   
    height:20vw;
      font-family:'GE Dinar One';
    font-size: 1vw;
    color: white;
    text-align:center;
    
}
.footercol6{
 
    height:20vw;
      font-family:'GE Dinar One';
    font-size: 1vw;
    color: white;
       box-shadow: 0 0 2px #414268;
}
.mobile{
       text-align: right;
    margin-top: 1.5vw;

}
.contactUs{

        color: white;
    margin-bottom: 2vw;
    TEXT-ALIGN: RIGHT;
    padding-left: 35vw;

}
.imgphone{
       width: 1vw;
    margin-top: 0.5vw;
}
.mail{
        text-align: right;
    top: 0.5vw;
}
.logoimgmail {
        font-family: cursive;
   text-align: right;
    margin-top: 0.5vw;
     color: white;
}
.imgmail{
          width: 1vw;
    margin-top: 0.5vw;
}
.imglogo {
        width: 1.5vw;
   
}
.imglogo1 {
       width:2vw;
}
.imglogoface {
       width: 1.5vw;
    
}
.Smallfooter1{

    color: white;
    margin-top: 1vw;
}
.Smallfooter2{

    top:1.5vw;
    color:white;
}

.mailIcon {
    width: 3vw;
        margin-right: 7vw;
}


footer .row{
    margin-bottom:-1vw;
}
.gmail{
    font-size:25px;
    color:whitesmoke;
      
      
}
.face {
    font-size:25px;
    color:whitesmoke;
}
.twitter{
    font-size:25px;
    color:whitesmoke;

}
.footer9 {
    color: wheat;
    font-size: 1vw;
 
    padding-top: 2.5vw;
}

@media (max-width: 1100px) {


    .body {
        background-color: red;
    }

    .row h1 {
          font-family:'GE Dinar One';
        padding-right: 2vw;
        margin-bottom:0.5vw;
        margin-top : 0.5vw;
    }

    div #para {
          font-family:'GE Dinar One';
        color: white;
        font-size: 23px;
        float: right;
        margin-right: 200px;
        margin-top: 19px;
    }

    /*.topnav a {
      font-family: 'GE Dinar One';
    float: right;
    display: block;
    color: #ffffff;
    text-align: center;
    text-decoration: none;
    text-decoration-line: none;
    font-size: 1.1vw;
    padding: 2vw 3.54vw;
    margin-bottom: -2vw;
    margin-top: 0vw;
    padding-top: 1vw;
    margin-bottom: -1vw;
    }

    .topnav {
        margin-top: 10px;
        overflow: hidden;
        background-color: #0f2568;
    }*/

    .material-icons {
            margin-left: -1vw;
    margin-top: 1vw;
    height: 4vw;
    }

    .homez {
    margin-top: -2vw;
}


}

@media (max-width: 1200px) {

       .homez {
       height: 2vw;
}
}

@media (max-width: 900px) {

       .homez {
       height: 3vw;
}
}
@media (max-width: 700px) {

       .homez {
       height: 5vw;
}
}


@media (max-width: 700px) {

    .body {
       
    }


    .container-fluid {
        background-color: #c5c5c4;
       
    }

    .rowemptyON {

        display:none
    }



    h1 br {
    display: none;
}


    .row h1 {
            text-align: center;
    font-size: 4vw;
    margin-top: 3.5vw;

    }


    .img-fluid {
    width: 27vw;
        height: 23vw;
            margin-left: 4vw;
}


    /*.topnav a:not(:first-child) {
        display: none;
    }


    .homez {
       height: 5vw;
}
    .topnav a.icon {
        float: right;
        display: block;
    }

    .topnav.responsive {
        background-color: #0f2568;
        position: relative;
      
    }

        .topnav.responsive .icon {
            position: absolute;
            right: 0;
            top: 0;
        }

        .topnav.responsive a {
               float: inherit;
    margin-top: 0vw;
    display: block;
    text-align: right;
    padding: -4px;
    padding-top: 6vw;
    padding-left: 6vw;
    font-size: 15px;
    font-family: serif;
        }

    .topnav a {
           float: right;
    display: block;
    color: #ffffff;
    text-align: center;
 
    text-decoration: none;
    font-size: 5vw;
    }



    .topnav .icon {
        display: block;
    }
    .responsivex {
       text-align: center;
    background-color: white;
    color: darkblue;
    margin-bottom: 25px;
    margin-top: 30px;
   
}

    .topnav {
       
    }*/

   .box1 {
    margin-left: 67vw;
    margin-right: -37vw;
    font-size: 4vw;
    width: 24vw;
    height: 7vw;
}
.footercol5 {
    font-size: 3vw;
    top: 0vw;
}

    .footercol4 {
    font-family: 'GE Dinar One';
    font-size: 1.5vw;
    color: white;
    text-align: right;
        top: 20vw;
}
    
     .linetitle {
    width: 18vw;
  
}
.imgfooter1 {
    width: 8vw;
}
.imglogo {
    width: 4.5vw;
    position: absolute;
    top: 1vw;
}
.imglogoface {
    width: 2.5vw;
    position: absolute;
    top: 1vw;
}

.footer2 {
    
        height: 132vw;
            margin-top: 41vw;
}


    .footerx {
            height: 4vw;
                margin-left: -55vw;
    }
    .footercol6 {    
   
        color: white;
}
    .imgbar01 {
  
}

    .gmail{
       
        
 
}


    .imgft {
  height: 26vw;
    width: 29vw;
  
}

    .ft1{
           height: 102vw;
          /*-webkit-transform: rotate(90deg);*/
          background-image:none !important;
          text-align: center;
    }


    .smallimage {
    position: relative;
    box-shadow: 0 0 14px black;
    background-color: #882525;
       text-align: center;
           padding-top: 2vw;
}
    .imgmail {
   width: 5vw;
    margin-top: 0vw;
    height: 5vw;
}
    .imgphone {
    width: 4vw;
    margin-top: 0vw;
    height: 5vw;
}
    .footer9 {
   
  
}
    .footercol2 {    
        font-size: 4vw;
    font-family: serif;
        box-shadow: 0 0 4px #767677;
    }
    .contactUs h1 {
        text-align:right;
    }


    .footercol5 {
        font-family:cursive;
    height: 30vw;
    font-family: 'GE Dinar One';
    font-size: 1vw;
    color: white;
    text-align: center;
   
}

    .text-block1 {
    border: solid 0.7vw white;
    position: absolute;
    width: 57.8vw;
    border-radius: 0.5vw;
    text-align: left;
    padding-left: 28vw;
    font-size: 4vw;
    color: white;
    top: 8vw;
}
    .text-block2 {
    border: solid 0.6vw white;
    position: absolute;
    width: 31.8vw;
    border-radius: 0.5vw;
    text-align: left;
    padding-left: 8vw;
    font-size: 4vw;
    color: white;
    top: 21vw;
    margin-left: 2vw;
}

    .logoimgmail {
  text-align: right;
    margin-top: 0.5vw;
    color: white;
    font-size: 4vw;
    font-family: cursive;
}
}