﻿body {

   
    color:darkblue;

         }



/************************************BAR***********************************/
.imgbar{
    width:100%;
    height:25vw;
    margin-top: 2px;
}
.box1{
  padding: 1%;
    font-size: 1vw;
    background-color: white;
    margin-top: 1vw;
    box-shadow: 0px 0px 16px 6px #c6b4b4;
    border: solid 0.3vw #d8d4d4;
    margin-left:0px !important;
}
.container-fluid{
  
}

 .container{
 
}

 .footertitles{
    font-size:1.5vw;
}

 .footerinfo{
         font-size:1.2vw;

 }

.col1{
     height: 0.5vw;
    background-color: red;
    margin-top: 3vw
}
.col2{
       height: 0.5vw;
    background-color: red;
    margin-top: 3vw;
    float:right !important;
}
.Rowimg1{

    text-align:left;
}
.Rowimg2{
   
    text-align:left;
}
.imgs1{
   width: 36.5vw;
    height: 16vw;
    margin-top: 1vw;
}
.imgs2{
   width: 20vw;
    height: 11vw;
   
}

.obs{
position: absolute;
    height: 3vw;  
    font-size: 1.5vw;
    width: 33vw;
    text-align: right;
        top: 14.5vw;
}
.obs1{
   position: relative;
    background-color: #fbe5e5;
    height: 3vw;
       background:rgba(255, 255, 255, .5);
    top: -3.2vw;
    text-align:center;
    
}

.obs2{
position: absolute;
    height: 3vw;
    font-size: 1.1vw;
      font-family:'GE Dinar One';
    width: 18vw;
    text-align: right;
    top: 12.4vw;
}

.obs3{
  position: relative;
    background-color: #fbe5e5;
    height: 3vw;
    background:rgba(255, 255, 255, .5);
    top: -3vw;
    width: 20vw;
    text-align:center;
}
.titles2{
    font-size:1.5vw;
  
}

.row21 {
    
    height: 17vw;
        
}
.row22 {
  
    height: 13vw;
}
.row23 {
  
    height: 13vw;
}

.drawline {
    background-color: red;
    height: 0.7vw;
    width: 20vw;
}
.divpara {
    text-align: right;
  width:20vw;
    font-size: 1vw;
  
}
.linetitle{
    background-color: red;
    height: 0.5vw;
    width: 20vw;
    margin-left: 2px !important;
}


.img4ft{
    width:15vw;
}
.eee2{
    text-align:right;
}
.eee {
   
    background-image: url('../Imag/footer3.png');
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height:15vw;
}
.eee4{
    background: #e9dcdc;
    position: absolute;
    height: 0.3vw;
    width: 99%;
    top: 1vw;
}
.eee5{
    background: #e9dcdc;
    position: absolute;
    height: 0.3vw;
    width: 99%;
    top: 14vw;
}
.eee3{
   position: absolute;
    font-size: 2vw;
    color: white;
    top: 5vw;
    width:100%;
    font-family:'GE Dinar One';
    text-align:center;
}







@media (max-width: 1100px) {

       .body{
           background-color:red;
       }

    .row h1 {
   
    padding-right:3px;
}
      .imgs1{
   
    height: 25vw !important;
   
}
    .obs1 {
        height:3vw;
    }
          .imgs2{
   width: 100%;
    height: 20vw;
   
}

          .obs3{
   width: 100%;  

}

          .linetitle{

    width: 100%;
}
                    .divpara{
   width:100%;
       font-size: 3vw;


}
                    .titles2{
    font-size:2.2vw;

}
.footertitles{
    font-size:2.2vw;
}
.footerinfo{
         font-size:1.9vw;

 }






                    .tamyiz{
    font-size:20px !important;
}
                 
         

/********************BAR*************************/
   }

 @media (max-width: 600px) {

       .body{
           background-color:azure;
       }
       .footertitles{
    font-size:5vw;
}


       .footerinfo{
         font-size:4vw;

 }

    .row h1 {
          font-family:'GE Dinar One';
    padding-right:3px;
}
                        .titles2{
    font-size:3vw;

}
.tamyiz{
    font-size:13.5px !important;
}

    .imgs1{
   
    height: 35vw !important;
   
}
     .obs1 {
         height:5vw;
        top: -5vw;
    }

    .imgs2{
   width: 100%;
    height: 20vw;
   
}
              .obs3{
   width: 100%;  
   height: 4.5vw;
}
          .linetitle{

    width: 100%;
}

          .divpara{
   width:100%;
       font-size: 3vw;
}


  /***************************************BAR***********************************************************/

  .container-fluid{
 
}

  .Rowimg1{

    text-align:center;
}
.Rowimg2{
 
    text-align:center;
}

.obs{
margin-left: 33vw;
top: 13.5vw;
}

.obs2{

top: 15vw;
}
.obs3{
    top: -4.5vw;
     text-align:center;
}
.row21 {
text-align:center;       
}


.box1{ font-size:2vw;

}
         }



