﻿* > .direction-ltr,
[dir="rtl"] .direction-ltr {
  direction: ltr;
  text-align: left;
}
* > .direction-ltr[class*="col-"],
[dir="rtl"] .direction-ltr[class*="col-"] {
  float: left !important;
}
* > .direction-ltr code,
[dir="rtl"] .direction-ltr code {
  opacity: 1;
}
    * > .direction-ltr[class*="col-"],
[dir="rtl"] .languageDropdown {
  float: left !important;
  text-align:right !important;
}

@media (max-width: 768px) {
    * > .direction-ltr[class*="col-"],
[dir="rtl"] #main-menu li {
  float: none !important;
}
.homez {
    height: 2.56vw !important;
}

.sm-blue a, .sm-blue a:hover, .sm-blue a:focus, .sm-blue a:active{
    padding-left:58px !important;
}

.sm-blue a .sub-arrow{
    right:auto;
    left:0px !important;
}

.img-fluid {
    width: 18vw !important;
    height: 17vw !important;
}
}

* > .direction-ltr[class*="col-"],
[dir="rtl"] #main-menu li {
  float: right;
}

/* -----------------------------------
  BASE STYLING FOR DEMO
*/

.container-fluid {
  margin-right: auto !important;
  margin-left: auto !important;
  padding-right: 15px !important;
  padding-left: 15px !important;
  width: 100%; }
body,
article,
aside {
  padding: 20px;
}

h2 {
  text-shadow: 0 1px 3px white;
}

code {
  opacity: 0.5;
  box-shadow: 0 0 5px black;
}

[dir="rtl"] {
  direction: rtl;
  background: silver;
}
[dir="rtl"] .row [class*="col-"] {
  float: right;
}

/****David*/
.img-fluid {
    width: 7vw;
    height: 6vw;
        margin-top: 5px;
    margin-bottom: 5px;
}

.homez {
    height: 1.56vw;
    margin-top: -1vw;
    padding-top: 0vw;
    margin-bottom: -1vw;
}

.ft1 {
    width: 100%;
    background-image: url('../Imag/ft7.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 90%;
    min-height: 10vw !important;
}

.ft1 div{
    text-align:center;
}

.imgft{
    height:12vw;
}

      #overlay {
            position: fixed;
            z-index: 1;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            /*background:rgb(249, 249, 251);*/
            transition: 1s 0.4s;
        }

        h1 {
            font-size: 25px !important;
            /*text-align: left;*/
            text-transform: capitalize !important;
        }