﻿
@using MoAD.WebApplication.Models;

@{
    ViewBag.Title = "Index";
}

<style type="text/css">
    .page-head .page-title {
        display: inline-block;
        float: left;
        /*padding: 19px 0;*/  
    }

    h1 {
        margin: 0;
    }

    .page-head {
        margin-top: 49px;
        background: #fff;
    }

    .page-content {
        background: #EFF3F8;
    }

    .page-head .page-title > h1 {
        color: #697882;
        font-size: 22px;
        font-weight: 400;
        margin: 0;
        padding-top: 16px;
    }

    .breadcrumb {
        background-color: transparent;
        padding: 8px 0px;
    }
    .cubes{
        height:80px;
        border:1px solid;
        
    }
  .expandcube{
      margin-right:7px;
  }
  .modal-dialog{
      left:auto !important;
  }
  


    /*.cubes:hover { 
    background-color: yellow;
}*/
</style>

<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1" name="viewport" />
    <meta content="Preview page of Metronic Admin Theme #3 for dashboard & statistics" name="description" />
    <meta content="" name="author" />

    <link rel="shortcut icon" href="favicon.ico" />
</head>
<!-- END HEAD -->
<body class="page-container-bg-solid">
    <div class="page-wrapper">
        <div class="page-wrapper-row full-height">
            <div class="page-wrapper-middle">
                <div class="page-container">
                    <div class="page-content-wrapper">
                        <div class="page-head">
                            @Html.Action("Index", "QuickNav")

                            <div class="container" style="height:62px;">
                                <div class="page-title">
                                 <h1>
                                     <span id="TemplateName" contenteditable="true">Untitled Form</span> <i class="fa fa-pencil" aria-hidden="true" style="color:red;font-size:1.5rem;"></i>
                                     <span id="TemplateType" contenteditable="true">Category</span>  <i class="fa fa-arrow-circle-down" aria-hidden="true" style="color:red;font-size:1.5rem;"></i>
                                     <span id="TemplateDescription" contenteditable="true">Description</span>
                                 </h1>




                                </div>
                                <div class="page-toolbar">
                                    <!-- BEGIN THEME PANEL -->
                                    <div class="btn-group btn-theme-panel pull-right" style="margin-top:17px;">
                                        <a href="javascript:;" class="btn dropdown-toggle" data-toggle="dropdown">
                                            <i class="icon-settings" style="font-size:2rem;"></i>
                                        </a>
                                        <div class="dropdown-menu theme-panel pull-right dropdown-custom hold-on-click">
                                            <div class="row" style="color:red;margin-left:0px;margin-right:0px;font-size:1.5rem;">

                                                <div onclick="saveform()" class="col-md-12 col-sm-12 col-xs-12" style="min-height:30px;padding-top:7px;cursor:pointer;">
                                                    <div class="col-md-6 col-sm-6 col-xs-6">
                                                        <i class="fa fa-floppy-o" style="font-size:2rem;" aria-hidden="true"></i>
                                                    </div>
                                                    <div  class="col-md-6 col-sm-6 col-xs-6">
                                                        <span class="pull-left">حفظ</span>
                                                    </div>
                                                </div>
                                                <div class="col-md-12 col-sm-12 col-xs-12" style="height:3px;background:#EFF3F8;margin-top:2px;margin-bottom:2px;">

                                                </div>

                                                <div class="col-md-12 col-sm-12 col-xs-12" style="min-height:30px;padding-top:7px;cursor:pointer;">
                                                    <div class="col-md-6 col-sm-6 col-xs-6">
                                                        <i class="fa fa-pencil" style="font-size:2rem;" aria-hidden="true"></i>
                                                    </div>
                                                    <div class="col-md-6 col-sm-6 col-xs-6">
                                                        <span class="pull-left">تعديل </span>
                                                    </div>
                                                </div>

                                                <div class="col-md-12 col-sm-12 col-xs-12" style="height:3px;background:#EFF3F8;margin-top:2px;margin-bottom:2px;">

                                                </div>

                                                <div class="col-md-12 col-sm-12 col-xs-12" style="min-height:30px;padding-top:7px;cursor:pointer;">
                                                    <div class="col-md-6 col-sm-6 col-xs-6">
                                                        <i class="fa fa-trash-o" style="font-size:2rem;" aria-hidden="true"></i>
                                                    </div>
                                                    <div class="col-md-6 col-sm-6 col-xs-6">
                                                        <span class="pull-left">حذف</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                   
                        <div class="page-content">
                            <div class="container">
                                <div class="page-content-inner" style="padding-top:0px;margin-top:10px">
                                                                      
                                    <div class="mt-content-body formcontents" >
                                        <div id="dropZone" class="col-md-12 col-lg-12 col-xs-12" style="height:245px;max-height:2400px;border-style: dashed;margin-top:30px">
                                            <div class="row line" style="height:80px">
                                                <div id="div1"  class="cubes col-lg-2" data-value="2"  ondrop="drop(event,this)" ondragover="allowDrop(event,this)" >
                                                    <i class="fa fa-times closeCube" style="float:left;margin-top:10px;display:none;cursor:pointer"></i>
                                                </div>
                                                <div id="div2" class="cubes col-lg-2" data-value="2" ondrop="drop(event,this)" ondragover="allowDrop(event,this)" >
                                                    <i class="fa fa-plus expandcube" style="float:left;margin-top:11px;cursor:pointer;display:none"></i>
                                                    <i class="fa fa-times closeCube" style="float:left;margin-top:10px;display:none;cursor:pointer"></i>
                                                </div>
                                                <div id="div3" class="cubes col-lg-2" data-value="2" ondrop="drop(event,this)" ondragover="allowDrop(event,this)" >
                                                    <i class="fa fa-plus expandcube" style="float:left;margin-top:11px;cursor:pointer;display:none"></i>
                                                    <i class="fa fa-times closeCube" style="float:left;margin-top:10px;display:none;cursor:pointer"></i>
                                                </div>
                                                <div id="div4" class="cubes col-lg-2" data-value="2" ondrop="drop(event,this)" ondragover="allowDrop(event,this)" >
                                                    <i class="fa fa-plus expandcube" style="float:left;margin-top:11px;cursor:pointer;display:none"></i>
                                                    <i class="fa fa-times closeCube" style="float:left;margin-top:10px;display:none;cursor:pointer"></i>
                                                </div>
                                                <div id="div5" class="cubes col-lg-2" data-value="2" ondrop="drop(event,this)" ondragover="allowDrop(event,this)" >
                                                    <i class="fa fa-plus expandcube" style="float:left;margin-top:11px;cursor:pointer;display:none"></i>
                                                    <i class="fa fa-times closeCube" style="float:left;margin-top:10px;display:none;cursor:pointer"></i>
                                                </div>
                                                <div id="div6" class="cubes col-lg-2" data-value="2" ondrop="drop(event,this)" ondragover="allowDrop(event,this)" >
                                                    <i class="fa fa-plus expandcube" style="float:left;margin-top:11px;cursor:pointer;display:none"></i>
                                                    <i class="fa fa-times closeCube" style="float:left;margin-top:10px;display:none;cursor:pointer"></i>
                                                </div>
                                            </div>
                                            <div class="row line" style="height:80px">
                                                <div id="div7" class="cubes col-lg-2" data-value="2" ondrop="drop(event,this)" ondragover="allowDrop(event, this)">
                                                    <i class="fa fa-times closeCube" style="float:left;margin-top:10px;display:none;cursor:pointer"></i>

                                                </div>
                                                <div id="div8" class="cubes col-lg-2" data-value="2" ondrop="drop(event,this)" ondragover="allowDrop(event,this)">
                                                    <i class="fa fa-plus expandcube" style="float:left;margin-top:11px;cursor:pointer;display:none"></i>
                                                    <i class="fa fa-times closeCube" style="float:left;margin-top:10px;display:none;cursor:pointer"></i>

                                                </div>
                                                <div id="div9" class="cubes col-lg-2" data-value="2" ondrop="drop(event,this)" ondragover="allowDrop(event,this)">
                                                    <i class="fa fa-plus expandcube" style="float:left;margin-top:11px;cursor:pointer;display:none"></i>
                                                    <i class="fa fa-times closeCube" style="float:left;margin-top:10px;display:none;cursor:pointer"></i>

                                                </div>
                                                <div id="div10" class="cubes col-lg-2" data-value="2" ondrop="drop(event,this)" ondragover="allowDrop(event,this)">
                                                    <i class="fa fa-plus expandcube" style="float:left;margin-top:11px;cursor:pointer;display:none"></i>
                                                    <i class="fa fa-times closeCube" style="float:left;margin-top:10px;display:none;cursor:pointer"></i>

                                                </div>
                                                <div id="div11" class="cubes col-lg-2" data-value="2" ondrop="drop(event,this)" ondragover="allowDrop(event,this)">
                                                    <i class="fa fa-plus expandcube" style="float:left;margin-top:11px;cursor:pointer;display:none"></i>
                                                    <i class="fa fa-times closeCube" style="float:left;margin-top:10px;display:none;cursor:pointer"></i>

                                                </div>
                                                <div id="div12" class="cubes col-lg-2" data-value="2" ondrop="drop(event,this)" ondragover="allowDrop(event,this)">
                                                    <i class="fa fa-plus expandcube" style="float:left;margin-top:11px;cursor:pointer;display:none"></i>
                                                    <i class="fa fa-times closeCube" style="float:left;margin-top:10px;display:none;cursor:pointer"></i>

                                                </div>
                                            </div>

                                            <div class="row line" style="height:80px">
                                                <div id="div13" class="cubes col-lg-2" data-value="2" ondrop="drop(event,this)" ondragover="allowDrop(event, this)">
                                                    <i class="fa fa-times closeCube" style="float:left;margin-top:10px;display:none;cursor:pointer"></i>

                                                </div>
                                                <div id="div14" class="cubes col-lg-2" data-value="2" ondrop="drop(event,this)" ondragover="allowDrop(event,this)">
                                                    <i class="fa fa-plus expandcube" style="float:left;margin-top:11px;cursor:pointer;display:none"></i>
                                                    <i class="fa fa-times closeCube" style="float:left;margin-top:10px;display:none;cursor:pointer"></i>

                                                </div>
                                                <div id="div15" class="cubes col-lg-2" data-value="2" ondrop="drop(event,this)" ondragover="allowDrop(event,this)">
                                                    <i class="fa fa-plus expandcube" style="float:left;margin-top:11px;cursor:pointer;display:none"></i>
                                                    <i class="fa fa-times closeCube" style="float:left;margin-top:10px;display:none;cursor:pointer"></i>

                                                </div>
                                                <div id="div16" class="cubes col-lg-2" data-value="2" ondrop="drop(event,this)" ondragover="allowDrop(event, this)">
                                                    <i class="fa fa-plus expandcube" style="float:left;margin-top:11px;cursor:pointer;display:none"></i>
                                                    <i class="fa fa-times closeCube" style="float:left;margin-top:10px;display:none;cursor:pointer"></i>

                                                </div>
                                                <div id="div17" class="cubes col-lg-2" data-value="2" ondrop="drop(event,this)" ondragover="allowDrop(event,this)">
                                                    <i class="fa fa-plus expandcube" style="float:left;margin-top:11px;cursor:pointer;display:none"></i>
                                                    <i class="fa fa-times closeCube" style="float:left;margin-top:10px;display:none;cursor:pointer"></i>
                                                </div>
                                                <div id="div18" class="cubes col-lg-2" data-value="2" ondrop="drop(event,this)" ondragover="allowDrop(event,this)">
                                                    <i class="fa fa-plus expandcube" style="float:left;margin-top:11px;cursor:pointer;display:none"></i>
                                                    <i class="fa fa-times closeCube" style="float:left;margin-top:10px;display:none;cursor:pointer"></i>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


  

</body>
</html>
@Scripts.Render("~/bundles/jquery")


<script>

</script>