﻿@using MoAD.WebApplication.Controllers;
@using MoAD.DataObjects.EDMX;

@{
    //Layout = "~/Views/Shared/_LayoutInitialPage.cshtml";
    Layout = "~/Views/Shared/_CommonLayout.cshtml";
    List<GetAllFormTemplatesForaType_Result> AllSurveyFormTemplate = ViewBag.AllSurveyFormTemplate;
    AllSurveyFormTemplate = AllSurveyFormTemplate.Where(s => s.Description != "NotPublished" && s.Description != null).ToList();
}
<style>
    @@media only screen and (max-width: 1300px) {
        .counter-icon {
            display: none !important;
        }
    }

    .select2-container--open {
        z-index: 9999999 !important;
    }

    .modal-backdrop {
        /* bug fix - no overlay */
        display: none;
    }
</style>

@if (User.IsInRole("PB"))
{

    @Styles.Render("~/Content/vendors.bundle.css")
    @Styles.Render("~/Content/style.bundle.css")

    @*<link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/vendors.bundle.css")">
        <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/style.bundle.css")">*@
}


<div class="row" style="padding:20px;margin-bottom:80px;">
    @if (AllSurveyFormTemplate.Count == 0)
    {
        <div class="col-xl-12 col-lg-12 col-sm-12 col-xs-12" style="padding-top: 10px; text-align: center; float: right; background-color: white; margin-top: 5px;">
            <div class="widget widget-seven">
                <div class="widget-body">
                    <div class="widget-body-inner">
                        <p style="font-size:2.3rem !important;word-wrap: break-word;font-weight: bold;color:black;" class="text-uppercase">
                            لا يوجد نتائج إستطلاعات رأي"
                        </p>
                       
                    </div>
                </div>
            </div>
        </div>
    }
    else
    {
        foreach (var item in AllSurveyFormTemplate)
        {
                <div class="col-xl-12 col-lg-12 col-sm-12 col-xs-12" style="cursor:pointer;padding-top:10px;text-align:center;float:right;background-color:white;margin-top:5px;">
                    <div class="widget widget-seven" onclick="GetPublishedGeneralTakarir('@item.FormTemplateKey','@ViewBag.ParentFormTemplateKey')">
                        <div class="widget-body">
                            <div class="widget-body-inner">
                                <p style="font-size:2.3rem !important;word-wrap: break-word;font-weight: bold;color:black;" class="text-uppercase">@item.Name</p>
                                <i class="counter-icon fa fa-list-alt fa-2x"></i>
                            </div>
                        </div>
                    </div>
                </div>
        }
    }
</div>

<script>

    $("select").select2();
    var Level = "";

    $("#GetPublishedGeneralTakarir").click(function () {
        var desc = $(this).attr("data-ViewBag");
        GetPublishedGeneralTakarir(desc)

    });

        function GetPublishedGeneralTakarir(childKey,ParentKey) {

            submit_post_via_hidden_form("@Url.Action("SurveyView", "SurveyReport")", { FormTemplateKey: childKey, ParentFormTemplateKey: ParentKey });

        }

        function submit_post_via_hidden_form(url, params) {
            var f = $("<form method='POST' style='display:none;'></form>").attr({
                action: url
            }).appendTo(document.body);

            for (var i in params) {
                if (params.hasOwnProperty(i)) {
                    $('<input type="hidden" />').attr({
                        name: i,
                        value: params[i]
                    }).appendTo(f);
                }
            }

            f.submit();

            f.remove();
        }

</script>