﻿@using MoAD.DataObjects.EDMX
@using Microsoft.AspNet.Identity;

@{
    var BodyCss = "";
    if (!User.Identity.IsAuthenticated || User.IsInRole("Citizen"))
    {
        Layout = "~/views/home/pageshared.cshtml";
        BodyCss = "overflow-x:hidden;filter: blur(25px);transition: filter 2s;-webkit-transition: filter 2s;";
    }
    else
    {
        Layout = "~/Views/Shared/_LayoutInitialPage.cshtml";
    }
    List<GetSurveyResult_Result> SurveyQuestions = ViewBag.SurveyQuestions;
    List<GetSavedForm_Result> FormSaved = ViewBag.FormValues;
}

@*<link href="@Url.Content("~/content/amcharts/components.min.css")" rel="stylesheet" id="style_components" type="text/css" />*@

<style>
    text {
        letter-spacing: initial;
    }
</style>

<div class="col-lg-12 col-xs-12 col-sm-12 Body" style="direction:rtl;margin-top:10px;@BodyCss">
    <div class="portlet light bordered">
        <div class="portlet-title">
            <div class="caption " style="float:right">
                <span class="caption-subject font-dark bold uppercase">@ViewBag.TitlePage</span>
            </div>
        </div>
        <div class="portlet-body">
            <div class="row">
                <div class="panel-group accordion" id="accordion3">
                    @{
                        int i = 1;
                        foreach (var item in SurveyQuestions)
                        {
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        <a class="accordion-toggle accordion-toggle-styled collapsed" data-toggle="collapse" data-parent="#accordion3" href="#collapse_3_@i" aria-expanded="false">@item.Question </a>
                                    </h4>
                                </div>
                                <div id="collapse_3_@i" class="panel-collapse collapse" aria-expanded="false" style="height: 0px;">
                                    <div class="panel-body">

                                        <div id="chart_@i" class="chart" style="height: 400px;"> </div>
                                    </div>
                                </div>
                            </div>
                        i++;
                    }
                    }

                </div>
            </div>
        </div>
        <div class="portlet-footer">
           
        </div>


    </div>
</div>

@*<script src="@Url.Content("~/scripts/amcharts/bootstrap.min.js")"></script>*@
<script src="@Url.Content("~/scripts/amcharts/bootstrap-switch.min.js")"></script>
<script src="@Url.Content("~/scripts/amcharts/amcharts.js")"></script>
<script src="@Url.Content("~/scripts/amcharts/serial.js")"></script>
<script src="@Url.Content("~/scripts/amcharts/pie.js")"></script>
<script src="@Url.Content("~/scripts/amcharts/radar.js")"></script>
<script src="@Url.Content("~/scripts/amcharts/light.js")"></script>
<script src="@Url.Content("~/scripts/amcharts/patterns.js")"></script>
<script src="@Url.Content("~/scripts/amcharts/chalk.js")"></script>
<script src="@Url.Content("~/scripts/amcharts/ammap.js")"></script>
<script src="@Url.Content("~/scripts/amcharts/worldlow.js")"></script>
<script src="@Url.Content("~/scripts/amcharts/amstock.js")"></script>
<script src="@Url.Content("~/scripts/amcharts/app.min.js")"></script>
<script src="@Url.Content("~/scripts/amcharts/charts-amcharts2.js")"></script>

<script type="text/javascript">
 

    var QuestionIndex = '@SurveyQuestions.Count';
    var ReportArray =@Html.Raw(ViewBag.Answers);

    for (i = 1; i <= QuestionIndex; i++) {
        var initChartSample6 = function () {
            var chart = AmCharts.makeChart("chart_" + i, {
                "type": "pie",
                "theme": "light",

                "fontFamily": 'Open Sans',

                "color": '#888',

                "dataProvider":
                  ReportArray[i - 1],
                @*@Html.Raw(Json.Encode(FinalSurveyReport[0])),*@
                //[
                //{
                //   "country": "٥٠٪  فما فوق",
                //    "litres": 2
                //},
                // {
                //     "country": "٣٠٪  فما فوق",
                //     "litres": 4
                // }
                //],
                "valueField": "litres",
                "titleField": "country",
                "outlineAlpha": 0.4,
                "depth3D": 15,
                "balloonText": "[[title]]<br><span style='font-size:14px'><b>[[litres]]</b> ([[percents]]%)</span>",
                "angle": 30,
                "exportConfig": {
                    menuItems: [{
                        icon: App.getGlobalPluginsPath() + "amcharts/amcharts/images/export.png",
                        format: 'png'
                    }]
                }
            });

            $('#chart_6').closest('.portlet').find('.fullscreen').click(function () {
                chart.invalidateSize();
            });
        }
        initChartSample6();
        
    }


</script>