﻿@using Newtonsoft.Json
@using Microsoft.AspNet.Identity;
@using MoAD.WebApplication.Controllers;
@using MoAD.DataObjects.EDMX;

@{
    Layout = "~/Views/Shared/_LayoutInitialPage.cshtml";
    List<GetAllFormTemplatesForaType_Result> AllSurveyFormTemplate = ViewBag.AllSurveyFormTemplate;
    List<GetAdManagerForms_Result> SavedForms = ViewBag.SavedForms;

}
<style>
    .centeralign {
        text-align: center;
    }

    td {
        text-align: center;
    }

    .dataTables_length {
        float: left;
    }  
</style>

<link href="@Url.Content("~/assets/vendors/switch.rtl.css")" rel="stylesheet" />

<div class="row" style="margin-top:1%;background-color:white;">
    <div class="row" style="text-align:center;padding-top:30px;">
        <h3>
            @ViewBag.title
        </h3>
    </div>

    <div class="col-xl-12">
        <div class="row">
            <div class="col-xl-12">
                <div class="widget widget-two" style="direction:rtl;">
                    <div class="widget-header">
                        <span class="text-truncate text-nowrap"><strong>إستبيناتي</strong></span>
                    </div>
                    <div class="row">
                        <div class="widget-body clearfix">
                            <table id="ClaimTable" class="table  table-bordered  dataTable no-footer dtr-inline" cellspacing="0" width="100%">
                                <thead>
                                    <tr>
                                        <th class="centeralign">إسم الإستبانة </th>
                                        <th class="centeralign">تاريخ التعبئة </th>
                                        <th class="centeralign">نشرت</th>
                                        <th class="centeralign">إسم التقرير</th>


                                        <th class="centeralign">رؤية الإستبانة</th>
                                    </tr>
                                </thead>
                                <tbody id="tablebody">
                                    @{
                                        foreach (var form in SavedForms)
                                        {
                                            //var FormTemplateInfo = SurveyReportController.GetFormTemplate(form.FileExtensionName).Result;
                                            <tr>
                                                <td> @form.FormTemplateName</td>
                                                <td>@form.CreatedAt</td>
                                                @{
                                                    var checkedSwitch = form.IsPublished == "Published" ? "checked" : "";
                                                    var PublishOrUnpublishBtnSwitch = form.IsPublished == "Published" ? "Published" : "NotPublished";

                                                    <td>
                                                        <div class="col-12">
                                                            <span class="m-switch PublishOrUnpublishBtn" data-ActionToDo="@PublishOrUnpublishBtnSwitch" data-formKey="@form.FormKey" data-formTemplateType="@form.FormTemplateName" data-formTemplateKey="@form.FormTemplateKey">
                                                                <label>
                                                                    <input type="checkbox" @checkedSwitch name="">
                                                                    <span></span>
                                                                </label>
                                                            </span>
                                                        </div>
                                                    </td>
                                                }

                                                <td>@form.FileType</td>
                                                <td><button type="button" onclick="viewestibana(@form.FormKey.ToString())" class="btn btn-circle btn-info viewFormButton" style="background-color:#5cb85c;width:120px;padding:2px;">أنقر</button> </td>
                                            </tr>
                                        }
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    var table;
    $(document).ready(function () {
        $("#OrganisationsForms").select2({ width: '100%' });

        table = $("#ClaimTable").DataTable({
            responsive: true, autoWidth: true,
            //"ordering": false,
            "oLanguage": {
                "sSearch": "إبحث",
                "sLengthMenu": "عدد الأسطر لكل صفحة _MENU_ ",
                "info": "عرض _START_ إلى _END_ من أصل _TOTAL_ سجلات",
                "infoFiltered": "(نتائج من مجمل _MAX_ سجل)",
                "lengthMenu": "عرض _MENU_ سجلات",
                "infoEmpty": "لا يوجد أي سجلات للعرض",
                "paginate": {
                    "first": "الأولى",
                    "last": "الأخيرة",
                    "next": "التالي",
                    "previous": "السابق"
                }
            }
        });
        $("#OrganisationsForms").trigger("change");

        id = '@ViewBag.HighlightedPart';
        if (id != null && id != "null") {
            $("#" + id).addClass("left-menu-list-opened");
            $("#menu-initialpage").removeClass("left-menu-list-active");

        }

        if (id == '') {
            $("#menu-initialpage").addClass("left-menu-list-active");
        }


    });

    function viewestibana(formKey) {
        console.log("viewestibanaviewestibana");
        console.log(formKey);
        submit_post_via_hidden_form("@Url.Action("Index", "SurveyReport")", { FormTemKey: formKey });
    }

   
        $(".PublishOrUnpublishBtn").change(function(){
        var action = $(this).attr("data-ActionToDo");
        var newAction ="";
        if (action == "Published") {
            newAction = "NotPublished";
        } else {
            newAction = "Published";
        }
        $(this).removeAttr("data-ActionToDo");
        $(this).attr("data-ActionToDo", newAction);
        
        $.ajax({
            url: '@Url.Action("PublishEstetla3", "Takarir")',
            dataType: "text",
            data: { formKey: $(this).attr("data-formKey"), fileExtensionName: $(this).attr("data-formTemplateType"), formTemplateKey: $(this).attr("data-formTemplateKey"), publishAction: newAction },
            success: function (result) {
                
                
            }
        });
    })


    $("#OrganisationsForms").on("change", function () {
        console.log($(this).val());
        //ViewBag.title
        table.clear().draw();


        $.ajax({
            type: 'GET',
            url: '@Url.Action("opManagerFormsTable", "Home")',
            data: {
                ClaimType: '@ViewBag.title'.trim(),
                organisationKey: $(this).val()
            },


            dataType: 'text',
            success: function (result) {
                var test = JSON.parse(result);
                console.log(test);
                $.each(test, function (index, value) {
                    if (value.IsPublished != "Published") {
                        IsPublished = "لم تنشر";
                        color = "red";
                    } else {
                        IsPublished = "نشرت";
                        color = "green";
                    }



                    table.row.add([
            '' + value.FormTemplateName + '',
            '' + value.CreatedAt + '',
            '' + value.UserName + '',
            '' + value.OrganisationName + '',
            '<span style="color:' + color + ';">' + IsPublished + '</span>',
            '' + value.FileExtensionName + '',
            "<button type='button' onclick='viewestibana(" + value.FormTemplateKey + "," + value.FormKey + ", " + '"' + value.FormTemplateName + '"' + "," + '"' + value.FileExtensionName + '"' + ")' class='btn btn-circle btn-info viewFormButton' style='background-color:#5cb85c;width:120px;padding:2px;'>أنقر</button>",
                    ]).draw(false);
                });

            }
        });



        //'<button type="button" onclick="viewestibana(' + value.FormTemplateKey + ',' + value.FormKey + ',"'+ value.FormTemplateName +'")" class="btn btn-circle btn-info viewFormButton" style="background-color:#5cb85c;width:120px;padding:2px;">أنقر</button> ',



    });


</script>