﻿@using MoAD.DataObjects.EDMX
@using Microsoft.AspNet.Identity;

@{
    // Layout = "~/Views/Shared/_LayoutInitialPage.cshtml";
    Layout = "~/Views/Shared/_CommonLayout.cshtml";
    List<GetSurveyResult_Result> SurveyQuestions = ViewBag.SurveyQuestions;
    List<GetSavedForm_Result> FormSaved = ViewBag.FormValues;
    List<object> FinalSurveyReport = ViewBag.FinalSurveyReport;

    HttpCookie languageCookie = Request.Cookies["Language"];
    var InitialDirection = "rtl";
    if (languageCookie != null && languageCookie.Value != "3")
    {
        InitialDirection = "ltr";
    }
}

@*<link href="@Url.Content("~/content/amcharts/components.min.css")" rel="stylesheet" id="style_components" type="text/css" />*@

@*<style>
    body{
        padding:20px;
    }
    text {
        letter-spacing: initial;
    }

    tspan{
        direction:ltr;
        font-size:18px;
    }
</style>*@

<div class="row" style="background-color: white; margin-top: 20px; margin-right:15px;margin-left:15px;">

    <div class="col-lg-12 col-xs-12 col-sm-12" style="direction:@InitialDirection;">
        <div class="portlet light bordered">
            <div class="portlet-title" style="margin-bottom: 10px; padding: 20px;">
                <div class="caption">
                    <span class="caption-subject font-dark bold uppercase" style="font-size:2.3rem" id="PageTitle">@ViewBag.formTemplateName (عدد المشاركين : @ViewBag.TotalUsers)</span>
                </div>
            </div>
            <br>
            <div class="portlet-body" style=" margin-top:10px;"">
                <div class="row">
                    <div class="panel-group accordion" id="accordion3">
                        @{
                            int i = 1;
                            foreach (var item in SurveyQuestions)
                            {
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h4 class="panel-title">
                                            <a class="accordion-toggle accordion-toggle-styled collapsed" data-toggle="collapse" data-parent="#accordion3" href="#collapse_3_@i" aria-expanded="false">@item.Question </a>
                                        </h4>
                                    </div>
                                    <div id="collapse_3_@i" class="panel-collapse collapse" aria-expanded="false" style="height: 0px;">
                                        <div class="panel-body">

                                            <div id="chart_@i" class="chart" style="height: 400px;"> </div>
                                        </div>
                                    </div>
                                </div>
                                @*<div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a class="accordion-toggle accordion-toggle-styled collapsed" data-toggle="collapse" data-parent="#accordion3" href="#collapse_3_@i" aria-expanded="false">@item.QuestionValue </a>
                                </h4>
                            </div>
                            <div id="collapse_3_@i" class="panel-collapse collapse" aria-expanded="false" style="height: 0px;">
                                <div class="panel-body">

                                    <div id="chart_@i" class="chart" style="height: 400px;"> </div>
                                </div>
                            </div>
                        </div>*@
                                i++;
                            }
                        }

                    </div>
                </div>
            </div>
            <div class="portlet-footer">
                @*@if (!User.IsInRole("PB"))
                    {
                        <div class="row" style="text-align:center">
                            <button type="button" id="SaveReport" class="btn btn-icon btn-primary  margin-inline" style="width:20%;border-radius:.25rem !important">
                                <i class="fa fa-upload" aria-hidden="true"></i>
                                [تقديم]
                            </button>

                        </div>
                    }*@
            </div>


        </div>
    </div>
</div>


<script src="@Url.Content("~/scripts/amcharts/bootstrap.min.js")"></script>
<script src="@Url.Content("~/scripts/amcharts/bootstrap-switch.min.js")"></script>
<script src="@Url.Content("~/scripts/amcharts/amcharts.js")"></script>
<script src="@Url.Content("~/scripts/amcharts/serial.js")"></script>
<script src="@Url.Content("~/scripts/amcharts/pie.js")"></script>
<script src="@Url.Content("~/scripts/amcharts/radar.js")"></script>
<script src="@Url.Content("~/scripts/amcharts/light.js")"></script>
<script src="@Url.Content("~/scripts/amcharts/patterns.js")"></script>
<script src="@Url.Content("~/scripts/amcharts/chalk.js")"></script>
<script src="@Url.Content("~/scripts/amcharts/ammap.js")"></script>
<script src="@Url.Content("~/scripts/amcharts/worldlow.js")"></script>
<script src="@Url.Content("~/scripts/amcharts/amstock.js")"></script>
<script src="@Url.Content("~/scripts/amcharts/app.min.js")"></script>
<script src="@Url.Content("~/scripts/amcharts/charts-amcharts2.js")"></script>

<script type="text/javascript">
    var AnswerTemplateKey = [];
    $("#SaveReport").click(function () {
        console.log("SaveReportSaveReport");
        console.log(ReportArray);

        answsers = { key: '@ViewBag.AnswerTemplateKey', Textvalue: "", type: "Multiple Instances", Parent: ReportArray, Child: '@ViewBag.FormTemplateKey', count: $("#PageTitle").text() }
        AnswerTemplateKey.push(answsers);

        waitingDialog.show(' !!!  جاري التحميل');

        setTimeout(function () {

            $.ajax({
                url: '@Url.Action("SubmitFormForUser", "ClaimForms")',
                type: 'GET',
                dataType: 'json',
                cache: false,
                data: {
                    trackingStatusKey: "1", formTemplateKey: '@ViewBag.ParentFormTemplateKey', userKey: "@User.Identity.GetUserId()", organisationKey: "20995", FileExtensionName: '@ViewBag.FormTemplateKey',FileExtensionType:'@ViewBag.formTemplateName'
                },
                success: function (data) {
                    FormKey = data;
                    $.ajax({
                        url: '@Url.Action("AnswersByUser", "ClaimForms")',
                        type: 'POST',
                        dataType: 'json',
                        cache: false,
                        data: {
                            formKey: FormKey, answerTemplateKey: JSON.stringify(AnswerTemplateKey)
                        },
                        success: function (data) {

                            $.ajax({
                                url: '@Url.Action("SaveClaimForm", "ClaimForms")',
                                type: 'GET',
                                dataType: 'json',
                                cache: false,
                                data: {
                                    formKey: FormKey
                                },
                                success: function (data) {


                                    var Title = $("#title").text();
                                    var test = "تعبئة";
                                    var message = test + " " + type;
                                    SetLog(Title.trim(), Title.trim(), message);
                                    var type = '@ViewBag.ParentFormTemplateName';


                                    window.location = '@Url.Action("SurveyTable", "SurveyReport")/' + "?ClaimType=" + type + "&HighlightedPart=Survey";



                                }
                            });
                        }
                    });
                }
            });

        }, 2000);
    });


    @*$("#PublishReport").click(function () {

        $.ajax({
            url: '@Url.Action("PublishTakarir", "Takarir")',
            dataType: "text",
            data: { formKey: '@ViewBag.formInstanceKey', fileExtensionName: '@ViewBag.FileExtensionName', formTemplateKey: '@ViewBag.FormTemplateKey' },
            success: function (result) {
                submit_post_via_hidden_form("@Url.Action("SurveyTable", "SurveyReport")", { ClaimType: '@ViewBag.FormTemplateType', HighlightedPart: "Survey" });
            }
        });

    });*@

    var QuestionIndex = '@SurveyQuestions.Count';
    var ReportArray = JSON.parse('@Html.Raw(Json.Encode(FinalSurveyReport).Replace("\\",""))');

    for (i = 1; i <= QuestionIndex; i++) {
        var initChartSample6 = function () {
            var chart = AmCharts.makeChart("chart_" + i, {
                "type": "pie",
                "theme": "light",

                "fontFamily": 'Open Sans',

                "color": '#888',

                "dataProvider":
                  ReportArray[i - 1],
                @*@Html.Raw(Json.Encode(FinalSurveyReport[0])),*@
                //[
                //{
                //   "country": "٥٠٪  فما فوق",
                //    "litres": 2
                //},
                // {
                //     "country": "٣٠٪  فما فوق",
                //     "litres": 4
                // }
                //],
                "valueField": "litres",
                "titleField": "country",
                "outlineAlpha": 0.9,
                "depth3D": 15,
                "balloonText": "[[title]]<br><span style='font-size:14px'><b>[[litres]]</b> ([[percents]]%)</span>",
                "angle": 30,
                "exportConfig": {
                    menuItems: [{
                        icon: App.getGlobalPluginsPath() + "amcharts/amcharts/images/export.png",
                        format: 'png'
                    }]
                }
            });

            $('#chart_6').closest('.portlet').find('.fullscreen').click(function () {
                chart.invalidateSize();
            });
        }
        initChartSample6();
    }


</script>