﻿@using MoAD.DataObjects.EDMX;
@using Microsoft.AspNet.Identity;
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutInitialPage.cshtml";
    List<SelectListItem> Organisations = ViewData["Organisation"] as List<SelectListItem>;
    List<SelectListItem> OrganisationsWithParent = ViewData["OrganisationsWithParent"] as List<SelectListItem>;


}
<script src="@Url.Content("~/scripts/sparkline.js")" type="text/javascript"></script>
<script src="@Url.Content("~/scripts/print.min.js")" type="text/javascript"></script>
<link href="@Url.Content("~/content/print.min.css")" rel="stylesheet" />

@*<h2>Index</h2>*@
<style>
    /*@@media print {

  body * {
    visibility: hidden;
  }
 #section-to-print, #section-to-print * {
    visibility: visible;

  }
  #section-to-print {
    position: relative;
    left: 0;
    bottom:100%;
  }


}*/


    /*@@media print {
  html, body {
     border: 1px solid white;
     height: 99%;
     page-break-after: avoid !important;
     page-break-before: avoid !important;
  }
  .print-display-none,
  .print-display-none * {
    display: none !important;
  }
  .print-visibility-hide,
  .print-visibility-hide * {
    visibility: hidden !important;
  }
  #section-to-print,
  #section-to-print * {
    visibility: visible !important;
  }
  #section-to-print {
    position: absolute;
    left: 0;
    top: 0;
  }

}*/

    body, input, textarea, keygen, select, button {
        letter-spacing: 0px !important;
    }

    .ct-bar {
        stroke-width: 70px;
    }

    .widget-sparkline-chart .widget-sparkline-title {
        display: block;
        font-size: 12px;
        font-weight: 600;
        color: #a1afbb;
    }
     #ReportingTable_length {
        display: none;
    }

    #ReportingTable_filter {
        display: none;
    }
    td{
        text-align:center;
    }


    /*.ct-series-a .ct-bar, .ct-series-a .ct-line, .ct-series-a .ct-point, .ct-series-a .ct-slice-donut {
        stroke: #0CC162;
    }*/
</style>
<body style="overflow-x:hidden;width:100%">
    <div class="form-group row" style="margin-top:1%;">
        <div class="col-md-1">
        </div>
        <div class="col-md-4" style="float:right">
            <label class="form-control-label" for="l0"> : الجهة الخاصة </label>
        </div>
        <div class="col-md-5" style="float:left;margin-left: 3%;">
            @Html.DropDownList("Organisations", Organisations, new { @class = "inputcolor form-control placeholder-no-fix Organisations", @onchange = "ExecuteReportTa7sinAl5adamat($(this))" })
        </div>

        <div class="col-md-2">
        </div>
    </div>
    <div class="row" id="part1">
        <div class="col-xl-6 col-lg-6 col-sm-6 col-xs-12" style="text-align:right;">
            <div class="widget widget-seven background-default">
                <div class="widget-body">
                    <div href="javascript: void(0);" class="widget-body-inner">
                        <h5 class="text-uppercase">تقرير</h5>
                        <i class="counter-icon icmn-chart"></i>
                        <span class="counter-count">
                            @*<i class="icmn-arrow-down5"></i>*@
                            <span class="counter-init" data-from="0" data-to="99">تحسن الخدمات</span>
                        </span>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-6 col-lg-6 col-sm-6 col-xs-12" style="text-align:right;">
            <div class="widget widget-seven">
                <div class="widget-body">
                    <div href="javascript: void(0);" class="widget-body-inner">
                        <h5 class="text-uppercase">تقرير</h5>
                        <i class="counter-icon icmn-chart"></i>
                        <span class="counter-count">
                            @*<i class="icmn-arrow-up5"></i>*@
                            <span class="counter-init" data-from="0" data-to="356">معدلات الفساد</span>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xl-6" id="testprint">
            <div class="widget widget-six" id = "Ta7ason5admat">
                <div class="row" style="text-align:right;padding: 1%;">
                    @*@Html.Action("_Organisations", "Home")*@
                    @*<div class="form-group row">
                        <div class="col-md-1">
                        </div>
                        <div class="col-md-4" style="float:right">
                            <label class="form-control-label" for="l0"> : الجهة الخاصة </label>
                        </div>
                        <div class="col-md-5" style="float:left;margin-left: 3%;">
                            @Html.DropDownList("Organisations1", Organisations, new { @class = "inputcolor form-control placeholder-no-fix Organisations", @onchange = "ExecuteReportTa7sinAl5adamat($(this))" })
                        </div>

                        <div class="col-md-2">
                        </div>
                    </div>*@

                    @if (User.IsInRole("PB"))
                    {
                        <div class="form-group row">
                            <div class="col-md-1">
                            </div>
                            <div class="col-md-4" style="float:right">
                                <label class="form-control-label" for="l0"> : الجهة العامة </label>
                            </div>
                            <div class="col-md-5" style="float:left;margin-left: 3%;">
                                @Html.DropDownList("OrganisationsWithParent", OrganisationsWithParent, new { @class = "inputcolor form-control placeholder-no-fix Organisations", @onchange = "ExecuteReportTa7sinAl5adamatParentOrg($(this))" })
                            </div>

                            <div class="col-md-2">
                            </div>
                        </div>
                    }


                    @*<div class="btn btn-primary" onclick="SaveAsPDF('Ta7ason5admat',this)" style="float:right;margin-right:1%;">Save as PDF</div>*@
                    <div class="btn btn-primary" onclick="printCanvas()" style="float:right;margin-right:1%;">Save as PDF</div>

                </div>
              <div class="widget-body">

                  <h5 style="color:red;display:none;text-align:center;" id="NoDataTa7asan5adamat">لا يوجد معلومات</h5>

                  <canvas id="chart-bar21" width="400" height="243" style="display: block;width: 824px;height: 500px;"></canvas>
              </div>
               

                @*<div class="widget-body ct-chart3" style="height:500px;background-color:white">*@
                </div>
            </div>
        <div class="col-xl-6">
            <div class="widget widget-six" id="Mou3adalatAlFasad">
                <div class="row" style="text-align:right;padding: 1%;">
                    @*@Html.Action("_Organisations", "Home")*@
                    @*<div class="form-group row">
                        <div class="col-md-1">
                        </div>
                        <div class="col-md-4" style="float:right">
                            <label class="form-control-label" for="l0"> : الجهة الخاصة </label>
                        </div>
                        <div class="col-md-5" style="float:left;margin-left: 3%;">
                            @Html.DropDownList("Organisations", Organisations, new { @class = "inputcolor form-control placeholder-no-fix Organisations", @onchange = "ExecuteReportMou3adalatAlFasad($(this))" })
                        </div>
                        <div class="col-md-2">
                        </div>
                    </div>*@

                    @if (User.IsInRole("PB"))
                    {
                        <div class="form-group row">
                            <div class="col-md-1">
                            </div>
                            <div class="col-md-4" style="float:right">
                                <label class="form-control-label" for="l0"> : الجهة العامة </label>
                            </div>
                            <div class="col-md-5" style="float:left;margin-left: 3%;">
                                @Html.DropDownList("OrganisationsWithParent1", OrganisationsWithParent, new { @class = "inputcolor form-control placeholder-no-fix Organisations", @onchange = "ExecuteReportMou3adalatAlFasadParent($(this))" })
                            </div>

                            <div class="col-md-2">
                            </div>
                        </div>
                    }
                    <div class="btn btn-primary" style="float:right;margin-right:1%;" onclick="SaveAsPDF('Mou3adalatAlFasad',this)">Save as PDF</div>

                </div>

                <h5 style="color:red;display:none;text-align:center;" id="NoDataMou3adalatFasad">لا يوجد معلومات</h5>

                <div class="widget-body ct-chart2" style="height:500px;background-color:white">
                </div>
            </div>
        </div>

        </div>
    
    <div class="row" style="background-color:white;">
        <div class="col-xl-12 col-lg-12" id="part2">
            <div class="widget widget-three">
                <div class="widget widget-one">
                    <div class="widget-body clearfix">
                        <div class="row" style="display:block;" id="estijabatAlFi2aAl3amat">
                            <div class="col-md-3">
                            </div>
                            <div class="btn btn-primary" onclick="SaveAsPDF('estijabatAlFi2aAl3amat',this)" style="float:right;margin-right:-2%;">Save as PDF</div>

                            <div class="col-md-4">
                                <h3 style="text-align:center;">إستجابة الفئة العامة</h3>
                                <h5 style="color:red;display:none;text-align:center;" class="NoDataEstijatfi2a3ama">لا يوجد معلومات</h5>
                                <div id="chart1" class="height-300" style="max-height:288px;">
                                </div>
                            </div>
                            <div class="col-md-5">
                                @*@Html.Action("_Organisations", "Home")*@
                                @*<div class="form-group row">
                                    <div class="col-md-1">
                                    </div>
                                    <div class="col-md-4" style="float:right">
                                        <label class="form-control-label" for="l0"> : الجهة الخاصة </label>
                                    </div>
                                    <div class="col-md-5" style="float:left;margin-left: 3%;">

                                        <select id="Organisations2" onchange="ExecuteReportEstijabatAlFi2aAl3ama($(this))">
                                            @foreach (var item in ViewBag.Organizations)
                                            {
                                                if (@item.OrganisationKey != 3)
                                                {
                                                    <option value="@item.OrganisationParent" data-value="@item.OrganisationKey">@item.OrganisationName</option>

                                                }


                                            }
                                        </select>
                                    </div>

                                    <div class="col-md-2">
                                    </div>
                                </div>*@

                                @if (User.IsInRole("PB"))
                                {
                                    <div class="form-group row">
                                        <div class="col-md-1">
                                        </div>
                                        <div class="col-md-4" style="float:right">
                                            <label class="form-control-label" for="l0"> : الجهة العامة </label>
                                        </div>
                                        <div class="col-md-5" style="float:left;margin-left: 3%;">
                                            <select id="Organisations2" onchange="ExecuteReportEstijabatAlFi2aAl3amaParentOrg($(this))">
                                                @foreach (var item in ViewBag.OrganizationsOrganisationsWithParent)
                                                {
                                                   
                                                        <option value="@item.OrganisationParent" data-value="@item.OrganisationKey">@item.OrganisationName</option>


                                                }
                                            </select>                                        </div>

                                        <div class="col-md-2">
                                        </div>
                                    </div>
                                }


                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xl-6 col-lg-6 col-sm-6 col-xs-12" style="text-align:right;">
                <div class="widget widget-seven background-default">
                    <div class="widget-body">
                        <div href="javascript: void(0);" class="widget-body-inner">
                            <h5 class="text-uppercase">الشكاوى</h5>
                            <i class="counter-icon icmn-chart"></i>
                            <span class="counter-count">
                                @*<i class="icmn-arrow-down5"></i>*@
                                <span class="counter-init" data-from="0" data-to="99">الجزئية</span>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-6 col-lg-6 col-sm-6 col-xs-12" style="text-align:right;">
                <div class="widget widget-seven">
                    <div class="widget-body" style="background-color: #eceff4;">
                        <div href="javascript: void(0);" class="widget-body-inner">
                            <h5 class="text-uppercase">الشكاوى</h5>
                            <i class="counter-icon icmn-chart"></i>
                            <span class="counter-count">
                                @*<i class="icmn-arrow-up5"></i>*@
                                <span class="counter-init" data-from="0" data-to="356">الشاملة</span>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row" style="height:60%;">
            <div class="col-xl-6">
                <div class="widget widget-six" id="ChakawaJez2yat">
                    <div class="btn btn-primary" onclick="SaveAsPDF('ChakawaJez2yat', this)" style="float:right;margin-right:1%;">Save as PDF</div>

                    <h5 style="color:red;display:none;text-align:center;" class="NoDataEstijatfi2a3ama">لا يوجد معلومات</h5>

                    <div class="widget-body ct-chart4" style="height:500px;background-color:white">
                    </div>
                </div>
            </div>
            <div class="col-xl-6">
                <div class="widget widget-six" id="ChakawaChamilat">
                    <div class="btn btn-primary" onclick="SaveAsPDF('ChakawaChamilat', this)" style="float:right;margin-right:2%;">Save as PDF</div>

                    <h5 style="color:red;display:none;text-align:center;" class="NoDataEstijatfi2a3ama">لا يوجد معلومات</h5>

                    <div class="widget-body ct-chart5" style="height:500px;background-color:white">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row" style="visibility:hidden;">
        degfewgfwsf
    </div>
    <div class="row" style="background-color:white;" id="part3">
        <div class="row" style="text-align:center;padding:1%;">
            <h3> التحسين في الجهة العامة </h3>

            @*<div class="form-group row">
                <div class="col-md-1">

                </div>
                <div class="col-md-4" style="float:right">
                    <div class="btn btn-primary" onclick="SaveAsPDFTa7ason5adamat()" style="float:right;margin-right:1%;">Save as PDF</div>

                    <label class="form-control-label" for="l0"> : الجهة الخاصة </label>
                </div>
                <div class="col-md-5" style="float:left;margin-left: 3%;">
                    @Html.DropDownList("Organisations3", Organisations, new { @class = "inputcolor form-control placeholder-no-fix Organisations" })
                </div>

                <div class="col-md-2">

                </div>
            </div>*@

            @if (User.IsInRole("PB"))
            {
                <div class="form-group row">
                    <div class="col-md-1">
                    </div>
                    <div class="col-md-4" style="float:right">
                        <label class="form-control-label" for="l0"> : الجهة العامة </label>
                    </div>
                    <div class="col-md-5" style="float:left;margin-left: 3%;">
                        @Html.DropDownList("OrganisationsWithParent3", OrganisationsWithParent, new { @class = "inputcolor form-control placeholder-no-fix Organisations" })
                    </div>

                    <div class="col-md-2">
                    </div>
                </div>
            }

        </div>
        <div class="row">
            <div class="col-md-4">
                <h5 style="color:red;display:none;text-align:center;" class="NoDataTa7sinChart2">لا يوجد معلومات</h5>

                <div id="chart2" class="height-300 row" style="max-height:240px;">
                </div>
                <div class="row">
               
               
                <div class="col-md-5" style="margin-left:2%;">
                    <label class="form-control-label" for="l0" style="float:right;">: إلى</label>

                    <div class="input-group datetimepicker" id="datetimepicker4" style="direction:ltr">
                        <input style="z-index:0" type="text" placeholder="MM/DD/YYYY" class="form-control">
                        <span class="input-group-addon">
                            <i class="fa fa-calendar" aria-hidden="true"></i>
                        </span>
                    </div>
                   
                </div>

                    <div class="col-md-5">
                        <label class="form-control-label" for="l0" style="float:right;">: من</label>

                        <div class="input-group datetimepicker" id="datetimepicker3" style="direction:ltr">
                            <input style="z-index:0" type="text" placeholder="MM/DD/YYYY" class="form-control">
                            <span class="input-group-addon">
                                <i class="fa fa-calendar" aria-hidden="true"></i>
                            </span>
                        </div>
             
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <h5 style="color:red;display:none;text-align:center;" class="NoDataTa7sinChart3">لا يوجد معلومات</h5>

                <div id="chart3" class="height-300 row" style="max-height:240px;">
                </div>

                @*<div class="col-md-1" style="float:right;">
                    <label class="form-control-label" for="l0">: إلى</label>
                </div>*@
                <div class="col-md-5">
                    <label class="form-control-label" for="l0" style="float:right;">: إلى</label>

                    <div class="input-group datetimepicker" id="datetimepicker2" style="direction:ltr">
                        <input style="z-index:0" type="text" placeholder="MM/DD/YYYY" class="form-control">
                        <span class="input-group-addon">
                            <i class="fa fa-calendar" aria-hidden="true"></i>
                        </span>
                    </div>
                    @*<select>
                        <option>Period1</option>
                        <option>Period2</option>
                        <option>Period3</option>

                    </select>*@
                </div>

                @*<div class="col-md-1" style="float:right">
            <label class="form-control-label" for="l0">: من</label>
        </div>*@
                <div class="col-md-5">
                    <label class="form-control-label" for="l0" style="float:right;">: من</label>

                    <div class="input-group datetimepicker" id="datetimepicker1" style="direction:ltr">
                        <input style="z-index:0" type="text" placeholder="MM/DD/YYYY" class="form-control">
                        <span class="input-group-addon">
                            <i class="fa fa-calendar" aria-hidden="true"></i>
                        </span>
                    </div>
                    @*<select>
                <option>Period1</option>
                <option>Period2</option>
                <option>Period3</option>

            </select>*@
                </div>
            </div>

            <div class="col-md-4" style="max-height:240px;">
                <h5 style="color:red;display:none;text-align:center;" class="NoDataTa7sinChartBar">لا يوجد معلومات</h5>

                <canvas id="chart-bar" width="400" height="200"></canvas>

            </div>
            
        </div>
        <div class="form-group row" style="margin-left:4%;">

            <button id="DrawCharts" class="btn btn-primary" style="margin-top:1%;">تحميل الرسوم البيانية</button>

            @if (User.IsInRole("PB"))
            {
                <button class="btn btn-primary" style="margin-top:1%;" onclick="DrawChartParent()">تحميل الرسوم البيانية للجهة العامة</button>

            }


        </div>
    </div>
    <div class="row" style="visibility:hidden;">
        degfewgfwsf
    </div>
    <div class="row" style="background-color:white;" id="part4">
        <div class="row" style="text-align:center;padding:1%;">
            <h3> التقرير السنوي </h3>
        </div>
        <div class="col-lg-6">


            <div class="widget widget-seven" style="border:1px solid;width:50%;margin-left:20%">
                <div class="widget-body">
                    <div href="javascript: void(0);" class="widget-body-inner">
                        <h5 class="text-uppercase" style="float:right">: الفارق </h5>
                        <i class="counter-icon icmn-stats-growth"></i>
                        <span class="counter-count">
                            <span class="counter-init" id="yearsresult" data-from="0" data-to="67"></span>
                        </span>
                    </div>
                </div>
            </div>




        </div>

        <div class="col-lg-6">
            <div class="btn btn-primary" onclick="SaveAsPDF('part4', this)" style="float:right;margin-right:1%;">Save as PDF</div>

            <div class="row" style="margin-right: 12%;">

                @*<div class="form-group row">
                    <div class="col-md-1">
                    </div>
                    <div class="col-md-4" style="float:right">
                        <label class="form-control-label" for="l0"> : الجهة الخاصة </label>
                    </div>
                    <div class="col-md-5" style="float:left;margin-left: 3%;">
                        @Html.DropDownList("Organisations4", Organisations, new { @class = "inputcolor form-control placeholder-no-fix Organisations", dir = "rtl" })
                    </div>
                    <div class="col-md-2">

                    </div>
                </div>*@

                @if (User.IsInRole("PB"))
                {
                    <div class="form-group row">
                        <div class="col-md-1">
                        </div>
                        <div class="col-md-4" style="float:right">
                            <label class="form-control-label" for="l0"> : الجهة العامة </label>
                        </div>
                        <div class="col-md-5" style="float:left;margin-left: 3%;">
                            @Html.DropDownList("OrganisationsWithParent4", OrganisationsWithParent, new { @class = "inputcolor form-control placeholder-no-fix Organisations", @onchange = "ExecuteReportTa7sinAl5adamat($(this))" })
                        </div>

                        <div class="col-md-2">
                        </div>
                    </div>
                }

            </div>



            <div class="row" style="margin-right: 12%;">
                <div class="form-group row">
                    <div class="col-md-1">
                    </div>
                    <div class="col-md-4" style="float:right">
                        <label class="form-control-label" for="l0"> : التاريخ الأول </label>
                    </div>
                    <div class="col-md-5" style="float:left;margin-left: 3%;">
                        @*<div class="input-group datetimepickerFare2" id="datetimepicker3" style="direction:ltr">
                            <input style="z-index:0" type="text" placeholder="YYYY" class="form-control" id="Year1">
                            <span class="input-group-addon">
                                <i class="fa fa-calendar" aria-hidden="true"></i>
                            </span>
                        </div>*@
                        <select id="Year1"></select>

                        @*<input type="number" class="form-control" id="Year1">*@
                    </div>
                    <div class="col-md-2">
                    </div>
                </div>

            </div>

            <div class="row" style="margin-right: 12%;">
                <div class="form-group row">
                    <div class="col-md-1">
                        <button type="button" id="gettakarir" class="btn btn-rounded btn-primary margin-inline">التقرير </button>

                        @if (User.IsInRole("PB"))
                        {
                            <button type="button" id="gettakarirParent" class="btn btn-rounded btn-primary margin-inline">تقرير الجهة العامة </button>

                        }

                        
                    </div>
                    <div class="col-md-4" style="float:right">
                        <label class="form-control-label" for="l0"> : التاريخ الثاني </label>
                    </div>
                    <div class="col-md-5" style="float:left;margin-left: 3%;">
                        @*<div class="input-group datetimepickerFare2" id="datetimepicker4" style="direction:ltr">
                            <input style="z-index:0" type="text" placeholder="YYYY" class="form-control" id="Year2">
                            <span class="input-group-addon">
                                <i class="fa fa-calendar" aria-hidden="true"></i>
                            </span>
                        </div>*@
                        <select id="Year2"></select>
                        @*<input type="number" class="form-control" id="Year2">*@
                    </div>
                    <div class="col-md-2">
                    </div>
                </div>

            </div>
        </div>
        <div class="row">
            <div class="col-md-1">
            </div>
            <div class="col-md-10">
                <table id="ReportingTable" cellspacing="0" width="100%">
                    <thead>
                        <tr>
                            <th style="text-align:center">عدد الشكاوى</th>
                            <th style="text-align:center">ألسنة</th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
            <div class="col-md-1">
            </div>
        </div>



        <div class="row" style="text-align:center">
            <button type="button" id="submitClaimForm" class="btn btn-icon btn-primary  margin-inline" style="width:20%;border-radius:.25rem !important">
                <i class="fa fa-upload" aria-hidden="true"></i>
                [تقديم]
            </button>

        </div>
    </div>
 
</body>
<script>
    //$("#Organisations" ).on('change', function() {
    //    alert( "Handler for .change() called." );
    //});
    var table;
    var start = 1900;
    var end = new Date().getFullYear();
    var options = "";
    for (var year = end ; year >= start; year--) {
        options += "<option>" + year + "</option>";
    }
    document.getElementById("Year1").innerHTML = options;
    document.getElementById("Year2").innerHTML = options;

  
    $(function () {
        //$('#datetimepicker').datetimepicker();
        //$("#datetimepicker").datetimepicker({ maxDate: new Date });
        var date = new Date();
        var currentMonth = date.getMonth();
        var currentDate = date.getDate();
        var currentYear = date.getFullYear();
        $('.datetimepicker').datetimepicker({
            format: 'YYYY/MM/DD',
            widgetPositioning: {
                horizontal: 'left'
            },

            icons: {
                time: "fa fa-clock-o",
                date: "fa fa-calendar",
                up: "fa fa-arrow-up",
                down: "fa fa-arrow-down",
                previous: 'fa fa-chevron-left',
                next: 'fa fa-chevron-right',
            },

            maxDate: new Date(currentYear, currentMonth, currentDate)

        });
    });



    function ExecuteReportMou3adalatAlFasad(value) {
        var OrganisationKey = value.find("option:selected").val();

        DrawChartMou3adalatAlFasad(OrganisationKey);

    }
    function ExecuteReportMou3adalatAlFasadParent(value) {
        var OrganisationKey = value.find("option:selected").val();
      
        DrawChartMou3adalatAlFasad(null,OrganisationKey);

    }

    function ExecuteReportTa7sinAl5adamat(value) {
        var OrganisationKey = value.find("option:selected").val();

        DrawChartTa7sinAl5adamat(OrganisationKey);

    }

    function ExecuteReportTa7sinAl5adamatParentOrg(value) {
        var OrganisationKey = value.find("option:selected").val();

        DrawChartTa7sinAl5adamat(null, OrganisationKey);

    }
    

    function ExecuteReportEstijabatAlFi2aAl3ama(value) {

        var ParentOrganisationKey = value.find("option:selected").val();
        var OrganisationKey = value.find("option:selected").attr("data-value");

        DrawPieChartEstijabatAlFi2aAl3ama(ParentOrganisationKey);
        DrawChartEstijabatAlFi2aAl3ama(ParentOrganisationKey, OrganisationKey);

    }

    function ExecuteReportEstijabatAlFi2aAl3amaParentOrg(value) {

        var ParentOrganisationKey = value.find("option:selected").val();
        var OrganisationKey = value.find("option:selected").attr("data-value");
        var ParentOrganisationName = value.find("option:selected").text();

        DrawPieChartEstijabatAlFi2aAl3ama(ParentOrganisationName);
        DrawChartEstijabatAlFi2aAl3ama(ParentOrganisationKey, OrganisationKey);

    }

    function DrawChartTa7sinAl5adamat(orgKey, ParentOrganisationKey) {
        $.ajax({
            url: '@Url.Action("ReportingTa7sinElKhadamat", "Reporting")',
            type: 'GET',
            dataType: 'text',
            cache: false,
            data: {
                OrganisationKey: orgKey,
                ParentOrganisationKey: ParentOrganisationKey
            },
            success: function (data) {
                var obj = jQuery.parseJSON(data);
                console.log(obj[0]);

                if (obj[0] == "") {
                    $("#NoDataTa7asan5adamat").css("display", "block");
                    $("#chart-bar21").css("display", "none");

                } else {
                    $("#NoDataTa7asan5adamat").css("display", "none");
                    $("#chart-bar21").css("display", "block");

                }

                answsers = { key: "7757", Textvalue: "", type: "Plot", Parent: obj[0], Child: obj[1], count: orgKey }
                AnswerTemplateKey.push(answsers);

                // BAR CHART
                var barCtx = document.getElementById('chart-bar21').getContext('2d');

                var dataBar = {
                    labels: obj[0],
                    datasets: [
                        {
                            label: [],
                            backgroundColor: [
                                'rgb(255,165,0)',
                                'rgb(0, 255, 0)',
                                'rgb(255, 0, 0)'
                            ],
                            borderColor: [
                                'rgba(255,99,132,1)',
                                'rgba(54, 162, 235, 1)',
                                'rgba(255, 206, 86, 1)'
                            ],
                            borderWidth: 1,
                            data: obj[1]
                        }
                    ]
                };

                new Chart(barCtx, {
                    type: "bar",
                    data: dataBar,
                    options: {

                        legend: {
                            display: false
                        },
                        tooltips: {
                            callbacks: {
                                label: function (tooltipItem) {
                                    return tooltipItem.yLabel;
                                }
                            }
                        },
                        scales: {
                            xAxes: [{
                                stacked: true,

                            }],
                            yAxes: [{
                                stacked: true,
                                ticks: {
                                    beginAtZero: true,
                                    callback: function (value) { if (Number.isInteger(value)) { return value; } },
                                    stepSize: 1
                                }

                            }]
                        }
                    }
                });

            }
        });
    }

    var chart2;

    function DrawChartMou3adalatAlFasad(orgKey, ParentOrg) {
     
        $.ajax({
            url: '@Url.Action("GetReportingClaimsType", "Reporting")',
            type: 'GET',
            dataType: 'text',
            cache: false,
            data: {
                OrganisationKey: orgKey,
                ParentOrg: ParentOrg
            },
            success: function (data) {
                var obj = jQuery.parseJSON(data);
                console.log("honee="+obj[0]);

                if (obj[0] == "") {
                    $("#NoDataMou3adalatFasad").css("display", "block");
                    $(".ct-chart2").css("display", "none");

                } else {
                    $("#NoDataMou3adalatFasad").css("display", "none");
                    $(".ct-chart2").css("display", "block");

                }

                answsers = { key: "7756", Textvalue: "", type: "Plot1", Parent: obj[0], Child: obj[1], count: orgKey }
                AnswerTemplateKey.push(answsers);

                chart2 = new Chartist.Bar('.ct-chart2', {
                    labels: obj[0],
                    series: [
                    obj[1],
                    ]

                }, {
                    axisX: {
                        position: 'start',
                        onlyInteger: true,

                    },
                    axisY: {
                        position: 'end',
                        onlyInteger: true,

                    }
                });
            }
        });
    }

    var AnswerTemplateKey = [];

    $(document).on('click', "[id='submitClaimForm']", function () {
        var organisationKey="";
       
        var answsers = "";
    

     
        //console.log(AnswerTemplateKey);
        var FormTemplateKey = $('#FormTemplateKey').text();
      
        console.log("ahaahahahah="+AnswerTemplateKey);
        answsers = { key: "7763", Textvalue: $("#Organisations option:selected").text(), type: "Freetext", Parent: "", Child: "", count: "" }
        AnswerTemplateKey.push(answsers);
        return;
        waitingDialog.show(' !!!  جاري التحميل');
       
        setTimeout(function() {

            $.ajax({
                url: '@Url.Action("SubmitFormForUser", "ClaimForms")',
                type: 'GET',
                dataType: 'json',
                cache: false,
                data: {
                    trackingStatusKey: "1", formTemplateKey: '182', userKey: "@User.Identity.GetUserId()", organisationKey: OrgKey
                },
                success: function (data) {
          
                    FormKey = data;
                    $.ajax({
                        url: '@Url.Action("AnswersByUser", "ClaimForms")',
                        type: 'POST',
                        dataType: 'json',
                        cache: false,
                        data: {
                            formKey: FormKey, answerTemplateKey: JSON.stringify(AnswerTemplateKey)
                        },
                        success: function (data) {

                            $.ajax({
                                url: '@Url.Action("SaveClaimForm", "ClaimForms")',
                                type: 'GET',
                                dataType: 'json',
                                cache: false,
                                data: {
                                    formKey: FormKey
                                },
                                success: function (data) {
                                  
                                  
                                    window.location = '@Url.Action("TakarirTable", "Takarir")/' + "?ClaimType=" + type + "&HighlightedPart=Takarir";

                                  

                                }
                            });
                        }
                    });
                }
            });

        }, 2000);

      






    });

    function SaveAsPDF(currrentId,button) {


        printJS('myElementId', 'html')

    }

    function printCanvas() {

        var canvasObj = document.getElementById("chart-bar21");
        var imgObj = canvasObj.toDataURL("image/png");

        submit_post_via_hidden_form("@Url.Action("PrintGraphs", "Reporting")", { Title: "تحسن الخدمات", Image: imgObj });

    }

    function SaveAsPDFTa7ason5adamat() {
        console.log(Ta7sinChartData1);
        console.log(Ta7sinChartData2);
        console.log(BarChartData);

        submit_post_via_hidden_form("@Url.Action("PrintGraphs", "Reporting")", { Title: "التحسين في الجهة العامة" });

    }

    function submit_post_via_hidden_form(url, params) {
        var f = $("<form method='POST' style='display:none;'></form>").attr({
            action: url
        }).appendTo(document.body);

        for (var i in params) {
            if (params.hasOwnProperty(i)) {
                $('<input type="hidden" />').attr({
                    name: i,
                    value: params[i]
                }).appendTo(f);
            }
        }

        f.submit();

        f.remove();
    }

    function DrawPieChartEstijabatAlFi2aAl3ama(orgKey) {
        $.ajax({
            url: '@Url.Action("ReportingGovernanceResponse", "Reporting")',
            type: 'GET',
            dataType: 'text',
            cache: false,
            data: {
                OrganisationKey: orgKey
            },
            success: function (data) {
                var obj = jQuery.parseJSON(data);
                //console.log("iaugau" + data);
                //console.log("iaugau" + obj[0][0]);

                if (obj[0][0] == "لا يوجد معلومات ") {
                    $(".NoDataEstijatfi2a3ama").css("display", "block");
                    $("#chart1").css("display", "none");
                    $(".ct-chart5").css("display", "none");
                    $(".ct-chart4").css("display", "none");

                } else {
                    $(".NoDataEstijatfi2a3ama").css("display", "none");
                    $("#chart1").css("display", "block");
                    $(".ct-chart5").css("display", "block");
                    $(".ct-chart4").css("display", "block");
                }

                answsers = { key: "7758", Textvalue: "", type: "PieChart", Parent: obj, Child: " ", count: orgKey }
                AnswerTemplateKey.push(answsers);

                var chart1 = c3.generate({
                    bindto: '#chart1',
                    data: {
                        columns:obj,
                        type: 'pie',
                        //onclick: function (d, i) { console.log("onclick", d, i); },
                        //onmouseover: function (d, i) { console.log("onmouseover", d, i); },
                        //onmouseout: function (d, i) { console.log("onmouseout", d, i); }
                    },
                    tooltip: {
                        format: {
                            //title: function (d) { return 'Data ' + d; },
                            value: function (value, ratio, id) {
                                var format = id === 'data1' ? d3.format(',') : d3.format('');
                                return format(value);
                            }
                            //            value: d3.format(',') // apply this format to both y and y2
                        }
                    }
                });
            }
        });
    }

    function DrawChartEstijabatAlFi2aAl3ama(ParentOrganisationKey, OrganisationKey) {
        $.ajax({
            url: '@Url.Action("ReportingGovernanceResponseDateRanges", "Reporting")',
            type: 'GET',
            dataType: 'text',
            cache: false,
            data: {
                parentOrganisation: ParentOrganisationKey, organisationKey: OrganisationKey
            },
            success: function (data) {
                var obj = jQuery.parseJSON(data);
                console.log(obj);


                answsers = { key: "7760", Textvalue: "", type: "Plot1", Parent: obj[0][0], Child: obj[0][1], count: OrganisationKey }
                AnswerTemplateKey.push(answsers);

                //////Jez2ye////////
                var chart4 = new Chartist.Bar('.ct-chart4', {
                    labels: obj[0][0],
                    series: [
                      obj[0][1],

                    ]
                }, {
                    axisX: {
                        position: 'start',
                        onlyInteger: true,

                    },
                    axisY: {
                        position: 'end',
                        onlyInteger: true,

                    }
                });


                answsers = { key: "7759", Textvalue: "", type: "Plot1", Parent: obj[1][0], Child: obj[1][1], count: OrganisationKey }
                AnswerTemplateKey.push(answsers);

                //////Chamle////////
                var chart5 = new Chartist.Bar('.ct-chart5', {
                    labels: obj[1][0],
                    series: [
                      obj[1][1],

                    ]
                }, {
                    axisX: {
                        position: 'start',
                        onlyInteger: true,
                    },
                    axisY: {
                        position: 'end',
                        onlyInteger: true,
                    }
                });
            }
        });
    }

    function DrawChartParent() {
        var organisationKey = $("#OrganisationsWithParent3").val();

        var Date1 = $("#datetimepicker1").find("input").val().replace(/\//g, '-');
        var FirstDate = Date1 + " 00:00:00";
        var Date2 = $("#datetimepicker2").find("input").val().replace(/\//g, '-');
        var SecondDate = Date2 + " 00:00:00";

        var Date3 = $("#datetimepicker3").find("input").val().replace(/\//g, '-');
        var FirstDate1 = Date3 + " 00:00:00";
        var Date4 = $("#datetimepicker4").find("input").val().replace(/\//g, '-');
        var SecondDate1 = Date4 + " 00:00:00";

        if ((Date1 > Date2) || (Date3 > Date4)) {
            bootbox.alert(" !!! الرجاء إدخال أوقات صحيحة");
        }
        else {
            $.ajax({
                url: '@Url.Action("ReportingClaimStatusesPerDateRanges", "Reporting")',
                type: 'GET',
                dataType: 'text',
                cache: false,
                data: {
                    startPeriod: FirstDate, endPeriod: SecondDate, startPeriod2: FirstDate1, endPeriod2: SecondDate1, organisationKey: organisationKey
                },
                success: function (data) {
                    var obj = jQuery.parseJSON(data);
                    console.log("obj[0]ahh1=" + obj[0]);
                    console.log("obj[1]ahh2=" + obj[1]);


                    if (obj[0][0][0] == "لا يوجد معلومات ") {
                        $(".NoDataTa7sinChart3").css("display", "block");
                        $("#chart3").css("display", "none");

                    } else {
                        $(".NoDataTa7sinChart3").css("display", "none");
                        $("#chart3").css("display", "block");

                    }

                    if (obj[1][0][0] == "لا يوجد معلومات ") {
                        $(".NoDataTa7sinChart2").css("display", "block");
                        $("#chart2").css("display", "none");

                    } else {
                        $(".NoDataTa7sinChart2").css("display", "none");
                        $("#chart2").css("display", "block");

                    }

                    if (obj[1][0][0] == "لا يوجد معلومات " && obj[0][0][0] == "لا يوجد معلومات ") {
                        $(".NoDataTa7sinChartBar").css("display", "block");
                        $("#chart-bar").css("display", "none");

                    } else {
                        $(".NoDataTa7sinChartBar").css("display", "none");
                        $("#chart-bar").css("display", "block");

                    }

                    Ta7sinChartData1 = obj[0];

                    var chart3 = c3.generate({
                        bindto: '#chart3',
                        data: {
                            columns: obj[0],
                            type: 'pie',
                            //onclick: function (d, i) { console.log("onclick", d, i); },
                            //onmouseover: function (d, i) { console.log("onmouseover", d, i); },
                            //onmouseout: function (d, i) { console.log("onmouseout", d, i); }
                        }, tooltip: {
                            format: {
                                //title: function (d) { return 'Data ' + d; },
                                value: function (value, ratio, id) {
                                    var format = id === 'data1' ? d3.format(',') : d3.format('');
                                    return format(value);
                                }
                                //            value: d3.format(',') // apply this format to both y and y2
                            }
                        }
                    });


                    Ta7sinChartData2 = obj[1];
                    var chart2 = c3.generate({
                        bindto: '#chart2',
                        data: {
                            columns: obj[1],
                            type: 'pie',
                            //onclick: function (d, i) { console.log("onclick", d, i); },
                            //onmouseover: function (d, i) { console.log("onmouseover", d, i); },
                            //onmouseout: function (d, i) { console.log("onmouseout", d, i); }
                        },
                        tooltip: {
                            format: {
                                //title: function (d) { return 'Data ' + d; },
                                value: function (value, ratio, id) {
                                    var format = id === 'data1' ? d3.format(',') : d3.format('');
                                    return format(value);
                                }
                                //            value: d3.format(',') // apply this format to both y and y2
                            }
                        }
                    });
                    var titles = [];
                    var values1 = [];
                    var values2 = [];
                    var difference = [];
                    var newlist = obj[0].concat(obj[1]);

                    console.log("newlist=" + newlist);

                    $.each(newlist, function (index, value) {

                        if (value[0] != "لا يوجد معلومات " && value[0] != undefined)
                            titles[index] = value[0];


                    });
                    console.log("titles=" + titles);

                    titles = removeDuplicates(titles);
                    titles = titles.filter(function (element) {
                        return element !== undefined;
                    });
                    console.log("titles=" + titles);


                    $.each(obj[0], function (index, value) {
                        values1[index] = value[1];


                    });

                    $.each(obj[1], function (index, value) {
                        values2[index] = value[1];


                    });

                    //console.log("titles=" + titles);

                    var values1Lenght = values1.length;
                    var values2Lenght = values2.length;
                    removeElement(values1, 100);
                    removeElement(values2, 100);
                    console.log("values1=" + values1);
                    console.log("values2=" + values2);

                    if (values1Lenght > values2Lenght) {
                        valuesLenght = values1Lenght;
                    } else {
                        valuesLenght = values2Lenght;
                    }
                    for (i = 0; i < valuesLenght; i++) {

                        if (values2[i] == 100 || values2[i] == undefined) {
                            var diff = values1[i] - 0;
                            difference[i] = diff;
                            console.log(diff);

                        } else if (values1[i] == 100 || values1[i] == undefined) {
                            var diff = 0 - values2[i];
                            difference[i] = diff;
                            console.log(diff);

                        }
                        else {
                            var diff = values1[i] - values2[i];
                            difference[i] = diff;
                            console.log(diff);

                        }


                    }
                    console.log("values1Lenght=" + values1Lenght);
                    console.log("difference=" + difference);

                    BarChartData = difference;
                    //BAR CHART
                    var barCtx = document.getElementById('chart-bar').getContext('2d');

                    var dataBar = {
                        labels: titles,
                        datasets: [
                            {
                                label: [],

                                backgroundColor: [
                                    'rgb(31, 119, 180)',
                                    'rgb(255, 127, 14)',
                                    'rgb(44, 160, 44)',
                                    'rgb(214, 39, 40)'
                                ],
                                borderColor: [
                                    'rgb(31, 119, 180)',
                                    'rgb(255, 127, 14)',
                                    'rgb(44, 160, 44)',
                                    'rgb(214, 39, 40)'
                                ],
                                borderWidth: 1,
                                data: difference
                            }
                        ]
                    };

                    new Chart(barCtx, {
                        type: "bar",
                        data: dataBar,
                        showTooltips: false,
                        options: {
                            legend: {
                                display: false
                            },
                            tooltips: {
                                callbacks: {
                                    label: function (tooltipItem) {
                                        return tooltipItem.yLabel;
                                    }
                                }
                            },
                            scales: {
                                xAxes: [{
                                    stacked: true,
                                }],
                                yAxes: [{
                                    stacked: true,
                                    ticks: {
                                        beginAtZero: true,
                                        callback: function (value) { if (Number.isInteger(value)) { return value; } },
                                        stepSize: 1
                                    }
                                }]
                            },

                        }
                    });

                }
            });
        }


    }

    var Ta7sinChartData1 = "";
    var Ta7sinChartData2 = "";
    var BarChartData = "";

    $("#DrawCharts").click(function () {
        var organisationKey = $("#Organisations").val();

        var Date1 = $("#datetimepicker1").find("input").val().replace(/\//g, '-');
        var FirstDate = Date1 + " 00:00:00";
        var Date2 = $("#datetimepicker2").find("input").val().replace(/\//g, '-');
        var SecondDate = Date2 + " 00:00:00";

        var Date3 = $("#datetimepicker3").find("input").val().replace(/\//g, '-');
        var FirstDate1 = Date3 + " 00:00:00";
        var Date4 = $("#datetimepicker4").find("input").val().replace(/\//g, '-');
        var SecondDate1 = Date4 + " 00:00:00";

        if ((Date1 > Date2) || (Date3 > Date4)) {
            bootbox.alert(" !!! الرجاء إدخال أوقات صحيحة");
        }
        else {
            $.ajax({
                url: '@Url.Action("ReportingClaimStatusesPerDateRanges", "Reporting")',
                type: 'GET',
                dataType: 'text',
                cache: false,
                data: {
                    startPeriod: FirstDate, endPeriod: SecondDate, startPeriod2: FirstDate1, endPeriod2: SecondDate1, organisationKey: organisationKey
                },
                success: function (data) {
                    var obj = jQuery.parseJSON(data);
                    console.log("obj[0]ahh1=" + obj[0]);
                    console.log("obj[1]ahh2=" + obj[1]);


                    if (obj[0][0][0] == "لا يوجد معلومات ") {
                        $(".NoDataTa7sinChart3").css("display", "block");
                        $("#chart3").css("display", "none");

                    } else {
                        $(".NoDataTa7sinChart3").css("display", "none");
                        $("#chart3").css("display", "block");

                    }

                    if (obj[1][0][0] == "لا يوجد معلومات ") {
                        $(".NoDataTa7sinChart2").css("display", "block");
                        $("#chart2").css("display", "none");

                    } else {
                        $(".NoDataTa7sinChart2").css("display", "none");
                        $("#chart2").css("display", "block");

                    }

                    if (obj[1][0][0] == "لا يوجد معلومات " && obj[0][0][0] == "لا يوجد معلومات ") {
                        $(".NoDataTa7sinChartBar").css("display", "block");
                        $("#chart-bar").css("display", "none");

                    } else {
                        $(".NoDataTa7sinChartBar").css("display", "none");
                        $("#chart-bar").css("display", "block");

                    }

                    Ta7sinChartData1 = obj[0];
                    console.log("obj[0]=" + obj[0]);
                    var chart3 = c3.generate({
                        bindto: '#chart3',
                        data: {
                            columns: obj[0],
                            type: 'pie',
                            //onclick: function (d, i) { console.log("onclick", d, i); },
                            //onmouseover: function (d, i) { console.log("onmouseover", d, i); },
                            //onmouseout: function (d, i) { console.log("onmouseout", d, i); }
                        }, tooltip: {
                            format: {
                                //title: function (d) { return 'Data ' + d; },
                                value: function (value, ratio, id) {
                                    var format = id === 'data1' ? d3.format(',') : d3.format('');
                                    return format(value);
                                }
                                //            value: d3.format(',') // apply this format to both y and y2
                            }
                        }
                    });


                    Ta7sinChartData2 = obj[1];
                    var chart2 = c3.generate({
                        bindto: '#chart2',
                        data: {
                            columns: obj[1],
                            type: 'pie',
                            //onclick: function (d, i) { console.log("onclick", d, i); },
                            //onmouseover: function (d, i) { console.log("onmouseover", d, i); },
                            //onmouseout: function (d, i) { console.log("onmouseout", d, i); }
                        },
                        tooltip: {
                            format: {
                                //title: function (d) { return 'Data ' + d; },
                                value: function (value, ratio, id) {
                                    var format = id === 'data1' ? d3.format(',') : d3.format('');
                                    return format(value);
                                }
                                //            value: d3.format(',') // apply this format to both y and y2
                            }
                        }
                    });
                    var titles = [];
                    var values1 = [];
                    var values2 = [];
                    var difference = [];
                    var newlist = obj[0].concat(obj[1]);

                    console.log("newlist=" + newlist);

                    $.each(newlist, function (index, value) {

                        if (value[0] != "لا يوجد معلومات " && value[0] != undefined)
                            titles[index] = value[0];


                    });
                    console.log("titles=" + titles);

                    titles = removeDuplicates(titles);
                    titles = titles.filter(function (element) {
                        return element !== undefined;
                    });
                    console.log("titles=" + titles);


                    $.each(obj[0], function (index, value) {
                        values1[index] = value[1];


                    });

                    $.each(obj[1], function (index, value) {
                        values2[index] = value[1];


                    });

                    //console.log("titles=" + titles);

                    var values1Lenght = values1.length;
                    var values2Lenght = values2.length;
                    removeElement(values1, 100);
                    removeElement(values2, 100);
                    console.log("values1=" + values1);
                    console.log("values2=" + values2);

                    if (values1Lenght > values2Lenght) {
                        valuesLenght = values1Lenght;
                    } else {
                        valuesLenght = values2Lenght;
                    }
                    for (i = 0; i < valuesLenght; i++) {

                        if (values2[i] == 100 || values2[i] == undefined) {
                            var diff = values1[i] - 0;
                            difference[i] = diff;
                            console.log(diff);

                        } else if (values1[i] == 100 || values1[i] == undefined) {
                            var diff = 0 - values2[i];
                            difference[i] = diff;
                            console.log(diff);

                        }
                        else {
                            var diff = values1[i] - values2[i];
                            difference[i] = diff;
                            console.log(diff);

                        }


                    }
                    console.log("values1Lenght=" + values1Lenght);
                    console.log("difference=" + difference);

                    BarChartData = difference;

                    answsers = { key: "7761", Textvalue: titles, type: "PieChart_" + organisationKey, Parent: obj[0], Child: obj[1], count: difference }
                    AnswerTemplateKey.push(answsers);

                    //BAR CHART
                    var barCtx = document.getElementById('chart-bar').getContext('2d');

                    var dataBar = {
                        labels: titles,
                        datasets: [
                            {
                                label: [],

                                backgroundColor: [
                                    'rgb(31, 119, 180)',
                                    'rgb(255, 127, 14)',
                                    'rgb(44, 160, 44)',
                                    'rgb(214, 39, 40)'
                                ],
                                borderColor: [
                                    'rgb(31, 119, 180)',
                                    'rgb(255, 127, 14)',
                                    'rgb(44, 160, 44)',
                                    'rgb(214, 39, 40)'
                                ],
                                borderWidth: 1,
                                data: difference
                            }
                        ]
                    };

                    new Chart(barCtx, {
                        type: "bar",
                        data: dataBar,
                        showTooltips: false,
                        options: {
                            legend: {
                                display: false
                            },
                            tooltips: {
                                callbacks: {
                                    label: function (tooltipItem) {
                                        return tooltipItem.yLabel;
                                    }
                                }
                            },
                            scales: {
                                xAxes: [{
                                    stacked: true,
                                }],
                                yAxes: [{
                                    stacked: true,
                                    ticks: {
                                        beginAtZero: true,
                                        callback: function (value) { if (Number.isInteger(value)) { return value; } },
                                        stepSize: 1
                                    }
                                }]
                            },

                        }
                    });

                }
            });
        }


        //console.log(SecondDate);
        //alert(Date1.toString());

    });
    function removeElement(array, element) {
        const index = array.indexOf(element);

        if (index !== -1) {
            array.splice(index, 1);
        }
    }

    function removeDuplicates(arr) {
        let unique_array = []
        for (let i = 0; i < arr.length; i++) {
            if (unique_array.indexOf(arr[i]) == -1) {
                unique_array.push(arr[i])
            }
        }
        return unique_array
    }


    $(document).ready(function () {
        DrawChartMou3adalatAlFasad("5");
        DrawPieChartEstijabatAlFi2aAl3ama("وزارة التعليم العالي");
        DrawChartEstijabatAlFi2aAl3ama("وزارة التعليم العالي", "5");
        DrawChartTa7sinAl5adamat("5");
        $("#DrawCharts").click();

        //$('#part4').animate({
        //    scrollTop: target.offset().top
        //}, 1000);

        $('html, body').animate({
            scrollTop: $("#" + '@ViewBag.section').offset().top - 100
        }, 2000);

        table = $('#ReportingTable').DataTable({
            "scrollX": true,
        });



        var chart6 = c3.generate({
            bindto: '#charti',

            data: {
                columns: [
                    ['Neutral', 20, 10, 10],
                    ['Happy', 20, 10, 10],
                    ['Sad', 5, 20, 100],
                    ['SadBar', 60, 10, 2],
                    ['HappyBar', 5, 20, 100],
                    ['NeutralBar', 60, 10, 2],
                ],
                type: 'bar',
                colors: {

                    'Neutral': function (d) { return '#A0522D' },
                    'Happy': function (d) { return '#000080' },
                    'Sad': function (d) { return '#FFFF00' },
                    'NeutralBar': function (d) { return '#FF4500' },
                    'HappyBar': function (d) { return '#32CD32' },
                    'SadBar': function (d) { return '	#FF0000' },

                },
                types: {
                    Neutral: 'spline',
                    Happy: 'spline',
                    Sad: 'spline',
                }
            }
        });


        var chart1 = c3.generate({
            bindto: '#chart1',
            data: {
                columns: [
                    ['جزئية ', 45],
                    ['شاملة', 55]


                ],
                type: 'pie',
                onclick: function (d, i) { console.log("onclick", d, i); },
                onmouseover: function (d, i) { console.log("onmouseover", d, i); },
                onmouseout: function (d, i) { console.log("onmouseout", d, i); }
            }
        });

        var chart2 = c3.generate({
            bindto: '#chart2',
            data: {
                columns: [
                     ['لا يوجد معلومات ', 100],

                ],
                type: 'pie',
                //onclick: function (d, i) { console.log("onclick", d, i); },
                //onmouseover: function (d, i) { console.log("onmouseover", d, i); },
                //onmouseout: function (d, i) { console.log("onmouseout", d, i); }
            }
        });

        var chart3 = c3.generate({
            bindto: '#chart3',
            data: {
                columns: [
                    ['لا يوجد معلومات ', 100],


                ],
                type: 'pie',
                //onclick: function (d, i) { console.log("onclick", d, i); },
                //onmouseover: function (d, i) { console.log("onmouseover", d, i); },
                //onmouseout: function (d, i) { console.log("onmouseout", d, i); }
            }
        });



       //  BAR CHART
        var barCtx = document.getElementById('chart-bar').getContext('2d');

        var dataBar = {
            labels: [],
            datasets: [
                {
                    label: [],

                    backgroundColor: [
                        'rgb(31, 119, 180)',
                        'rgb(255, 127, 14)',
                        'rgb(44, 160, 44)',
                        'rgb(214, 39, 40)'
                    ],
                    borderColor: [
                        'rgb(31, 119, 180)',
                        'rgb(255, 127, 14)',
                        'rgb(44, 160, 44)',
                        'rgb(214, 39, 40)'
                    ],
                    borderWidth: 1,
                    data: [0, 0, 0, 0]
                }
            ]
        };

        new Chart(barCtx, {
            type: "bar",
            data: dataBar,
            options: {

                legend: {
                    display: false
                },
                tooltips: {
                    callbacks: {
                        label: function (tooltipItem) {
                            return tooltipItem.yLabel;
                        }
                    }
                },
                scales: {
                    xAxes: [{
                        stacked: true,

                    }],
                    yAxes: [{
                        stacked: true,
                        ticks: {
                            beginAtZero: true,
                            callback: function (value) { if (Number.isInteger(value)) { return value; } },
                            stepSize: 1
                        }

                    }]
                }
            }
        });

        var chart4 = c3.generate({
            bindto: '#chart4',
            data: {
                columns: [
                    ['Pending', 10],
                    ['Solved', 7],
                    ['First occurrence', 10],
                    ['Recurrent', 73],

                ],
                type: 'pie',
                onclick: function (d, i) { console.log("onclick", d, i); },
                onmouseover: function (d, i) { console.log("onmouseover", d, i); },
                onmouseout: function (d, i) { console.log("onmouseout", d, i); }
            }
        });


        $("select").select2();

        var chart = new Chartist.Line('.ct-chart', {
            labels: ['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday'],
            series: [
                [12, 9, 7, 8, 5],
                [2, 1, 3.5, 7, 3],
                [1, 3, 4, 5, 6]
            ]
        }, {
            fullWidth: true,
            chartPadding: {
                right: 40
            },
        });



     

        /////////////
        var myvalues = [1, 4, 2, -7];

        $('.dynamicbar').sparkline(myvalues, {
            type: 'bar', barColor: 'blue', height: '100px', barWidth: '20px'
        });

        $("#gettakarir").click(function () {
            var Year1 = $("#Year1").val();
            var Year2 = $("#Year2").val();
            if (Year1 != "" && Year2 != "") {
                var organisationKey = $("#Organisations").val();
                $("#Year1").css("border", "");
                $("#Year2").css("border", "");

                $.ajax({
                    url: '@Url.Action("ReportingClaimsCountPerYear", "Reporting")',
                    type: 'GET',
                    dataType: 'text',
                    cache: false,
                    data: {
                        Year1: Year1,
                        Year2: Year2,
                        OrganisationKey: organisationKey,
                    },
                    success: function (data) {
                        var obj = jQuery.parseJSON(data);
                        console.log(obj);
                        table.clear().draw();
                        $.each(obj, function (index, value) {
                            

                            table.row.add([
                    '' + value.ClaimsCount + '',
                    '' + value.Year + '',
                            ]).draw(false);
                        });

                        answsers = { key: "7762", Textvalue: Year1, type: "Table", Parent: obj, Child: Year2, count: organisationKey }
                        AnswerTemplateKey.push(answsers);

                        var value1 = obj[0].ClaimsCount;
                        var value2 = obj[1].ClaimsCount
                        var result = 0;
                        //if (value1 > value2) {
                        //    result = Number(value1) - Number(value2)

                        //} else {
                        //    result = Number(value2) - Number(value1)
                        //}

                        result = Number(value1) - Number(value2);
                        if (result > 0) {
                            $('#yearsresult').css("color", "red");
                        } else {
                            $('#yearsresult').css("color", "green");
                        }
                        console.log(result);
                        $('#yearsresult').text(result);


                    }
                });
            } else {
                if (Year1 == "") {
                    $("#Year1").css("border", "2px solid red");
                } else {
                    $("#Year1").css("border", "");
                }
                if (Year2 == "") {
                    $("#Year2").css("border", "2px solid red");
                } else {
                    $("#Year2").css("border", "");

                }
            }



        });



        $("#gettakarirParent").click(function () {
            var Year1 = $("#Year1").val();
            var Year2 = $("#Year2").val();
            if (Year1 != "" && Year2 != "") {
                var organisationKey = $("#OrganisationsWithParent4").val();
                $("#Year1").css("border", "");
                $("#Year2").css("border", "");

                $.ajax({
                    url: '@Url.Action("ReportingClaimsCountPerYear", "Reporting")',
                    type: 'GET',
                    dataType: 'text',
                    cache: false,
                    data: {
                        Year1: Year1,
                        Year2: Year2,
                        OrganisationKey: organisationKey,
                    },
                    success: function (data) {
                        var obj = jQuery.parseJSON(data);
                        console.log(obj);
                        table.clear().draw();
                        $.each(obj, function (index, value) {
                            table.row.add([
                    '' + value.ClaimsCount + '',
                    '' + value.Year + '',
                            ]).draw(false);
                        });
                        var value1 = obj[0].ClaimsCount;
                        var value2 = obj[1].ClaimsCount
                        var result = 0;
                        //if (value1 > value2) {
                        //    result = Number(value1) - Number(value2)

                        //} else {
                        //    result = Number(value2) - Number(value1)
                        //}

                        result = Number(value1) - Number(value2);
                        if (result > 0) {
                            $('#yearsresult').css("color", "red");
                        } else {
                            $('#yearsresult').css("color", "green");
                        }
                        console.log(result);
                        $('#yearsresult').text(result);


                    }
                });
            } else {
                if (Year1 == "") {
                    $("#Year1").css("border", "2px solid red");
                } else {
                    $("#Year1").css("border", "");
                }
                if (Year2 == "") {
                    $("#Year2").css("border", "2px solid red");
                } else {
                    $("#Year2").css("border", "");

                }
            }



        });
    });

</script>