﻿
@{
    Layout = null;
}



<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>PrintGraphs</title>

    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/vendors/c3/c3.min.css")">
    <script src="@Url.Content("~/Scripts/vendors/jquery/jquery.min.js")"></script>
    <script src="@Url.Content("~/Scripts/c3/d3.v3.js")"></script>
    <script src="@Url.Content("~/Scripts/c3/c3.min.js")"></script>
    <script src="@Url.Content("~/Scripts/c3/Chart.js")"></script>

</head>
<body>
    <div style="width:800px; margin:0 auto;">

        <h1 dir="rtl">@ViewBag.Title</h1>
        <img src="@ViewBag.Image" id="Image" />
        <div id="chart3" class="height-300 row" style="max-height:240px;">
            </div>
            <div id="chart2" class="height-300 row" style="max-height:240px;">
            </div>

            <canvas id="chart-bar" width="400" height="200"></canvas>

        </div>

   
</body>
</html>
<script>


    $(document).ready(function () {

        @*var obj = @Html.Raw(Json.Encode(ViewBag.FinalResult));

        console.log(obj[0]);
        var chart3 = c3.generate({
            bindto: '#chart3',
            data: {
                columns: obj[0],
                type: 'pie',
                //onclick: function (d, i) { console.log("onclick", d, i); },
                //onmouseover: function (d, i) { console.log("onmouseover", d, i); },
                //onmouseout: function (d, i) { console.log("onmouseout", d, i); }
            }, tooltip: {
                format: {
                    //title: function (d) { return 'Data ' + d; },
                    value: function (value, ratio, id) {
                        var format = id === 'data1' ? d3.format(',') : d3.format('');
                        return format(value);
                    }
                    //            value: d3.format(',') // apply this format to both y and y2
                }
            }
        });



        var chart2 = c3.generate({
            bindto: '#chart2',
            data: {
                columns: obj[1],
                type: 'pie',
                //onclick: function (d, i) { console.log("onclick", d, i); },
                //onmouseover: function (d, i) { console.log("onmouseover", d, i); },
                //onmouseout: function (d, i) { console.log("onmouseout", d, i); }
            },
            tooltip: {
                format: {
                    //title: function (d) { return 'Data ' + d; },
                    value: function (value, ratio, id) {
                        var format = id === 'data1' ? d3.format(',') : d3.format('');
                        return format(value);
                    }
                    //            value: d3.format(',') // apply this format to both y and y2
                }
            }
        });

        var titles = [];
        var values1 = [];
        var values2 = [];
        var difference = [];
        var newlist = obj[0].concat(obj[1]);

        console.log("newlist=" + newlist);

        $.each(newlist, function (index, value) {

            if (value[0] != "لا يوجد معلومات " && value[0] != undefined)
                titles[index] = value[0];


        });
        console.log("titles=" + titles);

        titles = removeDuplicates(titles);
        titles = titles.filter(function (element) {
            return element !== undefined;
        });
        console.log("titles=" + titles);


        $.each(obj[0], function (index, value) {
            values1[index] = value[1];


        });

        $.each(obj[1], function (index, value) {
            values2[index] = value[1];


        });

        //console.log("titles=" + titles);

        var values1Lenght = values1.length;
        var values2Lenght = values2.length;
        removeElement(values1, 100);
        removeElement(values2, 100);
        console.log("values1=" + values1);
        console.log("values2=" + values2);

        if (values1Lenght > values2Lenght) {
            valuesLenght = values1Lenght;
        } else {
            valuesLenght = values2Lenght;
        }
        for (i = 0; i < valuesLenght; i++) {

            if (values2[i] == 100 || values2[i] == undefined) {
                var diff = values1[i] - 0;
                difference[i] = diff;
                console.log(diff);

            } else if (values1[i] == 100 || values1[i] == undefined) {
                var diff = 0 - values2[i];
                difference[i] = diff;
                console.log(diff);

            }
            else {
                var diff = values1[i] - values2[i];
                difference[i] = diff;
                console.log(diff);

            }


        }
        console.log("values1Lenght=" + values1Lenght);
        console.log("difference=" + difference);


        //BAR CHART
        var barCtx = document.getElementById('chart-bar').getContext('2d');

        var dataBar = {
            labels: titles,
            datasets: [
                {
                    label: [],

                    backgroundColor: [
                        'rgb(31, 119, 180)',
                        'rgb(255, 127, 14)',
                        'rgb(44, 160, 44)',
                        'rgb(214, 39, 40)'
                    ],
                    borderColor: [
                        'rgb(31, 119, 180)',
                        'rgb(255, 127, 14)',
                        'rgb(44, 160, 44)',
                        'rgb(214, 39, 40)'
                    ],
                    borderWidth: 1,
                    data: difference
                }
            ]
        };

        new Chart(barCtx, {
            type: "bar",
            data: dataBar,
            showTooltips: false,
            options: {
                legend: {
                    display: false
                },
                tooltips: {
                    callbacks: {
                        label: function (tooltipItem) {
                            return tooltipItem.yLabel;
                        }
                    }
                },
                scales: {
                    xAxes: [{
                        stacked: true,
                    }],
                    yAxes: [{
                        stacked: true,
                        ticks: {
                            beginAtZero: true,
                            callback: function (value) { if (Number.isInteger(value)) { return value; } },
                            stepSize: 1
                        }
                    }]
                },

            }
        });

        function removeDuplicates(arr) {
            let unique_array = []
            for (let i = 0; i < arr.length; i++) {
                if (unique_array.indexOf(arr[i]) == -1) {
                    unique_array.push(arr[i])
                }
            }
            return unique_array
        }

        function removeElement(array, element) {
            const index = array.indexOf(element);

            if (index !== -1) {
                array.splice(index, 1);
            }
        }*@
       
        window.print();

        setTimeout(function () {
            submit_post_via_hidden_form("@Url.Action("TakarirView", "Takarir")", { formInstanceKey: '@ViewBag.formInstanceKey', formTemplateName: '@ViewBag.formTemplate' });
        }, 100);

        function submit_post_via_hidden_form(url, params) {
            var f = $("<form method='POST' style='display:none;'></form>").attr({
                action: url
            }).appendTo(document.body);

            for (var i in params) {
                if (params.hasOwnProperty(i)) {
                    $('<input type="hidden" />').attr({
                        name: i,
                        value: params[i]
                    }).appendTo(f);
                }
            }

            f.submit();

            f.remove();
        }

    });

</script>
