﻿@using Newtonsoft.Json
@using Microsoft.AspNet.Identity;
@using MoAD.WebApplication.DataObjects;

@{
    Layout = "~/views/shared/_layoutinitialpage.cshtml";
    ViewBag.Title = "رؤية الإستبيان";
}

<style type="text/css">

    .content.clearfix{
        min-height:250px!important;
    }

</style>

<div>
        <div class="widget widget-four background-transparent" style="direction:rtl;margin-top:15px;">
            <div class="row">
                <div class="col-xl-3 col-lg-6 col-sm-6 col-xs-12">
                    <div class="step-block" style="cursor:pointer;">
                        <span class="step-digit">
                            <i class="icmn-database"><!-- --></i>
                        </span>
                        <div class="step-desc">
                            <span class="step-title">رؤية الاستبيان</span>
                            <p>
                                أنقر هنا
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-6 col-sm-6 col-xs-12">
                    <div class="step-block">
                        <span class="step-digit">
                            <i class="icmn-users"><!-- --></i>
                        </span>
                        <div class="step-desc">
                            <span class="step-title">موضوع الشكوى</span>
                            <p style="overflow:  hidden;white-space:  nowrap;">إن هذه الشكوى هي عن قيام موظف بسرقة أموال عامة</p>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-6 col-sm-6 col-xs-12">
                    <div class="step-block step-warning">
                        <span class="step-digit">
                            <i class="icmn-stats-growth"><!-- --></i>
                        </span>
                        <div class="step-desc">
                            <span class="step-title">تاريخ التقديم</span>
                            <p>
                                10/12/2017
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-6 col-sm-6 col-xs-12">
                    <div class="step-block step-primary">
                        <span class="step-digit">
                            <i class="icmn-stats-dots"><!-- --></i>
                        </span>
                        <div class="step-desc">
                            <span class="step-title">رقم الشكوى</span>
                            <p>
                                <span>#203</span>
                                <span>&nbsp;</span>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <section class="panel">
            <div class="panel-heading">
                <h3>
                    Form Wizard
                    <sup>
                        <small><a href="http://www.jquery-steps.com/" target="_blank" class="link-underlined">Official Documentation</a></small>
                    </sup>
                </h3>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="margin-bottom-50">
                        <div id="example-icons" class="cui-wizard">
                            <h3><i class="icmn-checkmark cui-wizard--steps--icon"></i> <span class="cui-wizard--steps--title">Account Info</span></h3>
                            <section class="text-center">

                                <div class="questionDiv">
                                    <div>
                                        <a class="questionValue" data-QuestionKey="@ViewBag.Nawe3AlMou3alaja">تحديد نوع المعالجة</a>
                                    </div>

                                    <div class="btn-group" data-toggle="buttons">
                                        @foreach (Question question in formTemplate)
                                        {
                                            <label class="btn btn-default-outline">
                                                <input type="radio" name="solutionType">
                                                جزئية
                                            </label>

                                            <label class="btn btn-default-outline">
                                                <input type="radio" name="solutionType">
                                                شاملة
                                            </label>
                                        }
                                    </div>

                                </div>

                                <div>

                                    <a>توصيف الحل</a>
                                    <textarea style="max-width:500px;margin: 0 auto;display:block;" data-key="" rows="3"></textarea>

                                </div>

                            </section>

                            <h3><i class="icmn-checkmark cui-wizard--steps--icon"></i> <span class="cui-wizard--steps--title">Billing Info</span></h3>
                            <section class="text-center">

                                <div>
                                    <a>القرارات / الإجراءات المتخذة</a>
                                    <textarea style="max-width:500px;margin: 0 auto;" class="form-control" data-key="" rows="3"></textarea>
                                </div>

                            </section>

                            <h3><i class="icmn-checkmark cui-wizard--steps--icon"></i> <span class="cui-wizard--steps--title">Confirmation</span></h3>
                            <section class="text-center">

                                <div>
                                    <a>الوثائق المرفقة</a>
                                    <textarea style="max-width:500px;margin: 0 auto;" class="form-control" data-key="" rows="3"></textarea>
                                </div>

                            </section>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    
    </div>


<script>

    $(function() {

        $("#example-icons").steps({
            headerTag: "h3",
            bodyTag: "section",
            transitionEffect: "slideLeft",
            autoFocus: true
        });

    });

</script>