﻿@using MoAD.DataObjects.EDMX;
@using Microsoft.AspNet.Identity;

@{

    if (User.IsInRole("Citizen") || User.IsInRole("Employee"))
    {
        Layout = "~/views/home/pageshared.cshtml";
    }
    else
    {
        Layout = "~/views/shared/_layoutinitialpage.cshtml";
    }
    GetUserInformation_Result UserInfo = ViewBag.UserInforesult;
    List<ReportingGetCountAndDatesPerFormTemplatekey_Result> FormReporting = ViewBag.CountAndDates;
    List<GetSavedForm_Result> FormValues = ViewBag.FormValues;
    List<GetSavedFormsperGUID_Result> aggregateForms = ViewBag.SavedFormPerGuId as List<GetSavedFormsperGUID_Result>;
    List<GetWorkFlowItemInstancePerUser_Result> Instances = ViewBag.Instances as List<GetWorkFlowItemInstancePerUser_Result>;


}
<style>
    @@import "compass/css3";

    button {
        margin-left: calc(50% - 40px);
        margin-top: 150px;
    }

    *, *:before, *:after {
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
    }

    @@import url(//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.min.css);

    /* Colors */

    $color-primary : #fff; $color-secondary : #454545; $color-tertiary : #E7483B; $color-complement : #4183c4; $color-text : $color-secondary; $color-text-secondary : $color-primary; $color-neutral : #dfdfdf; $color-neutral-light : lighten($color-neutral, 7); $color-approve : #4FA86B; $color-reject : $color-tertiary; $button-bg-color-std : $color-complement; $button-bg-color-approve : $color-approve; $button-bg-color-reject : $color-reject; $button-bg-color-cancel : #dfdfdf;
    /* Border radius */
    $border-radius-small : 2px; $border-radius-medium : 5px; $border-radius-large : 10px; @@mixin button {
        position: relative;
        border: none;
        outline: 0;
        border-bottom: 2px solid transparent;
        border-top: 2px solid transparent;
        padding: 0.5em 1em;
        display: inline-block;
        border-radius: $border-radius-small;
        font-size: 13px;
        background-color: $button-bg-color-std;
        color: $color-text-secondary;
        cursor: pointer;
        &:hover;

    {
        border-bottom-color: darken($button-bg-color-std, 15%);
        background-color: lighten($button-bg-color-std, 5%);
    }

    &:active {
        background-color: darken($button-bg-color-std, 5%);
        border-top-color: darken($button-bg-color-std, 15%);
        border-bottom-color: transparent;
    }

    }

    .hidden {
        visibility: hidden;
    }

    .button {
        @@include button;
    }

    $grey: #aaa; .button:before {
        visibility: hidden;
        content: "";
        top: -2px;
        bottom: -2px;
        left: 0;
        right: 0;
        margin: 0 auto;
        position: absolute;
        width: 100%;
        padding: inherit;
        background: $grey;
        border-top: 2px solid $grey;
        border-bottom: 2px solid $grey;
        border-radius: 2px;
        transition: width 0.5s;
    }

    .button:after {
        visibility: hidden;
        font-family: FontAwesome;
        font-size: 16px;
        line-height: 16px;
        color: #454545;
        position: absolute;
        top: 2px;
        left: 0;
        right: 0;
        margin: 0 auto;
        width: 26px;
        height: 26px;
        padding: 5px;
        border-radius: 26px;
        color: #fff;
    }

    .button:after {
        content: "\f110";
    }

    .button.loading:after {
        visibility: visible;
        animation: loader 1s infinite linear;
    }

    .button.loading:before {
        visibility: visible;
        border-radius: 26px;
        width: 33px;
        margin: 0 auto;
        right: 0;
        left: 0;
    }

    .button.done {
        visibility: hidden;
    }

        .button.done:before {
            content: "\f00c";
            font-family: FontAwesome;
            visibility: visible;
            background: #4FA86B;
            border-color: #4FA86B;
        }

    .button.loading, .button.done {
        cursor: default;
    }

    @@keyframes loader {
        0% {
            transform: rotate(0deg);
        }

        99% {
            transform: rotate(360deg);
        }
    }
</style>
<section class="page-content">
    <section  style="overflow-x:hidden;filter: blur(25px);transition: filter 2s;-webkit-transition: filter 2s;margin-top:1%;" class="Body page-content-inner">
        <!-- Top Submenu -->

        <div class="widget widget-four background-transparent" style="direction:rtl;margin-top:15px;">
            <div class="row">
               
                    <div class="col-xl-3 col-lg-6 col-sm-6 col-xs-12">
                      
                    </div>
                
                <div class="col-xl-3 col-lg-6 col-sm-6 col-xs-12">
                    <div class="step-block" style="height:95px">
                        <span class="step-digit">
                            <i class="icmn-file-empty"><!-- --></i>
                        </span>
                        <div class="step-desc">
                            <span class="step-title">موضوع الشكوى</span>
                            <p style="overflow:  hidden;white-space:  nowrap;">
                                شكوى
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-6 col-sm-6 col-xs-12">
                    <div class="step-block step-warning">
                        <span class="step-digit">
                            <i class="icmn-calendar5"><!-- --></i>
                        </span>
                        <div class="step-desc">
                            <span class="step-title">تاريخ التقديم</span>
                            <p>
                                @ViewBag.CreatedAt
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-6 col-sm-6 col-xs-12">
                    <div class="step-block step-primary">
                        <span class="step-digit">
                            <i class="icmn-list-numbered"><!-- --></i>
                        </span>
                        <div class="step-desc">
                            <span class="step-title">رقم الشكوى</span>
                            <p>
                                <span>#</span>
                                <span>&nbsp;@ViewBag.FormKey</span>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <section class="panel panel-with-sidebar panel-with-right-sidebar">
                <div class="panel-sidebar" style="width:260px">
                    @*@if (User.IsInRole("ADManager"))
                    {
                        <div class="btn-group-vertical btn-group-justified">
                            <button type="button" class="btn">حذف</button>
                        </div>
                        <br />
                    }*@
                    <p>
                        <section class="card" style="padding:10px">
                            <div class="card-body" style="text-align:right">
                                <h5 class="mb-3 text-black">
                                    <strong>المستخدم</strong>
                                </h5>
                                <dl class="row">
                                    <dt class="col-xl-12" style="float:right"><label id="esemsoulasi" class="form-label"> @UserInfo.LastName @UserInfo.FatherName @UserInfo.FirstName: الاسم الثلاثي </label></dt>
                                    <dt class="col-xl-12" style="float:right"><label id="address" class="form-label"> : مكان الإقامة  </label></dt>
                                    <dt class="col-xl-12" style="float:right"><label id="celnumber" class="form-label"> @UserInfo.PhoneNumber : رقم الهاتف الجوال  </label></dt>
                                    <dt class="col-xl-12" style="float:right"><label id="email" class="form-label"> @UserInfo.Email : البريد الالكتروني </label></dt>
                                    <dt class="col-xl-12" style="float:right"><label id="nationalnumber" class="form-label"> @UserInfo.SSN : الرقم الوطني  </label></dt>
                                </dl>
                            </div>
                        </section>
                    </p>
                </div>
                <div class="panel-heading  background-white" style="text-align:center">
                    <h3>الشكوى </h3>
                </div>
                <div class="panel-body" style="margin-right:260px">
                    <div class="row">
                        @{
                            var formData = aggregateForms.Where(x => x.FormTemplateKey == 106).ToList();
                            for (int i = 0; i < formData.Count(); i++)
                            {
                                var answer = formData[i];
                                HtmlString border = i % 2 == 0 ? new HtmlString("border-right:2px solid #dfe4ed") : new HtmlString("");
                                switch (answer.FormElement)
                                {


                                    case "UserInput":
                                        {
                                            <div class="col-lg-6" style="@border;min-height: 65px;">

                                                <div class="form-group row" style="text-align:right">
                                                    <div class="col-md-6" style="float:right;">
                                                        <label class="form-control-label" style="direction: rtl">@answer.QuestionValue</label>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <input type="text" style="text-align:right" readonly class="form-control" value="@answer.AnswerInstanceFileExtensionName">
                                                    </div>

                                                </div>
                                            </div>

                                            break;
                                        }
                                    case "TextArea":
                                        {
                                            <div class="col-lg-6" style="@border;min-height: 65px;">

                                                <div class="form-group row" style="text-align:right">
                                                    <div class="col-md-6" style="float:right;">
                                                        <label class="form-control-label" style="direction: rtl">@answer.QuestionValue</label>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <textarea style="text-align:right" readonly class="form-control">@answer.AnswerInstanceFileExtensionName</textarea>
                                                    </div>

                                                </div>
                                            </div>

                                            break;
                                        }

                                    case "Radiobox":
                                        {
                                            <div class="col-lg-6" style="@border;min-height: 65px;">
                                                <div class="form-group row" style="text-align:right">
                                                    <div class="col-md-6" style="float:right;">
                                                        <label class="form-control-label" style="direction: rtl">@answer.QuestionValue</label>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <label class="btn btn-default-outline">
                                                            @answer.AnswerValue
                                                        </label>
                                                    </div>

                                                </div>
                                            </div>
                                            break;
                                        }


                                    case "Checkbox":
                                        {
                                            <div class="col-lg-6" style="@border;min-height: 65px;">
                                                <div class="form-group row" style="text-align:right">
                                                    <div class="col-md-6" style="float:right;">
                                                        <label class="form-control-label" style="direction: rtl">@answer.QuestionValue</label>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <label class="btn btn-default-outline">
                                                            @answer.AnswerValue
                                                        </label>
                                                    </div>

                                                </div>
                                            </div>
                                            break;
                                        }

                                    case "Calendar":
                                        {
                                            <div class="col-lg-6" style="@border;min-height: 65px;">
                                                <div class="form-group row" style="text-align:right">
                                                    <div class="col-md-6" style="float:right;">
                                                        <label class="form-control-label" style="direction: rtl">@answer.QuestionValue</label>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <input type="text" style="text-align:right" readonly class="form-control" value="@answer.AnswerInstanceFileExtensionName">
                                                    </div>

                                                </div>
                                            </div>
                                            break;
                                        }
                                    case "DropDown":
                                        {
                                            <div class="col-lg-6" style="@border;min-height: 65px;">
                                                <div class="form-group row" style="text-align:right">
                                                    <div class="col-md-6" style="float:right;">
                                                        <label class="form-control-label" style="direction: rtl">@answer.QuestionValue</label>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <label class="btn btn-default-outline">
                                                            @answer.AnswerValue
                                                        </label>
                                                    </div>

                                                </div>
                                            </div>

                                            break;
                                        }
                                    case "FileUpload":
                                        {
                                            <div class="col-lg-6" style="@border;min-height: 65px;">
                                                <div class="form-group row" style="text-align:right">
                                                    <div class="col-md-6" style="float:right;">
                                                        <label class="form-control-label" style="direction: rtl">@answer.QuestionValue</label>
                                                    </div>
                                                    <div class="col-md-6">

                                                        @if (answer.AnswerInstanceFileExtensionName != null && answer.AnswerInstanceFileExtensionName.Contains("image"))
                                                        {
                                                            <a download="image.jpg" href="@answer.AnswerInstanceFileExtensionFilePathOrSource" title="ImageName">
                                                                <img id="" name="" src="@answer.AnswerInstanceFileExtensionFilePathOrSource" style="height:150px;width:150px;" />
                                                            </a>
                                                        }
                                                        else
                                                        {
                                                            <a href="@answer.AnswerInstanceFileExtensionFilePathOrSource">
                                                                <img src="@Url.Content("~/Images/file.png")" style="height:150px;width:150px;" />
                                                            </a>

                                                        }
                                                    </div>

                                                </div>
                                            </div>

                                            break;
                                        }
                                    default:
                                        {
                                            <span> </span>
                                            break;
                                        }
                                }
                            }
                        }
                    </div>
                </div>
            </section>
        </div>
        @if (User.IsInRole("ADManager") || User.IsInRole("ADDirector"))
        {




            <div class="row" style="height:700px">
                <div class="col-lg-6 col-md-6" style="background-color:white;height:100%;border-right:2px solid #dfe4ed">
                    <div class="col-lg-12" style="text-align:center;padding-top:10px">
                        <div class="cui-ecommerce--catalog--item--status">
                            <span class="cui-ecommerce--catalog--item--status--title"> <i class="fa fa-pencil-square-o  fa-2x" aria-hidden="true"></i></span>
                        </div>
                    </div>
                    <div class="col-lg-12" style="text-align:center;padding-top:10px">
                        <h3> : التقييم</h3>
                    </div>
                    @if (User.IsInRole("ADManager"))
                    {
                        <div class="row" style="padding-top:20px;">
                            <section class="panel" style="height:60%;">

                                <div class="panel-body">


                                    <div class="row" style="text-align:right;">

                                        <ul class="list-unstyled breadcrumb breadcrumb-custom" style="padding-bottom:0px;">
                                            @{
                                                var alreadyFilled = aggregateForms.Where(x => x.FormTemplateKey == 109).Count() > 0;
                                                HtmlString disabledHtmlString = new HtmlString(alreadyFilled ? "disabled" : "");

                                            }

                                            <li>
                                                <a style="cursor:pointer" class="menulist section3" onclick="changesection2('section3',this)">ثالثاً</a>
                                            </li>
                                            <li>
                                                <a style="cursor:pointer" class="menulist section2" onclick="changesection2('section2', this)">ثانياً</a>
                                            </li>
                                            <li>
                                                <a style="cursor:pointer;font-weight:bold;" class="menulist" onclick="changesection2('section1', this)">أولاً</a>
                                            </li>
                                        </ul>

                                    </div>
                                </div>

                                <div class="claimsections" id="section1" style="display:block;">
                                    <section class="text-center">
                                        <div class="row">



                                            <div class="row questionDiv" data-QuestionKey="@ViewBag.QuestionAlWasa2ek" style="text-align:right;margin-bottom: 3%;">

                                                @*@if (User.IsInRole("ADManager"))
                                                    {
                                                        <div class="col-md-6">
                                                            <a>ملاحظات مسؤول التنمية</a>
                                                            <div class="controls" style="width:500px;height:100px;margin: 0 auto;">
                                                                <textarea style="width:500px;height:100px;margin: 0 auto;" class="form-control answerValue" data-AnswerKey="793" rows="3" dir="rtl"></textarea>
                                                            </div>
                                                        </div>
                                                    }*@



                                                <div class="controls" style="width:825px;height:100px;margin: 0 auto;">
                                                    <div class="col-md-3" style="float:right;">

                                                        <a>الوثائق المرفقة</a>
                                                    </div>
                                                    <div class="col-md-9">

                                                        <input type="file" class="dropify" data-height="100" placeholder="سحب وإسقاط ملف هنا أو صورة" />
                                                    </div>
                                                </div>

                                            </div>

                                            <button class="btn btn-primary width-300" id="tabe31" style="margin-top:1%;">تابع</button>

                                        </div>
                                    </section>

                                </div>

                                <div class="claimsections" id="section2" style="display:none">

                                    <section class="text-center">
                                        <div class="row">
                                            @*           <div class="col-md-6">*@


                                            @*</div>*@
                                            <div class="row questionDiv" data-QuestionKey="@ViewBag.QuestionAlkararat">
                                                <div class="col-md-3" style="float:right;margin-right:1%;">

                                                    <a>القرارات / الإجراءات المتخذة</a>
                                                </div>
                                                <div class="col-md-9">

                                                    <textarea style="width:521px;height:100px;margin: 0 auto;resize:none" class="form-control answerValueADManger" data-AnswerKey="@ViewBag.AnswerKeyAlkararat" rows="3" dir="rtl" @disabledHtmlString></textarea>
                                                </div>
                                            </div>
                                            <button class="btn btn-primary width-300" id="tabe32" style="margin-top:1%;">تابع</button>
                                        </div>
                                    </section>
                                </div>
                                <div class="claimsections" id="section3" style="display:none">

                                    <section class="text-center">

                                        <div class="row">
                                            @*<div class="col-md-6">*@

                                            @*</div>*@
                                            @*<div class="col-md-6">*@
                                            <div class="row questionDiv" data-QuestionKey="@ViewBag.Nawe3AlMou3alaja">

                                                <div class="col-md-3" style="float:right;">
                                                    <a>تحديد نوع المعالجة</a>
                                                </div>

                                                <div class="btn-group" data-toggle="buttons">

                                                    <label class="btn btn-default-outline" @disabledHtmlString>
                                                        <input type="radio" name="solutionType" class="answerValueADMangerRadio" data-AnswerKey="@ViewBag.AnswerKeyTawsif1" @disabledHtmlString>
                                                        جزئية
                                                    </label>

                                                    <label class="btn btn-default-outline" @disabledHtmlString>
                                                        <input type="radio" name="solutionType" class="answerValueADMangerRadio" data-AnswerKey="@ViewBag.AnswerKeyTawsif2" @disabledHtmlString>
                                                        شاملة
                                                    </label>

                                                </div>

                                            </div>

                                            <div class="row questionDiv" data-QuestionKey="@ViewBag.QuestionTawsifAlHal">
                                                <div class="col-md-3" style="float:right;">

                                                    <a>توصيف الحل</a>
                                                </div>
                                                <div class="col-md-9" style="margin-top:1%">

                                                    <textarea style="width:521px;height:100px;margin: 0 auto;display:block;resize:none" class="form-control answerValueADManger" data-AnswerKey="@ViewBag.AnswerKeyTawsifAlHal" rows="3" dir="rtl" @disabledHtmlString></textarea>
                                                </div>
                                            </div>
                                            @*</div>*@
                                            @if (User.IsInRole("ADManager"))
                                            {
                                                @*<button class="btn width-300" style="background-color:#63d063;color:white;margin-top: 1%;" id="submitFormADManager">تقديم</button>*@
                                                <button class="btn width-300" style="background-color:#63d063;color:white;margin-top: 1%;" id="submitFormADManager">
                                                    <i class="fa fa-spinner fa-spin takdimLoader" style="display:none;"></i> تقديم
                                                </button>                                                                                             @*<button class="btn btn-danger" id="mou5alafaButton">مخالفة</button>*@
                                            }
                                            @*@if (User.IsInRole("ADDirector"))
                                                {
                                                    <button class="btn btn-primary width-300" style="margin-top:1%;" id="tabe33">تابع</button>

                                                }*@
                                        </div>
                                    </section>
                                </div>
                            </section>
                        </div>


                                                }
                                                else
                                                {

                                                    <section class="text-center">
                                                        @*<div class="row">*@

                                                        <div class="row">
                                                            <div class="col-md-3" style="float:right;margin-right:1%;">
                                                                <a>ملاحظات مسؤول التنمية</a>
                                                            </div>
                                                            <div class="col-md-9">
                                                                <textarea style="width:500px;height:100px;margin: 0 auto;resize:none" class="form-control answerValueADDirectorNote" data-AnswerKey="793" rows="3" dir="rtl"></textarea>

                                                            </div>
                                                        </div>


                                                        @*<div class="row controls" style="width:500px;height:100px;margin: 0 auto;">
                                                                <div class="col-md-3" style="float:right;">

                                                                    <a>ملاحظات مسؤول التنمية</a>
                                                                </div>
                                                                <div class="col-md-9">

                                                                    <textarea style="width:500px;height:100px;margin: 0 auto;resize:none" class="form-control answerValueADDirectorNote" data-AnswerKey="793" rows="3" dir="rtl"></textarea>
                                                                </div>
                                                            </div>*@
                                                        <div class="row" style="margin-top:3%;">
                                                            @{

                                                                var actionTypeApproved = 0;
                                                                if (User.IsInRole("ADManager"))
                                                                {
                                                                    actionTypeApproved = 11;
                                                                }
                                                                else if (User.IsInRole("ADDirector"))
                                                                {
                                                                    actionTypeApproved = 18;
                                                                }
                                                            }
                                                            @*<button class="btn width-300 submitFormADDirector" style="background-color:#63d063;color:white;margin-top: 1%;" data-actionType="18">تقديم</button><br />*@
                                                            <button class="btn width-300 submitFormADDirector" style="background-color:#63d063;color:white;margin-top: 1%;" data-actionType="18">
                                                                <i class="fa fa-spinner fa-spin takdimLoader" style="display:none;"></i> تقديم
                                                            </button>
                                                            <button class="btn btn-danger  width-300 submitFormADDirector" style="margin-top:1%;">مراجعة</button>
                                                        </div>
                                                        @*</div>*@
                                                    </section>

                                                    @*<div class="form-group row">

                                                            <div class="col-md-3" style="float:right;">
                                                                <label class="form-control-label" for="l15"> :بلغ عن مخالفة    </label>
                                                            </div>

                                                            <div class="col-md-9">
                                                                <textarea style="width:500px;height:100px;margin: 0 auto;resize:none" class="form-control answerValueADMangerMou5alafa" data-AnswerKey="793" rows="3" dir="rtl"></textarea>



                                                            </div>


                                                        </div>
                                                        <div class="form-group row" style="text-align:center;">
                                                            <button type="button" data-actionType="3" style="background-color:#f64249;color:white" class="btn width-100" id="mou5alafaButton">مخالفة  </button>

                                                        </div>*@
                                                                }





                </div>



                <div class="col-lg-6 col-md-6" style="background-color:white;height:100%">
                    <div class="col-lg-12" style="text-align:center;padding-top:10px">
                        <div class="cui-ecommerce--catalog--item--status">
                            <span class="cui-ecommerce--catalog--item--status--title"><i class="fa fa-binoculars fa-2x" aria-hidden="true"></i></span>
                        </div>
                    </div>
                    <div class="col-lg-12" style="text-align:center;padding-top:20px">
                        <h3>: المتابعة</h3>
                    </div>


                    <div class="nav-tabs-horizontal pull-right">
                        <ul class="nav nav-tabs pull-right" role="tablist">

                            @{
                                var distinctformtemplates = aggregateForms.Select(x => x.FormTemplateKey).Where(x => x.Value != 106).Distinct().ToList();
                                for (var i = 0; i < distinctformtemplates.Count(); i++)
                                {
                                    var templatekey = distinctformtemplates[i];
                                    var randomRow = aggregateForms.Where(x => x.FormTemplateKey == templatekey).FirstOrDefault();
                                    <li class="nav-item">
                                        <a class="nav-link" href="javascript: void(0);" data-toggle="tab" data-target="#tab-@i" role="tab" aria-expanded="false">
                                            <b style="font-size: 16px;">
                                                @randomRow.FormTemplateName
                                            </b>
                                        </a>
                                    </li>
                                }
                            }
                            <li class="nav-item">
                                <a class="nav-link active" href="javascript: void(0);" data-toggle="tab" data-target="#tab-notes" role="tab" aria-expanded="false">
                                    <b style="font-size: 16px;">
                                        ملاحظات
                                    </b>
                                </a>
                            </li>
                        </ul>

                        <div class="tab-content padding-vertical-20">
                            @{
                                for (var i = 0; i < distinctformtemplates.Count(); i++)
                                {
                                    var templatekey = distinctformtemplates[i];
                                    var rows = aggregateForms.Where(x => x.FormTemplateKey == templatekey).ToList();


                                    HtmlString tabactive = i == 0 ? new HtmlString("active") : new HtmlString("");

                                    <div class="tab-pane" id="tab-@i" role="tabpanel" style="text-align:right" aria-expanded="true">
                                        @foreach (var row in rows)
                                        {
                                            if (row.FormElement == "UserInput")
                                            {
                                                <div class="col-lg-12" style="text-align:right;padding-top:15px">
                                                    <div class="form-group row">
                                                        <div class="col-md-9">
                                                            <textarea dir="rtl" readonly class="form-control" rows="3" id="l15"> @row.AnswerInstanceFileExtensionName </textarea>
                                                        </div>
                                                        <div class="col-md-3">
                                                            <label class="form-control-label" for="l15" dir="rtl"> @row.QuestionValue  </label>
                                                        </div>
                                                    </div>
                                                </div>
                                            }

                                            if (row.FormElement == "Radiobox")
                                            {
                                                <div class="col-lg-12" style="text-align:right;padding-top:15px">
                                                    <div class="form-group row">
                                                        <div class="col-md-9">
                                                            <label class="btn btn-default-outline">
                                                                @row.AnswerValue
                                                            </label>
                                                        </div>
                                                        <div class="col-md-3">
                                                            <label class="form-control-label" for="l15" dir="rtl"> @row.QuestionValue  </label>
                                                        </div>
                                                    </div>
                                                </div>
                                            }
                                        }
                                    </div>
                                }



                                <div class="tab-pane active" id="tab-notes" role="tabpanel" style="text-align:right" aria-expanded="true">
                                    @{
                                        string updatedbyuserkey = User.Identity.GetUserId();
                                        var status = Instances.Where(x => !string.IsNullOrEmpty(x.Note) && x.UpdatedByUserKey != updatedbyuserkey).OrderByDescending(x => x.UpdatedAt).ToList();
                                        foreach (var note in status)
                                        {


                                            if (!User.IsInRole("Citizen"))
                                            {
                                                <div class="col-lg-12" style="text-align:right;padding-top:15px">
                                                    <div class="form-group row">
                                                        <div class="col-md-9">
                                                            <textarea dir="rtl" readonly class="form-control" rows="3" id="l15"> @note.Note  </textarea>
                                                        </div>
                                                        <div class="col-md-3">
                                                            <label class="form-control-label" for="l15" dir="rtl" style="margin-left:15%;"> ملاحظات  @note.UpdatedByUserName </label>
                                                        </div>
                                                    </div>
                                                </div>
                                            }


                                        }




                                    }
                                </div>



                            }
                        </div>

                        <div class="tab-content padding-vertical-20">
                            <div class="tab-pane active" id="tab1" role="tabpanel" aria-expanded="true">
                            </div>
                            <div class="tab-pane" id="tab2" role="tabpanel" aria-expanded="false">
                            </div>
                            <div class="tab-pane" id="tab3" role="tabpanel" aria-expanded="false">
                            </div>
                        </div>
                    </div>
                </div>
            </div>


                                        }
    </section>
</section>
<style>
    .bootbox-body {
        text-align: right !important;
    }
</style>
<script>

    var AnswerTemplateKey = [];
    var FormKey = "";
    $('.dropify').dropify();
    @if(User.IsInRole("ADDirector")){

        <text>
    $(".answerValueADMangerRadio").prop('readonly', true);
    $(".answerValueADManger").prop('readonly', true);
    $(".answerValueToDisable").prop('readonly', true);
    $("#submitFormADManager").attr("disabled", true);
    </text>

    }

    @*if ('@ViewBag.CurrentFormtemplateKey' != "106") {
        $(".answerValueADMangerRadio").prop('readonly', true);
        $(".answerValueADManger").prop('readonly', true);
        $(".answerValueToDisable").prop('readonly', true);
    }*@

    $(document).on('click', "[id='submitFormADManager']", function () {

        $(".takdimLoader").css("display", "block");
        $("#takdimLoader").text("...جار التحميل");
        $("#submitFormADManager").attr("disabled", true);


        var answsers = "";

        //$('input').each(function () {
        //    //case radio or checkbox
        //    if (this.checked && $(this).val() != '') {
        //        answsers = { key: $(this).attr("data-AnswerKey"), Textvalue: "", type: "RadioCheckBox" }
        //        AnswerTemplateKey.push(answsers);

        //    }
        //});

        $('.answerValueADMangerRadio').each(function () {

            if (this.checked && $(this).val() != '') {
                answsers = { key: $(this).attr("data-AnswerKey"), Textvalue: "", type: "RadioCheckBox" }
                AnswerTemplateKey.push(answsers);
                //alert("Key=" + $(this).attr("data-AnswerKey"));
            }

        });
        $('.answerValueADManger').each(function () {

            answsers = { key: $(this).attr("data-AnswerKey"), Textvalue: $(this).val(), type: "TextArea" }
            AnswerTemplateKey.push(answsers);
            //alert("Key=" + $(this).attr("data-AnswerKey") + "Value=" + $(this).val());
        });

        var FormTemplateKey = $('#FormTemplateKey').text();


        setTimeout(function () {

            $.ajax({
                url: '@Url.Action("SubmitFormForUser", "ClaimForms")',
                type: 'GET',
                dataType: 'json',
                cache: false,
                data: {
                    trackingStatusKey: "1", formTemplateKey: '@ViewBag.NextFormTemplateKey ', userKey: "@User.Identity.GetUserId()", organisationKey: "1"
                },
                success: function (data) {
                    FormKey = data;
                    $.ajax({
                        url: '@Url.Action("AnswersByUser", "ClaimForms")',
                        type: 'GET',
                        dataType: 'json',
                        cache: false,
                        data: {
                            formKey: FormKey, answerTemplateKey: JSON.stringify(AnswerTemplateKey)
                        },
                        success: function (data) {

                            $.ajax({
                                url: '@Url.Action("SaveClaimForm", "ClaimForms")',
                                type: 'GET',
                                dataType: 'json',
                                cache: false,
                                data: {
                                    formKey: FormKey
                                },
                                success: function (data) {
                                    ADManagerNoteSave(FormKey);
                                    @*bootbox.alert("تم تقديم التقديم", function () {
                                        window.location = '@Url.Action("Index", "UserDashboard")';
                                    })*@


                                    var chat = $.connection.chatHub;

                                    $.connection.hub.start().done(function () {
                                        chat.server.send("", "");

                                    });

                                }
                            });
                        }
                    });
                }
            });

        }, 2000);




    });
    $(".submitFormADDirector").click(function () {

        $(".takdimLoader").css("display", "block");
        $("#takdimLoader").text("...جار التحميل");
        $(".submitFormADDirector").attr("disabled", true);

        var Note = $(".answerValueADDirectorNote").val();
        if (this.innerText == "مراجعة" && Note == "") {
            bootbox.alert("الرجاء تعبئة الملاحظة قبل المراجعة");
            actionKey = "17";
        } else {
            actionKey = $(this).attr("data-actionType");

        }



        var GUID = '@ViewBag.GUID';
        var CreatedAt = '@ViewBag.CreatedAt';
        var Formkey = '@ViewBag.FormKey '
        var CurrentStatusKey = '@ViewBag.CurrentStatusKey '

        var NextFormTemplateKey = '@ViewBag.NextFormTemplateKey '

        $.ajax({
            url: '@Url.Action("CreateNewWorkFlowInstance", "Home")',
            dataType: "text",
            data: {
                Note: Note,
                GUID: GUID,
                CreatedAt: CreatedAt,
                Formkey: Formkey,
                CurrentStatusKey: CurrentStatusKey,
                NextFormTemplateKey: NextFormTemplateKey,
                ActionKey: actionKey
            },
            success: function (result) {


                bootbox.alert("تمت العملية بنجاح", function () {
                    window.location = '@Url.Action("Index", "UserDashboard")';
                    $(".takdimLoader").css("display", "none");
                    $("#takdimLoader").text("تقديم");
                    $(".submitFormADDirector").attr("disabled", false);
                })


            }
        });





    });
    @*$("#mou5alafaButton").click(function () {


        var Note = $(".answerValueADMangerMou5alafa").val();




        var GUID = '@ViewBag.GUID';
        var CreatedAt = '@ViewBag.CreatedAt';
        var Formkey = '@ViewBag.FormKey '
        var CurrentStatusKey = '@ViewBag.CurrentStatusKey '

        var NextFormTemplateKey = '@ViewBag.NextFormTemplateKey '

        $.ajax({
            url: '@Url.Action("CreateNewWorkFlowInstance", "Home")',
            dataType: "text",
            data: {
                Note: Note,
                GUID: GUID,
                CreatedAt: CreatedAt,
                Formkey: Formkey,
                CurrentStatusKey: CurrentStatusKey,
                NextFormTemplateKey: NextFormTemplateKey,
                ActionKey: "3"
            },
            success: function (result) {


                bootbox.alert("تمت العملية بنجاح", function () {
                    window.location = '@Url.Action("Index", "UserDashboard")';
                })


            }
        });





    });*@
    function ADManagerNoteSave(fKey) {

        var Note = $(".answerValueADMangerNote").val();
        // var Note = $(".answerValueADDirectorNote").val();
        //if (Note == "")
        //    bootbox.alert("الرجاء تعبئة الملاحظة قبل المراجعة");
        var GUID = '@ViewBag.GUID';
        var CreatedAt = '@ViewBag.CreatedAt';
        @*var Formkey = '@ViewBag.FormKey '*@
    var CurrentStatusKey = '@ViewBag.CurrentStatusKey '

    var NextFormTemplateKey = '@ViewBag.NextFormTemplateKey '

    $.ajax({
        url: '@Url.Action("CreateNewWorkFlowInstance", "Home")',
        dataType: "text",
        data: {
            Note: Note,
            GUID: GUID,
            CreatedAt: CreatedAt,
            Formkey: fKey,
            CurrentStatusKey: CurrentStatusKey,
            NextFormTemplateKey: NextFormTemplateKey,
            ActionKey: "11"
        },
        success: function (result) {


            bootbox.alert("تمت العملية بنجاح", function () {
                window.location = '@Url.Action("Index", "UserDashboard")';
                $(".takdimLoader").css("display", "none");
                $("#takdimLoader").text("تقديم");
                $("#submitFormADManager").attr("disabled", false);
            })



        }
    });

    }


    function changesection2(sectionId, sectionbutton) {

        $(".claimsections").css('display', 'none')
        $("#" + sectionId).css('display', 'block')
        $(".menulist").css("font-weight", "normal");
        $("#gonext").css('display', 'none')
        $(sectionbutton).css("font-weight", "bold");
    }

    $("#tabe31").click(function () {

        $(".section2").click();
    });

    $("#tabe32").click(function () {

        $(".section3").click();
    });
    $("#tabe33").click(function () {

        $(".section4").click();
    });







</script>
