﻿@using MoAD.WebApplication.Models;

@{
    ViewBag.Title= "Form Title";
}


<html lang="en">
<head>

    <style>

        hr.doubleLine {
	border-top: 3px double #8c8b8b;
}

    </style>

    <title>لوحة الاستبيانات</title>

</head>

<body>

    <br />
    <br />
    <br />

   

    @Html.Action("Index", "QuickNav")






    <div id="formContainer" class="body-content row">

        <div class="col-lg-2">

        </div>


        <div class="col-lg-8">

            <div class="mt-element-list">
                <div class="mt-list-head list-news font-white bg-blue">
                    <div class="list-head-title-container">
                        <span class="badge badge-primary pull-right">@ViewBag.TemplateNumber</span>
                        <h3 class="list-title">لوحة الاستبيانات</h3>
                    </div>
                </div>
                <div class="mt-list-container list-news">
                    <ul>


                        @foreach (var form in Model.FormsTemplates)
                        {
                            <li class="mt-list-item" style="height:150px">
                                <div onclick="viewTemplate(@form.FormTemplateKey)" style="right:0px!important;left:5px" class="list-icon-container">
                                    <a>
                                        <i class="fa fa-angle-left"></i>
                                    </a>
                                </div>
                                <div style="" class="list-datetime bold uppercase font-green"> @form.CreatedAt </div>
                                <div class="list-item-content" style="float:right">
                                    <h3 class="uppercase">
                                        <a style="float:right">@form.Name</a>
                                    </h3>
                                    <p>@form.Description </p>
                                </div>
                            </li>
                        }
                    </ul>
                </div>
            </div>
        </div>

        <div class="col-lg-2">

        </div>
    </div>
   
    <div id="template" class="row" style="display:none">

        <div class="col-lg-2" id="backtotemplates">
            <a  class="btn btn-circle btn-lg blue">
                <i class="fa fa-backward" aria-hidden="true"></i> Back
            </a>
        </div>
        <div class="col-lg-8" id="templatecontent">

         


        </div>
        <div class="col-lg-2" id="editbuttons">

        </div>

    </div>

</body>
</html>
