﻿@using Microsoft.AspNet.Identity
@using MoAD.DataObjects.EDMX
@using MoAD.WebApplication.Objects
@using MoAD.WebApplication.Managers
@using MoAD.WebApplication.Models;
@using MoAD.WebApplication.Controllers;
@{
    List<NavBarViewModel> NavbarData = (List<NavBarViewModel>)ViewData["NavbarData"];
    int LanguageIdentifier = (int)ViewData["LanguageIdentifier"];
    int navbarComponentKey = (int)ViewData["NavbarComponentKey"];
    int pageKey = (int)ViewData["PageKey"];
}
<head>

    <style>
        * {
            box-sizing: border-box;
        }

        .draggable {
            background-color: #447F99;
            color: white;
            border: 1px solid lightgray;
            padding: 1.5ch;
            margin-top: 10px;
            font-size: 18px;
            cursor: move;
        }

            .draggable + .draggable {
                margin-top: 1.5ch;
            }

            .draggable.is-dragging {
                opacity: 0.5;
            }
    </style>
</head>
<body>
    <!-- partial:index.partial.html -->
    <!-- Modal -->
    <div class="modal fade" id="orderParentsComponentsModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel"></h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-lg-12">
                            <section class="dragzone sourceParents">
                                @{
                                    foreach (var item in NavbarData)
                                    {
                                        List<PageComponentsHierarchy> navbarItems = (List<PageComponentsHierarchy>)item.Items;
                                        var parents = navbarItems.Where(p => p.ComponentLevel == 1).ToList().OrderBy(p => p.ComponentOrder);
                                        foreach (var parent in parents)
                                        {
                                            <div class="draggable" data-id="@parent.PageComponentHierarchyKey" draggable="true">@Utilities.GetDataTransaltionByGuid(parent.Component.ComponentSourceEntityKey, (int)LanguageIdentifier)</div>
                                        }


                                    }
                                }

                            </section>
                        </div>


                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary saveOrderParentsBtn">حفظ الترتيب</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">إغلاق</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="orderChildsComponentsModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel"></h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-lg-12">
                            <select class="form-control" id="parentsDropDown" style="width:100%;cursor:pointer;margin-bottom:10px;">
                                <option>Select parent</option>
                                <option>parent1</option>
                                <option>parent2</option>
                            </select>
                        </div>
                        <div class="col-lg-12">
                            <section class="dragzone sourceChilds">
                           
                            </section>
                        </div>


                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary saveOrderChildsBtn">حفظ الترتيب</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">إغلاق</button>
                </div>
            </div>
        </div>
    </div>

    <!-- partial -->
    <script>
        $("#parentsDropDown").select2({ placeholder:"حدد العنوان الرئيسي",dropdownParent: "#orderChildsComponentsModal" })



        $(document).on('click', "#orderChildsBtn", function () {
            $(".sourceChilds").children().remove();
            FillParentsDropDown();

        })
        function initRefreshDrag() {
            const dropzoneSource = document.querySelector(".source");
            const dropzone = document.querySelector(".target");
            const dropzones = [...document.querySelectorAll(".dragzone")];
            const draggables = [...document.querySelectorAll(".draggable")];

            function getDragAfterElement(container, y) {
                const draggableElements = [
                    ...container.querySelectorAll(".draggable:not(.is-dragging)")
                ];

                return draggableElements.reduce(
                    (closest, child) => {
                        const box = child.getBoundingClientRect();
                        const offset = y - box.top - box.height / 2;

                        if (offset < 0 && offset > closest.offset) {
                            return {
                                offset,
                                element: child
                            };
                        } else {
                            return closest;
                        }
                    },
                    { offset: Number.NEGATIVE_INFINITY }
                ).element;
            }

            draggables.forEach((draggable) => {
                draggable.addEventListener("dragstart", (e) => {
                    draggable.classList.add("is-dragging");
                });

                draggable.addEventListener("dragend", (e) => {
                    draggable.classList.remove("is-dragging");

                });
            });

            dropzones.forEach((zone) => {
                zone.addEventListener("dragover", (e) => {
                    e.preventDefault();
                    const afterElement = getDragAfterElement(zone, e.clientY);
                    const draggable = document.querySelector(".is-dragging");

                    if (afterElement === null) {
                        zone.appendChild(draggable);
                    } else {

                        zone.insertBefore(draggable, afterElement);
                    }


                });
            });
        }


        initRefreshDrag();
        var componentsOrderedArray = [];
        var component = {};
        $(document).on('click', '.saveOrderParentsBtn', function () {
            componentsOrderedArray = [];
            var i = 1;
            var components = $(".sourceParents").children();
            $(components).each(function (index) {
                component["componentId"] = $(this).data("id");
                component["componentOrder"] = i++;
                componentsOrderedArray.push(component)
                component = {};
            });

            ReorderElements(componentsOrderedArray, "parents");
            $(".close").click();
        })
        $(document).on('click', '.saveOrderChildsBtn', function () {
            $.blockUI($("#body"));
            componentsOrderedArray = [];
            var i = 1;
            var components = $(".sourceChilds").children();
            $(components).each(function (index) {
                component["componentId"] = $(this).data("id");
                component["componentOrder"] = i++;
                componentsOrderedArray.push(component)
                component = {};
            });

            ReorderElements(componentsOrderedArray, "childrens");
            $(".close").click();
        })
        $(document).on('change', "#parentsDropDown", function () {
            var parentValSplitted = $(this).val().split("/");
            var parentId = parentValSplitted[0];
            var componentOrder = parentValSplitted[1];

            FillChildrens(parentId, componentOrder);
        });
        $(document).on('click', "#orderParentsBtn", function () {
            $.blockUI($("#body"));
             $.ajax({
                url: '@Url.Action("GetAllItemsForIndexing", "CMS")',
                type: 'POST',
                  data: {
                     navBarItemComponentKey: '@navbarComponentKey',
                     __RequestVerificationToken: $('@Html.AntiForgeryToken()').val()

                },
                 success: function (data) {
                     $.unblockUI($("#body"));
                    var parentsContainer = document.querySelector(".sourceParents");
                    parentsContainer.innerHTML = "";


                    for (var i = 0; i < data.length; i++) {
                        var parentDiv = " <div class='draggable'  data-id=" + data[i].Value + " draggable='true'>" + data[i].Text + "</div>";
                        parentsContainer.innerHTML += parentDiv;
                    }
                    initRefreshDrag();
                },
                 error: function (error) {
                     $.unblockUI($("#body"));
                    swal("خطأ", "حدث خطأ يرجى المحاولة مرة أخرى", "error");
                }
            });
        })

        FillParentsDropDown();


        function FillParentsDropDown() {
              $.ajax({
                url: '@Url.Action("GetAllItemsParentsForIndexing", "CMS")',
                type: 'POST',
                  data: {
                      navBarItemComponentKey: '@navbarComponentKey',
                     __RequestVerificationToken: $('@Html.AntiForgeryToken()').val()

                },
                 success: function (data) {

                     var select = $("#parentsDropDown");
                     $(select).empty();
                     $(select).append("<option></option>")
                     for (var i = 0; i < data.length; i++) {
                         var option = "<option value=" + data[i].Value + "/" + data[i].ComponentOrder + ">";
                         option += data[i].Text + "</option>";
                         $(select).append(option);
                     }


                },
                error: function (error) {
                    swal("خطأ", "حدث خطأ يرجى المحاولة مرة أخرى", "error");

                }
            });
        }

        function FillChildrens(parentId,componentOrder) {
            $.ajax({
                url: '@Url.Action("GetChildrenPerParent", "CMS")',
                type: 'POST',
                  data: {
                      navBarKey: '@navbarComponentKey',
                      pageComponentKey: parentId,
                      componentOrder: componentOrder,
                     __RequestVerificationToken: $('@Html.AntiForgeryToken()').val()

                },
                success: function (data) {
                    var childrensContainer = document.querySelector(".sourceChilds");
                    childrensContainer.innerHTML = "";


                    for (var i = 0; i < data.length; i++) {
                        var childrenDiv = " <div class='draggable'  data-id=" + data[i].Value + " draggable='true'>" + data[i].Text + "</div>";
                        childrensContainer.innerHTML += childrenDiv;
                    }
                    initRefreshDrag();
                },
                error: function (error) {
                    swal("خطأ", "حدث خطأ يرجى المحاولة مرة أخرى", "error");
                }
            });
        }

        function ReorderElements(components, type) {
            //$("body").block({ message: null });
            var componentsString = JSON.stringify(components);
                $.ajax({
                url: '@Url.Action("OrderComponents", "CMS")',
                type: 'POST',
                    data: {
                      pageKey: '@pageKey',
                      componentsArrString: componentsString,
                      componentsType: type,
                      sliderComponentKey: '@navbarComponentKey',
                     __RequestVerificationToken: $('@Html.AntiForgeryToken()').val()

                },
                success: function (data) {
                    $.unblockUI($("#body"));
                    if (data != 400) {
                       // $("body").unblock({ message: null });
                        swal("مبروك", "تم ترتيب العناصر بنجاح", "success");
                        $("#navbarContainer").empty();

                        $("#navbarContainer").append(data);
                        $('#main-menu').smartmenus();
                    }
                },
                    error: function (error) {
                        $.unblockUI($("#body"));
                        //$("body").unblock({ message: null });
                        swal("خطأ", "حدث خطأ يرجى المحاولة مرة أخرى", "error");

                }
            });
        }

    </script>

</body>

