﻿@{
    int pageKey = (int)ViewData["PageKey"];
    int navBarItemComponentKey = (int)ViewData["NavBarItemComponentKey"];
}
<div class="modal fade" id="EditChildrenModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" style="z-index:9999999;">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="EditChildrenModalLabel">تعديل العنوان الفرعي</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" id="EditChildrenModalBody">
                <div class="row">
                    <div class="col-lg-12">
                        <label>تابع إلى</label>
                        <select id="parentsChildEditDropdown" style="width:100%;">
                            <option></option>

                        </select>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <label>العنوان الفرعي</label>
                        <select id="childrenDropdown" style="width:100%;">
                            <option></option>

                        </select>
                    </div>
                </div>
                <div class="row mb-1">
                    <div class="col-lg-12">
                        <label for="childEditName">العنوان الفرعي</label>
                        <input type="text" id="childEditName" class="form-control" />
                    </div>
                </div>

                <div class="row mb-1" id="childTypeContainer">
                    <div class="col-lg-12">
                        <label>نوع صفحة العنوان الفرعي</label>
                        <select id="childTypeDropdown" style="width:100%;">
                            <option></option>
                            <option value="Pdf">صفحة PDF</option>
                            <option value="Page">صفحة ويب</option>
                        </select>
                    </div>
                </div>
                <div class="row mb-1" id="childPdfContainer1" hidden>
                    <div class="col-lg-12">
                        <label>تحميل ملف PDF</label>
                        <form action="UploadFile"
                              class="dropzone"
                              id="her-awesome-dropzone">
                            <div class="dz-message" data-dz-message><span>قم بإسقاط الملفات هنا للتحميل</span></div>

                        </form>
                    </div>
                </div>
                <div class="row mb-1" id="childPageContainer1" style="display:none;">
                    <div class="col-lg-8">
                        <label>اختر الصفحة</label>
                        <select id="childPageDropdown" style="width:100%;">
                            <option value="Leaf">Page1</option>
                            <option value="Parent">Page1</option>
                        </select>
                    </div>
                    <div class="col-lg-2" style="margin-top:40px;">

                        <a href="" class="goToCreatePage"><i class="fa fa-plus fa-2x"></i></a>
                    </div>
                    <div class="col-lg-2" style="margin-top:40px;">
                        <a href="" class="goToPages" data-DropdownPagesName="childPageDropdown"><i class="fa fa-eye fa-2x"></i></a>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" id="saveChildEditBitn">حفظ</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">إغلاق</button>
                </div>
            </div>
        </div>
    </div>
</div>

<script>

    $("#parentsChildEditDropdown").select2({ placeholder: "حدد العنوان الرئيسي", dropdownParent: "#EditChildrenModal" });
    $("#childrenDropdown").select2({ placeholder: "حدد العنوان الفرعي", dropdownParent: "#EditChildrenModal" });
    $("#childTypeDropdown").select2({ placeholder: "نوع صفحة العنوان الفرعي", dropdownParent: "#EditChildrenModal" });
    $("#childPageDropdown").select2({ dropdownParent: "#EditChildrenModal" });

  
    $(document).on('click', "#saveChildEditBitn", function () {
        $.blockUI($("#body"));
           var itemName = $("#itemName").val();
        var itemType = $("#childTypeDropdown option:selected").val();
        var hierarchy = $("#itemHierarchyDropdown option:selected").val();
        var childPageDropdown = $("#childPageDropdown option:selected").val();
        
        var itemPageHierekey = $("#childrenDropdown option:selected").val();

            if (hierarchy == "Parent") {
                itemType = null;
            }


            $("#NavBarComponentKey").val('@navBarItemComponentKey');


        $("#PageKey").val('@pageKey');

        //console.log(itemPageHierekey);
      //  console.log(itemType);
       // console.log(itemChildTypeKey);

        if (item.length != 0) {

            var translation = $("#childEditName").data("translation");
            var newName = $("#childEditName").val();

            // change Name
            $.ajax({
                url: '@Url.Action("UpdateDataTranslation", "CMS")',
                type: 'POST',
                data: {
                    __RequestVerificationToken: $('@Html.AntiForgeryToken()').val(),

                    guid: translation,

                    newTransaltion: newName

                },
                success: function (data) {
                    $.unblockUI($("#body"));
                    
                    if (hierarchy == "Leaf") {
                        if (itemChildTypeKey != 0 && itemType != '') {
                            EditChild(itemPageHierekey, itemType, itemChildTypeKey);
                        } else if (childPageDropdown != '' && itemType != '') {
                            
                            EditChild(itemPageHierekey, itemType, childPageDropdown);
                        } else {
                            EditChild(itemPageHierekey, "null", 0);
                        }

                    }

                },
                error: function (error) {
                    $.unblockUI($("#body"));
                    bootbox.alert({
                        message: ' حدث خطأ يرجى المحاولة مرة أخرى ',
                        buttons: {
                            ok: {
                                label: 'إغلاق'
                            }
                        }
                    })
                }
            });
        } else {
            $.unblockUI($("#body"));
        }


        });

        $(document).on("change", "#childTypeDropdown", function () {
            var parentType = $(this).val();

            if (parentType == "Pdf") {
               // console.log("childTypeDropdown");
                $("#childPdfContainer1").show();
                    $("#childPageContainer1").hide();
                } else {
                    $("#childPageContainer1").show();
                    $("#childPdfContainer1").hide();
                }
            })

    var item = {};
        var itemPageHierarchy = 0;

    $(document).on("change", "#childrenDropdown", function () {

            //$("#EditItemInnerContainer").show();
            //$("#itemTypeContainer").hide();
            //$("#itemPdfContainer").hide();
            //$("#itemPageContainer").hide();
        var itemPageHierarchy = $("#childrenDropdown option:selected").val();
             $.ajax({
                url: '@Url.Action("GetItemDetails", "CMS")',
                type: 'POST',
                 data: {
                     itemPageHierKey: itemPageHierarchy,
                     __RequestVerificationToken: $('@Html.AntiForgeryToken()').val()

                },
                 success: function (data) {
                     $("#itemHierarchyDropdown").prop("disabled", false);
                     item["itemHierarchy"] = data.itemHierarchy;
                     item["itemTranslation"] = data.itemTranslationGuid;
                     item["itemRedirectionType"] = data.redirectionType;
                     item["itemRedirectionEntity"] = data.redirectionEntity;
                     item["itemName"] = data.itemName;
                     item["itemRedirectionTypeKey"] = data.redirectionType;
                     item["itemRedirectionEntityKey"] = data.redirectionEntityKey;


                     if (item.length != 0) {

                         var itemTranslation = item["itemTranslation"];
                         var itemName = item["itemName"];


                         $("#childEditName").val(itemName);
                         $("#childEditName").data("translation", itemTranslation);


                         $("#itemHierarchyDropdown option[value=" + item["itemHierarchy"] + "]").attr("selected", "selected");
                         if (item["itemRedirectionType"] == "File") {
                             $("#childTypeDropdown").val("Pdf").trigger("change");
                         } else {
                             $("#childTypeDropdown").val(item["itemRedirectionType"]).trigger("change");
                         }
                        
                         $("#childPageDropdown").val(item["itemRedirectionEntity"]).trigger("change");
                         //$("#childPageDropdown").val(item["itemRedirectionEntity"]).trigger("change");
                        
                         
                        // $("#itemPdfContainer").data('entity', item["itemRedirectionEntityKey"]);
                         //   $("#itemTypeDropdown option[value=" + item["itemRedirectionType"] + "]").attr("selected", "selected");
                        // $("#itemHierarchyDropdown").val(item["itemHierarchy"]).trigger("change");
                         //if (item["itemHierarchy"] === "Parent") {
                         //    $("#itemHierarchyDropdown").prop("disabled", true);
                         //}
                         //else {
                         //    $("#itemTypeContainer").show();
                         //    $("#itemHierarchyDropdown").prop("disabled", false);
                         //}
                     }
                    // $("#itemTypeContainer").show();


                },
                error: function (error) {
                    bootbox.alert({
                        message: ' حدث خطأ يرجى المحاولة مرة أخرى ',
                        buttons: {
                            ok: {
                                label: 'إغلاق'
                            }
                        }
                    })
                }
             });




        })

    $(document).on("change", "#parentsChildEditDropdown", function () {
       // console.log("sdasdas");
        var splittedValueArray = $(this).val().split("/");
        var pageHierarchy = splittedValueArray[0];
        var componentOrderVal = splittedValueArray[1];
       // console.log(componentOrderVal);
        $.ajax({
                url: '@Url.Action("GetChildrenPerParent", "CMS")',
                type: 'POST',
                 data: {
                     navBarKey: @navBarItemComponentKey,
                     pageComponentKey: @pageKey,
                     componentOrder: componentOrderVal,
                     __RequestVerificationToken: $('@Html.AntiForgeryToken()').val()

                },
                 success: function (data) {
                   //  console.log(data);
                     var select = $("#childrenDropdown");
                     $(select).empty();
                     $(select).append("<option></option>");
                     for (var i = 0; i < data.length; i++) {

                         var option = "<option value=" +  data[i].Value +">";
                         option += data[i].Text + "</option>";
                         $(select).append(option);
                     }



                },
                error: function (error) {
                    bootbox.alert({
                        message: ' حدث خطأ يرجى المحاولة مرة أخرى ',
                        buttons: {
                            ok: {
                                label: 'إغلاق'
                            }
                        }
                    })
                }
            });
    })

    $(document).on("click", "#EditChildrenModalBtn", function () {
        FillAllDopdownsPages();
        $("#childEditName").val("");
        $('#childrenDropdown').find('option:not(:first)').remove();
       
        RefreshTypesDropDown();
        $("#childPdfContainer1").hide();
        $("#childPageContainer1").hide();
        clearDropzone();
         $.ajax({
                url: '@Url.Action("GetAllItemsParents", "CMS")',
                type: 'POST',
                 data: {
                     navBarItemComponentKey: componentKey,
                     __RequestVerificationToken: $('@Html.AntiForgeryToken()').val()

                },
                 success: function (data) {

                     var select = $("#parentsChildEditDropdown");
                     $(select).empty();
                     $(select).append("<option></option>")
                     for (var i = 0; i < data.length; i++) {
                         var option = "<option value=" + data[i].Value + "/"+data[i].componentOrder+">";
                         option += data[i].Text + "</option>";
                         $(select).append(option);
                     }

                },
                error: function (error) {
                    bootbox.alert({
                        message: ' حدث خطأ يرجى المحاولة مرة أخرى ',
                        buttons: {
                            ok: {
                                label: 'إغلاق'
                            }
                        }
                    })
                }
            });

    })

    function RefreshTypesDropDown() {
        $("#childTypeDropdown").empty();
        var res = "<option></option>";
        res += "<option value ='Pdf'>صفحة PDF</option>";
        res += "<option value='Page'>صفحة ويب</option>";
        $("#childTypeDropdown").append(res);
                
    }
    function EditChild(itemPageHierekey, itemType, itemParentTypeKey) {
        
           $.ajax({
                url: '@Url.Action("UpdateItem", "CMS")',
                type: 'POST',
                 data: {
                    __RequestVerificationToken: $('@Html.AntiForgeryToken()').val(),

                     itemKeyInPageHierarchy: itemPageHierekey,

                     redirectionType: itemType,

                     redirectionKey: itemParentTypeKey

                },
               success: function (data) {
                   $.unblockUI($("#body"));
                     $(".close").click();
                     $("#navbarContainer").empty();
                     console.log(data);
                     $("#navbarContainer").append(data);
                     $('#main-menu').smartmenus();
                },
               error: function (error) {
                   $.unblockUI($("#body"));
                    bootbox.alert({
                        message: ' حدث خطأ يرجى المحاولة مرة أخرى ',
                        buttons: {
                            ok: {
                                label: 'إغلاق'
                            }
                        }
                    })
                }
             });
    }

    var itemChildTypeKey = 0;

    //DropZone
    var clearDropzone;
    Dropzone.options.herAwesomeDropzone = {
        init: function () {
            var dropzone = this;
            clearDropzone = function () {
                dropzone.removeAllFiles(true);
            }
        },
        acceptedFiles: ".pdf",
        maxFiles: 1,
        success: function (file, response) {
            //alert(response);
            if (response != "Error") {
               // console.log("asdasd");
               // console.log(response);
                itemChildTypeKey = response;
            }

        }
    };
</script>