﻿@{

    int pageKey = (int)ViewData["PageKey"];
    int navBarItemComponentKey = (int)ViewData["NavBarItemComponentKey"];
}

<div class="modal fade" id="EditItemModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" style="z-index:9999999;">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="EditChildrenModalLabel">تعديل عنوان رئيسي</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" id="EditItemModalBody">
                <div class="row">
                    <div class="col-lg-12">
                        <label>العنوان الرئيسي</label>

                        <select id="itemsDropdown" style="width:100%;">
                            <option></option>

                        </select>
                    </div>
                </div>

                <div id="EditItemInnerContainer" hidden>
                    <div class="row mb-1">
                        <div class="col-lg-12">
                            <label for="#itemName">العنوان</label>
                            <input type="text" id="itemName" class="form-control" data-translation="" />
                        </div>
                    </div>
                    <div class="row mb-1 itemHierarchyContainer">
                        <div class="col-lg-12">
                            <label>التسلسل الهرمي للعنوان الرئيسي</label>
                            <select id="itemHierarchyDropdown" style="width:100%;">
                                <option></option>
                                <option value="Leaf">Leaf</option>
                                <option value="Parent">Parent</option>
                            </select>
                        </div>
                    </div>
                    <div class="row mb-1" id="itemTypeContainer">
                        <div class="col-lg-12">
                            <label>نوع صفحة العنوان الرئيسي</label>
                            <select id="itemTypeDropdown" style="width:100%;">
                                <option></option>
                                <option value="Pdf">صفحة PDF</option>
                                <option value="Page">صفحة ويب</option>
                            </select>
                        </div>
                    </div>
                    <div class="row mb-1" id="itemPdfContainer">
                        <div class="col-lg-12" data-entity="">
                            <label>تحميل ملف PDF</label>
                            <form action="UploadFile"
                                  class="dropzone"
                                  id="his-awesome-dropzone">
                                <div class="dz-message" data-dz-message><span>قم بإسقاط الملفات هنا للتحميل</span></div>

                            </form>
                        </div>
                    </div>
                    <div class="row mb-1" id="itemPageContainer">
                        <div class="col-lg-8">
                            <label>اختر الصفحة</label>
                            <select id="itemPageDropdown" style="width:100%;">
                                <option value="Leaf">Page1</option>
                                <option value="Parent">Page1</option>
                            </select>
                        </div>
                        <div class="col-lg-2" style="margin-top:40px;">

                            <a href="" class="goToCreatePage"><i class="fa fa-plus fa-2x"></i></a>
                        </div>
                        <div class="col-lg-2" style="margin-top:40px;">
                            <a href="" class="goToPages" data-DropdownPagesName="itemPageDropdown"><i class="fa fa-eye fa-2x"></i></a>
                        </div>
                    </div>
                </div>

                <div class="modal-footer">
                    <button type="button" id="SaveEditionBtn" class="btn btn-primary">حفظ</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">إغلاق</button>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        $("#itemsDropdown").select2({ placeholder: "حدد العنوان الرئيسي", dropdownParent: "#EditItemModal"});
        $("#itemHierarchyDropdown").select2({ placeholder: "نوع صفحة العنوان الرئيسي", dropdownParent: "#EditItemModal" });
        $("#itemTypeDropdown").select2({ dropdownParent: "#EditItemModal" });
        $("#itemPageDropdown").select2({ dropdownParent: "#EditItemModal" });

        $(document).on("change", "#itemHierarchyDropdown", function () {
            var parentType = $(this).val();

            if (parentType == "Leaf") {
                $("#itemTypeContainer").show();
            } else {
                $("#itemTypeContainer").hide();
                $("#itemPageContainer").hide();
                $("#itemPdfContainer").hide();
            }
        })

        $(document).on("change", "#itemTypeDropdown", function () {
            var parentType = $(this).val();
            itemParentTypeKey = 0;
            if (parentType == "Pdf") {
                $("#itemPdfContainer").show();
                $("#itemPageContainer").hide();
            } else {
                $("#itemPageContainer").show();
                $("#itemPdfContainer").hide();
            }
        })

        var item = {};
        var itemPageHierarchy = 0;

        $(document).on("change", "#itemsDropdown", function () {

            $("#EditItemInnerContainer").show();
            $("#itemTypeContainer").hide();
            $("#itemPdfContainer").hide();
            $("#itemPageContainer").hide();
            var itemPageHierarchy = $("#itemsDropdown option:selected").val();
             $.ajax({
                url: '@Url.Action("GetItemDetails", "CMS")',
                type: 'POST',
                 data: {
                     itemPageHierKey: itemPageHierarchy,
                     __RequestVerificationToken: $('@Html.AntiForgeryToken()').val()

                },
                 success: function (data) {
                     $("#itemHierarchyDropdown").prop("disabled", false);
                     item["itemHierarchy"] = data.itemHierarchy;
                     item["itemTranslation"] = data.itemTranslationGuid;
                     item["itemRedirectionType"] = data.redirectionType;
                     item["itemRedirectionEntity"] = data.redirectionEntity;
                     item["itemName"] = data.itemName;
                     item["itemRedirectionTypeKey"] = data.redirectionType;
                     item["itemRedirectionEntityKey"] = data.redirectionEntityKey;


                     if (item.length != 0) {

                         var itemTranslation = item["itemTranslation"];
                         var itemName = item["itemName"];


                         $("#itemName").val(itemName);
                         $("#itemName").data("translation", itemTranslation);


                         $("#itemHierarchyDropdown option[value=" + item["itemHierarchy"] + "]").attr("selected", "selected");
                         $("#itemPdfContainer").data('entity', item["itemRedirectionEntityKey"]);
                         //   $("#itemTypeDropdown option[value=" + item["itemRedirectionType"] + "]").attr("selected", "selected");
                         $("#itemHierarchyDropdown").val(item["itemHierarchy"]).trigger("change");
                     
                        // $(".itemHierarchyContainer").hide();
              
                         if (item["itemHierarchy"] === "Parent") {
                             $("#itemHierarchyDropdown").prop("disabled", true);
                            
                             //$(".itemHierarchyContainer").hide();
                             $("#itemTypeContainer").hide();
                         }
                         else {
                             $("#itemHierarchyDropdown").prop("disabled", true);
                             
                             $(".itemHierarchyContainer").show();
                             $("#itemTypeContainer").show();
                            // $("#itemHierarchyDropdown").prop("disabled", false);
                         }

                         if (item["itemRedirectionType"] == "File") {
                             $("#itemTypeDropdown").val("Pdf").trigger("change");
                         } else {
                             $("#itemTypeDropdown").val(item["itemRedirectionType"]).trigger("change");
                         }

                         $("#itemPageDropdown").val(item["itemRedirectionEntity"]).trigger("change");
                     }
                    // $("#itemTypeContainer").show();


                },
                error: function (error) {
                    bootbox.alert({
                        message: ' حدث خطأ يرجى المحاولة مرة أخرى ',
                        buttons: {
                            ok: {
                                label: 'إغلاق'
                            }
                        }
                    })
                }
             });




        })

        function EditItem(itemPageHierekey, itemType, itemParentTypeKey) {
           $.ajax({
                url: '@Url.Action("UpdateItem", "CMS")',
                type: 'POST',
                 data: {
                    __RequestVerificationToken: $('@Html.AntiForgeryToken()').val(),

                     itemKeyInPageHierarchy: itemPageHierekey,

                     redirectionType: itemType,

                     redirectionKey: itemParentTypeKey

                },
               success: function (data) {
                   $.unblockUI($("#body"));
                     $(".close").click();
                     $("#navbarContainer").empty();
                     console.log(data);
                     $("#navbarContainer").append(data);
                     $('#main-menu').smartmenus();
                },
               error: function (error) {
                   $.unblockUI($("#body"));
                    bootbox.alert({
                        message: ' حدث خطأ يرجى المحاولة مرة أخرى ',
                        buttons: {
                            ok: {
                                label: 'إغلاق'
                            }
                        }
                    })
                }
             });
        }

        $(document).on('click', "#SaveEditionBtn", function () {
            $.blockUI($("#body"));
            var itemName = $("#itemName").val();
            var itemType = $("#itemTypeDropdown option:selected").val();
            var hierarchy = $("#itemHierarchyDropdown option:selected").val();

            var itemPageHierekey = $("#itemsDropdown option:selected").val();

            if (hierarchy == "Parent") {
                itemType = null;
            }

            $("#NavBarComponentKey").val('@navBarItemComponentKey');


            $("#PageKey").val('@pageKey');


            if (item.length != 0) {

                var translation = $("#itemName").data("translation");
                var newName = $("#itemName").val();

                 // change Name
            $.ajax({
                url: '@Url.Action("UpdateDataTranslation", "CMS")',
                type: 'POST',
                 data: {
                    __RequestVerificationToken: $('@Html.AntiForgeryToken()').val(),

                     guid: translation,

                     newTransaltion: newName

                },
                 success: function (data) {

                     if (itemType == "Page") {
                         itemParentTypeKey = $("#itemPageDropdown option:selected").val();
                     }

                             EditItem(itemPageHierekey, itemType, itemParentTypeKey);



                },
                error: function (error) {
                    $.unblockUI($("#body"));
                    bootbox.alert({
                        message: ' حدث خطأ يرجى المحاولة مرة أخرى ',
                        buttons: {
                            ok: {
                                label: 'إغلاق'
                            }
                        }
                    })
                }
             });
            }


        });
    });
    $(document).on('click', "#EditBtn", function () {
        FillAllDopdownsPages();
        $("#EditItemInnerContainer").hide();
        $("#itemPageDropdown").empty();
        var res = "<option></option>";
        res += "<option value ='Pdf'>Pdf</option>";
        res += "<option value='Page'>Page</option>";
        $("#itemPageDropdown").append(res);
        clearDropzoneItemEdit();
    })
    //DropZone
    var itemParentTypeKey = 0;
    var clearDropzoneItemEdit;
    Dropzone.options.hisAwesomeDropzone = {
        init: function () {
            var dropzone = this;
            clearDropzoneItemEdit = function () {
                dropzone.removeAllFiles(true);
            }
        },
        acceptedFiles: ".pdf",
        maxFiles: 1,
        success: function (file, response) {
            //alert(response);
            //console.log("here");
            if (response != "Error") {
                itemParentTypeKey = response;
            }
        }
    };



</script>
