﻿@using MoAD.DataObjects.EDMX
@using MoAD.WebApplication.Models
@using MoAD.WebApplication.Managers
@using Microsoft.AspNet.Identity

@{
    List<NavBarViewModel> NavbarData = (List<NavBarViewModel>)ViewData["NavbarData"];
    string PageName = (string)ViewData["PageName"];
    int? LanguageIdentifier = (int?)ViewData["LanguageIdentifier"];
    if (LanguageIdentifier == null)
    {
        LanguageIdentifier = 3;
    }

    string loginText = "تسجيل الدخول";
    string welcomeText = "أهلا";
    string logoutText = "خروج";
    if (LanguageIdentifier == 4)
    {
        loginText = "Login";
        welcomeText = "Hi";
        logoutText = "Logout";
    }
}



<nav id="main-nav">
    <!-- Sample menu definition -->
    <ul id="main-menu" class="sm sm-blue">
        <li>
            <a class="active no-child" id="GoToMarkaz">
                <img src="~/Images/logos/home.png" style="height: 23px;" />
            </a>
        </li>
        @foreach (var item in NavbarData)
        {
            using (Entities db = new Entities())
            {
                List<PageComponentsHierarchy> navBarItems = (List<PageComponentsHierarchy>)item.Items;
                if (navBarItems.Count == 1)
                {
                    if (navBarItems.FirstOrDefault().RedirectionsType != null)
                    {
                        if (navBarItems.FirstOrDefault().RedirectionsType.RedirectionType == "File")
                        {

                            int? fileKeyParent = 0;
                            var fileParent = navBarItems.FirstOrDefault().Component.PageComponentsHierarchies.FirstOrDefault().PageComponentsHierarchyRedirectionEntities.Where(p => p.LanguageKey == LanguageIdentifier).FirstOrDefault();
                            if (fileParent != null)
                            {
                                fileKeyParent = fileParent.RedirectionEntity;
                            }
                            else
                            {
                                fileKeyParent = navBarItems.FirstOrDefault().Component.PageComponentsHierarchies.FirstOrDefault().PageComponentsHierarchyRedirectionEntities.FirstOrDefault().RedirectionEntity;
                            }

                        <li>
                            <a class="no-child" target="_blank" href="@Url.Action("GetPdfPathFromExtendedData", "Files", new { extensionFileKey = fileKeyParent })">@Utilities.GetDataTransaltionByGuid(navBarItems.FirstOrDefault().Component.ComponentSourceEntityKey, (int)LanguageIdentifier)</a>
                        </li>
                        }
                        else
                        {
                            int? pageKeyParent = 0;
                            var pageParent = navBarItems.FirstOrDefault().Component.PageComponentsHierarchies.FirstOrDefault().PageComponentsHierarchyRedirectionEntities.Where(p => p.LanguageKey == LanguageIdentifier).FirstOrDefault();

                            if (pageParent != null)
                            {
                                pageKeyParent = pageParent.RedirectionEntity;
                            }
                            else
                            {
                                pageKeyParent = navBarItems.FirstOrDefault().Component.PageComponentsHierarchies.FirstOrDefault().PageComponentsHierarchyRedirectionEntities.FirstOrDefault().RedirectionEntity;
                            }


                        <li>
                            <a class="no-child" target="_blank" href="@Url.Action("Index", "Template")/?id=@pageKeyParent&pageName=@PageName">@Utilities.GetDataTransaltionByGuid(navBarItems.FirstOrDefault().Component.ComponentSourceEntityKey, (int)LanguageIdentifier)</a>
                        </li>
                    }

                }
                else
                {
                    <li>
                        <a class="no-child">@Utilities.GetDataTransaltionByGuid(navBarItems.FirstOrDefault().Component.ComponentSourceEntityKey, (int)LanguageIdentifier)</a>
                    </li>
                }

            }
            else
            {
                <li>
                    <a class="has-submenu"><i class="fa fa-angle-down"></i>@Utilities.GetDataTransaltionByGuid(navBarItems.FirstOrDefault().Component.ComponentSourceEntityKey, (int)LanguageIdentifier)</a>

                    <ul dir="ltr" id="sm-16522600160930872-9" role="group" aria-hidden="true" aria-labelledby="sm-16522600160930872-8" aria-expanded="false">
                        @{
                            var childrens = navBarItems.OrderBy(p => p.ComponentIndex);
                        }
                        @foreach (var children in childrens)
                        {
                            if (children.RedirectionTypeKey != null)
                            {
                                if (children.RedirectionsType.RedirectionType == "File")
                                {
                                    int? fileKey = 0;
                                    var fileChild = db.PageComponentsHierarchyRedirectionEntities.Where(p => p.PageComponentHierarchyKey == children.ComponentKey && p.LanguageKey==LanguageIdentifier).FirstOrDefault();

                                    if (fileChild!=null){
                                        fileKey = fileChild.RedirectionEntity;
                                    }
                                    else
                                    {
                                        fileKey = db.PageComponentsHierarchyRedirectionEntities.Where(p => p.PageComponentHierarchyKey == children.ComponentKey).FirstOrDefault().RedirectionEntity;
                                    }

                                    <li><a target="_blank" href="@Url.Action("GetPdfPathFromExtendedData", "Files", new { extensionFileKey = fileKey })">@Utilities.GetDataTransaltionByGuid(children.Component.ComponentSourceEntityKey, (int)LanguageIdentifier)</a></li>
                                }

                                if (children.RedirectionsType.RedirectionType == "Page")
                                {

                                    int? templateKey = 0;
                                    var templateChild = db.PageComponentsHierarchyRedirectionEntities.Where(p => p.PageComponentHierarchyKey == children.ComponentKey && p.LanguageKey == LanguageIdentifier).FirstOrDefault();

                                    if (templateChild != null)
                                    {
                                        templateKey = templateChild.RedirectionEntity;
                                    }
                                    else
                                    {
                                        templateKey = db.PageComponentsHierarchyRedirectionEntities.Where(p => p.PageComponentHierarchyKey == children.ComponentKey).FirstOrDefault().RedirectionEntity;
                                    }
                                    <li><a target="_blank" href="@Url.Action("Index", "Template")/?id=@templateKey&pageName=@PageName">@Utilities.GetDataTransaltionByGuid(children.Component.ComponentSourceEntityKey, (int)LanguageIdentifier)</a></li>
                                }
                            }
                        }
                    </ul>
                </li>
                                    }

                                }
                            }

        @if (ViewContext.RouteData.Values["Action"].ToString().ToLower() == "manbar")
        {


        <li><a target="_blank" href="@Url.Action("ContactUs","Home")" class="login no-child">تواصل معنا</a></li>
        }

        @if (!User.Identity.IsAuthenticated)
        {
            if (ViewContext.RouteData.Values["Action"].ToString().ToLower() == "manbar")
            {
                <li><a id="SignInManbar" class="login no-child">@loginText</a></li>
            }
            else if (ViewContext.RouteData.Values["Action"].ToString().ToLower() == "markaz")
            {
                <li><a id="SignInMarkaz" class="login no-child">@loginText</a></li>
            }

        }
        else
        {
            if (ViewContext.RouteData.Values["Action"].ToString().ToLower() == "manbar" || ViewContext.RouteData.Values["Action"].ToString().ToLower() == "markaz")
            {
                <li>
                    <a class="no-child">

                        <span style="color:white; clear:both; white-space:nowrap; display:inline-block;font-size: 16px;">
                            @welcomeText @User.Identity.GetUserName()
                        </span>
                    </a>
                </li>



                <li><a class="logoff no-child" style="color:white; white-space:nowrap; display:inline-block;">@logoutText</a></li>
            }
            @*if (User.Identity.IsAuthenticated && User.IsInRole("Citizen") && ViewContext.RouteData.Values["Action"].ToString().ToLower() == "manbar")
            {
                <li>
                    <a class="no-child">

                        <span style="color:white; clear:both; white-space:nowrap; display:inline-block;font-size: 16px;">
                            أهلا @User.Identity.GetUserName()
                        </span>
                    </a>
                </li>



                <li><a class="logoff no-child" style="color:white; white-space:nowrap; display:inline-block;">خروج</a></li>
            }
            else if(User.Identity.IsAuthenticated && !User.IsInRole("Citizen") && ViewContext.RouteData.Values["Action"].ToString().ToLower() == "markaz")
            {
                <li>
                    <a class="no-child">

                        <span style="color:white; clear:both; white-space:nowrap; display:inline-block;font-size: 16px;">
                            أهلا @User.Identity.GetUserName()
                        </span>
                    </a>
                </li>



                <li><a class="logoff no-child" style="color:white; white-space:nowrap; display:inline-block;">خروج</a></li>
            }*@




        }


    </ul>
</nav>

@if (NavbarData.Count == 0)
{

    <script>
        function initNavbarPartial() {
            $("#deleteChildBtn").hide();
            $("#DeleteBtn").hide();
        }
    </script>
}

@if (NavbarData.Count != 0)
{

    <script>
        function initNavbarPartial() {
            $("#deleteChildBtn").show();
            $("#DeleteBtn").show();
        }
    </script>
}
