﻿@{ 
    int pageKey = (int)ViewData["PageKey"];
    int navBarItemComponentKey = (int)ViewData["NavBarItemComponentKey"];
}

<div class="modal fade" id="DeleteChildModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" style="z-index:9999999;">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="EditChildrenModalLabel">إزالة عنوان فرعي</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" id="DeleteChildModalBody">
                <div class="row">
                    <div class="col-lg-12">
                        <label>تابع إلى</label>
                        <select id="parentsDropdown" style="width:100%;">
                            <option></option>

                        </select>
                    </div>
                </div>
                <div class="row" style="margin-top:10px;">
                    <div class="col-lg-12">
                        <label>العنوان الفرعي</label>

                        <select id="childsDropdown" style="width:100%;">
                            <option></option>

                        </select>
                    </div>
                </div>



                <div class="modal-footer">
                    <button type="button" id="DeleteConfirmBtn" class="btn btn-primary">حذف</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">إغلاق</button>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $("#parentsDropdown").select2({ placeholder:"حدد العنوان الرئيسي",dropdownParent: "#DeleteChildModal" });
    $("#childsDropdown").select2({ placeholder:"حدد العنوان الفرعي",dropdownParent: "#DeleteChildModal" });


    $(document).on("change", "#parentsDropdown", function () {
       // console.log("sdasdas");
        var splittedValueArray = $(this).val().split("/");
        var pageHierarchy = splittedValueArray[0];
        var componentOrderVal = splittedValueArray[1];
        console.log(componentOrderVal);
        $.ajax({
                url: '@Url.Action("GetChildrenPerParent", "CMS")',
                type: 'POST',
                 data: {
                     navBarKey: @navBarItemComponentKey,
                     pageComponentKey: @pageKey,
                     componentOrder: componentOrderVal,
                     __RequestVerificationToken: $('@Html.AntiForgeryToken()').val()

                },
                 success: function (data) {
                     console.log(data);
                     var select = $("#childsDropdown");
                     $(select).empty();
                     $(select).append("<option></option>");
                     for (var i = 0; i < data.length; i++) {

                         var option = "<option value=" +  data[i].Value +">";
                         option += data[i].Text + "</option>";
                         $(select).append(option);
                     }



                },
                error: function (error) {
                    bootbox.alert({
                        message: ' حدث خطأ يرجى المحاولة مرة أخرى ',
                        buttons: {
                            ok: {
                                label: 'إغلاق'
                            }
                        }
                    })
                }
            });
    })
    $(document).on("click", "#deleteChildBtn", function () {
         $.ajax({
                url: '@Url.Action("GetAllItemsParents", "CMS")',
                type: 'POST',
                 data: {
                     navBarItemComponentKey: componentKey,
                     __RequestVerificationToken: $('@Html.AntiForgeryToken()').val()

                },
                 success: function (data) {

                     var select = $("#parentsDropdown");
                     $(select).empty();
                     $(select).append("<option></option>")
                     for (var i = 0; i < data.length; i++) {
                         var option = "<option value=" + data[i].Value + "/"+data[i].componentOrder+">";
                         option += data[i].Text + "</option>";
                         $(select).append(option);
                     }

                },
                error: function (error) {
                    // when an error occure this error function will be called
                }
            });

    })
    $(document).on("click", "#DeleteConfirmBtn", function () {
        $.blockUI($("#body"));
        var childHierarchyKey = $("#childsDropdown").val();
       // console.log(childHierarchyKey);
           $.ajax({
                url: '@Url.Action("DeleteChild", "CMS")',
                type: 'POST',
                 data: {
                     childPageHierKey: childHierarchyKey ,
                     __RequestVerificationToken: $('@Html.AntiForgeryToken()').val()

                },
                 success: function (data) {
                  //   console.log(data);
                     if (data != 400) {
                         $.unblockUI($("#body"));
                         //location.reload();
                         $(".close").click();
                         $("#navbarContainer").empty();
                         console.log(data);
                         $("#navbarContainer").append(data);
                         $('#main-menu').smartmenus();
                     }


                },
               error: function (error) {
                   $.unblockUI($("#body"));
                    bootbox.alert({
                        message: ' حدث خطأ يرجى المحاولة مرة أخرى ',
                        buttons: {
                            ok: {
                                label: 'إغلاق'
                            }
                        }
                    })
                }
            });
    })
</script>