﻿@{

    int pageKey = (int)ViewData["PageKey"];
    int navBarItemComponentKey = (int)ViewData["NavBarItemComponentKey"];
}

<div class="modal fade" id="AddChildrenModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" style="z-index:9999999;">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="AddChildrenModalLabel">أضف عنوان فرعي</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" id="AddChildrenModalBody">
                <div class="row mb-1">
                    <div class="col-lg-12">
                        <label for="childName">العنوان الفرعي</label>
                        <input type="text" class="form-control" id="childName" />
                    </div>
                </div>
                <div class="row mb-1" id="childTypeContainer">
                    <div class="col-lg-12">
                        <label>تابع إلى</label> 
                        <select id="parentsDropdownChildren" style="width:100%;">
                           <option></option>
                        </select>
                    </div>
                </div>
                <div class="row mb-1" id="childTypeContainer">
                    <div class="col-lg-12">
                        <label>نوع صفحة العنوان الفرعي</label>
                        <select id="childTypeDropdownChildren" style="width:100%;">
                            <option></option>
                            <option value="Pdf">صفحة PDF</option>
                            <option value="Page">صفحة ويب</option>
                        </select>
                    </div>
                </div>
                <div class="row mb-1" id="childPdfContainer" hidden>
                    <div class="col-lg-12">
                        <label>تحميل ملف PDF</label> 
                        <form action="UploadFile"
                              class="dropzone"
                              id="my-awesome-dropzone">
                            <div class="dz-message" data-dz-message><span>قم بإسقاط الملفات هنا للتحميل</span></div>

                        </form>
                    </div>
                </div>
                <div class="row mb-1" id="childPageContainer" hidden>
                    <div class="col-lg-8">
                        <label>اختر الصفحة</label>
                        <select id="childPageDropdownChildren" style="width:100%;">
                            <option value="Leaf">Page1</option>
                            <option value="Parent">Page1</option>
                        </select>
                    </div>
                    <div class="col-lg-2" style="margin-top:40px;">
                        <a href="" class="goToCreatePage"><i class="fa fa-plus fa-2x"></i></a>
                    </div>
                    <div class="col-lg-2" style="margin-top:40px;">
                        <a href="" class="goToPages" data-DropdownPagesName="childPageDropdownChildren"><i class="fa fa-eye fa-2x"></i></a>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" id="SaveBtn">حفظ</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">إغلاق</button>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).on("click", ".goToCreatePage", function () {
            window.open('@Url.Action("Page","CMS")');
    })

    $(document).on("click", ".goToPages", function () {
        var dropdownValue = $("#" + $(this).attr("data-DropdownPagesName") + " option:selected").val();
        window.open('@Url.Action("Index","Template")/?id=' + dropdownValue);
    })
    
    $("#childTypeDropdownChildren").select2({ placeholder: "نوع العنوان الفرعي", dropdownParent:"#AddChildrenModal" });
    $("#parentsDropdownChildren").select2({ placeholder: "حدد العنوان الرئيسي", dropdownParent: "#AddChildrenModal"});
    $("#childPageDropdownChildren").select2({ dropdownParent: "#AddChildrenModal" });


    var componentKey = @navBarItemComponentKey;
    var child = {};
    //from dropdown
    var itemTypeKey = null;

        $(document).on("change", "#childTypeDropdownChildren", function () {
            var parentType = $(this).val();

            if (parentType == "Pdf") {
                $("#childPdfContainer").show();
                $("#childPageContainer").hide();
            } else {
                $("#childPageContainer").show();
                $("#childPdfContainer").hide();
            }
        })

    $(document).on('click', "#addChild", function () {
        FillAllDopdownsPages();
        $("#childName").val("");
        $("#childPdfContainer").hide();
        $("#childPageContainer").hide();
        $("#childTypeDropdownChildren").empty();
        var res = "<option></option>";
        res += "<option value ='Pdf'>صفحة PDF</option>";
        res += "<option value='Page'>صفحة ويب</option>";
        $("#childTypeDropdownChildren").append(res);
        clearDropzonesChildrenAdd();
        $.ajax({
                url: '@Url.Action("GetAllItemsParents", "CMS")',
                type: 'POST',
                 data: {
                     navBarItemComponentKey: @navBarItemComponentKey,
                     pagecomponentKey: @pageKey,
                     __RequestVerificationToken: $('@Html.AntiForgeryToken()').val()

                },
                 success: function (data) {
                  //   console.log(data);
                     var select = $("#parentsDropdownChildren");
                     $(select).empty();
                     $(select).append("<option></option>");
                     for (var i = 0; i < data.length; i++) {
                         //ComponentOrder / ChildsCount
                         var option = "<option value=" +  data[i].componentOrder + "/" + data[i].ChildsCount +">";
                         option += data[i].Text + "</option>";
                         $(select).append(option);
                     }



                },
                error: function (error) {
                    bootbox.alert({
                        message: ' حدث خطأ يرجى المحاولة مرة أخرى ',
                        buttons: {
                            ok: {
                                label: 'إغلاق'
                            }
                        }
                    })
                }
            });
    })


    $(document).on("click", "#SaveBtn", function () {
        $.blockUI($("#body"));
        var ComponentOrderChildsCount = $("#parentsDropdownChildren option:selected").val();
        var splitComponentOrderChildsCount = ComponentOrderChildsCount.split("/");


        child["ItemName"] = $("#childName").val();
        child["ItemType"] = $("#childTypeDropdownChildren option:selected").val();
        if ($("#childTypeDropdownChildren option:selected").val() == "Page") {
            child["ItemTypeKey"] = $("#childPageDropdownChildren option:selected").val();
            //itemTypeKey = 0;
        } else {
            child["ItemTypeKey"] = itemTypeKey;
        }

        child["ComponentOrder"] = splitComponentOrderChildsCount[0];
        child["ComponentIndex"] = parseInt(splitComponentOrderChildsCount[1])+1;
        child["NavBarComponentKey"] = @navBarItemComponentKey ;
        child["PageKey"] = @pageKey;
        CreateChildNavbar(child);
        return;
        console.log("sajhsdhasdai");
         $.ajax({
                url: '@Url.Action("CheckIfChildNavbarExists", "CMS")',
                type: 'POST',
                 data: {
                     p_id: '@pageKey',
                     child_name: itemName,
                     ord: splitComponentOrderChildsCount[0],
                    __RequestVerificationToken: $('@Html.AntiForgeryToken()').val(),

                },
                 success: function (data) {
                     if (data == 404) {
                         CreateChildNavbar(child);
                     } else {
                         $.unblockUI($("#body"));
                         bootbox.alert({
                             message: ' الاسم موجود يرجى إختيار إسم أخر ',
                             buttons: {
                                 ok: {
                                     label: 'إغلاق'
                                 }
                             }
                         })
                     }
                },
             error: function (error) {
                 $.unblockUI($("#body"));
                    bootbox.alert({
                        message: ' حدث خطأ يرجى المحاولة مرة أخرى ',
                        buttons: {
                            ok: {
                                label: 'إغلاق'
                            }
                        }
                    })
                }
            });

    })

    function CreateChildNavbar(child) {
        $.ajax({
                url: '@Url.Action("CreateChildNavbar", "CMS")',
                type: 'POST',
                 data: {
                     createChildNavbarViewModel: child,
                     __RequestVerificationToken: $('@Html.AntiForgeryToken()').val()

                },
            success: function (data) {

                $.unblockUI($("#body"));
                         $(".close").click();
                         $("#navbarContainer").empty();

                $("#navbarContainer").append(data);
                $('#main-menu').smartmenus();

                },
            error: function (error) {
                $.unblockUI($("#body"));
                    bootbox.alert({
                        message: ' حدث خطأ يرجى المحاولة مرة أخرى ',
                        buttons: {
                            ok: {
                                label: 'إغلاق'
                            }
                        }
                    })
                }
            });
    }

    //DropZone
    var clearDropzonesChildrenAdd;
    Dropzone.options.myAwesomeDropzone = {
        init: function () {
            var dropzone = this;
            clearDropzonesChildrenAdd = function () {
                dropzone.removeAllFiles(true);
            }
        },
        acceptedFiles: ".pdf",
        maxFiles: 1,

        success: function (file, response) {
            //alert(response);
            if (response != "Error") {
                itemTypeKey = response;
            }


        }
    };


</script>