﻿@{

    int pageKey = (int)ViewData["PageKey"];
    int navBarItemComponentKey = (int)ViewData["NavBarItemComponentKey"];
}

<div class="modal fade" id="DeleteItemModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" style="z-index:9999999;">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="EditChildrenModalLabel">حذف عنوان رئيسي</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" id="EditItemModalBody">
                <div class="row">
                    <div class="col-lg-12">
                        <label>العنوان الرئيسي</label>

                        <select id="itemsDropdown2" style="width:100%;">
                            <option></option>

                        </select>
                    </div>
                </div>

                <div id="EditItemInnerContainer" hidden>
                    <div class="row mb-1">
                        <div class="col-lg-12">
                            <label for="itemName">العنوان</label>
                            <input type="text" id="itemName" class="form-control" />
                        </div>
                    </div>
                    <div class="row mb-1">
                        <div class="col-lg-12">
                            <label>التسلسل الهرمي للعنوان الرئيسي</label>
                            <select id="itemHierarchyDropdown" style="width:100%;">
                                <option></option>
                                <option value="Leaf">Leaf</option>
                                <option value="Parent">Parent</option>
                            </select>
                        </div>
                    </div>
                    <div class="row mb-1" id="itemTypeContainer">
                        <div class="col-lg-12">
                            <label>نوع صفحة العنوان الرئيسي</label>
                            <select id="itemTypeDropdown" style="width:100%;">
                                <option></option>
                                <option value="Pdf">صفحة PDF</option>
                                <option value="Page">صفحة ويب</option>
                            </select>
                        </div>
                    </div>
                    <div class="row mb-1" id="itemPdfContainer">
                        <div class="col-lg-12">
                            <label>Upload Pdf</label> 
                            <form action="UploadFile"
                                  class="dropzone"
                                  id="his-awesome-dropzone"></form>
                        </div>
                    </div>
                    <div class="row mb-1" id="itemPageContainer">
                        <div class="col-lg-12">
                            <label>Choose Page</label>
                            <select id="itemPageDropdown" style="width:100%;">
                                <option value="Leaf">Page1</option>
                                <option value="Parent">Page1</option>
                            </select>
                        </div>
                    </div>
                </div>

                <div class="modal-footer">
                    <button type="button" id="DeleteItemBtn" class="btn btn-primary">حذف</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">إغلاق</button>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $("#itemsDropdown2").select2({ placeholder:"حدد العنوان الرئيسي",dropdownParent: "#DeleteItemModal" });
       //Delete Item populate the Select
        $(document).on('click', "#DeleteBtn", function () {
             $.ajax({
                url: '@Url.Action("GetAllItems", "CMS")',
                type: 'POST',
                 data: {
                     navBarItemComponentKey: componentKey,
                     __RequestVerificationToken: $('@Html.AntiForgeryToken()').val()

                },
                 success: function (data) {

                     var select = $("#itemsDropdown2");
                     $(select).empty();
                     $(select).append("<option></option>")
                     for (var i = 0; i < data.length; i++) {
                         var option = "<option value=" + data[i].Value + "/"+data[i].componentOrder+">";
                         option += data[i].Text + "</option>";
                         $(select).append(option);
                     }



                },
                error: function (error) {
                    bootbox.alert({
                        message: ' حدث خطأ يرجى المحاولة مرة أخرى ',
                        buttons: {
                            ok: {
                                label: 'إغلاق'
                            }
                        }
                    })
                }
            });
        })

        //Delete Item function
        $(document).on('click', "#DeleteItemBtn", function () {
            var pagehierarchyWithComponentOrder = $("#itemsDropdown2 option:selected").val();
            var splittedValueArray = pagehierarchyWithComponentOrder.split("/");
            var pageHierarchy = splittedValueArray[0];
            var componentOrderVal = splittedValueArray[1];

            //send the values to delete the item
            $.ajax({
                url: '@Url.Action("DeleteItem", "CMS")',
                type: 'POST',
                data: {
                    pageComponentsHierarchyKey: pageHierarchy,
                    componentOrder: componentOrderVal,
                    navbarKey:'@navBarItemComponentKey',
                     __RequestVerificationToken: $('@Html.AntiForgeryToken()').val()

                },
                success: function (data) {
                    //location.reload();
                     if (data != "Error") {
                         //location.reload();
                         $(".close").click();
                         $("#navbarContainer").empty();
                         console.log(data);
                         $("#navbarContainer").append(data);
                         $('#main-menu').smartmenus();
                         initNavbarPartial();
                     }
                },
                error: function (error) {
                    bootbox.alert({
                        message: ' حدث خطأ يرجى المحاولة مرة أخرى ',
                        buttons: {
                            ok: {
                                label: 'إغلاق'
                            }
                        }
                    })
                }
            });
        });
</script>
