﻿@{ 
    int pageKey = (int)ViewData["PageKey"];
    int navBarItemComponentKey = (int)ViewData["NavBarItemComponentKey"];
    
}

<div class="modal fade" id="AddItemModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" style="z-index:9999999;">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="AddItemModalLabel">إضافة عنوان رئيسي</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" id="AddItemModalBody">
                <div class="row mb-1">
                    <div class="col-lg-12">
                        <label for="itemNavbarName">العنوان</label>
                        <input type="text" id="itemNavbarName" class="form-control" />
                    </div>
                </div>
                <div class="row mb-1">
                    <div class="col-lg-12">
                        <label>التسلسل الهرمي للعنوان الرئيسي</label>
                        <select id="parentHierarchyDropdown" style="width:100%;">
                            <option></option>
                            <option value="Leaf">Leaf</option>
                            <option value="Parent">Parent</option>
                        </select>
                    </div>
                </div>
                <div class="row mb-1" id="parentTypeContainer" hidden>
                    <div class="col-lg-12">
                        <label>نوع صفحة العنوان الرئيسي</label>
                        <select id="parentTypeDropdown" style="width:100%;">
                            <option></option>
                            <option value="Pdf">صفحة PDF</option>
                            <option value="Page">صفحة ويب</option>
                        </select>
                    </div>
                </div>
                <div class="row mb-1" id="pdfContainer" hidden>
                    <div class="col-lg-12">
                        <label>تحميل ملف PDF</label>
                        <form action="UploadFile"
                              class="dropzone"
                              id="this-awesome-dropzone">
                            <div class="dz-message" data-dz-message><span>قم بإسقاط الملفات هنا للتحميل</span></div>
                        </form>
                    </div>
                </div>
                <div class="row mb-1" id="pageContainer" hidden>
                    <div class="col-lg-8">
                        <label>اختر الصفحة</label>
                        <select id="parentPageDropdown" style="width:100%;">
                            <option value="Leaf">Page1</option>
                            <option value="Parent">Page1</option>
                        </select>
                    </div>
                    <div class="col-lg-2" style="margin-top:40px;">
                        @*<label style="visibility:hidden;">Add Page</label>*@
                        <a href="" class="goToCreatePage"><i class="fa fa-plus fa-2x"></i></a>
                    </div>
                    <div class="col-lg-2" style="margin-top:40px;">
                        <a href="" class="goToPages" data-DropdownPagesName="parentPageDropdown"><i class="fa fa-eye fa-2x"></i></a>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" id="SaveAddItemModal">حفظ</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">إغلاق</button>
                </div>
            </div>
        </div>
    </div>
</div>

<script>

     $(document).on("click", ".goToCreatePage", function () {
            window.open('@Url.Action("Page","CMS")');
     })

    $(document).on("click", ".goToPages", function () {
        event.preventDefault();
        var dropdownValue = $("#" + $(this).attr("data-DropdownPagesName") + " option:selected").val();
        window.open('@Url.Action("Index","Template")/?id=' + dropdownValue);
    })

    $(document).ready(function () {

        $("#parentHierarchyDropdown").select2({ placeholder: "التسلسل الهرمي للعنوان الرئيسي", dropdownParent: "#AddItemModal" });
        $("#parentTypeDropdown").select2({ placeholder: "نوع صفحة العنوان الرئيسي", dropdownParent: "#AddItemModal" });
        $("#parentPageDropdown").select2({ dropdownParent: "#AddItemModal" });

        $(document).on("change", "#parentHierarchyDropdown", function () {
            var parentType = $(this).val();

            if (parentType == "Leaf") {
                $("#parentTypeContainer").show();
            } else {
                $("#parentTypeContainer").hide();
                $("#pageContainer").hide();
                $("#pdfContainer").hide();
            }
        })

        $(document).on("change", "#parentTypeDropdown", function () {
            var parentType = $(this).val();

            if (parentType == "Pdf") {
                $("#pdfContainer").show();
                $("#pageContainer").hide();
            } else {
                $("#pageContainer").show();
                $("#pdfContainer").hide();
            }
        })


    });
    //itemTypeaddParentKey that we will store in it the value of the dropzone (key of file)
    var itemTypeaddParentKey = 0;
    var clearDropzoneItemAdd;
    Dropzone.options.thisAwesomeDropzone = {
        init: function () {
            var dropzone = this;
            clearDropzoneItemAdd = function () {
                dropzone.removeAllFiles(true);
            }
        },
        acceptedFiles: ".pdf",
        maxFiles: 1,
        success: function (file, response) {
            //alert(response);
            if (response != "Error") {
                itemTypeaddParentKey = response;
            }

        }
    };


        //Save Item
        $(document).on("click", "#SaveAddItemModal", function () {
           
            var itemName = $("#itemNavbarName").val();
            var itemType = $("#parentTypeDropdown option:selected").val();
            var hierarchy = $("#parentHierarchyDropdown option:selected").val();

            if (hierarchy == "Parent") {
                itemType = null;
            }

            if (hierarchy == '') {
                return;
            }

           
            $("#NavBarComponentKey").val('@navBarItemComponentKey');
            $("#PageKey").val('@pageKey');
           // console.log(@pageKey);
            var obj = {};
            obj["ItemName"] =itemName;
            obj["ItemType"] = itemType;
            if (itemType == "Page") {
                obj["ItemTypeKey"] = $("#parentPageDropdown option:selected").val();
                itemTypeaddParentKey = 0;
            } else{
                if (itemTypeaddParentKey != 0) {
                    obj["ItemTypeKey"] = itemTypeaddParentKey;
                    itemTypeaddParentKey = 0;
                }
            }

            obj["NavBarComponentKey"] = '@navBarItemComponentKey';
            obj["PageKey"] = '@pageKey';


            if (obj["ItemTypeKey"] == undefined && hierarchy != "Parent") {
                return;
            }

            
            $.blockUI($("#body"));
            $.ajax({
                url: '@Url.Action("CheckIfParentNavbarExists", "CMS")',
                type: 'POST',
                 data: {
                     p_key: '@pageKey',
                     item_name: itemName,
                    __RequestVerificationToken: $('@Html.AntiForgeryToken()').val(),

                },
                 success: function (data) {

                     if (data == 404) {
                         CreateItemNavbar(obj);
                     } else {
                         $.unblockUI($("#body"));
                         bootbox.alert({
                             message: ' الاسم موجود يرجى إختيار إسم أخر ',
                             buttons: {
                                 ok: {
                                     label: 'إغلاق'
                                 }
                             }
                         })
                     }
                },
                error: function (error) {
                    bootbox.alert({
                        message: ' حدث خطأ يرجى المحاولة مرة أخرى ',
                        buttons: {
                            ok: {
                                label: 'إغلاق'
                            }
                        }
                    })
                }
            });


        });


    function CreateItemNavbar(obj) {
        $.ajax({
                url: '@Url.Action("CreateItemNavbar", "CMS")',
                type: 'POST',
                 data: {
                     createItemNavbarModel: obj,
                    __RequestVerificationToken: $('@Html.AntiForgeryToken()').val(),

                },
                 success: function (data) {
                     $.unblockUI($("#body"));
                     if (data != "Error") {
                         //location.reload();

                         $(".close").click();
                         $("#navbarContainer").empty();
                         console.log(data);
                         $("#navbarContainer").append(data);
                         $('#main-menu').smartmenus();
                         initNavbarPartial();
                     }
                },
            error: function (error) {
                location.reload();
                $.unblockUI($("#body"));
                    bootbox.alert({
                        message: ' حدث خطأ يرجى المحاولة مرة أخرى ',
                        buttons: {
                            ok: {
                                label: 'إغلاق'
                            }
                        }
                    })
                }
            });
    }

        //EDIT Modal populate the Select
        var componentKey = @navBarItemComponentKey;
        $(document).on('click', "#EditBtn", function () {
             $.ajax({
                url: '@Url.Action("GetAllItems", "CMS")',
                type: 'POST',
                 data: {
                     navBarItemComponentKey: componentKey,
                     __RequestVerificationToken: $('@Html.AntiForgeryToken()').val()

                },
                 success: function (data) {

                     var select = $("#itemsDropdown");
                     $(select).empty();
                     $(select).append("<option></option>")
                     for (var i = 0; i < data.length; i++) {
                         var option = "<option value=" + data[i].Value + ">";
                         option += data[i].Text + "</option>";
                         $(select).append(option);
                     }
                },
                error: function (error) {
                    bootbox.alert({
                        message: ' حدث خطأ يرجى المحاولة مرة أخرى ',
                        buttons: {
                            ok: {
                                label: 'إغلاق'
                            }
                        }
                    })
                }
            });
        })

    $(document).on('click', "#addBtn", function () {
        FillAllDopdownsPages();
        $("#itemNavbarName").val("");
        $("#pdfContainer").hide();
        $("#pageContainer").hide();
        $("#parentTypeDropdown").empty();
        var res = "<option></option>";
        res += "<option value ='Pdf'>صفحة PDF</option>";
        res += "<option value='Page'>صفحة ويب</option>";
        $("#parentTypeDropdown").append(res);
        RefreshTypesDropDown();
        clearDropzoneItemAdd();

    })

        //DropZone
    var clearDropzone;
        Dropzone.options.hisAwesomeDropzone = {
            init: function () {
                var dropzone = this;
                clearDropzone = function () {
                    dropzone.removeAllFiles(true);
                }
            },
            acceptedFiles: ".pdf",
            maxFiles: 1,
            success: function (file, response) {
                //alert(response);
                //console.log("here");
                if (response != "Error") {
                    itemParentTypeKey = response;
                }
            }
        };

</script>