﻿@using MoAD.DataObjects.EDMX
@using MoAD.WebApplication.Models
@using MoAD.WebApplication.Managers
@{ 
    List<NavBarViewModel> NavbarData = (List<NavBarViewModel>)ViewData["NavbarData"];
    int languageIdentifier = (int)ViewData["LanguageIdentifier"];
    int slideIndex = 1;
}

@if (NavbarData.Count != 0)
{
    <div id="myCarousel" class="carousel slide" data-ride="carousel" dir="ltr" style="margin-bottom:20px;">
        <!-- Indicators -->

        <ol class="carousel-indicators">
            @for (var i = 0; i < NavbarData.Count(); i++)
            {
                <li data-target="#myCarousel" data-slide-to="@i" class=@(i==0 ? "active" : "")></li>
            }

        </ol>

        <!-- Wrapper for slides -->
        <div class="carousel-inner">
            @foreach (var item in NavbarData)
            {


                var image = item.Items.Where(i => i.ComponentIndex == 1).FirstOrDefault();
                var title = item.Items.Where(i => i.ComponentIndex == 2).FirstOrDefault();

                var paragraph = item.Items.Where(i => i.ComponentIndex == 3).FirstOrDefault();

                int? componentKey = item.Items.Where(i => i.ComponentIndex == 1).FirstOrDefault().ComponentKey;
                int?  redirectionEntity = int.Parse(Utilities.GetSliderImageEntity(componentKey)); 

                <div class="item   pointer @(slideIndex == 1? "active" : "")">
                    <button class="btn btn-danger del-btns" id="deleteSlideBtn" data-componentorder="@image.ComponentOrder" data-type="slide1" style="position:absolute;top:50%;left:50%;transform:translate(-50%,-50%);font-size:20px;z-index:9;">حذف السلايدر</button>
                    <div class="card card-to-remove" data-toggle="modal" data-target="#modalCards">
                        <img src="@Html.Raw(Url.Action("GetFilePathFromExtendedData","Files", new { extensionFileKey= redirectionEntity, resizeWidth = 1600, resizeHeight = 474 }))" class="slider_img" alt="Los Angeles" style="width:100%;">
                        <div class="carousel-caption">
                            <input type="hidden" value="@redirectionEntity" class="imageKeyinput" />
                            <h1 class="title" data-translation="@(title !=null ? title.Component.ComponentSourceEntityKey : "" )">@(title!=null ? Utilities.GetDataTransaltionByGuid(title.Component.ComponentSourceEntityKey, languageIdentifier): "" )</h1>

                            <p class="paragraph" data-translation="@(paragraph != null ? paragraph.Component.ComponentSourceEntityKey : "")">
                                @(paragraph!=null ? Utilities.GetDataTransaltionByGuid(paragraph.Component.ComponentSourceEntityKey, languageIdentifier) : "" )
                            </p>
                        </div>
                    </div>


                </div>
                slideIndex++;
            }



        </div>

        <!-- Left and right controls -->
        <a class="left carousel-control" href="#myCarousel" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#myCarousel" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
}
