﻿@using MoAD.DataObjects.EDMX
@using MoAD.WebApplication.Models
@using MoAD.WebApplication.Managers
@{
    List<NavBarViewModel> NavbarData = (List<NavBarViewModel>)ViewData["NavbarData"];
    int languageIdentifier = (int)ViewData["LanguageIdentifier"];

    HttpCookie languageCookie = Request.Cookies["Language"];
    var InitialDirection = "rtl";
    if (languageCookie != null && languageCookie.Value != "3")
    {
        InitialDirection = "ltr";
    }
    int wordsIndex = 1;
    int wordsLimit = 100;
}

<style>
    .insta-icon-slider{
        margin-top:6px;
    }

    .blog-slider {
        /*width: 95%;*/
        position: relative;
        margin-bottom: 70px;
        background: #fff;
        box-shadow: 0px 14px 80px rgba(34, 35, 58, 0.2);
        padding: 25px;
        border-radius: 25px;
        height: 400px;
        transition: all 0.3s;
    }

    .blog-slider__item.swiper-slide-active .blog-slider__img img {
        opacity: 1;
        transition-delay: 0.3s;
    }

    .blog-slider__item.swiper-slide-active .blog-slider__content > * {
        opacity: 1;
        transform: none;
    }

        .blog-slider__item.swiper-slide-active .blog-slider__content > *:nth-child(1) {
            transition-delay: 0.3s;
        }

        .blog-slider__item.swiper-slide-active .blog-slider__content > *:nth-child(2) {
            transition-delay: 0.4s;
        }

        .blog-slider__item.swiper-slide-active .blog-slider__content > *:nth-child(3) {
            transition-delay: 0.5s;
        }

        .blog-slider__item.swiper-slide-active .blog-slider__content > *:nth-child(4) {
            transition-delay: 0.6s;
        }

        .blog-slider__item.swiper-slide-active .blog-slider__content > *:nth-child(5) {
            transition-delay: 0.7s;
        }

        .blog-slider__item.swiper-slide-active .blog-slider__content > *:nth-child(6) {
            transition-delay: 0.8s;
        }

        .blog-slider__item.swiper-slide-active .blog-slider__content > *:nth-child(7) {
            transition-delay: 0.9s;
        }

        .blog-slider__item.swiper-slide-active .blog-slider__content > *:nth-child(8) {
            transition-delay: 1s;
        }

        .blog-slider__item.swiper-slide-active .blog-slider__content > *:nth-child(9) {
            transition-delay: 1.1s;
        }

        .blog-slider__item.swiper-slide-active .blog-slider__content > *:nth-child(10) {
            transition-delay: 1.2s;
        }

        .blog-slider__item.swiper-slide-active .blog-slider__content > *:nth-child(11) {
            transition-delay: 1.3s;
        }

        .blog-slider__item.swiper-slide-active .blog-slider__content > *:nth-child(12) {
            transition-delay: 1.4s;
        }

        .blog-slider__item.swiper-slide-active .blog-slider__content > *:nth-child(13) {
            transition-delay: 1.5s;
        }

        .blog-slider__item.swiper-slide-active .blog-slider__content > *:nth-child(14) {
            transition-delay: 1.6s;
        }

        .blog-slider__item.swiper-slide-active .blog-slider__content > *:nth-child(15) {
            transition-delay: 1.7s;
        }

    .blog-slider__img {
        width: 496px;
        flex-shrink: 0;
        height: 300px;
        background: linear-gradient(90deg, rgba(68,127,153,1) 12%, rgba(93,172,207,1) 46%, rgba(68,127,153,1) 92%);
        box-shadow: -1px 1px 5px 0px #447f99;
        border-radius: 20px;
        transform: translateX(-80px);
        overflow: hidden;
    }

    .ft1 {
        width: 100%;
        background-image: url(../Imag/ft7.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        min-height: 10vw !important;
    }



    .blog-slider__img:after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border-radius: 20px;
        opacity: 0.8;
    }

    .blog-slider__img img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        display: block;
        opacity: 0;
        border-radius: 20px;
        transition: all 0.3s;
    }

    .blog-slider__content {
        display: flex;
        align-items: center;
    }

        .blog-slider__content > * {
            opacity: 0;
            transform: translateY(25px);
            transition: all 0.4s;
        }

    .blog-slider__code {
        color: #7b7992;
        margin-bottom: 15px;
        display: block;
        font-weight: 500;
    }

    .blog-slider__title {
        font-size: 24px;
        font-weight: 700;
        color: #646464;
        margin-bottom: 20px;
    }

    .blog-slider__text {
        color: #646464;
        margin-bottom: 30px;
        line-height: 1.5em;
        width: 94%;
    }

    .blog-slider__button {
        display: inline-flex;
        background: linear-gradient(90deg, rgba(68,127,153,1) 12%, rgba(93,172,207,1) 46%, rgba(68,127,153,1) 92%);
        padding: 15px 35px;
        border-radius: 50px;
        color: #fff;
        box-shadow: 0px 3px 15px rgb(93 172 207);
        text-decoration: none;
        font-weight: bold;
        justify-content: center;
        text-align: center;
        letter-spacing: 1px;
        border: 0px;
    }

    .blog-slider .swiper-container-horizontal > .swiper-pagination-bullets, .blog-slider .swiper-pagination-custom, .blog-slider .swiper-pagination-fraction {
        bottom: 10px;
        left: 0;
        width: 100%;
    }

    .blog-slider__pagination {
        position: absolute;
        z-index: 21;
        right: 20px;
        width: 11px !important;
        text-align: center;
        left: auto !important;
        top: 50%;
        bottom: auto !important;
        transform: translateY(-50%);
    }

        .blog-slider__pagination .swiper-pagination-bullet {
            width: 11px;
            height: 11px;
            display: block;
            border-radius: 10px;
            background: #062744;
            opacity: 0.2;
            transition: all 0.3s;
        }

        .blog-slider__pagination .swiper-pagination-bullet-active {
            opacity: 1;
            background: #447F99 !important;
            height: 30px;
        }


    .social-icons-slider ul {
        list-style-type: none;
    }

    .social-icons-slider ul {
        display: flex;
        justify-content: center;
        margin-left: 33px;
        margin-top: -12px;
    }

    @@media(max-width:1024px) {
        .blog-slider__content {
            flex-direction: column;
        }

        .social-icons-slider ul {
            display: flex;
            justify-content: center;
            margin-left: 33px;
            margin-top: -12px;
        }

        .insta-icon-slider {
            height: 32px !important;
            margin-top: 6px;
        }
    }
</style>

@if (InitialDirection == "rtl")
{


    <style>
       /* .social-icons-slider {
            position: absolute;
            left: 0px;
        }*/

        .insta-icon-slider {
            margin-right: 5px;
        }
    </style>
}
else
{
    <style>
     /*   .social-icons-slider {
            position: absolute;
            right: 0px;
        }*/

        .insta-icon-slider {
            margin-left: 5px;
        }

        @@media(max-width:1024px) {

           /* .social-icons-slider ul {
                display: flex;
                justify-content: center;
                margin-left: 33px;
                margin-top: -12px;
            }*/
        }
    </style>
}


@if (InitialDirection == "rtl")
{

    <style>
        .blog-slider__img {
            width: 496px;
            flex-shrink: 0;
            height: 300px;
            background: linear-gradient(90deg, rgba(68,127,153,1) 12%, rgba(93,172,207,1) 46%, rgba(68,127,153,1) 92%);
            box-shadow: -1px 1px 5px 0px #447f99;
            border-radius: 20px;
            transform: translateX(-12px) !important;
            overflow: hidden;
        }

        .blog-slider__content {
            padding-right: 122px;
        }

        .blog-slider__pagination {
            position: absolute;
            z-index: 21;
            right: 20px;
            width: 11px !important;
            text-align: center;
            /*  left: auto !important;*/
            top: 50%;
            bottom: auto !important;
            transform: translateY(-50%);
        }
    </style>
}
else
{
    <style>
        .flex-item-1 {
            margin: 0px;
        }

        .blog-slider__img {
            width: 496px;
            flex-shrink: 0;
            height: 300px;
            background: linear-gradient(90deg, rgba(68,127,153,1) 12%, rgba(93,172,207,1) 46%, rgba(68,127,153,1) 92%);
            box-shadow: -1px 1px 5px 0px #447f99;
            border-radius: 20px;
            transform: translateX(3px) !important;
            overflow: hidden;
        }

        .blog-slider__content {
            padding-left: 40px;
        }

        .blog-slider__pagination {
            position: absolute;
            z-index: 21;
            left: 10px !important;
            width: 11px !important;
            text-align: center;
            right: auto !important;
            top: 50%;
            bottom: auto !important;
            transform: translateY(-50%);
        }
    </style>
}

@if (NavbarData.Count != 0)
{
<div class="blog-slider">

    <div class="blog-slider__wrp swiper-wrapper">
        @foreach (var item in NavbarData)
        {
            var image = item.Items.Where(i => i.ComponentIndex == 1).FirstOrDefault();
            var title = item.Items.Where(i => i.ComponentIndex == 2).FirstOrDefault();
            var paragraph = item.Items.Where(i => i.ComponentIndex == 3).FirstOrDefault();
            string paragFull = Utilities.GetDataTransaltionByGuid(paragraph.Component.ComponentSourceEntityKey, languageIdentifier).Trim();
            string[] words = paragFull.Split(' ');

            <div class="blog-slider__item swiper-slide card card-to-remove">
                <div class="blog-slider__img card-to-remove" data-toggle="modal" data-target="#modalCards">
                    <img src="@Url.Action("GetFilePathFromExtendedData","Files", new { extensionFileKey= image.Component.ComponentSourceEntityKey })" alt="">
                </div>

                <input type="hidden" value="@image.Component.ComponentSourceEntityKey" class="imageKeyinput" />
                <div class="blog-slider__content" style="margin-top:25px;">

                    <div class="flex-item-1">
                        <div class="blog-slider__title title card-to-remove" data-toggle="modal" data-target="#modalCards" data-translation="@title.Component.ComponentSourceEntityKey">
                            @Utilities.GetDataTransaltionByGuid(title.Component.ComponentSourceEntityKey, languageIdentifier)
                        </div>

                        <div class="blog-slider__text paragraph card-to-remove" data-toggle="modal" data-target="#modalCards" data-translation="@paragraph.Component.ComponentSourceEntityKey">
                            @if (words.Length > wordsLimit)
                            {
                                foreach (var word in words)
                                {
                                    if (wordsIndex == wordsLimit)
                                    {
                                        break;
                                    }
                                    @(word + " ")
                                    wordsIndex++;
                                }
                            }
                            else
                            {
                                @paragFull
                            }


                        </div>
                        @if (words.Length > wordsLimit)
                        {
                            <div class="hidden-text" style="display:none;">
                                @paragFull
                            </div>
                            <button href="#" class="blog-slider__button" data-toggle="modal" data-target="#exampleModal1">اقرأ المزيد</button>
                        }
                        <button class="btn btn-danger del-btns" id="deleteSlideBtn" data-componentorder="@image.ComponentOrder" data-type="slider2" style="font-size:20px;">حذف السلايدر</button>
                        <div class="social-icons-slider" style="margin-top:3%;">
                            <ul>
                                <li><a href="https://m.facebook.com/story.php?story_fbid=368555808642122&id=100064631174437" target="_blank"><img class="fb-icon-slider" src=@Url.Content("~/Images/logos/facebook-slider.png") style="height:45px; cursor:pointer;" /></a></li>
                                <li><a href="https://t.me/moa128" target="_blank"><img class="insta-icon-slider" src=@Url.Content("~/Images/logos/telegram-slider.png") style="height: 32px;  cursor: pointer;" /></a></li>

                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        }

    </div>
    <div class="blog-slider__pagination"></div>
  
</div>

}


<script>
    $(document).on('click', '.blog-slider__button', function () {
        console.log("blog-slider__buttonblog-slider__buttonblog-slider__button");
        var parent = $(this).parent();
        var children = $(parent).children();
        var title = $(children[0]).text();
        var text = $(children[2]).text();
        $(".modal-head-title").text(title);
        $(".modal-head-text").text(text);


    })
    $(document).ready(function () {
        var swiper = new Swiper('.blog-slider', {
            spaceBetween: 30,
            effect: 'fade',
            loop: true,
            mousewheel: {
                invert: false,
            },
            // autoHeight: true,
            pagination: {
                el: '.blog-slider__pagination',
                clickable: true,
            }
        });
    })

</script>

