﻿@using Microsoft.AspNet.Identity
@using MoAD.DataObjects.EDMX
@using MoAD.WebApplication.Models;

@{
    ViewBag.Title = "CreateDataTranslation";
    Layout = null;
    HttpCookie languageCookie = Request.Cookies["Language"];
    var InitialDirection = "rtl";
    if (languageCookie != null && languageCookie.Value != "3")
    {
        InitialDirection = "ltr";
    }
     Dictionary<string, string> Locale = ViewBag.Locale;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <title> CreateDataTranslation</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="@Url.Content("~/assets/NewPages/bootstrap/bootstrap.min.css")">
    <link rel="stylesheet" href="@Url.Content("~/assets/NewPages/slider2/normalize.css")">
    <link rel='stylesheet' href="@Url.Content("~/assets/NewPages/slider2/swiper.css")">
    <script src="@Url.Content("~/assets/NewPages/jquery/jquery.min.js")"></script>
    <script src="@Url.Content("~/assets/NewPages/bootstrap/bootstrap.min.js")"></script>

    <link href="@Url.Content("~/content/header/sm-core-css.css")" rel="stylesheet" />
    <link href="@Url.Content("~/content/header/sm-blue.css")" rel="stylesheet" />

    <link href="@Url.Content("~/content/header/sm-core-css.css")" rel="stylesheet" />
    <link href="@Url.Content("~/content/header/sm-blue.css")" rel="stylesheet" />
    @*<script src="@Url.Content("~/Scripts/vendors/jquery/jquery.min.js")"></script>*@
    <link href="@Url.Content("~/Content/SharedLayout.css")" rel="stylesheet" />
    <link href="@Url.Content("~/Content/Css/font-awesome.min.css")" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="https://unpkg.com/dropzone@5/dist/min/dropzone.min.css" type="text/css" />

    <script src="@Url.Content("~/scripts/header/jquery.smartmenus.js")"></script>
    <script src="https://unpkg.com/dropzone@5/dist/min/dropzone.min.js"></script>


    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>

    <link rel="apple-touch-icon" sizes="180x180" href="@Url.Content("~/assets/app/media/img/favicon/apple-touch-icon.png")">
    <link rel="icon" type="image/png" sizes="32x32" href="@Url.Content("~/assets/app/media/img/favicon/favicon-32x32.png")">
    <link rel="icon" type="image/png" sizes="16x16" href="@Url.Content("~/assets/app/media/img/favicon/favicon-16x16.png")">
    <link rel="manifest" href="@Url.Content("~/assets/app/media/img/favicon/site.webmanifest")">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">

    <style>
        .mt-1{
            margin-top:10px;
        }
    </style>

</head>


<body style="background:white">
    <h1>Generate Guid For DataTranslation</h1>
    <div class="row">
        <div class="col-lg-4">
            <textarea placeholder="arabic" class="form-control" id="arabicValue"></textarea>
        </div>
        <div class="col-lg-4">
            <textarea placeholder="english" class="form-control" id="englishValue"></textarea>
        </div>
        <div class="col-lg-4">
            <select id="pageDropdown" class="form-control">
                <option value="Markaz">Markaz</option>
                <option value="Manbar">Manbar</option>
                <option value="Marsad">Marsad</option>
            </select>
        </div>
    </div>
    <div class="row mt-1" style="text-align:end;">
        <div class="col-lg-6">

        </div>
        <div class="col-lg-6">
            <button class="btn btn-primary" id="GenerateBtn">Generate</button>
        </div>
    </div>
    <div class="row mt-1" style="text-align:end;" id="successContainer" hidden>
        <div class="col-lg-6">

        </div>
        <div class="col-lg-3">
            <input class="form-control" id="guidInput" />
        </div>
        <div class="col-lg-3">
            <button class="form-control" id="cancelBtn">Cancel</button>
        </div>
    </div>

    <h1>Generate File For Images</h1>
    <div class="row">
        <div class="col-lg-6">
            <form action="@Url.Action("UploadFile")"
                  class="dropzone"
                  id="my-awesome-dropzone"></form>
        </div>
        <div class="col-lg-6">
            <select id="pageDropdownImage" class="form-control">
                <option value="Markaz">Markaz</option>
                @*<option value="Manbar">Manbar</option>
                <option value="Marsad">Marsad</option>*@
            </select>
        </div>
    </div>
    <div class="row mt-1" style="text-align:end;">
        <div class="col-lg-6">

        </div>
        <div class="col-lg-6">
            <button class="btn btn-primary" id="GenerateFileBtn">Generate File</button>
        </div>
    </div>
    <div class="row mt-1" style="text-align:end;" id="successFileContainer" hidden>
        <div class="col-lg-6">

        </div>
        <div class="col-lg-3">
            <input class="form-control" id="fileInput" />
        </div>
        <div class="col-lg-3">
            <button class="form-control" id="cancelFileBtn">Cancel</button>
        </div>
    </div>


    <script>
        let myDropzone =new Dropzone("#my-awesome-dropzone", { /* options */ });
        myDropzone.on("success", file => {
            console.log("A file has been added");
        });
        $("#pageDropdown").select2({ placeholder: "select page" });
        $("#pageDropdownImage").select2({ placeholder: "select page" });

        $("#GenerateBtn").click(function () {
            var arValue = $("#arabicValue").val();
            var engValue = $("#englishValue").val();
            var pageName = $("#pageDropdown option:selected").val();


            if (engValue != '' && arValue != '' && pageName != '') {
                $("#arabicText").val(arValue);
                $("#englishText").val(engValue);
                $("#pageName").val(pageName);

                $.ajax({
                url: '@Url.Action("GenerateGuidForDataTranslation", "CMS")',
                type: 'POST',
                data: {
                    __RequestVerificationToken: $('@Html.AntiForgeryToken()').val(),
                    arabicText: arValue,
                    englishText: engValue,
                    pageName: pageName
                },
                success: function (data) {
                    if (data != "Error") {
                        $("#guidInput").val(data);
                        $("#successContainer").show();
                    }
                },
                error: function (error) {
                    // when an error occure this error function will be called
                }
            });

            }
        })

        $("#GenerateFileBtn").click(function () {
            $.ajax({
                url: '@Url.Action("GetFileExtensionKeyForVideo", "CMS")',
                type: 'POST',
                data: {
                    __RequestVerificationToken: $('@Html.AntiForgeryToken()').val()
                },
                success: function (data) {
                    if (data != "Error") {
                        $("#fileInput").val(data);
                        $("#successFileContainer").show();
                    }
                },
                error: function (error) {
                    // when an error occure this error function will be called
                }
            });
        })

        $("#cancelBtn").click(function () {
            $("#guidInput").val('');
             $("#arabicValue").val('');
             $("#englishValue").val('');
            $("#successContainer").hide();
        })

        
        $("#cancelFileBtn").click(function () {
            $("#fileInput").val('');
            $("#successContainer").hide();
        })
    </script>

</body>
</html>
