﻿
@{
    Layout = "~/Views/Shared/_LayoutCMS.cshtml";
    ViewBag.Title = "Index";
}


@Styles.Render("~/assets/vendors/fontawesome/css/all.min.css")

<style>
    h2 {
        font-size: 3.1rem;
        font-weight: 400;
    }

    p {
        font-size: 2rem;
        color: #7D7878;
    }


    .container {
        margin-top: 1.25rem;
    }

    .nav-elements {
        margin-top: 21px;
        margin-right: 68px;
    }

        .nav-elements ul {
            list-style-type: none;
            display: flex;
        }

            .nav-elements ul li {
                padding-right: 20px;
            }



                .nav-elements ul li button {
                    padding: 10px 40px;
                    border-radius: 8px;
                    color: white;
                    background: #19264d;
                    border: 0px;
                    font-weight: bold;
                    box-shadow: 4px 5px 6px 0px #00000040 !important;
                }


    .img-container {
        width: 7vw;
        height: 6vw;
        border-radius: 50%;
        background: white;
    }

        .img-container img {
            width: 7vw;
            height: 6vw;
            border-radius: 50%;
        }

    .btn {
        padding: 10px 30px;
        text-align: center;
        font-weight: bold;
        background: #19264d;
        color: white;
        border: 0px;
        border-radius: 6px;
        box-shadow: 4px 5px 6px 0px #00000040 !important;
    }

    i {
        cursor: pointer;
        padding: 4px;
    }

    .btn-child {
        margin-top: 10px;
        text-align: center;
        font-weight: bold;
        background: #19264d;
        color: white;
        border: 0px;
        border-radius: 6px;
        box-shadow: 4px 5px 6px 0px #00000040 !important;
    }

    textarea {
        width: 20vw;
        height: 9vw;
        box-shadow: 4px 5px 6px 0px #00000040 !important;
        border-radius: 5px;
        font-size: 21px;
    }

    hr {
        border: 1px solid #0000002b;
        margin-top: 30px;
    }

    .flex {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .carousel-item {
        position: relative;
    }

    .custom-checkbox {
        margin: 10px;
    }

    .carousel-item::after {
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        border-radius: 7px;
        background: #2f2f302e;
    }

    .buttons-container {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        z-index: 2;
        padding: 70px;
        border-radius: 3px;
        background: #0000008a;
    }
    .header-text::before {
        content: '';
        position: absolute;
        background: #3b7fb7;
        width: 178px;
        height: 2px;
        bottom: 6px;
        left: 50%;
        transform: translateX(-50%);
        
    }

    iframe{
        width:100%;
        width:600px;
        height:450px;
        border:0;
    }

    
</style>



<div dir="rtl" class="container">
    <section class="header-section">
        <div class="row text-center">
            <div class="col-lg-12 header-text">
                <h2>أساسيات الموقع</h2>
            </div>
            <div class="col-lg-12">
                <p class="text-center">
                    في هذا القسم ، يمكنك تخصيص محتوى العنوان وكذلك صورة موقع الويب
                </p>
            </div>


        </div>

        <div class="row text-center" style="margin-top:53px">
            <div class="col-lg-3 flex">

                <p><label for="label1">العنوان</label></p>
                <textarea id="label1">الجمهورية العربية السورية
وزارة التنمية اإلدارية</textarea>
            </div>
            <div class="col-lg-6 flex">

                <p>الصورة</p>
                <div class="img-container">
                    <img src="~/Images/bg2.jpg" />
                </div>

                <div class="row" style="margin-top:20px;margin-bottom:20px">

                    <div class="col-lg-6 col-md-6">
                        <button class="btn" id="dropzone1">تعديل الصورة</button>
                    </div>


                    <div class="col-lg-6 col-md-6"><button class="btn">حذف الصورة</button></div>
                </div>
            </div>



            <div class="col-lg-3 flex">
                <p><label for="label2">العنوان</label></p>
                <textarea id="label2">المشروع الوطني للإصلاح الإداري الجمهورية العربية السورية</textarea>
            </div>
        </div>
    </section>
    <hr />

    <section class="navbar-section">
        <div class="row text-center" style="margin-top:53px">
            <div class="col-lg-12 header-text">
                <h2>القائمة الرئيسية</h2>
            </div>

            <div class="col-lg-12">
                <button style=" color: #337AB4; font-weight: bold; border: 0;font-size:21px;outline:0px;background:none;" data-toggle="modal" data-target="#modalcreate"><i class="fas fa-plus" style="margin:10px;"></i>اضافة عنصر جديد</button>
            </div>
            <div class="col-lg-12">
                <p class="text-center">
                    في هذا القسم ، يمكنك عرض
                    العناصر أو إضافة عناصر مختلفة أو تحريرها أو حذفها
                </p>
            </div>

        </div>

        <div class="row">

            <div>
                <div class="nav-elements">
                    <ul>
                        <li id="1">
                            <button class="item-btn">العنصر</button><i class="fas fa-caret-down toggleBtn"></i><i class="fas fa-times"></i>
                            <ul style="display: flex; flex-direction: column;" class="childs-container">
                                <li><button class="btn-child item-btn">العنصر 34</button><i class="fas fa-times"></i></li>
                                <li><button class="btn-child item-btn">العنصر 34</button><i class="fas fa-times"></i></li>
                                <li><button class="btn-child item-btn">العنصر 34</button><i class="fas fa-times"></i></li>
                            </ul>
                        </li>
                        <li>
                            <button class="item-btn">العنصر</button><i class="fas fa-times"></i>
                        </li>
                        <li><button class="item-btn">العنصر</button><i class="fas fa-times"></i></li>
                        <li><button class="item-btn">العنصر</button><i class="fas fa-times"></i></li>
                        <li id="2">
                            <button class="item-btn">العنصر</button><i class="fas fa-caret-down toggleBtn"></i><i class="fas fa-times"></i>
                            <ul style="display: flex; flex-direction: column;" class="childs-container">
                                <li><button class="btn-child item-btn">العنصر 34</button><i class="fas fa-times"></i></li>
                                <li><button class="btn-child item-btn">العنصر 34</button><i class="fas fa-times"></i></li>
                                <li><button class="btn-child item=btn">العنصر 34</button><i class="fas fa-times"></i></li>
                            </ul>
                        </li>
                        <li>
                    </ul>
                </div>
            </div>

        </div>

        <div class="container edit-container" style=" border-radius: 10px; border: 4px solid #222f54; padding: 10px;">
            <div class="row">
                <div class="col-lg-12">
                    <div class="heading-text">
                        <h2 class="text-center">
                            تعديل  العنصر
                        </h2>
                    </div>
                </div>

                <div class="col-lg-12">
                    <p class="text-center">
                        أدخل تفاصيل العنصر
                    </p>
                </div>

            </div>


            <div class="row">
                <div class="col-lg-2"></div>
                <div class="col-lg-8 text-right">
                    <div class="form-group">
                        <label for="formGroupExampleInput">اسم العنصر</label>
                        <input type="text" class="form-control" />
                    </div>
                </div>
                <div class="col-lg-2"></div>
            </div>

            <div class="row">
                <div class="col-lg-2"></div>
                <div class="col-lg-8 text-right">
                    <div class="form-group">
                        <label for="formGroupExampleInput">وصف</label>
                        <div class="row">
                            <div class="col-lg-10">
                                <div class="row">
                                    <div class="custom-control custom-checkbox">
                                        <input type="checkbox" class="custom-control-input" id="customCheck1">
                                        <label class="custom-control-label" for="customCheck1">Web</label>
                                    </div>
                                    <div class="custom-control custom-checkbox">
                                        <input type="checkbox" class="custom-control-input" id="customCheck2">
                                        <label class="custom-control-label" for="customCheck2">Image</label>
                                    </div>
                                    <div class="custom-control custom-checkbox">
                                        <input type="checkbox" class="custom-control-input" id="customCheck3">
                                        <label class="custom-control-label" for="customCheck3">PDF</label>
                                    </div>
                                </div>

                            </div>
                            <div class="col-lg-2"></div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2"></div>
            </div>

            <div class="row">
                <div class="col-lg-2"></div>
                <div class="col-lg-8 text-right">
                    <div class="form-group">
                        <label for="formGroupExampleInput">URL</label>
                        <input type="text" class="form-control" />
                    </div>
                </div>
                <div class="col-lg-2"></div>
            </div>

            <div class="row">
                <div class="col-lg-2"></div>
                <div class="col-lg-8 text-right">
                    <div class="form-group">
                        <label for="formGroupExampleInput">الأب</label>
                        <select class="custom-select">
                            <option selected>No parent</option>
                            <option value="1">One</option>
                            <option value="2">Two</option>
                            <option value="3">Three</option>
                        </select>
                    </div>
                </div>
                <div class="col-lg-2"></div>
            </div>

            <div class="row">
                <div class="col-lg-2"></div>
                <div class="col-lg-8 text-right">
                    <button class="btn"> حفظ</button>
                    <button class="btn" id="cancel-edit" style="background: #337ab7"> إلغاء</button>
                </div>


                <div class="col-lg-2"></div>
            </div>
        </div>

    </section>

    <hr />
    <section class="carousel-section">
        <div class="row text-center" style="margin-top:53px">
            <div class="col-lg-12 header-text">
                <h2>شريط التنقل</h2>
            </div>
            <div class="col-lg-12">
                <p>
                    في هذا القسم ، يمكنك عرض شريط التنقل الحالي و إضافة عناصر مختلفة أو تحريرها أو حذفها
                </p>
            </div>


        </div>

        <div class="row">
            <div class="col-lg-1"></div>
            <div class="col-lg-10">
                <div id="carouselExampleControls" class="carousel slide" style="height:100%;" data-ride="carousel">
                    <div class="carousel-inner" style="border-radius:7px">
                        <div class="carousel-item active">
                            <img class="d-block w-100" src="~/Images/bg2.jpg" alt="First slide">
                            <div class="buttons-container text-center">
                                <div class="row">
                                    <div class="col-lg-6">
                                        <button class="btn" id="dropzone2">تعديل الصورة</button>

                                    </div>
                                    <div class="col-lg-6">
                                        <button class="btn" data-toggle="modal" data-target="#modalchangetext">Change text</button>
                                    </div>

                                </div>
                                <div class="row" style="margin-top:30px">
                                </div>
                            </div>

                        </div>
                        <div class="carousel-item">
                            <img class="d-block w-100" src="~/Images/bg2.jpg" alt="First slide">
                            <div class="buttons-container text-center">
                                <div class="row">
                                    <div class="col-lg-6">
                                        <button class="btn" onclick="document.getElementById('file1').click();">تعديل الصورة</button>
                                        <input type="file" name="file" style="display:none;" id="file1" />
                                    </div>
                                    <div class="col-lg-6">
                                        <button class="btn" data-toggle="modal" data-target="#modalchangetext">Change text</button>
                                    </div>

                                </div>
                                <div class="row" style="margin-top:30px">

                                </div>
                            </div>
                        </div>
                    </div>

                    <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div>
            </div>
            <div class="col-lg-1"></div>
        </div>
    </section>

    <hr />




    <section class="modals-section">

        <div class="modal fade" id="modalcreate" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">

                    <div class="modal-body">

                        <div class="row">
                            <div class="col-lg-12">
                                <div class="heading-text">
                                    <h2 class="text-center">
                                        إنشاء عنصر جديد
                                    </h2>
                                </div>
                            </div>

                            <div class="col-lg-12">
                                <p class="text-center">
                                    أدخل تفاصيل العنصر
                                </p>
                            </div>

                        </div>


                        <div class="row">
                            <div class="col-lg-2"></div>
                            <div class="col-lg-8 text-right">
                                <div class="form-group">
                                    <label for="formGroupExampleInput">اسم العنصر</label>
                                    <input type="text" class="form-control" />
                                </div>
                            </div>
                            <div class="col-lg-2"></div>
                        </div>

                        <div class="row">
                            <div class="col-lg-2"></div>
                            <div class="col-lg-8 text-right">
                                <div class="form-group">
                                    <label for="formGroupExampleInput">وصف</label>
                                    <div class="row">
                                        <div class="col-lg-10">
                                            <div class="row">
                                                <div class="custom-control custom-checkbox">
                                                    <input type="checkbox" class="custom-control-input" id="customCheck1">
                                                    <label class="custom-control-label" for="customCheck1">Web</label>
                                                </div>
                                                <div class="custom-control custom-checkbox">
                                                    <input type="checkbox" class="custom-control-input" id="customCheck2">
                                                    <label class="custom-control-label" for="customCheck2">Image</label>
                                                </div>
                                                <div class="custom-control custom-checkbox">
                                                    <input type="checkbox" class="custom-control-input" id="customCheck3">
                                                    <label class="custom-control-label" for="customCheck3">PDF</label>
                                                </div>
                                            </div>

                                        </div>
                                        <div class="col-lg-2"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-2"></div>
                        </div>

                        <div class="row">
                            <div class="col-lg-2"></div>
                            <div class="col-lg-8 text-right">
                                <div class="form-group">
                                    <label for="formGroupExampleInput">URL</label>
                                    <input type="text" class="form-control" />
                                </div>
                            </div>
                            <div class="col-lg-2"></div>
                        </div>

                        <div class="row">
                            <div class="col-lg-2"></div>
                            <div class="col-lg-8 text-right">
                                <div class="form-group">
                                    <label for="formGroupExampleInput">الأب</label>
                                    <select class="custom-select">
                                        <option selected>No parent</option>
                                        <option value="1">One</option>
                                        <option value="2">Two</option>
                                        <option value="3">Three</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-lg-2"></div>
                        </div>

                        <div class="row">
                            <div class="col-lg-2"></div>
                            <div class="col-lg-8 text-right">
                                <button class="btn"> حفظ</button>
                                <button class="btn" id="cancel-modal" style="background: #337ab7"> إلغاء</button>
                            </div>


                            <div class="col-lg-2"></div>
                        </div>

                    </div>
                </div>
            </div>
        </div>


        <div class="modal fade" id="modalchangetext" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">

                    <div class="modal-body">

                        <div class="row">
                            <div class="col-lg-12">
                                <div class="heading-text">
                                    <h2 class="text-center">
                                        إنشاء عنصر جديد
                                    </h2>
                                </div>
                            </div>

                            

                        </div>



                        <div class="row">
                            <div class="col-lg-2"></div>
                            <div class="col-lg-8 text-right">
                                <div class="form-group">
                                    <label for="formGroupExampleInput">أدخل النص</label>
                                    <textarea></textarea>
                                </div>
                            </div>
                            <div class="col-lg-2"></div>
                        </div>




                        <div class="row">
                            <div class="col-lg-2"></div>
                            <div class="col-lg-8 text-right">
                                <div class="form-group">
                                    <label for="formGroupExampleInput">اسم العنصر</label>
                                    <input type="text" class="form-control" />
                                </div>
                            </div>
                            <div class="col-lg-2"></div>
                        </div>

                        <div class="row">
                            <div class="col-lg-2"></div>
                            <div class="col-lg-8 text-right">
                                <div class="form-group">
                                    <label for="formGroupExampleInput">وصف</label>
                                    <div class="row">
                                        <div class="col-lg-10">
                                            <div class="row">
                                                <div class="custom-control custom-checkbox">
                                                    <input type="checkbox" class="custom-control-input" id="customCheck1">
                                                    <label class="custom-control-label" for="customCheck1">Web</label>
                                                </div>
                                                <div class="custom-control custom-checkbox">
                                                    <input type="checkbox" class="custom-control-input" id="customCheck2">
                                                    <label class="custom-control-label" for="customCheck2">Image</label>
                                                </div>
                                                <div class="custom-control custom-checkbox">
                                                    <input type="checkbox" class="custom-control-input" id="customCheck3">
                                                    <label class="custom-control-label" for="customCheck3">PDF</label>
                                                </div>
                                            </div>

                                        </div>
                                        <div class="col-lg-2"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-2"></div>
                        </div>

                        <div class="row">
                            <div class="col-lg-2"></div>
                            <div class="col-lg-8 text-right">
                                <div class="form-group">
                                    <label for="formGroupExampleInput">URL</label>
                                    <input type="text" class="form-control" />
                                </div>
                            </div>
                            <div class="col-lg-2"></div>
                        </div>



                        <div class="row">
                            <div class="col-lg-2"></div>
                            <div class="col-lg-8 text-right">
                                <button class="btn"> حفظ</button>
                                <button class="btn" id="cancel-modal" style="background: #337ab7"> إلغاء</button>
                            </div>


                            <div class="col-lg-2"></div>
                        </div>

                    </div>
                </div>
            </div>
        </div>



    </section>

    <section class="google-maps">
        
        <div id="map-canvas" style="width:500px; height:500px">
       
        </div>
    </section>
    <div class="container">
        <div class="form-group">
            <label for="formGroupExampleInput" id="coord">Enter coordinations</label>
            <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Example input">
            <input type="button" class="btn btn-primary" id="goBtn" value="GO" />
        </div>
        
    </div>

</div>


@section Scripts{

    <script src="https://unpkg.com/dropzone@5/dist/min/dropzone.min.js"></script>
    <link rel="stylesheet" href="https://unpkg.com/dropzone@5/dist/min/dropzone.min.css" type="text/css" />
    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false"></script>
 
    <script>



         var UploadDropZone = new Dropzone('#dropzone1', {

           url: '@Url.Action("ImgUpload", "CMS")',

           file: "file",

           maxFiles: 5,

           maxfilesexceeded: function (file) {

               this.removeFile(file);

           },

           maxFilesize: "@System.Configuration.ConfigurationManager.AppSettings["CROWDCONTENTUPLOADFILESIZE"]", // MB

           addRemoveLinks: true,

           acceptedFiles: ".xls,.xlsx,.ods,.png,.jpg,.jpeg,.jfif,.gif,.mp4,.pdf,.doc,.txt,.docs,.docx,.odt,.mpg, .mpeg, .m2v,.m4v,.wmv,.webm,.pptx,.pptm,.ppt,.zip,.rar",

           timeout: 180000,

           sending: function () {

 //when the file is send

           },

           removedfile: function (file) {

               //when you click on remove file

           },

           success: function (file, response) {

               // when the file is successfuly saved

           },

           error: function (file, error) {

               // when an error occure

           },



       });
        
        var UploadDropZone = new Dropzone('#dropzone2', {

           url: '@Url.Action("ImgUpload", "CMS")',

           file: "file",

           maxFiles: 5,

           maxfilesexceeded: function (file) {

               this.removeFile(file);

           },

           maxFilesize: "@System.Configuration.ConfigurationManager.AppSettings["CROWDCONTENTUPLOADFILESIZE"]", // MB

           addRemoveLinks: true,

           acceptedFiles: ".xls,.xlsx,.ods,.png,.jpg,.jpeg,.jfif,.gif,.mp4,.pdf,.doc,.txt,.docs,.docx,.odt,.mpg, .mpeg, .m2v,.m4v,.wmv,.webm,.pptx,.pptm,.ppt,.zip,.rar",

           timeout: 180000,

           sending: function () {

 //when the file is send

           },

           removedfile: function (file) {

               //when you click on remove file

           },

           success: function (file, response) {

               // when the file is successfuly saved

           },

           error: function (file, error) {

               // when an error occure

           },



       });


        $(".nav-elements ul li ul").css('display', 'none');
        $(".edit-container").css('display', 'none');
        $(document).on('click', '.toggleBtn', function () {

            var parent = $(this).parent();
            var parentId = parent.attr('id');
            var childs = parent.children();
            if (childs.length > 2) {
                $("#" + parentId + " > .childs-container").slideToggle();
            }
        })


        $(document).on('click', '.item-btn', function () {
            $(".edit-container").toggle();
        })

        $(document).on('click', '#cancel-edit', function () {
            $(".edit-container").css('display', 'none');
        })

        $(document).on('click', '#cancel-modal', function () {
            $("#modalcreate").fadeOut();
        })

        $('.carousel').carousel({
            interval: 0
        })
        $(document).ready(function () {
            

        })
        $("#goBtn").on('click', function () {
          
            var userVal = $("#formGroupExampleInput").val();
            var arr = userVal.split(',');
            var value1 = parseFloat(arr[0]);
            var value2 = parseFloat(arr[1]);
           
            myLatlng = new google.maps.LatLng(value1, value2);

            var mapOptions = {
                zoom: 8,
                center: myLatlng,
                mapTypeId: google.maps.MapTypeId.ROADMAP
            }
            var map = new google.maps.Map(document.getElementById('map-canvas'), mapOptions);

            //=====Initialise Default Marker    
            var marker = new google.maps.Marker({
                position: myLatlng,
                map: map,
                title: 'marker'
                //=====You can even customize the icons here
            });

            //=====Initialise InfoWindow
            var infowindow = new google.maps.InfoWindow({
                content: "<B>Skyway Dr</B>"
            });
           
            
        })
        
        initialize();
        var mylatlng = "";
        function initialize() {
           
      

            myLatlng = new google.maps.LatLng(34.066704624414550, 35.64777978441727);
            var mapOptions = {
                zoom: 8,
                center: myLatlng,
                mapTypeId: google.maps.MapTypeId.ROADMAP
            }
            var map = new google.maps.Map(document.getElementById('map-canvas'), mapOptions);

            //=====Initialise Default Marker    
            var marker = new google.maps.Marker({
                position: myLatlng,
                map: map,
                title: 'marker'
                //=====You can even customize the icons here
            });

            //=====Initialise InfoWindow
            var infowindow = new google.maps.InfoWindow({
                content: "<B>Skyway Dr</B>"
            });

            //=====Eventlistener for InfoWindow
            google.maps.event.addListener(marker, 'click', function () {
                infowindow.open(map, marker);
            });
        }

        google.maps.event.addDomListener(window, 'load', initialize);

       
        function Coordinates(param1, param2) {
            myLatlng = new google.maps.LatLng(parseFloat(param1), parseFloat(param2));
        }
        


    </script>










}

