﻿@using Microsoft.AspNet.Identity
@using MoAD.DataObjects.EDMX
@using MoAD.WebApplication.Objects
@using MoAD.WebApplication.Managers
@using MoAD.WebApplication.Models;

@{
    ViewBag.Title = "Home Page";
    Layout = null;
    HttpCookie languageCookie = Request.Cookies["Language"];
    var InitialDirection = "rtl";
    if (languageCookie != null && languageCookie.Value != "3")
    {
        InitialDirection = "ltr";
    }
    List<GetAdManagerForms_Result> Estetla3Ra2iPublishedFormsForManbar = ViewBag.Estetla3Ra2iPublishedForms;

    if (Estetla3Ra2iPublishedFormsForManbar == null)
    {
        Estetla3Ra2iPublishedFormsForManbar = new List<GetAdManagerForms_Result>();
    }

    int navBarItemComponentKey = (int)ViewBag.NavBarItemComponentKey;
    int pageKey = (int)ViewBag.PageKey;
    List<NavBarViewModel> NavbarData = (List<NavBarViewModel>)ViewBag.NavbarData;
    //List<PageComponentsHierarchy> allComponentsInPage = (List<PageComponentsHierarchy>)ViewBag.allComponentsInPage;
    //List<Dictionary<string, object>> allChildrenComponentsInPageDictionary = (List<Dictionary<string, object>>) ViewBag.allChildrenComponentsInPageDictionary;
    Dictionary<string, string> Locale = ViewBag.Locale;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <title> الصفحة الرئيسية</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="@Url.Content("~/assets/NewPages/bootstrap/bootstrap.min.css")">
    <link rel="stylesheet" href="@Url.Content("~/assets/NewPages/slider2/normalize.css")">
    <link rel='stylesheet' href="@Url.Content("~/assets/NewPages/slider2/swiper.css")">
    <script src="@Url.Content("~/assets/NewPages/jquery/jquery.min.js")"></script>
    <script src="@Url.Content("~/assets/NewPages/bootstrap/bootstrap.min.js")"></script>

    <link href="@Url.Content("~/content/header/sm-core-css.css")" rel="stylesheet" />
    <link href="@Url.Content("~/content/header/sm-blue.css")" rel="stylesheet" />

    <link href="@Url.Content("~/content/header/sm-core-css.css")" rel="stylesheet" />
    <link href="@Url.Content("~/content/header/sm-blue.css")" rel="stylesheet" />
    @*<script src="@Url.Content("~/Scripts/vendors/jquery/jquery.min.js")"></script>*@
    <link href="@Url.Content("~/Content/SharedLayout.css")" rel="stylesheet" />
    <link href="@Url.Content("~/Content/Css/font-awesome.min.css")" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="https://unpkg.com/dropzone@5/dist/min/dropzone.min.css" type="text/css" />

    <script src="@Url.Content("~/scripts/header/jquery.smartmenus.js")"></script>
    <script src="https://unpkg.com/dropzone@5/dist/min/dropzone.min.js"></script>


    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>

    <link rel="apple-touch-icon" sizes="180x180" href="@Url.Content("~/assets/app/media/img/favicon/apple-touch-icon.png")">
    <link rel="icon" type="image/png" sizes="32x32" href="@Url.Content("~/assets/app/media/img/favicon/favicon-32x32.png")">
    <link rel="icon" type="image/png" sizes="16x16" href="@Url.Content("~/assets/app/media/img/favicon/favicon-16x16.png")">
    <link rel="manifest" href="@Url.Content("~/assets/app/media/img/favicon/site.webmanifest")">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">


    <style>
        @@font-face {
        font-family: 'ge_dinar_onemedium';
        src:url('@Url.Content("~/assets/vendors/Fonts/GE Dinar One Medium.ttf")') format('truetype'),
            url('@Url.Content("~/assets/vendors/Fonts/ge-dinar-one-medium-webfont.woff2")') format('woff2'),
            url('@Url.Content("~/assets/vendors/Fonts//ge-dinar-one-medium-webfont.woff")') format('woff');
        font-weight: normal;
        font-style: normal;
    }

        .carousel-caption p {
            font-size: 25px;
            background: rgb(129 46 53 / 20%);
        }
        .modal-body label {
            color: #7c7c7c;
        }

        .modal-body select {
            cursor: pointer;
        }

        .modal-body input {
            margin-top: 10px;
        }

       

        .modal label {
            font-size: 18px;
            font-weight: normal;
            margin-top: 5px;
        }

        .modal button, .modal input[type="button"] {
            font-size: 15px;
        }

        .modal select {
            width: 100%;
        }

        .modal-body {
            padding: 5px !important;
        }
        body {
            background: url(../Images/backgrounds/background.jpg) !important;
            background-repeat: no-repeat !important;
            background-size: cover !important;
            padding-top: 38px;
        }

        [dir="rtl"] {
            background-color: white !important;
        }

        body, h1, h2, h3, h4, h5, h6 {
            font-family: 'ge_dinar_onemedium' !important;
        }
        ul a{
            cursor:pointer;
        }
        .sm-blue a, .sm-blue a:hover, .sm-blue a:focus, .sm-blue a:active {
            font-family: 'ge_dinar_onemedium' !important;
        }

        button,a {
            font-family: 'ge_dinar_onemedium' !important;
        }

        a {
            border-bottom: none !important;
        }

        h4, h3 {
            font-weight: normal !important;
        }

        .sm-blue li ul::-webkit-scrollbar {
            background: #D2D2D6;
            width: 8px;
        }

        .sm-blue li ul::-webkit-scrollbar-thumb {
            background: #64A1BC;
        }

        #main-menu {
            border-radius: 0px;
        }

        .sm-blue, .sm-blue li .has-submenu, .sm-blue .element, .sm-blue .no-child {
            background: #447F99 !important;
        }

            .sm-blue a {
                font-weight: normal !important;
                padding: 17px !important;
                font-size: 17px !important;
            }

            .sm-blue li ul {
                width: max-content !important;
                background: #F7F8F9;
                height: 150px;
                min-height: 200px;
                border: 0px !important;
                overflow: scroll;
                overflow-x: hidden;
            }


            .sm-blue li ul {
                right: 0px;
            }

                .sm-blue li ul li {
                    float: none !important;
                }

            .sm-blue li .has-submenu:hover, .sm-blue li .has-submenu:focus {
                color: #447F99 !important;
                background: #F7F8F9 !important;
            }

                .sm-blue li .has-submenu:hover i {
                    color: #447F99 !important;
                    background: #F7F8F9 !important;
                }



            .sm-blue .has-submenu .sub-arrow {
                display: none;
            }

            .sm-blue > li {
                border-right: 1px solid white;
            }

            .sm-blue li ul a {
                background: #F7F8F9;
                color: #447F99;
            }

            .sm-blue i {
                font-size: 16px;
                color: white;
            }

        header button {
            border: none;
            margin-bottom: 4px;
            background: none;
            font-size: 17px;
            color: #447F99;
            font-weight: bold;
        }

            header button:first-child {
                border-right: 2px solid #447F99;
            }

        h1 {
            font-size: 2.5rem !important;
        }

        h2 {
            font-size: 2.06rem;
        }

        .service-box {
            position: absolute;
            top: 0;
            opacity: 0;
            left: 0;
            width: 100%;
            height: 100%;
            perspective: 1000px;
            -webkit-perspective: 1000px;
        }

        .service-icon {
            width: 100%;
            height: 220px;
            padding: 70px;
            text-align: center;
            transition: all .5s ease;
        }

        .service-content {
            position: absolute;
            top: 0;
            left: 0;
            z-index: 1;
            opacity: 0;
            width: 100%;
            height: 220px;
            padding: 20px;
            text-align: center;
            transition: all .5s ease;
            transform-style: preserve-3d;
            -webkit-transform: translateY(110px) rotateX(-90deg);
            -moz-transform: translateY(110px) rotateX(-90deg);
            -ms-transform: translateY(110px) rotateX(-90deg);
            -o-transform: translateY(110px) rotateX(-90deg);
            transform: translateY(110px) rotateX(-90deg);
        }



        .card {
            overflow: hidden;
            position: relative;
        }






        header {
            background: url(../Images/backgrounds/background.jpg) !important;
            background-repeat: no-repeat !important;
            background-size: cover !important;
            padding-top: 38px;
        }

        .contact-container {
            background: url(../Images/backgrounds/sharekna-bg.jpg) !important;
            background-position: center !important;
            background-repeat: no-repeat !important;
            background-size: cover !important;
        }

        .slider-container, .slider-container2 {
            background: #EDEDED;
            margin-top: 1.25rem;
            padding-top: 2.125rem;
        }

        .slider-container {
            border: 0.875rem solid #8E1927;
        }

        .slider-container2 {
            border: 0.875rem solid #447F99;
        }

        .slide-item {
            display: none
        }

        .img-container {
            height: 276px;
            transform: translateX(-47%);
            margin: 20px;
        }

        .text-container {
            padding: 7px 5px;
            background: white;
            transform: translateX(19%);
            box-shadow: 8px 11px 5px -3px rgba(0,0,0,0.58);
            margin: 20px;
            /*  min-width: 300px;*/
        }


        .img img {
            width: 12.75rem;
            margin: 76px 40px;
        }



        .slide-item, .slide-item2 {
            display: none
        }

        .show-slide, .show-slide2 {
            display: block !important;
        }


        .text-container p {
            line-height: 1.9;
            max-width: 25rem;
            font-size: 1.25rem;
        }

        .text-container h2 {
            text-shadow: 2px 7px 2px #bbadad;
            color: #8E1927;
            font-size: 2.125rem;
            border-bottom: 2px solid #8E1927;
        }


        .toggle-btns {
            display: flex;
            justify-content: center;
            margin-top: 0.625rem;
        }




            .toggle-btns ul {
                display: flex;
                justify-content: center;
                align-items: center;
                background: #BFBFBF;
                border-radius: 0.937rem;
                padding-left: 4px;
                padding-right: 4px;
                list-style-type: none;
            }

                .toggle-btns ul li button {
                    width: 1.25rem;
                    height: 1.25rem;
                    background: #959494;
                    margin: 3px;
                    border-radius: 50%;
                    cursor: pointer;
                    border: none;
                }

        .previous, .next, .previous2, .next2 {
            background: none;
            border: none;
        }

        .content-container {
            /* margin-left: 30px;
            margin-right: 30px;*/
            margin-bottom: 58px;
            background: white;
            /* border-top: 8px solid #447F99;*/
            /*padding-bottom: 20px;*/
        }


        .HeaderH1 {
            color: #5c6a72;
            font-weight: bold;
            text-align: center;
            line-height: 3.5;
            font-size: 2.9rem !important;
        }



            .content-container2 .active2 {
                background: #447F99 !important;
            }

        i {
            font-size: 2.625rem;
            color: #447F99;
        }

        .takarir-container {
            background-color: #447F99;
            margin: 30px;
            border-radius: 20px;
            padding: 10px;
        }

            .takarir-container h1 {
                color: white;
            }

        .takrir-ada2-container {
            background: url(../Images/takarir/تقرير-الأداء-الحكوميbutton.png);
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            height: 244px;
        }

        .coluxx1, .coluxx2, .coluxx3 {
            height: 20vw;
        }

        .coluxx1 {
            background-image: url(../Imag/block-17.png);
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
        }

        .coluxx2 {
            background-image: url(../Imag/block-7.png);
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
        }


        .coluxx3 {
            background-image: url(../Imag/block-5.png);
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
        }

        .card h3 {
            font-size: 17px;
        }

        .colu15 {
            background-image: url(../Imag/block-8.png);
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
        }

        .colu3, .colu4, .colu5, .colu6 {
            height: 320px;
        }

        .colu6 {
            background-image: url(../Images/backgrounds/haykal-bg.jpg);
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
        }

        .colu4 {
            background-image: url(../Images/backgrounds/business.png);
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
        }


        .colu3 {
            background-image: url(../Images/backgrounds/التعريف-بالمشروع.png);
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
        }

        .colu5 {
            background-image: url(../Images/backgrounds/الخارطة-الوطنية-للاصلاح.png);
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
        }

        .imgft {
            height: 10vw !important;
        }

        .smallimage {
            margin: auto;
        }

        .linetitle {
            background-color: #882525;
            height: 0.3vw;
            margin-bottom: 0.5vw;
        }

        .kalimaTawjihyaText {
            font-size: 1.750rem;
            color: #5c6a72;
        }

        hr {
            box-shadow: 0px 8px 5px 0px rgba(0,0,0,0.26);
        }

        .box {
            margin-top: -55px;
            background: #D9DBDA;
            text-align: center;
            box-shadow: 8px 7px 5px 0px rgba(0,0,0,0.52);
        }

            .box p {
                color: #646464;
                font-size: 2.5rem;
                margin: 20px 0;
            }

        footer {
            background: url(../Images/backgrounds/footer-background.jpg) !important;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            padding-top: 1.875rem;
            padding-right: 1.875rem;
            padding-left: 1.875rem;
        }



        .flex {
            display: flex;
            justify-content: center;
        }


        footer h3 {
            font-size: 31px;
        }

        footer li {
            color: white;
            padding-bottom: 10px;
            font-size: 1.9rem;
        }

        .mapouter {
            height: auto;
        }

        .accept-btn, .decline-btn {
            padding: 8px 20px;
            border: 0px;
            border-radius: 5px;
        }

        .decline-btn {
            color: #64A1BC;
            background: white;
            border: 1px solid #64A1BC;
            transition: all ease 500ms;
        }

        .accept-btn {
            color: white;
            background: #64A1BC;
            transition: all ease 500ms;
        }

            .accept-btn:hover {
                background: #447F99;
            }

        .decline-btn:hover {
            background: #447F99;
            color: white;
        }

        .slider-responsive {
            margin: 10px 50px;
        }
        .eee {
            background-image: url(../Images/backgrounds/sharekna-bg.jpg);
            /* height: 27.5vw; */
            /* padding: 4vw; */
            width: 100%;
            height: auto;
            background-attachment: fixed;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
        }

        .blog-slider {
            /*width: 95%;*/
            position: relative;
            margin: auto;
            background: #fff;
            box-shadow: 0px 14px 80px rgba(34, 35, 58, 0.2);
            padding: 25px;
            border-radius: 25px;
            height: 400px;
            transition: all 0.3s;
        }
        .blog-slider__text {
            line-height: 2.9rem !important;
        }
        .blog-slider__item.swiper-slide-active .blog-slider__img img {
            opacity: 1;
            transition-delay: 0.3s;
        }

        .blog-slider__item.swiper-slide-active .blog-slider__content > * {
            opacity: 1;
            transform: none;
        }

            .blog-slider__item.swiper-slide-active .blog-slider__content > *:nth-child(1) {
                transition-delay: 0.3s;
            }

            .blog-slider__item.swiper-slide-active .blog-slider__content > *:nth-child(2) {
                transition-delay: 0.4s;
            }

            .blog-slider__item.swiper-slide-active .blog-slider__content > *:nth-child(3) {
                transition-delay: 0.5s;
            }

            .blog-slider__item.swiper-slide-active .blog-slider__content > *:nth-child(4) {
                transition-delay: 0.6s;
            }

            .blog-slider__item.swiper-slide-active .blog-slider__content > *:nth-child(5) {
                transition-delay: 0.7s;
            }

            .blog-slider__item.swiper-slide-active .blog-slider__content > *:nth-child(6) {
                transition-delay: 0.8s;
            }

            .blog-slider__item.swiper-slide-active .blog-slider__content > *:nth-child(7) {
                transition-delay: 0.9s;
            }

            .blog-slider__item.swiper-slide-active .blog-slider__content > *:nth-child(8) {
                transition-delay: 1s;
            }

            .blog-slider__item.swiper-slide-active .blog-slider__content > *:nth-child(9) {
                transition-delay: 1.1s;
            }

            .blog-slider__item.swiper-slide-active .blog-slider__content > *:nth-child(10) {
                transition-delay: 1.2s;
            }

            .blog-slider__item.swiper-slide-active .blog-slider__content > *:nth-child(11) {
                transition-delay: 1.3s;
            }

            .blog-slider__item.swiper-slide-active .blog-slider__content > *:nth-child(12) {
                transition-delay: 1.4s;
            }

            .blog-slider__item.swiper-slide-active .blog-slider__content > *:nth-child(13) {
                transition-delay: 1.5s;
            }

            .blog-slider__item.swiper-slide-active .blog-slider__content > *:nth-child(14) {
                transition-delay: 1.6s;
            }

            .blog-slider__item.swiper-slide-active .blog-slider__content > *:nth-child(15) {
                transition-delay: 1.7s;
            }

        .blog-slider__img {
            width: 496px;
            flex-shrink: 0;
            height: 300px;
            background: linear-gradient(90deg, rgba(68,127,153,1) 12%, rgba(93,172,207,1) 46%, rgba(68,127,153,1) 92%);
            box-shadow: -1px 1px 5px 0px #447f99;
            border-radius: 20px;
            transform: translateX(-80px);
            overflow: hidden;
        }
        .ft1 {
            width: 100%;
            background-image: url(../Imag/ft7.png);
            background-position: center;
            background-repeat: no-repeat;
            background-size: 100% 100% !important;
            min-height: 10vw !important;
        }


        }
            .blog-slider__img:after {
                content: "";
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                border-radius: 20px;
                opacity: 0.8;
            }

            .blog-slider__img img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                display: block;
                opacity: 0;
                border-radius: 20px;
                transition: all 0.3s;
            }
        .blog-slider__content > * {
            opacity: 0;
            transform: translateY(25px);
            transition: all 0.4s;
        }

        .blog-slider__code {
            color: #7b7992;
            margin-bottom: 15px;
            display: block;
            font-weight: 500;
        }

        .blog-slider__title {
            font-size: 24px;
            font-weight: 700;
            color: #0d0925;
            margin-bottom: 20px;
        }

        .blog-slider__text {
            color: #4e4a67;
            margin-bottom: 30px;
            line-height: 1.5em;
        }

        .blog-slider__button {
            display: inline-flex;
            background: linear-gradient(90deg, rgba(68,127,153,1) 12%, rgba(93,172,207,1) 46%, rgba(68,127,153,1) 92%);
            padding: 15px 35px;
            border-radius: 50px;
            color: #fff;
            box-shadow: 0px 3px 15px rgb(93 172 207);
            text-decoration: none;
            font-weight: bold;
            justify-content: center;
            text-align: center;
            letter-spacing: 1px;
            border:0px;
        }
        .blog-slider .swiper-container-horizontal > .swiper-pagination-bullets, .blog-slider .swiper-pagination-custom, .blog-slider .swiper-pagination-fraction {
            bottom: 10px;
            left: 0;
            width: 100%;
        }

        .blog-slider__pagination {
            position: absolute;
            z-index: 21;
            right: 20px;
            width: 11px !important;
            text-align: center;
            left: auto !important;
            top: 50%;
            bottom: auto !important;
            transform: translateY(-50%);
        }
            .blog-slider__pagination .swiper-pagination-bullet {
                width: 11px;
                height: 11px;
                display: block;
                border-radius: 10px;
                background: #062744;
                opacity: 0.2;
                transition: all 0.3s;
            }

            .blog-slider__pagination .swiper-pagination-bullet-active {
                opacity: 1;
                background: #447F99 !important;
                height: 30px;
            }
        .reveal {
            position: relative;
            transform: translateY(150px);
            opacity: 0;
            transition: 1s all ease;
        }

            .reveal.active {
                transform: translateY(0);
                opacity: 1;
            }

        #overlay {
            position: fixed;
            z-index: 99999999999999999999999999999;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            /* background: rgb(249, 249, 251); */
            transition: 1s 0.4s;
            background: #ffff;
            opacity: 0.8;
        }
        .blog-slider__pagination.swiper-pagination-bullets .swiper-pagination-bullet {
            margin: 8px 0;
        }
        .blog-slider__item {
            display: flex;
            align-items: center;
        }
        .carousel-control.right, .carousel-control.left{
            background-image:none;
        }
        /* MEDIA QUERIES*/
        @@media(max-width:1960px) {
            .text-container {
                transform: translateX(0);
            }


            .img-container {
                height: auto;
                transform: translateX(0);
            }

            .img img {
                margin: 76px 0px;
            }
        }


        @@media(max-width:1400px) {

            .img {
                display: none;
            }
            /*.text-container {
                height: 249px;
            }*/
        }
        @@media(max-width:1300px) {



            .text-responsive {
                width: 100% !important;
            }
        }

        @@media(max-width:1200px) {
            .box-left {
                height: 66% !important;
            }

            .box {
                margin: 11px 10px;
            }

            .text-container2-fix {
                height: 350px;
            }
        }
        @@media(max-width:1430px){
            .blog-slider__content {
                margin-top: -80px;
                text-align: center;
                padding-right: 0px !important;
            }

            .blog-slider__pagination {
                left: 50% !important;
                top: 205px;
                width: 100% !important;
                display: flex;
                justify-content: center;
                align-items: center;
            }

                .blog-slider__pagination.swiper-pagination-bullets .swiper-pagination-bullet {
                    margin: 0 5px;
                }

            .blog-slider__img {
                transform: translateY(-50%);
                width: 90%;
            }

            .blog-slider__pagination .swiper-pagination-bullet-active {
                height: 11px;
                width: 30px;
            }

            .blog-slider__item {
                flex-direction: column;
            }

            .blog-slider {
                min-height: 500px;
                height: auto;
                margin-top: 241px;
            }
        }
        @@media(max-width:1024px) {
            .sm-blue a {
                font-weight: normal !important;
                padding: 10px !important;
                font-size: 12px !important;
            }


            header button {
                font-size: 12px !important;
            }
            #HeaderLogo {
                width: 70% !important;
            }

            .card {
                height: 394px !important;
            }
            .takrir-ada2-container .service-content h3{
                padding:35px !important;
            }
            .box-left {
                margin-top: 35px;
            }
        }


        @@media(max-width:974px) {
            .card h1 {
                font-size: 15px !important;
            }

            .card h3 {
                font-size: 13px !important;
            }
        }

        @@media(max-width:920px) {
            .carousel-caption p {
                font-size: 18px !important;
            }
        }

        @@media(max-width:800px) {
            .coluxx1, .coluxx2, .coluxx3 {
                height: 22vw !important;
            }

            .img-container {
                height: auto;
            }

            .slider-responsive > div {
                display: block;
            }


        }

        @@media(max-width:980px) {
            .HeaderH1 {
                font-size: 2.5rem !important;
            }
        }

        @@media(max-width:768px) {
            #HeaderLogo {
                width: 82% !important;
            }

            .HeaderH1 {
                line-height: 3.5;
                font-size: 1.9rem !important;
            }




        }

        @@media (max-width:870px) and (min-width:431px) {
            .card h1 {
                font-size: 30px !important;
            }

            .card h3 {
                font-size: 23px !important;
            }

        }
        @@media(max-width:760px) {
            /*.slider-responsive{
                display:none;
            }*/
            .takrir-ada2-container .service-icon {
                padding: 58px !important;
            }

            .takrir-ada2-container .service-content {
                padding: 0px !important;
            }

            .card h2 {
                font-size: 18px !important;
            }

            .card h3 {
                font-size: 13px !important;
            }
        }
        @@media(max-width:645px) {
            .carousel-caption p {
                font-size: 12px !important;
            }
            .coluxx1, .coluxx2, .coluxx3 {
                height: 48vw !important;
            }
        }

        @@media(max-width:645px) {
            .carousel-caption p {
                font-size: 9px !important;
            }
        }




        @@media(max-width:1195px){
            .content-container2 {
                margin-top: 145px;
            }
        }


        @@media(max-width:425px) {
            /*.slider-responsive{
                display:none;
            }*/
            #HeaderLogo{
                width:25% !important;
            }
            .card h1 {
                font-size: 13px !important;
            }

            .card h3 {
                font-size: 11px !important;
            }

            .card {
                height: 263px !important;
            }

        }



        @@media(min-width:1196px){
            .content-container2 {
                margin: 40px 0px;
            }
        }







        @@media(max-width:425px){
            .takrir-ada2-container .service-box h1 {
                font-size: 20px !important;
            }
            .takrir-ada2-container .service-box h3 {
                padding: 28px !important;
            }
            .takrir-ada2-container .service-icon {
                padding: 72px !important;
            }

        }
        @@media(max-width:375px) {
            .takrir-ada2-container .service-icon {
                padding: 60px !important;
            }
        }
        @@media(max-width:340px) {
            h3 {
                font-size: 19px !important;
            }
        }

        @@media screen and (max-width: 576px) {
            .blog-slider__img {
                width: 95%;
            }
            .blog-slider__content {
                padding: 0;
            }

            .blog-slider__button {
                width: 100%;
            }
        }


        @@media(max-width: 425px){
            .eee3 button {
                font-size: 1.4rem !important;
            }
        }
        @@media screen and (max-height: 500px) and (min-width: 992px) {
            .blog-slider__img {
                height: 270px;
            }
        }

        .blog-slider__content {
            padding-right: 122px;
        }













    </style>
    <style>
        .mb-1 {
            margin-bottom: 10px !important;
        }
    </style>
</head>
<!--<div id="overlay">
    <div class="col-md-12 col-sm-12 col-xs-12" style="text-align:center;margin-top:15%">
        <img src="@Url.Content("~/images/customgif/Syrian Loader.gif")" alt="Loading" style="width:10%;" />
        <br />-->
@*<span style="color:black">@Html.Raw(BaseController.GetFieldLabel(Locale, "_InitialLoaderMsg"))</span>*@
<!--</div>
</div>-->

<body dir="rtl">
    <div class="row mb-1">
        <div class="col-lg-6">
            <button class="btn btn-primary-outline" data-toggle="modal" data-target="#AddItemModal">Add Item</button>
            <button class="btn btn-primary" id="EditBtn" data-toggle="modal" data-target="#EditItemModal">Edit Items</button>
            <button class="btn btn-danger" id="DeleteBtn" data-toggle="modal" data-target="#DeleteItemModal">Remove Items</button>
        </div>
        <div class="col-lg-6">
            <button class="btn btn-primary-outline" data-toggle="modal" id="addChild" data-target="#AddChildrenModal">Add Child</button>
            <button class="btn btn-primary" data-toggle="modal" data-target="#EditChildrenModal" id="EditChildrenModalBtn">Edit Children</button>
            <button class="btn btn-danger" data-toggle="modal" id="deleteChildBtn" data-target="#DeleteChildModal">Remove Children</button>
        </div>
    </div>

    <div id="navbarContainer">
        @Html.Partial("_NavbarMenu", new ViewDataDictionary { { "NavbarData", NavbarData }, { "LanguageIdentifier", ViewBag.CurrentLanguageIdentifier } })
    </div>
    @Html.Partial("_NavBarAddItemModal")
    @Html.Partial("_NavBarEditItemModal")
    @Html.Partial("_NavBarDeleteItemModal")


    @Html.Partial("_NavBarAddChildrenModal")
    @Html.Partial("_NavBarDeleteChildModal")
    @Html.Partial("_NavbarEditChildModal")
    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel"></h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <h1 class="text-center modal-head-title"></h1>
                    <p class="text-center modal-head-text" style="line-height:3.4rem">

                    </p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>



    @using (Html.BeginForm("CreateItemNavbar", "CMS", FormMethod.Post, new { id = "addItemForm" }))

    {



        @Html.Hidden("ItemName", "")

        @Html.Hidden("ItemType", "")

        @Html.Hidden("ItemTypeKey", 0)

        @Html.Hidden("NavBarComponentKey", 0)

        @Html.Hidden("PageKey", 0)




    }
    
    <script src=@Url.Content("~/assets/NewPages/slider2/swiper.js")></script>
    <script src="@Url.Content("~/Scripts/bootbox.min.js")"></script>
    <script>

        function reveal() {
            var reveals = document.querySelectorAll(".reveal");

            for (var i = 0; i < reveals.length; i++) {
                var windowHeight = window.innerHeight;
                var elementTop = reveals[i].getBoundingClientRect().top;
                var elementVisible = 150;

                if (elementTop < windowHeight - elementVisible) {
                    reveals[i].classList.add("active");
                } else {
                    reveals[i].classList.remove("active");
                }
            }
        }
        var swiper = new Swiper('.blog-slider', {
            spaceBetween: 30,
            effect: 'fade',
            loop: true,
            mousewheel: {
                invert: false,
            },
            // autoHeight: true,
            pagination: {
                el: '.blog-slider__pagination',
                clickable: true,
            }
        });

        window.addEventListener("scroll", reveal);
        $(function () {
            $('#main-menu').smartmenus({
                subMenusSubOffsetX: 1,
                subMenusSubOffsetY: -8
            });
        });


        $(".dropbtn").click(function () {

            $(this).next().toggle();
        });

        document.addEventListener('keydown', function (event) {
            if (event.keyCode == 27) {
                event.preventDefault();
            }

        });


        function myFunction() {
            var x = document.getElementById("myTopnav");
            if (x.className === "topnav") {
                x.className += " responsive";
            } else {
                x.className = "topnav";
            }
        }


        /////////LoaderPart////
       // $(window).load(function () {

            //setTimeout(function () {
            //    fadeOutEffect();
            //}, 2000);

            //function fadeOutEffect() {

            //    var fadeTarget = document.getElementById("overlay");
            //    var fadeEffect = setInterval(function () {
            //        if (!fadeTarget.style.opacity) {
            //            fadeTarget.style.opacity = 1;
            //        }
            //        if (fadeTarget.style.opacity > 0) {
            //            fadeTarget.style.opacity -= 0.1;
            //        } else {
            //            clearInterval(fadeEffect);
            //        }


            //    }, 300);

            //    setTimeout(function () {
            //        $(".Body").css("filter", "");

            //    }, 3000);
            //    setTimeout(function () {

            //       $("#overlay").remove();
            //    }, 5000);

            //}

        //});
        /////////End LoaderPart////



        //function myFunction() {
        //    var x = document.getElementById("myTopnav");
        //    if (x.className === "topnav") {
        //        x.className += " responsive";
        //    } else {
        //        x.className = "topnav";
        //    }
        //}
          $("#ManbarSilatWasel").click(function () {

            submit_post_via_hidden_form("@Url.Action("Manbar", "Home")", {});

          });
        $("#MarsadAlAda2AlIdari").click(function () {

            submit_post_via_hidden_form("@Url.Action("Marsad", "Home")", {});

        });

        $("#SignInMarkaz").click(function () {

            @if (User.Identity.IsAuthenticated)
            {

                if (User.IsInRole("PB"))
                {
 <text>
            window.location = '@Url.Action("Index", "PBDashboard")';

            </text>
                }
                else
                {
 <text>
            submit_post_via_hidden_form("@Url.Action("Index", "Home")", {});

            </text>
                }

            } else
            {
                <text>
            submit_post_via_hidden_form("@Url.Action("LoginView", "Account")", { ManagerIndex: "True" });

            </text>
            }


        });


        $("#SinInMangersButton").click(function () {

            @if (User.Identity.IsAuthenticated)
            {

                if (User.IsInRole("PB"))
                {
 <text>
            window.location = '@Url.Action("Index", "PBDashboard")';

            </text>
                }
                else
                {
 <text>
            submit_post_via_hidden_form("@Url.Action("Index", "Home")", {});

            </text>
                }

            } else
            {
                <text>
            submit_post_via_hidden_form("@Url.Action("LoginView", "Account")", { ManagerIndex: "True" });

            </text>
            }


        });

        $(".goToEstetla3ra2i").click(function () {
            var formKey = $(this).attr("data-formkey");
             submit_post_via_hidden_form("@Url.Action("Index", "SurveyReport")", { FormTemKey: formKey });
        })

        $(".EmptyEstetla3Class").hover(function () {
            $(this).text("لا يوجد نتائج إستطلاعات رأي");
        })

        $(".EmptyEstetla3Class").mouseleave(function () {
            $(this).text("نتائج إستطلاعات الرأي");
        })

        $("#GlobalLearningLink").click(function () {

            window.location.href = "http://www.gl.ae/home";

        });


        $("#SignInManbar").click(function () {

            submit_post_via_hidden_form("@Url.Action("LoginView", "Account")", {});


        });

        $("#GoToManbar").click(function () {

            submit_post_via_hidden_form("@Url.Action("Manbar", "Home")", {});


        });

        $("#GoToMarkaz").click(function () {

            submit_post_via_hidden_form("@Url.Action("Index", "Home")", {});


        });


        $("#AboutMarsad").click(function () {
            if (checkIfSamePage("Home/AboutMarsad") == "NotFound")
                submit_post_via_hidden_form("@Url.Action("AboutMarsad", "Home")", {});


        });


        $("#AboutMarkaz").click(function () {
            if (checkIfSamePage("Home/AboutMarkaz") == "NotFound")
                submit_post_via_hidden_form("@Url.Action("AboutMarkaz", "Home")", {});


        });

        $("#AboutManbar").click(function () {




            if (checkIfSamePage("Home/AboutManbar") == "NotFound")
                submit_post_via_hidden_form("@Url.Action("AboutManbar", "Home")", {});

        });


        function checkIfSamePage(PagePath) {
            var url = window.location.href;     // Returns full URL


            if (url.indexOf(PagePath) != -1) {
                return "Found";
            } else {
                return "NotFound"
            }


        }

        $("#Khousousya").click(function () {
            if (checkIfSamePage("Home/Khousousya") == "NotFound")
                submit_post_via_hidden_form("@Url.Action("Khousousya", "Home")", {});


        });

        $("#Himayatalserya").click(function () {
            if (checkIfSamePage("Home/Himayatalserya") == "NotFound")
                submit_post_via_hidden_form("@Url.Action("Himayatalserya", "Home")", {});


        });

        @*var ClassName = '@ViewBag.PageName';

                        $("." + ClassName).show();*@



        $("#Moutaba3atChakwa").click(function () {


            window.location = '@Url.Action("Index", "UserDashboard")';

        });


        $("#gotodashbordCitizen").click(function () {


            @if (User.Identity.IsAuthenticated)
            {
                      <text>
            window.location = '@Url.Action("Index", "UserDashboard")';

            </text>
            } else
            {

                                     <text>
            $("#SignInManbar").click();

            </text>

            }



        });


        $("#gotodashbord").click(function () {

            @if (User.IsInRole("ADManager") || User.IsInRole("ADDirector") || User.IsInRole("HR"))
            {
                <text>
            window.location = '@Url.Action("AdUsersLandingPage", "Home")';

            </text>
            }@*else
                if (User.IsInRole("Administrator")) {

                    <text>
            window.location = '@Url.Action("Index", "AspNetUsers")';


            </text>

                }*@else
        if (User.IsInRole("Editor")) {

                        <text>
            window.location = '@Url.Action("Index", "MouwazafinWithOrgs")';


            </text>

            }
            else
            if (User.IsInRole("PB")) {

                            <text>
            window.location = '@Url.Action("Index", "PBDashboard")';


            </text>

            }
            else
            {
                            <text>
            window.location = '@Url.Action("Index", "UserDashboard")';

            </text>
            }

            {

            }
        });

        function submit_post_via_hidden_form(url, params) {
            var f = $("<form method='POST' style='display:none;'></form>").attr({
                action: url
            }).appendTo(document.body);

            for (var i in params) {
                if (params.hasOwnProperty(i)) {
                    $('<input type="hidden" />').attr({
                        name: i,
                        value: params[i]
                    }).appendTo(f);
                }
            }

            f.submit();

            f.remove();
        }

        $("#AkhbarWizara").click(function () {

            submit_post_via_hidden_form("@Url.Action("AkhbarWizara", "Home")", {});


        })

        $("#HeaderLogo").click(function () {
            submit_post_via_hidden_form("@Url.Action("Index", "Home")", {});

        })

        $("#Machari3Wizara").click(function () {

            submit_post_via_hidden_form("@Url.Action("Machari3Wizara", "Home")", {});


        })


        $(".akhbaralwizara").click(function () {
            window.location = '@Url.Action("AboutWizara", "Home")';
        });

        $(".machari3alwizara").click(function () {
            window.location = '@Url.Action("AboutMachari3", "Home")';
        });


        $(".logoff").click(function () {


            window.location = '@Url.Action("LogOff", "Account")';

        });

        function goToMyClaim(formKey, GUID, CreatedAt, CitizenKey, NextFormTemplateKey, CurrentStatusKey, CurrentFormtemplateKey, CurrentFormtemplateName, CurrentStatusName, NextOrganisationKey, CurrentOrganisationKey) {

            @if (User.IsInRole("ADManager") || User.IsInRole("ADDirector"))
            {
               <text>
            submit_post_via_hidden_form("@Url.Action("ADManagerTemplate", "FormTemplatesDisplay")", { formKey: formKey, GUID: GUID, CreatedAt: CreatedAt, CitizenKey: CitizenKey, CurrentStatusKey: CurrentStatusKey, NextFormTemplateKey: NextFormTemplateKey, CurrentFormtemplateKey: CurrentFormtemplateKey, CurrentFormtemplateName: CurrentFormtemplateName, NextOrganisationKey: NextOrganisationKey, CurrentOrganisationKey: CurrentOrganisationKey });

            @*window.location = '@Url.Action("ADManagerTemplate", "FormTemplatesDisplay")/' + "?formKey=" + formKey + "&GUID=" + GUID + "&CreatedAt=" + CreatedAt + "&CitizenKey=" + CitizenKey + "&CurrentStatusKey=" + CurrentStatusKey + "&NextFormTemplateKey=" + NextFormTemplateKey + "&CurrentFormtemplateKey=" + CurrentFormtemplateKey + "&CurrentFormtemplateName=" + CurrentFormtemplateName + "&NextOrganisationKey=" + NextOrganisationKey + "&CurrentOrganisationKey=" + CurrentOrganisationKey;*@
            </text>
            }
            @if (User.IsInRole("OPManager") || User.IsInRole("OPGeneralDirector") || User.IsInRole("OPDirector") || User.IsInRole("Human Development Sector") || User.IsInRole("Administrative sector") || User.IsInRole("Economic sector") || User.IsInRole("Service sector"))
            {
                <text>
            @*window.location = '@Url.Action("FormInstance", "Home")/' + "?formKey=" + formKey + "&GUID=" + GUID + "&CreatedAt=" + CreatedAt + "&CitizenKey=" + CitizenKey + "&CurrentStatusKey=" + CurrentStatusKey + "&NextFormTemplateKey=" + NextFormTemplateKey + "&CurrentFormtemplateKey=" + CurrentFormtemplateKey + "&CurrentFormtemplateName=" + CurrentFormtemplateName + "&CurrentStatusName=" + CurrentStatusName + "&NextOrganisationKey=" + NextOrganisationKey + "&CurrentOrganisationKey=" + CurrentOrganisationKey;*@
            submit_post_via_hidden_form("@Url.Action("FormInstance", "Home")", { formKey: formKey, GUID: GUID, CreatedAt: CreatedAt, CitizenKey: CitizenKey, CurrentStatusKey: CurrentStatusKey, NextFormTemplateKey: NextFormTemplateKey, CurrentFormtemplateKey: CurrentFormtemplateKey, CurrentFormtemplateName: CurrentFormtemplateName, CurrentStatusName: CurrentStatusName, NextOrganisationKey: NextOrganisationKey, CurrentOrganisationKey: CurrentOrganisationKey });

            </text>
            }
            @if (User.IsInRole("Citizen"))
            {
                <text>
            @*window.location = '@Url.Action("ADManagerTemplate", "FormTemplatesDisplay")/' + "?formKey=" + formKey + "&GUID=" + GUID + "&CreatedAt=" + CreatedAt + "&CitizenKey=" + CitizenKey + "&CurrentStatusKey=" + CurrentStatusKey + "&NextFormTemplateKey=" + NextFormTemplateKey + "&CurrentFormtemplateKey=" + CurrentFormtemplateKey + "&CurrentFormtemplateName=" + CurrentFormtemplateName + "&NextOrganisationKey=" + NextOrganisationKey + "&CurrentOrganisationKey=" + CurrentOrganisationKey;*@
            submit_post_via_hidden_form("@Url.Action("ADManagerTemplate", "FormTemplatesDisplay")", { formKey: formKey, GUID: GUID, CreatedAt: CreatedAt, CitizenKey: CitizenKey, CurrentStatusKey: CurrentStatusKey, NextFormTemplateKey: NextFormTemplateKey, CurrentFormtemplateKey: CurrentFormtemplateKey, CurrentFormtemplateName: CurrentFormtemplateName, NextOrganisationKey: NextOrganisationKey, CurrentOrganisationKey: CurrentOrganisationKey });

            </text>
            }
        }


        function changeLanguage(languageCode) {
            $.ajax({
                url: '@Url.Action("ChangeLanguage", "Home")',
                type: 'GET',
                cache: false,
                dataType: 'text',
                data: ({
                    id: languageCode
                }),
                contentType: 'application/json; charset=utf-8',
                success: function (data) {
                    location.reload();
                },
                error: function (xhr) {
                    console.log('errorr');
                }
            });
        }




        $('.carousel').carousel({
            interval: 10000
        })

        $('#myCarousel').on('slide.bs.carousel', function () {
            $('.carousel-caption').fadeOut(300);
        })
        $('#myCarousel').on('slid.bs.carousel', function () {
            $('.carousel-caption').fadeIn(600);
        })

        $(".service-box").on('click', function () {
            var children = $(this).children();

            if ($(children[1]).css('opacity') === '0') {

                $(children[0]).css("opacity", "0");
                $(children[1]).css("opacity", "1");


                $(children[1]).css('transform', 'translateX(0)');

            }
            else {
                $(children[0]).css('opacity', '1');
                $(children[1]).css('transform', 'translateY(110px) rotateX(-90deg)');
                $(children[1]).css('opacity', '0');
            }


        }

        )
        $(".service-box").on('mouseenter', function () {

            var children = $(this).children();

                $(this).css({
                    opacity: 1,
                    transition: 'opacity 1s ease-in-out'
                });



           $(children[0]).css("opacity", "0");
                $(children[1]).css("opacity", "1");
                $(children[1]).css('transform', 'translateX(0)');

        }

        )

        $(".service-box").on('mouseleave', function () {
            var children = $(this).children();

            if ($(children[0]).children().length == 0) {
                $(this).css({
                    opacity: 0,
                    transition: 'opacity 1s ease-in-out'
                });
            }


            $(children[0]).css('opacity', '1');
            $(children[1]).css('transform', 'translateY(110px) rotateX(-90deg)');
            $(children[1]).css('opacity', '0');

        }

        )

        $(document).on('click', '.blog-slider__button', function () {
        
            var parent = $(this).parent();
            var children = $(parent).children();
            var title = $(children[0]).text();
            var text = $(children[2]).text();
            $(".modal-head-title").text(title);
            $(".modal-head-text").text(text);


        })




    </script>

</body>
</html>
