﻿@using Microsoft.AspNet.Identity
@using MoAD.DataObjects.EDMX
@using MoAD.WebApplication.Objects;
@using MoAD.WebApplication.Managers
@using Microsoft.AspNet.Identity
@using MoAD.WebApplication.Models;
@using System;
@using System.Text;
@{
    Layout = Layout = "~/Views/Shared/_CommonLayout.cshtml";
    HttpCookie languageCookie = Request.Cookies["Language"];
    var InitialDirection = "rtl";
    if (languageCookie != null && languageCookie.Value != "3")
    {
        InitialDirection = "ltr";
    }
    List<NavBarViewModel> NavbarData = (List<NavBarViewModel>)ViewBag.NavbarData;
}

@if (InitialDirection == "rtl")
{



    <style>
        .note-popover .popover-content .note-color .dropdown-toggle, .panel-heading.note-toolbar .note-color .dropdown-toggle {
            padding-left: 24px;
        }

        .f-right {
            float: right;
        }

        .mr-1 {
            margin-right: 10px;
        }

        .mb-1 {
            margin-bottom: 10px;
        }

        .mt-1 {
            margin-top: 10px;
        }

        .mt-1-5 {
            margin-top: 15px;
        }

        .mt-2 {
            margin-top: 20px;
        }

        .f-size-16 {
            font-size: 16px;
        }

        .w-100 {
            width: 100%;
        }
    </style>
}
else
{
    <style>
        .note-popover .popover-content .note-color .dropdown-toggle, .panel-heading.note-toolbar .note-color .dropdown-toggle {
            padding-right: 24px;
        }

        .f-right {
            float: left;
        }

        .mr-1 {
            margin-left: 10px;
        }

        .mb-1 {
            margin-bottom: 10px;
        }

        .mt-1 {
            margin-top: 10px;
        }

        .mt-1-5 {
            margin-top: 15px;
        }

        .mt-2 {
            margin-top: 20px;
        }

        .f-size-16 {
            font-size: 16px;
        }

        .w-100 {
            width: 100%;
        }
    </style>
}


@if (InitialDirection == "rtl")
{


    <style>

        input {
            font-family: 'ge_dinar_onemedium' !important;
        }

    </style>
}
else
{
    <style>


        input {
            font-family: "Gill Sans", sans-serif !important;
        }
    </style>
}


<!--Summernote Custom Styling-->

<style>
    .summerNoteUploadPicture {
        margin: 10px;
    }



    .modal {
        z-index: 9999999999999;
    }

    .note-popover .popover-content .dropdown-menu.note-check li a i, .panel-heading.note-toolbar .dropdown-menu.note-check li a i {
        color: #447F99;
        visibility: visible;
    }
</style>


<body dir="@InitialDirection">

    <div class="row">
        <div class="col-lg-2"></div>
        <div class="col-lg-8">
            <h1 class="text-center">إنشاء	 صفحة جديدة</h1>
            <p style=" font-size: 16px; font-style: italic;">ملاحظة: من أجل إنشاء هذه الصفحة باللغة الإنجليزية ، يجب إنشاء الصفحة باللغة العربية أولاً.</p>
            <select class="form-control" id="languageDropDown" disabled>
                <option value="3">Arabic</option>
                <option value="4" disabled>English</option>
            </select>
            <div class="row mt-1-5">
                <div class="col-lg-12">
                    <input type="text" id="pageTitle" class="form-control mb-1" placeholder="أدخل عنوان الصفحة" />
                </div>

            </div>
        </div>
        <div class="col-lg-2"></div>
    </div>



    <div class="row">
        <div class="col-lg-2"></div>
        <div class="col-lg-8">
            <div class="summernote first" id="descriptionSummernote" data-index="1"></div>
        </div>
        <div class="col-lg-2"></div>
    </div>


    <div class="repeater">
        <div class="repeater-container">

        </div>

        <div class="row mb-1">
            <div class="col-lg-2"></div>
            <div class="col-lg-8">
                <div class="col-lg-5">
                    <input type="button" class="btn btn-danger f-size-16 f-right" id="removeBtn" value="حذف عنصر" />
                    <input type="button" class="btn btn-primary f-size-16 f-right mr-1" id="addBtn" value="إضافة عنصر جديد" />
                </div>
                <div class="col-lg-7"></div>

            </div>

            <div class="col-lg-2"></div>

        </div>

    </div>

    <div class="row" style="margin-bottom:20px;">
        <div class="col-lg-2"></div>
        <div class="col-lg-8">
            <div class="col-lg-3">
                <input type="button" class="btn btn-primary f-size-16 f-right mt-1" id="saveBtn" value="حفظ" />
            </div>
            <div class="col-lg-9"></div>

        </div>

        <div class="col-lg-2"></div>

    </div>



    <script src="@Url.Content("~/assets/NewPages/sweetAlert/sweetalert.js")"></script>
    <script>

        var pageTitle = "";
        var language = 3;

        //Dropzone Index
        var index = 0;

        //summernote / dropzone data-index
        var dataIndex = 1;


        //dropzones Array
        var dropzones = [];

        //Map where the key is dropzone dataindex and the value is key
        var fileExtensionKeys = new Map();


        // Components Array
        var components = [];

        Dropzone.autoDiscover = false;

        $(document).ready(function () {
            $('.summernote').summernote({
                lang: "ar-AR"
            });
            $(".note-image-input").hide();
            $(".note-group-select-from-files").append('<button class="btn btn-primary summerNoteUploadPicture">تحميل الصورة</button>');
            $("#languageDropDown").select2({ placeholder:"Select a language" });
        });

        //$(document).on('change', "#languageDropDown", function () {
        //    language = $("#languageDropDown option:selected").val();

        //})

        $(document).on("click", ".summerNoteUploadPicture", function () {
            //$(this).parent().find("input").show();
            $(this).parent().find("input").click();

        })


        $(document).on('click', '#addBtn', function () {
            var repeaterItem = "";
            var repeater = $(".repeater-container");
            var repeaterLastChild = repeater.children().last();


            if (repeaterLastChild.hasClass("f0")) {
                repeaterItem = createRepeaterItems("f1");

            }
            else {
                repeaterItem = createRepeaterItems("f0");
            }

            repeater.append(repeaterItem);


            //the index of the dropzone (newly appended  one)
            InitAndRefreshDropzone(index);
            refreshSummernote();

            //incrementing the index meaning next dropzone time to add
            index++;
        })

        $(document).on('click', '#removeBtn', function () {
            var repeater = $(".repeater-container");
            //delete last repeaterItem
            repeater.children().last().remove();
            //delete last dropzone
            dropzones.pop();

            //decrement Index
            index--;

            //decrement by 2 dataIndex cz we removed 2 components
            dataIndex -= 2;
        })



        $(document).on('click', '#saveBtn', function () {
            $.blockUI($("#body"));
            var repeaterChildrens = $(".repeater-container").children();

            var isValid = true;


            //means no repeaterItems but the description is empty
            if ((repeaterChildrens.length == 0 && $("#descriptionSummernote").summernote('isEmpty')) || $("#pageTitle").val().length == 0 ) {
                isValid = false;
            };

            if (repeaterChildrens.length != 0) {
                $(repeaterChildrens).each(function (index, value) {

                    var summerNoteOfThisChildren = $(this).find('.summernote');
                    var dropzoneOfThisChildren = getTheRequiredDropzone($(this).find('.dropzone').attr('id'));

                    if ($(summerNoteOfThisChildren).summernote('isEmpty') || dropzoneOfThisChildren.files.length == 0) {
                        isValid = false;
                    }


                })
            }



            if (isValid) {
              createComponents();
             AdjustAndCreateComponentsPerPage(components);
            }
            else {
                $.unblockUI($("#body"));
                swal("خطأ", "يرجى إدخال كافة المعلومات المطلوبة", "error");
           }

            console.log(components);
            components = [];
        });


        function createRepeaterItems(className) {
            var result = "";
            if (className === "f0") {
                result += "<div class='row f0'>";
                result += "<hr/>";
                result += "<div class='col-lg-2'></div>";
                result += "<div class='col-lg-4'><div class='summernote' data-index="+ (dataIndex++) +"></div></div>";
                result += "<div class='col-lg-4'><div class='dropzone flex' id='dropzoneItem" + index + "' data-index=" + (dataIndex++) +"  enctype='multipart/form-data' method='post'></div></div>";
                result += "<div class='col-lg-2'></div>";
                result += "</div>";

            }
            else {
                result += "<div class='row f1'>";
                result += "<hr/>";
                result += "<div class='col-lg-2'></div>";
                result += "<div class='col-lg-4'><div class='dropzone flex' id='dropzoneItem" + index + "' data-index=" + (dataIndex++) +"  enctype='multipart/form-data' method='post'></div></div>";
                result += "<div class='col-lg-4'><div class='summernote' data-index=" + (dataIndex++) +"></div></div>";
                result += "<div class='col-lg-2'></div>";
                result += "</div>";
            }

            return result;
        }



        function refreshSummernote() {
            console.log("refreshSummernoterefreshSummernoterefreshSummernote");
          //  $('.summernote').summernote('destroy');

            $('.summernote').last().summernote({
                lang: "ar-AR"
            });
            $(".note-image-input").hide();
            $(".note-group-select-from-files").append('<button class="btn btn-primary summerNoteUploadPicture">تحميل الصورة</button>')
        }

        var _ref;

        function InitAndRefreshDropzone(index) {
            var dropZoneItem = "#dropzoneItem" + index;

            var dataIndex = $(dropZoneItem).data('index');
            var dropzone = new Dropzone(dropZoneItem, {

                url: '@Url.Action("UploadFile2","CMS")',

                file: "file",
                maxFiles: 1,
                uploadMultiple:false,
                addRemoveLinks: true,
                dictDefaultMessage: 'قم بإسقاط الصورة هنا للتحميل',
                acceptedFiles: ".png,.jpg,.jpeg,.jfif,.gif,.mp4,.mpg, .mpeg, .m2v,.m4v,.wmv,.webm",
              /*  acceptedFiles: ".png,.jpg,.jpeg,.jfif,.gif,.mp4,.mpg, .mpeg, .m2v,.m4v,.wmv,.webm",*/

                success: function (file, response) {
                    if (response != "Error")

                        fileExtensionKeys.set(dataIndex,response);
                        //fileExtensionKeys[index] = response;

                },
                removedfile: function (file) {

                    $.ajax({
                url: '@Url.Action("RemoveFile","CMS")',
                type: 'POST',
                        data: {
                            extendedDatakey: fileExtensionKeys.get(dataIndex),

                },
                 success: function (data) {
                     //fileExtensionKeys.delete(dataIndex)
                     return (_ref = file.previewElement) != null ? _ref.parentNode.removeChild(file.previewElement) : void 0;

                },
                error: function (error) {
                    //console.log(error);
                        }

                    });



                }
            })

            dropzones.push(dropzone);

        }

        function getTheRequiredDropzone(dropzoneId) {
            for (var i = 0; i < dropzones.length; i++) {
                if (dropzones[i].element.id === dropzoneId) return dropzones[i];
            }
            return null;
        }

        function createComponents() {
            var summernote = $(".summernote");
            var dropzones = $(".dropzone");
            //title Component
            var component = {};
            component["language"] = language;
            component["componentOrder"] = 1;
            component["componentIndex"] = 1;
            component["componentSourceEntityKey"] = $("#pageTitle").val();
            component["componentType"] = "Text";
            components.push(component);

            $(dropzones).each(function (index, value) {
                    var dataIndex = $(this).data('index');

                var component = {};


                    component["language"] = language;
                    component["componentOrder"] = 3;
                    component["componentIndex"] = dataIndex;
                component["componentSourceEntityKey"] = fileExtensionKeys.get(dataIndex);
                console.log(component["componentSourceEntityKey"]);
                    component["componentType"] = "Image";



                    components.push(component);

            });
            $(summernote).each(function (index, value) {
                var component = {};
                var summerNoteVal = $(this).summernote('code');
              //  console.log(summerNoteVal);


                component["language"] = language;
                component["componentSourceEntityKey"] = window.btoa(unescape(encodeURIComponent(summerNoteVal)));
                component["componentType"] = "Text";
                //if this is the description summernote
                if ($(this).hasClass("first")) {
                    component["componentOrder"] = 2;
                    component["componentIndex"] = $(this).data('index');
                }

                else {
                    component["componentOrder"] = 3;
                   component["componentIndex"] = $(this).data('index');
                }


                components.push(component);


            });



        }



        function AdjustAndCreateComponentsPerPage(componentsArr) {
            var componentsArrString = JSON.stringify(componentsArr);

            var pageTitle = $("#pageTitle").val();
            $.ajax({
                    url: '@Url.Action("AdjustComponent", "Template")',

                    type: 'POST',

                    cache: false,

                    data: {

                        __RequestVerificationToken: $('@Html.AntiForgeryToken()').val(),

                        components: componentsArrString,
                        pageName: pageTitle

                    },

                    success: function (data) {

                        if (data != "400") {
                            window.location='@Url.Action("Index","Template")?id='+ data;
                        } else {
                            $.unblockUI($("#body"));
                        }

                    },


                    error: function (error) {

                        $.unblockUI($("#body"));

                    }
                });


        }
        function submit_post_via_hidden_form(url, params) {
            var f = $("<form method='POST' style='display:none;'></form>").attr({
                action: url
            }).appendTo(document.body);

            $('<input type="hidden" />').attr({
                name: "id",
                value: params
            }).appendTo(f);

            f.submit();

            f.remove();
        }

        $(function () {
            $('#main-menu').smartmenus({
                subMenusSubOffsetX: 1,
                subMenusSubOffsetY: -8
            });
        });





    </script>
</body>

