﻿@using Microsoft.AspNet.Identity
@using MoAD.DataObjects.EDMX
@using MoAD.WebApplication.Objects
@using MoAD.WebApplication.Managers
@using MoAD.WebApplication.Models;
@{
    Layout = Layout = "~/Views/Shared/_CommonLayout.cshtml";
    HttpCookie languageCookie = Request.Cookies["Language"];
    var InitialDirection = "rtl";
    if (languageCookie != null && languageCookie.Value != "3")
    {
        InitialDirection = "ltr";
    }
    List<GetAdManagerForms_Result> Estetla3Ra2iPublishedFormsForManbar = ViewBag.Estetla3Ra2iPublishedForms;

    if (Estetla3Ra2iPublishedFormsForManbar == null)
    {
        Estetla3Ra2iPublishedFormsForManbar = new List<GetAdManagerForms_Result>();
    }
    int languageIdentifier = (int)ViewBag.CurrentLanguageIdentifier;
    int? pageKey = (int?)ViewBag.pageKey;
    //int? videoComponentPageKey = (int?)ViewBag.videoComponentPageKey;
    //Dictionary<string, string> Locale = ViewBag.Locale;

    int navBarItemComponentKey = (int)ViewBag.NavBarItemComponentKey;
    List<NavBarViewModel> NavbarDataSlider = (List<NavBarViewModel>)ViewBag.NavbarDataSlider;

    string sliderType = ViewBag.SliderType;
    string pageName = ViewBag.PageName;
}


<style>
    .modal {
        z-index: 99999999999 !important;
    }

    .saveContainer {
        margin-top: 10px;
    }
</style>

@if (InitialDirection == "rtl")
{


    <style>
             @@font-face {
            font-family: 'ge_dinar_onemedium';
            src: url('@Url.Content("~/assets/vendors/Fonts/GE Dinar One Medium.ttf")') format('truetype'), url('@Url.Content("~/assets/vendors/Fonts/ge-dinar-one-medium-webfont.woff2")') format('woff2'), url('@Url.Content("~/assets/vendors/Fonts//ge-dinar-one-medium-webfont.woff")') format('woff');
            font-weight: normal;
            font-style: normal;
        }

            body, h1, h2, h3, h4, h5, h6, input {
                font-family: 'ge_dinar_onemedium' !important;
            }


            .sm-blue a, .sm-blue a:hover, .sm-blue a:focus, .sm-blue a:active {
                font-family: 'ge_dinar_onemedium' !important;
            }

            button, a {
                font-family: 'ge_dinar_onemedium' !important;
            }

    </style>
}
else
{
    <style>
        body, h1, h2, h3, h4, h5, h6, input {
            font-family: "Gill Sans", sans-serif !important;
        }

        

        .sm-blue a, .sm-blue a:hover, .sm-blue a:focus, .sm-blue a:active {
            font-family: "Gill Sans", sans-serif !important;
        }

        button, a {
            font-family: "Gill Sans", sans-serif !important;
        }
    </style>
}

<style>
        .mm-survey-results-score {
            color: #646464;
        }
     
        .row{
            margin-right:0px !important;
            margin-left:0px !important;
        }
        #orderChildsComponentsModal, #orderParentsComponentsModal {
            z-index: 99999999999999;
        }
        .carousel-caption {
            font-size: 22px;

        }
        .modal-body .title-container {
            background: white;
        }

        .modal-body label {
            color: #7c7c7c;
        }
        .modal-body select{
            cursor:pointer;
        }
        .modal-body input{
            margin-top:10px;
        }

        .modal input[type='text'] , .modal textarea {
            font-size: 18px;
        }
        .modal label {
            font-size: 20px;
            font-weight: normal;
            margin-top: 5px;
        }

        .modal button,.modal input[type="button"]{
            font-size:15px;
        }
        .modal select{
            width:100%;
        }
        .modal-body {
            margin-bottom: 25px;
            padding: 5px !important;
        }
        body {
            background: url(../Images/backgrounds/background.jpg) !important;
            background-repeat: no-repeat !important;
            background-size: cover !important;
            padding-top: 38px;
        }

        [dir="rtl"] {
            background-color: white !important;
        }

       

        .reverse-row{
            display:flex;
            flex-direction:row-reverse;
        }

        ul a{
            cursor:pointer;
        }
       

        a {
            border-bottom: none !important;
        }

        h4, h3 {
            font-weight: normal !important;
        }

        .sm-blue li ul::-webkit-scrollbar {
            background: #D2D2D6;
            width: 8px;
        }

        .sm-blue li ul::-webkit-scrollbar-thumb {
            background: #64A1BC;
        }

        #main-menu {
            border-radius: 0px;
            /*z-index:0;*/
        }

        .modal {
            z-index: 9999999999999999999999999;
        }

        .sm-blue, .sm-blue li .has-submenu, .sm-blue .element, .sm-blue .no-child {
            background: #447F99 !important;
        }

            .sm-blue a {
                font-weight: normal !important;
                padding: 17px !important;
                font-size: 16px !important;
            }

            .sm-blue li ul {
                width: max-content !important;
                background: #F7F8F9;
                height: 150px;
                min-height: 200px;
                border: 0px !important;
                overflow: scroll;
                overflow-x: hidden;
            }


            .sm-blue li ul {
                right: 0px;
            }

                .sm-blue li ul li {
                    float: none !important;
                }

            .sm-blue li .has-submenu:hover, .sm-blue li .has-submenu:focus {
                color: #447F99 !important;
                background: #F7F8F9 !important;
            }

                .sm-blue li .has-submenu:hover i {
                    color: #447F99 !important;
                    background: #F7F8F9 !important;
                }



            .sm-blue .has-submenu .sub-arrow {
                display: none;
            }

            .sm-blue > li {
                border-right: 1px solid white;
            }

            .sm-blue li ul a {
                background: #F7F8F9;
                color: #447F99;
            }

            .sm-blue i {

                font-size: 16px;
                color: white;
                margin-left:8px;
            }

        header button {
            border: none;
            margin-bottom: 4px;
            background: none;
            font-size: 17px;
            color: #447F99;
            font-weight: bold;
        }

            header button:first-child {
                border-right: 2px solid #447F99;
            }

        h1 {
            font-size: 2.8rem !important;
        }

        h2 {
            font-size: 2.06rem;
        }

        .service-box {
            position: absolute;
            top: 0;
            opacity: 0;
            left: 0;
            width: 100%;
            height: 100%;
            perspective: 1000px;
            -webkit-perspective: 1000px;
        }

        .service-icon {
            width: 100%;
            /*height: 220px;*/
            padding: 40px;
            text-align: center;
            transition: all .5s ease;
        }

        .service-content {
            position: absolute;
            top: 0;
            left: 0;
            z-index: 1;
            opacity: 0;
            width: 100%;
            height: 220px;
           /* padding: 20px;*/
            text-align: center;
            transition: all .5s ease;
            transform-style: preserve-3d;
            -webkit-transform: translateY(110px) rotateX(-90deg);
            -moz-transform: translateY(110px) rotateX(-90deg);
            -ms-transform: translateY(110px) rotateX(-90deg);
            -o-transform: translateY(110px) rotateX(-90deg);
            transform: translateY(110px) rotateX(-90deg);
        }



        .card {
            overflow: hidden;
            position: relative;
        }






        header {
            background: url(../Images/backgrounds/background.jpg) !important;
            background-repeat: no-repeat !important;
            background-size: cover !important;
            padding-top: 38px;
        }

        .contact-container {
            background: url(../Images/backgrounds/sharekna-bg.jpg) !important;
            background-position: center !important;
            background-repeat: no-repeat !important;
            background-size: cover !important;
        }

        .slider-container, .slider-container2 {
            background: #EDEDED;
            margin-top: 1.25rem;
            padding-top: 2.125rem;
        }

        .slider-container {
            border: 0.875rem solid #8E1927;
        }

        .slider-container2 {
            border: 0.875rem solid #447F99;
        }

        .slide-item {
            display: none
        }

        .img-container {
            height: 276px;
            transform: translateX(-47%);
            margin: 20px;
        }

        .text-container {
            padding: 7px 5px;
            background: white;
            transform: translateX(19%);
            box-shadow: 8px 11px 5px -3px rgba(0,0,0,0.58);
            margin: 20px;
            /*  min-width: 300px;*/
        }


        .img img {
            width: 12.75rem;
            margin: 76px 40px;
        }



        .slide-item, .slide-item2 {
            display: none
        }

        .show-slide, .show-slide2 {
            display: block !important;
        }


        .text-container p {
            line-height: 1.9;
            max-width: 25rem;
            font-size: 1.25rem;
        }

        .text-container h2 {
            text-shadow: 2px 7px 2px #bbadad;
            color: #8E1927;
            font-size: 2.125rem;
            border-bottom: 2px solid #8E1927;
        }


        .toggle-btns {
            display: flex;
            justify-content: center;
            margin-top: 0.625rem;
        }




            .toggle-btns ul {
                display: flex;
                justify-content: center;
                align-items: center;
                background: #BFBFBF;
                border-radius: 0.937rem;
                padding-left: 4px;
                padding-right: 4px;
                list-style-type: none;
            }

                .toggle-btns ul li button {
                    width: 1.25rem;
                    height: 1.25rem;
                    background: #959494;
                    margin: 3px;
                    border-radius: 50%;
                    cursor: pointer;
                    border: none;
                }

        .previous, .next, .previous2, .next2 {
            background: none;
            border: none;
        }

        .content-container {
            /* margin-left: 30px;
            margin-right: 30px;*/
            margin-bottom: 20px;
            background: white;
            /* border-top: 8px solid #447F99;*/
            /*padding-bottom: 20px;*/
        }


        .HeaderH1 {
            color: #5c6a72;
            font-weight: bold;
            text-align: center;
            line-height: 1.5;
            font-size: 2.9rem !important;
        }



            .content-container2 .active2 {
                background: #447F99 !important;
            }

        i {
            font-size: 2.625rem;
            color: #447F99;
        }

        .takarir-container {
            background-color: #447F99;
            margin: 30px;
            border-radius: 20px;
            padding: 10px;
        }

            .takarir-container h1 {
                color: white;
            }

     /*   .takrir-ada2-container {

            height: 244px;
        }*/

            .takrir-ada2-container .card {
                background: rgb(87,9,10);
                background: linear-gradient(90deg, rgba(87,9,10,1) 0%, rgba(184,93,96,1) 50%, rgba(87,9,10,1) 100%);
            }

        .coluxx1, .coluxx2, .coluxx3 {
            height: 20vw;
        }

        .coluxx1 {
            background-image: url(@Url.Action("GetFilePathFromExtendedData","Files", new { extensionFileKey= 143106 }));
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
        }

        .coluxx2 {
            background-image:url(@Url.Action("GetFilePathFromExtendedData","Files", new { extensionFileKey= 143104 }));
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
        }


        .coluxx3 {
            background-image: url(@Url.Action("GetFilePathFromExtendedData","Files", new { extensionFileKey= 143105 }));
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
        }
        .takrir-ada2-container h3 {
            padding: 39px !important;
            font-size: 2.4rem !important;
            line-height: 1.8 !important;
        }
        .card h1{
            font-size:2.4rem !important;
        }
        .card h3 {
            font-size: 2.1rem;
            line-height: 1.8;
        }

        .colu15 {
            background-image: url(../Imag/block-8.png);
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
        }

        .colu3, .colu4, .colu5, .colu6 {
            height: 320px;
        }

        .colu6 {
            background-image: url(@Url.Action("GetFilePathFromExtendedData","Files", new { extensionFileKey= 143102 }));
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
        }

        .colu4 {
            background-image: url(@Url.Action("GetFilePathFromExtendedData","Files", new { extensionFileKey= 143103 }));
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
        }


        .colu3 {
            background-image: url(@Url.Action("GetFilePathFromExtendedData","Files", new { extensionFileKey= 143127 }));
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
        }

       .colu5 {
            background-image: url(@Url.Action("GetFilePathFromExtendedData","Files", new { extensionFileKey= 143101 }));
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
        }

        .imgft {
            height: 10vw !important;
        }
        .pointer{
            cursor:pointer;
        }
        .smallimage {
            margin: auto;
        }
        .takrir-ada2-container h1 {
            font-size: 2.8rem !important;
        }
        .linetitle {
            background-color: #882525;
            height: 0.3vw;
            margin-bottom: 0.5vw;
        }

        .kalimaTawjihyaText {
            font-size: 2.5rem;
            color: #5c6a72;
        }

        hr {
            box-shadow: 0px 8px 5px 0px rgba(0,0,0,0.26);
        }

        .box {
            margin-top: -55px;
            background: #D9DBDA;
            text-align: center;
            box-shadow: 8px 7px 5px 0px rgba(0,0,0,0.52);
        }

            .box p {
                color: #646464;
                font-size: 2.5rem;
                margin: 20px 0;
            }

        footer {
            background: url(../Images/backgrounds/footer-background.jpg) !important;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover !important;
            padding-top: 1.875rem;
            padding-right: 1.875rem;
            padding-left: 1.875rem;
        }



        .flex {
            display: flex;
            justify-content: center;
        }


        footer h3 {
            font-size: 31px !important;
        }

        footer li {
            color: white;
            padding-bottom: 10px;
            font-size: 1.9rem;
        }

        .mapouter {
            height: auto;
        }

        .accept-btn, .decline-btn {
            padding: 8px 20px;
            border: 0px;
            border-radius: 5px;
        }

        .decline-btn {
            color: #64A1BC;
            background: white;
            border: 1px solid #64A1BC;
            transition: all ease 500ms;
        }

        .accept-btn {
            color: white;
            background: #64A1BC;
            transition: all ease 500ms;
        }

            .accept-btn:hover {
                background: #447F99;
            }

        .decline-btn:hover {
            background: #447F99;
            color: white;
        }

        .slider-responsive {
            margin: 10px 50px;
        }
        .eee {
            background-image: url(../Images/backgrounds/sharekna-bg.jpg);
            /* height: 27.5vw; */
            /* padding: 4vw; */
            width: 100%;
            height: auto;
            background-attachment: fixed;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
        }

        .blog-slider {
            /*width: 95%;*/
            position: relative;
            margin-bottom: 70px;
            background: #fff;
            box-shadow: 0px 14px 80px rgba(34, 35, 58, 0.2);
            padding: 25px;
            border-radius: 25px;
            height: 400px;
            transition: all 0.3s;
        }
        .blog-slider__text {
            line-height: 2.9rem !important;
            font-size:1.7rem !important;
        }
        .blog-slider__item.swiper-slide-active .blog-slider__img img {
            opacity: 1;
            transition-delay: 0.3s;
        }

        .blog-slider__item.swiper-slide-active .blog-slider__content > * {
            opacity: 1;
            transform: none;
        }

            .blog-slider__item.swiper-slide-active .blog-slider__content > *:nth-child(1) {
                transition-delay: 0.3s;
            }

            .blog-slider__item.swiper-slide-active .blog-slider__content > *:nth-child(2) {
                transition-delay: 0.4s;
            }

            .blog-slider__item.swiper-slide-active .blog-slider__content > *:nth-child(3) {
                transition-delay: 0.5s;
            }

            .blog-slider__item.swiper-slide-active .blog-slider__content > *:nth-child(4) {
                transition-delay: 0.6s;
            }

            .blog-slider__item.swiper-slide-active .blog-slider__content > *:nth-child(5) {
                transition-delay: 0.7s;
            }

            .blog-slider__item.swiper-slide-active .blog-slider__content > *:nth-child(6) {
                transition-delay: 0.8s;
            }

            .blog-slider__item.swiper-slide-active .blog-slider__content > *:nth-child(7) {
                transition-delay: 0.9s;
            }

            .blog-slider__item.swiper-slide-active .blog-slider__content > *:nth-child(8) {
                transition-delay: 1s;
            }

            .blog-slider__item.swiper-slide-active .blog-slider__content > *:nth-child(9) {
                transition-delay: 1.1s;
            }

            .blog-slider__item.swiper-slide-active .blog-slider__content > *:nth-child(10) {
                transition-delay: 1.2s;
            }

            .blog-slider__item.swiper-slide-active .blog-slider__content > *:nth-child(11) {
                transition-delay: 1.3s;
            }

            .blog-slider__item.swiper-slide-active .blog-slider__content > *:nth-child(12) {
                transition-delay: 1.4s;
            }

            .blog-slider__item.swiper-slide-active .blog-slider__content > *:nth-child(13) {
                transition-delay: 1.5s;
            }

            .blog-slider__item.swiper-slide-active .blog-slider__content > *:nth-child(14) {
                transition-delay: 1.6s;
            }

            .blog-slider__item.swiper-slide-active .blog-slider__content > *:nth-child(15) {
                transition-delay: 1.7s;
            }

      /*  .blog-slider__img {
            width: 496px;
            flex-shrink: 0;
            height: 300px;
            background: linear-gradient(90deg, rgba(68,127,153,1) 12%, rgba(93,172,207,1) 46%, rgba(68,127,153,1) 92%);
            box-shadow: -1px 1px 5px 0px #447f99;
            border-radius: 20px;
            transform: translateX(-3px);
            overflow: hidden;
        }*/
        .ft1 {
            width: 100%;
            background-image: url(@Url.Action("GetFilePathFromExtendedData","Files", new { extensionFileKey= 143107 }));
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            min-height: 10vw !important;
            cursor:pointer;
        }



            .blog-slider__img:after {
                content: "";
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                border-radius: 20px;
                opacity: 0.8;
            }

            .blog-slider__img img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                display: block;
                opacity: 0;
                border-radius: 20px;
                transition: all 0.3s;
            }
        .blog-slider__content > * {
            opacity: 0;
            transform: translateY(25px);
            transition: all 0.4s;
        }

        .blog-slider__code {
            color: #7b7992;
            margin-bottom: 15px;
            display: block;
            font-weight: 500;
        }

        .blog-slider__title {
            font-size: 24px;
            font-weight: 700;
            color: #646464;
            margin-bottom: 20px;
        }

        .blog-slider__text {
            color: #646464;
            margin-bottom: 30px;
            line-height: 1.5em;
        }

        .blog-slider__button {
            display: inline-flex;
            background: linear-gradient(90deg, rgba(68,127,153,1) 12%, rgba(93,172,207,1) 46%, rgba(68,127,153,1) 92%);
            padding: 15px 35px;
            border-radius: 50px;
            color: #fff;
            box-shadow: 0px 3px 15px rgb(93 172 207);
            text-decoration: none;
            font-weight: bold;
            justify-content: center;
            text-align: center;
            letter-spacing: 1px;
            border:0px;
        }
        .blog-slider .swiper-container-horizontal > .swiper-pagination-bullets, .blog-slider .swiper-pagination-custom, .blog-slider .swiper-pagination-fraction {
            bottom: 10px;
            left: 0;
            width: 100%;
        }

        .blog-slider__pagination {
            position: absolute;
            z-index: 21;
            right: 20px;
            width: 11px !important;
            text-align: center;
            left: auto !important;
            top: 50%;
            bottom: auto !important;
            transform: translateY(-50%);
        }
            .blog-slider__pagination .swiper-pagination-bullet {
                width: 11px;
                height: 11px;
                display: block;
                border-radius: 10px;
                background: #062744;
                opacity: 0.2;
                transition: all 0.3s;
            }

            .blog-slider__pagination .swiper-pagination-bullet-active {
                opacity: 1;
                background: #447F99 !important;
                height: 30px;
            }
        .reveal {
            position: relative;
            transform: translateY(150px);
            opacity: 0;
            transition: 1s all ease;
        }

            .reveal.active {
                transform: translateY(0);
                opacity: 1;
            }

        #overlay {
            position: fixed;
            z-index: 99999999999999999999999999999;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            /* background: rgb(249, 249, 251); */
            transition: 1s 0.4s;
            background: #ffff;
            /*opacity: 0.8;*/

        }
        .blog-slider__pagination.swiper-pagination-bullets .swiper-pagination-bullet {
            margin: 8px 0;
        }
        .blog-slider__item {
            display: flex;
            align-items: center;
        }
        .carousel-control.right, .carousel-control.left{
            background-image:none;
        }
        /* MEDIA QUERIES*/
        @@media(max-width:1960px) {
            .text-container {
                transform: translateX(0);
            }


            .img-container {
                height: auto;
                transform: translateX(0);
            }

            .img img {
                margin: 76px 0px;
            }
        }
        @@media(max-width:1710px) {
            .cardwork h3 {
                line-height: 1.5 !important;
            }
        }
        @@media(max-width:1451px) {
            .cardwork h3 {
                line-height: 1.2 !important;
            }
        }

        @@media(max-width:1440px) {
            .card h3 {
                line-height: 1.2;
            }
        }
        @@media(max-width:1430px) {
            .blog-slider__content {
                margin-top: -80px;
                text-align: center;
                padding-right: 0px !important;
            }

            .sm-blue a {
                font-size: 17px !important;
            }

            .blog-slider__pagination {
                left: 50% !important;
                top: 205px;
                width: 100% !important;
                display: flex;
                justify-content: center;
                align-items: center;
            }

                .blog-slider__pagination.swiper-pagination-bullets .swiper-pagination-bullet {
                    margin: 0 5px;
                }

            .blog-slider__img {
                transform: translateY(-50%);
                width: 90%;
            }

            .blog-slider__pagination .swiper-pagination-bullet-active {
                height: 11px;
                width: 30px;
            }

            .blog-slider__item {
                flex-direction: column;
            }

            .blog-slider {
                min-height: 500px;
                height: auto;
                margin-top: 241px;
            }

            .text-isla7 {
                margin: 7px !important;
            }
        }


        @@media(max-width:1400px) {

            .img {
                display: none;
            }
            /*.text-container {
                height: 249px;
            }*/
        }
        @@media(max-width:1300px) {



            .text-responsive {
                width: 100% !important;
            }
        }

        @@media(max-width:1274px) {

            .cardwork h3 {
                line-height: 1.1 !important;
            }
        }

        @@media(max-width:1200px) {
            .box-left {
                height: 66% !important;
            }

            .box {
                margin: 11px 10px;
            }

            .text-container2-fix {
                height: 350px;
            }
        }
        @@media(min-width:1196px) {
            .content-container2 {
                margin: 40px 0px;
            }
        }

        @@media(max-width:1195px) {
            .content-container2 {
                margin-top: 145px;
            }
        }




        @@media(max-width:1135px) {
            .cardwork h3 {
                line-height: 1.0 !important;
            }
        }
        @@media(max-width:1024px) {
            .sm-blue a {
                font-weight: normal !important;
                padding: 10px !important;
                font-size: 9px !important;
            }

            .kalimaTawjihyaText {
                font-size: 2.1rem !important;
            }

            header button {
                font-size: 12px !important;
            }

            #HeaderLogo {
                width: 70% !important;
            }

           /* .card {
                height: 394px !important;
            }*/

            .takrir-ada2-container .service-content h3 {
                padding: 28px !important
            }

            .box-left {
                margin-top: 35px;
            }
        }
        @@media(max-width:991px) {
            .cardwork h3 {
                line-height: 2.8 !important;
            }
        }


        @@media(max-width:980px) {

            .cardwork h3 {
                line-height: 2.3 !important;
            }
            .HeaderH1 {
                font-size: 2.5rem !important;
            }


        }





        @@media(max-width:920px) {
            .carousel-caption p {
                font-size: 18px !important;
            }
        }



        @@media(max-width:800px) {
            .coluxx1, .coluxx2, .coluxx3 {
                height: 22vw !important;
            }

            .img-container {
                height: auto;
            }

            .slider-responsive > div {
                display: block;
            }
        }
        @@media(max-width:768px) {
            #HeaderLogo {
                width: 25% !important;
            }

            .HeaderH1 {
                line-height: 3.5;
                font-size: 1.9rem !important;
            }

            .takrir-ada2-container .service-content h3 {
                padding: 8px !important;
            }
        }
        @@media (max-width: 767px)
{
        .coluxx1, .coluxx2, .coluxx3 {
            height:48vw !important;
        }
}



            @@media(max-width:734px) {

                .cardwork h3 {
                    line-height: 2.1 !important;
                }
            }

            @@media(max-width:645px) {

                .cardwork h3 {
                    line-height: 1.5 !important;
                }
            }

        @@media(max-width:645px) {
            .carousel-caption p {
                font-size: 12px !important;
            }
            .coluxx1, .coluxx2, .coluxx3 {
                height: 48vw !important;
            }
        }

        @@media(max-width:645px) {
            .carousel-caption p {
                font-size: 9px !important;
            }
        }



        @@media(max-width:513px) {

            .cardwork h3 {
                line-height: 1.1 !important;
            }

        }



        @@media(max-width:425px) {

            #HeaderLogo{
                width:25% !important;
            }
             h1 {
                font-size: 13px !important;
            }

           h3 {
                font-size: 11px !important;
            }


                .card h1 {
                    font-size: 1.5rem !important;
                }

            .card h3 {
                line-height: 2.2 !important;
                font-size: 1.2rem !important;
            }
            h1 {
                font-size: 19px !important;
            }

            h3 {
                font-size: 16px !important;
            }



            .takrir-ada2-container h1 {
                font-size: 14px !important;
            }


        }




        @@media(max-width:375px) {


            h3 {
                font-size: 15px !important;
            }

            h1 {
                font-size: 17px !important;
            }
            .card h3 {
                line-height: 1.4 !important;
                font-size: 1.2rem !important;
            }

            .takrir-ada2-container h1 {
                font-size: 17px !important;

            }
            .takrir-ada2-container .service-content h3 {
                padding: 29px !important;
            }

        }


        @@media screen and (max-width: 576px) {
            .blog-slider__img {
                width: 95%;
            }
            .blog-slider__content {
                padding: 0;
            }

            .blog-slider__button {
                width: 100%;
            }
        }



        @@media screen and (max-height: 500px) and (min-width: 992px) {
            .blog-slider__img {
                height: 270px;
            }
        }



        .blog-slider__content {
            padding-right: 122px;
        }

        .mb-1 {
            margin-bottom: 10px !important;
        }
</style>

@if (InitialDirection == "rtl")
{

    <style>
        .blog-slider__img {
            width: 496px;
            flex-shrink: 0;
            height: 300px;
            background: linear-gradient(90deg, rgba(68,127,153,1) 12%, rgba(93,172,207,1) 46%, rgba(68,127,153,1) 92%);
            box-shadow: -1px 1px 5px 0px #447f99;
            border-radius: 20px;
            transform: translateX(-12px) !important;
            overflow: hidden;
        }
    </style>
}
else
{
    <style>
        .flex-item-1 {
            margin: 20px;
        }

        .blog-slider__img {
            width: 496px;
            flex-shrink: 0;
            height: 300px;
            background: linear-gradient(90deg, rgba(68,127,153,1) 12%, rgba(93,172,207,1) 46%, rgba(68,127,153,1) 92%);
            box-shadow: -1px 1px 5px 0px #447f99;
            border-radius: 20px;
            transform: translateX(3px) !important;
            overflow: hidden;
        }
    </style>
}


@Html.Partial("~/Views/TestCMS/_ImageChangeModal.cshtml")

<div class="row" style="margin-top:15px;">
    <div class="col-lg-12">
        <a class="btn btn-primary" href="@Url.Action(pageName,"TestCMS")" style="margin-bottom:5px;">العودة</a>
    </div>
</div>
<div class="row" dir="@InitialDirection" style="padding:20px;">





    <div class="content-container" style="background:white;">
        @if (sliderType == "slider1")
        {
            <div class="col-12">
                الصورة: ١٤٧٩ × ٥٢٣
            </div>
            @Html.Partial("~/Views/CMS/_SlidersPartial.cshtml", new ViewDataDictionary { { "NavbarData", NavbarDataSlider }, { "LanguageIdentifier", ViewBag.CurrentLanguageIdentifier } })
        }
        else
        {
            <div class="row">
                الصورة: ٤٩٦ × ٣٠٠
            </div>
            @Html.Partial("~/Views/CMS/_SpecialCarousel.cshtml", new ViewDataDictionary { { "NavbarData", NavbarDataSlider }, { "LanguageIdentifier", ViewBag.CurrentLanguageIdentifier } })
        }

    </div>

</div>
<div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12">
        <p style=" font-size: 23px;"><b>ملاحظة: </b>يتم حفظ هذه المعلومات في اللغتين العربية والإنجليزية. </p>
    </div>
</div>
<div class="repeater">
    <div class="repeater-items-container"></div>
</div>
<div class="row mt-1" style="margin-bottom:10px;margin-top:10px;">

    <div class="col-lg-2 mb-1"><input type="button" class="btn btn-primary" id="addNewSlideBtn" value="إضافة سليد جديد" /><input type="button" class="btn btn-danger" id="removeNewSlideBtn" value="حذف" style="margin:10px;" /></div>

</div>
<!-- Modal CARDS-->
<div class="modal fade" id="modalCards" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel"></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            @Html.Partial("~/Views/TestCMS/_CardModal.cshtml", new CardModalViewModel() { TitleTranslation = "", languageNeeded = 3, SubTitleTranslation = "", ParagraphTranslation = "", imageKey = 0 })
            <div class="modal-footer">
                <input type="button" id="saveBtnCard" class="btn btn-primary" value="حفظ" />
                <button type="button" class="btn btn-secondary" data-dismiss="modal"> إغلاق</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="exampleModal1" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel"></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <h1 class="text-center modal-head-title"></h1>
                <p class="text-center modal-head-text" style="line-height:3.4rem">

                </p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">إغلاق</button>
            </div>
        </div>
    </div>
</div>

<script src=@Url.Content("~/assets/NewPages/slider2/swiper.js")></script>
<script src=@Url.Content("~/assets/NewPages/sweetAlert/sweetalert.js")></script>
<script src="@Url.Content("~/Scripts/bootbox.min.js")"></script>
<script>


        function getId(url) {
            const regExp = /^.*(youtu.be\/|v\/|u\/\w\/|embed\/|watch\?v=|&v=)([^#&?]*).*/;
            const match = url.match(regExp);

            return (match && match[2].length === 11)
                ? match[2]
                : null;
        }

        function matchYoutubeUrl(url) {
            var p = /^(?:https?:\/\/)?(?:m\.|www\.)?(?:youtu\.be\/|youtube\.com\/(?:embed\/|v\/|watch\?v=|watch\?.+&v=))((\w|-){11})(?:\S+)?$/;
            if (url.match(p)) {
                return url.match(p)[1];
            }
            return false;
        }


        function reveal() {
            var reveals = document.querySelectorAll(".reveal");

            for (var i = 0; i < reveals.length; i++) {
                var windowHeight = window.innerHeight;
                var elementTop = reveals[i].getBoundingClientRect().top;
                var elementVisible = 150;

                if (elementTop < windowHeight - elementVisible) {
                    reveals[i].classList.add("active");
                } else {
                    reveals[i].classList.remove("active");
                }
            }
        }


        window.addEventListener("scroll", reveal);
        $(function () {
            $('#main-menu').smartmenus({
                subMenusSubOffsetX: 1,
                subMenusSubOffsetY: -8
            });
        });


        $(".dropbtn").click(function () {

            $(this).next().toggle();
        });

        document.addEventListener('keydown', function (event) {
            if (event.keyCode == 27) {
                event.preventDefault();
            }

        });


        function myFunction() {
            var x = document.getElementById("myTopnav");
            if (x.className === "topnav") {
                x.className += " responsive";
            } else {
                x.className = "topnav";
            }
        }





        //function myFunction() {
        //    var x = document.getElementById("myTopnav");
        //    if (x.className === "topnav") {
        //        x.className += " responsive";
        //    } else {
        //        x.className = "topnav";
        //    }
        //}
          $("#ManbarSilatWasel").click(function () {

            submit_post_via_hidden_form("@Url.Action("Manbar", "NewPages")", {});

          });
        $("#MarsadAlAda2AlIdari").click(function () {

            submit_post_via_hidden_form("@Url.Action("Marsad", "NewPages")", {});

        });
        $("#SignInMarkaz").click(function () {

            @if (User.Identity.IsAuthenticated)
            {

                if (User.IsInRole("PB"))
                {
 <text>
            window.location = '@Url.Action("Index", "PBDashboard")';

            </text>
                }
                else
                {
 <text>
            submit_post_via_hidden_form("@Url.Action("Index", "Home")", {});

            </text>
                }

            } else
            {
                <text>
            submit_post_via_hidden_form("@Url.Action("LoginView", "Account")", { ManagerIndex: "True" });

            </text>
            }


        });

        $("#SinInMangersButton").click(function () {

            @if (User.Identity.IsAuthenticated)
                            {

                                if (User.IsInRole("PB"))
                                {
 <text>
            window.location = '@Url.Action("Index", "PBDashboard")';

            </text>
                                }
                                else
                                {
 <text>
            submit_post_via_hidden_form("@Url.Action("Index", "Home")", {});

            </text>
                                }

            }else
            {
                <text>
            submit_post_via_hidden_form("@Url.Action("LoginView", "Account")", { ManagerIndex: "True" });

            </text>
            }


        });

        $(".goToEstetla3ra2i").click(function () {
            var formKey = $(this).attr("data-formkey");
             submit_post_via_hidden_form("@Url.Action("Index", "SurveyReport")", { FormTemKey: formKey });
        })

        $(".EmptyEstetla3Class").hover(function () {
            $(this).text("لا يوجد نتائج إستطلاعات رأي");
        })

        $(".EmptyEstetla3Class").mouseleave(function () {
            $(this).text("نتائج إستطلاعات الرأي");
        })

        $("#GlobalLearningLink").click(function () {

            window.location.href = "http://www.gl.ae/home";

        });


        $("#SignInManbar").click(function () {

            submit_post_via_hidden_form("@Url.Action("LoginView", "Account")", {});


        });

        $("#GoToManbar").click(function () {

            submit_post_via_hidden_form("@Url.Action("Manbar", "Home")", {});


        });

        $("#GoToMarkaz").click(function () {

            submit_post_via_hidden_form("@Url.Action("Markaz", "NewPages")", {});


        });


        $("#AboutMarsad").click(function () {
            if (checkIfSamePage("Home/AboutMarsad") == "NotFound")
                submit_post_via_hidden_form("@Url.Action("AboutMarsad", "Home")", {});


        });


        $("#AboutMarkaz").click(function () {
            if (checkIfSamePage("Home/AboutMarkaz") == "NotFound")
                submit_post_via_hidden_form("@Url.Action("AboutMarkaz", "Home")", {});


        });

        $("#AboutManbar").click(function () {




            if (checkIfSamePage("Home/AboutManbar") == "NotFound")
                submit_post_via_hidden_form("@Url.Action("AboutManbar", "Home")", {});

        });


        function checkIfSamePage(PagePath) {
            var url = window.location.href;     // Returns full URL


            if (url.indexOf(PagePath) != -1) {
                return "Found";
            } else {
                return "NotFound"
            }


        }

        $("#Khousousya").click(function () {
            if (checkIfSamePage("Home/Khousousya") == "NotFound")
                submit_post_via_hidden_form("@Url.Action("Khousousya", "Home")", {});


        });

        $("#Himayatalserya").click(function () {
            if (checkIfSamePage("Home/Himayatalserya") == "NotFound")
                submit_post_via_hidden_form("@Url.Action("Himayatalserya", "Home")", {});


        });

        @*var ClassName = '@ViewBag.PageName';

                        $("." + ClassName).show();*@



        $("#Moutaba3atChakwa").click(function () {


            window.location = '@Url.Action("Index", "UserDashboard")';

        });


        $("#gotodashbordCitizen").click(function () {


            @if (User.Identity.IsAuthenticated)
       {
                      <text>
            window.location = '@Url.Action("Index", "UserDashboard")';

            </text>
            }else
            {

                                     <text>
            $("#SignInManbar").click();

            </text>

            }



        });


        $("#gotodashbord").click(function () {

            @if (User.IsInRole("ADManager") || User.IsInRole("ADDirector") || User.IsInRole("HR"))
            {
                <text>
            window.location = '@Url.Action("AdUsersLandingPage", "Home")';

            </text>
            }@*else
                if (User.IsInRole("Administrator")) {

                    <text>
            window.location = '@Url.Action("Index", "AspNetUsers")';


            </text>

                }*@else
                    if (User.IsInRole("Editor")) {

                        <text>
            window.location = '@Url.Action("Index", "MouwazafinWithOrgs")';


            </text>

                    }
                    else
                        if (User.IsInRole("PB")) {

                            <text>
            window.location = '@Url.Action("Index", "PBDashboard")';


            </text>

                        }
                        else
                        {
                            <text>
            window.location = '@Url.Action("Index", "UserDashboard")';

            </text>
                        }

            {

            }
        });

        function submit_post_via_hidden_form(url, params) {
            var f = $("<form method='POST' style='display:none;'></form>").attr({
                action: url
            }).appendTo(document.body);

            for (var i in params) {
                if (params.hasOwnProperty(i)) {
                    $('<input type="hidden" />').attr({
                        name: i,
                        value: params[i]
                    }).appendTo(f);
                }
            }

            f.submit();

            f.remove();
        }

        $("#AkhbarWizara").click(function () {

            submit_post_via_hidden_form("@Url.Action("AkhbarWizara", "Home")", {});


        })

        @*$("#HeaderLogo").click(function () {
            submit_post_via_hidden_form("@Url.Action("Markaz", "NewPages")", {});

        })*@

        $("#Machari3Wizara").click(function () {

            submit_post_via_hidden_form("@Url.Action("Machari3Wizara", "Home")", {});


        })


        $(".akhbaralwizara").click(function () {
            window.location = '@Url.Action("AboutWizara", "Home")';
        });

        $(".machari3alwizara").click(function () {
            window.location = '@Url.Action("AboutMachari3", "Home")';
        });


        $(".logoff").click(function () {


            window.location = '@Url.Action("LogOff", "Account")';

        });

        function goToMyClaim(formKey, GUID, CreatedAt, CitizenKey, NextFormTemplateKey, CurrentStatusKey, CurrentFormtemplateKey, CurrentFormtemplateName, CurrentStatusName, NextOrganisationKey, CurrentOrganisationKey) {

            @if (User.IsInRole("ADManager") || User.IsInRole("ADDirector"))
           {
               <text>
            submit_post_via_hidden_form("@Url.Action("ADManagerTemplate", "FormTemplatesDisplay")", { formKey: formKey, GUID: GUID, CreatedAt: CreatedAt, CitizenKey: CitizenKey, CurrentStatusKey: CurrentStatusKey, NextFormTemplateKey: NextFormTemplateKey, CurrentFormtemplateKey: CurrentFormtemplateKey, CurrentFormtemplateName: CurrentFormtemplateName, NextOrganisationKey: NextOrganisationKey, CurrentOrganisationKey: CurrentOrganisationKey });

            @*window.location = '@Url.Action("ADManagerTemplate", "FormTemplatesDisplay")/' + "?formKey=" + formKey + "&GUID=" + GUID + "&CreatedAt=" + CreatedAt + "&CitizenKey=" + CitizenKey + "&CurrentStatusKey=" + CurrentStatusKey + "&NextFormTemplateKey=" + NextFormTemplateKey + "&CurrentFormtemplateKey=" + CurrentFormtemplateKey + "&CurrentFormtemplateName=" + CurrentFormtemplateName + "&NextOrganisationKey=" + NextOrganisationKey + "&CurrentOrganisationKey=" + CurrentOrganisationKey;*@
            </text>
                        }
            @if (User.IsInRole("OPManager") || User.IsInRole("OPGeneralDirector") || User.IsInRole("OPDirector") || User.IsInRole("Human Development Sector") || User.IsInRole("Administrative sector") || User.IsInRole("Economic sector") || User.IsInRole("Service sector"))
            {
                <text>
            @*window.location = '@Url.Action("FormInstance", "Home")/' + "?formKey=" + formKey + "&GUID=" + GUID + "&CreatedAt=" + CreatedAt + "&CitizenKey=" + CitizenKey + "&CurrentStatusKey=" + CurrentStatusKey + "&NextFormTemplateKey=" + NextFormTemplateKey + "&CurrentFormtemplateKey=" + CurrentFormtemplateKey + "&CurrentFormtemplateName=" + CurrentFormtemplateName + "&CurrentStatusName=" + CurrentStatusName + "&NextOrganisationKey=" + NextOrganisationKey + "&CurrentOrganisationKey=" + CurrentOrganisationKey;*@
            submit_post_via_hidden_form("@Url.Action("FormInstance", "Home")", { formKey: formKey, GUID: GUID, CreatedAt: CreatedAt, CitizenKey: CitizenKey, CurrentStatusKey: CurrentStatusKey, NextFormTemplateKey: NextFormTemplateKey, CurrentFormtemplateKey: CurrentFormtemplateKey, CurrentFormtemplateName: CurrentFormtemplateName, CurrentStatusName: CurrentStatusName, NextOrganisationKey: NextOrganisationKey, CurrentOrganisationKey: CurrentOrganisationKey });

            </text>
                        }
            @if (User.IsInRole("Citizen"))
            {
                <text>
            @*window.location = '@Url.Action("ADManagerTemplate", "FormTemplatesDisplay")/' + "?formKey=" + formKey + "&GUID=" + GUID + "&CreatedAt=" + CreatedAt + "&CitizenKey=" + CitizenKey + "&CurrentStatusKey=" + CurrentStatusKey + "&NextFormTemplateKey=" + NextFormTemplateKey + "&CurrentFormtemplateKey=" + CurrentFormtemplateKey + "&CurrentFormtemplateName=" + CurrentFormtemplateName + "&NextOrganisationKey=" + NextOrganisationKey + "&CurrentOrganisationKey=" + CurrentOrganisationKey;*@
            submit_post_via_hidden_form("@Url.Action("ADManagerTemplate", "FormTemplatesDisplay")", { formKey: formKey, GUID: GUID, CreatedAt: CreatedAt, CitizenKey: CitizenKey, CurrentStatusKey: CurrentStatusKey, NextFormTemplateKey: NextFormTemplateKey, CurrentFormtemplateKey: CurrentFormtemplateKey, CurrentFormtemplateName: CurrentFormtemplateName, NextOrganisationKey: NextOrganisationKey, CurrentOrganisationKey: CurrentOrganisationKey });

            </text>
                        }
        }


        function changeLanguage(languageCode) {
            $.ajax({
                url: '@Url.Action("ChangeLanguage", "Home")',
                type: 'GET',
                cache: false,
                dataType: 'text',
                data: ({
                    id: languageCode
                }),
                contentType: 'application/json; charset=utf-8',
                success: function (data) {
                    location.reload();
                },
                error: function (xhr) {
                    console.log('errorr');
                }
            });
        }
        $('.carousel').carousel({
            interval: false,
        });



        //Dropzone Index
        var index = 0;
        //dropzones Array
        var dropzones = [];

        //Map where the key is dropzone dataindex and the value is key
        var fileExtensionKeys = new Map();

        //this variable is used to check whether a slide exist at a specfic index or no
        var slideExistsBool = false;

        $(document).on('click', "#addNewSlideBtn", function () {
            if ($(".repeater-items-container").children().length == 1) {
                swal("خطأ!","يجب حفظ العنصر الأول قبل إنشاء عنصر جديد!", "error");
                return;
            }
            var res = createRepeaterItems('f0');
            $(".repeater-items-container").append(res);
            InitAndRefreshDropzone(index);
            index++;


            if ($('.repeater').find('.saveBtn').length == 0) {

                var saveContainer = "<div class='row saveContainer'>";
                saveContainer += "<div class='col-lg-2 col-md-2 mt-1'><input type='button' class='saveBtn btn btn-primary' value='حفظ'/></div>";
                saveContainer += "</div>";
                $(".repeater").append(saveContainer);
            }
        })

        $(document).on('click', "#removeNewSlideBtn", function () {
            var repeater = $(".repeater-items-container");
            if ($(repeater).children().length != 0) $(repeater).children().last().remove();
            if ($(repeater).children().length == 0) {
                $(".repeater").find(".saveContainer").remove();
            }
        })



        //CMS Functionnality

        $(document).on('click', '#saveBtnCard', function () {
            $.blockUI($("body"));
            if ($(".title-container").is(":visible")) {
                var titleModalVal = $("#titleModal").val();
                var titleModalTranslation = $("#titleModal").data('translation');
                 changeText(titleModalTranslation, titleModalVal, "title");
            }
            if ($(".title-text-container").is(":visible")) {
                var titleTextModalval = $("#titleTextModal").val();
                var titleTextModalTranslation = $("#titleTextModal").data('translation');
                changeText(titleTextModalTranslation, titleTextModalval, "titleText");
            }

            if ($(".paragraph-container").is(":visible")) {
                var paragraphModalVal = $("#textParagraphModal").val();
                var paragraphTranslation = $("#textParagraphModal").data('translation');
               changeText(paragraphTranslation, paragraphModalVal, "paragraph");
            }





        })
       $(document).on('click', '.card', function () {
            clickedElement = $(this);

            var title = "";
            var titleText = "";
            var paragraph = "";
            var titleTranslation = "";
            var titleTextTranslation = "";
            var paragraphTranslation = "";
            var imageKey = 0;

            title = $(this).find(".title").text().trim();

            var titleTranslation = $(this).find(".title").data('translation');



            titleText = $(this).find(".titleText").text().trim();
            var titleTextTranslation = $(this).find(".titleText").data('translation');

            paragraph = $(this).find(".paragraph").text().trim();
            var paragraphTranslation = $(this).find(".paragraph").data('translation');

            imageKey = $(this).find(".imageKeyinput").val();
          //  console.log(imageKey);
            var language = @languageIdentifier;
            var cardModal = {};
            cardModal["TitleTranslation"] = titleTranslation;
            cardModal["SubTitleTranslation"] = titleTextTranslation;
            cardModal["ParagraphTranslation"] = paragraphTranslation;
            cardModal["languageNeeded"] = language;
            cardModal["imageKey"] = imageKey;
            var cardModalJsonString = JSON.stringify(cardModal);

            $(".modal-body-card").empty();
            $(".modal-body-card").append('<img src="@Url.Content("~/images/customgif/Syrian Loader.gif")" alt="Loading" style="width:20%;z-index:4; margin-right:40%" />');
             $.ajax({

                            url: '@Url.Action("ChangeLanguageInModal","TestCMS")',



                            type: 'POST',



                            data: {

                                __RequestVerificationToken: $('@Html.AntiForgeryToken()').val(),

                                componentName: "card",

                                componentStringObject: cardModalJsonString

                            },



                            success: function (data) {
                                if (data != "404") {

                                    $(".modal-body-card").empty();
                                    $(".modal-body-card").append(data);

                                    var image = $(".image-to-reload");
                                    var imageSrc = $(image).attr('src');
                                    $(image).attr('src', reloadImage(imageSrc));
                                }






                            },



                            error: function (error) {

                                swal("Error", "Error Occured!", "error");

                            }
                        });



        })
        //$(document).on('click', '.img-to-change', function () {
        //    console.log("here");
        //    $('.close').click();
        //    $(".modal-backdrop").remove();
        //})
        function changeText(guidToSend, textChanged, inputChangedName) {
            var lang = "";

            if ($(clickedElement).hasClass("card")) {
                lang = $("#languageDropDownCard option:selected").val();
               // console.log("here in sa7");
            }
            else {
                lang = $("#languageDropDownSingle option:selected").val();
               // console.log("here in ghalat");
            }
            if (guidToSend.length == 0 || textChanged.length == 0) return;
            $.ajax({

                url: '@Url.Action("UpdateDataTranslation", "CMS")',



                type: 'POST',



                data: {

                    __RequestVerificationToken: $('@Html.AntiForgeryToken()').val(),

                    guid: guidToSend,

                    newTransaltion: textChanged,

                    language: parseInt(lang)

                },



                success: function (data) {
                    $.unblockUI($("body"));
                    if (data != "Error") {

                        swal("مبروك", "تم حفظ المعلومات", "success");
                        if ($(clickedElement).hasClass("card")) {
                            if(lang === '@languageIdentifier'){
                                if (inputChangedName == "title") {

                                    $(clickedElement).find(".title").text(data);
                                }
                                if (inputChangedName == "titleText") {
                                    $(clickedElement).find(".titleText").text(data);
                                }
                                if (inputChangedName == "paragraph") {
                                    $(clickedElement).find(".paragraph").text(data);
                                }
                            }


                        }
                        else {

                            $(clickedElement).text(data);
                        }

                    }



                    $(".close").click();




                },



                error: function (error) {
                    $.unblockUI($("body"));
                    swal("Error", "Error Occured!", "error");

                }
            });
        }

        $(document).on('change', "#languageDropDownCard", function () {

            var language = $("#languageDropDownCard option:selected").val();

                            // 1) get the data translations needed from inputs
                        var titleModalTranslation = "";
                        var titleTextModalTranslation = "";
                        var paragraphModalTranslation = "";
                        var imageKey = 0;
                        if ($(".title-container").is(":visible")) {
                            titleModalTranslation = $("#titleModal").data('translation');
                        }
                        if ($(".title-text-container").is(":visible")) {
                             titleTextModalTranslation = $("#titleTextModal").data('translation');
                        }

                        if ($(".paragraph-container").is(":visible")) {
                            paragraphModalTranslation = $("#textParagraphModal").data('translation');
                        }
                        imageKey = $("#imgModal").data("translation");
                       // create object of these translations
                        var cardModal = {};
                        cardModal["TitleTranslation"] = titleModalTranslation;
                        cardModal["SubTitleTranslation"] = titleTextModalTranslation;
                        cardModal["ParagraphTranslation"] = paragraphModalTranslation;
                        cardModal["languageNeeded"] = language;
                        cardModal["imageKey"] = imageKey;
            var cardModalJsonString = JSON.stringify(cardModal);

            $(".modal-body-card").empty();
            $(".modal-body-card").append('<img src="@Url.Content("~/images/customgif/Syrian Loader.gif")" alt="Loading" style="width:20%;z-index:4; margin-right:40%" />');
                         $.ajax({

                            url: '@Url.Action("ChangeLanguageInModal", "TestCMS")',



                            type: 'POST',



                            data: {

                                __RequestVerificationToken: $('@Html.AntiForgeryToken()').val(),

                                componentName: "card",

                                componentStringObject: cardModalJsonString

                            },



                            success: function (data) {

                                if (data != "404") {
                                    $(".modal-body-card").empty();
                                    $(".modal-body-card").append(data);

                                    var image = $(".image-to-reload");
                                    var imageSrc = $(image).attr('src');
                                    $(image).attr('src', reloadImage(imageSrc));
                                }





                            },



                            error: function (error) {

                                swal("Error", "Error Occured!", "error");

                            }
                        });


        })

        //Utilities functions
        function createRepeaterItems(className) {
            var result = "";


            result += "<div class='row f0'>";
            result += "<hr/>";
            result += "<div class='col-lg-6 col-md-6 col-sm-12'>";

            result += "<div class='mb-1'>";
            result += "<label for='indexing' class='fs-2'>السليد رقم</label>";
            result += "<input type='number' class='form-control IndexValue'/>";
            result += "</div>";
            result += "<div class='mb-1'>";
            result += "<label for='title' class='fs-2'>العنوان</label>";
            result += "<input type='text' class='form-control TitleValue'/>";
            result += "</div>";
            result += "<div class='mb-1'>";
            result += "<label for='paragraph' class='fs-2'>النص</label>";
            result += "<textarea class='form-control ParagraphValue'></textarea>";
            result += "</div>";
            result += "</div>";
            result += "<div class='col-lg-6 col-md-6 col-sm-12'>";
            result += "<div class='dropzone' id='dropzoneItem" + index + "' data-index='" + index + "'><div class='dz-message' data-dz-message><span>قم بإسقاط الملفات هنا للتحميل</span></div></div>";
            result += "</div>";
            result += "</div>";


            return result;
        }

        function getTheRequiredDropzone(dropzoneId) {
            for (var i = 0; i < dropzones.length; i++) {
                if (dropzones[i].element.id === dropzoneId) return dropzones[i];
            }
            return null;
        }
         function InitAndRefreshDropzone(index) {
            var dropZoneItem = "#dropzoneItem" + index;

            var dataIndex = $(dropZoneItem).data('index');
            var dropzone = new Dropzone(dropZoneItem, {

                url: '@Url.Action("UploadFile2","CMS")',

                file: "file",
                maxFiles: 1,
                addRemoveLinks: true,
                acceptedFiles: ".png,.jpg,.jpeg,.jfif,.gif,.mp4,.mpg, .mpeg, .m2v,.m4v,.wmv,.webm",

                success: function (file, response) {
                    if (response != "Error")

                        fileExtensionKeys.set(dataIndex,response);
                        //fileExtensionKeys[index] = response;

                },
                removedfile: function (file) {

                    $.ajax({
                url: '@Url.Action("RemoveFile","CMS")',
                type: 'POST',
                        data: {
                            extendedDatakey: fileExtensionKeys.get(dataIndex),

                },
                 success: function (data) {

                     return (_ref = file.previewElement) != null ? _ref.parentNode.removeChild(file.previewElement) : void 0;

                },
                error: function (error) {
                    //console.log(error);
                        }

                    });



                }
            })

            dropzones.push(dropzone);

        }


        //$(document).on("keydown", ".IndexValue", function (index) {
        //    console.log("keydown");
        //    console.log(index.originalEvent);
        //    console.log(index.originalEvent.key);
        //    if (index.originalEvent.key == "e") {
        //        index.originalEvent.key = "";
        //    }
        //})

        var components = [];
        //on save btn clicked
        $(document).on('click', ".saveBtn", function () {
            $.blockUI($("body"));
            var repeaterLastChildren = $(".repeater-items-container").children().last();

            var component = {};
            var childrensInputsAndImage = $(repeaterLastChildren).children();
            //$('.IndexValue').each(function (i, obj) {
            //    var indexValue = $(this).val();
            //    if (indexValue == '') {
            //        swal("إنتبه!", "يجب عليك ملء الترتيب !", "error");
            //        return;
            //    }
            //});

            var inputIndex = $(childrensInputsAndImage).find(".IndexValue").val();
            console.log("inputIndex");
            console.log(inputIndex);
            if (inputIndex == '' || inputIndex == undefined) {
                $.unblockUI($("body"));
                swal("خطأ", "الرجاء تحديد رقم السليد", "error");
                return;
            }

            var inputTitle = $(childrensInputsAndImage).find(".TitleValue").val();
            var inputParagraph = $(childrensInputsAndImage).find(".ParagraphValue").val();
            var dropzoneId = $(childrensInputsAndImage).find(".dropzone").attr("id");
            var dropzone = getTheRequiredDropzone(dropzoneId);
            var dropzoneDataIndex = $("#" + dropzoneId).data('index');
            console.log(parseInt(inputIndex));
            console.log(dropzone.files.length);
          
            
            //console.log(!CheckParagraph(inputParagraph));
            if (parseInt(inputIndex) < 0 || parseInt(inputIndex) > 99 || dropzone.files.length == 0) {
                $.unblockUI($("body"));
                swal("خطأ", "هناك خطأ في البيانات!", "error");
                return;
            }
            //create Title Component
            component["ItemName"] = inputTitle;
            component["ComponentType"] = "Text";
            component["ItemTypeKey"] = 0;
            component["ComponentLevel"] = 2;
            component["ComponentOrder"] = parseInt(inputIndex);
            component["ComponentIndex"] = 2;
            component["NavBarComponentKey"] = @navBarItemComponentKey;
            component["PageKey"] = @pageKey;
            components.push(component);

            //create Paragraph Component
            component = {};
            component["ItemName"] = inputParagraph;
            component["ComponentType"] = "Text";
            component["ItemTypeKey"] = 0;
            component["ComponentLevel"] = 2;
            component["ComponentOrder"] = parseInt(inputIndex);
            component["ComponentIndex"] = 3;
            component["NavBarComponentKey"] = @navBarItemComponentKey;
            component["PageKey"] = @pageKey;
            components.push(component);

            //create Image Component
            component = {};
            component["ItemName"] = "";
            component["ComponentType"] = "Image";
            component["ItemType"] = "Image";
            component["ItemTypeKey"] = fileExtensionKeys.get(dropzoneDataIndex);
            component["ComponentLevel"] = 1;
            component["ComponentOrder"] = parseInt(inputIndex);
            component["ComponentIndex"] = 1;
            component["NavBarComponentKey"] = @navBarItemComponentKey;
            component["PageKey"] = @pageKey;
            components.push(component);





            if (slideExistsBool) {
                $.unblockUI($("body"));
                swal({
                    title: "هناك سليد يحمل نفس الرقم،هل تريد إستبداله؟",
                    text: "",
                    icon: "warning",
                    buttons: ["كلا", "نعم"],
                    dangerMode: true,
                }).then((willReplace) => {
                    if (willReplace) {
                        saveSlide();
                    }
                });
            }
            else {
                saveSlide();
            }



        })

        $(document).on('click', '#deleteSlideBtn', function () {
            $(".card").attr("disabled", true);
            var componentOrder = parseInt($(this).data('componentorder'));
            var sliderType = $(this).data('type');
            var navbarKey = @navBarItemComponentKey;
            $("body").block({ message: null });
            $.ajax({

                            url: '@Url.Action("DeleteSlide", "SliderManager")',



                            type: 'POST',



                            data: {

                                __RequestVerificationToken: $('@Html.AntiForgeryToken()').val(),

                                parentItemKey: navbarKey,
                                componentOrder: componentOrder,
                                type: sliderType

                            },



                success: function (data) {
                    if (data != 400) {

                        $(".content-container").empty();
                        $(".content-container").append(data);
                        swal("مبروك", "تم حذف السليد بنجاح!", "success");
                        $("body").unblock();

                    }



                            },



                            error: function (error) {

                                swal("Error", "Error Occured!", "error");
                                $("body").unblock();

                            }
                        });
        })

        $(document).on('change', '.IndexValue', function () {
            var indexVal = $(this).val();
            console.log($(this).val());
            $.ajax({

                            url: '@Url.Action("CheckIfSlideExists", "SliderManager")',



                            type: 'POST',



                            data: {

                                __RequestVerificationToken: $('@Html.AntiForgeryToken()').val(),

                                pageKey: '@pageKey',
                                componentOrder: indexVal,
                                navbarComponentKey: '@navBarItemComponentKey'

                            },



                success: function (data) {
                    if (data == 200) slideExistsBool = true;
                    else slideExistsBool = false;
                    console.log(slideExistsBool);

                            },



                            error: function (error) {

                                swal("Error", "Error Occured!", "error");


                            }
                        });
        })


        function saveSlide() {
            $("body").block({ message: null });
            var componentsArrString = JSON.stringify(components);

            $.ajax({

                            url: '@Url.Action("AdjustSliderComponents", "SliderManager")',



                            type: 'POST',



                            data: {

                                __RequestVerificationToken: $('@Html.AntiForgeryToken()').val(),

                                components: componentsArrString,
                                sliderType: '@sliderType'


                            },
                 beforesend: function () {
                     $("body").block({ message: null });
                 },


                success: function (data) {
                    $.unblockUI($("body"));
                                if (data != 400) {
                                    //$(".repeater-items-container").unblock();
                                    $("body").unblock({ message: null });
                                    $(".content-container").empty();
                                    $(".content-container").append(data);
                                    $(".repeater-items-container").children().remove();
                                    $(".saveContainer").children().remove();
                                    swal("مبروك", "تم إضافة السليد بنجاح!", "success");
                                 components = [];

                                }



                            },



                            error: function (error) {
                                $.unblockUI($("body"));
                                // $(".repeater-items-container").unblock();
                                $("body").unblock({ message: null });
                                swal("Error", "Error Occured!", "error");
                                components = [];
                            }
             });


        }


        //function CheckParagraph(paragraph) {
        //    var paragSplittedArray = paragraph.split(" ");
        //    if (paragSplittedArray.length > 35) {
        //        return false;
        //    }
        //    return true;
        //}
        var swiper = new Swiper('.blog-slider', {
            spaceBetween: 30,
            effect: 'fade',
            loop: true,
            mousewheel: {
                invert: false,
            },
            // autoHeight: true,
            pagination: {
                el: '.blog-slider__pagination',
                clickable: true,
            }
        });
        function reloadImage(src) {
            // Create a timestamp
            var timestamp = new Date().getTime();

            // Get the image element

            var newSrc = src + "&t=" + timestamp;
            return newSrc;


        }
</script>
