﻿@using Microsoft.AspNet.Identity
@using MoAD.DataObjects.EDMX
@using MoAD.WebApplication.Objects
@using MoAD.WebApplication.Managers
@using MoAD.WebApplication.Models;
@{
    ViewBag.Title = "Home Page";
    Layout = null;
    HttpCookie languageCookie = Request.Cookies["Language"];
    var InitialDirection = "rtl";
    if (languageCookie != null && languageCookie.Value != "3")
    {
        InitialDirection = "ltr";
    }
    List<GetAdManagerForms_Result> Estetla3Ra2iPublishedFormsForManbar = ViewBag.Estetla3Ra2iPublishedForms;

    if (Estetla3Ra2iPublishedFormsForManbar == null)
    {
        Estetla3Ra2iPublishedFormsForManbar = new List<GetAdManagerForms_Result>();
    }
    int languageIdentifier = (int)ViewBag.CurrentLanguageIdentifier;
    int? pageKey = (int?)ViewBag.pageKey;
    //int? videoComponentPageKey = (int?)ViewBag.videoComponentPageKey;
    //Dictionary<string, string> Locale = ViewBag.Locale;

    int navBarItemComponentKey = (int)ViewBag.NavBarItemComponentKey;
    List<NavBarViewModel> NavbarData = (List<NavBarViewModel>)ViewBag.NavbarData;
    List<NavBarViewModel> NavbarData2 = (List<NavBarViewModel>)ViewBag.NavbarData2;

    string sliderType = ViewBag.SliderType;
    string pageName = ViewBag.PageName;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <title> إنشاء سليدر</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="@Url.Content("~/assets/NewPages/bootstrap/bootstrap.min.css")">
    <link rel="stylesheet" href="@Url.Content("~/assets/NewPages/slider2/normalize.css")">
    <link rel='stylesheet' href="@Url.Content("~/assets/NewPages/slider2/swiper.css")">
    <script src="@Url.Content("~/assets/NewPages/jquery/jquery.min.js")"></script>
    <script src="@Url.Content("~/assets/NewPages/bootstrap/bootstrap.min.js")"></script>


    <link href="@Url.Content("~/content/header/sm-core-css.css")" rel="stylesheet" />
    <link href="@Url.Content("~/content/header/sm-blue.css")" rel="stylesheet" />

    <link href="@Url.Content("~/content/header/sm-core-css.css")" rel="stylesheet" />
    <link href="@Url.Content("~/content/header/sm-blue.css")" rel="stylesheet" />
    @*<script src="@Url.Content("~/Scripts/vendors/jquery/jquery.min.js")"></script>*@
    <link href="@Url.Content("~/Content/SharedLayout.css")" rel="stylesheet" />
    <link href="@Url.Content("~/Content/Css/font-awesome.min.css")" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="https://unpkg.com/dropzone@5/dist/min/dropzone.min.css" type="text/css" />
    <script src="@Url.Content("~/scripts/header/jquery.smartmenus.js")"></script>
    <script src="@Url.Content("~/assets/NewPages/blockui/blockui.js")"></script>
    <script src="https://unpkg.com/dropzone@5/dist/min/dropzone.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>

    <link href="@Url.Content("~/assets/NewPages/summerNote/dist/summernote.css")" rel="stylesheet">
    <script src="@Url.Content("~/assets/NewPages/summerNote/dist/summernote.js")"></script>
    <script src="@Url.Content("~/assets/NewPages/summerNote/dist/lang/summernote-ar-AR.min.js")"></script>

    <link rel="apple-touch-icon" sizes="180x180" href="@Url.Content("~/assets/app/media/img/favicon/apple-touch-icon.png")">
    <link rel="icon" type="image/png" sizes="32x32" href="@Url.Content("~/assets/app/media/img/favicon/favicon-32x32.png")">
    <link rel="icon" type="image/png" sizes="16x16" href="@Url.Content("~/assets/app/media/img/favicon/favicon-16x16.png")">
    <link rel="manifest" href="@Url.Content("~/assets/app/media/img/favicon/site.webmanifest")">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">


    <style>
        @@font-face {
        font-family: 'ge_dinar_onemedium';
        src:url('@Url.Content("~/assets/vendors/Fonts/GE Dinar One Medium.ttf")') format('truetype'),
            url('@Url.Content("~/assets/vendors/Fonts/ge-dinar-one-medium-webfont.woff2")') format('woff2'),
            url('@Url.Content("~/assets/vendors/Fonts//ge-dinar-one-medium-webfont.woff")') format('woff');
        font-weight: normal;
        font-style: normal;
    }
        .row{
            margin-right:0px !important;
            margin-left:0px !important;
        }

        .fs-2{
            font-size:1.8rem !important;
            font-weight:normal !important;
        }
        .item {
            max-height: 510px;
        }
        .dz-message{
            margin: 6em 0 !important;
        }
        .dropzone {
            min-height: 234px !important;
        }
        .carousel-caption {
            font-size: 22px;

        }
        .modal-body .title-container {
            background: white;
        }

        .modal-body label {
            color: #7c7c7c;
        }
        .modal-body select{
            cursor:pointer;
        }
        .modal-body input{
            margin-top:10px;
        }

        .modal input[type='text'] , .modal textarea {
            font-size: 18px;
        }
        .modal label {
            font-size: 20px;
            font-weight: normal;
            margin-top: 5px;
        }
        .btn{
            font-size:20px !important;
        }
        .modal button,.modal input[type="button"]{
            font-size:15px;
        }
        .modal select{
            width:100%;
        }
        .modal-body{
            padding:5px !important;
        }
        body {
            background: url(../Images/backgrounds/background.jpg) !important;
            background-repeat: no-repeat !important;
            background-size: cover !important;
            padding-top: 38px;
        }

        [dir="rtl"] {
            background-color: white !important;
        }

        body, h1, h2, h3, h4, h5, h6 {
            font-family: 'ge_dinar_onemedium' !important;
        }


        .reverse-row{
            display:flex;
            flex-direction:row-reverse;
        }

        ul a{
            cursor:pointer;
        }
        .sm-blue a, .sm-blue a:hover, .sm-blue a:focus, .sm-blue a:active {
            font-family: 'ge_dinar_onemedium' !important;
        }

        button,a {
            font-family: 'ge_dinar_onemedium' !important;
        }

        a {
            border-bottom: none !important;
        }

        h4, h3 {
            font-weight: normal !important;
        }

        .sm-blue li ul::-webkit-scrollbar {
            background: #D2D2D6;
            width: 8px;
        }

        .sm-blue li ul::-webkit-scrollbar-thumb {
            background: #64A1BC;
        }

        #main-menu {
            border-radius: 0px;
            /*z-index:0;*/
        }



        .sm-blue, .sm-blue li .has-submenu, .sm-blue .element, .sm-blue .no-child {
            background: #447F99 !important;
        }

            .sm-blue a {
                font-weight: normal !important;
                padding: 17px !important;
                font-size: 14px !important;
            }

            .sm-blue li ul {
                width: max-content !important;
                background: #F7F8F9;
                height: 150px;
                min-height: 200px;
                border: 0px !important;
                overflow: scroll;
                overflow-x: hidden;
            }


            .sm-blue li ul {
                right: 0px;
            }

                .sm-blue li ul li {
                    float: none !important;
                }

            .sm-blue li .has-submenu:hover, .sm-blue li .has-submenu:focus {
                color: #447F99 !important;
                background: #F7F8F9 !important;
            }

                .sm-blue li .has-submenu:hover i {
                    color: #447F99 !important;
                    background: #F7F8F9 !important;
                }



            .sm-blue .has-submenu .sub-arrow {
                display: none;
            }

            .sm-blue > li {
                border-right: 1px solid white;
            }

            .sm-blue li ul a {
                background: #F7F8F9;
                color: #447F99;
            }

            .sm-blue i {
                font-size: 16px;
                color: white;
                margin-left:8px;
            }

        header button {
            border: none;
            margin-bottom: 4px;
            background: none;
            font-size: 17px;
            color: #447F99;
            font-weight: bold;
        }

            header button:first-child {
                border-right: 2px solid #447F99;
            }

        h1 {
            font-size: 2.8rem !important;
        }

        h2 {
            font-size: 2.06rem;
        }

        .service-box {
            position: absolute;
            top: 0;
            opacity: 0;
            left: 0;
            width: 100%;
            height: 100%;
            perspective: 1000px;
            -webkit-perspective: 1000px;
        }

        .service-icon {
            width: 100%;
            /*height: 220px;*/
            padding: 40px;
            text-align: center;
            transition: all .5s ease;
        }










        .contact-container {
            background: url(../Images/backgrounds/sharekna-bg.jpg) !important;
            background-position: center !important;
            background-repeat: no-repeat !important;
            background-size: cover !important;
        }

        .slider-container, .slider-container2 {
            background: #EDEDED;
            margin-top: 1.25rem;
            padding-top: 2.125rem;
        }

        .slider-container {
            border: 0.875rem solid #8E1927;
        }

        .slider-container2 {
            border: 0.875rem solid #447F99;
        }

        .slide-item {
            display: none
        }

        .img-container {
            height: 276px;
            transform: translateX(-47%);
            margin: 20px;
        }

        .text-container {
            padding: 7px 5px;
            background: white;
            transform: translateX(19%);
            box-shadow: 8px 11px 5px -3px rgba(0,0,0,0.58);
            margin: 20px;
            /*  min-width: 300px;*/
        }


        .img img {
            width: 12.75rem;
            margin: 76px 40px;
        }



        .slide-item, .slide-item2 {
            display: none
        }

        .show-slide, .show-slide2 {
            display: block !important;
        }


        .text-container p {
            line-height: 1.9;
            max-width: 25rem;
            font-size: 1.25rem;
        }

        .text-container h2 {
            text-shadow: 2px 7px 2px #bbadad;
            color: #8E1927;
            font-size: 2.125rem;
            border-bottom: 2px solid #8E1927;
        }


        .toggle-btns {
            display: flex;
            justify-content: center;
            margin-top: 0.625rem;
        }




            .toggle-btns ul {
                display: flex;
                justify-content: center;
                align-items: center;
                background: #BFBFBF;
                border-radius: 0.937rem;
                padding-left: 4px;
                padding-right: 4px;
                list-style-type: none;
            }

                .toggle-btns ul li button {
                    width: 1.25rem;
                    height: 1.25rem;
                    background: #959494;
                    margin: 3px;
                    border-radius: 50%;
                    cursor: pointer;
                    border: none;
                }

        .previous, .next, .previous2, .next2 {
            background: none;
            border: none;
        }

        .content-container {
            /* margin-left: 30px;
            margin-right: 30px;*/
            margin-bottom: 20px;
            background: white;
            /* border-top: 8px solid #447F99;*/
            /*padding-bottom: 20px;*/
        }


        .HeaderH1 {
            color: #5c6a72;
            font-weight: bold;
            text-align: center;
            line-height: 1.5;
            font-size: 2.9rem !important;
        }



            .content-container2 .active2 {
                background: #447F99 !important;
            }

        i {
            font-size: 2.625rem;
            color: #447F99;
        }

        .takarir-container {
            background-color: #447F99;
            margin: 30px;
            border-radius: 20px;
            padding: 10px;
        }

            .takarir-container h1 {
                color: white;
            }

     /*   .takrir-ada2-container {

            height: 244px;
        }*/






        .pointer{
            cursor:pointer;
        }
        .smallimage {
            margin: auto;
        }
        .takrir-ada2-container h1 {
            font-size: 2.8rem !important;
        }
        .linetitle {
            background-color: #882525;
            height: 0.3vw;
            margin-bottom: 0.5vw;
        }


        .reveal {
            position: relative;
            transform: translateY(150px);
            opacity: 0;
            transition: 1s all ease;
        }

            .reveal.active {
                transform: translateY(0);
                opacity: 1;
            }

        #overlay {
            position: fixed;
            z-index: 99999999999999999999999999999;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            /* background: rgb(249, 249, 251); */
            transition: 1s 0.4s;
            background: #ffff;
            opacity: 0.8;

        }
        .blog-slider__pagination.swiper-pagination-bullets .swiper-pagination-bullet {
            margin: 8px 0;
        }
        .blog-slider__item {
            display: flex;
            align-items: center;
        }
        .carousel-control.right, .carousel-control.left{
            background-image:none;
        }
        /* MEDIA QUERIES*/
        @@media(max-width:1960px) {
            .text-container {
                transform: translateX(0);
            }


            .img-container {
                height: auto;
                transform: translateX(0);
            }

            .img img {
                margin: 76px 0px;
            }
        }
        @@media(max-width:1710px) {
            .cardwork h3 {
                line-height: 1.5 !important;
            }
        }
        @@media(max-width:1451px) {
            .cardwork h3 {
                line-height: 1.2 !important;
            }
        }

        @@media(max-width:1440px) {
            .card h3 {
                line-height: 1.2;
            }
        }
        @@media(max-width:1430px) {
            .blog-slider__content {
                margin-top: -80px;
                text-align: center;
                padding-right: 0px !important;
            }

            .sm-blue a {
                font-size: 17px !important;
            }

            .blog-slider__pagination {
                left: 50% !important;
                top: 205px;
                width: 100% !important;
                display: flex;
                justify-content: center;
                align-items: center;
            }

                .blog-slider__pagination.swiper-pagination-bullets .swiper-pagination-bullet {
                    margin: 0 5px;
                }

            .blog-slider__img {
                transform: translateY(-50%);
                width: 90%;
            }

            .blog-slider__pagination .swiper-pagination-bullet-active {
                height: 11px;
                width: 30px;
            }

            .blog-slider__item {
                flex-direction: column;
            }

            .blog-slider {
                min-height: 500px;
                height: auto;
                margin-top: 241px;
            }

            .text-isla7 {
                margin: 7px !important;
            }
        }


        @@media(max-width:1400px) {

            .img {
                display: none;
            }
            /*.text-container {
                height: 249px;
            }*/
        }
        @@media(max-width:1300px) {



            .text-responsive {
                width: 100% !important;
            }
        }

        @@media(max-width:1274px) {

            .cardwork h3 {
                line-height: 1.1 !important;
            }
        }

        @@media(max-width:1200px) {
            .box-left {
                height: 66% !important;
            }

            .box {
                margin: 11px 10px;
            }

            .text-container2-fix {
                height: 350px;
            }
        }
        @@media(min-width:1196px) {
            .content-container2 {
                margin: 40px 0px;
            }
        }

        @@media(max-width:1195px) {
            .content-container2 {
                margin-top: 145px;
            }
        }




        @@media(max-width:1135px) {
            .cardwork h3 {
                line-height: 1.0 !important;
            }
        }
        @@media(max-width:1024px) {
            .sm-blue a {
                font-weight: normal !important;
                padding: 10px !important;
                font-size: 9px !important;
            }

            .kalimaTawjihyaText {
                font-size: 2.1rem !important;
            }

            header button {
                font-size: 12px !important;
            }

            #HeaderLogo {
                width: 70% !important;
            }

           /* .card {
                height: 394px !important;
            }*/

            .takrir-ada2-container .service-content h3 {
                padding: 28px !important
            }

            .box-left {
                margin-top: 35px;
            }
        }
        @@media(max-width:991px) {
            .cardwork h3 {
                line-height: 2.8 !important;
            }
        }


        @@media(max-width:980px) {

            .cardwork h3 {
                line-height: 2.3 !important;
            }
            .HeaderH1 {
                font-size: 2.5rem !important;
            }


        }





        @@media(max-width:920px) {
            .carousel-caption p {
                font-size: 18px !important;
            }
        }



        @@media(max-width:800px) {
            .coluxx1, .coluxx2, .coluxx3 {
                height: 22vw !important;
            }

            .img-container {
                height: auto;
            }

            .slider-responsive > div {
                display: block;
            }
        }
        @@media(max-width:768px) {
            #HeaderLogo {
                width: 25% !important;
            }

            .HeaderH1 {
                line-height: 3.5;
                font-size: 1.9rem !important;
            }

            .takrir-ada2-container .service-content h3 {
                padding: 8px !important;
            }
        }
        @@media (max-width: 767px)
{
        .coluxx1, .coluxx2, .coluxx3 {
            height:48vw !important;
        }
}



            @@media(max-width:734px) {

                .cardwork h3 {
                    line-height: 2.1 !important;
                }
            }

            @@media(max-width:645px) {

                .cardwork h3 {
                    line-height: 1.5 !important;
                }
            }

        @@media(max-width:645px) {
            .carousel-caption p {
                font-size: 12px !important;
            }
            .coluxx1, .coluxx2, .coluxx3 {
                height: 48vw !important;
            }
        }

        @@media(max-width:645px) {
            .carousel-caption p {
                font-size: 9px !important;
            }
        }



        @@media(max-width:513px) {

            .cardwork h3 {
                line-height: 1.1 !important;
            }

        }



        @@media(max-width:425px) {

            #HeaderLogo{
                width:25% !important;
            }
             h1 {
                font-size: 13px !important;
            }

           h3 {
                font-size: 11px !important;
            }


                .card h1 {
                    font-size: 1.5rem !important;
                }

            .card h3 {
                line-height: 2.2 !important;
                font-size: 1.2rem !important;
            }
            h1 {
                font-size: 19px !important;
            }

            h3 {
                font-size: 16px !important;
            }



            .takrir-ada2-container h1 {
                font-size: 14px !important;
            }


        }




        @@media(max-width:375px) {


            h3 {
                font-size: 15px !important;
            }

            h1 {
                font-size: 17px !important;
            }
            .card h3 {
                line-height: 1.4 !important;
                font-size: 1.2rem !important;
            }

            .takrir-ada2-container h1 {
                font-size: 17px !important;

            }
            .takrir-ada2-container .service-content h3 {
                padding: 29px !important;
            }

        }


        @@media screen and (max-width: 576px) {
            .blog-slider__img {
                width: 95%;
            }
            .blog-slider__content {
                padding: 0;
            }

            .blog-slider__button {
                width: 100%;
            }
        }



        @@media screen and (max-height: 500px) and (min-width: 992px) {
            .blog-slider__img {
                height: 270px;
            }
        }



        .blog-slider__content {
            padding-right: 122px;
        }

        .mb-1 {
            margin-bottom: 10px !important;
        }


        .mt-1 {
            margin-top: 10px !important;
        }

    </style>

</head>
<div id="overlay">
    <div class="col-md-12 col-sm-12 col-xs-12" style="text-align:center;margin-top:15%">
        <img src="@Url.Content("~/images/customgif/Syrian Loader.gif")" alt="Loading" style="width:10%;" />
        <br />
        @*<span style="color:black">@Html.Raw(BaseController.GetFieldLabel(Locale, "_InitialLoaderMsg"))</span>*@
    </div>
</div>

<body dir="rtl">
    <div class="row">
        <div class="col-lg-5 col-md-5 col-sm-5 col-xs-12">
            <h1 class="HeaderH1 text-to-change pointer" data-translation="a433b2b2-834a-4afd-a0f4-43c3c0d2f23a" data-toggle="modal" data-target="#exampleModal">
                @Utilities.GetDataTransaltionByGuid("a433b2b2-834a-4afd-a0f4-43c3c0d2f23a", languageIdentifier)
                @*@Html.Raw(BaseController.GetFieldLabel(Locale, "_SyrianRepublic"))*@
            </h1>
        </div>
        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12 text-center pointer img-to-change" data-translation="143125">
            <img src="@Url.Action("GetFilePathFromExtendedData","Files", new { extensionFileKey= 143116 })" alt="Responsive image" style="cursor:pointer;width:50%;" id="HeaderLogo" hidden />
        </div>
        <div class="col-lg-5 col-md-5 col-sm-5 col-xs-12">
            <h1 class="HeaderH1 text-to-change pointer" data-toggle="modal" data-translation="2817F524-C297-4558-863F-E8B1CA74CC15" data-target="#exampleModal">
                @Utilities.GetDataTransaltionByGuid("2817F524-C297-4558-863F-E8B1CA74CC15", languageIdentifier)
                @*@Html.Raw(BaseController.GetFieldLabel(Locale, "_MOAD"))*@
            </h1>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-9"></div>
        <div class="col-lg-3" style="text-align:end;font-weight:bold;">

            @if (languageCookie.Value == "3")
            {
                <a style="cursor:pointer;" onclick="changeLanguage('4')">English</a>
            }
            else
            {
                <a style="cursor: pointer;" onclick="changeLanguage('3')">العربية</a>
            }

        </div>
    </div>


    <div id="navbarContainer">
        @Html.Partial("~/Views/CMS/_NavbarMenu.cshtml", new ViewDataDictionary { { "NavbarData", NavbarData }, { "LanguageIdentifier", ViewBag.CurrentLanguageIdentifier } })
    </div>

    <div class="row">
        <div class="col-lg-2"></div>
        <div class="col-lg-8">
            <h1 class="text-center">إنشاء	 صفحة جديدة</h1>
            <p style=" font-size: 16px; font-style: italic;">ملاحظة: من أجل إنشاء هذه الصفحة باللغة الإنجليزية ، يجب إنشاء الصفحة باللغة العربية أولاً.</p>
            <select class="form-control" id="languageDropDown" disabled>
                <option value="3">Arabic</option>
                <option value="4" disabled>English</option>
            </select>
            <div class="row mt-1-5">
                <div class="col-lg-12">
                    <input type="text" id="pageTitle" class="form-control mb-1" placeholder="أدخل عنوان الصفحة" />
                </div>

            </div>
        </div>
        <div class="col-lg-2"></div>
    </div>
    <div class="row">
        <div class="col-lg-2"></div>
        <div class="col-lg-8">
            <div class="summernote first" id="descriptionSummernote" data-index="1"></div>
        </div>
        <div class="col-lg-2"></div>
    </div>

    <div class="repeater">
        <div class="repeater-container">

        </div>

        <div class="row mb-1">
            <div class="col-lg-2"></div>
            <div class="col-lg-8">
                <div class="col-lg-5">
                    <input type="button" class="btn btn-danger f-size-16 f-right" id="removeBtn" value="حذف عنصر" />
                    <input type="button" class="btn btn-primary f-size-16 f-right mr-1" id="addBtn" value="إضافة عنصر جديد" />
                </div>
                <div class="col-lg-7"></div>

            </div>

            <div class="col-lg-2"></div>

        </div>

    </div>


    <div class="row">
        <div class="col-lg-2"></div>
        <div class="col-lg-8">
            <div class="col-lg-3">
                <input type="button" class="btn btn-primary f-size-16 f-right mt-1" id="saveBtn" value="حفظ" />
            </div>
            <div class="col-lg-9"></div>

        </div>

        <div class="col-lg-2"></div>

    </div>
    <script src=@Url.Content("~/assets/NewPages/slider2/swiper.js")></script>
    <script src=@Url.Content("~/assets/NewPages/sweetAlert/sweetalert.js")></script>
    <script src="@Url.Content("~/Scripts/bootbox.min.js")"></script>
    <script>
        var pageTitle = "";
        var language = 3;

        //Dropzone Index
        var index = 0;

        //summernote / dropzone data-index
        var dataIndex = 1;


        //dropzones Array
        var dropzones = [];

        //Map where the key is dropzone dataindex and the value is key
        var fileExtensionKeys = new Map();


        // Components Array
        var components = [];

        Dropzone.autoDiscover = false;

        $(document).ready(function () {
            $('.summernote').summernote({
                lang: "ar-AR"
            });

            $("#languageDropDown").select2({ placeholder: "Select a language" });
        });

        $(document).on('click', '#addBtn', function () {
            var repeaterItem = "";
            var repeater = $(".repeater-container");
            var repeaterLastChild = repeater.children().last();


            if (repeaterLastChild.hasClass("f0")) {
                repeaterItem = createRepeaterItems("f1");

            }
            else {
                repeaterItem = createRepeaterItems("f0");
            }

            repeater.append(repeaterItem);


            //the index of the dropzone (newly appended  one)
            InitAndRefreshDropzone(index);
            refreshSummernote();

            //incrementing the index meaning next dropzone time to add
            index++;
        })


        $(document).on('click', '#removeBtn', function () {
            var repeater = $(".repeater-container");
            //delete last repeaterItem
            repeater.children().last().remove();
            //delete last dropzone
            dropzones.pop();

            //decrement Index
            index--;

            //decrement by 2 dataIndex cz we removed 2 components
            dataIndex -= 2;
        })


        $(document).on('click', '#saveBtn', function () {

            var repeaterChildrens = $(".repeater-container").children();

            var isValid = true;


            //means no repeaterItems but the description is empty
            if ((repeaterChildrens.length == 0 && $("#descriptionSummernote").summernote('isEmpty')) || $("#pageTitle").val().length == 0) {
                isValid = false;
            };

            if (repeaterChildrens.length != 0) {
                $(repeaterChildrens).each(function (index, value) {

                    var summerNoteOfThisChildren = $(this).find('.summernote');
                    var dropzoneOfThisChildren = getTheRequiredDropzone($(this).find('.dropzone').attr('id'));

                    if ($(summerNoteOfThisChildren).summernote('isEmpty') || dropzoneOfThisChildren.files.length == 0) {
                        isValid = false;
                    }


                })
            }



            if (isValid) {
                createComponents();
                AdjustAndCreateComponentsPerPage(components);
            }
            else {
                swal("خطأ", "يرجى إدخال كافة المعلومات المطلوبة", "error");
            }

            console.log(components);
            components = [];
        });

          function createRepeaterItems(className) {
            var result = "";
            if (className === "f0") {
                result += "<div class='row f0'>";
                result += "<hr/>";
                result += "<div class='col-lg-2'></div>";
                result += "<div class='col-lg-4'><div class='summernote' data-index="+ (dataIndex++) +"></div></div>";
                result += "<div class='col-lg-4'><div class='dropzone flex' id='dropzoneItem" + index + "' data-index=" + (dataIndex++) +"  enctype='multipart/form-data' method='post'></div></div>";
                result += "<div class='col-lg-2'></div>";
                result += "</div>";

            }
            else {
                result += "<div class='row f1'>";
                result += "<hr/>";
                result += "<div class='col-lg-2'></div>";
                result += "<div class='col-lg-4'><div class='dropzone flex' id='dropzoneItem" + index + "' data-index=" + (dataIndex++) +"  enctype='multipart/form-data' method='post'></div></div>";
                result += "<div class='col-lg-4'><div class='summernote' data-index=" + (dataIndex++) +"></div></div>";
                result += "<div class='col-lg-2'></div>";
                result += "</div>";
            }

            return result;
        }



        function refreshSummernote() {
            console.log("refreshSummernoterefreshSummernoterefreshSummernote");
          //  $('.summernote').summernote('destroy');

            $('.summernote').last().summernote({
                lang: "ar-AR"
            });
        }

        var _ref;

        function InitAndRefreshDropzone(index) {
            var dropZoneItem = "#dropzoneItem" + index;

            var dataIndex = $(dropZoneItem).data('index');
            var dropzone = new Dropzone(dropZoneItem, {

                url: '@Url.Action("UploadFile2","CMS")',

                file: "file",
                maxFiles: 1,
                uploadMultiple:false,
                addRemoveLinks: true,
                dictDefaultMessage: 'قم بإسقاط الصورة هنا للتحميل',
                acceptedFiles: ".png,.jpg,.jpeg,.jfif,.gif,.mp4,.mpg, .mpeg, .m2v,.m4v,.wmv,.webm",
              /*  acceptedFiles: ".png,.jpg,.jpeg,.jfif,.gif,.mp4,.mpg, .mpeg, .m2v,.m4v,.wmv,.webm",*/

                success: function (file, response) {
                    if (response != "Error")

                        fileExtensionKeys.set(dataIndex,response);
                        //fileExtensionKeys[index] = response;

                },
                removedfile: function (file) {

                    $.ajax({
                url: '@Url.Action("RemoveFile","CMS")',
                type: 'POST',
                        data: {
                            extendedDatakey: fileExtensionKeys.get(dataIndex),

                },
                 success: function (data) {
                     //fileExtensionKeys.delete(dataIndex)
                     return (_ref = file.previewElement) != null ? _ref.parentNode.removeChild(file.previewElement) : void 0;

                },
                error: function (error) {
                    //console.log(error);
                        }

                    });



                }
            })

            dropzones.push(dropzone);

        }

        function getTheRequiredDropzone(dropzoneId) {
            for (var i = 0; i < dropzones.length; i++) {
                if (dropzones[i].element.id === dropzoneId) return dropzones[i];
            }
            return null;
        }

        function createComponents() {
            var summernote = $(".summernote");
            var dropzones = $(".dropzone");
            //title Component
            var component = {};
            component["language"] = language;
            component["componentOrder"] = 1;
            component["componentIndex"] = 1;
            component["componentSourceEntityKey"] = $("#pageTitle").val();
            component["componentType"] = "Text";
            components.push(component);

            $(dropzones).each(function (index, value) {
                    var dataIndex = $(this).data('index');

                var component = {};


                    component["language"] = language;
                    component["componentOrder"] = 3;
                    component["componentIndex"] = dataIndex;
                component["componentSourceEntityKey"] = fileExtensionKeys.get(dataIndex);
                console.log(component["componentSourceEntityKey"]);
                    component["componentType"] = "Image";



                    components.push(component);

            });
            $(summernote).each(function (index, value) {
                var component = {};
                var summerNoteVal = $(this).summernote('code');
              //  console.log(summerNoteVal);


                component["language"] = language;
                component["componentSourceEntityKey"] = window.btoa(unescape(encodeURIComponent(summerNoteVal)));
                component["componentType"] = "Text";
                //if this is the description summernote
                if ($(this).hasClass("first")) {
                    component["componentOrder"] = 2;
                    component["componentIndex"] = $(this).data('index');
                }

                else {
                    component["componentOrder"] = 3;
                   component["componentIndex"] = $(this).data('index');
                }


                components.push(component);


            });



        }



        function AdjustAndCreateComponentsPerPage(componentsArr) {
            var componentsArrString = JSON.stringify(componentsArr);

            var pageTitle = $("#pageTitle").val();
            $.ajax({
                    url: '@Url.Action("AdjustComponent", "Template")',

                    type: 'POST',

                    cache: false,

                    data: {

                        __RequestVerificationToken: $('@Html.AntiForgeryToken()').val(),

                        components: componentsArrString,
                        pageName: pageTitle

                    },

                    success: function (data) {

                        if (data != "400") {
                            submit_post_via_hidden_form('@Url.Action("Index","Template")', data);
                        }

                    },


                    error: function (error) {



                    }
                });


        }
        function submit_post_via_hidden_form(url, params) {
            var f = $("<form method='POST' style='display:none;'></form>").attr({
                action: url
            }).appendTo(document.body);

            $('<input type="hidden" />').attr({
                name: "id",
                value: params
            }).appendTo(f);

            f.submit();

            f.remove();
        }


      
        $(function () {
            $('#main-menu').smartmenus({
                subMenusSubOffsetX: 1,
                subMenusSubOffsetY: -8
            });
        });


   
        /////////LoaderPart////
        // $(window).load(function () {

        setTimeout(function () {
            fadeOutEffect();
        }, 6000);

        function fadeOutEffect() {

            var fadeTarget = document.getElementById("overlay");
            var fadeEffect = setInterval(function () {
                if (!fadeTarget.style.opacity) {
                    fadeTarget.style.opacity = 1;
                }
                if (fadeTarget.style.opacity > 0) {
                    fadeTarget.style.opacity -= 0.1;
                } else {
                    clearInterval(fadeEffect);
                }


            }, 300);

            setTimeout(function () {
                $(".Body").css("filter", "");

            }, 3000);
            $("#HeaderLogo").fadeIn(6000);

            setTimeout(function () {

                $("#overlay").remove();
            }, 5000);

        }

        //});
        /////////End LoaderPart////
    </script>


</body>
</html>
