﻿@model MoAD.DataObjects.EDMX.Question

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_LayoutInitialPage.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Question</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Value)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Value)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Note)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Note)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DisplayMode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DisplayMode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FormTemplateKey)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FormTemplateKey)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.QuestionKeyIndex)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.QuestionKeyIndex)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.QuestionKey }) |
    @Html.ActionLink("Back to List", "Index")
</p>
