﻿<html>
<head>
    <style>
        .carousel {
            background: #EDEDED;
            border: 14px solid #8E1927;
            margin-top: 1.25rem;
            height: 23.18rem;
        }



        .carousel-indicators {
            position: relative !important;
            background: #BFBFBF;
            border-radius: 1.187rem !important;
            width: max-content !important;
            margin-right: 0px !important;
            margin-left: 0px !important;
            margin-top: 80px !important;
        }


        .carousel-indicators-container .active {
            background-color: #8E1927 !important;
        }



        .carousel-indicators button {
            width: 1.31rem !important;
            height: 1.31rem !important;
            padding: 3px 2px;
            background: #959494;
            border-radius: 50% !important;
            cursor: pointer;
            border: none;
        }

        .carousel-control-prev, .carousel-control-next {
            height: 2.77rem;
            margin-top: 11.59rem;
            margin-bottom: 11.59rem;
        }



        .img-container {
            height: 16.81rem;
            transform: translateX(-30%);
        }

        .img-container2 {
            height: 16.81rem;
            margin-top: 1.25rem;
        }

        img {
            height: 100%;
        }

        .text-container {
            padding: 5px;
            background: white;
            transform: translateX(30%);
            max-width: 28.12rem;
            box-shadow: 8px 11px 5px -3px rgba(0,0,0,0.58);
        }

            .text-container p {
                line-height: 2.9;
            }

            .text-container h2 {
                text-shadow: 2px 7px 2px #bbadad;
                color: #8E1927;
                font-size: 2.125rem;
                border-bottom: 2px solid #8E1927;
            }


        .slider-container {
            position: relative;
        }

        .text-container, .img-container {
            margin-top: 1.25rem;
        }

        i {
            color: blue;
            font-size: 3.125rem;
        }
    </style>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<body>

    <div class="row">
        <div class="col-lg-2">
            <button class="carousel-control-prev " style="margin-left:65px;" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"><i class="fa-solid fa-chevron-left"></i></span>
                <span class="visually-hidden">Previous</span>
            </button>
        </div>

        <div class="col-lg-8" dir="ltr">
            <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">


                <div class="carousel-inner" style="overflow:visible !important;">
                    <div class="carousel-item active">
                        <div class="row text-center">

                            <div class="col-lg-5">
                                <div class="img-container">
                                    <img src="~/Imag/BacharPic.png" style="width:-webkit-fill-available;" />
                                </div>
                            </div>


                            <div class="col-lg-2 text-center">
                                <div class="img-container2">
                                    <img src="~/Imag/LogoAlJoumhourya.png" />
                                </div>
                            </div>



                            <div class="col-lg-5">
                                <div class="text-container">
                                    <h2>الكلمة التوجيهية للسيد الرئيس</h2>
                                    <p>ما الذي يجعل عملنا اكثر انتاجا عندما نعمل بجد وبطاقة كاملة؟ انه النظام العام الواحد الذي يوطر عمل المؤسسات، فعندما نضع كل هذه الجهود في اطار منهجي منظم، عندها تصبح النتائج اكثر فعالية على الارض</p>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="row text-center">

                            <div class="col-lg-5">
                                <div class="img-container">
                                    <img src="~/Imag/BacharPic.png" style="width:-webkit-fill-available;" />
                                </div>
                            </div>


                            <div class="col-lg-2 text-center">
                                <div class="img-container2">
                                    <img src="~/Imag/LogoAlJoumhourya.png" />
                                </div>
                            </div>



                            <div class="col-lg-5">
                                <div class="text-container">
                                    <h2>الكلمة التوجيهية للسيد الرئيس</h2>
                                    <p>ما الذي يجعل عملنا اكثر انتاجا عندما نعمل بجد وبطاقة كاملة؟ انه النظام العام الواحد الذي يوطر عمل المؤسسات، فعندما نضع كل هذه الجهود في اطار منهجي منظم، عندها تصبح النتائج اكثر فعالية على الارض</p>
                                </div>
                            </div>

                        </div>
                    </div>

                    <div class="carousel-item">
                        <div class="row text-center">

                            <div class="col-lg-5">
                                <div class="img-container">
                                    <img src="~/Imag/BacharPic.png" style="width:-webkit-fill-available;" />
                                </div>
                            </div>


                            <div class="col-lg-2 text-center">
                                <div class="img-container2">
                                    <img src="~/Imag/LogoAlJoumhourya.png" />
                                </div>
                            </div>



                            <div class="col-lg-5">
                                <div class="text-container">
                                    <h2>الكلمة التوجيهية للسيد الرئيس</h2>
                                    <p>ما الذي يجعل عملنا اكثر انتاجا عندما نعمل بجد وبطاقة كاملة؟ انه النظام العام الواحد الذي يوطر عمل المؤسسات، فعندما نضع كل هذه الجهود في اطار منهجي منظم، عندها تصبح النتائج اكثر فعالية على الارض</p>
                                </div>
                            </div>

                        </div>
                    </div>



                </div>

                <div class="row carousel-indicators-container" style="display:flex;justify-content: center;">
                    <div class="carousel-indicators">
                        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
                        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
                    </div>
                </div>

            </div>
        </div>


        <div class="col-lg-2">
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"><i class="fa-solid fa-chevron-right"></i></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>



    </div>






















    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</body>
</html>