﻿@using Microsoft.AspNet.Identity
@using MoAD.DataObjects.EDMX
@using MoAD.WebApplication.Objects;
@using MoAD.WebApplication.Managers
@using MoAD.WebApplication.Models;

@{
    ViewBag.Title = "منبر صلة الوصل";
    Layout = "~/Views/Shared/_CommonLayout.cshtml";
    HttpCookie languageCookie = Request.Cookies["Language"];
    var InitialDirection = "rtl";
    if (languageCookie != null && languageCookie.Value != "3")
    {
        InitialDirection = "ltr";
    }
    List<GetAdManagerForms_Result> Estetla3Ra2iPublishedFormsForManbar = ViewBag.Estetla3Ra2iPublishedForms;

    if (Estetla3Ra2iPublishedFormsForManbar == null)
    {
        Estetla3Ra2iPublishedFormsForManbar = new List<GetAdManagerForms_Result>();
    }
    Dictionary<string, string> Locale = ViewBag.Locale;
    int languageIdentifier = (int)ViewBag.CurrentLanguageIdentifier;
    int? pageKey = (int?)ViewBag.pageKey;
    int navBarItemComponentKey = (int)ViewBag.NavBarItemComponentKey;
    List<NavBarViewModel> NavbarData = (List<NavBarViewModel>)ViewBag.NavbarData;
    int sliderItemComponentKey = (int)ViewBag.SliderItemComponentKey;
    List<NavBarViewModel> SliderData = (List<NavBarViewModel>)ViewBag.SliderData;
}

@if (InitialDirection == "rtl")
{



    <style>
        .card-box-manbar1 {
            margin-top: 15px;
            margin-left: 15px;
        }

        .card-box-manbar2 {
            margin-top: 15px;
            margin-right: 15px;
        }

        .card-box-manbar3 {
            margin-top: 15px;
            margin-left: 15px;
        }

        .card-box-manbar4 {
            margin-top: 15px;
            margin-right: 15px;
        }

        .card-box-manbar2::before {
            position: absolute;
            content: '';
            top: 0px;
            left: 0px;
            width: 42%;
            z-index: 3;
            height: 4px;
            background: #f98646;
        }

        .card-box-manbar2::after {
            position: absolute;
            content: '';
            top: 0px;
            left: 0px;
            height: 50%;
            border: 2px solid #f98646;
            background: #f98646;
        }

        .card-box-manbar1::before {
            position: absolute;
            content: '';
            top: 0px;
            right: 0px;
            width: 42%;
            z-index: 3;
            height: 4px;
            background: #f98646;
        }

        .card-box-manbar1::after {
            position: absolute;
            content: '';
            top: 0px;
            right: 0px;
            height: 50%;
            z-index: 3;
            border: 2px solid #f98646;
            background: #f98646;
        }

        .card-box-manbar4::before {
            position: absolute;
            content: '';
            bottom: 0px;
            left: 0px;
            width: 42%;
            z-index: 3;
            height: 4px;
            background: #f98646;
        }

        .card-box-manbar4::after {
            position: absolute;
            content: '';
            bottom: 0px;
            left: 0px;
            height: 50%;
            z-index: 3;
            border: 2px solid #f98646;
            background: #f98646;
        }

        .card-box-manbar3::before {
            position: absolute;
            content: '';
            bottom: 0px;
            right: 0px;
            width: 42%;
            z-index: 3;
            height: 4px;
            background: #f98646;
        }

        .card-box-manbar3::after {
            position: absolute;
            content: '';
            bottom: 0px;
            right: 0px;
            height: 50%;
            z-index: 3;
            border: 2px solid #f98646;
            background: #f98646;
        }

        .card-box-manbar::before {
            position: absolute;
            content: '';
            bottom: 0px;
            left: 0;
            width: 100%;
            z-index: 3;
            height: 4px;
            background: #f98646;
        }
    </style>
}
else
{
    <style>
        .card-box-manbar1 {
            margin-top: 15px;
            margin-right: 15px;
        }

        .card-box-manbar2 {
            margin-top: 15px;
            margin-left: 15px;
        }

        .card-box-manbar3 {
            margin-top: 15px;
            margin-right: 15px;
        }

        .card-box-manbar4 {
            margin-top: 15px;
            margin-left: 15px;
        }

        .card-box-manbar2::before {
            position: absolute;
            content: '';
            top: 0px;
            right: 0px;
            width: 42%;
            z-index: 3;
            height: 4px;
            background: #f98646;
        }

        .card-box-manbar2::after {
            position: absolute;
            content: '';
            top: 0px;
            right: 0px;
            height: 50%;
            border: 2px solid #f98646;
            background: #f98646;
        }

        .card-box-manbar1::before {
            position: absolute;
            content: '';
            top: 0px;
            left: 0px;
            width: 42%;
            z-index: 3;
            height: 4px;
            background: #f98646;
        }

        .card-box-manbar1::after {
            position: absolute;
            content: '';
            top: 0px;
            left: 0px;
            height: 50%;
            z-index: 3;
            border: 2px solid #f98646;
            background: #f98646;
        }

        .card-box-manbar4::before {
            position: absolute;
            content: '';
            bottom: 0px;
            right: 0px;
            width: 42%;
            z-index: 3;
            height: 4px;
            background: #f98646;
        }

        .card-box-manbar4::after {
            position: absolute;
            content: '';
            bottom: 0px;
            right: 0px;
            height: 50%;
            z-index: 3;
            border: 2px solid #f98646;
            background: #f98646;
        }

        .card-box-manbar3::before {
            position: absolute;
            content: '';
            bottom: 0px;
            left: 0px;
            width: 42%;
            z-index: 3;
            height: 4px;
            background: #f98646;
        }

        .card-box-manbar3::after {
            position: absolute;
            content: '';
            bottom: 0px;
            left: 0px;
            height: 50%;
            z-index: 3;
            border: 2px solid #f98646;
            background: #f98646;
        }

        .card-box-manbar::before {
            position: absolute;
            content: '';
            bottom: 0px;
            right: 0;
            width: 100%;
            z-index: 3;
            height: 4px;
            background: #f98646;
        }
    </style>
}


<style>
        .card-box-manbar {
            margin-top: 15px;
            margin-bottom: 15px;
        }

        .fixedHeight {
            min-height: 270px;
        }

        .fixedHeightImg {
            height: 270px;
        }

        .formButtonFasad, .formButton {
            cursor: pointer;
        }

    .takyim-container {
        margin-right: 0px !important;
        margin-left: 0px !important;
    }

    .takyim-title {
        margin-right: 0px !important;
        margin-left: 0px !important;
    }

    #goToMarsad {
        margin-right: 0px !important;
        margin-left: 0px !important;
    }
        .level1Font {
            font-size: 2.8rem !important;
        }

        .level2Font {
            font-size: 2.3rem !important;
        }

        .level3Font {
            font-size: 2.0rem !important;
        }
        img{
            height:100%;
        }

        h2{
            margin:20px !important;
        }
        ul a{
            cursor:pointer;
        }

     

        a {
            border-bottom: none !important;
        }

        h4, h3 {
            font-weight: normal !important;
            font-size:30px !important;
        }
        i {
            font-size: 50px;
            color: #7c7c7c;
            cursor:pointer;
        }
        .icon1:hover {
            color: #2fa32f;
        }
        .icon2:hover {
            color: #78ff99;
        }
        .icon3:hover {
            color: #ffc44d;
        }
        .icon4:hover {
            color: #f98646;
        }
        .icon5:hover {
            color: #c12a1a;
        }


        .takyimBtn {
            padding: 10px 30px;
            background: #e9e9e9;
            color: #7c7c7c;
            font-size:2.3rem;
            border: 2px solid #d3d3d3;
            transition: all ease 0.5s;
        }

      .img-takyim
        {
            background-image: url(@Html.Raw(Url.Action("GetFilePathFromExtendedData","Files", new { extensionFileKey= 143124, resizeWidth = 640 }))) !important;
            background-repeat: no-repeat !important;
            background-size: cover;
            height: 20vw;
        }

        .takyimBtn:hover {
            background: #d3d3d3;
        }


        h1 {
            font-size: 2.8rem !important;
        }



        .box {
            margin-top: -55px;
            background: #D9DBDA;
            text-align: center;
            box-shadow: 8px 7px 5px 0px rgba(0,0,0,0.52);
        }

            .box p {
                color: #646464;
                font-size: 2.5rem;
                margin: 20px 0;
            }



        .contact-container {
            background: url(../Images/backgrounds/sharekna-bg.jpg) !important;
            background-position: center !important;
            background-repeat: no-repeat !important;
            background-size: cover !important;
        }



           .flex{
               display:flex;
               align-items:center;
           }


        .content-container {
            /* margin-left: 30px;
            margin-right: 30px;*/
            margin-bottom: 20px;
            background: white;
            /* border-top: 8px solid #447F99;*/
            /*padding-bottom: 20px;*/
        }




        .col-takyim,.col-khedma{
            font-size:24px;
            margin-top:30px;
        }


        .card h1{
            font-size:2.4rem !important;
        }
        .card h3 {
            font-size: 2.1rem;
            line-height: 1.8;
        }


        input {
            background: #e9e9e9;
            border: none;
            border: 1px solid #d3d3d3;
            outline: none;
        }




        #allCardsContainer {
            background-image: url(../Images/backgrounds/backgroundCardsManabar.png);
            width: 100%;
            height: auto;
            background-attachment: fixed;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
        }

        .eee {
            background-image: url(../Images/backgrounds/sharekna-bg.jpg);
            width: 100%;
            height: auto;
            background-attachment: fixed;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
        }

        label {
            font-weight: normal !important;
            color: #7c7c7c;
        }
        .ft1 {
            width: 100%;
            background-image: url(@Html.Raw(Url.Action("GetFilePathFromExtendedData","Files", new { extensionFileKey= 143123 })));
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            min-height: 10vw !important;
        }




        .carousel-control.right, .carousel-control.left{
            background-image:none;
        }
       /* .card-manbar {
            position: relative;
            border: 20px solid #e1e1e1;
            padding:0px !important;
        }*/

        .card-manbar h3{
            color:#f98646;
        }
            .card-manbar p {
                font-size: 1.7rem;
                text-align: justify;
            }
            .card-manbar{
                background:white;
                padding:0;
            }

                .card-manbar img {
                    width: 100% !important;
                    object-fit: cover;
                    height:100%;
                }
            .cardimg1,.cardimg2,.cardimg3,.cardimg4,.cardimg5{
                padding:0px;
                cursor:pointer;

            }

       
      .img-marsad {
            width: 100%;
           background-image: url(@Html.Raw(Html.Raw(Url.Action("GetFilePathFromExtendedData","Files", new { extensionFileKey= 143122, resizeWidth = 2048 }))));
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            min-height: 10vw !important;
        }
        .button-container{
            padding:30px 0px;
        }
        /* MEDIA QUERIES*/
        @@media(min-width:1441px){
            .takyim-sub-container {
                margin-top: 25px;
            }
        }
        @@media(min-width:1440px){
            .col-takyim, .col-khedma {
                margin-top: 34px;
            }
        }




        @@media(max-width:1200px) {
            .box-left {
                height: 66% !important;
            }

            .box {
                margin: 11px 10px;
            }

        }



        @@media(max-width:1024px) {


            .kalimaTawjihyaText {
                font-size: 2.1rem !important;
            }
            .button-container{
                padding:1px 0px;
            }


         .cardimg1,.cardimg2,.cardimg3,.cardimg4,.cardimg5{
             height:20vw;
         }
            .col-takyim, .col-khedma {
                font-size: 22px;
                margin-top: 16px;
            }

            .img-takyim{
                height:17vw;
            }

            .box-left {
                margin-top: 35px;
            }
        }


        @@media(max-width:990px) {

            .img-takyim {
                height: 45vw;
            }
        }






        @@media(max-width:920px) {
            .carousel-caption p {
                font-size: 18px !important;
            }
        }






        @@media(max-width:768px) {

            i {
                font-size: 30px !important;
                padding: 5px 10px;
            }

        }

        @@media(max-width:767px){
            .cards-container{
                padding:0px 50px;
            }
            .cardimg1, .cardimg2, .cardimg3, .cardimg4, .cardimg5{
                height:29vw;
            }
        }





        @@media(max-width:645px) {

            .carousel-caption p {
                font-size: 12px !important;
            }
            .cardimg1, .cardimg2, .cardimg3, .cardimg4, .cardimg5 {
                height: 45vw;
            }

        }






        @@media(max-width:425px) {
            /*.slider-responsive{
                display:none;
            }*/
            .cards-container {
                padding: 0px !important;
            }

        }






</style>

<div dir="@InitialDirection">
    @Html.Partial("~/Views/CMS/_SlidersPartial.cshtml", new ViewDataDictionary { { "NavbarData", SliderData }, { "LanguageIdentifier", ViewBag.CurrentLanguageIdentifier } })

    <!--<div id="myCarousel" class="carousel slide" data-ride="carousel" dir="ltr" style="margin-bottom:20px;">-->
    <!-- Indicators -->
    <!--<ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>

    </ol>-->
    <!-- Wrapper for slides -->
    <!--<div class="carousel-inner">

        <div class="item active">
            <img src="@Url.Content("~/Images/backgrounds/ManbarSlider/slider1.png")" alt="Los Angeles" style="width:100%;">
            <div class="carousel-caption">

            </div>
        </div>
        <div class="item">
            <img src="@Url.Content("~/Images/backgrounds/ManbarSlider/slider2.png")" alt="Los Angeles" style="width:100%;">
            <div class="carousel-caption">

            </div>
        </div>



    </div>-->
    <!-- Left and right controls -->
    <!--<a class="left carousel-control" href="#myCarousel" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#myCarousel" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>-->

    <div id="allCardsContainer">
        <div class="row reveal cards-container">
            <div class="col-lg-1 col-md-1 col-sm-1"></div>
            <div class="col-lg-5 col-md-5 col-sm-5 col-xs-12 card-box-manbar1 card-manbar formButton" id="RidaMouwatenDiv" data-FormType="رضا المواطن">

                <div class="col-lg-5 col-md-12 col-sm-12 col-xs-12 cardimg1 card-img-fix fixedHeightImg">
                    <img src="@Html.Raw(Url.Action("GetFilePathFromExtendedData","Files", new { extensionFileKey= 143117, resizeWidth = 640 }))" />
                    @*<video autoplay="" width="100%" height="100%" loop="" id="RidaMouwatanVideo"  class="" style="display:none; width: 100%;">
                            <source src="@Url.Content("~/images/pbvideo/vlc-record-2018-09-03-14h18m19s-المقطع العاشر - رضا المواطن.VOB-.mp4")" type="video/mp4">
                        </video>*@
                </div>
                <div class="col-lg-7 col-md-12 col-sm-12 col-xs-12 fixedHeight">
                    <h3>@Utilities.GetDataTransaltionByGuid("292960c1-1ad5-4596-bbb6-56ea4a1985ac", languageIdentifier)</h3>
                    <p>@Utilities.GetDataTransaltionByGuid("d224d808-d8e9-4698-93e6-35f1ed5ad764", languageIdentifier)</p>
                </div>
            </div>
            <div class="col-lg-5 col-md-5 col-sm-5 col-xs-12 card-box-manbar2 card-manbar formButtonFasad" id="sawalimoukafa7atDiv" data-FormType="Claim">
                <div class="col-lg-7 col-md-12 col-sm-12 col-xs-12 fixedHeight">
                    <h3>@Utilities.GetDataTransaltionByGuid("0afc9540-c5f0-4328-b485-8a84c5c80467", languageIdentifier)</h3>
                    <p>
                        @Utilities.GetDataTransaltionByGuid("6b2cf73b-4e00-4dc4-89e6-840f9668bff9", languageIdentifier)
                    </p>
                </div>
                <div class="col-lg-5 col-md-12 col-sm-12 col-xs-12 cardimg4 card-img-fix fixedHeightImg">
                    <img src="@Html.Raw(Url.Action("GetFilePathFromExtendedData","Files", new { extensionFileKey= 143119, resizeWidth = 640 }))" />
                    @*<video autoplay="" loop=""  id="TakdimChakwaVideo" class="" style="display:none; width: 100%;">
                            <source src="@Url.Content("~/images/pbvideo/vlc-record-2018-09-03-14h17m01s-المقطع الحادي عشر - رضا الموظف.VOB-.mp4")" type="video/mp4">
                        </video>*@
                </div>
            </div>

            <div class="col-lg-1 col-md-1 col-sm-1"></div>
        </div>

        <div class="row reveal cards-container">
            <div class="col-lg-1 col-md-1 col-sm-1"></div>
            <div class="col-lg-5 col-md-5 col-sm-5 col-xs-12 card-box-manbar3 card-manbar formButton" id="Ma3anlithouboutyatDiv" data-FormType="معا لثبوتيات أقل">

                <div class="col-lg-5 col-md-12 col-sm-12 col-xs-12 cardimg2 card-img-fix fixedHeightImg">
                    <img src="@Html.Raw(Url.Action("GetFilePathFromExtendedData","Files", new { extensionFileKey= 143120, resizeWidth = 640 }))" />
                    @*<video autoplay="" loop="" id="Ma3anVideo"  class="" style="display:none; width: 100%;">
                            <source src="@Url.Content("~/images/pbvideo/vlc-record-2018-09-03-14h18m19s-المقطع العاشر - رضا المواطن.VOB-.mp4")" type="video/mp4">
                        </video>*@
                </div>
                <div class="col-lg-7 col-md-12 col-sm-12 col-xs-12 fixedHeight">
                    <h3>@Utilities.GetDataTransaltionByGuid("cc022ba2-c7d9-4ad2-bbb5-2d20e139a717", languageIdentifier)</h3>
                    <p>
                        @Utilities.GetDataTransaltionByGuid("1695fc75-90c4-43dd-863e-9f1bc6f8dbb5", languageIdentifier)
                    </p>
                </div>
            </div>

            <div class="col-lg-5 col-md-5 col-sm-5 col-xs-12 card-box-manbar4 card-manbar formButton" id="Ma3anliltabsitDiv" data-FormType="معا لتبسيط الإجراءات">

                <div class="col-lg-7 col-md-12 col-sm-12 col-xs-12 fixedHeight fixedHeight">
                    <h3>@Utilities.GetDataTransaltionByGuid("e8af30b4-a60d-4244-9448-f56eb468309c", languageIdentifier) </h3>
                    <p>@Utilities.GetDataTransaltionByGuid("fcda39f3-666f-4c8c-b0d6-e50a63984732", languageIdentifier)</p>
                </div>
                <div class="col-lg-5 col-md-12 col-sm-12 col-xs-12 cardimg5 card-img-fix fixedHeightImg">
                    <img src="@Html.Raw(Url.Action("GetFilePathFromExtendedData","Files", new { extensionFileKey= 143118, resizeWidth = 640 }))" />
                    @*<video autoplay="" loop=""  id="TapsitVideo" class="" style="display:none; width: 100%;">
                            <source src="@Url.Content("~/images/pbvideo/vlc-record-2018-09-03-14h17m01s-المقطع الحادي عشر - رضا الموظف.VOB-.mp4")" type="video/mp4">
                        </video>*@
                </div>
            </div>

            <div class="col-lg-1 col-md-1 col-sm-1"></div>
        </div>
        <div class="row reveal cards-container">
            <div class="col-lg-3 col-md-3 col-sm-3"></div>
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 card-box-manbar card-manbar formButton" data-FormType="رضا الموظف" id="RidaMouwazafDiv">
                <div class="col-lg-5 col-md-12 col-sm-12 col-xs-12 cardimg3 card-img-fix fixedHeightImg">

                    <img src="@Html.Raw(Url.Action("GetFilePathFromExtendedData","Files", new { extensionFileKey= 143121, resizeWidth = 640 }))" />

                </div>
                <div class="col-lg-7 col-md-12 col-sm-12 col-xs-12 fixedHeight fixedHeight">
                    <h3>@Utilities.GetDataTransaltionByGuid("8d5985e1-df3c-4626-a21a-4f7b87d0d6e9", languageIdentifier)</h3>
                    <p>
                        @Utilities.GetDataTransaltionByGuid("d02e8632-d6bc-4246-ad26-ae59501529cc", languageIdentifier)
                    </p>
                </div>
            </div>

            <div class="col-lg-3 col-md-3 col-sm-3"></div>
        </div>

    </div>

    <div class="row reveal takyim-title" style="background: #f98646;color: white;">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center level1Font"><p style="text-shadow: none; margin: 20px 0px;">@Utilities.GetDataTransaltionByGuid("9a9c7a4b-cd96-4dc7-85cc-943d65b9530e", languageIdentifier)</p></div>
    </div>

    <div class="row reveal takyim-container">

        <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12 takyim-sub-container">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 col-khedma">
                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                    <label for="khedma" class="level2Font">@Utilities.GetDataTransaltionByGuid("dd66daa8-a6dd-4e24-86f7-d68b692f3a0b", languageIdentifier)</label>
                </div>
                <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
                    <input type="text" id="khedma" disabled style="width:100%;" />
                </div>


            </div>
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 col-takyim">
                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                    <label class="level2Font">@Utilities.GetDataTransaltionByGuid("4d413531-e82b-470d-b99c-e2776890d879", languageIdentifier)</label>
                </div>
                <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
                    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2"><i class="far fa-smile-beam icon1 fa-2x"></i></div>
                    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2"><i class="far fa-smile icon2 fa-2x"></i></div>
                    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2"><i class="far fa-meh icon3 fa-2x"></i></div>
                    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2"><i class="far fa-meh icon4 fa-2x"></i></div>
                    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2"><i class="far fa-angry icon5 fa-2x"></i></div>

                </div>


            </div>
            <div class="col-lg-10 col-md-9 col-sm-3 col-xs-3">

            </div>
            <div class="col-lg-2 col-md-3 col-sm-6 col-xs-6 text-center button-container">
                <button class="takyimBtn">@Utilities.GetDataTransaltionByGuid("9bf8c512-3993-4451-841a-3e96eb02ff87", languageIdentifier)</button>
            </div>
            <div class="col-lg-2 col-md-3 col-sm-3 col-xs-3">

            </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 text-center img-takyim">

        </div>

    </div>




    <div class="row" id="goToMarsad" style="cursor:pointer;">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 img-marsad"></div>
    </div>

    <div class="row eee" style="margin:0;">

        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 reveal">
            <div class="col-lg-3 col-md-12  col-sm-12 col-xs-12 box">
                <p class="level1Font">@Utilities.GetDataTransaltionByGuid("d8c0dd7e-3617-49e0-98e2-0badb1ffc28e", languageIdentifier)</p>
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center" style="padding:50px 0px;">
                <div class="col-lg-3 col-md-3 col-sm-3"></div>
                <div class="col-lg-6 col-md-6 col-sm-6">
                    <h3 class="level2Font" style="color: #7c7c7c;">
                        @Utilities.GetDataTransaltionByGuid("b92961b5-d157-4e42-baa7-f68cd128a63b", languageIdentifier)
                    </h3>
                </div>

                <div class="col-lg-3 col-md-3 col-sm-3"></div>

            </div>



        </div>

    </div>
    <div class="row" style="margin:auto;">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 ft1">
            <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1"></div>

        </div>
    </div>





</div>





<!-- Modal -->


<script>
    $(".btn-danger").hide();

        function reveal() {
            var reveals = document.querySelectorAll(".reveal");

            for (var i = 0; i < reveals.length; i++) {
                var windowHeight = window.innerHeight;
                var elementTop = reveals[i].getBoundingClientRect().top;
                var elementVisible = 150;

                if (elementTop < windowHeight - elementVisible) {
                    reveals[i].classList.add("active");
                } else {
                    reveals[i].classList.remove("active");
                }
            }
        }


        window.addEventListener("scroll", reveal);
        $(function () {
            $('#main-menu').smartmenus({
                subMenusSubOffsetX: 1,
                subMenusSubOffsetY: -8
            });
        });


        $(".dropbtn").click(function () {

            $(this).next().toggle();
        });

        document.addEventListener('keydown', function (event) {
            if (event.keyCode == 27) {
                event.preventDefault();
            }

        });


        function myFunction() {
            var x = document.getElementById("myTopnav");
            if (x.className === "topnav") {
                x.className += " responsive";
            } else {
                x.className = "topnav";
            }
        }






        //function myFunction() {
        //    var x = document.getElementById("myTopnav");
        //    if (x.className === "topnav") {
        //        x.className += " responsive";
        //    } else {
        //        x.className = "topnav";
        //    }
        //}
          $("#ManbarSilatWasel").click(function () {

            submit_post_via_hidden_form("@Url.Action("Manbar", "Home")", {});

          });
        $("#MarsadAlAda2AlIdari").click(function () {

            submit_post_via_hidden_form("@Url.Action("Marsad", "Home")", {});

        });
        $("#SignInMarkaz").click(function () {

            @if (User.Identity.IsAuthenticated)
            {

                if (User.IsInRole("PB"))
                {
 <text>
            window.location = '@Url.Action("Index", "PBDashboard")';

            </text>
                }
                else
                {
 <text>
            submit_post_via_hidden_form("@Url.Action("Index", "Home")", {});

            </text>
                }

            } else
            {
                <text>
            submit_post_via_hidden_form("@Url.Action("LoginView", "Account")", { ManagerIndex: "True" });

            </text>
            }


        });

        $("#SinInMangersButton").click(function () {

            @if (User.Identity.IsAuthenticated)
                            {

                                if (User.IsInRole("PB"))
                                {
 <text>
            window.location = '@Url.Action("Index", "PBDashboard")';

            </text>
                                }
                                else
                                {
 <text>
            submit_post_via_hidden_form("@Url.Action("Index", "Home")", {});

            </text>
                                }

            }else
            {
                <text>
            submit_post_via_hidden_form("@Url.Action("LoginView", "Account")", { ManagerIndex: "True" });

            </text>
            }


        });

        $(".goToEstetla3ra2i").click(function () {
            var formKey = $(this).attr("data-formkey");
             submit_post_via_hidden_form("@Url.Action("Index", "SurveyReport")", { FormTemKey: formKey });
        })

        $(".EmptyEstetla3Class").hover(function () {
            $(this).text("لا يوجد نتائج إستطلاعات رأي");
        })

        $(".EmptyEstetla3Class").mouseleave(function () {
            $(this).text("نتائج إستطلاعات الرأي");
        })

        $("#GlobalLearningLink").click(function () {

            window.location.href = "http://www.gl.ae/home";

        });


        $("#SignInManbar").click(function () {

            submit_post_via_hidden_form("@Url.Action("LoginView", "Account")", {});


        });

        $("#GoToManbar").click(function () {

            submit_post_via_hidden_form("@Url.Action("Manbar", "Home")", {});


        });

        $("#GoToMarkaz").click(function () {

            submit_post_via_hidden_form("@Url.Action("Markaz", "NewPages")", {});


        });


        $("#AboutMarsad").click(function () {
            if (checkIfSamePage("Home/AboutMarsad") == "NotFound")
                submit_post_via_hidden_form("@Url.Action("AboutMarsad", "Home")", {});


        });


        $("#AboutMarkaz").click(function () {
            if (checkIfSamePage("Home/AboutMarkaz") == "NotFound")
                submit_post_via_hidden_form("@Url.Action("AboutMarkaz", "Home")", {});


        });

        $("#AboutManbar").click(function () {




            if (checkIfSamePage("Home/AboutManbar") == "NotFound")
                submit_post_via_hidden_form("@Url.Action("AboutManbar", "Home")", {});

        });


        function checkIfSamePage(PagePath) {
            var url = window.location.href;     // Returns full URL


            if (url.indexOf(PagePath) != -1) {
                return "Found";
            } else {
                return "NotFound"
            }


        }

        $("#Khousousya").click(function () {
            if (checkIfSamePage("Home/Khousousya") == "NotFound")
                submit_post_via_hidden_form("@Url.Action("Khousousya", "Home")", {});


        });

        $("#Himayatalserya").click(function () {
            if (checkIfSamePage("Home/Himayatalserya") == "NotFound")
                submit_post_via_hidden_form("@Url.Action("Himayatalserya", "Home")", {});


        });

        @*var ClassName = '@ViewBag.PageName';

                        $("." + ClassName).show();*@



        $("#Moutaba3atChakwa").click(function () {


            window.location = '@Url.Action("Index", "UserDashboard")';

        });


        $("#gotodashbordCitizen").click(function () {


            @if (User.Identity.IsAuthenticated)
       {
                      <text>
            window.location = '@Url.Action("Index", "UserDashboard")';

            </text>
            }else
            {

                                     <text>
            $("#SignInManbar").click();

            </text>

            }



        });


        $("#gotodashbord").click(function () {

            @if (User.IsInRole("ADManager") || User.IsInRole("ADDirector") || User.IsInRole("HR"))
            {
                <text>
            window.location = '@Url.Action("AdUsersLandingPage", "Home")';

            </text>
            }@*else
                if (User.IsInRole("Administrator")) {

                    <text>
            window.location = '@Url.Action("Index", "AspNetUsers")';


            </text>

                }*@else
                    if (User.IsInRole("Editor")) {

                        <text>
            window.location = '@Url.Action("Index", "MouwazafinWithOrgs")';


            </text>

                    }
                    else
                        if (User.IsInRole("PB")) {

                            <text>
            window.location = '@Url.Action("Index", "PBDashboard")';


            </text>

                        }
                        else
                        {
                            <text>
            window.location = '@Url.Action("Index", "UserDashboard")';

            </text>
                        }

            {

            }
        });

          $(".openLinks").each(function (index) {
            var guidKey = $(this).attr("data-guidKey");
            var thisItem=$(this);
          $.ajax({
                url: '@Url.Action("CheckRedirection", "Files")',
                type: 'POST',
                data: {
                    __RequestVerificationToken: $('@Html.AntiForgeryToken()').val(),
                    g_key: guidKey
                },
                success: function (data) {
                    if (data == "False") {
                        thisItem.css("cursor", "initial");
                    } else {
                        thisItem.css("cursor", "pointer");
                    }
                },
                error: function (error) {

                    swal("Error", "Error Occured!", "error");

                }
            });
        });

        $(".openLinks").on('click', function () {
            var guidKey = $(this).attr("data-guidKey");
            var thisItem=$(this);
          $.ajax({
                url: '@Url.Action("CheckRedirection", "Files")',
                type: 'POST',
                data: {
                    __RequestVerificationToken: $('@Html.AntiForgeryToken()').val(),
                    g_key: guidKey
                },
                success: function (data) {
                    if (data == "False") {
                        thisItem.css("pointer", "click")
                    } else {
                        submit_post_via_hidden_formNewTab("@Url.Action("GetPdfPathFromGuid", "Files")", { GuidKey: guidKey});
                    }
                },
                error: function (error) {

                    swal("Error", "Error Occured!", "error");

                }
            });
        })

        function submit_post_via_hidden_formNewTab(url, params) {
            var f = $("<form method='POST' target='_blank' style='display:none;'></form>").attr({
                action: url
            }).appendTo(document.body);

            for (var i in params) {
                if (params.hasOwnProperty(i)) {
                    $('<input type="hidden" />').attr({
                        name: i,
                        value: params[i]
                    }).appendTo(f);
                }
            }

            f.submit();

            f.remove();
        }

        function submit_post_via_hidden_form(url, params) {
            var f = $("<form method='POST' style='display:none;'></form>").attr({
                action: url
            }).appendTo(document.body);

            for (var i in params) {
                if (params.hasOwnProperty(i)) {
                    $('<input type="hidden" />').attr({
                        name: i,
                        value: params[i]
                    }).appendTo(f);
                }
            }

            f.submit();

            f.remove();
        }

        $("#AkhbarWizara").click(function () {

            submit_post_via_hidden_form("@Url.Action("AkhbarWizara", "Home")", {});


        })
        $("#goToMarsad").click(function () {
            submit_post_via_hidden_form("@Url.Action("Marsad", "NewPages")", {});
        })

        $("#HeaderLogo").click(function () {
            submit_post_via_hidden_form("@Url.Action("Markaz", "NewPages")", {});

        })

        $("#Machari3Wizara").click(function () {

            submit_post_via_hidden_form("@Url.Action("Machari3Wizara", "Home")", {});


        })


        $(".akhbaralwizara").click(function () {
            window.location = '@Url.Action("AboutWizara", "Home")';
        });

        $(".machari3alwizara").click(function () {
            window.location = '@Url.Action("AboutMachari3", "Home")';
        });


        $(".logoff").click(function () {


            window.location = '@Url.Action("LogOff", "Account")';

        });

        function goToMyClaim(formKey, GUID, CreatedAt, CitizenKey, NextFormTemplateKey, CurrentStatusKey, CurrentFormtemplateKey, CurrentFormtemplateName, CurrentStatusName, NextOrganisationKey, CurrentOrganisationKey) {

            @if (User.IsInRole("ADManager") || User.IsInRole("ADDirector"))
           {
               <text>
            submit_post_via_hidden_form("@Url.Action("ADManagerTemplate", "FormTemplatesDisplay")", { formKey: formKey, GUID: GUID, CreatedAt: CreatedAt, CitizenKey: CitizenKey, CurrentStatusKey: CurrentStatusKey, NextFormTemplateKey: NextFormTemplateKey, CurrentFormtemplateKey: CurrentFormtemplateKey, CurrentFormtemplateName: CurrentFormtemplateName, NextOrganisationKey: NextOrganisationKey, CurrentOrganisationKey: CurrentOrganisationKey });

            @*window.location = '@Url.Action("ADManagerTemplate", "FormTemplatesDisplay")/' + "?formKey=" + formKey + "&GUID=" + GUID + "&CreatedAt=" + CreatedAt + "&CitizenKey=" + CitizenKey + "&CurrentStatusKey=" + CurrentStatusKey + "&NextFormTemplateKey=" + NextFormTemplateKey + "&CurrentFormtemplateKey=" + CurrentFormtemplateKey + "&CurrentFormtemplateName=" + CurrentFormtemplateName + "&NextOrganisationKey=" + NextOrganisationKey + "&CurrentOrganisationKey=" + CurrentOrganisationKey;*@
            </text>
                        }
            @if (User.IsInRole("OPManager") || User.IsInRole("OPGeneralDirector") || User.IsInRole("OPDirector") || User.IsInRole("Human Development Sector") || User.IsInRole("Administrative sector") || User.IsInRole("Economic sector") || User.IsInRole("Service sector"))
            {
                <text>
            @*window.location = '@Url.Action("FormInstance", "Home")/' + "?formKey=" + formKey + "&GUID=" + GUID + "&CreatedAt=" + CreatedAt + "&CitizenKey=" + CitizenKey + "&CurrentStatusKey=" + CurrentStatusKey + "&NextFormTemplateKey=" + NextFormTemplateKey + "&CurrentFormtemplateKey=" + CurrentFormtemplateKey + "&CurrentFormtemplateName=" + CurrentFormtemplateName + "&CurrentStatusName=" + CurrentStatusName + "&NextOrganisationKey=" + NextOrganisationKey + "&CurrentOrganisationKey=" + CurrentOrganisationKey;*@
            submit_post_via_hidden_form("@Url.Action("FormInstance", "Home")", { formKey: formKey, GUID: GUID, CreatedAt: CreatedAt, CitizenKey: CitizenKey, CurrentStatusKey: CurrentStatusKey, NextFormTemplateKey: NextFormTemplateKey, CurrentFormtemplateKey: CurrentFormtemplateKey, CurrentFormtemplateName: CurrentFormtemplateName, CurrentStatusName: CurrentStatusName, NextOrganisationKey: NextOrganisationKey, CurrentOrganisationKey: CurrentOrganisationKey });

            </text>
                        }
            @if (User.IsInRole("Citizen"))
            {
                <text>
            @*window.location = '@Url.Action("ADManagerTemplate", "FormTemplatesDisplay")/' + "?formKey=" + formKey + "&GUID=" + GUID + "&CreatedAt=" + CreatedAt + "&CitizenKey=" + CitizenKey + "&CurrentStatusKey=" + CurrentStatusKey + "&NextFormTemplateKey=" + NextFormTemplateKey + "&CurrentFormtemplateKey=" + CurrentFormtemplateKey + "&CurrentFormtemplateName=" + CurrentFormtemplateName + "&NextOrganisationKey=" + NextOrganisationKey + "&CurrentOrganisationKey=" + CurrentOrganisationKey;*@
            submit_post_via_hidden_form("@Url.Action("ADManagerTemplate", "FormTemplatesDisplay")", { formKey: formKey, GUID: GUID, CreatedAt: CreatedAt, CitizenKey: CitizenKey, CurrentStatusKey: CurrentStatusKey, NextFormTemplateKey: NextFormTemplateKey, CurrentFormtemplateKey: CurrentFormtemplateKey, CurrentFormtemplateName: CurrentFormtemplateName, NextOrganisationKey: NextOrganisationKey, CurrentOrganisationKey: CurrentOrganisationKey });

            </text>
                        }
        }


        function changeLanguage(languageCode) {
            $.ajax({
                url: '@Url.Action("ChangeLanguage", "Home")',
                type: 'GET',
                cache: false,
                dataType: 'text',
                data: ({
                    id: languageCode
                }),
                contentType: 'application/json; charset=utf-8',
                success: function (data) {
                    location.reload();
                },
                error: function (xhr) {
                    console.log('errorr');
                }
            });
        }




        $('.carousel').carousel({
            interval: 10000
        })

        $('#myCarousel').on('slide.bs.carousel', function () {
            $('.carousel-caption').fadeOut(300);
        })
        $('#myCarousel').on('slid.bs.carousel', function () {
            $('.carousel-caption').fadeIn(600);
        })

        //$(".cardimg1").hover(function () {
        //    $('#RidaMouwatanVideo').css("display", "block");
        //    $('#RidaMouwatanVideo').css("position", "absolute");
        //    $('#RidaMouwatanVideo').css("top", "0");

        //    $('#RidaMouwatanVideo').get(0).play();
        //})
        //$(".cardimg1").mouseleave(function () {
        //    $('#RidaMouwatanVideo').css("display", "none");
        //    $(".cardimg1>img").css("display", "block");
        //    $('#RidaMouwatanVideo').get(0).pause();
        //})


        //$(".cardimg2").hover(function () {
        //    $('#Ma3anVideo').css("display", "block");
        //    $('#Ma3anVideo').css("position", "absolute");
        //    $('#Ma3anVideo').css("top", "0");

        //    $('#Ma3anVideo').get(0).play();
        //})
        //$(".cardimg2").mouseleave(function () {
        //    $('#Ma3anVideo').css("display", "none");
        //    $(".cardimg2>img").css("display", "block");
        //    $('#Ma3anVideo').get(0).pause();
        //})



        //$(".cardimg3").hover(function () {
        //    $('#RidaMouwazafVideo').css("display", "block");
        //    $('#RidaMouwazafVideo').css("position", "absolute");
        //    $('#RidaMouwazafVideo').css("top", "0");

        //    $('#RidaMouwazafVideo').get(0).play();
        //})
        //$(".cardimg3").mouseleave(function () {
        //    $('#RidaMouwazafVideo').css("display", "none");
        //    $(".cardimg3>img").css("display", "block");
        //    $('#RidaMouwazafVideo').get(0).pause();
        //})

        //$(".cardimg4").hover(function () {
        //    $('#TakdimChakwaVideo').css("display", "block");
        //    $('#TakdimChakwaVideo').css("position", "absolute");
        //    $('#TakdimChakwaVideo').css("top", "0");

        //    $('#TakdimChakwaVideo').get(0).play();
        //})
        //$(".cardimg4").mouseleave(function () {
        //    $('#TakdimChakwaVideo').css("display", "none");
        //    $(".cardimg4>img").css("display", "block");
        //    $('#TakdimChakwaVideo').get(0).pause();
        //})

        //$(".cardimg5").hover(function () {
        //    $('#TapsitVideo').css("display", "block");
        //    $('#TapsitVideo').css("position", "absolute");
        //    $('#TapsitVideo').css("top", "0");

        //    $('#TapsitVideo').get(0).play();
        //})
        //$(".cardimg5").mouseleave(function () {
        //    $('#TapsitVideo').css("display", "none");
        //    $(".cardimg5>img").css("display", "block");
        //    $('#TapsitVideo').get(0).pause();
        //})







        //$(document).ready(function () {
        //    handleParagraphs('.p-text');
        //})
        //function handleParagraphs(selector) {
        //    var height = $(selector).height();
        //    var line_height = $(selector).css('line-height');
        //    line_height = parseFloat(line_height)
        //    var rows = Math.round(height / line_height);
        //    var result = "";
        //    if (rows > 6) {
        //        var values = $(selector).text().split(" ");
        //        $.each(values, function (i) {
        //            if (i <= 40) {
        //                result += values[i] + " ";
        //            }
        //            else {
        //                result += "<span style='visibility:hidden'>";
        //                result += values[i] + " ";
        //                if (values.length -  1 === i) result +=`</span>`;
        //            }

        //        });
        //        result += "<button>...إقرأ المزيد<button/>";
        //        $(selector).text(result);
        //    }





        //}


        //$(window).resize(function () {

        //    adjustCards();
        //});
        //var maxHeight = 0;
        //function adjustCards() {


        //        var cards = $(".card-manbar");
        //        for (var i = 0; i < cards.length; i++) {
        //            $(cards[i]).css('height', 'auto');
        //        }
        //        for (var i = 0; i < cards.length; i++) {

        //            if ($(cards[i]).height() > maxHeight) maxHeight = $(cards[i]).height();
        //        }

        //        for (var i = 0; i < cards.length; i++) {

        //            $(cards[i]).height(maxHeight);
        //        }

        //        maxHeight = 0;




        //}

        changeIconColor(".icon1", "#2fa32f");
        changeIconColor(".icon2", "#78ff99");
        changeIconColor(".icon3", "#ffc44d");
        changeIconColor(".icon4", "#f98646");
        changeIconColor(".icon5", "#c12a1a");
        function changeIconColor(icon, color) {

            var icons = ["icon1", "icon2", "icon3", "icon4", "icon5"]
            $(icon).on('click', function () {
                for (var i = 0; i < icons.length; i++) {
                    if ($(icon).hasClass(icons[i])) {
                        $(icon).css("color", color);

                    } else {
                        $("."+icons[i]).css("color", "#7c7c7c");
                    }
                }

            }
            )
        }


        $(".formButtonMouwazaf").click(function () {

            if ("@User.Identity.IsAuthenticated" === "False") {
                var FormTemplateType = $(this).attr("data-FormType");

                $.ajax({
                    url: '@Url.Action("GetFormTemplatesForAType", "Home")',
                    dataType: "json",
                    data: { TemplateType: FormTemplateType },
                    success: function (result) {


                        $.each(result, function (key, value) {

                            @*window.location = '@Url.Action("LoginView", "Account")' + "?NextPageIndex=" + value.FormTemplateKey + "&MouwazafIndex=True";*@
                            submit_post_via_hidden_form("@Url.Action("LoginView", "Account")", { NextPageIndex: value.FormTemplateKey, MouwazafIndex: "True" });

                            @*window.location = '@Url.Action("NewClaimForm", "ClaimForms")/' + "?FormTemplateKey=" + value.FormTemplateKey;*@

                        });

                    }
                });
            } else {

                @if (User.IsInRole("Citizen"))
        {
            <text>

                //bootbox.alert("!!! إن هذا الإستبان خاص بالموظفين ");

                bootbox.alert({
                    message: '!!! إن هذا الإستبان خاص بالموظفين ',
                    buttons: {
                        ok: {
                            label: 'إغلاق'
                        }
                    }
                })



                </text>

        }else
        {
            <text>

                var FormTemplateType = $(this).attr("data-FormType");

                $.ajax({
                    url: '@Url.Action("GetFormTemplatesForAType", "Home")',
                    dataType: "json",
                    data: { TemplateType: FormTemplateType },
                    success: function (result) {


                        $.each(result, function (key, value) {


                            @*window.location = '@Url.Action("NewClaimForm", "ClaimForms")/' + "?FormTemplateKey=" + value.FormTemplateKey;*@
                            submit_post_via_hidden_form("@Url.Action("NewClaimForm", "ClaimForms")",

                                            {
                                                FormTemplateKey: escape(value.FormTemplateKey)
                                            }
                        );

                        });

                    }
                });
                </text>
        }

            }
        });


    $(".formButton").click(function () {
        if ($(this).attr("data-FormType") == "رضا الموظف") {
            @if (User.IsInRole("Citizen"))
            {
                <text>
            bootbox.alert({
                message: '!!! إن هذا الإستبان خاص بالموظفين ',
                buttons: {
                    ok: {
                        label: 'إغلاق'
                    }
                }
            })
            return;
            </text>
            }
        }
            if ("@User.Identity.IsAuthenticated" === "False") {
                var FormTemplateType = $(this).attr("data-FormType");
                //  alert(FormTemplateType);
                $.ajax({
                    url: '@Url.Action("GetFormTemplatesForAType", "Home")',
                    dataType: "json",
                    data: { TemplateType: FormTemplateType },
                    success: function (result) {


                        $.each(result, function (key, value) {

                            @*window.location = '@Url.Action("LoginView", "Account")' + "?NextPageIndex=" + value.FormTemplateKey;*@
                            submit_post_via_hidden_form("@Url.Action("LoginView", "Account")", { NextPageIndex: value.FormTemplateKey });

                            @*window.location = '@Url.Action("NewClaimForm", "ClaimForms")/' + "?FormTemplateKey=" + value.FormTemplateKey;*@

                        });

                    }
                });
            } else {
                var FormTemplateType = $(this).attr("data-FormType");

                $.ajax({
                    url: '@Url.Action("GetFormTemplatesForAType", "Home")',
                    dataType: "json",
                    data: { TemplateType: FormTemplateType },
                    success: function (result) {


                        $.each(result, function (key, value) {

                            $.ajax({
                    url: '@Url.Action("AccessFormTemplate", "Home")',
                    dataType: "json",
                    data: { ftk: value.FormTemplateKey },
                                success: function (result1) {
                                    if (result1 == "Success") {
                                            submit_post_via_hidden_form("@Url.Action("NewClaimForm", "ClaimForms")", { FormTemplateKey: escape(value.FormTemplateKey) });
                                    } else {
                                        //popup
                                        $("#formAccessModal").modal("show");
                                    }

                    }
                });
                        });

                    }
                });
            }
        });



        $(".formButtonFasad").click(function () {

            if ("@User.Identity.IsAuthenticated" === "False") {


                @*window.location = '@Url.Action("tESTLogin", "Account")' + "?NextPageIndex=106";*@
                submit_post_via_hidden_form("@Url.Action("LoginView", "Account")", { NextPageIndex: "106" });
            } else {

                @if(User.IsInRole("Citizen")){
               <text>
                submit_post_via_hidden_form("@Url.Action("NewClaimForm", "ClaimForms")", { FormTemplateKey: escape("106") });

                </text>

           }else
           {
               <text>

                bootbox.alert({
                    message: '!!! إن هذا الإستبان خاص بالمواطنين ',
                    buttons: {
                        ok: {
                            label: 'إغلاق'
                        }
                    }
                })



                </text>
           }




            }
        });




</script>

