﻿@using Microsoft.AspNet.Identity
@using MoAD.DataObjects.EDMX
@using MoAD.WebApplication.Objects
@using MoAD.WebApplication.Models
@using MoAD.WebApplication.Managers
@using System.Text;

@{
    ViewBag.Title = "الصفحة الرئيسية";
    Layout = Layout = "~/Views/Shared/_CommonLayout.cshtml";
    Dictionary<string, List<GetFormTemplate_Result>> Survey = ViewBag.Survey;
    List<GetUserSurveyAnswer_Result> userInfoSurvey = ViewBag.GetAnswers;
    HttpCookie languageCookie = Request.Cookies["Language"];
    var InitialDirection = "rtl";
    if (languageCookie != null && languageCookie.Value != "3")
    {
        InitialDirection = "ltr";
    }
    List<GetAdManagerForms_Result> Estetla3Ra2iPublishedFormsForManbar = ViewBag.Estetla3Ra2iPublishedForms;

    if (Estetla3Ra2iPublishedFormsForManbar == null)
    {
        Estetla3Ra2iPublishedFormsForManbar = new List<GetAdManagerForms_Result>();
    }

    List<NavBarViewModel> NavbarData = (List<NavBarViewModel>)ViewBag.NavbarData;
    Dictionary<string, string> Locale = ViewBag.Locale;
    int languageIdentifier = (int)ViewBag.Languageidentifier;
    int sliderItemComponentKey1 = (int)ViewBag.SliderItemComponentKey1;
    List<NavBarViewModel> SliderData1 = (List<NavBarViewModel>)ViewBag.SliderData1;
    int sliderItemComponentKey2 = (int)ViewBag.SliderItemComponentKey2;
    List<NavBarViewModel> SliderData2 = (List<NavBarViewModel>)ViewBag.SliderData2;
}

@if (InitialDirection == "rtl")
{

    <style>
        .blog-slider__img {
            width: 496px;
            flex-shrink: 0;
            height: 300px;
            background: linear-gradient(90deg, rgba(68,127,153,1) 12%, rgba(93,172,207,1) 46%, rgba(68,127,153,1) 92%);
            box-shadow: -1px 1px 5px 0px #447f99;
            border-radius: 20px;
            transform: translateX(-12px) !important;
            overflow: hidden;
        }

        .blog-slider__content {
            padding-right: 122px;
        }

        .blog-slider__pagination {
            position: absolute;
            z-index: 21;
            right: 20px;
            width: 11px !important;
            text-align: center;
            /*  left: auto !important;*/
            top: 50%;
            bottom: auto !important;
            transform: translateY(-50%);
        }

        @@media(max-width:1430px) {
            /*continue here*/
        }
    </style>
}
else
{
    <style>
        .flex-item-1 {
            margin: 0px;
        }

        .blog-slider__img {
            width: 496px;
            flex-shrink: 0;
            height: 300px;
            background: linear-gradient(90deg, rgba(68,127,153,1) 12%, rgba(93,172,207,1) 46%, rgba(68,127,153,1) 92%);
            box-shadow: -1px 1px 5px 0px #447f99;
            border-radius: 20px;
            transform: translateX(3px) !important;
            overflow: hidden;
        }

        .blog-slider__content {
            padding-left: 40px;
        }

        .blog-slider__pagination {
            position: absolute;
            z-index: 21;
            left: 10px !important;
            width: 11px !important;
            text-align: center;
            right: auto !important;
            top: 50%;
            bottom: auto !important;
            transform: translateY(-50%);
        }
    </style>
}

<style>
    #mou2tamar p{
        word-break:break-word;
    }
    .carousel-caption {
        font-size: 22px;
    }

    .service-box {
        position: absolute;
        top: 0;
        opacity: 0;
        left: 0;
        width: 100%;
        height: 100%;
        perspective: 1000px;
        -webkit-perspective: 1000px;
    }

    .service-icon {
        width: 100%;
        /*height: 220px;*/
        padding: 40px;
        text-align: center;
        transition: all .5s ease;
    }

    .service-content {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1;
        opacity: 0;
        width: 100%;
        height: 220px;
        /* padding: 20px;*/
        text-align: center;
        transition: all .5s ease;
        transform-style: preserve-3d;
        -webkit-transform: translateY(110px) rotateX(-90deg);
        -moz-transform: translateY(110px) rotateX(-90deg);
        -ms-transform: translateY(110px) rotateX(-90deg);
        -o-transform: translateY(110px) rotateX(-90deg);
        transform: translateY(110px) rotateX(-90deg);
    }



    .card {
        overflow: hidden;
        position: relative;
        text-align: center;
    }

    .contact-container {
        background: url(../Images/backgrounds/sharekna-bg.jpg) !important;
        background-position: center !important;
        background-repeat: no-repeat !important;
        background-size: cover !important;
    }

    .slider-container, .slider-container2 {
        background: #EDEDED;
        margin-top: 1.25rem;
        padding-top: 2.125rem;
    }

    .slider-container {
        border: 0.875rem solid #8E1927;
    }

    .slider-container2 {
        border: 0.875rem solid #447F99;
    }

    .slide-item {
        display: none
    }

    .img-container {
        height: 276px;
        transform: translateX(-47%);
        margin: 20px;
    }

    .text-container {
        padding: 7px 5px;
        background: white;
        transform: translateX(19%);
        box-shadow: 8px 11px 5px -3px rgba(0,0,0,0.58);
        margin: 20px;
        /*  min-width: 300px;*/
    }


    .img img {
        width: 12.75rem;
        margin: 76px 40px;
    }



    .slide-item, .slide-item2 {
        display: none
    }

    .show-slide, .show-slide2 {
        display: block !important;
    }


    .text-container p {
        line-height: 1.9;
        max-width: 25rem;
        font-size: 1.25rem;
    }

    .text-container h2 {
        text-shadow: 2px 7px 2px #bbadad;
        color: #8E1927;
        font-size: 2.125rem;
        border-bottom: 2px solid #8E1927;
    }


    .toggle-btns {
        display: flex;
        justify-content: center;
        margin-top: 0.625rem;
    }




        .toggle-btns ul {
            display: flex;
            justify-content: center;
            align-items: center;
            background: #BFBFBF;
            border-radius: 0.937rem;
            padding-left: 4px;
            padding-right: 4px;
            list-style-type: none;
        }

            .toggle-btns ul li button {
                width: 1.25rem;
                height: 1.25rem;
                background: #959494;
                margin: 3px;
                border-radius: 50%;
                cursor: pointer;
                border: none;
            }

    .previous, .next, .previous2, .next2 {
        background: none;
        border: none;
    }

    .content-container {
        /* margin-left: 30px;
            margin-right: 30px;*/
        margin-bottom: 20px;
        background: white;
        /* border-top: 8px solid #447F99;*/
        /*padding-bottom: 20px;*/
    }


    .content-container2 .active2 {
        background: #447F99 !important;
    }

    i {
        font-size: 2.625rem;
        color: #447F99;
    }

    .takarir-container {
        background-color: #447F99;
        margin: 30px;
        border-radius: 20px;
        padding: 10px;
    }

        .takarir-container h1 {
            color: white;
        }

          .takrir-ada2-container .card {
                background: rgb(87,9,10);
                background: linear-gradient(90deg, rgba(87,9,10,1) 0%, rgba(184,93,96,1) 50%, rgba(87,9,10,1) 100%);
            }

        .coluxx1, .coluxx2, .coluxx3 {
            height: 20vw;
        }

      .coluxx1 {
            background-image: url(@Html.Raw(Url.Action("GetFilePathFromExtendedData","Files", new { extensionFileKey= 143106, resizeWidth = 640 })));
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
        }

        .coluxx2 {
            background-image:url(@Html.Raw(Url.Action("GetFilePathFromExtendedData","Files", new { extensionFileKey= 143104, resizeWidth = 640 })));
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
        }


        .coluxx3 {
            background-image: url(@Html.Raw(Url.Action("GetFilePathFromExtendedData","Files", new { extensionFileKey= 143105, resizeWidth = 640 })));
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
        }
        .takrir-ada2-container h3 {
            padding: 39px !important;
            font-size: 2.4rem !important;
            line-height: 1.8 !important;
        }
        .card h1{
            font-size:2.4rem !important;
        }
        .card h3 {
            font-size: 2.1rem;
            line-height: 1.8;
        }

        .colu15 {
            background-image: url(../Imag/block-8.png);
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
        }

        .colu3, .colu4, .colu5, .colu6 {
            height: 320px;
        }

       .colu6 {
            background-image: url(@Html.Raw(@Url.Action("GetFilePathFromExtendedData","Files", new { extensionFileKey= 143102, resizeWidth = 640 })));
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
        }

        .colu4 {
            background-image: url(@Html.Raw(Url.Action("GetFilePathFromExtendedData","Files", new { extensionFileKey= 143103, resizeWidth = 640 })));
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
        }


        .colu3 {
            background-image: url(@Html.Raw(Url.Action("GetFilePathFromExtendedData", "Files", new { extensionFileKey = 143127, resizeWidth = 640 })));
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
        }

       .colu5 {
            background-image: url(@Html.Raw(Url.Action("GetFilePathFromExtendedData","Files", new { extensionFileKey= 143101, resizeWidth = 640 })));
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
        }

        .imgft {
            height: 10vw !important;
        }

        .smallimage {
            margin: auto;
        }
        .takrir-ada2-container h1 {
            font-size: 2.8rem !important;
        }
        .linetitle {
            background-color: #882525;
            height: 0.3vw;
            margin-bottom: 0.5vw;
        }

        .kalimaTawjihyaText {
            font-size: 2.0rem;
            color: #5c6a72;
        }

        hr {
            box-shadow: 0px 8px 5px 0px rgba(0,0,0,0.26);
        }

        .box {
            margin-top: -55px;
            background: #D9DBDA;
            text-align: center;
            box-shadow: 8px 7px 5px 0px rgba(0,0,0,0.52);
        }

            .box p {
                color: #646464;
                font-size: 2.5rem;
                margin: 20px 0;
            }

    .flex {
        display: flex;
        justify-content: center;
    }

    .accept-btn, .decline-btn {
        padding: 8px 20px;
        border: 0px;
        border-radius: 5px;
    }

       .decline-btn {
            color: #64A1BC;
            background: white;
            border: 1px solid #64A1BC;
            transition: all ease 500ms;
        }

        .accept-btn {
            color: white;
            background: #64A1BC;
            transition: all ease 500ms;
        }

            .accept-btn:hover {
                background: #447F99;
            }

        .decline-btn:hover {
            background: #447F99;
            color: white;
        }

        .slider-responsive {
            margin: 10px 50px;
        }
        .eee {
            background-image: url(../Images/backgrounds/sharekna-bg.jpg);
            /* height: 27.5vw; */
            /* padding: 4vw; */
            width: 100%;
            height: auto;
            background-attachment: fixed;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
        }

        .social-icons-slider ul{
            list-style-type:none;
        }
        .blog-slider {
            /*width: 95%;*/
            position: relative;
            margin-bottom: 70px;
            background: #fff;
            box-shadow: 0px 14px 80px rgba(34, 35, 58, 0.2);
            padding: 25px;
            border-radius: 25px;
            height: 100% !important;
            transition: all 0.3s;
        }

        .blog-slider__item.swiper-slide-active .blog-slider__img img {
            opacity: 1;
            transition-delay: 0.3s;
        }

        .blog-slider__content {
           text-align:initial !important;
        }


        .blog-slider__item.swiper-slide-active .blog-slider__content > * {
            opacity: 1;
            transform: none;
        }

            .blog-slider__item.swiper-slide-active .blog-slider__content > *:nth-child(1) {
                transition-delay: 0.3s;
            }

            .blog-slider__item.swiper-slide-active .blog-slider__content > *:nth-child(2) {
                transition-delay: 0.4s;
            }

            .blog-slider__item.swiper-slide-active .blog-slider__content > *:nth-child(3) {
                transition-delay: 0.5s;
            }

            .blog-slider__item.swiper-slide-active .blog-slider__content > *:nth-child(4) {
                transition-delay: 0.6s;
            }

            .blog-slider__item.swiper-slide-active .blog-slider__content > *:nth-child(5) {
                transition-delay: 0.7s;
            }

            .blog-slider__item.swiper-slide-active .blog-slider__content > *:nth-child(6) {
                transition-delay: 0.8s;
            }

            .blog-slider__item.swiper-slide-active .blog-slider__content > *:nth-child(7) {
                transition-delay: 0.9s;
            }

            .blog-slider__item.swiper-slide-active .blog-slider__content > *:nth-child(8) {
                transition-delay: 1s;
            }

            .blog-slider__item.swiper-slide-active .blog-slider__content > *:nth-child(9) {
                transition-delay: 1.1s;
            }

            .blog-slider__item.swiper-slide-active .blog-slider__content > *:nth-child(10) {
                transition-delay: 1.2s;
            }

            .blog-slider__item.swiper-slide-active .blog-slider__content > *:nth-child(11) {
                transition-delay: 1.3s;
            }

            .blog-slider__item.swiper-slide-active .blog-slider__content > *:nth-child(12) {
                transition-delay: 1.4s;
            }

            .blog-slider__item.swiper-slide-active .blog-slider__content > *:nth-child(13) {
                transition-delay: 1.5s;
            }

            .blog-slider__item.swiper-slide-active .blog-slider__content > *:nth-child(14) {
                transition-delay: 1.6s;
            }

            .blog-slider__item.swiper-slide-active .blog-slider__content > *:nth-child(15) {
                transition-delay: 1.7s;
            }


        .ft1 {
            width: 100%;
            background-image: url(@Url.Action("GetFilePathFromExtendedData","Files", new { extensionFileKey= 143107 }));
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            min-height: 10vw !important;

        }




            .blog-slider__img:after {
                content: "";
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                border-radius: 20px;
                opacity: 0.8;
            }

            .blog-slider__img img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                display: block;
                opacity: 0;
                border-radius: 20px;
                transition: all 0.3s;
            }
            .blog-slider__content{
                display:flex;
                align-items:center;
            }
        .blog-slider__content > * {
            opacity: 0;
            transform: translateY(25px);
            transition: all 0.4s;
        }

        .blog-slider__code {
            color: #7b7992;
            margin-bottom: 15px;
            display: block;
            font-weight: 500;
        }

        .blog-slider__title {
            font-size: 24px;
            font-weight: 700;
            color: #646464;
            margin-bottom: 20px;
        }

        .blog-slider__text {
            color: #646464;
            margin-bottom: 30px;
            line-height: 1.5em;
        }

        .blog-slider__button {
            display: inline-flex;
            background: linear-gradient(90deg, rgba(68,127,153,1) 12%, rgba(93,172,207,1) 46%, rgba(68,127,153,1) 92%);
            padding: 15px 35px;
            border-radius: 50px;
            color: #fff;
            box-shadow: 0px 3px 15px rgb(93 172 207);
            text-decoration: none;
            font-weight: bold;
            justify-content: center;
            text-align: center;
            letter-spacing: 1px;
            border:0px;
        }
        .blog-slider .swiper-container-horizontal > .swiper-pagination-bullets, .blog-slider .swiper-pagination-custom, .blog-slider .swiper-pagination-fraction {
            bottom: 10px;
            left: 0;
            width: 100%;
        }


            .blog-slider__pagination .swiper-pagination-bullet {
                width: 11px;
                height: 11px;
                display: block;
                border-radius: 10px;
                background: #062744;
                opacity: 0.2;
                transition: all 0.3s;
            }

            .blog-slider__pagination .swiper-pagination-bullet-active {
                opacity: 1;
                background: #447F99 !important;
                height: 30px;
            }

            .blog-slider__pagination.swiper-pagination-bullets .swiper-pagination-bullet {
                margin: 8px 0;
            }

    .blog-slider__item {
        display: flex;
        align-items: center;
    }

    .carousel-control.right, .carousel-control.left {
        background-image: none;
    }

    /* MEDIA QUERIES*/
    @@media(max-width:1960px) {
        .text-container {
            transform: translateX(0);
        }


        .img-container {
            height: auto;
            transform: translateX(0);
        }

        .img img {
            margin: 76px 0px;
        }
    }

    @@media(max-width:1710px) {
        .cardwork h3 {
            line-height: 1.5 !important;
        }
    }

    @@media(max-width:1451px) {
        .cardwork h3 {
            line-height: 1.2 !important;
        }
    }

    @@media(max-width:1440px) {
        .card h3 {
            line-height: 1.2;
        }
    }

    @@media(max-width:1430px) {
        .blog-slider__content {
            margin-top: -80px;
            text-align: center;
            padding-right: 0px !important;
        }

        .blog-slider__pagination {
            left: 50% !important;
            top: 205px;
            width: 100% !important;
            display: flex;
            justify-content: center;
            align-items: center;
        }

            .blog-slider__pagination.swiper-pagination-bullets .swiper-pagination-bullet {
                margin: 0 5px;
            }

        .blog-slider__img {
            transform: translateY(-50%);
            width: 90%;
        }

        .blog-slider__pagination .swiper-pagination-bullet-active {
            height: 11px;
            width: 30px;
        }

        .blog-slider__item {
            flex-direction: column;
        }

        .blog-slider {
            min-height: 500px;
            height: auto;
         /*   margin-top: 241px;*/
        }

        .text-isla7 {
            margin: 7px !important;
        }
    }

    @@media(max-width:1400px) {

        .img {
            display: none;
        }
        /*.text-container {
                height: 249px;
            }*/
    }

    @@media(max-width:1300px) {



        .text-responsive {
            width: 100% !important;
        }
    }

    @@media(max-width:1274px) {

        .cardwork h3 {
            line-height: 1.1 !important;
        }
    }

    @@media(max-width:1200px) {
        .box-left {
            height: 66% !important;
        }

        .box {
            margin: 11px 10px;
        }

        .text-container2-fix {
            height: 350px;
        }
    }

    @@media(min-width:1196px) {
        .content-container2 {
            margin: 40px 0px;
        }
    }

    @@media(max-width:1195px) {
        .content-container2 {
            margin-top: 145px;
        }
    }




    @@media(max-width:1135px) {
        .cardwork h3 {
            line-height: 1.0 !important;
        }
    }
    @@media(max-width:1024px) {
        .blog-slider__content {
            flex-direction: column;
        }

        .social-icons-slider ul {
            display: flex;
            justify-content: center;
            margin-left: 33px;
            margin-top: 10px;
        }

        .insta-icon-slider {
            height: 32px !important;
            margin-top: 6px;
        }

        .kalimaTawjihyaText {
            font-size: 2.1rem !important;
        }

        .takrir-ada2-container .service-content h3 {
            padding: 28px;
        }

        .box-left {
            margin-top: 35px;
        }
    }

    @@media(max-width:991px) {
        .cardwork h3 {
            line-height: 2.8 !important;
        }
    }


    @@media(max-width:980px) {

        .cardwork h3 {
            line-height: 2.3 !important;
        }

        .takrir-ada2-container h3 {
            line-height: 1.9 !important;
            padding: 15px !important;
        }
    }

    @@media(max-width:920px) {
        .carousel-caption p {
            font-size: 18px !important;
        }
    }



    @@media(max-width:800px) {
        .coluxx1, .coluxx2, .coluxx3 {
            height: 22vw !important;
        }

        .img-container {
            height: auto;
        }

        .slider-responsive > div {
            display: block;
        }
    }

    @@media(max-with:768px) {

        .takrir-ada2-container h3 {
            line-height: 1.5 !important;
            padding: 24px !important;
        }
    }

    @@media (max-width: 767px) {
        .coluxx1, .coluxx2, .coluxx3 {
            height: 48vw !important;
        }
    }

    @@media(max-width:734px) {

        .cardwork h3 {
            line-height: 2.1 !important;
        }
    }

    @@media(max-width:645px) {

        .cardwork h3 {
            line-height: 1.5 !important;
        }

        .carousel-caption p {
            font-size: 12px !important;
        }

        .coluxx1, .coluxx2, .coluxx3 {
            height: 48vw !important;
        }
    }


    @@media(max-width:513px) {

        .cardwork h3 {
            line-height: 1.1 !important;
        }
    }

    @@media(max-width:425px) {

        h1 {
            font-size: 2.5rem !important;
        }

        h3, .box p {
            font-size: 2.1rem !important;
        }


        .card h1 {
            font-size: 1.5rem !important;
        }

        .card h3 {
            line-height: 2.2 !important;
            font-size: 1.2rem !important;
        }

        .card h4 {
            font-size: 1.8rem !important;
        }



        .takrir-ada2-container h1 {
            font-size: 2.5rem !important;
        }

        .takrir-ada2-container h3 {
            font-size: 1.6rem !important;
            padding: 18px !important;
        }
    }
    @@media(max-width:375px) {
        h1, .takrir-ada2-container h1 {
            font-size: 2.0rem !important;
        }

        .box p {
            font-size: 1.8rem !important;
        }

        h3 {
            font-size: 1.6rem !important;
        }


        .takrir-ada2-container h3 {
            padding: 4px !important;
        }
    }

    @@media(max-width:325px) {
        h1, .takrir-ada2-container h1 {
            font-size: 1.7rem !important;
        }

        .box p {
            font-size: 1.6rem !important;
        }

        .card h3 {
            font-size: 1.1rem !important;
        }

        .card h4 {
            font-size: 1.5rem !important;
        }

        .takrir-ada2-container h3 {
            font-size: 1.4rem !important;
        }

        h3 {
            font-size: 1.4rem !important;
        }
    }


    @@media screen and (max-width: 576px) {
        .blog-slider__img {
            width: 95%;
        }

        .blog-slider__content {
            padding: 0;
        }

        .blog-slider__button {
            width: 100%;
        }
    }



    @@media screen and (max-height: 500px) and (min-width: 992px) {
        .blog-slider__img {
            height: 270px;
        }
    }








</style>

<div class="row" style="background: #D3D3D3 !important; border-radius:37px; margin:15px;padding:15px;" dir="@InitialDirection">
    <h1 class="text-center" style=" color: #5c6a72;">@Utilities.GetDataTransaltionByGuid("11da8054-d608-47a1-9e2b-d3aad6be469b", languageIdentifier)</h1>

    <div class="content-container" style="background:white;">
        @Html.Partial("~/Views/CMS/_SlidersPartial.cshtml", new ViewDataDictionary { { "NavbarData", SliderData1 }, { "LanguageIdentifier", ViewBag.CurrentLanguageIdentifier } })

        <div class="row reveal">
            <div class="col-lg-1 col-md-1 col-sm-1"></div>
            <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12">
                <div class="card colu3 cardwork" style="  border: 1px solid #e7e4e4; box-shadow: 3px 3px 4px 0px rgb(0 0 0 / 75%); display: flex; flex-direction: column-reverse; margin: 10px;">
                    <h4 style="z-index: 4; background: rgb(245, 236, 236,0.7); color: #5c6a72; padding: 16px; font-size: 24px; border-bottom: 3px solid #8E1927" data-translation="ee08fe8d-fb76-48ab-8ead-4aadffdb69cd"> @Utilities.GetDataTransaltionByGuid("ee08fe8d-fb76-48ab-8ead-4aadffdb69cd", languageIdentifier)</h4>
                    <div class="service-box" style="background-color:rgb(245, 236, 236,0.7);">
                        <div class="service-icon">

                        </div>
                        <div class="service-content" style="background-color:rgb(245, 236, 236,0.1);">
                            <h1 class="titleText" style="color: #46435a;" data-translation="9129c81f-6a16-464e-8167-8fdf70e5915c">
                                @Utilities.GetDataTransaltionByGuid("9129c81f-6a16-464e-8167-8fdf70e5915c", languageIdentifier)
                            </h1>
                            <h3 class="paragraph" style="color: #46435a;" data-translation="98a3975a-9b2e-4b96-85b7-152cc7ab81b9">
                                @Utilities.GetDataTransaltionByGuid("98a3975a-9b2e-4b96-85b7-152cc7ab81b9", languageIdentifier)
                            </h3>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12">
                <div class="card colu5 cardwork" data-page="TimeLinePage" style="  border: 1px solid #e7e4e4; box-shadow: 3px 3px 4px 0px rgb(0 0 0 / 75%); display: flex; flex-direction: column-reverse; margin: 10px;">
                    <h4 style="z-index: 4; background: rgb(245, 236, 236,0.7); color: #5c6a72; padding: 16px; font-size: 24px; border-bottom: 3px solid #8E1927" data-translation="f242e067-4b20-4fc9-94e9-4cadd7dcac81">
                        @Utilities.GetDataTransaltionByGuid("f242e067-4b20-4fc9-94e9-4cadd7dcac81", languageIdentifier)
                    </h4>
                    <div class="service-box" style="background-color:rgb(245, 236, 236,0.7);">
                        <div class="service-icon">

                        </div>
                        <div class="service-content" style="background-color:rgb(245, 236, 236,0.1);">
                            <h1 class="titleText" style="color: #46435a;" data-translation="dcf1f9c2-fcff-4728-a75e-d75a8cf04b9f">
                                @Utilities.GetDataTransaltionByGuid("dcf1f9c2-fcff-4728-a75e-d75a8cf04b9f", languageIdentifier)
                            </h1>
                            <h3 class="paragraph" style="color: #46435a;" data-translation="2c7bfe51-91b0-4cf7-a2c4-ef26525973c3">
                                @Utilities.GetDataTransaltionByGuid("2c7bfe51-91b0-4cf7-a2c4-ef26525973c3", languageIdentifier)
                            </h3>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-1 col-md-1 col-sm-1"></div>
        </div>
        <div class="row reveal" style="margin:20px;">
            <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12"></div>
            <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
                <div class="takrir-ada2-container">
                    <div class="card cardwork">
                        <h4 data-translation="486248cd-9126-45bf-a168-eef01217716c" hidden></h4>
                        <div class="service-box" style="position: relative; opacity: 1 !important;">
                            <div class="service-icon">
                                <h1 style="color:white;font-weight:normal !important">  @Utilities.GetDataTransaltionByGuid("486248cd-9126-45bf-a168-eef01217716c", languageIdentifier)</h1>
                            </div>
                            <div class="service-content">
                                <h3 style="color: white;"> @Utilities.GetDataTransaltionByGuid("cc081d77-f731-4750-9485-40da5cc905cc", languageIdentifier)</h3>
                            </div>
                        </div>
                    </div>



                </div>
            </div>
            <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12"></div>

        </div>

        <div class="row  reveal">
            <div class="col-lg-1 col-md-1 col-sm-1"></div>
            <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12">
                <div class="card colu6 cardwork" style=" border: 1px solid #e7e4e4; box-shadow: 3px 3px 4px 0px rgb(0 0 0 / 75%); display: flex; flex-direction: column-reverse; margin: 10px; ">
                    <h4 style="z-index: 4; background: rgb(245, 236, 236,0.7); color: #5c6a72; padding: 16px; font-size: 24px; border-bottom: 3px solid #8E1927 " data-translation="bbe8405e-b1ea-4266-b5fe-8f1a8f69fda5"> @Utilities.GetDataTransaltionByGuid("bbe8405e-b1ea-4266-b5fe-8f1a8f69fda5", languageIdentifier)</h4>
                    <div class="service-box" style="background-color:rgb(245, 236, 236,0.7);">
                        <div class="service-icon">

                        </div>
                        <div class="service-content" style="background-color:rgb(245, 236, 236,0.1);">
                            <h1 style="color: #46435a;">@Utilities.GetDataTransaltionByGuid("4c762764-6ebd-4572-a4ee-7583ee5a0350", languageIdentifier)</h1>
                            <h3 style="color: #46435a;">@Utilities.GetDataTransaltionByGuid("72ccf12a-aa1f-4e2b-ba13-b92e4ea8f6f2", languageIdentifier)</h3>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12">
                <div class="card colu4 cardwork" style=" border: 1px solid #e7e4e4; box-shadow: 3px 3px 4px 0px rgb(0 0 0 / 75%); display: flex; flex-direction: column-reverse; margin: 10px;">
                    <h4 style="z-index: 4; background: rgb(245, 236, 236,0.7); color: #5c6a72; padding: 16px; font-size: 24px; border-bottom: 3px solid #8E1927 " data-translation="324df6d8-4bb8-46f4-944e-933486cfa159">@Utilities.GetDataTransaltionByGuid("324df6d8-4bb8-46f4-944e-933486cfa159", languageIdentifier)</h4>
                    <div class="service-box" style="background-color:rgb(245, 236, 236,0.7);">
                        <div class="service-icon">

                        </div>
                        <div class="service-content" style="background-color:rgb(245, 236, 236,0.1);">
                            <h1 style="color: #46435a;">@Utilities.GetDataTransaltionByGuid("8c8a6b57-a9a7-4532-a1c5-8db09cfa07ba", languageIdentifier)</h1>
                            <h3 style="color: #46435a;">@Utilities.GetDataTransaltionByGuid("9f01d6a2-3428-4ac4-bf11-b190ede72fe9", languageIdentifier)</h3>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-1 col-md-1 col-sm-1"></div>
        </div>

        <div class="row  reveal" style="padding: 10px;">
            <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 ">
                <p class="kalimaTawjihyaText">
                    @Utilities.GetDataTransaltionByGuid("af470144-bcf1-4af0-beef-10d968c5b5c8", languageIdentifier)
                </p>

                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 linetitle">
                </div>


                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 coluxx2 " title="تصدر تقارير المرصد بعد استكمال الجهات العامة بياناتها المطلوبة" style="cursor:pointer" id="MarsadAlAda2AlIdari">


                </div>

            </div>
            <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 ">
                <p class="kalimaTawjihyaText">
                    @Utilities.GetDataTransaltionByGuid("dff3f95f-b7e5-4e15-9c4d-3056d2f95446", languageIdentifier)
                </p>
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 linetitle"></div>


                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 coluxx3 " style="cursor:pointer" id="ManbarSilatWasel">



                </div>


            </div>

            <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                <p class="kalimaTawjihyaText">
                    @Utilities.GetDataTransaltionByGuid("ee28d3f0-aa52-4f58-82ca-dc32003dbb20", languageIdentifier)
                </p>

                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 linetitle">
                </div>


                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 coluxx1 " style="cursor:pointer" id="SinInMangersButton">



                </div>



            </div>
        </div>
    </div>
    <div class="row  reveal" style="height: 421px;">
        <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12" style="height: 100%;">
            <div style="width:100%;height:100%;">

                <div id="videoContainer" style="width:100%;height:100%;">
                    <iframe width="100%" height="100%"
                            src="@ViewBag.videoUrlComponent"
                            frameborder="0" allowfullscreen>
                    </iframe>
                </div>
            </div>
        </div>
        <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12" style="height:100%;overflow: hidden;">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-isla7" style="background: rgb(211,211,211); background: linear-gradient(90deg, rgba(211,211,211,1) 10%, rgba(255,255,255,1) 51%, rgba(211,211,211,1) 89%);margin-bottom:7px;">
                <h1 class="text-center" style="font-weight: normal !important">@Utilities.GetDataTransaltionByGuid("5204b140-328b-4a40-9e45-500f8a74179a", languageIdentifier)</h1>
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 box-left" style=" background: white;height:100%;height:360px;overflow:auto;">
                <div id="mou2tamar">
                    @{
                        var translationValue = Utilities.GetDataTransaltionByGuid("cf57ddd6-e006-4884-a5a9-95b0d283cde6", languageIdentifier);
                        var res2 = "";
                        if (Utilities.TryGetFromBase64String(translationValue))
                        {
                            var stringconverted2 = System.Convert.FromBase64String(translationValue);
                            res2 = Encoding.UTF8.GetString(stringconverted2);
                        }
                    }

                    @Html.Raw(res2)
                </div>
            </div>

        </div>
    </div>
</div>

<div class="row  reveal" style="margin:15px;">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="row text-center" style="border-radius: 15px; background-color: #4783A5; padding-top: 20px; box-shadow: 0px 8px 5px 0px rgba(0,0,0,0.75); padding-bottom: 20px; margin: 20px; ">
            <h1 style="color:white;font-weight:normal !important;">
                <a style="color:white;font-weight:normal !important;" class="openLinks" data-guidKey="1244e63c-c67b-48b0-9649-77a9ecd33a92">@Utilities.GetDataTransaltionByGuid("1244e63c-c67b-48b0-9649-77a9ecd33a92", languageIdentifier)</a>
            </h1>
        </div>
    </div>
</div>

<div class="error-part" style="background:white;">
    <div class="row">
        <hr />
    </div>
    <div class="row  reveal">
        <div class="col-lg-1 col-md-1 col-sm-12 col-xs-12"></div>
        <div class="col-lg-12 col-md-12  col-sm-12 col-xs-12">

            <div class="col-lg-3 col-md-12  col-sm-12 col-xs-12 box">

                <p>@Utilities.GetDataTransaltionByGuid("9688e450-4478-4447-88c0-02b99373c7f2", languageIdentifier)</p>
            </div>

            <div class="content-container2" dir="@InitialDirection">


                @Html.Partial("~/Views/CMS/_SpecialCarousel.cshtml", new ViewDataDictionary { { "NavbarData", SliderData2 }, { "LanguageIdentifier", ViewBag.CurrentLanguageIdentifier } })



            </div>

        </div>
        <div class="col-lg-1 col-md-1 col-sm-12 col-xs-12"></div>
    </div>



    <div class="row eee" style="margin:0;direction:rtl" id="SurveySection">

        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 reveal">
            <div class="col-lg-3 col-md-12  col-sm-12 col-xs-12 box" style="float:right;">
                <p>  @Utilities.GetDataTransaltionByGuid("e84619b8-393b-40b4-82d6-3e0c37e4d4e4", languageIdentifier)</p>
            </div>
            <div class="col-lg-9 col-md-12  col-sm-12 col-xs-12"></div>
            <div class="row" style="margin-top:30px">
                <div class="col-lg-1 col-md-1"></div>
                <div class="col-lg-10 col-md-10 col-sm-12 col-xs-12">
                    <div class="col-sm-12">
                        <div class="mm-survey">
                            @{
                                var ResultSurevyDisplay = "none";
                                var ContainerSyrveyDisplay = "block";
                                if (userInfoSurvey.Count != 0)
                                {
                                    ResultSurevyDisplay = "block";
                                    ContainerSyrveyDisplay = "none";
                                }
                            }
                            <div class="mm-survey-results" style="display:@ResultSurevyDisplay">
                                <div class="mm-survey-results-container">
                                    <h3 class="mm-survey-results-score">@Html.Raw(BaseController.GetFieldLabel(Locale, "_ThankYouForSurvey"))</h3>
                                    <div class="row mm-survey-results-list">
                                        @foreach (var item in userInfoSurvey)
                                        {
                                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 mm-survey-results-item incorrect">
                                                <span class="mm-item-number">@item.AnswerTemplateValue</span>
                                                <p class="mm-item-info kalimaTawjihyaText">@item.QuestionValue</p>
                                            </div>
                                        }

                                    </div>
                                    @*<ul class="mm-survey-results-list">
                                        @foreach (var item in userInfoSurvey)
                                        {
                                            <li class="mm-survey-results-item incorrect">
                                                <span class="mm-item-number">@item.AnswerTemplateValue</span>
                                                <span class="mm-item-info">@item.QuestionValue</span>
                                            </li>
                                        }

                                    </ul>*@
                                </div>
                                @*<div style="display:@ResultSurevyDisplay">
                                    <h3 class="mm-survey-results-score">يمكنكم الإطلاع على نتائج إستطلاعات الرأي المنشورة من خلال الضغط على مفتاح <a href="#main-menu">"نتائج إستطلاعات الرأي"</a> الموجود في لائحة التحكم أعلاه</h3>
                                </div>*@
                            </div>

                            @if (Survey.Count == 0 && userInfoSurvey.Count == 0)
                            {
                                <div class="mm-survey-results" style="display:block">
                                    <div class="mm-survey-results-container">
                                        <h3 class="mm-survey-results-score pointer text-to-change" data-toggle="modal" data-translation="232afac7-6c75-4b83-bf17-2cf1cd2050eb" data-target="#exampleModal" style="padding-bottom:20px;direction:@InitialDirection">
                                            @Utilities.GetDataTransaltionByGuid("232afac7-6c75-4b83-bf17-2cf1cd2050eb", languageIdentifier)
                                        </h3>
                                    </div>
                                </div>
                            }

                            @if (Survey.Count != 0)
                            {
                                <div class="mm-survey-bottom" style="display:@ContainerSyrveyDisplay">
                                    <div class="mm-survey-container" style="display:@ContainerSyrveyDisplay">
                                        @{

                                            int index = 1;
                                            int j = 0;
                                            foreach (var Key in Survey.Keys)
                                            {

                                                var active = index == 1 ? "active" : "";
                                                <div class="mm-survey-page @active" data-page="@index">
                                                    <div class="mm-survery-content">
                                                        <div class="mm-survey-question">
                                                            <p id="quest_@index">@Survey[Key].FirstOrDefault().QuestionValue</p>
                                                        </div>
                                                        @{

                                                            foreach (var answer in Survey[Key])
                                                            {
                                                                j++;
                                                                var radioId = "radio0" + j;
                                                                var radioName = "radio" + index;

                                                                <div class="mm-survey-item">
                                                                    <input type="radio" id="@radioId" data-item="@index" name="@radioName" data-templatekey="@answer.AnswerTemplateKey" value="@answer.AnswerValue" />
                                                                    <label for="@radioId"><span></span><p>@answer.AnswerValue</p></label>
                                                                </div>
                                                            }
                                                        }

                                                    </div>
                                                </div>
                                                index++;
                                            }
                                        }

                                    </div>

                                    <div class="mm-survey-controller">
                                        <div class="mm-prev-btn">
                                            <button>@Html.Raw(BaseController.GetFieldLabel(Locale, "_Previous"))</button>
                                        </div>
                                        <div class="mm-next-btn">
                                            <button disabled="true">@Html.Raw(BaseController.GetFieldLabel(Locale, "_Next"))</button>
                                        </div>
                                        <div class="mm-finish-btn">
                                            <button>@Html.Raw(BaseController.GetFieldLabel(Locale, "_Submit"))</button>
                                        </div>
                                    </div>
                                </div>
                            }

                        </div>
                    </div>

                    @*<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="margin-top:30px">
                        <label for="sou2al" style="font-size:20px;color:#A8A8A8;">السؤال</label>
                        <input type="text" id="sou2al" style="width: 100%;border: 1px solid #D3D3D3; padding: 10px;background:#F7F7F7" />
                    </div>
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="margin-top:30px">
                        <label for="sou2al" style="font-size:20px;color:#A8A8A8;">الجواب</label>
                        <input type="text" id="sou2al" style="width: 100%;border: 1px solid #D3D3D3; padding: 10px;background:#F7F7F7" />
                    </div>*@
                </div>
                <div class="col-lg-1 col-md-1"></div>


            </div>

            @*<div class="row" dir="ltr" style="margin-top:30px">
                <div class="col-lg-1 col-md-1"></div>
                <div class="col-lg-10 col-md-10 col-sm-12 col-xs-12">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <button class="decline-btn" style="margin-top:20px;margin-bottom:20px;">إلغاء</button>
                        <button class="accept-btn" style="margin-top:20px;margin-bottom:20px;">حفظ</button>
                    </div>

                </div>
                <div class="col-lg-1 col-md-1"></div>
            </div>*@


        </div>
        @if (Survey.Count != 0)
        {
            <div class="social-icons-slider">
                <ul>
                    <li><a href="https://m.facebook.com/story.php?story_fbid=368555808642122&id=100064631174437" target="_blank"><img class="fb-icon-slider" src=@Url.Content("~/Images/logos/facebook-slider.png") style="height:45px; cursor:pointer;" /></a></li>
                    <li><a href="https://t.me/moa128" target="_blank"><img class="insta-icon-slider" src=@Url.Content("~/Images/logos/telegram-slider.png") style="height: 32px;  cursor: pointer;" /></a></li>

                    @*<li><a href="@Url.Action("Index", "Home", null, Request.Url.Scheme)#SurveySection" target="_blank"><img class="fb-icon-slider" src=@Url.Content("~/Images/logos/facebook-slider.png") style="height:45px; cursor:pointer;" /></a></li>
                    <li><a href="@Url.Action("Index", "Home", null, Request.Url.Scheme)#SurveySection" target="_blank"><img class="insta-icon-slider" src=@Url.Content("~/Images/logos/telegram-slider.png") style="height: 32px; margin-right: 5px; cursor: pointer;" /></a></li>*@

                </ul>
            </div>
        }
    </div>
    <div class="row" style="margin:auto;">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 ft1">
            <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1"></div>

        </div>
    </div>

</div>

<div class="modal fade" id="exampleModal1" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel"></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <h1 class="text-center modal-head-title"></h1>
                <p class="text-center modal-head-text" style="line-height:3.4rem">

                </p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">إغلاق</button>
            </div>
        </div>
    </div>
</div>
<script src=@Url.Content("~/assets/NewPages/slider2/swiper.js")></script>
<script>
    $(".btn-danger").hide();

        //jQuery('#deleteSlideBtn').each(function () {
        //    var currentElement = $(this);
        //    console.log("currentElementcurrentElement");
        //    currentElement.css("display","none");
        //});

        function reveal() {
            var reveals = document.querySelectorAll(".reveal");

            for (var i = 0; i < reveals.length; i++) {
                var windowHeight = window.innerHeight;
                var elementTop = reveals[i].getBoundingClientRect().top;
                var elementVisible = 150;

                if (elementTop < windowHeight - elementVisible) {
                    reveals[i].classList.add("active");
                } else {
                    reveals[i].classList.remove("active");
                }
            }
        }
        //var swiper = new Swiper('.blog-slider', {
        //    spaceBetween: 30,
        //    effect: 'fade',
        //    loop: true,
        //    mousewheel: {
        //        invert: false,
        //    },
        //    // autoHeight: true,
        //    pagination: {
        //        el: '.blog-slider__pagination',
        //        clickable: true,
        //    }
        //});

        window.addEventListener("scroll", reveal);
        $(function () {
            $('#main-menu').smartmenus({
                subMenusSubOffsetX: 1,
                subMenusSubOffsetY: -8
            });
        });


        $(".dropbtn").click(function () {

            $(this).next().toggle();
        });

        document.addEventListener('keydown', function (event) {
            if (event.keyCode == 27) {
                event.preventDefault();
            }

        });


        function myFunction() {
            var x = document.getElementById("myTopnav");
            if (x.className === "topnav") {
                x.className += " responsive";
            } else {
                x.className = "topnav";
            }
        }




        /////////End LoaderPart////



        //function myFunction() {
        //    var x = document.getElementById("myTopnav");
        //    if (x.className === "topnav") {
        //        x.className += " responsive";
        //    } else {
        //        x.className = "topnav";
        //    }
        //}
          $("#ManbarSilatWasel").click(function () {

            submit_post_via_hidden_form("@Url.Action("Manbar", "NewPages")", {});

          });
        $("#MarsadAlAda2AlIdari").click(function () {

            submit_post_via_hidden_form("@Url.Action("Marsad", "NewPages")", {});

        });

        $("#SignInMarkaz").click(function () {

            @if (User.Identity.IsAuthenticated)
            {

                if (User.IsInRole("PB"))
                {
 <text>
            window.location = '@Url.Action("Index", "PBDashboard")';

            </text>
                }
                else
                {
 <text>
            submit_post_via_hidden_form("@Url.Action("Index", "Home")", {});

            </text>
                }

            } else
            {
                <text>
            submit_post_via_hidden_form("@Url.Action("LoginView", "Account")", { ManagerIndex: "True" });

            </text>
            }


        });
        $("#SinInMangersButton").click(function () {

            @if (User.Identity.IsAuthenticated)
                            {

                                if (User.IsInRole("PB"))
                                {
 <text>
            window.location = '@Url.Action("Index", "PBDashboard")';

            </text>
                                }
                                else
                                {
 <text>
             window.location = '@Url.Action("Index", "UserDashboard")';
            //submit_post_via_hidden_form("@Url.Action("Index", "Home")", {});

            </text>
                                }

            }else
            {
                <text>
            submit_post_via_hidden_form("@Url.Action("LoginView", "Account")", { ManagerIndex: "True" });

            </text>
            }


        });

        $(".goToEstetla3ra2i").click(function () {
            var formKey = $(this).attr("data-formkey");
             submit_post_via_hidden_form("@Url.Action("Index", "SurveyReport")", { FormTemKey: formKey });
        })

        $(".EmptyEstetla3Class").hover(function () {
            $(this).text("لا يوجد نتائج إستطلاعات رأي");
        })

        $(".EmptyEstetla3Class").mouseleave(function () {
            $(this).text("نتائج إستطلاعات الرأي");
        })

        $("#GlobalLearningLink").click(function () {

            window.location.href = "http://www.gl.ae/home";

        });




        $("#AboutMarsad").click(function () {
            if (checkIfSamePage("Home/AboutMarsad") == "NotFound")
                submit_post_via_hidden_form("@Url.Action("AboutMarsad", "Home")", {});


        });


        $("#AboutMarkaz").click(function () {
            if (checkIfSamePage("Home/AboutMarkaz") == "NotFound")
                submit_post_via_hidden_form("@Url.Action("AboutMarkaz", "Home")", {});


        });

        $("#AboutManbar").click(function () {




            if (checkIfSamePage("Home/AboutManbar") == "NotFound")
                submit_post_via_hidden_form("@Url.Action("AboutManbar", "Home")", {});

        });


        function checkIfSamePage(PagePath) {
            var url = window.location.href;     // Returns full URL


            if (url.indexOf(PagePath) != -1) {
                return "Found";
            } else {
                return "NotFound"
            }


        }

        $("#Khousousya").click(function () {
            if (checkIfSamePage("Home/Khousousya") == "NotFound")
                submit_post_via_hidden_form("@Url.Action("Khousousya", "Home")", {});


        });

        $("#Himayatalserya").click(function () {
            if (checkIfSamePage("Home/Himayatalserya") == "NotFound")
                submit_post_via_hidden_form("@Url.Action("Himayatalserya", "Home")", {});


        });

        @*var ClassName = '@ViewBag.PageName';

                        $("." + ClassName).show();*@



        $("#Moutaba3atChakwa").click(function () {


            window.location = '@Url.Action("Index", "UserDashboard")';

        });


        $("#gotodashbordCitizen").click(function () {


            @if (User.Identity.IsAuthenticated)
       {
                      <text>
            window.location = '@Url.Action("Index", "UserDashboard")';

            </text>
            }else
            {

                                     <text>
            $("#SignInManbar").click();

            </text>

            }



        });


        $("#gotodashbord").click(function () {

            @if (User.IsInRole("ADManager") || User.IsInRole("ADDirector") || User.IsInRole("HR"))
            {
                <text>
            window.location = '@Url.Action("AdUsersLandingPage", "Home")';

            </text>
            }@*else
                if (User.IsInRole("Administrator")) {

                    <text>
            window.location = '@Url.Action("Index", "AspNetUsers")';


            </text>

                }*@else
                    if (User.IsInRole("Editor")) {

                        <text>
            window.location = '@Url.Action("Index", "MouwazafinWithOrgs")';


            </text>

                    }
                    else
                        if (User.IsInRole("PB")) {

                            <text>
            window.location = '@Url.Action("Index", "PBDashboard")';


            </text>

                        }
                        else
                        {
                            <text>
            window.location = '@Url.Action("Index", "UserDashboard")';

            </text>
                        }

            {

            }
        });



        $("#AkhbarWizara").click(function () {

            submit_post_via_hidden_form("@Url.Action("AkhbarWizara", "Home")", {});


        })

        $("#HeaderLogo").click(function () {
            submit_post_via_hidden_form("@Url.Action("Markaz", "NewPages")", {});

        })

        $("#Machari3Wizara").click(function () {

            submit_post_via_hidden_form("@Url.Action("Machari3Wizara", "Home")", {});


        })


        $(".akhbaralwizara").click(function () {
            window.location = '@Url.Action("AboutWizara", "Home")';
        });

        $(".machari3alwizara").click(function () {
            window.location = '@Url.Action("AboutMachari3", "Home")';
        });



        function goToMyClaim(formKey, GUID, CreatedAt, CitizenKey, NextFormTemplateKey, CurrentStatusKey, CurrentFormtemplateKey, CurrentFormtemplateName, CurrentStatusName, NextOrganisationKey, CurrentOrganisationKey) {

            @if (User.IsInRole("ADManager") || User.IsInRole("ADDirector"))
           {
               <text>
            submit_post_via_hidden_form("@Url.Action("ADManagerTemplate", "FormTemplatesDisplay")", { formKey: formKey, GUID: GUID, CreatedAt: CreatedAt, CitizenKey: CitizenKey, CurrentStatusKey: CurrentStatusKey, NextFormTemplateKey: NextFormTemplateKey, CurrentFormtemplateKey: CurrentFormtemplateKey, CurrentFormtemplateName: CurrentFormtemplateName, NextOrganisationKey: NextOrganisationKey, CurrentOrganisationKey: CurrentOrganisationKey });

            @*window.location = '@Url.Action("ADManagerTemplate", "FormTemplatesDisplay")/' + "?formKey=" + formKey + "&GUID=" + GUID + "&CreatedAt=" + CreatedAt + "&CitizenKey=" + CitizenKey + "&CurrentStatusKey=" + CurrentStatusKey + "&NextFormTemplateKey=" + NextFormTemplateKey + "&CurrentFormtemplateKey=" + CurrentFormtemplateKey + "&CurrentFormtemplateName=" + CurrentFormtemplateName + "&NextOrganisationKey=" + NextOrganisationKey + "&CurrentOrganisationKey=" + CurrentOrganisationKey;*@
            </text>
                        }
            @if (User.IsInRole("OPManager") || User.IsInRole("OPGeneralDirector") || User.IsInRole("OPDirector") || User.IsInRole("Human Development Sector") || User.IsInRole("Administrative sector") || User.IsInRole("Economic sector") || User.IsInRole("Service sector"))
            {
                <text>
            @*window.location = '@Url.Action("FormInstance", "Home")/' + "?formKey=" + formKey + "&GUID=" + GUID + "&CreatedAt=" + CreatedAt + "&CitizenKey=" + CitizenKey + "&CurrentStatusKey=" + CurrentStatusKey + "&NextFormTemplateKey=" + NextFormTemplateKey + "&CurrentFormtemplateKey=" + CurrentFormtemplateKey + "&CurrentFormtemplateName=" + CurrentFormtemplateName + "&CurrentStatusName=" + CurrentStatusName + "&NextOrganisationKey=" + NextOrganisationKey + "&CurrentOrganisationKey=" + CurrentOrganisationKey;*@
            submit_post_via_hidden_form("@Url.Action("FormInstance", "Home")", { formKey: formKey, GUID: GUID, CreatedAt: CreatedAt, CitizenKey: CitizenKey, CurrentStatusKey: CurrentStatusKey, NextFormTemplateKey: NextFormTemplateKey, CurrentFormtemplateKey: CurrentFormtemplateKey, CurrentFormtemplateName: CurrentFormtemplateName, CurrentStatusName: CurrentStatusName, NextOrganisationKey: NextOrganisationKey, CurrentOrganisationKey: CurrentOrganisationKey });

            </text>
                        }
            @if (User.IsInRole("Citizen"))
            {
                <text>
            @*window.location = '@Url.Action("ADManagerTemplate", "FormTemplatesDisplay")/' + "?formKey=" + formKey + "&GUID=" + GUID + "&CreatedAt=" + CreatedAt + "&CitizenKey=" + CitizenKey + "&CurrentStatusKey=" + CurrentStatusKey + "&NextFormTemplateKey=" + NextFormTemplateKey + "&CurrentFormtemplateKey=" + CurrentFormtemplateKey + "&CurrentFormtemplateName=" + CurrentFormtemplateName + "&NextOrganisationKey=" + NextOrganisationKey + "&CurrentOrganisationKey=" + CurrentOrganisationKey;*@
            submit_post_via_hidden_form("@Url.Action("ADManagerTemplate", "FormTemplatesDisplay")", { formKey: formKey, GUID: GUID, CreatedAt: CreatedAt, CitizenKey: CitizenKey, CurrentStatusKey: CurrentStatusKey, NextFormTemplateKey: NextFormTemplateKey, CurrentFormtemplateKey: CurrentFormtemplateKey, CurrentFormtemplateName: CurrentFormtemplateName, NextOrganisationKey: NextOrganisationKey, CurrentOrganisationKey: CurrentOrganisationKey });

            </text>
                        }
        }







        $('.carousel').carousel({
            interval: 10000
        })

        $('#myCarousel').on('slide.bs.carousel', function () {
            $('.carousel-caption').fadeOut(300);
        })
        $('#myCarousel').on('slid.bs.carousel', function () {
            $('.carousel-caption').fadeIn(600);
        })

        $(".cardwork").on('click', function () {
            if ($(this).children().length == 1) {
                var servicebox = $(this).children()[0];
            }
            else
                var servicebox = $(this).children()[1];

            var children = $(servicebox).children();

            if ($(children[1]).css('opacity') === '0') {

                $(children[0]).css("opacity", "0");
                $(children[1]).css("opacity", "1");


                $(children[1]).css('transform', 'translateX(0)');

            }
            else {
                $(children[0]).css('opacity', '1');
                $(children[1]).css('transform', 'translateY(110px) rotateX(-90deg)');
                $(children[1]).css('opacity', '0');
            }


        }

        )
        $(".cardwork").on('mouseenter', function () {
            if ($(this).children().length == 1) {
                var servicebox = $(this).children()[0];
            }
            else
                var servicebox = $(this).children()[1];

            var children = $(servicebox).children();

            $(servicebox).css({
                    opacity: 1,
                    transition: 'opacity 1s ease-in-out'
                });



           $(children[0]).css("opacity", "0");
                $(children[1]).css("opacity", "1");
                $(children[1]).css('transform', 'translateX(0)');

        }

        )

        $(".cardwork").on('mouseleave', function () {
            if ($(this).children().length == 1) {
                var servicebox = $(this).children()[0];
            }
            else
                var servicebox = $(this).children()[1];

            var children = $(servicebox).children();

            if ($(children[0]).children().length == 0) {
                $(servicebox).css({
                    opacity: 0,
                    transition: 'opacity 1s ease-in-out'
                });
            }


            $(children[0]).css('opacity', '1');
            $(children[1]).css('transform', 'translateY(110px) rotateX(-90deg)');
            $(children[1]).css('opacity', '0');

        }


        )

    $(".cardwork").on('click', function () {
        var page = $(this).attr("data-page");

        if (page == "TimeLinePage") {
            submit_post_via_hidden_form("@Url.Action("Index", "TimeLine")", {});
            return;
        } else {
             var translationGuid = $(this).find("h4").data("translation");
            submit_post_via_hidden_form("@Url.Action("GetPdfPathFromGuid", "Files")", { GuidKey: translationGuid });
            return;
        }
        })




        $(document).on('click', '.blog-slider__button', function () {
            var parent = $(this).parent();
            var children = $(parent).children();
            var title = $(children[0]).text();
            var text = $(children[2]).text();
            $(".modal-head-title").text(title);
            $(".modal-head-text").text(text);


        })


        var AnswerTemplateKey = [];
        var FormKey;
        $('.mm-finish-btn').on('click', function () {
            $('.mm-survey-item input:checked').each(function (index, val) {

                answsers = { key: $(this).attr("data-templatekey"), Textvalue: $(this).val(), type: "RadioBox", Parent: "", Child: "", count: "" }
                AnswerTemplateKey.push(answsers);
            });

            $.ajax({
                url: '@Url.Action("SubmitFormForUser", "ClaimForms")',
                type: 'GET',
                dataType: 'json',
                cache: false,
                data: {
                    trackingStatusKey: "1", formTemplateKey: "191", userKey: "@User.Identity.GetUserId()", organisationKey: " ", FileExtensionName: '@ViewBag.myCookie', FileExtensionType: '@ViewBag.myIP'
                },
                success: function (data) {
                    console.log(AnswerTemplateKey);
                    FormKey = data;
                    $.ajax({
                        url: '@Url.Action("AnswersByUser", "ClaimForms")',
                        type: 'POST',
                        dataType: 'json',
                        cache: false,
                        data: {
                            formKey: FormKey, answerTemplateKey: JSON.stringify(AnswerTemplateKey)
                        },
                        success: function (data) {

                            $.ajax({
                                url: '@Url.Action("SaveClaimForm", "ClaimForms")',
                                type: 'GET',
                                dataType: 'json',
                                cache: false,
                                data: {
                                    formKey: FormKey
                                },
                                success: function (data) {
                                    console.log("survey submited successfully");
                                }
                            });
                }
            });
        }
        });

        });


</script>
