﻿@using Microsoft.AspNet.Identity
@using MoAD.DataObjects.EDMX
@using MoAD.WebApplication.Objects;
@using MoAD.WebApplication.Models;
@using MoAD.WebApplication.Managers;

@{
    ViewBag.Title = "مرصد الأداء الإداري";
    Layout = Layout = "~/Views/Shared/_CommonLayout.cshtml";
    HttpCookie languageCookie = Request.Cookies["Language"];
    var InitialDirection = "rtl";
    if (languageCookie != null && languageCookie.Value != "3")
    {
        InitialDirection = "ltr";
    }
    List<GetAdManagerForms_Result> Estetla3Ra2iPublishedFormsForManbar = ViewBag.Estetla3Ra2iPublishedForms;

    if (Estetla3Ra2iPublishedFormsForManbar == null)
    {
        Estetla3Ra2iPublishedFormsForManbar = new List<GetAdManagerForms_Result>();
    }
    Dictionary<string, string> Locale = ViewBag.Locale;
    int languageIdentifier = (int)ViewBag.CurrentLanguageIdentifier;
    int? pageKey = (int?)ViewBag.pageKey;
    int navBarItemComponentKey = (int)ViewBag.NavBarItemComponentKey;
    List<NavBarViewModel> NavbarData = (List<NavBarViewModel>)ViewBag.NavbarData;
    int sliderItemComponentKey = (int)ViewBag.SliderItemComponentKey;
    List<NavBarViewModel> SliderData = (List<NavBarViewModel>)ViewBag.SliderData;
}

<style>
        #myCarousel .card{
            height:100% !important;
        }

        #Top10Orgs:hover {
            color: #ed2814;
        }

        .text-color {
            color: #50718c;
        }

        .boldClass{
            font-weight:bold !important;
        }

        .level1Font{
            font-size:2.8rem;
        }
        .level2Font {
            font-size: 2.3rem;
        }
        .level3Font {
            font-size: 2.0rem;
        }
        .title-container {
            background: #e5eaec;
            padding: 10px;
        }
        .title-container>div{
            padding:10px;
        }
            .title-container p {
                color: #ed2814;
                margin: 0 !important;
            }

        .card {
            height: 320px !important;
        }
        .eee3 span {
            background: none;
            color: white;
            margin: 50px 0px;
            font-size:1.3rem;
        }

        .carousel-caption p {
            font-size: 25px;
        }
        .white-bg{
            background:white !important;
        }
       
        #containerLyomNkeye {
            background-image: url(../Images/backgrounds/MarsadSlider/background.jpg);
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
        }

        ul a{
            cursor:pointer;
        }
       
        a {
            border-bottom: none !important;
        }

        h4, h3 {
            font-weight: normal !important;
        }

        .colu5 {
            background-image: url(../Images/backgrounds/takrir-ada2-sanawi.png) !important;
        }
        .colu3 {
            background-image: url(../Images/backgrounds/takrir-ada2-wizarat.png) !important;
        }

        .pointer{
            cursor:pointer;
        }
       
          
        .box1 {
            padding: 1%;
            font-size: 1vw;
            background-color: white;
            margin-top: 1vw;
            margin-bottom: 1vw;
            box-shadow: 0px 0px 16px 6px #c6b4b4;
            border: solid 0.3vw #d8d4d4;
        }
            .box1 p {
                font-size:2.5rem;
            }
        .rowFixMargin {
            margin-right:0px !important;
            margin-left:0px !important;
        }
        .col1 {
            height: 0.5vw;
            background-color: red;
            margin-top: 3vw;
        }

        .card-box {
            /*background: white;*/
            padding: 20px 0px;
            position: relative;
            border: 30px solid transparent;
        }
            .card-box::after {
                content: "";
                background: rgb(0,25,49);
                background: linear-gradient(90deg, rgba(0,25,49,1) 0%, rgba(37,83,120,1) 50%, rgba(0,25,49,1) 100%);
                display: block;
                height: 10px;
                width: 100%;
                position: absolute;
                bottom: 0;
            }
           

        h1 {
            font-size: 2.5rem !important;
        }

        h2 {
            font-size: 2.06rem;
        }
        .obs1 {
            position: relative;
            background-color: #fbe5e5;
            height: 3vw;
            background: rgba(255, 255, 255, .5);
            top: -116px;
            padding: 3px 14px;
            /* text-align: center; */
        }
        .titles2 {
            font-size: 1.5vw;
        }

        .card {
            overflow: hidden;
            position: relative;
        }

        .carousel-control.right, .carousel-control.left {
            background-image: none;
        }

        .text-container p {
            line-height: 1.9;
            max-width: 25rem;
            font-size: 1.25rem;
        }

        .text-container h2 {
            text-shadow: 2px 7px 2px #bbadad;
            color: #8E1927;
            font-size: 2.125rem;
            border-bottom: 2px solid #8E1927;
        }


        .takarir-container {
            background-color: #447F99;
            margin: 30px;
            border-radius: 20px;
            padding: 10px;
        }

            .takarir-container h1 {
                color: white;
            }

        .takrir-ada2-container {
            background: url(../Images/takarir/تقرير-الأداء-الحكوميbutton.png);
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            height: 244px;
        }


        .card h3 {
            font-size: 17px;
        }

        .colu15 {
            background-image: url(../Imag/block-8.png);
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
        }

        .colu3, .colu4, .colu5, .colu6, .colu44, .colu55, .colu66 {
            height: 20vw;
        }

        .colu6 {
            background-image: url(../Images/backgrounds/haykal-bg.jpg);
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
        }

        .colu4 {
            background-image: url(../Images/backgrounds/business.png);
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
        }

        .colu3 {
            background-image: url(@Html.Raw(Url.Action("GetFilePathFromExtendedData","Files", new { extensionFileKey= 143114, resizeWidth = 640 })));
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
        }

        .colu5 {
            background-image: url(@Html.Raw(Url.Action("GetFilePathFromExtendedData","Files", new { extensionFileKey= 143115, resizeWidth = 640 })));
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
        }

        .colu44 {
            background-image: url(@Html.Raw(Url.Action("GetFilePathFromExtendedData","Files", new { extensionFileKey= 143109, resizeWidth = 640 })));
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
        }
        .colu55 {
            background-image: url(@Html.Raw(Url.Action("GetFilePathFromExtendedData","Files", new { extensionFileKey= 143110, resizeWidth = 640 })));
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
        }
        .colu66 {
            background-image: url(@Html.Raw(Url.Action("GetFilePathFromExtendedData","Files", new { extensionFileKey= 143111, resizeWidth = 640 })));
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
        }

        .imgft {
            height: 10vw !important;
        }

        .smallimage {
            margin: auto;
        }

        .linetitle {
            background-color: #882525;
            height: 0.3vw;
            margin-bottom: 0.5vw;
        }

        .kalimaTawjihyaText {
            font-size: 1.750rem;
        }

        hr {
            box-shadow: 0px 8px 5px 0px rgba(0,0,0,0.26);
        }

        .box {
            margin-top: -55px;
            background: #D9DBDA;
            text-align: center;
            box-shadow: 8px 7px 5px 0px rgba(0,0,0,0.52);
        }

            .box p {
                color: #646464;
                font-size: 2.5rem;
                margin: 20px 0;
            }

        .flex {
            display: flex;
            align-items: center;
            justify-content: center;
        }

     .eee {
            background-image: url(@Html.Raw(Url.Action("GetFilePathFromExtendedData","Files", new { extensionFileKey= 143113 })));
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;

        }

        .ft1 {
            width: 100%;
            background-image: url(@Html.Raw(Url.Action("GetFilePathFromExtendedData","Files", new { extensionFileKey= 143112 })));
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            min-height: 10vw !important;

        }

        @@media(max-width:1200px) {
            .box-left {
                height: 66% !important;
            }

            .box {
                margin: 11px 10px;
            }

            .text-container2-fix {
                height: 350px;
            }
        }

        @@media(min-width:1025px){
            .takrir-footer {
                padding-top: 123px;
            }
        }

        @@media(max-width:1024px) {
          
            .card-box {
                border: 10px solid transparent !important;
            }

            }

        @@media(max-width:991px){
            .card h3 {
                line-height: 2.9;
            }
        }

        @@media(max-width:920px) {
            .carousel-caption p {
                font-size: 18px !important;
            }
        }

        @@media(max-width:800px) {
            .coluxx1, .coluxx2, .coluxx3 {
                height: 22vw !important;
            }

            .img-container {
                height: auto;
            }

            .slider-responsive > div {
                display: block;
            }

            .coluxx1, .coluxx2, .coluxx3 {
                height: 38.25rem;
            }
        }

        @@media(min-width:768px){
            .eee3 span{
                font-size:2.8rem !important;
            }
        }

        @@media(max-width:645px) {
            .carousel-caption p {
                font-size: 12px !important;
            }
        }

        @@media(max-width:425px){
            .level1Font{
                font-size:2.3rem;
            }
            .level2Font{
                font-size:2.1rem;
            }
            .level3Font{
                font-size:1.8rem;
            }

            .eee3 span{
                font-size:0.9rem;
            }
        }
</style>

<div class="white-bg">
    <div style="background:#ffff">
        <div class="content-container">
            @Html.Partial("~/Views/CMS/_SlidersPartial.cshtml", new ViewDataDictionary { { "NavbarData", SliderData }, { "LanguageIdentifier", ViewBag.CurrentLanguageIdentifier } })
        </div>
        <div class="row rowFixMargin reveal text-center title-container" style=" margin-bottom: 30px;">

            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 level1Font">
                <p id="GetPublishedRanking" class="pointer">@Utilities.GetDataTransaltionByGuid("a92fd44d-b624-4c02-b1d2-611d58119661", languageIdentifier)</p>
            </div>
        </div>
    </div>
    <div id="containerLyomNkeye">
        <div class="row rowFixMargin reveal">
            <div class="col-lg-1 col-md-1 col-sm-1"></div>
            <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12 pointer" id="TakrirAda2Sanawi">
                <div class="card colu3" style="  border: 1px solid #e7e4e4; box-shadow: 3px 3px 4px 0px rgb(0 0 0 / 75%); display: flex; flex-direction: column-reverse; margin: 10px;">
                    <h4 style="z-index: 4; background: rgba(255, 255, 255, .7); color: #5c6a72; padding: 16px;" class="boldClass level3Font">@Utilities.GetDataTransaltionByGuid("8d71581c-b20f-4c03-8997-ad3382e6980f", languageIdentifier)</h4>
                </div>
            </div>

            <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12 pointer" id="TasnifAda2Sanawi">
                <div class="card colu5" style="  border: 1px solid #e7e4e4; box-shadow: 3px 3px 4px 0px rgb(0 0 0 / 75%); display: flex; flex-direction: column-reverse; margin: 10px;">
                    <h4 class="boldClass level3Font" style="z-index: 4; background: rgba(255, 255, 255, .7); color: #5c6a72; padding: 16px;">
                        @Utilities.GetDataTransaltionByGuid("17de65e4-b16a-4b82-8ffe-37546c1438f0", languageIdentifier)
                    </h4>
                </div>
            </div>
            <div class="col-lg-1 col-md-1 col-sm-1"></div>
        </div>

        <div class="row rowFixMargin reveal title-container text-center" style="margin-top:30px;">

            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 level1Font">
                <p>@Utilities.GetDataTransaltionByGuid("b0b82876-0099-4394-9e71-63296d050139", languageIdentifier)</p>
            </div>

        </div>
        <div class="row rowFixMargin reveal">

            <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 card-box" id="GetPublishedTakarir">
                <div class="card-text">
                    <p class="text-color level2Font" style="padding: 2px 11px;">@Utilities.GetDataTransaltionByGuid("bc574abe-889d-4610-83ca-03cdfe6c3c32", languageIdentifier) </p>
                </div>
                <div class="card colu44 pointer" style="  border: 1px solid #e7e4e4; box-shadow: 3px 3px 4px 0px rgb(0 0 0 / 75%); display: flex; flex-direction: column-reverse; margin: 10px;">
                    <h4 style="z-index: 4; background: rgba(255, 255, 255, .7); color: #5c6a72; height: 67px; padding: 16px; " class="boldClass level3Font">@Utilities.GetDataTransaltionByGuid("d2a17b1c-8802-4ea1-b096-7310bdfc6672", languageIdentifier) </h4>
                </div>
            </div>

            <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 card-box" id="tarahoulan">
                <div class="card-text">
                    <p class="text-color level2Font" style="padding: 2px 11px;">@Utilities.GetDataTransaltionByGuid("77371007-881c-47ae-9d0d-362c9f36f9cc", languageIdentifier) </p>
                </div>
                <div class="card colu55 pointer" style="  border: 1px solid #e7e4e4; box-shadow: 3px 3px 4px 0px rgb(0 0 0 / 75%); display: flex; flex-direction: column-reverse; margin: 10px;">
                    <h4 style="z-index: 4; background: rgba(255, 255, 255, .7); color: #5c6a72; height: 67px; padding: 16px;" class="boldClass level3Font">
                        @Utilities.GetDataTransaltionByGuid("81dae4e7-ccc2-4e8a-a0f6-80716b71dbd4", languageIdentifier)
                    </h4>
                </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 card-box" id="EchReport">
                <div class="card-text">
                    <p class="text-color level2Font" style="padding: 2px 11px;">@Utilities.GetDataTransaltionByGuid("8b595350-ef0b-4178-a0cf-78aa6e90385d", languageIdentifier)  </p>
                </div>
                <div class="card colu66 pointer" style="  border: 1px solid #e7e4e4; box-shadow: 3px 3px 4px 0px rgb(0 0 0 / 75%); display: flex; flex-direction: column-reverse; margin: 10px;">
                    <h4 style="z-index: 4; background: rgba(255, 255, 255, .7); color: #5c6a72; height: 67px; padding: 16px;" class="boldClass level3Font">
                        @Utilities.GetDataTransaltionByGuid("443e2bdc-8714-4184-ac72-99485cec0025", languageIdentifier)
                    </h4>
                </div>
            </div>


        </div>
    </div>

    <div class="row rowFixMargin reveal">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 eee">
            <div class="eee3 flex"> <span id="Top10Orgs" class="btn tamyiz">@Utilities.GetDataTransaltionByGuid("2ebc8915-4cc4-4c08-933c-78bdc3ea1837", languageIdentifier) </span></div>
        </div>

    </div>



    <div class="error-part" style="background:white;">

        <div class="row" style="margin: auto;">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 ft1">


            </div>
        </div>


    </div>
</div>

<script src=@Url.Content("~/assets/NewPages/slider2/swiper.js")></script>
<script>
        $(".btn-danger").hide();
        $("#TakrirAda2Sanawi").click(function () {


            submit_post_via_hidden_form("@Url.Action("TakrirAda2Sanawi", "Home")", {});

        });
    $("#TasnifAda2Sanawi").click(function () {


            @*submit_post_via_hidden_form("@Url.Action("Index", "TimeLine")", {});*@

        });

          $("#GetPublishedRanking").click(function () {
            submit_post_via_hidden_form("@Url.Action("TasnifAlAda2AlSanawi", "Ranking")", { description: "Publish" });

            @*submit_post_via_hidden_form("@Url.Action("GetPublishedRanking", "Ranking")", { HighlightedPart: "Ranking" });*@

          });
         $("#tarahoulan").click(function () {
          submit_post_via_hidden_form("@Url.Action("Tarahoulan", "Home")", {  });


        });

        $("#EchReport").click(function () {
            submit_post_via_hidden_form("@Url.Action("EchReport", "Home")", {  });


        });
          $("#GetPublishedTakarir").click(function () {
            @*submit_post_via_hidden_form("@Url.Action("AlTakarir", "Takarir")", { Description: "Publish", FormTemplateKey: "", HighlightedPart: "Takarir" });*@
            @*submit_post_via_hidden_form("@Url.Action("AlTakarir", "Takarir")", { FormTemplateKey: FormTemplateKey, HighlightedPart: "Takarir" });*@
            @*submit_post_via_hidden_form("@Url.Action("Estetla3Ra2i", "Home")", {  });*@
              submit_post_via_hidden_form("@Url.Action("AlSurvey", "SurveyReport")", {  });

        });

        function reveal() {
            var reveals = document.querySelectorAll(".reveal");

            for (var i = 0; i < reveals.length; i++) {
                var windowHeight = window.innerHeight;
                var elementTop = reveals[i].getBoundingClientRect().top;
                var elementVisible = 150;

                if (elementTop < windowHeight - elementVisible) {
                    reveals[i].classList.add("active");
                } else {
                    reveals[i].classList.remove("active");
                }
            }
        }
        var swiper = new Swiper('.blog-slider', {
            spaceBetween: 30,
            effect: 'fade',
            loop: true,
            mousewheel: {
                invert: false,
            },
            // autoHeight: true,
            pagination: {
                el: '.blog-slider__pagination',
                clickable: true,
            }
        });

        window.addEventListener("scroll", reveal);
        $(function () {
            $('#main-menu').smartmenus({
                subMenusSubOffsetX: 1,
                subMenusSubOffsetY: -8
            });
        });


        $(".dropbtn").click(function () {

            $(this).next().toggle();
        });

        document.addEventListener('keydown', function (event) {
            if (event.keyCode == 27) {
                event.preventDefault();
            }

        });


        function myFunction() {
            var x = document.getElementById("myTopnav");
            if (x.className === "topnav") {
                x.className += " responsive";
            } else {
                x.className = "topnav";
            }
        }


        /////////LoaderPart////
        $(window).on('load', function () {

        //setTimeout(function () {
            fadeOutEffect();
        //}, 6000);

        function fadeOutEffect() {

            var fadeTarget = document.getElementById("overlay");
            var fadeEffect = setInterval(function () {
                if (!fadeTarget.style.opacity) {
                    fadeTarget.style.opacity = 1;
                }
                if (fadeTarget.style.opacity > 0) {
                    fadeTarget.style.opacity -= 0.1;
                } else {
                    clearInterval(fadeEffect);
                }


            }, 300);

            setTimeout(function () {
                $(".Body").css("filter", "");

            }, 3000);
            $("#HeaderLogo").fadeIn(6000);

            setTimeout(function () {

                $("#overlay").remove();
            }, 5000);

        }

        });
        /////////End LoaderPart////



        //function myFunction() {
        //    var x = document.getElementById("myTopnav");
        //    if (x.className === "topnav") {
        //        x.className += " responsive";
        //    } else {
        //        x.className = "topnav";
        //    }
        //}
          $("#ManbarSilatWasel").click(function () {

            submit_post_via_hidden_form("@Url.Action("Manbar", "Home")", {});

          });
        $("#MarsadAlAda2AlIdari").click(function () {

            submit_post_via_hidden_form("@Url.Action("Marsad", "Home")", {});

        });
        $("#SignInMarkaz").click(function () {

            @if (User.Identity.IsAuthenticated)
            {

                if (User.IsInRole("PB"))
                {
 <text>
            window.location = '@Url.Action("Index", "PBDashboard")';

            </text>
                }
                else
                {
 <text>
            submit_post_via_hidden_form("@Url.Action("Index", "Home")", {});

            </text>
                }

            } else
            {
                <text>
            submit_post_via_hidden_form("@Url.Action("LoginView", "Account")", { ManagerIndex: "True" });

            </text>
            }


        });

        $("#SinInMangersButton").click(function () {

            @if (User.Identity.IsAuthenticated)
                            {

                                if (User.IsInRole("PB"))
                                {
 <text>
            window.location = '@Url.Action("Index", "PBDashboard")';

            </text>
                                }
                                else
                                {
 <text>
            submit_post_via_hidden_form("@Url.Action("Index", "Home")", {});

            </text>
                                }

            }else
            {
                <text>
            submit_post_via_hidden_form("@Url.Action("LoginView", "Account")", { ManagerIndex: "True" });

            </text>
            }


        });

        $(".goToEstetla3ra2i").click(function () {
            var formKey = $(this).attr("data-formkey");
             submit_post_via_hidden_form("@Url.Action("Index", "SurveyReport")", { FormTemKey: formKey });
        })

        $(".EmptyEstetla3Class").hover(function () {
            $(this).text("لا يوجد نتائج إستطلاعات رأي");
        })

        $(".EmptyEstetla3Class").mouseleave(function () {
            $(this).text("نتائج إستطلاعات الرأي");
        })

        $("#GlobalLearningLink").click(function () {

            window.location.href = "http://www.gl.ae/home";

        });


        $("#SignInManbar").click(function () {

            submit_post_via_hidden_form("@Url.Action("LoginView", "Account")", {});


        });

        $("#GoToManbar").click(function () {

            submit_post_via_hidden_form("@Url.Action("Manbar", "Home")", {});


        });

        $("#GoToMarkaz").click(function () {

            submit_post_via_hidden_form("@Url.Action("Markaz", "NewPages")", {});


        });


        $("#AboutMarsad").click(function () {
            if (checkIfSamePage("Home/AboutMarsad") == "NotFound")
                submit_post_via_hidden_form("@Url.Action("AboutMarsad", "Home")", {});


        });


        $("#AboutMarkaz").click(function () {
            if (checkIfSamePage("Home/AboutMarkaz") == "NotFound")
                submit_post_via_hidden_form("@Url.Action("AboutMarkaz", "Home")", {});


        });

        $("#AboutManbar").click(function () {




            if (checkIfSamePage("Home/AboutManbar") == "NotFound")
                submit_post_via_hidden_form("@Url.Action("AboutManbar", "Home")", {});

        });


        function checkIfSamePage(PagePath) {
            var url = window.location.href;     // Returns full URL


            if (url.indexOf(PagePath) != -1) {
                return "Found";
            } else {
                return "NotFound"
            }


        }

        $("#Khousousya").click(function () {
            if (checkIfSamePage("Home/Khousousya") == "NotFound")
                submit_post_via_hidden_form("@Url.Action("Khousousya", "Home")", {});


        });

        $("#Himayatalserya").click(function () {
            if (checkIfSamePage("Home/Himayatalserya") == "NotFound")
                submit_post_via_hidden_form("@Url.Action("Himayatalserya", "Home")", {});


        });

        @*var ClassName = '@ViewBag.PageName';

                        $("." + ClassName).show();*@



        $("#Moutaba3atChakwa").click(function () {


            window.location = '@Url.Action("Index", "UserDashboard")';

        });


        $("#gotodashbordCitizen").click(function () {


            @if (User.Identity.IsAuthenticated)
       {
                      <text>
            window.location = '@Url.Action("Index", "UserDashboard")';

            </text>
            }else
            {

                                     <text>
            $("#SignInManbar").click();

            </text>

            }



        });


        $("#gotodashbord").click(function () {

            @if (User.IsInRole("ADManager") || User.IsInRole("ADDirector") || User.IsInRole("HR"))
            {
                <text>
            window.location = '@Url.Action("AdUsersLandingPage", "Home")';

            </text>
            }@*else
                if (User.IsInRole("Administrator")) {

                    <text>
            window.location = '@Url.Action("Index", "AspNetUsers")';


            </text>

                }*@else
                    if (User.IsInRole("Editor")) {

                        <text>
            window.location = '@Url.Action("Index", "MouwazafinWithOrgs")';


            </text>

                    }
                    else
                        if (User.IsInRole("PB")) {

                            <text>
            window.location = '@Url.Action("Index", "PBDashboard")';


            </text>

                        }
                        else
                        {
                            <text>
            window.location = '@Url.Action("Index", "UserDashboard")';

            </text>
                        }

            {

            }
        });

          $(".openLinks").each(function (index) {
            var guidKey = $(this).attr("data-guidKey");
            var thisItem=$(this);
          $.ajax({
                url: '@Url.Action("CheckRedirection", "Files")',
                type: 'POST',
                data: {
                    __RequestVerificationToken: $('@Html.AntiForgeryToken()').val(),
                    g_key: guidKey
                },
                success: function (data) {
                    if (data == "False") {
                        thisItem.css("cursor", "initial");
                    } else {
                        thisItem.css("cursor", "pointer");
                    }
                },
                error: function (error) {

                    swal("Error", "Error Occured!", "error");

                }
            });
        });

        $(".openLinks").on('click', function () {
            var guidKey = $(this).attr("data-guidKey");
            var thisItem=$(this);
          $.ajax({
                url: '@Url.Action("CheckRedirection", "Files")',
                type: 'POST',
                data: {
                    __RequestVerificationToken: $('@Html.AntiForgeryToken()').val(),
                    g_key: guidKey
                },
                success: function (data) {
                    if (data == "False") {
                        thisItem.css("pointer", "click")
                    } else {
                        submit_post_via_hidden_formNewTab("@Url.Action("GetPdfPathFromGuid", "Files")", { GuidKey: guidKey});
                    }
                },
                error: function (error) {

                    swal("Error", "Error Occured!", "error");

                }
            });
        })

        function submit_post_via_hidden_formNewTab(url, params) {
            var f = $("<form method='POST' target='_blank' style='display:none;'></form>").attr({
                action: url
            }).appendTo(document.body);

            for (var i in params) {
                if (params.hasOwnProperty(i)) {
                    $('<input type="hidden" />').attr({
                        name: i,
                        value: params[i]
                    }).appendTo(f);
                }
            }

            f.submit();

            f.remove();
        }

        function submit_post_via_hidden_form(url, params) {
            var f = $("<form method='POST' style='display:none;'></form>").attr({
                action: url
            }).appendTo(document.body);

            for (var i in params) {
                if (params.hasOwnProperty(i)) {
                    $('<input type="hidden" />').attr({
                        name: i,
                        value: params[i]
                    }).appendTo(f);
                }
            }

            f.submit();

            f.remove();
        }

        $("#Top10Orgs").click(function () {

            submit_post_via_hidden_form("@Url.Action("Index", "Top10Orgs")", {});



        });
        $("#AkhbarWizara").click(function () {

            submit_post_via_hidden_form("@Url.Action("AkhbarWizara", "Home")", {});


        })

        $("#HeaderLogo").click(function () {
            submit_post_via_hidden_form("@Url.Action("Markaz", "NewPages")", {});

        })

        $("#Machari3Wizara").click(function () {

            submit_post_via_hidden_form("@Url.Action("Machari3Wizara", "Home")", {});


        })


        $(".akhbaralwizara").click(function () {
            window.location = '@Url.Action("AboutWizara", "Home")';
        });

        $(".machari3alwizara").click(function () {
            window.location = '@Url.Action("AboutMachari3", "Home")';
        });


        $(".logoff").click(function () {


            window.location = '@Url.Action("LogOff", "Account")';

        });

        function goToMyClaim(formKey, GUID, CreatedAt, CitizenKey, NextFormTemplateKey, CurrentStatusKey, CurrentFormtemplateKey, CurrentFormtemplateName, CurrentStatusName, NextOrganisationKey, CurrentOrganisationKey) {

            @if (User.IsInRole("ADManager") || User.IsInRole("ADDirector"))
           {
               <text>
            submit_post_via_hidden_form("@Url.Action("ADManagerTemplate", "FormTemplatesDisplay")", { formKey: formKey, GUID: GUID, CreatedAt: CreatedAt, CitizenKey: CitizenKey, CurrentStatusKey: CurrentStatusKey, NextFormTemplateKey: NextFormTemplateKey, CurrentFormtemplateKey: CurrentFormtemplateKey, CurrentFormtemplateName: CurrentFormtemplateName, NextOrganisationKey: NextOrganisationKey, CurrentOrganisationKey: CurrentOrganisationKey });

            @*window.location = '@Url.Action("ADManagerTemplate", "FormTemplatesDisplay")/' + "?formKey=" + formKey + "&GUID=" + GUID + "&CreatedAt=" + CreatedAt + "&CitizenKey=" + CitizenKey + "&CurrentStatusKey=" + CurrentStatusKey + "&NextFormTemplateKey=" + NextFormTemplateKey + "&CurrentFormtemplateKey=" + CurrentFormtemplateKey + "&CurrentFormtemplateName=" + CurrentFormtemplateName + "&NextOrganisationKey=" + NextOrganisationKey + "&CurrentOrganisationKey=" + CurrentOrganisationKey;*@
            </text>
                        }
            @if (User.IsInRole("OPManager") || User.IsInRole("OPGeneralDirector") || User.IsInRole("OPDirector") || User.IsInRole("Human Development Sector") || User.IsInRole("Administrative sector") || User.IsInRole("Economic sector") || User.IsInRole("Service sector"))
            {
                <text>
            @*window.location = '@Url.Action("FormInstance", "Home")/' + "?formKey=" + formKey + "&GUID=" + GUID + "&CreatedAt=" + CreatedAt + "&CitizenKey=" + CitizenKey + "&CurrentStatusKey=" + CurrentStatusKey + "&NextFormTemplateKey=" + NextFormTemplateKey + "&CurrentFormtemplateKey=" + CurrentFormtemplateKey + "&CurrentFormtemplateName=" + CurrentFormtemplateName + "&CurrentStatusName=" + CurrentStatusName + "&NextOrganisationKey=" + NextOrganisationKey + "&CurrentOrganisationKey=" + CurrentOrganisationKey;*@
            submit_post_via_hidden_form("@Url.Action("FormInstance", "Home")", { formKey: formKey, GUID: GUID, CreatedAt: CreatedAt, CitizenKey: CitizenKey, CurrentStatusKey: CurrentStatusKey, NextFormTemplateKey: NextFormTemplateKey, CurrentFormtemplateKey: CurrentFormtemplateKey, CurrentFormtemplateName: CurrentFormtemplateName, CurrentStatusName: CurrentStatusName, NextOrganisationKey: NextOrganisationKey, CurrentOrganisationKey: CurrentOrganisationKey });

            </text>
                        }
            @if (User.IsInRole("Citizen"))
            {
                <text>
            @*window.location = '@Url.Action("ADManagerTemplate", "FormTemplatesDisplay")/' + "?formKey=" + formKey + "&GUID=" + GUID + "&CreatedAt=" + CreatedAt + "&CitizenKey=" + CitizenKey + "&CurrentStatusKey=" + CurrentStatusKey + "&NextFormTemplateKey=" + NextFormTemplateKey + "&CurrentFormtemplateKey=" + CurrentFormtemplateKey + "&CurrentFormtemplateName=" + CurrentFormtemplateName + "&NextOrganisationKey=" + NextOrganisationKey + "&CurrentOrganisationKey=" + CurrentOrganisationKey;*@
            submit_post_via_hidden_form("@Url.Action("ADManagerTemplate", "FormTemplatesDisplay")", { formKey: formKey, GUID: GUID, CreatedAt: CreatedAt, CitizenKey: CitizenKey, CurrentStatusKey: CurrentStatusKey, NextFormTemplateKey: NextFormTemplateKey, CurrentFormtemplateKey: CurrentFormtemplateKey, CurrentFormtemplateName: CurrentFormtemplateName, NextOrganisationKey: NextOrganisationKey, CurrentOrganisationKey: CurrentOrganisationKey });

            </text>
                        }
        }


        function changeLanguage(languageCode) {
            $.ajax({
                url: '@Url.Action("ChangeLanguage", "Home")',
                type: 'GET',
                cache: false,
                dataType: 'text',
                data: ({
                    id: languageCode
                }),
                contentType: 'application/json; charset=utf-8',
                success: function (data) {
                    location.reload();
                },
                error: function (xhr) {
                    console.log('errorr');
                }
            });
        }




        $('.carousel').carousel({
            interval: 10000
        })

        $('#myCarousel').on('slide.bs.carousel', function () {
            $('.carousel-caption').fadeOut(300);
        })
        $('#myCarousel').on('slid.bs.carousel', function () {
            $('.carousel-caption').fadeIn(600);
        })





        $(".service-box").on('click', function () {
            var children = $(this).children();

            if ($(children[1]).css('opacity') === '0') {

                $(children[0]).css("opacity", "0");
                $(children[1]).css("opacity", "1");


                $(children[1]).css('transform', 'translateX(0)');

            }
            else {
                $(children[0]).css('opacity', '1');
                $(children[1]).css('transform', 'translateY(110px) rotateX(-90deg)');
                $(children[1]).css('opacity', '0');
            }


        }

        )
        $(".service-box").on('mouseenter', function () {

            var children = $(this).children();

                $(this).css({
                    opacity: 1,
                    transition: 'opacity 1s ease-in-out'
                });



           $(children[0]).css("opacity", "0");
                $(children[1]).css("opacity", "1");
                $(children[1]).css('transform', 'translateX(0)');

        }

        )

        $(".service-box").on('mouseleave', function () {
            var children = $(this).children();

            if ($(children[0]).children().length == 0) {
                $(this).css({
                    opacity: 0,
                    transition: 'opacity 1s ease-in-out'
                });
            }


            $(children[0]).css('opacity', '1');
            $(children[1]).css('transform', 'translateY(110px) rotateX(-90deg)');
            $(children[1]).css('opacity', '0');

        }

        )



</script>

