﻿@{ 
    Layout = null;
}
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Repeater</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="@Url.Content("~/assets/NewPages/bootstrap/bootstrap.min.css")">
    <link rel="stylesheet" href="@Url.Content("~/assets/NewPages/slider2/normalize.css")">
    <link rel='stylesheet' href="@Url.Content("~/assets/NewPages/slider2/swiper.css")">
    <script src="@Url.Content("~/assets/NewPages/jquery/jquery.min.js")"></script>
    <script src="@Url.Content("~/assets/NewPages/bootstrap/bootstrap.min.js")"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.repeater/1.2.1/jquery.repeater.min.js" integrity="sha512-foIijUdV0fR0Zew7vmw98E6mOWd9gkGWQBWaoA1EOFAx+pY+N8FmmtIYAVj64R98KeD2wzZh1aHK0JSpKmRH8w==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

</head>

<body>
    <div class="container">
        <div class="row">
            <div id="other-persons">
                <h5>Add another participant</h5>
                <div id="another-participant1">
                    <input type="text" name="other_participant[1][name]" placeholder="Name" />
                    <input type="text" name="other_participant[1][id]" placeholder="Id" />
                    <input type="file" />
                </div>
                <button type="button" id="add-participant">+ Add more</button>
            </div>
        </div>
    </div>
  
    
    <script>
        $("#add-participant").click(function () {

            // get the last DIV which ID starts with ^= "another-participant"
            var $div = $('div[id^="another-participant"]:last');

            // Read the Number from that DIV's ID (i.e: 1 from "another-participant1")
            // And increment that number by 1
            var num = parseInt($div.prop("id").match(/\d+/g), 10) + 1;

            // Clone it and assign the new ID (i.e: from num 4 to ID "another-participant4")
            var $klon = $div.clone().prop('id', 'another-participant' + num);

            // for each of the inputs inside the dive, clear it's value and 
            // increment the number in the 'name' attribute by 1
            $klon.find('input').each(function () {
                this.value = "";
                let name_number = this.name.match(/\d+/);
                name_number++;
                this.name = this.name.replace(/\[[0-9]\]+/, '[' + name_number + ']')
            });
            // Finally insert $klon after the last div
            $div.after($klon);

        });

    </script>
</body>

</html>