﻿
@{
    Layout = "~/Views/Shared/_LayoutInitialPage.cshtml";
}

<style>
    thead th {
        text-align: right;
        background-color: white !important;
    }

    tbody tr td {
        text-align: right;
        background-color: white;
    }

    #example1_paginate, #example1_info {
        margin-top: 6% !important;
    }

    #example1_length {
        margin-top: 1%;
    }

    #example1_filter {
        margin-right: 2%;
    }

        #example1_filter input {
            float: left;
        }

tbody tr th{
    text-align:right;
}

</style>



<div class="row" style="margin-top:1%;">
    <div class="col-xl-12">
        <div class="row">
            <div class="col-xl-12">
                <div class="widget widget-two" >
                    <div class="widget-header" dir="rtl">
                        <span class="text-truncate text-nowrap">ترتيب  <strong>المؤسسات</strong></span>
                    </div>
                    <div class="row">

                        <div class="col-lg-12" style="text-align:center">

                            <img src="@Url.Content("~/images/newdesignpics/loadertablemouwazafin.gif")" style="margin-top:6%;display:none" id="LoaderTable">
                            <div class="margin-bottom-50" id="TableAppend">




                                <table class="table table-hover nowrap" id="example1" width="100%" dir="rtl" cellspacing="0" cellpadding="0">
                                    <thead>
                                        <tr>
                                            <th>المستخدم</th>
                                            <th>الوصف</th>
                                            <th>التاريخ</th>
                                            <th>نشرت</th>
                                            <th></th>

                                        </tr>
                                    </thead>

                                    <tbody id="TableBody">
                                        @{





                                            foreach (var item in ViewBag.GetRankingTable)
                                            {
                                                if (item.UserName != null)
                                                {
                                                    <tr>

                                                        <th>@item.UserName</th>
                                                        <th>@item.RankingGroupName</th>
                                                        <th>@item.CreatedAt</th>

                                                        @if (item.IsPublished == "NotPublished")
                                                        {
                                                            <th style="color:red">@item.IsPublished</th>

                                                        }
                                                        else
                                                        {
                                                            <th style="color:green">@item.IsPublished</th>

                                                        }
                                                        <th><button type="button" class="btn btn-circle btn-info viewFormButton" onclick="GoToRankingGetByKey('@item.RankingGroupName')" style="background-color:#5cb85c;width:120px;padding:2px;">أنقر</button>
</th>
                                                        
                                                    </tr>

                                                }


                                            }



                                        }


                                    </tbody>
                                </table>


                            </div>


                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>



<script>

    function GoToRankingGetByKey(key) {
        
        submit_post_via_hidden_form("@Url.Action("RankingView", "Ranking")", { description: key, levelType: '@ViewBag.Description' });

    }


    function submit_post_via_hidden_form(url, params) {
        var f = $("<form method='POST' style='display:none;'></form>").attr({
            action: url
        }).appendTo(document.body);

        for (var i in params) {
            if (params.hasOwnProperty(i)) {
                $('<input type="hidden" />').attr({
                    name: i,
                    value: params[i]
                }).appendTo(f);
            }
        }

        f.submit();

        f.remove();
    }

    $('#example1').DataTable({
        responsive: true,
        autoWidth: true,
        scrollX: true,
        // fixedColumns: true,
        searching: true,
        "oLanguage": {
            "sSearch": "إبحث",
            "sLengthMenu": "عدد الأسطر لكل صفحة _MENU_ ",


        },
        drawCallback: function () {
            $('.paginate_button', this.api().table().container())
               .on('click', function () {
                   //alert("next");
               });
        }

    });


</script>