﻿
@{
    Layout = "~/Views/Shared/_LayoutInitialPage.cshtml";
}

@if (User.IsInRole("PB"))
{

    @Styles.Render("~/Content/vendors.bundle.css")
    @Styles.Render("~/Content/style.bundle.css")

    @*<link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/vendors.bundle.css")">
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/style.bundle.css")">*@
}

<style>
    .row {
        display: block !important;
    }

    .form-inline {
        display: block !important;
    }

    thead th {
        text-align: right;
        background-color: white !important;
    }

    tbody tr td {
        text-align: right;
        background-color: white;
    }

    #example1_paginate, #example1_info {
        margin-top: 6% !important;
    }

    #example1_length {
        margin-top: 1%;
    }

    #example1_filter {
        float: right;
        direction: rtl;
    }

        #example1_filter input {
            float: left !important;
        }

    .modal-backdrop {
        /* bug fix - no overlay */
        display: none;
    }

    .dataTables_length label {
        color: black;
    }

    .dataTables_filter label {
        color: black;
    }
</style>



<div class="row" style="margin-top:1%;">
    <div class="col-xl-12">
        <div class="row">
            <div class="col-xl-12">
                <div class="widget widget-two" style="direction:ltr;">
                    <div class="widget-header" dir="rtl" style="color:black;text-align:right;">
                        <span class="text-truncate text-nowrap"><strong>ترتيب  المؤسسات</strong></span>
                    </div>

                    <div class="row">

                        <div class="col-lg-6" style="float:right;margin-bottom:2%;margin-top:2%">
                            <div class="col-md-10" style="float:left;">
                                <select id="Year1"></select>
                            </div>
                            <div class="col-md-2">
                                <label style="float:right;color:black;margin-right: 12%;"> : السنة</label>
                            </div>
                        </div>

                        <div class="col-lg-6" style="float:right;margin-bottom:2%;margin-top:2%">
                            <div class="col-md-10" style="float:left;">
                                <select id="YearHalf">
                                    <option></option>
                                    <option value="1">النصف الأول من العام</option>
                                    <option value="2">النصف الثاني من السنة</option>
                                </select>
                            </div>
                            <div class="col-md-2">
                                @*<label style="float:right;"> : السنة</label>*@
                            </div>
                        </div>

                        <div class="col-lg-12" style="text-align:center">

                            <img src="@Url.Content("~/images/newdesignpics/loadertablemouwazafin.gif")" style="margin-top:6%;display:none" id="LoaderTable">
                            @if (User.IsInRole("PB"))
                            {
                                <text>

                                    <div class="margin-bottom-50 col-md-11" id="TableAppend">

                                </text>
                            }
                            else
                            {

                                <text>

                                    <div class="margin-bottom-50 col-md-12" id="TableAppend">

                                </text>
                            }


                            @Html.Partial("RankingTable")

                        </div>



                        @if (!User.IsInRole("PB"))
                        {
                            <div class="row" style="text-align:center">
                                <button type="button" class="btn btn-icon btn-primary  margin-inline" data-toggle="modal" data-target="#myModal" id="modalShow" style="width:20%;border-radius:.25rem !important">
                                    <i class="fa fa-upload" aria-hidden="true"></i>
                                    [حفظ]
                                </button>

                            </div>
                        }

                        @*<div class="row" style="margin-bottom: 1%;margin-top: -3%;margin-right: 1%;">

                                <div class="btn btn-primary-outline" id="Previous1000">Previous 1000</div>
                                <div class="btn btn-primary-outline" id="Next1000">Next 1000</div>


                            </div>*@
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
</div>
</div>


<!-- Modal -->
<div class="modal fade" id="myModal" role="dialog" style="text-align:right">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title" style="margin-top:4%;">: الرجاء إدخال إسم التصنيف الذي تريده</h4>
            </div>
            <div class="modal-body">
                <input placeholder="" id="DescriptionName" dir="rtl" type="text" style="color:black;" />
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default red" data-dismiss="modal" id="CancelRanking">إلغاء</button>
                <button type="button" class="btn btn-primary" id="submitClaimForm" data-dismiss="modal">حفظ</button>

            </div>
        </div>

    </div>
</div>



<script>

   
    $("#modalShow").click(function () {


        $(".page-content").css("opacity", "1")

    })

    $("#CancelRanking").click(function () {


        $(".page-content").css("opacity", "0.9")

    })

    function guid() {
        function s4() {
            return Math.floor((1 + Math.random()) * 0x10000)
              .toString(16)
              .substring(1);
        }
        return s4() + s4() + '-' + s4() + '-' + s4() + '-' + s4() + '-' + s4() + s4() + s4();
    }

    var ResultLenght;
    $("#TableAppend").html('');
    $("#submitClaimForm").click(function () {
        var year = $("#Year1").val();
        var yEARhalf = $("#YearHalf").val();
        $("#LoaderTable").show();

        $("#TableAppend").html('');

        $.ajax({
            url: '@Url.Action("RankingTableJson", "Ranking")',
            dataType: "json",
            data: { Year: year, YearHalf: yEARhalf, levelType: '@ViewBag.levelType' },
            success: function (result) {
                var i = 0;
                ResultLenght = Object.keys(result).length;

                $.each(result, function (index, value) {

                    i++;

                    CreateRanking(value.OrganisationKey, i, $("#DescriptionName").val() + "(" + guid() + ")", value.Score, year, '@ViewBag.levelType', value.FormTemplateType, value.FormTemplateTypeScore, value.FormTemplateType1, value.FormTemplateTypeScore1);


                });

            }

        });


    });



    function CreateRanking(OrganisationKey, Ranking, RankingDescription, Score, Year, Level, formTemplateTypeMin, formTemplateScoreMin, formTemplateTypeMax, formTemplateScoreMax) {
        $.ajax({
            url: '@Url.Action("CreateRanking", "Ranking")',
            dataType: "text",
            async: false,
            data: { OrganisationKey: OrganisationKey, Ranking: Ranking, RankingDescription: RankingDescription, Score: Score, Year: Year, Level: Level, formTemplateTypeMin: formTemplateTypeMin, formTemplateScoreMin: formTemplateScoreMin, formTemplateTypeMax: formTemplateTypeMax, formTemplateScoreMax: formTemplateScoreMax },
            success: function (result) {

                if (ResultLenght == Ranking && Level == "Organisation") {

                    var res = result.replace(/"/g, "");

                    var year = $("#Year1").val();
                    var yEARhalf = $("#YearHalf").val();
                    $.ajax({
                        url: '@Url.Action("SaveOrganisationCard", "Ranking")',
                        dataType: "text",
                        async: false,
                        data: { RankingGroupKey: res, yea: year, yearHalf: yEARhalf },
                        success: function (result) {

                            location.reload();
                        }

                    });
                } else if (ResultLenght == Ranking) {
                    location.reload();
                }

            }

        });
    }

    var start = 2017;
    var end = new Date().getFullYear();
    var options = "<option></option>";
    for (var year = end ; year >= start; year--) {
        options += "<option value=" + year + ">" + year + "</option>";
    }
    document.getElementById("Year1").innerHTML = options;
    $("#Year1").select2();
    $("#YearHalf").select2();


    $("#Year1").val('@DateTime.Now.Year.ToString()').change();
    var YearHalf = $("#YearHalf option:selected").text();
    var Year1 = $("#Year1 option:selected").text();

    var EmptyMessageTable = YearHalf + " " + Year1 + "،" + " الرجاء إختيار فترة زمنية أخرى";

    $('#example1').DataTable({
        //responsive: true,
        autoWidth: true,
        scrollX: true,
        // fixedColumns: true,
        searching: true,
        "oLanguage": {
            "sSearch": "<span>إبحث:</span><span style='visibility:hidden'>إبحث:</span>",
            "sLengthMenu": "عدد الأسطر لكل صفحة _MENU_ ",
            "sEmptyTable": '<span lang="ar" dir="rtl">لا يوجد معلومات في ' + EmptyMessageTable + '</span>',
            "oPaginate": {
                
                "sPrevious": "السابقة", // This is the link to the previous page
                "sNext": "التالية", // This is the link to the next page
                
            }

        },
        drawCallback: function () {
            $('.paginate_button', this.api().table().container())
               .on('click', function () {
                   //alert("next");
               });
        }

    });

    function EditMouwazaf(MouwazafToedit) {
        var RowId = $(MouwazafToedit).attr("data-value");
        submit_post_via_hidden_form("@Url.Action("Edit", "MouwazafinWithOrgs")", { RowId: RowId });

    }

    function submit_post_via_hidden_form(url, params) {
        var f = $("<form method='POST' style='display:none;'></form>").attr({
            action: url
        }).appendTo(document.body);

        for (var i in params) {
            if (params.hasOwnProperty(i)) {
                $('<input type="hidden" />').attr({
                    name: i,
                    value: params[i]
                }).appendTo(f);
            }
        }

        f.submit();

        f.remove();
    }
  
    $("#YearHalf").change(function () {
        $("#Year1").trigger("change");
    });

    $("#Year1").change(function () {

        var year = $("#Year1").val();
        var yEARhalf = $("#YearHalf").val();
        $("#LoaderTable").show();

        $("#TableAppend").html('');

        $.ajax({
            url: '@Url.Action("RankingTable", "Ranking")',
            dataType: "html",
            data: { Year: year, YearHalf: yEARhalf, levelType: '@ViewBag.levelType' },
            success: function (result) {


                $("#TableAppend").append(result);
                $("#LoaderTable").hide();
           
                var YearHalf = $("#YearHalf option:selected").text();
                var Year1 = $("#Year1 option:selected").text();

                var EmptyMessageTable = YearHalf + " " + Year1 + "،" + " الرجاء إختيار فترة زمنية أخرى";

                $('#example1').DataTable({
                    //responsive: true,
                    autoWidth: true,
                    scrollX: true,
                    // fixedColumns: true,
                    searching: true,
                    "oLanguage": {
                        "sSearch": "<span>إبحث:</span><span style='visibility:hidden'>إبحث:</span>",
                        "sLengthMenu": "عدد الأسطر لكل صفحة _MENU_ ",
                        "sEmptyTable": '<span lang="ar" dir="rtl">لا يوجد معلومات في ' + EmptyMessageTable + '</span>',
                        "oPaginate": {

                            "sPrevious": "السابقة", // This is the link to the previous page
                            "sNext": "التالية", // This is the link to the next page

                        }
                    },
       


                });






            }

        });

    });






</script>