﻿@using Microsoft.AspNet.Identity;
@{
    ViewBag.Title = "UserManagement";

    List<SelectListItem> Organisation = ViewData["Organisation"] as List<SelectListItem>;

    Layout = "~/Views/Shared/_LayoutInitialPage.cshtml";

}

<div id="example" style="background-color:white;min-height:400px;">


    <div class="form-group row">
        <div class="col-md-4 col-sm-4">
        </div>
        <div class="col-md-5 col-sm-5">
            <h3 class="block" style="text-align:right">المبادرات </h3>
        </div>
        <div class="col-md-3 col-sm-3">
        </div>
    </div>

    <div class="form-group row">
        <div class="col-md-6 col-sm-6 col-xs-6">
        </div>
        <div class="col-md-4 col-sm-4 col-xs-4" style="margin-left:-6%">
            @Html.DropDownList("Organisation", Organisation, new { @class = "inputcolor form-control placeholder-no-fix;", dir = "rtl" })
        </div>
        <div class="col-md-2 col-sm-2 col-xs-2">
            <label class="control-label">
                الجهة العامة
                <span class="required" aria-required="true"> * </span>
            </label>
        </div>
    </div>

    <div class="form-group row">

        <div class="col-md-6 col-sm-6 col-xs-6">
        </div>
        <div class="col-md-4 col-sm-4 col-xs-4" style="margin-left:-6%">
        </div>
        <div class="col-md-2 col-sm-2 col-xs-2">
            <label class="control-label">
                <button class="btn blue" id="btnAddMoubadara" style="float: right;margin-top: 20px;margin-right: 8px;">
                    <i class="fa fa-plus-square" aria-hidden="true"></i>
                </button>
               
            </label>
        </div>
        

    </div>

    <div class="row" id="AlMoubadarat">
        <div class="form-group row" id="Moubadara_0">
            <div class="col-md-6 col-sm-6 col-xs-6">
               
            </div>
            <div class="col-md-4 col-sm-4 col-xs-4" style="margin-left:-6%">
                <div class="col-sm-3">
                    
                </div>

                <div class="col-md-9">
                    <textarea class="form-group" style="width:100%;text-align:right"></textarea>
                </div>
            </div>
            <div class="col-md-2 col-sm-2 col-xs-2">
                <label class="control-label">
                    المبادرة 
                    <span class="required" aria-required="true"> * </span>
                </label>
            </div>
        </div>
    </div>

    <div class="form-group row">
        <div class="col-md-4 col-sm-4 col-xs-4" style="margin-left:-6%">
        </div>
        <div class="col-md-5 col-sm-5 col-xs-5">
            <a id="SaveMoubadara" class="btn green button-submit">
                حفظ
                <i class="fa fa-check"></i>
            </a>
        </div>
        <div class="col-md-3 col-sm-3 col-xs-3">

        </div>
    </div>

</div>
<script>

    $(document).ready(function () {

        $("select").select2();


    });

 

    var MoubadaraIndex = 0;
    $("#btnAddMoubadara").click(function () {
        MoubadaraIndex++;
        $("#AlMoubadarat").append('<div class="form-group row" id="Moubadara_' + MoubadaraIndex + '"><div class="col-md-6 col-sm-6 col-xs-6"></div><div class="col-md-4 col-sm-4 col-xs-4" style="margin-left:-6%"><div class="col-sm-3"></div><div class="col-md-9"><textarea class="form-group" style="width:100%;text-align:right"></textarea></div></div><div class="col-md-2 col-sm-2 col-xs-2"><label class="control-label">المبادرة <span class="required" aria-required="true"> * </span></label></div></div>');

    });



    $(document).on('click', "[id^='btnDeleteMoubadara']", function () {

        var index = $(this).attr("data-index");
        $("#Moubadara_" + index).remove();

    });

    $("#SaveMoubadara").click(function () {

        $('textarea').each(function () {

          

            $.ajax({
                url: '@Url.Action("ADDInitiatives", "Ranking")',
                type: 'GET',
                dataType: 'json',
                async: false,
                cache: false,
                data: {
                    organisationKey: $("#Organisation").val(), initiativeValue: $(this).val()
                },
                success: function (data) {
                    location.reload();
                }
            });

        });


    

    });




</script>


