﻿@{
    if (User.Identity.IsAuthenticated)
    {
        Layout = "~/Views/Shared/_LayoutInitialPage.cshtml";

    }
    else
    {
        Layout = "~/Views/Shared/_CommonLayout.cshtml";
        // Layout = "~/views/home/_SharedMarsadLayout.cshtml";
        //Layout = "~/views/home/pageshared.cshtml";
    }
}

<style>
    .container{
        width:650px;
    }
    thead th {
        text-align: center;
        background-color: white !important;
    }

    tbody tr td {
        text-align: center;
        background-color: white;
    }

    #example1_paginate, #example1_info {
        margin-top: 6% !important;
    }

    #example1_length {
        margin-top: 1%;
    }

    #example1_filter {
        margin-right: 2%;
    }

        #example1_filter input {
            float: left;
        }

    tbody tr th {
        text-align: right;
    }

   
</style>

@{ 
    if (!User.Identity.IsAuthenticated)
    {
<text>
<div class="row Body" style="margin-top:1%;overflow-x:hidden;filter: blur(25px);transition: filter 2s;-webkit-transition: filter 2s;">

</text>
    }
    else
    {
        <text>
    <div>
        </text>
    }

}

   
        @*<div class="row">
            <div class="col-xl-12">*@
                @*<div class="widget widget-two">*@
                    <div class="row" style="text-align:center;">
                        <h2 class="text-truncate text-nowrap" style="color:#447f99;">تصنيف الأداء السنوي</h2>
                    </div>
                    <div class="row">
                
                        <div class="col-lg-12" style="text-align:center;">
                            <h4 style="line-height:2;">، يصدر مرصد الأداء الإداري ترتيباً سنوياً لكافة الجهات العامة على معيار الأداء ،و التميز و هو نتيجة قياس عمل المؤشرات الخمس المعتمدة في سورية لقياس الأداء الإداري وفق القرار رقم /59/م.و </h4>
                            <h4>.(مؤشر جودة التنظيم المؤسساتي - مؤشر تبسيط الإجراءت - مؤشر مكافحة الفساد - مؤشر رضا المواطن - مؤشر رضا الموظف)</h4>
                            <h4 style="line-height:2;"> تمتد مدة القياس لعشرة أشهر، وتعمل بشكل يومي متأثرة بمدى فاعلية واستجابة الجهات العامة لتحسين واقعها وفق شرائح القياس المعتمدة، ويصدر الترتيب متضمناً درجة أعلى مؤشر ودرجة أدنى مؤشر لدى </h4>
                            <h4> :الجهة العامة، وفق النموذج التالي</h4>
                        </div>


                    </div>

                    <div class="row" style="text-align:center;">
                        <h2 class="text-truncate text-nowrap" style="color:#447f99;">ترتيب الجهات العامة وفق معيار الأداء و التميز</h2>
                    </div>
                    <div class="row">
                        <div class="col-lg-12" style="text-align:center">

                            <img src="@Url.Content("~/images/newdesignpics/loadertablemouwazafin.gif")" style="margin-top:6%;display:none" id="LoaderTable">
                            <div class="margin-bottom-50" id="TableAppend">

                                <div class="row" style="text-align:center"><h2>@ViewBag.RankingDescription.Split('(')[0]</h2> </div>
                                <table class="table table-hover nowrap" id="example1" dir="rtl" cellspacing="0" cellpadding="0">
                                    <thead>
                                        <tr>
                                            <th>المرتبة</th>
                                            <th>الجهة</th>
                                            <th>المعدل الإجمالي</th>
                                            <th>أعلى مؤشر</th>
                                            <th>الدرجة</th>
                                            <th>أدنى مؤشر</th>
                                            <th>الدرجة</th>
                                        </tr>
                                    </thead>
                                    <tbody id="TableBody">
                                        @{



                                            double max = ViewBag.Max;

                                            foreach (var item in ViewBag.RankingView)
                                            {

                                                double Score = (Convert.ToDouble(item.Score) * 100) / max;
                                                HtmlString Numeric = new HtmlString(Score.ToString());
                                                if (item.Ranking <= 5)
                                                {
                                                    <tr style="color:green;">

                                                        <td>@item.Ranking</td>
                                                        <td style="cursor:pointer;" data-org="@item.Organisation" class="OrganisationCLASS">@item.OrganisationName</td>
                                                        <td>
                                                            <div class="container" style="width:650px;">
                                                                <div class="progress" style="width:@Numeric%">
                                                                    <div class="progress-bar" role="progressbar" aria-valuenow="@item.Score" aria-valuemin="0" aria-valuemax="@max" style="width:100%">
                                                                        <span class="sr-only">80% Complete</span>
                                                                        <label>@item.Score</label>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </td>
                                                        @if (item.FormTemplateTypeMax == "")
                                                        {
                                                            <td>--</td>

                                                        }
                                                        else
                                                        {
                                                            <td>@item.FormTemplateTypeMax</td>

                                                        }

                                                        @if (item.FormTemplateScoreMax == 0)
                                                        {
                                                            <td>--</td>

                                                        }
                                                        else
                                                        {
                                                            <td>@item.FormTemplateScoreMax</td>

                                                        }
                                                        @if (item.FormTemplateTypeMin == "")
                                                        {
                                                            <td>--</td>

                                                        }
                                                        else
                                                        {
                                                            <td>@item.FormTemplateTypeMin</td>

                                                        }

                                                        @if (item.FormTemplateScoreMin == 0)
                                                        {
                                                            <td>--</td>

                                                        }
                                                        else
                                                        {
                                                            <td>@item.FormTemplateScoreMin</td>

                                                        }



                                                    </tr>
                                                }
                                                else
                                                {
                                                    <tr style="color:red;">

                                                        <td>@item.Ranking</td>
                                                        <td style="cursor:pointer;" data-org="@item.Organisation" class="OrganisationCLASS">@item.OrganisationName</td>
                                                        <td>
                                                            <div class="container">
                                                                <div class="progress" style="width:@Numeric%">
                                                                    <div class="progress-bar" role="progressbar" aria-valuenow="@item.Score" aria-valuemin="0" aria-valuemax="@max" style="width:100%">
                                                                        <span class="sr-only">80% Complete</span>
                                                                        <label>@item.Score</label>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </td>
                                                        @if (item.FormTemplateTypeMax == "")
                                                        {
                                                            <td>--</td>

                                                        }
                                                        else
                                                        {
                                                            <td>@item.FormTemplateTypeMax</td>

                                                        }

                                                        @if (item.FormTemplateScoreMax == 0)
                                                        {
                                                            <td>--</td>

                                                        }
                                                        else
                                                        {
                                                            <td>@item.FormTemplateScoreMax</td>

                                                        }
                                                        @if (item.FormTemplateTypeMin == "")
                                                        {
                                                            <td>--</td>

                                                        }
                                                        else
                                                        {
                                                            <td>@item.FormTemplateTypeMin</td>

                                                        }

                                                        @if (item.FormTemplateScoreMin == 0)
                                                        {
                                                            <td>--</td>

                                                        }
                                                        else
                                                        {
                                                            <td>@item.FormTemplateScoreMin</td>

                                                        }





                                                    </tr>
                                                }

                                            }



                                        }


                                    </tbody>


                                </table>




                            </div>

                            @if (ViewBag.Published != "Yes")
                            {
                                <div class="row" style="text-align:center">
                                    <button type="button" class="btn btn-icon btn-primary  margin-inline" data-toggle="modal" data-target="#myModal" style="width:20%;border-radius:.25rem !important" id="submitClaimForm">
                                        <i class="fa fa-upload" aria-hidden="true"></i>
                                        [نشر]
                                    </button>

                                </div>
                            }


                        </div>
                       
                    </div>
                @*</div>*@
            @*</div>
        </div>*@
   
</div>
<script>


    $(".OrganisationCLASS").click(function(){
        var Org = $(this).attr("data-org");

        if ('@ViewBag.Description'=="Organisation")
        submit_post_via_hidden_formNewTab("@Url.Action("SliderTest", "Ranking")", { description: '@ViewBag.RankingDescription', levelType: '@ViewBag.Description', OrgK: Org });

    });

    $("#submitClaimForm").click(function () {


        $.ajax({
            url: '@Url.Action("PublishRanking", "Ranking")',
            dataType: "text",
            data: { RankingKey: '@ViewBag.RankingGroupKey', Level: '@ViewBag.Description' },
            success: function (result) {

                submit_post_via_hidden_form("@Url.Action("GetRanking", "Ranking")", { description: '@ViewBag.RankingDescription', levelType: '@ViewBag.Description' });

            }

        });


    });

    function submit_post_via_hidden_form(url, params) {
        var f = $("<form method='POST' style='display:none;'></form>").attr({
            action: url
        }).appendTo(document.body);

        for (var i in params) {
            if (params.hasOwnProperty(i)) {
                $('<input type="hidden" />').attr({
                    name: i,
                    value: params[i]
                }).appendTo(f);
            }
        }

        f.submit();

        f.remove();
    }

    function submit_post_via_hidden_formNewTab(url, params) {
        var f = $("<form method='POST' target='_blank' style='display:none;'></form>").attr({
            action: url
        }).appendTo(document.body);

        for (var i in params) {
            if (params.hasOwnProperty(i)) {
                $('<input type="hidden" />').attr({
                    name: i,
                    value: params[i]
                }).appendTo(f);
            }
        }

        f.submit();

        f.remove();
    }

</script>
