﻿@using MoAD.DataObjects.EDMX;

<style>

    td{
        text-align:center;
    }

  

</style>
<table class="table table-hover nowrap" id="example1" width="100%" dir="rtl" cellspacing="0" cellpadding="0">
    <thead>
        <tr>
            <th>المرتبة</th>
            <th>الجهة</th>
    
            <th>المعدل الإجمالي</th>
            <th>أعلى مؤشر</th>
            <th>الدرجة</th>
            <th>أدنى مؤشر</th>
            <th>الدرجة</th>





        </tr>
    </thead>

    <tbody id="TableBody">
        @{



            int i = ViewBag.RankingTableIndex;
            if (ViewBag.Max != null)
            {
                double max = ViewBag.Max;

                foreach (var item in ViewBag.RankingTable)
                {
                    i++;
                    double Score = (item.Score * 100) / max;
                    HtmlString Numeric = new HtmlString(Score.ToString());
                    if (i <= 5)
                    {

                        <tr style="color:green;">
                            
                            <td>@i</td>
                            @if (ViewBag.Level == "Parent")
                            {
                                
                                    <td>@item.OrganisationParent</td>
                            }
                            else if (ViewBag.Level == "Province")
                            {
                                <td>@item.Province</td>

                            }
                            else if (ViewBag.Level == "Sector")
                            {
                                <td>@item.Sector</td>
                            }
                            else
                            {
                                <td style="cursor:pointer;" data-org="@item.Organisation" data-orgkey="@item.OrganisationKey" class="OrganisationCLASS" >@item.Organisation</td>

                            }
                            <td style="width:50%">
                                <div class="container">
                                    <div class="progress" style="width:@Numeric%">
                                        <div class="progress-bar" role="progressbar" aria-valuenow="@item.Score" aria-valuemin="0" aria-valuemax="@max" style="width:100%">
                                            <span class="sr-only">80% Complete</span>
                                            <label>@item.Score</label>
                                        </div>
                                    </div>
                                </div>
                            </td>
                            @if (item.FormTemplateType1 == "")
                        {
                                <td style="text-align:center;">--</td>

                            }
                            else
                            {
                                <td>@item.FormTemplateType1</td>

                            }


                            @if (item.FormTemplateTypeScore1 == 0)
                        {
                                <td style="text-align:center;">--</td>

                            }
                            else
                            {
                                <td>@item.FormTemplateTypeScore1</td>

                            }

                            @if (item.FormTemplateType == "")
                        {
                                <td style="text-align:center;">--</td>

                            }
                            else
                            {
                                <td>@item.FormTemplateType</td>

                            }


                            @if (item.FormTemplateTypeScore == 0)
                        {
                                <td style="text-align:center;">--</td>

                            }
                            else
                            {
                                <td>@item.FormTemplateTypeScore</td>

                            }




                        </tr>
                    }
                    else
                    {
                        <tr style="color:red;">

                            <td>@i</td>
                            <td style="cursor:pointer;" data-org="@item.Organisation" data-orgkey="@item.OrganisationKey" class="OrganisationCLASS">@item.Organisation</td>
                            <td>
                                <div class="container">
                                    <div class="progress" style="width:@Numeric%">
                                        <div class="progress-bar" role="progressbar" aria-valuenow="@item.Score" aria-valuemin="0" aria-valuemax="@max" style="width:100%">
                                            <span class="sr-only">80% Complete</span>
                                            <label>@item.Score</label>
                                        </div>
                                    </div>
                                </div>
                            </td>
                            @if (item.FormTemplateType1 == "")
                        {
                                <td style="text-align:center;">--</td>

                            }
                            else
                            {
                                <td>@item.FormTemplateType1</td>

                            }


                            @if (item.FormTemplateTypeScore1 == 0)
                        {
                                <td style="text-align:center;">--</td>

                            }
                            else
                            {
                                <td>@item.FormTemplateTypeScore1</td>

                            }

                            @if (item.FormTemplateType == "")
                        {
                                <td style="text-align:center;">--</td>

                            }
                            else
                            {
                                <td>@item.FormTemplateType</td>

                            }


                            @if (item.FormTemplateTypeScore == 0)
                        {
                                <td style="text-align:center;">--</td>

                            }
                            else
                            {
                                <td>@item.FormTemplateTypeScore</td>

                            }


                        </tr>
                    }

                }
            }

        }


    </tbody>
</table>

<script>

    $(".OrganisationCLASS").click(function () {



     @if (User.IsInRole("PB"))
     {
         <text>

      var Org = $(this).attr("data-org");
      var year = $("#Year1").val();
      var yEARhalf = $("#YearHalf").val();
      var orkid = $(this).attr("data-orgkey");

             @*submit_post_via_hidden_formNewTab("@Url.Action("SliderTestPB", "Ranking")", { Year: year, ,YearHalf:yEARhalf,levelType: "Organisation", OrgK: Org });*@
        submit_post_via_hidden_formNewTab("@Url.Action("SliderTestPB", "Ranking")", { Year: year, YearHalf: yEARhalf, levelType: "Organisation", OrgK: Org, orkid: orkid });


         </text>
     }


        function submit_post_via_hidden_formNewTab(url, params) {
            var f = $("<form method='POST' target='_blank' style='display:none;'></form>").attr({
                action: url
            }).appendTo(document.body);

            for (var i in params) {
                if (params.hasOwnProperty(i)) {
                    $('<input type="hidden" />').attr({
                        name: i,
                        value: params[i]
                    }).appendTo(f);
                }
            }

            f.submit();

            f.remove();
        }


    });

</script>

