﻿@using MoAD.DataObjects.EDMX;
@{
    if (User.Identity.IsAuthenticated)
    {
        Layout = "~/Views/Shared/_LayoutInitialPage.cshtml";

    }
    else
    {
        Layout = "~/views/home/pageshared.cshtml";
    }

        List<GetRanking_Result> RankingCard = ViewBag.RankingCard;


}
<head>
    <title>مرصد الأداء الاداري</title>
</head>
<link href="@Url.Content("~/scripts/swiper/swiper.min.css")" rel="stylesheet" />
<link href="@Url.Content("~/scripts/slicebox/custom.css")" rel="stylesheet" />
<link href="@Url.Content("~/scripts/slicebox/demo.css")" rel="stylesheet" />
<link href="@Url.Content("~/scripts/slicebox/slicebox.css")" rel="stylesheet" />
<style>
    /* Slicebox Style */
.sb-slider {
    margin: 10px auto;
    position: relative;
    overflow: hidden;
    width: 100%;
    list-style-type: none;
    padding: 0;
}

.sb-slider li {
    margin: 0;
    padding: 0;
    display: none;
}

.sb-slider li > a {
    outline: none;
}

.sb-slider li > a img {
    border: none;
}

.sb-slider img {
    /*width:800px;
    height:500px;*/
    max-width: 100%;
    display: block;
}

.sb-description {
    padding: 20px;
    bottom: 10px;
    left: 10px;
    right: 10px;
    z-index: 1000;
    position: absolute;
    background: #CBBFAE;
    background: rgba(190,176,155, 0.4);
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    opacity: 0;
    color: #fff;
    border-left:0;
    -webkit-transition: all 200ms;
    -moz-transition: all 200ms;
    -o-transition: all 200ms;
    -ms-transition: all 200ms;
    transition: all 200ms;
}

.sb-slider li.sb-current .sb-description {
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
    filter: alpha(opacity=80);
    opacity: 1;
}

.sb-slider li.sb-current .sb-description:hover {
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=99)";
    filter: alpha(opacity=99);
    background: rgba(190,176,155, 0.7);
}

.sb-perspective {
    position: relative;
}

.sb-perspective > div {
    position: absolute;

    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -o-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    transform-style: preserve-3d;

    -webkit-backface-visibility : hidden;
    -moz-backface-visibility : hidden;
    -o-backface-visibility : hidden;
    -ms-backface-visibility : hidden;
    backface-visibility : hidden;
}

.sb-side {
    margin: 0;
    display: block;
    position: absolute;

    -moz-backface-visibility : hidden;

    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -o-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    transform-style: preserve-3d;
}


/* custom style */
.container {
/*  margin: 30px;*/
}

.shadow {
    width: 100%;
    height: 168px;
    position: relative;
    margin-top: -110px;
    background: transparent url("@Url.Content("~/images/slider/shadow.png")") no-repeat bottom center;
    background-size: 100% 100%; /* stretches it */
    z-index: -1;
    display: none;
}

.sb-description h3 {
    font-size: 30px;
   text-shadow:-1px 2px 1px rgba(19, 6, 6, 0.81);
}

.sb-description h3 a {
    color: #4a3c27;
    text-shadow:-1px 2px 1px rgba(19, 6, 6, 0.81);
}

.nav-arrows {
    display: none;
}

.nav-arrows a {
    <img src= />
    width: 42px;
    height: 42px;
    background: #cbbfae url("@Url.Content("~/images/slider/nav.png")") no-repeat top left;
    position: absolute;
    top: 50%;
    left: 2px;
    text-indent: -9000px;
    cursor: pointer;
    margin-top: -21px;
    opacity: 0.9;
    border-radius: 50%;
    box-shadow: 0 1px 1px rgba(255,255,255,0.8);
}

.nav-arrows a:first-child{
    left: auto;
    right: 2px;
    background-position: top right;
}

.nav-arrows a:hover {
    opacity: 1;
}

.nav-dots {
    text-align: center;
    position: absolute;
    bottom: -5px;
    height: 30px;
    width: 100%;
    left: 0;
    display: none;
}

.nav-dots span {
    display: inline-block;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    margin: 3px;
    background: #cbbfae;
    cursor: pointer;
    box-shadow:
        0 1px 1px rgba(255,255,255,0.6),
        inset 0 1px 1px rgba(0,0,0,0.1);
}

.nav-dots span.nav-dot-current {
    box-shadow:
        0 1px 1px rgba(255,255,255,0.6),
        inset 0 1px 1px rgba(0,0,0,0.1),
        inset 0 0 0 3px #cbbfae,
        inset 0 0 0 8px #fff;
}

.nav-options {
    width: 70px;
    height: 30px;
    position: absolute;
    right: 70px;
    bottom: 0px;
    display: none;
}

.nav-options span {
    width: 30px;
    height: 30px;
    /*background: #cbbfae url("@Url.Content("~/images/slider/options.png")") no-repeat top left;*/
    text-indent: -9000px;
    cursor: pointer;
    opacity: 0.7;
    display: inline-block;
    border-radius: 50%;
}

.nav-options span:first-child{
    background-position: -30px 0px;
    margin-right: 3px;
}

.nav-options span:hover {
    opacity: 1;
}



     .swiper-container {
                width: 100%;
                height: 465px;
    margin-left:-4%;
         background-size: contain;
     background-position: center center;
    background-image: url("@Url.Content("~/images/syriaphotos/1246459652.jpg")");


            }

            .swiper-slide {
    height:465px;
                text-align: center;
                font-size: 18px;
                background: #fff;
                /* Center slide text vertically */
                display: -webkit-box;
                display: -ms-flexbox;
                display: -webkit-flex;
                display: flex;
                -webkit-box-pack: center;
                -ms-flex-pack: center;
                -webkit-justify-content: center;
                justify-content: center;
                -webkit-box-align: center;
                -ms-flex-align: center;
                -webkit-align-items: center;
                align-items: center;
    background-color: rgb(231, 231, 231,0.9);
            }

  @@media only screen and (max-width: 600px) {
    .swiper-container {
        margin-left: 0%;
    background-repeat: no-repeat;
    }
}

    .3alama{
    font-size:24px;
    }
      @@media only screen and (max-width: 360px) {
    .sb-description h3 {
    font-size: 12px;

}

}





</style>
@{ 
    if (!User.Identity.IsAuthenticated)
    {
        <text>

            <div class="row Body" style="overflow-x:hidden;filter: blur(25px);transition: filter 2s;-webkit-transition: filter 2s;">
</text>
    }
    else
    {
        <text>
<div>

        </text>
    }
}

    <div class="row">
        <div class="widget-header" dir="rtl" style="text-align:center;background-color:#80808030;padding:1px;">
            <h2 class="text-truncate text-nowrap" style="color:#337ab7;">بطاقة قياس أداء @RankingCard.FirstOrDefault().OrganisationName</h2>
        </div>

    </div>
    <div class="col-md-6 col-sm-6 col-lg-6" style="overflow:hidden;">

        <div class="row" style="text-align:right;margin-top:2%;margin-right:10%;"><h3> :المؤشرات </h3></div>


        <div class="container yyy" style="width:100%;">
            <div class="wrapper">

                <ul id="sb-slider" class="sb-slider">

                    @{
                        int j = 0;
                        foreach (var item in RankingCard)
                        {
                            <li>
                                @if (j == 0)
                                {
                                    <a href="" target="_blank"><img class="image_@j" src="@Url.Content("~/images/syriaphotos/1246459652.jpg")" alt="image1" /></a>

                                }
                                else if (j == 1)
                                {
                                    <a href="" target="_blank"><img class="image_@j" src="@Url.Content("~/images/syriaphotos/34-damascus-mosque-alamy.jpg")" alt="image1" /></a>

                                }
                                else if (j == 2)
                                {
                                    <a href="" target="_blank"><img class="image_@j" src="@Url.Content("~/images/syriaphotos/alalam_636246100623876349_25f_4x3.jpg")" alt="image1" /></a>

                                }
                                else if (j == 3)
                                {
                                    <a href="" target="_blank"><img class="image_@j" src="@Url.Content("~/images/syriaphotos/Apamea_02.jpg")" alt="image1" /></a>

                                }
                                else if (j == 4)
                                {
                                    <a href="" target="_blank"><img class="image_@j" src="@Url.Content("~/images/syriaphotos/tourism-4.jpg")" alt="image1" /></a>

                                }

                                <div class="sb-description" style="text-align:center;">
                                    <h3 style="color:#337ab7;">مؤشر @item.FormTemplateType</h3>
                                    <div class="row"><span style="text-shadow: 2px 2px 12px;opacity:0.98;background-color:rgb(128,128,128,0.8);font-size:24px;color:white;" class="3alama">@item.FormTemplateTypeScore/@item.FormTemplateTypeScoreRatio علامة</span>  </div>
                                    <div class="row"> <h3 style="color:#337ab7;">@item.FormTemplateTypeClass</h3></div>
                                </div>
                            </li>
                            j++;
                        }
                    }

                    @*<li>
                            <a href="" target="_blank"><img src="@Url.Content("~/images/syriaphotos/34-damascus-mosque-alamy.jpg")" alt="image2" /></a>
                            <div class="sb-description">
                                <h3>Honest Entertainer</h3>
                            </div>
                        </li>
                        <li>
                            <a href="" target="_blank"><img src="@Url.Content("~/images/syriaphotos/alalam_636246100623876349_25f_4x3.jpg")" alt="image1" /></a>
                            <div class="sb-description">
                                <h3>Brave Astronaut</h3>
                            </div>
                        </li>
                        <li>
                            <a href="" target="_blank"><img src="@Url.Content("~/images/syriaphotos/Apamea_02.jpg")" alt="image1" /></a>
                            <div class="sb-description">
                                <h3>Affectionate Decision Maker</h3>
                            </div>
                        </li>
                        <li>
                            <a href="" target="_blank"><img src="@Url.Content("~/images/syriaphotos/tourism-4.jpg")" alt="image1" /></a>
                            <div class="sb-description">
                                <h3>Faithful Investor</h3>
                            </div>
                        </li>*@

                </ul>

                <div id="shadow" class="shadow"></div>

                <div id="nav-arrows" class="nav-arrows">
                    <a href="#">Next</a>
                    <a href="#">Previous</a>
                </div>

            </div>
        </div>


    </div>


    <div class="col-md-6 col-sm-6 col-lg-6" style="overflow:hidden;height:100%!important">

        <div class="row" style="text-align:right;margin-top:3%;margin-right:4%;"><h3>  :أهم المبادرات </h3></div>

        <!-- Swiper -->
        <div class="swiper-container" style="margin-top:1%;text-align:right">
            <div class="swiper-wrapper">
                @{
                    foreach (var item in ViewBag.Initiatives)
                    {
                        <div class="swiper-slide"><p style="word-break:break-word;text-align:center;margin-left:15%;margin-right:4%;color:#337ab7;">@item.InitiativeValue</p></div>

                    }
                }

                @*<div class="swiper-slide"><p style="word-break:break-word;text-align:center;margin-left:15%;margin-right:4%;">بطاقة قياس أداء مستشفى المواساة وهكذا أقول لم أكون وحدي ألعاب فيه جيداً جداً في الملعب</p></div>
                    <div class="swiper-slide"><p style="word-break:break-word;text-align:center;margin-right:4%;">بطاقة قياس أداء مستشفى المواساة وهكذا أقول لم أكون وحدي ألعاب فيه جيداً جداً في الملعب</p></div>
                    <div class="swiper-slide">Slide 3</div>
                    <div class="swiper-slide">Slide 4</div>
                    <div class="swiper-slide">Slide 5</div>
                    <div class="swiper-slide">Slide 6</div>
                    <div class="swiper-slide">Slide 7</div>
                    <div class="swiper-slide">Slide 8</div>
                    <div class="swiper-slide">Slide 9</div>
                    <div class="swiper-slide">Slide 10</div>*@
            </div>
            <!-- Add Pagination -->
            <div class="swiper-pagination"></div>
        </div>

        <!-- Swiper JS -->
        <script src="@Url.Content("~/scripts/swiper/swiper.min.js")"></script>


        <!-- Initialize Swiper -->
        <script>


            var swiper = new Swiper('.swiper-container', {
                slidesPerView: 3,
                spaceBetween: 100,
                // init: false,
                pagination: {
                    el: '.swiper-pagination',
                    clickable: true,
                },
                breakpoints: {
                    1024: {
                        slidesPerView: 4,
                        spaceBetween: 40,
                    },
                    768: {
                        slidesPerView: 3,
                        spaceBetween: 30,
                    },
                    640: {
                        slidesPerView: 2,
                        spaceBetween: 20,
                    },
                    320: {
                        slidesPerView: 1,
                        spaceBetween: 10,
                    }
                }
            });
        </script>


    </div>
</div>


<script src="@Url.Content("~/scripts/slicebox/modernizr.custom.46884.js")"></script>

<script src="@Url.Content("~/scripts/slicebox/jquery.slicebox.js")"></script>
<script>


    $(function () {

        var Page = (function () {

            var $navArrows = $('#nav-arrows').hide(),
                $shadow = $('#shadow').hide(),
                slicebox = $('#sb-slider').slicebox({
                    onReady: function () {

                        $navArrows.show();
                        $shadow.show();

                    },
                    orientation: 'r',
                    cuboidsRandom: true,
                    disperseFactor: 30
                }),

                init = function () {

                    initEvents();

                },
                initEvents = function () {

                    // add navigation events
                    $navArrows.children(':first').on('click', function () {


                        var Background = "";

                        Background = $(".sb-current").next().find("img").attr("src");
                        console.log(Background);
                        if (Background == undefined)
                            Background = $(".image_0").attr("src");

                        Background = "../images/" + Background.split("/images/")[1];
                        $('.swiper-container').fadeTo('slow', 0.5, function () {
                            $(this).css('background-image', 'url(' + Background + ')');
                        }).delay(500).fadeTo('slow', 1);
                        slicebox.next();

                        return false;

                    });

                    $navArrows.children(':last').on('click', function () {

                        @{ 
                            j = j - 1;
                        }
                        var Background = "";
                         Background = $(".sb-current").prev().find("img").attr("src");

                        if (Background == undefined)
                            Background = $(".image_@j").attr("src");

                        Background = "../images/" + Background.split("/images/")[1];

                        $('.swiper-container').fadeTo('slow', 0.5, function () {
                            $(this).css('background-image', 'url(' + Background + ')');
                        }).delay(500).fadeTo('slow', 1);

                        slicebox.previous();
                        return false;

                    });

                };

            return { init: init };

        })();

        Page.init();
    });



</script>
