﻿@{
    ViewBag.Title = "TasnifAda2Sanawi";
    if (User.Identity.IsAuthenticated)
    {
        Layout = "~/Views/Shared/_LayoutInitialPage.cshtml";

    }
    else
    {
        Layout = Layout = "~/Views/Shared/_CommonLayout.cshtml";
        // Layout = "~/views/home/pageshared.cshtml";
        //Layout = "~/views/home/_SharedMarsadLayout.cshtml";
    }
}

@if (User.IsInRole("PB"))
{
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/vendors.bundle.css")">
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/style.bundle.css")">
}
<style>
    @@media only screen and (max-width: 1300px) {
        .counter-icon {
            display: none !important;
        }
    }
</style>
@{

    if (!User.Identity.IsAuthenticated)
    {
        <text>
<div class="Body" style="margin-bottom:1%;overflow-x:hidden;filter: blur(25px);transition: filter 2s;-webkit-transition: filter 2s;">


        </text>

    }
    else
    {
        <text>
    <div>

        </text>
    }

}




@{
    if (User.IsInRole("PB"))
    {
        <text>
        <div class="row" style="margin-top:1%;margin-bottom:1%;">

        </text>
    }
    else
    {
        <text>
            <div class="row" style="background-color:#eceff4;margin-top:1%;margin-bottom:1%;">

        </text>
    }
    }


    <div class="col-xl-4 col-lg-4 col-sm-4 col-xs-12" style="cursor:pointer;padding-top:10px;text-align:center;float:right;visibility:hidden;">
        <div class="widget widget-seven">
            <div class="widget-body">
                <div class="widget-body-inner">
                    <p style="font-size:1.3rem !important;word-wrap: break-word;font-weight: bold" class="text-uppercase">bgvdfssssss</p>
                    <i class="counter-icon icmn-pen-plus"></i>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-4 col-lg-4 col-sm-4 col-xs-12" style="cursor:pointer;padding-top:10px;text-align:center;float:right;">
        <div class="widget widget-seven" onclick="GetPublishedGeneralRanking('@ViewBag.Description')">
            <div class="widget-body">
                <div class="widget-body-inner">
                    <p style="font-size:2.3rem !important;word-wrap: break-word;font-weight: bold;color:black" class="text-uppercase">مستوى العام</p>
                    <i class="counter-icon fa fa-2x fa-list-alt"></i>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-4 col-lg-4 col-sm-4 col-xs-12" style="cursor:pointer;padding-top:10px;text-align:center;float:right;visibility:hidden;">
        <div class="widget widget-seven">
            <div class="widget-body">
                <div class="widget-body-inner">
                    <p style="font-size:1.3rem !important;word-wrap: break-word;font-weight: bold" class="text-uppercase">bgvdfssssss</p>
                    <i class="counter-icon icmn-pen-plus"></i>
                </div>
            </div>
        </div>
    </div>

    </div>

    @{
        if (User.IsInRole("PB"))
        {
            <text>
            <div class="row" style="margin-top:1%;margin-bottom:1%;">

            </text>
    }
    else
    {
        <text>
            <div class="row" style="background-color:#eceff4;margin-top:1%;margin-bottom:1%;">

        </text>
    }
        }

        @*<div class="row" style="background-color:#eceff4;margin-top:1%;margin-bottom:1%;">*@

        <div class="col-xl-4 col-lg-4 col-sm-4 col-xs-12" style="cursor:pointer;padding-top:10px;text-align:center;float:right;visibility:hidden;">
            <div class="widget widget-seven" onclick="gotoCreatedform()">
                <div class="widget-body">
                    <div class="widget-body-inner">
                        <p style="font-size:2.3rem !important;word-wrap: break-word;font-weight: bold" class="text-uppercase">bgvdfssssss</p>
                        <i class="counter-icon icmn-pen-plus"></i>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-4 col-lg-4 col-sm-4 col-xs-12" style="cursor:pointer;padding-top:10px;text-align:center;float:right;">
            <div class="widget widget-seven" onclick="GetPublishedProvinceRanking('@ViewBag.Description')">
                <div class="widget-body">
                    <div class="widget-body-inner">
                        <p style="font-size:2.3rem !important;word-wrap: break-word;font-weight: bold;color:black" class="text-uppercase">مستوى الإقليمي</p>
                        <i class="counter-icon fa fa-2x fa-map"></i>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-4 col-lg-4 col-sm-4 col-xs-12" style="cursor:pointer;padding-top:10px;text-align:center;float:right;visibility:hidden;">
            <div class="widget widget-seven" onclick="gotoCreatedform()">
                <div class="widget-body">
                    <div class="widget-body-inner">
                        <p style="font-size:2.3rem !important;word-wrap: break-word;font-weight: bold" class="text-uppercase">bgvdfssssss</p>
                        <i class="counter-icon icmn-pen-plus"></i>
                    </div>
                </div>
            </div>
        </div>

        </div>

        @{
            if (User.IsInRole("PB"))
            {
                <text>
                    <div class="row" style="margin-top:1%;margin-bottom:1%;">

                </text>
            }
            else
            {
                <text>
                    <div class="row" style="background-color:#eceff4;margin-top:1%;margin-bottom:1%;">

                </text>
            }
        }
        @*<div class="row" style="background-color:#eceff4;margin-top:1%;">*@

            <div class="col-xl-4 col-lg-4 col-sm-4 col-xs-12" style="cursor:pointer;padding-top:10px;text-align:center;float:right;visibility:hidden;">
                <div class="widget widget-seven">
                    <div class="widget-body">
                        <div class="widget-body-inner">
                            <p style="font-size:1.3rem !important;word-wrap: break-word;font-weight: bold;color:black" class="text-uppercase">bgvdfssssss</p>
                            <i class="counter-icon icmn-pen-plus"></i>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-lg-4 col-sm-4 col-xs-12" style="cursor:pointer;padding-top:10px;text-align:center;float:right;">
                <div class="widget widget-seven" onclick="GetPublishedWizaraRanking('@ViewBag.Description')">
                    <div class="widget-body">
                        <div class="widget-body-inner">
                            <p style="font-size:2.3rem !important;word-wrap: break-word;font-weight: bold;color:black" class="text-uppercase">مستوى الوزارة</p>
                            <i class="counter-icon fa fa-2x fa-building"></i>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-lg-4 col-sm-4 col-xs-12" style="cursor:pointer;padding-top:10px;text-align:center;float:right;visibility:hidden;">
                <div class="widget widget-seven">
                    <div class="widget-body">
                        <div class="widget-body-inner">
                            <p style="font-size:1.3rem !important;word-wrap: break-word;font-weight: bold" class="text-uppercase">bgvdfssssss</p>
                            <i class="counter-icon icmn-pen-plus"></i>
                        </div>
                    </div>
                </div>
            </div>

                      

        </div>

                    <div class="row" style="background-color: #eceff4; margin-top: 1%; margin-bottom: 1%;">
                        <div class="col-xl-4 col-lg-4 col-sm-4 col-xs-12" style="cursor:pointer;padding-top:10px;text-align:center;float:right;visibility:hidden;">
                            <div class="widget widget-seven">
                                <div class="widget-body">
                                    <div class="widget-body-inner">
                                        <p style="font-size:1.3rem !important;word-wrap: break-word;font-weight: bold;color:black" class="text-uppercase">bgvdfssssss</p>
                                        <i class="counter-icon icmn-pen-plus"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-4 col-lg-4 col-sm-4 col-xs-12" style="cursor:pointer;padding-top:10px;text-align:center;float:right;">
                            <div class="widget widget-seven" onclick="GetPublishedSectorRanking('@ViewBag.Description')">
                                <div class="widget-body">
                                    <div class="widget-body-inner">
                                        <p style="font-size:2.3rem !important;word-wrap: break-word;font-weight: bold;color:black" class="text-uppercase">مستوى القطاعي</p>
                                        <i class="counter-icon fa fa-2x fa-building"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-4 col-lg-4 col-sm-4 col-xs-12" style="cursor:pointer;padding-top:10px;text-align:center;float:right;visibility:hidden;">
                            <div class="widget widget-seven">
                                <div class="widget-body">
                                    <div class="widget-body-inner">
                                        <p style="font-size:1.3rem !important;word-wrap: break-word;font-weight: bold" class="text-uppercase">bgvdfssssss</p>
                                        <i class="counter-icon icmn-pen-plus"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
        </div>



        <script>

            function GetPublishedGeneralRanking(desc) {
                if (desc == "NotPublish")
                    submit_post_via_hidden_form("@Url.Action("Index", "Ranking")", { levelType: "Organisation" });
                else if (desc == "GetRanking")
                    submit_post_via_hidden_form("@Url.Action("GetRanking", "Ranking")", { levelType: "Organisation" });
                else
                    submit_post_via_hidden_form("@Url.Action("GetPublishedRanking", "Ranking")", { HighlightedPart: "Ranking", levelType: "Organisation" });



            };

            function GetPublishedProvinceRanking(desc) {
                if (desc == "NotPublish")
                    submit_post_via_hidden_form("@Url.Action("Index", "Ranking")", { levelType: "Province" });
                else if (desc == "GetRanking")
                    submit_post_via_hidden_form("@Url.Action("GetRanking", "Ranking")", { levelType: "Province" });
                else
                    submit_post_via_hidden_form("@Url.Action("GetPublishedRanking", "Ranking")", { HighlightedPart: "Ranking", levelType: "Province" });



            };


            function GetPublishedWizaraRanking(desc) {
                if (desc == "NotPublish")
                    submit_post_via_hidden_form("@Url.Action("Index", "Ranking")", { levelType: "Parent" });
                else if (desc == "GetRanking")
                    submit_post_via_hidden_form("@Url.Action("GetRanking", "Ranking")", { levelType: "Parent" });
                else
                    submit_post_via_hidden_form("@Url.Action("GetPublishedRanking", "Ranking")", { HighlightedPart: "Ranking", levelType: "Parent" });



            };

            function GetPublishedSectorRanking(desc) {
                if (desc == "NotPublish")
                    submit_post_via_hidden_form("@Url.Action("Index", "Ranking")", { levelType: "Sector" });
            else if (desc == "GetRanking")
                submit_post_via_hidden_form("@Url.Action("GetRanking", "Ranking")", { levelType: "Sector" });
            else
                submit_post_via_hidden_form("@Url.Action("GetPublishedRanking", "Ranking")", { HighlightedPart: "Ranking", levelType: "Sector" });

            };

            function submit_post_via_hidden_form(url, params) {
                var f = $("<form method='POST' style='display:none;'></form>").attr({
                    action: url
                }).appendTo(document.body);

                for (var i in params) {
                    if (params.hasOwnProperty(i)) {
                        $('<input type="hidden" />').attr({
                            name: i,
                            value: params[i]
                        }).appendTo(f);
                    }
                }

                f.submit();

                f.remove();
            }

        </script>
