﻿@using Microsoft.AspNet.Identity;
@{
    ViewBag.Title = "UserManagement";

    List<SelectListItem> Organisation = ViewData["Organisation"] as List<SelectListItem>;

    Layout = "~/Views/Shared/_LayoutInitialPage.cshtml";

}

<div id="example" style="background-color:white;min-height:400px;">


    <div class="form-group row">
        <div class="col-md-4 col-sm-4">
        </div>
        <div class="col-md-5 col-sm-5">
            <h3 class="block" style="text-align:right">المبادرات </h3>
        </div>
        <div class="col-md-3 col-sm-3">
        </div>
    </div>

    <div class="form-group row">
        <div class="col-md-6 col-sm-6 col-xs-6">
        </div>
        <div class="col-md-4 col-sm-4 col-xs-4" style="margin-left:-6%">
            @Html.DropDownList("Organisation", Organisation, new { @class = "inputcolor form-control placeholder-no-fix;", dir = "rtl" })
        </div>
        <div class="col-md-2 col-sm-2 col-xs-2">
            <label class="control-label">
                الجهة العامة
                <span class="required" aria-required="true"> * </span>
            </label>
        </div>
    </div>

  

    <div class="row" id="AlMoubadarat">
      
    </div>

    <div class="form-group row">
        <div class="col-md-4 col-sm-4 col-xs-4" style="margin-left:-6%">
        </div>
        <div class="col-md-5 col-sm-5 col-xs-5">
            <a id="SaveMoubadara" class="btn green button-submit">
                حفظ
                <i class="fa fa-check"></i>
            </a>
        </div>
        <div class="col-md-3 col-sm-3 col-xs-3">

        </div>
    </div>

</div>
<script>

    $(document).ready(function () {

        $("select").select2();

        $("#Organisation").trigger("change");

    });

    $("#Organisation").change(function () {

        $.ajax({
            url: '@Url.Action("GetInitiatives", "Ranking")',
            type: 'GET',
            dataType: 'json',
            cache: false,
            data: {
                 organisationKey: $(this).val()
            },
            success: function (data) {
                $("#AlMoubadarat").empty();
                $.each(data, function (index, value) {
                   
                    $("#AlMoubadarat").append('<div class="form-group row" id="Moubadara_' + value.InitiativeKey + '"><div class="col-md-6 col-sm-6 col-xs-6"></div><div class="col-md-4 col-sm-4 col-xs-4" style="margin-left:-6%"><div class="col-sm-3"><button class="btn red" id="btnDeleteMoubadara_' + value.InitiativeKey + '" data-id="' + value.InitiativeKey + '" style="float: right;margin-top: 20px;margin-right: 8px;"><i class="fa fa-minus-square" aria-hidden="true"></i></button></div><div class="col-md-9"><textarea disabled class="form-group" style="width:100%;text-align:right">' + value.InitiativeValue + '</textarea></div></div><div class="col-md-2 col-sm-2 col-xs-2"><label class="control-label">المبادرة <span class="required" aria-required="true"> * </span></label></div></div>');

                });

            }
        });

    });

    $(document).on('click', "[id^='btnDeleteMoubadara']", function () {

        var id = $(this).attr("data-id");
        $.ajax({
            url: '@Url.Action("DeleteInitiatives", "Ranking")',
            type: 'GET',
            dataType: 'json',
            cache: false,
            data: {
                InitiativesKey: id
            },
            success: function (data) {
              
                $("#Organisation").trigger("change");
               

            }
        });

    });



</script>


