﻿@model IEnumerable<MoAD.DataObjects.EDMX.AspNetUser>
@{
    ViewBag.Title = "EntidabMouwazaf";
    Layout = "~/Views/Shared/_LayoutInitialPage.cshtml";


}



<div class="row" style="text-align:center;padding-top:20px;padding-bottom:20px;">
    <h3>
        إضافة منصب
    </h3>
</div>




<div class="row" style="margin-top:1%;background-color:white;padding:20px;margin-bottom:4%;">

    <div>
        <div class="form-group row">
            <div class="col-md-1">
            </div>
            <div class="col-md-4" style="float:right">
                <label class="form-control-label" for="l0"> : المنصب </label>
            </div>
            <div class="col-md-5" style="float:left;margin-left: 3%;">
                <input type="text"  id="Role" class="form-control organisationParent" dir="rtl" placeholder="المنصب">
            </div>

            <div class="col-md-2">
            </div>
        </div>
    </div>
    <div class="row" style="margin-bottom:1%;">
        <div class="btn btn-primary" style="margin-left:11.8%;" id="AddRole"> إضافة منصب</div>
       
    </div>
</div>
<script>
    $("#AddRole").click(function () {
        var dialog = bootbox.dialog({
            message: '<p class="text-center"><i class="fa fa-spin fa-spinner"></i> ....جار التحميل</p>',

        });
        var Role = $("#Role").val();

        $.ajax({
            url: '@Url.Action("AddRoles", "AspNetUsers")',
            type: 'GET',
            cache: false,
            dataType: 'text',
            data: ({
                Role: Role
               

            }),
            contentType: 'application/json; charset=utf-8',


            success: function (data) {
                dialog.modal('hide');
                location.reload();
            },
            error: function (xhr) {
                alert('errorr');
            }
        });

    });
</script>