﻿@model IEnumerable<MoAD.DataObjects.EDMX.AspNetUser>
@{
    ViewBag.Title = "EntidabMouwazaf";
    Layout = "~/Views/Shared/_LayoutInitialPage.cshtml";
    List<SelectListItem> Roles = ViewData["allRoles"] as List<SelectListItem>;

}



<div class="row" style="text-align:center;padding-top:20px;padding-bottom:20px;">
    <h3>
        إلغاء منصب
    </h3>
</div>




<div class="row" style="margin-top:1%;background-color:white;padding:20px;margin-bottom:4%;">

    <div>
        <div class="form-group row">
            <div class="col-md-1">
            </div>
            <div class="col-md-4" style="float:right">
                <label class="form-control-label" for="l0"> : المنصب </label>
            </div>
            <div class="col-md-5" style="float:left;margin-left: 3%;">
                @Html.DropDownList("Roles", Roles, new { @class = "inputcolor form-control placeholder-no-fix Organisations", dir = "ltr" })
            </div>

            <div class="col-md-2">
            </div>
        </div>
    </div>
    <div class="row" style="margin-bottom:1%;">
        <div class="btn btn-primary" style="margin-left:11.8%;" id="DeleteRole"> إلغاء منصب</div>

    </div>
</div>
<script>

    $("#Roles").select2();   
    $("#DeleteRole").click(function () {
        var dialog = bootbox.dialog({
            message: '<p class="text-center"><i class="fa fa-spin fa-spinner"></i> ....جار التحميل</p>',

        });
        var Role = $("#Roles option:selected").val();

        $.ajax({
            url: '@Url.Action("DeleteRoles", "AspNetUsers")',
            type: 'GET',
            cache: false,
            dataType: 'text',
            data: ({
                RoleId: Role


            }),
            contentType: 'application/json; charset=utf-8',


            success: function (data) {
                dialog.modal('hide');
                location.reload();
            },
            error: function (xhr) {
                alert('errorr');
            }
        });

    });
</script>