﻿@model IEnumerable<MoAD.DataObjects.EDMX.AspNetUser>
@{
    ViewBag.Title = "EntidabMouwazaf";
    Layout = "~/Views/Shared/_LayoutInitialPage.cshtml";
    List<SelectListItem> Organisations = ViewData["Organisation"] as List<SelectListItem>;

}



<div class="row" style="text-align:center;padding-top:20px;padding-bottom:20px;">
    <h3>
        إنتداب الموظف    
    </h3>
</div>

    


<div class="row" style="margin-top:1%;background-color:white;padding:20px;margin-bottom:4%;">

    <div class="form-group row">
        <div class="col-md-1">
        </div>
        <div class="col-md-4" style="float:right">
            <label class="form-control-label" for="l0"> : إختر الموظف </label>
        </div>
        <div class="col-md-5" style="float:left;margin-left: 3%;">

            <select class="inputcolor form-control placeholder-no-fix" dir="rtl" id="mouwazafselect">

                @foreach (var item in Model)
                {
                    <option value="@item.Id">
                        @item.FirstName @item.LastName
                    </option>
                }
            </select>
        </div>

        <div class="col-md-2">
        </div>
    </div>
    <div>
        <div class="form-group row">
            <div class="col-md-1">
            </div>
            <div class="col-md-4" style="float:right">
                <label class="form-control-label" for="l0"> : الجهة الخاصة </label>
            </div>
            <div class="col-md-5" style="float:left;margin-left: 3%;">
                @Html.DropDownList("OrganisationsList", Organisations, new { @class = "inputcolor form-control placeholder-no-fix Organisations", dir ="rtl" })
            </div>
            
            <div class="col-md-2">
            </div>
        </div>
        <div class="form-group row">
            <div class="col-md-1">
            </div>
            <div class="col-md-4" style="float:right">
                <label class="form-control-label" for="l0"> : الجهة العامة </label>
            </div>
            <div class="col-md-5" style="float:left;margin-left: 3%;">
                <input type="text" readonly id="organisationParent" class="form-control organisationParent" dir="rtl" placeholder="الجهة العامة">
            </div>
          
            <div class="col-md-2">
            </div>
        </div>
    </div> 
    <div class="row" style="margin-bottom:1%;">
        <div class="btn btn-primary" style="margin-left:11.8%;" id="entadebButton">إنتدب</div>
        <div class="btn green" style="" id="onkolButton">إنقل</div>
    </div>
</div>
<script>



    $(document).ready(function () {   
        $("#menu-initialpage").removeClass("left-menu-list-active").addClass("left-menu-list");
        $("#menu-mouwazafin").removeClass("left-menu-list-submenu").addClass("left-menu-list-active");
    });




    
    $("#onkolButton").click(function () {
        var dialog = bootbox.dialog({
            message: '<p class="text-center"><i class="fa fa-spin fa-spinner"></i> ....جار التحميل</p>',

        });

        var orgKey = $("#OrganisationsList").val();
        
        var MouwazafID = $("#mouwazafselect").val();



        $.ajax({
            url: '@Url.Action("EntidabSave", "Forms")',
            type: 'GET',
            dataType: 'text',
            cache: false,
            data: {
                Organizationkey: orgKey, delegatedOrgKey: null, userKey: MouwazafID
            },
            success: function (data) {
                dialog.modal('hide');
                bootbox.alert(" تمت عمليات إنتقال الموظف !!", function () {
                    ;
                })

            }
        });
    });

    $("#entadebButton").click(function () {
        var dialog = bootbox.dialog({
            message: '<p class="text-center"><i class="fa fa-spin fa-spinner"></i> ....جار التحميل</p>',

        });

        var orgKey = $("#OrganisationsList").val();
        var currentOrgKey = '@ViewBag.CurrentOrgKey';
        var MouwazafID = $("#mouwazafselect").val();



        $.ajax({
            url: '@Url.Action("EntidabSave", "Forms")',
            type: 'GET',
            dataType: 'text',
            cache: false,
            data: {
                Organizationkey: currentOrgKey, delegatedOrgKey: orgKey, userKey: MouwazafID
            },
            success: function (data) {
                dialog.modal('hide');
            bootbox.alert(" تمت عمليات إنتداب الموظف !!", function () {
                                           ;
                                        })

            }
        });
    });

    $("select").select2();
    //$('select').select2({
    //    width: '100%'
    //});
</script>