﻿@model IEnumerable<MoAD.DataObjects.EDMX.AspNetUser>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutInitialPage.cshtml";
}



<div class="row" style="text-align:center;padding-top:20px;padding-bottom:20px;">
    <h3>
        إدارة الموظفين
    </h3>
</div>


@if (User.IsInRole("Administrator"))
{
    <div class="row" style="margin-left: 1%;">

        <a class="left-menu-link" href='@Url.Action("Users", "Account")'>
            إضافة مستخدم
        </a>

    </div>
}


<div class="row" style="background-color:white;">
    <div class="col-md-12" dir="rtl" style="padding:1%;">
        <table id="table" style="width:100%">
            <thead>
                <tr>

                    <th style="text-align:center;">
                        إسم المستخدم
                    </th>
                    <th style="text-align:center;">
                        الاسم الكامل
                    </th>
                    <th style="text-align:center;">
                        الهاتف
                    </th>

                    <th style="text-align:center;">
                        البريد الالكتروني
                    </th>

                    <th style="text-align:center;">
                        تغيير كلمة السر
                    </th>
                    <th style="text-align:center;">
                        مسح المستخدم
                    </th>
                </tr>
            </thead>
            <tbody>
                @{
                    var fliteredModal = Model.Where(x => x.AspNetUserRoles.Select(aspr => aspr.AspNetRole.Name).FirstOrDefault() != ViewBag.UserRole);
                    foreach (var item in fliteredModal)
                    {
                        <tr>
                            <td style="text-align:center;">
                                @item.UserName
                            </td>
                            <td style="text-align:center;">
                                @item.FirstName
                            </td>
                            <td style="text-align:center;">
                                @item.PhoneNumber
                            </td>
                            <td style="text-align:center;">
                                @item.Email
                            </td>
                            <td style="text-align:center;">
                                <a href="javascript:ChangePassword('@item.UserName','@item.Id');"> تغيير كلمة السر</a>
                            </td>

                            <td style="text-align:center;">
                                <a href="javascript:DeleteUser('@item.Id');"> مسح المستخدم</a>
                            </td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>

    <div class="modal fade in" id="changepassword" tabindex="-1" aria-hidden="true" style="display: none; padding-right: 17px;">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header" dir="rtl">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                    <h4 class="modal-title" id="usertochangepassword">  </h4>
                </div>
                <div class="modal-body">


                    <div class="form-group row">
                        <div class="col-md-9 col-sm-9 col-xs-9">
                            <input type="password" class="form-control" dir="rtl" placeholder="كلمة مرور" id="password">
                        </div>
                        <div class="col-md-2 col-sm-2 col-xs-2">
                            <label class="form-control-label" for="l0">: كلمة السر </label>
                        </div>
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn dark btn-outline" data-dismiss="modal">إغلاق </button>
                    <button type="button" id="changepass" class="btn green">حفظ</button>
                </div>
            </div>
        </div>
    </div>


</div>



<script>
    $(document).ready(function () {
        $('#table').DataTable({
            "scrollX": true,
            "oLanguage": {
                "sSearch": "إبحث",
                "sLengthMenu": "عدد الأسطر لكل صفحة _MENU_ ",

            }
        });
        $("#menu-initialpage").removeClass("left-menu-list-active").addClass("left-menu-list");

        $("#menu-mouwazafin").removeClass("left-menu-list-submenu").addClass("left-menu-list-active");



    });


    var userKey = "";


    function ChangePassword(UserName, UserKey) {
        userKey = UserKey;

        var title = " تغيير كلمة السر للموظف :" + UserName
        $('#usertochangepassword').html(title);


        $('#changepassword').modal('show');
    }




    $(document).on('click', '#changepass', function () {

        var newpass = $('#password').val();
  
            $.ajax({
                url: '@Url.Action("ChangePassword", "Account")',
                type: 'GET',
                cache: false,
                dataType: 'text',
                data: ({
                    id: userKey,
                    password: newpass,

                }),
                contentType: 'application/json; charset=utf-8',


                success: function (data) {
                    source = "تغيير كلمة السر";
                    title = "تغيير كلمة السر";
                    message = $("#usertochangepassword").text();
                    SetLog(source, title, message);

                    $('#changepassword').modal('hide');
                    $('#password').val('');
                },
                error: function (xhr) {
                    alert('error');
                }
            });



    });


    function DeleteUser(UserKey) {
        $.ajax({
            url: '@Url.Action("DeleteUser", "Account")',
            type: 'GET',
            cache: false,
            dataType: 'text',
            data: ({
                id: UserKey,
            }),
            contentType: 'application/json; charset=utf-8',

            success: function (data) {

                source = "مسح مستخدم";
                title = "مسح مستخدم";
                message = "مسح مستخدم";
                SetLog(source, title, message);
                location.reload();
            },
            error: function (xhr) {
                alert('errorr');
            }
        });
    }


</script>