﻿
@{
    Layout = null;
    ViewBag.Title = "_Inbox";
}

<link href="@Url.Content("~/Content/Css/css/todo-2.min.css")" rel="stylesheet" type="text/css" />

<div class="todo-tasklist">

    @foreach (var message in ViewBag.messages)
    {
        <div class="todo-tasklist-item todo-tasklist-item-border-green">
            <div class="todo-tasklist-item-title"> @message.Title </div>
            <div class="todo-tasklist-item-text"> @message.MessageContent </div>
            <div class="todo-tasklist-controls pull-left">
                <span class="todo-tasklist-date">
                    <i class="fa fa-calendar"></i> @message.CreatedAt
                </span>
                <span class="todo-tasklist-badge badge badge-roundless">@message.UserName</span>
                @if (message.Name != null && message.Name.Contains("image"))
                {
                    <a download="image.jpg" href="@message.FilePathOrSource" title="ImageName">
                        <img id="" name="" src="@message.FilePathOrSource" style="height:150px;width:150px;" />
                    </a>
                }
                else 
                {
                    <a href="@message.FilePathOrSource">
                        <img src="@Url.Content("~/Images/file.png")" style="height:150px;width:150px;" />
                    </a>
                }

                @{
                    if (message.Notify == 1)
                    {
                        <span class="todo-tasklist-badge badge badge-roundless" style="background-color:red;">unread</span>

                    }
                    else
                    {
                        <span class="todo-tasklist-badge badge badge-roundless" style="background-color:green;">read</span>

                    }
                }
               

                @*<span onclick="viewcomments(@message.MessageKey)" class="todo-tasklist-badge badge badge-roundless">comments</span>*@
                @*<a onclick="addcoment(@message.MessageKey)" class="btn btn-circle  green btn-xs ">
                    <i class="fa fa-plus"></i>
                </a>*@
            </div>
        </div>
    }

</div>


