﻿@using Microsoft.AspNet.Identity;
@{
    Layout = "~/Views/Shared/_LayoutInitialPage.cshtml";
    List<SelectListItem> Organisations = ViewData["Organisation"] as List<SelectListItem>;

}

<link href="@Url.Content("~/Content/Css/css/todo-2.min.css")" rel="stylesheet" type="text/css" />

<script src="@Url.Content("~/Scripts/vendors/select2/dist/js/select2.full.min.js")"></script>


<style>

    .select2-container--default .select2-selection--single .select2-selection__rendered{
        padding: 0.1rem 1rem;
    }
    input, select, textarea {
        max-width: 100%;
    }

    .modal-content{
        text-align:right;
    }

    .row{
        display:block;
    }

    label{
        color:black;
    }
</style>



<div class="modal fade bs-modal-sm in" id="commentmodal" tabindex="-1" role="dialog" aria-hidden="true" style="padding-right: 17px;">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                <h4 class="modal-title">Comment</h4>
            </div>
            <div class="modal-body">

                <textarea class="form-control todo-taskbody-taskdesc" rows="4" id="comment" placeholder="Comment..."></textarea>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn dark btn-outline" data-dismiss="modal">Close</button>
                <button id="savecomment" type="button" class="btn green">Save </button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade bs-modal-sm in" id="allcommentsmodal" tabindex="-1" role="dialog" aria-hidden="true" style="padding-right: 17px;">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                <h4 class="modal-title">Comments</h4>
            </div>
            <div class="modal-body" id="commentsdiv">
            </div>
            <div class="modal-footer">
                <button type="button" id="closeallcomments" class="btn dark btn-outline" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<div class="col-md-12">
    <div class="todo-ui">

        <div class="todo-content">

            <div class="portlet light bordered">
                <div class="portlet-title">
                    <div class="caption" style="float:right;">
                        <i class="icon-bar-chart font-green-sharp hide"></i>
                        <span class="caption-subject font-green-sharp bold uppercase">المحادثة</span>
                    </div>
                    <div class="row">
                            <div class="col-md-3">
                                @*@Html.DropDownList("Organisations1", Organisations, new { @class = "inputcolor form-control placeholder-no-fix Organisations", @onchange = "ExecuteReportTa7sinAl5adamat($(this))" })*@
                                <select id="UserDropdownFrom" onchange="GetMessages($(this))">
                                    
                                </select>
                            </div>
                            <div class="col-md-3">
                                <label>: الرسائل المقدمة من</label>
                            </div>

                     
                            <div class="col-md-3" style="float:left;">
                                @Html.DropDownList("Organisations1", Organisations, new { @class = "inputcolor form-control placeholder-no-fix Organisations", @onchange = "GetUsers($(this))" })


                                @*<select><option>sdd</option><option>dsdd</option></select>*@
                            </div>
                            <div class="col-md-3">
                                <label  style="margin-top: -8%;">: المؤسسة </label>
                            </div> 
                     
                           
                    </div>
                    <div class="actions">
                        <div class="btn-group">

                            <ul class="dropdown-menu pull-right">
                                <li>
                                    <a href="javascript:;"> New Task </a>
                                </li>
                                <li class="divider"> </li>
                                <li>
                                    <a href="javascript:;">
                                        Pending
                                        <span class="badge badge-danger"> 4 </span>
                                    </a>
                                </li>
                                <li>
                                    <a href="javascript:;">
                                        Completed
                                        <span class="badge badge-success"> 12 </span>
                                    </a>
                                </li>
                                <li>
                                    <a href="javascript:;">
                                        Overdue
                                        <span class="badge badge-warning"> 9 </span>
                                    </a>
                                </li>
                                <li class="divider"> </li>
                                <li>
                                    <a href="javascript:;"> Delete Project </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!-- end PROJECT HEAD -->
                <div class="portlet-body">
                    <div class="row">
                        <div id="inboxx" class="col-md-8 col-sm-7">
                            @Html.Action("Inbox", "ChatPage")

                        </div>
                        <div class="todo-tasklist-devider"> </div>
                        <div class="col-md-4 col-sm-5">
                            <!-- TASK HEAD -->
                            <div class="form">
                                <div class="form-group">
                                    <div class="col-md-12 col-sm-8">
                                        <div class="todo-taskbody-user" dir="rtl" style="text-align:right;">
                                            <span class="caption-subject font-green-sharp bold uppercase">رسالة جديدة </span>

                                        </div>
                                    </div>

                                </div>
                                <!-- END TASK HEAD -->
                                <!-- TASK TITLE -->
                                <div class="form-group row" style="margin-right:0%;">
                                    <div class="col-md-1"></div>
                                    <div class="col-md-8" style="float:left;">
                                        @Html.DropDownList("Organisations", Organisations, new { @class = "inputcolor form-control placeholder-no-fix Organisations", @onchange = "GetUsersSend($(this))" })
                                        @*<select><option>sdd</option><option>dsdd</option></select>*@
                                    </div>
                                    <div class="col-md-3">
                                        <label style="float:right;">: المؤسسة </label>
                                    </div>
                                    
                                </div>
                                <div class="form-group row"  style="margin-right:0%;">
                                    <div class="col-md-1"></div>
                                            <div class="col-md-8" style="float:left;margin-top: 2%;">
                                    @*@Html.DropDownList("Organisations1", Organisations, new { @class = "inputcolor form-control placeholder-no-fix Organisations", @onchange = "ExecuteReportTa7sinAl5adamat($(this))" })*@
                                                <select id="UserDropdownSend"></select>
                                            </div>
                                    <div class="col-md-3" style="margin-top: 2%;">
                                       <label style="float:right;">: إلى</label>
                                    </div>
                                        </div>

                                <div class="form-group">
                                    <div class="col-md-12">
                                        <input type="text" class="form-control todo-taskbody-tasktitle" style="margin-top:2%" id="messagetitle" placeholder="عنوان الرسالة ..." dir="rtl">
                                    </div>
                                </div>

                                <!-- TASK DESC -->
                                <div class="form-group">
                                    <div class="col-md-12" style="margin-bottom:2%;">
                                        <textarea class="form-control todo-taskbody-taskdesc" rows="8" id="message" placeholder="مضمون الرسالة ..." dir="rtl"></textarea>
                                    </div>
                                </div>
                                <!-- END TASK DESC -->
                                <!-- TASK DUE DATE -->
                                @*<div class="form-group">
                                        <div class="col-md-12">
                                            <div class="input-icon">
                                                <i class="fa fa-calendar"></i>
                                                <input type="text" class="form-control todo-taskbody-due" placeholder="Date...">
                                            </div>
                                        </div>
                                    </div>*@
                                <!-- TASK TAGS -->
                                @*<div class="form-group">
                                        <div class="col-md-12">
                                            <select class="form-control todo-taskbody-tags">
                                                <option value="Pending">Pending</option>
                                                <option value="Completed">Completed</option>
                                                <option value="Testing">Testing</option>
                                                <option value="Approved">Approed</option>
                                                <option value="Rejected">Rejected</option>
                                            </select>
                                        </div>
                                    </div>*@

                                <div style="display:none;" id="FilesAttachment">
                                 
                                            <input type="file" class="dropify" data-max-file-size="35M" data-height="100" multiple data-allowed-file-extensions="jpg png doc docx pdf txt rar zip ico xls xlsx pptx odt" />
                                </div>





                                <!-- TASK TAGS -->
                                <div class="form-actions right todo-form-actions" style="float:left;">
                                    <button id="cancelmessage" class="btn btn-circle btn-sm btn-default red" style="font-size:22px;">إلغاء</button>
                                    <button id="savemessage" class="btn btn-circle btn-sm green" style="font-size:22px;">حفظ الرسالة</button>
                                    <button id="addattachement" class="btn btn-circle btn-sm blue" style="font-size:22px;"><i class="fa fa-paperclip" aria-hidden="true" style="margin-right:6%"></i>إرفاق وثائق</button>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- END TODO CONTENT -->
    </div>
</div>
<script>
    $("select").select2();
    $('.dropify').dropify();
    $("#Organisations").trigger("change");
    $("#Organisations1").trigger("change");

    
    HighlightMenuClick();

    //$("#Chatting").addClass("left-menu-list-active");

    function HighlightMenuClick() {

        $("#menu-initialpage").removeClass("left-menu-list-active");

    }

    var FileName = "";
    var PathBase64 = "";

    var x = 0;
    function fillFileInfo(FileNameParam, PathBase64Param) {
        alert(FileNameParam);
        FileName = FileNameParam;
        PathBase64 = PathBase64Param;
        x = 1;
    }

    $("#savemessage").click(function () {
        var message = $("#message").val();
        var messagetitle = $("#messagetitle").val();
        var ToUser = $("#UserDropdownSend").val();
       
        var AnswerTemplateKey = [];
        var AnswerTemplateKey1 = [];
        

      
        var fileData = $(".dropify").val();
        if (fileData == "") {
            if (message != "" && messagetitle != "") {
                answsers = { userKey: '@User.Identity.GetUserId()', messagetitle: messagetitle, message: message, ToUser: ToUser, FileName: FileName, PathBase64: PathBase64 }
                AnswerTemplateKey1.push(answsers);
                console.log(AnswerTemplateKey1);

                $.ajax({
                    url: '@Url.Action("AnswersByUser", "ClaimForms")',
                    type: 'POST',
                    cache: false,
                    dataType: 'json',
                    data: {

                        formKey: "0000", answerTemplateKey: JSON.stringify(AnswerTemplateKey1)


                    },



                    success: function (data) {
                        $("#cancelmessage").click();
                        bootbox.alert("تم ارسال الرسالة")
                        location.reload();



                        var chat = $.connection.chatHub;

                        $.connection.hub.start().done(function () {
                            chat.server.send("", "");
                        });
                    },

                    error: function (xhr) {
                        console.log('error');
                    }
                });

            }
            else {
                bootbox.alert("العنوان والوصف مطلوبان");
            }

        } else {
            $("input").each(function () {


                if ($(this).is('input:file')) {


                    if ($(this)[0].files[0] != undefined) {

                        var files = $(this)[0].files;
                        for (i = 0 ; i < files.length ; i++) {
                            console.log(i);
                            console.log(files[i]);
                            var FilteType = files[i].type;
                            // var answerKey = $(this).attr("data-templatekey");
                            var file = files[i];
                            var reader = new FileReader();
                            reader.readAsDataURL(files[i]);

                            reader.onload = function () {

                                setTimeout(function () {
                                    FileName = FilteType
                                    PathBase64 = reader.result

                                    if (message != "" && messagetitle != "") {
                                        answsers = { userKey: '@User.Identity.GetUserId()', messagetitle: messagetitle, message: message, ToUser: ToUser, FileName: FileName, PathBase64: PathBase64 }
                                        AnswerTemplateKey.push(answsers);
                                        console.log(AnswerTemplateKey);

                                        $.ajax({
                                            url: '@Url.Action("AnswersByUser", "ClaimForms")',
                                            type: 'POST',
                                            cache: false,
                                            dataType: 'json',
                                            data: {

                                                formKey: "0000", answerTemplateKey: JSON.stringify(AnswerTemplateKey)


                                            },



                                            success: function (data) {
                                                $("#cancelmessage").click();
                                                bootbox.alert("تم ارسال الرسالة")
                                                location.reload();



                                                var chat = $.connection.chatHub;

                                                $.connection.hub.start().done(function () {
                                                    chat.server.send("", "");
                                                });
                                            },

                                            error: function (xhr) {
                                                console.log('error');
                                            }
                                        });

                                    }
                                    else {
                                        bootbox.alert("العنوان والوصف مطلوبان");
                                    }


                                }, 1000);
                            };
                        }
                    }
                }


            });
        }

    });



    $("#addattachement").click(function () {


        $("#FilesAttachment").show();


    });


    $("#cancelmessage").click(function () {
        $(".dropify-clear").click();
        $("#message").val("");
        $("#messagetitle").val("");
    });


    @*function GetMessages(UserDropdown) {
        $.ajax({
            url: '@Url.Action("GetMessagesFilter", "ChatPage")',
            type: 'GET',
            cache: false,
            dataType: 'json',
            data: ({

                fromUser: $(UserDropdown).val()

            }),
            contentType: 'application/json; charset=utf-8',


            success: function (data) {
                //alert("oups");

                //obj = JSON.parse(data);
                console.log(data);
                $("#inboxx").empty();




                $.each(data, function (i, item) {
                    
                    var html = '<div class="todo-tasklist">';
                    html += '<div class="todo-tasklist-item todo-tasklist-item-border-green">';
                    html += '<div class="todo-tasklist-item-title"> ' + item.Title + ' </div>';
                    html += '<div class="todo-tasklist-item-text"> ' + item.MessageContent + ' </div>';

                    html += '<div class="todo-tasklist-controls pull-left">';
                    html += ' <span class="todo-tasklist-date">';
                    html += ' <i class="fa fa-calendar"></i> ' + item.CreatedAt + ''
                    html += '</span>';
                    html += '<span class="todo-tasklist-badge badge badge-roundless">' + item.UserName + '</span> '
                    if (item.Notify == 1)
                    {
                        html += '<span class="todo-tasklist-badge badge badge-roundless" style="background-color:red;">unread</span> '


                    } else {
                        html += '<span class="todo-tasklist-badge badge badge-roundless" style="background-color:green;">read</span> '

                    }
                    html += '</div>';
                    html += '</div>';
                    $("#inboxx").append(html);

                });

            

            },

            error: function (xhr) {
                console.log('error');
            }
        });
    }*@

    function GetMessages(UserDropdown) {
       
        $.ajax({
            url: '@Url.Action("Inbox1", "ChatPage")',
            type: 'GET',
            cache: false,
            dataType: 'html',
            data: ({

                fromUser: $(UserDropdown).val()

            }),
            contentType: 'application/json; charset=utf-8',


            success: function (data) {
                //alert("oups");

                //obj = JSON.parse(data);
                console.log(data);
                $("#inboxx").empty();

                $("#inboxx").append(data);


            },

            error: function (xhr) {
                console.log('error');
            }
        });
    }



    var messageId;
    function addcoment(messageid) {
        messageId = messageid;
        $('#commentmodal').modal('show');


    }

    $("#savecomment").click(function () {
        var comment = $("#comment").val();

        if (comment != "") {
            $.ajax({
                url: '@Url.Action("CreateComment", "Home")',
                type: 'GET',
                cache: false,
                dataType: 'text',
                data: ({
                    comment: comment,
                    username: '@User.Identity.Name',
                    commentdate: new Date().toJSON().slice(0, 10).replace(/-/g, '/'),
                    messageId: messageId,

                }),
                contentType: 'application/json; charset=utf-8',


                success: function (data) {



                    var chat = $.connection.chatHub;

                    $.connection.hub.start().done(function () {
                        chat.server.send("", "");
                    });


                    $('#commentmodal').modal('hide');
                    $("#comment").val("");




                },
                error: function (xhr) {
                    console.log('errorr');
                }
            });
        }
        else {
            bootbox.alert("Please write a comment");
        }
    });

    function GetUsersSend(Organization) {

        var orgKey = $(Organization).val();
       

        $.ajax({
            url: '@Url.Action("GetAccessUsers", "ChatPage")',
            type: 'GET',
            cache: false,
            dataType: 'json',
            data: ({
                orgKey: orgKey
            }),
            contentType: 'application/json; charset=utf-8',
            success: function (data) {

                $("#UserDropdownSend").empty();
                
                var html = "";
                $.each(data, function (i, item) {
                    html += '<option value=' + item.UserKey + '> ' + item.UserName + ' </option>'; 
                });
                $("#UserDropdownSend").append(html);
               


            },
            error: function (xhr) {
                console.log('errorr');
            }
        });
        console.log(orgKey);
    }

    function GetUsers(Organization) {
        var orgKey = $(Organization).val();


        $.ajax({
            url: '@Url.Action("GetAccessUsers", "ChatPage")',
            type: 'GET',
            cache: false,
            dataType: 'json',
            data: ({
                orgKey: orgKey
            }),
            contentType: 'application/json; charset=utf-8',
            success: function (data) {

                
                $("#UserDropdownFrom").empty();
                var html = '';
                //var html = '<option value=null>ALL</option>';
                $.each(data, function (i, item) {

                    html += '<option value=' + item.UserKey + '> ' + item.UserName + ' </option>';
                });
              
                $("#UserDropdownFrom").append(html);

                $("#UserDropdownFrom").trigger("change");
            },
            error: function (xhr) {
                console.log('errorr');
            }
        });
        console.log(orgKey);
    }

    function viewcomments(messageid) {
        $.ajax({
            url: '@Url.Action("GetComments", "Home")',
            type: 'GET',
            cache: false,
            dataType: 'text',
            data: ({
                messageid: messageid,
            }),
            contentType: 'application/json; charset=utf-8',
            success: function (data) {
                obj = JSON.parse(data);

                $.each(obj, function (i, item) {

                    var html = '<div class="todo-tasklist-item todo-tasklist-item-border-green">';
                    html += '<div class="todo-tasklist-item-title"> ' + item.Comment + ' </div>';
                    html += '<div class="todo-tasklist-controls pull-left">';
                    html += ' <span class="todo-tasklist-date">';
                    html += ' <i class="fa fa-calendar"></i> ' + item.CommentDate + ''
                    html += '</span>';
                    html += '<span class="todo-tasklist-badge badge badge-roundless">' + item.Username + '</span> '
                    html += '</div>';
                    html += '</div>';


                    $("#commentsdiv").append(html);
                });

                // <div class="todo-tasklist-item todo-tasklist-item-border-green">
                //    <div class="todo-tasklist-item-title"> test </div>
                //    <div class="todo-tasklist-controls pull-left">
                //        <span class="todo-tasklist-date">
                //            <i class="fa fa-calendar"></i> 2017/10/27
                //        </span>
                //        <span class="todo-tasklist-badge badge badge-roundless">adam</span>
                //    </div>
                //</div>

                $('#allcommentsmodal').modal('show');



            },
            error: function (xhr) {
                console.log('errorr');
            }
        });

    }

    $("#closeallcomments").click(function () {
        $("#commentsdiv").html("");

    });

</script>