﻿@{
    Layout = null;
    ViewBag.Title = "";
    var sesionValue = Session["LoginStatus"];
    Session["LoginStatus"] = " ";
    var RegisterError = Session["RegisterError"] == null ? string.Empty : Session["RegisterError"];

    var ManagerPageLoginIndex = Session["ManagerPageLoginIndex"] == null ? string.Empty : Session["ManagerPageLoginIndex"].ToString();

    var FailedLogedInNumber = Session["FailedLogedInNumber"] == null ? string.Empty : Session["FailedLogedInNumber"].ToString();
    var CaptchaMessage = Session["CaptchaMessage"] == null ? string.Empty : Session["CaptchaMessage"];
}



<style type="text/css">

    
    body, h1, h2, h3, h4, h5, h6, p, label, a, input::placeholder {
        
        color: #4783a5 !important;
    }
    body {
        overflow-y: auto;
        overflow-x: hidden;
        width: 100%;
        height: 100%;
    }

    body {
        background: url(../Images/backgrounds/background.jpg) !important;
        background-repeat: no-repeat !important;
        background-size: 100% !important;
    }

    .row {
        direction: rtl;
    }
</style>

<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1" name="viewport" />
    <meta content="Preview page of Metronic Admin Theme #6 for " name="description" />
    <meta content="" name="author" />

    @*<link href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700&subset=all" rel="stylesheet" type="text/css" />*@
    <link href="@Url.Content("~/Content/Css/font-awesome.min.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/Css/simple-line-icons.min.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/Css/bootstrap.min.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/Css/bootstrap-switch.min.css")" rel="stylesheet" type="text/css" />

    <link href="@Url.Content("~/Content/Css/select2.min.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/Css/select2-bootstrap.min.css")" rel="stylesheet" type="text/css" />

    <link href="@Url.Content("~/Content/Css/components-rounded.min.css")" rel="stylesheet" id="style_components" type="text/css" />
    <link href="@Url.Content("~/Content/Css/plugins.min.css")" rel="stylesheet" type="text/css" />

    <link href="@Url.Content("~/Content/Css/login-5.min.css")" rel="stylesheet" type="text/css" />
    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }
    <link rel="shortcut icon" href="favicon.ico" />

    <style>

                /*#trest .backstretch {
                    width:960px !important;
                }*/

                .user-login-5 .login-container > .login-content p {
                    margin-top: 60px;
                }

                .user-login-5 .login-container > .login-content > .login-form {
                    margin-top: 20px !important;
                }

                #overlay {
                    position: fixed;
                    z-index: 99999999999999999999999999999;
                    top: 0;
                    left: 0;
                    bottom: 0;
                    right: 0;
                    /* background: rgb(249, 249, 251); */
                    transition: 1s 0.4s;
                    background: #ffff;
                    /* opacity: 0.8;*/
                }
        @@media
                screen and (max-width:1140px) {
                    #LoginPagePicture{
                        display:none;
                    }
                    .user-login-5 .login-container {
                        min-height: 120vh !important;
                    }
                }

        .user-login-5 .bs-reset{
            padding:25px !important;
        }

        .user-login-5 .login-container {
            min-height: 94vh !important;
        }
       
        @@media screen and (max-width:1380px) {
           
            .user-login-5 .login-container {
                min-height: 125vh !important;
            }
        }

            .user-login-5 .login-container .login-copyright, .user-login-5 .login-container .login-social, .user-login-5 .login-container > .login-content{
                padding:0px !important;
            }
    </style>
</head>
<div id="overlay">
    <div class="col-md-12 col-sm-12 col-xs-12" style="text-align:center;margin-top:15%">
        <img src="@Url.Content("~/images/customgif/Syrian Loader.gif")" alt="Loading" style="width:10%;" />
        <br />
        @*<span style="color:black">@Html.Raw(BaseController.GetFieldLabel(Locale, "_InitialLoaderMsg"))</span>*@
    </div>
</div>

<div class="login">

    <div class="user-login-5">
        <div class="row bs-reset">
            <div class="col-lg-6 col-md-12 col-sm-12  m--hidden-mobile login-container bs-reset mt-login-5-bsfix" id="LoginPagePicture" style="background-image: url('@Url.Content("~/Images/loginbgNew33.png")');background-position: center;background-repeat: no-repeat;background-size: cover;">
                <!--<div class="login-bg" style="background-image:url('@Url.Content("~/Images/bg1.jpg")')" id="trest">-->
                @*<a href='@Url.Action("Index", "Home")'>
                <img style="width:75px;" class="login-logo" src="@Url.Content("~/Images/manbarsilatwasel2.png")" />
            </a>*@
                <!--</div>-->
            </div>
            <div class="col-lg-6 col-md-12 col-sm-12 login-container onMobileChangeSize bs-reset mt-login-5-bsfix" style="background:transparent;padding:0px !important;padding-left:25px!important;">


                <div class="login-container onMobileChangeSize bs-reset mt-login-5-bsfix" style="background-image: url('@Url.Content("~/Images/backgrounds/rec-0.1.png")');background-position: center;background-repeat: no-repeat;background-size: cover;">

                    @*<div class="col-md-12 login-container bs-reset mt-login-5-bsfix" style="background-color:white;">*@

                    <div class="login-content" style="margin-top:0%;">
                        <div style="text-align:center">

                            <img class="goToHomePage" style="width:50%;margin-top:10px;cursor:pointer;" src="@Url.Content("~/Images/LoginLogoPage.png")" />

                        </div>
                        <h1 class="loginInfoItems">تسجيل الدخول</h1>
                        <p style="font-size:18px;" class="loginInfoItems"> أهلاً بك في منظومة الدعم الإداري. الرجاء إدخال المعلومات الخاصة بك لولوج المنظومة</p>
                        <form id="signInContainer" action="@Url.Action("login", "Account", new { ManagerRegisterIndex = ManagerPageLoginIndex })" class="login-form" method="post">
                            @Html.AntiForgeryToken()
                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                            <div class="alert alert-danger display-hide">
                                <button class="close" data-close="alert"></button>
                                <span>أدخل أي اسم مستخدم وكلمة مرور. </span>
                            </div>
                            <div class="row" style="margin-bottom:2%;">
                                <div class="col-xs-6">
                                    <input class="form-control form-control-solid placeholder-no-fix form-group" type="password" autocomplete="off" placeholder="كلمه السر" name="password" tabindex="2" required />
                                </div>
                                <div class="col-xs-6">
                                    <input class="form-control form-control-solid placeholder-no-fix form-group" type="text" autocomplete="off" placeholder="اسم المستخدم" name="Email" tabindex="1" required />
                                </div>
                                <input class="form-control form-control-solid placeholder-no-fix form-group" type="text" autocomplete="off" placeholder="اسم المستخدم" name="ManagerPageLoginIndex" value="@ManagerPageLoginIndex" style="display:none;" />

                                <span style="color:red;font-size: 18px;margin-right: 2%;" id="errorMessage">@sesionValue</span>
                            </div>
                            <div class="row">
                                <div class="col-sm-4" style="text-align:end;">
                                    <div class="rem-password">
                                        <label class="rememberme mt-checkbox mt-checkbox-outline">
                                            <input type="checkbox" name="remember" value="1" />  تذكر حسابي
                                            <span></span>
                                        </label>
                                    </div>
                                </div>
                                <div class="col-sm-8 text-right">

                                    <button class="btn btn-primary" style="box-shadow: 2px 4px 8px #337ab7 !important;" type="submit">تسجيل الدخول</button>

                                    <div class="forgot-password">
                                        <a href="javascript:;" id="forget-password" class="forget-password"> نسيت كلمة المرور؟</a>
                                    </div>
                                </div>
                            </div>
                            <div class="create-account">
                                <p>
                                    لا تملك حسابا حتى الآن ؟
                                    <a id="registerNewAccount"> انشئ حساب </a>
                                </p>
                            </div>

                            @*@if (int.Parse(FailedLogedInNumber) > 5)
                {
                    <div class="row" id="captcha" style="margin-bottom:2%;">
                        <div class="col-xs-6">
                            <div class="g-recaptcha" data-sitekey="6LcaGEIUAAAAACkBf3Wqj9xJgD8pcBRaQgbHjG_H"></div>
                            <label style="color:red;font-size:1.6rem">@CaptchaMessage</label>
                        </div>
                        <div class="col-xs-6">
                        </div>
                    </div>
                }*@
                        </form>

                        <form class="forget-form" action="javascript:;" method="post">
                            <h3 class="font-blue">هل نسيت كلمة المرور ؟</h3>
                            <p> أدخل عنوان البريد الإلكتروني أدناه لإعادة تعيين كلمة المرور. </p>
                            <div class="form-group">
                                <input class="form-control placeholder-no-fix form-group" type="text" autocomplete="off" placeholder="البريد الإلكتروني" name="email" />
                            </div>
                            <div class="form-actions">
                                <button type="button" id="back-btn" class="btn blue btn-outline" style="margin:2px;">الى الخلف</button>
                                <button type="submit" class="btn btn-primary uppercase pull-right" style="margin: 2px; box-shadow: 2px 4px 8px #337ab7 !important;">تسجيل</button>
                            </div>
                        </form>

                        <div id="registerContainer" style="display:none;">
                            @Html.Action("RegisterView", "Account", new { ManagerRegisterIndex = ManagerPageLoginIndex })
                        </div>



                    </div>

                    <div class="row login-footer" style="position:initial;margin-top:20px">
                        <div>
                            <div>
                                <div class="login-copyright text-right">
                                    <p>@*Developed by Global Learning -*@ مشروع  وزارة التنمية الإدارية  @DateTime.Now.Year</p>
                                </div>
                            </div>
                        </div>
                    </div>


                    <!--<div class="row login-footer" style="position:initial;margin-top:20px">
        <div class="row bs-reset ">
            <div class="bs-reset">
                <div class="login-copyright text-right">
                    <p>-->
                    @*Developed by Global Learning -*@
                    <!--مشروع  وزارة التنمية الإدارية  @DateTime.Now.Year</p>
                </div>
            </div>
        </div>
    </div>-->
                    @*</div>*@

                </div>
            </div>

              
            </div>
        </div>

    <script src="@Url.Content("~/Scripts/Metronic/jquery.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/Metronic/bootstrap.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/Metronic/js.cookie.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/Metronic/jquery.slimscroll.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/Metronic/jquery.blockui.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/Metronic/bootstrap-switch.min.js")" type="text/javascript"></script>

    <script src="@Url.Content("~/Scripts/Metronic/jquery.validate.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/Metronic/additional-methods.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/assets/vendors/select2/dist/js/select2.full.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/Metronic/jquery.backstretch.min.js")" type="text/javascript"></script>

    <script src="@Url.Content("~/Scripts/Metronic/app.min.js")" type="text/javascript"></script>

    <script src="@Url.Content("~/Scripts/Metronic/login-5.min.js")" type="text/javascript"></script>
    @*<script src='https://www.google.com/recaptcha/api.js?hl=ar' type="text/javascript"></script>*@
    @*<script src="@Url.Content("~/Scripts/Recaptcha.js")" type="text/javascript"></script>*@


    <script type="text/javascript">

        $(".goToHomePage").click(function () {
            window.location = '@Url.Action("Index","Home")';
        })
        /////////LoaderPart////
        $(window).on('load', function () {
            // setTimeout(function () {
            fadeOutEffect();
            //}, 6000);

            function fadeOutEffect() {

                var fadeTarget = document.getElementById("overlay");
                var fadeEffect = setInterval(function () {
                    if (!fadeTarget.style.opacity) {
                        fadeTarget.style.opacity = 1;
                    }
                    if (fadeTarget.style.opacity > 0) {
                        fadeTarget.style.opacity -= 0.1;
                    } else {
                        clearInterval(fadeEffect);
                    }


                }, 300);

                setTimeout(function () {
                    $(".Body").css("filter", "");

                }, 3000);
                $("#HeaderLogo").fadeIn(6000);

                setTimeout(function () {

                    $("#overlay").remove();
                }, 5000);

            }

        });
        $(document).ready(function(){
            if (@RegisterError.ToString().Length > 0 ) {
                $("#registerNewAccount").click();
            }
        });

        $(document).on('click', '#registerNewAccount', function () {

            $("#signInContainer").hide();
            $(".loginInfoItems").hide();
            $("#registerContainer").show();
        });

        $(document).on('click', '#backToLogin', function () {
            $("#signInContainer").show();
            $(".loginInfoItems").show();
            $("#registerContainer").hide();
        });



    </script>
</div>
</html>
