﻿
@{
    ViewBag.Title = "Register";
    List<SelectListItem> Organisations = ViewData["Organisation"] as List<SelectListItem>;
    var RegisterError = Session["RegisterError"];
    Session["RegisterError"] = string.Empty;

    var UserType = Session["UserType"] == null ? string.Empty : Session["UserType"];
    Session["UserType"] = string.Empty;

    var ManagerRegisterIndex = Session["ManagerRegisterIndex"] == null ? string.Empty : Session["ManagerRegisterIndex"].ToString();


}
<style>
    /* For Firefox */
input[type='number'] {
    -moz-appearance:textfield;
}
/* Webkit browsers like Safari and Chrome */
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
</style>

<link href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700&subset=all" rel="stylesheet" type="text/css" />
<link href="@Url.Content("~/Content/Css/font-awesome.min.css")" rel="stylesheet" type="text/css" />
<link href="@Url.Content("~/Content/Css/simple-line-icons.min.css")" rel="stylesheet" type="text/css" />
<link href="@Url.Content("~/Content/Css/bootstrap.min.css")" rel="stylesheet" type="text/css" />
<link href="@Url.Content("~/Content/Css/bootstrap-switch.min.css")" rel="stylesheet" type="text/css" />
<link href="@Url.Content("~/Content/Css/components.min.css")" rel="stylesheet" id="style_components" type="text/css" />
<link href="@Url.Content("~/Content/Css/plugins.min.css")" rel="stylesheet" type="text/css" />
<link href="@Url.Content("~/Content/Css/login-5.min.css")" rel="stylesheet" type="text/css" />
<link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/vendors/dropify/dist/css/dropify.min.css")">
<script src="@Url.Content("~/Scripts/vendors/dropify/dist/js/dropify.min.js")"></script>
<script src="@Url.Content("~/Scripts/vendors/jquery/jquery.min.js")"></script>
<link href="@Url.Content("~/Content/Css/select2.min.css")" rel="stylesheet" type="text/css" />

<link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/vendors/select2/dist/css/select2.min.css")">
<script src="@Url.Content("~/Scripts/vendors/select2/dist/js/select2.full.min.js")"></script>


<link rel="stylesheet" href="@Url.Content("~/Content/ClaimPage/vendors/dropify/dist/css/dropify.min.css")" />
<script src="@Url.Content("~/Content/ClaimPage/vendors/dropify/dist/js/dropify.min.js")" type="text/javascript"> </script>


<link rel="shortcut icon" href="favicon.ico" />
<style>
    .select2-container--default .select2-selection--single .select2-selection__rendered {
        color: #4783a5;
    }
    .select2 select2-container select2-container--default select2-container--below select2-container--focus {
        width: 100px !important;
    }
</style>

<div class="modal fade in" id="SecretNumberModal" tabindex="-1" aria-hidden="true" style="display: none; padding-right: 17px;">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header" dir="rtl">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                <h4 class="modal-title" id="usertochangepassword">  الرقم السري الذي تلقيته  : </h4>
            </div>
            <div class="modal-body">

                <div class="form-group row">
                    <div class="col-md-9 col-sm-9 col-xs-9">
                        <input type="password" class="form-control passwordinput" dir="rtl" placeholder="الرقم السري الذي تلقيته" id="secretpassword">
                    </div>
                    <div class="col-md-2 col-sm-2 col-xs-2">
                        <label class="form-control-label" for="l0"> الرقم السري: </label>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" id="registerAfterSecretPassword" class="btn blue">تسجيل</button>

                <button type="button" class="btn dark btn-outline" data-dismiss="modal">إغلاق </button>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-12">

        <form class="register-form" action="@Url.Action("Register", "Account")" method="post" id="MyForm" enctype="multipart/form-data">
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            @*<div class="pull-left"> <i id="backToLogin" class="fa fa-arrow-circle-left fa-2x" style="color:#337ab7;cursor:pointer;" aria-hidden="true"></i></div>*@
            <h1 style="color:#4e5a64;font-size:30px;" class="registerTitle"> سجل حساب</h1>
            <div style="float:left;">
               

                  @{

                      if (ManagerRegisterIndex != "True")
                      {
                        <select id="naw3eltasjil">
                            @if (UserType.ToString() == "موظف")
                            {
                            <option value="مواطن">مواطن</option>
                            <option selected value="موظف">موظف</option>
                            }
                            else
                            {
                            <option selected value="مواطن">مواطن</option>
                            <option value="موظف">موظف</option>
                            }
                            }
                        </select>

                      }
                   
                }


            </div>
            <p dir="rtl">  أدخل تفاصيل حسابك أدناه : </p>
            <div class="row" style="display:none;">
                <div class="form-group col-lg-6">
                    <label class="control-label visible-ie8 visible-ie9">UserType</label>
                    <div class="input-icon">
                        <i class="fa fa-phone"></i>
                        <input class="form-control placeholder-no-fix" dir="rtl" type="text" placeholder="رقم الهاتف" name="UserType" id="UserType" />
                    </div>
                </div>
                <div class="form-group col-lg-6">
                    <label class="control-label visible-ie8 visible-ie9" dir="rtl">Organisation</label>
                    <div class="input-icon">
                        <i class="fa fa-user"></i>
                        <input class="form-control placeholder-no-fix" type="text" autocomplete="off" placeholder="اسم المستخدم" name="Organisation" dir="rtl" id="UserOrganisation"/>
                    </div>
                </div>

            </div>

            <div class="row">
                <div class="form-group col-lg-6">
                    <label class="control-label visible-ie8 visible-ie9">Phone Number</label>
                    <div class="input-icon">
                        <i class="fa fa-phone"></i>
                        <input class="form-control placeholder-no-fix" dir="rtl" type="number" placeholder="رقم الهاتف" name="PhoneNumber" />
                    </div>
                </div>
                <div class="form-group col-lg-6">
                    <label class="control-label visible-ie8 visible-ie9" dir="rtl">Username</label>
                    <div class="input-icon">
                        <i class="fa fa-user"></i>
                        <input class="form-control placeholder-no-fix" type="text" autocomplete="off" placeholder="اسم المستخدم" name="UserName" dir="rtl" />
                    </div>
                </div>


                <div class="form-group col-lg-6">
                    <label class="control-label visible-ie8 visible-ie9" dir="rtl">الجنس</label>

                    <input type="radio" name="Sex" value="ذكر"> ذكر
                    <input type="radio" name="Sex" value="أنثى"> أنثى

                </div>
                <div class="form-group col-lg-6">
                    <label class="control-label visible-ie8 visible-ie9" dir="rtl">الكنية</label>
                    <div class="input-icon">
                        <i class="fa fa-user"></i>
                        <input class="form-control placeholder-no-fix" type="text" autocomplete="off" placeholder="الكنية" name="LastName" dir="rtl" />
                    </div>
                </div>


                <div class="form-group col-lg-6 mouwazaf" style="display:none;">
                    <label class="control-label visible-ie8 visible-ie9" dir="rtl">رقم الهاتف الجوال</label>
                    <div class="input-icon">
                        <i class="fa fa-pencil"></i>
                        <input class="form-control placeholder-no-fix" type="number" autocomplete="off" placeholder="رقم الهاتف الجوال" name="MobileNumber" dir="rtl" />
                    </div>
                </div>
                <div class="form-group col-lg-6">
                    <label class="control-label visible-ie8 visible-ie9" dir="rtl">رقم بطاقة ألهوية</label>
                    <div class="input-icon">
                        <i class="fa fa-pencil"></i>
                        <input class="form-control placeholder-no-fix" type="number" autocomplete="off" placeholder="رقم بطاقة ألهوية" name="SSN" dir="rtl" />
                    </div>
                </div>
                <div class="form-group col-lg-6">
                    <label class="control-label visible-ie8 visible-ie9" dir="rtl">Email</label>
                    <div class="input-icon">
                        <i class="fa fa-envelope"></i>
                        <input class="form-control placeholder-no-fix" type="text" autocomplete="off" placeholder="البريد الالكتروني" name="Email" dir="rtl" id="Email" />
                    </div>
                </div>


                <div class="form-group col-lg-6 mouwazaf">
                    <label class="control-label visible-ie8 visible-ie9" dir="rtl">سنوات الخدمة</label>
                    <div class="input-icon">
                        @*<i class="fa fa-lock"></i>*@
                        <input class="form-control placeholder-no-fix" type="number" autocomplete="off" placeholder="سنوات الخدمة" name="YearsOfDuty" dir="rtl" />
                    </div>
                </div>
                <div class="form-group col-lg-6 mouwazaf makanAmal">
                    <label class="control-label visible-ie8 visible-ie9" dir="rtl"> مكان العمل</label>

                    <div class="controls">
                        <div class="input-icon" style="text-align: right">
                            @*<i class="fa fa-check"></i>*@

                            @Html.DropDownList("Organisations", Organisations, "مكان العمل", new { @class = "inputcolor form-control placeholder-no-fix Organisations" })
                        </div>
                    </div>
                </div>


                <div class="form-group col-lg-6 mouwazaf" style="display:none;">

                    <label class="control-label visible-ie8 visible-ie9" dir="rtl">secret number</label>
                    <div class="controls">
                        <input class="form-control placeholder-no-fix" type="text" autocomplete="off" placeholder="الرقم السري الذي تلقيته" name="SecretNumber" dir="rtl" id="secretNumber" />
                    </div>

                </div>






                <div class="form-group col-lg-12 mouawaten">
                    <label class="control-label visible-ie8 visible-ie9" dir="rtl">Photo</label>
                    <div class="controls">
                        <input type="file" class="dropify" name="UserImage" accept="image/*;capture=camera" data-allowed-file-extensions="jpg png" />

                        @*<div class="dropify-wrapper" style="height:15%;"><div class="dropify-message"><span class="file-icon"></span> <p> سحب وإسقاط صورة ألهوية </p><p class="dropify-error">Ooops, something wrong appended.</p></div><div class="dropify-loader"></div><div class="dropify-errors-container"><ul></ul></div><input type="file" class="dropify"><button type="button" class="dropify-clear">Remove</button><span class="dropify-render"></span><div class="dropify-infos"><div class="dropify-infos-inner"><p class="dropify-filename"><span class="file-icon"></span> <span class="dropify-filename-inner"></span></p><p class="dropify-infos-message">Drag and drop or click to replace</p></div></div></div>*@
                    </div>
                </div>




                <div class="form-group col-lg-6">
                    <label class="control-label visible-ie8 visible-ie9" dir="rtl">Re-type Your Password</label>
                    <div class="controls">
                        <div class="input-icon">
                            <i class="fa fa-check"></i>
                            <input class="form-control placeholder-no-fix" type="password" autocomplete="off" placeholder="أعد كتابة كلمة السر" name="ConfirmPassword" dir="rtl" id="ConfirmPassword" />
                            <span class="PasswordError" style="color:red;"></span>
                        </div>
                    </div>
                </div>
                <div class="form-group col-lg-6">
                    <label class="control-label visible-ie8 visible-ie9" dir="rtl">Password</label>
                    <div class="input-icon">
                        <i class="fa fa-lock"></i>
                        <input class="form-control placeholder-no-fix" type="password" autocomplete="off" id="register_password" placeholder="كلمه السر" name="password" dir="rtl" />
                        <span class="PasswordError" style="color:red;"></span>
                    </div>
                </div>

            </div>

            
               
            
            <div>
               
                <span style="color:red;font-size:18px;">@RegisterError</span>

            </div>
         
            
         
            <div class="registerMouwaten" style="display: none; margin: auto;">
                <button type="submit" id="register-submit-btn" class="btn btn-primary" dir="rtl" style="width: 60px; text-align: center; box-shadow: 2px 4px 8px #337ab7 !important;"> تسجيل </button>
                <button type="button" id="backToLogin" class="btn blue btn-outline" style="margin:2px;">الى الخلف</button>
            </div>
          
            
        </form>

        <div class="row form-actions registerMouwazaf" style="display:none;margin:auto;">

            <button @*type="submit"*@ id="registerMouwazaf" class="btn btn-primary" dir="rtl" style="width: 60px; text-align: center; box-shadow: 2px 4px 8px #337ab7 !important;"> تسجيل </button>
            <button type="button" id="backToLogin" class="btn blue btn-outline" style="margin:2px;">الى الخلف</button>
        </div>
    </div>

</div>

<script>
    $("select").select2();
    $("select").select2({ width: '100%' });   

    $("#UserType").val($("#naw3eltasjil").val());
    if ($("#naw3eltasjil").val() == "موظف") {
        $("#UserType").val("موظف");
        $(".mouwazaf").css("display", "block");
        
        $(".mouawaten").css("display", "none");
        $(".registerMouwaten").css("display", "none");

    } else if ($("#naw3eltasjil").val() == "مواطن") {
        $("#UserType").val("مواطن");
        $(".mouwazaf").css("display", "none");
        $(".mouawaten").css("display", "block");
        $(".registerMouwaten").css("display", "block");
    }else{
        $("#UserType").val("موظف");
        $(".mouwazaf").css("display", "block");
        $(".mouwazaf").last().css("display", "none");
        $(".mouawaten").css("display", "none");
        $(".registerMouwaten").css("display", "none");
        $(".registerMouwazaf").css("display", "block");
        $(".makanAmal").addClass("col-lg-12");
        $(".makanAmal").removeClass("col-lg-6");
        
    }
    $("#UserOrganisation").val($("#Organisations").val());
    $("#naw3eltasjil").select2({ width: '100%' });
    $('.dropify').dropify();
    $('.dropify-message').html("<span class='file-icon'></span> <p>سحب وإسقاط صورة ألهوية</p><p class='dropify-error'>Ooops, something wrong appended.</p>");
    

    $("#naw3eltasjil").change(function () {

        if ($(this).val() == "موظف") {
            $("#UserType").val("موظف");
            $(".mouwazaf").css("display", "block");
            $(".mouawaten").css("display", "none");
            $(".registerMouwazaf").css("display", "block");
            $(".registerMouwaten").css("display", "none");

        } else if ($(this).val() == "مواطن") {
            $("#UserType").val("مواطن");
            $(".mouwazaf").css("display", "none");
            $(".mouawaten").css("display", "block");
            $(".registerMouwaten").css("display", "block");
            $(".registerMouwazaf").css("display", "none");

            
        }

    });

    $("#registerMouwazaf").click(function(){
       
        $('#SecretNumberModal').modal('show');
    });

    $("#registerAfterSecretPassword").click(function(){
       secretNumber =  $("#secretpassword").val();

       $("#secretNumber").val(secretNumber);
        
       $("#register-submit-btn").click();

    });

    

    $("#Organisations").change(function () {
        $("#UserOrganisation").val($("#Organisations").val());
    });

    $(document).ready(function(){
        if (@Session["RegisterError"].ToString().Length > 0 ) {
            $("#registerNewAccount").click();
        }

        @*if(@UserType.ToString()== "موظف"){*@
            @*UserType = '@UserType';
            alert(UserType);
            console.log(UserType);
           $("#naw3eltasjil").val(UserType).trigger('change');*@

        //    $("#UserType").val("موظف");
        //    $(".mouwazaf").css("display", "block");
        //    $(".mouawaten").css("display", "none");

        //}
    });

    $("#registerFromTable").click(function () {
            $.ajax({
                url: '@Url.Action("SetLog", "Home")',
                type: 'GET',
                cache: false,
                dataType: 'text',
                data: ({
                    source: source,
                    title: title,
                    message: message

                }),
                contentType: 'application/json; charset=utf-8',
                success: function (data) {

                    console.log("Logging done !!!!");
                },
                error: function (xhr) {
                    console.log('errorr');
                }
            });
    })

</script>

<script src="@Url.Content("~/Scripts/Metronic/jquery.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/Metronic/bootstrap.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/Metronic/js.cookie.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/Metronic/jquery.slimscroll.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/Metronic/jquery.blockui.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/Metronic/bootstrap-switch.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/Metronic/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/Metronic/additional-methods.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/Metronic/jquery.backstretch.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/Metronic/app.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/Metronic/login-5.min.js")" type="text/javascript"></script>