﻿@using MoAD.WebApplication.Models
@model LoginViewModel
@{
    ViewBag.Title = "Log in";
    Layout = null;
    HttpCookie languageCookie = Request.Cookies["Language"];
    var InitialDirection = "rtl";
    if (languageCookie != null && languageCookie.Value != "3")
    {
        InitialDirection = "ltr";
    }
}

<head>

    <link rel="apple-touch-icon" sizes="180x180" href="@Url.Content("~/assets/app/media/img/favicon/apple-touch-icon.png")">
    <link rel="icon" type="image/png" sizes="32x32" href="@Url.Content("~/assets/app/media/img/favicon/favicon-32x32.png")">
    <link rel="icon" type="image/png" sizes="16x16" href="@Url.Content("~/assets/app/media/img/favicon/favicon-16x16.png")">
    <link rel="manifest" href="@Url.Content("~/assets/app/media/img/favicon/site.webmanifest")">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">

    @*<link rel="apple-touch-icon" sizes="57x57" href="~/FavIcon/apple-icon-57x57.png">
        <link rel="apple-touch-icon" sizes="60x60" href="~/FavIcon/apple-icon-60x60.png">
        <link rel="apple-touch-icon" sizes="72x72" href="~/FavIcon/apple-icon-72x72.png">
        <link rel="apple-touch-icon" sizes="76x76" href="~/FavIcon/apple-icon-76x76.png">
        <link rel="apple-touch-icon" sizes="114x114" href="~/FavIcon/apple-icon-114x114.png">
        <link rel="apple-touch-icon" sizes="120x120" href="~/FavIcon/apple-icon-120x120.png">
        <link rel="apple-touch-icon" sizes="144x144" href="~/FavIcon/apple-icon-144x144.png">
        <link rel="apple-touch-icon" sizes="152x152" href="~/FavIcon/apple-icon-152x152.png">
        <link rel="apple-touch-icon" sizes="180x180" href="~/FavIcon/apple-icon-180x180.png">
        <link rel="icon" type="image/png" sizes="192x192" href="~/FavIcon/android-icon-192x192.png">
        <link rel="icon" type="image/png" sizes="32x32" href="~/FavIcon/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="96x96" href="~/FavIcon/favicon-96x96.png">
        <link rel="icon" type="image/png" sizes="16x16" href="~/FavIcon/favicon-16x16.png">
        <link rel="manifest" href="~/FavIcon/manifest.json">
        <meta name="msapplication-TileColor" content="#ffffff">
        <meta name="msapplication-TileImage" content="~/FavIcon/ms-icon-144x144.png">*@
    <title>منظومة الدعم الإداري</title>

    @if (InitialDirection == "rtl")
    {
        <style>
             @@font-face {
            font-family: 'ge_dinar_onemedium';
            src: url('@Url.Content("~/assets/vendors/Fonts/GE Dinar One Medium.ttf")') format('truetype'), url('@Url.Content("~/assets/vendors/Fonts/ge-dinar-one-medium-webfont.woff2")') format('woff2'), url('@Url.Content("~/assets/vendors/Fonts//ge-dinar-one-medium-webfont.woff")') format('woff');
            font-weight: normal;
            font-style: normal;
        }

            body, h1, h2, h3, h4, h5, h6, input {
                font-family: 'ge_dinar_onemedium' !important;
            }


            .sm-blue a, .sm-blue a:hover, .sm-blue a:focus, .sm-blue a:active {
                font-family: 'ge_dinar_onemedium' !important;
            }

            button, a {
                font-family: 'ge_dinar_onemedium' !important;
            }

        </style>
    }
    else
    {
        <style>
            body, h1, h2, h3, h4, h5, h6, input {
                font-family: "Gill Sans", sans-serif !important;
            }

            ul a {
                cursor: pointer;
            }

            .sm-blue a, .sm-blue a:hover, .sm-blue a:focus, .sm-blue a:active {
                font-family: "Gill Sans", sans-serif !important;
            }

            button, a {
                font-family: "Gill Sans", sans-serif !important;
            }
        </style>
    }
    <style>
        @@media (max-width: 768px) {
            .m--visible-mobile {
                display: block !important;
            }

            .m--visible-mobile-inline-block {
                display: inline-block !important;
            }

            .m--visible-mobile-inline {
                display: inline !important;
            }

            .m--visible-mobile-table {
                display: table !important;
            }

            .m--visible-mobile-table-cell {
                display: table-cell !important;
            }

            .m--hidden-mobile {
                display: none !important;
            }

            .onMobileChangeSize {
                background-size: 95% 100% !important;
            }

            .user-login-5 .login-container > .login-content > h1 {
                font-size: 24px !important;
            }

            .registerTitle {
                font-size: 24px !important;
            }

            .goToHomePage {
                width: 100% !important;
                margin-top: 0px !important;
            }
        }
    </style>
</head>

@*<h2>@ViewBag.Title.</h2>*@

@*<div class="col-md-8">
    <section id="loginForm">
        @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
        {
            @Html.AntiForgeryToken()
            <h4>Use a local account to log in.</h4>
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group">
                @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })
                <div class="col-md-10">
                    @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.Password, new { @class = "col-md-2 control-label" })
                <div class="col-md-10">
                    @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <div class="checkbox">
                        @Html.CheckBoxFor(m => m.RememberMe)
                        @Html.LabelFor(m => m.RememberMe)
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Log in" class="btn btn-default" />
                </div>
            </div>
            <p>
                @Html.ActionLink("Register as a new user", "Register")
            </p>
            @* Enable this once you have account confirmation enabled for password reset functionality
                <p>
                    @Html.ActionLink("Forgot your password?", "ForgotPassword")
                </p>*@
@*   }
        </section>
    </div>
    <div class="col-md-4">
        <section id="socialLoginForm">
            @Html.Partial("_ExternalLoginsListPartial", new ExternalLoginListViewModel { ReturnUrl = ViewBag.ReturnUrl })
        </section>
    </div>*@

@Html.Partial("_LoginNew", new ViewDataDictionary { { "returnUrl", ViewBag.ReturnUrl } })

@*@Html.Partial("_Login", new ViewDataDictionary { { "returnUrl", ViewBag.ReturnUrl } })*@