﻿
@{
    Layout = "~/Views/Shared/_LayoutInitialPage.cshtml";
    List<SelectListItem> Organisations = ViewData["Organisation"] as List<SelectListItem>;
    var RegisterError = Session["RegisterError"];
    Session["RegisterError"] = string.Empty;
}


<style>
    .select2 select2-container select2-container--default select2-container--below select2-container--focus {
        width: 100px !important;
    }
</style>
<div class="row">
    <div class="col-lg-12">

        <form class="register-form" action="@Url.Action("RegisterAdmin", "Account")" method="post" id="MyForm" enctype="multipart/form-data">
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <h1 style="color:#4e5a64;text-align:center;">  أضف حساب </h1>
            <div style="float:left;">
                <select id="naw3eltasjil">
                    <option>مواطن</option>
                    <option>موظف</option>

                </select>
            </div>
            <p dir="rtl">  أدخل تفاصيل الحساب  : </p>
            <div class="row" style="display:none;">
                <div class="form-group col-lg-6">
                    <label class="control-label visible-ie8 visible-ie9">UserType</label>
                    <div class="input-icon">
                        <i class="fa fa-phone"></i>
                        <input class="form-control placeholder-no-fix" dir="rtl" type="text" placeholder="رقم الهاتف" name="UserType" id="UserType" />
                    </div>
                </div>
                <div class="form-group col-lg-6">
                    <label class="control-label visible-ie8 visible-ie9" dir="rtl">Organisation</label>
                    <div class="input-icon">
                        <i class="fa fa-user"></i>
                        <input class="form-control placeholder-no-fix" type="text" autocomplete="off" placeholder="اسم المستخدم" name="Organisation" dir="rtl" id="UserOrganisation" />
                    </div>
                </div>

            </div>
            <div class="row">
                <div class="form-group col-lg-6">
                    <label class="control-label visible-ie8 visible-ie9">Phone Number</label>
                    <div class="input-icon">
                        <i class="fa fa-phone"></i>
                        <input class="form-control placeholder-no-fix" dir="rtl" type="number" placeholder="رقم الهاتف" name="PhoneNumber" />
                    </div>
                </div>
                <div class="form-group col-lg-6">
                    <label class="control-label visible-ie8 visible-ie9" dir="rtl">Username</label>
                    <div class="input-icon">
                        <i class="fa fa-user"></i>
                        <input class="form-control placeholder-no-fix" type="text" autocomplete="off" placeholder="اسم المستخدم" name="UserName" dir="rtl" />
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="form-group col-lg-6" style="text-align:right;">
                    <label class="control-label visible-ie8 visible-ie9" dir="rtl">الجنس</label>

                    <input type="radio" name="Sex" value="ذكر"> ذكر
                    <input type="radio" name="Sex" value="أنثى"> أنثى

                </div>
                <div class="form-group col-lg-6">
                    <label class="control-label visible-ie8 visible-ie9" dir="rtl">إسم العائلة</label>
                    <div class="input-icon">
                        <i class="fa fa-user"></i>
                        <input class="form-control placeholder-no-fix" type="text" autocomplete="off" placeholder="إسم العائلة" name="LastName" dir="rtl" />
                    </div>
                </div>

            </div>
            <div class="row">
                <div class="form-group col-lg-6 mouwazaf" style="display:none;">
                    <label class="control-label visible-ie8 visible-ie9" dir="rtl">رقم الهاتف المتحرك</label>
                    <div class="input-icon">
                        <i class="fa fa-pencil"></i>
                        <input class="form-control placeholder-no-fix" type="number" autocomplete="off" placeholder="رقم الهاتف المتحرك" name="MobileNumber" dir="rtl" />
                    </div>
                </div>
                <div class="form-group col-lg-6">
                    <label class="control-label visible-ie8 visible-ie9" dir="rtl">رقم بطاقات ألهوية</label>
                    <div class="input-icon">
                        <i class="fa fa-pencil"></i>
                        <input class="form-control placeholder-no-fix" type="number" autocomplete="off" placeholder="رقم بطاقات ألهوية" name="SSN" dir="rtl" />
                    </div>
                </div>
                <div class="form-group col-lg-6">
                    <label class="control-label visible-ie8 visible-ie9" dir="rtl">Email</label>
                    <div class="input-icon">
                        <i class="fa fa-envelope"></i>
                        <input class="form-control placeholder-no-fix" type="text" autocomplete="off" placeholder="البريد الالكتروني" name="Email" dir="rtl" id="Email" />
                    </div>
                </div>
            </div>
            <div class="row mouwazaf" style="display:none;">
                <div class="form-group col-lg-6">
                    <label class="control-label visible-ie8 visible-ie9" dir="rtl">سنوات الخدمة</label>
                    <div class="input-icon">
                        @*<i class="fa fa-lock"></i>*@
                        <input class="form-control placeholder-no-fix" type="number" autocomplete="off" placeholder="سنوات الخدمة" name="YearsOfDuty" dir="rtl" />
                    </div>
                </div>
                <div class="form-group col-lg-6">
                    <label class="control-label visible-ie8 visible-ie9" dir="rtl">الجهة التي يعمل بها </label>
                    <div class="controls">
                        <div class="input-icon" style="text-align: right">
                            @*<i class="fa fa-check"></i>*@
                            @Html.DropDownList("Organisations", Organisations, new { @class = "inputcolor form-control placeholder-no-fix Organisations" })
                        </div>
                    </div>
                </div>


            </div>
            <div class="row">
                <div class="form-group col-lg-6">
                    <label class="control-label visible-ie8 visible-ie9" dir="rtl">Re-type Your Password</label>
                    <div class="controls">
                        <div class="input-icon">
                            <i class="fa fa-check"></i>
                            <input class="form-control placeholder-no-fix" type="password" autocomplete="off" placeholder="أعد كتابة كلمة السر" name="ConfirmPassword" dir="rtl" id="ConfirmPassword" />
                            <span class="PasswordError" style="color:red;"></span>
                        </div>
                    </div>
                </div>
                <div class="form-group col-lg-6">
                    <label class="control-label visible-ie8 visible-ie9" dir="rtl">Password</label>
                    <div class="input-icon">
                        <i class="fa fa-lock"></i>
                        <input class="form-control placeholder-no-fix" type="password" autocomplete="off" id="register_password" placeholder="كلمه السر" name="password" dir="rtl" />
                        <span class="PasswordError" style="color:red;"></span>
                    </div>
                </div>

            </div>
            <div class="row mouawaten">
                <div class="form-group col-lg-6">
                </div>
                <div class="form-group col-lg-6">
                    <label class="control-label visible-ie8 visible-ie9" dir="rtl">Photo</label>
                    <div class="controls">
                        <input type="file" class="dropify" name="UserImage" accept="image/*;capture=camera" />

                        @*<div class="dropify-wrapper" style="height:15%;"><div class="dropify-message"><span class="file-icon"></span> <p> سحب وإسقاط صورة ألهوية </p><p class="dropify-error">Ooops, something wrong appended.</p></div><div class="dropify-loader"></div><div class="dropify-errors-container"><ul></ul></div><input type="file" class="dropify"><button type="button" class="dropify-clear">Remove</button><span class="dropify-render"></span><div class="dropify-infos"><div class="dropify-infos-inner"><p class="dropify-filename"><span class="file-icon"></span> <span class="dropify-filename-inner"></span></p><p class="dropify-infos-message">Drag and drop or click to replace</p></div></div></div>*@
                    </div>
                </div>
                @*<div class="form-group col-lg-6">

                            <label class="control-label visible-ie8 visible-ie9" dir="rtl">secret number</label>
                            <div class="controls">
                                <input class="form-control placeholder-no-fix" type="text" autocomplete="off" placeholder="الرقم السري الذي تلقيته" name="SecretNumber" dir="rtl" />
                            </div>

                    </div>*@
            </div>

            <div class="row mouwazaf" style="display:none">
                <div class="form-group col-lg-6">
                </div>
                <div class="form-group col-lg-6">

                    <label class="control-label visible-ie8 visible-ie9" dir="rtl">secret number</label>
                    <div class="controls">
                        <input class="form-control placeholder-no-fix" type="text" autocomplete="off" placeholder="الرقم السري الذي تلقيته" name="SecretNumber" dir="rtl" />
                    </div>

                </div>
            </div>
            <span style="color:red;font-size:18px;float:right;">@RegisterError</span>
            <div class="form-actions pull-left col-md-2">
                @*<span style="color:red;" id="EmptyMessage">الرجاء تعبئة جميع المعلومات</span>*@

                <button type="submit" id="register-submit-btn register" class="btn btn-primary" dir="rtl" style="width:100%;padding-left:0;margin-left:0;" > تسجيل </button>
            </div>
        </form>
    </div>

</div>

<script>

    $("#UserType").val($("#naw3eltasjil").val());
    $("#UserOrganisation").val($("#Organisations").val());
    $("select").select2({ width: '100%' });
    $('.dropify').dropify();
    $('.dropify-message').html("<span class='file-icon'></span> <p>سحب وإسقاط صورة ألهوية</p><p class='dropify-error'>Ooops, something wrong appended.</p>");

    $("#naw3eltasjil").change(function () {

        if ($(this).val() == "موظف") {
            $("#UserType").val("موظف");
            $(".mouwazaf").css("display", "block");
            $(".mouawaten").css("display", "none");

        } else if ($(this).val() == "مواطن") {
            $("#UserType").val("مواطن");
            $(".mouwazaf").css("display", "none");
            $(".mouawaten").css("display", "block");
        }

    });

    $("#Organisations").change(function () {
        $("#UserOrganisation").val($("#Organisations").val());
    });

    $(document).ready(function(){
        if (@Session["RegisterError"].ToString().Length > 0 ) {
            $("#registerNewAccount").click();
        }
    });

</script>