﻿@{
    Layout = null;
    HttpCookie languageCookie = Request.Cookies["Language"];
    var InitialDirection = "rtl";
    if (languageCookie != null && languageCookie.Value != "3")
    {
        InitialDirection = "ltr";
    }
}

<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>المؤسسات الأكثر إستجابة للمواطن</title>


    <link href="@Url.Content("~/scripts/top10orgs/top10.css")" rel="stylesheet" />
    <link href="@Url.Content("~/scripts/top10orgs/top10(1).css")" rel="stylesheet" />
    <link href="@Url.Content("~/scripts/top10orgs/top10(2).css")" rel="stylesheet" />

    <link rel="apple-touch-icon" sizes="180x180" href="@Url.Content("~/assets/app/media/img/favicon/apple-touch-icon.png")">
    <link rel="icon" type="image/png" sizes="32x32" href="@Url.Content("~/assets/app/media/img/favicon/favicon-32x32.png")">
    <link rel="icon" type="image/png" sizes="16x16" href="@Url.Content("~/assets/app/media/img/favicon/favicon-16x16.png")">
    <link rel="manifest" href="@Url.Content("~/assets/app/media/img/favicon/site.webmanifest")">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">
    @if (InitialDirection == "rtl")
    {


        <style>
             @@font-face {
            font-family: 'ge_dinar_onemedium';
            src: url('@Url.Content("~/assets/vendors/Fonts/GE Dinar One Medium.ttf")') format('truetype'), url('@Url.Content("~/assets/vendors/Fonts/ge-dinar-one-medium-webfont.woff2")') format('woff2'), url('@Url.Content("~/assets/vendors/Fonts//ge-dinar-one-medium-webfont.woff")') format('woff');
            font-weight: normal;
            font-style: normal;
        }

            body, h1, h2, h3, h4, h5, h6, input {
                font-family: 'ge_dinar_onemedium' !important;
            }


            .sm-blue a, .sm-blue a:hover, .sm-blue a:focus, .sm-blue a:active {
                font-family: 'ge_dinar_onemedium' !important;
            }

            button, a {
                font-family: 'ge_dinar_onemedium' !important;
            }

        </style>
    }
    else
    {
        <style>
            body, h1, h2, h3, h4, h5, h6, input {
                font-family: "Gill Sans", sans-serif !important;
            }



            .sm-blue a, .sm-blue a:hover, .sm-blue a:focus, .sm-blue a:active {
                font-family: "Gill Sans", sans-serif !important;
            }

            button, a {
                font-family: "Gill Sans", sans-serif !important;
            }
        </style>
    }
    <style>
        
     @@media only screen and (max-width: 1120px) {
        .specialSpan {
            font-size: 16px !important;
        }

          #h1 {
        font-size: 74px !important;
    }
}
     a{
         color:black !important;
     }

        html, body {
            height: 100%;
            padding: 0;
            margin: 0;
        }

        body {
            background-image: url("@Url.Content("~/Images/backgroundTop10White.jpg")");
            background-repeat: no-repeat;
            background-attachment: fixed;
            background-position: left;
            background-size:50%;
            /* background: #fff;*/
           
        }

        .js-transitions-disabled * {
            -webkit-transition: none !important;
            transition: none !important;
        }

        .carousel {
            position: relative;
            height: 100%;
            overflow: hidden;
            -webkit-perspective: 50vw;
            perspective: 50vw;
            -webkit-perspective-origin: 50% 50%;
            perspective-origin: 50% 50%;
        }

        .carousel__control {
            position: absolute;
            height: 160px;
            width: 40px;
            background: #fff;
            right: 0;
            top: 0;
            bottom: 0;
            margin: auto;
            z-index: 1;
        }

            .carousel__control a {
                position: relative;
                display: block;
                width: 100%;
                padding-top: 75%;
                box-sizing: border-box;
            }


                .carousel__control a:hover:before {
                    background-color: rgba(0,0,0,0.4);
                }

                .carousel__control a.active:before, .carousel__control a.active:hover:before {
                   /* background-color: rgba(0,0,0,0.6);*/

                }

                .carousel__control a:first-child {
                    margin-top: 15px;
                }

                .carousel__control a:before {
                    position: absolute;
                    top: 50%;
                    left: 0;
                    right: 0;
                    /*margin: auto;*/
                   /* border-radius: 50%;*/
                    padding-top: 25%;
                    width: 63%;
                    height:56%;
                 /*   background: rgba(0,0,0,0.2);*/
                    content: '';
                    display: block;
                    margin-top: -12.5%;
                }


        .carousel__stage {
            position: absolute;
            top: 20px;
            bottom: 20px;
            left: 20px;
            right: 20px;
            margin: auto;
            -webkit-transform-style: preserve-3d;
            transform-style: preserve-3d;
            -webkit-transform: translateZ(calc(-50vh + 20px));
            transform: translateZ(calc(-50vh + 20px));
        }

        .spinner {
            position: absolute;
            width: calc(50vw - (20px));
            height: calc(100vh - 40px);
            top: 0;
            left: 0;
            right: auto;
            bottom: 0;
            margin: auto;
            -webkit-transform-style: preserve-3d;
            transform-style: preserve-3d;
            -webkit-transition: -webkit-transform 1s;
            transition: -webkit-transform 1s;
            transition: transform 1s;
            transition: transform 1s, -webkit-transform 1s;
            -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
            -webkit-transform-origin: 50% 50%;
            transform-origin: 50% 50%;
            -webkit-transform: rotateX(0);
            transform: rotateX(0);
        }

        .js-spin-fwd .spinner {
            -webkit-transform: rotateX(-90deg);
            transform: rotateX(-90deg);
        }

        .js-spin-bwd .spinner {
            -webkit-transform: rotateX(90deg);
            transform: rotateX(90deg);
        }

        .js-spin-fwd .spinner--right {
            -webkit-transform: rotateX(90deg);
            transform: rotateX(90deg);
        }

        .js-spin-bwd .spinner--right {
            -webkit-transform: rotateX(-90deg);
            transform: rotateX(-90deg);
        }

        .spinner--left {
            right: 0;
            left: auto;
        }

        .spinner__face {
            display: none;
            position: absolute;
            width: 100%;
            height: 100%;
            overflow: hidden;
        }

            .spinner__face.js-next {
                display: block;
                -webkit-transform: rotateX(90deg) translateZ(calc(50vh - 20px));
                transform: rotateX(90deg) translateZ(calc(50vh - 20px));
            }

        .spinner--right .spinner__face.js-next {
            -webkit-transform: rotateX(270deg) translateZ(calc(50vh - 20px));
            transform: rotateX(270deg) translateZ(calc(50vh - 20px));
        }

        .js-spin-bwd .spinner__face.js-next {
            -webkit-transform: rotateX(-90deg) translateZ(calc(50vh - 20px));
            transform: rotateX(-90deg) translateZ(calc(50vh - 20px));
        }

        .js-spin-bwd .spinner--right .spinner__face.js-next {
            -webkit-transform: rotateX(-270deg) translateZ(calc(50vh - 20px));
            transform: rotateX(-270deg) translateZ(calc(50vh - 20px));
        }

        .js-active {
            display: block;
            -webkit-transform: translateZ(calc(50vh - 20px));
            transform: translateZ(calc(50vh - 20px));
        }

        .content {
            position: absolute;
            width: 200%;
            height: 100%;
            left: 0;
        }

        .spinner--right .content {
            left: -100%;
        }

        .content__left, .content__right {
            position: absolute;
            left: 0;
            top: 0;
            width: 50%;
            height: 100%;
        }

        .content__right {
            right: 0;
            left: auto;
        }

        .content__left {
            background-repeat: no-repeat;
            background-size: cover;
        }

            .content__left:after {
                position: absolute;
                display: block;
                content: "";
                width: 100%;
                height: 100%;
                background-color: rgba(0,0,0,0.1);
            }

            .content__left h1 {
                position: absolute;
                top: 50%;
                margin-top: -3vw;
                text-align: center;
                font-family: 'ge_dinar_onemedium';
                font-size: 3vw;
                height: 10vw;
                opacity: 1;
                color: black;
                width: 100%;
                line-height: 1.6;
            }

            .content__left span {
                font-size: 1vw;
                font-weight: 300;
                opacity: 0.9;
                font-family: 'ge_dinar_onemedium';
            }

        .content__right {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center;
            -webkit-box-pack: center;
            -ms-flex-pack: center;
            justify-content: center;
        }

            .content__right .content__main {
                position: absolute;
                font-family: 'ge_dinar_onemedium';
                text-align: center;
                color: black;
                font-size: 1.3vw;
                padding: 0 8vw;
                line-height: 1.65;
                font-weight: 300;
                margin: 0;
                opacity: 0.8;
            }

                .content__right .content__main p:last-child {
                    text-transform: uppercase;

                    font-size: 0.85em;
                }

          /*  .content__right .content__index {
                font-size: 30vh;
                position: absolute;
                right: -1vh;
                top: 35vh;
                opacity: 0.5;
                font-family: oswald;
                color: #fff;
            }*/

        .content__left .content__index {
            font-size: 6vh;
            position: absolute;
            right: 1vh;
            /*top: 62vh;*/
            opacity: 0.5;
            font-family: 'ge_dinar_onemedium';
            color: black;
        }

        [data-type="carousel-1"] .content__left {

            @*background-image: url("@Url.Content("~/images/top10orgs/151005134005-syria-palmyra-arch-of-triumph-full-169.jpg")");*@
            background-image: url("@Url.Content("~/Images/backgrounds/Top10Pic1-bg.jpg")");
        }

        .spinner--right [data-type="carousel-1"] .content__left {
            background-image: none;
        }

        [data-type="carousel-2"] .content__left {
            background-image: url("@Url.Content("~/Images/backgrounds/Top10Pic1-bg.jpg")");
       @*background-image: url("@Url.Content("~/images/top10orgs/978900.jpg")");*@

        }

        .spinner--right [data-type="carousel-2"] .content__left {
            background-image: none;
        }

        [data-type="carousel-3"] .content__left {
            background-image: url("@Url.Content("~/Images/backgrounds/Top10Pic1-bg.jpg")");
       @*background-image: url("@Url.Content("~/images/top10orgs/1_uwx5lcpgeyujjzadarvj9a.jpeg")");*@
        }

        .spinner--right [data-type="carousel-3"] .content__left {
            background-image: none;
        }

        [data-type="carousel-4"] .content__left {
            background-image: url("@Url.Content("~/Images/backgrounds/Top10Pic1-bg.jpg")");
       @*background-image: url("@Url.Content("~/images/top10orgs/894c4e4b0a24056981eaeca02473fa4a--arabic-art-aleppo.jpg")");*@

        }

        .spinner--right [data-type="carousel-4"] .content__left {
            background-image: none;
        }

        [data-type="carousel-5"] .content__left {
            background-image: url("@Url.Content("~/Images/backgrounds/Top10Pic1-bg.jpg")");
       @*background-image: url("@Url.Content("~/images/top10orgs/5a42dee9581242215a80f6d50f8553a6--syrian-refugees-middle-east.jpg")");*@

        }

        .spinner--right [data-type="carousel-5"] .content__left {
            background-image: none;
        }

           [data-type="carousel-6"] .content__left {
               background-image: url("@Url.Content("~/Images/backgrounds/Top10Pic1-bg.jpg")");

       @*background-image: url("@Url.Content("~/images/top10orgs/الجامع-الأموي.jpg")");*@

        }

        .spinner--right [data-type="carousel-7"] .content__left {
            background-image: none;
        }


           [data-type="carousel-7"] .content__left {
               background-image: url("@Url.Content("~/Images/backgrounds/Top10Pic1-bg.jpg")");
       @*background-image: url("@Url.Content("~/images/top10orgs/qalaatjabar.jpg")");*@

        }

        .spinner--right [data-type="carousel-6"] .content__left {
            background-image: none;
        }

         [data-type="carousel-8"] .content__left {
             background-image: url("@Url.Content("~/Images/backgrounds/Top10Pic1-bg.jpg")");
       @*background-image: url("@Url.Content("~/images/top10orgs/200712_syria-40.jpg")");*@

        }

        .spinner--right [data-type="carousel-8"] .content__left {
            background-image: none;
        }

          [data-type="carousel-9"] .content__left {
              background-image: url("@Url.Content("~/Images/backgrounds/Top10Pic1-bg.jpg")");
       @*background-image: url("@Url.Content("~/images/top10orgs/souq_waqif,_doha,_catar,_2013-08-05,_dd_84.jpg")");*@

        }

        .spinner--right [data-type="carousel-9"] .content__left {
            background-image: none;
        }

           [data-type="carousel-10"] .content__left {
               background-image: url("@Url.Content("~/Images/backgrounds/Top10Pic1-bg.jpg")");
       @*background-image: url("@Url.Content("~/images/top10orgs/e8cc6db34a690f07663d58487e228253.jpg")");*@

        }

        .spinner--right [data-type="carousel-10"] .content__left {
            background-image: none;
        }


        #overlay{
  position:fixed;
  z-index:99999;
  top:0;
  left:0;
  bottom:0;
  right:0;
 /*background:rgb(249, 249, 251);*/
  transition: 1s 0.4s;
}
    </style>
</head>

<body>
    <div id="overlay">
        <div class="col-md-12 col-sm-12 col-xs-12" style="text-align:center;margin-top:15%"><img src="@Url.Content("~/images/customgif/Syrian Loader.gif")" alt="Loading" style="width:10%;" /></div>
     </div>
    <div class="carousel" style="filter: blur(25px);transition: filter 2s;-webkit-transition: filter 2s;">
        <div class="carousel__control"> </div>
        <div class="carousel__stage">
            <div class="spinner spinner--left">

                @{
                    var i = 0;

                    HtmlString Active = new HtmlString("");
                    foreach (var item in ViewBag.Top10Result)
                    {
                        //if (i != 0)
                        //{
                        //    break;
                        //}
                        var rate = i + 1;
                        if (i == 0)
                        {
                            Active = new HtmlString("js-active");

                        }
                        else
                        {
                            Active = new HtmlString("");
                        }


                        <div class="spinner__face @Active" data-bg="#27323c">
                            <div class="content" data-type="carousel-@rate">

                                <div class="content__left">
                                    <h1 style="box-shadow: 2px 2px 12px;opacity:0.98;background-color:#fff;">

                                        @item.OrganisationName<br>

                                        <span style="font-size:42px;" class="specialSpan">(@item.OrganisationParent)</span>

                                    </h1>
                                    <h3 class="content__index" style="background-color:#fff;">المرتبة رقم @rate </h3>
                                </div>


                                <div class="content__right">
                                    <div class="content__main">
                                        <h1> عدد الشكاوى التي تمت معالجتها ضمن الوقت </h1>

                                        <h1 style="font-size: 152px;" id="h1">@item.CountEvaluatedClaims</h1>
                                    </div>

                                </div>
                            </div>
                        </div>
                        i++;
                    }
                }

            </div>
        </div>
    </div>

    <!--  Poor man's preloader -->
    <script src="@Url.Content("~/Scripts/vendors/jquery/jquery.min.js")"></script>
    <script>
        /////////LoaderPart////
        $(window).load(function () {

            fadeOutEffect();
            function fadeOutEffect() {
                var fadeTarget = document.getElementById("overlay");
                var fadeEffect = setInterval(function () {
                    if (!fadeTarget.style.opacity) {
                        fadeTarget.style.opacity = 1;
                    }
                    if (fadeTarget.style.opacity > 0) {
                        fadeTarget.style.opacity -= 0.1;
                    } else {
                        clearInterval(fadeEffect);
                    }


                }, 300);

                setTimeout(function () {

                    $(".carousel").css("filter", "blur(0)");



                }, 3000);
                setTimeout(function () {



                    $("#overlay").remove();
                }, 5000);

            }

        });
        /////////End LoaderPart////

        jQuery(document).ready(function () {
            var map =
                        [
                        "&\#1632;", "&\#1633;", "&\#1634;", "&\#1635;", "&\#1636;",
                        "&\#1637;", "&\#1638;", "&\#1639;", "&\#1640;", "&\#1641;"
                        ]

            document.body.innerHTML =
                document.body.innerHTML.replace(
                    /\d(?=[^<>]*(<|$))/g,
                    function ($0) { return map[$0] }
                );
        })

        var j = 0;

        function NextSlide() {

            $("." + j).click();


            setTimeout(function () {
                $("h1").fadeIn(1000);

            }, 7000);


            if (j == '@ViewBag.Top10ResultCount') {
                j = 0;
            } else {
                j++;

            }
            
             setInterval(NextSlide, 6000);
        }

        NextSlide();

        'use strict';
        var activeIndex = 0;
        var limit = 0;
        var disabled = false;
        var $stage = undefined;
        var $controls = undefined;
        var canvas = false;
        var SPIN_FORWARD_CLASS = 'js-spin-fwd';
        var SPIN_BACKWARD_CLASS = 'js-spin-bwd';
        var DISABLE_TRANSITIONS_CLASS = 'js-transitions-disabled';
        var SPIN_DUR = 1000;
        var appendControls = function appendControls() {
            for (var i = 0; i < limit; i++) {
                $('.carousel__control').append('<a style="text-decoration: none;" href="#" data-index="' + i + '" class="' + i + '"><span style="margin-left: 15px;">' + (i + 1) + '</span></a>');
            }
            var height = $('.carousel__control').children().last().outerHeight();
            $('.carousel__control').css('height', 30 + limit * height);
            $controls = $('.carousel__control').children();
            $controls.eq(activeIndex).addClass('active');

        };
        var setIndexes = function setIndexes() {
            $('.spinner').children().each(function (i, el) {
                $(el).attr('data-index', i);
                limit++;
            });
        };
        var duplicateSpinner = function duplicateSpinner() {
            var $el = $('.spinner').parent();
            var html = $('.spinner').parent().html();
            $el.append(html);
            $('.spinner').last().addClass('spinner--right');
            $('.spinner--right').removeClass('spinner--left');
        };
        var paintFaces = function paintFaces() {
            $('.spinner__face').each(function (i, el) {
                var $el = $(el);
                var color = $(el).attr('data-bg');
                //$el.children().css('backgroundImage', 'url(' + getBase64PixelByColor(color) + ')');
                
                //$el.children().css('backgroundImage', 'url(' + getBase64PixelByColor(color) + ')');
            });
        };
        var getBase64PixelByColor = function getBase64PixelByColor(hex) {
            if (!canvas) {
                canvas = document.createElement('canvas');
                canvas.height = 1;
                canvas.width = 1;
            }
            if (canvas.getContext) {
                var ctx = canvas.getContext('2d');
                ctx.fillStyle = hex;
                ctx.fillRect(0, 0, 1, 1);
                return canvas.toDataURL();
            }
            return false;
        };
        var prepareDom = function prepareDom() {
            setIndexes();
            paintFaces();
            duplicateSpinner();
            appendControls();
        };
        var spin = function spin() {
            var inc = arguments.length <= 0 || arguments[0] === undefined ? 1 : arguments[0];
            if (disabled)
                return;
            if (!inc)
                return;
            activeIndex += inc;
            disabled = true;
            if (activeIndex >= limit) {
                activeIndex = 0;
            }
            if (activeIndex < 0) {
                activeIndex = limit - 1;
            }
            var $activeEls = $('.spinner__face.js-active');
            var $nextEls = $('.spinner__face[data-index=' + activeIndex + ']');
            $nextEls.addClass('js-next');
            if (inc > 0) {
                $stage.addClass(SPIN_FORWARD_CLASS);
            } else {
                $stage.addClass(SPIN_BACKWARD_CLASS);
            }
            $controls.removeClass('active');
            $controls.eq(activeIndex).addClass('active');
            setTimeout(function () {
                spinCallback(inc);
            }, SPIN_DUR, inc);
        };
        var spinCallback = function spinCallback(inc) {
            $('.js-active').removeClass('js-active');
            $('.js-next').removeClass('js-next').addClass('js-active');
            $stage.addClass(DISABLE_TRANSITIONS_CLASS).removeClass(SPIN_FORWARD_CLASS).removeClass(SPIN_BACKWARD_CLASS);
            $('.js-active').each(function (i, el) {
                var $el = $(el);
                $el.prependTo($el.parent());
            });
            setTimeout(function () {
                $stage.removeClass(DISABLE_TRANSITIONS_CLASS);
                disabled = false;
            }, 100);
        };
        var attachListeners = function attachListeners() {
            document.onkeyup = function (e) {
                switch (e.keyCode) {
                    case 38:
                        spin(-1);
                        break;
                    case 40:
                        spin(1);
                        break;
                }
            };
            $controls.on('click', function (e) {
                $("h1").css("opacity", 1).fadeOut(500);


                e.preventDefault();
                if (disabled)
                    return;
                var $el = $(e.target);
                var toIndex = parseInt($el.attr('data-index'), 10);

                j = toIndex;
                spin(toIndex - activeIndex);
            });
        };
        var assignEls = function assignEls() {
            $stage = $('.carousel__stage');
        };
        var init = function init() {
            assignEls();
            prepareDom();
            attachListeners();
        };
        $(function () {
            init();
        });
    </script>
</body>
</html>
