﻿@using MoAD.WebApplication.Models;
@using MoAD.WebApplication.Managers;
@{
    Layout = "~/Views/Shared/_CommonLayout.cshtml";
    HttpCookie languageCookie = Request.Cookies["Language"];
    var InitialDirection = "rtl";
    if (languageCookie != null && languageCookie.Value != "3")
    {
        InitialDirection = "ltr";
    }
    int languageIdentifier = (int)ViewBag.Languageidentifier;
}

@if (InitialDirection == "rtl")
{
    <link href="~/assets/vendors/base/vendors.bundle.rtl.css" rel="stylesheet" />
    <link href="~/assets/vendors/base/style.bundle.rtl.css" rel="stylesheet" />
}
else
{
    <link href="~/assets/vendors/base/vendors.bundle.css" rel="stylesheet" />
    <link href="~/assets/vendors/base/style.bundle.css" rel="stylesheet" />
}

@if (InitialDirection == "rtl")
{
    <style>
        .m-timeline-2 .m-timeline-2__items .m-timeline-2__item .m-timeline-2__item-text {
            font-size: 1.6rem;
            padding-right: 6rem;
        }

        .m-timeline-2 .m-timeline-2__items .m-timeline-2__item .m-timeline-2__item-time {
            font-size: 2rem;
        }

        .m-timeline-2:before {
            right: 5.89rem;
        }

        .m-timeline-2 .m-timeline-2__items .m-timeline-2__item .m-timeline-2__item-cricle {
            right: 5.1rem;
        }

        @@media only screen and (max-width: 600px) {
            .m-timeline-2 .m-timeline-2__items .m-timeline-2__item .m-timeline-2__item-text {
                font-size: 1rem;
                padding-right: 6rem;
            }
        }
    </style>
}
else
{

    <style>
        .m-timeline-2 .m-timeline-2__items .m-timeline-2__item .m-timeline-2__item-text {
            font-size: 1.6rem;
            padding-left: 6rem;
        }

        .m-timeline-2 .m-timeline-2__items .m-timeline-2__item .m-timeline-2__item-time {
            font-size: 2rem;
        }

        .m-timeline-2:before {
            left: 5.89rem;
        }

        .m-timeline-2 .m-timeline-2__items .m-timeline-2__item .m-timeline-2__item-cricle {
            left: 5.1rem;
        }

        @@media only screen and (max-width: 600px) {
            .m-timeline-2 .m-timeline-2__items .m-timeline-2__item .m-timeline-2__item-text {
                font-size: 1rem;
                padding-left: 6rem;
            }
        }
    </style>
}

<style>
    #main {
        margin: 0 auto;
        /* width: 80rem; */
        max-width: 90%;
        margin-bottom: 2rem;
        background: rgba(255, 255, 255, 0.95);
        -webkit-box-shadow: 0px 0px 15px 0px rgb(0 0 0 / 75%);
        -moz-box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.75);
        box-shadow: 0px 0px 15px 0px rgb(0 0 0 / 75%);
        border-radius: 4px;
    }
    body {
        padding: 20px;
    }

    .modal {
        z-index: 999999999999999999;
    }

    text {
        letter-spacing: initial;
    }

    [hidden] {
        display: inline !important;
    }

    .HeaderH1 {
        margin: .67em 0 !important;
        font-size: 2.3rem !important;
    }


    .pointer {
        cursor: pointer;
    }
</style>

@if (User.IsInRole("Editor"))
{
    <style>
        .pointer {
            cursor: pointer;
        }
    </style>

}
else
{
    <style>
        .pointer {
            cursor: default;
        }
    </style>
}

<div class="m-content">
    <div class="row" style="margin-top:2%;">
        
        <div class="col-xl-12 col-lg-12">
            <!--Begin::Portlet-->
            <div class="m-portlet  m-portlet--full-height" id="main">
                <div class="m-portlet__head">
                    <div class="m-portlet__head-caption">
                        <div class="m-portlet__head-title">
                            <h3 class="m-portlet__head-text" style="font-size: 2.1rem !important;">
                                التجربة الوطنية للإصلاح الإداري في سورية
                            </h3>
                        </div>
                    </div>

                </div>
                <div class="m-portlet__body">
                    <div class="m-scrollable" data-scrollable="true" data-height="380" data-mobile-height="300">

                        <!--Begin::Timeline 2 -->
                        <div class="m-timeline-2">
                            <div class="m-timeline-2__items  m--padding-top-25 m--padding-bottom-30">
                                <div class="m-timeline-2__item">
                                    <span class="m-timeline-2__item-time text-to-change pointer" data-translation="ba4b68ba-8268-4c59-bd7e-db8a70ee45ed" data-toggle="modal" data-target="#translationModal"> @Utilities.GetDataTransaltionByGuid("ba4b68ba-8268-4c59-bd7e-db8a70ee45ed", languageIdentifier)</span>
                                    <div class="m-timeline-2__item-cricle">
                                        <i class="fa fa-genderless m--font-danger"></i>
                                    </div>
                                    <div class="m-timeline-2__item-text  m--padding-top-5 text-to-change pointer" data-translation="c9c05708-dc4b-4ecb-a0a3-1e692fc8f0e5" data-toggle="modal" data-target="#translationModal">
                                        @Utilities.GetDataTransaltionByGuid("c9c05708-dc4b-4ecb-a0a3-1e692fc8f0e5", languageIdentifier)
                                    </div>
                                </div>
                                <div class="m-timeline-2__item m--margin-top-30">
                                    <span class="m-timeline-2__item-time text-to-change pointer" data-translation="571cf78c-6e4b-4467-b95b-4bec065ada6a" data-toggle="modal" data-target="#translationModal"> @Utilities.GetDataTransaltionByGuid("571cf78c-6e4b-4467-b95b-4bec065ada6a", languageIdentifier)</span>
                                    <div class="m-timeline-2__item-cricle">
                                        <i class="fa fa-genderless m--font-success"></i>
                                    </div>
                                    <div class="m-timeline-2__item-text  m--padding-top-5 text-to-change pointer" data-translation="22f127f0-c1f9-4ae6-9bea-099c84601bfa" data-toggle="modal" data-target="#translationModal">
                                        @Utilities.GetDataTransaltionByGuid("22f127f0-c1f9-4ae6-9bea-099c84601bfa", languageIdentifier)
                                    </div>

                                </div>
                                <div class="m-timeline-2__item m--margin-top-30">
                                    <span class="m-timeline-2__item-time text-to-change pointer" data-translation="ffb3638f-a41e-475b-9bad-83498d0710da" data-toggle="modal" data-target="#translationModal"> @Utilities.GetDataTransaltionByGuid("ffb3638f-a41e-475b-9bad-83498d0710da", languageIdentifier)</span>
                                    <div class="m-timeline-2__item-cricle">
                                        <i class="fa fa-genderless m--font-brand"></i>
                                    </div>
                                    <div class="m-timeline-2__item-text  m--padding-top-5 text-to-change pointer" data-translation="5275a371-b7cb-4ba2-8326-a62cbc337a14" data-toggle="modal" data-target="#translationModal">
                                        @Utilities.GetDataTransaltionByGuid("5275a371-b7cb-4ba2-8326-a62cbc337a14", languageIdentifier)
                                    </div>
                                </div>
                                <div class="m-timeline-2__item m--margin-top-30">
                                    <span class="m-timeline-2__item-time text-to-change pointer" data-translation="da9f45f3-8047-44a3-9669-29f99f8e58a1" data-toggle="modal" data-target="#translationModal"> @Utilities.GetDataTransaltionByGuid("da9f45f3-8047-44a3-9669-29f99f8e58a1", languageIdentifier)</span>
                                    <div class="m-timeline-2__item-cricle">
                                        <i class="fa fa-genderless m--font-warning"></i>
                                    </div>
                                    <div class="m-timeline-2__item-text  m--padding-top-5 text-to-change pointer" data-translation="df26236d-34cc-4b7b-91e8-c3d2593c70bb" data-toggle="modal" data-target="#translationModal">
                                        @Utilities.GetDataTransaltionByGuid("df26236d-34cc-4b7b-91e8-c3d2593c70bb", languageIdentifier)
                                    </div>
                                </div>
                                <div class="m-timeline-2__item m--margin-top-30">
                                    <span class="m-timeline-2__item-time text-to-change pointer" data-translation="b21a0cf3-196f-4d24-8e35-82e4a02aea52" data-toggle="modal" data-target="#translationModal"> @Utilities.GetDataTransaltionByGuid("b21a0cf3-196f-4d24-8e35-82e4a02aea52", languageIdentifier)</span>
                                    <div class="m-timeline-2__item-cricle">
                                        <i class="fa fa-genderless m--font-info"></i>
                                    </div>
                                    <div class="m-timeline-2__item-text  m--padding-top-5 text-to-change pointer" data-translation="68e6fade-7764-4fa2-8dab-64fe53c31294" data-toggle="modal" data-target="#translationModal">
                                        @Utilities.GetDataTransaltionByGuid("68e6fade-7764-4fa2-8dab-64fe53c31294", languageIdentifier)
                                    </div>
                                </div>
                                <div class="m-timeline-2__item m--margin-top-30">
                                    <span class="m-timeline-2__item-time text-to-change pointer" data-translation="882459d9-a8ad-4a46-9afe-d9204350fca6" data-toggle="modal" data-target="#translationModal"> @Utilities.GetDataTransaltionByGuid("882459d9-a8ad-4a46-9afe-d9204350fca6", languageIdentifier)</span>
                                    <div class="m-timeline-2__item-cricle">
                                        <i class="fa fa-genderless m--font-brand"></i>
                                    </div>
                                    <div class="m-timeline-2__item-text  m--padding-top-5 text-to-change pointer" data-translation="13ae0a65-eabf-4611-bc02-c21bddb706dd" data-toggle="modal" data-target="#translationModal">
                                        @Utilities.GetDataTransaltionByGuid("13ae0a65-eabf-4611-bc02-c21bddb706dd", languageIdentifier)
                                    </div>
                                </div>
                                <div class="m-timeline-2__item m--margin-top-30">
                                    <span class="m-timeline-2__item-time text-to-change pointer" data-translation="4e2d4ade-7d0e-4f97-9770-8a1100b9c775" data-toggle="modal" data-target="#translationModal"> @Utilities.GetDataTransaltionByGuid("4e2d4ade-7d0e-4f97-9770-8a1100b9c775", languageIdentifier)</span>
                                    <div class="m-timeline-2__item-cricle">
                                        <i class="fa fa-genderless m--font-danger"></i>
                                    </div>
                                    <div class="m-timeline-2__item-text  m--padding-top-5 text-to-change pointer" data-translation="8e4c1e00-7874-4fa2-9d0f-77eb32be9a1a" data-toggle="modal" data-target="#translationModal">
                                        @Utilities.GetDataTransaltionByGuid("8e4c1e00-7874-4fa2-9d0f-77eb32be9a1a", languageIdentifier)
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!--End::Timeline 2 -->
                    </div>
                </div>
            </div>

            <!--End::Portlet-->
        </div>
        
    </div>
</div>


@if (User.IsInRole("Editor"))
{
    <div class="modal" id="translationModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" style="direction: initial">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel"></h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>

                @Html.Partial("~/Views/TestCMS/_SingleElementModal.cshtml", new SingleElementViewModel() { ElementTranslation = "", redirectComponent = "" })
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">
                        إغلاق
                    </button>
                    <button type="button" id="saveBtn" class="btn btn-primary">حفظ</button>
                </div>
            </div>
        </div>
    </div>
}


<script src=@Url.Content("~/assets/NewPages/sweetAlert/sweetalert.js")></script>
<script src="@Url.Content("~/Scripts/bootbox.min.js")"></script>
<script>
    var clickedElement = "";

        $(document).on('click', '.text-to-change', function () {
            clickedElement = $(this);
            var guid = $(this).data('translation');
            var redirectComponent = $(this).attr('data-redirectComponent');
            var language = @languageIdentifier;
            var singleElementModal = {};
            singleElementModal["ElementTranslation"] = guid;
            singleElementModal["languageNeeded"] = language;
            singleElementModal["redirectComponent"] = redirectComponent;

            if (clickedElement.hasClass("text-big")) {
                console.log("here");
                singleElementModal["isTextArea"] = true;
            }
            $(".modal-body-single-element").empty();
            $(".modal-body-single-element").append('<img src="@Url.Content("~/images/customgif/Syrian Loader.gif")" alt="Loading" style="width:20%;z-index:4; margin-right:40%" />');

            var singleElementModalJsonString = JSON.stringify(singleElementModal);

             $.ajax({

                            url: '@Url.Action("ChangeLanguageInModal","TestCMS")',
                            type: 'POST',
                            data: {

                                __RequestVerificationToken: $('@Html.AntiForgeryToken()').val(),

                                componentName: "singleElement",

                                componentStringObject: singleElementModalJsonString

                            },

                 success: function (data) {
                     if (data != "404") {
                         $(".modal-body-single-element").empty();
                         $(".modal-body-single-element").append(data);
                     }
                     else {
                         swal("Error", "Error Occured!", "error");
                     }

                            },



                            error: function (error) {
                                swal("Error", "Error Occured!", "error");
                            }
                        });
        })

    $(document).on('click', '#saveBtn', function () {

        var textChanged = $("#inputModal").val();
        var guidToSend = $("#inputModal").data("translation");

        //var redirectionType = $("#pageTypeDropdown option:selected").val();
        //var redirectionKey = "";
        //if (redirectionType == "Page") {
        //    redirectionKey = $("#resPagesDropdown option:selected").val();
        //} else {
        //    redirectionKey = itemTypeKeyGlobalRedirection;
        //}
       // changeRedirection(guidToSend, redirectionType, redirectionKey);

        changeText(guidToSend, textChanged, "none");


    })

      function changeText(guidToSend, textChanged, inputChangedName) {
            $.blockUI($("#body"));
            var lang = "";

            if ($(clickedElement).hasClass("card")) {
                lang = $("#languageDropDownCard option:selected").val();
               // console.log("here in sa7");
            }
            else {
                lang = $("#languageDropDownSingle option:selected").val();
               // console.log("here in ghalat");
            }
            if (guidToSend.length == 0 || textChanged.length == 0) {
                $.unblockUI($("#body"));
                return;
            }


            $.ajax({

                url: '@Url.Action("UpdateDataTranslation", "CMS")',



                type: 'POST',



                data: {

                    __RequestVerificationToken: $('@Html.AntiForgeryToken()').val(),

                    guid: guidToSend,

                    newTransaltion: textChanged,

                    language: parseInt(lang)

                },



                success: function (data) {
                    if (data != "Error") {
                        $.unblockUI($("#body"));
                        swal("مبروك", "تم حفظ المعلومات", "success");

                        if ($(clickedElement).hasClass("card")) {

                            if (lang === '@languageIdentifier') {
                                if (inputChangedName == "title") {
                                    $(clickedElement).find(".title").text(data);
                                    $('.modal').modal('hide');
                                    return;
                                }
                                if (inputChangedName == "titleText") {
                                    $(clickedElement).find(".titleText").text(data);
                                    $('.modal').modal('hide');
                                    return;
                                }
                                if (inputChangedName == "paragraph") {
                                    $(clickedElement).find(".paragraph").text(data);
                                    $('.modal').modal('hide');
                                    return;
                                }

                            }

                        } if ($(clickedElement).hasClass("socialMediaLinks")) {

                        }
                        else {
                            $(clickedElement).text(data);
                        }
                    }
                    else {
                        swal("Error", "Error Occured!", "error");
                    }


                    $('.modal').modal('hide');




                },



                error: function (error) {
                    $.unblockUI($("#body"));
                    swal("Error", "Error Occured!", "error");

                }
            });
        }
</script>
