﻿
@{
    ViewBag.Title = "_Organisations";
    Layout = null;
    List<SelectListItem> Organisations = ViewData["Organisation"] as List<SelectListItem>;

}

<div>
    <div class="form-group row">
        <div class="col-md-1">
        </div>
        <div class="col-md-4" style="float:right">
            <label class="form-control-label" for="l0"> : الجهة الخاصة </label>
        </div>
        <div class="col-md-5" style="float:left;margin-left: 3%;">
            @Html.DropDownList("Organisations", Organisations, new { @class = "inputcolor form-control placeholder-no-fix Organisations", @onchange="ExecuteReport($(this))"})
        </div>
       
        <div class="col-md-2">
        </div>
    </div>
    @*<div class="form-group row">
        <div class="col-md-1">
        </div>
        <div class="col-md-4" style="float:right">
            <label class="form-control-label" for="l0"> : الجهة العامة </label>
        </div>
        <div class="col-md-5" style="float:left;margin-left: 3%;">
            <input type="text" readonly id="organisationParent" class="form-control organisationParent" dir="rtl" placeholder="الجهة العامة">
        </div>
       
        <div class="col-md-2">
        </div>
    </div>*@
</div>








