﻿@using Microsoft.AspNet.Identity
@using MoAD.DataObjects.EDMX
@using MoAD.WebApplication.Objects;

@{
    ViewBag.Title = "Home Page";
    Layout = null;
    HttpCookie languageCookie = Request.Cookies["Language"];
    var InitialDirection = "rtl";
    if (languageCookie!=null && languageCookie.Value != "3")
    {
        InitialDirection = "ltr";
    }
    List<GetAdManagerForms_Result> Estetla3Ra2iPublishedFormsForManbar = ViewBag.Estetla3Ra2iPublishedForms;

    if (Estetla3Ra2iPublishedFormsForManbar == null)
    {
        Estetla3Ra2iPublishedFormsForManbar = new List<GetAdManagerForms_Result>();
    }
    Dictionary<string, string> Locale = ViewBag.Locale;
}



<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8" />

    <link href="@Url.Content("~/Content/bootstrap.min.css")" rel="stylesheet" />
    <link href="@Url.Content("~/Content/SharedLayout.css")" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/vendors/datatables/media/css/dataTables.bootstrap4.min.css")">
    <link href="@Url.Content("~/Content/Css/font-awesome.min.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/content/arabicfonts/droidarabickufi.css")" rel="stylesheet" />

    <link href="@Url.Content("~/Content/Css/default.min.css")" rel="stylesheet" type="text/css" id="style_color" />
    <link href="@Url.Content("~/Content/Css/simple-line-icons.min.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/Css/bootstrap-switch.min.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/Css/daterangepicker.min.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/Css/morris.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/Css/fullcalendar.min.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/Css/jqvmap.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/Css/components.min.css")" rel="stylesheet" id="style_components" type="text/css" />
    <link href="@Url.Content("~/Content/Css/plugins.min.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/Css/layout.min.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/Css/select2.min.css")" rel="stylesheet" type="text/css" />

    <link href="@Url.Content("~/content/pbdashboard/css/style.css")" rel="stylesheet" />
    <link href="@Url.Content("~/content/pbdashboard/css/animate.css")" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/vendors/jscrollpane/style/jquery.jscrollpane.css")">
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/vendors/ladda/dist/ladda-themeless.min.css")">
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/vendors/select2/dist/css/select2.min.css")">
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/vendors/eonasdan-bootstrap-datetimepicker/build/css/bootstrap-datetimepicker.min.css")">
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/vendors/fullcalendar/dist/fullcalendar.min.css")">
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/vendors/cleanhtmlaudioplayer/src/player.css")">
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/vendors/cleanhtmlvideoplayer/src/player.css")">
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/vendors/bootstrap-sweetalert/dist/sweetalert.css")">
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/vendors/summernote/dist/summernote.css")">
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/vendors/owl.carousel/dist/assets/owl.carousel.min.css")">
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/vendors/ionrangeslider/css/ion.rangeSlider.css")">
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/vendors/c3/c3.min.css")">
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/vendors/chartist/dist/chartist.min.css")">
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/vendors/nprogress/nprogress.css")">
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/vendors/jquery-steps/demo/css/jquery.steps.css")">
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/vendors/bootstrap-select/dist/css/bootstrap-select.min.css")">
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/vendors/dropify/dist/css/dropify.min.css")">
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/common/css/source/main.css")">
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/spectrum.css")">


    <link rel="apple-touch-icon" sizes="180x180" href="@Url.Content("~/assets/app/media/img/favicon/apple-touch-icon.png")">
    <link rel="icon" type="image/png" sizes="32x32" href="@Url.Content("~/assets/app/media/img/favicon/favicon-32x32.png")">
    <link rel="icon" type="image/png" sizes="16x16" href="@Url.Content("~/assets/app/media/img/favicon/favicon-16x16.png")">
    <link rel="manifest" href="@Url.Content("~/assets/app/media/img/favicon/site.webmanifest")">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">


    <link href="@Url.Content("~/content/footer/footer-with-social-icons.css")" rel="stylesheet" />



    <link href="@Url.Content("~/content/header/sm-core-css.css")" rel="stylesheet" />

    <link href="@Url.Content("~/content/header/sm-blue.css")" rel="stylesheet" />

    <script src="@Url.Content("~/Scripts/vendors/jquery/jquery.min.js")"></script>
    <script src="@Url.Content("~/Scripts/vendors/tether/dist/js/tether.min.js")"></script>
    <script src="@Url.Content("~/Scripts/vendors/bootstrap/dist/js/bootstrap.min.js")"></script>
    <script src="@Url.Content("~/Scripts/vendors/jquery-mousewheel/jquery.mousewheel.min.js")"></script>
    <script src="@Url.Content("~/Scripts/vendors/jscrollpane/script/jquery.jscrollpane.min.js")"></script>
    <script src="@Url.Content("~/Scripts/vendors/spin.js/spin.js")"></script>
    <script src="@Url.Content("~/Scripts/vendors/ladda/dist/ladda.min.js")"></script>
    <script src="@Url.Content("~/Scripts/vendors/select2/dist/js/select2.full.min.js")"></script>
    <script src="@Url.Content("~/Scripts/vendors/html5-form-validation/dist/jquery.validation.min.js")"></script>
    <script src="@Url.Content("~/Scripts/vendors/jquery-typeahead/dist/jquery.typeahead.min.js")"></script>
    <script src="@Url.Content("~/Scripts/vendors/jquery-mask-plugin/dist/jquery.mask.min.js")"></script>
    <script src="@Url.Content("~/Scripts/vendors/autosize/dist/autosize.min.js")"></script>
    <script src="@Url.Content("~/Scripts/vendors/bootstrap-show-password/bootstrap-show-password.min.js")"></script>
    <script src="@Url.Content("~/Scripts/vendors/moment/min/moment.min.js")"></script>
    <script src="@Url.Content("~/Scripts/vendors/eonasdan-bootstrap-datetimepicker/build/js/bootstrap-datetimepicker.min.js")"></script>
    <script src="@Url.Content("~/Scripts/vendors/fullcalendar/dist/fullcalendar.min.js")"></script>
    <script src="@Url.Content("~/Scripts/vendors/bootstrap-sweetalert/dist/sweetalert.min.js")"></script>
    <script src="@Url.Content("~/Scripts/vendors/remarkable-bootstrap-notify/dist/bootstrap-notify.min.js")"></script>
    <script src="@Url.Content("~/Scripts/vendors/summernote/dist/summernote.min.js")"></script>
    <script src="@Url.Content("~/Scripts/vendors/owl.carousel/dist/owl.carousel.min.js")"></script>
    <script src="@Url.Content("~/Scripts/vendors/ionrangeslider/js/ion.rangeSlider.min.js")"></script>
    <script src="@Url.Content("~/Scripts/vendors/nestable/jquery.nestable.js")"></script>
    <script src="@Url.Content("~/Scripts/vendors/datatables/media/js/jquery.dataTables.min.js")"></script>
    <script src="@Url.Content("~/Scripts/vendors/datatables/media/js/dataTables.bootstrap4.min.js")"></script>
    <script src="@Url.Content("~/Scripts/vendors/datatables-fixedcolumns/js/dataTables.fixedColumns.js")"></script>
    <script src="@Url.Content("~/Scripts/vendors/datatables-responsive/js/dataTables.responsive.js")"></script>
    <script src="@Url.Content("~/Scripts/vendors/editable-table/mindmup-editabletable.js")"></script>
    <script src="@Url.Content("~/Scripts/c3/d3.v3.js")"></script>
    <script src="@Url.Content("~/Scripts/c3/c3.min.js")"></script>
    <script src="@Url.Content("~/Scripts/c3/Chart.js")"></script>
    <script src="@Url.Content("~/Scripts/vendors/chartist/dist/chartist.min.js")"></script>
    <script src="@Url.Content("~/Scripts/vendors/peity/jquery.peity.min.js")"></script>
    <script src="@Url.Content("~/Scripts/vendors/gsap/src/minified/TweenMax.min.js")"></script>
    <script src="@Url.Content("~/Scripts/vendors/hackertyper/hackertyper.js")"></script>
    <script src="@Url.Content("~/Scripts/vendors/jquery-countTo/jquery.countTo.js")"></script>
    <script src="@Url.Content("~/Scripts/vendors/nprogress/nprogress.js")"></script>
    <script src="@Url.Content("~/Scripts/vendors/jquery-steps/build/jquery.steps.min.js")"></script>
    <script src="@Url.Content("~/Scripts/vendors/bootstrap-select/dist/js/bootstrap-select.min.js")"></script>
    <script src="@Url.Content("~/Scripts/vendors/chart.js/src/Chart.bundle.min.js")"></script>
    <script src="@Url.Content("~/Scripts/vendors/dropify/dist/js/dropify.min.js")"></script>
    <script src="@Url.Content("~/Scripts/bootbox.min.js")"></script>
    <script src="@Url.Content("~/Scripts/common/js/common.js")"></script>
    <script src="@Url.Content("~/Scripts/common/js/demo.temp.js")"></script>
    <script src="@Url.Content("~/Scripts/jquery.signalR-2.2.2.min.js")"></script>
    <script src="@Url.Content("~/signalr/hubs")"></script>
    <script src="@Url.Content("~/Scripts/vendors/chartist-plugin-tooltip/dist/chartist-plugin-tooltip.min.js")"></script>
    <script src="@Url.Content("~/Content/spectrum.js")"></script>
    <script src="@Url.Content("~/Scripts/bootstrap-waitingfor.js")"></script>
    <script src="@Url.Content("~/Scripts/md5.min.js")"></script>
    <script src="@Url.Content("~/scripts/pbdashboard/js/custom.js")"></script>
    <script src="@Url.Content("~/scripts/pbdashboard/js/finely.js")"></script>
    <script src="@Url.Content("~/scripts/pbdashboard/js/countdown.js")"></script>
    <script src="@Url.Content("~/scripts/pbdashboard/js/emailsubscribe.js")"></script>
    <script src="@Url.Content("~/scripts/pbdashboard/js/contact.js")"></script>
    <script src="@Url.Content("~/scripts/pbdashboard/js/jquery.backstretch.min.js")"></script>
    <script src="@Url.Content("~/scripts/pbdashboard/js/jquery.mb.YTPlayer.js")"></script>
    <script src="@Url.Content("~/scripts/pbdashboard/js/placeholders.min.js")"></script>
    <script src="@Url.Content("~/scripts/header/jquery.smartmenus.js")"></script>
</head>

@*<div id="overlay">
    <div class="col-md-12 col-sm-12 col-xs-12" style="text-align:center;margin-top:15%">
        <img src="@Url.Content("~/images/customgif/Syrian Loader.gif")" alt="Loading" style="width:10%;" />
        <br />
        <span style="color:black">@Html.Raw(BaseController.GetFieldLabel(Locale, "_InitialLoaderMsg"))</span>
    </div>
</div>*@

<div id="overlay">
    <div class="col-md-12 col-sm-12 col-xs-12" style="text-align:center;margin-top:15%">
        <img src="@Url.Content("~/images/customgif/Syrian Loader.gif")" alt="Loading" style="width:10%;" />
        <br />
        @*<span style="color:black">@Html.Raw(BaseController.GetFieldLabel(Locale, "_InitialLoaderMsg"))</span>*@
    </div>
</div>

<body class="container-fluid" style="background:white;overflow:auto;font-family: 'Droid Arabic Kufi',serif;" id="PageHead" dir="@InitialDirection" >
    <header class="Body" style="filter: blur(25px);transition: filter 2s;-webkit-transition: filter 2s;">
        
         <div class="">
             <div class="row">
                 <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                     <h1 style="color:darkblue;font-weight:bold;text-align:center;">
                         @Html.Raw(BaseController.GetFieldLabel(Locale, "_SyrianRepublic")) <br>@Html.Raw(BaseController.GetFieldLabel(Locale, "_Esla7Project"))
                     </h1>
                 </div>
                 <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 text-center">
                     <img src="@Url.Content("~/imag/Header.png")" class="img-fluid" alt="Responsive image" style="cursor:pointer;" id="HeaderLogo" />
                 </div>
                 <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                     <h1 style="color:darkblue;font-weight:bold;text-align:center;">
                         @Html.Raw(BaseController.GetFieldLabel(Locale, "_MOAD"))<br> @Html.Raw(BaseController.GetFieldLabel(Locale, "_MarkazDa3em"))
                     </h1>
                 </div>
             </div>
            <nav id="main-nav">
                <!-- Sample menu definition -->
                <ul id="main-menu" class="sm sm-blue">
                    <li>
                        <a class="active" id="GoToMarkaz">
                            <img src="~/Imag/homez.png" class="homez" />
                        </a>
                    </li>

                    @if (ViewBag.PageName == "Manbar")
                    {

                        <li>
                            <a id="AboutManbar">@Html.Raw(BaseController.GetFieldLabel(Locale, "_AboutManbar"))</a>
                        </li>

                        <li>
                            <a>@Html.Raw(BaseController.GetFieldLabel(Locale, "_HowItWorks"))</a>
                        </li>

                        <li>
                            <a id="Khousousya">@Html.Raw(BaseController.GetFieldLabel(Locale, "_PrivacyPolicy"))</a>
                        </li>

                        <li>
                            <a id="Himayatalserya">@Html.Raw(BaseController.GetFieldLabel(Locale, "_ConfidentialityProtection"))</a>
                        </li>

                        <li>
                            <a>@Html.Raw(BaseController.GetFieldLabel(Locale, "_MinistriesIncluded"))</a>
                            <ul>
                                <li><a target="_blank" href="@Url.Content("~/imag/PDF/AlwizaratAlmoucharika/وثيقة خدمات وزارة الإدارة المحلية.pdf")">وثيقة خدمات وزارة الإدارة المحلية</a></li>
                                <li><a target="_blank" href="@Url.Content("~/imag/PDF/AlwizaratAlmoucharika/وثيقة خدمات وزارة الأشغال العامة والإسكان.pdf")">وثيقة خدمات وزارة الأشغال العامة والإسكان</a></li>
                            </ul>
                        </li>

                        <li>
                            <a>@Html.Raw(BaseController.GetFieldLabel(Locale, "_UserManual"))</a>
                            <ul>
                                <li><a target="_blank" href="@Url.Content("~/imag/adelatestekhdam/دليل استخدام تطبيق رضا المواطن.pdf")">دليل استخدام تطبيق رضا المواطن</a></li>
                                <li><a target="_blank" href="@Url.Content("~/imag/adelatestekhdam/دليل استخدام تطبيق رضا الموظف.pdf")">دليل استخدام تطبيق رضا الموظف</a></li>
                                <li><a target="_blank" href="@Url.Content("~/imag/adelatestekhdam/دليل استخدام تطبيق سوا لمكافحة الفساد.pdf")">دليل استخدام تطبيق سوا لمكافحة الفساد</a></li>
                                <li><a target="_blank" href="@Url.Content("~/imag/adelatestekhdam/دليل استخدام تطبيق معاً لتبسيط الاجراءات.pdf")">دليل استخدام تطبيق معاً لتبسيط الاجراءات</a></li>
                                <li><a target="_blank" href="@Url.Content("~/imag/adelatestekhdam/دليل استخدام تطبيق معاً لثبوتيات أقل.pdf")">دليل استخدام تطبيق معاً لثبوتيات أقل</a></li>
                                <li><a target="_blank" href="@Url.Content("~/imag/adelatestekhdam/كيف تصل الى منبر صلة وصل.pdf")">كيف تصل الى منبر صلة وصل</a></li>

                            </ul>
                        </li>

                        <li>
                            @{
                                var EmptyEstetla3Class = "";
                                if (Estetla3Ra2iPublishedFormsForManbar.Count == 0)
                                {
                                    EmptyEstetla3Class = "EmptyEstetla3Class";
                                }
                            }

                            <a class="@EmptyEstetla3Class">@Html.Raw(BaseController.GetFieldLabel(Locale, "_SurveyResults"))</a>
                            @if (Estetla3Ra2iPublishedFormsForManbar.Count != 0)
                            {
                                int i = 1;
                                <ul>
                                    @foreach (var item in Estetla3Ra2iPublishedFormsForManbar)
                                    {
                                        <li><a class="goToEstetla3ra2i" data-formkey="@item.FormKey">@Html.Raw(BaseController.GetFieldLabel(Locale, "_Surveys")) @i</a></li>
                                        i++;
                                    }
                                </ul>
                            }
                        </li>
                                if (User.Identity.IsAuthenticated && User.IsInRole("Citizen"))
                                {

                                    <li>
                                        <a id="gotodashbordCitizen">@Html.Raw(BaseController.GetFieldLabel(Locale, "_ClaimFollowup"))</a>
                                    </li>

                                    }

                                }
                                else if (ViewBag.PageName == "Markaz")
                                {

                                    <li>
                                        <a id="AboutMarkaz">@Html.Raw(BaseController.GetFieldLabel(Locale, "_AboutMarkaz"))</a>
                                    </li>



                                    if (User.Identity.IsAuthenticated)
                                    {
                                        <li>
                                            <a id="gotodashbord" style="text-align:right;">@Html.Raw(BaseController.GetFieldLabel(Locale, "_AboutAdministrativeServices"))</a>
                                        </li>

                                    }


                                    <li>
                                        <a>@Html.Raw(BaseController.GetFieldLabel(Locale, "_Studies"))</a>
                                        <ul>
                                            <li><a target="_blank" href="@Url.Content("~/imag/ايقونة دراسات/الموارد البشرية الشابة الفرص والتحديات.pdf")">الموارد البشرية الشابة الفرص والتحديات</a></li>
                                            <li><a target="_blank" href="@Url.Content("~/imag/ايقونة دراسات/تعزيز القدرات القيادية الشابة.pdf")">تعزيز القدرات القيادية الشابة</a></li>

                                            <li><a target="_blank" href="@Url.Content("~/imag/ايقونة دراسات/قياس الأداء الإداري للجهات العامة.pdf")">قياس الأداء الإداري للجهات العامة</a></li>
                                            <li><a target="_blank" href="@Url.Content("~/imag/ايقونة دراسات/مشروع الريادة السورية للكوادر الشابة.pdf")">مشروع الريادة السورية للكوادر الشابة</a></li>

                                        </ul>
                                    </li>


                                    @*<li>
                                            <a style="text-align:right;">مركز استعلامات</a>
                                        </li>*@

                                }
                                else
                                {
                                    <li>
                                        <a class="Markaz" id="AboutMarsad">@Html.Raw(BaseController.GetFieldLabel(Locale, "_AboutMarsad"))</a>
                                    </li>

                                    <li>
                                        <a>@Html.Raw(BaseController.GetFieldLabel(Locale, "_Experiences"))</a>
                                        <ul>
                                            <li><a target="_blank" href="@Url.Content("~/imag/ايقونة تجارب/التجربة الصينية في الإصلاح الإداري.pdf")">التجربة الصينية في الإصلاح الإداري</a></li>
                                            <li><a target="_blank" href="@Url.Content("~/imag/ايقونة تجارب/تجربة الإصلاح الإداري في ماليزيا.pdf")">تجربة الإصلاح الإداري في ماليزيا</a></li>
                                            <li><a target="_blank" href="@Url.Content("~/imag/ايقونة تجارب/تجربة دولة الإمارات العربية المتحدة في التنمية والتطوير الإداري.pdf")">تجربة دولة الإمارات العربية المتحدة في التنمية والتطوير الإداري</a></li>



                                        </ul>
                                    </li>

                                    @*<li>
                                            <a class="Markaz">مركز استعلامات</a>
                                        </li>*@


                                }

                    @if (ViewBag.PageName != "Manbar")
                    {

                        <li>
                            <a>@Html.Raw(BaseController.GetFieldLabel(Locale, "_Legislation"))</a>
                            <ul>
                                <li><a target="_blank" href="@Url.Content("~/imag/pdf/tachri3at/قانون مهام واختصاصات وزارة التنمية الإدارية.pdf")">القانون رقم ٢٨ لعام ٢٠١٨</a></li>
                                <li><a target="_blank" href="@Url.Content("~/imag/pdf/tachri3at/قانون معاوني الوزير.pdf")">القانون رقم ١٤ لعام ٢٠١٨</a></li>
                                <li><a target="_blank" href="@Url.Content("~/imag/pdf/tachri3at/قانون إلحاق السجل العام للعاملين في الدولة.pdf")">القانون رقم ٣٦ لعام ٢٠١٧</a></li>
                                <li><a target="_blank" href="@Url.Content("~/imag/pdf/tachri3at/قرار المؤشرات.pdf")">القرار رقم /٥٩/م.و</a></li>
                                <li><a target="_blank" href="@Url.Content("~/imag/pdf/tachri3at/قرار رقم 775.pdf")">قرار رقم 775</a></li>
                                <li><a target="_blank" href="@Url.Content("~/imag/pdf/tachri3at/قرار رقم 41 ت م.pdf")">قرار رقم 41 ت م</a></li>
                                <li><a target="_blank" href="@Url.Content("~/imag/pdf/tachri3at/قرار رقم 213.pdf")">قرار رقم 213</a></li>
                                <li><a target="_blank" href="@Url.Content("~/imag/pdf/tachri3at/قرار رقم 1559.pdf")">قرار رقم 1559</a></li>
                                <li><a target="_blank" href="@Url.Content("~/imag/pdf/tachri3at/المرسوم التشريعي رقم -2- لعام 2019.pdf")">المرسوم التشريعي رقم -2- لعام 2019</a></li>
                            </ul>
                        </li>

                        <li>
                            <a>@Html.Raw(BaseController.GetFieldLabel(Locale, "_Guides"))</a>
                            <ul>
                                <li><a target="_blank" href="@Url.Content("~/imag/pdf/adelaesterchadya/الدليل التعريفي للمشروع الوطني للإصلاح الإداري.pdf")">الدليل التعريفي للمشروع الوطني للإصلاح الإداري</a></li>
                                <li><a target="_blank" href="@Url.Content("~/imag/pdf/adelaesterchadya/دليل وضع خطة التنمية .pdf")" style="margin-top:2%" class="MargintOP">دليل وضع خطة التنمية </a></li>
                                <li><a target="_blank" href="@Url.Content("~/imag/pdf/adelaesterchadya/الخطة النموذجية للتنمية الإدارية.pdf")">الخطة النموذجية للتنمية الإدارية</a></li>
                                <li><a target="_blank" href="@Url.Content("~/imag/pdf/adelaesterchadya/دليل وضع الخطة النموذجية لوضع أطر برامج تأهيل وتدريب الكوادر البشرية.pdf")">دليل وضع الخطة النموذجية لوضع أطر برامج تأهيل وتدريب الكوادر البشرية</a></li>
                                <li><a target="_blank" href="@Url.Content("~/imag/pdf/adelaesterchadya/الخطة النموذجية لوضع أطر برامج تأهيل وتدريب الكوادر البشرية.pdf")">الخطة النموذجية لوضع أطر برامج تأهيل وتدريب الكوادر البشرية</a></li>
                                <li><a target="_blank" href="@Url.Content("~/imag/adelatestekhdam/دليل المصطلحات الأساسية للمشروع_.pdf")">دليل المصطلحات الأساسية للمشروع</a></li>
                                <li><a target="_blank" href="@Url.Content("~/imag/PDF/AdelaEsterchadya/دليل مديريات التنمية الإدارية.pdf")">دليل مديريات التنمية الإدارية</a></li>
                                <li><a target="_blank" href="@Url.Content("~/imag/PDF/AdelaEsterchadya/الوثيقة الاسترشادية لإعداد ومراجعة الهيكل الوظيفي في الجهات العامة.pdf")">الوثيقة الاسترشادية لإعداد ومراجعة الهيكل الوظيفي في الجهات العامة</a></li>
                                <li><a target="_blank" href="@Url.Content("~/imag/PDF/AdelaEsterchadya/الوثيقة الاسترشادية لإعداد ومراجعة الهيكل التنظيمي في الجهات العامة.pdf")">الوثيقة الاسترشادية لإعداد ومراجعة الهيكل التنظيمي في الجهات العامة</a></li>
                            </ul>
                        </li>


                        <li>
                            <a>@Html.Raw(BaseController.GetFieldLabel(Locale, "_UserManual"))</a>
                            <ul>
                                <li><a target="_blank" href="@Url.Content("~/imag/adelatestekhdam/دليل استخدام تطبيق رضا المواطن.pdf")">دليل استخدام تطبيق رضا المواطن</a></li>
                                <li><a target="_blank" href="@Url.Content("~/imag/adelatestekhdam/دليل استخدام تطبيق رضا الموظف.pdf")">دليل استخدام تطبيق رضا الموظف</a></li>
                                <li><a target="_blank" href="@Url.Content("~/imag/adelatestekhdam/دليل استخدام تطبيق سوا لمكافحة الفساد.pdf")">دليل استخدام تطبيق سوا لمكافحة الفساد</a></li>
                                <li><a target="_blank" href="@Url.Content("~/imag/adelatestekhdam/دليل استخدام تطبيق معاً لتبسيط الاجراءات.pdf")">دليل استخدام تطبيق معاً لتبسيط الاجراءات</a></li>
                                <li><a target="_blank" href="@Url.Content("~/imag/adelatestekhdam/دليل استخدام تطبيق معاً لثبوتيات أقل.pdf")">دليل استخدام تطبيق معاً لثبوتيات أقل</a></li>
                                <li><a target="_blank" href="@Url.Content("~/imag/adelatestekhdam/كيف تصل الى منبر صلة وصل.pdf")">كيف تصل الى منبر صلة وصل</a></li>

                            </ul>
                        </li>

                        if (ViewBag.PageName == "Markaz")
                        {
                            <li>
                                @{
                                    var EmptyEstetla3Class = "";
                                    if (Estetla3Ra2iPublishedFormsForManbar.Count == 0)
                                    {
                                        EmptyEstetla3Class = "EmptyEstetla3Class";
                                    }
                                }

                                <a class="@EmptyEstetla3Class">@Html.Raw(BaseController.GetFieldLabel(Locale, "_SurveyResults"))</a>
                                @if (Estetla3Ra2iPublishedFormsForManbar.Count != 0)
                                {
                                    int i = 1;
                                    <ul>
                                        @foreach (var item in Estetla3Ra2iPublishedFormsForManbar)
                                        {
                                            <li><a class="goToEstetla3ra2i" data-formkey="@item.FormKey">@Html.Raw(BaseController.GetFieldLabel(Locale, "_Surveys")) @i</a></li>
                                            i++;
                                        }
                                    </ul>
                                }
                            </li>
                                        }

                                    }


                    @if (ViewBag.PageName == "Manbar")
                    {

                        if (!User.Identity.IsAuthenticated)
                        {

                            <li><a id="SignInManbar" class="login">@Html.Raw(BaseController.GetFieldLabel(Locale, "_Login"))</a></li>


                        }
                        else
                        {
                            if (User.Identity.IsAuthenticated && User.IsInRole("Citizen"))
                            {
                                <li>
                                    <a>

                                        <span style="color:white; clear:both; white-space:nowrap; display:inline-block;font-size: 16px;">
                                            @Html.Raw(BaseController.GetFieldLabel(Locale, "_Welcome")) @User.Identity.GetUserName()
                                        </span>
                                    </a>
                                </li>

                                <li><a class="logoff" style="color:white; white-space:nowrap; display:inline-block;">خروج</a></li>
                            }




                        }




                    }
                    else if (ViewBag.PageName == "Markaz")
                    {


                        if (User.Identity.IsAuthenticated && !User.IsInRole("Citizen"))
                        {

                            <li>
                                <a>

                                    <span style="color:white; clear:both; white-space:nowrap; display:inline-block;font-size: 16px;">
                                        @Html.Raw(BaseController.GetFieldLabel(Locale, "_Welcome")) @User.Identity.GetUserName()
                                    </span>
                                </a>
                            </li>

                            <li><a class="logoff" style="color:white; white-space:nowrap; display:inline-block;">@Html.Raw(BaseController.GetFieldLabel(Locale, "_Logout"))</a></li>


                        }

                    }

                   
                <li style="float:right;" class="languageDropdown">
                    @if (languageCookie == null)
                    {
                        <a>العربية</a>
                    }
                    else if (languageCookie.Value == "4")
                    {
                        <a>English</a>
                    }
                    else if (languageCookie.Value == "3")
                    {
                        <a>العربية</a>
                    }
                    else if (languageCookie.Value == "62")
                    {
                        <a>Francais</a>
                    }

                <ul>
                    @if (languageCookie == null)
                    {
                        <li>
                            <a onclick="changeLanguage('4')">English</a>
                        </li>
                        <li>
                            <a onclick="changeLanguage('62')">Francais</a>
                        </li>
                    }
                    else if (languageCookie.Value == "4")
                    {
                        <li>
                            <a onclick="changeLanguage('3')">العربية</a>
                        </li>
                        <li>
                            <a onclick="changeLanguage('62')">Francais</a>
                        </li>
                    }
                    else if (languageCookie.Value == "3")
                    {
                        <li>
                            <a onclick="changeLanguage('4')">English</a>
                        </li>
                        <li>
                            <a onclick="changeLanguage('62')">Francais</a>
                        </li>
                    }
                    else if (languageCookie.Value == "62")
                    {
                        <li>
                            <a onclick="changeLanguage('3')">العربية</a>
                        </li>
                        <li>
                            <a onclick="changeLanguage('4')">English</a>
                        </li>
                    }

                </ul>
                </li>                   
                </ul>
            </nav>


        </div>

    </header>


    @RenderBody()

        <div class="Body" style="filter: blur(25px);transition: filter 2s;-webkit-transition: filter 2s;">

            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 ft1">           
                    <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1"></div>
                    <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2 ">
                        <div class="smallimage">
                            <img src="~/Imag/f2.png" class="imgft" />
                        </div>
                    </div>
                    <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2 ">
                        <div class="smallimage">
                            <img src="~/Imag/f3.png" class="imgft" />
                        </div>
                    </div>
                    <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2 ">
                        <div class="smallimage">
                            <img src="~/Imag/ft5.png" class="imgft" />
                        </div>
                    </div>
                    <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2 ">
                        <div class="smallimage">
                            <img src="~/Imag/ft6.png" class="imgft" />
                        </div>
                    </div>
                    <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2 ">
                        <div class="smallimage">
                            <img src="~/Imag/f2.png" class="imgft" />
                        </div>
                    </div>
                    <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1 "></div>
              
            </div>

            <footer id="myFooter">
                <div class="container">
                    <div class="row">

                        
                        <div class="col-xs-12 col-sm-6 col-lg-6">
                            <h5 style="text-align:center;">@Html.Raw(BaseController.GetFieldLabel(Locale, "_News"))</h5>
                            <ul style="text-align:center;">
                                <li><a id="AkhbarWizara">@Html.Raw(BaseController.GetFieldLabel(Locale, "_MoaDNews"))</a></li>
                                <li><a id="Machari3Wizara">@Html.Raw(BaseController.GetFieldLabel(Locale, "_MoaDProjects"))</a></li>

                            </ul>
                        </div>

                        <div class="col-xs-12 col-sm-6 col-lg-6">
                            <h5 style="text-align:center;">@Html.Raw(BaseController.GetFieldLabel(Locale, "_Email"))</h5>
                            <ul style="text-align:center;">
                                <li><a>@Html.Raw(BaseController.GetFieldLabel(Locale, "_ForCitizens")): info@moad-sy.org</a></li>
                                <li><a>@Html.Raw(BaseController.GetFieldLabel(Locale, "_ForMinister")): minister@moad-sy.org</a></li>
                                <li><a>@Html.Raw(BaseController.GetFieldLabel(Locale, "_ForOrganisations")): support@moad-sy.org</a></li>
                                <li><a>@Html.Raw(BaseController.GetFieldLabel(Locale, "_ForManager")): director@moad-sy.org</a></li>

                            </ul>
                        </div>
                    </div>
                </div>
                <div class="social-networks">
                    <a href="@Url.Content("https://twitter.com/moadsy")" target="_blank" class="twitter"><i class="fa fa-twitter"></i></a>
                    <a href="@Url.Content("https://en-gb.facebook.com/moad.gov.sy/")" target="_blank" class="facebook"><i class="fa fa-facebook-official"></i></a>
                    <a href="@Url.Content("https://plus.google.com/u/0/104034386529231101869")" target="_blank" class="google"><i class="fa fa-google-plus"></i></a>
                </div>
                <div class="footer-copyright">
                    <p>Copyright © @DateTime.Now.Year  <span style="color: #ee2102"> @Html.Raw(BaseController.GetFieldLabel(Locale, "_MOAD"))</span> </p>
                </div>
            </footer>
        </div>

        <script>

        $(function () {
            $('#main-menu').smartmenus({
                subMenusSubOffsetX: 1,
                subMenusSubOffsetY: -8
            });
        });


        $(".dropbtn").click(function () {

            $(this).next().toggle();
        });

        document.addEventListener('keydown', function (event) {
            if (event.keyCode == 27) {
                event.preventDefault();
            }

        });


        function myFunction() {
            var x = document.getElementById("myTopnav");
            if (x.className === "topnav") {
                x.className += " responsive";
            } else {
                x.className = "topnav";
            }
        }


        /////////LoaderPart////
        $(window).load(function () {



            setTimeout(function () {
                fadeOutEffect();
            }, 2000);




            function fadeOutEffect() {

                var fadeTarget = document.getElementById("overlay");
                var fadeEffect = setInterval(function () {
                    if (!fadeTarget.style.opacity) {
                        fadeTarget.style.opacity = 1;
                    }
                    if (fadeTarget.style.opacity > 0) {
                        fadeTarget.style.opacity -= 0.1;
                    } else {
                        clearInterval(fadeEffect);
                    }


                }, 300);

                setTimeout(function () {
                    $(".Body").css("filter", "");

                }, 3000);
                setTimeout(function () {

                   $("#overlay").remove();
                }, 5000);

            }

        });
        /////////End LoaderPart////



        //function myFunction() {
        //    var x = document.getElementById("myTopnav");
        //    if (x.className === "topnav") {
        //        x.className += " responsive";
        //    } else {
        //        x.className = "topnav";
        //    }
        //}

        $("#SignInMarkaz").click(function () {

            @if (User.Identity.IsAuthenticated)
            {

                if (User.IsInRole("PB"))
                {
 <text>
            window.location = '@Url.Action("Index", "PBDashboard")';

            </text>
                }
                else
                {
 <text>
            submit_post_via_hidden_form("@Url.Action("Index", "Home")", {});

            </text>
                }

            } else
            {
                <text>
            submit_post_via_hidden_form("@Url.Action("LoginView", "Account")", { ManagerIndex: "True" });

            </text>
            }


        });

        $("#SinInMangersButton").click(function () {

            @if (User.Identity.IsAuthenticated)
                            {

                                if (User.IsInRole("PB"))
                                {
 <text>
            window.location = '@Url.Action("Index", "PBDashboard")';

            </text>
                                }
                                else
                                {
 <text>
            submit_post_via_hidden_form("@Url.Action("Index", "Home")", {});

            </text>
                                }

            }else
            {
                <text>
            submit_post_via_hidden_form("@Url.Action("LoginView", "Account")", { ManagerIndex: "True" });

            </text>
            }


        });

        $(".goToEstetla3ra2i").click(function () {
            var formKey = $(this).attr("data-formkey");
             submit_post_via_hidden_form("@Url.Action("Index", "SurveyReport")", { FormTemKey: formKey });
        })

        $(".EmptyEstetla3Class").hover(function () {
            $(this).text("لا يوجد نتائج إستطلاعات رأي");
        })

        $(".EmptyEstetla3Class").mouseleave(function () {
            $(this).text("نتائج إستطلاعات الرأي");
        })

        $("#GlobalLearningLink").click(function () {

            window.location.href = "http://www.gl.ae/home";

        });


        $("#SignInManbar").click(function () {

            submit_post_via_hidden_form("@Url.Action("LoginView", "Account")", {});


        });

        $("#GoToManbar").click(function () {

            submit_post_via_hidden_form("@Url.Action("Manbar", "Home")", {});


        });

        $("#GoToMarkaz").click(function () {

            submit_post_via_hidden_form("@Url.Action("Index", "Home")", {});


        });


        $("#AboutMarsad").click(function () {
            if (checkIfSamePage("Home/AboutMarsad") == "NotFound")
                submit_post_via_hidden_form("@Url.Action("AboutMarsad", "Home")", {});


        });


        $("#AboutMarkaz").click(function () {
            if (checkIfSamePage("Home/AboutMarkaz") == "NotFound")
                submit_post_via_hidden_form("@Url.Action("AboutMarkaz", "Home")", {});


        });

        $("#AboutManbar").click(function () {




            if (checkIfSamePage("Home/AboutManbar") == "NotFound")
                submit_post_via_hidden_form("@Url.Action("AboutManbar", "Home")", {});

        });


        function checkIfSamePage(PagePath) {
            var url = window.location.href;     // Returns full URL


            if (url.indexOf(PagePath) != -1) {
                return "Found";
            } else {
                return "NotFound"
            }


        }

        $("#Khousousya").click(function () {
            if (checkIfSamePage("Home/Khousousya") == "NotFound")
                submit_post_via_hidden_form("@Url.Action("Khousousya", "Home")", {});


        });

        $("#Himayatalserya").click(function () {
            if (checkIfSamePage("Home/Himayatalserya") == "NotFound")
                submit_post_via_hidden_form("@Url.Action("Himayatalserya", "Home")", {});


        });

        @*var ClassName = '@ViewBag.PageName';

                        $("." + ClassName).show();*@



        $("#Moutaba3atChakwa").click(function () {


            window.location = '@Url.Action("Index", "UserDashboard")';

        });


        $("#gotodashbordCitizen").click(function () {


            @if (User.Identity.IsAuthenticated)
       {
                      <text>
            window.location = '@Url.Action("Index", "UserDashboard")';

            </text>
            }else
            {

                                     <text>
            $("#SignInManbar").click();

            </text>

            }



        });


        $("#gotodashbord").click(function () {

            @if (User.IsInRole("ADManager") || User.IsInRole("ADDirector") || User.IsInRole("HR"))
            {
                <text>
            window.location = '@Url.Action("AdUsersLandingPage", "Home")';

            </text>
            }@*else
                if (User.IsInRole("Administrator")) {

                    <text>
            window.location = '@Url.Action("Index", "AspNetUsers")';


            </text>

                }*@else
                    if (User.IsInRole("Editor")) {

                        <text>
            window.location = '@Url.Action("Index", "MouwazafinWithOrgs")';


            </text>

                    }
                    else
                        if (User.IsInRole("PB")) {

                            <text>
            window.location = '@Url.Action("Index", "PBDashboard")';


            </text>

                        }
                        else
                        {
                            <text>
            window.location = '@Url.Action("Index", "UserDashboard")';

            </text>
                        }

            {

            }
        });

        function submit_post_via_hidden_form(url, params) {
            var f = $("<form method='POST' style='display:none;'></form>").attr({
                action: url
            }).appendTo(document.body);

            for (var i in params) {
                if (params.hasOwnProperty(i)) {
                    $('<input type="hidden" />').attr({
                        name: i,
                        value: params[i]
                    }).appendTo(f);
                }
            }

            f.submit();

            f.remove();
        }

        $("#AkhbarWizara").click(function () {

            submit_post_via_hidden_form("@Url.Action("AkhbarWizara", "Home")", {});


        })

        $("#HeaderLogo").click(function () {
            submit_post_via_hidden_form("@Url.Action("Index", "Home")", {});

        })

        $("#Machari3Wizara").click(function () {

            submit_post_via_hidden_form("@Url.Action("Machari3Wizara", "Home")", {});


        })


        $(".akhbaralwizara").click(function () {
            window.location = '@Url.Action("AboutWizara", "Home")';
        });

        $(".machari3alwizara").click(function () {
            window.location = '@Url.Action("AboutMachari3", "Home")';
        });


        $(".logoff").click(function () {


            window.location = '@Url.Action("LogOff", "Account")';

        });

        function goToMyClaim(formKey, GUID, CreatedAt, CitizenKey, NextFormTemplateKey, CurrentStatusKey, CurrentFormtemplateKey, CurrentFormtemplateName, CurrentStatusName, NextOrganisationKey, CurrentOrganisationKey) {

            @if (User.IsInRole("ADManager") || User.IsInRole("ADDirector"))
           {
               <text>
            submit_post_via_hidden_form("@Url.Action("ADManagerTemplate", "FormTemplatesDisplay")", { formKey: formKey, GUID: GUID, CreatedAt: CreatedAt, CitizenKey: CitizenKey, CurrentStatusKey: CurrentStatusKey, NextFormTemplateKey: NextFormTemplateKey, CurrentFormtemplateKey: CurrentFormtemplateKey, CurrentFormtemplateName: CurrentFormtemplateName, NextOrganisationKey: NextOrganisationKey, CurrentOrganisationKey: CurrentOrganisationKey });

            @*window.location = '@Url.Action("ADManagerTemplate", "FormTemplatesDisplay")/' + "?formKey=" + formKey + "&GUID=" + GUID + "&CreatedAt=" + CreatedAt + "&CitizenKey=" + CitizenKey + "&CurrentStatusKey=" + CurrentStatusKey + "&NextFormTemplateKey=" + NextFormTemplateKey + "&CurrentFormtemplateKey=" + CurrentFormtemplateKey + "&CurrentFormtemplateName=" + CurrentFormtemplateName + "&NextOrganisationKey=" + NextOrganisationKey + "&CurrentOrganisationKey=" + CurrentOrganisationKey;*@
            </text>
                        }
            @if (User.IsInRole("OPManager") || User.IsInRole("OPGeneralDirector") || User.IsInRole("OPDirector") || User.IsInRole("Human Development Sector") || User.IsInRole("Administrative sector") || User.IsInRole("Economic sector") || User.IsInRole("Service sector"))
            {
                <text>
            @*window.location = '@Url.Action("FormInstance", "Home")/' + "?formKey=" + formKey + "&GUID=" + GUID + "&CreatedAt=" + CreatedAt + "&CitizenKey=" + CitizenKey + "&CurrentStatusKey=" + CurrentStatusKey + "&NextFormTemplateKey=" + NextFormTemplateKey + "&CurrentFormtemplateKey=" + CurrentFormtemplateKey + "&CurrentFormtemplateName=" + CurrentFormtemplateName + "&CurrentStatusName=" + CurrentStatusName + "&NextOrganisationKey=" + NextOrganisationKey + "&CurrentOrganisationKey=" + CurrentOrganisationKey;*@
            submit_post_via_hidden_form("@Url.Action("FormInstance", "Home")", { formKey: formKey, GUID: GUID, CreatedAt: CreatedAt, CitizenKey: CitizenKey, CurrentStatusKey: CurrentStatusKey, NextFormTemplateKey: NextFormTemplateKey, CurrentFormtemplateKey: CurrentFormtemplateKey, CurrentFormtemplateName: CurrentFormtemplateName, CurrentStatusName: CurrentStatusName, NextOrganisationKey: NextOrganisationKey, CurrentOrganisationKey: CurrentOrganisationKey });

            </text>
                        }
            @if (User.IsInRole("Citizen"))
            {
                <text>
            @*window.location = '@Url.Action("ADManagerTemplate", "FormTemplatesDisplay")/' + "?formKey=" + formKey + "&GUID=" + GUID + "&CreatedAt=" + CreatedAt + "&CitizenKey=" + CitizenKey + "&CurrentStatusKey=" + CurrentStatusKey + "&NextFormTemplateKey=" + NextFormTemplateKey + "&CurrentFormtemplateKey=" + CurrentFormtemplateKey + "&CurrentFormtemplateName=" + CurrentFormtemplateName + "&NextOrganisationKey=" + NextOrganisationKey + "&CurrentOrganisationKey=" + CurrentOrganisationKey;*@
            submit_post_via_hidden_form("@Url.Action("ADManagerTemplate", "FormTemplatesDisplay")", { formKey: formKey, GUID: GUID, CreatedAt: CreatedAt, CitizenKey: CitizenKey, CurrentStatusKey: CurrentStatusKey, NextFormTemplateKey: NextFormTemplateKey, CurrentFormtemplateKey: CurrentFormtemplateKey, CurrentFormtemplateName: CurrentFormtemplateName, NextOrganisationKey: NextOrganisationKey, CurrentOrganisationKey: CurrentOrganisationKey });

            </text>
                        }
        }


        function changeLanguage(languageCode) {
            $.ajax({
                url: '@Url.Action("ChangeLanguage", "Home")',
                type: 'GET',
                cache: false,
                dataType: 'text',
                data: ({
                    id: languageCode
                }),
                contentType: 'application/json; charset=utf-8',
                success: function (data) {
                    location.reload();
                },
                error: function (xhr) {
                    console.log('errorr');
                }
            });
        }
        </script>
</body>
</html>
