﻿@using Microsoft.AspNet.Identity
@using MoAD.DataObjects.EDMX
@using MoAD.WebApplication.Objects;
@using MoAD.WebApplication.Models;
@using MoAD.WebApplication.Managers;

@{
    ViewBag.Title = "Home Page";
    Layout = null;
    HttpCookie languageCookie = Request.Cookies["Language"];
    var InitialDirection = "rtl";
    if (languageCookie != null && languageCookie.Value != "3")
    {
        InitialDirection = "ltr";
    }
    List<GetAdManagerForms_Result> Estetla3Ra2iPublishedFormsForManbar = ViewBag.Estetla3Ra2iPublishedForms;

    if (Estetla3Ra2iPublishedFormsForManbar == null)
    {
        Estetla3Ra2iPublishedFormsForManbar = new List<GetAdManagerForms_Result>();
    }
    Dictionary<string, string> Locale = ViewBag.Locale;
    int languageIdentifier = (int)ViewBag.CurrentLanguageIdentifier;
    int? pageKey = (int?)ViewBag.pageKey;
    int navBarItemComponentKey = (int)ViewBag.NavBarItemComponentKey;
    List<NavBarViewModel> NavbarData = (List<NavBarViewModel>)ViewBag.NavbarData;
    int sliderItemComponentKey = (int)ViewBag.SliderItemComponentKey;
    List<NavBarViewModel> SliderData = (List<NavBarViewModel>)ViewBag.SliderData;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <title> مرصد الأداء الإداري</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="@Url.Content("~/assets/NewPages/bootstrap/bootstrap.min.css")">
    <link rel="stylesheet" href="@Url.Content("~/assets/NewPages/slider2/normalize.css")">
    <link rel='stylesheet' href="@Url.Content("~/assets/NewPages/slider2/swiper.css")">
    <script src="@Url.Content("~/assets/NewPages/jquery/jquery.min.js")"></script>
    <script src="@Url.Content("~/assets/NewPages/bootstrap/bootstrap.min.js")"></script>


    <link href="@Url.Content("~/content/header/sm-core-css.css")" rel="stylesheet" />
    <link href="@Url.Content("~/content/header/sm-blue.css")" rel="stylesheet" />

    <link href="@Url.Content("~/content/header/sm-core-css.css")" rel="stylesheet" />
    <link href="@Url.Content("~/content/header/sm-blue.css")" rel="stylesheet" />
    @*<script src="@Url.Content("~/Scripts/vendors/jquery/jquery.min.js")"></script>*@
    <link href="@Url.Content("~/Content/SharedLayout.css")" rel="stylesheet" />
    <link href="@Url.Content("~/Content/Css/font-awesome.min.css")" rel="stylesheet" type="text/css" />
    <script src="@Url.Content("~/scripts/header/jquery.smartmenus.js")"></script>



    <link rel="apple-touch-icon" sizes="180x180" href="@Url.Content("~/assets/app/media/img/favicon/apple-touch-icon.png")">
    <link rel="icon" type="image/png" sizes="32x32" href="@Url.Content("~/assets/app/media/img/favicon/favicon-32x32.png")">
    <link rel="icon" type="image/png" sizes="16x16" href="@Url.Content("~/assets/app/media/img/favicon/favicon-16x16.png")">
    <link rel="manifest" href="@Url.Content("~/assets/app/media/img/favicon/site.webmanifest")">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">


    <style>
       /* .card{
            text-align:center;
        }
*/

        #Top10Orgs:hover {
            color: #ed2814;
        }

        @@media(max-width: 600px) {
            #HeaderLogo {
                width: 25% !important;
            }
        }
        @@font-face {
        font-family: 'ge_dinar_onemedium';
        src:url('@Url.Content("~/assets/vendors/Fonts/GE Dinar One Medium.ttf")') format('truetype'),
            url('@Url.Content("~/assets/vendors/Fonts/ge-dinar-one-medium-webfont.woff2")') format('woff2'),
            url('@Url.Content("~/assets/vendors/Fonts//ge-dinar-one-medium-webfont.woff")') format('woff');
        font-weight: normal;
        font-style: normal;
    }
        .text-color {
            color: #50718c;
        }

        .boldClass{
            font-weight:bold !important;
        }

        .level1Font{
            font-size:2.8rem;
        }
        .level2Font {
            font-size: 2.3rem;
        }
        .level3Font {
            font-size: 2.0rem;
        }
        .title-container {
            background: #e5eaec;
            padding: 10px;
        }
        .title-container>div{
            padding:10px;
        }
            .title-container p {
                color: #ed2814;
                margin: 0 !important;
            }

        .card {
            height: 320px !important;
        }
        .eee3 span {
            background: none;
            color: white;
            margin: 50px 0px;
            font-size:2.3rem;
        }

        .carousel-caption p {
            font-size: 25px;
        }
        .white-bg{
            background:white !important;
        }
        body {
            background: url(../Images/backgrounds/background.jpg) !important;
            background-repeat: no-repeat !important;
            background-size: 100% !important;
            /*padding-top: 38px;*/
        }

        #containerLyomNkeye {
            background-image: url(../Images/backgrounds/MarsadSlider/background.jpg);
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
        }

        [dir="rtl"] {
            background-color: white !important;
        }

        body, h1, h2, h3, h4, h5, h6,button {
            font-family: 'ge_dinar_onemedium' !important;
        }
        ul a{
            cursor:pointer;
        }
        .sm-blue a, .sm-blue a:hover, .sm-blue a:focus, .sm-blue a:active {
            font-family: 'ge_dinar_onemedium' !important;
        }

        a {
            border-bottom: none !important;
        }

        h4, h3 {
            font-weight: normal !important;
        }

        .sm-blue li ul::-webkit-scrollbar {
            background: #D2D2D6;
            width: 8px;
        }

        .sm-blue li ul::-webkit-scrollbar-thumb {
            background: #64A1BC;
        }

        #main-menu {
            border-radius: 0px;
        }

        .colu5 {
            background-image: url(../Images/backgrounds/takrir-ada2-sanawi.png) !important;
        }
        .colu3 {
            background-image: url(../Images/backgrounds/takrir-ada2-wizarat.png) !important;
        }


        .pointer{
            cursor:pointer;
        }
        .sm-blue, .sm-blue li .has-submenu, .sm-blue .element, .sm-blue .no-child {
            background: #447F99 !important;
        }

            .sm-blue a {
                font-weight: normal !important;
                padding: 17px !important;
                font-size: 17px !important;
            }

            .sm-blue li ul {
                width: max-content !important;
                background: #F7F8F9;
                height: 150px;
                min-height: 200px;
                border: 0px !important;
                overflow: scroll;
                overflow-x: hidden;
            }


            .sm-blue li ul {
                right: 0px;
            }

                .sm-blue li ul li {
                    float: none !important;
                }

            .sm-blue li .has-submenu:hover, .sm-blue li .has-submenu:focus {
                color: #447F99 !important;
                background: #F7F8F9 !important;
            }

                .sm-blue li .has-submenu:hover i {
                    color: #447F99 !important;
                    background: #F7F8F9 !important;
                }



            .sm-blue .has-submenu .sub-arrow {
                display: none;
            }

            .sm-blue > li {
                border-right: 1px solid white;
            }

            .sm-blue li ul a {
                background: #F7F8F9;
                color: #447F99;
            }

            .sm-blue i {
                font-size: 16px;
                color: white;
                margin-left: 8px;
            }

        header button {
            border: none;
            margin-bottom: 4px;
            background: none;
            font-size: 17px;
            color: #447F99;
            font-weight: bold;
        }
        .box1 {
            padding: 1%;
            font-size: 1vw;
            background-color: white;
            margin-top: 1vw;
            margin-bottom: 1vw;
            box-shadow: 0px 0px 16px 6px #c6b4b4;
            border: solid 0.3vw #d8d4d4;
        }
            .box1 p {
                font-size:2.5rem;
            }
        .row{
            margin-right:0px !important;
            margin-left:0px !important;
        }
        .col1 {
            height: 0.5vw;
            background-color: red;
            margin-top: 3vw;
        }

        .card-box {
            /*background: white;*/
            padding: 20px 0px;
            position: relative;
            border: 30px solid transparent;
        }
            .card-box::after {
                content: "";
                background: rgb(0,25,49);
                background: linear-gradient(90deg, rgba(0,25,49,1) 0%, rgba(37,83,120,1) 50%, rgba(0,25,49,1) 100%);
                display: block;
                height: 10px;
                width: 100%;
                position: absolute;
                bottom: 0;
            }
            header button:first-child {
                border-right: 2px solid #447F99;
            }

        h1 {
            font-size: 2.5rem !important;
        }

        h2 {
            font-size: 2.06rem;
        }
        .obs1 {
            position: relative;
            background-color: #fbe5e5;
            height: 3vw;
            background: rgba(255, 255, 255, .5);
            top: -116px;
            padding: 3px 14px;
            /* text-align: center; */
        }
        .titles2 {
            font-size: 1.5vw;
        }




        .card {
            overflow: hidden;
            position: relative;
        }






        header {
            background: url(../Images/backgrounds/background.jpg) !important;
            background-repeat: no-repeat !important;
            background-size: cover !important;
            padding-top: 38px;
        }





        .carousel-control.right, .carousel-control.left {
            background-image: none;
        }








        .text-container p {
            line-height: 1.9;
            max-width: 25rem;
            font-size: 1.25rem;
        }

        .text-container h2 {
            text-shadow: 2px 7px 2px #bbadad;
            color: #8E1927;
            font-size: 2.125rem;
            border-bottom: 2px solid #8E1927;
        }




        .HeaderH1 {
            color: #5c6a72;
            font-weight: bold;
            text-align: center;
            line-height: 1.5;
            font-size: 2.9rem !important;
        }




        .takarir-container {
            background-color: #447F99;
            margin: 30px;
            border-radius: 20px;
            padding: 10px;
        }

            .takarir-container h1 {
                color: white;
            }

        .takrir-ada2-container {
            background: url(../Images/takarir/تقرير-الأداء-الحكوميbutton.png);
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            height: 244px;
        }



        .card h3 {
            font-size: 17px;
        }

        .colu15 {
            background-image: url(../Imag/block-8.png);
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
        }

        .colu3, .colu4, .colu5, .colu6, .colu44, .colu55, .colu66 {
            height: 20vw;
        }

        .colu6 {
            background-image: url(../Images/backgrounds/haykal-bg.jpg);
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
        }

        .colu4 {
            background-image: url(../Images/backgrounds/business.png);
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
        }



        .colu3 {
            background-image: url(@Url.Action("GetFilePathFromExtendedData","Files", new { extensionFileKey= 143114 }));
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
        }

        .colu5 {
            background-image: url(@Url.Action("GetFilePathFromExtendedData","Files", new { extensionFileKey= 143115 }));
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
        }

        .colu44 {
            background-image: url(@Url.Action("GetFilePathFromExtendedData","Files", new { extensionFileKey= 143109 }));
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
        }
        .colu55 {
            background-image: url(@Url.Action("GetFilePathFromExtendedData","Files", new { extensionFileKey= 143110 }));
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
        }
        .colu66 {
            background-image: url(@Url.Action("GetFilePathFromExtendedData","Files", new { extensionFileKey= 143111 }));
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
        }


        .imgft {
            height: 10vw !important;
        }

        .smallimage {
            margin: auto;
        }

        .linetitle {
            background-color: #882525;
            height: 0.3vw;
            margin-bottom: 0.5vw;
        }

        .kalimaTawjihyaText {
            font-size: 1.750rem;
        }

        hr {
            box-shadow: 0px 8px 5px 0px rgba(0,0,0,0.26);
        }

        .box {
            margin-top: -55px;
            background: #D9DBDA;
            text-align: center;
            box-shadow: 8px 7px 5px 0px rgba(0,0,0,0.52);
        }

            .box p {
                color: #646464;
                font-size: 2.5rem;
                margin: 20px 0;
            }

        footer {
            background: url(../Images/backgrounds/footer-background.jpg) !important;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover !important;
            /*padding-top: 1.875rem;
            padding-right: 1.875rem;
            padding-left: 1.875rem;*/
        }



        .flex {
            display: flex;
            align-items: center;
            justify-content: center;
        }


        footer h3 {
            font-size: 31px;
        }

        footer li {
            color: white;
            padding-bottom: 10px;
            font-size: 1.9rem;
        }

        .mapouter {
            height: auto;
        }






     .eee {
            background-image: url(@Url.Action("GetFilePathFromExtendedData","Files", new { extensionFileKey= 143113 }));
            background-position: center;
            background-repeat: no-repeat;
            background-size: 100% 100%;

        }




        .ft1 {
            width: 100%;
            background-image: url(@Url.Action("GetFilePathFromExtendedData","Files", new { extensionFileKey= 143112 }));
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            min-height: 10vw !important;

        }



        .reveal {
            position: relative;
            transform: translateY(150px);
            opacity: 0;
            transition: 1s all ease;
        }

            .reveal.active {
                transform: translateY(0);
                opacity: 1;
            }

        #overlay {
            position: fixed;
            z-index: 99999999999999999999999999999;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            /* background: rgb(249, 249, 251); */
            transition: 1s 0.4s;
            background: #ffff;
          /*  opacity: 0.8;*/
        }

            /* MEDIA QUERIES*/















        @@media(max-width:1200px) {
            .box-left {
                height: 66% !important;
            }

            .box {
                margin: 11px 10px;
            }

            .text-container2-fix {
                height: 350px;
            }
        }
        @@media(min-width:1025px){
            .takrir-footer {
                padding-top: 123px;
            }
        }
        @@media(max-width:1024px) {
            .sm-blue a {
                font-weight: normal !important;
                padding: 10px !important;
                font-size: 1.7rem !important;
            }
            .HeaderH1 {
                line-height: 1.5;
                font-size: 2.1rem !important;
            }


            .card-box {
                border: 10px solid transparent !important;
            }

            }



            header button {
                font-size: 12px !important;
            }



        @@media(max-width:991px){
            .card h3 {
                line-height: 2.9;
            }
        }

        @@media(max-width:980px) {
            .HeaderH1 {
                font-size: 2.5rem !important;
            }
        }



        @@media(max-width:920px) {
            .carousel-caption p {
                font-size: 18px !important;
            }
        }

        @@media(max-width:800px) {
            .coluxx1, .coluxx2, .coluxx3 {
                height: 22vw !important;
            }

            .img-container {
                height: auto;
            }

            .slider-responsive > div {
                display: block;
            }

            .coluxx1, .coluxx2, .coluxx3 {
                height: 38.25rem;
            }
        }


        @@media(min-width:768px){
            .eee3 span{
                font-size:2.8rem !important;
            }
        }
        @@media(max-width:768px) {


            .HeaderH1 {
                font-size: 1.8rem !important;
            }


        }






        @@media(max-width:645px) {
            .carousel-caption p {
                font-size: 12px !important;
            }
        }









        @@media(max-width:425px){
            .level1Font{
                font-size:2.3rem;
            }
            .level2Font{
                font-size:2.1rem;
            }
            .level3Font{
                font-size:1.8rem;
            }
            .HeaderH1 {
                font-size: 1.9rem !important;
            }
            #HeaderLogo {
                width: 25% !important;
            }

            .eee3 span{
                font-size:1.6rem;
            }
        }






    </style>
</head>
<div id="overlay">
    <div class="col-md-12 col-sm-12 col-xs-12" style="text-align:center;margin-top:15%">
        <img src="@Url.Content("~/images/customgif/Syrian Loader.gif")" alt="Loading" style="width:10%;" />
        <br />
        @*<span style="color:black">@Html.Raw(BaseController.GetFieldLabel(Locale, "_InitialLoaderMsg"))</span>*@
    </div>
</div>

<body dir="rtl">
    <div class="row" id="headerLogo">
        <div class="col-lg-5 col-md-5 col-sm-5 col-xs-12">
            <h1 class="HeaderH1">
                @Utilities.GetDataTransaltionByGuid("fcde62a8-2fad-4e89-9a3e-2d380e758274", languageIdentifier) <br /> @Utilities.GetDataTransaltionByGuid("4c67b446-4f32-412d-a112-cc6af8e316b3", languageIdentifier)
            </h1>
        </div>
        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12 text-center">
            <img src="@Url.Action("GetFilePathFromExtendedData","Files", new { extensionFileKey= 143108 })" id="HeaderLogo" style="cursor: pointer; width: 50%;" hidden />
        </div>
        <div class="col-lg-5 col-md-5 col-sm-5 col-xs-12">
            <h1 class="HeaderH1">
                @Utilities.GetDataTransaltionByGuid("a8d1eac1-fb73-4626-8133-cc068a1f4ba8", languageIdentifier) <br />@Utilities.GetDataTransaltionByGuid("d28321a5-9d0b-43c9-b3ca-5d3169fc4ba7", languageIdentifier)
            </h1>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-9"></div>
        <div class="col-lg-3" style="text-align:end;font-weight:bold;">
            @if (languageCookie.Value == "3")
            {
                <a style="cursor: pointer; color: #337ab7;" onclick="changeLanguage('4')">English</a>
            }
            else
            {
                <a style="cursor: pointer; color: #337ab7;" onclick="changeLanguage('3')">العربية</a>
            }
        </div>
    </div>

    <div id="navbarContainer">
        @Html.Partial("~/Views/CMS/_NavbarMenu.cshtml", new ViewDataDictionary { { "NavbarData", NavbarData }, { "LanguageIdentifier", ViewBag.CurrentLanguageIdentifier } })
    </div>
  
    <div class="white-bg">
       @RenderBody()



        <div class="error-part" style="background:white;">

            @*<div class="row" style="margin: auto;">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 ft1">


                </div>
            </div>*@

            <footer dir=@(languageCookie.Value=="4"?"rtl":"")>

                <div class="row">
                    <div class="col-lg-1"></div>
                    <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12 takrir-footer" style="cursor:pointer;">
                        <h3 style="color:white;">@Utilities.GetDataTransaltionByGuid("336fc9fe-ccca-4dfe-8b99-cc624c98008a", languageIdentifier)</h3>
                    </div>
                    <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12">
                        <h3 style="color:white;">@Utilities.GetDataTransaltionByGuid("86eb1887-40df-426f-9011-f10277a93edb", languageIdentifier)</h3>
                        <ul style="list-style-type:none;padding:0px;">
                            <li>
                                <div class="row">
                                    <div class="col-lg-2 phone-icon">
                                        <img style="height: 50px; margin-top: 11px;" src=@Url.Content("~/Images/logos/phone.png") />
                                    </div>
                                    <div class="col-lg-10 level3Font">
                                        <div class="row" style="margin:20px 0px;">
                                            <div class="col-lg-12" style="padding-bottom:5px">@Utilities.GetDataTransaltionByGuid("4a0f8881-f2a9-493d-9a15-a5f2f779506d", languageIdentifier)</div>
                                            <div class="col-lg-12">@Utilities.GetDataTransaltionByGuid("98f84cee-7329-4702-a16d-79ac6e1cb016", languageIdentifier)</div>
                                        </div>
                                    </div>

                                </div>
                            </li>

                            <li>
                                <div class="row">
                                    <div class="col-lg-2 email-icon">
                                        <img style="height:50px;margin-top:11px;" src=@Url.Content("~/Images/logos/e-mail.png") />
                                    </div>
                                    <div class="col-lg-10 level3Font">
                                        <div class="row" style="margin:20px 0px;">
                                            <div class="col-lg-12" style="padding-bottom:5px">@Utilities.GetDataTransaltionByGuid("e0946b87-f50c-4b1c-86f8-1cb5b1921a72", languageIdentifier)</div>
                                            <div class="col-lg-12">@Utilities.GetDataTransaltionByGuid("79de7aa1-38be-4be2-811d-bd1beff0e274", languageIdentifier)</div>
                                        </div>
                                    </div>

                                </div>
                            </li>

                        </ul>
                    </div>
                    <div class="col-lg-5 col-md-12 col-sm-12 col-xs-12">
                        <img style="height: 50px; float: right; padding-right: 20px; margin-top: 6px;" src="@Url.Content("~/Images/logos/location.png")" />
                        <h3 style="color:white;">@Utilities.GetDataTransaltionByGuid("e12f59e2-428e-474f-b17d-6d6291383c9b", languageIdentifier)</h3>
                        <ul style="list-style-type: none; padding: 0px; margin-top: 11px;">


                            <li>
                                <div class="row">
                                    <div class="mapouter">
                                        <div class="gmap_canvas">
                                            <iframe width="400" height="300" id="gmap_canvas" src="https://maps.google.com/maps?q=damascus&t=&z=13&ie=UTF8&iwloc=&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe><a href="https://123movies-to.org"></a><br>
                                            <style>
                                                .mapouter {
                                                    position: relative;
                                                    text-align: right;
                                                    height: auto;
                                                }
                                            </style><a href="https://www.embedgooglemap.net"></a>
                                            <style>
                                                .gmap_canvas {
                                                    overflow: hidden;
                                                    background: none !important;
                                                    height: auto;
                                                }
                                            </style>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>

                </div>



            </footer>

            <div class="row" style="background:#444444;margin:0px;">

                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center">

                    <a href="@Utilities.GetDataTransaltionByGuid("b0e15c68-8109-4ae9-be01-545c1a932ff9", languageIdentifier)" target="_blank">
                        <img src=@Url.Content("~/Images/logos/facebook.png") style="height:40px;margin:5px; cursor:pointer;" />

                    </a>

                    <a href="@Utilities.GetDataTransaltionByGuid("2ecdf1c4-b054-4d4e-9de1-5066628a1b20", languageIdentifier)" target="_blank">
                        <img src=@Url.Content("~/Images/logos/twitter.png") style="height: 40px; margin: 5px; cursor: pointer;" />

                    </a>

                    <a href="@Utilities.GetDataTransaltionByGuid("2b1b0389-fa85-45a5-80e5-29d1276fbb2d", languageIdentifier)" target="_blank">
                        <img src=@Url.Content("~/Images/logos/g_plus.png") style="height: 40px; margin: 5px; cursor: pointer;" />
                    </a>

                </div>

            </div>
        </div>
    </div>




    <script src=@Url.Content("~/assets/NewPages/slider2/swiper.js")></script>
    <script>
        $(".btn-danger").hide();
        $("#TakrirAda2Sanawi").click(function () {


            submit_post_via_hidden_form("@Url.Action("TakrirAda2Sanawi", "Home")", {});

        });
          $("#GetPublishedRanking").click(function () {
            submit_post_via_hidden_form("@Url.Action("TasnifAlAda2AlSanawi", "Ranking")", { description: "Publish" });

            @*submit_post_via_hidden_form("@Url.Action("GetPublishedRanking", "Ranking")", { HighlightedPart: "Ranking" });*@

          });
         $("#tarahoulan").click(function () {
          submit_post_via_hidden_form("@Url.Action("Tarahoulan", "Home")", {  });


        });

        $("#EchReport").click(function () {
            submit_post_via_hidden_form("@Url.Action("EchReport", "Home")", {  });


        });
          $("#GetPublishedTakarir").click(function () {
            @*submit_post_via_hidden_form("@Url.Action("AlTakarir", "Takarir")", { Description: "Publish", FormTemplateKey: "", HighlightedPart: "Takarir" });*@
            @*submit_post_via_hidden_form("@Url.Action("AlTakarir", "Takarir")", { FormTemplateKey: FormTemplateKey, HighlightedPart: "Takarir" });*@
            submit_post_via_hidden_form("@Url.Action("Estetla3Ra2i", "Home")", {  });


        });

        function reveal() {
            var reveals = document.querySelectorAll(".reveal");

            for (var i = 0; i < reveals.length; i++) {
                var windowHeight = window.innerHeight;
                var elementTop = reveals[i].getBoundingClientRect().top;
                var elementVisible = 150;

                if (elementTop < windowHeight - elementVisible) {
                    reveals[i].classList.add("active");
                } else {
                    reveals[i].classList.remove("active");
                }
            }
        }
        var swiper = new Swiper('.blog-slider', {
            spaceBetween: 30,
            effect: 'fade',
            loop: true,
            mousewheel: {
                invert: false,
            },
            // autoHeight: true,
            pagination: {
                el: '.blog-slider__pagination',
                clickable: true,
            }
        });

        window.addEventListener("scroll", reveal);
        $(function () {
            $('#main-menu').smartmenus({
                subMenusSubOffsetX: 1,
                subMenusSubOffsetY: -8
            });
        });


        $(".dropbtn").click(function () {

            $(this).next().toggle();
        });

        document.addEventListener('keydown', function (event) {
            if (event.keyCode == 27) {
                event.preventDefault();
            }

        });


        function myFunction() {
            var x = document.getElementById("myTopnav");
            if (x.className === "topnav") {
                x.className += " responsive";
            } else {
                x.className = "topnav";
            }
        }


        /////////LoaderPart////
       // $(window).load(function () {

        setTimeout(function () {
            fadeOutEffect();
        }, 6000);

        function fadeOutEffect() {

            var fadeTarget = document.getElementById("overlay");
            var fadeEffect = setInterval(function () {
                if (!fadeTarget.style.opacity) {
                    fadeTarget.style.opacity = 1;
                }
                if (fadeTarget.style.opacity > 0) {
                    fadeTarget.style.opacity -= 0.1;
                } else {
                    clearInterval(fadeEffect);
                }


            }, 300);

            setTimeout(function () {
                $(".Body").css("filter", "");

            }, 3000);
            $("#HeaderLogo").fadeIn(6000);

            setTimeout(function () {

                $("#overlay").remove();
            }, 5000);

        }

        //});
        /////////End LoaderPart////



        //function myFunction() {
        //    var x = document.getElementById("myTopnav");
        //    if (x.className === "topnav") {
        //        x.className += " responsive";
        //    } else {
        //        x.className = "topnav";
        //    }
        //}
          $("#ManbarSilatWasel").click(function () {

            submit_post_via_hidden_form("@Url.Action("Manbar", "Home")", {});

          });
        $("#MarsadAlAda2AlIdari").click(function () {

            submit_post_via_hidden_form("@Url.Action("Marsad", "Home")", {});

        });
        $("#SignInMarkaz").click(function () {

            @if (User.Identity.IsAuthenticated)
            {

                if (User.IsInRole("PB"))
                {
 <text>
            window.location = '@Url.Action("Index", "PBDashboard")';

            </text>
                }
                else
                {
 <text>
            submit_post_via_hidden_form("@Url.Action("Index", "Home")", {});

            </text>
                }

            } else
            {
                <text>
            submit_post_via_hidden_form("@Url.Action("LoginView", "Account")", { ManagerIndex: "True" });

            </text>
            }


        });

        $("#SinInMangersButton").click(function () {

            @if (User.Identity.IsAuthenticated)
                            {

                                if (User.IsInRole("PB"))
                                {
 <text>
            window.location = '@Url.Action("Index", "PBDashboard")';

            </text>
                                }
                                else
                                {
 <text>
            submit_post_via_hidden_form("@Url.Action("Index", "Home")", {});

            </text>
                                }

            }else
            {
                <text>
            submit_post_via_hidden_form("@Url.Action("LoginView", "Account")", { ManagerIndex: "True" });

            </text>
            }


        });

        $(".goToEstetla3ra2i").click(function () {
            var formKey = $(this).attr("data-formkey");
             submit_post_via_hidden_form("@Url.Action("Index", "SurveyReport")", { FormTemKey: formKey });
        })

        $(".EmptyEstetla3Class").hover(function () {
            $(this).text("لا يوجد نتائج إستطلاعات رأي");
        })

        $(".EmptyEstetla3Class").mouseleave(function () {
            $(this).text("نتائج إستطلاعات الرأي");
        })

        $("#GlobalLearningLink").click(function () {

            window.location.href = "http://www.gl.ae/home";

        });


        $("#SignInManbar").click(function () {

            submit_post_via_hidden_form("@Url.Action("LoginView", "Account")", {});


        });

        $("#GoToManbar").click(function () {

            submit_post_via_hidden_form("@Url.Action("Manbar", "Home")", {});


        });

        $("#GoToMarkaz").click(function () {

            submit_post_via_hidden_form("@Url.Action("Markaz", "NewPages")", {});


        });


        $("#AboutMarsad").click(function () {
            if (checkIfSamePage("Home/AboutMarsad") == "NotFound")
                submit_post_via_hidden_form("@Url.Action("AboutMarsad", "Home")", {});


        });


        $("#AboutMarkaz").click(function () {
            if (checkIfSamePage("Home/AboutMarkaz") == "NotFound")
                submit_post_via_hidden_form("@Url.Action("AboutMarkaz", "Home")", {});


        });

        $("#AboutManbar").click(function () {




            if (checkIfSamePage("Home/AboutManbar") == "NotFound")
                submit_post_via_hidden_form("@Url.Action("AboutManbar", "Home")", {});

        });


        function checkIfSamePage(PagePath) {
            var url = window.location.href;     // Returns full URL


            if (url.indexOf(PagePath) != -1) {
                return "Found";
            } else {
                return "NotFound"
            }


        }

        $("#Khousousya").click(function () {
            if (checkIfSamePage("Home/Khousousya") == "NotFound")
                submit_post_via_hidden_form("@Url.Action("Khousousya", "Home")", {});


        });

        $("#Himayatalserya").click(function () {
            if (checkIfSamePage("Home/Himayatalserya") == "NotFound")
                submit_post_via_hidden_form("@Url.Action("Himayatalserya", "Home")", {});


        });

        @*var ClassName = '@ViewBag.PageName';

                        $("." + ClassName).show();*@



        $("#Moutaba3atChakwa").click(function () {


            window.location = '@Url.Action("Index", "UserDashboard")';

        });


        $("#gotodashbordCitizen").click(function () {


            @if (User.Identity.IsAuthenticated)
       {
                      <text>
            window.location = '@Url.Action("Index", "UserDashboard")';

            </text>
            }else
            {

                                     <text>
            $("#SignInManbar").click();

            </text>

            }



        });


        $("#gotodashbord").click(function () {

            @if (User.IsInRole("ADManager") || User.IsInRole("ADDirector") || User.IsInRole("HR"))
            {
                <text>
            window.location = '@Url.Action("AdUsersLandingPage", "Home")';

            </text>
            }@*else
                if (User.IsInRole("Administrator")) {

                    <text>
            window.location = '@Url.Action("Index", "AspNetUsers")';


            </text>

                }*@else
                    if (User.IsInRole("Editor")) {

                        <text>
            window.location = '@Url.Action("Index", "MouwazafinWithOrgs")';


            </text>

                    }
                    else
                        if (User.IsInRole("PB")) {

                            <text>
            window.location = '@Url.Action("Index", "PBDashboard")';


            </text>

                        }
                        else
                        {
                            <text>
            window.location = '@Url.Action("Index", "UserDashboard")';

            </text>
                        }

            {

            }
        });

        function submit_post_via_hidden_form(url, params) {
            var f = $("<form method='POST' style='display:none;'></form>").attr({
                action: url
            }).appendTo(document.body);

            for (var i in params) {
                if (params.hasOwnProperty(i)) {
                    $('<input type="hidden" />').attr({
                        name: i,
                        value: params[i]
                    }).appendTo(f);
                }
            }

            f.submit();

            f.remove();
        }
        $("#Top10Orgs").click(function () {

            submit_post_via_hidden_form("@Url.Action("Index", "Top10Orgs")", {});



        });
        $("#AkhbarWizara").click(function () {

            submit_post_via_hidden_form("@Url.Action("AkhbarWizara", "Home")", {});


        })

        $("#HeaderLogo").click(function () {
            submit_post_via_hidden_form("@Url.Action("Markaz", "NewPages")", {});

        })

        $("#Machari3Wizara").click(function () {

            submit_post_via_hidden_form("@Url.Action("Machari3Wizara", "Home")", {});


        })


        $(".akhbaralwizara").click(function () {
            window.location = '@Url.Action("AboutWizara", "Home")';
        });

        $(".machari3alwizara").click(function () {
            window.location = '@Url.Action("AboutMachari3", "Home")';
        });


        $(".logoff").click(function () {


            window.location = '@Url.Action("LogOff", "Account")';

        });

        function goToMyClaim(formKey, GUID, CreatedAt, CitizenKey, NextFormTemplateKey, CurrentStatusKey, CurrentFormtemplateKey, CurrentFormtemplateName, CurrentStatusName, NextOrganisationKey, CurrentOrganisationKey) {

            @if (User.IsInRole("ADManager") || User.IsInRole("ADDirector"))
           {
               <text>
            submit_post_via_hidden_form("@Url.Action("ADManagerTemplate", "FormTemplatesDisplay")", { formKey: formKey, GUID: GUID, CreatedAt: CreatedAt, CitizenKey: CitizenKey, CurrentStatusKey: CurrentStatusKey, NextFormTemplateKey: NextFormTemplateKey, CurrentFormtemplateKey: CurrentFormtemplateKey, CurrentFormtemplateName: CurrentFormtemplateName, NextOrganisationKey: NextOrganisationKey, CurrentOrganisationKey: CurrentOrganisationKey });

            @*window.location = '@Url.Action("ADManagerTemplate", "FormTemplatesDisplay")/' + "?formKey=" + formKey + "&GUID=" + GUID + "&CreatedAt=" + CreatedAt + "&CitizenKey=" + CitizenKey + "&CurrentStatusKey=" + CurrentStatusKey + "&NextFormTemplateKey=" + NextFormTemplateKey + "&CurrentFormtemplateKey=" + CurrentFormtemplateKey + "&CurrentFormtemplateName=" + CurrentFormtemplateName + "&NextOrganisationKey=" + NextOrganisationKey + "&CurrentOrganisationKey=" + CurrentOrganisationKey;*@
            </text>
                        }
            @if (User.IsInRole("OPManager") || User.IsInRole("OPGeneralDirector") || User.IsInRole("OPDirector") || User.IsInRole("Human Development Sector") || User.IsInRole("Administrative sector") || User.IsInRole("Economic sector") || User.IsInRole("Service sector"))
            {
                <text>
            @*window.location = '@Url.Action("FormInstance", "Home")/' + "?formKey=" + formKey + "&GUID=" + GUID + "&CreatedAt=" + CreatedAt + "&CitizenKey=" + CitizenKey + "&CurrentStatusKey=" + CurrentStatusKey + "&NextFormTemplateKey=" + NextFormTemplateKey + "&CurrentFormtemplateKey=" + CurrentFormtemplateKey + "&CurrentFormtemplateName=" + CurrentFormtemplateName + "&CurrentStatusName=" + CurrentStatusName + "&NextOrganisationKey=" + NextOrganisationKey + "&CurrentOrganisationKey=" + CurrentOrganisationKey;*@
            submit_post_via_hidden_form("@Url.Action("FormInstance", "Home")", { formKey: formKey, GUID: GUID, CreatedAt: CreatedAt, CitizenKey: CitizenKey, CurrentStatusKey: CurrentStatusKey, NextFormTemplateKey: NextFormTemplateKey, CurrentFormtemplateKey: CurrentFormtemplateKey, CurrentFormtemplateName: CurrentFormtemplateName, CurrentStatusName: CurrentStatusName, NextOrganisationKey: NextOrganisationKey, CurrentOrganisationKey: CurrentOrganisationKey });

            </text>
                        }
            @if (User.IsInRole("Citizen"))
            {
                <text>
            @*window.location = '@Url.Action("ADManagerTemplate", "FormTemplatesDisplay")/' + "?formKey=" + formKey + "&GUID=" + GUID + "&CreatedAt=" + CreatedAt + "&CitizenKey=" + CitizenKey + "&CurrentStatusKey=" + CurrentStatusKey + "&NextFormTemplateKey=" + NextFormTemplateKey + "&CurrentFormtemplateKey=" + CurrentFormtemplateKey + "&CurrentFormtemplateName=" + CurrentFormtemplateName + "&NextOrganisationKey=" + NextOrganisationKey + "&CurrentOrganisationKey=" + CurrentOrganisationKey;*@
            submit_post_via_hidden_form("@Url.Action("ADManagerTemplate", "FormTemplatesDisplay")", { formKey: formKey, GUID: GUID, CreatedAt: CreatedAt, CitizenKey: CitizenKey, CurrentStatusKey: CurrentStatusKey, NextFormTemplateKey: NextFormTemplateKey, CurrentFormtemplateKey: CurrentFormtemplateKey, CurrentFormtemplateName: CurrentFormtemplateName, NextOrganisationKey: NextOrganisationKey, CurrentOrganisationKey: CurrentOrganisationKey });

            </text>
                        }
        }


        function changeLanguage(languageCode) {
            $.ajax({
                url: '@Url.Action("ChangeLanguage", "Home")',
                type: 'GET',
                cache: false,
                dataType: 'text',
                data: ({
                    id: languageCode
                }),
                contentType: 'application/json; charset=utf-8',
                success: function (data) {
                    location.reload();
                },
                error: function (xhr) {
                    console.log('errorr');
                }
            });
        }




        $('.carousel').carousel({
            interval: 10000
        })

        $('#myCarousel').on('slide.bs.carousel', function () {
            $('.carousel-caption').fadeOut(300);
        })
        $('#myCarousel').on('slid.bs.carousel', function () {
            $('.carousel-caption').fadeIn(600);
        })





        $(".service-box").on('click', function () {
            var children = $(this).children();

            if ($(children[1]).css('opacity') === '0') {

                $(children[0]).css("opacity", "0");
                $(children[1]).css("opacity", "1");


                $(children[1]).css('transform', 'translateX(0)');

            }
            else {
                $(children[0]).css('opacity', '1');
                $(children[1]).css('transform', 'translateY(110px) rotateX(-90deg)');
                $(children[1]).css('opacity', '0');
            }


        }

        )
        $(".service-box").on('mouseenter', function () {

            var children = $(this).children();

                $(this).css({
                    opacity: 1,
                    transition: 'opacity 1s ease-in-out'
                });



           $(children[0]).css("opacity", "0");
                $(children[1]).css("opacity", "1");
                $(children[1]).css('transform', 'translateX(0)');

        }

        )

        $(".service-box").on('mouseleave', function () {
            var children = $(this).children();

            if ($(children[0]).children().length == 0) {
                $(this).css({
                    opacity: 0,
                    transition: 'opacity 1s ease-in-out'
                });
            }


            $(children[0]).css('opacity', '1');
            $(children[1]).css('transform', 'translateY(110px) rotateX(-90deg)');
            $(children[1]).css('opacity', '0');

        }

        )



    </script>
</body>
</html>
