﻿@using MoAD.WebApplication.Objects;

@{
    //Layout = "~/views/home/pageshared.cshtml";
    Layout = "~/views/home/_SharedLayout.cshtml";
    Dictionary<string, string> Locale = ViewBag.Locale;

}


<head>

    <title>مرصد الأداء الاداري</title>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link href="@Url.Content("~/content/about/assets/css/main.css")" rel="stylesheet" />

    <style>
        p, li {
            color:black;
        }
    </style>

</head>


<div class="row Body" style="overflow-x:hidden;filter: blur(25px);transition: filter 2s;-webkit-transition: filter 2s;">


    <!-- Main -->
    <section id="main" style="position:relative;margin-top:2%;text-align:center;">
        <div class="inner">

            <!-- One -->
            <section id="one" class="wrapper style1" style="font-family: 'Droid Arabic Kufi',serif">

                <div class="image fit flush">

                    <img src="@Url.Content("~/imag/43fae2d5-8345-4bd7-b6ef-9981a9ccad8f.jpg")" alt="" />
                </div>
                <header class="special">
                    <h2> @Html.Raw(BaseController.GetFieldLabel(Locale, "AboutManbarPageAboutManbarTitle"))</h2>
                    <p> @Html.Raw(BaseController.GetFieldLabel(Locale, "AboutManbarPageAboutManbarQuote"))</p>
                </header>
                <div class="content">
                    <h1> @Html.Raw(BaseController.GetFieldLabel(Locale, "AboutManbarPageManbarLaunch"))</h1>

                    <h2 lang="ar" dir="rtl"> @Html.Raw(BaseController.GetFieldLabel(Locale, "AboutManbarPageWhatIsManbar")):</h2>
                    <p lang="ar" dir="rtl" style="font-size:20px;text-align:justify;line-height: 45px;">@Html.Raw(BaseController.GetFieldLabel(Locale, "AboutManbarPageWhatIsManbarAnswer"))</p>

                    <h2 lang="ar" dir="rtl">	 @Html.Raw(BaseController.GetFieldLabel(Locale, "AboutManbarPageWhatManbarOffers"))</h2>
                    <ul lang="ar" dir="rtl" style="font-size:20px;list-style:circle;text-align:right;margin-right: 8%;line-height: 40px;">
                        <li>	@Html.Raw(BaseController.GetFieldLabel(Locale, "AboutManbarPageWhatManbarOffersAnswer1"))</li>
                        <li>	@Html.Raw(BaseController.GetFieldLabel(Locale, "AboutManbarPageWhatManbarOffersAnswer2"))</li>

                    </ul>

                    <h1> @Html.Raw(BaseController.GetFieldLabel(Locale, "AboutManbarPageManbarServicesTitle"))</h1>


                    <h2 lang="ar" dir="rtl">	@Html.Raw(BaseController.GetFieldLabel(Locale, "AboutManbarPageManbarService1Title")): </h2>
                    <p lang="ar" dir="rtl" style="font-size:20px;text-align:justify;line-height: 45px;">
                         @Html.Raw(BaseController.GetFieldLabel(Locale, "AboutManbarPageManbarService1Text"))
                    </p>

                    <h2 lang="ar" dir="rtl">	@Html.Raw(BaseController.GetFieldLabel(Locale, "AboutManbarPageManbarService2Title")): </h2>
                    <p lang="ar" dir="rtl" style="font-size:20px;text-align:justify;line-height: 45px;">
                         @Html.Raw(BaseController.GetFieldLabel(Locale, "AboutManbarPageManbarService2Text"))
                    </p>

                    <h2 lang="ar" dir="rtl">	@Html.Raw(BaseController.GetFieldLabel(Locale, "AboutManbarPageManbarService3Title")): </h2>
                    <p lang="ar" dir="rtl" style="font-size:20px;text-align:justify;line-height: 45px;">
                        @Html.Raw(BaseController.GetFieldLabel(Locale, "AboutManbarPageManbarService3Text"))
                    </p>

                    <h2 lang="ar" dir="rtl">	@Html.Raw(BaseController.GetFieldLabel(Locale, "AboutManbarPageManbarService4Title")): </h2>
                    <p lang="ar" dir="rtl" style="font-size:20px;text-align:justify;line-height: 45px;">
                        @Html.Raw(BaseController.GetFieldLabel(Locale, "AboutManbarPageManbarService4Text"))
                    </p>

                    <h2 lang="ar" dir="rtl">	@Html.Raw(BaseController.GetFieldLabel(Locale, "AboutManbarPageManbarOutcomesListTitle"))</h2>
                    <ul lang="ar" dir="rtl" style="font-size:20px;list-style:circle;text-align:right;margin-right: 8%;line-height: 40px;">

                        <li>	@Html.Raw(BaseController.GetFieldLabel(Locale, "AboutManbarPageManbarOutcomesitem1"))</li>
                        <li>	@Html.Raw(BaseController.GetFieldLabel(Locale, "AboutManbarPageManbarOutcomesitem2"))</li>
                        <li>	@Html.Raw(BaseController.GetFieldLabel(Locale, "AboutManbarPageManbarOutcomesitem3"))</li>
                        <li>	 @Html.Raw(BaseController.GetFieldLabel(Locale, "AboutManbarPageManbarOutcomesitem4"))</li>

                    </ul>

                </div>
            </section>


        </div>

    </section>




    <!-- Scripts -->
    @*<script src="@Url.Content("~/content/about/assets/js/jquery.min.js")"></script>*@

    <script src="@Url.Content("~/content/about/assets/js/jquery.poptrox.min.js")"></script>
    <script src="@Url.Content("~/content/about/assets/js/skel.min.js")"></script>
    <script src="@Url.Content("~/content/about/assets/js/util.js")"></script>
    <script src="@Url.Content("~/content/about/assets/js/main.js")"></script>


</div>

<script>
    $("#AboutManbar").css("background-color", "grey");


</script>