﻿@using MoAD.WebApplication.Objects;

@{
    //Layout = "~/views/home/pageshared.cshtml";
    Layout = "~/views/home/_SharedLayout.cshtml";
    Dictionary<string, string> Locale = ViewBag.Locale;

}


    <head>

        <title>مرصد الأداء الاداري</title>

        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link href="@Url.Content("~/content/about/assets/css/main.css")" rel="stylesheet" />

        <style>
            p, li {
                color: black !important;
            }
        </style>
    </head>


<div class="row Body" style="overflow-x:hidden;filter: blur(25px);transition: filter 2s;-webkit-transition: filter 2s;">


    <!-- Main -->
    <section id="main" style="position:relative;margin-top:2%;text-align:center;">
        <div class="inner">

            <!-- One -->
            <section id="one" class="wrapper style1" style="font-family: 'Droid Arabic Kufi',serif">

                <div class="image fit flush">
                    <img src="@Url.Content("~/imag/marsad-option8_4.png")" alt="" />
                </div>
                <header class="special">
                    <h2> @Html.Raw(BaseController.GetFieldLabel(Locale, "AboutMarsadPageAboutMarsadTitle"))</h2>
                    <p style="color: #bbb !important;"> @Html.Raw(BaseController.GetFieldLabel(Locale, "AboutMarsadPageSyrianArabRepublic"))</p>
                </header>
                <div class="content">
                    <p lang="ar" dir="rtl" style="font-size:20px;text-align:justify;">@Html.Raw(BaseController.GetFieldLabel(Locale, "AboutMarsadPageMarsadServicesListHead")):</p>

                    <ul lang="ar" dir="rtl" style="font-size:20px;list-style:circle;text-align:right;margin-right: 8%;line-height: 25px;">
                        <li>@Html.Raw(BaseController.GetFieldLabel(Locale, "AboutMarsadPageMarsadServicesListitem1"))</li>
                        <li>@Html.Raw(BaseController.GetFieldLabel(Locale, "AboutMarsadPageMarsadServicesListitem2"))</li>

                    </ul>

                </div>
            </section>

            <!-- Two -->
            <section id="two" class="wrapper style2" style="font-family: 'Droid Arabic Kufi',serif">
                <header>
                    <h2 lang="ar" dir="rtl"> @Html.Raw(BaseController.GetFieldLabel(Locale, "AboutMarsadPageMarsadAdministrativePerformanceScaleTitle"))</h2>
                    <p lang="ar" dir="rtl"> @Html.Raw(BaseController.GetFieldLabel(Locale, "AboutMarsadPageMarsadAdministrativePerformanceScaleText")):</p>
                </header>
            </section>

            <!-- Three -->
            <section id="three" class="wrapper" style="font-family: 'Droid Arabic Kufi',serif">
                <div class="spotlight alt">
                    <div class="image flush"><img src="@Url.Content("~/images/about/images/pic006.jpg")" alt="" /></div>
                    <div class="inner">
                        <h3 lang="ar" dir="rtl" style="font-size:45px;text-align:center;"> @Html.Raw(BaseController.GetFieldLabel(Locale, "AboutMarsadPageMarsadOrganizationalQualityTitle"))</h3>
                        <p lang="ar" dir="rtl" style="font-size:35px;text-align:center;"> @Html.Raw(BaseController.GetFieldLabel(Locale, "AboutMarsadPageMarsadOrganizationalQualityScore"))</p>
                    </div>
                </div>
                <div class="spotlight">
                    <div class="image flush"><img src="@Url.Content("~/images/about/images/pic17.jpg")" alt="" /></div>
                    <div class="inner">
                        <h3 lang="ar" dir="rtl" style="font-size:45px;text-align:center;">  @Html.Raw(BaseController.GetFieldLabel(Locale, "AboutMarsadPageMarsadTabsitTitle"))</h3>
                        <p lang="ar" dir="rtl" style="font-size:35px;text-align:center;"> @Html.Raw(BaseController.GetFieldLabel(Locale, "AboutMarsadPageMarsadTabsitScore"))</p>
                    </div>
                </div>
                <div class="spotlight alt">
                    <div class="image flush"><img src="@Url.Content("~/images/about/images/pic008.jpg")" alt="" /></div>
                    <div class="inner">
                        <h3 lang="ar" dir="rtl" style="font-size:45px;text-align:center;"> @Html.Raw(BaseController.GetFieldLabel(Locale, "AboutMarsadPageMarsadCorruptionFightTitle"))</h3>
                        <p lang="ar" dir="rtl" style="font-size:35px;text-align:center;"> @Html.Raw(BaseController.GetFieldLabel(Locale, "AboutMarsadPageMarsadCorruptionFightScore"))</p>
                    </div>
                </div>
                <div class="spotlight ">
                    <div class="image flush"><img src="@Url.Content("~/images/about/images/pic007.png")" alt="" /></div>
                    <div class="inner">
                        <h3 lang="ar" dir="rtl" style="font-size:45px;text-align:center;">  @Html.Raw(BaseController.GetFieldLabel(Locale, "AboutMarsadPageMarsadCitizenSatisfactionTitle"))</h3>
                        <p lang="ar" dir="rtl" style="font-size:35px;text-align:center;"> @Html.Raw(BaseController.GetFieldLabel(Locale, "AboutMarsadPageMarsadCitizenSatisfactionScore"))</p>
                    </div>
                </div>
                <div class="spotlight alt">
                    <div class="image flush"><img src="@Url.Content("~/images/about/images/pic10.jpg")" alt="" /></div>
                    <div class="inner">
                        <h3 lang="ar" dir="rtl" style="font-size:45px;text-align:center;">  @Html.Raw(BaseController.GetFieldLabel(Locale, "AboutMarsadPageMarsadEmployeeSatisfactionTitle"))</h3>
                        <p lang="ar" dir="rtl" style="font-size:35px;text-align:center;"> @Html.Raw(BaseController.GetFieldLabel(Locale, "AboutMarsadPageMarsadEmployeeSatisfactionScore"))</p>
                    </div>
                </div>
            </section>
            <section id="four" class="wrapper style1" style="font-family: 'Droid Arabic Kufi',serif">

                <div class="image fit flush">
                    @*<img src="@Url.Content("~/imag/marsad-option8_4.png")" alt="" />*@
                </div>
                <header class="special">
                    <h2 lang="ar"> @Html.Raw(BaseController.GetFieldLabel(Locale, "AboutMarsadPageMarsadOutcomeTitle"))</h2>
                    <p> @Html.Raw(BaseController.GetFieldLabel(Locale, "AboutMarsadPageSyrianArabRepublic"))</p>
                </header>
                <div class="content">

                    <ul lang="ar" dir="rtl" style="font-size:20px;list-style:circle;text-align:right;margin-right: 8%;line-height: 35px;margin-top: -8%;">
                        <li> @Html.Raw(BaseController.GetFieldLabel(Locale, "AboutMarsadPageMarsadOutcomeItem1"))</li>
                        <li> @Html.Raw(BaseController.GetFieldLabel(Locale, "AboutMarsadPageMarsadOutcomeItem2"))</li>
                        <li> @Html.Raw(BaseController.GetFieldLabel(Locale, "AboutMarsadPageMarsadOutcomeItem3"))</li>
                        <li> @Html.Raw(BaseController.GetFieldLabel(Locale, "AboutMarsadPageMarsadOutcomeItem4"))</li>
                        <li> @Html.Raw(BaseController.GetFieldLabel(Locale, "AboutMarsadPageMarsadOutcomeItem5"))</li>

                    </ul>
                    <ul lang="ar" style="font-size:20px;list-style:none;text-align:right;margin-right: 7%;" dir="rtl">
                        <li><i class="fa fa-angle-double-left" style="margin-left:1%;"></i>   @Html.Raw(BaseController.GetFieldLabel(Locale, "AboutMarsadPageMarsadOutcomeItem6"))</li>
                        <li><i class="fa fa-angle-double-left" style="margin-left:1%;"></i>   @Html.Raw(BaseController.GetFieldLabel(Locale, "AboutMarsadPageMarsadOutcomeItem7"))</li>

                    </ul>
                </div>
            </section>
        </div>

    </section>




    <!-- Scripts -->
    @*<script src="@Url.Content("~/content/about/assets/js/jquery.min.js")"></script>*@

    <script src="@Url.Content("~/content/about/assets/js/jquery.poptrox.min.js")"></script>
    <script src="@Url.Content("~/content/about/assets/js/skel.min.js")"></script>
    <script src="@Url.Content("~/content/about/assets/js/util.js")"></script>
    <script src="@Url.Content("~/content/about/assets/js/main.js")"></script>


</div>
<script>
    $("#AboutMarsad").css("background-color", "grey");

</script>