﻿@using MoAD.WebApplication.Objects;

@{
    //Layout = "~/views/home/pageshared.cshtml";
    Layout = "~/views/home/_SharedLayout.cshtml";
    Dictionary<string, string> Locale = ViewBag.Locale;
}


<head>

    <title>مرصد الأداء الاداري</title>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link href="@Url.Content("~/content/about/assets/css/main.css")" rel="stylesheet" />


    <style>
        @@media only screen and (max-width: 980px) {
            #MarkazPhoto {
                height: 120px;
            }
        }

        p, li {
            color:black;
        }
    </style>



</head>


<div class="row Body" style="overflow-x:hidden;filter: blur(25px);transition: filter 2s;-webkit-transition: filter 2s;">


    <!-- Main -->
    <section id="main" style="position:relative;margin-top:2%;text-align:center;">
        <div class="inner">

            <!-- One -->
            <section id="one" class="wrapper style1" style="font-family: 'Droid Arabic Kufi',serif">

                <div class="image fit flush">

                    <img src="@Url.Content("~/images/about/markaz/capture.png")" alt="" id="MarkazPhoto" />
                </div>
                <header class="special">
                    <h2>@Html.Raw(BaseController.GetFieldLabel(Locale, "AboutMarkazPageAboutMarkazTitle"))</h2>
                    <p> @Html.Raw(BaseController.GetFieldLabel(Locale, "AboutMarkazPageSyrianArabRepublic"))</p>
                </header>
                <div class="content">
                    <h2 lang="ar" dir="rtl">@Html.Raw(BaseController.GetFieldLabel(Locale, "AboutMarkazPageMarkazPurpose")):</h2>
                    <p lang="ar" dir="rtl" style="font-size:20px;text-align:justify;line-height: 45px;">@Html.Raw(BaseController.GetFieldLabel(Locale, "AboutMarkazPageMarkazPurposeText"))</p>

                    <h2 lang="ar" dir="rtl">@Html.Raw(BaseController.GetFieldLabel(Locale, "AboutMarkazPageMarkazGoal")):</h2>
                    <p lang="ar" dir="rtl" style="font-size:20px;text-align:justify;line-height: 45px;">@Html.Raw(BaseController.GetFieldLabel(Locale, "AboutMarkazPageMarkazGoalText"))</p>

                    <h2 lang="ar" dir="rtl">@Html.Raw(BaseController.GetFieldLabel(Locale, "AboutMarkazPageAdministrativePerformanceScale"))</h2>
                    <p lang="ar" dir="rtl" style="font-size:20px;text-align:justify;line-height: 45px;">
                        @Html.Raw(BaseController.GetFieldLabel(Locale, "AboutMarkazPageAdministrativePerformanceScaleText"))
                    </p>

                    <h2 lang="ar" dir="rtl">@Html.Raw(BaseController.GetFieldLabel(Locale, "AboutMarkazPageMarkazMission")):</h2>
                    <p lang="ar" dir="rtl" style="font-size:20px;text-align:justify;line-height: 45px;">@Html.Raw(BaseController.GetFieldLabel(Locale, "AboutMarkazPageMarkazMissionTextListTitle")):</p>

                    <ul lang="ar" dir="rtl" style="font-size:20px;list-style:circle;text-align:right;margin-right: 8%;line-height: 40px;">
                        <li>	@Html.Raw(BaseController.GetFieldLabel(Locale, "AboutMarkazPageMarkazMissionListText1"))</li>
                        <li>	@Html.Raw(BaseController.GetFieldLabel(Locale, "AboutMarkazPageMarkazMissionListText2"))</li>
                        <li>	@Html.Raw(BaseController.GetFieldLabel(Locale, "AboutMarkazPageMarkazMissionListText3"))</li>
                        <li>	@Html.Raw(BaseController.GetFieldLabel(Locale, "AboutMarkazPageMarkazMissionListText4"))</li>
                        <li>	@Html.Raw(BaseController.GetFieldLabel(Locale, "AboutMarkazPageMarkazMissionListText5"))</li>
                        <li>	@Html.Raw(BaseController.GetFieldLabel(Locale, "AboutMarkazPageMarkazMissionListText6"))</li>
                        <li>	@Html.Raw(BaseController.GetFieldLabel(Locale, "AboutMarkazPageMarkazMissionListText7"))</li>
                        <li>	@Html.Raw(BaseController.GetFieldLabel(Locale, "AboutMarkazPageMarkazMissionListText8"))</li>
                    </ul>


                </div>
            </section>

            <!-- Two -->
            @*<section id="two" class="wrapper style2" style="font-family: 'Droid Arabic Kufi',serif">
                    <header>
                        <h2 lang="ar" dir="rtl">معيار الأداء والتميز</h2>
                        <p lang="ar" dir="rtl">يعتمد المرصد وزن /١٠٠٠/ نقطة موزعة على شرائح القياس ويعكس توزيع النقاط على المؤشرات الخمس الأساسية ثقل نقاط الضعف الشائعة في الإدارة العامة في سورية وأولوية العمل على الاستجابة لها من قبل الجهة العامة المعنية، وفق النموذج التالي:</p>
                    </header>
                </section>*@

            <!-- Three -->
            <section id="three" class="wrapper" style="font-family: 'Droid Arabic Kufi',serif">
                <div class="spotlight alt">
                    <div class="image flush"><img src="@Url.Content("~/images/about/markaz/aboutmarkaz.png")" alt="" /></div>
                    <div class="inner">
                        <h3 lang="ar" dir="rtl" style="font-size:45px;text-align:center;">@Html.Raw(BaseController.GetFieldLabel(Locale, "AboutMarkazPageMarkazOrganizationalChart")):</h3>
                        @*<p lang="ar" dir="rtl" style="font-size:35px;text-align:center;">٤٠ نقطة</p>*@
                    </div>
                </div>
                <div class="spotlight">
                    <div class="image flush"><img src="@Url.Content("~/images/about/markaz/aboutmarkaz1.png")" alt="" /></div>
                    <div class="inner">
                        <h3 lang="ar" dir="rtl" style="font-size:45px;text-align:center;">@Html.Raw(BaseController.GetFieldLabel(Locale, "AboutMarkazPageMarkazProcesses")):</h3>
                        @*<p lang="ar" dir="rtl" style="font-size:35px;text-align:center;">٢٠ نقطة</p>*@
                    </div>
                </div>
                <div class="spotlight alt">
                    <div class="image flush"><img src="@Url.Content("~/images/about/markaz/aboutmarkaz2.png")" alt="" /></div>
                    <div class="inner">
                        <h3 lang="ar" dir="rtl" style="font-size:45px;text-align:center;">@Html.Raw(BaseController.GetFieldLabel(Locale, "AboutMarkazPageMarkazAnticipatedImpact")):</h3>
                        @*<p lang="ar" dir="rtl" style="font-size:35px;text-align:center;">٢٠ نقطة</p>*@
                    </div>
                </div>

            </section>
        </div>

    </section>




    <!-- Scripts -->
    @*<script src="@Url.Content("~/content/about/assets/js/jquery.min.js")"></script>*@

    <script src="@Url.Content("~/content/about/assets/js/jquery.poptrox.min.js")"></script>
    <script src="@Url.Content("~/content/about/assets/js/skel.min.js")"></script>
    <script src="@Url.Content("~/content/about/assets/js/util.js")"></script>
    <script src="@Url.Content("~/content/about/assets/js/main.js")"></script>


</div>


<script>
    $("#AboutMarkaz").css("background-color", "grey");

</script>