﻿@using Newtonsoft.Json
@using Microsoft.AspNet.Identity;
@using MoAD.WebApplication.DataObjects;
@using MoAD.DataObjects.EDMX;

@{
    Layout = "~/Views/Shared/_LayoutInitialPage.cshtml";
    var FormValues = ViewBag.ManagerForms;
    List<GETOPmanagerForms_Result> opManagersForms = ViewBag.opManagersForms;
    //  List<GetFormsPerAtribute_Result> GetFormsPerAtribute = ViewBag.GetFormsPerAtribute;

    List<SelectListItem> Organisations = ViewData["Organisation"] as List<SelectListItem>;
    var FullName = "";
    if(ViewBag.fullName != null)
    {
        FullName = "(" + ViewBag.fullName +")";
    }
}
<style>

    .centeralign {
        text-align: center;
    }
    td {
        text-align: center;
    }
    .dataTables_length {
        float: left;
    }
</style>


   


<div class="row" style="margin-top:1%;background-color:white;">
    <div class="row" style="text-align:center;padding-top:30px;">
        <h3>
            استبيانات @ViewBag.title
        </h3>
        <h3>
           @FullName
        </h3>
    </div>


@if (!User.IsInRole("HR"))
{
    <div class="form-group row">
        <div class="col-md-4  col-sm-5 col-xs-5" style="float:left;margin-left: 3%;">
            @Html.DropDownList("OrganisationsForms", Organisations, new { @class = "inputcolor form-control placeholder-no-fix Organisations" })
        </div>
        <div class="col-md-4 col-sm-5 col-xs-5">
            <label class="form-control-label" for="l0" style="color:black"> : الجهة الخاصة </label>
        </div>

    </div>
}
   


    <div class="col-xl-12">
        <div class="row">
            <div class="col-xl-12">
                <div class="widget widget-two" style="direction:rtl;">
                    <div class="widget-header">
                        <span class="text-truncate text-nowrap"><strong>إستبيناتي</strong></span>
                        @if (User.IsInRole("HR") && FormValues.Count < 5)
                        {
                            <button class="btn btn-primary FillFormsPerEmpBtn">إضافة استبانة</button>
                        }
                    </div>
                    <div class="row">
                        <div class="widget-body clearfix">
                            <table id="ClaimTable" class="display" cellspacing="0" width="100%">
                                <thead>
                                    <tr>
                                        <th class="centeralign">إسم الإستبانة </th>
                                        <th class="centeralign">تاريخ التعبئة </th>
                                        <th class="centeralign"> مقدم الاستبانة </th>
                                        <th class="centeralign">الجهة العامة</th>
                                        <th class="centeralign">رؤية الإستبانة</th>
                                    </tr>
                                </thead>
                                <tbody id="tablebody">                               
                                        @{
                                            foreach (var form in FormValues)
                                            {
                                                <tr>
                                                    <td> @form.FormTemplateName</td>
                                                    <td>@form.CreatedAt</td>
                                                    <td>@form.UserName</td>
                                                    <td>@form.OrganisationName</td>
                                                    <td>
                                                    <button type="button" onclick="viewestibana(@form.FormTemplateKey,@form.FormKey,'@form.FormTemplateName','@form.UserKey')" class="btn btn-circle btn-info viewFormButton" style="background-color:#5cb85c;width:120px;padding:2px;">أنقر</button>
                                                        @*<button type="button" class="btn btn-circle btn-info viewFormButton" onclick="goToMyClaim('@form.CurrentFormKey','@form.GUID','@form.CreatedAt','@form.UpdatedByUserKey','@form.NextFormTemplateKey','@form.NextStatusKey','@form.CurrentFormtemplateKey','@form.CurrentFormtemplateName','@form.NextStatusName','@form.NextOrganisationKey','@form.CurrentOrganisationKey')" style="background-color:#01a8fe;width:120px;padding:2px;">أنقر</button>*@
                                                        <button type="button" onclick="deleteEstibana(@form.FormKey)" class="btn btn-circle btn-danger" style="padding:2px;">حذف</button>
                                                     </td>
                                                </tr>
                                            }

                                            if (opManagersForms != null)
                                            {

                                                foreach (var item in opManagersForms)
                                                {
                                                    <tr>
                                                        <td> @item.FormTemplateName</td>
                                                        <td>@item.CreatedAt</td>
                                                        <td>@item.UserName</td>
                                                        <td>@item.OrganisationName</td>
                                                        <td>
                                                            <button type="button" onclick="viewestibana(@item.FormTemplateKey,@item.FormKey,'@item.FormTemplateName','@item.UserKey')" class="btn btn-circle btn-info viewFormButton" style="background-color:#5cb85c;width:120px;padding:2px;">أنقر</button>
                                                            <button type="button" onclick="deleteEstibana(@item.FormKey)" class="btn btn-circle btn-danger" style="padding:2px;">حذف</button>
                                                            @*<button type="button" class="btn btn-circle btn-info viewFormButton" onclick="goToMyClaim('@form.CurrentFormKey','@form.GUID','@form.CreatedAt','@form.UpdatedByUserKey','@form.NextFormTemplateKey','@form.NextStatusKey','@form.CurrentFormtemplateKey','@form.CurrentFormtemplateName','@form.NextStatusName','@form.NextOrganisationKey','@form.CurrentOrganisationKey')" style="background-color:#01a8fe;width:120px;padding:2px;">أنقر</button>*@

                                                        </td>
                                                    </tr>
                                                }
                                            }

                                        }                                   
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--begin::Modal-->
<div class="modal fade" id="DeleteModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" style="z-index: 9999;direction:rtl">
    <div class="modal-dialog modal-lg" role="document" style="top:10%;">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalEditTitle">حذف الاستبانة</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div id="DeleteModalBody" class="modal-body">
                هل أنت متأكد أنك تريد حذف هذه الإستبانة ؟
            </div>
            <div class="modal-footer">
                <button type="button" id="DeleteEstibanaBtn" class="btn btn-primary">نعم</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">لا</button>

            </div>
        </div>
    </div>
</div>
<script>

    $("#SaveBtn").click(function () {

        answsers = { key: "dsdd", Textvalue:$("#inputNumber").val(), type:"UserInput", Parent:"",Child:"",count:"" }

        AnswerTemplateKey.push(answsers);

        waitingDialog.show(' !!!  جاري التحميل');

        $.ajax({
            url: '@Url.Action("SubmitFormForUser", "ClaimForms")',
            type: 'GET',
            dataType: 'json',
            cache: false,
            data: {
                trackingStatusKey: "1", formTemplateKey: "132", userKey: "@User.Identity.GetUserId()", organisationKey: organisationKey
            },
            success: function (data) {

                FormKey = data;
                $.ajax({
                    url: '@Url.Action("AnswersByUser", "ClaimForms")',
                    type: 'POST',
                    dataType: 'json',
                    cache: false,
                    data: {
                        formKey: FormKey, answerTemplateKey: JSON.stringify(AnswerTemplateKey)
                    },
                    success: function (data) {

                        $.ajax({
                            url: '@Url.Action("SaveClaimForm", "ClaimForms")',
                            type: 'GET',
                            dataType: 'json',
                            cache: false,
                            data: {
                                formKey: FormKey
                            },
                            success: function (data) {
                                submit_post_via_hidden_form("@Url.Action("AdManagersClaims", "Home")",

 {
     ClaimType: "@ViewBag.formTemplate",
     HighlightedPart: "e3dadalmousta5dimin"
 }
                               );


                            }
                        });
                    }
                });
            }
        });

    });

    var table;
    $(document).ready(function () {
        $("#OrganisationsForms").select2({ width: '100%' });

        table = $("#ClaimTable").DataTable({
            "scrollX": true,
            //"ordering": false,
            "oLanguage": {
                "sSearch": "إبحث",
                "sLengthMenu": "عدد الأسطر لكل صفحة _MENU_ ",
            }
        });

        @if (!User.IsInRole("HR"))
        {
            <text>
        $("#OrganisationsForms").trigger("change");
    </text>
        }

        id = '@ViewBag.HighlightedPart';
        if (id != null && id != "null") {
            $("#" + id).addClass("left-menu-list-opened");
            $("#menu-initialpage").removeClass("left-menu-list-active");

        }

        if (id == '') {
            $("#menu-initialpage").addClass("left-menu-list-active");
        }


    });
    var FormTemplateKeyToDelete = "";
    function deleteEstibana(FormTemplateKey) {
        FormTemplateKeyToDelete = FormTemplateKey;
        $("#DeleteModal").modal('show');      
    }

    $("#DeleteEstibanaBtn").click(function () {
        $.ajax({
            type: 'GET',
            url: '@Url.Action("DeleteForm", "ClaimForms")',
            data: {
                Instancekey: FormTemplateKeyToDelete
            },
            dataType: 'text',
            success: function (result) {
                location.reload();
            }
        });
    })

    function viewestibana(FormTemplateKey, formkey, FormTemplateName,userkey) {
        if ((FormTemplateKey == "137") || (FormTemplateKey == "141") || (FormTemplateKey == "140") || (FormTemplateKey == "138") || (FormTemplateKey == "142") || (FormTemplateKey == "118") || (FormTemplateKey == "162") || (FormTemplateKey == "120")) {
            if (FormTemplateKey == "137") {
                @*window.location = '@Url.Action("Index", "OrganisationCharts")/' + "?formInstanceKey=" + formkey;*@

                submit_post_via_hidden_form("@Url.Action("OrganisationChartVersion2", "OrganisationCharts")",
                { formInstanceKey: formkey });
            }

            if (FormTemplateKey == "141") {
                @*window.location = '@Url.Action("TableForm", "OrganisationCharts")/' + "?formInstanceKey=" + formkey;*@
                submit_post_via_hidden_form("@Url.Action("TableForm", "OrganisationCharts")",
            { formInstanceKey: formkey });
            }
            if (FormTemplateKey == "140") {
                @*window.location = '@Url.Action("TableFormChariha3", "OrganisationCharts")/' + "?formInstanceKey=" + formkey;*@
                submit_post_via_hidden_form("@Url.Action("TableFormChariha3", "OrganisationCharts")",
            { formInstanceKey: formkey });
            }
            if (FormTemplateKey == "138") {
                submit_post_via_hidden_form("@Url.Action("TableFormHaikalWazifiNew", "OrganisationCharts")", { formInstanceKey: formkey });
                @*window.location = '@Url.Action("TableFormHaikalWazifiNew", "OrganisationCharts")/'+ "?formInstanceKey=" + formkey ;*@
            }
            if (FormTemplateKey == "142") {
                submit_post_via_hidden_form("@Url.Action("AltadribWaltashilAlmoustamer", "OrganisationCharts")", { formInstanceKey: formkey });

                @*window.location = '@Url.Action("AltadribWaltashilAlmoustamer", "OrganisationCharts")/'+ "?formInstanceKey=" + formkey ;*@
            }
            if (FormTemplateKey == "118") {
                submit_post_via_hidden_form("@Url.Action("CharihaOulaRepeatedQuestions", "OrganisationCharts")", { formInstanceKey: formkey });

                @*window.location = '@Url.Action("CharihaOulaRepeatedQuestions", "OrganisationCharts")/' + "?formInstanceKey=" + formkey;*@
            }
            if (FormTemplateKey == "162") {
                submit_post_via_hidden_form("@Url.Action("Charihakhamisa", "OrganisationCharts")", { formInstanceKey: formkey });

                @*window.location = '@Url.Action("Charihakhamisa", "OrganisationCharts")/' + "?formInstanceKey=" + formkey;*@
            }
            if (FormTemplateKey == "120") {
                submit_post_via_hidden_form("@Url.Action("CharihaThalithaRepeatedQuestions", "OrganisationCharts")", { formInstanceKey: formkey });

                @*window.location = '@Url.Action("CharihaOulaRepeatedQuestions", "OrganisationCharts")/' + "?formInstanceKey=" + formkey;*@
                }

        } else {
            submit_post_via_hidden_form("@Url.Action("EstibanatView", "Home")", { formInstanceKey: formkey, formTemplateName: FormTemplateName, UserKey: userkey });

            @*window.location = '@Url.Action("EstibanatView", "Home")/' + "?formInstanceKey=" + formkey + "&formTemplateName=" + FormTemplateName;*@

        }

    }





    $("#OrganisationsForms").on("change", function () {
        console.log($(this).val());
        console.log('@ViewBag.title');

        //ViewBag.title
        table.clear().draw();


        $.ajax({
            type: 'GET',
            url: '@Url.Action("opManagerFormsTable", "Home")',
            data: {
                ClaimType: '@ViewBag.title',
                organisationKey: $(this).val()
            },


            dataType: 'text',
            success: function (result) {

                var test = JSON.parse(result);
                console.log(test);
                $.each(test, function (index, value) {

                    table.row.add([
            '' + value.FormTemplateName + '',
            '' + value.CreatedAt + '',
            '' + value.UserName + '',
            '' + value.OrganisationName + '',
            "<button type='button' onclick='viewestibana(" + value.FormTemplateKey + "," + value.FormKey + ", " + '"' + value.FormTemplateName + '"' + ")' class='btn btn-circle btn-info viewFormButton' style='background-color:#5cb85c;width:120px;padding:2px;'>أنقر</button>",
                    ]).draw(false);
                });

            }
        });



        //'<button type="button" onclick="viewestibana(' + value.FormTemplateKey + ',' + value.FormKey + ',"'+ value.FormTemplateName +'")" class="btn btn-circle btn-info viewFormButton" style="background-color:#5cb85c;width:120px;padding:2px;">أنقر</button> ',



    });

    $(document).on("click", ".FillFormsPerEmpBtn", function () {
        var EmpKey = '@ViewBag.empID';
        window.location = '@Url.Action("AdUsersLandingPage", "Home")/?employeeRecord=' + EmpKey;
    })
</script>