﻿@using MoAD.DataObjects.EDMX
@using Microsoft.AspNet.Identity;
@{
    ViewBag.Title = "AdUsersForms";
    Layout = "~/Views/Shared/_LayoutInitialPage.cshtml";

    List<FormTemplateKeyVisibility_Result> Forms = ViewBag.Forms;
}
<style>
    @@media only screen and (max-width: 1300px) {
        .counter-icon {
            display: none !important;
        }
    }
</style>

@{
    foreach (var form in Forms.Where(x => x.FormTemplateKey != 187 && x.FormTemplateKey != 186 && x.FormTemplateKey != 129 && x.FormTemplateKey != 128))
    {
      if (form.AVGType == "NotAVG" && form.FormCount > 0)
        {
            <div class="col-xl-4 col-lg-4 col-sm-4 col-xs-12" style="cursor:no-drop;padding-top:10px;text-align:center;float:right">
                <div class="widget widget-seven">
                    <div class="widget-body">
                        <div class="widget-body-inner">
                            <p style="font-size:1.3rem !important;word-wrap: break-word;font-weight: bold" class="text-uppercase" lang="ar" dir="rtl">@form.Name</p>
                            <i class="counter-icon icmn-pen-plus"></i>
                        </div>
                    </div>
                </div>
            </div>
        }
        else if (form.FormCount > 0 && (form.Status== "OPSaved" || form.Status== "Saved") && User.IsInRole("ADManager"))
        {
            <div class="col-xl-4 col-lg-4 col-sm-4 col-xs-12" style="cursor:no-drop;padding-top:10px;text-align:center;float:right">
                <div class="widget widget-seven">
                    <div class="widget-body">
                        <div class="widget-body-inner">
                            <p style="font-size:1.0rem !important;word-wrap: break-word;font-weight: bold" class="text-uppercase" lang="ar" dir="rtl">@form.Name</p>
                            <p style="font-size:1.0rem !important;word-wrap: break-word;font-weight: bold;color:red" class="text-uppercase" lang="ar" dir="rtl">(لقد تم تقديم هذا التطبيق من قبل وزارة التنمية الإدارية )</p>
                            <p style="font-size:1.0rem !important;word-wrap: break-word;font-weight: bold;color:red" class="text-uppercase" lang="ar" dir="rtl">الرجاء الاطلاع والتحميل</p>
                            <i class="counter-icon icmn-pen-plus"></i>
                        </div>
                    </div>
                </div>
            </div>
        }
        else
        {
            <div class="col-xl-4 col-lg-4 col-sm-4 col-xs-12" style="cursor:pointer;padding-top:10px;text-align:center;float:right">
                <div class="widget widget-seven" onclick="gotoCreatedform(@form.FormTemplateKey)">
                    <div class="widget-body">
                        <div class="widget-body-inner">
                            <p style="font-size:1.3rem !important;word-wrap: break-word;font-weight: bold" class="text-uppercase" lang="ar" dir="rtl">@form.Name</p>
                            <i class="counter-icon icmn-pen-plus"></i>
                        </div>
                    </div>
                </div>
            </div>
        }
    }
}
<script>

    function gotoCreatedform(FormTemplateKey) {
        if ((FormTemplateKey == "137") || (FormTemplateKey == "141") || (FormTemplateKey == "140") || (FormTemplateKey == "138") || (FormTemplateKey == "142") || (FormTemplateKey == "118") || (FormTemplateKey == "162") || (FormTemplateKey == "120")) {
            if (FormTemplateKey == "137") {
                window.location = '@Url.Action("OrganisationChartVersion2", "OrganisationCharts")';
            }
            if (FormTemplateKey == "141") {
                window.location = '@Url.Action("TableForm", "OrganisationCharts")';
            }
            if (FormTemplateKey == "140") {
                window.location = '@Url.Action("TableFormChariha3", "OrganisationCharts")';
            }
            if (FormTemplateKey == "138") {
                window.location = '@Url.Action("TableFormHaikalWazifiNew", "OrganisationCharts")';
            }
            if (FormTemplateKey == "142") {
                window.location = '@Url.Action("AltadribWaltashilAlmoustamer", "OrganisationCharts")';
            }
            if (FormTemplateKey == "118") {
                window.location = '@Url.Action("CharihaOulaRepeatedQuestions", "OrganisationCharts")';
            }
            if (FormTemplateKey == "162") {
                window.location = '@Url.Action("Charihakhamisa", "OrganisationCharts")';
            }
            if (FormTemplateKey == "120") {
                @*window.location = '@Url.Action("CharihaThalithaRepeatedQuestions", "OrganisationCharts")';*@
                submit_post_via_hidden_form("@Url.Action("CharihaThalithaRepeatedQuestions", "OrganisationCharts")",

            {
                formInstanceKey: "",
                
            }
                               );
            }
        } else {

            @*window.location = '@Url.Action("NewClaimForm", "ClaimForms")/' + "?Organization=" + "1" + "&FormTemplateKey=" + FormTemplateKey + "&ManagerIndex=True";*@
            submit_post_via_hidden_form("@Url.Action("NewClaimForm", "ClaimForms")",

               {
                   Organization: "1",
                   FormTemplateKey: escape(FormTemplateKey),
                   ManagerIndex: "True"
               }
                               );
        }
    }

    function gotoorganisationForm() {
        window.location = '@Url.Action("Index", "OrganisationCharts")';
    }

    function gotoChariha3() {
        window.location = '@Url.Action("TableFormChariha3", "OrganisationCharts")';
    }

    function gotoHaikalWazifi() {
        window.location = '@Url.Action("TableFormHaikalWazifi", "OrganisationCharts")';
    }

    function gotonizamDakhili() {
        window.location = '@Url.Action("TableForm", "OrganisationCharts")';
    }

    function gotoTadribMoustamer() {
        window.location = '@Url.Action("AltadribWaltashilAlmoustamer", "OrganisationCharts")';
    }
</script>
