﻿@using MoAD.DataObjects.EDMX;

@{
    ViewBag.Title = "AdUsersLandingPage";
    Layout = "~/Views/Shared/_LayoutInitialPage.cshtml";

    var GetAllFormTemplatesForaType=ViewBag.GetAllFormTemplatesForaType;
}
<style>
    .widget-seven .widget-body .widget-body-inner{
        direction:rtl; 
    }


    #container {
  width: 100px;
  height: 100px;
  position: relative;
}
#navi,
#infoi {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
#infoi {
  z-index: 10;
}

</style>
<div class="row" style="text-align:center;padding-top:20px">
    <h3>
        محتويات الواجهة

    </h3>
</div>

@if (!User.IsInRole("HR"))
{
    <div class="row" style="padding-top:10px">

        <div class="col-xl-3 col-lg-6 col-sm-6 col-xs-12" id="gotodashboard">
            <div class="widget widget-seven background-default" style="cursor:pointer;">
                <div class="widget-body">
                    <div class="widget-body-inner">
                        <p style="font-size:1.5rem !important;word-wrap: break-word;font-weight: bold" class="text-uppercase">مؤشر مكافحة الفساد الإداري والاستجابة للشكاوى</p>
                        <i class="counter-icon icmn-file-presentation"></i>

                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-lg-6 col-sm-6 col-xs-12" onclick="gotoTanzim('تبسيط الإجراءات')" style="cursor:pointer;">
            <div class="widget widget-seven">
                <div class="widget-body">
                    <div class="widget-body-inner">
                        <p style="font-size:1.5rem !important;word-wrap: break-word;font-weight: bold" class="text-uppercase">مؤشر تبسيط الإجراءت وتقانة المعلومات </p>
                        <i class="counter-icon icmn-printer4"></i>

                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-lg-6 col-sm-6 col-xs-12" onclick="gotoTanzim('تنظيم مؤسساتي')" style="cursor:pointer;">
            <div class="widget widget-seven">
                <div class="widget-body">
                    <div class="widget-body-inner">
                        <p style="font-size:1.5rem !important;word-wrap: break-word;font-weight: bold" class="text-uppercase">مؤشر جودة التنظيم المؤسساتي </p>
                        <i class="counter-icon icmn-paste2"></i>

                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-lg-6 col-sm-6 col-xs-12" onclick="gotoformView('130')" style="cursor:pointer;">
            <div class="widget widget-seven">
                <div class="widget-body">
                    <div class="widget-body-inner">
                        <p style="font-size:1.5rem !important;word-wrap: break-word;font-weight: bold" class="text-uppercase">جرد الخدمات </p>
                        <i class="counter-icon icmn-books"></i>

                    </div>
                </div>
            </div>
        </div>
    </div>
}
else
{ 
    <div class="row" style="padding-top:10px">
        @foreach (var item in GetAllFormTemplatesForaType)
        {
            <div class="col-xl-3 col-lg-6 col-sm-6 col-xs-12" onclick="gotoformView(@item.FormTemplateKey)" style="cursor:pointer;float:right!important;">
                <div class="widget widget-seven">
                    <div class="widget-body">
                        <div class="widget-body-inner">
                            <p style="font-size:1.5rem !important;word-wrap: break-word;font-weight: bold" class="text-uppercase">@item.Name</p>
                            <i class="counter-icon icmn-books"></i>

                        </div>
                    </div>
                </div>
            </div>
        }     
    </div>
}


@if (!User.IsInRole("HR"))
{
    <div class="row" style="text-align:center;padding-top:20px">
        <h3>
            <span style="color:red;font-size:1.6rem" dir="rtl">(سوف تكون متاحة قريبا)</span>     تقارير متابعة
        </h3>
    </div>




    <div class="row" style="padding-top:10px;">
        <div class="col-xl-3 col-lg-6 col-sm-6 col-xs-12" style="cursor:pointer;cursor: no-drop">
            <div class="widget widget-seven background-success">
                <div class="widget-body">
                    <div class="widget-body-inner">
                        <p style="font-size:1.5rem !important;word-wrap: break-word;font-weight: bold" class="text-uppercase">رأي المواطن عن المعالجة </p>
                        <i class="counter-icon icmn-server"></i>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-lg-6 col-sm-6 col-xs-12" style="cursor:pointer;cursor: no-drop">
            <div class="widget widget-seven background-default">
                <div class="widget-body">
                    <div class="widget-body-inner">
                        <p style="font-size:1.5rem !important;word-wrap: break-word;font-weight: bold" class="text-uppercase">تقارير متابعة الشكاوى </p>
                        <i class="counter-icon icmn-server"></i>

                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-lg-6 col-sm-6 col-xs-12" style="cursor:pointer;cursor: no-drop">
            <div class="widget widget-seven">
                <div class="widget-body">
                    <div class="widget-body-inner">
                        <p style="font-size:1.5rem !important;word-wrap: break-word;font-weight: bold" class="text-uppercase"> تقارير مستقبلة  </p>
                        <i class="counter-icon icmn-users"></i>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-lg-6 col-sm-6 col-xs-12" style="cursor:pointer;cursor: no-drop">
            <div class="widget widget-seven">
                <div class="widget-body">
                    <div class="widget-body-inner">
                        <p style="font-size:1.5rem !important;word-wrap: break-word;font-weight: bold" class="text-uppercase">تقارير مرسلة</p>
                        <i class="counter-icon icmn-users"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
}

<script>
    function gotoformView(FormTemplateKey) {
        @*window.location = '@Url.Action("NewClaimForm", "ClaimForms")/' + "?Organization=" + "1" + "&FormTemplateKey=" + FormTemplateKey + "&ManagerIndex=True";*@

      
        submit_post_via_hidden_form("@Url.Action("NewClaimForm", "ClaimForms")",

    {
        Organization: "1",
        FormTemplateKey: escape(FormTemplateKey),
        ManagerIndex: "True",
       employeeRecord: '@ViewBag.employeeRecord'
    }
                    );
        

    }


    function gotoTanzim(type) {
 

           submit_post_via_hidden_form("@Url.Action("AdUsersForms2", "Home")",

        {
            type: type,    
        }
         );
 
    }

</script>