﻿@using MoAD.WebApplication.Objects;

@{
    Layout = "~/views/home/_SharedLayout.cshtml";
    Dictionary<string, string> Locale = ViewBag.Locale;
}


<head>

    <title>أخبار الوزارة</title>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link href="@Url.Content("~/content/about/assets/css/main.css")" rel="stylesheet" />
    <style>
        p {
            line-height: 45px !important;
            font-size: 18px !important;
        }

        p, li {
                color: black;
            }
    </style>

</head>


<div class="row Body" style="overflow-x:hidden;filter: blur(25px);transition: filter 2s;-webkit-transition: filter 2s;">


    <!-- Main -->
    <section id="main" style="position:relative;margin-top:2%;text-align:center;">
        <div class="inner">

            <!-- One -->
            <section id="one" class="wrapper style1" style="font-family: 'Droid Arabic Kufi',serif">

                <div class="image fit flush">

                    <img src="@Url.Content("~/images/about/markaz/capture.png")" alt="" />
                </div>
                <header class="special">
                    <h2>@Html.Raw(BaseController.GetFieldLabel(Locale, "AkhbarWizaraPageMinistryNews"))</h2>
                    <p>@Html.Raw(BaseController.GetFieldLabel(Locale, "_SyrianRepublic"))</p>
                </header>
            </section>



            <!-- Three -->
            <section id="three" class="wrapper" style="font-family: 'Droid Arabic Kufi',serif">
                <div class="spotlight alt">
                    <div class="image flush"><img src="@Url.Content("~/imag/akhbarwizara/pic01.png")" alt="" /></div>
                    <div class="inner">
                        <h3 lang="ar" dir="rtl" style="font-size:45px;text-align:center;">@Html.Raw(BaseController.GetFieldLabel(Locale, "AkhbarWizaraPageTitle1"))</h3>
                        <p lang="ar" dir="rtl" style="font-size:35px;text-align:center;">
                         @Html.Raw(BaseController.GetFieldLabel(Locale, "AkhbarWizaraPageParag1"))</p>
                    </div>
                </div>
                <div class="spotlight">
                    <div class="image flush"><img src="@Url.Content("~/imag/akhbarwizara/pic02.png")" alt="" /></div>
                    <div class="inner">
                        <h3 lang="ar" dir="rtl" style="font-size:45px;text-align:center;"> @Html.Raw(BaseController.GetFieldLabel(Locale, "AkhbarWizaraPageTitle2")) </h3>
                        <p lang="ar" dir="rtl" style="font-size:35px;text-align:center;">@Html.Raw(BaseController.GetFieldLabel(Locale, "AkhbarWizaraPageParag2"))</p>
                    </div>
                </div>
                <div class="spotlight alt">
                    <div class="image flush"><img src="@Url.Content("~/imag/akhbarwizara/pic03.png")" alt="" /></div>
                    <div class="inner">
                        <h3 lang="ar" dir="rtl" style="font-size:45px;text-align:center;">@Html.Raw(BaseController.GetFieldLabel(Locale, "AkhbarWizaraPageTitle3"))</h3>
                        <p lang="ar" dir="rtl" style="font-size:35px;text-align:center;">
                      @Html.Raw(BaseController.GetFieldLabel(Locale, "AkhbarWizaraPageParag3"))
                        </p>
                    </div>
                </div>
                <div class="spotlight">
                    <div class="image flush"><img src="@Url.Content("~/imag/akhbarwizara/pic04.png")" alt="" /></div>
                    <div class="inner">
                        <h3 lang="ar" dir="rtl" style="font-size:45px;text-align:center;"> @Html.Raw(BaseController.GetFieldLabel(Locale, "AkhbarWizaraPageTitle4"))</h3>

                    </div>
                </div>
                <div class="spotlight alt">
                    <div class="image flush"><img src="@Url.Content("~/imag/akhbarwizara/pic05.png")" alt="" /></div>
                    <div class="inner">
                        <h3 lang="ar" dir="rtl" style="font-size:45px;text-align:center;"> @Html.Raw(BaseController.GetFieldLabel(Locale, "AkhbarWizaraPageTitle5")) </h3>
                        <p lang="ar" dir="rtl" style="font-size:35px;text-align:center;">
                          @Html.Raw(BaseController.GetFieldLabel(Locale, "AkhbarWizaraPageParag5"))
                         </p>
                    </div>
                </div>

                <div class="spotlight">
                    <div class="image flush"><img src="@Url.Content("~/imag/akhbarwizara/pic06.png")" alt="" /></div>
                    <div class="inner">
                        <h3 lang="ar" dir="rtl" style="font-size:45px;text-align:center;">
                            @Html.Raw(BaseController.GetFieldLabel(Locale, "AkhbarWizaraPageTitle6"))
                            </h3>
                        <p lang="ar" dir="rtl" style="font-size:35px;text-align:center;">
                         @Html.Raw(BaseController.GetFieldLabel(Locale, "AkhbarWizaraPageParag6"))
                            @Html.Raw(BaseController.GetFieldLabel(Locale, "AkhbarWizaraPageParag6Part2"))
                        </p>
                    </div>
                </div>

                <div class="spotlight alt">
                    <div class="image flush"><img src="@Url.Content("~/imag/akhbarwizara/pic07.png")" alt="" /></div>
                    <div class="inner">
                        <h3 lang="ar" dir="rtl" style="font-size:45px;text-align:center;">@Html.Raw(BaseController.GetFieldLabel(Locale, "AkhbarWizaraPageTitle7"))</h3>
                        <p lang="ar" dir="rtl" style="font-size:35px;text-align:center;">

                         @Html.Raw(BaseController.GetFieldLabel(Locale, "AkhbarWizaraPageParag7"))
                        </p>
                    </div>
                </div>

                <div class="spotlight">
                    <div class="image flush"><img src="@Url.Content("~/imag/akhbarwizara/pic08.png")" alt="" /></div>
                    <div class="inner">
                        <h3 lang="ar" dir="rtl" style="font-size:45px;text-align:center;">  @Html.Raw(BaseController.GetFieldLabel(Locale, "AkhbarWizaraPageTitle8")) </h3>
                        <p lang="ar" dir="rtl" style="font-size:35px;text-align:center;">
                        @Html.Raw(BaseController.GetFieldLabel(Locale, "AkhbarWizaraPageParag8")) </p>
                    </div>
                </div>

                <div class="spotlight alt">
                    <div class="image flush"><img src="@Url.Content("~/imag/akhbarwizara/pic09.png")" alt="" /></div>
                    <div class="inner">
                        <h3 lang="ar" dir="rtl" style="font-size:45px;text-align:center;">  @Html.Raw(BaseController.GetFieldLabel(Locale, "AkhbarWizaraPageTitle9")) </h3>
                        <p lang="ar" dir="rtl" style="font-size:35px;text-align:center;">
                         @Html.Raw(BaseController.GetFieldLabel(Locale, "AkhbarWizaraPageParag9"))
                        </p>
                    </div>
                </div>
                <div class="spotlight">
                    <div class="image flush"><img src="@Url.Content("~/imag/akhbarwizara/pic10.png")" alt="" /></div>
                    <div class="inner">
                        <h3 lang="ar" dir="rtl" style="font-size:45px;text-align:center;">@Html.Raw(BaseController.GetFieldLabel(Locale, "AkhbarWizaraPageTitle10"))</h3>
                        <p lang="ar" dir="rtl" style="font-size:35px;text-align:center;">
                           @Html.Raw(BaseController.GetFieldLabel(Locale, "AkhbarWizaraPageParag10"))
                        </p>
                    </div>
                </div>

                <div class="spotlight alt">
                    <div class="image flush"><img src="@Url.Content("~/imag/akhbarwizara/pic11.png")" alt="" /></div>
                    <div class="inner">
                        <h3 lang="ar" dir="rtl" style="font-size:45px;text-align:center;">@Html.Raw(BaseController.GetFieldLabel(Locale, "AkhbarWizaraPageTitle11"))</h3>
                        <p lang="ar" dir="rtl" style="font-size:35px;text-align:center;">
                        @Html.Raw(BaseController.GetFieldLabel(Locale, "AkhbarWizaraPageParag11")) 
                            @Html.Raw(BaseController.GetFieldLabel(Locale, "AkhbarWizaraPageParag11Part2"))
                            
                        </p>
                    </div>
                </div>

                <div class="spotlight">
                    <div class="image flush"><img src="@Url.Content("~/imag/akhbarwizara/pic12.png")" alt="" /></div>
                    <div class="inner">
                        <h3 lang="ar" dir="rtl" style="font-size:45px;text-align:center;">  @Html.Raw(BaseController.GetFieldLabel(Locale, "AkhbarWizaraPageTitle12")) </h3>
                        <p lang="ar" dir="rtl" style="font-size:35px;text-align:center;">
                        @Html.Raw(BaseController.GetFieldLabel(Locale, "AkhbarWizaraPageParag12"))    
                        </p>
                    </div>
                </div>

                <div class="spotlight alt">
                    <div class="image flush"><img src="@Url.Content("~/imag/akhbarwizara/pic13.png")" alt="" /></div>
                    <div class="inner">
                        <h3 lang="ar" dir="rtl" style="font-size:45px;text-align:center;"> @Html.Raw(BaseController.GetFieldLabel(Locale, "AkhbarWizaraPageTitle13")) </h3>
                        <p lang="ar" dir="rtl" style="font-size:35px;text-align:center;">
                        @Html.Raw(BaseController.GetFieldLabel(Locale, "AkhbarWizaraPageParag13"))
                         </p>
                    </div>
                </div>

                <div class="spotlight">
                    <div class="image flush"><img src="@Url.Content("~/imag/akhbarwizara/pic14.png")" alt="" /></div>
                    <div class="inner">
                        <h3 lang="ar" dir="rtl" style="font-size:45px;text-align:center;">@Html.Raw(BaseController.GetFieldLabel(Locale, "AkhbarWizaraPageTitle14"))</h3>
                        <p lang="ar" dir="rtl" style="font-size:35px;text-align:center;">
                         @Html.Raw(BaseController.GetFieldLabel(Locale, "AkhbarWizaraPageParag14"))
                        </p>
                    </div>
                </div>

                <div class="spotlight alt">
                    <div class="image flush"><img src="@Url.Content("~/imag/akhbarwizara/pic15.png")" alt="" /></div>
                    <div class="inner">
                        <h3 lang="ar" dir="rtl" style="font-size:45px;text-align:center;">@Html.Raw(BaseController.GetFieldLabel(Locale, "AkhbarWizaraPageTitle15"))</h3>
                        <p lang="ar" dir="rtl" style="font-size:35px;text-align:center;">
                            @Html.Raw(BaseController.GetFieldLabel(Locale, "AkhbarWizaraPageParag15"))
                        </p>
                    </div>
                </div>

                <div class="spotlight">
                    <div class="image flush"><img src="@Url.Content("~/imag/akhbarwizara/pic16.png")" alt="" /></div>
                    <div class="inner">
                        <h3 lang="ar" dir="rtl" style="font-size:45px;text-align:center;">@Html.Raw(BaseController.GetFieldLabel(Locale, "AkhbarWizaraPageTitle16"))</h3>
                        <p lang="ar" dir="rtl" style="font-size:35px;text-align:center;">
                        @Html.Raw(BaseController.GetFieldLabel(Locale, "AkhbarWizaraPageParag16")) 
                            @Html.Raw(BaseController.GetFieldLabel(Locale, "AkhbarWizaraPageParag16Part2"))  
                         </p>
                    </div>
                </div>

                <div class="spotlight alt">
                    <div class="image flush"><img src="@Url.Content("~/imag/akhbarwizara/pic17.png")" alt="" /></div>
                    <div class="inner">
                        <h3 lang="ar" dir="rtl" style="font-size:45px;text-align:center;"> @Html.Raw(BaseController.GetFieldLabel(Locale, "AkhbarWizaraPageTitle17")) </h3>
                        <p lang="ar" dir="rtl" style="font-size:35px;text-align:center;">
                        @Html.Raw(BaseController.GetFieldLabel(Locale, "AkhbarWizaraPageParag17")) 
                        </p>
                    </div>
                </div>

                <div class="spotlight">
                    <div class="image flush"><img src="@Url.Content("~/imag/akhbarwizara/pic18.png")" alt="" /></div>
                    <div class="inner">
                        <h3 lang="ar" dir="rtl" style="font-size:45px;text-align:center;"> @Html.Raw(BaseController.GetFieldLabel(Locale, "AkhbarWizaraPageTitle18"))</h3>
                        <p lang="ar" dir="rtl" style="font-size:35px;text-align:center;">
                        @Html.Raw(BaseController.GetFieldLabel(Locale, "AkhbarWizaraPageParag18")) 
                        </p>
                    </div>
                </div>

                <div class="spotlight alt">
                    <div class="image flush"><img src="@Url.Content("~/imag/akhbarwizara/pic19.png")" alt="" /></div>
                    <div class="inner">
                        <h3 lang="ar" dir="rtl" style="font-size:45px;text-align:center;">  @Html.Raw(BaseController.GetFieldLabel(Locale, "AkhbarWizaraPageTitle19")) </h3>
                        <p lang="ar" dir="rtl" style="font-size:35px;text-align:center;">
                           @Html.Raw(BaseController.GetFieldLabel(Locale, "AkhbarWizaraPageParag19"))
                        </p>
                    </div>
                </div>

            </section>
        </div>

    </section>




    <!-- Scripts -->
    @*<script src="@Url.Content("~/content/about/assets/js/jquery.min.js")"></script>*@

    <script src="@Url.Content("~/content/about/assets/js/jquery.poptrox.min.js")"></script>
    <script src="@Url.Content("~/content/about/assets/js/skel.min.js")"></script>
    <script src="@Url.Content("~/content/about/assets/js/util.js")"></script>
    <script src="@Url.Content("~/content/about/assets/js/main.js")"></script>


</div>
