﻿@using Newtonsoft.Json
@using Microsoft.AspNet.Identity;
@using MoAD.WebApplication.DataObjects;
@using MoAD.DataObjects.EDMX;
@{
    Layout = "~/Views/Shared/_LayoutInitialPage.cshtml";
    List<GetUnusedAuthenticationCodes_Result> Keys = ViewBag.AuthenticationCodes;
    List<SelectListItem> Roles = ViewData["Roles"] as List<SelectListItem>;
    List<SelectListItem> Organisations = ViewData["Organisations"] as List<SelectListItem>;
}
<style>

    #table_filter{
        display:none;
    }

    #table_length select{
        direction:ltr;
    }
</style>


<div class="row" style="text-align:center;padding-top:20px;padding-bottom:20px;">
    <h3>
        رموز  التسجيل الغير  مستخدمة
    </h3>
</div>

<div class="row" style="background-color:white;">
    <div class="col-md-12" style="text-align:center;margin-top:2%;">
        <div class="col-md-4" style="visibility:hidden;">
            <div class="btn btn-primary">توليد رموز</div>
        </div>
        <div class="col-md-4">
            @Html.DropDownList("Organisations", Organisations,"", new { @class = "inputcolor form-control placeholder-no-fix Organisations", @onchange = "EnableRoleDropDown()" })

        </div>
        <div class="col-md-4">
            <span> :الجهة</span>
        </div>

    </div>

    <div class="col-md-12" style="text-align:center;margin-top:2%;">
       
        <div class="col-md-2">
            <div class="btn btn-primary" id="GenerateCodes" disabled>توليد رموز</div>
            <input placeholder="عدد الرموز" id="CodesCount" disabled dir="rtl" type="number"/>
        </div>
        <div class="col-md-2">
            <div class="btn btn-primary" id="print" onclick="PrintElem()" disabled>طبع</div>
           
        </div>
        <div class="col-md-4">
            @*@Html.DropDownList("Roles", Roles,"", new { @class = "inputcolor form-control placeholder-no-fix Organisations", @onchange = "RefreshTable()" })*@
            <select id="Roles" class = "inputcolor form-control placeholder-no-fix Organisations" onchange = "RefreshTable()" ></select>
        </div>
        <div class="col-md-4">
            <span> :المنصب</span>
        </div>

       
    </div>


    <div class="col-md-12" dir="rtl" style="padding:1%;">
        <table id="table" style="width:100%">
            <thead>
                <tr>
                    <th style="text-align:center;">
                        رمز المصادقة
                    </th>
                    <th style="text-align:center;">
                        الحالة
                    </th>
                </tr>
            </thead>
            <tbody>


                @*@{
                    foreach (var key in Keys)
                    {
                        <tr>
                            <td style="text-align:center;"> @key.AuthenticationCode</td>
                            <td style="text-align:center;">
                                @if (key.Status == "Unreserved")
                                {
                                    <span style="cursor:pointer" data-status="Reserved" onclick="changeStatus('@key.AuthenticationCode',this)" class="label label-success font-size-14 margin-inline">متوفر </span>
                                }
                                else
                                {
                                    <span style="cursor:pointer" data-status="Unreserved" onclick="changeStatus('@key.AuthenticationCode',this)" class="label label-danger font-size-14 margin-inline">غير متوفر </span>
                                }
                            </td>

                        </tr>
                    }
                }*@


            </tbody>
        </table>
    </div>

</div>



<script>
    var paginationNumber;


    $(document).ready(function () {

         $('#table').DataTable({

            "scrollX": true,
            "pageLength": 10,
            drawCallback: function () {
                $('.paginate_button', this.api().table().container())
                   .on('click', function () {
                       //alert("dhyfs");
                   });
            },
            "oLanguage": {
                "sSearch": "إبحث",
                "sLengthMenu": "عدد الأسطر لكل صفحة _MENU_ ",

            },

        });

        $("select").select2();
        $("#Roles").prop("disabled", true);



    });

    function EnableRoleDropDown() {
        $("#Roles").prop("disabled", false);
        OrgKey = $("#Organisations option:selected").val();

        $.ajax({
            type: 'GET',
            url: '@Url.Action("GetRolesPerOrganisation", "Home")',

            data: {
                OkEY: OrgKey
            },
            dataType: 'json',
            success: function (result) {
                $("#Roles").html('');
                var item = '';

                $.each(result, function (index, value) {

                    @if (User.IsInRole("ADManager"))
            {
                <text>
                    if (value.Id=="24")
                                  item += "<option value=" + value.Id + ">" + value.Name + "</option>";

                </text>
            }
            else
            {
                <text>
                    item += "<option value=" + value.Id + ">" + value.Name + "</option>";
                </text>
            }



                });
                $("#Roles").append(item);
                RefreshTable();
            }
        });


    }


    function RefreshTable() {

       // document.getElementsByClassName("page-link").eq(1).click();

        OrgKey = $("#Organisations option:selected").val();
        RoleID = $("#Roles").val();
        $.ajax({
            url: '@Url.Action("GetAuthenticationCodes", "Home")',
            type: 'GET',
            dataType: 'text',
            cache: false,
            data: {
                RoleKey: RoleID, OkEY: OrgKey
            },
            success: function (data) {
                paginationNumber = 0;
                $("#table").empty();

                var Data = JSON.parse(data);
                //console.log("Data=" + Data);

                if (Data == "") {

                    $("#GenerateCodes").removeAttr("disabled");
                    $("#CodesCount").removeAttr("disabled");

                    $("#print").attr("disabled", true);



                } else {
                    $("#GenerateCodes").attr("disabled", true);
                    $("#CodesCount").attr("disabled", true);
                    $("#print").removeAttr("disabled");


                    var item = "";
                    var CountReservedCodes = 0;
                    $.each(Data, function (index, value) {

                        item = "<tr><td style='text-align:center;'> " + value.AuthenticationCode + "</td><td style='text-align:center;'> "

                        if (value.Status == "Unreserved") {
                            CountReservedCodes++;
                            AuthenticationCode = "'" + value.AuthenticationCode + "'";
                            test = "";

                            //console.log(AuthenticationCode);
                            item += '<span style="cursor:pointer" data-status="Reserved" onclick="changeStatus(' + AuthenticationCode + ',this)" class="label label-success font-size-14 margin-inline">متوفر </span>';
                        }
                        else {

                            AuthenticationCode = "'" + value.AuthenticationCode + "'";
                            item += '<span style="cursor:pointer" data-status="Unreserved" onclick="changeStatus(' + AuthenticationCode + ',this)" class="label label-danger font-size-14 margin-inline">غير متوفر </span>';

                            //item += "<span style='cursor:pointer' data-status='Unreserved' onclick='changeStatus('" + AuthenticationCode + "',this)' class='label label-danger font-size-14 margin-inline'>غير متوفر </span>"
                        }


                        item += "</td></tr>";
                        $("#table").append(item);

                    });


                    if ($(".label-success").length == 0) {
                        $("#GenerateCodes").removeAttr("disabled");
                        $("#CodesCount").removeAttr("disabled");
                        $("#print").attr("disabled",true);

                    }
                }

              //  PrintElem(UnreservedAuthenticationCode);
                $('#table').DataTable().destroy();
                table=$('#table').DataTable({
                    "scrollX": true,
                    "pageLength": 10,
                    drawCallback: function () {
                        $('.paginate_button', this.api().table().container())
                           .on('click', function () {

                               paginationNumber = $(this).find("a").attr("data-dt-idx");

                           });
                    },
                    "oLanguage": {
                        "sSearch": "إبحث",
                        "sLengthMenu": "عدد الأسطر لكل صفحة _MENU_ ",

                    }
                });

            }
        });

    }

    $("#GenerateCodes").click(function () {
        OrgKey = $("#Organisations option:selected").val();
        CodesCount = $("#CodesCount").val();
        RoleID = $("#Roles").val();
        if ($("#GenerateCodes").attr('disabled')) {
            ;
        } else {
            $.ajax({
                url: '@Url.Action("GenerateAuthenticationCodes", "Home")',
                type: 'GET',
                dataType: 'text',
                cache: false,
                data: {
                    OrganK: OrgKey, CountCodes: CodesCount, rKey: RoleID
                },
                success: function (data) {

                    
                    source = "توليد رموز";
                    title = "توليد رموز";
                    
                    message = "توليد رموز عدد" + CodesCount + "إلى منصب" + $("#Roles option:selected").text();;
                    SetLog(source, title, message);
                    $("#CodesCount").val('');
                    RefreshTable();
                }
            });

        }
    });

    var UnreservedAuthenticationCode = [];
    function saveReserved(unreservedCodes) {
        UnreservedAuthenticationCode = unreservedCodes;
    }

    function PrintElem() {
        if ($("#print").attr('disabled')) {
            ;
        } else {

            OrgKey = $("#Organisations option:selected").val();
            RoleID = $("#Roles").val();
            $.ajax({
                url: '@Url.Action("GetAuthenticationCodes", "Home")',
                type: 'GET',
                dataType: 'text',
                cache: false,
                data: {
                    RoleKey: RoleID, OkEY: OrgKey
                },
                success: function (data) {

                    var Data = JSON.parse(data);

                    var html = '';
                    var k = 0;

                    html = "<table style='float:right' dir='rtl'><tr><td><b>رمز التسجيل</b></td><td style='width:40%'><b>الاسم الكامل</b></td><td><b>الوظيفة</b></td><td><b>الإستلام</b></td></tr>";
                        $.each(Data, function (index, value) {


                            if (value.Status == "Unreserved") {
                                html += "<tr><td>" + value.AuthenticationCode + "</td><td><input type='text' style='width:100%'/></td><td><input type='text'/></td><td><input type='text'/></td></tr>";

                                //UnreservedAuthenticationCode[k] = value.AuthenticationCode;
                                //k++;
                                codes = { Code: value.AuthenticationCode };
                                UnreservedAuthenticationCode.push(codes);

                                $.ajax({
                                    type: 'GET',
                                    url: '@Url.Action("ReserveCode", "Home")',

                                    data: {
                                        status: "Reserved",
                                        authenticationCode: value.AuthenticationCode
                                    },
                                    dataType: 'text',
                                    success: function (result) {



                                    }
                                });
                            }


                        });


                        var organisation = $("#Organisations option:selected").text();
                        var title = "رموز التسجيل لموظفي " + organisation;
                        var mywindow = window.open('', 'PRINT', 'height=800,width=1000');

                        mywindow.document.write('<html><head><title>' + title + '</title>');
                        mywindow.document.write('</head><body style="text-align:right">');
                        mywindow.document.write('<h1>' + title + '</h1>');
                    // mywindow.document.write(document.getElementById(elem).innerHTML);
                        mywindow.document.write(html);



                        mywindow.document.write('</body></html>');

                        mywindow.document.close(); // necessary for IE >= 10
                        mywindow.focus(); // necessary for IE >= 10*/

                        mywindow.print();
                        mywindow.close();

                        RefreshTable();

                        submit_post_via_hidden_form("@Url.Action("PrintAuthenticationCodes", "Home")", { authenticationCodes: JSON.stringify(UnreservedAuthenticationCode), Organisation: organisation });


                        return true;


                }
            });


        }
    }

    function submit_post_via_hidden_form(url, params) {
        var f = $("<form method='POST' style='display:none;'></form>").attr({
            action: url
        }).appendTo(document.body);

        for (var i in params) {
            if (params.hasOwnProperty(i)) {
                $('<input type="hidden" />').attr({
                    name: i,
                    value: params[i]
                }).appendTo(f);
            }
        }

        f.submit();

        f.remove();
    }

    function changeStatus(authenticationCode, span) {

        var nextStatus = $(span).attr("data-status");

        $.ajax({
            type: 'GET',
            url: '@Url.Action("ReserveCode", "Home")',

            data: {
                status: nextStatus,
                authenticationCode: authenticationCode
            },
            dataType: 'text',
            success: function (result) {

                if (nextStatus == "Reserved") {
                    $(span).removeClass("label-success").addClass("label-danger");
                    $(span).attr("data-status", "Unreserved");
                    $(span).text("غير متوفر");


                }
                else {
                    $(span).removeClass("label-danger").addClass("label-success");
                    $(span).attr("data-status", "Reserved");
                    $(span).text("متوفر");


                }
               // alert($(".label-success").length);
                if ($(".label-success").length == 0) {
                    $("#GenerateCodes").removeAttr("disabled");
                    $("#CodesCount").removeAttr("disabled");
                    $("#print").attr("disabled", true);

                } else {

                 $("#GenerateCodes").attr("disabled",true);
                 $("#CodesCount").prop("disabled", true);
                 $("#print").removeAttr("disabled");

                }

            }
        });




    }
</script>

