﻿@model List<object>
@using Newtonsoft.Json
@using Microsoft.AspNet.Identity;

@{
    ViewBag.Title = "ClaimViewManager";
    Layout = "~/views/shared/_layoutinitialpage.cshtml";
}

<style>
    .page-content-inner {
        padding-top: 0px !important;
    }

    .select2-selection__arrow {
        direction: rtl;
    }
</style>
<body>




    <div class="page-content-inner">
        <!-- Ecommerce Product Details -->
        <section class="panel panel-with-borders">
            <div class="panel-heading" dir="rtl">
                <h2>
                    تفاصيل الشكوى
                </h2>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-lg-4" style="float:right;">
                        <div class="cui-ecommerce--catalog--item">
                            <div class="cui-ecommerce--catalog--item--img">
                                <div class="cui-ecommerce--catalog--item--status">
                                    <span class="cui-ecommerce--catalog--item--status--title">@*New*@</span>
                                </div>
                                @*<div class="cui-ecommerce--catalog--item--like cui-ecommerce--catalog--item--like__selected">
                                        <i class="icmn-heart3 cui-ecommerce--catalog--item--like--liked"><!-- --></i>
                                        <i class="icmn-heart4 cui-ecommerce--catalog--item--like--unliked"><!-- --></i>
                                    </div>*@
                                <a href="javascript: void(0);">
                                    <img src="../assets/common/img/temp/ecommerce/001.jpg" />
                                </a>
                            </div>
                        </div>
                        <div class="cui-ecommerce--product--photos clearfix">
                            <div class="cui-ecommerce--product--photos-item cui-ecommerce--product--photos-item__active pull-right">
                                <img src="@Url.Content("../assets/common/img/temp/ecommerce/001.jpg")" />
                            </div>
                            <div class="cui-ecommerce--product--photos-item pull-right">
                                <img src="@Url.Content("../assets/common/img/temp/ecommerce/002.jpg")" />
                            </div>
                            <div class="cui-ecommerce--product--photos-item pull-right">
                                <img src="@Url.Content("../assets/common/img/temp/ecommerce/003.jpg")" />
                            </div>
                            <div class="cui-ecommerce--product--photos-item pull-right">
                                <img src="@Url.Content("../assets/common/img/temp/ecommerce/004.jpg")" />
                            </div>
                            <div>
                                <div class="cui-ecommerce--product--photos-item pull-right">
                                    <img src="@Url.Content("../assets/common/img/temp/ecommerce/002.jpg")" />
                                </div>
                                <div class="cui-ecommerce--product--photos-item pull-right">
                                    <img src="@Url.Content("../assets/common/img/temp/ecommerce/003.jpg")" />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-8">
                        <div class="cui-ecommerce--product--sku" dir="rtl" style="float:left;">
                            @ViewBag.FormTemplateName
                            <br />
                            <div class="cui-ecommerce--product--rating">
                                تاريخ التقديم 11/12/2017
                            </div>
                        </div>
                        <h4 class="cui-ecommerce--product--main-title" dir="rtl">موضوع الشكوى</h4>
                        <div class="cui-ecommerce--product--price" dir="rtl">
                            @ViewBag.FormTemplateDescription
                        </div>

                        <hr />
                        @*<div class="cui-ecommerce--product--descr">
                                <p>
                                    A chair is a piece of furniture with a raised surface, commonly used to seat a single person.
                                    Chairs are supported most often by four legs and have a back; however, a chair can have three
                                    legs or can have a different shape.
                                </p>
                            </div>*@
                        <div class="row" dir="rtl">
                            <div class="col-lg-6" style="float:right;">
                                <div class="cui-ecommerce--product--option_title">
                                    نوع المعالجة
                                </div>


                                <div class="cui-ecommerce--product--option">


                                    <select class="select2">

                                        @foreach (var question in Model)
                                        {
                                            string stringQuestion = Json.Encode(question);
                                            dynamic data = Json.Decode(stringQuestion);


                                            if (data["QuestionValue"].ToString().Contains("تحديد نوع المعالجة"))
                                            {
                                                foreach (var answer in data["Answers"])
                                                {
                                                    <option value="@answer["AnswerTemplateKey"]">@answer["AnswerValue"]</option>
                                                }
                                            }

                                        }

                                    </select>
                                </div>
                            </div>
                        </div>
                        <hr />
                        <div class="cui-ecommerce--product--info">
                            <div class="nav-tabs-horizontal pull-right">
                                <ul class="nav nav-tabs pull-right" role="tablist">
                                    <li class="nav-item">
                                        <a class="nav-link" href="javascript: void(0);" data-toggle="tab" data-target="#tab3" role="tab"><b style="font-size: 16px;">الوثائق المرفقة</b></a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="javascript: void(0);" data-toggle="tab" data-target="#tab2" role="tab"><b style="font-size: 16px;">القرارات / الإجراءت المتخذة</b></a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link active" href="javascript: void(0);" data-toggle="tab" data-target="#tab1" role="tab"><b style="font-size: 16px;">توصيف الحل </b></a>
                                    </li>
                                </ul>
                                <div class="tab-content padding-vertical-20" style="width: 1034px;">
                                    <div class="tab-pane active" id="tab1" role="tabpanel">
                                        <div class="form-group form-md-line-input form-md-floating-label" dir="rtl">
                                            <textarea class="form-control" id="tawsifalhal"  data-key="@ViewBag.QuestionTawsifAlHal" rows="3"></textarea>
                                        </div>
                                    </div>
                                    <div class="tab-pane" id="tab2" role="tabpanel">
                                        <div class="form-group form-md-line-input form-md-floating-label" dir="rtl" >
                                            <textarea class="form-control" id="ejra2atmouta5aza" data-key="@ViewBag.QuestionAlkararat" rows="3"></textarea>
                                        </div>
                                    </div>
                                    <div class="tab-pane" id="tab3" role="tabpanel">
                                        <div class="col-md-7" style="position: relative;bottom: -65px;left:30%;" data-key="@ViewBag.QuestionAlWasa2ek">
                                            <!-- The fileinput-button span is used to style the file input field as button -->
                                            <span class="btn green fileinput-button">
                                                <i class="fa fa-plus"></i>
                                                <span> Add files... </span>
                                                <input type="file" name="files[]" multiple="" style="display:none;">
                                            </span>
                                            <button type="submit" class="btn blue start">
                                                <i class="fa fa-upload"></i>
                                                <span> Start upload </span>
                                            </button>
                                            <button type="reset" class="btn warning cancel">
                                                <i class="fa fa-ban-circle"></i>
                                                <span> Cancel upload </span>
                                            </button>
                                            <button type="button" class="btn red delete">
                                                <i class="fa fa-trash"></i>
                                                <span> Delete </span>
                                            </button>
                                            <input type="checkbox" class="toggle">
                                            <!-- The global file processing state -->
                                            <span class="fileupload-process"> </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <hr />
                        <button type="button" class="btn btn-primary margin-inline" id="submitClaimForm" style="float:right">Submit</button>

                    </div>
                </div>
            </div>
        </section>

        <!-- End Ecommerce Product Details -->
    </div>

    <!-- Page Scripts -->
    <script>

        $(function () {

            // Heart toggle
            $('.cui-ecommerce--catalog--item--like').on('click', function () {
                $(this).toggleClass('cui-ecommerce--catalog--item--like__selected')
            });

            // Tooltip
            $("[data-toggle=tooltip]").tooltip();

            // Select 2
            $('.select2').select2();

        });

        var FirstTimeAnswerClick = 0;
        var FormTemplateKey = '@ViewBag.FormTemplateKey';
        var AnswerTemplateKey = [];



        $(document).on('click', "[id='submitClaimForm']", function () {

            var answsers = "";

            var TawsifAlHalValue = $("#tawsifalhal").val()
            var TawsifAlHalKey = $("#tawsifalhal").attr("data-key")

            AnswerTemplateKey.push({ key: TawsifAlHalKey, Textvalue: TawsifAlHalValue, type: "" });

            var ejra2atVal = $("#ejra2atmouta5aza").val()
            var ejra2atKey = $("#ejra2atmouta5aza").attr("data-key")

            AnswerTemplateKey.push({ key: ejra2atKey, Textvalue: ejra2atVal, type: "" });

            $('option:selected').each(function () {

                if ($(this).val() != "") {
                    answsers = { key: $(this).val(), Textvalue: $(this).text(), type: "" }
                    AnswerTemplateKey.push(answsers);
                }

            });

            console.log(AnswerTemplateKey);

            $.ajax({
                url: '@Url.Action("SubmitFormForUser", "ClaimForms")',
                type: 'GET',
                dataType: 'json',
                cache: false,
                data: {
                    trackingStatusKey: "1", formTemplateKey: "109", userKey: "@User.Identity.GetUserId()", organisationKey: "1"
                },
                success: function (data) {
                    var FormKey = data;

                    alert(data);
                    alert("FormKey = " + FormKey);
                    alert("AnswerTemplateKey = " + JSON.stringify(AnswerTemplateKey));
                    $.ajax({
                        url: '@Url.Action("AnswersByUser", "ClaimForms")',
                        type: 'GET',
                        dataType: 'json',
                        cache: false,
                        data: {
                            formKey: FormKey, answerTemplateKey: JSON.stringify(AnswerTemplateKey)
                        },
                        success: function (data) {

                            $.ajax({
                                url: '@Url.Action("SaveClaimForm", "ClaimForms")',
                                type: 'GET',
                                dataType: 'json',
                                cache: false,
                                data: {
                                    formKey: FormKey
                                },
                                success: function (data) {

                                    bootbox.alert("Form is saved");

                                }
                            });
                        }
                    });
                }
            });




        });














    </script>
    <!-- End Page Scripts -->

</body>
