﻿
@{
    ViewBag.Title = "ClaimViewManager";
    Layout = "~/views/shared/_layoutinitialpage.cshtml";
}
<style>
    .page-content-inner {
        padding-top: 0px !important;
    }

    .select2-selection__arrow {
        direction: rtl;
    }
</style>
<body>

    <div class="page-content-inner">
        <!-- Ecommerce Product Details -->
        <section class="panel panel-with-borders">
            <div class="panel-heading row" dir="rtl">
                <h2>
                   
                    <div class="row">

                        <div class="col-xl-3 col-lg-3 col-sm-3 col-xs-3" style="text-align: center">
                            <div class="widget widget-seven">
                                <div class="widget-body">
                                    <div class="widget-body-inner" >
                                        <h5 class="text-uppercase">  تاريخ إنتهاء المعالجة من الجهة المعنية </h5>
                                        <span class="counter-count" style="">
                                            <span>10/2/2017</span>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>



                        <div class="col-xl-3 col-lg-3 col-sm-3 col-xs-3" style="text-align: center">
                            <div class="widget widget-seven">
                                <div class="widget-body">
                                    <div class="widget-body-inner">
                                        <h5 class="text-uppercase"> تاريخ استلامها من الجهة المعنية </h5>
                                        <span class="counter-count" style="">
                                            <span>10/2/2017</span>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-xl-3 col-lg-3 col-sm-3 col-xs-3" style="text-align: center">
                            <div class="widget widget-seven">
                                <div class="widget-body">
                                    <div class="widget-body-inner">
                                        <h5 class="text-uppercase"> تاريخ تسجيل الشكوى من قبل المواطن </h5>
                                        <span class="counter-count" style="">
                                            <span>10/2/2017</span>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-xl-3 col-lg-3 col-sm-3 col-xs-3" style="text-align: center">
                            <div class="widget widget-seven">
                                <div class="widget-body">
                                    <div class="widget-body-inner">
                                        <h5 class="text-uppercase">رقم الطلب </h5>
                                        <span class="counter-count">
                                            <span>11</span>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>

                    <div class="row">

                        <div class="col-xl-2 col-lg-2 col-sm-2 col-xs-2" style="text-align: center">
                          
                        </div>
                        <div class="col-xl-3 col-lg-3 col-sm-3 col-xs-3" style="text-align: center">
                            <div class="widget widget-seven">
                                <div class="widget-body">
                                    <div class="widget-body-inner">
                                        <h5 class="text-uppercase">تسجيل الحالة    </h5>
                                    </div>
                                </div>
                            </div>
                        </div>

                     


                        <div class="col-xl-3 col-lg-3 col-sm-3 col-xs-3" style="text-align: center">
                            <div class="widget widget-seven">
                                <div class="widget-body" style="background-color:#f39834">
                                    <div class="widget-body-inner">
                                        <h5 class="text-uppercase">المعلومات الذاتية للمواطن   </h5>
                                    </div>
                                </div>
                            </div>
                        </div>


                        <div class="col-xl-3 col-lg-3 col-sm-3 col-xs-3" style="text-align: center;">
                            <div class="widget widget-seven">
                                <div class="widget-body" style="background-color:#01a8fe">
                                    <div class="widget-body-inner">
                                        <h5 class="text-uppercase">وصف الشكوى  </h5>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-xl-2 col-lg-2 col-sm-2 col-xs-2" style="text-align: center">

                        </div>
                    </div>

                  
                </h2>


            </div>
            <div class="panel-body">
                <div class="row">

                    <div class="col-lg-12">

                        <div class="row" dir="rtl">
                            <div class="cui-ecommerce--product--info">
                                <div class="nav-tabs-horizontal pull-right">
                                    <ul class="nav nav-tabs pull-right" role="tablist">
                                        <li class="nav-item">
                                            <a class="nav-link active" href="javascript: void(0);" data-toggle="tab" data-target="#tab11" role="tab"><b style="font-size: 16px;"> وصف الشكوى</b></a>
                                        </li>
                                    </ul>
                                    <div class="tab-content padding-vertical-20" style="width: 1034px;">
                                        <div class="tab-pane active" id="tab11" role="tabpanel">
                                            <div class="form-group form-md-line-input form-md-floating-label" dir="rtl">
                                                @*<textarea class="form-control" rows="3"></textarea>
                                                <label for="form_control_1">Textarea input</label>*@
                                            </div>
                                        </div>


                                    </div>
                                </div>
                            </div>      
                        </div> 

                        <hr />
                        <div class="row" dir="rtl">
                            <div class="col-lg-3" style="float:right;">
                                <div class="cui-ecommerce--product--option_title" style="color:black;font-size:16px;">
                                    تصنيف المعالجة 
                                </div>
                            </div>

                                <button type="button" style="border-radius: 100px !important;float:right" class="btn btn-danger">جزئية </button>
                            
                                <button type="button" style="border-radius: 100px !important;float:right;margin-right:20px" class="btn btn-success">شاملة </button>
                        </div>


                        <div class="row" dir="rtl">
                            <div class="col-lg-3" style="float:right;">
                                <div class="cui-ecommerce--product--option_title" style="color:black;font-size:16px;">
                                    نقاط احتسبها وفق الشرائح 
                                </div>
                            </div>


                            <div class="col-lg-9" style="float:right;">
                                <div class="cui-ecommerce--product--option_title" style="color:black;font-size:16px;">

                                    <span style="border-radius: 50% !important;line-height:1.2!important" class="btn"> <b>1 </b></span>


                                </div>
                            </div>
                        </div>


                        <hr />

                        <div class="cui-ecommerce--product--info">
                            <div class="nav-tabs-horizontal pull-right">
                                <ul class="nav nav-tabs pull-right" role="tablist">
                                    <li class="nav-item">
                                        <a class="nav-link" href="javascript: void(0);" data-toggle="tab" data-target="#tab3" role="tab"><b style="font-size: 16px;">الوثائق المرفقة</b></a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="javascript: void(0);" data-toggle="tab" data-target="#tab2" role="tab"><b style="font-size: 16px;">القرارات / الإجراءت المتخذة</b></a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link active" href="javascript: void(0);" data-toggle="tab" data-target="#tab1" role="tab"><b style="font-size: 16px;">توصيف الحل </b></a>
                                    </li>
                                </ul>
                                <div class="tab-content padding-vertical-20" style="width: 1034px;">
                                    <div class="tab-pane active" id="tab1" role="tabpanel">
                                        <div class="form-group form-md-line-input form-md-floating-label" dir="rtl">
                                            <textarea class="form-control" rows="3"></textarea>
                                            <label for="form_control_1">Textarea input</label>
                                        </div>
                                    </div>
                                    <div class="tab-pane" id="tab2" role="tabpanel">
                                        <div class="form-group form-md-line-input form-md-floating-label" dir="rtl">
                                          



                                        </div>
                                    </div>
                                    <div class="tab-pane" id="tab3" role="tabpanel">
                                        <div class="row" style="bottom: -65px;float: right; margin-top:8%">
                                            <!-- The fileinput-button span is used to style the file input field as button -->
                                            <span class="btn green fileinput-button">
                                                <i class="fa fa-plus"></i>
                                                <span> Add files... </span>
                                                <input type="file" name="files[]" multiple="" style="display:none;">
                                            </span>
                                            <button type="submit" class="btn blue start">
                                                <i class="fa fa-upload"></i>
                                                <span> Start upload </span>
                                            </button>
                                            <button type="reset" class="btn warning cancel">
                                                <i class="fa fa-ban-circle"></i>
                                                <span> Cancel upload </span>
                                            </button>
                                            <button type="button" class="btn red delete">
                                                <i class="fa fa-trash"></i>
                                                <span> Delete </span>
                                            </button>
                                            <input type="checkbox" class="toggle">
                                            <span class="fileupload-process"> </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </section>
        <!-- End Ecommerce Product Details -->
    </div>
    <!-- Page Scripts -->

    <script src="@Url.Content("~/Scripts/Metronic/daterangepicker.min.js")" type="text/javascript"></script>

    <script>

        $(function () {

            // Heart toggle
            $('.cui-ecommerce--catalog--item--like').on('click', function () {
                $(this).toggleClass('cui-ecommerce--catalog--item--like__selected')
            });

            // Tooltip
            $("[data-toggle=tooltip]").tooltip();

            // Select 2
            $('.select2').select2();

        });




        $(function () {
            $('input[name="daterange"]').daterangepicker({
                singleDatePicker: true,
                showDropdowns: true
            });

        });









    </script>
    <!-- End Page Scripts -->
</body>
