﻿@model List<object>
@using Newtonsoft.Json
@using Microsoft.AspNet.Identity;
@{
    ViewBag.Title = "ClaimViewManager";
    Layout = "~/views/shared/_layoutinitialpage.cshtml";
}
<style>
    .page-content-inner {
        padding-top: 0px !important;
    }

    .select2-selection__arrow {
        direction: rtl;
    }
</style>
<body>

    <div class="page-content-inner">
        <!-- Ecommerce Product Details -->
        <section class="panel panel-with-borders">
            <div class="panel-heading" dir="rtl">
                <h2>
                    <button type="button"style="border-radius: 100px !important;float:left" class="btn btn-danger">مكررة </button>
                    <button type="button" style="border-radius: 100px !important;float:left" class="btn btn-success">غير مكررة </button>

                    وصف الشكوى
                </h2>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-lg-4" style="float:right;">
                        <div class="cui-ecommerce--catalog--item">
                            <div class="cui-ecommerce--catalog--item--img">

                            </div>
                        </div>
                        <div class="cui-ecommerce--product--photos clearfix">
                            <div class="col-lg-12">
                                <label style="float:right;margin-top:5px"> : الاسم الثلاثي</label>
                                @foreach (var question in Model)
                                {
                                    string stringQuestion = Json.Encode(question);
                                    dynamic data = Json.Decode(stringQuestion);


                                    if (data["QuestionValue"].ToString().Contains("الاسم الثلاثي"))
                                    {
                                        foreach (var answer in data["Answers"])
                                        {
                               
                                            <input type="text" class="form-control" style="width:60%;" value="@answer["AnswerValue"]" data-key="@answer["AnswerTemplateKey"]">
                                        }
                                    }

                                }
                                
                            </div>
                            <div class="col-lg-12">
                                <label style="float:right;margin-top:5px"> : مكان الإقامة </label>
                                @foreach (var question in Model)
                                {
                                    string stringQuestion = Json.Encode(question);
                                    dynamic data = Json.Decode(stringQuestion);


                                    if (data["QuestionValue"].ToString().Contains("مكان الإقامة"))
                                    {
                                        foreach (var answer in data["Answers"])
                                        {

                                            <input type="text" class="form-control" style="width:60%;" value="@answer["AnswerValue"]" data-key="@answer["AnswerTemplateKey"]">
                                        }
                                    }

                                }
                            </div>
                            <div class="col-lg-12">
                                <label style="float:right;margin-top:5px"> : رقم الهاتف الجوال  </label>
                                @foreach (var question in Model)
                                {
                                    string stringQuestion = Json.Encode(question);
                                    dynamic data = Json.Decode(stringQuestion);


                                    if (data["QuestionValue"].ToString().Contains("رقم الهاتف الجوال"))
                                    {
                                        foreach (var answer in data["Answers"])
                                        {

                                            <input type="text" class="form-control" style="width:60%;" value="@answer["AnswerValue"]" data-key="@answer["AnswerTemplateKey"]">
                                        }
                                    }

                                }
                            </div>
                            <div class="col-lg-12">
                                <label style="float:right;margin-top:5px"> : البريد الالكتروني  </label>
                                @foreach (var question in Model)
                                {
                                    string stringQuestion = Json.Encode(question);
                                    dynamic data = Json.Decode(stringQuestion);


                                    if (data["QuestionValue"].ToString().Contains("البريد الالكتروني"))
                                    {
                                        foreach (var answer in data["Answers"])
                                        {

                                            <input type="text" class="form-control" style="width:60%;" value="@answer["AnswerValue"]" data-key="@answer["AnswerTemplateKey"]">
                                        }
                                    }

                                }
                            </div>
                            <div class="col-lg-12">
                                <label style="float:right;margin-top:5px"> : الرقم الوطني  </label>
                                @foreach (var question in Model)
                                {
                                    string stringQuestion = Json.Encode(question);
                                    dynamic data = Json.Decode(stringQuestion);


                                    if (data["QuestionValue"].ToString().Contains("الرقم الوطني"))
                                    {
                                        foreach (var answer in data["Answers"])
                                        {

                                            <input type="text" class="form-control" style="width:60%;" value="@answer["AnswerValue"]" data-key="@answer["AnswerTemplateKey"]">
                                        }
                                    }

                                }
                            </div>
                            
                            
                        </div>
                    </div>
                    <div class="col-lg-8">
   
                        <div class="row" dir="rtl">
                            <div class="col-lg-3" style="float:right;">
                                    <div class="cui-ecommerce--product--option_title" style="color:black;font-size:16px;">
                                        عدد مرات التكرار    
                                    </div>                    
                            </div>


                            <div class="col-lg-9" style="float:right;">
                                <div class="cui-ecommerce--product--option_title" style="color:black;font-size:16px;">
                                    @foreach (var question in Model)
                                    {
                                        string stringQuestion = Json.Encode(question);
                                        dynamic data = Json.Decode(stringQuestion);


                                        if (data["QuestionValue"].ToString().Contains("عدد مرات التكرار"))
                                        {
                                            foreach (var answer in data["Answers"])
                                            {
                                                @*<option value="@answer["AnswerTemplateKey"]">@answer["AnswerValue"]</option>*@
                                               
                                                <span style="border-radius: 50% !important;line-height:1.2!important" class="btn" data-key="@answer["AnswerTemplateKey"]" > <b>@answer["AnswerValue"] </b></span>
                                            }
                                        }

                                    }
                                    


                                </div>
                            </div>
                        </div>
                        <div class="row" dir="rtl">
                            <div class="col-lg-3" style="float:right;">
                                <div class="cui-ecommerce--product--option_title" style="color:black;font-size:16px;">
                                   <label>تاريخ مرات التكرار</label>  
                                </div>
                            </div>

                            <div class="col-lg-9" style="float:right;">
                                <div class="cui-ecommerce--product--option_title" style="color:black;font-size:16px;">


                                    @foreach (var question in Model)
                                    {
                                        string stringQuestion = Json.Encode(question);
                                        dynamic data = Json.Decode(stringQuestion);


                                        if (data["QuestionValue"].ToString().Contains("تاريخ مرات التكرار"))
                                        {
                                            foreach (var answer in data["Answers"])
                                            {
                                                @*<option value="@answer["AnswerTemplateKey"]">@answer["AnswerValue"]</option>*@
                                                <input type="text" value="@answer["AnswerValue"]" data-key="@answer["AnswerTemplateKey"]"/>
                                             
                                            }
                                        }

                                    }
                                    

                                </div>
                            </div>
                        </div>

                        <hr />
                        <div class="row" dir="rtl">
                            <div class="col-lg-3" style="float:right;">
                                <div class="cui-ecommerce--product--option_title" style="color:black;font-size:16px;">
                                    عدد مرات المعالجة 
                                </div>
                            </div>


                            <div class="col-lg-9" style="float:right;">
                                <div class="cui-ecommerce--product--option_title" style="color:black;font-size:16px;">

                                    @foreach (var question in Model)
                                    {
                                        string stringQuestion = Json.Encode(question);
                                        dynamic data = Json.Decode(stringQuestion);


                                        if (data["QuestionValue"].ToString().Contains("عدد مرات المعالجة"))
                                        {
                                            foreach (var answer in data["Answers"])
                                            {
                                                @*<option value="@answer["AnswerTemplateKey"]">@answer["AnswerValue"]</option>*@

                                                <span style="border-radius: 50% !important;line-height:1.2!important" class="btn" data-key="@answer["AnswerTemplateKey"]"> <b>@answer["AnswerValue"] </b></span>
                                            }
                                        }

                                    }


                                </div>
                            </div>
                        </div>

                        <div class="row" dir="rtl">
                            <div class="col-lg-3" style="float:right;">
                                <div class="cui-ecommerce--product--option_title" style="color:black;font-size:16px;">
                                    <label>نوع المعالجة  </label>
                                </div>
                            </div>

                            <div class="col-lg-9" style="float:right;">
                                <div class="cui-ecommerce--product--option_title" style="color:black;font-size:16px;">
                                  

                                    @foreach (var question in Model)
                                    {
                                        string stringQuestion = Json.Encode(question);
                                        dynamic data = Json.Decode(stringQuestion);


                                        if (data["QuestionValue"].ToString().Contains("نوع المعالجة"))
                                        {
                                            foreach (var answer in data["Answers"])
                                            {
                                                @*<option value="@answer["AnswerTemplateKey"]">@answer["AnswerValue"]</option>*@
                                                <input type="text"  value="@answer["AnswerValue"]" data-key="@answer["AnswerTemplateKey"]" />

                                            }
                                        }

                                    }

                                </div>
                            </div>
                        </div>

                        <div class="row" dir="rtl">
                            <div class="col-lg-3" style="float:right;">
                                <div class="cui-ecommerce--product--option_title" style="color:black;font-size:16px;">
                                    <label> تقييم المواطن للمعالجة   </label>
                                </div>
                            </div>

                            <div class="col-lg-9" style="float:right;">
                                <div class="cui-ecommerce--product--option_title" style="color:black;font-size:16px;">

                                    @foreach (var question in Model)
                                    {
                                        string stringQuestion = Json.Encode(question);
                                        dynamic data = Json.Decode(stringQuestion);


                                        if (data["QuestionValue"].ToString().Contains("تقييم المواطن للمعالجة"))
                                        {
                                            foreach (var answer in data["Answers"])
                                            {
                                                @*<option value="@answer["AnswerTemplateKey"]">@answer["AnswerValue"]</option>*@
                                                <input type="text" value="@answer["AnswerValue"]" data-key="@answer["AnswerTemplateKey"]" />

                                            }
                                        }

                                    }

                                </div>
                            </div>
                        </div>
                        <hr />

                        <div class="row" dir="rtl">
                            <div class="col-lg-3" style="float:right;">
                                <div class="cui-ecommerce--product--option_title" style="color:black;font-size:16px;">
                                    <label> نوع الحالة   </label>
                                </div>
                            </div>

                            <div class="col-lg-6" style="float:right;">
                                <div class="cui-ecommerce--product--option_title" style="color:black;font-size:16px;">
                                    <select class="select2">

                                        @foreach (var question in Model)
                                        {
                                            string stringQuestion = Json.Encode(question);
                                            dynamic data = Json.Decode(stringQuestion);


                                            if (data["QuestionValue"].ToString().Contains("نوع الحالة"))
                                            {
                                                foreach (var answer in data["Answers"])
                                                {
                                                    <option value="@answer["AnswerTemplateKey"]">@answer["AnswerValue"]</option>
                                                }
                                            }

                                        }
                                    </select>

                                    @*<input type="text" value="" />*@

                                </div>
                            </div>
                            <div class="col-lg-3" style="float:right;">
                                <div class="cui-ecommerce--product--option_title" style="color:black;font-size:16px;">

                                    <label>
                                        تاريخ وقوع الحالة

                                        @foreach (var question in Model)
                                        {
                                            string stringQuestion = Json.Encode(question);
                                            dynamic data = Json.Decode(stringQuestion);
                                                if (data["QuestionValue"].ToString().Contains("عام وقوع الحالة"))
                                                {
                                                    foreach (var answer in data["Answers"])
                                                    {
                                                        <span> @answer["AnswerValue"]</span>
                                                        //تاريخ وقوع الحالة ١٠/١٢/٢٠١٧
                                                    }
                                                }

                                                if (data["QuestionValue"].ToString().Contains("شهر"))
                                                {
                                                    foreach (var answer in data["Answers"])
                                                    {
                                                        <span> / @answer["AnswerValue"]</span>
                                                    }
                                                }

                                                if (data["QuestionValue"].ToString().Contains("يوم وقوع الحالة"))
                                                {
                                                    foreach (var answer in data["Answers"])
                                                    {
                                                        <span> / @answer["AnswerValue"]</span>
                                                    }
                                                }
                                        }
                                    </label>
                                    
                                </div>
                            </div>
                        </div>

                        @*مكان وقوع الحالة*@

                        <div class="row" dir="rtl">
                            <div class="col-lg-3" style="float:right;">
                                <div class="cui-ecommerce--product--option_title" style="color:black;font-size:16px;">
                                    <label>  الجهة العامة المركزية    </label>
                                </div>
                            </div>

                            <div class="col-lg-6" style="float:right;">
                                <div class="cui-ecommerce--product--option_title" style="color:black;font-size:16px;">
                                    <select class="select2">
                                        @foreach (var question in Model)
                                        {
                                            string stringQuestion = Json.Encode(question);
                                            dynamic data = Json.Decode(stringQuestion);


                                            if (data["QuestionValue"].ToString().Contains("الجهة العامة المركزية"))
                                            {
                                                foreach (var answer in data["Answers"])
                                                {
                                                    <option value="@answer["AnswerTemplateKey"]">@answer["AnswerValue"]</option>

                                                }
                                            }

                                        }
                                    </select>



                                </div>
                            </div>
                            <div class="col-lg-3" style="float:right;">
                                <div class="cui-ecommerce--product--option_title" style="color:black;font-size:16px;">
                                    @foreach (var question in Model)
                                    {
                                        string stringQuestion = Json.Encode(question);
                                        dynamic data = Json.Decode(stringQuestion);


                                        if (data["QuestionValue"].ToString().Contains("مكان وقوع الحالة"))
                                        {
                                            foreach (var answer in data["Answers"])
                                            {

                                                @*<input type="text" value="@answer["AnswerValue"]" data-key="@answer["AnswerTemplateKey"]" />*@
                                                <label>  @answer["AnswerValue"]</label>
                                            }
                                        }

                                    }
                                </div>
                            </div>
                        </div>

                        <div class="row" dir="rtl">
                            <div class="col-lg-3" style="float:right;">
                                <div class="cui-ecommerce--product--option_title" style="color:black;font-size:16px;">
                                    <label>  الجهة العامة الفرعية    </label>
                                </div>
                            </div>

                            <div class="col-lg-9" style="float:right;">
                                <div class="cui-ecommerce--product--option_title" style="color:black;font-size:16px;width: 504px;">

                                    <select class="select2">
                                        @foreach (var question in Model)
                                        {
                                            string stringQuestion = Json.Encode(question);
                                            dynamic data = Json.Decode(stringQuestion);


                                            if (data["QuestionValue"].ToString().Contains("الجهة العامة الفرعية"))
                                            {
                                                foreach (var answer in data["Answers"])
                                                {
                                                    <option value="@answer["AnswerTemplateKey"]">@answer["AnswerValue"]</option>

                                                }
                                            }

                                        }
                                    </select>

                                </div>
                            </div>
                        </div>

                        <div class="row" dir="rtl">
                            <div class="col-lg-3" style="float:right;">
                                <div class="cui-ecommerce--product--option_title" style="color:black;font-size:16px;">
                                    <label>  تحديد الخدمة     </label>
                                </div>
                            </div>

                            <div class="col-lg-9" style="float:right;">
                                <div class="cui-ecommerce--product--option_title" style="color:black;font-size:16px;">

                                    @foreach (var question in Model)
                                    {
                                        string stringQuestion = Json.Encode(question);
                                        dynamic data = Json.Decode(stringQuestion);


                                        if (data["QuestionValue"].ToString().Contains("تحديد الخدمة"))
                                        {
                                            foreach (var answer in data["Answers"])
                                            {
                                                @*<option value="@answer["AnswerTemplateKey"]">@answer["AnswerValue"]</option>*@
                                                <input type="text" value="@answer["AnswerValue"]"  data-templatekey="@answer["AnswerTemplateKey"]" class="TextInput"/>
                                            }
                                        }

                                    }
                                 

                                </div>
                            </div>
                        </div>



                        <div class="row" dir="rtl">
                            <div class="col-lg-3" style="float:right;">
                                <div class="cui-ecommerce--product--option_title" style="color:black;font-size:16px;">
                                    <label>  تحديد الشخص مقدم الخدمة    </label>
                                </div>
                            </div>

                            <div class="col-lg-9" style="float:right;">
                                <div class="cui-ecommerce--product--option_title" style="color:black;font-size:16px;">

                                    @foreach (var question in Model)
                                    {
                                        string stringQuestion = Json.Encode(question);
                                        dynamic data = Json.Decode(stringQuestion);


                                        if (data["QuestionValue"].ToString().Contains("تحديد الشخص مقدم الخدمة"))
                                        {
                                            foreach (var answer in data["Answers"])
                                            {
                                                @*<option value="@answer["AnswerTemplateKey"]">@answer["AnswerValue"]</option>*@
                                                <input type="text" value="@answer["AnswerValue"]" data-templatekey="@answer["AnswerTemplateKey"]" class="TextInput"//>
                                            }
                                        }

                                    }

                                </div>
                            </div>
                        </div>

                        <div class="row" dir="rtl">
                            <div class="col-lg-3" style="float:right;">
                                <div class="cui-ecommerce--product--option_title" style="color:black;font-size:16px;">
                                    <label>  توثيق موضوع الحالة     </label>
                                </div>
                            </div>

                            <div class="col-lg-9" style="float:right;">
                                <div class="cui-ecommerce--product--option_title" style="color:black;font-size:16px;">

                                    @foreach (var question in Model)
                                    {
                                        string stringQuestion = Json.Encode(question);
                                        dynamic data = Json.Decode(stringQuestion);


                                        if (data["QuestionValue"].ToString().Contains("توثيق موضوع الحالة"))
                                        {
                                            foreach (var answer in data["Answers"])
                                            {
                                                @*<option value="@answer["AnswerTemplateKey"]">@answer["AnswerValue"]</option>*@
                                                <input type="text" value="@answer["AnswerValue"]" data-templatekey="@answer["AnswerTemplateKey"]" class="TextInput"//>
                                            }
                                        }

                                    }

                                </div>
                            </div>
                        </div>
                        
                         
                        <div class="row" dir="rtl" style="margin-top:30px">
                            <div class="col-lg-3" style="float:right;">
                                <div class="cui-ecommerce--product--option_title" style="color:black;font-size:16px;">
                                    <label>  إرفاق الأدلة والثبوتيات ذات الصلة    </label>
                                </div>
                            </div>

                            <div class="col-lg-9" style="float:right;">
                                @foreach (var question in Model)
                                {
                                    string stringQuestion = Json.Encode(question);
                                    dynamic data = Json.Decode(stringQuestion);


                                    if (data["QuestionValue"].ToString().Contains("إرفاق الأدلة والثبوتيات ذات الصلة"))
                                    {
                                        foreach (var answer in data["Answers"])
                                        {
                                            @*<option value="@answer["AnswerTemplateKey"]">@answer["AnswerValue"]</option>*@
                                            <input type="text" value="@answer["AnswerValue"]" data-templatekey="@answer["AnswerTemplateKey"]" class="TextInput"/>
                                        }
                                    }

                                }
                                    @*<div class="cui-ecommerce--product--photos clearfix">
                                        <div class="cui-ecommerce--product--photos-item pull-right">
                                            <img src="">
                                        </div>
                                        <div class="cui-ecommerce--product--photos-item pull-right">
                                            <img src="">
                                        </div>
                                        <div class="cui-ecommerce--product--photos-item pull-right">
                                            <img src="">
                                        </div>*@                                                
                                    </div>
                            
                        </div>

                        <div class="row" dir="rtl">
                            <div class="col-lg-3" style="float:right;">
                                <div class="cui-ecommerce--product--option_title" style="color:black;font-size:16px;">
                                    <label> ماذا تتوقع من الجهة المعنية    </label>
                                </div>
                            </div>

                            <div class="col-lg-9" style="float:right;">
                                <div class="cui-ecommerce--product--option_title" style="color:black;font-size:16px;">

                                    @foreach (var question in Model)
                                    {
                                        string stringQuestion = Json.Encode(question);
                                        dynamic data = Json.Decode(stringQuestion);


                                        if (data["QuestionValue"].ToString().Contains("ماذا تتوقع من الجهة المعنية"))
                                        {
                                            foreach (var answer in data["Answers"])
                                            {
                                                @*<option value="@answer["AnswerTemplateKey"]">@answer["AnswerValue"]</option>*@
                                                <input type="text" value="@answer["AnswerValue"]" data-templatekey="@answer["AnswerTemplateKey"]" class="TextInput"/>
                                            }
                                        }

                                    }

                                </div>
                            </div>
                        </div>
                        

                        <button type="button" class="btn btn-primary margin-inline" id="submitClaimForm" style="float:right">Submit</button>


                    
                        </div>








                        @*<div class="cui-ecommerce--product--info">
                            <div class="nav-tabs-horizontal pull-right">
                                <ul class="nav nav-tabs pull-right" role="tablist">
                                    <li class="nav-item">
                                        <a class="nav-link" href="javascript: void(0);" data-toggle="tab" data-target="#tab3" role="tab"><b style="font-size: 16px;">الوثائق المرفقة</b></a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="javascript: void(0);" data-toggle="tab" data-target="#tab2" role="tab"><b style="font-size: 16px;">القرارات / الإجراءت المتخذة</b></a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link active" href="javascript: void(0);" data-toggle="tab" data-target="#tab1" role="tab"><b style="font-size: 16px;">توصيف الحل </b></a>
                                    </li>
                                </ul>
                                <div class="tab-content padding-vertical-20" style="width: 1034px;">
                                    <div class="tab-pane active" id="tab1" role="tabpanel">
                                        <div class="form-group form-md-line-input form-md-floating-label" dir="rtl">
                                            <textarea class="form-control" rows="3"></textarea>
                                            <label for="form_control_1">Textarea input</label>
                                        </div>
                                    </div>
                                    <div class="tab-pane" id="tab2" role="tabpanel">
                                        <div class="form-group form-md-line-input form-md-floating-label" dir="rtl">
                                            <textarea class="form-control" rows="3"></textarea>
                                            <label for="form_control_1">Textarea input</label>
                                        </div>
                                    </div>
                                    <div class="tab-pane" id="tab3" role="tabpanel">
                                        <div class="col-md-7" style="position: relative;bottom: -65px;float: right;left:30%;">
                                            <!-- The fileinput-button span is used to style the file input field as button -->
                                            <span class="btn green fileinput-button">
                                                <i class="fa fa-plus"></i>
                                                <span> Add files... </span>
                                                <input type="file" name="files[]" multiple="" style="display:none;">
                                            </span>
                                            <button type="submit" class="btn blue start">
                                                <i class="fa fa-upload"></i>
                                                <span> Start upload </span>
                                            </button>
                                            <button type="reset" class="btn warning cancel">
                                                <i class="fa fa-ban-circle"></i>
                                                <span> Cancel upload </span>
                                            </button>
                                            <button type="button" class="btn red delete">
                                                <i class="fa fa-trash"></i>
                                                <span> Delete </span>
                                            </button>
                                            <input type="checkbox" class="toggle">
                                            <!-- The global file processing state -->
                                            <span class="fileupload-process"> </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>*@
                    </div>
                </div>
            </div>
        </section>
        <!-- End Ecommerce Product Details -->
    </div>
    <!-- Page Scripts -->

    <script src="@Url.Content("~/Scripts/Metronic/daterangepicker.min.js")" type="text/javascript"></script>

    <script>

        $(function () {

            // Heart toggle
            $('.cui-ecommerce--catalog--item--like').on('click', function () {
                $(this).toggleClass('cui-ecommerce--catalog--item--like__selected')
            });

            // Tooltip
            $("[data-toggle=tooltip]").tooltip();

            // Select 2
            $('.select2').select2();

        });




        $(function () {
            $('input[name="daterange"]').daterangepicker({
                singleDatePicker: true,
                showDropdowns: true
            });

        });


        var FirstTimeAnswerClick = 0;
        var FormTemplateKey = '@ViewBag.FormTemplateKey';
        var AnswerTemplateKey = [];



        $(document).on('click', "[id='submitClaimForm']", function () {

            var answsers = "";

            $('.TextInput').each(function () {
        


                
                    answsers = { key: $(this).attr("data-templatekey"), Textvalue: $(this).val(), type: "Freetext" }
                    AnswerTemplateKey.push(answsers);
            

            });

            $('option:selected').each(function () {

                if ($(this).val() != "") {
                    answsers = { key: $(this).val(), Textvalue: $(this).text(), type: "" }
                    AnswerTemplateKey.push(answsers);
                }

            });

            console.log(AnswerTemplateKey);

            $.ajax({
                url: '@Url.Action("SubmitFormForUser", "ClaimForms")',
                type: 'GET',
                dataType: 'json',
                cache: false,
                data: {
                    trackingStatusKey: "1", formTemplateKey: "110", userKey: "@User.Identity.GetUserId()", organisationKey: "1"
                },
                success: function (data) {
                    var FormKey = data;
                    $.ajax({
                        url: '@Url.Action("AnswersByUser", "ClaimForms")',
                        type: 'GET',
                        dataType: 'json',
                        cache: false,
                        data: {
                            formKey: FormKey, answerTemplateKey: JSON.stringify(AnswerTemplateKey)
                        },
                        success: function (data) {

                            $.ajax({
                                url: '@Url.Action("SaveClaimForm", "ClaimForms")',
                                type: 'GET',
                                dataType: 'json',
                                cache: false,
                                data: {
                                    formKey: FormKey
                                },
                                success: function (data) {

                                    bootbox.alert("Form is saved");

                                }
                            });
                        }
                    });
                }
            });




        });







    </script>
    <!-- End Page Scripts -->
</body>
