﻿@using MoAD.WebApplication.Models;
@using MoAD.WebApplication.Managers;

@{
    Layout = Layout = "~/Views/Shared/_CommonLayout.cshtml";
    int languageIdentifier = (int)ViewBag.Languageidentifier;
    ViewBag.Title = Utilities.GetDataTransaltionByGuid("19500601-1d07-456d-b49c-32c803d23af4", languageIdentifier);
}

<link href="@Url.Content("~/Content/Css/components-rounded.min.css")" rel="stylesheet" id="style_components" type="text/css" />
@*<link href="@Url.Content("~/Content/Css/plugins.min.css")" rel="stylesheet" type="text/css" />*@

@*<link href="@Url.Content("~/Content/Css/login-5.min.css")" rel="stylesheet" type="text/css" />*@



<style>
    body {
        padding: 20px !important;
    }

    input {
        border: #a0a9b4 !important;
        border-bottom: 1px solid !important;
    }

    .btn-primary {
        color: #fff;
        background-color: #337ab7;
        border-color: #2e6da4;
    }
</style>

@if (User.IsInRole("Editor"))
{
    <style>
        .pointer {
            cursor: pointer;
        }
    </style>

}
else
{
    <style>
        .pointer {
            cursor: default;
        }
    </style>
}

<div class="row">
    <div class="col-lg-2">

    </div>
    <div class="col-lg-8">
        <div id="portletContainer" class="portlet light bordered" style="background-color: rgb(68 127 153 / 60%);">
            <div class="portlet-title" style="text-align: center;">
                <h1 class="text-to-change pointer" data-translation="19500601-1d07-456d-b49c-32c803d23af4" data-toggle="modal" data-target="#translationModal" style="color:white;">@Utilities.GetDataTransaltionByGuid("19500601-1d07-456d-b49c-32c803d23af4", languageIdentifier)</h1>
            </div>
            <!-- end PROJECT HEAD -->
            <div class="portlet-body" style="padding:35px;background-color:white;">

                <div class="row">
                    @*<div class="col-lg-12">
                            <h1 style="color: #447f99;">أرسل رسالة</h1>
                        </div>*@
                    <div class="row" id="errorContainer" hidden>
                        <div class="col-xs-12 text-to-change pointer" data-translation="5aa91f1d-74ca-4fa6-a335-d04a73f57657" data-toggle="modal" data-target="#translationModal">
                            <h2 style="color:red;font-size:25px;">@Utilities.GetDataTransaltionByGuid("5aa91f1d-74ca-4fa6-a335-d04a73f57657", languageIdentifier)</h2>
                        </div>
                    </div>

                    <div class="row" id="emailErrorContainer" hidden>
                        <div class="col-xs-12 text-to-change pointer" data-translation="0ab63ec8-5163-44bf-9de2-f8b934c7c85b" data-toggle="modal" data-target="#translationModal">
                            <h2 style="color:red;font-size:25px;">@Utilities.GetDataTransaltionByGuid("0ab63ec8-5163-44bf-9de2-f8b934c7c85b", languageIdentifier)</h2>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-xs-12 col-lg-3 col-md-3 text-to-change pointer" data-translation="b0d8438c-3c06-4bfd-acfe-de60180dc40c" data-toggle="modal" data-target="#translationModal">
                            <input class="form-control form-control-solid placeholder-no-fix form-group" type="text" id="Name" autocomplete="off" placeholder="@Utilities.GetDataTransaltionByGuid("b0d8438c-3c06-4bfd-acfe-de60180dc40c", languageIdentifier)" name="Name" tabindex="1" required />
                        </div>
                        <div class="col-xs-3 text-to-change pointer" data-translation="2fff2093-a982-4438-81b9-6d2ff0aaf942" data-toggle="modal" data-target="#translationModal">
                            <input class="form-control form-control-solid placeholder-no-fix form-group" type="number" id="PhoneNumber" autocomplete="off" placeholder="@Utilities.GetDataTransaltionByGuid("2fff2093-a982-4438-81b9-6d2ff0aaf942", languageIdentifier)" name="PhoneNumber" tabindex="2" required />
                        </div>
                        <div class="col-xs-12 col-lg-3 col-md-3 text-to-change pointer" data-translation="a29ffded-1af2-495a-a43c-781e1a1ceb1c" data-toggle="modal" data-target="#translationModal">
                            <input class="form-control form-control-solid placeholder-no-fix form-group" type="text" id="EmailText" autocomplete="off" placeholder="@Utilities.GetDataTransaltionByGuid("a29ffded-1af2-495a-a43c-781e1a1ceb1c", languageIdentifier)" name="Email" tabindex="2" required />
                        </div>

                        <div class="col-xs-3">
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-xs-12 col-lg-3 col-md-3 text-to-change pointer" data-translation="aed1265f-da2a-45f6-bd9e-3ed13f6ca8c7" data-toggle="modal" data-target="#translationModal">
                            <input class="form-control form-control-solid placeholder-no-fix form-group" type="text" id="Subject" autocomplete="off" placeholder="@Utilities.GetDataTransaltionByGuid("aed1265f-da2a-45f6-bd9e-3ed13f6ca8c7", languageIdentifier)" name="Subject" tabindex="3" required />
                        </div>
                        <div class="col-xs-9">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 text-to-change pointer" data-translation="c2891dca-2ac3-4c57-8811-275050d854fc" data-toggle="modal" data-target="#translationModal">
                            <textarea rows="8" class="form-control form-control-solid placeholder-no-fix form-group" id="MessageText" placeholder="@Utilities.GetDataTransaltionByGuid("c2891dca-2ac3-4c57-8811-275050d854fc", languageIdentifier)"></textarea>
                        </div>

                    </div>

                    <div class="row">
                        <div class="col-xs-12 text-to-change pointer" data-translation="f1dfc7ba-e342-4afb-9034-a5834822724d" data-toggle="modal" data-target="#translationModal" style="text-align:end;">
                            <button class="btn btn-primary" id="sendMsgBtn">@Utilities.GetDataTransaltionByGuid("f1dfc7ba-e342-4afb-9034-a5834822724d", languageIdentifier)</button>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-2">

    </div>
</div>

@if (User.IsInRole("Editor"))
{
    <div class="modal" id="translationModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" style="direction: initial">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel"></h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>

                @Html.Partial("~/Views/TestCMS/_SingleElementModal.cshtml", new SingleElementViewModel() { ElementTranslation = "", redirectComponent = "" })
                <div class="modal-footer" style="margin-top:10px;">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">
                        إغلاق
                    </button>
                    <button type="button" id="saveBtn" class="btn btn-primary">حفظ</button>
                </div>
            </div>
        </div>
    </div>
}

<script src=@Url.Content("~/assets/NewPages/sweetAlert/sweetalert.js")></script>
<script src="@Url.Content("~/Scripts/bootbox.min.js")"></script>
<script>
    var clickedElement = "";

        $(document).on('click', '.text-to-change', function () {
            clickedElement = $(this);
            var guid = $(this).data('translation');
            var redirectComponent = $(this).attr('data-redirectComponent');
            var language = @languageIdentifier;
            var singleElementModal = {};
            singleElementModal["ElementTranslation"] = guid;
            singleElementModal["languageNeeded"] = language;
            singleElementModal["redirectComponent"] = redirectComponent;

            if (clickedElement.hasClass("text-big")) {
                console.log("here");
                singleElementModal["isTextArea"] = true;
            }
            $(".modal-body-single-element").empty();
            $(".modal-body-single-element").append('<img src="@Url.Content("~/images/customgif/Syrian Loader.gif")" alt="Loading" style="width:20%;z-index:4; margin-right:40%" />');

            var singleElementModalJsonString = JSON.stringify(singleElementModal);

             $.ajax({

                            url: '@Url.Action("ChangeLanguageInModal","TestCMS")',
                            type: 'POST',
                            data: {

                                __RequestVerificationToken: $('@Html.AntiForgeryToken()').val(),

                                componentName: "singleElement",

                                componentStringObject: singleElementModalJsonString

                            },

                 success: function (data) {
                     if (data != "404") {
                         $(".modal-body-single-element").empty();
                         $(".modal-body-single-element").append(data);
                     }
                     else {
                         swal("Error", "Error Occured!", "error");
                     }

                            },



                            error: function (error) {
                                swal("Error", "Error Occured!", "error");
                            }
                        });
        })

    $(document).on('click', '#saveBtn', function () {

        var textChanged = $("#inputModal").val();
        var guidToSend = $("#inputModal").data("translation");

        //var redirectionType = $("#pageTypeDropdown option:selected").val();
        //var redirectionKey = "";
        //if (redirectionType == "Page") {
        //    redirectionKey = $("#resPagesDropdown option:selected").val();
        //} else {
        //    redirectionKey = itemTypeKeyGlobalRedirection;
        //}
       // changeRedirection(guidToSend, redirectionType, redirectionKey);

        changeText(guidToSend, textChanged, "none");


    })

      function changeText(guidToSend, textChanged, inputChangedName) {
            $.blockUI($("#body"));
            var lang = "";

            if ($(clickedElement).hasClass("card")) {
                lang = $("#languageDropDownCard option:selected").val();
               // console.log("here in sa7");
            }
            else {
                lang = $("#languageDropDownSingle option:selected").val();
               // console.log("here in ghalat");
            }
            if (guidToSend.length == 0 || textChanged.length == 0) {
                $.unblockUI($("#body"));
                return;
            }


            $.ajax({

                url: '@Url.Action("UpdateDataTranslation", "CMS")',



                type: 'POST',



                data: {

                    __RequestVerificationToken: $('@Html.AntiForgeryToken()').val(),

                    guid: guidToSend,

                    newTransaltion: textChanged,

                    language: parseInt(lang)

                },



                success: function (data) {
                    if (data != "Error") {
                        $.unblockUI($("#body"));
                        swal("مبروك", "تم حفظ المعلومات", "success");

                        if ($(clickedElement).hasClass("card")) {

                            if (lang === '@languageIdentifier') {
                                if (inputChangedName == "title") {
                                    $(clickedElement).find(".title").text(data);
                                    $('.modal').modal('hide');
                                    return;
                                }
                                if (inputChangedName == "titleText") {
                                    $(clickedElement).find(".titleText").text(data);
                                    $('.modal').modal('hide');
                                    return;
                                }
                                if (inputChangedName == "paragraph") {
                                    $(clickedElement).find(".paragraph").text(data);
                                    $('.modal').modal('hide');
                                    return;
                                }

                            }

                        } if ($(clickedElement).hasClass("socialMediaLinks")) {

                        }
                        else {
                            $(clickedElement).text(data);
                        }
                    }
                    else {
                        swal("Error", "Error Occured!", "error");
                    }


                    $('.modal').modal('hide');




                },



                error: function (error) {
                    $.unblockUI($("#body"));
                    swal("Error", "Error Occured!", "error");

                }
            });
        }
</script>

<script>
    function ValidateEmail(email_id) {
        const regex_pattern = /^(([^<>()[\]\\.,;:\s@@\"]+(\.[^<>()[\]\\.,;:\s@@\"]+)*)|(\".+\"))@@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;

        if (regex_pattern.test(email_id)) {
            return true;
        }
        else {
            return false;
        }
    }

        $("#sendMsgBtn").click(function () {
            var name = $("#Name").val();
            var email = $("#EmailText").val();
            var subject = $("#Subject").val();
            var phoneNumber = $("#PhoneNumber").val();

            var message = $("#MessageText").val();
            $("#errorContainer").hide();
            $("#emailErrorContainer").hide();

            if (name == '' || email == '' || subject == '' || message == '' || phoneNumber=='') {
                $("#errorContainer").show();
                return;
            }

            if (ValidateEmail(email)) {
                $.blockUI($("#portletContainer"));
                $.ajax({
                    url: '@Url.Action("SaveContact", "Home")',
                    type: 'POST',
                    dataType: 'json',
                    cache: false,
                    data: {
                        name: name, email: email, subject: subject, message: message, phoneNumber:phoneNumber,
                        __RequestVerificationToken: $('@Html.AntiForgeryToken()').val()
                    },
                    success: function (data) {
                        if (data == 200) {
                            window.location = "@Url.Action("Manbar","Home")";
                        } else {
                            $.unblockUI($("#portletContainer"));
                        }
                    },
                    error: function (er) {
                        $.unblockUI($("#portletContainer"));
                        console.log("error= " + er);
                    }
                });
            } else {
                    $("#emailErrorContainer").show();
                    return;
            }
        })
</script>


