﻿
@{
    ViewBag.Title = "Dashboard";
    Layout = null;
}
<style>
    #bodycontent{
                background: url("@Url.Content("~/Images/backgroundImage_syria.jpg")") center center no-repeat;
    }
    body{
    margin:0px !important;
    padding:0px !important;
    }

</style>

@Styles.Render("~/Content/css")
@Scripts.Render("~/bundles/modernizr")
@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/bootstrap")



<html>
<head>

    <meta charset="utf-8">
    @*<title>منبر صلة وصل</title>*@

    <style type="text/css">

.istimaraOrangeButton:hover{
    background-color:white!important;
    color:orange;
}
.istimaraRedButton:hover{
    background-color:white!important;
    color:red;
}
.istimaraBlueButton:hover{
    background-color:white!important;
    color:blue;
}
.istimaraPinkButton:hover{
    background-color:white!important;
    color:deeppink;
}
.istimaraGreyButton:hover{
    background-color:white!important;
    color:dimgray;
}

    </style>

</head>
<body>
    <div id="bodycontent" style="width:100%;height:100%;">
        <div class="row" style="width:100%;height:54px;background-color:#4a4142;margin:0px">
        <div class="col-lg-12 col-md-12 col-sm-12">

            <div class="col-lg-3 col-md-2 col-sm-3">
                
            </div>
            <div class="col-lg-2 col-md-3 col-sm-2">
                <p style="color:#888888;font-size:18px;margin-top:14px;cursor:pointer">أهلاً بكم إلى منبر صلة وصل</p>

            </div>         
            <div class="col-lg-7 col-md-7 col-sm-7">
                <div class="col-lg-1 col-md-1 col-sm-1">
                </div>
                <div class="col-lg-2 col-md-3 col-sm-3">
                    <div>
                        <p style="color:orange;font-size:18px;margin-top:14px;cursor:pointer">تسجيل الدخول</p>

                    </div>
                </div>              
                <div class="col-lg-2 col-md-3 col-sm-3">
                    <p style="color:orange;font-size:18px;margin-top:14px;cursor:pointer"> حماية السرية</p>
                </div>
              
                <div class="col-lg-3 col-md-4 col-sm-3">
                    <p style="color:orange;font-size:18px;margin-top:14px;cursor:pointer"> سياسة الخصوصية</p>
                </div>

            </div>         
        </div>
        </div>


        <div class="row">
            <div class="col-lg-2 col-md-2">

            </div>
                <div class="col-lg-8 col-md-8" >
                    <div class="col-lg-1 col-md-1">

                    </div>
                    <div class="col-lg-10 col-md-10" style="height:225px;background-color: rgb(8, 8, 8);opacity:0.92">
                        <div class="row">
                            <div class="col-lg-4 col-md-4">

                            </div>

                            <div class="col-lg-4 col-md-4">
                                <h1 style="text-align:center;margin-bottom:0px"><img id="WPht1-1e1timgimage" align="middle" style="width: 61px; height: 60px;margin-top:11px;" src="@Url.Content("../../Images/2000px-Coat_of_arms_of_Syria.svg.png")"></h1>
                                <h1  style="text-align:center;color:white;font-size:30px;margin-top:0px;margin-bottom:5px">وزارة</h1>

                                <h1 style="text-align:center;color:white;margin-top:0px">التنمية الادارية</h1>
                            </div>
                            <div class="col-lg-4 col-md-4">

                            </div>

                        </div>




                    </div>
                    <div class="col-lg-2 col-md-2">
                    </div>
                </div>
            
            <div class="col-lg-2 col-md-2" >

            </div>
        </div>

        @*<div class="row">
            <div class="col-lg-2">

            </div>
            <div class="col-lg-8">
                <div class="col-lg-1">

                </div>
                <div class="col-lg-5" style="height:400px;background-color: white;opacity:0.92">

                    

                                <img id="SldShwGllry1-xt8i01kz8imageimage" alt="" style="width: 496px; height: 377px; object-fit: cover;" src="@Url.Content("~/Images/minister.jpg")">


                           

                </div>
                <div class="col-lg-5" style="height:400px;background-color: white;margin-left:10px;padding-right:10px;opacity:0.92">



                </div>
                <div class="col-lg-2">
                </div>
            </div>

            <div class="col-lg-2">

            </div>
        </div>*@
    </div>
</body>
</html>
