﻿
@using Newtonsoft.Json
@using Microsoft.AspNet.Identity;
@using MoAD.WebApplication.DataObjects;
@using MoAD.DataObjects.EDMX;


@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutInitialPage.cshtml";
}





<div style="background-color:white;min-height:600px;">

    <iframe src="http://74.208.210.99:84/roundcube/"></iframe>

    @*<iframe width="420" height="315" src="http://74.208.210.99:84/roundcube/" frameborder="0" allowfullscreen></iframe>*@

    @*<script>
        document.domain = '74.208.210.99';
        var ifr = document.getElementsByTagName('IFRAME')[0];
        ifr.onload = function (e) {
            //will log the string "BODY" in the console
            console.log(ifr.contentWindow.document.body.tagName);
        };
    </script>*@

 

</div>






