﻿
@{
    //Layout = null;
    // Layout = "~/Views/Shared/_LayoutInitialPage.cshtml";
    // Layout = "~/views/home/pageshared.cshtml";
    //Layout = "~/views/home/_SharedMarsadLayout.cshtml";
    Layout = "~/Views/Shared/_CommonLayout.cshtml";
}

<link href="@Url.Content("~/content/amcharts/components.min.css")" rel="stylesheet" id="style_components" type="text/css" />

<style>
    body {
        padding: 20px !important;
    }

    text {
        letter-spacing: initial;
    }
</style>


<div class="row Body" style="overflow-x:hidden;filter: blur(25px);transition: filter 2s;-webkit-transition: filter 2s;background:white;">
    <div class="col-md-12">
        <!-- BEGIN CHART PORTLET-->
        <div class="portlet light bordered" style="height:100%;">
            <div class="portlet-title">
                <div class="caption" style="float:inherit">
                    <span class="caption-subject bold uppercase" lang="ar" dir="rtl" style="font-size: 30px; color: #5c6a72;"> نتائج إستطلاعات الرأي</span>

                </div>

            </div>
            <div class="portlet-body">
                <div id="chart_6" class="chart" style="height: 525px;"> </div>
            </div>
        </div>
        <!-- END CHART PORTLET-->
    </div>
</div>


<script src="@Url.Content("~/Scripts/vendors/jquery/jquery.min.js")"></script>
<script src="@Url.Content("~/scripts/amcharts/bootstrap.min.js")"></script>
<script src="@Url.Content("~/scripts/amcharts/bootstrap-switch.min.js")"></script>
<script src="@Url.Content("~/scripts/amcharts/amcharts.js")"></script>
<script src="@Url.Content("~/scripts/amcharts/serial.js")"></script>
<script src="@Url.Content("~/scripts/amcharts/pie.js")"></script>
<script src="@Url.Content("~/scripts/amcharts/radar.js")"></script>
<script src="@Url.Content("~/scripts/amcharts/light.js")"></script>
<script src="@Url.Content("~/scripts/amcharts/patterns.js")"></script>
<script src="@Url.Content("~/scripts/amcharts/chalk.js")"></script>
<script src="@Url.Content("~/scripts/amcharts/ammap.js")"></script>
<script src="@Url.Content("~/scripts/amcharts/worldlow.js")"></script>
<script src="@Url.Content("~/scripts/amcharts/amstock.js")"></script>
<script src="@Url.Content("~/scripts/amcharts/app.min.js")"></script>
<script src="@Url.Content("~/scripts/amcharts/charts-amcharts2.js")"></script>
<script src="@Url.Content("~/scripts/header/jquery.smartmenus.js")"></script>

<script type="text/javascript">


        var initChartSample6 = function() {
            var chart = AmCharts.makeChart("chart_6", {
                "type": "pie",
                "theme": "light",

                "fontFamily": 'Open Sans',

                "color":    '#888',

                "dataProvider":
                     @Html.Raw(Json.Encode(ViewBag.Report7)),
            //        [{
            //        "country": "Lithuania",
            //    "litres": 501.9
            //}, {
            //    "country": "Czech Republic",
            //    "litres": 301.9
            //}, {
            //    "country": "Ireland",
            //    "litres": 201.1
            //}, {
            //    "country": "Germany",
            //    "litres": 165.8
            //}, {
            //    "country": "Australia",
            //    "litres": 139.9
            //}, {
            //    "country": "Austria",
            //    "litres": 128.3
            //}, {
            //    "country": "UK",
            //    "litres": 99
            //}, {
            //    "country": "Belgium",
            //    "litres": 60
            //}, {
            //    "country": "The Netherlands",
            //    "litres": 50
            //}],
            "valueField": "litres",
            "titleField": "country",
            "exportConfig": {
                menuItems: [{
                    icon: App.getGlobalPluginsPath() + "amcharts/amcharts/images/export.png",
                    format: 'png'
                }]
            }
        });

            $('#chart_6').closest('.portlet').find('.fullscreen').click(function () {
            chart.invalidateSize();
        });
    }
    initChartSample6();
</script>