﻿@using Newtonsoft.Json
@using Microsoft.AspNet.Identity;
@using MoAD.WebApplication.DataObjects;
@using MoAD.DataObjects.EDMX;
@{
    Layout = "~/Views/Shared/_LayoutInitialPage.cshtml";
    List<GetSavedForm_Result> FormValues = ViewBag.FormValues;
    List<GetAllOrganisations_Result> allOrgs = ViewBag.allOrgs;
}

<div class="row" style="text-align:center;padding-top:20px">
    <h3>
        @ViewBag.formTemplate
    </h3>
</div>



<div id="example" style="background-color:white;min-height:auto;">

    <div style="padding-top:20px;background-color:white;">
        @{
            for (int i = 0; i < FormValues.Count(); i++)
            {
                var answer = FormValues[i];
                HtmlString border = new HtmlString("border-right:2px solid #dfe4ed;border-left:2px solid #dfe4ed");


                int middle = FormValues.Count() / 2;
                HtmlString Float = i < middle ? new HtmlString("float:right") : new HtmlString("float:left");

                switch (answer.FormElement)
                {


                    case "UserInput":
                        {
                            <div class="col-lg-6" style="@border;background-color:white;min-height: 65px;@Float">
                                <div class="form-group row" style="text-align:right">
                                    <div class="col-md-6" style="float:left">
                                        <input type="text" style="text-align:right" readonly class="form-control" value="@answer.AnswerInstanceFileExtensionName">
                                    </div>
                                    <div class="col-md-6">
                                        <p class="form-control-label" style="direction: rtl;word-break:break-word">@answer.QuestionValue</p>
                                    </div>
                                </div>
                            </div>

                            break;
                        }
                    case "TextArea":
                        {
                            <div class="col-lg-6" style="@border;background-color:white;min-height: 65px;@Float">

                                <div class="form-group row" style="text-align:right">
                                    <div class="col-md-6" style="float:right;">
                                        <label class="form-control-label" style="direction: rtl">@answer.QuestionValue</label>
                                    </div>
                                    <div class="col-md-6">
                                        <textarea style="text-align:right" readonly class="form-control">@answer.AnswerInstanceFileExtensionName</textarea>
                                    </div>

                                </div>
                            </div>

                            break;
                        }



                    case "Calendar":
                        {
                            <div class="col-lg-6" style="@border;background-color:white;min-height: 65px;@Float">
                                <div class="form-group row" style="text-align:right">
                                    <div class="col-md-6" style="float:left">
                                        <input type="text" style="text-align:right" readonly class="form-control" value="@answer.AnswerInstanceFileExtensionName">
                                    </div>
                                    <div class="col-md-6">
                                        <p class="form-control-label" style="direction: rtl;word-break:break-word">@answer.QuestionValue</p>
                                    </div>
                                </div>
                            </div>
                            break;
                        }


                    case "Radiobox":
                        {
                            <div class="col-lg-6" style="@border;background-color:white;min-height: 65px;@Float">
                                <div class="form-group row" style="text-align:right">
                                    <div class="col-md-6" style="float:left">

                                        @if (answer.AnswerInstanceFileExtensionType == "Freetext")
                                        {
                                            <input type="text" style="text-align:right" readonly class="form-control" value="@answer.AnswerInstanceFileExtensionName">
                                        }
                                        else
                                        {
                                            <label class="btn btn-default-outline">
                                                @answer.AnswerValue
                                            </label>
                                        }

                                    </div>
                                    <div class="col-md-6">
                                        <p class="form-control-label" style="direction: rtl;word-break:break-word">@answer.QuestionValue</p>
                                    </div>
                                </div>
                            </div>
                            break;
                        }


                    case "Checkbox":
                        {
                            <div class="col-lg-6" style="@border;background-color:white;min-height: 65px;@Float">
                                <div class="form-group row" style="text-align:right">
                                    <div class="col-md-6" style="float:left">
                                        <label class="btn btn-default-outline">
                                            @answer.AnswerValue
                                        </label>
                                    </div>
                                    <div class="col-md-6">
                                        <p class="form-control-label" style="direction: rtl;word-break:break-word">@answer.QuestionValue</p>
                                    </div>
                                </div>
                            </div>
                            break;
                        }


                    case "DropDown":
                        {
                            <div class="col-lg-6" style="@border;background-color:white;min-height: 65px;@Float">
                                <div class="form-group row" style="text-align:right">
                                    <div class="col-md-6" style="float:left">
                                        <label class="btn btn-default-outline">
                                            @{ 
                                                var Organisation = "";
                                                if (answer.AnswerValue == "")
                                                {
                                                    try
                                                    {
                                                        int organisationKey = int.Parse(answer.AnswerInstanceFileExtensionName);
                                                        Organisation = allOrgs.Where(o => o.OrganisationKey == organisationKey).FirstOrDefault().OrganisationName;
                                                    }catch(Exception e)
                                                    {
                                                        Organisation = "";
                                                    }

                                                }
                                             }

                                            @(answer.AnswerValue!=""?answer.AnswerValue: Organisation)
                                        </label>
                                    </div>
                                    <div class="col-md-6">
                                        <p class="form-control-label" style="direction: rtl;word-break:break-word">@answer.QuestionValue</p>
                                    </div>
                                </div>
                            </div>

                            break;
                        }


                    case "FileUpload":
                        {
                            <div class="col-lg-6" style="@border;background-color:white;min-height: 65px;@Float">
                                <div class="form-group row" style="text-align:right">
                                    <div class="col-md-6" style="float:left">


                                        @if (answer.AnswerInstanceFileExtensionName != null && answer.AnswerInstanceFileExtensionName.Contains("image"))
                                        {
                                            <a download="image.jpg" href="@answer.AnswerInstanceFileExtensionFilePathOrSource" title="ImageName">
                                                <img id="" name="" src="@answer.AnswerInstanceFileExtensionFilePathOrSource" style="height:150px;width:150px;" />
                                            </a>
                                        }
                                        else
                                        {
                                            <a href="@answer.AnswerInstanceFileExtensionFilePathOrSource">
                                                <img src="@Url.Content("~/Images/file.png")" style="height:150px;width:150px;" />
                                            </a>

                                        }
                                    </div>
                                    <div class="col-md-6">
                                        <p class="form-control-label" style="direction: rtl;word-break:break-word">@answer.QuestionValue</p>
                                    </div>
                                </div>
                            </div>

                            break;
                        }






                    default:
                        {
                            <span> </span>
                            break;
                        }
                }
            }
        }
    </div>

    @{

        if (ViewBag.formTemplate == "تسجيل الدخول")
        {
            <div class="row" style="text-align:center;">

                <div class="btn btn-primary" id="ApprovedBtn" style="margin-top:2%;">تصديق الدخول</div>

            </div>
        }


    }

</div>

@if (ViewBag.AdEditOrApproveIndex == "True")
{
    <div class="row" style="text-align:center;margin-bottom:10px;background-color:white;">

        <div class="btn btn-primary" id="TakdimBtn" style="margin-top:2%;margin-bottom:2%;">تقديم</div>
        <div class="btn btn-primary" id="Ta3dilBtn" style="margin-top:2%;margin-bottom:2%;">تعديل</div>
    </div>
}
else if (User.IsInRole("HR"))
{
    <div class="row" style="margin-bottom:10px;background-color:white;">
        <div class="btn btn-primary" id="Ta3dilBtn" style="margin-top:8%;margin-bottom:2%;">تعديل</div>
    </div>
}

<script>
 
    $("#ApprovedBtn").click(function () {

        $.ajax({
            url: '@Url.Action("SetApproveUser", "Home")',
            dataType: "text",
            data: { Userkey: '@ViewBag.UserKey', approved: "APPROVED" },
            success: function (result) {


                submit_post_via_hidden_form("@Url.Action("AdManagersClaims", "Home")",

            {
                ClaimType: "تسجيل الدخول",
                HighlightedPart: "e3dadalmousta5dimin"
            }
                               );

            }

        });



    });

    $("#TakdimBtn").click(function () {
        $.ajax({
            url: '@Url.Action("SaveClaimForm", "ClaimForms")',
            type: 'GET',
            dataType: 'json',
            cache: false,
            data: {
                formKey: '@ViewBag.formInstanceKey'
            },
            success: function (data) {
                window.location = '@Url.Action("AdManagersClaims", "Home")/' + "?ClaimType=" + '@ViewBag.FormTemplateType';

            }
        });
    })

    $("#Ta3dilBtn").click(function () {
        window.location = '@Url.Action("NewClaimForm", "ClaimForms")/' + "?FormTemplateKey=" + '@ViewBag.FormTemplateKey' + "&formInstanceKey=" + '@ViewBag.formInstanceKey' + "&ManagerIndex=True";
    })

    function submit_post_via_hidden_form(url, params) {
        var f = $("<form method='POST' style='display:none;'></form>").attr({
            action: url
        }).appendTo(document.body);

        for (var i in params) {
            if (params.hasOwnProperty(i)) {
                $('<input type="hidden" />').attr({
                    name: i,
                    value: params[i]
                }).appendTo(f);
            }
        }

        f.submit();

        f.remove();
    }
</script>