﻿@using MoAD.DataObjects.EDMX;
@using Microsoft.AspNet.Identity;
@{
    Layout = "~/views/shared/_layoutinitialpage.cshtml";
    GetUserInformation_Result UserInfo = ViewBag.UserInforesult;
    List<ReportingGetCountAndDatesPerFormTemplatekey_Result> FormReporting = ViewBag.CountAndDates;
    List<GetSavedForm_Result> FormValues = ViewBag.FormValues;
    List<GetSavedFormsperGUID_Result> aggregateForms = ViewBag.SavedFormPerGuId as List<GetSavedFormsperGUID_Result>;
    List<GetWorkFlowItemInstancePerUser_Result> Instances = ViewBag.Instances as List<GetWorkFlowItemInstancePerUser_Result>;

    //NextFormTemplateKey = 111
}
<style>
    .modal-content {
        direction: rtl;
    }

    .col-md-6{
        float:left;
    }
</style>

<section class="page-content">
    <section class="page-content-inner">
        <!-- Top Submenu -->


        <div class="widget widget-four background-transparent" style="direction:rtl;margin-top:15px;">
            <div class="row">
                @if (User.IsInRole("OPManager") || User.IsInRole("OPGeneralDirector") || User.IsInRole("OPDirector") || User.IsInRole("Human Development Sector") || User.IsInRole("Administrative sector") || User.IsInRole("Economic sector") || User.IsInRole("Service sector") || User.IsInRole("OPManagerGroup5") || User.IsInRole("OPManagerGroup6") || User.IsInRole("OPManagerGroup7"))
                {
                    <div class="col-xl-3 col-lg-6 col-sm-6 col-xs-12">
                        <div class="step-block" style="cursor:pointer;background-color:#63d063;height:95px">
                            <span class="step-digit">
                                <i class="icmn-rotate-ccw3"><!-- --></i>
                            </span>
                            <div class="step-desc">
                                <span class="step-title">  غير مكررة</span>
                                <p>
                                </p>
                            </div>
                        </div>
                    </div>
                }
                <div class="col-xl-3 col-lg-6 col-sm-6 col-xs-12">
                    <div class="step-block" style="height:95px">
                        <span class="step-digit">
                            <i class="icmn-file-empty"><!-- --></i>
                        </span>
                        <div class="step-desc">
                            <span class="step-title">موضوع الشكوى</span>
                            <p style="overflow:  hidden;white-space:  nowrap;">
                                شكوى
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-6 col-sm-6 col-xs-12">
                    <div class="step-block step-warning">
                        <span class="step-digit">
                            <i class="icmn-calendar5"><!-- --></i>
                        </span>
                        <div class="step-desc">
                            @*<span class="step-title">تاريخ التقديم</span>*@
                            <span class="step-title">الحالة</span>

                            <p>                            
                                @*@ViewBag.CreatedAt*@
                                @ViewBag.CurrentStatusName
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-6 col-sm-6 col-xs-12">
                    <div class="step-block step-primary">
                        <span class="step-digit">
                            <i class="icmn-list-numbered"><!-- --></i>
                        </span>
                        <div class="step-desc">
                            <span class="step-title">رقم الشكوى</span>
                            <p>
                                <span>#</span>
                                <span>&nbsp;@ViewBag.FormKey</span>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <section class="panel panel-with-sidebar panel-with-right-sidebar">
                <div class="panel-sidebar" style="width:260px">
                    
                        @*<div class="btn-group-vertical btn-group-justified">
                            <button type="button" class="btn">حذف</button>
                        </div>
                        <br />*@
                    <section class="card" style="padding:10px">
                        <div class="card-body" style="text-align:right">
                            <h5 class="mb-3 text-black">
                                <strong>تاريخ الشكوى </strong>
                            </h5>
                            <dl class="row">
                                <dt class="col-xl-12" style="float:right"><label id="esemsoulasi" class="form-label"> @ViewBag.CreatedAt  </label></dt>
                            
                            </dl>
                        </div>
                    </section>
                    
                    <p>
                        <section class="card" style="padding:10px">
                            <div class="card-body" style="text-align:right">
                                <h5 class="mb-3 text-black">
                                    <strong>المستخدم</strong>
                                </h5>
                                <dl class="row">
                                    <dt class="col-xl-12" style="float:right"><label id="esemsoulasi" class="form-label"> الاسم الثلاثي: @UserInfo.LastName @UserInfo.FatherName @UserInfo.FirstName </label></dt>
                                    <dt class="col-xl-12" style="float:right"><label id="address" class="form-label"> : مكان الإقامة  </label></dt>
                                    <dt class="col-xl-12" style="float:right"><label id="celnumber" class="form-label"> @UserInfo.PhoneNumber : رقم الهاتف الجوال  </label></dt>
                                    <dt class="col-xl-12" style="float:right"><label id="email" class="form-label"> @UserInfo.Email : البريد الالكتروني </label></dt>
                                    <dt class="col-xl-12" style="float:right"><label id="nationalnumber" class="form-label"> @UserInfo.SSN : الرقم الوطني  </label></dt>
                                </dl>
                            </div>
                        </section>
                    </p>
                </div>
                <div class="panel-heading  background-white" style="text-align:center">
                    <h3>الشكوى </h3>
                </div>
                <div class="panel-body" style="margin-right:260px">
                    <div class="row">
                        @{
                            var formData = aggregateForms.Where(x => x.FormTemplateKey == 106).ToList();
                            for (int i = 0; i < formData.Count(); i++)
                            {
                                var answer = formData[i];
                                HtmlString border = i % 2 == 0 ? new HtmlString("border-right:2px solid #dfe4ed") : new HtmlString("");
                                switch (answer.FormElement)
                                {


                                    case "UserInput":
                                        {
                                            <div class="col-lg-6" style="@border;min-height: 65px;">
                                                <div class="form-group row" style="text-align:right">
                                                    <div class="col-md-6">
                                                        <input type="text" style="text-align:right" readonly class="form-control" value="@answer.AnswerInstanceFileExtensionName">
                                                    </div>
                                                    <div class="col-md-6">
                                                        <label class="form-control-label" style="direction: rtl">@answer.QuestionValue</label>
                                                    </div>
                                                </div>
                                            </div>

                                            break;
                                        }


                                    case "Calendar":
                                        {
                                            <div class="col-lg-6" style="@border;min-height: 65px;">
                                                <div class="form-group row" style="text-align:right">
                                                    <div class="col-md-6">
                                                        <input type="text" style="text-align:right" readonly class="form-control" value="@answer.AnswerInstanceFileExtensionName">
                                                    </div>
                                                    <div class="col-md-6">
                                                        <label class="form-control-label" style="direction: rtl">@answer.QuestionValue</label>
                                                    </div>
                                                </div>
                                            </div>
                                            break;
                                        }


                                    case "Radiobox":
                                        {
                                            <div class="col-lg-6" style="@border;min-height: 65px;">
                                                <div class="form-group row" style="text-align:right">
                                                    <div class="col-md-6">
                                                        <label class="btn btn-default-outline">
                                                            @answer.AnswerValue
                                                        </label>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <label class="form-control-label" style="direction: rtl">@answer.QuestionValue</label>
                                                    </div>
                                                </div>
                                            </div>
                                            break;
                                        }


                                    case "Checkbox":
                                        {
                                            <div class="col-lg-6" style="@border;min-height: 65px;">
                                                <div class="form-group row" style="text-align:right">
                                                    <div class="col-md-6">
                                                        <label class="btn btn-default-outline">
                                                            @answer.AnswerValue
                                                        </label>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <label class="form-control-label" style="direction: rtl">@answer.QuestionValue</label>
                                                    </div>
                                                </div>
                                            </div>
                                            break;
                                        }


                                    case "DropDown":
                                        {
                                            <div class="col-lg-6" style="@border;min-height: 65px;">
                                                <div class="form-group row" style="text-align:right">
                                                    <div class="col-md-6">
                                                        <label class="btn btn-default-outline">
                                                            @answer.AnswerValue
                                                        </label>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <label class="form-control-label" style="direction: rtl">@answer.QuestionValue</label>
                                                    </div>
                                                </div>
                                            </div>

                                            break;
                                        }
                                    case "TextArea":
                                        {
                                            <div class="col-lg-6" style="@border;min-height: 65px;">

                                                <div class="form-group row" style="text-align:right">
                                                    <div class="col-md-6" style="float:right;">
                                                        <label class="form-control-label" style="direction: rtl">@answer.QuestionValue</label>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <textarea style="text-align:right" readonly class="form-control">@answer.AnswerInstanceFileExtensionName</textarea>
                                                    </div>

                                                </div>
                                            </div>

                                            break;
                                        }
                                    case "FileUpload":
                                        {
                                            <div class="col-lg-6" style="@border;min-height: 65px;">
                                                <div class="form-group row" style="text-align:right">
                                                    <div class="col-md-6">

                                                        @if (answer.AnswerInstanceFileExtensionName != null && answer.AnswerInstanceFileExtensionName.Contains("image"))
                                                        {
                                                            <a download="image.jpg" href="@answer.AnswerInstanceFileExtensionFilePathOrSource" title="ImageName">
                                                                <img id="" name="" src="@answer.AnswerInstanceFileExtensionFilePathOrSource" style="height:150px;width:150px;" />
                                                            </a>
                                                        }
                                                        else
                                                        {
                                                            <a href="@answer.AnswerInstanceFileExtensionFilePathOrSource">
                                                                <img src="@Url.Content("~/Images/file.png")" style="height:150px;width:150px;" />
                                                            </a>

                                                        }
                                                    </div>
                                                    <div class="col-md-6">
                                                        <label class="form-control-label" style="direction: rtl">@answer.QuestionValue</label>
                                                    </div>
                                                </div>
                                            </div>

                                            break;
                                        }
                                    default:
                                        {
                                            <span> </span>
                                            break;
                                        }
                                }
                            }
                        }
                    </div>
                </div>
            </section>
        </div>

        @if (User.IsInRole("OPManager") || User.IsInRole("OPGeneralDirector") || User.IsInRole("OPDirector") || User.IsInRole("Human Development Sector") || User.IsInRole("Administrative sector") || User.IsInRole("Economic sector") || User.IsInRole("Service sector") || User.IsInRole("OPManagerGroup5") || User.IsInRole("OPManagerGroup6") || User.IsInRole("OPManagerGroup7"))
        {

            if (ViewBag.NextFormTemplateKey != "110")
            {



                <div class="row" style="height:700px">
                    <div class="col-lg-6 col-md-6" style="background-color:white;height:100%;border-right:2px solid #dfe4ed;overflow-y:auto;">
                        <div class="col-lg-12" style="text-align:center;padding-top:10px">
                            <div class="cui-ecommerce--catalog--item--status">
                                <span class="cui-ecommerce--catalog--item--status--title"> <i class="fa fa-pencil-square-o  fa-2x" aria-hidden="true"></i></span>
                            </div>
                        </div>
                        <div class="col-lg-12" style="text-align:center;padding-top:10px">
                            <h3>: التقييم</h3>
                        </div>
                        @if (User.IsInRole("OPManager") || User.IsInRole("Human Development Sector") || User.IsInRole("Administrative sector") || User.IsInRole("Economic sector") || User.IsInRole("Service sector") || User.IsInRole("OPManagerGroup5") || User.IsInRole("OPManagerGroup6") || User.IsInRole("OPManagerGroup7"))
                        {
                            <div class="col-lg-12" style="text-align:right;padding-top:20px">
                                <div class="form-group row">
                                    <div class="col-md-9">
                                        <div class="btn-group" data-toggle="buttons">
                                            <label class="btn btn-default-outline">
                                                <input type="radio" data-AnswerKey="@ViewBag.AnswerKeyTawsif2" class="answerValueADMangerRadio" name="solutionType">
                                                شاملة
                                            </label>
                                            <label class="btn btn-default-outline">
                                                <input type="radio" data-AnswerKey="@ViewBag.AnswerKeyTawsif1" class="answerValueADMangerRadio" name="solutionType">
                                                جزئية
                                            </label>
                                        </div>

                                    </div>
                                    <div class="col-md-3">
                                        <label class="form-control-label" for="l15"> :تقييم المعالجة </label>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-12" style="text-align:right">
                                <div class="form-group row">
                                    <div class="col-md-9">
                                        <textarea dir="rtl" id="UserNote" data-AnswerKey="@ViewBag.OpNote" class="form-control answerValueADManger" rows="3"></textarea>
                                    </div>
                                    <div class="col-md-3">
                                        <label class="form-control-label" for="l15"> :ملاحظات مسؤول العمليات  </label>
                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-12" style="text-align:right">
                                <div class="form-group row">


                                    <div class="col-md-3" style="margin-bottom:1%;">
                                        <button type="button" data-value="23" data-note="الاستعانة بخبير" class="btn width-150 btn-primary esti3anafani">
                                            <i class="fa fa-spinner fa-spin faniloader" style="display:none;"></i>      الاستعانة بخبير
                                        </button>
                                        
                                    </div>
                                    <div class="col-md-3" style="margin-bottom:1%;">
                                        <button type="button" data-value="24" data-note="الاستعانة بفني" class="btn width-150 btn-primary esti3anafani">
                                            <i class="fa fa-spinner fa-spin faniloader" style="display:none;"></i>        الاستعانة بفني
                                        </button>

                                    </div>

                                    <div class="col-md-3">
                                        <button type="button" id="submitbutton" style="background-color: #63d063;color:white" class="btn width-150">
                                            <i class="fa fa-spinner fa-spin takdimLoader" style="display:none;"></i>  تقديم        
                                          </button>
                                    </div>
                                    <div class="col-md-3">
                                        <label class="form-control-label" for="l15"> :انقر لحفظ إجاباتك  </label>
                                    </div>
                                </div>
                            </div>
                        }

                        else if (User.IsInRole("OPGeneralDirector") || User.IsInRole("OPDirector"))
                        {
                            <div class="col-lg-12" style="text-align:right">
                                <div class="form-group row">
                                    <div class="col-md-4">
                                    </div>
                                    <div class="col-md-6">
                                        <textarea dir="rtl" class="form-control" rows="3" id="UserNote"></textarea>
                                    </div>
                                    <div class="col-md-2">
                                        <label class="form-control-label" for="l15"> :ملاحظات   </label>
                                    </div>
                                </div>
                            </div>


                 
                                <div class="col-lg-12" style="text-align:right">
                                    <div class="form-group row">
                                        <div class="col-md-3">
                                            <button type="button" data-value="23" data-note="الاستعانة بخبير" class="btn width-150 btn-primary esti3anafani">
                                                <i class="fa fa-spinner fa-spin faniloader" style="display:none;"></i>             الاستعانة بخبير
                                            </button>
                                        </div>
                                        <div class="col-md-3">
                                            <button type="button" data-value="24" data-note="الاستعانة بفني" class="btn width-150 btn-primary esti3anafani">
                                                <i class="fa fa-spinner fa-spin faniloader" style="display:none;"></i>          الاستعانة بفني
                                            </button>
                                        </div>

                                        <div class="col-md-3">
                                            @if (User.IsInRole("OPGeneralDirector"))
                                            {
                                            <button type="button" data-actionType="15" style="background-color:green;color:white" class="btn width-150 moukhalafa">
                                                <i class="fa fa-spinner fa-spin takdimLoader" style="display:none;"></i>             تقديم   
                                            </button>
                                            }
                                            @if (User.IsInRole("OPDirector"))
                                            {
                                            <button type="button" data-actionType="18" style="background-color:green;color:white" class="btn width-150 moukhalafa">
                                                <i class="fa fa-spinner fa-spin takdimLoader" style="display:none;"></i>         تقديم 
                                              </button>
                                            }


                                        </div>
                                        <div class="col-md-2">
                                            <label class="form-control-label" for="l15"> :تقديم المخالفة </label>
                                        </div>
                                    </div>
                                </div>

                            if (User.IsInRole("OPGeneralDirector"))
                            {
                                <div class="col-lg-12" style="text-align:right">
                                    <div class="form-group row">
                                        <div class="col-md-4">
                                        </div>
                                        <div class="col-md-3">

                                        </div>

                                        <div class="col-md-3">
                                            <button type="button" data-actionType="21" style="background-color:red;color:white" class="btn width-150 moukhalafa">رفض </button>


                                        </div>
                                        <div class="col-md-2">
                                            <label class="form-control-label" for="l15"> :رفض  الحل</label>
                                        </div>
                                    </div>
                                </div>


                            }





                        }
                    </div>

                    <div class="col-lg-6 col-md-6" style="background-color:white;height:100%;overflow-y:auto;">
                        <div class="col-lg-12" style="text-align:center;padding-top:10px">
                            <div class="cui-ecommerce--catalog--item--status">
                                <span class="cui-ecommerce--catalog--item--status--title"><i class="fa fa-binoculars fa-2x" aria-hidden="true"></i></span>
                            </div>
                        </div>

                        <div class="col-lg-12" style="text-align:center;padding-top:20px">
                            <h3>: المتابعة  </h3>
                        </div>




                        <div class="nav-tabs-horizontal pull-right">
                            <ul class="nav nav-tabs pull-right" role="tablist">



                                @{
                                    var distinctformtemplates = aggregateForms.Select(x => x.FormTemplateKey).Where(x => x.Value != 106).Distinct().ToList();
                                    for (var i = 0; i < distinctformtemplates.Count(); i++)
                                    {
                                        var templatekey = distinctformtemplates[i];
                                        var randomRow = aggregateForms.Where(x => x.FormTemplateKey == templatekey).FirstOrDefault();
                                        <li class="nav-item">
                                            <a class="nav-link" href="javascript: void(0);" data-toggle="tab" data-target="#tab-@i" role="tab" aria-expanded="false">
                                                <b style="font-size: 16px;">
                                                    @randomRow.FormTemplateName
                                                </b>
                                            </a>
                                        </li>
                                    }
                                }

                                <li class="nav-item">
                                    <a class="nav-link active" href="javascript: void(0);" data-toggle="tab" data-target="#tab-notes" role="tab" aria-expanded="false">
                                        <b style="font-size: 16px;">
                                            ملاحظات
                                        </b>
                                    </a>
                                </li>
                            </ul>


                            <div class="tab-content padding-vertical-20">
                                @{
                                    for (var i = 0; i < distinctformtemplates.Count(); i++)
                                    {
                                        var templatekey = distinctformtemplates[i];
                                        var rows = aggregateForms.Where(x => x.FormTemplateKey == templatekey).ToList();
                                        var statusName = Instances.Where(x => x.NextFormTemplateKey == templatekey).OrderByDescending(x => x.UpdatedAt).FirstOrDefault().NextStatusName;

                                        <div class="tab-pane" id="tab-@i" role="tabpanel" style="text-align:right" aria-expanded="true">
                                            <div class="col-lg-12" style="text-align:right;padding-top:15px">
                                                <div class="form-group row">
                                                    <div class="col-md-9">
                                                        <label class="btn btn-default-outline">
                                                            @statusName
                                                        </label>
                                                    </div>
                                                    <div class="col-md-3">
                                                        <label class="form-control-label" for="l15" dir="rtl">  الحالة : </label>
                                                    </div>
                                                </div>
                                            </div>

                                            @foreach (var row in rows)
                                            {
                                                if (row.FormElement == "UserInput")
                                                {
                                                    <div class="col-lg-12" style="text-align:right;padding-top:15px">
                                                        <div class="form-group row">
                                                            <div class="col-md-9">
                                                                <textarea dir="rtl" readonly class="form-control" rows="3" id="l15"> @row.AnswerInstanceFileExtensionName </textarea>
                                                            </div>
                                                            <div class="col-md-3">
                                                                <label class="form-control-label" for="l15" dir="rtl"> @row.QuestionValue  </label>
                                                            </div>
                                                        </div>
                                                    </div>
                                                }


                                                if (row.FormElement == "Radiobox")
                                                {
                                                    <div class="col-lg-12" style="text-align:right;padding-top:15px">
                                                        <div class="form-group row">
                                                            <div class="col-md-9">
                                                                <label class="btn btn-default-outline">
                                                                    @row.AnswerValue
                                                                </label>
                                                            </div>
                                                            <div class="col-md-3">
                                                                <label class="form-control-label" for="l15" dir="rtl"> @row.QuestionValue  </label>
                                                            </div>
                                                        </div>
                                                    </div>
                                                }

                                                if (row.FormElement == "FreeText")
                                                {
                                                    <div class="col-lg-12" style="text-align:right;padding-top:15px">
                                                        <div class="form-group row">
                                                            <div class="col-md-9">
                                                                <textarea dir="rtl" readonly class="form-control" rows="3" id="l15"> @row.AnswerInstanceFileExtensionName </textarea>
                                                            </div>
                                                            <div class="col-md-3">
                                                                <label class="form-control-label" for="l15" dir="rtl"> @row.QuestionValue  </label>
                                                            </div>
                                                        </div>
                                                    </div>
                                                }


                                            }
                                        </div>
                                    }



                                    <div class="tab-pane active" id="tab-notes" role="tabpanel" style="text-align:right;" aria-expanded="true">
                                        <div style="width:100%">

                                        </div>
                                        @{
                                            string updatedbyuserkey = User.Identity.GetUserId();
                                            var status = Instances.Where(x => !string.IsNullOrEmpty(x.Note) && x.UpdatedByUserKey != updatedbyuserkey).OrderByDescending(x => x.UpdatedAt).ToList();
                                            foreach (var note in status)
                                            {
                                              
                                                <div class="col-lg-12" style="text-align:right;padding-top:15px;min-width: 500px;">
                                                    <div class="form-group row">
                                                        <div class="col-md-9">
                                                            <textarea dir="rtl" readonly class="form-control" rows="3" id="l15">@note.Note  </textarea>
                                                        </div>
                                                        <div class="col-md-3">
                                                            <label class="form-control-label" for="l15" dir="rtl">ملاحظات  @note.UpdatedByUserName  </label>
                                                        </div>
                                                    </div>
                                                </div>



                                                <div class="col-lg-12" style="text-align:right;padding-top:15px;min-width: 500px;">
                                                    <div class="form-group row">
                                                        <div class="col-md-9">
                                                            <label class="btn btn-default-outline">
                                                                @note.NextStatusName
                                                            </label>
                                                        </div>
                                                        <div class="col-md-3">
                                                            <label class="form-control-label" for="l15" dir="rtl"> الحالة  :  </label>
                                                        </div>
                                                    </div>
                                                </div>
                                            }
                                        }

                                    </div>
                                }
                            </div>


                            <div class="tab-content padding-vertical-20">
                                <div class="tab-pane active" id="tab1" role="tabpanel" aria-expanded="true">

                                </div>
                                <div class="tab-pane" id="tab2" role="tabpanel" aria-expanded="false">

                                </div>
                                <div class="tab-pane" id="tab3" role="tabpanel" aria-expanded="false">

                                </div>
                            </div>
                        </div>

                    </div>
                </div>


                                            }
                                            else
                                            {

                                                    <div class="col-lg-6" >
                                                        <div class="col-lg-12 col-md-12" style="background-color:white;border-right:2px solid #dfe4ed;min-height:300px">
                                                            <div class="col-lg-12" style="text-align:center;padding-top:10px">
                                                                <div class="cui-ecommerce--catalog--item--status">
                                                                    <span class="cui-ecommerce--catalog--item--status--title"> <i class="fa fa-pencil-square-o  fa-2x" aria-hidden="true"></i></span>
                                                                </div>
                                                            </div>
                                                            <div class="col-lg-12" style="text-align:center;padding-top:10px">
                                                                <h3> : تقييم مسؤول العمليات </h3>
                                                            </div>
                                                            <div class="col-lg-12" style="text-align:right">
                                                                <div class="form-group row">
                                                                    <div class="col-md-4">
                                                                    </div>
                                                                    <div class="col-md-6">
                                                                        <textarea dir="rtl" class="form-control" rows="3" id="UserNote"></textarea>
                                                                    </div>
                                                                    <div class="col-md-2">
                                                                        <label class="form-control-label" for="l15"> :ملاحظات مسؤول العمليات  </label>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="col-lg-12" style="text-align:right">
                                                                @{

                                                                    var actionTypeApproved = 0;
                                                                    var actionTypeDeclined = 0;
                                                                    if (User.IsInRole("OPGeneralDirector"))
                                                                    {
                                                                        actionTypeApproved = 22;
                                                                        actionTypeDeclined = 6;
                                                                    }
                                                                    else if (User.IsInRole("OPDirector") || User.IsInRole("OPManager") || User.IsInRole("Human Development Sector") || User.IsInRole("Administrative sector") || User.IsInRole("Economic sector") || User.IsInRole("Service sector") || User.IsInRole("OPManagerGroup5") || User.IsInRole("OPManagerGroup6") || User.IsInRole("OPManagerGroup7"))
                                                                    {
                                                                        actionTypeDeclined = 3;

                                                                    }
                                                                }
                                                                <div class="form-group row">
                                                                    <div class="col-md-4">
                                                                    </div>
                                                                    <div class="col-md-3">
                                                                        @if (User.IsInRole("OPGeneralDirector"))
                                                                    {
                                                                    <button type="button" data-actionType="@actionTypeApproved" style="background-color:#63d063;color:white" class="btn width-150 moukhalafa">
                                                                        <i class="fa fa-spinner fa-spin takdimLoader" style="display:none;"></i>      شرعية

                                                                    </button>
                                                                    }
                                                                    </div>
                                                                    <div class="col-md-3">

                                                                        <button type="button" data-actionType="@actionTypeDeclined" style="background-color:#f64249;color:white" class="btn width-150 moukhalafa">
                                                                            <i class="fa fa-spinner fa-spin takdimLoader" style="display:none;"></i>مخالفة
                                                                        </button>

                                                                    </div>
                                                                    <div class="col-md-2">
                                                                        <label class="form-control-label" for="l15"> :بلغ عن مخالفة    </label>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="col-lg-6" style="background-color:white;min-height:300px">

                                                        <div class="col-lg-12" style="text-align:center;padding-top:10px">
                                                            <h3> : ملاحظات </h3>
                                                        </div>
                                                        @{
                                                        string updatedbyuserkey = User.Identity.GetUserId();
                                                        var status = Instances.Where(x => !string.IsNullOrEmpty(x.Note) && x.UpdatedByUserKey != updatedbyuserkey).OrderByDescending(x => x.UpdatedAt).ToList();
                                                        foreach (var note in status)
                                                        {

                                                    <div class="col-lg-12" style="text-align:right;padding-top:15px;min-width: 500px;">
                                                        <div class="form-group row">
                                                            <div class="col-md-9">
                                                                <textarea dir="rtl" readonly class="form-control" rows="3" id="l15">@note.Note  </textarea>
                                                            </div>
                                                            <div class="col-md-3">
                                                                <label class="form-control-label" for="l15" dir="rtl">ملاحظات  @note.UpdatedByUserName  </label>
                                                            </div>
                                                        </div>
                                                    </div>



                                                    <div class="col-lg-12" style="text-align:right;padding-top:15px;min-width: 500px;">
                                                        <div class="form-group row">
                                                            <div class="col-md-9">
                                                                <label class="btn btn-default-outline">
                                                                    @note.NextStatusName
                                                                </label>
                                                            </div>
                                                            <div class="col-md-3">
                                                                <label class="form-control-label" for="l15" dir="rtl"> الحالة  :  </label>
                                                            </div>
                                                        </div>
                                                    </div>
                                                        }
                                                        }


                                                    </div>

                                                                }

                                                            }
    </section>
</section>
<script>
    var AnswerTemplateKey = [];

    var GUID = '@ViewBag.GUID';
    var CreatedAt = '@ViewBag.CreatedAt';
    var Formkey = '@ViewBag.FormKey '
    var CurrentStatusKey = '@ViewBag.CurrentStatusKey '
    var NextOrganisationKey = '@ViewBag.NextOrganisationKey'
    var NextFormTemplateKey = '@ViewBag.NextFormTemplateKey '
    var currenOrganisationKey = '@ViewBag.CurrentOrganisationKey'


    

    $(".moukhalafa").click(function () {

        $(".moukhalafa").attr("disabled", "disabled");
        $(".esti3anafani").attr("disabled", "disabled");
        $(".takdimLoader").css("display", "");
        var Note = $("#UserNote").val();
        var actiontype = $(this).attr("data-actionType");
        $.ajax({
            url: '@Url.Action("CreateNewWorkFlowInstance", "Home")',
            dataType: "text",
            data: {
                Note: Note,
                GUID: GUID,
                CreatedAt: CreatedAt,
                Formkey: Formkey,
                CurrentStatusKey: CurrentStatusKey,
                NextFormTemplateKey: NextFormTemplateKey,
                ActionKey: actiontype,
                NextOrganisationKey: NextOrganisationKey,
                currenOrganisationKey:currenOrganisationKey

            },
            success: function (result) {
                if (actiontype == "21") {
                    SetLog("صفحة إستقبال الشكوى لدى الجهة العامة", "تقديم المعلومات الخاصة بالشكوى", "قام المستخدم برفض الشكوى")

                } else {
                    SetLog("صفحة إستقبال الشكوى لدى الجهة العامة", "تقديم المعلومات الخاصة بالشكوى", "قدم المستخدم المعلومات الخاصة بالشكوى")

                }

                bootbox.alert(" تم حفظ النموذج !!", function () {
                    window.location = '@Url.Action("Index", "UserDashboard")';
                })
            }
        });
    });



    $(".esti3anafani").click(function () {

        var Note = $("#UserNote").val();

        if (Note != "") {
            $(".esti3anafani").attr("disabled", "disabled");
            $(".faniloader").css("display", "");
            var Note = $("#UserNote").val();
            var actiontype = $(this).attr("data-value");

            $.ajax({
                url: '@Url.Action("CreateNewWorkFlowInstance", "Home")',
                dataType: "text",
                data: {
                    Note: Note,
                    GUID: GUID,
                    CreatedAt: CreatedAt,
                    Formkey: Formkey,
                    CurrentStatusKey: CurrentStatusKey,
                    NextFormTemplateKey: NextFormTemplateKey,
                    ActionKey: actiontype,
                    NextOrganisationKey: NextOrganisationKey,
                    currenOrganisationKey: currenOrganisationKey


                },
                success: function (result) {

                    if (actiontype == "23") {
                        SetLog("صفحة إستقبال الشكوى لدى الجهة العامة", "تقديم المعلومات الخاصة بالشكوى", "قام المستخدم بالاستعانة بخبير")

                    } else {
                        SetLog("صفحة إستقبال الشكوى لدى الجهة العامة", "تقديم المعلومات الخاصة بالشكوى", "قام المستخدم بالاستعانة بفني")

                    }

                    bootbox.alert(" تم حفظ النموذج !!", function () {
                        window.location = '@Url.Action("Index", "UserDashboard")';
                    })
                }
            });
        } else {
            bootbox.alert("الرجاء كتابة ملاحظة قبل الإستعانة بفني أو خبير !!!");
        }
             
    });


    $(document).on('click', "[id='submitbutton']", function () {

        $("#submitbutton").attr("disabled", "disabled");
        $(".esti3anafani").attr("disabled", "disabled");

        $(".takdimLoader").css("display", "");

        var Note = $("#UserNote").val();

        var answsers = "";
        var FormKey = "";
        $('.answerValueADMangerRadio').each(function () {
            if (this.checked && $(this).val() != '') {
                answsers = { key: $(this).attr("data-AnswerKey"), Textvalue: "", type: "RadioCheckBox", Parent: "", Child: "", count: "" }
                AnswerTemplateKey.push(answsers);
            }
        });

        $('.answerValueADManger').each(function () {
            answsers = { key: $(this).attr("data-AnswerKey"), Textvalue: $(this).val(), type: "TextArea", Parent: "", Child: "", count: "" }
            AnswerTemplateKey.push(answsers);
        });
        console.log(AnswerTemplateKey);
        setTimeout(function () {

            $.ajax({
                url: '@Url.Action("SubmitFormForUser", "ClaimForms")',
                type: 'GET',
                dataType: 'json',
                cache: false,
                data: {
                    trackingStatusKey: "1", formTemplateKey: '@ViewBag.NextFormTemplateKey ', userKey: "@User.Identity.GetUserId()", organisationKey: '@ViewBag.CurrentOrganisationKey'
                },
                success: function (data) {
                    FormKey = data;
                   
                    $.ajax({
                        url: '@Url.Action("AnswersByUser", "ClaimForms")',
                        type: 'POST',
                        dataType: 'json',
                        cache: false,
                        data: {
                            formKey: FormKey, answerTemplateKey: JSON.stringify(AnswerTemplateKey)
                        },
                        success: function (data) {

                            $.ajax({
                                url: '@Url.Action("SaveClaimForm", "ClaimForms")',
                                type: 'GET',
                                dataType: 'json',
                                cache: false,
                                data: {
                                    formKey: FormKey
                                },
                                success: function (data) {

                                    $.ajax({
                                        url: '@Url.Action("CreateNewWorkFlowInstance", "Home")',
                                        dataType: "text",
                                        data: {
                                            Note: Note,
                                            GUID: GUID,
                                            CreatedAt: CreatedAt,
                                            Formkey: FormKey,
                                            CurrentStatusKey: CurrentStatusKey,
                                            NextFormTemplateKey: NextFormTemplateKey,
                                            ActionKey: "18",
                                            NextOrganisationKey: NextOrganisationKey,
                                            currenOrganisationKey: currenOrganisationKey


                                        },
                                        success: function (result) {
                                            SetLog("صفحة إستقبال الشكوى لدى الجهة العامة", "تقديم المعلومات الخاصة بالشكوى", "قدم المستخدم المعلومات الخاصة بالشكوى")

                                            bootbox.alert(" تم حفظ النموذج !!", function () {
                                                window.location = '@Url.Action("Index", "UserDashboard")';
                                            })


                                        }
                                    });



                                }
                            });
                        }
                    });
                }
            });

        }, 2000);




    });













</script>
