﻿

@{
    Layout = "~/views/home/pageshared.cshtml";

}


<head>

    <title>مرصد الأداء الاداري</title>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link href="@Url.Content("~/content/about/assets/css/main.css")" rel="stylesheet" />


</head>


<div class="row Body" style="overflow-x:hidden;filter: blur(25px);transition: filter 2s;-webkit-transition: filter 2s;">


    <!-- Main -->
    <section id="main" style="position:relative;margin-top:2%;text-align:center;">
        <div class="inner">

            <!-- One -->
            <section id="one" class="wrapper style1" style="font-family: 'Droid Arabic Kufi',serif">

                <div class="image fit flush">

                    <img src="@Url.Content("~/imag/43fae2d5-8345-4bd7-b6ef-9981a9ccad8f.jpg")" alt="" />
                </div>
                <header class="special">
                    <h2>حماية الســـرية</h2>
                    <p>الجمهورية العربية السورية</p>
                </header>
                <div class="content">



                    <h2 lang="ar" dir="rtl">   تلتزم وزارة التنمية الإدارية بحماية حقوق مستخدمي منبر صلة وصل، والحفاظ على سرية البيانات والمعلومات الشخصية الخاصة بهم كالاسم والرقم الوطني لمقدم الشكوى أو في حال استخدامه أي تطبيق آخر، وتوضح ما يلي:</h2>
                    <ul lang="ar" dir="rtl" style="font-size:20px;list-style:circle;text-align:right;margin-right: 8%;line-height: 40px;">

                        <li>	تتخذ الوزارة كافة التدابير والاحتياطات اللازمة لضمان سرية الوثائق والمعلومات والشكاوى المقدمة لها، ويتم تخزين كافة البيانات الشخصية بطريقة آمنة خاضعة لكافة معايير الأمن والسرية.</li>
                        <li>	يتبع هذا الموقع والعاملين فيه سياسة أمن معلومات شاملة وصارمة، ولا يتاح إلا للموظفين المخولين فقط الوصول إلى المعلومات الشخصية التعريفية، وقد تعهد هؤلاء الموظفون بتأمين سرية هذه المعلومات، ولا يستطيع الموظف أن يغير في المعلومات الواردة من المستخدم حفاظاً على أمن المعلومات وسريتها. </li>
                        <li>	يتوجب على كل من يتعامل مع الموقع ادخال بياناته ولا سيما الرقم الوطني ليتمكن من المشاركة بالاستبيانات والاستفادة من خدمات الموقع.</li>
                        <li>	القائمين على الموقع لديهم صلاحيات متعددة ووفق المستويات الادارية تتيح لهم القيام بالدور المناط بهم فقط والدخول للنظام الإلكتروني والتعامل بسرية مع بيانات المستخدم التي وافق على اطلاعنا عليها. </li>
                        <li>	لا نتبادل المعلومات الخاصة بالمستخدمين مع أية جهة حكومية إلا إذا اقتضت الضرورة ذلك (أي بما يتفق مع احتياجات المستخدمين)، كما لا يتم تبادل المعلومات المجمعة مع أية جهة بهدف تحقيق أغراض تجارية.</li>
                        <li>	يتم تغيير لوائح السرية طبقًا للمتطلبات والمقتضيات المستقبلية للموقع، وفي هذه الحالة يتم عرض الشكل المستحدَث للموقع على الصفحة المخصصة للوائح السرية. لذا يرجى التكرم بزيارة هذه الصفحة بانتظام كي تُحاط علماَ بأي تحديث قد يطرأ عليها.</li>

                    </ul>

                </div>
            </section>


        </div>

    </section>




    <!-- Scripts -->
    @*<script src="@Url.Content("~/content/about/assets/js/jquery.min.js")"></script>*@

    <script src="@Url.Content("~/content/about/assets/js/jquery.poptrox.min.js")"></script>
    <script src="@Url.Content("~/content/about/assets/js/skel.min.js")"></script>
    <script src="@Url.Content("~/content/about/assets/js/util.js")"></script>
    <script src="@Url.Content("~/content/about/assets/js/main.js")"></script>


</div>
<script>
    $("#Himayatalserya").css("background-color", "grey");

</script>