﻿@{
    Layout = null;
    var Token = Html.AntiForgeryToken();
}

<head>
    <meta name="viewport" content="width=device-width" />
    <title>الصفحة الرئيسية</title>

    <link rel="apple-touch-icon" sizes="57x57" href="~/FavIcon/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="~/FavIcon/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="~/FavIcon/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="~/FavIcon/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="~/FavIcon/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="~/FavIcon/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="~/FavIcon/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="~/FavIcon/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="~/FavIcon/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192" href="~/FavIcon/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="~/FavIcon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="~/FavIcon/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="~/FavIcon/favicon-16x16.png">
    <link rel="manifest" href="~/FavIcon/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="~/FavIcon/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">

    <link href="@Url.Content("~/Content/Css/font-awesome.min.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/Css/bootstrap.min.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/Css/bootstrap-switch.min.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/vendors/datatables/media/css/dataTables.bootstrap4.min.css")" rel="stylesheet" type="text/css">

    <script src="@Url.Content("~/Scripts/vendors/jquery/jquery.min.js")"></script>
    <script src="@Url.Content("~/Scripts/vendors/tether/dist/js/tether.min.js")"></script>

    <script src="@Url.Content("~/Scripts/vendors/datatables/media/js/jquery.dataTables.min.js")"></script>
    <script src="@Url.Content("~/Scripts/vendors/datatables/media/js/dataTables.bootstrap4.min.js")"></script>
    <script src="@Url.Content("~/Scripts/vendors/datatables-fixedcolumns/js/dataTables.fixedColumns.js")"></script>
    <script src="@Url.Content("~/Scripts/vendors/datatables-responsive/js/dataTables.responsive.js")"></script>
    <script src="@Url.Content("~/Scripts/vendors/bootstrap/dist/js/bootstrap.min.js")"></script>
    <script src="@Url.Content("~/Scripts/bootbox.min.js")"></script>
    <style type="text/css">
        header {
            background-color: #27358A;
            direction: rtl;
            color: white;
            height: 81px;
        }

        .head {
            background-color: #27358A;
            direction: rtl;
            color: white;
            height: 50px;
        }

        .middle {
            display: table-cell;
            vertical-align: middle;
            text-align: center;
        }

        header span {
            cursor: pointer;
        }

        span {
            margin-right: 2%;
        }

        li span {
            cursor: pointer;
        }

        .mainSections {
            width: 180px;
        }

        #KalimatAlRa2isHeader{
            position:absolute;
            right:2%;
            background-repeat: no-repeat !important;
            background-size: 100% 100%;
            text-align:center;
            margin: 1%;
            width:50%;
        }

        body {
            margin: 0;
            font-family: Calibri;
        }

        .vcenter {
            display: inline-block;
            vertical-align: middle;
            float: none;
        }

        hr {
            margin-top: 2px !important;
            margin-bottom: 4px !important;
        }

        table tbody tr {
            height: 40px;
        }

        .odd {
            background-color: #d3d3d3;
        }

        .modal-body {
            text-align: right;
        }

        * {
            box-sizing: border-box;
        }

        .column {
            float: left;
            width: 16%;
            padding: 5px;
        }

        .column1 {
            display: inline-block;
        }

          #test2 {
            background-repeat: no-repeat !important;
            /*height: 45% !important;*/
            /*background-size: 100% 25%;*/
            margin-top: -9% !important;
        }

        /* Clearfix (clear floats) */
        .row::after {
            content: "";
            clear: both;
            display: table;
        }

        #test {
            background-repeat: no-repeat !important;
            background-size: 110% 55%;
            height: 86% !important;
            margin-bottom:-7% !important;
        }

      

        @@media (max-width: 970px) {
            /*#imageContainer {
                display: none;
            }*/

            #imageContainer {
               width:50%;
            }

            #test {
                background-size: 110% 75%;
               /*height: 80% !important;*/
            }
        }

        @@media (max-width: 1000px) {
            #Logo6Div {
                position: inherit !important;
            }
        }
    </style>


</head>


<body style="overflow-x:hidden;margin-left:15%" class="col-md-8">
    <div class="row">
        @Html.Partial("_SharedHeaderTest")

    </div>

    @*<div class="row" style="background-color:rgb(0,44,83);text-align:right;">
        <div style="margin-right:8%;">

            <img style="width:6%;margin-right:2%;" src="@Url.Content("~/images/newdesignpics/Search.png")" class="Markaz"/>

            <img style="width:6%;margin-right:35%;" src="@Url.Content("~/images/newdesignpics/login.png")" class="Markaz"/>

            <img style="width:7%;margin-right:2%;" src="@Url.Content("~/images/newdesignpics/markaz/markazeste3lamat.png")" class="Markaz"/>
            <img style="width:3%;margin-right:2%;" src="@Url.Content("~/images/newdesignpics/markaz/adella.png")" class="Markaz"/>
            <img style="width:4%;margin-right:2%;" src="@Url.Content("~/images/newdesignpics/markaz/dirasat.png")" class="Markaz"/>

            <img style="width:4%;margin-right:2%;" src="@Url.Content("~/images/newdesignpics/markaz/altakarir.png")" class="Markaz"/>
            <img style="width:10%;margin-right:2%;" src="@Url.Content("~/images/newdesignpics/markaz/khadamatalda3emalidari.png")" class="Markaz"/>


            <img style="width:6%" src="@Url.Content("~/images/newdesignpics/hawlalmarkaz.png")" class="Markaz"/>
            

            <img style="width:2%;margin-left:1%;" src="@Url.Content("~/images/newdesignpics/home_icon.png")" class="Markaz"/>
            



        </div>

    </div>*@


    <div class="row">

        

        <div id="imageContainer" class="col-md-5 pull-left" style="position: absolute; padding-top: 20px;">
            
                <img src="@Url.Content("~/images/newdesignpics/markaz/logoaljoumhourya.png")" style="width:65%" />
           

        </div>

        
        <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
            <div style="background-image: url('@Url.Content("~/images/newdesignpics/markaz/kalimatalra2isbackground.png")'" id="KalimatAlRa2isHeader" class="row">
                <img src="@Url.Content("~/images/newdesignpics/markaz/kalimatalrakis.png")" style="width:40%" />
            </div>

            <img src="@Url.Content("~/images/newdesignpics/markaz/bacharpic.png")" style="width: 23%;position: absolute;right: -2%;margin: 5%;" />
            <img src="@Url.Content("~/images/newdesignpics/markaz/paragkalimatalra2is.png")" style="width: 29%;position: absolute;right: 19%;margin: 8%;" />
        </div>

       <!--Before-->
        @*<div style="background-image: url('@Url.Content("~/images/newdesignpics/markaz/kalimatalra2isbackground.png")'" id="KalimatAlRa2isHeader">
            <img src="@Url.Content("~/images/newdesignpics/markaz/kalimatalrakis.png")" style="width:40%" />
        </div>

        <img src="@Url.Content("~/images/newdesignpics/markaz/bacharpic.png")" style="width: 23%;position: absolute;right: 4%;top: 22%;height: 46%;" />
        <img src="@Url.Content("~/images/newdesignpics/markaz/paragkalimatalra2is.png")" style="width: 29%;position: absolute;right: 31%;top: 24%;height: 40%;" />*@
      
               
        <img src="@Url.Content("~/images/newdesignpics/markaz/background2.png")" style="width:100%" />

      
    </div>




    <div class="row" style="text-align:center;margin-top:2%;margin-bottom:2%">
        <img src="@Url.Content("~/images/newdesignpics/markaz/parag1.png")" style="width:70%" />
    </div>


    
    <div class="row" style="text-align:center;">
        <img src="@Url.Content("~/images/newdesignpics/markaz/AlDa3em.png")" style="width:20%;cursor:pointer" id="ManzoumatAlDa3em"/>

        <img src="@Url.Content("~/images/newdesignpics/markaz/Marsad.png")" style="width:20%;cursor:pointer" id="MarsadAlAda2AlIdari"/>

        <img src="@Url.Content("~/images/newdesignpics/markaz/manbarsilatwasel.png")" style="width:20%;cursor:pointer" id="ManbarSilatWasel"/>

     
    </div>
    <div class="row" style="text-align:center;margin-bottom:2%;">
        <img src="@Url.Content("~/images/newdesignpics/markaz/AlHaykalAlWazifi.png")" style="width:20%;cursor:pointer"/>
        <img src="@Url.Content("~/images/newdesignpics/markaz/AlHaykalAlWazifi.png")" style="width:17%;visibility:hidden" />
        <img src="@Url.Content("~/images/newdesignpics/markaz/alhaykalalidari.png")" style="width:20%;cursor:pointer" />
    </div>


    <div class="row" style="text-align:center;margin-bottom:2%;">
        <img src="@Url.Content("~/images/newdesignpics/markaz/takriralada2al7oukoumi.png")" style="width:20%" />
       
    </div>

    <div class="row">

        <div class="col-md-12 col-lg-12" id="test" style="background-image: url('@Url.Content("~/images/newdesignpics/markaz/backgroundalada2al7oukoumi.png")'">
            <div style="background-color:white;width:30%;color:#ffffff;margin-left: 65%;opacity: 0.9;text-align:right;">
                <h1 style="color:black;opacity:1;padding:10px;">رأي المواطن</h1>
            </div>

            <div style="width:55%;margin-right: 23%;text-align:right;border: 2px solid white;padding: 2px;border-radius: 25px;float:right">
                <h1 style="color:#ffffff;opacity:1;">سؤال</h1>
            </div>

            <br />

            <div style="width:40%;margin-right: 23%;text-align:right;border: 2px solid white;padding: 8px;border-radius: 25px;float:right;margin-top:4%;">
                <h1 style="color:#ffffff;opacity:1;">جواب</h1>
            </div>

        </div>

    </div>


    

    @Html.Partial("_Footer")

</body>

<script>


    $("#ManzoumatAlDa3em").click(function () {

        submit_post_via_hidden_form("@Url.Action("Markaz", "Home")", {  NextPageIndex: "106"});

    });

    $("#MarsadAlAda2AlIdari").click(function () {

        submit_post_via_hidden_form("@Url.Action("Marsad", "Home")", {  NextPageIndex: "106"});

    });

    $("#ManbarSilatWasel").click(function () {

        submit_post_via_hidden_form("@Url.Action("Manbar", "Home")", {  NextPageIndex: "106"});

    });

    AddAntiForgeryToken = function (data) {
        data.__RequestVerificationToken = '@Token';
        return data;
    };
    function submit_post_via_hidden_form(url, params) {
        var f = $('<form method="POST"style="display:none;">@Token</form>').attr({
            action: url
        }).appendTo(document.body);

        for (var i in params) {
            if (params.hasOwnProperty(i)) {
                $('<input type="hidden" />').attr({
                    name: i,
                    value: params[i]
                }).appendTo(f);
            }
        }

        f.submit();

        f.remove();
    }

</script>