﻿
@{
    Layout = null;
}

<style type="text/css">

    header{
        background-color:#27358A;
        direction:rtl;
        color:white;
        height:81px;
    }

    .head{
        background-color:#27358A;
        direction:rtl;
        color:white;
        height:50px;
    }

    .middle {
        display: table-cell;
        vertical-align: middle;
        text-align:center;
    }
    
    header span{
        cursor:pointer;
    }

    span{
        margin-right:2%;
    }

    li span{
        cursor:pointer;
    }

    .mainSections{
        width:180px;
    }

    body{
        margin:0;
    }

    .vcenter {
        display: inline-block;
        vertical-align: middle;
        float: none;
    }

</style>

<!DOCTYPE html>

<html>

<head>
    <meta name="viewport" content="width=device-width" />
    <title>الصفحة الرئيسية</title>

    <link rel="apple-touch-icon" sizes="57x57" href="~/FavIcon/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="~/FavIcon/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="~/FavIcon/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="~/FavIcon/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="~/FavIcon/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="~/FavIcon/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="~/FavIcon/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="~/FavIcon/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="~/FavIcon/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192" href="~/FavIcon/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="~/FavIcon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="~/FavIcon/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="~/FavIcon/favicon-16x16.png">
    <link rel="manifest" href="~/FavIcon/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="~/FavIcon/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">

    <link href="@Url.Content("~/Content/Css/font-awesome.min.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/Css/bootstrap.min.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/Css/bootstrap-switch.min.css")" rel="stylesheet" type="text/css" />

</head>

<body style="overflow-x:hidden;">

    @Html.Partial("_SharedHeader")

    <div class="row" style="background-image: url('@Url.Content("~/Images/NewDesign/headerLogo.png")');background-repeat: no-repeat; background-position: center;height:200px;margin-top:81px;"></div>

    <div class="row" style="width:100%;background-color:#F36421;height:1px;"></div>


    <div class="row" style="width:100%;direction:rtl;">
        <div class="col-md-1"></div>

        <div class="col-md-2" style="max-width:53px; height: 35px; background-color:#F36421; float:right; color:white; font-size:1.5rem; padding-top:5px;">
            <div style="text-align:center;margin-top:5px;">
                <span style="font-size:1.4rem;">الأخبار</span>
            </div>
        </div>

        <div class="col-md-9" style="float:right;padding-top: 10px;font-size: 1.4rem;font-weight:  bold;">
            <span style="font-size:1.6rem;">يتم إنشاء هذا الموقع للسماح للمواطنين للوصول إلى و أصواتهم مسموعة ضد الفساد المزيد من النص المزيد من النص المزيد من النص المزيد من النص</span>
        </div>
    </div>

    <div class="row" style="height:10px;"></div>
    
    
    <div class="page-header navbar navbar-fixed" style="background-color:#27358A;direction:rtl;color:white;height:38px;margin:0;">

        <div class="page-header-inner ">

            <div class="top-menu">
                <ul class="nav navbar-nav pull-right col-md-12 vcenter" style="margin-top:0.7%;">

                    <li class="col-md-7 pull-right vcenter">
                        <span style="font-size:1.6rem;">الرئيسية</span>
                        <span>|</span>
                        <span style="font-size:1.6rem;">عن الوزارة</span>
                        <span>|</span>
                        <span style="font-size:1.6rem;">أخبار الوزارة</span>
                        <span>|</span>
                        <span style="font-size:1.6rem;">وحدات التنمية الإدارية</span>
                        <span>|</span>
                        <span style="font-size:1.6rem;">مشاريع الوزارة</span>
                        <span>|</span>
                        <span style="font-size:1.6rem;">الاعتمادية الوطنية</span>
                    </li>

                </ul>
            </div>


        </div>

    </div>

   
    <div class="portlet-body" style="background-color:#E6E7E9;float:left;">

        <div class="col-md-12" style="background-color:#E6E7E9;padding:20px;">

            <div class="clearfix">
                <ul class="media-list">
                    <li class="media">

                        <a class="pull-left" href="javascript:;">
                            <img class="media-object" src="@Url.Content("~/Images/minister.jpg")" alt="Minister">
                        </a>

                        <div class="media-body" style="direction:rtl;">

                            <h2 style="text-align:right;">معلومات عن الموقع</h2>
                            <p style="text-align:right;font-size:1.6rem;">يتم إنشاء هذا الموقع للسماح للمواطنين للوصول إلى و أصواتهم مسموعة ضد الفساد المزيد من النص المزيد من النص المزيد من النص المزيد من النص المزيد من النص</p>

                        </div>

                    </li>
                </ul>
            </div>

        </div>

    </div>

    <div class="row" style="height:5px;float:left;width:102%;"></div>

    <div class="row" style="background-color:#F36421;height:38px;text-align:center;float:left;width:102%;">
        <div style="text-align:center;padding-top: 5px;">
            <span style="color:white;font-size: 2rem;">كن جزءا من مجتمع أفضل إشترك و أطلعنا عن رأيك</span>
        </div>
    </div>
    
    <div class="row" style="background-color:#B9BABD;padding-bottom:10px;">
        <div class="row" style="text-align:center;">
            <div class="col-md-4">
                <img src="@Url.Content("~/Images/NewDesign/alIbda3Al7oukoumi.png")" alt="Minister">
            </div>
            <div class="col-md-4">
                <img style="cursor:pointer;" onclick="location.href='@Url.Action("IndexMarsadNew","Home")';" src="@Url.Content("~/Images/NewDesign/marsadAlAda2AlIdari.png")" alt="Minister">
            </div>
            <div class="col-md-4">
                <img src="@Url.Content("~/Images/NewDesign/silatwasel.png")" alt="Minister">
            </div>
        </div>

        <div class="row" style="text-align:center;">
            <div class="col-md-4">
                <img src="@Url.Content("~/Images/NewDesign/AlKada.png")" alt="Minister">
            </div>
            <div class="col-md-4">
                <img src="@Url.Content("~/Images/NewDesign/KawaderBachariya.png")" alt="Minister">
            </div>
            <div class="col-md-4">
                <img src="@Url.Content("~/Images/NewDesign/AlDa3emAlIdari.png")" alt="Minister">
            </div>
        </div>
    </div>

    <div class="row" style="height:5px;width:102%;"></div>

    <div class="row" style="background-color:#F36421;height:38px;text-align:center;width:102%;">
        <div style="text-align:center;padding-top: 5px;">
            <span style="color:white;font-size: 2rem;">كن جزءا من مجتمع أفضل إشترك و أطلعنا عن رأيك</span>
        </div>
    </div>

    @Html.Partial("_SharedScoringResults")

    <div class="col-md-12" style="background-color:#F36421;height:38px;text-align:center;">
        <div style="text-align:center;padding-top: 10px;">
        </div>
    </div>

    <footer>

    </footer>

</body>

</html>
