﻿@{
    Layout = null;
    ViewBag.Title = "Home Page";
}

<html style="height: 100%">
<head>
    <style type="text/css">

        [ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak, .ng-hide:not(.ng-hide-animate) {
            display: none !important;
        }

        ng\:form {
            display: block;
        }

        .ng-animate-shim {
            visibility: hidden;
        }

        .ng-anchor {
            position: absolute;
        }
        
    </style>

    <meta charset="utf-8">

    <title>منبر صلة وصل</title>
    <meta name="description" content="A stylish and contemporary landing page ready to shine a light on your academic institution. Add text to highlight your school’s unique features and upload images to offer a glimpse of your campus experience. Create a customized website that will set your college or university apart.">
    <meta name="author" content="Wixpress">
    <meta http-equiv="content-language" content="en">
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta property="og:title" content="منبر صلة وصل">
    <meta property="og:type" content="website">
    <meta property="og:image" content="//static.wixstatic.com/media/7e964135d0a447a28b23e529345b70e3.jpg">
    <meta property="og:description" content="A stylish and contemporary landing page ready to shine a light on your academic institution. Add text to highlight your school’s unique features and upload images to offer a glimpse of your campus experience. Create a customized website that will set your college or university apart.">
    <meta property="fb:admins" content="731184828">
    <meta name="fb:app_id" content="236335823061286">
    <meta name="google-site-verification" content="QXhlrY-V2PWOmnGUb8no0L-fKzG48uJ5ozW0ukU7Rpo">

    <!--CSS-->
    <link href="~/content/fonts/reset.css" rel="stylesheet" type="text/css" />
    <link href="~/content/fonts/fonts.css" rel="stylesheet" type="text/css" />
    <link href="~/content/fonts/fontface.css" rel="stylesheet" type="text/css" />
    <link href="~/content/fonts/template_viewer.css" rel="stylesheet" type="text/css" />
    @*<link rel="stylesheet" type="text/css" href="Portal%20Landing_files/reset.css">*@
    @*<link rel="stylesheet" type="text/css" href="Portal%20Landing_files/fonts.css">*@
    @*<link rel="stylesheet" type="text/css" href="Portal%20Landing_files/fontFace.css">*@
    @*<link rel="stylesheet" type="text/css" href="Portal%20Landing_files/template_viewer.css">*@

    <!--[if lte IE 9]>
    <link rel="stylesheet" type="text/css" href="//static.parastorage.com/services/wix-html-template-viewer/1.1019.0/css/ie9-and-down.css"/>
    <![endif]-->
    @*<script src="~/scripts/moadscripts/loadall.js" type="text/javascript"></script>*@

    <style type="text/css">
        .fb_hidden {
            position: absolute;
            top: -10000px;
            z-index: 10001;
        }

        .fb_reposition {
            overflow: hidden;
            position: relative;
        }

        .fb_invisible {
            display: none;
        }

        .fb_reset {
            background: none;
            border: 0;
            border-spacing: 0;
            color: #000;
            cursor: auto;
            direction: ltr;
            font-family: "lucida grande", tahoma, verdana, arial, sans-serif;
            font-size: 11px;
            font-style: normal;
            font-variant: normal;
            font-weight: normal;
            letter-spacing: normal;
            line-height: 1;
            margin: 0;
            overflow: visible;
            padding: 0;
            text-align: left;
            text-decoration: none;
            text-indent: 0;
            text-shadow: none;
            text-transform: none;
            visibility: visible;
            white-space: normal;
            word-spacing: normal;
        }

            .fb_reset > div {
                overflow: hidden;
            }

        .fb_link img {
            border: none;
        }

        fb_transform {
            from;

        {
            opacity: 0;
            transform: scale(.95);
        }

        to {
            opacity: 1;
            transform: scale(1);
        }

        }

        .fb_animate {
            animation: fb_transform .3s forwards;
        }

        .fb_dialog {
            background: rgba(82, 82, 82, .7);
            position: absolute;
            top: -10000px;
            z-index: 10001;
        }

        .fb_reset .fb_dialog_legacy {
            overflow: visible;
        }

        .fb_dialog_advanced {
            padding: 10px;
            -moz-border-radius: 8px;
            -webkit-border-radius: 8px;
            border-radius: 8px;
        }

        .fb_dialog_content {
            background: #fff;
            color: #333;
        }

        .fb_dialog_close_icon {
            cursor: pointer;
            display: block;
            height: 15px;
            position: absolute;
            right: 18px;
            top: 17px;
            width: 15px;
        }

        .fb_dialog_mobile .fb_dialog_close_icon {
            top: 5px;
            left: 5px;
            right: auto;
        }

        .fb_dialog_padding {
            background-color: transparent;
            position: absolute;
            width: 1px;
            z-index: -1;
        }

        .fb_dialog_loader {
            background-color: #f6f7f9;
            border: 1px solid #606060;
            font-size: 24px;
            padding: 20px;
        }

        .fb_dialog_top_left, .fb_dialog_top_right, .fb_dialog_bottom_left, .fb_dialog_bottom_right {
            height: 10px;
            width: 10px;
            overflow: hidden;
            position: absolute;
        }

        .fb_dialog_top_left {
            left: -10px;
            top: -10px;
        }

        .fb_dialog_top_right {
            right: -10px;
            top: -10px;
        }

        .fb_dialog_bottom_left {
            bottom: -10px;
            left: -10px;
        }

        .fb_dialog_bottom_right {
            right: -10px;
            bottom: -10px;
        }

        .fb_dialog_vert_left, .fb_dialog_vert_right, .fb_dialog_horiz_top, .fb_dialog_horiz_bottom {
            position: absolute;
            background: #525252;
            filter: alpha(opacity=70);
            opacity: .7;
        }

        .fb_dialog_vert_left, .fb_dialog_vert_right {
            width: 10px;
            height: 100%;
        }

        .fb_dialog_vert_left {
            margin-left: -10px;
        }

        .fb_dialog_vert_right {
            right: 0;
            margin-right: -10px;
        }

        .fb_dialog_horiz_top, .fb_dialog_horiz_bottom {
            width: 100%;
            height: 10px;
        }

        .fb_dialog_horiz_top {
            margin-top: -10px;
        }

        .fb_dialog_horiz_bottom {
            bottom: 0;
            margin-bottom: -10px;
        }

        .fb_dialog_iframe {
            line-height: 0;
        }

        .fb_dialog_content .dialog_title {
            background: #6d84b4;
            border: 1px solid #365899;
            color: #fff;
            font-size: 14px;
            font-weight: bold;
            margin: 0;
        }

            .fb_dialog_content .dialog_title > span {
                float: left;
                padding: 5px 0 7px 26px;
            }

        body.fb_hidden {
            -webkit-transform: none;
            height: 100%;
            margin: 0;
            overflow: visible;
            position: absolute;
            top: -10000px;
            left: 0;
            width: 100%;
        }

        .fb_dialog.fb_dialog_mobile.loading {
            min-height: 100%;
            min-width: 100%;
            overflow: hidden;
            position: absolute;
            top: 0;
            z-index: 10001;
        }

            .fb_dialog.fb_dialog_mobile.loading.centered {
                width: auto;
                height: auto;
                min-height: initial;
                min-width: initial;
                background: none;
            }

                .fb_dialog.fb_dialog_mobile.loading.centered #fb_dialog_loader_spinner {
                    width: 100%;
                }

                .fb_dialog.fb_dialog_mobile.loading.centered .fb_dialog_content {
                    background: none;
                }

        .loading.centered #fb_dialog_loader_close {
            color: #fff;
            display: block;
            padding-top: 20px;
            clear: both;
            font-size: 18px;
        }

        #fb-root #fb_dialog_ipad_overlay {
            background: rgba(0, 0, 0, .45);
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
            top: 0;
            width: 100%;
            min-height: 100%;
            z-index: 10000;
        }

            #fb-root #fb_dialog_ipad_overlay.hidden {
                display: none;
            }

        .fb_dialog.fb_dialog_mobile.loading iframe {
            visibility: hidden;
        }

        .fb_dialog_content .dialog_header {
            -webkit-box-shadow: white 0 1px 1px -1px inset;
            background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#738ABA), to(#2C4987));
            border-bottom: 1px solid;
            border-color: #1d4088;
            color: #fff;
            font: 14px Helvetica, sans-serif;
            font-weight: bold;
            text-overflow: ellipsis;
            text-shadow: rgba(0, 30, 84, .296875) 0 -1px 0;
            vertical-align: middle;
            white-space: nowrap;
        }

            .fb_dialog_content .dialog_header table {
                -webkit-font-smoothing: subpixel-antialiased;
                height: 43px;
                width: 100%;
            }

            .fb_dialog_content .dialog_header td.header_left {
                font-size: 12px;
                padding-left: 5px;
                vertical-align: middle;
                width: 60px;
            }

            .fb_dialog_content .dialog_header td.header_right {
                font-size: 12px;
                padding-right: 5px;
                vertical-align: middle;
                width: 60px;
            }

        .fb_dialog_content .touchable_button {
            background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#4966A6), color-stop(.5, #355492), to(#2A4887));
            border: 1px solid #29487d;
            -webkit-background-clip: padding-box;
            -webkit-border-radius: 3px;
            -webkit-box-shadow: rgba(0, 0, 0, .117188) 0 1px 1px inset, rgba(255, 255, 255, .167969) 0 1px 0;
            display: inline-block;
            margin-top: 3px;
            max-width: 85px;
            line-height: 18px;
            padding: 4px 12px;
            position: relative;
        }

        .fb_dialog_content .dialog_header .touchable_button input {
            border: none;
            background: none;
            color: #fff;
            font: 12px Helvetica, sans-serif;
            font-weight: bold;
            margin: 2px -12px;
            padding: 2px 6px 3px 6px;
            text-shadow: rgba(0, 30, 84, .296875) 0 -1px 0;
        }

        .fb_dialog_content .dialog_header .header_center {
            color: #fff;
            font-size: 16px;
            font-weight: bold;
            line-height: 18px;
            text-align: center;
            vertical-align: middle;
        }

        .fb_dialog_content .dialog_content {
            border: 1px solid #555;
            border-bottom: 0;
            border-top: 0;
            height: 150px;
        }

        .fb_dialog_content .dialog_footer {
            background: #f6f7f9;
            border: 1px solid #555;
            border-top-color: #ccc;
            height: 40px;
        }

        #fb_dialog_loader_close {
            float: left;
        }

        .fb_dialog.fb_dialog_mobile .fb_dialog_close_button {
            text-shadow: rgba(0, 30, 84, .296875) 0 -1px 0;
        }

        .fb_dialog.fb_dialog_mobile .fb_dialog_close_icon {
            visibility: hidden;
        }

        #fb_dialog_loader_spinner {
            animation: rotateSpinner 1.2s linear infinite;
            background-color: transparent;
            background-repeat: no-repeat;
            background-position: 50% 50%;
            height: 24px;
            width: 24px;
        }

        rotateSpinner {
            0%;

        {
            transform: rotate(0deg);
        }

        100% {
            transform: rotate(360deg);
        }

        }

        .fb_iframe_widget {
            display: inline-block;
            position: relative;
        }

            .fb_iframe_widget span {
                display: inline-block;
                position: relative;
                text-align: justify;
            }

            .fb_iframe_widget iframe {
                position: absolute;
            }

        .fb_iframe_widget_fluid_desktop, .fb_iframe_widget_fluid_desktop span, .fb_iframe_widget_fluid_desktop iframe {
            max-width: 100%;
        }

            .fb_iframe_widget_fluid_desktop iframe {
                min-width: 220px;
                position: relative;
            }

        .fb_iframe_widget_lift {
            z-index: 1;
        }

        .fb_hide_iframes iframe {
            position: relative;
            left: -10000px;
        }

        .fb_iframe_widget_loader {
            position: relative;
            display: inline-block;
        }

        .fb_iframe_widget_fluid {
            display: inline;
        }

            .fb_iframe_widget_fluid span {
                width: 100%;
            }

        .fb_iframe_widget_loader iframe {
            min-height: 32px;
            z-index: 2;
            zoom: 1;
        }

        .fb_iframe_widget_loader .FB_Loader {
            height: 32px;
            width: 32px;
            margin-left: -16px;
            position: absolute;
            left: 50%;
            z-index: 4;
        }
    </style>

    <script src="~/scripts/moadscripts/a.js"></script>
    @*<link rel="stylesheet" type="text/css" href="Portal%20Landing_files/dashboard-banner-indi-widget.css">*@
    <link href="~/content/fonts/dashboard-banner-indi-widget.css" rel="stylesheet" type="text/css" />
</head>

<body style="height: 100%; overflow: hidden;" lang="en">

    <!-- Google Tag Manager -->
    <noscript>
        <iframe src="//www.googletagmanager.com/ns.html?id=GTM-MDD5C4" height="0" width="0" style="display:none;visibility:hidden"></iframe>
    </noscript>

    @*<iframe style="display: none; visibility: hidden;" src="~/views/home/activityi.html" width="0" height="0"></iframe><iframe style="display: none; visibility: hidden;" src="~/views/home/activityi_002.html" width="0" height="0"></iframe>*@
    @*<script src="~/scripts/moadscripts/fbevents.js" async=""></script>*@
    <script src="~/scripts/moadscripts/conversion_async.js" type="text/javascript"></script>
    <script src="~/scripts/moadscripts/analytics.js" type="text/javascript" async=""></script>
    @*<script src="~/scripts/moadscripts/scripts_002.js"></script>*@
    @*<script src="~/scripts/moadscripts/cbgapi.js" async=""></script>*@
    <script src="~/scripts/moadscripts/dc.js" type="text/javascript" async=""></script>
    <script src="~/scripts/moadscripts/plusone.js" type="text/javascript" async="" gapi_processed="true"></script>
    <script src="~/scripts/moadscripts/all.js" id="facebook-jssdk"></script>
    <script src="~/scripts/moadscripts/gtm.js" async=""></script>
    
    <script>

        (function (w, d, s, l, i) {

            w[l] = w[l] || []; w[l].push(
                { 'gtm.start': new Date().getTime(), event: 'gtm.js' }
                );

            var f = d.getElementsByTagName(s)[0],
                j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : ''; j.async = true; j.src =
                    '//www.googletagmanager.com/gtm.js?id=' + i + dl; f.parentNode.insertBefore(j, f);

        })(window, document, 'script', 'dataLayer', 'GTM-MDD5C4');

    </script>

    <script type="text/javascript">

        var analytics = { "staging": false, "code": "UA-2117194-1", "domain": "wix.com" };
        var openAsTab = true;

        //Storing dynamic text for responsive design
        var headerTxt = {};
        headerTxt.editButtonSmall = 'Edit';
        headerTxt.mainHeaderSmall = 'Create your own amazing website';

    </script>
    
    <!-- FACEBOOK CODE API-->
    <div id="fb-root" class=" fb_reset"><div style="position: absolute; top: -10000px; height: 0px; width: 0px;"><div>
        @*<iframe name="fb_xdm_frame_https" allowtransparency="true" allowfullscreen="true" scrolling="no" id="fb_xdm_frame_https" aria-hidden="true" title="Facebook Cross Domain Communication Frame" tabindex="-1" style="border: medium none;" src="Portal%20Landing_files/BbnCpbXY9X8.html" frameborder="0"></iframe>*@
        </div>
        </div>
    <div style="position: absolute; top: -10000px; height: 0px; width: 0px;"><div></div></div></div>
    
    <script>

        /* Facebook Like Button*/
        (function (d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) return;
            js = d.createElement(s);
            js.id = id;
            js.src = "//connect.facebook.net/en_US/all.js#xfbml=1";
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));

        /*Google+ */
        (function () {
            var po = document.createElement('script');
            po.type = 'text/javascript';
            po.async = true;
            po.src = 'https://apis.google.com/js/plusone.js';
            var s = document.getElementsByTagName('script')[0];
            s.parentNode.insertBefore(po, s);
        })();

    </script>

    <!-- End of FACEBOOK CODE -->
    <div id="container" class="template_viewer" style="height: 100%;">

        <!-- End of #Header-->
        <div id="headerShadows">
            <div class="rightShadow"></div>
            <div class="leftShadow"></div>
        </div>
        <!-- End of #HeaderShadows-->
        <div class="contentWrapper" style="height: calc(100% - 46px);">
            <div class="preview-tab preview-tab-desktop" style="height: 978px;">
                <iframe src="@Url.Action("universitylp", "Home")" width="100%" height="100%"></iframe>
            </div>

            <!--</div>--><!-- End of .content-->
        </div>
        <!-- End of .contentWrapper-->
        <div id="dialog-overlay"></div>
        <div id="dialog-box">
            <a id="close-pop-up-button" href="#">Close Pop Up Button</a>
            <div class="dialog-content">
                <h1 class="dialog-title">منبر صلة وصل</h1>
                <div class="leftColumn">
                    <h3>Good For:</h3>
                    <div id="dialog-good-for">Colleges, universities, schools, and other academic institutions</div>
                    <h3>Description:</h3>
                    <div id="dialog-description" itemprop="description">
                        A
                        stylish and contemporary landing page ready to shine a light on your
                        academic institution. Add text to highlight your school’s unique
                        features and upload images to offer a glimpse of your campus experience.
                        Create a customized website that will set your college or university
                        apart.
                    </div>
                </div>
                @*<div class="rightColumn">
                    <span>
                        <h3>Difficulty:&nbsp;</h3>
                        <div id="dialog-difficulty" itemprop="difficulty">Medium</div>
                    </span>
                    <span itemprop="offers" itemscope="" itemtype="http://schema.org/Offer">
                        <h3>Price:&nbsp;</h3>
                        <div id="dialog-price" itemprop="price">Free</div>
                        <link itemprop="availability" href="http://schema.org/InStock">
                    </span>
                    <a href="#" id="dialog-edit-now">Edit now</a>
                </div>*@
                <div class="clearBoth">&nbsp;</div>
            </div>
            <div class="dialog-box-shadows">
                <div class="leftShadow"></div>
                <div class="rightShadow"></div>
            </div>
        </div>
        <!-- End of #dialog-box-->
    </div>
    <!-- End of #container-->
    <!--Scripts after page loads-->
    <script src="~/scripts/moadscripts/jquery.js" type="text/javascript"></script>
    <script src="~/scripts/moadscripts/custom-scrollbar.js" type="text/javascript"></script>
    <script src="~/scripts/moadscripts/common.js" type="text/javascript"></script>
    @*<script src="~/scripts/moadscripts/template_viewer.js" type="text/javascript"></script>*@

    <div style="visibility: hidden">
        view_template_v.vm
    </div>


    @*<script src="~/views/home/loadScript.html" type="application/javascript"></script>*@

    <script type="text/javascript" id="">

        function setCookie(a, d, b) {
            var c = new Date;
            c.setTime(c.getTime() + 864E5 * b);
            b = "; expires\x3d" + c.toGMTString();
            document.cookie = a + "\x3d" + d + b
        }

        function getParam(a) {
            return (a = RegExp("[?\x26]" + a + "\x3d([^\x26]*)").exec(window.location.search)) && decodeURIComponent(a[1].replace(/\+/g, " "))
        }

        var gclid = getParam("gclid");

        if (gclid) {
            var gclsrc = getParam("gclsrc");
            gclsrc && -1 === gclsrc.indexOf("aw") || setCookie("gclid", gclid, 90)
        };

    </script>

    @*<script src="~/scripts/moadscripts/scripts.js" type="text/javascript"></script>*@
    
    @*<script type="text/javascript" id="">
        "undefined" === typeof fbq && !function (b, d, c, e, a, f, g) { b.fbq || (a = b.fbq = function () { a.callMethod ? a.callMethod.apply(a, arguments) : a.queue.push(arguments) }, b._fbq || (b._fbq = a), a.push = a, a.loaded = !0, a.version = "2.0", a.queue = [], f = d.createElement(c), f.async = !0, f.src = e, g = d.getElementsByTagName(c)[0], g.parentNode.insertBefore(f, g)) }(window, document, "script", "//connect.facebook.net/en_US/fbevents.js");
        (function (b) { var d = 432E5, c = parseInt(localStorage.getItem(b)), e = Date.now(); if (!c || e - c >= d) fbq("init", "704136006388169"), fbq("track", "PageView"), localStorage.setItem(b, e) })("facebookAllPagesPixelLastTime");
    </script>*@
    
    <script>

        function randomUUID() {
            var s = [], itoh = '0123456789ABCDEF';
            for (var i = 0; i < 36; i++) s[i] = Math.floor(Math.random() * 0x10);
            s[14] = 4;
            s[19] = (s[19] & 0x3) | 0x8;
            for (var i = 0; i < 36; i++) s[i] = itoh[s[i]];
            s[8] = s[13] = s[18] = s[23] = '-';
            return s.join('');
        }

        //dealerLoaderApi = new DealerLoaderApi();

        //dealerLoaderApi.loadDealer(
        //    {
        //        bannerLocation: 'TEMPLATE_VIEWER', dealerOptions: {
        //            editorSessionId: randomUUID()
        //                , siteId: '0dcd76ec-0243-44a6-8e2e-e78bc991b6ff'
        //                , metaSiteId: 'd7925b50-8841-41de-8462-0bb2c08217c3'
        //        }
        //    });

    </script>
    
    <div ng-app="dealerCmsLoaderApp" class="ng-scope">
        <dealer-cms-loader meta-site-id="" dealer-options="{&quot;editorSessionId&quot;:&quot;4499B5AB-E8D8-49AF-9DBB-C4E7ECCB481D&quot;,&quot;siteId&quot;:&quot;0dcd76ec-0243-44a6-8e2e-e78bc991b6ff&quot;,&quot;metaSiteId&quot;:&quot;d7925b50-8841-41de-8462-0bb2c08217c3&quot;}" banner-location="TEMPLATE_VIEWER" class="ng-isolate-scope">
            <!-- ngIf: $ctrl.isReady -->
            <div ng-if="$ctrl.isReady" data-hook="widget-loader-outer" class="ng-scope">
                <ng-widget data-hook="widget-loader" options="$ctrl.options" src="'dealerCmsViewerApp'" class="ng-isolate-scope">
                    <dealer-cms-viewer-app class="ng-scope ng-isolate-scope">
                        <!-- ngIf: $ctrl.shouldShowBanner() -->
                    </dealer-cms-viewer-app>
                </ng-widget>
            </div><!-- end ngIf: $ctrl.isReady -->
        </dealer-cms-loader>
    </div>

    @*<iframe name="oauth2relay722454003" id="oauth2relay722454003" src="~/views/home/postmessagerelay.html" style="width: 1px; height: 1px; position: absolute; top: -100px;" tabindex="-1" aria-hidden="true"></iframe>*@

</body>
</html>

