﻿@using MoAD.DataObjects.EDMX

@{
    ViewBag.Title = "InitialPage";
    Layout = "~/views/shared/_layoutinitialpage.cshtml";
}

<style>
    .page-content-inner {
    padding-top: 0px!important;
}
</style>

<div class="panel">
<div class="panel-body">
            <div class="margin-bottom-50">
                <div class="pricing-table">
                    <div class="pricing-item">
                        <div class="pricing-header">
                            <div class="pricing-title"> سوا لمكافحةالفساد </div>
                        </div>
                        <ul class="pricing-features" dir="rtl">
                            <li> سوا لمكافحة <strong>الفساد</strong></li>
                            <li> لمساعدتنا على مكافحة <strong>الفساد</strong></li>
                            <li> الرجاء  <strong>الضغط</strong></li>
                            <li> على  <strong>الزر</strong></li>
                            <li> الموجود <strong>أدناه</strong></li>
                        </ul>
                        <div class="pricing-footer">
                            <a class="btn btn-primary btn-lg formButtonFasad" role="button" dir="rtl"  data-FormType="@ViewBag.FormTemplateTypeResult[1]">
                                <i class="fa fa-pencil fa-fw font-size-16 margin-left-10" aria-hidden="true"></i>
                                إملأ الإستمارة
                            </a>
                        </div>
                    </div>
                    <div class="pricing-item pricing-item-featured pricing-item-primary">
                        <div class="pricing-header">
                            <div class="pricing-title">رضا المواطن</div>
                        </div>
                        <ul class="pricing-features" dir="rtl">
                            <li> رضا <strong>المواطن</strong></li>
                            <li> لمساعدتنا على إرضاء <strong>المواطن</strong></li>
                            <li> الرجاء  <strong>الضغط</strong></li>
                            <li> على  <strong>الزر</strong></li>
                            <li> الموجود <strong>أدناه</strong></li>
                        </ul>

                        <div class="pricing-footer" >
                            <a class="btn btn-primary-outline btn-lg formButton" role="button" dir="rtl"  data-FormType="@ViewBag.FormTemplateTypeResult[0]">
                                <i class="fa fa-pencil fa-fw font-size-16 margin-left-10" aria-hidden="true"></i>
                                إملأ الإستمارة
                            </a>
                        </div>

                    </div>
                    <div class="pricing-item">
                        <div class="pricing-header">
                            <div class="pricing-title">رضا الموظف</div>
                        </div>
                        <ul class="pricing-features" dir="rtl">
                            <li> رضا <strong>الموظف</strong></li>
                            <li> لمساعدتنا على إرضاء <strong>الموظف</strong></li>
                            <li> الرجاء  <strong>الضغط</strong></li>
                            <li> على  <strong>الزر</strong></li>
                            <li> الموجود <strong>أدناه</strong></li>
                        </ul>

                        @if (!User.IsInRole("Employee"))
                        {
                            <div class="pricing-footer" dir="rtl">
                                <a class="btn btn-primary btn-lg formButton" role="button" data-FormType="@ViewBag.FormTemplateTypeResult[2]" disabled>
                                    <i class="fa fa-pencil fa-fw font-size-16 margin-left-10" aria-hidden="true"></i>
                                    إملأ الإستمارة
                                </a>
                            </div>
                        }
                        else
                        {
                            <div class="pricing-footer" dir="rtl">
                                <a class="btn btn-primary btn-lg formButton" role="button" data-FormType="@ViewBag.FormTemplateTypeResult[2]">
                                    <i class="fa fa-pencil fa-fw font-size-16 margin-left-10" aria-hidden="true"></i>
                                    إملأ الإستمارة
                                </a>
                            </div>
                        }

                    </div>
                    <div class="pricing-item pricing-item-default">
                        <div class="pricing-header">
                            <div class="pricing-title souboutyat">معاً لثبوتيات أقل</div>
                        </div>
                        <ul class="pricing-features" dir="rtl">
                            <li> معاً <strong>لثبوتيات أقل</strong></li>
                            <li> لمساعدتنا على تقليل  <strong>الثبوتيات</strong></li>
                            <li> الرجاء  <strong>الضغط</strong></li>
                            <li> على  <strong>الزر</strong></li>
                            <li> الموجود <strong>أدناه</strong></li>
                        </ul>
                        <div class="pricing-footer">
                            <a class="btn btn-default-outline btn-lg formButton" role="button" dir="rtl" disabled="disabled" data-FormType="@ViewBag.FormTemplateTypeResult[3]">
                                <i class="fa fa-pencil fa-fw font-size-16 margin-left-10" aria-hidden="true"></i>
                                إملأ الإستمارة
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>