﻿@using MoAD.DataObjects.EDMX
@using Microsoft.AspNet.Identity;

@{
    ViewBag.Title = "Home Page";
    Layout = "~/views/home/pageshared.cshtml";
    Dictionary<string, List<GetFormTemplate_Result>> Survey = ViewBag.Survey;
    List<GetUserSurveyAnswer_Result> userInfoSurvey = ViewBag.GetAnswers;
}




<!DOCTYPE html>
<html>
<head>
    <title> الصفحة الرئيسية</title>
    <link href="@Url.Content("~/Content/page3.css")" rel="stylesheet" />
    @*<link href="~/Content/Page1.css" rel="stylesheet" />*@
    <link href="@Url.Content("~/assets/surveycomponent/survey.css")" rel="stylesheet" />
    
    <style>
        h1 {
            font-size: 25px;
            text-align: left;
            text-transform: capitalize;
        }

        .service-box {
            height: 100%;
            position: relative;
            overflow: hidden;
            margin-bottom: 10px;
            perspective: 1000px;
            -webkit-perspective: 1000px;
        }

        .service-icon {
            width: 100%;
            height: 220px;
            padding: 80px;
            text-align: center;
            transition: all .5s ease;
        }

        .service-content {
            position: absolute;
            top: 0;
            left: 0;
            z-index: 1;
            opacity: 0;
            width: 100%;
            height: 220px;
            padding: 20px;
            text-align: center;
            transition: all .5s ease;
            background-color: #474747;
            backface-visibility: hidden;
            transform-style: preserve-3d;
            -webkit-transform: translateY(110px) rotateX(-90deg);
            -moz-transform: translateY(110px) rotateX(-90deg);
            -ms-transform: translateY(110px) rotateX(-90deg);
            -o-transform: translateY(110px) rotateX(-90deg);
            transform: translateY(110px) rotateX(-90deg);
        }

        .service-box .service-icon .front-content {
            position: relative;
            top: 80px;
            -webkit-transform: translateY(-50%);
            -moz-transform: translateY(-50%);
            -ms-transform: translateY(-50%);
            -o-transform: translateY(-50%);
            transform: translateY(-50%);
        }

            .service-box .service-icon .front-content i {
                font-size: 28px;
                color: #fff;
                font-weight: normal;
            }

            .service-box .service-icon .front-content h3 {
                font-size: 18px;
                color: #fff;
                text-align: center;
                margin-bottom: 15px;
                text-transform: uppercase;
            }

        .service-box .service-content h3 {
            font-size: 18px;
            font-weight: 700;
            color: #fff;
            margin-bottom: 10px;
            text-transform: uppercase;
        }

        .service-box .service-content p {
            font-size: 13px;
            color: #b1b1b1;
            margin: 0;
        }

        .yellow {
            background-color: #ffc000;
        }

        .orange {
            background-color: #fc7f0c;
        }

        .red {
            background-color: #e84b3a;
        }

        .grey {
            background-color: #474747;
        }

        .service-box:hover .service-icon {
            opacity: 0;
            -webkit-transform: translateY(-110px) rotateX(90deg);
            -moz-transform: translateY(-110px) rotateX(90deg);
            -ms-transform: translateY(-110px) rotateX(90deg);
            -o-transform: translateY(-110px) rotateX(90deg);
            transform: translateY(-110px) rotateX(90deg);
        }

        .service-box:hover .service-content {
            opacity: 1;
            -webkit-transform: rotateX(0);
            -moz-transform: rotateX(0);
            -ms-transform: rotateX(0);
            -o-transform: rotateX(0);
            transform: rotateX(0);
        }





        @@media only screen and (max-width: 750px) {
            .text-block1 {
                margin-top: 1% !important;
            }
        }


        @@media only screen and (max-width: 845px) {
            .service-box .service-content h3 {
                font-size: 10px;
            }
        }


        @@media only screen and (max-width: 928px) {
            .box1 p {
                font-size: 22px !important;
            }

            #chareknaRa2yak {
                font-size: 16px;
            }

            .ImageEstetla3 {
                width: 60%;
            }
        }






        .footertitles {
            font-size: 1.5vw;
        }

        .footerinfo {
            font-size: 1.2vw;
        }

        @@media (max-width: 1100px) {
            .footertitles {
                font-size: 2.2vw;
            }

            .footerinfo {
                font-size: 2.2vw;
            }
        }

        @@media (max-width: 645px) {
            #TakarirAda2 {
                margin-top: -16%;
            }

            #TakarirAda2Hover {
                margin-top: -16%;
            }
        }

        @@media (max-width: 600px) {
            .footertitles {
                font-size: 5vw;
            }

            .footerinfo {
                font-size: 2.2vw;
            }
        }

        /*@@media (max-width: 600px) {
                #takrirText {
                    font-size: 10px!important;
                }


            }*/



        .imgft {
            cursor: pointer;
        }
    </style>

</head>

<div class="modal fade in" id="feedbackmodal" tabindex="-1" aria-hidden="true" style="display: none; padding-right: 17px;">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 style="text-align:right;" class="modal-title"> شاركنا....رأيك </h4>
            </div>
            <div class="row" style="text-align:center">
                <div class="col-lg-4" style="text-align:center">
                    <figure>
                        <img style="cursor:pointer" onclick="feedback('راضي')" src="@Url.Content("~/Images/FeedbackIcons/smiley.png")" alt="" />
                        <figcaption style="font-size:20px;color:#53b553">نعم</figcaption>
                    </figure>
                </div>
                <div class="col-lg-4" style="text-align:center">
                    <figure>
                        <img style="cursor:pointer" onclick="feedback('حيادي')" src="@Url.Content("~/Images/FeedbackIcons/neutral.png")" alt="" />
                        <figcaption style="font-size:20px;color:orange">حيادي</figcaption>
                    </figure>
                </div>
                <div class="col-lg-4" style="text-align:center">
                    <figure>
                        <img style="cursor:pointer" onclick="feedback('غير راضي')" src="@Url.Content("~/Images/FeedbackIcons/sad.png")" alt="" />
                        <figcaption style="font-size:20px;color:red">لا </figcaption>
                    </figure>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn dark btn-outline" data-dismiss="modal">إغلاق</button>
                @*<button type="button" id="gotachakwa" class="btn green">إملأ الشكوى  </button>*@
            </div>
        </div>
    </div>
</div>

<div class="Body" style="overflow-x:hidden;filter: blur(25px);transition: filter 2s;-webkit-transition: filter 2s;">

    <header></header>

    <div class="container-fluid">

        <div class="row">

            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 imgbar">

                <div class="col-xs-4 col-sm-4  col-md-4 col-lg-4 imgbar1">

                    <img src="@Url.Content("~/Imag/LogoAlJoumhourya.png")" class="imgbar1-1" />

                </div>
                <div class="col-xs-1 col-sm-1  col-md-1 col-lg-1 rowemptyON">

                </div>

                <div class="col-xs-12 col-sm-7 col-md-7 col-lg-7  ">
                    <div class="row">
                        <div class="row">
                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 formobile" id="img1">
                                <img src="@Url.Content("~/Imag/LogoAlJoumhourya.png")" class="imgbar1-1" />
                            </div>
                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 imgbar01">
                                <h1>الكلمة التوجيهية للسيد الرئيس</h1>
                            </div>

                        </div>

                        <div class="row">

                            @*<div class="col-xs-2 col-sm-2  col-md-2 col-lg-2 rowemptyON ">

                                </div>*@

                            <div class="col-xs-12 col-sm-7 col-md-7 col-lg-7 imgbar2 ">
                                <video autoplay loop id="KalimaVideo" class="col-xs-12 col-sm-7 col-md-7 col-lg-7" style="position:absolute;width:100%;z-index:1;display:none">
                                    <source src="@Url.Content("~/images/pbvideo/المقطع الأول - إطلاق المشروع.mp4")" type="video/mp4" />
                                </video>

                                <p style="line-height: 2.0;">
                                    ما الذي يجعل عملنا أكثر إنتاجاً

                                    نعمل بجد وبطاقة كاملة؟ إنه نظام العالم

                                    الواحد الذي يؤطر عمل المؤسسات، فعندها نضع كل



                                    هذه الجهود في إطار منهجي منظم عندها تصبح النتائج

                                    أكثر فعالية على الأرض

                                </p>
                            </div>
                            <div class="col-xs-12 col-sm-5 col-md-5 col-lg-5 imgbar3 " style="cursor:pointer;" id="KalimaPicDiv">

                            </div>

                        </div>

                    </div>

                </div>

            </div>

        </div>

        <div class="container">

            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 Line"></div>
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 box">
                    <p style="line-height:2.0">
                        @*عندما نصدر جزأ من القوانين أو التشريعات أو الإجراءت المطلوبة لعمل واحد، فلا نحقق النتيجة، وعندما نصدرها بتسلسل
                            خاطئ، لانحقق النتيجة أيضاً، فإذا هناك الكثير من الأمور التي يجب أن تضبط هذه الإجراءت لكي تحول عمل المسؤول إلى عمل
                            <br> فعال، لأن الموضوع هنا لا يتعلق بالشخص، وإن كان يبذل أقصى الجهد، وإنما يتعلق بالبيئة التي يعمل بها هذا الشخص
                            عندما نصدر جزأ من القوانين أو التشريعات أو الإجراءت المطلوبة لعمل واحد، فلا نحقق النتيجة، وعندما نصدرها بتسلسل
                            خاطئ، لانحقق النتيجة أيضاً، فإذا هناك الكثير من الأمور التي يجب أن تضبط هذه الإجراءت لكي تحول عمل المسؤول إلى عمل*@
                        عندما نصدر جزأ من القوانين أو التشريعات أو الإجراءت المطلوبة لعمل واحد، فلا نحقق النتيجة، وعندما نصدرها بتسلسل خاطئ، لانحقق النتيجة أيضاً، فإذا هناك الكثير من الأمور التي يجب أن تضبط هذه الإجراءت لكي تحول عمل المسؤول إلى عمل فعال، لأن الموضوع هنا لا يتعلق بالشخص، وإن كان يبذل أقصى الجهد، وإنما يتعلق بالبيئة التي يعمل بها هذا الشخص
                    </p>



                </div>
            </div>

            <div class="row">

                <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 row21">

                    <div class="row1">
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 divpara ">
                            <h4>منظومة الدعم الإداري</h4>
                        </div>
                    </div>
                    <div class="row1">
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 linetitle">
                        </div>
                    </div>
                    <div class="row1">
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 coluxx1 " style="cursor:pointer" id="SinInMangersButton">

                            @*<video autoplay loop id="Da3emVideo" class="col-xs-12 col-sm-12 col-md-12 col-lg-12" style="display:none;">
                                    <source src="@Url.Content("~/images/pbvideo/vlc-record-2018-09-03-14h19m55s-المقطع السادس - التطوير الإداري ضروري للمؤسسات.VOB-.mp4")" type="video/mp4" />
                                </video>*@

                        </div>
                    </div>


                </div>

                <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 row21">

                    <div class="row1">
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 divpara ">
                            <h4>مرصد الأداء الإداري</h4>
                        </div>
                    </div>
                    <div class="row1">
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 linetitle">
                        </div>
                    </div>
                    <div class="row1">
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 coluxx2 " title="تصدر تقارير المرصد بعد استكمال الجهات العامة بياناتها المطلوبة" style="cursor:not-allowed" id="MarsadAlAda2AlIdari">

                            @*<video autoplay loop id="MarsadVideo" class="col-xs-12 col-sm-12 col-md-12 col-lg-12" style="display:none;">
                                    <source src="@Url.Content("~/images/pbvideo/makta313.mp4")" type="video/mp4" />
                                </video>*@
                        </div>
                    </div>
                </div>

                <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 row21">

                    <div class="row1">
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 divpara ">
                            <h4>منبر صلة وصل</h4>
                        </div>
                    </div>
                    <div class="row1">
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 linetitle">
                        </div>
                    </div>
                    <div class="row1">
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 coluxx3 " style="cursor:pointer" id="ManbarSilatWasel">

                            <video autoplay loop id="ManbarVideo" class="col-xs-12 col-sm-12 col-md-12 col-lg-12" style="display:none;">
                                <source src="@Url.Content("~/images/pbvideo/vlc-record-2018-09-03-14h10m24s-المقطع الثالث - منبر صلة وصل.VOB-.mp4")" type="video/mp4" />
                            </video>

                        </div>
                    </div>

                </div>



            </div>

            <div class="row">


                <div class="col-xs-12  col-sm-6 col-md-6 col-lg-6 colu15">
                    <div class="service-box" style="background-color:rgb(245, 236, 236,0.7);">
                        <div class="service-icon">
                            <div class="front-content" style="background-color:rgb(245, 236, 236,0.1);">

                                <h1 style="color:darkblue;text-align:center;" dir="rtl">الهيكل الوظيفي للجهاز الحكومي</h1>
                            </div>
                        </div>
                        <div class="service-content" style="background-color:rgb(245, 236, 236,0.1);">
                            <h1 style="color:darkblue;text-align:right;" dir="rtl">الهيكل الوظيفي للجهاز الحكومي</h1>
                            <h3 lang="ar" dir="rtl" style="color:blue;">هو إطار يوضح التسلسل الهرمي للوظائف السياسية والإدارية القيادية والإشرافية بمستوياتها التنظيمية المتعددة كماً ونوعاً والمتشابهة من حيث الخصائص والمسؤوليات والمزايا، ويمثل توزع هذه الوظائف على وحدات الجهاز الحكومي، ويصدر بعد إطلاق الترتيب الأول للجهات العامة.</h3>
                        </div>
                    </div>
                </div>

                <div class="col-xs-12  col-sm-6 col-md-6 col-lg-6 colu15">
                    <div class="service-box" style="background-color:rgb(245, 236, 236,0.7);">
                        <div class="service-icon" style="background-color:rgb(245, 236, 236,0.1);">
                            <div class="front-content">

                                <h1 style="color:darkblue;text-align:center;" dir="rtl">الهيكل الإداري للجهاز الحكومي</h1>
                            </div>
                        </div>
                        <div class="service-content" style="background-color:rgb(245, 236, 236,0.1);">
                            <h1 style="color:darkblue;text-align:right;" dir="rtl">الهيكل الإداري للجهاز الحكومي</h1>
                            <h3 lang="ar" dir="rtl" style="color:blue;">هو إطار يوضح التقسيمات والوحدات المكونة للجهاز الحكومي الممثل للسلطة التنفيذية في الدولة مرتبة على شكل مستويات تنظيمية، تتوضح من خلاله مراكز السلطة والمسؤولية وصلاحيات اتخاذ القرارات وعلاقات التبعية والإشراف، ويصدر بعد إطلاق الترتيب الأول للجهات العامة.</h3>

                        </div>
                    </div>
                </div>

                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 xxx ">
                </div>
                @*<div class="col-xs-12  col-sm-6 col-md-6 col-lg-6 colu16" style="cursor:not-allowed" id="HoverHaykal">

                        <div class="container-fluid1" id="HoverHaykalContainer">
                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 ">
                                <div class="container2">

                                </div>
                                <div class="container1">
                                    <p></p>
                                </div>

                            </div>
                        </div>



                    </div>*@


            </div>

            <div class="row">

                <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 row21">

                </div>



                <div class="col-xs-6  col-sm-6 col-md-6 col-lg-6 colu17" id="takrir" style="cursor:not-allowed;">
                    @*<h4 style="display:none;margin-right:1%;color:white;height:0%;" id="takrirText" lang="ar" dir="rtl"> يصدر التقرير العام للأداء الحكومي بعد إطلاق الترتيب الأول للجهات العامة.</h4>*@

                    @*<h1 id="takrirContainer" lang="ar" dir="rtl"> تقرير الأداء الحكومي</h1>*@

                    <div class="service-box">
                        <div class="service-icon" style="padding:0px" id="TakarirAda2">
                            <div class="front-content" style="margin-top:-7%;">

                                <h1 style="color:white;text-align:center;" dir="rtl">تقرير الأداء الحكومي</h1>
                            </div>
                        </div>
                        <div class="service-content" style="padding:0px;margin-top:-7%;background-color:transparent;" id="TakarirAda2Hover">
                            <h1 style="color:white;text-align:right;" dir="rtl">تقرير الأداء الحكومي</h1>
                            <h3 lang="ar" dir="rtl" style="color:white;">يصدر التقرير العام للأداء الحكومي بعد إطلاق الترتيب الأول للجهات العامة</h3>

                        </div>
                    </div>

                </div>

                <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 row23">


                </div>

            </div>



        </div>



        <div class="row">
            @*<div class="eee4"> </div>*@
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 eee">
                <div class="col-xs-8 col-sm-3 col-sm-offset-9 col-md-3 col-md-offset-9 col-lg-3 col-lg-offset-9 text-right  ">

                    <div class="box1" style="text-align:center;">
                        <p style="margin-top:-3%;word-break:break-word;font-size:30px;">إستطلاع الرأي </p>

                    </div>
                </div>
                @*<div class="text-block1 col-md-3 col-sm-3 col-xs-3" style="float:right;margin-top:-10%;background-color: rgba(128, 128, 128, 0.8);">
                        <p lang="ar" dir="rtl">هل تتوقع من المشروع الوطني للإصلاح الإداري أن يحسن الخدمات المقدمة؟ </p>
                        @if (ViewBag.GetAnswers == "True")
                        {
                            <div class="col-md-3 col-sm-3 col-xs-3" id="testestetla3" style="cursor:pointer;border: 2px solid;border-radius: 103px;text-align: center;background-color: rgba(128, 128, 128, 1);width:45%;margin-bottom:1%;margin-left:25%;">
                                <p id="chareknaRa2yak">شاركنا....رأيك </p>

                            </div>
                        }
                        else
                    if (ViewBag.GetAnswers == "راضي")
                        {
                            <div class="col-md-3 col-sm-3 col-xs-3" style="cursor:pointer;border: 2px solid;border-radius: 103px;text-align: center;background-color: rgba(128, 128, 128, 1);width:45%;margin-bottom:1%;margin-left:25%;">


                                <figure>
                                    <img src="@Url.Content("~/Images/FeedbackIcons/smiley.png")" alt="" class="ImageEstetla3"/>
                                    <figcaption style="font-size:20px;color:white">نعم </figcaption>
                                </figure>

                            </div>
                        }
                        else if (ViewBag.GetAnswers == "حيادي")
                        {
                            <div class="col-md-3 col-sm-3 col-xs-3" style="cursor:pointer;border: 2px solid;border-radius: 103px;text-align: center;background-color: rgba(128, 128, 128, 1);width:45%;margin-bottom:1%;margin-left:25%;">


                                <figure>
                                    <img src="@Url.Content("~/Images/FeedbackIcons/neutral.png")" alt="" class="ImageEstetla3"/>
                                    <figcaption style="font-size:20px;color:white">حيادي</figcaption>
                                </figure>

                            </div>
                        }
                        else if (ViewBag.GetAnswers == "غير راضي")
                        {
                            <div class="col-md-3 col-sm-3 col-xs-3" style="cursor:pointer;border: 2px solid;border-radius: 103px;text-align: center;background-color: rgba(128, 128, 128, 1);width:45%;margin-bottom:1%;margin-left:25%;">


                                <figure>
                                    <img src="@Url.Content("~/Images/FeedbackIcons/sad.png")" alt="" class="ImageEstetla3"/>
                                    <figcaption style="font-size:20px;color:white">لا</figcaption>
                                </figure>

                            </div>
                        }
                    </div>*@


                <div class="container">
                    <div class="col-sm-12" style="text-align:right;float:right;margin-top:10px;">
                        <div class="mm-survey">

                            @*<div class="mm-survey-progress">
                                    <div class="mm-survey-progress-bar mm-progress"></div>
                                </div>*@
                            @{
                                var ResultSurevyDisplay = "none";
                                var ContainerSyrveyDisplay = "block";
                                if (userInfoSurvey.Count != 0)
                                {
                                    ResultSurevyDisplay = "block";
                                    ContainerSyrveyDisplay = "none";
                                }
                            }
                            <div class="mm-survey-results" style="display:@ResultSurevyDisplay">
                                <div class="mm-survey-results-container">
                                    <h3 class="mm-survey-results-score">شكراً لمساهمتكم في إستطلاع الرأي، وقد جرى تصويتكم على الشكل التالي</h3>
                                    <ul class="mm-survey-results-list">
                                        @foreach (var item in userInfoSurvey)
                                        {
                                            <li class="mm-survey-results-item incorrect">
                                                <span class="mm-item-number">@item.AnswerTemplateValue</span>
                                                <span class="mm-item-info">@item.QuestionValue</span>
                                            </li>
                                        }

                                    </ul>
                                </div>
                                <div style="display:@ResultSurevyDisplay">
                                    <h3 class="mm-survey-results-score">يمكنكم الإطلاع على نتائج إستطلاعات الرأي المنشورة من خلال الضغط على مفتاح <a href="#main-menu">"نتائج إستطلاعات الرأي"</a> الموجود في لائحة التحكم أعلاه</h3>
                                </div>
                            </div>

                           @if (Survey.Count == 0 && userInfoSurvey.Count == 0)
                           {
                            <div class="mm-survey-results" style="display:block">
                                <div class="mm-survey-results-container">
                                    <h3 class="mm-survey-results-score" style="padding-bottom:20px;direction:rtl">
                                        شكراً  لمشاركتكم  في إستطلاعات الرأي السابقة.

                                        لا يوجد إستطلاعات رأي في الوقت الحالي.
                                    </h3>
                                </div>
                            </div>
                           }

                            @if (Survey.Count != 0)
                            {
                                <div class="mm-survey-bottom" style="display:@ContainerSyrveyDisplay">
                                    <div class="mm-survey-container" style="display:@ContainerSyrveyDisplay">
                                        @{

                                            int index = 1;
                                            int j = 0;
                                            foreach (var Key in Survey.Keys)
                                            {

                                                var active = index == 1 ? "active" : "";
                                                <div class="mm-survey-page @active" data-page="@index">
                                                    <div class="mm-survery-content">
                                                        <div class="mm-survey-question">
                                                            <p id="quest_@index">@Survey[Key].FirstOrDefault().QuestionValue</p>
                                                        </div>
                                                        @{

                                                            foreach (var answer in Survey[Key])
                                                            {
                                                                j++;
                                                                var radioId = "radio0" + j;
                                                                var radioName = "radio" + index;

                                                                <div class="mm-survey-item">
                                                                    <input type="radio" id="@radioId" data-item="@index" name="@radioName" data-templatekey="@answer.AnswerTemplateKey" value="@answer.AnswerValue" />
                                                                    <label for="@radioId"><span></span><p>@answer.AnswerValue</p></label>
                                                                </div>
                                                            }
                                                        }

                                                    </div>
                                                </div>
                                                                index++;
                                                            }
                                        }

                                    </div>

                                    <div class="mm-survey-controller">
                                        <div class="mm-prev-btn">
                                            <button>سابق</button>
                                        </div>
                                        <div class="mm-next-btn">
                                            <button disabled="true">تابع</button>
                                        </div>
                                        <div class="mm-finish-btn">
                                            <button>قدم</button>
                                        </div>
                                    </div>
                                </div>
                                                            }
                            
                        </div>
                    </div>
                </div>

            </div>


            @*<div class="eee5"> </div>*@

        </div>

    </div>
    <buttons style="display:none" id="cliclkBu"></buttons>
    <script src="@Url.Content("~/assets/surveycomponent/survey.js")"></script>
    <script>
        $("#GoToMarkaz").css("background-color", "grey");

        $("#testestetla3").click(function () {
            $('#feedbackmodal').modal('show');

        });

        function feedback(Answer) {
            $.ajax({
                url: '@Url.Action("CreateSurveyAnswer", "Home")',
                type: 'GET',
                dataType: 'text',
                cache: false,
                data: {
                    ans: Answer, vk: "2"
                },
                success: function (data) {
                    location.reload();
                }
            });
        }

        $(document).ready(function () {
            $("#cliclkBu").click();
            $('#ManbarVideo').get(0).pause()
            //$('#Da3emVideo').get(0).pause()
            $('#KalimaVideo').get(0).pause()
            //$('#MarsadVideo').get(0).pause()


            $('#KalimaVideo').fadeOut().get(0).pause();
        })

        function myFunction() {
            var x = document.getElementById("myTopnav");
            if (x.className === "topnav") {
                x.className += " responsive";
            } else {
                x.className = "topnav";
            }
        }

        @*$("#ManzoumatAlDa3em").click(function () {

    submit_post_via_hidden_form("@Url.Action("Index", "Home")", {  NextPageIndex: "106"});

});*@

        $("#MarsadAlAda2AlIdari").click(function () {
            //return;
            submit_post_via_hidden_form("@Url.Action("Marsad", "Home")", {});

        });

        $("#ManbarSilatWasel").click(function () {

            submit_post_via_hidden_form("@Url.Action("Manbar", "Home")", {});

        });


        //var tooltipTimeout1;

        //$("#MarsadAlAda2AlIdari").hover(function ()
        //{ tooltipTimeout1 = setTimeout(showTooltip1, 700); },
        //                    hideTooltip1);

        //function showTooltip1() {
        //    $('#MarsadVideo').fadeIn(2000).get(0).play();
        //}
        //function hideTooltip1() {
        //    clearTimeout(tooltipTimeout1);
        //}

        //$("#MarsadAlAda2AlIdari").mouseleave(function () {
        //    $('#MarsadVideo').fadeOut(1000).get(0).pause();
        //});


        var tooltipTimeout2;

        $("#ManbarSilatWasel").hover(function ()
        { tooltipTimeout2 = setTimeout(showTooltip2, 700); },
                            hideTooltip2);

        function showTooltip2() {
            $('#ManbarVideo').fadeIn(2000).get(0).play();
        }
        function hideTooltip2() {
            clearTimeout(tooltipTimeout2);
        }

        $("#ManbarSilatWasel").mouseleave(function () {
            $('#ManbarVideo').fadeOut(1000).get(0).pause();
        });





        //var tooltipTimeout3;

        //$("#SinInMangersButton").hover(function ()
        //{ tooltipTimeout3 = setTimeout(showTooltip3, 700); },
        //                    hideTooltip3);

        //function showTooltip3() {
        //    $('#Da3emVideo').fadeIn(2000).get(0).play();
        //}
        //function hideTooltip3() {
        //    clearTimeout(tooltipTimeout3);
        //}


        //$("#SinInMangersButton").mouseleave(function () {
        //    $('#Da3emVideo').fadeOut(1000).get(0).pause();


        //});


        var tooltipTimeout4;


        $("#HoverHaykal").hover(function ()
        { tooltipTimeout4 = setTimeout(showTooltip4, 700); },
                            hideTooltip4);

        function showTooltip4() {

            $('#HoverHaykalContainer').fadeOut();

            $('#HoverTextHaykal').fadeIn(2000);

        }
        function hideTooltip4() {
            clearTimeout(tooltipTimeout4);
        }

        $("#HoverHaykal").mouseleave(function () {
            $('#HoverTextHaykal').fadeOut();

            $('#HoverHaykalContainer').fadeIn(1000);


        });

        var tooltipTimeout5;


        $("#HaykalWzifi").hover(function ()
        { tooltipTimeout5 = setTimeout(showTooltip5, 700); },
                            hideTooltip5);

        function showTooltip5() {

            $('#HaykalWzifiContainer').fadeOut();

            $('#HaykalWzifiText').fadeIn(2000);

        }
        function hideTooltip5() {
            clearTimeout(tooltipTimeout5);
        }

        $("#HaykalWzifi").mouseleave(function () {
            $('#HaykalWzifiText').fadeOut();

            $('#HaykalWzifiContainer').fadeIn(1000);


        });


        var tooltipTimeout6;


        $("#takrir").hover(function ()
        { tooltipTimeout6 = setTimeout(showTooltip6, 700); },
                            hideTooltip6);

        function showTooltip6() {
            $('#takrirContainer').text('يصدر التقرير العام للأداء الحكومي بعد إطلاق الترتيب الأول للجهات العامة.');


            //$('#takrirContainer').fadeOut();

            //$('#takrirText').fadeIn(2000);

        }
        function hideTooltip6() {
            clearTimeout(tooltipTimeout6);
        }

        $("#takrir").mouseleave(function () {
            $('#takrirContainer').text('تقرير الأداء الحكومي')
            //$('#takrirContainer').fadeIn(500);

            //$('#takrirText').fadeOut(500);

        });





        var tooltipTimeout;

        $("#KalimaPicDiv").hover(function ()
        { tooltipTimeout = setTimeout(showTooltip, 700); },
                            hideTooltip);

        function showTooltip() {
            $("#KalimaPicDiv").css('opacity', '0.1');
            $('#KalimaVideo').fadeIn(2000).get(0).play();
        }
        function hideTooltip() {
            clearTimeout(tooltipTimeout);
        }

        $("#KalimaPicDiv").mouseleave(function () {

            $("#KalimaPicDiv").css('opacity', '1');



            $('#KalimaVideo').fadeOut(1000).get(0).pause();

        });


        function submit_post_via_hidden_form(url, params) {
            var f = $('<form method="POST"style="display:none;"></form>').attr({
                action: url
            }).appendTo(document.body);

            for (var i in params) {
                if (params.hasOwnProperty(i)) {
                    $('<input type="hidden" />').attr({
                        name: i,
                        value: params[i]
                    }).appendTo(f);
                }
            }

            f.submit();

            f.remove();
        }
        var AnswerTemplateKey = [];
        var FormKey;
        $('.mm-finish-btn').on('click', function () {
            $('.mm-survey-item input:checked').each(function (index, val) {

                answsers = { key: $(this).attr("data-templatekey"), Textvalue: $(this).val(), type: "RadioBox", Parent: "", Child: "", count: "" }
                AnswerTemplateKey.push(answsers);
            });

            $.ajax({
                url: '@Url.Action("SubmitFormForUser", "ClaimForms")',
                type: 'GET',
                dataType: 'json',
                cache: false,
                data: {
                    trackingStatusKey: "1", formTemplateKey: '@ViewBag.formTemplateKeySurvey', userKey: "@User.Identity.GetUserId()", organisationKey: " ", FileExtensionName: '@ViewBag.myCookie', FileExtensionType: '@ViewBag.myIP'
                },
                success: function (data) {
                    console.log(AnswerTemplateKey);
                    FormKey = data;
                    $.ajax({
                        url: '@Url.Action("AnswersByUser", "ClaimForms")',
                        type: 'POST',
                        dataType: 'json',
                        cache: false,
                        data: {
                            formKey: FormKey, answerTemplateKey: JSON.stringify(AnswerTemplateKey)
                        },
                        success: function (data) {

                            $.ajax({
                                url: '@Url.Action("SaveClaimForm", "ClaimForms")',
                                type: 'GET',
                                dataType: 'json',
                                cache: false,
                                data: {
                                    formKey: FormKey
                                },
                                success: function (data) {
                                    console.log("survey submited successfully");
                                }
                            });
                }
            });
        }
        });

        });


    </script>






</div>

</html>