﻿
@{
    Layout = null;
    ViewBag.Title = "منبر صلة وصل";
    List<SelectListItem> Organisations = ViewData["Organisation"] as List<SelectListItem>;

    List<SelectListItem> Forms = ViewData["Forms"] as List<SelectListItem>;
}

<style type="text/css">
    .btn.btn-primary-outline, .open > .btn.btn-primary-outline {
        color: #01a8fe !important;
    }

        .btn.btn-primary-outline:hover, .btn.btn-primary-outline:active, .open > .btn.btn-primary-outline:hover, .open > .btn.btn-primary-outline:active {
            color: white !important;
        }

    .btn.btn-default-outline, .open > .btn.btn-default-outline {
        color: #acb7bf !important;
    }

        .btn.btn-default-outline:hover, .btn.btn-default-outline:active, .open > .btn.btn-default-outline:hover, .open > .btn.btn-default-outline:active {
            color: white !important;
        }

    .cwt__showcase__devices {
        padding-top: 0px !important;
    }

    .cwt__showcase__laptop__bg {
        padding: 0 !important;
    }

    .cwt__showcase__laptop__shadow {
        left: 44% !important;
        width: 108% !important;
        display: none;
    }

    .panel {
        background: none !important;
        border: 0 !important;
    }

    body {
        font-family: 'Droid Arabic Kufi' !important;
    }

    .droid-arabic-kufi {
        font-family: 'Droid Arabic Kufi', serif;
    }
</style>
<style>
    .modal-content {
        direction: rtl;
    }
</style>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <link rel="apple-touch-icon" sizes="57x57" href="~/FavIcon/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="~/FavIcon/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="~/FavIcon/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="~/FavIcon/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="~/FavIcon/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="~/FavIcon/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="~/FavIcon/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="~/FavIcon/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="~/FavIcon/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192" href="~/FavIcon/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="~/FavIcon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="~/FavIcon/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="~/FavIcon/favicon-16x16.png">
    <link rel="manifest" href="~/FavIcon/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="~/FavIcon/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">


    <link href="http://fonts.googleapis.com/earlyaccess/droidarabickufi.css" rel="stylesheet" type="text/css" />
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700&subset=all" rel="stylesheet" type="text/css" />

    <link rel="apple-touch-icon" sizes="57x57" href="~/FavIcon/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="~/FavIcon/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="~/FavIcon/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="~/FavIcon/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="~/FavIcon/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="~/FavIcon/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="~/FavIcon/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="~/FavIcon/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="~/FavIcon/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192" href="~/FavIcon/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="~/FavIcon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="~/FavIcon/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="~/FavIcon/favicon-16x16.png">
    <link rel="manifest" href="~/FavIcon/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="~/FavIcon/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">
    @*<link href="favicon.ico" rel="shortcut icon">*@

    <link rel="stylesheet" type="text/css" href="@Url.Content("~/landing/vendors/bootstrap/dist/css/bootstrap.min.css")">
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/landing/common/css/source/main.css")">

    <script src="@Url.Content("~/assets/html5shiv.min.js")"></script>
    <script src="@Url.Content("~/assets/respond.min.js")"></script>
    <script src="@Url.Content("~/landing/vendors/jquery/dist/jquery.min.js")"></script>
    <script src="@Url.Content("~/landing/vendors/tether/dist/js/tether.min.js")"></script>
    <script src="@Url.Content("~/landing/vendors/bootstrap/dist/js/bootstrap.min.js")"></script>
    <script src="@Url.Content("~/landing/vendors/typed.js/dist/typed.min.js")"></script>
    <script src="@Url.Content("~/landing/vendors/three/build/three.min.js")"></script>
    <script src="@Url.Content("~/landing/vendors/jquery.scrollTo/jquery.scrollTo.min.js")"></script>
    <script src="@Url.Content("~/landing/common/js/common.js")"></script>


    @*new scripts*@

    <link href="@Url.Content("~/Content/Css/default.min.css")" rel="stylesheet" type="text/css" id="style_color" />
    <link href="@Url.Content("~/Content/Css/font-awesome.min.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/Css/simple-line-icons.min.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/Css/bootstrap.min.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/Css/bootstrap-switch.min.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/Css/daterangepicker.min.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/Css/morris.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/Css/fullcalendar.min.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/Css/jqvmap.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/Css/components.min.css")" rel="stylesheet" id="style_components" type="text/css" />
    <link href="@Url.Content("~/Content/Css/plugins.min.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/Css/layout.min.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/Css/select2.min.css")" rel="stylesheet" type="text/css" />
    <link href="~/Images/InitialPage_Images/favicon.144x144.png" rel="apple-touch-icon" type="image/png" sizes="144x144">
    <link href="~/Images/InitialPage_Images/favicon.114x114.png" rel="apple-touch-icon" type="image/png" sizes="114x114">
    <link href="~/Images/InitialPage_Images/favicon.72x72.png" rel="apple-touch-icon" type="image/png" sizes="72x72">
    <link href="~/Images/InitialPage_Images/favicon.57x57.png" rel="apple-touch-icon" type="image/png">
    <link href="~/Images/InitialPage_Images/favicon.png" rel="icon" type="image/png">
    @*<link href="favicon.ico" rel="shortcut icon">*@
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/vendors/bootstrap/dist/css/bootstrap.min.css")">
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/vendors/jscrollpane/style/jquery.jscrollpane.css")">
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/vendors/ladda/dist/ladda-themeless.min.css")">
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/vendors/select2/dist/css/select2.min.css")">
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/vendors/eonasdan-bootstrap-datetimepicker/build/css/bootstrap-datetimepicker.min.css")">
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/vendors/fullcalendar/dist/fullcalendar.min.css")">
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/vendors/cleanhtmlaudioplayer/src/player.css")">
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/vendors/cleanhtmlvideoplayer/src/player.css")">
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/vendors/bootstrap-sweetalert/dist/sweetalert.css")">
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/vendors/summernote/dist/summernote.css")">
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/vendors/owl.carousel/dist/assets/owl.carousel.min.css")">
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/vendors/ionrangeslider/css/ion.rangeSlider.css")">
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/vendors/datatables/media/css/dataTables.bootstrap4.min.css")">
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/vendors/c3/c3.min.css")">
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/vendors/chartist/dist/chartist.min.css")">
    <!-- v1.4.0 -->
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/vendors/nprogress/nprogress.css")">
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/vendors/jquery-steps/demo/css/jquery.steps.css")">
    <!-- v1.4.2 -->
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/vendors/bootstrap-select/dist/css/bootstrap-select.min.css")">
    <!-- v1.7.0 -->
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/vendors/dropify/dist/css/dropify.min.css")">
    <!-- Clean UI Styles -->
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/common/css/source/main.css")">
    <!-- Vendors Scripts -->
    <!-- v1.0.0 -->
    <script src="@Url.Content("~/Scripts/vendors/tether/dist/js/tether.min.js")"></script>
    <script src="@Url.Content("~/Scripts/vendors/jquery-mousewheel/jquery.mousewheel.min.js")"></script>
    <script src="@Url.Content("~/Scripts/vendors/jscrollpane/script/jquery.jscrollpane.min.js")"></script>
    <script src="@Url.Content("~/Scripts/vendors/spin.js/spin.js")"></script>
    <script src="@Url.Content("~/Scripts/vendors/ladda/dist/ladda.min.js")"></script>
    <script src="@Url.Content("~/Scripts/vendors/select2/dist/js/select2.full.min.js")"></script>
    <script src="@Url.Content("~/Scripts/vendors/html5-form-validation/dist/jquery.validation.min.js")"></script>
    <script src="@Url.Content("~/Scripts/vendors/jquery-typeahead/dist/jquery.typeahead.min.js")"></script>
    <script src="@Url.Content("~/Scripts/vendors/jquery-mask-plugin/dist/jquery.mask.min.js")"></script>
    <script src="@Url.Content("~/Scripts/vendors/autosize/dist/autosize.min.js")"></script>
    <script src="@Url.Content("~/Scripts/vendors/bootstrap-show-password/bootstrap-show-password.min.js")"></script>
    <script src="@Url.Content("~/Scripts/vendors/moment/min/moment.min.js")"></script>
    <script src="@Url.Content("~/Scripts/vendors/eonasdan-bootstrap-datetimepicker/build/js/bootstrap-datetimepicker.min.js")"></script>
    <script src="@Url.Content("~/Scripts/vendors/fullcalendar/dist/fullcalendar.min.js")"></script>
    <script src="@Url.Content("~/Scripts/vendors/bootstrap-sweetalert/dist/sweetalert.min.js")"></script>
    <script src="@Url.Content("~/Scripts/vendors/remarkable-bootstrap-notify/dist/bootstrap-notify.min.js")"></script>
    <script src="@Url.Content("~/Scripts/vendors/summernote/dist/summernote.min.js")"></script>
    <script src="@Url.Content("~/Scripts/vendors/owl.carousel/dist/owl.carousel.min.js")"></script>
    <script src="@Url.Content("~/Scripts/vendors/ionrangeslider/js/ion.rangeSlider.min.js")"></script>
    <script src="@Url.Content("~/Scripts/vendors/nestable/jquery.nestable.js")"></script>
    <script src="@Url.Content("~/Scripts/vendors/datatables/media/js/jquery.dataTables.min.js")"></script>
    <script src="@Url.Content("~/Scripts/vendors/datatables/media/js/dataTables.bootstrap4.min.js")"></script>
    <script src="@Url.Content("~/Scripts/vendors/datatables-fixedcolumns/js/dataTables.fixedColumns.js")"></script>
    <script src="@Url.Content("~/Scripts/vendors/datatables-responsive/js/dataTables.responsive.js")"></script>
    <script src="@Url.Content("~/Scripts/vendors/editable-table/mindmup-editabletable.js")"></script>
    <script src="@Url.Content("~/Scripts/c3/d3.v3.js")"></script>
    <script src="@Url.Content("~/Scripts/c3/c3.min.js")"></script>
    <script src="@Url.Content("~/Scripts/c3/Chart.js")"></script>
    <script src="@Url.Content("~/Scripts/vendors/chartist/dist/chartist.min.js")"></script>
    <script src="@Url.Content("~/Scripts/vendors/peity/jquery.peity.min.js")"></script>
    <!-- v1.0.1 -->
    <script src="@Url.Content("~/Scripts/vendors/chartist-plugin-tooltip/dist/chartist-plugin-tooltip.min.js")"></script>
    <!-- v1.1.1 -->
    <script src="@Url.Content("~/Scripts/vendors/gsap/src/minified/TweenMax.min.js")"></script>
    <script src="@Url.Content("~/Scripts/vendors/hackertyper/hackertyper.js")"></script>
    <script src="@Url.Content("~/Scripts/vendors/jquery-countTo/jquery.countTo.js")"></script>
    <!-- v1.4.0 -->
    <script src="@Url.Content("~/Scripts/vendors/nprogress/nprogress.js")"></script>
    <script src="@Url.Content("~/Scripts/vendors/jquery-steps/build/jquery.steps.min.js")"></script>
    <!-- v1.4.2 -->
    <script src="@Url.Content("~/Scripts/vendors/bootstrap-select/dist/js/bootstrap-select.min.js")"></script>
    <script src="@Url.Content("~/Scripts/vendors/chart.js/src/Chart.bundle.min.js")"></script>
    <!-- v1.7.0 -->
    <script src="@Url.Content("~/Scripts/vendors/dropify/dist/js/dropify.min.js")"></script>
    <script src="@Url.Content("~/Scripts/bootbox.min.js")"></script>
    <!-- Clean UI Scripts -->

</head>
<body>

    <div class="modal fade in" id="chakwamodal" tabindex="-1" aria-hidden="true" style="display: none; padding-right: 17px;">

        <div class="modal-dialog">

            <div class="modal-content">

                <div class="modal-header">
                    <h4 class="modal-title">الاستبانات </h4>
                </div>

                <div  class="modal-body"> 
                <div class="row">
                    <div class="col-md-8">
                        @Html.DropDownList("Forms", Forms, new { @class = "inputcolor form-control placeholder-no-fix;" })
                    </div>
                    <div class="col-md-4">
                        إختر الاستبانة  :

                    </div>
                </div>
                    <div>
                    </div>
                
                </div>

              

                <div class="modal-footer">
                    <button type="button" class="btn dark btn-outline" data-dismiss="modal">إغلاق</button>
                    <button type="button" id="gotachakwa" class="btn green">إملأ الشكوى  </button>
                </div>

            </div>

        </div>

    </div>
    
    <div class="cwt__block cwt__header-fixed">

        <div id="container1" class="container">
            <div class="cwt__header-fixed__container">
                <div class="row">
                    <div class="col-xs-3">
                        <div class="cwt__logo cwt__logo--small" style="width:auto;">

                            <a style="float:left;">
                                <img src="@Url.Content("~/Images/logo.png")" style="max-width:35px;" alt="Silat Wasel Logo" />
                            </a>

                            <p style="color:white;float:left;margin-left:14px;margin-top:4px;">منبر صلة وصل</p>
                        </div>
                    </div>
                    <div class="col-xs-9">
                        <nav class="nav nav-inline pull-xs-right cwt__main-menu cwt__main-menu--dark">
                            <a href="javascript: void(0);" class="nav-link btn btn-primary cwt__main-menu__link cwt__main-menu__link--button">إتصل بنا</a>
                            <div class="cwt__mobile-menu">
                                <a class="nav-link cwt__main-menu__link cwt__js-click__about">عن الوزارة</a>

                                @if (User.Identity.IsAuthenticated)
                                {
                                    if (User.IsInRole("Citizen"))
                                    {
                                        <a id="gotodashbord" class="nav-link cwt__main-menu__link cwt__js-click__about">متابعة الشكاوى</a>

                                    }
                                    else
                                    {
                                        <a id="gotodashbord" class="nav-link cwt__main-menu__link cwt__js-click__about">لوحة التحكم</a>

                                    }
                                }

                                <a id="mawka3jadid" class="nav-link cwt__main-menu__link cwt__main-menu__link--active cwt__js-click__preview" style="cursor:pointer;">موقع جديد</a>

                                <a id="HomeTab" class="nav-link cwt__main-menu__link cwt__main-menu__link--active cwt__js-click__preview" style="cursor:pointer;">الرئيسية</a>


                                @Html.Partial("_LoginPartial")
                            </div>
                        </nav>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <div class="cwt__block cwt__preview">
        <div class="cwt__preview__container">
            <div class="cwt__preview__title">
                أهلا بك إلى منبر صلة وصل
                <br />
                معا لسورية أفضل
            </div>
            <a id="charikButton" style="min-width:300px;" class="btn btn-primary btn-lg cwt__action__button">
                شارك في عملية الإصلاح
            </a>
        </div>
    </div>

    <div id="container2" class="container col-md-12" style="margin: 0; padding: 0; max-width:100%; overflow:hidden;">

        <div class="row" style="max-width:100%;width:100%;">
            <div class="cwt__block cwt__showcase cwt__utils__p-t-100 col-md-3" style="max-width:100%;width:100%;">
                <div class="cwt__cube">
                    <div class="cwt__cube__inner" id="rotating-cube"><!-- --></div>
                </div>
                <h1 class="cwt__showcase__heading">
                    <span class="cwt__showcase__heading__text" id="showcase-type"></span>
                </h1>
                <p class="cwt__showcase__description">
                    إن هدف <strong>منبر صلة وصل</strong> هو إصلاح و تقييم عمل إل مؤسسات بهدف تحسين خدمة  <strong>المواطن</strong> و تسهيل معاملاته في الدوائر الرسمية
                </p>
            </div>
        </div>

        @if (User.IsInRole("Citizen"))
        {
            @Html.Action("CitizenNav", "QuickNav")

        }







        <div class="row">

            <div class="cwt__block cwt__main-header" style="display: none;">
                <div class="row">
                    <div class="panel">
                        <div class="panel-body">
                            <div class="margin-bottom-50">
                                <div class="pricing-table">
                                    <div class="pricing-item">
                                        <div class="pricing-header">
                                            <div class="pricing-title"> سوا لمكافحةالفساد </div>
                                        </div>
                                        <ul class="pricing-features" dir="rtl">
                                            <li> سوا لمكافحة <strong>الفساد</strong></li>
                                            <li> لمساعدتنا على مكافحة <strong>الفساد</strong></li>
                                            <li> الرجاء  <strong>الضغط</strong></li>
                                            <li> على  <strong>الزر</strong></li>
                                            <li> الموجود <strong>أدناه</strong></li>
                                        </ul>
                                        <div class="pricing-footer">
                                            <a class="btn btn-primary btn-lg formButtonFasad" role="button" dir="rtl" data-FormType="@ViewBag.FormTemplateTypeResult[1]">
                                                <i class="fa fa-pencil fa-fw font-size-16 margin-left-10" aria-hidden="true"></i>
                                                إملأ الإستمارة
                                            </a>
                                        </div>
                                    </div>
                                    <div class="pricing-item pricing-item-featured pricing-item-primary">
                                        <div class="pricing-header">
                                            <div class="pricing-title">رضا المواطن</div>
                                        </div>
                                        <ul class="pricing-features" dir="rtl">
                                            <li> رضا <strong>المواطن</strong></li>
                                            <li> لمساعدتنا على إرضاء <strong>المواطن</strong></li>
                                            <li> الرجاء  <strong>الضغط</strong></li>
                                            <li> على  <strong>الزر</strong></li>
                                            <li> الموجود <strong>أدناه</strong></li>
                                        </ul>
                                        <div class="pricing-footer">
                                            <a class="btn btn-primary-outline btn-lg formButton" role="button" dir="rtl" data-FormType="@ViewBag.FormTemplateTypeResult[0]">
                                                <i class="fa fa-pencil fa-fw font-size-16 margin-left-10" aria-hidden="true"></i>
                                                إملأ الإستمارة
                                            </a>
                                        </div>
                                    </div>
                                    <div class="pricing-item">
                                        <div class="pricing-header">
                                            <div class="pricing-title">رضا الموظف</div>
                                        </div>
                                        <ul class="pricing-features" dir="rtl">
                                            <li> رضا <strong>الموظف</strong></li>
                                            <li> لمساعدتنا على إرضاء <strong>الموظف</strong></li>
                                            <li> الرجاء  <strong>الضغط</strong></li>
                                            <li> على  <strong>الزر</strong></li>
                                            <li> الموجود <strong>أدناه</strong></li>
                                        </ul>
                                        @if (!User.IsInRole("Employee"))
                                        {
                                            <div class="pricing-footer" dir="rtl">
                                                <a class="btn btn-primary btn-lg formButton" role="button" data-FormType="@ViewBag.FormTemplateTypeResult[2]" disabled>
                                                    <i class="fa fa-pencil fa-fw font-size-16 margin-left-10" aria-hidden="true"></i>
                                                    إملأ الإستمارة
                                                </a>
                                            </div>
                                        }
                                        else
                                        {
                                            <div class="pricing-footer" dir="rtl">
                                                <a class="btn btn-primary btn-lg formButton" role="button" data-FormType="@ViewBag.FormTemplateTypeResult[2]">
                                                    <i class="fa fa-pencil fa-fw font-size-16 margin-left-10" aria-hidden="true"></i>
                                                    إملأ الإستمارة
                                                </a>
                                            </div>
                                        }
                                    </div>
                                    <div class="pricing-item pricing-item-default">
                                        <div class="pricing-header">
                                            <div class="pricing-title souboutyat">معاً لثبوتيات أقل</div>
                                        </div>
                                        <ul class="pricing-features" dir="rtl">
                                            <li> معاً <strong>لثبوتيات أقل</strong></li>
                                            <li> لمساعدتنا على تقليل  <strong>الثبوتيات</strong></li>
                                            <li> الرجاء  <strong>الضغط</strong></li>
                                            <li> على  <strong>الزر</strong></li>
                                            <li> الموجود <strong>أدناه</strong></li>
                                        </ul>
                                        <div class="pricing-footer">
                                            <a class="btn btn-default-outline btn-lg formButton" role="button" dir="rtl" disabled="disabled" data-FormType="@ViewBag.FormTemplateTypeResult[3]">
                                                <i class="fa fa-pencil fa-fw font-size-16 margin-left-10" aria-hidden="true"></i>
                                                إملأ الإستمارة
                                            </a>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

            @*<div class="cwt__block cwt__showcase cwt__utils__p-t-100 col-md-6 col-lg-3 col-xs-12" style="overflow:hidden;">

                    <div class="cwt__showcase__devices" style="height:750px;">
                        <div class="cwt__showcase__laptop">
                            <div class="cwt__showcase__laptop__shadow" style="left:38%;height:570px;"></div>
                            <div class="cwt__showcase__laptop__bg" style="background:none;width: 100%;height: 570px;left:350px;">
                                <div class="cwt__showcase__box">
                                    <div class="panel">
                                        <div class="panel-body">
                                            <div class="margin-bottom-50">
                                                <div class="pricing-table">
                                                    <div class="pricing-item" style="min-height:452px;">
                                                        <div class="pricing-header">
                                                            <div class="pricing-title"> سوا لمكافحةالفساد </div>
                                                        </div>
                                                        <ul class="pricing-features" dir="rtl">
                                                            <li> سوا لمكافحة <strong>الفساد</strong></li>
                                                            <li> لمساعدتنا على مكافحة <strong>الفساد</strong></li>
                                                            <li> الرجاء  <strong>الضغط</strong></li>
                                                            <li> على  <strong>الزر</strong></li>
                                                            <li> الموجود <strong>أدناه</strong></li>
                                                        </ul>
                                                        <div class="pricing-footer">
                                                            <a class="btn btn-primary btn-lg formButtonFasad" role="button" dir="rtl" data-FormType="@ViewBag.FormTemplateTypeResult[1]">
                                                                <i class="fa fa-pencil fa-fw font-size-16 margin-left-10" aria-hidden="true"></i>
                                                                إملأ الإستمارة
                                                            </a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>

                </div>


                <div class="cwt__block cwt__showcase cwt__utils__p-t-100 col-md-6 col-lg-3 col-xs-12" style="overflow:hidden;">

                    <div class="cwt__showcase__devices" style="height:750px;">
                        <div class="cwt__showcase__laptop">
                            <div class="cwt__showcase__laptop__shadow" style="left:38%;height:570px;"></div>

                            <div class="cwt__showcase__laptop__bg" style="background:none;width: 100%;height: 570px;left:350px;">
                                <div class="cwt__showcase__box">
                                    <div class="panel">
                                        <div class="panel-body">
                                            <div class="margin-bottom-50">
                                                <div class="pricing-table">
                                                    <div class="pricing-item pricing-item-primary" style="min-height:452px;">
                                                        <div class="pricing-header">
                                                            <div class="pricing-title">رضا المواطن</div>
                                                        </div>
                                                        <ul class="pricing-features" dir="rtl">
                                                            <li> رضا <strong>المواطن</strong></li>
                                                            <li> لمساعدتنا على إرضاء <strong>المواطن</strong></li>
                                                            <li> الرجاء  <strong>الضغط</strong></li>
                                                            <li> على  <strong>الزر</strong></li>
                                                            <li> الموجود <strong>أدناه</strong></li>
                                                        </ul>
                                                        <div class="pricing-footer">
                                                            <a class="btn btn-primary-outline btn-lg formButton" role="button" dir="rtl" data-FormType="@ViewBag.FormTemplateTypeResult[0]">
                                                                <i class="fa fa-pencil fa-fw font-size-16 margin-left-10" aria-hidden="true"></i>
                                                                إملأ الإستمارة
                                                            </a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>





                        </div>
                    </div>

                 </div>


                <div class="cwt__block cwt__showcase cwt__utils__p-t-100 col-md-6 col-lg-3 col-xs-12" style="overflow:hidden;">

                    <div class="cwt__showcase__devices" style="height:750px;">
                        <div class="cwt__showcase__laptop">
                            <div class="cwt__showcase__laptop__shadow" style="left:38%;height:570px;"></div>

                            <div class="cwt__showcase__laptop__bg" style="background:none;width: 100%;height: 570px;left:350px;">
                                <div class="cwt__showcase__box">
                                    <div class="panel">
                                        <div class="panel-body">
                                            <div class="margin-bottom-50">
                                                <div class="pricing-table">
                                                    <div class="pricing-item" style="min-height:452px;">
                                                        <div class="pricing-header">
                                                            <div class="pricing-title">رضا الموظف</div>
                                                        </div>
                                                        <ul class="pricing-features" dir="rtl">
                                                            <li> رضا <strong>الموظف</strong></li>
                                                            <li> لمساعدتنا على إرضاء <strong>الموظف</strong></li>
                                                            <li> الرجاء  <strong>الضغط</strong></li>
                                                            <li> على  <strong>الزر</strong></li>
                                                            <li> الموجود <strong>أدناه</strong></li>
                                                        </ul>
                                                        @if (!User.IsInRole("Employee"))
                                                        {
                                                            <div class="pricing-footer" dir="rtl">
                                                                <a class="btn btn-primary btn-lg formButton" role="button" data-FormType="@ViewBag.FormTemplateTypeResult[2]" disabled>
                                                                    <i class="fa fa-pencil fa-fw font-size-16 margin-left-10" aria-hidden="true"></i>
                                                                    إملأ الإستمارة
                                                                </a>
                                                            </div>
                                                        }
                                                        else
                                                        {
                                                            <div class="pricing-footer" dir="rtl">
                                                                <a class="btn btn-primary btn-lg formButton" role="button" data-FormType="@ViewBag.FormTemplateTypeResult[2]">
                                                                    <i class="fa fa-pencil fa-fw font-size-16 margin-left-10" aria-hidden="true"></i>
                                                                    إملأ الإستمارة
                                                                </a>
                                                            </div>
                                                        }
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>

                </div>


                <div class="cwt__block cwt__showcase cwt__utils__p-t-100 col-md-6 col-lg-3 col-xs-12" style="overflow:hidden;">

                    <div class="cwt__showcase__devices" style="height:750px;">
                        <div class="cwt__showcase__laptop">
                            <div class="cwt__showcase__laptop__shadow" style="left:38%;height:570px;"></div>

                            <div class="cwt__showcase__laptop__bg" style="background:none;width: 100%;height: 570px;left:350px;">
                                <div class="cwt__showcase__box">
                                    <div class="panel">
                                        <div class="panel-body">
                                            <div class="margin-bottom-50">
                                                <div class="pricing-table">
                                                    <div class="pricing-item pricing-item-default" style="min-height:452px;">
                                                        <div class="pricing-header">
                                                            <div class="pricing-title souboutyat">معاً لثبوتيات أقل</div>
                                                        </div>
                                                        <ul class="pricing-features" dir="rtl">
                                                            <li> معاً <strong>لثبوتيات أقل</strong></li>
                                                            <li> لمساعدتنا على تقليل  <strong>الثبوتيات</strong></li>
                                                            <li> الرجاء  <strong>الضغط</strong></li>
                                                            <li> على  <strong>الزر</strong></li>
                                                            <li> الموجود <strong>أدناه</strong></li>
                                                        </ul>
                                                        <div class="pricing-footer">
                                                            <a class="btn btn-default-outline btn-lg formButton" role="button" dir="rtl" disabled="disabled" data-FormType="@ViewBag.FormTemplateTypeResult[3]">
                                                                <i class="fa fa-pencil fa-fw font-size-16 margin-left-10" aria-hidden="true"></i>
                                                                إملأ الإستمارة
                                                            </a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>*@

        </div>

    </div>

    <div id="container3" class="container col-md-12" style="margin: 0; padding: 0; max-width:100%; overflow:hidden;background:white;">
        <div class="panel">
            <div class="panel-body">
                <div class="margin-bottom-50">
                    <div class="pricing-table">
                        <div class="pricing-item">
                            <div class="pricing-header">
                                <div class="pricing-title ejra2at">معاً لتبسيط الإجراءت</div>
                            </div>
                            <ul class="pricing-features" dir="rtl">
                                <li> معاً <strong>لتبسيط الإجراءت</strong></li>
                                <li> لمساعدتنا على تبسيط  <strong>الإجراءت</strong></li>
                                <li> الرجاء  <strong>الضغط</strong></li>
                                <li> على  <strong>الزر</strong></li>
                                <li> الموجود <strong>أدناه</strong></li>
                            </ul>
                            <div class="pricing-footer">
                                <a class="btn btn-primary btn-lg formButton" role="button" dir="rtl"  data-FormType="@ViewBag.FormTemplateTypeResult[3]">
                                    <i class="fa fa-pencil fa-fw font-size-16 margin-left-10" aria-hidden="true"></i>
                                    إملأ الإستمارة
                                </a>
                            </div>
                        </div>
                        <div class="pricing-item pricing-item-default">
                            <div class="pricing-header">
                                <div class="pricing-title souboutyat">معاً لثبوتيات أقل</div>
                            </div>
                            <ul class="pricing-features" dir="rtl">
                                <li> معاً <strong>لثبوتيات أقل</strong></li>
                                <li> لمساعدتنا على تقليل  <strong>الثبوتيات</strong></li>
                                <li> الرجاء  <strong>الضغط</strong></li>
                                <li> على  <strong>الزر</strong></li>
                                <li> الموجود <strong>أدناه</strong></li>
                            </ul>
                            <div class="pricing-footer">
                                <a class="btn btn-default-outline btn-lg formButton" role="button" dir="rtl" disabled="disabled" data-FormType="@ViewBag.FormTemplateTypeResult[4]">
                                    <i class="fa fa-pencil fa-fw font-size-16 margin-left-10" aria-hidden="true"></i>
                                    إملأ الإستمارة
                                </a>
                            </div>
                        </div>

                        <div class="pricing-item">
                            <div class="pricing-header">
                                <div class="pricing-title">رضا الموظف</div>
                            </div>
                            <ul class="pricing-features" dir="rtl">
                                <li> رضا <strong>الموظف</strong></li>
                                <li> لمساعدتنا على إرضاء <strong>الموظف</strong></li>
                                <li> الرجاء  <strong>الضغط</strong></li>
                                <li> على  <strong>الزر</strong></li>
                                <li> الموجود <strong>أدناه</strong></li>
                            </ul>
                            @if (!User.IsInRole("Employee"))
                            {
                                <div class="pricing-footer" dir="rtl">
                                    <a class="btn btn-primary btn-lg formButton" role="button" data-FormType="@ViewBag.FormTemplateTypeResult[2]" disabled>
                                        <i class="fa fa-pencil fa-fw font-size-16 margin-left-10" aria-hidden="true"></i>
                                        إملأ الإستمارة
                                    </a>
                                </div>
                            }
                            else
                            {
                                <div class="pricing-footer" dir="rtl">
                                    <a class="btn btn-primary btn-lg formButton" role="button" data-FormType="@ViewBag.FormTemplateTypeResult[2]">
                                        <i class="fa fa-pencil fa-fw font-size-16 margin-left-10" aria-hidden="true"></i>
                                        إملأ الإستمارة
                                    </a>
                                </div>
                            }
                        </div>


                        <div class="pricing-item pricing-item-featured pricing-item-primary">
                            <div class="pricing-header">
                                <div class="pricing-title">رضا المواطن</div>
                            </div>
                            <ul class="pricing-features" dir="rtl">
                                <li> رضا <strong>المواطن</strong></li>
                                <li> لمساعدتنا على إرضاء <strong>المواطن</strong></li>
                                <li> الرجاء  <strong>الضغط</strong></li>
                                <li> على  <strong>الزر</strong></li>
                                <li> الموجود <strong>أدناه</strong></li>
                            </ul>
                            <div class="pricing-footer">
                                <a class="btn btn-primary-outline btn-lg formButton" role="button" dir="rtl" data-FormType="@ViewBag.FormTemplateTypeResult[0]">
                                    <i class="fa fa-pencil fa-fw font-size-16 margin-left-10" aria-hidden="true"></i>
                                    إملأ الإستمارة
                                </a>
                            </div>
                        </div>


                        <div class="pricing-item">
                            <div class="pricing-header">
                                <div class="pricing-title"> سوا لمكافحةالفساد </div>
                            </div>
                            <ul class="pricing-features" dir="rtl">
                                <li> سوا لمكافحة <strong>الفساد</strong></li>
                                <li> لمساعدتنا على مكافحة <strong>الفساد</strong></li>
                                <li> الرجاء  <strong>الضغط</strong></li>
                                <li> على  <strong>الزر</strong></li>
                                <li> الموجود <strong>أدناه</strong></li>
                            </ul>
                            <div class="pricing-footer">
                                <a class="btn btn-primary btn-lg formButtonFasad" role="button" dir="rtl" data-FormType="@ViewBag.FormTemplateTypeResult[1]">
                                    <i class="fa fa-pencil fa-fw font-size-16 margin-left-10" aria-hidden="true"></i>
                                    إملأ الإستمارة
                                </a>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="cwt__footer visible-footer container col-md-12" style="margin-left:0px;margin: 0; padding: 0; max-width:100%; overflow:hidden;">
        <div class="cwt__footer__top">
            <div class="row">
                <div style="margin-top:40px;">
                    <div class="col-lg-6">

                        <div class="cwt__footer__title cwt__footer__title--light" dir="rtl" style="margin-right:5%;">
                            <h3 style="color: #827ca1;">للاتصال بنا</h3>
                        </div>

                        <div class="row" dir="rtl">

                            <div class="col-lg-6"></div>

                            <div class="col-lg-6">
                                <ul class="list-unstyled">
                                    <li><i class="fa fa-phone" aria-hidden="true"></i> هاتف1:  3134671-11-963</li>
                                    <li><i class="fa fa-phone" aria-hidden="true"></i> هاتف2:  3134651-11-963</li>
                                    <li><i class="fa fa-envelope" aria-hidden="true"></i> بريد الكتروني: info@moad.gov.sy</li>
                                    <br />
                                    <li>تابعنا على</li>
                                    <li><span class="fa fa-facebook" style="color:#fff;"></span><span class="fa fa-twitter" style="color:#fff;margin-left:5%;margin-right:5%;"></span><span class="fa fa-google-plus" style="color:#fff;"></span></li>
                                </ul>
                            </div>

                        </div>

                    </div>

                    <div class="col-lg-6" dir="rtl">

                        <div class="cwt__footer__title" dir="rtl" style="margin-right:5%;">
                            <h3 style="color: #827ca1;">الروابط</h3>
                        </div>

                        <ul class="list-unstyled">
                            <li><a><h5 style="color: #827ca1;"><i class="fa fa-home" aria-hidden="true"></i> الرئيسية</h5></a></li>
                            <li><a><h5 style="color: #827ca1;"><i class="fa fa-building-o" aria-hidden="true"></i> عن الوزارة</h5></a></li>
                            <li><a><h5 style="color: #827ca1;"><i class="fa fa-newspaper-o" aria-hidden="true"></i> اخبار الوزارة</h5></a></li>
                            <li><a><h5 style="color: #827ca1;"><i class="fa fa-globe" aria-hidden="true"></i> نشر المعرفة</h5></a></li>
                            <li><a><h5 style="color: #827ca1;"><i class="fa fa-phone" aria-hidden="true"></i> اتصل بنا</h5></a></li>
                            <li><a><h5 style="color: #827ca1;"><i class="fa fa-wpforms" aria-hidden="true"></i> املأ استمارة ذاتية</h5></a></li>
                        </ul>

                    </div>
                </div>

            </div>
        </div>

        <div class="cwt__footer__bottom">

            <div class="row">

                <div class="col-md-4"></div>

                <div class="col-md-8">
                    <div class="cwt__footer__company">
                        <span>
                            Developed by Global Learning - مشروع وزارة التنمية ٢٠١٧ | All rights reserved Copyright <sup><i class="fa fa-copyright" aria-hidden="true"></i></sup>
                        </span>
                    </div>
                </div>

            </div>
        </div>
    </div>

</body>
</html>

<script type="text/javascript">

    $("#charikButton").click(function () {
        $('html,body').animate({
            scrollTop: $("#container2").offset().top
        },
            'slow');
    });

    $("#loginBtn").click(function () {
        window.location = '@Url.Action("Login", "Account")';
    });

    $("#HomeTab").click(function () {
        window.location = '@Url.Action("Index", "Home")';
    });

</script>

<script>




    $(function () {

        var chat = $.connection.chatHub;


        chat.client.addNewMessageToPage = function (name, message) {



            @if (User.IsInRole("AD Manager"))
                {

                    <text>
            $("#notificationnumber").text("1");


            getnotification();

            </text>

                }

        }

        $.connection.hub.start().done(function () {

        });
    });






    $("#loginBtn").click(function () {
        window.location = '@Url.Action("Login", "Account")';
    });


    //$(".souboutyat").click(function () {
    //    $('#chakwamodal').modal('show');
    //});

    $(".formButton").click(function () {

       

        var FormTemplateType = $(this).attr("data-FormType");
   
        $.ajax({
            url: '@Url.Action("GetFormTemplatesForAType", "Home")',
            dataType: "json",
            data: { TemplateType: FormTemplateType },
            success: function (result) {

                //$("#TemplatesForm").empty();

                $.each(result, function (key, value) {

                    window.location = '@Url.Action("NewClaimForm", "ClaimForms")/' + "?FormTemplateKey=" + value.FormTemplateKey;
                    //$("#TemplatesForm").append("<option value='" + value.FormTemplateKey + "'>" + value.Name + "</option>");


                });

                //$('#chakwamodal').modal('show');

            }
        });


    });

    $(".formButtonFasad").click(function () {
        @*window.location = '@Url.Action("NewClaimForm", "ClaimForms")/' + "?FormTemplateKey=106";*@
        if ("@User.Identity.IsAuthenticated" === "False") {

            bootbox.confirm({
                message: "الرجاء تسجيل الدخول !!",
                callback: function (result) {
                    window.location = '@Url.Action("Login", "Account")' + "?NextPageIndex=106";
                    return;
                }
            })
        } else {
            @if (User.IsInRole("Citizen"))
             {
                 <text>
            window.location = '@Url.Action("NewClaimForm", "ClaimForms")/' + "?FormTemplateKey=106";

            </text>
             }
             else
             {
                      <text>
            bootbox.alert("أنت لست مواطنا");
                 </text>
             }
        }









    });


    $(document).on('click', '#logoutBtn', function () {

        window.location = '@Url.Action("LogOff", "Account")';

    });

    $(document).on('click', '#gotoforms', function () {
        window.location = '@Url.Action("Index", "Forms")';
    });


</script>
<script>
    $(document).ready(function () {
        $("#shadowON").click();
        $("#superCleanON").click();
        $("#Organisations").select2();
        $("#TemplatesForm").select2();
        $("#Forms").select2();


    });


    $("#gotachakwa").click(function () {
        @*OrganisationKey = $("#Organisations").val();
        FormTemplateKey = $("#TemplatesForm").val();

        if ("@User.Identity.IsAuthenticated" === "False") {

            bootbox.confirm({
                message: "Please Sign In",
                callback: function (result) {
                    window.location = '@Url.Action("LoginToResult", "Account")/' + "?Organization=" + OrganisationKey + "&FormTemplate=" + FormTemplateKey;

                }
            })
        } else {

            window.location = '@Url.Action("NewClaimForm", "ClaimForms")/' + "?OrganizationKey=1&FormTemplateKey=106";
        }*@

        var FormKey = $("#Forms").val();


        window.location = '@Url.Action("NewClaimForm", "ClaimForms")/' + "?Organization=" + "1" + "&FormTemplateKey=" + FormKey;


    });




    $("#gotoclaimform").click(function () {
        window.location = '@Url.Action("Index", "MyClaim")';
    });


    $("#HomeTab").click(function () {
        window.location = '@Url.Action("Index", "Home")';
    });







    $(document).ready(function () {


        getnotification();

        @*@if (User.IsInRole("AD Manager"))
            {
                <text>
                getnotification();

                </text>

            }*@
    });

    @*(@form.CurrentFormKey,@form.GUID,@form.CreatedAt,@form.WorkFlowItemKey,@form.AssignedToUserKey,@form.UpdatedByUserKey,@form.NextFormTemplateKey,@form.InvocationTypeKey,@form.UpdatedAt)*@
    function goToMyClaim(formKey, GUID, CreatedAt, CitizenKey, NextFormTemplateKey, CurrentStatusKey, CurrentFormtemplateKey, CurrentFormtemplateName, NextStatusName) {
        console.log(formKey);
        console.log(GUID);
        console.log(CreatedAt);

        @if (User.IsInRole("ADManager") || User.IsInRole("ADDirector"))
            {
                 <text>
        window.location = '@Url.Action("ADManagerTemplate", "FormTemplatesDisplay")/' + "?formKey=" + formKey + "&GUID=" + GUID + "&CreatedAt=" + CreatedAt + "&CitizenKey=" + CitizenKey + "&CurrentStatusKey=" + CurrentStatusKey + "&NextFormTemplateKey=" + NextFormTemplateKey + "&CurrentFormtemplateKey=" + CurrentFormtemplateKey + "&CurrentFormtemplateName=" + CurrentFormtemplateName;
        </text>
             }
        @if (User.IsInRole("OPManager") || User.IsInRole("OPGeneralDirector") || User.IsInRole("OPDirector"))
            {
                 <text>
        window.location = '@Url.Action("FormInstance", "Home")/' + "?formKey=" + formKey + "&GUID=" + GUID + "&CreatedAt=" + CreatedAt + "&CitizenKey=" + CitizenKey + "&CurrentStatusKey=" + CurrentStatusKey + "&NextFormTemplateKey=" + NextFormTemplateKey + "&CurrentFormtemplateKey=" + CurrentFormtemplateKey + "&CurrentFormtemplateName=" + CurrentFormtemplateName + "&NextStatusName=" + NextStatusName;
        </text>
             }
        @if (User.IsInRole("Citizen"))
             {
                 <text>
        window.location = '@Url.Action("MyClaimForm", "MyClaim")/' + "?formKey=" + formKey;
        </text>
             }
    }



    function GoToInstanceForm(formkey) {
        window.location = '@Url.Action("FormInstance", "Home")/' + "?formKey=" + formkey;
    }

    function getnotification() {

        $.ajax({
            type: 'GET',
            url: '@Url.Action("GetNotifications", "MyClaim")',

            data: {
            },
            dataType: 'text',
            success: function (result) {

                var test = JSON.parse(result);
                //console.log(test);
                $.each(test, function (index, value) {




                    //<div class="item">
                    //               <i class="notification-icon icmn-star-full"></i>
                    //               <div class="inner">
                    //                   <div class="title">
                    //                       <span class="pull-right">now</span>
                    //                       <a href="javascript: void(0);">Update Status: <span class="label label-danger font-weight-700">New</span></a>
                    //                   </div>
                    //                   <div class="descr">
                    //                       Failed to get available update data. To ensure the proper functioning of your application, update now.
                    //                   </div>
                    //               </div>
                    //           </div>




                    var html = "";
                    html += '<div class="item" onclick="goToMyClaim(' + value.FormKey + ')" >'
                    html += '<i class="notification-icon icmn-star-full"></i>';
                    html += '<div class="inner">';
                    html += '<div class="title">';
                    html += '<span class="pull-right">now</span>';
                    html += '<a>إستمارة جديدة : <span class="label label-danger font-weight-700">New</span></a>'
                    html += '</div>';
                    html += '<div class="descr">';
                    html += '' + value.Name + '';

                    html += '</div> </div> </div>';



                    //var html = "";
                    //html += '<li onclick="goToMyClaim(' + value.FormKey + ')">';
                    //html += '<a>';
                    //html += '<span class="time">just now</span>';
                    //html += '<span class="details">';
                    //html += '<span class="label label-sm label-icon label-success">';
                    //html += '<i class="fa fa-plus"></i>';
                    //html += '</span> ' + value.Name + '';
                    //html += '</span>';
                    //html += '</a>';
                    //html += '</li>';


                    $("#notificationsbar").append(html);


                });
            }
        });

    }








    $("#gotodashbord").click(function () {

        @if (User.IsInRole("ADManager") || User.IsInRole("ADDirector"))
                {
                    <text>
        window.location = '@Url.Action("AdUsersLandingPage", "Home")';

        </text>
                }else if(User.IsInRole("ADManager"))
                {
              <text>
        window.location = '@Url.Action("Index", "MouwazafinWithOrgs")';

        </text>
        }
        else
        {
                 <text>
        window.location = '@Url.Action("Index", "UserDashboard")';

        </text>
        }
    });

    $("#tabsitalejra2at").click(function () {
        @if (User.IsInRole("ADManager") || User.IsInRole("ADDirector"))
                    {
                        <text>
        $('#chakwamodal').modal('show');

        </text>
                    }


    });


    $("#mawka3jadid").click(function () {

        window.location = '@Url.Action("IndexNew", "Home")';


    });
</script>
