﻿
@{
    Layout = null;
}
<!DOCTYPE html>

<html>

<head>
    <meta name="viewport" content="width=device-width" />
    <title>الصفحة الرئيسية</title>

    <link rel="apple-touch-icon" sizes="57x57" href="~/FavIcon/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="~/FavIcon/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="~/FavIcon/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="~/FavIcon/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="~/FavIcon/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="~/FavIcon/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="~/FavIcon/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="~/FavIcon/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="~/FavIcon/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192" href="~/FavIcon/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="~/FavIcon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="~/FavIcon/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="~/FavIcon/favicon-16x16.png">
    <link rel="manifest" href="~/FavIcon/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="~/FavIcon/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">

    <link href="@Url.Content("~/Content/Css/font-awesome.min.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/Css/bootstrap.min.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/Css/bootstrap-switch.min.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/vendors/datatables/media/css/dataTables.bootstrap4.min.css")" rel="stylesheet" type="text/css">

    <script src="@Url.Content("~/Scripts/vendors/jquery/jquery.min.js")"></script>
    <script src="@Url.Content("~/Scripts/vendors/tether/dist/js/tether.min.js")"></script>

    <script src="@Url.Content("~/Scripts/vendors/datatables/media/js/jquery.dataTables.min.js")"></script>
    <script src="@Url.Content("~/Scripts/vendors/datatables/media/js/dataTables.bootstrap4.min.js")"></script>
    <script src="@Url.Content("~/Scripts/vendors/datatables-fixedcolumns/js/dataTables.fixedColumns.js")"></script>
    <script src="@Url.Content("~/Scripts/vendors/datatables-responsive/js/dataTables.responsive.js")"></script>
    <script src="@Url.Content("~/Scripts/vendors/bootstrap/dist/js/bootstrap.min.js")"></script>
    <script src="@Url.Content("~/Scripts/bootbox.min.js")"></script>
    <style type="text/css">
        header {
            background-color: #27358A;
            direction: rtl;
            color: white;
            height: 81px;
        }

        .head {
            background-color: #27358A;
            direction: rtl;
            color: white;
            height: 50px;
        }

        .middle {
            display: table-cell;
            vertical-align: middle;
            text-align: center;
        }

        header span {
            cursor: pointer;
        }

        span {
            margin-right: 2%;
        }

        li span {
            cursor: pointer;
        }

        .mainSections {
            width: 180px;
        }

        body {
            margin: 0;
            font-family: Calibri;
        }

        .vcenter {
            display: inline-block;
            vertical-align: middle;
            float: none;
        }

        hr {
            margin-top: 2px !important;
            margin-bottom: 4px !important;
        }

        table tbody tr {
            height: 40px;
        }

        .odd {
            background-color: #d3d3d3;
        }
        .modal-body{
            text-align:right;
        }
    </style>


</head>

<body style="overflow-x:hidden;">

    @Html.Partial("_SharedHeader")

    <div class="row" style="margin-top:100px;background-color:#B9BABD;height:44px;font-size:2.2rem;">
        <div class="col-md-2">

        </div>

        <div class="col-md-10" style="margin-top:7px;">
            <span style="float:left;color:#0072BC;margin-left:7%;">للتنمية و الإصلاح</span>
            <span style="float:left;color:#F36421;">..يدا بيد</span>
        </div>
    </div>

    <div class="row" style="background-color:white; height:5px;"></div>

    <div class="row" style="background-color:#F26522;">

        <div class="col-md-12">

            <div id="imageContainer" class="col-md-5 pull-left" style="position: absolute; padding-top: 20px;">
                <a href='@Url.Action("Index", "Home")'>
                    <img style="width:300px;float:  left;margin: 0;" src="@Url.Content("~/Images/NewDesign/silatWaselEmpty.png")" alt="Minister">
                </a>



            </div>

            <div id="sectionNameContainer" class="col-md-7 pull-right" style="color:white;overflow:hidden;">
                <div class="row">
                    <span style="float:right;color:#273896;font-size: 9rem;">منبر</span>
                    <span style="float:right;font-size: 5rem;color:#273896;margin-top: 36px;">صلة وصل</span>
                </div>
                @*<br>*@

                <div class="row">
                    <span style="float:right;width:100%;text-align:right;font-size:2.2rem;">
                        حول الإبداع الحكومي
                    </span>
                </div>
                <br>

                <div id="sectionTextContainer" class="row">
                    <span style="float:right;text-align:right;font-size:1.6rem;">
                        يمثل منبر صلة وصل نافذة تفاعلية تسمح بقياس معايير الأداء الإداري للجهات العامة و دعمها للنهوض بيه من خلال قياس رضا المواطن عن الخدمات و المنتجات و الإجراءات التي يقوم بها للحصول على مخرج لتلك المؤسسة حيث يمثل أحد معايير قياس الأداء الإداري من خلال الإستبيان الخاص ب "رضا المواطن" و معا للتبسيط
                    </span>
                </div>
                <br>
            </div>

        </div>
    </div>
   
        @*@if (User.IsInRole("Citizen"))
        {
            @Html.Action("CitizenNav", "QuickNav")

        }*@
    
  
    <div class="row" style="background-color:white; height:5px;"></div>

    @Html.Partial("_SharedKhouzKararak")

    <div class="row" style="height:35px;background-color:#F26522;">
        <div style="text-align:center;padding-top:4px;">
            @*<span style="color:  white; font-size:  2rem; font-weight:bold;">التصنيف الحالي للوزارة وفقا لوجهة نظر المواطن</span>*@
        </div>
    </div>

    @*@Html.Partial("_SharedScoringResults")*@

    <div class="col-md-12" style="background-color:#F26522;height:38px;text-align:center;width:104%;">
        <div style="text-align:center;padding-top: 10px;">
        </div>
    </div>

</body>

</html>

<script type="text/javascript">

    $(document).ready(function () {

        $("#tableOne").DataTable(
            {
                searching: false,
                paging: false,
                "bInfo": false
            });

        $("#tableTwo").DataTable(
            {
                searching: false,
                paging: false,
                "bInfo": false
            });

    });

    $(document).on('click', '.moreDetails', function () {
        $("#tableTwoContainer").show();
        $('html,body').animate({
            scrollTop: $("#tableTwo").offset().top
        },
        'slow');
    });

    $(document).on('click', '.closeInfo', function () {
        $("#tableTwoContainer").hide();
    });

  

</script>


<script type="text/javascript">

    window.onresize = function (event) {
        reorderElements();
    };

    $(document).ready(function () {
        reorderElements();
    });

    function reorderElements() {

        if ($(window).width() < 980) {
            $("#imageContainer").css("position", "");
        } else {
            $("#imageContainer").css("position", "absolute");
        }

    }


</script>
