﻿

@{
    Layout = "~/views/home/pageshared.cshtml";

}


<head>

    <title>مرصد الأداء الاداري</title>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link href="@Url.Content("~/content/about/assets/css/main.css")" rel="stylesheet" />


</head>


<div class="row Body" style="overflow-x:hidden;filter: blur(25px);transition: filter 2s;-webkit-transition: filter 2s;">


    <!-- Main -->
    <section id="main" style="position:relative;margin-top:2%;text-align:center;">
        <div class="inner">

            <!-- One -->
            <section id="one" class="wrapper style1" style="font-family: 'Droid Arabic Kufi',serif">

                <div class="image fit flush">

                    <img src="@Url.Content("~/imag/43fae2d5-8345-4bd7-b6ef-9981a9ccad8f.jpg")" alt="" />
                </div>
                <header class="special">
                    <h2>إعلان الخصوصية</h2>
                    <p>الجمهورية العربية السورية</p>
                </header>
                <div class="content">

                    <p lang="ar" dir="rtl" style="font-size:20px;text-align:justify;line-height: 45px;">تلتزم وزارة التنمية الإدارية بحماية حقوق مستخدمي موقعها الالكتروني، والحفاظ على سرية البيانات والمعلومات. وقد أعددنا هذا الإعلان الخاص بالخصوصية والأمن لتوضيح النهج الذي نتبعه في جمع المعلومات وإدارتها ونشرها على الموقع الالكتروني:</p>
                    <ol lang="ar" dir="rtl" style="font-size:20px;list-style:decimal;text-align:right;margin-right: 8%;line-height: 40px;">
                        <li>	 يحق لوزارة التنمية الإدارية اتخاذ التدابير التي تراها ملائمة للحماية من أي إساءة في استخدام أو تغيير للمعلومات الموجودة على الموقع الالكتروني للوزارة. </li>
                        <li>في حال تم انتهاك السرية التي تخص بياناتك الشخصية والتي يمكن أن تتم من خلال إدخالها إلى مواقع الكترونية أخرى، تعتبر وزارة التنمية الإدارية غير مسؤولة قانوناً عن ذلك.</li>
                        <li>	 المستخدم وحده مسؤول عن كافة ما يقوم به من تصرفات أثناء استخدامه لأي من المواقع الالكترونية التي يقوم بزيارتها، من خلال تلك الروابط الموجودة على هذا الموقع.</li>
                        <li>إن قررنا تغيير الممارسات المرتبطة بالخصوصية، فإننا سنقوم بنشر أي تغييرات ستجرى على سياسة الخصوصية في الصفحة الحالية، لذا يفضل الاطلاع عليها بشكل مستمر كل فترة. </li>
                        <li>قوانين الجمهورية العربية السورية هي المطبقة في كل ما يتعلق بالنزاعات التي قد تنشأ من جراء استخدام هذا الموقع الإلكتروني، كما تختص محاكم الجمهورية العربية السورية حصرياً بالنظر في تلك النزاعات والبت فيها.</li>
                        <li>نلتزم بوصف المنهجية التي قد تستخدم بها بياناتك أو مشاركتها في إطار سياسة هذه الخصوصية، كما نلتزم باستخدام إجراءات صارمة للحفاظ على بياناتك بشكل آمن.</li>



                    </ol>


                    <h1>شروط الاستخدام لمنبر صلة وصل </h1>
                    <h2 lang="ar" dir="rtl">أولاً- يلغى حساب المشترك في حال:</h2>

                    <ul lang="ar" dir="rtl" style="font-size:20px;list-style:circle;text-align:right;margin-right: 8%;line-height: 40px;">
                        <li>	التسجيل بأكثر من حساب في الموقع وهذا يعرض كل حسابات المستخدم للإيقاف.</li>
                        <li>استخدام أكثر من شخص لنفس الحساب، ويلتزم المستخدم عند التسجيل أنه الوحيد الذي سيستخدمه وأنه مسؤول عن كل التعاملات التي تتم عبره.</li>
                        <li>	انتحال شخصية شخص آخر.</li>
                        <li>التعرض للشخصيات العامة في الدولة.</li>
                        <li>	الالتزام بقواعد النشر العامة واتباع الطروحات الموضوعية والعلمية للوصول إلى نتائج.</li>
                        <li>	عدم الاستهزاء بالآخرين مهما كانت جنسيتهم أو عرقهم أو انتمائه.</li>
                        <li>	عدم نشر صور كاريكاتورية مسيئة للأشخاص أو الأديان أو الطوائف أو الحكومة السورية.</li>
                        <li>	نشر أي معلومات خاصة غير متاحة.</li>
                        <li>	الترويج، الدعاية، الإعلان، طلبات، مبيعات.</li>
                        <li>	طلب التعامل أو التواصل خارج منبر صلة وصل.</li>
                        <li>	الإساءة إلى أي مستخدم آخر أو جهة أخرى.</li>


                    </ul>



                    <h2 lang="ar" dir="rtl">ثانياً- شروط إخلاء المسؤولية:</h2>
                    <p lang="ar" dir="rtl" style="font-size:20px;text-align:justify;line-height: 45px;">يتم حذف المنشورات المخالفة للشروط مع إرسال تنبيه للمستخدم إلى بريده الالكتروني ونذكر منها:</p>
                    <ul lang="ar" dir="rtl" style="font-size:20px;list-style:circle;text-align:right;margin-right: 8%;line-height: 40px;">

                        <li>	المنشورات غير الواضحة تماماً، والتي تحتوي على كلمات غير واضحة في العنوان.</li>
                        <li>المنشورات المكتوبة بلغة غير اللغة العربية الفصحى أو بلهجة محلية.</li>
                        <li>	المنشورات السياسية، الطائفية.</li>
                        <li>	المنشورات التي تم تكرار الوصف فيها عدة مرات لمليء الفراغ.</li>
                        <li>	احتواء المنشورات على صورة مخالفة أو صورة سيئة.</li>
                        <li>المنشورات المخالفة للقوانين.</li>
                        <li>	المنشورات المنسوخة تماماً من أشخاص آخرين.</li>
                        <li>	المنشورات التي لا تتعلق بقضايا إدارية بأي وجه.</li>
                        <li>	إضافة معلومات اتصال خارجية كالبريد الالكتروني أو رقم الهاتف.</li>
                        <li>	نشر الخلافات التي تحدث.</li>
                        <li>	أي تعليق فيه إهانة لأي مستخدم.</li>
                        <li>أي تعليق فيه لهجة مسيئة لأي طرف.</li>
                        <li>	كتابة تعليقات غير مفيدة، مثل التعليقات التي لا علاقة لها بالموضوع، تعليقات الترويج لخدماتك وغيرها.</li>
                        <li>	نشر مواضيع منسوخة أو منقولة.</li>





                    </ul>

                </div>
            </section>


        </div>

    </section>




    <!-- Scripts -->
    @*<script src="@Url.Content("~/content/about/assets/js/jquery.min.js")"></script>*@

    <script src="@Url.Content("~/content/about/assets/js/jquery.poptrox.min.js")"></script>
    <script src="@Url.Content("~/content/about/assets/js/skel.min.js")"></script>
    <script src="@Url.Content("~/content/about/assets/js/util.js")"></script>
    <script src="@Url.Content("~/content/about/assets/js/main.js")"></script>


</div>
<script>
    $("#Khousousya").css("background-color", "grey");

</script>