﻿@using MoAD.WebApplication.Objects;

@{
    //Layout = "~/views/home/pageshared.cshtml";
    Layout = "~/views/home/_SharedLayout.cshtml";
    Dictionary<string, string> Locale = ViewBag.Locale;

}


<head>

    <title>مشاريع الوزارة</title>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link href="@Url.Content("~/content/about/assets/css/main.css")" rel="stylesheet" />

    <style>
        p {
            line-height: 45px !important;
            font-size: 18px !important;
        }

        p, li {
                color: black;
            }
    </style>
</head>


<div class="row Body" style="overflow-x:hidden;filter: blur(25px);transition: filter 2s;-webkit-transition: filter 2s;">


    <!-- Main -->
    <section id="main" style="position:relative;margin-top:2%;text-align:center;">
        <div class="inner">

            <!-- One -->
            <section id="one" class="wrapper style1" style="font-family: 'Droid Arabic Kufi',serif">

                <div class="image fit flush">

                    <img src="@Url.Content("~/images/about/markaz/capture.png")" alt="" />
                </div>
                <header class="special">
                    <h2> @Html.Raw(BaseController.GetFieldLabel(Locale, "Machari3WizaraPageMachari3WizaraTitle"))</h2>
                    <p> @Html.Raw(BaseController.GetFieldLabel(Locale, "Machari3WizaraPageSyrianArabRepublic"))</p>
                </header>
            </section>



            <!-- Three -->
            <section id="three" class="wrapper" style="font-family: 'Droid Arabic Kufi',serif">
                <div class="spotlight alt">
                    <div class="image flush">
                        <p lang="ar" dir="rtl" style="font-size:35px;text-align:center;">
                            @Html.Raw(BaseController.GetFieldLabel(Locale, "Machari3WizaraPageText1"))
                            @Html.Raw(BaseController.GetFieldLabel(Locale, "Machari3WizaraPageText1Part2"))
                        </p>
                    </div>
                    <div class="inner">
                        <h3 lang="ar" dir="rtl" style="font-size:45px;text-align:center;"> @Html.Raw(BaseController.GetFieldLabel(Locale, "Machari3WizaraPageText2"))</h3>
                    </div>
                </div>

                <div class="spotlight">
                    <div class="image flush">
                        <p lang="ar" dir="rtl" style="font-size:35px;text-align:center;">
                            @Html.Raw(BaseController.GetFieldLabel(Locale, "Machari3WizaraPageText3"))
                            <br/>
                            @Html.Raw(BaseController.GetFieldLabel(Locale, "Machari3WizaraPageText3Part2"))
                            <br /> <b> @Html.Raw(BaseController.GetFieldLabel(Locale, "Machari3WizaraPageText4"))</b><br />
                              @Html.Raw(BaseController.GetFieldLabel(Locale, "Machari3WizaraPageText5"))
                            <br/>@Html.Raw(BaseController.GetFieldLabel(Locale, "Machari3WizaraPageText5Part2"))
                        </p>
                    </div>
                    <div class="inner">
                        <h3 lang="ar" dir="rtl" style="font-size:45px;text-align:center;"> @Html.Raw(BaseController.GetFieldLabel(Locale, "Machari3WizaraPageText6"))</h3>
                    </div>
                </div>


                <div class="spotlight alt">
                    <div class="image flush">
                        <p lang="ar" dir="rtl" style="font-size:35px;text-align:center;">
                            @Html.Raw(BaseController.GetFieldLabel(Locale, "Machari3WizaraPageText7"))
                            <br /><b> @Html.Raw(BaseController.GetFieldLabel(Locale, "Machari3WizaraPageText8"))</b><br>
                            @Html.Raw(BaseController.GetFieldLabel(Locale, "Machari3WizaraPageText9"))

                            <br /><b> @Html.Raw(BaseController.GetFieldLabel(Locale, "Machari3WizaraPageText10"))</b><br />

                            @Html.Raw(BaseController.GetFieldLabel(Locale, "Machari3WizaraPageText11"))
                        </p>
                    </div>
                    <div class="inner">
                        <h3 lang="ar" dir="rtl" style="font-size:45px;text-align:center;"> @Html.Raw(BaseController.GetFieldLabel(Locale, "Machari3WizaraPageText12"))</h3>
                    </div>
                </div>

                <div class="spotlight">
                    <div class="image flush">
                        <p lang="ar" dir="rtl" style="font-size:35px;text-align:center;">
                            @Html.Raw(BaseController.GetFieldLabel(Locale, "Machari3WizaraPageText13"))<br/>
                            @Html.Raw(BaseController.GetFieldLabel(Locale, "Machari3WizaraPageText13Part2"))
                            <br /><b> @Html.Raw(BaseController.GetFieldLabel(Locale, "Machari3WizaraPageText14"))</b><br />

                             @Html.Raw(BaseController.GetFieldLabel(Locale, "Machari3WizaraPageText15"))
                        </p>
                    </div>
                    <div class="inner">
                        <h3 lang="ar" dir="rtl" style="font-size:45px;text-align:center;"> @Html.Raw(BaseController.GetFieldLabel(Locale, "Machari3WizaraPageText16"))</h3>
                    </div>
                </div>

                <div class="spotlight alt">
                    <div class="image flush">
                        <p lang="ar" dir="rtl" style="font-size:35px;text-align:center;">
                             @Html.Raw(BaseController.GetFieldLabel(Locale, "Machari3WizaraPageText17"))<br />
                            @Html.Raw(BaseController.GetFieldLabel(Locale, "Machari3WizaraPageText17Part2"))
                        </p>
                    </div>
                    <div class="inner">
                        <h3 lang="ar" dir="rtl" style="font-size:45px;text-align:center;"> @Html.Raw(BaseController.GetFieldLabel(Locale, "Machari3WizaraPageText18"))</h3>
                    </div>
                </div>

                <div class="spotlight">
                    <div class="image flush">
                        <p lang="ar" dir="rtl" style="font-size:35px;text-align:center;">
                             @Html.Raw(BaseController.GetFieldLabel(Locale, "Machari3WizaraPageText19"))
                            <br />
                            @Html.Raw(BaseController.GetFieldLabel(Locale, "Machari3WizaraPageText19Part2"))                           
                        </p>
                    </div>
                    <div class="inner">
                        <h3 lang="ar" dir="rtl" style="font-size:45px;text-align:center;">@Html.Raw(BaseController.GetFieldLabel(Locale, "Machari3WizaraPageText20"))</h3>
                    </div>
                </div>

                <div class="spotlight alt">
                    <div class="image flush">
                        <p lang="ar" dir="rtl" style="font-size:35px;text-align:center;">
                             @Html.Raw(BaseController.GetFieldLabel(Locale, "Machari3WizaraPageText21"))
                        </p>
                    </div>
                    <div class="inner">
                        <h3 lang="ar" dir="rtl" style="font-size:45px;text-align:center;">@Html.Raw(BaseController.GetFieldLabel(Locale, "Machari3WizaraPageText22"))</h3>
                    </div>
                </div>

                <div class="spotlight">
                    <div class="image flush">
                        <p lang="ar" dir="rtl" style="font-size:35px;text-align:center;">
                             @Html.Raw(BaseController.GetFieldLabel(Locale, "Machari3WizaraPageText23"))
                            <br/>
@Html.Raw(BaseController.GetFieldLabel(Locale, "Machari3WizaraPageText23Part2"))
                        </p>
                    </div>
                    <div class="inner">
                        <h3 lang="ar" dir="rtl" style="font-size:45px;text-align:center;"> @Html.Raw(BaseController.GetFieldLabel(Locale, "Machari3WizaraPageText24"))</h3>
                    </div>
                </div>

                <div class="spotlight alt">
                    <div class="image flush">
                        <p lang="ar" dir="rtl" style="font-size:35px;text-align:center;">
                             @Html.Raw(BaseController.GetFieldLabel(Locale, "Machari3WizaraPageText25"))
                        </p>
                    </div>
                    <div class="inner">
                        <h3 lang="ar" dir="rtl" style="font-size:45px;text-align:center;"> @Html.Raw(BaseController.GetFieldLabel(Locale, "Machari3WizaraPageText26"))</h3>
                    </div>
                </div>


                <div class="spotlight">
                    <div class="image flush">
                        <p lang="ar" dir="rtl" style="font-size:35px;text-align:center;">
                             @Html.Raw(BaseController.GetFieldLabel(Locale, "Machari3WizaraPageText27"))
                            <br/>
                            @Html.Raw(BaseController.GetFieldLabel(Locale, "Machari3WizaraPageText27Part2"))
                        </p>
                    </div>
                    <div class="inner">
                        <h3 lang="ar" dir="rtl" style="font-size:45px;text-align:center;">@Html.Raw(BaseController.GetFieldLabel(Locale, "Machari3WizaraPageText28"))</h3>
                    </div>
                </div>

                <div class="spotlight alt">
                    <div class="image flush">
                        <p lang="ar" dir="rtl" style="font-size:35px;text-align:center;">
                              @Html.Raw(BaseController.GetFieldLabel(Locale, "Machari3WizaraPageText29"))
                            <br/>
@Html.Raw(BaseController.GetFieldLabel(Locale, "Machari3WizaraPageText29Part2"))
                        </p>
                    </div>
                    <div class="inner">
                        <h3 lang="ar" dir="rtl" style="font-size:45px;text-align:center;"> @Html.Raw(BaseController.GetFieldLabel(Locale, "Machari3WizaraPageText30"))</h3>
                    </div>
                </div>

            </section>
        </div>

    </section>




    <!-- Scripts -->
    @*<script src="@Url.Content("~/content/about/assets/js/jquery.min.js")"></script>*@

    <script src="@Url.Content("~/content/about/assets/js/jquery.poptrox.min.js")"></script>
    <script src="@Url.Content("~/content/about/assets/js/skel.min.js")"></script>
    <script src="@Url.Content("~/content/about/assets/js/util.js")"></script>
    <script src="@Url.Content("~/content/about/assets/js/main.js")"></script>


</div>
