﻿@using MoAD.WebApplication.Encryption

@{
    Layout = null;
    var Token = Html.AntiForgeryToken();
}

<head>
    <meta name="viewport" content="width=device-width" />
    <title>منبر صلة وصل</title>

    <link rel="apple-touch-icon" sizes="57x57" href="~/FavIcon/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="~/FavIcon/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="~/FavIcon/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="~/FavIcon/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="~/FavIcon/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="~/FavIcon/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="~/FavIcon/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="~/FavIcon/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="~/FavIcon/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192" href="~/FavIcon/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="~/FavIcon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="~/FavIcon/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="~/FavIcon/favicon-16x16.png">
    <link rel="manifest" href="~/FavIcon/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="~/FavIcon/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">

    <link href="@Url.Content("~/Content/Css/font-awesome.min.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/Css/bootstrap.min.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/Css/bootstrap-switch.min.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/vendors/datatables/media/css/dataTables.bootstrap4.min.css")" rel="stylesheet" type="text/css">

    <script src="@Url.Content("~/Scripts/vendors/jquery/jquery.min.js")"></script>
    <script src="@Url.Content("~/Scripts/vendors/tether/dist/js/tether.min.js")"></script>

    <script src="@Url.Content("~/Scripts/vendors/datatables/media/js/jquery.dataTables.min.js")"></script>
    <script src="@Url.Content("~/Scripts/vendors/datatables/media/js/dataTables.bootstrap4.min.js")"></script>
    <script src="@Url.Content("~/Scripts/vendors/datatables-fixedcolumns/js/dataTables.fixedColumns.js")"></script>
    <script src="@Url.Content("~/Scripts/vendors/datatables-responsive/js/dataTables.responsive.js")"></script>
    <script src="@Url.Content("~/Scripts/vendors/bootstrap/dist/js/bootstrap.min.js")"></script>
    <script src="@Url.Content("~/Scripts/bootbox.min.js")"></script>
    <style type="text/css">
        header {
            background-color: #27358A;
            direction: rtl;
            color: white;
            height: 81px;
        }

        .head {
            background-color: #27358A;
            direction: rtl;
            color: white;
            height: 50px;
        }

        .middle {
            display: table-cell;
            vertical-align: middle;
            text-align: center;
        }

        header span {
            cursor: pointer;
        }

        span {
            margin-right: 2%;
        }

        li span {
            cursor: pointer;
        }

        .mainSections {
            width: 180px;
        }

        body {
            margin: 0;
            font-family: Calibri;
        }

        .vcenter {
            display: inline-block;
            vertical-align: middle;
            float: none;
        }

        hr {
            margin-top: 2px !important;
            margin-bottom: 4px !important;
        }

        table tbody tr {
            height: 40px;
        }

        .odd {
            background-color: #d3d3d3;
        }

        .modal-body {
            text-align: right;
        }

        * {
            box-sizing: border-box;
        }

        .column {
            float: left;
            width: 16%;
            padding: 5px;
            cursor: pointer;
        }

        .column1 {
            display: inline-block;
        }

        /* Clearfix (clear floats) */
        .row::after {
            content: "";
            clear: both;
            display: table;
        }

        #test {
            background-repeat: no-repeat !important;
            background-size: 100% 61%;
            height: 50% !important;
        }

        #Marsad {
            background-repeat: no-repeat !important;
            background-size: 100% 61%;
            height: 50% !important;
            cursor:pointer !important;
        }

        #test2 {
            background-repeat: no-repeat !important;
            /*height: 45% !important;*/
            /*background-size: 100% 25%;*/
            margin-top: -9% !important;
        }

        @@media (max-width: 970px) {
            #imageContainer {
                display: none;
            }

            #test {
                height: 80% !important;
            }
        }

        @@media (max-width: 1000px) {
            #Logo6Div {
                position: inherit !important;
            }
        }
    </style>


</head>


<body style="overflow-x:hidden;margin-left:15%" class="col-md-8">
    <div class="row">
        @Html.Partial("_SharedHeaderTest")

    </div>

    @*<div class="row" style="background-color:rgb(0,44,83);text-align:right;">
        <div style="margin-right:8%;">
            <img style="width:6%;margin-right:2%;" src="@Url.Content("~/images/newdesignpics/Search.png")" class="Manbar"/>

            <img style="width:6%;margin-right:35%;" src="@Url.Content("~/images/newdesignpics/login.png")" class="Manbar"/>


            <img style="width:6%;margin-right:2%;" src="@Url.Content("~/images/newdesignpics/HymayatAlSerya.png")" class="Manbar"/>
            <img style="width:6%;margin-right:2%;" src="@Url.Content("~/images/newdesignpics/SyasatAlKhousousya.png")" class="Manbar"/>

            <img style="width:6%;margin-right:2%;" src="@Url.Content("~/images/newdesignpics/KayfyatAlEstekhdam.png")" class="Manbar"/>

            <img style="width:6%;margin-right:2%;" src="@Url.Content("~/images/newdesignpics/hawlalmanbar.png")" class="Manbar"/>

            <img style="width:6%" src="@Url.Content("~/images/newdesignpics/hawlalmarkaz.png")" class="Manbar"/>
            <img style="width:2%;margin-left:1%;" src="@Url.Content("~/images/newdesignpics/home_icon.png")" class="Manbar"/>

        </div>

    </div>*@

    <div class="row">

   
        <img src="@Url.Content("~/images/newdesignpics/majleswizara.png.png")" style="width:100%" />


    </div>


    <div class="row" style="margin-top: 2%;margin-left: 18%;margin-right: 6%;">

        <div class="row">

            <div class="column">
                <img src="@Url.Content("~/images/newdesignpics/ridaAlMouwazaf.png")" alt="Fjords" style="width:100%;" data-FormType="@ViewBag.FormTemplateTypeResult[9]" class="formButtonMouwazaf">
            </div>

            <div class="column">
                <img src="@Url.Content("~/images/newdesignpics/empty.png")" alt="Forest" style="width:100%">
            </div>
            <div class="column">
                <img src="@Url.Content("~/images/newdesignpics/ridaAlMouwaten.png")" alt="Fjords" style="width:100%" data-FormType="@ViewBag.FormTemplateTypeResult[8]" class="formButton">
            </div>
            <div class="column">
                <img src="@Url.Content("~/images/newdesignpics/empty.png")" alt="Forest" style="width:100%">
            </div>
            <div class="column">
                <img src="@Url.Content("~/images/newdesignpics/sawaLiMoukafa7etAlFasad.png")" alt="Mountains" style="width:100%" data-FormType="@ViewBag.FormTemplateTypeResult[1]" class="formButtonFasad">
            </div>
        </div>

        <div class="row">

            <div class="column">
                <img src="@Url.Content("~/images/newdesignpics/empty.png")" style="width:100%" />
            </div>
            <div class="column">
                <img src="@Url.Content("~/images/newdesignpics/Ma3anLiTabsitAl2ejra2at.png")" style="width:100%" data-FormType="@ViewBag.FormTemplateTypeResult[10]" class="formButton"/>
            </div>
            <div class="column">
                <img src="@Url.Content("~/images/newdesignpics/empty.png")" style="width:100%" />
            </div>
            <div class="column">
                <img src="@Url.Content("~/images/newdesignpics/Ma3anLIThouboutyatAkal.png")" style="width:100%" data-FormType="@ViewBag.FormTemplateTypeResult[11]" class="formButton"/>
            </div>
            <div class="column">
                <img src="@Url.Content("~/images/newdesignpics/empty.png")" style="width:100%" />
            </div>


        </div>



    </div>




    <div class="row" style="margin-top:2%;">

        <div class="col-md-6 col-lg-6" id="test" style="background-image: url('@Url.Content("../images/newdesignpics/BackgroundMarsadIdari.png")'">
            <div style="background-color:#f4f4f4;width:90%;color:#ffffff;margin-left: 6%;opacity: 0.5;text-align:center;">
                <h1 style="color:#1f194f;opacity:1;padding:10px;">ساهم بصنع الفرق</h1>
            </div>

            <div style="width:80%;margin-right: 3%;text-align:right;border: 2px solid white;padding: 2px;border-radius: 25px;float:right">
                <h1 style="color:#ffffff;opacity:1;">نص السؤال</h1>
            </div>

            <br />

            <div style="width:40%;margin-right: 3%;text-align:right;border: 2px solid white;padding: 8px;border-radius: 25px;float:right;margin-top:4%;">
                <h1 style="color:#ffffff;opacity:1;">إستطلاع الرأي</h1>
            </div>

        </div>

        <div class="col-md-6 col-lg-6" id="Marsad" style="background-image: url('@Url.Content("~/images/newdesignpics/MarsadAlAda2AlIdari.png")'">


            @*<img src="@Url.Content("~/images/newdesignpics/MarsadAlAda2AlIdari.png")" style="width:100%;height: 30.5%;" />*@



        </div>



    </div>




    @Html.Partial("_Footer")

</body>
<script>

    $("#Marsad").click(function () {

        submit_post_via_hidden_form("@Url.Action("Marsad", "Home")", { });


    });

    $(".formButtonMouwazaf").click(function () {

        if ("@User.Identity.IsAuthenticated" === "False") {
            var FormTemplateType = $(this).attr("data-FormType");

            $.ajax({
                url: '@Url.Action("GetFormTemplatesForAType", "Home")',
                dataType: "json",
                data: { TemplateType: FormTemplateType },
                success: function (result) {


                    $.each(result, function (key, value) {

                        @*window.location = '@Url.Action("LoginView", "Account")' + "?NextPageIndex=" + value.FormTemplateKey + "&MouwazafIndex=True";*@
                        submit_post_via_hidden_form("@Url.Action("LoginView", "Account")", { NextPageIndex: value.FormTemplateKey, MouwazafIndex: "True" });

                        @*window.location = '@Url.Action("NewClaimForm", "ClaimForms")/' + "?FormTemplateKey=" + value.FormTemplateKey;*@

                        });

                }
            });
        } else {

            @if (User.IsInRole("Citizen"))
            {
                <text>
           
                //bootbox.alert("!!! إن هذا الإستبان خاص بالموظفين ");

                bootbox.alert({
                    message: '!!! إن هذا الإستبان خاص بالموظفين ',
                    buttons: {
                        ok: {
                            label: 'إغلاق'
                        }
                    }
                })



                </text>

            }else
            {
                <text>
                         var FormTemplateType = $(this).attr("data-FormType");

                $.ajax({
                    url: '@Url.Action("GetFormTemplatesForAType", "Home")',
                    dataType: "json",
                    data: { TemplateType: FormTemplateType },
                    success: function (result) {


                        $.each(result, function (key, value) {


                            @*window.location = '@Url.Action("NewClaimForm", "ClaimForms")/' + "?FormTemplateKey=" + value.FormTemplateKey;*@
                            submit_post_via_hidden_form("@Url.Action("NewClaimForm", "ClaimForms")",

                                            {
                                                FormTemplateKey: escape(value.FormTemplateKey)
                                            }
                        );

                        });

                    }
                });
                </text>
            }

        }
    });


    $(".formButton").click(function () {

        if ("@User.Identity.IsAuthenticated" === "False") {
            var FormTemplateType = $(this).attr("data-FormType");
          //  alert(FormTemplateType);
            $.ajax({
                url: '@Url.Action("GetFormTemplatesForAType", "Home")',
                dataType: "json",
                data: { TemplateType: FormTemplateType },
                success: function (result) {


                    $.each(result, function (key, value) {

                        @*window.location = '@Url.Action("LoginView", "Account")' + "?NextPageIndex=" + value.FormTemplateKey;*@
                        submit_post_via_hidden_form("@Url.Action("LoginView", "Account")", { NextPageIndex: value.FormTemplateKey });

                        @*window.location = '@Url.Action("NewClaimForm", "ClaimForms")/' + "?FormTemplateKey=" + value.FormTemplateKey;*@

                        });

                }
            });
        } else {
            var FormTemplateType = $(this).attr("data-FormType");

            $.ajax({
                url: '@Url.Action("GetFormTemplatesForAType", "Home")',
                dataType: "json",
                data: { TemplateType: FormTemplateType },
                success: function (result) {


                    $.each(result, function (key, value) {


                        @*window.location = '@Url.Action("NewClaimForm", "ClaimForms")/' + "?FormTemplateKey=" + value.FormTemplateKey;*@
                        submit_post_via_hidden_form("@Url.Action("NewClaimForm", "ClaimForms")",{FormTemplateKey: escape(value.FormTemplateKey)});

                    });

                }
            });
        }
    });

    AddAntiForgeryToken = function (data) {
        data.__RequestVerificationToken = '@Token';
        return data;
    };

    $(".formButtonFasad").click(function () {

        if ("@User.Identity.IsAuthenticated" === "False") {


            @*window.location = '@Url.Action("tESTLogin", "Account")' + "?NextPageIndex=106";*@
            submit_post_via_hidden_form("@Url.Action("LoginView", "Account")", {  NextPageIndex: "106"});
        } else {

               @if(User.IsInRole("Citizen")){
                   <text>
            submit_post_via_hidden_form("@Url.Action("NewClaimForm", "ClaimForms")", { FormTemplateKey: escape("106") });

                   </text>

               }else
               {
                   <text>

                   bootbox.alert({
                       message: '!!! إن هذا الإستبان خاص بالمواطنين ',
                       buttons: {
                           ok: {
                               label: 'إغلاق'
                           }
                       }
                   })



                   </text>
               }




        }
    });

    function submit_post_via_hidden_form(url, params) {
        var f = $('<form method="POST"style="display:none;">@Token</form>').attr({
            action: url
        }).appendTo(document.body);

        for (var i in params) {
            if (params.hasOwnProperty(i)) {
                $('<input type="hidden" />').attr({
                    name: i,
                    value: params[i]
                }).appendTo(f);
            }
        }

        f.submit();

        f.remove();
    }
</script>
