﻿@using MoAD.DataObjects.EDMX
@using Microsoft.AspNet.Identity;

@{
    ViewBag.Title = "Home Page";
    Layout = "~/views/home/pageshared.cshtml";
    Dictionary<string, List<GetFormTemplate_Result>> Survey = ViewBag.Survey;
    List<GetUserSurveyAnswer_Result> userInfoSurvey = ViewBag.GetAnswers;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title> منبر صلة وصل</title>
    <link rel="apple-touch-icon" sizes="57x57" href="~/FavIcon/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="~/FavIcon/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="~/FavIcon/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="~/FavIcon/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="~/FavIcon/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="~/FavIcon/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="~/FavIcon/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="~/FavIcon/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="~/FavIcon/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192" href="~/FavIcon/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="~/FavIcon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="~/FavIcon/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="~/FavIcon/favicon-16x16.png">
    <link rel="manifest" href="~/FavIcon/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="~/FavIcon/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">

    <link href="@Url.Content("~/Content/page2.css")" rel="stylesheet" />
    <link href="@Url.Content("~/Content/page1.css")" rel="stylesheet" />
    <script src="@Url.Content("~/Scripts/vendors/jquery/jquery.min.js")"></script>
    <script src="@Url.Content("~/Scripts/vendors/tether/dist/js/tether.min.js")"></script>

    <script src="@Url.Content("~/Scripts/vendors/datatables/media/js/jquery.dataTables.min.js")"></script>
    <script src="@Url.Content("~/Scripts/vendors/datatables/media/js/dataTables.bootstrap4.min.js")"></script>
    <script src="@Url.Content("~/Scripts/vendors/datatables-fixedcolumns/js/dataTables.fixedColumns.js")"></script>
    <script src="@Url.Content("~/Scripts/vendors/datatables-responsive/js/dataTables.responsive.js")"></script>
    <script src="@Url.Content("~/Scripts/vendors/bootstrap/dist/js/bootstrap.min.js")"></script>
    <script src="@Url.Content("~/Scripts/bootbox.min.js")"></script>


    <style>
        @@media only screen and (max-width: 1500px) {
            #RidaMouwazafVideo {
                width: 86% !important;
            }

            #RidaMouwatanVideo {
                width: 86% !important;
            }
        }





        @@media only screen and (max-width: 1199px) {
            #logodiv {
                bottom: 25px !important;
            }

            #ManbarLogo {
                width: 240px !important;
            }

            #RidaMouwazafVideo {
                width: 86% !important;
            }

            #RidaMouwatanVideo {
                width: 86% !important;
            }
        }

        @@media only screen and (max-width: 1000px) {
            #logodiv {
                bottom: 25px !important;
            }

            #ManbarLogo {
                width: 180px !important;
            }
        }

        @@media only screen and (max-width: 720px) {
            #logodiv {
                bottom: 25px !important;
            }

            #ManbarLogo {
                width: 150px !important;
            }
        }

        @@media only screen and (max-width: 584px) {
            #logodiv {
                bottom: 25px !important;
            }

            #ManbarLogo {
                width: 100px !important;
            }
        }

        @@media only screen and (max-width: 481px) {
            #manbartext {
                padding-left: 8px !important;
            }

            #logodiv {
                bottom: 20px !important;
            }

            #ManbarLogo {
                width: 80px !important;
            }
        }

        .pointer, .imgft {
            cursor: pointer;
        }


        #ManbarPicDiv {
            width: 100%;
            height: 25vw;
            background-image: url("@Url.Content("~/imag/manbar001.png")");
            background-size: cover;
            background-repeat: no-repeat;
            background-position: 50% 50%;
        }

        @@media only screen and (max-width: 928px) {

        #chareknaRa2yak{
            font-size:16px !important;
        }

        .ImageEstetla3{
        width:60%;
        }
    }

    </style>
    <link href="@Url.Content("~/assets/surveycomponent/survey.css")" rel="stylesheet" />

</head>

<div class="modal fade in" id="feedbackmodal" tabindex="-1" aria-hidden="true" style="display: none; padding-right: 17px;">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 style="" class="modal-title">رأي المواطن !!</h4>
            </div>
            <div class="row" style="text-align:center">
                <div class="col-lg-4" style="text-align:center;">
                    <figure>
                        <img style="cursor:pointer" onclick="feedback('راضي')" src="@Url.Content("~/Images/FeedbackIcons/smiley.png")" alt="" />
                        <figcaption style="font-size:20px;color:green">نعم </figcaption>
                    </figure>
                </div>
                <div class="col-lg-4" style="text-align:center;">
                    <figure>
                        <img style="cursor:pointer" onclick="feedback('حيادي')" src="@Url.Content("~/Images/FeedbackIcons/neutral.png")" alt="" />
                        <figcaption style="font-size:20px;color:orange">حيادي</figcaption>
                    </figure>
                </div>
                <div class="col-lg-4" style="text-align:center;">
                    <figure>
                        <img style="cursor:pointer" onclick="feedback('غير راضي')" src="@Url.Content("~/Images/FeedbackIcons/sad.png")" alt="" />
                        <figcaption style="font-size:20px;color:red">لا </figcaption>
                    </figure>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn dark btn-outline" data-dismiss="modal">إغلاق</button>
                @*<button type="button" id="gotachakwa" class="btn green">إملأ الشكوى  </button>*@
            </div>
        </div>
    </div>
</div>


<div class="Body" style="filter: blur(25px);transition: filter 2s;-webkit-transition: filter 2s;">

    <header></header>

    <div class="container-fluid">

        <div class="row">



            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" id="ManbarPicDiv">
                @*<img src="@Url.Content("~/imag/manbar001.png")" class="imgbar" alt="responsive image" />*@
            </div>
            <div class="col-lg-4" style="display:inline-block;float:right;">

                <div id="logodiv" class="logo" style="position:absolute;z-index:99;bottom:10px">

                    @*<figure>*@
                    <img src="@Url.Content("~/imag/manbarlogo/manbarlogo.png")" alt="صلة وصل" style="width:63%;cursor:pointer;float:right;" id="ManbarLogo">

                    @*<figcaption id="manbartext" style="font-size:3vw;color:blue;padding-left:175px"> صلة وصل </figcaption>*@
                    @*</figure>*@

                </div>


            </div>
        </div>

        <div class="row">


            <div class="col-xs-2 col-sm-2 col-md-2 col-lg-1  ">

            </div>

            <div class="col-xs-12  col-sm-3 col-md-3 col-lg-2 pointer formButtonMouwazaf" data-FormType="رضا الموظف" id="RidaMouwazaf">
                <video autoplay loop id="RidaMouwazafVideo" class="" style="display:none;width:91%;position:absolute;">
                    <source src="@Url.Content("~/images/pbvideo/vlc-record-2018-09-03-14h17m01s-المقطع الحادي عشر - رضا الموظف.VOB-.mp4")" type="video/mp4" />
                </video>

                <img src="@Url.Content("../Imag/manbar6.png")" style="width:100%;height:auto" width="600" height="400" id="RidaMouwazafPic">


                <div class="container2">
                    <p class="sections" style="font-size:1.5vw;text-align:center">رضا الموظف</p>
                </div>

            </div>

            <div class="col-md-2 col-lg-2 colu4">
                <img src="@Url.Content("~/Imag/manbar11.png")" class="img6" />
            </div>


            <div class="col-xs-12 col-sm-3 col-md-3 col-lg-2  pointer formButton" data-FormType="رضا المواطن" id="RidaMouwatan">
                <video autoplay loop id="RidaMouwatanVideo" class="" style="display:none;width:91%;position:absolute;">
                    <source src="@Url.Content("~/images/pbvideo/vlc-record-2018-09-03-14h18m19s-المقطع العاشر - رضا المواطن.VOB-.mp4")" type="video/mp4" />
                </video>

                <img src="@Url.Content("../Imag/manbar7.png")" style="width:100%;height:auto" width="600" height="400" id="RidaMouwatanPic">

                <div class="container2">
                    <p class="sections" style="font-size:1.5vw;text-align:center">رضا المواطن</p>
                </div>

            </div>


            <div class="col-sm-2 col-md-2 col-lg-2 colu4 ">
                <img src="@Url.Content("~/Imag/manbar11.png")" class="img6" />
            </div>



            <div class="col-xs-12 col-sm-3 col-md-3 col-lg-2 pointer formButtonFasad" data-FormType="Claim">


                <img src="@Url.Content("../Imag/manbar8.png")" style="width:100%;height:auto" width="600" height="400">

                <div class="container2">
                    <p class="sections" style="font-size:1.5vw;text-align:center">سوا لمكافحة الفساد</p>
                </div>

            </div>


            <div class="col-xs-1 col-sm-1 col-md1- col-lg-1 rowemptyON"> </div>

        </div>



        <div class="row">


            <div class="col-xs-3 col-sm-2 col-md-2 col-md-offset-1 col-lg-2 col-lg-offset-1 colu4  ">
                <img src="@Url.Content("~/Imag/manbar11.png")" class="img6" />
            </div>

            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-2 pointer formButton" data-FormType="معا لتبسيط الإجراءات">

                <img src="@Url.Content("../Imag/manbar9.png")" style="width:100%;height:auto" width="600" height="400">


                <div class="container2">
                    <p class="sections" style="font-size:1.5vw;text-align:center">معاً لتبسيط الإجراءات</p>
                </div>

            </div>
            <div class="col-xs-6 col-sm-2 col-md-2 col-lg-2 colu4 ">
                <img src="@Url.Content("~/Imag/manbar11.png")" class="img6" />
            </div>

            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-2 pointer formButton" data-FormType="معا لثبوتيات أقل">

                <img src="@Url.Content("../Imag/manbar10.png")" style="width:100%;height:auto" width="600" height="400">


                <div class="container2">
                    <p class="sections" style="font-size:1.5vw;text-align:center">معاً لثبوتيات أقل</p>
                </div>

            </div>
            <div class="col-xs-6 col-sm-2 col-md-2 col-lg-2 colu4 ">
                <img src="@Url.Content("~/Imag/manbar11.png")" class="img6" />
            </div>

            <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1 rowemptyON "></div>


        </div>


        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                @*<div class="col-xs-12 col-sm-6 col-sm-offset-6 col-md-6 col-md-offset-6 col-lg-6 col-lg-offset-6 text-block" style="margin-top:10%;margin-left:18%;">*@
                @*<img src="@Url.Content("../Imag/BackgroundMarsadIdari.jpg")" style="width:100%" width="600" height="400">*@
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12" style="width:100%;min-height:560px;padding:10px;background-color: rgba(128, 128, 128, 0.1);">
                    <div class="container">
                        <div class="col-sm-12" style="text-align:right">
                            <div class="mm-survey">

                                @*<div class="mm-survey-progress">
                                        <div class="mm-survey-progress-bar mm-progress"></div>
                                    </div>*@
                                @{
                                    var ResultSurevyDisplay = "none";
                                    var ContainerSyrveyDisplay = "block";
                                    var heightValue = "560px";
                                    if (userInfoSurvey.Count != 0)
                                    {
                                        heightValue = "684px";
                                        ResultSurevyDisplay = "block";
                                        ContainerSyrveyDisplay = "none";
                                    }
                                }

                                <div class="mm-survey-results" style="display:@ResultSurevyDisplay">
                                    <div class="mm-survey-results-container">
                                        <h3 class="mm-survey-results-score">شكراً لمساهمتكم في إستطلاع الرأي، وقد جرى تصويتكم على الشكل التالي</h3>
                                        <ul class="mm-survey-results-list">
                                            @foreach (var item in userInfoSurvey)
                                            {
                                                <li class="mm-survey-results-item incorrect">
                                                    <span class="mm-item-number">@item.AnswerTemplateValue</span>
                                                    <span class="mm-item-info">@item.QuestionValue</span>
                                                </li>
                                            }
                                        </ul>
                                    </div>
                                    <div style="display:@ResultSurevyDisplay">
                                        <h3 class="mm-survey-results-score">يمكنكم الإطلاع على نتائج إستطلاعات الرأي المنشورة من خلال الضغط على مفتاح <a href="#main-menu">"نتائج إستطلاعات الرأي"</a> الموجود في لائحة التحكم أعلاه</h3>
                                    </div>
                                </div>

                                @if (Survey.Count == 0 && userInfoSurvey.Count == 0)
                                {
                                    <div class="mm-survey-results" style="display:block">
                                        <div class="mm-survey-results-container">
                                            <h3 class="mm-survey-results-score" style="padding-bottom:20px;direction:rtl;margin-top:195px;border:5px solid white;">
                                                شكراً  لمشاركتكم  في إستطلاعات الرأي السابقة.

                                                لا يوجد إستطلاعات رأي في الوقت الحالي.
                                            </h3>
                                        </div>
                                    </div>
                                }
                                @if (Survey.Count != 0)
                                {
                                    <div class="mm-survey-bottom" style="display:@ContainerSyrveyDisplay">
                                        <div class="mm-survey-container" style="display:@ContainerSyrveyDisplay">
                                            @{
                                                int index = 1;
                                                int j = 0;
                                                foreach (var Key in Survey.Keys)
                                                {

                                                    var active = index == 1 ? "active" : "";
                                                    <div class="mm-survey-page @active" data-page="@index">
                                                        <div class="mm-survery-content">
                                                            <div class="mm-survey-question">
                                                                <p id="quest_@index">@Survey[Key].FirstOrDefault().QuestionValue</p>
                                                            </div>
                                                            @{

                                                                foreach (var answer in Survey[Key])
                                                                {
                                                                    j++;
                                                                    var radioId = "radio0" + j;
                                                                    var radioName = "radio" + index;

                                                                    <div class="mm-survey-item">
                                                                        <input type="radio" id="@radioId" data-item="@index" name="@radioName" data-templatekey="@answer.AnswerTemplateKey" value="@answer.AnswerValue" />
                                                                        <label for="@radioId"><span></span><p>@answer.AnswerValue</p></label>
                                                                    </div>
                                                                }
                                                            }

                                                        </div>
                                                    </div>
                                                                    index++;
                                                                }
                                            }
                                            @*<div class="mm-survey-page active" data-page="1">
                                                    <div class="mm-survery-content">
                                                        <div class="mm-survey-question">
                                                            <p id="quest1">هل شاركت في انتخابات الإدارة المحلية؟</p>
                                                        </div>
                                                        <div class="mm-survey-item">
                                                            <input type="radio" id="radio01" data-item="1" name="radio1" value="نعم" />
                                                            <label for="radio01"><span></span><p>نعم</p></label>
                                                        </div>
                                                        <div class="mm-survey-item">
                                                            <input type="radio" id="radio02" data-item="1" name="radio1" value="لا" />
                                                            <label for="radio02"><span></span><p> لا</p></label>
                                                        </div>

                                                    </div>
                                                </div>
                                                <div class="mm-survey-page" data-page="2">
                                                    <div class="mm-survery-content">
                                                        <div class="mm-survey-question">
                                                            <p id="quest2">ما هو تقديرك لحسن أداء المجالس المحلية المنتخبة في وحدتك الإدارية؟</p>
                                                        </div>
                                                        <div class="mm-survey-item">
                                                            <input type="radio" id="radio05" data-item="2" name="radio2" value="٧٠٪ فما فوق" />
                                                            <label for="radio05"><span></span><p>٧٠٪ فما فوق</p></label>
                                                        </div>
                                                        <div class="mm-survey-item">
                                                            <input type="radio" id="radio06" data-item="2" name="radio2" value="٥٠٪ فما فوق" />
                                                            <label for="radio06"><span></span><p>٥٠٪ فما فوق</p></label>
                                                        </div>
                                                        <div class="mm-survey-item">
                                                            <input type="radio" id="radio07" data-item="2" name="radio2" value="٣٠٪ فما فوق" />
                                                            <label for="radio07"><span></span><p>٣٠٪ فما فوق</p></label>
                                                        </div>

                                                    </div>
                                                </div>
                                                <div class="mm-survey-page" data-page="3">
                                                    <div class="mm-survery-content">
                                                        <div class="mm-survey-question">
                                                            <p id="quest3">ما هو تقديرك لجودة الخدمات التي تقدمها الوحدة الإدارية (محافظة – مدينة – بلدة - بلدية) في مكان إقامتك؟</p>
                                                        </div>
                                                        <div class="mm-survey-item">
                                                            <input type="radio" id="radio09" data-item="3" name="radio3" value="٧٠٪ فما فوق" />
                                                            <label for="radio09"><span></span><p>٧٠٪ فما فوق</p></label>
                                                        </div>
                                                        <div class="mm-survey-item">
                                                            <input type="radio" id="radio10" data-item="3" name="radio3" value="٥٠٪ فما فوق" />
                                                            <label for="radio10"><span></span><p>٥٠٪ فما فوق</p></label>
                                                        </div>
                                                        <div class="mm-survey-item">
                                                            <input type="radio" id="radio11" data-item="3" name="radio3" value="٣٠٪ فما فوق" />
                                                            <label for="radio11"><span></span><p>٣٠٪ فما فوق</p></label>
                                                        </div>

                                                    </div>
                                                </div>
                                                <div class="mm-survey-page" data-page="4">
                                                    <div class="mm-survery-content">
                                                        <div class="mm-survey-question">
                                                            <p id="quest4">هل أنت راضٍ عن أداء مراكز خدمة المواطن في محافظتك؟</p>
                                                        </div>
                                                        <div class="mm-survey-item">
                                                            <input type="radio" id="radio13" data-item="4" name="radio4" value="٧٠٪ فما فوق" />
                                                            <label for="radio13"><span></span><p>٧٠٪ فما فوق</p></label>
                                                        </div>
                                                        <div class="mm-survey-item">
                                                            <input type="radio" id="radio14" data-item="4" name="radio4" value="٥٠٪ فما فوق" />
                                                            <label for="radio14"><span></span><p>٥٠٪ فما فوق</p></label>
                                                        </div>
                                                        <div class="mm-survey-item">
                                                            <input type="radio" id="radio15" data-item="4" name="radio4" value="٣٠٪ فما فوق" />
                                                            <label for="radio15"><span></span><p>٣٠٪ فما فوق</p></label>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="mm-survey-page" data-page="5">
                                                    <div class="mm-survery-content">
                                                        <div class="mm-survey-question">
                                                            <p id="quest5">ما هو تقديرك لجودة خدمات مديرية البيئة في محافظتك؟</p>
                                                        </div>
                                                        <div class="mm-survey-item">
                                                            <input type="radio" id="radio16" data-item="5" name="radio5" value="٧٠٪ فما فوق" />
                                                            <label for="radio16"><span></span><p>٧٠٪ فما فوق</p></label>
                                                        </div>
                                                        <div class="mm-survey-item">
                                                            <input type="radio" id="radio17" data-item="5" name="radio5" value="٥٠٪ فما فوق" />
                                                            <label for="radio17"><span></span><p>٥٠٪ فما فوق</p></label>
                                                        </div>
                                                        <div class="mm-survey-item">
                                                            <input type="radio" id="radio18" data-item="5" name="radio5" value="٣٠٪ فما فوق" />
                                                            <label for="radio18"><span></span><p>٣٠٪ فما فوق</p></label>
                                                        </div>

                                                    </div>
                                                </div>*@

                                        </div>

                                        <div class="mm-survey-controller">
                                            <div class="mm-prev-btn">
                                                <button>سابق</button>
                                            </div>
                                            <div class="mm-next-btn">
                                                <button disabled="true">تابع</button>
                                            </div>
                                            <div class="mm-finish-btn">
                                                <button>قدم</button>
                                            </div>
                                        </div>
                                    </div>
                                                                }

                            </div>
                        </div>
                    </div>

                    @*<p lang="ar" dir="rtl" style="color:white;font-size:46px;">هل لديك ثقة بتقديم شكوى عبر منبر صلة وصل؟ </p>*@


                    @*@if (ViewBag.GetAnswers == "True")
                        {
                            <div class="col-md-3 col-sm-3 col-xs-3" id="testestetla3" style="margin-top:8%;cursor:pointer;border: 2px solid white;border-radius: 103px;text-align: center;background-color: rgba(128, 128, 128, 1);width:45%;margin-left:25%;">
                                <p style="color:white;font-size:40px;" id="chareknaRa2yak">شاركنا....رأيك </p>

                            </div>
                        }
                        else
                        if (ViewBag.GetAnswers == "راضي")
                        {
                            <div class="col-md-3 col-sm-3 col-xs-3" style="margin-top:8%;cursor:pointer;border: 2px solid white;border-radius: 103px;text-align: center;background-color: rgba(128, 128, 128, 1);width:45%;margin-left:25%;">


                                <figure>
                                    <img src="@Url.Content("~/Images/FeedbackIcons/smiley.png")" alt=""  class="ImageEstetla3"/>
                                    <figcaption style="font-size:20px;color:white">نعم </figcaption>
                                </figure>

                            </div>
                        }
                        else if (ViewBag.GetAnswers == "حيادي")
                        {
                            <div class="col-md-3 col-sm-3 col-xs-3" style="margin-top:8%;cursor:pointer;border: 2px solid white;border-radius: 103px;text-align: center;background-color: rgba(128, 128, 128, 1);width:45%;margin-left:25%;">


                                <figure>
                                    <img src="@Url.Content("~/Images/FeedbackIcons/neutral.png")" alt="" class="ImageEstetla3"/>
                                    <figcaption style="font-size:20px;color:white">حيادي</figcaption>
                                </figure>

                            </div>
                        }
                        else if (ViewBag.GetAnswers == "غير راضي")
                        {
                            <div class="col-md-3 col-sm-3 col-xs-3" style="margin-top:8%;cursor:pointer;border: 2px solid white;border-radius: 103px;text-align: center;background-color: rgba(128, 128, 128, 1);width:45%;margin-left:25%;">


                                <figure>
                                    <img src="@Url.Content("~/Images/FeedbackIcons/sad.png")" alt=""  class="ImageEstetla3"/>
                                    <figcaption style="font-size:20px;color:white">لا</figcaption>
                                </figure>

                            </div>
                        }*@

                </div>



                @*</div>*@
                @*<img src="@Url.Content("../Imag/BackgroundMarsadIdari.jpg")" style="width:100%" width="600" height="400">

                    <div class="wit  col-md-6 col-sm-6 col-xs-6">
                        <p>هل لديك ثقة بتقديم شكوى عبر منبر صلة وصل؟</p>
                    </div>


                    @if (ViewBag.GetAnswers == "True")
                    {
                        <div class="text-block2 col-md-6 col-sm-6 col-xs-6" id="testestetla3" style="margin-top:6%;cursor:pointer">
                            <p>إستطلاع الرأي</p>
                        </div>

                    }
                    else if (ViewBag.GetAnswers == "راضي")
                    {
                        <div class="text-block2 col-md-6 col-sm-6 col-xs-6" style="text-align:center;margin-top:6%;border:0;background-color:rgba(211, 211, 211, 0.8);">


                            <figure>
                                <img style="position:relative;right:60%;" src="@Url.Content("~/Images/FeedbackIcons/smiley.png")" alt="" />
                                <figcaption style="font-size:20px;color:#53b553;position:relative;right:60%;">نعم</figcaption>
                            </figure>

                        </div>
                    }
                    else if (ViewBag.GetAnswers == "حيادي")
                    {
                        <div class="text-block2 col-md-6 col-sm-6 col-xs-6" style="text-align:center;margin-top:6%;border:0;background-color:rgba(211, 211, 211, 0.8);">


                            <figure>
                                <img style="position:relative;right:60%;" src="@Url.Content("~/Images/FeedbackIcons/neutral.png")" alt="" />
                                <figcaption style="font-size:20px;color:orange;position:relative;right:60%;">حيادي</figcaption>
                            </figure>

                        </div>
                    }
                    else if (ViewBag.GetAnswers == "غير راضي")
                    {
                        <div class="text-block2 col-md-6 col-sm-6 col-xs-6" style="text-align:center;margin-top:6%;border:0;background-color:rgba(211, 211, 211, 0.8);">


                            <figure>
                                <img style="position:relative;right:60%;" src="@Url.Content("~/Images/FeedbackIcons/sad.png")" alt="" />
                                <figcaption style="font-size:20px;color:red;position:relative;right:60%;">لا</figcaption>
                            </figure>

                        </div>
                    }*@



            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12" id="MarsadAlAda2AlIdari" style="text-align:center;height:@heightValue;padding:10px;background-color: rgba(128, 128, 128, 0.1);cursor:not-allowed" title="تصدر تقارير المرصد بعد استكمال الجهات العامة بياناتها المطلوبة">
                <img src="@Url.Content("../Imag/MarsadAlAda2AlIdari.png")" style="margin-top:65px;object-fit: contain;" width="600" height="400">

            </div>
        </div>



    </div>


    <buttons style="display:none" id="cliclkBu"></buttons>
    <script src="@Url.Content("~/scripts/header/jquery.smartmenus.js")"></script>
    <script src="@Url.Content("~/assets/surveycomponent/survey.js")"></script>
    <script>
        $("#testestetla3").click(function () {
            $('#feedbackmodal').modal('show');

        });


        function feedback(Answer) {
            $.ajax({
                url: '@Url.Action("CreateSurveyAnswer", "Home")',
                type: 'GET',
                dataType: 'text',
                cache: false,
                data: {
                    ans: Answer, vk: "1"
                },
                success: function (data) {
                    location.reload();
                }
            });
        }
        $("#logodiv").click(function () {

            window.location = '@Url.Action("Manbar", "Home")';

        });






        $(document).ready(function () {
            $("#cliclkBu").click();
            $('#RidaMouwatanVideo').get(0).pause()
            $('#RidaMouwazafVideo').get(0).pause()
        })




        var tooltipTimeout;

        $("#RidaMouwatan").hover(function ()
        { tooltipTimeout = setTimeout(showTooltip, 700); },
                            hideTooltip);

        function showTooltip() {
            $('#RidaMouwatanVideo').fadeIn(2000).get(0).play();
            setTimeout(function () { $('#RidaMouwatanPic').fadeOut(1000); }, 1000);
        }
        function hideTooltip() {
            clearTimeout(tooltipTimeout);
        }



        $("#RidaMouwatan").mouseleave(function () {
            $('#RidaMouwatanVideo').fadeOut().get(0).pause();
            setTimeout(function () { $('#RidaMouwatanPic').fadeIn(); }, 1000);
        });



        var tooltipTimeout1;

        $("#RidaMouwazaf").hover(function ()
        { tooltipTimeout1 = setTimeout(showTooltip1, 700); },
                            hideTooltip1);

        function showTooltip1() {
            $('#RidaMouwazafVideo').fadeIn(2000).get(0).play();
            setTimeout(function () { $('#RidaMouwazafPic').fadeOut(1000); }, 1000);
        }
        function hideTooltip1() {
            clearTimeout(tooltipTimeout1);
        }


        $("#RidaMouwazaf").mouseleave(function () {
            $('#RidaMouwazafVideo').fadeOut().get(0).pause();
            setTimeout(function () { $('#RidaMouwazafPic').fadeIn(); }, 1000);
        });

        function myFunction() {
            var x = document.getElementById("myTopnav");
            if (x.className === "topnav") {
                x.className += " responsive";
            } else {
                x.className = "topnav";
            }
        }

        $("#Marsad").click(function () {

            submit_post_via_hidden_form("@Url.Action("Marsad", "Home")", {});


        });

        $("#MarsadAlAda2AlIdari").click(function () {
            return;
            submit_post_via_hidden_form("@Url.Action("Marsad", "Home")", {});

        });

        $(".formButtonMouwazaf").click(function () {

            if ("@User.Identity.IsAuthenticated" === "False") {
                var FormTemplateType = $(this).attr("data-FormType");

                $.ajax({
                    url: '@Url.Action("GetFormTemplatesForAType", "Home")',
                    dataType: "json",
                    data: { TemplateType: FormTemplateType },
                    success: function (result) {


                        $.each(result, function (key, value) {

                            @*window.location = '@Url.Action("LoginView", "Account")' + "?NextPageIndex=" + value.FormTemplateKey + "&MouwazafIndex=True";*@
                            submit_post_via_hidden_form("@Url.Action("LoginView", "Account")", { NextPageIndex: value.FormTemplateKey, MouwazafIndex: "True" });

                            @*window.location = '@Url.Action("NewClaimForm", "ClaimForms")/' + "?FormTemplateKey=" + value.FormTemplateKey;*@

                        });

                    }
                });
            } else {

                @if (User.IsInRole("Citizen"))
        {
            <text>

                //bootbox.alert("!!! إن هذا الإستبان خاص بالموظفين ");

                bootbox.alert({
                    message: '!!! إن هذا الإستبان خاص بالموظفين ',
                    buttons: {
                        ok: {
                            label: 'إغلاق'
                        }
                    }
                })



                </text>

        }else
        {
            <text>

                var FormTemplateType = $(this).attr("data-FormType");

                $.ajax({
                    url: '@Url.Action("GetFormTemplatesForAType", "Home")',
                    dataType: "json",
                    data: { TemplateType: FormTemplateType },
                    success: function (result) {


                        $.each(result, function (key, value) {


                            @*window.location = '@Url.Action("NewClaimForm", "ClaimForms")/' + "?FormTemplateKey=" + value.FormTemplateKey;*@
                            submit_post_via_hidden_form("@Url.Action("NewClaimForm", "ClaimForms")",

                                            {
                                                FormTemplateKey: escape(value.FormTemplateKey)
                                            }
                        );

                        });

                    }
                });
                </text>
        }

            }
        });


        $(".formButton").click(function () {

            if ("@User.Identity.IsAuthenticated" === "False") {
                var FormTemplateType = $(this).attr("data-FormType");
                //  alert(FormTemplateType);
                $.ajax({
                    url: '@Url.Action("GetFormTemplatesForAType", "Home")',
                    dataType: "json",
                    data: { TemplateType: FormTemplateType },
                    success: function (result) {


                        $.each(result, function (key, value) {

                            @*window.location = '@Url.Action("LoginView", "Account")' + "?NextPageIndex=" + value.FormTemplateKey;*@
                            submit_post_via_hidden_form("@Url.Action("LoginView", "Account")", { NextPageIndex: value.FormTemplateKey });

                            @*window.location = '@Url.Action("NewClaimForm", "ClaimForms")/' + "?FormTemplateKey=" + value.FormTemplateKey;*@

                        });

                    }
                });
            } else {
                var FormTemplateType = $(this).attr("data-FormType");

                $.ajax({
                    url: '@Url.Action("GetFormTemplatesForAType", "Home")',
                    dataType: "json",
                    data: { TemplateType: FormTemplateType },
                    success: function (result) {


                        $.each(result, function (key, value) {


                            @*window.location = '@Url.Action("NewClaimForm", "ClaimForms")/' + "?FormTemplateKey=" + value.FormTemplateKey;*@
                            submit_post_via_hidden_form("@Url.Action("NewClaimForm", "ClaimForms")", { FormTemplateKey: escape(value.FormTemplateKey) });

                        });

                    }
                });
            }
        });



        $(".formButtonFasad").click(function () {

            if ("@User.Identity.IsAuthenticated" === "False") {


                @*window.location = '@Url.Action("tESTLogin", "Account")' + "?NextPageIndex=106";*@
                submit_post_via_hidden_form("@Url.Action("LoginView", "Account")", { NextPageIndex: "106" });
            } else {

                @if(User.IsInRole("Citizen")){
               <text>
                submit_post_via_hidden_form("@Url.Action("NewClaimForm", "ClaimForms")", { FormTemplateKey: escape("106") });

                </text>

           }else
           {
               <text>

                bootbox.alert({
                    message: '!!! إن هذا الإستبان خاص بالمواطنين ',
                    buttons: {
                        ok: {
                            label: 'إغلاق'
                        }
                    }
                })



                </text>
           }




            }
        });

        function submit_post_via_hidden_form(url, params) {
            var f = $('<form method="POST"style="display:none;"></form>').attr({
                action: url
            }).appendTo(document.body);

            for (var i in params) {
                if (params.hasOwnProperty(i)) {
                    $('<input type="hidden" />').attr({
                        name: i,
                        value: params[i]
                    }).appendTo(f);
                }
            }

            f.submit();

            f.remove();
        }

        var AnswerTemplateKey = [];
        var FormKey;
        $('.mm-finish-btn').on('click', function () {
            $('.mm-survey-item input:checked').each(function (index, val) {

                answsers = { key: $(this).attr("data-templatekey"), Textvalue: $(this).val(), type: "RadioBox", Parent: "", Child: "", count: "" }
                AnswerTemplateKey.push(answsers);
            });

            $.ajax({
                url: '@Url.Action("SubmitFormForUser", "ClaimForms")',
                type: 'GET',
                dataType: 'json',
                cache: false,
                data: {
                    trackingStatusKey: "1", formTemplateKey: "190", userKey: "@User.Identity.GetUserId()", organisationKey: " ", FileExtensionName: '@ViewBag.myCookie', FileExtensionType: '@ViewBag.myIP'
                },
                success: function (data) {
                    console.log(AnswerTemplateKey);
                    FormKey = data;
                    $.ajax({
                        url: '@Url.Action("AnswersByUser", "ClaimForms")',
                        type: 'POST',
                        dataType: 'json',
                        cache: false,
                        data: {
                            formKey: FormKey, answerTemplateKey: JSON.stringify(AnswerTemplateKey)
                        },
                        success: function (data) {

                            $.ajax({
                                url: '@Url.Action("SaveClaimForm", "ClaimForms")',
                                type: 'GET',
                                dataType: 'json',
                                cache: false,
                                data: {
                                    formKey: FormKey
                                },
                                success: function (data) {
                                    console.log("survey submited successfully");
                                }
                            });
                        }
                    });
                }
            });

        });
    </script>


</div>

</html>