﻿@using MoAD.DataObjects.EDMX
@using Microsoft.AspNet.Identity;
@using MoAD.WebApplication.Objects;

@{
    ViewBag.Title = "Home Page";
    Layout = "~/views/home/_SharedLayout.cshtml";
    Dictionary<string, List<GetFormTemplate_Result>> Survey = ViewBag.Survey;
    List<GetUserSurveyAnswer_Result> userInfoSurvey = ViewBag.GetAnswers;
    Dictionary<string, string> Locale = ViewBag.Locale;
}


<head>
    <meta name="viewport" content="width=device-width" />
    <title> منبر صلة وصل</title>
    <link rel="apple-touch-icon" sizes="57x57" href="~/FavIcon/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="~/FavIcon/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="~/FavIcon/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="~/FavIcon/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="~/FavIcon/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="~/FavIcon/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="~/FavIcon/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="~/FavIcon/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="~/FavIcon/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192" href="~/FavIcon/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="~/FavIcon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="~/FavIcon/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="~/FavIcon/favicon-16x16.png">
    <link rel="manifest" href="~/FavIcon/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="~/FavIcon/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">

    <link href="@Url.Content("~/Content/ManbarLayout.css")" rel="stylesheet" />
    @*<link href="@Url.Content("~/Content/page2.css")" rel="stylesheet" />
        <link href="@Url.Content("~/Content/page1.css")" rel="stylesheet" />*@
    <script src="@Url.Content("~/Scripts/vendors/jquery/jquery.min.js")"></script>
    <script src="@Url.Content("~/Scripts/vendors/tether/dist/js/tether.min.js")"></script>

    <script src="@Url.Content("~/Scripts/vendors/datatables/media/js/jquery.dataTables.min.js")"></script>
    <script src="@Url.Content("~/Scripts/vendors/datatables/media/js/dataTables.bootstrap4.min.js")"></script>
    <script src="@Url.Content("~/Scripts/vendors/datatables-fixedcolumns/js/dataTables.fixedColumns.js")"></script>
    <script src="@Url.Content("~/Scripts/vendors/datatables-responsive/js/dataTables.responsive.js")"></script>
    <script src="@Url.Content("~/Scripts/vendors/bootstrap/dist/js/bootstrap.min.js")"></script>
    <script src="@Url.Content("~/Scripts/bootbox.min.js")"></script>


    <style>
        @@media only screen and (max-width: 1500px) {
            #RidaMouwazafVideo {
                width: 86% !important;
            }

            #RidaMouwatanVideo {
                width: 86% !important;
            }
        }

        #ManbarPicDiv {

            background-image: url("@Url.Content("~/imag/manbar001.png")");
            background-size: cover;
            background-repeat: no-repeat;
            background-position: 50% 50%;
        }

             #RidaMouwazafDiv {
            border-radius: 25px;
            background-image: url("@Url.Content("~/imag/manbar6.png")");
            background-size: cover;
            background-repeat: no-repeat;
           cursor:pointer;
        }

              #RidaMouwatenDiv {
            border-radius: 25px;
            background-image: url("@Url.Content("~/imag/manbar7.png")");
            background-size: cover;
            background-repeat: no-repeat;
         cursor:pointer;
        }
               #sawalimoukafa7atDiv {
            border-radius: 25px;
            background-image: url("@Url.Content("~/imag/manbar8.png")");
            background-size: cover;
            background-repeat: no-repeat;
           cursor:pointer;
        }

                #Ma3anliltabsitDiv {
            border-radius: 25px;
            background-image: url("@Url.Content("~/imag/manbar9.png")");
            background-size: cover;
            background-repeat: no-repeat;
           cursor:pointer;
        }

        #Ma3anlithouboutyatDiv{
          border-radius: 25px;
            background-image: url("@Url.Content("~/imag/manbar10.png")");
            background-size: cover;
            background-repeat: no-repeat;
           cursor:pointer;
        }

        .mainRow{
        background-image: url("@Url.Content("~/imag/manbar11.png")");
            background-size: cover;
            background-repeat: no-repeat;
        }

        .LabelClassInPictures{
        background:rgba(255, 255, 255, .5);
        }

         .sections{
        font-size:1.6vw;
        text-align:center;
        }

        @@media only screen and (max-width: 928px) {

        #chareknaRa2yak{
            font-size:16px !important;
        }

        .ImageEstetla3{
        width:60%;
        }
    }

    </style>
    <link href="@Url.Content("~/assets/surveycomponent/survey.css")" rel="stylesheet" />

</head>
<div class="modal fade in" id="formAccessModal" tabindex="-1" aria-hidden="true" style="display: none; padding-right: 17px;">
    <div class="modal-dialog">
        <div class="modal-content">
            @*<div class="modal-header">
            <h4 style="" class="modal-title">رأي المواطن !!</h4>
        </div>*@
            <div class="modal-body">
                لقد شاركت في تقديم هذا النموذج. سيتم فتحه لك مرة أخرى في الدورة التالية.
            </div>
            
            <div class="modal-footer">
                <button type="button" class="btn dark btn-outline" data-dismiss="modal">إغلاق</button>
            </div>
        </div>
    </div>
</div>


<div class="Body" style="filter: blur(25px);transition: filter 2s;-webkit-transition: filter 2s;">

    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" id="ManbarPicDiv" style="float:right">
            <div class="col-lg-4" style="float:right;direction:rtl;">
                <div id="logodiv" class="logo">
                    <img src="@Url.Content("~/imag/manbarlogo/manbarlogo.png")" alt="صلة وصل" id="ManbarLogo">
                </div>
            </div>
        </div>
    </div>

    <div class="row mainRow" style="margin-top:20px;">
        <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1">
        </div>

        <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2 formButton" data-FormType="رضا الموظف" id="RidaMouwazafDiv">
            <div>
                <video autoplay loop id="RidaMouwazafVideo" class="" style="visibility:hidden;width:100%;">
                    <source src="@Url.Content("~/images/pbvideo/vlc-record-2018-09-03-14h17m01s-المقطع الحادي عشر - رضا الموظف.VOB-.mp4")" type="video/mp4" />
                </video>
            </div>
            <div class="row LabelClassInPictures">
                <p class="sections">@Html.Raw(BaseController.GetFieldLabel(Locale, "ManbarPageRidaMouwasaf"))</p>
            </div>
        </div>

        <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
        </div>

        <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2 formButton" id="RidaMouwatenDiv" data-FormType="رضا المواطن">
            <video autoplay loop id="RidaMouwatanVideo" class="" style="visibility:hidden;width:100%;">
                <source src="@Url.Content("~/images/pbvideo/vlc-record-2018-09-03-14h18m19s-المقطع العاشر - رضا المواطن.VOB-.mp4")" type="video/mp4" />
            </video>
            <div class="row LabelClassInPictures">
                <p class="sections">@Html.Raw(BaseController.GetFieldLabel(Locale, "ManbarPageRidaMouwaten"))</p>
            </div>
        </div>

        <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
        </div>

        <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2 formButtonFasad" id="sawalimoukafa7atDiv" data-FormType="Claim">
            <video loop class="" style="visibility:hidden;width:100%;">
                <source src="@Url.Content("~/images/pbvideo/vlc-record-2018-09-03-14h18m19s-المقطع العاشر - رضا المواطن.VOB-.mp4")" type="video/mp4" />
            </video>

            <div class="row LabelClassInPictures">
                <p class="sections">@Html.Raw(BaseController.GetFieldLabel(Locale, "ManbarPageMoukafa7atFased"))</p>
            </div>
        </div>

        <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1">
        </div>
    </div>

    <div class="row mainRow" style="margin-top:20px;">
        <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
        </div>

        <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2 formButton" id="Ma3anliltabsitDiv" data-FormType="معا لتبسيط الإجراءات">
            <div>
                <video loop id="RidaMouwazafVideo" style="visibility:hidden;width:100%;">
                    <source src="@Url.Content("~/images/pbvideo/vlc-record-2018-09-03-14h17m01s-المقطع الحادي عشر - رضا الموظف.VOB-.mp4")" type="video/mp4" />
                </video>
            </div>
            <div class="row LabelClassInPictures">
                <p class="sections">@Html.Raw(BaseController.GetFieldLabel(Locale, "ManbarPageMa3anLiltabsit"))</p>
            </div>
        </div>

        <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
        </div>

        <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2 formButton" id="Ma3anlithouboutyatDiv" data-FormType="معا لثبوتيات أقل">
            <video loop class="" style="visibility:hidden;width:100%;">
                <source src="@Url.Content("~/images/pbvideo/vlc-record-2018-09-03-14h18m19s-المقطع العاشر - رضا المواطن.VOB-.mp4")" type="video/mp4" />
            </video>
            <div class="row LabelClassInPictures">
                <p class="sections">@Html.Raw(BaseController.GetFieldLabel(Locale, "ManbarPageMa3anLiThoubityat"))</p>
            </div>
        </div>

        <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
        </div>
    </div>

    <div class="row" style="margin-top:20px;margin-bottom:20px;">
        @{
            var ResultSurevyDisplay = "none";
            var ContainerSyrveyDisplay = "block";
            //var heightValue = "560px";
            if (userInfoSurvey.Count != 0)
            {
                //heightValue = "684px";
                ResultSurevyDisplay = "block";
                ContainerSyrveyDisplay = "none";
            }
        }
        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2"></div>
        <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12" id="MarsadAlAda2AlIdari" style="background-color: rgba(128, 128, 128, 0.1);cursor:not-allowed" title="تصدر تقارير المرصد بعد استكمال الجهات العامة بياناتها المطلوبة">
            <img src="@Url.Content("../Imag/MarsadAlAda2AlIdari.png")" style="height:100%;width:100%;" width="600" height="400">
        </div>
        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2"></div>
    </div>

    <div class="row">
        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2"></div>
        <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12" style="width:100%;min-height:auto;padding:10px;background-color: rgba(128, 128, 128, 0.1);">
                <div class="container">
                    <div class="col-sm-12" style="text-align:right">
                        <div class="mm-survey">
                            <div class="mm-survey-results" style="display:@ResultSurevyDisplay">
                                <div class="mm-survey-results-container">
                                    <h3 class="mm-survey-results-score">@Html.Raw(BaseController.GetFieldLabel(Locale, "_ThankYouForSurvey"))</h3>
                                    <ul class="mm-survey-results-list">
                                        @foreach (var item in userInfoSurvey)
                                        {
                                            <li class="mm-survey-results-item incorrect">
                                                <span class="mm-item-number">@item.AnswerTemplateValue</span>
                                                <span class="mm-item-info">@item.QuestionValue</span>
                                            </li>
                                        }
                                    </ul>
                                </div>
                                <div style="display:@ResultSurevyDisplay">
                                    <h3 class="mm-survey-results-score">يمكنكم الإطلاع على نتائج إستطلاعات الرأي المنشورة من خلال الضغط على مفتاح <a href="#main-menu">"نتائج إستطلاعات الرأي"</a> الموجود في لائحة التحكم أعلاه</h3>
                                </div>
                            </div>

                            @if (Survey.Count == 0 && userInfoSurvey.Count == 0)
                            {
                                <div class="mm-survey-results" style="display:block">
                                    <div class="mm-survey-results-container">
                                        <h3 class="mm-survey-results-score" style="direction:rtl;margin-top:44px;border:5px solid white;">
                                            @Html.Raw(BaseController.GetFieldLabel(Locale, "_NoSurveyMsg"))
                                        </h3>
                                    </div>
                                </div>
                            }
                            @if (Survey.Count != 0)
                            {
                                <div class="mm-survey-bottom" style="display:@ContainerSyrveyDisplay">
                                    <div class="mm-survey-container" style="display:@ContainerSyrveyDisplay">
                                        @{
                                            int index = 1;
                                            int j = 0;
                                            foreach (var Key in Survey.Keys)
                                            {

                                                var active = index == 1 ? "active" : "";
                                                <div class="mm-survey-page @active" data-page="@index">
                                                    <div class="mm-survery-content">
                                                        <div class="mm-survey-question">
                                                            <p id="quest_@index">@Survey[Key].FirstOrDefault().QuestionValue</p>
                                                        </div>
                                                        @{

                                                            foreach (var answer in Survey[Key])
                                                            {
                                                                j++;
                                                                var radioId = "radio0" + j;
                                                                var radioName = "radio" + index;

                                                                <div class="mm-survey-item">
                                                                    <input type="radio" id="@radioId" data-item="@index" name="@radioName" data-templatekey="@answer.AnswerTemplateKey" value="@answer.AnswerValue" />
                                                                    <label for="@radioId"><span></span><p>@answer.AnswerValue</p></label>
                                                                </div>
                                                            }
                                                        }

                                                    </div>
                                                </div>
                                                index++;
                                            }
                                        }

                                    </div>

                                    <div class="mm-survey-controller">
                                        <div class="mm-prev-btn">
                                            <button>@Html.Raw(BaseController.GetFieldLabel(Locale, "_Previous"))</button>
                                        </div>
                                        <div class="mm-next-btn">
                                            <button disabled="true">@Html.Raw(BaseController.GetFieldLabel(Locale, "_Next"))</button>
                                        </div>
                                        <div class="mm-finish-btn">
                                            <button>@Html.Raw(BaseController.GetFieldLabel(Locale, "_Submit"))</button>
                                        </div>
                                    </div>
                                </div>
                            }

                        </div>
                    </div>
                </div>



            </div>
        </div>
        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2"></div>
    </div>



    <buttons style="display:none" id="cliclkBu"></buttons>
    <script src="@Url.Content("~/scripts/header/jquery.smartmenus.js")"></script>
    <script src="@Url.Content("~/assets/surveycomponent/survey.js")"></script>
    <script>
        $("#testestetla3").click(function () {
            $('#feedbackmodal').modal('show');

        });


        function feedback(Answer) {
            $.ajax({
                url: '@Url.Action("CreateSurveyAnswer", "Home")',
                type: 'GET',
                dataType: 'text',
                cache: false,
                data: {
                    ans: Answer, vk: "1"
                },
                success: function (data) {
                    location.reload();
                }
            });
        }
        $("#logodiv").click(function () {

            window.location = '@Url.Action("Manbar", "Home")';

        });

        $(document).ready(function () {
            $("#cliclkBu").click();
            $('#RidaMouwatanVideo').get(0).pause()
            $('#RidaMouwazafVideo').get(0).pause()
        })

        $("#RidaMouwatenDiv").hover(function () {
            $('#RidaMouwatanVideo').css("visibility", "visible");
            $('#RidaMouwatanVideo').get(0).play();
        })

        $("#RidaMouwatenDiv").mouseleave(function () {
            $('#RidaMouwatanVideo').css("visibility", "hidden");
            $('#RidaMouwatanVideo').get(0).pause();
        })


        $("#RidaMouwazafDiv").hover(function () {
            $('#RidaMouwazafVideo').css("visibility", "visible");
            $('#RidaMouwazafVideo').get(0).play();
        })

        $("#RidaMouwazafDiv").mouseleave(function () {
            $('#RidaMouwazafVideo').css("visibility", "hidden");
            $('#RidaMouwazafVideo').get(0).pause();
        })

        function myFunction() {
            var x = document.getElementById("myTopnav");
            if (x.className === "topnav") {
                x.className += " responsive";
            } else {
                x.className = "topnav";
            }
        }

        $("#Marsad").click(function () {

            submit_post_via_hidden_form("@Url.Action("Marsad", "Home")", {});


        });

        $("#MarsadAlAda2AlIdari").click(function () {
            return;
            submit_post_via_hidden_form("@Url.Action("Marsad", "Home")", {});

        });

        $(".formButtonMouwazaf").click(function () {

            if ("@User.Identity.IsAuthenticated" === "False") {
                var FormTemplateType = $(this).attr("data-FormType");

                $.ajax({
                    url: '@Url.Action("GetFormTemplatesForAType", "Home")',
                    dataType: "json",
                    data: { TemplateType: FormTemplateType },
                    success: function (result) {


                        $.each(result, function (key, value) {

                            @*window.location = '@Url.Action("LoginView", "Account")' + "?NextPageIndex=" + value.FormTemplateKey + "&MouwazafIndex=True";*@
                            submit_post_via_hidden_form("@Url.Action("LoginView", "Account")", { NextPageIndex: value.FormTemplateKey, MouwazafIndex: "True" });

                            @*window.location = '@Url.Action("NewClaimForm", "ClaimForms")/' + "?FormTemplateKey=" + value.FormTemplateKey;*@

                        });

                    }
                });
            } else {

                @if (User.IsInRole("Citizen"))
        {
            <text>

                //bootbox.alert("!!! إن هذا الإستبان خاص بالموظفين ");

                bootbox.alert({
                    message: '!!! إن هذا الإستبان خاص بالموظفين ',
                    buttons: {
                        ok: {
                            label: 'إغلاق'
                        }
                    }
                })



                </text>

        }else
        {
            <text>

                var FormTemplateType = $(this).attr("data-FormType");

                $.ajax({
                    url: '@Url.Action("GetFormTemplatesForAType", "Home")',
                    dataType: "json",
                    data: { TemplateType: FormTemplateType },
                    success: function (result) {


                        $.each(result, function (key, value) {


                            @*window.location = '@Url.Action("NewClaimForm", "ClaimForms")/' + "?FormTemplateKey=" + value.FormTemplateKey;*@
                            submit_post_via_hidden_form("@Url.Action("NewClaimForm", "ClaimForms")",

                                            {
                                                FormTemplateKey: escape(value.FormTemplateKey)
                                            }
                        );

                        });

                    }
                });
                </text>
        }

            }
        });


        $(".formButton").click(function () {

            if ("@User.Identity.IsAuthenticated" === "False") {
                var FormTemplateType = $(this).attr("data-FormType");
                //  alert(FormTemplateType);
                $.ajax({
                    url: '@Url.Action("GetFormTemplatesForAType", "Home")',
                    dataType: "json",
                    data: { TemplateType: FormTemplateType },
                    success: function (result) {


                        $.each(result, function (key, value) {

                            @*window.location = '@Url.Action("LoginView", "Account")' + "?NextPageIndex=" + value.FormTemplateKey;*@
                            submit_post_via_hidden_form("@Url.Action("LoginView", "Account")", { NextPageIndex: value.FormTemplateKey });

                            @*window.location = '@Url.Action("NewClaimForm", "ClaimForms")/' + "?FormTemplateKey=" + value.FormTemplateKey;*@

                        });

                    }
                });
            } else {
                var FormTemplateType = $(this).attr("data-FormType");

                $.ajax({
                    url: '@Url.Action("GetFormTemplatesForAType", "Home")',
                    dataType: "json",
                    data: { TemplateType: FormTemplateType },
                    success: function (result) {


                        $.each(result, function (key, value) {

                            $.ajax({
                    url: '@Url.Action("AccessFormTemplate", "Home")',
                    dataType: "json",
                    data: { ftk: value.FormTemplateKey },
                                success: function (result1) {
                                    if (result1 == "Success") {
                                            submit_post_via_hidden_form("@Url.Action("NewClaimForm", "ClaimForms")", { FormTemplateKey: escape(value.FormTemplateKey) });
                                    } else {
                                        //popup
                                        $("#formAccessModal").modal("show");
                                    }

                    }
                });
                        });

                    }
                });
            }
        });



        $(".formButtonFasad").click(function () {

            if ("@User.Identity.IsAuthenticated" === "False") {


                @*window.location = '@Url.Action("tESTLogin", "Account")' + "?NextPageIndex=106";*@
                submit_post_via_hidden_form("@Url.Action("LoginView", "Account")", { NextPageIndex: "106" });
            } else {

                @if(User.IsInRole("Citizen")){
               <text>
                submit_post_via_hidden_form("@Url.Action("NewClaimForm", "ClaimForms")", { FormTemplateKey: escape("106") });

                </text>

           }else
           {
               <text>

                bootbox.alert({
                    message: '!!! إن هذا الإستبان خاص بالمواطنين ',
                    buttons: {
                        ok: {
                            label: 'إغلاق'
                        }
                    }
                })



                </text>
           }




            }
        });

        function submit_post_via_hidden_form(url, params) {
            var f = $('<form method="POST"style="display:none;"></form>').attr({
                action: url
            }).appendTo(document.body);

            for (var i in params) {
                if (params.hasOwnProperty(i)) {
                    $('<input type="hidden" />').attr({
                        name: i,
                        value: params[i]
                    }).appendTo(f);
                }
            }

            f.submit();

            f.remove();
        }

        var AnswerTemplateKey = [];
        var FormKey;
        $('.mm-finish-btn').on('click', function () {
            $('.mm-survey-item input:checked').each(function (index, val) {

                answsers = { key: $(this).attr("data-templatekey"), Textvalue: $(this).val(), type: "RadioBox", Parent: "", Child: "", count: "" }
                AnswerTemplateKey.push(answsers);
            });

            $.ajax({
                url: '@Url.Action("SubmitFormForUser", "ClaimForms")',
                type: 'GET',
                dataType: 'json',
                cache: false,
                data: {
                    trackingStatusKey: "1", formTemplateKey: "190", userKey: "@User.Identity.GetUserId()", organisationKey: " ", FileExtensionName: '@ViewBag.myCookie', FileExtensionType: '@ViewBag.myIP'
                },
                success: function (data) {
                    console.log(AnswerTemplateKey);
                    FormKey = data;
                    $.ajax({
                        url: '@Url.Action("AnswersByUser", "ClaimForms")',
                        type: 'POST',
                        dataType: 'json',
                        cache: false,
                        data: {
                            formKey: FormKey, answerTemplateKey: JSON.stringify(AnswerTemplateKey)
                        },
                        success: function (data) {

                            $.ajax({
                                url: '@Url.Action("SaveClaimForm", "ClaimForms")',
                                type: 'GET',
                                dataType: 'json',
                                cache: false,
                                data: {
                                    formKey: FormKey
                                },
                                success: function (data) {
                                    console.log("survey submited successfully");
                                }
                            });
                        }
                    });
                }
            });

        });
    </script>


</div>

