﻿@{
    Layout = null;
    var Token = Html.AntiForgeryToken();
}

<head>
    <meta name="viewport" content="width=device-width" />
    <title>مرصد الأداء الاداري</title>

    <link rel="apple-touch-icon" sizes="57x57" href="~/FavIcon/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="~/FavIcon/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="~/FavIcon/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="~/FavIcon/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="~/FavIcon/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="~/FavIcon/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="~/FavIcon/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="~/FavIcon/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="~/FavIcon/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192" href="~/FavIcon/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="~/FavIcon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="~/FavIcon/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="~/FavIcon/favicon-16x16.png">
    <link rel="manifest" href="~/FavIcon/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="~/FavIcon/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">

    <link href="@Url.Content("~/Content/Css/font-awesome.min.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/Css/bootstrap.min.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/Css/bootstrap-switch.min.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/vendors/datatables/media/css/dataTables.bootstrap4.min.css")" rel="stylesheet" type="text/css">

    <script src="@Url.Content("~/Scripts/vendors/jquery/jquery.min.js")"></script>
    <script src="@Url.Content("~/Scripts/vendors/tether/dist/js/tether.min.js")"></script>

    <script src="@Url.Content("~/Scripts/vendors/datatables/media/js/jquery.dataTables.min.js")"></script>
    <script src="@Url.Content("~/Scripts/vendors/datatables/media/js/dataTables.bootstrap4.min.js")"></script>
    <script src="@Url.Content("~/Scripts/vendors/datatables-fixedcolumns/js/dataTables.fixedColumns.js")"></script>
    <script src="@Url.Content("~/Scripts/vendors/datatables-responsive/js/dataTables.responsive.js")"></script>
    <script src="@Url.Content("~/Scripts/vendors/bootstrap/dist/js/bootstrap.min.js")"></script>
    <script src="@Url.Content("~/Scripts/bootbox.min.js")"></script>
    <style type="text/css">
        header {
            background-color: #27358A;
            direction: rtl;
            color: white;
            height: 81px;
        }

        .head {
            background-color: #27358A;
            direction: rtl;
            color: white;
            height: 50px;
        }

        .middle {
            display: table-cell;
            vertical-align: middle;
            text-align: center;
        }

        header span {
            cursor: pointer;
        }

        span {
            margin-right: 2%;
        }

        li span {
            cursor: pointer;
        }

        .mainSections {
            width: 180px;
        }

        body {
            margin: 0;
            font-family: Calibri;
        }

        .vcenter {
            display: inline-block;
            vertical-align: middle;
            float: none;
        }

        hr {
            margin-top: 2px !important;
            margin-bottom: 4px !important;
        }

        table tbody tr {
            height: 40px;
        }

        .odd {
            background-color: #d3d3d3;
        }

        .modal-body {
            text-align: right;
        }

        * {
            box-sizing: border-box;
        }

        .column {
            float: left;
            width: 16%;
            padding: 5px;
        }

        .column1 {
            display: inline-block;
        }

        /* Clearfix (clear floats) */
        .row::after {
            content: "";
            clear: both;
            display: table;
        }

        #test {
            background-repeat: no-repeat !important;
            background-size: 100% 61%;
            height: 50% !important;
        }

        #test1 {
            background-repeat: no-repeat !important;
            background-size: 100% 61%;
            height: 50% !important;
        }

        #test2 {
            background-repeat: no-repeat !important;
            /*height: 45% !important;*/
            /*background-size: 100% 25%;*/
            margin-top: 1% !important;
        }

        #Logo6Div {
                position:unset !important;
            }
 

        @@media (max-width: 970px) {
           
            /*#imageContainer {
           
                left: -254px;
            }*/

            #MarsadLogo {
                width: 12% !important;
            }

            #MarsadLabel {
                width: 20% !important;
                margin-left: 20% !important;
                position: relative !important;
                right: 164px !important;
                top: 53px !important;
            }

            #test {
                height: 80% !important;
            }
        }

        @@media (max-width: 1000px) {
            #Logo6Div {
                position: inherit !important;
            }
        }
    </style>


</head>


<body style="overflow-x:hidden;margin-left:15%;" class="col-md-8">
    <div class="row">
        @Html.Partial("_SharedHeaderTest")

    </div>

        <div class="row">

 

            <img src="@Url.Content("~/images/newdesignpics/marsad/bacharpic.png")" style="width:100%;" />

        </div>

   

    <div class="row">
        <img src="@Url.Content("~/images/newdesignpics/marsad/tartibalmou2asasat.png")" style="width: 100%;"/>

    </div>

    <div class="row" style="text-align:center;margin-bottom:2%;">
        <img src="@Url.Content("~/images/newdesignpics/marsad/takrirta7asonalada2alsanawi.png")" style="width:20%" />
        <img src="@Url.Content("~/images/newdesignpics/markaz/AlHaykalAlWazifi.png")" style="width:17%;visibility:hidden" />
        <img src="@Url.Content("~/images/newdesignpics/marsad/tasnifalada2alsanawi.png")" style="width:20%" />
    </div>
    <div class="row" style="text-align:center;">
        <img src="@Url.Content("~/images/newdesignpics/marsad/mou3adalatalestijabvaalwatanya.png")" style="width:17%;margin-right:3%" />

        <img src="@Url.Content("~/images/newdesignpics/marsad/alnazahawalchafafya.png")" style="width:17%" />


        <img src="@Url.Content("~/images/newdesignpics/marsad/joudataltanzim.png")" style="width:17%;margin-left:3%" />


    </div>

    <div class="row" style="margin-bottom:1%;margin-top:1%">
        <img src="@Url.Content("~/images/newdesignpics/marsad/almou2asasat al3acher.png")" style="width:102%;"/>

    </div>

 

    
        @Html.Partial("_Footer")



</body>

