﻿
@{
    ViewBag.Title = "Home Page";
    Layout = "~/views/home/pageshared.cshtml";
}



<!DOCTYPE html>
<html>
<head>
    <title>مرصد الأداء الاداري</title>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="viewport" content="width=device-width" />
    <meta charset="utf-8" />

    <link href="@Url.Content("~/Content/bootstrap.min.css")" rel="stylesheet" />
    <link href="@Url.Content("~/Content/Page1.css")" rel="stylesheet" />
    <link href="@Url.Content("~/Content/bootstrap.css")" rel="stylesheet" />

    @*<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">*@
    <script src="@Url.Content("~/Scripts/vendors/jquery/jquery.min.js")"></script>
    <link href="@Url.Content("~/Content/Css/font-awesome.min.css")" rel="stylesheet" type="text/css" />
   
    <style>
      .pointer,.imgs2,.imgft {
            cursor: pointer;
        }

      @@media only screen and (max-width: 600px) {
    #Alnazaha {
        font-size:2.2vw !important;
    }
}
    </style>
</head>







<div class="Body" style="overflow-x:hidden;filter: blur(25px);transition: filter 2s;-webkit-transition: filter 2s;">

    <header></header>
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 ">
            <img src="@Url.Content("~/Imag/marsad-option8_4.png")" class="imgbar" alt="responsive image" />
        </div>

    </div>

    <div class="container-fluid">

        <div class="row right">

            <div class="col-xs-2 col-sm-6 col-md-6 col-lg-6 col1">
            </div>
            <div class="col-xs-8 col-sm-4 col-md-4 col-lg-4  text-right  box1">
                <p class="tamyiz" style="font-size:28px">ترتيب المؤسسات وفق معيار الأداء والتميز</p>
            </div>
            <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2 col2">
            </div>

        </div>


        <div class="row">
            <div class="col-lg-1 col-md-1 col-sm-1">
            </div>
            <div class="col-lg-5 col-md-5 col-sm-5 col-xs-12 pointer" id="TakrirAda2Sanawi">
                <img src="@Url.Content("~/Imag/marsad-option8_5.png")" style="width:100%;height:auto" width="600" height="400">

                <div class="obs1">
                    <p class="titles2">تقرير الأداء السنوي</p>

                </div>
            </div>

            <div class="col-lg-5 col-md-5 col-sm-5 col-xs-12 pointer" id="GetPublishedRanking">
                @*<img src="~/Imag/marsad-option8_8.png " class="imgs1" style="width:100%" />*@
                <img src="@Url.Content("~/Imag/marsad-option8_8.png")" style="width:100%;height:auto" width="600" height="400">

                <div class="obs1">
                    <p class="titles2">تصنيف الأداء السنوي</p>

                </div>
            </div>
            <div class="col-lg-1 col-md-1 col-sm-1">
            </div>

        </div>

        @*<div class="row">

            <div class="col-lg-12 col-md-12 col-sm-12" style="text-align:center;background-color:lightgray">
<h1 style="color:#4a248b;font-size:106px;">تقارير مباشرة أوتوماتيكية</h1>
            </div>

        </div>*@

        <div class="row right">

            <div class="col-xs-2 col-sm-6 col-md-6 col-lg-6 col1">
            </div>
            <div class="col-xs-8 col-sm-4 col-md-4 col-lg-4  text-right  box1">
                <p class="tamyiz" style="font-size:28px">تقارير مباشرة أوتوماتيكية</p>
            </div>
            <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2 col2">
            </div>

        </div>

        <div class="row">

            <div class="col-lg-1 col-md-1 col-sm-1">
            </div>



            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6" id="EchReport">
                <div class="row divpara " style="margin:0px !important;">
                    <p class="titles2">معدلات الإستجابة الوطنيه</p>
                </div>
                <div class="row linetitle"></div>
                <img src="@Url.Content("~/Imag/marsad-option8_7.png")" class="imgs2" />
                <div class="obs3">
                    <p class="titles2">تقرير معدلات الإستجابة والفاعلية</p>

                </div>
            </div>
            <div class="col-lg-1 col-md-1 col-sm-1">
            </div>
            <div class="col-lg-3 col-md-3  col-sm-3 col-xs-6" id="tarahoulan">
                <div class="row divpara" style="margin:0px !important;">
                    <p class="titles2">النزاهة والشفافية المؤسساتية</p>
                </div>
                <div class="row linetitle"></div>
                <img src="@Url.Content("~/Imag/marsad-option8_7.png ")" class="imgs2" />
                <div class="obs3">
                    <p class="titles2" style="font-size:1.2vw;" id="Alnazaha">تقرير الخدمات العشر الأكثر طلباً من قبل المواطن  </p>

                </div>
            </div>
            <div class="col-lg-1 col-md-1 col-sm-1 col-xs-3">
            </div>



            <div class="col-lg-3 col-md-3  col-sm-3 col-xs-6" id="GetPublishedTakarir">
                <div class="row divpara" style="margin:0px !important;">
                    <p class="titles2">نتائج إستطلاعات الرأي</p>
                </div>

                <div class="row linetitle"></div>
                <img src="@Url.Content("~/Imag/marsad-option8_7.png")" class="imgs2" />
                <div class="obs3">
                    <p class="titles2">تقرير دوري</p>
                </div>
            </div>

            <div class="col-xs-3">
            </div>




        </div>










        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 eee" style="cursor:pointer;" id="Top10Orgs">
                <div class="eee4"> </div>

                <div class="eee3"> <p class="tamyiz">المؤسسات العشرة الأكثر إستجابة للمواطن </p></div>
                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 ">
                    <img src="@Url.Content("~/Imag/footer-4.png")" class="img4ft" />
                </div>
                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 eee2">
                    <img src="@Url.Content("~/Imag/footer-4.png")" class="img4ft" />
                </div>
                <div class="eee5"> </div>
            </div>
        </div>



    </div>


    <script src="@Url.Content("~/scripts/header/jquery.smartmenus.js")"></script>

    <script>
      
        $("#TakrirAda2Sanawi").click(function () {


            submit_post_via_hidden_form("@Url.Action("TakrirAda2Sanawi", "Home")", {});

        });

        $("#Top10Orgs").click(function () {

            submit_post_via_hidden_form("@Url.Action("Index", "Top10Orgs")", {});



        });


        $("#GetPublishedRanking").click(function () {
            submit_post_via_hidden_form("@Url.Action("TasnifAlAda2AlSanawi", "Ranking")", { description: "Publish" });

            @*submit_post_via_hidden_form("@Url.Action("GetPublishedRanking", "Ranking")", { HighlightedPart: "Ranking" });*@

        });

        $("#GetPublishedTakarir").click(function () {
            @*submit_post_via_hidden_form("@Url.Action("AlTakarir", "Takarir")", { Description: "Publish", FormTemplateKey: "", HighlightedPart: "Takarir" });*@
            @*submit_post_via_hidden_form("@Url.Action("AlTakarir", "Takarir")", { FormTemplateKey: FormTemplateKey, HighlightedPart: "Takarir" });*@
            submit_post_via_hidden_form("@Url.Action("Estetla3Ra2i", "Home")", {  });


        });

        $("#tarahoulan").click(function () {
          submit_post_via_hidden_form("@Url.Action("Tarahoulan", "Home")", {  });


        });

        $("#EchReport").click(function () {
            submit_post_via_hidden_form("@Url.Action("EchReport", "Home")", {  });


        });
        
        function submit_post_via_hidden_form(url, params) {
            var f = $("<form method='POST' style='display:none;'></form>").attr({
                action: url
            }).appendTo(document.body);

            for (var i in params) {
                if (params.hasOwnProperty(i)) {
                    $('<input type="hidden" />').attr({
                        name: i,
                        value: params[i]
                    }).appendTo(f);
                }
            }

            f.submit();

            f.remove();
        }

        function myFunction() {
            var x = document.getElementById("myTopnav");
            if (x.className === "topnav") {
                x.className += " responsive";
            } else {
                x.className = "topnav";
            }
        }
    </script>
</div>

</html>