﻿@using MoAD.WebApplication.Objects;

@{
    ViewBag.Title = "Home Page";
    Layout = "~/views/home/_SharedLayout.cshtml";
    Dictionary<string, string> Locale = ViewBag.Locale;
}

<head>
    <title>مرصد الأداء الاداري</title>

    <link href="@Url.Content("~/Content/bootstrap.min.css")" rel="stylesheet" />
    <link href="@Url.Content("~/Content/MarsadLayout.css")" rel="stylesheet" />
    <link href="@Url.Content("~/Content/bootstrap.css")" rel="stylesheet" />

    @*<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">*@
    <script src="@Url.Content("~/Scripts/vendors/jquery/jquery.min.js")"></script>
    <link href="@Url.Content("~/Content/Css/font-awesome.min.css")" rel="stylesheet" type="text/css" />

    @*<style>
        .pointer, .imgs2, .imgft {
            cursor: pointer;
        }

        @@media only screen and (max-width: 600px) {
            #Alnazaha {
                font-size: 2.2vw !important;
            }
        }
    </style>*@
</head>

<div class="Body" style="overflow-x:hidden;filter: blur(25px);transition: filter 2s;-webkit-transition: filter 2s;">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 ">
            <img src="@Url.Content("~/Imag/marsad-option8_4.png")" class="imgbar" alt="responsive image" />
        </div>
    </div>

    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2 col1">
            </div>
            <div class="col-xs-8 col-sm-4 col-md-4 col-lg-4 box1">
                <p style="font-size:1.6vw">@Html.Raw(BaseController.GetFieldLabel(Locale, "MarsadPageTartibMou2asat"))</p>
            </div>
            <div class="col-xs-2 col-sm-6 col-md-6 col-lg-6 col1">
            </div>
        </div>

        <div class="row">
            <div class="col-lg-2 col-md-2 col-sm-2">
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-5 pointer" id="TakrirAda2Sanawi">
                <img src="@Url.Content("~/Imag/marsad-option8_5.png")" style="width:100%;height:auto" width="600" height="400">
                <div class="obs1">
                    <p class="titles2">@Html.Raw(BaseController.GetFieldLabel(Locale, "MarsadPageTakrirAlAda2AlSanawi"))</p>
                </div>
            </div>

            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-5 pointer" id="GetPublishedRanking">               
                <img src="@Url.Content("~/Imag/marsad-option8_8.png")" style="width:100%;height:auto" width="600" height="400">
                <div class="obs1">
                    <p class="titles2">@Html.Raw(BaseController.GetFieldLabel(Locale, "MarsadPageTasnifAlAda2AlSanawi"))</p>
                </div>
            </div>
            <div class="col-lg-2 col-md-2 col-sm-2">
            </div>
        </div>

      
        <div class="row">
           
            <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2 col1">
            </div>
            <div class="col-xs-8 col-sm-4 col-md-4 col-lg-4 box1">
                <p style="font-size:1.6vw">@Html.Raw(BaseController.GetFieldLabel(Locale, "MarsadPageTakarirMoubacharaAutomaticya"))</p>
            </div>
            <div class="col-xs-2 col-sm-6 col-md-6 col-lg-6 col1">
            </div>

        </div>

        <div class="col-12">

            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4" id="EchReport">
                <div class="col-12" style="margin:0px !important;">
                    <p class="TitlePReport">@Html.Raw(BaseController.GetFieldLabel(Locale, "MarsadPageMou3adalatAlEstijaba"))</p>
                </div>
                <div class="col-12 linetitle"></div>
                <img src="@Url.Content("~/Imag/marsad-option8_7.png")" class="imgs2" />
                <div class="obs3">
                    <p>@Html.Raw(BaseController.GetFieldLabel(Locale, "MarsadPageTakrirMou3adalatAlEstijaba"))</p>

                </div>
            </div>


            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4" id="tarahoulan">
                <div class="col-12" style="margin:0px !important;">
                    <p class="TitlePReport">@Html.Raw(BaseController.GetFieldLabel(Locale, "MarsadPageAlnazahaWalChafafya"))</p>
                </div>
                <div class="col-12 linetitle"></div>
                <img src="@Url.Content("~/Imag/marsad-option8_7.png ")" class="imgs2" />
                <div class="obs3">
                    <p id="Alnazaha">@Html.Raw(BaseController.GetFieldLabel(Locale, "MarsadPageTakrirAlKhadamatAl3achr"))  </p>

                </div>
            </div>

            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4" id="GetPublishedTakarir">
                <div class="col-12" style="margin:0px !important;">
                    <p class="TitlePReport">@Html.Raw(BaseController.GetFieldLabel(Locale, "MarsadPageSurveyResults"))</p>
                </div>

                <div class="col-12 linetitle"></div>
                <img src="@Url.Content("~/Imag/marsad-option8_7.png")" class="imgs2" />
                <div class="obs3">
                    <p>@Html.Raw(BaseController.GetFieldLabel(Locale, "MarsadPageTakrirDawri"))</p>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 eee" style="float:right;">
                <div class="eee4"> </div>
                <div class="eee3"> <button id="Top10Orgs" class="btn tamyiz">@Html.Raw(BaseController.GetFieldLabel(Locale, "MarsadPageMou2asatAl3achraBtn")) </button></div>
                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6" style="text-align:center;">
                    <img src="@Url.Content("~/Imag/footer-4.png")" class="img4ft" />
                </div>
                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6"  style="text-align:center;">
                    <img src="@Url.Content("~/Imag/footer-4.png")" class="img4ft" />
                </div>
                <div class="eee5"> </div>
            </div>
        </div>

    </div>


    <script src="@Url.Content("~/scripts/header/jquery.smartmenus.js")"></script>

    <script>

        $("#TakrirAda2Sanawi").click(function () {


            submit_post_via_hidden_form("@Url.Action("TakrirAda2Sanawi", "Home")", {});

        });

        $("#Top10Orgs").click(function () {

            submit_post_via_hidden_form("@Url.Action("Index", "Top10Orgs")", {});



        });


        $("#GetPublishedRanking").click(function () {
            submit_post_via_hidden_form("@Url.Action("TasnifAlAda2AlSanawi", "Ranking")", { description: "Publish" });

            @*submit_post_via_hidden_form("@Url.Action("GetPublishedRanking", "Ranking")", { HighlightedPart: "Ranking" });*@

        });

        $("#GetPublishedTakarir").click(function () {
            @*submit_post_via_hidden_form("@Url.Action("AlTakarir", "Takarir")", { Description: "Publish", FormTemplateKey: "", HighlightedPart: "Takarir" });*@
            @*submit_post_via_hidden_form("@Url.Action("AlTakarir", "Takarir")", { FormTemplateKey: FormTemplateKey, HighlightedPart: "Takarir" });*@
            submit_post_via_hidden_form("@Url.Action("Estetla3Ra2i", "Home")", {  });


        });

        $("#tarahoulan").click(function () {
          submit_post_via_hidden_form("@Url.Action("Tarahoulan", "Home")", {  });


        });

        $("#EchReport").click(function () {
            submit_post_via_hidden_form("@Url.Action("EchReport", "Home")", {  });


        });

        function submit_post_via_hidden_form(url, params) {
            var f = $("<form method='POST' style='display:none;'></form>").attr({
                action: url
            }).appendTo(document.body);

            for (var i in params) {
                if (params.hasOwnProperty(i)) {
                    $('<input type="hidden" />').attr({
                        name: i,
                        value: params[i]
                    }).appendTo(f);
                }
            }

            f.submit();

            f.remove();
        }

        function myFunction() {
            var x = document.getElementById("myTopnav");
            if (x.className === "topnav") {
                x.className += " responsive";
            } else {
                x.className = "topnav";
            }
        }
    </script>
</div>
