﻿
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>PrintAuthenticationCodes</title>



    <link href="@Url.Content("~/content/bootstrap.min.css")" rel="stylesheet" />
    <script src="@Url.Content("~/scripts/jquery-1.10.2.min.js")"></script>
    <script src="@Url.Content("~/scripts/bootstrap.min.js")"></script>
</head>
<body>





    @{



        List<string> result = ViewBag.authenticationCodes;
        int expectedCoulumnCounts = 3;
        int columnCount = result.Count < expectedCoulumnCounts ? result.Count : expectedCoulumnCounts;

        int rowCount = Convert.ToInt32(Math.Ceiling(result.Count * 1.0 / columnCount * 1.0));
        double columnWidthRatio = Math.Floor(100*1.0 / columnCount*1.0);
        HtmlString columnWidth = new HtmlString("width:"+columnWidthRatio.ToString()+"%");
        int k = 0;
        for (int j = 0; j < rowCount; j++,k+= columnCount)
        {
            <div style="border:double 4px;width:100%;text-align:right;">

                @for (int i = 0; i < columnCount && i + k < result.Count; i++)
                {

                <div style="border:dotted 2px;display: inline-block; @columnWidth">
                    <span> @result[i+k] </span><label> :الرمز</label><br />
                    <span> moad-sy.org/Manbar </span><label> :الموقع</label><br />
                    <span> 06725558 </span><label> :للاتصال</label><br />
                    <span> @ViewBag.Organisation </span><label> :الجهة</label>


                </div>

                }
                

            </div>
            <br />
            

        }



    }







</body>
</html>
<script>
    $(document).ready(function () {

        window.print();

        setTimeout(function () {
                    window.location = "@Url.Action("AuthenticationCodes", "Home",new { HighlightedPart = "e3dadalmousta5dimin"})";
        }, 100);

    });
</script>