﻿
@{

    Layout = "~/Views/Shared/_LayoutInitialPage.cshtml";
}

<style>
    .row{
        display:block;
    }
    .col-md-3 {
        float: right;
    }

    .col-md-9 {
        float: left;
        margin-left: 1%;
    }

    .form-control {
        text-align: right;
    }

    .col-md-10 {
        float: left;
    }

    .modal-backdrop {
        z-index: -1 !important;
    }

    .dropify-wrapper{
        width:35%;
        float:right
    }
</style>

<div class="modal fade in" id="changepasswordmodal" tabindex="-1" aria-hidden="true" style="display: none; padding-right: 17px;margin-top:6%;">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header" dir="rtl">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                <h4 class="modal-title" id="usertochangepassword">  تغيير كلمة السر  : </h4>
            </div>
            <div class="modal-body">


                <div class="form-group row">
                    <div class="col-md-9 col-sm-9 col-xs-9">
                        <input type="password" class="form-control passwordinput" dir="rtl" placeholder="كلمة مرور" id="password">
                    </div>
                    <div class="col-md-2 col-sm-2 col-xs-2">
                        <label class="form-control-label" for="l0">: كلمة السر </label>
                    </div>
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn dark btn-outline" data-dismiss="modal">إغلاق </button>
                <button type="button" id="changepass" class="btn green">حفظ</button>
            </div>
        </div>
    </div>
</div>


@*<form class="register-form" action="@Url.Action("ChangePicture", "Account")" method="post" id="MyForm" enctype="multipart/form-data" style="display:none;">
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <h1 style="color:#4e5a64;"> سجل حساب</h1>

    <div>

        <div class="form-group col-lg-12">
            <label class="control-label visible-ie8 visible-ie9" dir="rtl">Photo</label>
            <div class="controls">
                <input type="file" class="dropify" name="UserImage" accept="image/*;capture=camera" data-allowed-file-extensions="jpg png"/>
            </div>
        </div>

    </div>



    <div class="registerMouwaten" style="float:left;display:none;">
        <button type="submit" id="register-submit-btn" class="btn btn-primary" dir="rtl" style="width:60px;text-align:center"> تسجيل </button>
    </div>


</form>*@






<section class="page-content">
    <div class="page-content-inner">
        <!-- Basic Form Elements -->
        <section class="panel">

            <div class="row" style="text-align: right;padding-top: 20px;padding-bottom: 20px;margin-right: 2%;">
             <h3>
                 الملف الشخصي
             </h3>
                   
                    @{
                        if (User.IsInRole("PB"))
                        {
                            <div class="row">
                                <img style="width:20%;" name="" src="@Url.Content("~/images/LogoAlJoumhourya.png")" />

                            </div>
                        }
                        else
                        {
                            if (ViewBag.UserImage != null && ViewBag.UserImage != "")
                            {
                                var imgSrc = String.Format("data:image/gif;base64,{0}", ViewBag.UserImage);
                                <a download="image.jpg" href="@imgSrc" title="ImageName">
                                    <img id="" name="" src="@imgSrc" style="height:150px;width:200px;margin-left:1%;" alt="" />
                                </a>
                                <div class="row" style="display:none;" id="RowImage">
                                    <input type="file" class="dropify" name="UserImage" accept="image/*;capture=camera" data-allowed-file-extensions="jpg png" style="width:50%;" />


                                </div>
                            }
                            else
                            {
                                <div class="row">
                                    <input type="file" class="dropify" name="UserImage" accept="image/*;capture=camera" data-allowed-file-extensions="jpg png" style="width:50%;" />


                                </div>



                                @*<img id="" name="" src="@Url.Content("~/images/InitialPage_Images/user_logo.png")" style="height:150px;width:150px;margin-left:1%;" alt="" />
                                    <div class="row" dir="rtl">
                                        <i class="fa fa-plus" style="cursor:pointer;margin-right:1%;" id="ChangePicBtn"></i><span style="font-size:12px;">تغيير الصورة</span>

                                    </div>*@
                            }
                        }



                    }

                @if (!User.IsInRole("PB"))
                {
                    <div class="row"><div class="btn btn-primary" id="ChangePicBtn">تغيير الصورة</div></div>

                }
            </div>
            <div class="row" style="text-align:right;">
                <div class="col-lg-6" style="border-right: 4px solid #f2f4f8;">
                    <div class="form-group row">
                        <div class="col-md-10">
                            <input type="text" class="form-control" placeholder="SSN" value="@ViewBag.SSN">
                        </div>
                        <div class="col-md-2">
                            <label class="form-control-label" for="l0">SSN</label>
                        </div>

                    </div>

                    <div class="form-group row">

                        <div class="col-md-10">
                            <input type="text" class="form-control" placeholder="الاسم" value="@ViewBag.FirstName">
                        </div>
                        <div class="col-md-2">
                            <label class="form-control-label" for="l0">الاسم</label>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-md-10">
                            <input type="text" class="form-control" placeholder="إسم الأب" value="@ViewBag.FatherName">
                        </div>
                        <div class="col-md-2">
                            <label class="form-control-label" for="l0">إسم الأب</label>
                        </div>

                    </div>

                    <div class="form-group row">
                        <div class="col-md-10">
                            <input type="text" class="form-control ChangeField" placeholder="الهاتف" value="@ViewBag.PhoneNumber">
                        </div>
                        <div class="col-md-2">
                            <label class="form-control-label" for="l0">الهاتف</label>
                        </div>

                    </div>


                    @*<div class="form-group row">

                            <div class="col-md-10">
                                <input type="text" class="form-control" placeholder="عدد محاولات الدخول الغير الناجحة" value="@ViewBag.AccessFailed">
                            </div>
                            <div class="col-md-2">
                                <p class="form-control-label" for="l0" style="word-break:break-word;">عدد محاولات الدخول الغير الناجحة</p>
                            </div>
                        </div>*@
                </div>
                <div class="col-lg-6">

                    <div class="form-group row">

                        <div class="col-md-10">
                            <input type="text" class="form-control" placeholder="المستخدم" value="@ViewBag.UserName">
                        </div>
                        <div class="col-md-2">
                            <label class="form-control-label" for="l0"> المستخدم</label>
                        </div>
                    </div>

                    <div class="form-group row">

                        <div class="col-md-10">
                            <input type="text" class="form-control" placeholder="الجهة" value="@ViewBag.OrganisationName">
                        </div>
                        <div class="col-md-2">
                            <label class="form-control-label" for="l0">الجهة</label>
                        </div>
                    </div>

                    <div class="form-group row">

                        <div class="col-md-10">
                            <input type="text" class="form-control" placeholder="المنصب" value="@ViewBag.Role">
                        </div>

                        <div class="col-md-2">
                            <label class="form-control-label" for="l0">المنصب</label>
                        </div>
                    </div>

                    <div class="form-group row">

                        <div class="col-md-10">
                            <input type="text" class="form-control" placeholder="الشهرة" value="@ViewBag.LastName">
                        </div>

                        <div class="col-md-2">
                            <label class="form-control-label" for="l0">الشهرة</label>
                        </div>
                    </div>
                    <div class="form-group row">




                        <div class="col-md-10">
                            <input type="text" class="form-control ChangeField" placeholder="البريد الالكتروني" value="@ViewBag.Email">
                        </div>

                        <div class="col-md-2">
                            <label class="form-control-label" for="l0">البريد الالكتروني</label>
                        </div>
                    </div>
                </div>


                <div class="form-group row">

                    <button class="btn btn-primary" id="changepassword" style="margin-bottom:1%;margin-right:10%;">تغيير كلمة السر</button>



                </div>
            </div>

        </section>
        <!-- End -->
    </div>
</section>
<script>


    $(".dropify").dropify();

    $("#ChangePicBtn").click(function () {
        
        $("#RowImage").css("display", "block");
        if ($(".dropify").is('input:file')) {
            if ($(".dropify")[0].files[0] != undefined) {

                var files = $(".dropify")[0].files;
                for (i = 0 ; i < files.length ; i++) {
                    console.log(i);
                    console.log(files[i]);
                    var FilteType = files[i].type;
                    
                    var file = files[i];
                    var reader = new FileReader();
                    reader.readAsDataURL(files[i]);
                    reader.onload = function () {
                        setTimeout(function () {
                           // console.log(reader.result);
                            SaveImage(reader.result);
                        }, 1000);
                    };
                }
            }
        }
    });


    function SaveImage(Image) {
        console.log(Image);

        $.ajax({
            url: '@Url.Action("ChangePicture", "ClaimForms")',
            type: 'POST',
            cache: false,
            dataType: 'text',
            data: ({
                //Image: Image
                formKey: '1', answerTemplateKey: JSON.stringify(Image)

            }),

            success: function (data) {
               location.reload();
            },
            error: function (xhr) {
                console.log('errorr');
            }
        });
    }
   
    $("#changepass").click(function () {

        var newpass = $('#password').val();

        $.ajax({
            url: '@Url.Action("ChangePassword", "Account")',
            type: 'GET',
            cache: false,
            dataType: 'text',
            data: ({
                id: "",
                password: newpass,

            }),
            contentType: 'application/json; charset=utf-8',


            success: function (data) {
                $('#changepasswordmodal').modal('hide');
            },
            error: function (xhr) {
                alert('errorr');
            }
        });



    });
    $("input").attr("disabled", true);
    $(".dropify").attr("disabled", false);

    $(".passwordinput").attr("disabled", false);


    $("#changepassword").click(function () {
        $('#changepasswordmodal').modal('show');

    });
</script>
