﻿@using Newtonsoft.Json
@using Microsoft.AspNet.Identity;
@using MoAD.WebApplication.DataObjects;
@using MoAD.DataObjects.EDMX;

@{
    Layout = "~/Views/Shared/_LayoutInitialPage.cshtml";
    List<GetAdManagerForms_Result> FormValues = ViewBag.ManagerForms;
    List<SelectListItem> Organisations = ViewData["Organisation"] as List<SelectListItem>;

}
<style>
    /*.centeralign {
        text-align: center;
    }

    td {
        text-align: center;
    }

    .dataTables_length {
        float: left;
    }*/

     #formsTableViewer th{
        text-align:center;
    }

    #formsTableViewer td{
        text-align:center;
    }
</style>





<div class="row" style="margin-top:1%;">
    <div class="col-xl-12">
        <div class="row">
            <div class="col-xl-12">
                <div class="widget widget-two" style="direction:rtl;">
                    <div class="widget-header">
                        <span class="text-truncate text-nowrap">تصديق <strong>الدخول</strong></span>
                    </div>
                    <div class="row">
                        <div class="widget-body clearfix">
                            <table id="formsTableViewer" class="display" cellspacing="0" width="100%">
                                <thead>
                                    <tr>
                                        @if (!User.IsInRole("Expert") && !User.IsInRole("Technicien"))
                                        {
                                            <th style="text-align:center;">@*رؤية الإستبيان*@</th>
                                        }
                                        <th style="text-align:center;">الرقم</th>
                                        <th style="text-align:center;">المعاملة</th>
                                        <th style="text-align:center;">تاريخ التقديم</th>
                                        <th style="text-align:center;">الجهة العامة</th>
                                        <th style="text-align:center;">الجهة العامة الفرعية</th>
                                        <th style="text-align:center;">الخدمة / الشخص</th>
                                        <th style="display:none;"></th>
                                        <th style="display:none;"></th>
                                        @if (User.IsInRole("Citizen"))
                                        {
                                            <th>رأي المواطن</th>

                                        }
                                    </tr>
                                </thead>
                                <tbody>
                                    @{

                                        List<GetWorkFlowItemInstancePerUser_Result> statusRows = Model.listOfForms as List<GetWorkFlowItemInstancePerUser_Result>;
                                        var OrganizationKey = Request.Params["OrganizationKey"];
                                        OrganizationKey = (OrganizationKey == null || OrganizationKey == "null") ? "0" : "1";

                                        //var FilteredStatus = statusRows.Where(x => x.AssignedToUserKey == User.Identity.GetUserId() || User.IsInRole("Citizen")).ToList();
                                        //var FilteredStatus = statusRows.Where(x => (x.AssignedToUserKey == User.Identity.GetUserId() && OrganizationKey.Equals("0")) || (x.NextOrganisationKey == ViewBag.OrganisationKey && OrganizationKey.Equals("1")) || User.IsInRole("Citizen")).ToList();

                                        //                                                    if (statusRows.Count == 0)
                                        //                                                    {
                                        //#warning This should be visited
                                        //                                                        return;
                                        //                                                    }
                                        //var statusRowLatest = from element in FilteredStatus
                                        //                      group element by element.GUID into groups
                                        //                      select groups.OrderByDescending(p => p.UpdatedAt).First();

                                        foreach (var row in statusRows)
                                        {

                                            //var formkey = statusRows.Where(x => x.CurrentFormtemplateKey == 106 && x.GUID == row.GUID).OrderByDescending(x => x.UpdatedAt).FirstOrDefault().CurrentFormKey;
                                            //var citizenkey = statusRows.Where(x => x.CurrentFormtemplateKey == 106 && x.GUID == row.GUID).OrderByDescending(x => x.UpdatedAt).FirstOrDefault().UpdatedByUserKey;


                                            <tr>
                                                @if (!User.IsInRole("Expert") && !User.IsInRole("Technicien"))
                                                {
                                                    <td>
                                                        <button type="button" class="btn btn-circle btn-info viewFormButton" onclick="SignupView('@row.CurrentFormKey','@row.GUID','@row.CreatedAt','@row.UpdatedByUserKey','@row.NextFormTemplateKey','@row.NextStatusKey','@row.CurrentFormtemplateKey','@row.CurrentFormtemplateName','@row.NextStatusName','@row.NextOrganisationKey','@row.CurrentOrganisationKey','@row.UpdatedByUserKey')" style="background-color:#01a8fe;width:120px;padding:2px;">أنقر</button>
                                                    </td>
                                                }
                                                <td>@row.GUID</td>
                                                <td>@row.CurrentFormName</td>
                                                <td>@row.CreatedAt</td>
                                                <td>@row.CurrentOrganisationName</td>
                                                <td></td>
                                                <td></td>
                                                <td style="display:none;">@row.CurrentStatusName</td>
                                                <td style="display:none;">@row.CurrentStatusKey</td>
                                                @if (User.IsInRole("Citizen"))
                                                {
                                                    if (row.CurrentStatusKey == 15)
                                                    {
                                                        <td>

                                                            <button type="button" class="btn btn-circle btn-info viewFormButton" onclick="GoToFeedBackPopUp('@row.GUID','@row.CreatedAt')" style="background-color:#5cb85c;width:120px;padding:2px;" disabled>أنقر</button>
                                                        </td>
                                                    }
                                                    else
                                                    {
                                                        <td>

                                                            <button type="button" class="btn btn-circle btn-info viewFormButton" onclick="GoToFeedBackPopUp('@row.GUID','@row.CreatedAt')" style="background-color:#5cb85c;width:120px;padding:2px;">أنقر</button>
                                                        </td>
                                                    }

                                                }

                                            </tr>
                                        }
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<script>

    function SignupView(formKey, GUID, CreatedAt, CitizenKey, NextFormTemplateKey, CurrentStatusKey, CurrentFormtemplateKey, CurrentFormtemplateName, CurrentStatusName, NextOrganisationKey, CurrentOrganisationKey,userkey) {

        
        submit_post_via_hidden_form("@Url.Action("SignupView", "Home")", { formKey: formKey, GUID: GUID, CreatedAt: CreatedAt, CitizenKey: CitizenKey, CurrentStatusKey: CurrentStatusKey, NextFormTemplateKey: NextFormTemplateKey, CurrentFormtemplateKey: CurrentFormtemplateKey, CurrentFormtemplateName: CurrentFormtemplateName, CurrentStatusName: CurrentStatusName, NextOrganisationKey: NextOrganisationKey, CurrentOrganisationKey: CurrentOrganisationKey, UserKey: userkey });

   
        
    }
    var table;
    var table2;
    $(document).ready(function () {
        $("#OrganisationsForms").select2({ width: '100%' });



        table2 = $("#formsTableViewer").DataTable({
            "scrollX": true,       
            "oLanguage": {
                "sSearch": "إبحث",
                "sLengthMenu": "عدد الأسطر لكل صفحة _MENU_ ",
            }
        });


        table = $("#ClaimTable").DataTable({
            "scrollX": true,
            //"ordering": false,
            "oLanguage": {
                "sSearch": "إبحث",
                "sLengthMenu": "عدد الأسطر لكل صفحة _MENU_ ",
            }
        });


        id = '@ViewBag.HighlightedPart';
        if (id != null && id != "null") {
            $("#" + id).addClass("left-menu-list-opened");
            $("#menu-initialpage").removeClass("left-menu-list-active");

        }

        if (id == '') {
            $("#menu-initialpage").addClass("left-menu-list-active");
        }


    });

    function viewestibana(FormTemplateKey, formkey, FormTemplateName,userkey) {
        if ((FormTemplateKey == "137") || (FormTemplateKey == "141") || (FormTemplateKey == "140") || (FormTemplateKey == "138") || (FormTemplateKey == "142") || (FormTemplateKey == "118") || (FormTemplateKey == "162")) {
            if (FormTemplateKey == "137") {
                @*window.location = '@Url.Action("Index", "OrganisationCharts")/' + "?formInstanceKey=" + formkey;*@

                submit_post_via_hidden_form("@Url.Action("Index", "OrganisationCharts")",
                { formInstanceKey: formkey });
            }

            if (FormTemplateKey == "141") {
                @*window.location = '@Url.Action("TableForm", "OrganisationCharts")/' + "?formInstanceKey=" + formkey;*@
                submit_post_via_hidden_form("@Url.Action("TableForm", "OrganisationCharts")",
            { formInstanceKey: formkey });
            }
            if (FormTemplateKey == "140") {
                @*window.location = '@Url.Action("TableFormChariha3", "OrganisationCharts")/' + "?formInstanceKey=" + formkey;*@
                submit_post_via_hidden_form("@Url.Action("TableFormChariha3", "OrganisationCharts")",
            { formInstanceKey: formkey });
            }
            if (FormTemplateKey == "138") {
                submit_post_via_hidden_form("@Url.Action("TableFormHaikalWazifiNew", "OrganisationCharts")", { formInstanceKey: formkey });
                @*window.location = '@Url.Action("TableFormHaikalWazifiNew", "OrganisationCharts")/'+ "?formInstanceKey=" + formkey ;*@
            }
            if (FormTemplateKey == "142") {
                submit_post_via_hidden_form("@Url.Action("AltadribWaltashilAlmoustamer", "OrganisationCharts")", { formInstanceKey: formkey });

                @*window.location = '@Url.Action("AltadribWaltashilAlmoustamer", "OrganisationCharts")/'+ "?formInstanceKey=" + formkey ;*@
            }
            if (FormTemplateKey == "118") {
                submit_post_via_hidden_form("@Url.Action("CharihaOulaRepeatedQuestions", "OrganisationCharts")", { formInstanceKey: formkey });

                @*window.location = '@Url.Action("CharihaOulaRepeatedQuestions", "OrganisationCharts")/' + "?formInstanceKey=" + formkey;*@
            }
            if (FormTemplateKey == "162") {
                submit_post_via_hidden_form("@Url.Action("Charihakhamisa", "OrganisationCharts")", { formInstanceKey: formkey });

                @*window.location = '@Url.Action("Charihakhamisa", "OrganisationCharts")/' + "?formInstanceKey=" + formkey;*@
            }
        } else {
            submit_post_via_hidden_form("@Url.Action("EstibanatView", "Home")", { formInstanceKey: formkey, formTemplateName: FormTemplateName, UserKey: userkey });

            @*window.location = '@Url.Action("EstibanatView", "Home")/' + "?formInstanceKey=" + formkey + "&formTemplateName=" + FormTemplateName;*@

        }

    }



    $("#Organisations").trigger("change");

    $("#OrganisationsForms").on("change", function () {
        console.log($(this).val());
        //ViewBag.title
        table.clear().draw();


        $.ajax({
            type: 'GET',
            url: '@Url.Action("opManagerFormsTable", "Home")',
            data: {
                ClaimType: '@ViewBag.title',
                organisationKey: $(this).val()
            },


            dataType: 'text',
            success: function (result) {
                var test = JSON.parse(result);
                console.log(test);
                $.each(test, function (index, value) {



                    table.row.add([
            '' + value.FormTemplateName + '',
            '' + value.CreatedAt + '',
            '' + value.UserName + '',
            '' + value.OrganisationName + '',
            "<button type='button' onclick='viewestibana(" + value.FormTemplateKey + "," + value.FormKey + ", " + '"' + value.FormTemplateName + '"' + ")' class='btn btn-circle btn-info viewFormButton' style='background-color:#5cb85c;width:120px;padding:2px;'>أنقر</button>",
                    ]).draw(false);
                });

            }
        });



        //'<button type="button" onclick="viewestibana(' + value.FormTemplateKey + ',' + value.FormKey + ',"'+ value.FormTemplateName +'")" class="btn btn-circle btn-info viewFormButton" style="background-color:#5cb85c;width:120px;padding:2px;">أنقر</button> ',



    });


</script>