﻿@using Newtonsoft.Json
@using Microsoft.AspNet.Identity;
@using MoAD.WebApplication.DataObjects;
@using MoAD.DataObjects.EDMX;
@{
    Layout = "~/Views/Shared/_LayoutInitialPage.cshtml";
    List<GetSavedForm_Result> FormValues = ViewBag.FormValues;
    List<GetAllOrganisations_Result> allOrgs = ViewBag.allOrgs;
}

<div class="row" style="text-align:center;padding-top:20px">
    <h3>
        @ViewBag.formTemplateName
    </h3>
</div>

<div id="example" style="background-color:white;min-height:900px;">

    <div style="padding-top:20px">
        @{
            for (int i = 0; i < FormValues.Count(); i++)
            {
                var answer = FormValues[i];
                HtmlString border = new HtmlString("border-right:2px solid #dfe4ed;border-left:2px solid #dfe4ed");
                switch (answer.FormElement)
                {


                    case "UserInput":
                        {
                            <div class="col-lg-6" style="@border;min-height: 65px;">
                                <div class="form-group row" style="text-align:right">
                                    <div class="col-md-6" style="float:left">
                                        @{
                                            var Organisation = "";
                                            if (answer.AnswerValue == "")
                                            {
                                                try
                                                {
                                                    int organisationKey = int.Parse(answer.AnswerInstanceFileExtensionName);
                                                    Organisation = allOrgs.Where(o => o.OrganisationKey == organisationKey).FirstOrDefault().OrganisationName;
                                                }
                                                catch (Exception e)
                                                {
                                                    Organisation = "";
                                                }

                                            }
                                        }
                                        <input type="text" style="text-align:right" readonly class="form-control" value="@(answer.QuestionValue=="مكان العمل:"?Organisation:answer.AnswerInstanceFileExtensionName)">
                                    </div>
                                    <div class="col-md-6">
                                        <p class="form-control-label" style="direction: rtl;word-break:break-word">@answer.QuestionValue</p>
                                    </div>
                                </div>
                            </div>

                            break;
                        }


                    case "Calendar":
                        {
                            <div class="col-lg-6" style="@border;min-height: 65px;">
                                <div class="form-group row" style="text-align:right">
                                    <div class="col-md-6" style="float:left">
                                        <input type="text" style="text-align:right" readonly class="form-control" value="@answer.AnswerInstanceFileExtensionName">
                                    </div>
                                    <div class="col-md-6">
                                        <p class="form-control-label" style="direction: rtl;word-break:break-word">@answer.QuestionValue</p>
                                    </div>
                                </div>
                            </div>
                            break;
                        }


                    case "Radiobox":
                        {
                            <div class="col-lg-6" style="@border;min-height: 65px;">
                                <div class="form-group row" style="text-align:right">
                                    <div class="col-md-6" style="float:left">
                                        <label class="btn btn-default-outline">
                                            @answer.AnswerValue
                                        </label>
                                    </div>
                                    <div class="col-md-6">
                                        <p class="form-control-label" style="direction: rtl;word-break:break-word">@answer.QuestionValue</p>
                                    </div>
                                </div>
                            </div>
                            break;
                        }


                    case "Checkbox":
                        {
                            <div class="col-lg-6" style="@border;min-height: 65px;">
                                <div class="form-group row" style="text-align:right">
                                    <div class="col-md-6" style="float:left">
                                        <label class="btn btn-default-outline">
                                            @answer.AnswerValue
                                        </label>
                                    </div>
                                    <div class="col-md-6">
                                        <p class="form-control-label" style="direction: rtl;word-break:break-word">@answer.QuestionValue</p>
                                    </div>
                                </div>
                            </div>
                            break;
                        }


                    case "DropDown":
                        {
                            <div class="col-lg-6" style="@border;min-height: 65px;">
                                <div class="form-group row" style="text-align:right">
                                    <div class="col-md-6" style="float:left">
                                        <label class="btn btn-default-outline">
                                            @answer.AnswerValue
                                        </label>
                                    </div>
                                    <div class="col-md-6">
                                        <p class="form-control-label" style="direction: rtl;word-break:break-word">@answer.QuestionValue</p>
                                    </div>
                                </div>
                            </div>

                            break;
                        }


                    case "FileUpload":
                        {
                            <div class="col-lg-6" style="@border;min-height: 65px;">
                                <div class="form-group row" style="text-align:right">
                                    <div class="col-md-6" style="float:left">

                                        @if (answer.AnswerInstanceFileExtensionName != null && answer.AnswerInstanceFileExtensionName.Contains("image"))
                                        {
                                            <a download="image.jpg" href="@answer.AnswerInstanceFileExtensionFilePathOrSource" title="ImageName">
                                                <img id="" name="" src="@answer.AnswerInstanceFileExtensionFilePathOrSource" style="height:150px;width:150px;" />
                                            </a>
                                        }
                                        else
                                        {
                                            <a href="@answer.AnswerInstanceFileExtensionFilePathOrSource">
                                                <img src="@Url.Content("~/Images/file.png")" style="height:150px;width:150px;" />
                                            </a>

                                        }
                                    </div>
                                    <div class="col-md-6">
                                        <p class="form-control-label" style="direction: rtl;word-break:break-word">@answer.QuestionValue</p>
                                    </div>
                                </div>
                            </div>

                            break;
                        }





                    default:
                        {
                            <span> </span>
                            break;
                        }
                }
            }
        }
    </div>

   
       
            <div class="row" style="text-align:center;">

                <div class="btn btn-primary" id="ApprovedBtn" style="margin-top:2%;">تصديق الدخول</div>
                <div class="btn btn-danger" id="NotApprovedBtn" style="margin-top:2%;">رفض الدخول</div>

            </div>
     
    




</div>
<script>

    var GUID = '@ViewBag.GUID';
    var CreatedAt = '@ViewBag.CreatedAt';
    var Formkey = '@ViewBag.FormKey '
    var CurrentStatusKey = '@ViewBag.CurrentStatusKey '
    var NextOrganisationKey = '@ViewBag.NextOrganisationKey'
    var NextFormTemplateKey = '@ViewBag.NextFormTemplateKey '
    var currenOrganisationKey = '@ViewBag.CurrentOrganisationKey'

    $("#ApprovedBtn").click(function () {

        @*var Note = "APPROVED";
        var actiontype = "27";
        $.ajax({
            url: '@Url.Action("CreateNewWorkFlowInstance", "Home")',
            dataType: "text",
            data: {
                Note: Note,
                GUID: GUID,
                CreatedAt: CreatedAt,
                Formkey: Formkey,
                CurrentStatusKey: CurrentStatusKey,
                NextFormTemplateKey: NextFormTemplateKey,
                ActionKey: actiontype,
                NextOrganisationKey: NextOrganisationKey,
                currenOrganisationKey: currenOrganisationKey

            },
            success: function (result) {

            }
        });*@



        $.ajax({
            url: '@Url.Action("SetApproveUser", "Home")',
            dataType: "text",
            data: { Userkey: '@ViewBag.UserKey', approved: "APPROVED" },
            success: function (result) {


                submit_post_via_hidden_form("@Url.Action("SignupToApprove", "Home")",

            {
                ClaimType: "تسجيل الدخول",
                HighlightedPart: "e3dadalmousta5dimin"
            }
                               );

            }

        });



    });

    $("#NotApprovedBtn").click(function () {

        @*var Note = "NOTAPPROVED";
        var actiontype = "28";
        $.ajax({
            url: '@Url.Action("CreateNewWorkFlowInstance", "Home")',
            dataType: "text",
            data: {
                Note: Note,
                GUID: GUID,
                CreatedAt: CreatedAt,
                Formkey: Formkey,
                CurrentStatusKey: CurrentStatusKey,
                NextFormTemplateKey: NextFormTemplateKey,
                ActionKey: actiontype,
                NextOrganisationKey: NextOrganisationKey,
                currenOrganisationKey: currenOrganisationKey

            },
            success: function (result) {


            }
        });*@


        $.ajax({
            url: '@Url.Action("SetApproveUser", "Home")',
            dataType: "text",
            data: { Userkey: '@ViewBag.UserKey', approved: "NOTAPPROVED" },
            success: function (result) {


                submit_post_via_hidden_form("@Url.Action("SignupToApprove", "Home")",

            {
                ClaimType: "تسجيل الدخول",
                HighlightedPart: "e3dadalmousta5dimin"
            }
                               );

            }

        });


    });

    function submit_post_via_hidden_form(url, params) {
        var f = $("<form method='POST' style='display:none;'></form>").attr({
            action: url
        }).appendTo(document.body);

        for (var i in params) {
            if (params.hasOwnProperty(i)) {
                $('<input type="hidden" />').attr({
                    name: i,
                    value: params[i]
                }).appendTo(f);
            }
        }

        f.submit();

        f.remove();
    }
</script>