﻿

@{
   Layout = "~/Views/Shared/_CommonLayout.cshtml";
    //Layout = "~/views/home/_SharedMarsadLayout.cshtml";
    //Layout = "~/views/home/pageshared.cshtml";

}




    <title>مرصد الأداء الاداري</title>
    <link href="@Url.Content("~/content/about/assets/css/main.css")" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/vendors/chartist/dist/chartist.min.css")">
    
    <script src="@Url.Content("~/Scripts/c3/c3.min.js")"></script>
    <script src="@Url.Content("~/Scripts/c3/Chart.js")"></script>
    <script src="@Url.Content("~/Scripts/vendors/chartist/dist/chartist.min.js")"></script>
   
    <script src="@Url.Content("~/Scripts/vendors/chart.js/src/Chart.bundle.min.js")"></script>
    
    <script src="@Url.Content("~/Scripts/vendors/chartist-plugin-tooltip/dist/chartist-plugin-tooltip.min.js")"></script>





<div class="row Body" style="overflow-x:hidden;filter: blur(25px);transition: filter 2s;-webkit-transition: filter 2s;">


    <!-- Main -->
    <section id="main" style="position:relative;margin-top:2%;text-align:center;">
        <div class="inner">
            
            <!-- One -->
            <section id="one" class="wrapper style1" style="font-family: 'Droid Arabic Kufi',serif">

                <div class="image fit flush" style="text-align:-webkit-center">
                    <img src="@Url.Content("~/imag/marsad-option8_5.png")" alt="" style="width:40%"/>
                </div>
                <header class="special">
                    <h2>تقرير الأداء السنوي</h2>
                    <p>الجمهورية العربية السورية</p>
                </header>
                <div class="content">
                    <ul lang="ar" dir="rtl" style="font-size:20px;list-style:circle;text-align:right;margin-right: 8%;line-height: 35px;">
                        <li>يصدر مرصد الأداء الإداري تقريراً عاماً للأداء السنوي للجهات العامة، ويقدم فيه كافة الشروحات المرافقة للترتيب السنوي متضمناً نقاط القوة ونقاط الضعف على مستوى المؤشرات الخمس للقياس.</li>
                        <li>ويسهم هذا التقرير بتعزيز الشفافية ومكافحة الفساد لسورية على المستوى الدولي، حيث يعتبر المشروع الوطني للإصلاح الإداري الذي أطلقه السيد الرئيس مشروعاً رائداً على المستوى الإقليمي والدولي، حيث يضع مؤشرات القياس موضع التطبيق على المستوى الوطني بآليات مؤتمتة وضمن إدارة الكترونية، ويسهم في تعزيز مفهوم الحكومة المفتوحة التي تتيح وصول المواطن للحصول على المعلومات الخاصة بالأداء الحكومي من خلال دخوله إلى مرصد الأداء الإداري.</li>
                        <li>كما تم إعداد هذا التقرير لتزويد صانعي القرار بالاتجاه الاستراتيجي اللازم لرصد وتحسين الأداء العام للجهاز الحكومي واستخدام مؤشرات الأداء الرئيسية طويلة الأجل وعلى أساس سنوي، وبالتالي يتيح الوقت للفئات المستهدفة بالمشروع الوطني للإصلاح الإداري (المواطن – الموظف – الجهات العامة) بالتفاعل الأمثل مع منظومة القياس، ويتيح المجال أيضاً لتحسين الأداء من خلال منظومة الدعم التي تقدمها وزارة التنمية الإدارية.</li>
                        <li>ويتضمن التقرير القراءة الاستراتيجية للواقع الراهن، والمقارنة مع النموذج المنشود، كما يعرض النتيجة لكل مؤشر قياس والمخطط البياني له كما في النموذج التالي (نموذج افتراضي):</li>

                    </ul>

                </div>
            </section>


            <section id="three" class="wrapper" style="font-family: 'Droid Arabic Kufi',serif">
                <div class="spotlight alt">
                    <div class="image flush">
    <img src="@Url.Content("~/images/takrirada2sanawi/pic0.png")" alt="" />
                    
                       
                    </div>
                    <div class="inner">
                        <h3 lang="ar" dir="rtl" style="font-size:45px;text-align:center;">معدلات النزاهة والشفافية المؤسساتية</h3>
                    </div>
                </div>
                <div class="spotlight">
                    <div class="image flush"><img src="@Url.Content("~/images/takrirada2sanawi/pic1.png")" alt="" /></div>
                    <div class="inner">
                        <h3 lang="ar" dir="rtl" style="font-size:45px;text-align:center;">معدلات الفساد</h3>
                    </div>
                </div>
                <div class="spotlight alt">
                    <div class="image flush"><img src="@Url.Content("~/images/takrirada2sanawi/pic2.png")" alt="" /></div>
                    <div class="inner">
                        <h3 lang="ar" dir="rtl" style="font-size:45px;text-align:center;">معدلات الإستجابة لشكاوى المواطنين</h3>
                    </div>
                </div>
                <div class="spotlight ">
                    <div class="image flush"><img src="@Url.Content("~/images/takrirada2sanawi/pic3.png")" alt="" /></div>
                    <div class="inner">
                        <h3 lang="ar" dir="rtl" style="font-size:45px;text-align:center;">معدلات تحسن الأداء المؤسساتي</h3>
                    </div>
                </div>
                <div class="spotlight alt">
                    <div class="image flush">
                    @*<img src="@Url.Content("~/images/takrirada2sanawi/pic4.png")" alt="" />*@
                        <div class="margin-bottom-50" style="background-color:white;">
                            <!-- Bar Chart -->
                            <canvas id="chart-bar1" class="Plot" width="200" height="100"></canvas>
                            <!-- End Bar Chart -->
                        </div>
                    </div>
                    <div class="inner">
                        <h3 lang="ar" dir="rtl" style="font-size:45px;text-align:center;">نتائج المؤشرات على المستوى العام</h3>
                    </div>
                </div>
                <div class="spotlight ">
                    <div class="image flush"><img src="@Url.Content("~/images/takrirada2sanawi/pic5.png")" alt="" /></div>
                    <div class="inner">
                        <h3 lang="ar" dir="rtl" style="font-size:45px;text-align:center;">نتائج المؤشرات على المستوى الاقليمي - محافظة طرطوس</h3>
                    </div>
                </div>
            </section>

       

           
        </div>

    </section>




    <!-- Scripts -->
    @*<script src="@Url.Content("~/content/about/assets/js/jquery.min.js")"></script>*@

    <script src="@Url.Content("~/content/about/assets/js/jquery.poptrox.min.js")"></script>
    <script src="@Url.Content("~/content/about/assets/js/skel.min.js")"></script>
    <script src="@Url.Content("~/content/about/assets/js/util.js")"></script>
    <script src="@Url.Content("~/content/about/assets/js/main.js")"></script>


</div>
<script>

  

    ////Bar Chart
    var barCtx = document.getElementById('chart-bar1').getContext('2d');

    var dataBar = {
        labels: ["", "", "", "", "", "", ""],
        datasets: [
            {
                label: "My First dataset",
                backgroundColor: [
                    'rgba(255, 99, 132, 0.2)',
                    'rgba(54, 162, 235, 0.2)',
                    'rgba(255, 206, 86, 0.2)',
                    'rgba(75, 192, 192, 0.2)',
                    'rgba(153, 102, 255, 0.2)',
                    'rgba(255, 159, 64, 0.2)'
                ],
                borderColor: [
                    'rgba(255,99,132,1)',
                    'rgba(54, 162, 235, 1)',
                    'rgba(255, 206, 86, 1)',
                    'rgba(75, 192, 192, 1)',
                    'rgba(153, 102, 255, 1)',
                    'rgba(255, 159, 64, 1)'
                ],
                borderWidth: 1,
                data: [0, 0, 0, 0, 0, 0, 0]
            }
        ]
    };

    new Chart(barCtx, {
        type: "bar",
        data: dataBar,
        options: {
            legend: {
                display: false
            },
            tooltips: {
                callbacks: {
                    label: function (tooltipItem) {
                        return tooltipItem.yLabel;
                    }
                }
            },
            scales: {
                xAxes: [{
                    stacked: true
                }],
                yAxes: [{
                    stacked: true
                }]
            }
        }
    });

</script>