﻿
@{
    //Layout = null;
    // Layout = "~/Views/Shared/_LayoutInitialPage.cshtml";
    //Layout = "~/views/home/pageshared.cshtml";
    //Layout = "~/views/home/_SharedMarsadLayout.cshtml";
    Layout = "~/Views/Shared/_CommonLayout.cshtml";
}


    <link href="@Url.Content("~/content/amcharts/components.min.css")" rel="stylesheet" id="style_components" type="text/css" />


    <style>
        body{
            padding:20px !important;
        }

        text {
            letter-spacing: initial;
        }
    </style>


<div class="row Body" style="overflow-x: hidden; filter: blur(25px); transition: filter 2s; -webkit-transition: filter 2s; background: white;">
    <div class="col-md-12">
        <!-- BEGIN CHART PORTLET-->
        <div class="portlet light bordered" style="height:100%;">
            <div class="portlet-title">
                <div class="caption" style="float:inherit">
                    <span class="caption-subject bold uppercase" lang="ar" dir="rtl" style="font-size: 30px; color: #5c6a72;">تقرير المؤسسات العشر الأقل إستجابة للمواطن</span>

                </div>

            </div>
            <div class="portlet-body">
                <div id="chart_4" class="chart" style="height: 400px;"> </div>
            </div>
        </div>
        <!-- END CHART PORTLET-->
    </div>
</div>

<script src="@Url.Content("~/Scripts/vendors/jquery/jquery.min.js")"></script>

<script src="@Url.Content("~/scripts/amcharts/bootstrap.min.js")"></script>
@*<script src="@Url.Content("~/Scripts/vendors/bootstrap/dist/js/bootstrap.min.js")"></script>*@



@*<script src="@Url.Content("~/scripts/amcharts/bootstrap.min.js")"></script>*@


<script src="@Url.Content("~/scripts/amcharts/bootstrap-switch.min.js")"></script>


<script src="@Url.Content("~/scripts/amcharts/amcharts.js")"></script>


<script src="@Url.Content("~/scripts/amcharts/serial.js")"></script>

<script src="@Url.Content("~/scripts/amcharts/pie.js")"></script>

<script src="@Url.Content("~/scripts/amcharts/radar.js")"></script>

<script src="@Url.Content("~/scripts/amcharts/light.js")"></script>

<script src="@Url.Content("~/scripts/amcharts/patterns.js")"></script>

<script src="@Url.Content("~/scripts/amcharts/chalk.js")"></script>

<script src="@Url.Content("~/scripts/amcharts/ammap.js")"></script>


<script src="@Url.Content("~/scripts/amcharts/worldlow.js")"></script>

<script src="@Url.Content("~/scripts/amcharts/amstock.js")"></script>


<script src="@Url.Content("~/scripts/amcharts/app.min.js")"></script>

<script src="@Url.Content("~/scripts/amcharts/charts-amcharts2.js")"></script>
<script src="@Url.Content("~/scripts/header/jquery.smartmenus.js")"></script>

<script type="text/javascript">



       var initChartSample4 = function() {
                var chart = AmCharts.makeChart("chart_4", {
                    "type": "serial",
                    "theme": "light",


                    "handDrawn": true,
                    "handDrawScatter": 3,
                    "legend": {
                        "useGraphSettings": true,
                        "markerSize": 12,
                        "valueWidth": 0,
                        "verticalGap": 0
                    },
                    "dataProvider":
                        @Html.Raw(Json.Encode(ViewBag.Report3)),

                    //    [{
                    //    "year": 2005,
                    //    "income": 23.5,
                    //    "expenses": 18.1
                    //}, {
                    //    "year": 2006,
                    //    "income": 26.2,
                    //    "expenses": 22.8
                    //}, {
                    //    "year": 2007,
                    //    "income": 30.1,
                    //    "expenses": 23.9
                    //}, {
                    //    "year": 2008,
                    //    "income": 29.5,
                    //    "expenses": 25.1
                    //}, {
                    //    "year": 2009,
                    //    "income": 24.6,
                    //    "expenses": 25
                    //}],
                    //"valueAxes": [{
                    //    "minorGridAlpha": 0.08,
                    //    "minorGridEnabled": true,
                    //    "position": "top",
                    //    "axisAlpha": 0
                    //}],
                    "startDuration": 1,
                    "graphs": [{
                        "balloonText": "<span style='font-size:13px;'>[[title]] [[category]]:<b>[[value]]</b></span>",
                        "title": "عدد الشكاوى",
                        "type": "column",
                        "fillAlphas": 0.8,

                        "valueField": "income"
                    }
                    //, {
                    //    "balloonText": "<span style='font-size:13px;'>[[title]] in [[category]]:<b>[[value]]</b></span>",
                    //    "bullet": "round",
                    //    "bulletBorderAlpha": 1,
                    //    "bulletColor": "#FFFFFF",
                    //    "useLineColorForBulletBorder": true,
                    //    "fillAlphas": 0,
                    //    "lineThickness": 2,
                    //    "lineAlpha": 1,
                    //    "bulletSize": 7,
                    //    "title": "Expenses",
                    //    "valueField": "expenses"
                    //}
                    ],
                    "rotate": true,
                    "categoryField": "year",
                    "categoryAxis": {
                        "gridPosition": "start"
                    }
                });

                $('#chart_4').closest('.portlet').find('.fullscreen').click(function() {
                    chart.invalidateSize();
                });
            }
    initChartSample4();

</script>