﻿@using Newtonsoft.Json
@using Microsoft.AspNet.Identity;
@using MoAD.WebApplication.DataObjects;
@using MoAD.DataObjects.EDMX;

@{
    Layout = "~/Views/Shared/_LayoutInitialPage.cshtml";
    List<GetAdManagerForms_Result> FormValues = ViewBag.ManagerForms;
    List<SelectListItem> Organisations = ViewData["Organisation"] as List<SelectListItem>;

}
<style>
    .centeralign {
        text-align: center;
    }

    td {
        text-align: center;
    }

    .dataTables_length {
        float: left;
    }
</style>





<div class="row" style="margin-top:1%;background-color:white;">
    <div class="row" style="text-align:center;padding-top:30px;">
        <h3>
            استبيانات @ViewBag.title
        </h3>
    </div>


    <div class="form-group row">
        <div class="col-md-4  col-sm-5 col-xs-5" style="float:left;margin-left: 3%;">
            @Html.DropDownList("OrganisationsForms", Organisations, new { @class = "inputcolor form-control placeholder-no-fix Organisations" })
        </div>
        <div class="col-md-4 col-sm-5 col-xs-5">
            <label class="form-control-label" for="l0" style="color:black"> : الجهة الخاصة </label>
        </div>

    </div>

    <div class="form-group row">
        <div class="col-md-4  col-sm-5 col-xs-5" style="float:left;margin-left: 3%;">
            <select id="Mou2acherDropdown">
                <option value="0">مؤشر جودة التنظيم المؤسساتي </option>
                <option value="1">مؤشر تبسيط الإجراءت</option>

            </select>

        </div>
        <div class="col-md-4 col-sm-5 col-xs-5">
            <label class="form-control-label" for="l0" style="color:black"> : المؤشر </label>
        </div>

    </div>

    <div class="form-group row">

        <div class="col-md-4  col-sm-5 col-xs-5" style="float:left;margin-left: 3%;">
            <select id="EstebyanDropdown">
                <option value="137">الشريحة الأولى : جودة الهيكل التنظيمي ومدى ملاءمته لطبيعة العمل </option>
                @*<option value="124">الشريحة الثانية النظام الداخلي</option>*@
                <option value="141">الشريحة الثانية: نظام داخلي محدث واضح من حيث توزيع المهام وتقسيم الوحدات التنظيمية</option>
                @*<option value="140">الشريحة الثالثة تفصيل الملاك العددي للجهة العامة</option>*@
                <option value="138">الشريحة الثالثة هيكل وظيفي/ ملاك عددي موطن في الوحدات التنظيمية </option>
                <option value="123">الشريحة الرابعة جودة التوصيف الوظيفي</option>

                @if (User.IsInRole("Technicien"))
                {
                    <option value="162">الشريحة الخامسة مدى الالتزام بتطبيق النظام الداخلي</option>
                }

                <option value="122">الشريحة السادسة التدريب والتأهيل المستمر</option>
                @*<option value="142">  (الشريحة السادسة التدريب والتأهيل المستمر (الدورات التدريبية المنفذة خلال عام ٢٠١٦    </option>*@
            </select>
        
                </div>
        <div class="col-md-4 col-sm-5 col-xs-5">
            <label class="form-control-label" for="l0" style="color:black"> : استبيانات </label>
        </div>

    </div>
<div>
    <div class="btn btn-primary" id="SearchBtn" style="margin-left:3%;">بحث</div>
</div>


    @if (User.IsInRole("Technicien") || User.IsInRole("Expert"))
    {
        <div class="row" style="text-align:right;">
            <div class="col-md-1  col-sm-3 col-xs-3" style="float:left;margin-left: 3%;margin-top:2%">
                <div class="btn btn-primary" id="SaveBtn" style="margin-top:2%;">حفظ</div>
            </div>
            <div class="col-md-3  col-sm-5 col-xs-5" style="float:left;margin-left: 3%;margin-top:2%">
                <span id="AveragePoint"></span><input class="form-group" lang="ar" dir="rtl" id="inputNumber"/>
            </div>
            <div class="col-md-3 col-sm-5 col-xs-5" style="margin-top:2%">
                <label class="form-control-label" for="l0" style="color:black" lang="ar" dir="rtl">  إن هذه العلامة مخصصة لجميع الاستبيانات الموجودة في الجدول التالي : </label>
            </div>


        </div>
    }

    <div class="col-xl-12">
        <div class="row">
            <div class="col-xl-12">
                <div class="widget widget-two" style="direction:rtl;">
                    <div class="widget-header">
                        <span class="text-truncate text-nowrap"><strong>إستبيناتي</strong></span>
                    </div>
                    <div class="row">
                        <div class="widget-body clearfix">
                            <table id="ClaimTable" class="display" cellspacing="0" width="100%">
                                <thead>
                                    <tr>
                                        <th class="centeralign">إسم الإستبانة </th>
                                        <th class="centeralign">تاريخ التعبئة </th>
                                        <th class="centeralign"> مقدم الاستبانة </th>
                                        <th class="centeralign">الجهة العامة</th>
                                        <th class="centeralign">رؤية الإستبانة</th>
                                    </tr>
                                </thead>
                                <tbody id="tablebody">
                                    @{
                                        foreach (var form in FormValues)
                                        {
                                            <tr>
                                                <td> @form.FormTemplateName</td>
                                                <td>@form.CreatedAt</td>
                                                <td>@form.UserName</td>
                                                <td>@form.OrganisationName</td>
                                                <td>
                                                    <button type="button" onclick="viewestibana(@form.FormTemplateKey,@form.FormKey,'@form.FormTemplateName','@form.UserKey')" class="btn btn-circle btn-info viewFormButton" style="background-color:#5cb85c;width:120px;padding:2px;">أنقر</button>
                                                    @*<button type="button" class="btn btn-circle btn-info viewFormButton" onclick="goToMyClaim('@form.CurrentFormKey','@form.GUID','@form.CreatedAt','@form.UpdatedByUserKey','@form.NextFormTemplateKey','@form.NextStatusKey','@form.CurrentFormtemplateKey','@form.CurrentFormtemplateName','@form.NextStatusName','@form.NextOrganisationKey','@form.CurrentOrganisationKey')" style="background-color:#01a8fe;width:120px;padding:2px;">أنقر</button>*@

                                                </td>
                                            </tr>
                                        }
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>

    var Weight;
    $(document).ready(function () {
        $("#inputNumber").keydown(function (e) {
            // Allow: backspace, delete, tab, escape, enter and .
            if ($.inArray(e.keyCode, [46, 8, 9, 27, 13, 110]) !== -1 ||
                // Allow: Ctrl+A, Command+A
                (e.keyCode === 65 && (e.ctrlKey === true || e.metaKey === true)) ||
                // Allow: home, end, left, right, down, up
                (e.keyCode >= 35 && e.keyCode <= 40)) {
                // let it happen, don't do anything
                return;
            }
            // Ensure that it is a number and stop the keypress
            if ((e.shiftKey || (e.keyCode < 48 || e.keyCode > 57)) && (e.keyCode < 96 || e.keyCode > 105)) {
                e.preventDefault();
            }
        });
        setTimeout(function () { $("#SearchBtn").click(); }, 2000);

    });

    $("#inputNumber").keyup(function (e) {
        var currentWeight = $("#inputNumber").val();
        
        setTimeout(function () {
            
            if (currentWeight > Weight) {
               
                $("#inputNumber").val(Weight);
            }
        }, 1000);
    });

    $("#Mou2acherDropdown").select2();
    $("#EstebyanDropdown").select2();

    $("#EstebyanDropdown").select2({

        dir: "rtl"
    });
    $("#Mou2acherDropdown").select2({

        dir: "rtl"
    });


    $("#Mou2acherDropdown").change(function () {
        var CurrentValue = $(this).val();
        $("#EstebyanDropdown").empty();
        if (CurrentValue == "1") {
            var html = '<option value="118">الشريحة الأولى أتمتة الدورات المستندية، ووجود نظام للأرشفة الإلكترونية</option>';
            html += '<option value="125">الشريحة الثانية تطبيق أحد أنظمة إدارة موارد المؤسسات</option>';
            html += '<option value="120">الشريحة الثالثة عدد الخدمات التي تم/ يتم العمل على تبسيطها</option>';

            $("#EstebyanDropdown").append(html);
        } else {

            @if (User.IsInRole("Technicien"))
              {
                  <text>
            var html = '<option value="137">الشريحة الأولى : جودة الهيكل التنظيمي ومدى ملاءمته لطبيعة العمل </option><option value="141">الشريحة الثانية: نظام داخلي محدث واضح من حيث توزيع المهام وتقسيم الوحدات التنظيمية</option><option value="138">الشريحة الثالثة هيكل وظيفي/ ملاك عددي موطن في الوحدات التنظيمية </option><option value="123">الشريحة الرابعة جودة التوصيف الوظيفي</option><option value="162">الشريحة الخامسة مدى الالتزام بتطبيق النظام الداخلي</option><option value="122">الشريحة السادسة التدريب والتأهيل المستمر</option>';
            $("#EstebyanDropdown").append(html);
            </text>
              }else
              {
                  <text>
            var html = '<option value="137">الشريحة الأولى : جودة الهيكل التنظيمي ومدى ملاءمته لطبيعة العمل </option><option value="141">الشريحة الثانية: نظام داخلي محدث واضح من حيث توزيع المهام وتقسيم الوحدات التنظيمية</option><option value="138">الشريحة الثالثة هيكل وظيفي/ ملاك عددي موطن في الوحدات التنظيمية </option><option value="123">الشريحة الرابعة جودة التوصيف الوظيفي</option><option value="122">الشريحة السادسة التدريب والتأهيل المستمر</option>';
            $("#EstebyanDropdown").append(html);

            </text>

              }

        }


    });

    $("#SaveBtn").click(function () {
        @if (User.IsInRole("Technicien"))
        {

            <text>
        FormTeemplateKey = "189";
        AT = "7842";

        </text>

        }else
        {
               <text>
        FormTeemplateKey = "188";
        AT = "7841";

        </text>

        }


        if ($("#inputNumber").val() != '') {
            var AnswerTemplateKey = [];

            answsers = { key: AT, Textvalue: "", type: "UserInput", Parent: $("#EstebyanDropdown").val(), Child: $("#inputNumber").val(), count: "" }

            AnswerTemplateKey.push(answsers);


            waitingDialog.show(' !!!  جاري التحميل');

            $.ajax({
                url: '@Url.Action("SubmitFormForUser", "ClaimForms")',
                type: 'GET',
                dataType: 'json',
                cache: false,
                data: {
                    trackingStatusKey: "1", formTemplateKey: FormTeemplateKey, userKey: "@User.Identity.GetUserId()", organisationKey: $("#OrganisationsForms").val()
                },
                success: function (data) {

                    FormKey = data;
                    $.ajax({
                        url: '@Url.Action("AnswersByUser", "ClaimForms")',
                        type: 'POST',
                        dataType: 'json',
                        cache: false,
                        data: {
                            formKey: FormKey, answerTemplateKey: JSON.stringify(AnswerTemplateKey)
                        },
                        success: function (data) {

                            $.ajax({
                                url: '@Url.Action("SaveClaimForm", "ClaimForms")',
                                type: 'GET',
                                dataType: 'json',
                                cache: false,
                                data: {
                                    formKey: FormKey
                                },
                                success: function (data) {
                                    location.reload();


                                }
                            });
                        }
                    });
                }
            });
        }
       

    });

    var table;
    $(document).ready(function () {


        $("#OrganisationsForms").select2({ width: '100%', dir: 'rtl' });

        table = $("#ClaimTable").DataTable({
            "scrollX": true,
            //"ordering": false,
            "oLanguage": {
                "sSearch": "إبحث",
                "sLengthMenu": "عدد الأسطر لكل صفحة _MENU_ ",
            }
        });
        $("#OrganisationsForms").trigger("change");

        id = '@ViewBag.HighlightedPart';
        if (id != null && id != "null") {
            $("#" + id).addClass("left-menu-list-opened");
            $("#menu-initialpage").removeClass("left-menu-list-active");

        }

        if (id == '') {
            $("#menu-initialpage").addClass("left-menu-list-active");
        }


    });

    function viewestibana(FormTemplateKey, formkey, FormTemplateName, userkey) {
        if ((FormTemplateKey == "137") || (FormTemplateKey == "141") || (FormTemplateKey == "140") || (FormTemplateKey == "138") || (FormTemplateKey == "142") || (FormTemplateKey == "118") || (FormTemplateKey == "162") || (FormTemplateKey == "120")) {
            if (FormTemplateKey == "137") {
                @*window.location = '@Url.Action("Index", "OrganisationCharts")/' + "?formInstanceKey=" + formkey;*@

                submit_post_via_hidden_form("@Url.Action("OrganisationChartVersion2", "OrganisationCharts")",
                { formInstanceKey: formkey });
            }

            if (FormTemplateKey == "141") {
                @*window.location = '@Url.Action("TableForm", "OrganisationCharts")/' + "?formInstanceKey=" + formkey;*@
                submit_post_via_hidden_form("@Url.Action("TableForm", "OrganisationCharts")",
            { formInstanceKey: formkey });
            }
            if (FormTemplateKey == "140") {
                @*window.location = '@Url.Action("TableFormChariha3", "OrganisationCharts")/' + "?formInstanceKey=" + formkey;*@
                submit_post_via_hidden_form("@Url.Action("TableFormChariha3", "OrganisationCharts")",
            { formInstanceKey: formkey });
            }
            if (FormTemplateKey == "138") {
                submit_post_via_hidden_form("@Url.Action("TableFormHaikalWazifiNew", "OrganisationCharts")", { formInstanceKey: formkey });
                @*window.location = '@Url.Action("TableFormHaikalWazifiNew", "OrganisationCharts")/'+ "?formInstanceKey=" + formkey ;*@
            }
            if (FormTemplateKey == "142") {
                submit_post_via_hidden_form("@Url.Action("AltadribWaltashilAlmoustamer", "OrganisationCharts")", { formInstanceKey: formkey });

                @*window.location = '@Url.Action("AltadribWaltashilAlmoustamer", "OrganisationCharts")/'+ "?formInstanceKey=" + formkey ;*@
            }
            if (FormTemplateKey == "118") {
                submit_post_via_hidden_form("@Url.Action("CharihaOulaRepeatedQuestions", "OrganisationCharts")", { formInstanceKey: formkey });

                @*window.location = '@Url.Action("CharihaOulaRepeatedQuestions", "OrganisationCharts")/' + "?formInstanceKey=" + formkey;*@
            }
            if (FormTemplateKey == "162") {
                submit_post_via_hidden_form("@Url.Action("Charihakhamisa", "OrganisationCharts")", { formInstanceKey: formkey });

                @*window.location = '@Url.Action("Charihakhamisa", "OrganisationCharts")/' + "?formInstanceKey=" + formkey;*@
            }
            if (FormTemplateKey == "120") {
                submit_post_via_hidden_form("@Url.Action("CharihaThalithaRepeatedQuestions", "OrganisationCharts")", { formInstanceKey: formkey });

                @*window.location = '@Url.Action("CharihaOulaRepeatedQuestions", "OrganisationCharts")/' + "?formInstanceKey=" + formkey;*@
            }

        } else {
            submit_post_via_hidden_form("@Url.Action("EstibanatView", "Home")", { formInstanceKey: formkey, formTemplateName: FormTemplateName, UserKey: userkey });

            @*window.location = '@Url.Action("EstibanatView", "Home")/' + "?formInstanceKey=" + formkey + "&formTemplateName=" + FormTemplateName;*@

        }

    }

    function SetWeight(w) {
        Weight = w;
    }

    $("#SearchBtn").click(function () {

        console.log($("#OrganisationsForms").val());
        console.log('@ViewBag.title');

         @if (User.IsInRole("Technicien"))
         {

             <text>
         FormTeemplateKey = "189";


             </text>

         }else
         {
             <text>
      FormTeemplateKey = "188";


             </text>

         }

        //ViewBag.title
        table.clear().draw();


        $.ajax({
            type: 'GET',
            url: '@Url.Action("opManagerFormsTableTechExpert", "Home")',
            data: {
                ClaimType: '@ViewBag.title',
                organisationKey: $("#OrganisationsForms").val(),
                FormTemplateKey: $("#EstebyanDropdown").val()
            },


            dataType: 'text',
            success: function (result) {

                var test = JSON.parse(result);
                console.log(test);
                $.each(test, function (index, value) {



                    table.row.add([
            '' + value.FormTemplateName + '',
            '' + value.CreatedAt + '',
            '' + value.UserName + '',
            '' + value.OrganisationName + '',
            "<button type='button' onclick='viewestibana(" + value.FormTemplateKey + "," + value.FormKey + ", " + '"' + value.FormTemplateName + '"' + ")' class='btn btn-circle btn-info viewFormButton' style='background-color:#5cb85c;width:120px;padding:2px;'>أنقر</button>",
                    ]).draw(false);
                });

            }
        });

        $.ajax({
            type: 'GET',
            url: '@Url.Action("EAndTEvaluationWeighing", "Home")',
            data: {
                fk: $("#EstebyanDropdown").val(),
                ok: $("#OrganisationsForms").val()

            },


            dataType: 'json',
            success: function (result) {
              

                $.each(result, function (index, value) {

                    $("#AveragePoint").text(value.Weight+"/");
                    SetWeight(value.Weight);
                });

            }
        });


    });




</script>