﻿@{
    Layout = null;
    ViewBag.Title = "University lp Page";
    List<SelectListItem> Organisations = ViewData["Organisation"] as List<SelectListItem>;

}


<!DOCTYPE html>
<html class=""><head>
   
             
    
    <meta charset="utf-8">
<title>منبر صلة وصل</title>

<meta id="wixMobileViewport" name="viewport" content="width=980, user-scalable=yes">



    <!--Edit-->
 <link href="~/content/bootstrap.css" rel="stylesheet" />
 <link href="~/content/bootstrap.min.css" rel="stylesheet" />
 <script src="~/scripts/jquery-1.10.2.js"></script>  
 <script src="~/scripts/jquery-1.10.2.min.js"></script>
 <script src="~/scripts/bootstrap.js"></script>
 <script src="~/scripts/bootstrap.min.js"></script>
    <!----------->
   
    <style type="text/css">@@charset "UTF-8";


html, body {
  height: 100%; 
    
}

body {
     width:100%;
    height:100%;
  overflow-x: hidden;
  overflow-y: scroll; }

.headerTab:hover{
    color:#02023a;
    background-color:orange;
}



.SITE_ROOT {
  min-height: 100%;
  position: relative;
  margin: 0 auto; }



.flex_vbox {
  box-sizing: border-box;
  padding-top: 0.01em;
  padding-bottom: 0.01em; }

.istimaraOrangeButton:hover{
    background-color:white!important;
    color:orange;
}
.istimaraRedButton:hover{
    background-color:white!important;
    color:red;
}
.istimaraBlueButton:hover{
    background-color:white!important;
    color:blue;
}
.istimaraPinkButton:hover{
    background-color:white!important;
    color:deeppink;
}
.istimaraGreyButton:hover{
    background-color:white!important;
    color:dimgray;
}

</style>
    
    
    
    
    
    
    
   
    </head>
<body class="" style="">
        <div id="SITE_CONTAINER" data-santa-render-status="CLIENT">
            
    
    <div class="noop" data-santa-version="1.2537.16" data-reactid=".0">
            <div data-reactid=".0.0">
        <style type="text/css" data-styleid="theme_fonts" data-reactid=".0.0.$fontsStyleNode">
.font_0 {font: normal normal bold 30px/1.4em 'Josefin Slab',serif ;color:#000000;} 
.font_1 {font: normal normal normal 14px/1.4em Tahoma,tahoma-w01-regular,tahoma-w02-regular,tahoma-w10-regular,tahoma-w15--regular,tahoma-w99-regular,sans-serif ;color:#000000;} 
.font_2 {font: normal normal bold 30px/1.4em 'Josefin Slab',serif ;color:#278389;} 
.font_3 {font: normal normal bold 60px/1.4em 'Josefin Slab',serif ;color:#494949;} 
.font_4 {font: normal normal normal 40px/1.4em 'Josefin Slab',serif ;color:#FFFFFF;} 
.font_5 {font: normal normal normal 30px/1.4em 'Times New Roman',times,serif ;color:#278389;} 
.font_6 {font: normal normal normal 23px/1.4em 'Times New Roman',times,serif ;color:#000000; direction:rtl} 
.font_7 {font: normal normal normal 18px/1.4em 'Times New Roman',times,serif ;color:#000000;} 
.font_8 {font: normal normal normal 14px/1.4em 'Noticia Text',serif ;color:#494949; direction:rtl} 
.font_9 {font: normal normal normal 12px/1.4em Basic,sans-serif ;color:#494949;} 
.font_10 {font: normal normal normal 11px/1.4em Tahoma,tahoma-w01-regular,tahoma-w02-regular,tahoma-w10-regular,tahoma-w15--regular,tahoma-w99-regular,sans-serif ;color:#080808;} 
      </style>
<style type="text/css" data-styleid="theme_colors" data-reactid=".0.0.$colorsStyleNode">
    
.backcolor_10 {background-color: #B0B0B0;}
.color_11 {color: #FFFFFF;font-family: 'DroidArabicKufiRegular'; direction:rtl;}

.color_15 {color: #080808;}

.color_19 {color: orange;}

</style>
        
        <style type="text/css" data-styleid="bgis4" data-reactid=".0.0.$bgis4">
                .bgis4bg {background-color:rgba(255, 255, 255, 0.84);  box-sizing:border-box;position:absolute;top:0;right:0;bottom:0;left:0;border-top:0px solid rgba(215, 215, 215, 1);border-bottom:2px solid rgba(215, 215, 215, 1);}
.bgis4inlineContent {position:absolute;top:0;right:0;bottom:0;left:0;}
                </style>
        <style type="text/css" data-styleid="ddm1" data-reactid=".0.0.$ddm1">
.ddm1itemsContainer {width:calc(100% - 0px);height:calc(100% - 0px);white-space:nowrap;display:inline-block;overflow:visible;position:relative;}
.ddm1moreContainer {overflow:visible;display:inherit;white-space:nowrap;width:auto;background-color:rgba(39, 131, 137, 1);border-radius:0;  }
.ddm1dropWrapper {z-index:99999;display:block;opacity:1;visibility:hidden;position:absolute;margin-top:7px;}
.ddm1[data-dropmode="dropUp"] .ddm1dropWrapper {margin-top:0;margin-bottom:7px;}
.ddm1repeaterButton {height:100%;position:relative;box-sizing:border-box;display:inline-block;cursor:pointer;font:normal normal normal 14px/1.4em Tahoma,tahoma-w01-regular,tahoma-w02-regular,tahoma-w10-regular,tahoma-w15--regular,tahoma-w99-regular,sans-serif ;  border-left:1px solid rgba(0, 0, 0, 1);}
.ddm1repeaterButton[data-state~="header"] a,.ddm1repeaterButton[data-state~="header"] div {cursor:default !important;}
.ddm1repeaterButtonlinkElement {display:inline-block;height:100%;width:100%;}
.ddm1repeaterButtonlabel {color:#000000;transition: color 0.4s ease 0s;  display:inline-block;padding:0 10px;}
.ddm1repeaterButton_wrapper {padding:0 0px;}
.ddm1repeaterButton:first-child[data-direction="ltr"] {border:0;}
.ddm1repeaterButton:last-child[data-direction="rtl"] {border:0;}
.ddm1repeaterButton[data-listposition="lonely"] {border:0;}
.ddm1repeaterButton[data-state~="over"] 
.ddm1repeaterButtonlabel {color:#D7D7D7;transition: color 0.4s ease 0s;}
.ddm1repeaterButton[data-state~="selected"] 
.ddm1repeaterButtonlabel {color:#888888;transition: color 0.4s ease 0s;}
.ddm1repeaterButton[data-state~="drop"] {width:100%;display:block;border:0;border-top:1px solid rgba(0, 0, 0, 1);}
.ddm1repeaterButton[data-state~="drop"] 
.ddm1repeaterButtonlabel {display:inline-block;padding:0 .5em;}
.ddm1repeaterButton[data-state~="drop"] 
.ddm1repeaterButton_wrapper {padding:0;}
.ddm1repeaterButton[data-listposition="top"] {border:0;}
.ddm1repeaterButton[data-listposition="dropLonely"] {border:0;}
        </style>
        
        <style type="text/css" data-styleid="style-ikgzmffz" data-reactid=".0.0.$style-ikgzmffz">.style-ikgzmffzbg {background-color:rgba(8, 8, 8, 0.92);  border:0px solid rgba(8, 8, 8, 1);position:absolute;top:0;right:0;bottom:0;left:0;bottom:calc(8px + 10px);}
.style-ikgzmffz_ribbon {position:absolute;bottom:calc(-1 * (8px + 10px));height:0;width:0;border:calc(8px + 10px) solid transparent;}
.style-ikgzmffz_fr {border-top-color:rgba(39, 131, 137, 1);border-left-width:0;right:0;}
.style-ikgzmffz_fl {border-top-color:rgba(39, 131, 137, 1);border-right-width:0;left:0;}
.style-ikgzmffzinlineContent {position:absolute;top:0;right:0;bottom:0;left:0;bottom:calc(8px + 10px);}
                </style>
        
        
        <style type="text/css" data-styleid="txtNew" data-reactid=".0.0.$txtNew">.txtNew {word-wrap:break-word;}
.txtNew_override-left * {text-align:left !important;}
.txtNew_override-right * {text-align:right !important;}
.txtNew_override-center * {text-align:center !important;}
.txtNew_override-justify * {text-align:justify !important;}
.txtNew li {font-style:inherit;font-weight:inherit;line-height:inherit;letter-spacing:normal;}
.txtNew ol,.txtNew ul {padding-left:1.3em;padding-right:0;margin-left:0.5em;margin-right:0;line-height:normal;letter-spacing:normal;}
.txtNew ul {list-style-type:disc;}
.txtNew ol {list-style-type:decimal;}
.txtNew ul ul,.txtNew ol ul {list-style-type:circle;}
.txtNew ul ul ul,.txtNew ol ul ul {list-style-type:square;}
.txtNew ul ol ul,.txtNew ol ol ul {list-style-type:square;}
.txtNew ul[dir="rtl"],.txtNew ol[dir="rtl"] {padding-left:0;padding-right:1.3em;margin-left:0;margin-right:0.5em;}
.txtNew ul[dir="rtl"] ul,.txtNew ul[dir="rtl"] ol,.txtNew ol[dir="rtl"] ul,.txtNew ol[dir="rtl"] ol {padding-left:0;padding-right:1.3em;margin-left:0;margin-right:0.5em;}
.txtNew p {margin:0;line-height:normal;letter-spacing:normal;}
.txtNew h1 {margin:0;line-height:normal;letter-spacing:normal;}
.txtNew h2 {margin:0;line-height:normal;letter-spacing:normal;}
.txtNew h3 {margin:0;line-height:normal;letter-spacing:normal;}
.txtNew h4 {margin:0;line-height:normal;letter-spacing:normal;}
.txtNew h5 {margin:0;line-height:normal;letter-spacing:normal;}
.txtNew h6 {margin:0;line-height:normal;letter-spacing:normal;}
.txtNew a {color:inherit;}
                </style>
        
        
        
        <style type="text/css" data-styleid="wp2" data-reactid=".0.0.$wp2">.wp2_zoomedin {cursor:url(https://static.parastorage.com/services/skins/2.1229.79/images/wysiwyg/core/themes/base/cursor_zoom_out.png), url(https://static.parastorage.com/services/skins/2.1229.79/images/wysiwyg/core/themes/base/cursor_zoom_out.cur), auto;overflow:hidden;display:block;}
.wp2_zoomedout {cursor:url(https://static.parastorage.com/services/skins/2.1229.79/images/wysiwyg/core/themes/base/cursor_zoom_in.png), url(https://static.parastorage.com/services/skins/2.1229.79/images/wysiwyg/core/themes/base/cursor_zoom_in.cur), auto;}
.wp2link {display:block;overflow:hidden;}
.wp2img {overflow:hidden;}
.wp2imgimage {position:static;box-shadow:#000 0 0 0;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;}</style><style type="text/css" data-styleid="fc3" data-reactid=".0.0.$fc3">.fc3screenWidthBackground {position:absolute;top:0;right:0;bottom:0;left:0;}
.fc3[data-state~="fixedPosition"] {position:fixed !important;left:auto !important;z-index:50;}
.fc3[data-state~="fixedPosition"].fc3_footer {top:auto;bottom:0;}
.fc3_bg {position:absolute;top:0;right:0;bottom:0;left:0;background-color:transparent;  border-top:0px solid rgba(39, 131, 137, 1);border-bottom:0px solid rgba(39, 131, 137, 1);}
.fc3[data-state~="mobileView"] .fc3bg {left:10px;right:10px;}
.fc3bg {position:absolute;top:0px;right:0;bottom:0px;left:0;background-color:rgba(255, 255, 255, 0.91);border-radius:0;}
.fc3inlineContent {position:absolute;top:0;right:0;bottom:0;left:0;}
.fc3centeredContent {position:absolute;top:0;right:0;bottom:0;left:0;}</style><style type="text/css" data-styleid="lb1" data-reactid=".0.0.$lb1">.lb1itemsContainer {position:absolute;width:100%;height:100%;white-space:nowrap;}
.lb1itemsContainer > li:last-child {margin:0 !important;}
.lb1[data-state~="mobileView"] .lb1itemsContainer {position:absolute;width:100%;height:100%;white-space:normal;}
.lb1 a {display:block;height:100%;}
.lb1imageItemlink {cursor:pointer;}
.lb1imageItemimageimage {position:static;box-shadow:#000 0 0 0;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;}</style><style type="text/css" data-styleid="pc1" data-reactid=".0.0.$pc1">
/*.pc1screenWidthBackground {position:absolute;top:0;right:0;bottom:0;left:0;}*/
.pc1[data-state~="fixedPosition"] {position:fixed !important;left:auto !important;z-index:50;}
.pc1[data-state~="fixedPosition"].pc1_footer {top:auto;bottom:0;}
.pc1bg {position:absolute;top:0;right:0;bottom:0;left:0;}
.pc1inlineContent {position:absolute;top:0;right:0;bottom:0;left:0;}
.pc1centeredContent {position:absolute;top:0;right:0;bottom:0;left:0;}</style><style type="text/css" data-styleid="s_VOwPageGroupSkin" data-reactid=".0.0.$s_VOwPageGroupSkin">.s_VOwPageGroupSkin {height:100px;width:100px;}
.s_VOwPageGroupSkinoverlay {position:absolute;top:0;right:0;bottom:0;left:0;background-color:rgba(0, 0, 0, 0.664);}
.s_VOwPageGroupSkininlineContent {position:absolute;top:0;right:0;bottom:0;left:0;}</style><style type="text/css" data-styleid="p1" data-reactid=".0.0.$p1">.p1bg {position:absolute;top:0;right:0;bottom:0;left:0;}
.p1[data-state~="mobileView"] .p1bg {left:10px;right:10px;}
.p1inlineContent {position:absolute;top:0;right:0;bottom:0;left:0;}</style><style type="text/css" data-styleid="c1" data-reactid=".0.0.$c1">.c1bg {overflow:hidden;position:absolute;top:0;right:0;bottom:0;left:0;background-color:rgba(255, 255, 255, 0.89);}
.c1inlineContent {position:absolute;top:0;right:0;bottom:0;left:0;}</style><style type="text/css" data-styleid="c2" data-reactid=".0.0.$c2">.c2bg {overflow:hidden;position:absolute;top:0;right:0;bottom:0;left:0;background-color:rgba(8, 8, 8, 0.84);}
.c2inlineContent {position:absolute;top:0;right:0;bottom:0;left:0;}</style><style type="text/css" data-styleid="hl1" data-reactid=".0.0.$hl1">.hl1 {border-bottom:1px dotted rgba(39, 131, 137, 1);height:0 !important;min-height:0 !important;}</style><style type="text/css" data-styleid="ssg1" data-reactid=".0.0.$ssg1">.ssg1 {-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;-webkit-user-drag:none;-moz-user-drag:none;-ms-user-drag:none;user-drag:none;-webkit-user-modify:ready-only;-moz-user-modify:ready-only;-ms-user-modify:ready-only;user-modify:ready-only;border-radius:0;    overflow:hidden;background:rgba(39, 131, 137, 1);}
.ssg1_border {position:absolute;top:0;right:0;bottom:0;left:0;border-radius:0;  border:2px solid rgba(39, 131, 137, 1);pointer-events:none;background:none !important;}
.ssg1itemsContainer {position:absolute;top:0;right:0;bottom:0;left:0;border-radius:0;  overflow:hidden;-webkit-transform:translate3d(0, 0, 0);transform:translate3d(0, 0, 0);}
.ssg1_btn {transition: opacity 0.5s ease 0s;  opacity:0.4;height:70px;background:url(https://static.parastorage.com/services/skins/2.1229.79/images/wysiwyg/core/themes/base/arrows_white_new3.png) no-repeat;width:45px;position:absolute;top:50%;margin-top:-35px;cursor:pointer;}
.ssg1[data-state~="mobile"] .ssg1_btn {opacity:1;}
.ssg1buttonPrev {left:20px;background-position:0 0;}
.ssg1buttonNext {right:20px;background-position:100% 0;}
.ssg1_helpers {transition: opacity 0.5s ease 0s;  opacity:0;position:absolute;right:2px;bottom:2px;padding:0 10px 10px 0;width:60px;text-align:right;}
.ssg1counter {display:inline-block;color:#494949;font-family:arial, helvetica,sans-serif;font-size:12px;padding-left:5px;}
.ssg1autoplay {display:inline-block;padding-left:10px;width:20px;min-height:10px;position:relative;text-align:center;}
.ssg1autoplay > span {display:inline-block;position:relative;z-index:0;}
.ssg1[data-state~="autoplayOff"] .ssg1autoplay > span {border:5px solid transparent;border-left:5px solid #494949;width:0;height:0;}
.ssg1[data-state~="autoplayOn"] .ssg1autoplay > span {border-left:2px solid #494949;border-right:2px solid #494949;height:10px;width:1px;margin-right:5px;}
.ssg1_buttons {transition: opacity 0.5s ease 0s;  opacity:0;}
.ssg1[data-state~="mobile"] .ssg1_buttons {opacity:1;}
.ssg1:hover > .ssg1_buttons {opacity:1;}
.ssg1:hover > .ssg1_helpers {opacity:1;}
.ssg1:hover .ssg1_pnl {opacity:1;}
.ssg1[data-state~="showTextPanel"] .ssg1_pnl {opacity:1;}
.ssg1_btn:hover {opacity:1;}
.ssg1[data-state~="touchRollOver"] .ssg1_buttons {opacity:1;}
.ssg1[data-state~="touchRollOver"] .ssg1_helpers {opacity:1;}
.ssg1[data-state~="touchRollOver"] .ssg1_pnl {opacity:1;}
.ssg1[data-state~="touchRollOver"] .ssg1_btn {opacity:1;}
.ssg1[data-state~="showButtons"] .ssg1_buttons {opacity:1;}
.ssg1[data-text-alignment="right"] .ssg1imageItempanel {padding-right:10px;padding-left:100px;}
.ssg1[data-text-alignment="right"] .ssg1_helpers {left:0px;right:initial;text-align:left;}
.ssg1[data-text-alignment="right"][data-state~="hidePlayButton"] .ssg1autoplay {display:none;}
.ssg1imageItemtitle,.ssg1imageItemdescription {overflow:hidden;text-overflow:ellipsis;white-space:pre-line;}
.ssg1imageItemimageWrapper {position:absolute;}
.ssg1imageItempanel {border-radius:0;  background-color:rgba(255, 255, 255, 0.56);transition: opacity 0.5s ease 0s;  opacity:0;position:absolute;right:2px;left:2px;bottom:2px;padding:10px 100px 10px 10px;min-height:18px;border-top-left-radius:0 !important;border-top-right-radius:0 !important;}
.ssg1imageItemzoom {position:absolute;top:2px;right:2px;bottom:2px;left:2px;}
.ssg1imageItemimage {border-radius:0;}
.ssg1imageItemtitle {font:normal normal normal 12px/1.4em Basic,sans-serif ;  color:#494949;}
.ssg1imageItemdescription {font:normal normal normal 11px/1.4em Tahoma,tahoma-w01-regular,tahoma-w02-regular,tahoma-w10-regular,tahoma-w15--regular,tahoma-w99-regular,sans-serif ;  color:#494949;}
.ssg1imageItemlink {font:normal normal normal 11px/1.4em Tahoma,tahoma-w01-regular,tahoma-w02-regular,tahoma-w10-regular,tahoma-w15--regular,tahoma-w99-regular,sans-serif ;  color:#494949;}
.ssg1imageItem[data-state~="link"] .ssg1imageItemlink {text-decoration:underline;cursor:pointer;font:normal normal normal 11px/1.4em Tahoma,tahoma-w01-regular,tahoma-w02-regular,tahoma-w10-regular,tahoma-w15--regular,tahoma-w99-regular,sans-serif ;  color:#494949;}
.ssg1imageItem[data-state~="showPanel"] .ssg1imageItempanel {opacity:1;}
.ssg1imageItem[data-state~="notShowPanel"] .ssg1imageItempanel {opacity:0;}
.ssg1imageItem[data-state~="transOut"] .ssg1imageItempanel {opacity:0;}
.ssg1imageItem[data-state~="transIn"] .ssg1imageItempanel {opacity:0;}
.ssg1imageItemimageimage {position:static;box-shadow:#000 0 0 0;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;}</style><style type="text/css" data-styleid="cf2" data-reactid=".0.0.$cf2">.cf2wrapper {min-width:180px;max-width:980px;position:absolute;width:100%;}
.cf2_hiddenField {display:none !important;}
.cf2 li {box-sizing:border-box;position:relative;}
.cf2 ul {box-sizing:border-box;position:relative;}
.cf2_foot {min-height:50px;position:relative;}
.cf2 span {color:#494949;font:normal 14px 'Helvetica Neue', Helvetica, sans-serif;position:absolute;top:0;}
.cf2 span.cf2_success {color:#BADA55;}
.cf2 span.cf2_error {color:#8B0000;}
.cf2 button,.cf2 input,.cf2 textarea {box-sizing:border-box;border-radius:0 0 0 0;  }
.cf2 input,.cf2 textarea {background-color:rgba(255, 255, 255, 0.74);font:normal normal normal 12px/1.4em Basic,sans-serif ;  -webkit-appearance:none;-moz-appearance:none;border:1px solid rgba(107, 163, 167, 1);color:#494949;margin:0 0 5px;padding:5px;width:100%;}
.cf2 input.cf2_error,.cf2 textarea.cf2_error {border:1px solid #8B0000;color:#8B0000;font:normal normal normal 12px/1.4em Basic,sans-serif ;}
.cf2 textarea {height:100%;resize:none;}
.cf2 button {border:0;color:#FFFFFF;cursor:pointer;background-color:rgba(107, 163, 167, 1);font:normal normal normal 18px/1.4em 'Times New Roman',times,serif ;  padding:5px;position:absolute;top:0;}
.cf2[data-state~="desktop"][data-state~="fieldMessageHidden"] li {width:100%;}
.cf2[data-state~="desktop"][data-state~="fieldMessageHidden"] li.cf2_right {display:none;}
.cf2[data-state~="desktop"] li {width:50%;}
.cf2[data-state~="desktop"][data-state~="left"] li.cf2_left {margin:0;}
.cf2[data-state~="desktop"][data-state~="left"] li.cf2_right {bottom:0;padding:0 0 5px 5px;position:absolute;right:2px;top:0;}
.cf2[data-state~="desktop"][data-state~="right"] li.cf2_left {margin-left:50%;}
.cf2[data-state~="desktop"][data-state~="right"] li.cf2_right {bottom:0;left:2px;padding:0 5px 5px 0;position:absolute;top:0;}
.cf2[data-state~="mobile"] li {display:block;width:100%;}
.cf2[data-state~="mobile"] input,.cf2[data-state~="mobile"] textarea {font-size:16px;}
.cf2[data-state~="mobile"] input::-webkit-input-placeholder,.cf2[data-state~="mobile"] textarea::-webkit-input-placeholder {line-height:45px;font-size:16px;}
.cf2[data-state~="mobile"] input:-ms-input-placeholder,.cf2[data-state~="mobile"] textarea:-ms-input-placeholder {line-height:45px;font-size:16px;}
.cf2[data-state~="mobile"] input::placeholder,.cf2[data-state~="mobile"] textarea::placeholder {line-height:45px;font-size:16px;}
.cf2[data-state~="mobile"] input {height:45px;line-height:45px;margin-bottom:15px;}
.cf2[data-state~="mobile"] textarea {height:130px;}
.cf2 input::-webkit-input-placeholder,.cf2 textarea::-webkit-input-placeholder {color:#A9A9A9;font:normal normal normal 12px/1.4em Basic,sans-serif ;}
.cf2 input:-ms-input-placeholder,.cf2 textarea:-ms-input-placeholder {color:#A9A9A9;font:normal normal normal 12px/1.4em Basic,sans-serif ;}
.cf2 input::placeholder,.cf2 textarea::placeholder {color:#A9A9A9;font:normal normal normal 12px/1.4em Basic,sans-serif ;}
.cf2 input::-webkit-input-placeholder.cf2_error,.cf2 textarea::-webkit-input-placeholder.cf2_error {color:#8B0000;font:normal normal normal 12px/1.4em Basic,sans-serif ;}
.cf2 input:-ms-input-placeholder.cf2_error,.cf2 textarea:-ms-input-placeholder.cf2_error {color:#8B0000;font:normal normal normal 12px/1.4em Basic,sans-serif ;}
.cf2 input::placeholder.cf2_error,.cf2 textarea::placeholder.cf2_error {color:#8B0000;font:normal normal normal 12px/1.4em Basic,sans-serif ;}
.cf2[data-state~="right"] {direction:rtl;text-align:right;}
.cf2[data-state~="right"] button {left:0;}
.cf2[data-state~="right"] span {left:100px;right:0;}
.cf2[data-state~="left"] {direction:ltr;text-align:left;}
.cf2[data-state~="left"] button {right:0;}
.cf2[data-state~="left"] span {left:0;right:100px;}</style><style type="text/css" data-styleid="b3" data-reactid=".0.0.$b3">.b3[data-state~="shouldUseFlex"] .b3link,.b3[data-state~="shouldUseFlex"] .b3labelwrapper {text-align:initial;display:-webkit-box;display:-webkit-flex;display:flex;-webkit-box-align:center;-webkit-align-items:center;align-items:center;}
.b3[data-state~="shouldUseFlex"][data-state~="center"] .b3link,.b3[data-state~="shouldUseFlex"][data-state~="center"] .b3labelwrapper {-webkit-box-pack:center;-webkit-justify-content:center;justify-content:center;}
.b3[data-state~="shouldUseFlex"][data-state~="left"] .b3link,.b3[data-state~="shouldUseFlex"][data-state~="left"] .b3labelwrapper {-webkit-box-pack:start;-webkit-justify-content:flex-start;justify-content:flex-start;}
.b3[data-state~="shouldUseFlex"][data-state~="right"] .b3link,.b3[data-state~="shouldUseFlex"][data-state~="right"] .b3labelwrapper {-webkit-box-pack:end;-webkit-justify-content:flex-end;justify-content:flex-end;}
.b3link {border-radius:0 0 0 0;  position:absolute;top:0;right:0;bottom:0;left:0;transition: border-color 0.4s ease 0s, background-color 0.4s ease 0s;  }
.b3label {font:normal normal normal 14px/1.4em 'Noticia Text',serif ;  transition: color 0.4s ease 0s;  color:#FFFFFF;display:inline-block;margin:calc(-1 * 1px) 1px 0;position:relative;white-space:nowrap;}
.b3[data-state~="shouldUseFlex"] .b3label {margin:0;}
.b3[data-disabled="false"] .b3link {background-color:rgba(39, 131, 137, 1);border:solid rgba(73, 73, 73, 1) 1px;cursor:pointer !important;}
.b3[data-disabled="false"]:active[data-state~="mobile"] .b3link,.b3[data-disabled="false"]:hover[data-state~="desktop"] .b3link,.b3[data-disabled="false"][data-preview~="hover"] .b3link {background-color:rgba(107, 163, 167, 1);border-color:rgba(255, 255, 255, 1);}
.b3[data-disabled="false"]:active[data-state~="mobile"] .b3label,.b3[data-disabled="false"]:hover[data-state~="desktop"] .b3label,.b3[data-disabled="false"][data-preview~="hover"] .b3label {color:#080808;}
.b3[data-disabled="true"] .b3link,.b3[data-preview~="disabled"] .b3link {background-color:rgba(204, 204, 204, 1);border-color:rgba(204, 204, 204, 1);}
.b3[data-disabled="true"] .b3label,.b3[data-preview~="disabled"] .b3label {color:#FFFFFF;}</style><style type="text/css" data-styleid="deadComp" data-reactid=".0.0.$deadComp">.deadComp {background:transparent;}</style><style type="text/css" data-styleid="siteBackground" data-reactid=".0.0.$siteBackground">.siteBackground {width:100%;position:absolute;}
.siteBackgroundbgBeforeTransition {position:absolute;top:0;}
.siteBackgroundbgAfterTransition {position:absolute;top:0;}
                </style>
        
        
        <style type="text/css" data-styleid="loginDialog" data-reactid=".0.0.$loginDialog">.loginDialog {position:fixed;width:100%;height:100%;z-index:99;font-family:Arial, sans-serif;font-size:1em;color:#9C9C9C;}
.loginDialogblockingLayer {background-color:rgba(85, 85, 85, 0.75);position:fixed;top:0;right:0;bottom:0;left:0;visibility:visible;zoom:1;overflow:auto;}
.loginDialogdialog {background-color:rgba(170, 170, 170, 0.7);width:455px;position:fixed;padding:20px;}
.loginDialog_wrapper {background-color:rgba(255, 255, 255, 1);padding:45px 40px 0 40px;}
.loginDialogxButton {position:absolute;top:-14px;right:-14px;cursor:pointer;background:transparent url(https://static.parastorage.com/services/skins/2.1229.79/images/wysiwyg/core/themes/base/viewer_login_sprite.png) no-repeat right top;height:30px;width:30px;}
.loginDialogxButton:hover {background-position:right -80px;}
.loginDialogheader {padding-bottom:25px;line-height:30px;}
.loginDialogfavIcon {float:left;margin:7px 7px 0 0;width:16px;height:16px;}
.loginDialogtitle {font-size:20px;font-weight:bold;color:#555555;}
.loginDialog[data-state~="mobile"] {position:absolute;width:100%;height:100%;z-index:99;font-family:Arial, sans-serif;font-size:1em;color:#9C9C9C;top:0;}
.loginDialog[data-state~="mobile"] .loginDialogheader {padding-bottom:10px;line-height:30px;}
.loginDialog[data-state~="mobile"] .loginDialogfavIcon {display:none;}
.loginDialog[data-state~="mobile"] .loginDialogtitle {font-size:14px;}
.loginDialog[data-state~="mobile"] .loginDialogdialog {width:260px;padding:10px;position:absolute;}
.loginDialog[data-state~="mobile"] .loginDialog_footer {margin-top:0;padding-bottom:10px;}
.loginDialog[data-state~="mobile"] .loginDialogcancel {font-size:14px;line-height:30px;}
.loginDialog[data-state~="mobile"] .loginDialog_wrapper {padding:14px 12px 0 12px;}
.loginDialog[data-state~="mobile"] .loginDialogsubmitButton {height:30px;width:100px;font-size:14px;}
.loginDialog_forgot {text-align:left;font-size:12px;}
.loginDialog_forgot a {color:#0198ff;border-bottom:1px solid #0198ff;}
.loginDialog_forgot a:hover {color:#0044ff;border-bottom:1px solid #0044ff;}
.loginDialog_error {font-size:12px;color:#d74401;text-align:right;}
.loginDialog_footer {width:100%;margin-top:27px;padding-bottom:40px;}
.loginDialogcancel {color:#9C9C9C;font-size:18px;text-decoration:underline;line-height:36px;}
.loginDialogcancel:hover {color:#9c3c3c;}
.loginDialogpasswordInput label {font-size:14px;}
.loginDialogpasswordInput label[data-type="password"] {font-size:14px;line-height:30px;height:30px;}
.loginDialogsubmitButton {float:right;cursor:pointer;border:solid 2px #0064a8;height:36px;width:143px;background:transparent url(https://static.parastorage.com/services/skins/2.1229.79/images/wysiwyg/core/themes/base/viewer_login_sprite.png) repeat-x right -252px;color:#ffffff;font-size:24px;font-weight:bold;box-shadow:0 1px 3px rgba(0, 0, 0, 0.5);}
.loginDialogsubmitButton:hover {background-position:right -352px;border-color:#004286;}
.loginDialog[data-state="normal"] .loginDialogerror {display:none;}
.loginDialog[data-state="error"] .loginDialogerror {display:block;font-size:12px;color:#d74401;text-align:right;}
.loginDialog[data-state="error"] .loginDialogpasswordInput {border-color:#d74401;}
.loginDialogpasswordInput {font-size:1em;}
.loginDialogpasswordInput label {float:none;font-size:17px;line-height:25px;color:#585858;}
.loginDialogpasswordInput[data-state~="mobile"] label {float:none;font-size:14px;line-height:20px;color:#585858;}
.loginDialogpasswordInputinput {padding:0 15px;width:100%;height:42px;font-size:19px;line-height:42px;color:#0198ff;margin:0 -3px;background:transparent url(https://static.parastorage.com/services/skins/2.1229.79/images/wysiwyg/core/themes/base/viewer_login_sprite.png) repeat-x right -170px;border:solid 1px #a1a1a1;box-sizing:border-box;}
.loginDialogpasswordInput[data-state~="mobile"] .loginDialogpasswordInputinput {padding:0 15px;width:100%;height:30px;font-size:14px;line-height:30px;color:#0198ff;margin:0 -3px;background:transparent url(https://static.parastorage.com/services/skins/2.1229.79/images/wysiwyg/core/themes/base/viewer_login_sprite.png) repeat-x right -170px;border:solid 1px #a1a1a1;box-sizing:border-box;}
.loginDialogpasswordInputinput[data-type="password"] {font-size:38px;}
.loginDialogpasswordInput[data-state~="mobile"] .loginDialogpasswordInputinput[data-type="password"] {font-size:14px;}
.loginDialogpasswordInputerrorMessage {display:block;font-size:12px;color:#d74401;text-align:right;height:15px;}
.loginDialogpasswordInput:not([data-state~="invalid"]) .loginDialogpasswordInputerrorMessage {visibility:hidden;}
.loginDialogpasswordInput[data-state~="invalid"] .loginDialogpasswordInputerrorMessage {visibility:visible;}
.loginDialogpasswordInput[data-state~="invalid"] input {border-color:#d74401;}
.loginDialogpasswordInput[data-state~="invalid"] .loginDialogpasswordInputinput {border-color:#ff0000;}</style>
        <style type="text/css" data-styleid="strc1" data-reactid=".0.0.$strc1">
                .strc1inlineContent {position:absolute;top:0;right:0;bottom:0;left:0;}
        </style>
        <style type="text/css" data-reactid=".0.0.$testStyle">.testStyles {position:absolute; display: none; z-index: 1}
                </style><div class="testStyles" data-reactid=".0.0.$testStyles_div"></div><style type="text/css" data-styleid="uploadedFonts" data-reactid=".0.0.p"></style><div style="overflow:hidden;visibility:hidden;max-height:0;max-width:0;position:absolute;" data-reactid=".0.0.$fontsLoader"><style data-reactid=".0.0.$fontsLoader.0">.font-ruler-content::after {content:"@@#$%%^&*~IAO"}</style></div></div><div id="SITE_BACKGROUND" class="siteBackground" style="position: absolute; top: 0px; height: 1640px; width: 1882px;" data-reactid=".0.$SITE_BACKGROUND"><div id="SITE_BACKGROUND_previous_noPrev" class="siteBackgroundprevious" data-reactid=".0.$SITE_BACKGROUND.$noPrevscrollpreview" style="width: 100%; height: 100%;"><div id="SITE_BACKGROUNDpreviousImage" class="siteBackgroundpreviousImage" data-reactid=".0.$SITE_BACKGROUND.$noPrevscrollpreview.$previousImage"></div><div id="SITE_BACKGROUNDpreviousVideo" class="siteBackgroundpreviousVideo" data-reactid=".0.$SITE_BACKGROUND.$noPrevscrollpreview.$previousVideo"></div><div id="SITE_BACKGROUND_previousOverlay_noPrev" class="siteBackgroundpreviousOverlay" data-reactid=".0.$SITE_BACKGROUND.$noPrevscrollpreview.$previousOverlay"></div></div><div id="SITE_BACKGROUND_current_customBgImg1ies" style="top: 0px; background-color: rgb(215, 215, 215); position: fixed; width: 100%; height: 100%;" data-position="fixed" class="siteBackgroundcurrent" data-reactid=".0.$SITE_BACKGROUND.$customBgImg1iesfixedpreview"><div id="SITE_BACKGROUND_currentImage_customBgImg1ies" style="position: absolute; top: 0px; width: 100%; background-size: cover; background-position: center; background-repeat: no-repeat; height: 100%; background-image: url(&quot;https://i.redd.it/qufjlmm9ygey.jpg&quot;);" data-type="bgimage" data-height="100%" class="siteBackgroundcurrentImage" data-reactid=".0.$SITE_BACKGROUND.$customBgImg1iesfixedpreview.$currentImage" data-image-css="{&quot;backgroundSize&quot;:&quot;cover&quot;,&quot;backgroundPosition&quot;:&quot;center top&quot;,&quot;backgroundRepeat&quot;:&quot;no-repeat&quot;,&quot;height&quot;:&quot;100%&quot;}"></div><div id="SITE_BACKGROUNDcurrentVideo" class="siteBackgroundcurrentVideo" data-reactid=".0.$SITE_BACKGROUND.$customBgImg1iesfixedpreview.$currentVideo"></div><div id="SITE_BACKGROUND_currentOverlay_customBgImg1ies" style="position:absolute;top:0;width:100%;height:100%;"  class="siteBackgroundcurrentOverlay" data-reactid=".0.$SITE_BACKGROUND.$customBgImg1iesfixedpreview.$currentOverlay"></div></div></div><div class="SITE_ROOT" id="SITE_ROOT" style="width:980px;padding-bottom:0;" data-reactid=".0.$SITE_ROOT">
            

         <div class="modal fade in" id="chakwamodal" tabindex="-1"  aria-hidden="true" style="display: none; padding-right: 17px;">

        <div class="modal-dialog">

            <div class="modal-content">
                
                <div class="modal-header">
                    <h4 style="margin-left:90%" class="modal-title">الشكاوى</h4>
                </div>
                
                <div style="margin-left:83%" class="modal-body"> : شكوى إلى</div>
                
                <div style="width:70%">
                    @Html.DropDownList("Organisations", Organisations, new { @class = "inputcolor form-control placeholder-no-fix;" })
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn dark btn-outline" data-dismiss="modal">إغلاق</button>
                    <button type="button" id="gotachakwa" class="btn green">إملأ الشكوى  </button>
                </div>

            </div>

        </div>

    </div>
        <div style="width: 980px; position: static; top: 0; height: 1640px;" id="masterPage" data-reactid=".0.$SITE_ROOT.$desktop_siteRoot">
        <header style="width: 980px; position: absolute; top: 0px; height: 297px; left: 0px;" class="hc1" data-state="" id="SITE_HEADER" data-reactid=".0.$SITE_ROOT.$desktop_siteRoot.$SITE_HEADER">
            <div id="SITE_HEADERscreenWidthBackground" class="hc1screenWidthBackground" data-reactid=".0.$SITE_ROOT.$desktop_siteRoot.$SITE_HEADER.$screenWidthBackground" style="width: 1882px; left: -451px;"></div>
            <div id="SITE_HEADERcenteredContent" class="hc1centeredContent" data-reactid=".0.$SITE_ROOT.$desktop_siteRoot.$SITE_HEADER.$centeredContent">
            <div id="SITE_HEADERbg" class="hc1bg" data-reactid=".0.$SITE_ROOT.$desktop_siteRoot.$SITE_HEADER.$centeredContent.$bg"></div>
            <div id="SITE_HEADERinlineContent" class="hc1inlineContent" data-reactid=".0.$SITE_ROOT.$desktop_siteRoot.$SITE_HEADER.$centeredContent.$inlineContent">
            
            <div style="position: absolute; top: 0px; height: 54px; width: 254%; left: -100%;" class="bgis4" id="idocq2oa" data-reactid=".0.$SITE_ROOT.$desktop_siteRoot.$SITE_HEADER.$centeredContent.$inlineContent.$idocq2oa">            
                <div data-type="bgimage" id="idocq2oabg" class="bgis4bg" data-reactid=".0.$SITE_ROOT.$desktop_siteRoot.$SITE_HEADER.$centeredContent.$inlineContent.$idocq2oa.$bg" style="background-image: none;"></div>
                <div id="idocq2oainlineContent" style="background-color:black;opacity:0.7;" class="bgis4inlineContent" data-reactid=".0.$SITE_ROOT.$desktop_siteRoot.$SITE_HEADER.$centeredContent.$inlineContent.$idocq2oa.$inlineContent"></div>
            </div>
            
            <nav id="DrpDwnMn0-m1d" data-menuborder-y="0" data-menubtn-border="0" data-ribbon-els="0" data-label-pad="0" data-ribbon-extra="0" data-drophposition="" data-dropalign="center" dir="ltr" style="left: 0px; width: 980px; position: absolute; top: 0px; height: 54px;" class="ddm1" data-state="center notMobile" data-reactid=".0.$SITE_ROOT.$desktop_siteRoot.$SITE_HEADER.$centeredContent.$inlineContent.$DrpDwnMn0-m1d" data-dropmode="dropDown">
            <ul style="text-align:center;" aria-label="Site navigation" role="navigation" id="DrpDwnMn0-m1ditemsContainer" class="ddm1itemsContainer" data-reactid=".0.$SITE_ROOT.$desktop_siteRoot.$SITE_HEADER.$centeredContent.$inlineContent.$DrpDwnMn0-m1d.$itemsContainer">
                <li data-direction="ltr" data-listposition="lonely" data-data-id="bmi1szw" class="ddm1repeaterButton" data-state="menu selected idle link notMobile" id="DrpDwnMn0-m1d0" data-reactid=".0.$SITE_ROOT.$desktop_siteRoot.$SITE_HEADER.$centeredContent.$inlineContent.$DrpDwnMn0-m1d.$itemsContainer.$bmi1szw" data-original-gap-between-text-and-btn="0" style="width: 980px; height: 20px; position: relative; box-sizing: border-box; overflow: visible;" aria-hidden="false">
                    <a role="button" tabindex="0" aria-haspopup="false" data-listposition="dropLonely" target="_self" id="DrpDwnMn0-m1d0linkElement" class="ddm1repeaterButtonlinkElement" data-reactid=".0.$SITE_ROOT.$desktop_siteRoot.$SITE_HEADER.$centeredContent.$inlineContent.$DrpDwnMn0-m1d.$itemsContainer.$bmi1szw.$linkElement">
                        <div style="max-width:200px;float:left;" class="ddm1repeaterButton_wrapper" data-reactid=".0.$SITE_ROOT.$desktop_siteRoot.$SITE_HEADER.$centeredContent.$inlineContent.$DrpDwnMn0-m1d.$itemsContainer.$bmi1szw.$linkElement.0">
                            <div style="text-align:center;" id="DrpDwnMn0-m1d0bg" class="ddm1repeaterButtonbg" data-reactid=".0.$SITE_ROOT.$desktop_siteRoot.$SITE_HEADER.$centeredContent.$inlineContent.$DrpDwnMn0-m1d.$itemsContainer.$bmi1szw.$linkElement.0.$bg">
                                <p style="text-align: center; line-height: 20px; margin-top:14px;" id="DrpDwnMn0-m1d0label" dir="rtl" class="ddm1repeaterButtonlabel" data-reactid=".0.$SITE_ROOT.$desktop_siteRoot.$SITE_HEADER.$centeredContent.$inlineContent.$DrpDwnMn0-m1d.$itemsContainer.$bmi1szw.$linkElement.0.$bg.$label">
                                    أهلاً بكم إلى منبر صلة وصل
                                </p>
                            </div>
                        </div>
                        <div id="masterPageMenu" style="position: static; top: 0; height: 54px; color:orange; font-weight:bold;"class="col-md-12 col-sm-12 col-lg-12">

                            @if (User.Identity.IsAuthenticated)
                            {
                                <span class="headerTab logout"  style="margin-right:10%;float:right;height:54px;">
                                    <p style="margin-top:14px;">الخروج </p>
                                </span>
                            }


                            @if (User.Identity.IsAuthenticated)
                            {
                                if (User.IsInRole("AD Manager"))
                                {
                                    <span class="headerTab" id="gotoforms" style="margin-right:10%;float:right;height:54px;">
                                        <p style="margin-top:14px;">  إدارة النماذج </p>
                                    </span>
                                }
                            }

                            @*<span class="headerTab"  style="margin-left:10%;float:right;height:54px;">                                
                                <p style="margin-top:14px;margin-right:40px;">سياسة الخصوصية</p> 
                                <i class="fa fa-sign-in fa-2x" aria-hidden="true"></i>
                            </span>*@

                            @*<span class="headerTab"  style="float:right;height:54px;margin-right:10%;">
                                <p style="margin-top:14px;">حماية السرية</p> 
                            </span>*@

                            <span class="headerTab"  id="logintest"  style="margin-right:10%;float:right;height:54px;">
                                <p style="margin-top:14px;">تسجيل الدخول</p>                                
                            </span>

@if (User.Identity.IsAuthenticated)
{
    <span class="headerTab" id="gotochakawa" style="margin-right:10%;float:right;height:54px;">
        <p style="margin-top:14px;">رؤية الشكاوى </p>
    </span>
}
                            

                        </div>
                    </a></li>
                <li data-listposition="right" class="ddm1repeaterButton" data-state="menu  idle header notMobile" id="DrpDwnMn0-m1d__more__" data-reactid=".0.$SITE_ROOT.$desktop_siteRoot.$SITE_HEADER.$centeredContent.$inlineContent.$DrpDwnMn0-m1d.$itemsContainer.$__more__" data-original-gap-between-text-and-btn="2" style="height: 0px; overflow: hidden; position: absolute;" aria-hidden="true"><a role="button" tabindex="-1" aria-haspopup="true" data-listposition="right" id="DrpDwnMn0-m1d__more__linkElement" class="ddm1repeaterButtonlinkElement" data-reactid=".0.$SITE_ROOT.$desktop_siteRoot.$SITE_HEADER.$centeredContent.$inlineContent.$DrpDwnMn0-m1d.$itemsContainer.$__more__.$linkElement"><div class="ddm1repeaterButton_wrapper" data-reactid=".0.$SITE_ROOT.$desktop_siteRoot.$SITE_HEADER.$centeredContent.$inlineContent.$DrpDwnMn0-m1d.$itemsContainer.$__more__.$linkElement.0">
                <div style="text-align:center;" id="DrpDwnMn0-m1d__more__bg" class="ddm1repeaterButtonbg" data-reactid=".0.$SITE_ROOT.$desktop_siteRoot.$SITE_HEADER.$centeredContent.$inlineContent.$DrpDwnMn0-m1d.$itemsContainer.$__more__.$linkElement.0.$bg"><p style="text-align:center;" id="DrpDwnMn0-m1d__more__label" class="ddm1repeaterButtonlabel" data-reactid=".0.$SITE_ROOT.$desktop_siteRoot.$SITE_HEADER.$centeredContent.$inlineContent.$DrpDwnMn0-m1d.$itemsContainer.$__more__.$linkElement.0.$bg.$label">More</p></div></div></a></li></ul><div id="DrpDwnMn0-m1dmoreButton" class="ddm1moreButton" data-reactid=".0.$SITE_ROOT.$desktop_siteRoot.$SITE_HEADER.$centeredContent.$inlineContent.$DrpDwnMn0-m1d.$moreButton"></div><nav style="visibility: hidden; left: 0px; right: auto; bottom: auto;" data-drophposition="" data-dropalign="center" id="DrpDwnMn0-m1ddropWrapper" class="ddm1dropWrapper" data-reactid=".0.$SITE_ROOT.$desktop_siteRoot.$SITE_HEADER.$centeredContent.$inlineContent.$DrpDwnMn0-m1d.$dropWrapper"><ul style="visibility: hidden; left: 0px; right: auto;" id="DrpDwnMn0-m1dmoreContainer" class="ddm1moreContainer" data-reactid=".0.$SITE_ROOT.$desktop_siteRoot.$SITE_HEADER.$centeredContent.$inlineContent.$DrpDwnMn0-m1d.$dropWrapper.$moreContainer" data-listposition="lonely"></ul></nav></nav><div style="left: -14px; width: 1009px; position: absolute; top: 54px; height: 243px;" class="style-ikgzmffz" id="Cntnrc-14t8" data-reactid=".0.$SITE_ROOT.$desktop_siteRoot.$SITE_HEADER.$centeredContent.$inlineContent.$Cntnrc-14t8"><div class="style-ikgzmffz_fl style-ikgzmffz_ribbon" data-reactid=".0.$SITE_ROOT.$desktop_siteRoot.$SITE_HEADER.$centeredContent.$inlineContent.$Cntnrc-14t8.0"></div><div class="style-ikgzmffz_fr style-ikgzmffz_ribbon" data-reactid=".0.$SITE_ROOT.$desktop_siteRoot.$SITE_HEADER.$centeredContent.$inlineContent.$Cntnrc-14t8.1"></div><div id="Cntnrc-14t8bg" class="style-ikgzmffzbg" data-reactid=".0.$SITE_ROOT.$desktop_siteRoot.$SITE_HEADER.$centeredContent.$inlineContent.$Cntnrc-14t8.$bg"></div><div id="Cntnrc-14t8inlineContent" class="style-ikgzmffzinlineContent" data-reactid=".0.$SITE_ROOT.$desktop_siteRoot.$SITE_HEADER.$centeredContent.$inlineContent.$Cntnrc-14t8.$inlineContent"><div style="left: 350px; width: 305px; position: absolute; top: 81px;" class="txtNew" id="WRchTxtg-9n7" data-reactid=".0.$SITE_ROOT.$desktop_siteRoot.$SITE_HEADER.$centeredContent.$inlineContent.$Cntnrc-14t8.$inlineContent.$WRchTxtg-9n7"><h1 style="text-align:center;" class="font_0"><a><span class="color_11" dir="rtl">وزارة</span></a></h1>

<h4 style="text-align:center;" class="font_4"><a target="_self"><span class="color_11" dir="rtl">التنمية الادارية</span></a></h4>

</div><div style="left: 472px; position: absolute; top: 11px; width: 61px; height: 60px;" data-exact-height="59.25714285714286" data-content-padding-horizontal="0" data-content-padding-vertical="0" title="" class="wp2" id="WPht1-1e1t" data-reactid=".0.$SITE_ROOT.$desktop_siteRoot.$SITE_HEADER.$centeredContent.$inlineContent.$Cntnrc-14t8.$inlineContent.$WPht1-1e1t"><a style="cursor: pointer; width: 61px; height: 60px;" target="_self" id="WPht1-1e1tlink" class="wp2link" data-reactid=".0.$SITE_ROOT.$desktop_siteRoot.$SITE_HEADER.$centeredContent.$inlineContent.$Cntnrc-14t8.$inlineContent.$WPht1-1e1t.$link"><div id="WPht1-1e1timg" data-style="" class="wp2img" data-reactid=".0.$SITE_ROOT.$desktop_siteRoot.$SITE_HEADER.$centeredContent.$inlineContent.$Cntnrc-14t8.$inlineContent.$WPht1-1e1t.$link.0" style="position: relative; width: 61px; height: 60px;"><div class="wp2imgpreloader" id="WPht1-1e1timgpreloader" data-reactid=".0.$SITE_ROOT.$desktop_siteRoot.$SITE_HEADER.$centeredContent.$inlineContent.$Cntnrc-14t8.$inlineContent.$WPht1-1e1t.$link.0.$preloader"></div><img id="WPht1-1e1timgimage" alt="" data-type="image" data-reactid=".0.$SITE_ROOT.$desktop_siteRoot.$SITE_HEADER.$centeredContent.$inlineContent.$Cntnrc-14t8.$inlineContent.$WPht1-1e1t.$link.0.$image" style="width: 61px; height: 60px; object-fit: contain;" src="../../Images/2000px-Coat_of_arms_of_Syria.svg.png"></div></a></div><div style="left: 654px; position: absolute; top: 85px; width: 163px; height: 26px;" data-exact-height="25.076923076923077" data-content-padding-horizontal="0" data-content-padding-vertical="0" title="" class="wp2" id="WPht2-rw2" data-reactid=".0.$SITE_ROOT.$desktop_siteRoot.$SITE_HEADER.$centeredContent.$inlineContent.$Cntnrc-14t8.$inlineContent.$WPht2-rw2"><div style="width: 163px; height: 26px;" id="WPht2-rw2link" class="wp2link" data-reactid=".0.$SITE_ROOT.$desktop_siteRoot.$SITE_HEADER.$centeredContent.$inlineContent.$Cntnrc-14t8.$inlineContent.$WPht2-rw2.$link"><div id="WPht2-rw2img" data-style="" class="wp2img" data-reactid=".0.$SITE_ROOT.$desktop_siteRoot.$SITE_HEADER.$centeredContent.$inlineContent.$Cntnrc-14t8.$inlineContent.$WPht2-rw2.$link.0" style="position: relative; width: 163px; height: 26px;"><div class="wp2imgpreloader" id="WPht2-rw2imgpreloader" data-reactid=".0.$SITE_ROOT.$desktop_siteRoot.$SITE_HEADER.$centeredContent.$inlineContent.$Cntnrc-14t8.$inlineContent.$WPht2-rw2.$link.0.$preloader"></div>
            
            </div>
            </div>
            </div>
            <div style="left: 184px; position: absolute; top: 85px; width: 163px; height: 26px;" data-exact-height="25.076923076923077" data-content-padding-horizontal="0" data-content-padding-vertical="0" title="" class="wp2" id="WPht3-n21" data-reactid=".0.$SITE_ROOT.$desktop_siteRoot.$SITE_HEADER.$centeredContent.$inlineContent.$Cntnrc-14t8.$inlineContent.$WPht3-n21"><div style="width: 163px; height: 26px;" id="WPht3-n21link" class="wp2link" data-reactid=".0.$SITE_ROOT.$desktop_siteRoot.$SITE_HEADER.$centeredContent.$inlineContent.$Cntnrc-14t8.$inlineContent.$WPht3-n21.$link"><div id="WPht3-n21img" data-style="" class="wp2img" data-reactid=".0.$SITE_ROOT.$desktop_siteRoot.$SITE_HEADER.$centeredContent.$inlineContent.$Cntnrc-14t8.$inlineContent.$WPht3-n21.$link.0" style="position: relative; width: 163px; height: 26px;"><div class="wp2imgpreloader" id="WPht3-n21imgpreloader" data-reactid=".0.$SITE_ROOT.$desktop_siteRoot.$SITE_HEADER.$centeredContent.$inlineContent.$Cntnrc-14t8.$inlineContent.$WPht3-n21.$link.0.$preloader"></div>
            </div>
            </div>
            </div>
            </div></div></div></div></header><footer style="width: 980px; position: absolute; left: 0px; height: 77px; bottom: auto; top: 1563px;" class="fc3_footer fc3" data-state=" " id="SITE_FOOTER" data-reactid=".0.$SITE_ROOT.$desktop_siteRoot.$SITE_FOOTER"><div id="SITE_FOOTERscreenWidthBackground" class="fc3screenWidthBackground" data-reactid=".0.$SITE_ROOT.$desktop_siteRoot.$SITE_FOOTER.$screenWidthBackground" style="width: 1882px; left: -451px;"><div class="fc3_bg" data-reactid=".0.$SITE_ROOT.$desktop_siteRoot.$SITE_FOOTER.$screenWidthBackground.0"></div></div><div id="SITE_FOOTERcenteredContent" class="fc3centeredContent" data-reactid=".0.$SITE_ROOT.$desktop_siteRoot.$SITE_FOOTER.$centeredContent"><div id="SITE_FOOTERbg" class="fc3bg" data-reactid=".0.$SITE_ROOT.$desktop_siteRoot.$SITE_FOOTER.$centeredContent.$bg"></div><div id="SITE_FOOTERinlineContent" class="fc3inlineContent" data-reactid=".0.$SITE_ROOT.$desktop_siteRoot.$SITE_FOOTER.$centeredContent.$inlineContent"><div style="left: 62px; width: 480px; position: absolute; top: 25px;" class="txtNew" id="WRchTxt13" data-reactid=".0.$SITE_ROOT.$desktop_siteRoot.$SITE_FOOTER.$centeredContent.$inlineContent.$WRchTxt13">
            <p style="text-align:left;" class="font_8">© 2017 Developed by Global Learning 
            </p>
            </div>
            
            </div></div></footer><div style="width: 980px; position: absolute; top: 297px; height: 1266px; left: 0px;" class="pc1" data-state="" id="PAGES_CONTAINER" data-reactid=".0.$SITE_ROOT.$desktop_siteRoot.$PAGES_CONTAINER"><div id="PAGES_CONTAINERscreenWidthBackground" class="pc1screenWidthBackground" data-reactid=".0.$SITE_ROOT.$desktop_siteRoot.$PAGES_CONTAINER.$screenWidthBackground" style="width: 1882px; left: -451px;"></div><div id="PAGES_CONTAINERcenteredContent" class="pc1centeredContent" data-reactid=".0.$SITE_ROOT.$desktop_siteRoot.$PAGES_CONTAINER.$centeredContent"><div id="PAGES_CONTAINERbg" class="pc1bg" data-reactid=".0.$SITE_ROOT.$desktop_siteRoot.$PAGES_CONTAINER.$centeredContent.$bg"></div><div id="PAGES_CONTAINERinlineContent" class="pc1inlineContent" data-reactid=".0.$SITE_ROOT.$desktop_siteRoot.$PAGES_CONTAINER.$centeredContent.$inlineContent"><div style="left: 0px; width: 980px; position: absolute; top: 0px; height: 1266px;" class="s_VOwPageGroupSkin" id="SITE_PAGES" data-reactid=".0.$SITE_ROOT.$desktop_siteRoot.$PAGES_CONTAINER.$centeredContent.$inlineContent.$SITE_PAGES"><div style="left: 0px; width: 980px; position: absolute; top: 0px; height: 1266px;" class="p1" id="c16q4" data-reactid=".0.$SITE_ROOT.$desktop_siteRoot.$PAGES_CONTAINER.$centeredContent.$inlineContent.$SITE_PAGES.$c16q4_DESKTOP"><div id="c16q4bg" class="p1bg" data-reactid=".0.$SITE_ROOT.$desktop_siteRoot.$PAGES_CONTAINER.$centeredContent.$inlineContent.$SITE_PAGES.$c16q4_DESKTOP.$bg"></div><div id="c16q4inlineContent" class="p1inlineContent" data-reactid=".0.$SITE_ROOT.$desktop_siteRoot.$PAGES_CONTAINER.$centeredContent.$inlineContent.$SITE_PAGES.$c16q4_DESKTOP.$inlineContent">
          
            <div class="col-md-12 col-sm-12 col-lg-12" style="height:427px;margin-top: 404px;direction:rtl;opacity:0.9;background:white;font-size:2rem;" id="middleDiv">
                <div id="Cntnr4-f99inlineContent" class="c1inlineContent" data-reactid=".0.$SITE_ROOT.$desktop_siteRoot.$PAGES_CONTAINER.$centeredContent.$inlineContent.$SITE_PAGES.$c16q4_DESKTOP.$inlineContent.$Cntnr4-f99.$inlineContent">
                    <div style="/* left: 23px; */width: 100%;position: absolute;top: 156px;height: 151px;" class="cf2" data-state="field3Hidden field4Hidden desktop left" id="CntctFrm1-3rp" data-reactid=".0.$SITE_ROOT.$desktop_siteRoot.$PAGES_CONTAINER.$centeredContent.$inlineContent.$SITE_PAGES.$c16q4_DESKTOP.$inlineContent.$Cntnr4-f99.$inlineContent.$CntctFrm1-3rp" data-dcf-columns="3">
                        <div class="row col-md-12">

                            <div class="col-md-5" style="background-color:darkorange;font-size:18px;text-align: center;color:white;height: 74px;border: 2px solid;border-radius: 13px;bottom: 22px;">

                                <div class="form-group" style="width:100%;padding: 4px;">
                                    <p>سوا لمكافحة الفساد</p>
                                    <button class="istimaraOrangeButton istimara fasad" style="font-size:14px;margin-top: 29px;border: 2px solid;border-radius: 13px;background-color:darkorange;width:98%;margin-right:1%;">إملأ الإستمارة</button>
                                </div>
                            </div>
                            <div class="col-md-2"></div>

                            <div class="col-md-5" style="background-color:red;font-size:18px;text-align: center;color:white;height: 74px;border: 2px solid;border-radius: 13px;bottom: 22px;">
                                <div class="form-group" style="width:100%;padding: 4px;">
                                    <p>رضا المواطن</p>
                                </div>
                                <button class="istimaraRedButton istimara ridamouwaten" style="font-size:14px;margin-top: 31px;border: 2px solid;border-radius: 13px;background-color:red;width:98%;margin-right:1%;">إملأ الإستمارة</button>
                            </div>


                        </div>
                        <br />
                        <div class="row col-md-12">
                            <div class="col-md-5" style="background-color:blue;font-size:18px;text-align: center;color:white;height: 76px;border: 2px solid;border-radius: 13px;bottom:21px;left: 29%;">
                                <div class="form-group" style="width:100%;padding: 4px;">
                                    <p>رضا الموظف</p>
                                </div>
                                <button class="istimaraBlueButton istimara ridamouwazaf" style="font-size:14px;width:98%;margin-right:1%;margin-top: 30px;border: 2px solid;border-radius: 13px;background-color:blue;">إملأ الإستمارة</button>
                            </div>
                        </div>
                        <br />


                        <div class="row col-md-12">

                            <div class="col-md-5" style="background-color:deeppink;font-size:18px;text-align: center;color:white;height: 73px;border: 2px solid;border-radius: 13px;bottom: 21px;">
                                <div class="form-group" style="width:100%;padding: 4px;">
                                    <p>معاً لثبوتيات أقل</p>
                                </div>
                                <button class="istimaraPinkButton istimara souboutyat" style="font-size:14px;width:98%;margin-right:1%;margin-top: 29px;border: 2px solid;border-radius: 13px;background-color:deeppink;">إملأ الإستمارة</button>
                            </div>

                            <div class="col-md-2"></div>

                            <div class="col-md-5" style="background-color:dimgray;font-size:17px;text-align: center;color:white;height: 73px;border: 2px solid;border-radius: 13px;bottom: 21px;">
                                <div class="form-group" style="width:100%;">
                                    <p>معاً لتبسيط الإجراءت</p>
                                </div>
                                <button class="istimaraGreyButton istimara" style="font-size:15px;width:98%;margin-right:1%;margin-top: 29px;border: 2px solid;border-radius: 13px;background-color:dimgray;">إملأ الإستمارة</button>
                            </div>


                        </div>


                    </div>

                    <div style="width: 196px; left: 119px; position: absolute; top: 356px; height: 32px;" class="lb1" id="LnkBr2-ra5" data-reactid=".0.$SITE_ROOT.$desktop_siteRoot.$PAGES_CONTAINER.$centeredContent.$inlineContent.$SITE_PAGES.$c16q4_DESKTOP.$inlineContent.$Cntnr4-f99.$inlineContent.$LnkBr2-ra5">
                        <ul aria-label="Social bar" id="LnkBr2-ra5itemsContainer" class="lb1itemsContainer" data-reactid=".0.$SITE_ROOT.$desktop_siteRoot.$PAGES_CONTAINER.$centeredContent.$inlineContent.$SITE_PAGES.$c16q4_DESKTOP.$inlineContent.$Cntnr4-f99.$inlineContent.$LnkBr2-ra5.$itemsContainer"></ul>
                    </div>


                    <div style="left: 42px; width: 925px; position: absolute; top: 12px;" class="txtNew" id="WRchTxt0-xy0" data-reactid=".0.$SITE_ROOT.$desktop_siteRoot.$PAGES_CONTAINER.$centeredContent.$inlineContent.$SITE_PAGES.$c16q4_DESKTOP.$inlineContent.$Cntnr4-f99.$inlineContent.$WRchTxt0-xy0">
                        <h6 style="text-align:center; line-height:1.3em;" class="font_6"><span class="color_19" dir="rtl"><span style="line-height:1.3em;color:orange" dir="rtl">كن جزءا من</span></span></h6>

                        <h1 style="text-align:center; line-height:1.3em;" class="font_0"><span style="line-height:1.3em;">مجتمع أفضل</span></h1>

                        <h6 style="text-align:center; line-height:1.3em;" class="font_6"><span class="color_19"><span style="line-height:1.3em;color:orange">اشترك و اطلعنا عن رايك</span></span></h6>
                    </div>
                </div>
                @*<span class="font_6" style="color:black; font-weight:bold;">
                    <span class="font_5" style="color:orange;margin-right:39%;">معلومات عن الموقع:</span>
                    <br />
                    <span class="font_6">
                        يتم إنشاء هذا الموقع للسماح للمواطنين للوصول إلى وأصواتهم مسموعة ضد الفسادالمزيد من النص المزيد من النص المزيد من النص المزيد من النص المزيد من النص المزيد من النص المزيد من النص المزيد من النص.<a style="color:black;font-size:16px;" id="readmoreBtn"><u>المزيد من النص</u></a><span style="display:none;" id="readmoreText"> المزيد من النص المزيد من النص المزيد من النص المزيد من النص المزيد من النص المزيد من النص المزيد من النص المزيد من النص</span>
                    </span>
                </span>*@
            </div>

            <div style="left: 1px; width: 980px; position: absolute; top: 779px; height: 825px;margin-top:70px;" class="c1" id="Cntnr5-wp" data-reactid=".0.$SITE_ROOT.$desktop_siteRoot.$PAGES_CONTAINER.$centeredContent.$inlineContent.$SITE_PAGES.$c16q4_DESKTOP.$inlineContent.$Cntnr5-wp">
            <div id="Cntnr5-wpbg" class="c1bg" data-reactid=".0.$SITE_ROOT.$desktop_siteRoot.$PAGES_CONTAINER.$centeredContent.$inlineContent.$SITE_PAGES.$c16q4_DESKTOP.$inlineContent.$Cntnr5-wp.$bg"></div>
            <div id="Cntnr5-wpinlineContent" class="c1inlineContent" data-reactid=".0.$SITE_ROOT.$desktop_siteRoot.$PAGES_CONTAINER.$centeredContent.$inlineContent.$SITE_PAGES.$c16q4_DESKTOP.$inlineContent.$Cntnr5-wp.$inlineContent"><div style="left: 13px; width: 955px; position: absolute; top: 35px;" class="txtNew" id="WRchTxt6-18h5" data-reactid=".0.$SITE_ROOT.$desktop_siteRoot.$PAGES_CONTAINER.$centeredContent.$inlineContent.$SITE_PAGES.$c16q4_DESKTOP.$inlineContent.$Cntnr5-wp.$inlineContent.$WRchTxt6-18h5">
            <h5 class="font_5" style="text-align:center;color:orange" dir="rtl">التصنيف الحالي للوزارات:</h5>

<h5 class="font_5" style="text-align:center;" dir="rtl">
    <span style="font-weight:bold;color:orange" dir="rtl">وفقا لوجهة نظر المواطن</span>
</h5>
</div><div style="left: 350px; width: 70px; position: absolute; top: 164px; height: 70px;" class="c2" id="Cntnr6-yy1" data-reactid=".0.$SITE_ROOT.$desktop_siteRoot.$PAGES_CONTAINER.$centeredContent.$inlineContent.$SITE_PAGES.$c16q4_DESKTOP.$inlineContent.$Cntnr5-wp.$inlineContent.$Cntnr6-yy1"><div id="Cntnr6-yy1bg" class="c2bg"  data-reactid=".0.$SITE_ROOT.$desktop_siteRoot.$PAGES_CONTAINER.$centeredContent.$inlineContent.$SITE_PAGES.$c16q4_DESKTOP.$inlineContent.$Cntnr5-wp.$inlineContent.$Cntnr6-yy1.$bg"></div><div id="Cntnr6-yy1inlineContent" class="c2inlineContent" data-reactid=".0.$SITE_ROOT.$desktop_siteRoot.$PAGES_CONTAINER.$centeredContent.$inlineContent.$SITE_PAGES.$c16q4_DESKTOP.$inlineContent.$Cntnr5-wp.$inlineContent.$Cntnr6-yy1.$inlineContent"><div style="left: 5px; width: 49px; position: absolute; top: 12px;" class="txtNew" id="WRchTxt7-zcy" data-reactid=".0.$SITE_ROOT.$desktop_siteRoot.$PAGES_CONTAINER.$centeredContent.$inlineContent.$SITE_PAGES.$c16q4_DESKTOP.$inlineContent.$Cntnr5-wp.$inlineContent.$Cntnr6-yy1.$inlineContent.$WRchTxt7-zcy"><h4 class="font_4" style="text-align:right;"><span class="color_19">0</span>4</h4>
</div></div></div><div style="left: 25px; width: 295px; position: absolute; top: 160px;" class="txtNew" id="WRchTxt8-7j3" data-reactid=".0.$SITE_ROOT.$desktop_siteRoot.$PAGES_CONTAINER.$centeredContent.$inlineContent.$SITE_PAGES.$c16q4_DESKTOP.$inlineContent.$Cntnr5-wp.$inlineContent.$WRchTxt8-7j3"><h6 class="font_6">وزارة االتنمية الادارية</h6>

<p class="font_7">&nbsp;</p>

<p class="font_8" dir="rtl">أنا فقرة. انقر هنا لإضافة النص الخاص بك وتحرير لي. من السهل. فقط انقر فوق "تحرير النص" أو انقر نقرا مزدوجا لي لإضافة المحتوى الخاص بك وإجراء تغييرات على الخط.
</p>
</div><div style="left: 350px; width: 70px; position: absolute; top: 378px; height: 70px;" class="c2" id="Cntnr7-10v0" data-reactid=".0.$SITE_ROOT.$desktop_siteRoot.$PAGES_CONTAINER.$centeredContent.$inlineContent.$SITE_PAGES.$c16q4_DESKTOP.$inlineContent.$Cntnr5-wp.$inlineContent.$Cntnr7-10v0"><div id="Cntnr7-10v0bg" class="c2bg" data-reactid=".0.$SITE_ROOT.$desktop_siteRoot.$PAGES_CONTAINER.$centeredContent.$inlineContent.$SITE_PAGES.$c16q4_DESKTOP.$inlineContent.$Cntnr5-wp.$inlineContent.$Cntnr7-10v0.$bg"></div><div id="Cntnr7-10v0inlineContent" class="c2inlineContent" data-reactid=".0.$SITE_ROOT.$desktop_siteRoot.$PAGES_CONTAINER.$centeredContent.$inlineContent.$SITE_PAGES.$c16q4_DESKTOP.$inlineContent.$Cntnr5-wp.$inlineContent.$Cntnr7-10v0.$inlineContent"><div style="left: 8px; width: 49px; position: absolute; top: 12px;" class="txtNew" id="WRchTxta-30b" data-reactid=".0.$SITE_ROOT.$desktop_siteRoot.$PAGES_CONTAINER.$centeredContent.$inlineContent.$SITE_PAGES.$c16q4_DESKTOP.$inlineContent.$Cntnr5-wp.$inlineContent.$Cntnr7-10v0.$inlineContent.$WRchTxta-30b"><h4 class="font_4" style="text-align:right;"><span class="color_19">0</span>5</h4>
</div></div></div><div style="left: 350px; width: 70px; position: absolute; top: 604px; height: 70px;" class="c2" id="Cntnr8-p65" data-reactid=".0.$SITE_ROOT.$desktop_siteRoot.$PAGES_CONTAINER.$centeredContent.$inlineContent.$SITE_PAGES.$c16q4_DESKTOP.$inlineContent.$Cntnr5-wp.$inlineContent.$Cntnr8-p65"><div id="Cntnr8-p65bg" class="c2bg" data-reactid=".0.$SITE_ROOT.$desktop_siteRoot.$PAGES_CONTAINER.$centeredContent.$inlineContent.$SITE_PAGES.$c16q4_DESKTOP.$inlineContent.$Cntnr5-wp.$inlineContent.$Cntnr8-p65.$bg"></div><div id="Cntnr8-p65inlineContent" class="c2inlineContent" data-reactid=".0.$SITE_ROOT.$desktop_siteRoot.$PAGES_CONTAINER.$centeredContent.$inlineContent.$SITE_PAGES.$c16q4_DESKTOP.$inlineContent.$Cntnr5-wp.$inlineContent.$Cntnr8-p65.$inlineContent"><div style="left: 7px; width: 49px; position: absolute; top: 12px;" class="txtNew" id="WRchTxtb-ie6" data-reactid=".0.$SITE_ROOT.$desktop_siteRoot.$PAGES_CONTAINER.$centeredContent.$inlineContent.$SITE_PAGES.$c16q4_DESKTOP.$inlineContent.$Cntnr5-wp.$inlineContent.$Cntnr8-p65.$inlineContent.$WRchTxtb-ie6"><h4 class="font_4" style="text-align:right;"><span class="color_19">0</span>6</h4>
</div></div></div><div style="left: 850px; width: 70px; position: absolute; top: 164px; height: 70px;" class="c2" id="Cntnr9-13b6" data-reactid=".0.$SITE_ROOT.$desktop_siteRoot.$PAGES_CONTAINER.$centeredContent.$inlineContent.$SITE_PAGES.$c16q4_DESKTOP.$inlineContent.$Cntnr5-wp.$inlineContent.$Cntnr9-13b6"><div id="Cntnr9-13b6bg" class="c2bg" data-reactid=".0.$SITE_ROOT.$desktop_siteRoot.$PAGES_CONTAINER.$centeredContent.$inlineContent.$SITE_PAGES.$c16q4_DESKTOP.$inlineContent.$Cntnr5-wp.$inlineContent.$Cntnr9-13b6.$bg"></div><div id="Cntnr9-13b6inlineContent" class="c2inlineContent" data-reactid=".0.$SITE_ROOT.$desktop_siteRoot.$PAGES_CONTAINER.$centeredContent.$inlineContent.$SITE_PAGES.$c16q4_DESKTOP.$inlineContent.$Cntnr5-wp.$inlineContent.$Cntnr9-13b6.$inlineContent"><div style="left: 11px; width: 49px; position: absolute; top: 12px;" class="txtNew" id="WRchTxtc-13on" data-reactid=".0.$SITE_ROOT.$desktop_siteRoot.$PAGES_CONTAINER.$centeredContent.$inlineContent.$SITE_PAGES.$c16q4_DESKTOP.$inlineContent.$Cntnr5-wp.$inlineContent.$Cntnr9-13b6.$inlineContent.$WRchTxtc-13on"><h4 class="font_4" style="text-align:right;"><span class="color_19">0</span>1</h4>
</div></div></div><div style="left: 530px; width: 295px; position: absolute; top: 160px;" class="txtNew" id="WRchTxtd-18fz" data-reactid=".0.$SITE_ROOT.$desktop_siteRoot.$PAGES_CONTAINER.$centeredContent.$inlineContent.$SITE_PAGES.$c16q4_DESKTOP.$inlineContent.$Cntnr5-wp.$inlineContent.$WRchTxtd-18fz"><h6 class="font_6">وزارة االتنمية الادارية</h6>

<p class="font_7">&nbsp;</p>

<p class="font_8" dir="rtl">أنا فقرة. انقر هنا لإضافة النص الخاص بك وتحرير لي. من السهل. فقط انقر فوق "تحرير النص" أو انقر نقرا مزدوجا لي لإضافة المحتوى الخاص بك وإجراء تغييرات على الخط.
</p>
</div><div style="left: 850px; width: 70px; position: absolute; top: 378px; height: 70px;" class="c2" id="Cntnra-1auj" data-reactid=".0.$SITE_ROOT.$desktop_siteRoot.$PAGES_CONTAINER.$centeredContent.$inlineContent.$SITE_PAGES.$c16q4_DESKTOP.$inlineContent.$Cntnr5-wp.$inlineContent.$Cntnra-1auj"><div id="Cntnra-1aujbg" class="c2bg" data-reactid=".0.$SITE_ROOT.$desktop_siteRoot.$PAGES_CONTAINER.$centeredContent.$inlineContent.$SITE_PAGES.$c16q4_DESKTOP.$inlineContent.$Cntnr5-wp.$inlineContent.$Cntnra-1auj.$bg"></div><div id="Cntnra-1aujinlineContent" class="c2inlineContent" data-reactid=".0.$SITE_ROOT.$desktop_siteRoot.$PAGES_CONTAINER.$centeredContent.$inlineContent.$SITE_PAGES.$c16q4_DESKTOP.$inlineContent.$Cntnr5-wp.$inlineContent.$Cntnra-1auj.$inlineContent"><div style="left: 11px; width: 49px; position: absolute; top: 12px;" class="txtNew" id="WRchTxte-l6d" data-reactid=".0.$SITE_ROOT.$desktop_siteRoot.$PAGES_CONTAINER.$centeredContent.$inlineContent.$SITE_PAGES.$c16q4_DESKTOP.$inlineContent.$Cntnr5-wp.$inlineContent.$Cntnra-1auj.$inlineContent.$WRchTxte-l6d"><h4 class="font_4" style="text-align:right;"><span class="color_19">0</span>2</h4>
</div></div></div><div style="left: 850px; width: 70px; position: absolute; top: 604px; height: 70px;" class="c2" id="Cntnrb-l6d" data-reactid=".0.$SITE_ROOT.$desktop_siteRoot.$PAGES_CONTAINER.$centeredContent.$inlineContent.$SITE_PAGES.$c16q4_DESKTOP.$inlineContent.$Cntnr5-wp.$inlineContent.$Cntnrb-l6d"><div id="Cntnrb-l6dbg" class="c2bg" data-reactid=".0.$SITE_ROOT.$desktop_siteRoot.$PAGES_CONTAINER.$centeredContent.$inlineContent.$SITE_PAGES.$c16q4_DESKTOP.$inlineContent.$Cntnr5-wp.$inlineContent.$Cntnrb-l6d.$bg"></div><div id="Cntnrb-l6dinlineContent" class="c2inlineContent" data-reactid=".0.$SITE_ROOT.$desktop_siteRoot.$PAGES_CONTAINER.$centeredContent.$inlineContent.$SITE_PAGES.$c16q4_DESKTOP.$inlineContent.$Cntnr5-wp.$inlineContent.$Cntnrb-l6d.$inlineContent"><div style="left: 11px; width: 49px; position: absolute; top: 12px;" class="txtNew" id="WRchTxtf-kzl" data-reactid=".0.$SITE_ROOT.$desktop_siteRoot.$PAGES_CONTAINER.$centeredContent.$inlineContent.$SITE_PAGES.$c16q4_DESKTOP.$inlineContent.$Cntnr5-wp.$inlineContent.$Cntnrb-l6d.$inlineContent.$WRchTxtf-kzl"><h4 class="font_4" style="text-align:right;"><span class="color_19">0</span>3</h4>
</div></div></div><div style="left: 60px; width: 820px; position: absolute; top: 131px; height: 5px;" class="hl1" id="FvGrdLn1-7fd" data-reactid=".0.$SITE_ROOT.$desktop_siteRoot.$PAGES_CONTAINER.$centeredContent.$inlineContent.$SITE_PAGES.$c16q4_DESKTOP.$inlineContent.$Cntnr5-wp.$inlineContent.$FvGrdLn1-7fd"><div id="FvGrdLn1-7fdline" class="hl1line" data-reactid=".0.$SITE_ROOT.$desktop_siteRoot.$PAGES_CONTAINER.$centeredContent.$inlineContent.$SITE_PAGES.$c16q4_DESKTOP.$inlineContent.$Cntnr5-wp.$inlineContent.$FvGrdLn1-7fd.$line"></div></div><div style="left:25px; width: 305px; position: absolute; top: 374px;" class="txtNew" id="WRchTxti-edv" data-reactid=".0.$SITE_ROOT.$desktop_siteRoot.$PAGES_CONTAINER.$centeredContent.$inlineContent.$SITE_PAGES.$c16q4_DESKTOP.$inlineContent.$Cntnr5-wp.$inlineContent.$WRchTxti-edv"><h6 class="font_6">وزارة االتنمية الادارية</h6>

<p class="font_7">&nbsp;</p>

<p class="font_8" dir="rtl">أنا فقرة. انقر هنا لإضافة النص الخاص بك وتحرير لي. من السهل. فقط انقر فوق "تحرير النص" أو انقر نقرا مزدوجا لي لإضافة المحتوى الخاص بك وإجراء تغييرات على الخط.
</p>
</div><div style="left:25px; width: 295px; position: absolute; top: 600px;" class="txtNew" id="WRchTxtj-dxe" data-reactid=".0.$SITE_ROOT.$desktop_siteRoot.$PAGES_CONTAINER.$centeredContent.$inlineContent.$SITE_PAGES.$c16q4_DESKTOP.$inlineContent.$Cntnr5-wp.$inlineContent.$WRchTxtj-dxe"><h6 class="font_6">وزارة االتنمية الادارية</h6>

<p class="font_7">&nbsp;</p>

<p class="font_8" dir="rtl">أنا فقرة. انقر هنا لإضافة النص الخاص بك وتحرير لي. من السهل. فقط انقر فوق "تحرير النص" أو انقر نقرا مزدوجا لي لإضافة المحتوى الخاص بك وإجراء تغييرات على الخط.
</p>
</div><div style="left: 530px; width: 295px; position: absolute; top: 373px;" class="txtNew" id="WRchTxtk-il2" data-reactid=".0.$SITE_ROOT.$desktop_siteRoot.$PAGES_CONTAINER.$centeredContent.$inlineContent.$SITE_PAGES.$c16q4_DESKTOP.$inlineContent.$Cntnr5-wp.$inlineContent.$WRchTxtk-il2"><h6 class="font_6">وزارة االتنمية الادارية</h6>

<p class="font_7">&nbsp;</p>

<p class="font_8">أنا فقرة. انقر هنا لإضافة النص الخاص بك وتحرير لي. من السهل. فقط انقر فوق "تحرير النص" أو انقر نقرا مزدوجا لي لإضافة المحتوى الخاص بك وإجراء تغييرات على الخط.
</p>
</div><div style="left:530px; width: 295px; position: absolute; top: 600px;" class="txtNew" id="WRchTxtl-19bk" data-reactid=".0.$SITE_ROOT.$desktop_siteRoot.$PAGES_CONTAINER.$centeredContent.$inlineContent.$SITE_PAGES.$c16q4_DESKTOP.$inlineContent.$Cntnr5-wp.$inlineContent.$WRchTxtl-19bk"><h6 class="font_6">وزارة االتنمية الادارية</h6>

<p class="font_7">&nbsp;</p>

<p class="font_8" dir="rtl">أنا فقرة. انقر هنا لإضافة النص الخاص بك وتحرير لي. من السهل. فقط انقر فوق "تحرير النص" أو انقر نقرا مزدوجا لي لإضافة المحتوى الخاص بك وإجراء تغييرات على الخط.
</p>
</div>
            <div style="left: 60px; width: 820px; position: absolute; top: 810px; height: 5px;" class="hl1" id="FvGrdLn2-15km" data-reactid=".0.$SITE_ROOT.$desktop_siteRoot.$PAGES_CONTAINER.$centeredContent.$inlineContent.$SITE_PAGES.$c16q4_DESKTOP.$inlineContent.$Cntnr5-wp.$inlineContent.$FvGrdLn2-15km"><div id="FvGrdLn2-15kmline" class="hl1line" data-reactid=".0.$SITE_ROOT.$desktop_siteRoot.$PAGES_CONTAINER.$centeredContent.$inlineContent.$SITE_PAGES.$c16q4_DESKTOP.$inlineContent.$Cntnr5-wp.$inlineContent.$FvGrdLn2-15km.$line"></div></div></div>
            </div>
            
            
            <div style="left: 0px; width: 530px; position: absolute; top: 0px; height: 398px;" class="c1" id="Cntnrd-jho" data-reactid=".0.$SITE_ROOT.$desktop_siteRoot.$PAGES_CONTAINER.$centeredContent.$inlineContent.$SITE_PAGES.$c16q4_DESKTOP.$inlineContent.$Cntnrd-jho">
            <div id="Cntnrd-jhobg" class="c1bg" data-reactid=".0.$SITE_ROOT.$desktop_siteRoot.$PAGES_CONTAINER.$centeredContent.$inlineContent.$SITE_PAGES.$c16q4_DESKTOP.$inlineContent.$Cntnrd-jho.$bg"></div>
            <div id="Cntnrd-jhoinlineContent" class="c1inlineContent" data-reactid=".0.$SITE_ROOT.$desktop_siteRoot.$PAGES_CONTAINER.$centeredContent.$inlineContent.$SITE_PAGES.$c16q4_DESKTOP.$inlineContent.$Cntnrd-jho.$inlineContent">
                <div style="overflow: hidden; left: 15px; position: absolute; top: 0px; height: 381px; width: 500px;" data-gallery-id="SldShwGllry1-xt8" data-height-diff="0" data-width-diff="0" class="ssg1" data-state="hidePlayButton autoplayOn notMobile desktopView touchRollOut animationInProcess" id="SldShwGllry1-xt8" data-reactid=".0.$SITE_ROOT.$desktop_siteRoot.$PAGES_CONTAINER.$centeredContent.$inlineContent.$SITE_PAGES.$c16q4_DESKTOP.$inlineContent.$Cntnrd-jho.$inlineContent.$SldShwGllry1-xt8">
                <div class="ssg1_border" data-reactid=".0.$SITE_ROOT.$desktop_siteRoot.$PAGES_CONTAINER.$centeredContent.$inlineContent.$SITE_PAGES.$c16q4_DESKTOP.$inlineContent.$Cntnrd-jho.$inlineContent.$SldShwGllry1-xt8.0"></div>
                <div style="height: 100%; z-index: 0;" data-gallery-id="SldShwGllry1-xt8" id="SldShwGllry1-xt8itemsContainer" class="ssg1itemsContainer" data-reactid=".0.$SITE_ROOT.$desktop_siteRoot.$PAGES_CONTAINER.$centeredContent.$inlineContent.$SITE_PAGES.$c16q4_DESKTOP.$inlineContent.$Cntnrd-jho.$inlineContent.$SldShwGllry1-xt8.$itemsContainer">
                    <div data-image-index="1" data-displayer-width="1200" data-displayer-height="800" data-displayer-uri="41d000_08b350fac50be46a068aa3ce2ea594d7.jpg" data-height-diff="0" data-width-diff="0" data-bottom-gap="0" data-image-wrapper-right="2" data-image-wrapper-left="2" data-image-wrapper-top="2" data-image-wrapper-bottom="2" data-margin-to-container="0" itemscope="" itemtype="http://schema.org/ImageObject" style="position: absolute; left: 0px; top: 0px; transform: translate3d(365.041px, 0px, 0px); visibility: inherit; opacity: 1; height: 381px; width: 500px;" class="ssg1imageItem" data-state="notShowPanel desktopView  unselected clipImage transIn normal noLink" id="SldShwGllry1-xt8i18ng" data-reactid=".0.$SITE_ROOT.$desktop_siteRoot.$PAGES_CONTAINER.$centeredContent.$inlineContent.$SITE_PAGES.$c16q4_DESKTOP.$inlineContent.$Cntnrd-jho.$inlineContent.$SldShwGllry1-xt8.$itemsContainer.$i18ng">
                    <div draggable="false" style="cursor:default;height:100%;width:100%;position:absolute;top:0px;left:0px;user-select:none;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-drag:none;-webkit-user-drag:none;-moz-user-drag:none;-ms-user-drag:none;user-modify:read-only;-webkit-user-modify:read-only;-moz-user-modify:read-only;-ms-user-modify:read-only;" data-page-item-context="coad" data-gallery-id="SldShwGllry1-xt8" id="SldShwGllry1-xt8i18nglink" class="ssg1imageItemlink" data-reactid=".0.$SITE_ROOT.$desktop_siteRoot.$PAGES_CONTAINER.$centeredContent.$inlineContent.$SITE_PAGES.$c16q4_DESKTOP.$inlineContent.$Cntnrd-jho.$inlineContent.$SldShwGllry1-xt8.$itemsContainer.$i18ng.$link">
                        <div style="height: 381px; width: 500px; margin: 0px;" id="SldShwGllry1-xt8i18ngimageWrapper" class="ssg1imageItemimageWrapper" data-reactid=".0.$SITE_ROOT.$desktop_siteRoot.$PAGES_CONTAINER.$centeredContent.$inlineContent.$SITE_PAGES.$c16q4_DESKTOP.$inlineContent.$Cntnrd-jho.$inlineContent.$SldShwGllry1-xt8.$itemsContainer.$i18ng.$link.$imageWrapper">
                        <div style="cursor:default;" id="SldShwGllry1-xt8i18ngzoom" class="ssg1imageItemzoom" data-reactid=".0.$SITE_ROOT.$desktop_siteRoot.$PAGES_CONTAINER.$centeredContent.$inlineContent.$SITE_PAGES.$c16q4_DESKTOP.$inlineContent.$Cntnrd-jho.$inlineContent.$SldShwGllry1-xt8.$itemsContainer.$i18ng.$link.$imageWrapper.$zoom">
                            <div id="SldShwGllry1-xt8i18ngimage" style="position: relative; width: 496px; height: 377px; overflow: hidden;" data-style="position:relative;overflow:hidden" class="ssg1imageItemimage" data-reactid=".0.$SITE_ROOT.$desktop_siteRoot.$PAGES_CONTAINER.$centeredContent.$inlineContent.$SITE_PAGES.$c16q4_DESKTOP.$inlineContent.$Cntnrd-jho.$inlineContent.$SldShwGllry1-xt8.$itemsContainer.$i18ng.$link.$imageWrapper.$zoom.0">
                            <div class="ssg1imageItemimagepreloader" id="SldShwGllry1-xt8i18ngimagepreloader" data-reactid=".0.$SITE_ROOT.$desktop_siteRoot.$PAGES_CONTAINER.$centeredContent.$inlineContent.$SITE_PAGES.$c16q4_DESKTOP.$inlineContent.$Cntnrd-jho.$inlineContent.$SldShwGllry1-xt8.$itemsContainer.$i18ng.$link.$imageWrapper.$zoom.0.$preloader"></div>
                            <img id="SldShwGllry1-xt8i18ngimageimage" alt="" data-type="image" itemprop="contentUrl" data-reactid=".0.$SITE_ROOT.$desktop_siteRoot.$PAGES_CONTAINER.$centeredContent.$inlineContent.$SITE_PAGES.$c16q4_DESKTOP.$inlineContent.$Cntnrd-jho.$inlineContent.$SldShwGllry1-xt8.$itemsContainer.$i18ng.$link.$imageWrapper.$zoom.0.$image" style="width: 496px; height: 377px; object-fit: cover;" src="../../Images/moad/41d000_08b350fac50be46a068aa3ce2ea594d7.jpg">
                            </div></div></div>
                        <div id="SldShwGllry1-xt8i18ngpanel" class="ssg1imageItem_pnl ssg1imageItempanel" data-reactid=".0.$SITE_ROOT.$desktop_siteRoot.$PAGES_CONTAINER.$centeredContent.$inlineContent.$SITE_PAGES.$c16q4_DESKTOP.$inlineContent.$Cntnrd-jho.$inlineContent.$SldShwGllry1-xt8.$itemsContainer.$i18ng.$link.$panel"><h3 aria-hidden="true" style="text-align:left;" itemprop="name" id="SldShwGllry1-xt8i18ngtitle" class="ssg1imageItemtitle" data-reactid=".0.$SITE_ROOT.$desktop_siteRoot.$PAGES_CONTAINER.$centeredContent.$inlineContent.$SITE_PAGES.$c16q4_DESKTOP.$inlineContent.$Cntnrd-jho.$inlineContent.$SldShwGllry1-xt8.$itemsContainer.$i18ng.$link.$panel.$title"></h3><p id="SldShwGllry1-xt8i18ngDescription" style="text-align:left;" itemprop="description" class="ssg1imageItemdescription" data-reactid=".0.$SITE_ROOT.$desktop_siteRoot.$PAGES_CONTAINER.$centeredContent.$inlineContent.$SITE_PAGES.$c16q4_DESKTOP.$inlineContent.$Cntnrd-jho.$inlineContent.$SldShwGllry1-xt8.$itemsContainer.$i18ng.$link.$panel.$description"></p></div>
                        </div></div>
                    <div data-image-index="2" data-displayer-width="2160" data-displayer-height="1727" data-displayer-uri="41d000_2147f1aef73cde3d9d44f7bd05ed06d3.jpg" data-height-diff="0" data-width-diff="0" data-bottom-gap="0" data-image-wrapper-right="2" data-image-wrapper-left="2" data-image-wrapper-top="2" data-image-wrapper-bottom="2" data-margin-to-container="0" itemscope="" itemtype="" style="position: absolute; left: 0px; top: 0px; transform: matrix(1, 0, 0, 1, -500, 0); visibility: hidden; opacity: 0; height: 381px; width: 500px;" class="ssg1imageItem" data-state="notShowPanel desktopView  unselected clipImage noTransition normal noLink" id="SldShwGllry1-xt8i21wjd" data-reactid=".0.$SITE_ROOT.$desktop_siteRoot.$PAGES_CONTAINER.$centeredContent.$inlineContent.$SITE_PAGES.$c16q4_DESKTOP.$inlineContent.$Cntnrd-jho.$inlineContent.$SldShwGllry1-xt8.$itemsContainer.$i21wjd"><div draggable="false" style="cursor:default;height:100%;width:100%;position:absolute;top:0px;left:0px;user-select:none;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-drag:none;-webkit-user-drag:none;-moz-user-drag:none;-ms-user-drag:none;user-modify:read-only;-webkit-user-modify:read-only;-moz-user-modify:read-only;-ms-user-modify:read-only;" data-page-item-context="coad" data-gallery-id="SldShwGllry1-xt8" id="SldShwGllry1-xt8i21wjdlink" class="ssg1imageItemlink" data-reactid=".0.$SITE_ROOT.$desktop_siteRoot.$PAGES_CONTAINER.$centeredContent.$inlineContent.$SITE_PAGES.$c16q4_DESKTOP.$inlineContent.$Cntnrd-jho.$inlineContent.$SldShwGllry1-xt8.$itemsContainer.$i21wjd.$link"><div style="height: 381px; width: 500px; margin: 0px;" id="SldShwGllry1-xt8i21wjdimageWrapper" class="ssg1imageItemimageWrapper" data-reactid=".0.$SITE_ROOT.$desktop_siteRoot.$PAGES_CONTAINER.$centeredContent.$inlineContent.$SITE_PAGES.$c16q4_DESKTOP.$inlineContent.$Cntnrd-jho.$inlineContent.$SldShwGllry1-xt8.$itemsContainer.$i21wjd.$link.$imageWrapper"><div style="cursor:default;" id="SldShwGllry1-xt8i21wjdzoom" class="ssg1imageItemzoom" data-reactid=".0.$SITE_ROOT.$desktop_siteRoot.$PAGES_CONTAINER.$centeredContent.$inlineContent.$SITE_PAGES.$c16q4_DESKTOP.$inlineContent.$Cntnrd-jho.$inlineContent.$SldShwGllry1-xt8.$itemsContainer.$i21wjd.$link.$imageWrapper.$zoom"><div id="SldShwGllry1-xt8i21wjdimage" style="position: relative; width: 496px; height: 377px; overflow: hidden;" data-style="position:relative;overflow:hidden" class="ssg1imageItemimage" data-reactid=".0.$SITE_ROOT.$desktop_siteRoot.$PAGES_CONTAINER.$centeredContent.$inlineContent.$SITE_PAGES.$c16q4_DESKTOP.$inlineContent.$Cntnrd-jho.$inlineContent.$SldShwGllry1-xt8.$itemsContainer.$i21wjd.$link.$imageWrapper.$zoom.0"><div class="ssg1imageItemimagepreloader" id="SldShwGllry1-xt8i21wjdimagepreloader" data-reactid=".0.$SITE_ROOT.$desktop_siteRoot.$PAGES_CONTAINER.$centeredContent.$inlineContent.$SITE_PAGES.$c16q4_DESKTOP.$inlineContent.$Cntnrd-jho.$inlineContent.$SldShwGllry1-xt8.$itemsContainer.$i21wjd.$link.$imageWrapper.$zoom.0.$preloader"></div><img id="SldShwGllry1-xt8i21wjdimageimage" alt="" data-type="image" itemprop="contentUrl" data-reactid=".0.$SITE_ROOT.$desktop_siteRoot.$PAGES_CONTAINER.$centeredContent.$inlineContent.$SITE_PAGES.$c16q4_DESKTOP.$inlineContent.$Cntnrd-jho.$inlineContent.$SldShwGllry1-xt8.$itemsContainer.$i21wjd.$link.$imageWrapper.$zoom.0.$image" style="width: 496px; height: 377px; object-fit: cover;" src="../../Images/moad/41d000_2147f1aef73cde3d9d44f7bd05ed06d3.jpg"></div></div></div><div id="SldShwGllry1-xt8i21wjdpanel" class="ssg1imageItem_pnl ssg1imageItempanel" data-reactid=".0.$SITE_ROOT.$desktop_siteRoot.$PAGES_CONTAINER.$centeredContent.$inlineContent.$SITE_PAGES.$c16q4_DESKTOP.$inlineContent.$Cntnrd-jho.$inlineContent.$SldShwGllry1-xt8.$itemsContainer.$i21wjd.$link.$panel"><h3 aria-hidden="true" style="text-align:left;" itemprop="name" id="SldShwGllry1-xt8i21wjdtitle" class="ssg1imageItemtitle" data-reactid=".0.$SITE_ROOT.$desktop_siteRoot.$PAGES_CONTAINER.$centeredContent.$inlineContent.$SITE_PAGES.$c16q4_DESKTOP.$inlineContent.$Cntnrd-jho.$inlineContent.$SldShwGllry1-xt8.$itemsContainer.$i21wjd.$link.$panel.$title"></h3><p id="SldShwGllry1-xt8i21wjdDescription" style="text-align:left;" itemprop="description" class="ssg1imageItemdescription" data-reactid=".0.$SITE_ROOT.$desktop_siteRoot.$PAGES_CONTAINER.$centeredContent.$inlineContent.$SITE_PAGES.$c16q4_DESKTOP.$inlineContent.$Cntnrd-jho.$inlineContent.$SldShwGllry1-xt8.$itemsContainer.$i21wjd.$link.$panel.$description"></p></div></div></div><div data-image-index="0" data-displayer-width="1200" data-displayer-height="951" data-displayer-uri="41d000_7d11b95f86130933bdae81d0e5907569.jpg" data-height-diff="0" data-width-diff="0" data-bottom-gap="0" data-image-wrapper-right="2" data-image-wrapper-left="2" data-image-wrapper-top="2" data-image-wrapper-bottom="2" data-margin-to-container="0" itemscope="" itemtype="http://schema.org/ImageObject" style="position: absolute; left: 0px; top: 0px; height: 381px; width: 500px;" class="ssg1imageItem" data-state="notShowPanel desktopView  unselected clipImage transOut normal noLink" id="SldShwGllry1-xt8i01kz8" data-reactid=".0.$SITE_ROOT.$desktop_siteRoot.$PAGES_CONTAINER.$centeredContent.$inlineContent.$SITE_PAGES.$c16q4_DESKTOP.$inlineContent.$Cntnrd-jho.$inlineContent.$SldShwGllry1-xt8.$itemsContainer.$i01kz8"><div draggable="false" style="cursor:default;height:100%;width:100%;position:absolute;top:0px;left:0px;user-select:none;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-drag:none;-webkit-user-drag:none;-moz-user-drag:none;-ms-user-drag:none;user-modify:read-only;-webkit-user-modify:read-only;-moz-user-modify:read-only;-ms-user-modify:read-only;" data-page-item-context="coad" data-gallery-id="SldShwGllry1-xt8" id="SldShwGllry1-xt8i01kz8link" class="ssg1imageItemlink" data-reactid=".0.$SITE_ROOT.$desktop_siteRoot.$PAGES_CONTAINER.$centeredContent.$inlineContent.$SITE_PAGES.$c16q4_DESKTOP.$inlineContent.$Cntnrd-jho.$inlineContent.$SldShwGllry1-xt8.$itemsContainer.$i01kz8.$link">
                    <div style="height: 381px; width: 500px; margin: 0px;" id="SldShwGllry1-xt8i01kz8imageWrapper" class="ssg1imageItemimageWrapper" data-reactid=".0.$SITE_ROOT.$desktop_siteRoot.$PAGES_CONTAINER.$centeredContent.$inlineContent.$SITE_PAGES.$c16q4_DESKTOP.$inlineContent.$Cntnrd-jho.$inlineContent.$SldShwGllry1-xt8.$itemsContainer.$i01kz8.$link.$imageWrapper"><div style="cursor:default;" id="SldShwGllry1-xt8i01kz8zoom" class="ssg1imageItemzoom" data-reactid=".0.$SITE_ROOT.$desktop_siteRoot.$PAGES_CONTAINER.$centeredContent.$inlineContent.$SITE_PAGES.$c16q4_DESKTOP.$inlineContent.$Cntnrd-jho.$inlineContent.$SldShwGllry1-xt8.$itemsContainer.$i01kz8.$link.$imageWrapper.$zoom"><div id="SldShwGllry1-xt8i01kz8image" style="position: relative; width: 496px; height: 377px; overflow: hidden;" data-style="position:relative;overflow:hidden" class="ssg1imageItemimage" data-reactid=".0.$SITE_ROOT.$desktop_siteRoot.$PAGES_CONTAINER.$centeredContent.$inlineContent.$SITE_PAGES.$c16q4_DESKTOP.$inlineContent.$Cntnrd-jho.$inlineContent.$SldShwGllry1-xt8.$itemsContainer.$i01kz8.$link.$imageWrapper.$zoom.0"><div class="ssg1imageItemimagepreloader" id="SldShwGllry1-xt8i01kz8imagepreloader" data-reactid=".0.$SITE_ROOT.$desktop_siteRoot.$PAGES_CONTAINER.$centeredContent.$inlineContent.$SITE_PAGES.$c16q4_DESKTOP.$inlineContent.$Cntnrd-jho.$inlineContent.$SldShwGllry1-xt8.$itemsContainer.$i01kz8.$link.$imageWrapper.$zoom.0.$preloader"></div>
            
            <img id="SldShwGllry1-xt8i01kz8imageimage" alt="" data-type="image" itemprop="contentUrl" data-reactid=".0.$SITE_ROOT.$desktop_siteRoot.$PAGES_CONTAINER.$centeredContent.$inlineContent.$SITE_PAGES.$c16q4_DESKTOP.$inlineContent.$Cntnrd-jho.$inlineContent.$SldShwGllry1-xt8.$itemsContainer.$i01kz8.$link.$imageWrapper.$zoom.0.$image" style="width: 496px; height: 377px; object-fit: cover;" src="@Url.Content("~/Images/minister.jpg")">
            @*<img id="SldShwGllry1-xt8i01kz8imageimage" alt="" data-type="image" itemprop="contentUrl" data-reactid=".0.$SITE_ROOT.$desktop_siteRoot.$PAGES_CONTAINER.$centeredContent.$inlineContent.$SITE_PAGES.$c16q4_DESKTOP.$inlineContent.$Cntnrd-jho.$inlineContent.$SldShwGllry1-xt8.$itemsContainer.$i01kz8.$link.$imageWrapper.$zoom.0.$image" style="width: 496px; height: 377px; object-fit: cover;" src="@Url.Content("~/Images/ilovedamascus.jpg")">*@

            </div></div></div><div id="SldShwGllry1-xt8i01kz8panel" class="ssg1imageItem_pnl ssg1imageItempanel" data-reactid=".0.$SITE_ROOT.$desktop_siteRoot.$PAGES_CONTAINER.$centeredContent.$inlineContent.$SITE_PAGES.$c16q4_DESKTOP.$inlineContent.$Cntnrd-jho.$inlineContent.$SldShwGllry1-xt8.$itemsContainer.$i01kz8.$link.$panel"><h3 aria-hidden="true" style="text-align:left;" itemprop="name" id="SldShwGllry1-xt8i01kz8title" class="ssg1imageItemtitle" data-reactid=".0.$SITE_ROOT.$desktop_siteRoot.$PAGES_CONTAINER.$centeredContent.$inlineContent.$SITE_PAGES.$c16q4_DESKTOP.$inlineContent.$Cntnrd-jho.$inlineContent.$SldShwGllry1-xt8.$itemsContainer.$i01kz8.$link.$panel.$title"></h3><p id="SldShwGllry1-xt8i01kz8Description" style="text-align:left;" itemprop="description" class="ssg1imageItemdescription" data-reactid=".0.$SITE_ROOT.$desktop_siteRoot.$PAGES_CONTAINER.$centeredContent.$inlineContent.$SITE_PAGES.$c16q4_DESKTOP.$inlineContent.$Cntnrd-jho.$inlineContent.$SldShwGllry1-xt8.$itemsContainer.$i01kz8.$link.$panel.$description"></p>
                    </div></div></div></div>
                <div class="ssg1_buttons" data-reactid=".0.$SITE_ROOT.$desktop_siteRoot.$PAGES_CONTAINER.$centeredContent.$inlineContent.$SITE_PAGES.$c16q4_DESKTOP.$inlineContent.$Cntnrd-jho.$inlineContent.$SldShwGllry1-xt8.2">
                    <div style="visibility:hidden;" data-gallery-id="SldShwGllry1-xt8" id="SldShwGllry1-xt8buttonPrev" class="ssg1_btn ssg1buttonPrev" data-reactid=".0.$SITE_ROOT.$desktop_siteRoot.$PAGES_CONTAINER.$centeredContent.$inlineContent.$SITE_PAGES.$c16q4_DESKTOP.$inlineContent.$Cntnrd-jho.$inlineContent.$SldShwGllry1-xt8.2.$buttonPrev"></div>
                    <div style="visibility:hidden;" data-gallery-id="SldShwGllry1-xt8" id="SldShwGllry1-xt8buttonNext" class="ssg1_btn ssg1buttonNext" data-reactid=".0.$SITE_ROOT.$desktop_siteRoot.$PAGES_CONTAINER.$centeredContent.$inlineContent.$SITE_PAGES.$c16q4_DESKTOP.$inlineContent.$Cntnrd-jho.$inlineContent.$SldShwGllry1-xt8.2.$buttonNext"></div></div>
                <div class="ssg1_helpers" data-reactid=".0.$SITE_ROOT.$desktop_siteRoot.$PAGES_CONTAINER.$centeredContent.$inlineContent.$SITE_PAGES.$c16q4_DESKTOP.$inlineContent.$Cntnrd-jho.$inlineContent.$SldShwGllry1-xt8.3">
                    <div style="cursor:pointer;visibility:hidden;" data-gallery-id="SldShwGllry1-xt8" id="SldShwGllry1-xt8autoplay" class="ssg1autoplay" data-reactid=".0.$SITE_ROOT.$desktop_siteRoot.$PAGES_CONTAINER.$centeredContent.$inlineContent.$SITE_PAGES.$c16q4_DESKTOP.$inlineContent.$Cntnrd-jho.$inlineContent.$SldShwGllry1-xt8.3.$autoplay"><span data-reactid=".0.$SITE_ROOT.$desktop_siteRoot.$PAGES_CONTAINER.$centeredContent.$inlineContent.$SITE_PAGES.$c16q4_DESKTOP.$inlineContent.$Cntnrd-jho.$inlineContent.$SldShwGllry1-xt8.3.$autoplay.0"></span></div>
                    <div style="visibility:visible;" data-gallery-id="SldShwGllry1-xt8" id="SldShwGllry1-xt8counter" class="ssg1counter" data-reactid=".0.$SITE_ROOT.$desktop_siteRoot.$PAGES_CONTAINER.$centeredContent.$inlineContent.$SITE_PAGES.$c16q4_DESKTOP.$inlineContent.$Cntnrd-jho.$inlineContent.$SldShwGllry1-xt8.3.$counter">1/3</div>
                    </div></div>
                <div style="left: 15px; width: 445px; position: absolute; top: 270px; height: 91px;" class="c1" id="Cntnre-el6" data-reactid=".0.$SITE_ROOT.$desktop_siteRoot.$PAGES_CONTAINER.$centeredContent.$inlineContent.$SITE_PAGES.$c16q4_DESKTOP.$inlineContent.$Cntnrd-jho.$inlineContent.$Cntnre-el6">
                <div id="Cntnre-el6bg" class="c1bg" data-reactid=".0.$SITE_ROOT.$desktop_siteRoot.$PAGES_CONTAINER.$centeredContent.$inlineContent.$SITE_PAGES.$c16q4_DESKTOP.$inlineContent.$Cntnrd-jho.$inlineContent.$Cntnre-el6.$bg"></div>
                <div id="Cntnre-el6inlineContent" class="c1inlineContent" data-reactid=".0.$SITE_ROOT.$desktop_siteRoot.$PAGES_CONTAINER.$centeredContent.$inlineContent.$SITE_PAGES.$c16q4_DESKTOP.$inlineContent.$Cntnrd-jho.$inlineContent.$Cntnre-el6.$inlineContent">
                    <div style="left: 44px; width: 395px; position: absolute; top: 15px;" class="txtNew" id="WRchTxth-8wn" data-reactid=".0.$SITE_ROOT.$desktop_siteRoot.$PAGES_CONTAINER.$centeredContent.$inlineContent.$SITE_PAGES.$c16q4_DESKTOP.$inlineContent.$Cntnrd-jho.$inlineContent.$Cntnre-el6.$inlineContent.$WRchTxth-8wn"><h4 class="font_4" style="line-height:1em;" dir="rtl"><span style="line-height:1em;">
            
            <span class="color_19" dir="rtl">
                <strong>لسوريا</strong> 
            </span>

            <span class="color_15" dir="rtl">
                افضل
            </span>

            </span>
            </h4>

<h6 class="font_6" dir="rtl" style="line-height:1em;" dir="rtl">
    @*<span style="line-height:1em;" dir="rtl">
        SEPT. 4, 2013
    </span>*@
 
            </h6>
</div>  
                </div>
                </div>
                </div>
            </div>
            <div style="left: 545px; width: 435px; position: absolute; top: 0px; height: 401px;" class="c1" id="Cntnr4-f99" data-reactid=".0.$SITE_ROOT.$desktop_siteRoot.$PAGES_CONTAINER.$centeredContent.$inlineContent.$SITE_PAGES.$c16q4_DESKTOP.$inlineContent.$Cntnr4-f99">
            <div id="Cntnr4-f99bg" class="c1bg" data-reactid=".0.$SITE_ROOT.$desktop_siteRoot.$PAGES_CONTAINER.$centeredContent.$inlineContent.$SITE_PAGES.$c16q4_DESKTOP.$inlineContent.$Cntnr4-f99.$bg"></div>
            <div id="Cntnr4-f99inlineContent" class="c1inlineContent" data-reactid=".0.$SITE_ROOT.$desktop_siteRoot.$PAGES_CONTAINER.$centeredContent.$inlineContent.$SITE_PAGES.$c16q4_DESKTOP.$inlineContent.$Cntnr4-f99.$inlineContent">
                <span class="font_6" style="color:black; font-weight:bold;">
            <span class="font_5" style="color:orange;margin-right:39%;position: relative;left:106px;" dir="rtl">معلومات عن الموقع:</span>
            <br />
            <span class="font_6" style="text-align: right; float: right; width: 90%; margin-right: 5%;">
                يتم إنشاء هذا الموقع للسماح للمواطنين للوصول إلى وأصواتهم مسموعة ضد الفسادالمزيد من النص المزيد من النص المزيد من النص المزيد من النص المزيد من النص المزيد من النص.<a style="color:black;font-size:16px;" id="readmoreBtn"><u>المزيد من النص</u></a><span style="display:none;" id="readmoreText"> المزيد من النص المزيد من النص المزيد من النص المزيد من النص المزيد من النص المزيد من النص المزيد من النص المزيد من النص</span>
            </span>
        </span>
                @*<div style="left: 23px; width: 390px; position: absolute; top: 156px; height: 151px;" class="cf2" data-state="  field3Hidden field4Hidden   desktop left" id="CntctFrm1-3rp" data-reactid=".0.$SITE_ROOT.$desktop_siteRoot.$PAGES_CONTAINER.$centeredContent.$inlineContent.$SITE_PAGES.$c16q4_DESKTOP.$inlineContent.$Cntnr4-f99.$inlineContent.$CntctFrm1-3rp" data-dcf-columns="3">
                <div class="row col-md-12">

                    <div class="col-md-5" style="background-color:darkorange;font-size:18px;text-align: center;color:white;height: 74px;border: 2px solid;border-radius: 13px;bottom: 22px;">   
                        
                        <div class="form-group" style="width:100%;padding: 4px;">
                            سوا لمكافحة الفساد
                            <button class="istimaraOrangeButton" style="font-size:14px;margin-right: 37px;margin-top: 29px;border: 2px solid;border-radius: 13px;background-color:darkorange;">إملأ الإستمارة</button>

                        </div>
                    </div>
                    
                    <div class="col-md-5 col-md-offset-2" style="background-color:red;font-size:18px;text-align: center;color:white;height: 74px;border: 2px solid;border-radius: 13px;bottom: 22px;">
                        <div class="form-group" style="width:100%;padding: 4px;">
                            رضا المواطن

                        </div>
                        <button class="istimaraRedButton" style="font-size:14px;margin-right: 37px;margin-top: 31px;border: 2px solid;border-radius: 13px;background-color:red;">إملأ الإستمارة</button>
                    </div>


                </div>
                    <br />
                    <div class="row col-md-12">
                        <div class="col-md-3" style="background-color:blue;font-size:16px;text-align: center;color:white;visibility:hidden;">
                            <div class="form-group" style="width:100%;padding: 4px;">
                                رضا الموظف
                            </div>
                            <button class="istimaraBlueButton" style="font-size:10px">إملأ الإستمارة</button>
                        </div>

                        <div class="col-md-6" style="background-color:blue;font-size:18px;text-align: center;color:white;height: 76px;border: 2px solid;border-radius: 13px;bottom:21px;">
                            <div class="form-group" style="width:100%;padding: 4px;">
                                رضا الموظف
                            </div>
                            <button class="istimaraBlueButton" style="font-size:14px;margin-right: 49px;margin-top: 30px;border: 2px solid;border-radius: 13px;background-color:blue;">إملأ الإستمارة</button>
                        </div>

                        <div class="col-md-3" style="background-color:blue;font-size:16px;text-align: center;color:white;visibility:hidden;">
                            <div class="form-group" style="width:100%;padding: 4px;">
                                رضا الموظف
                            </div>
                            <button style="font-size:10px;margin-right: 50px;margin-top: 29px;border: 2px solid;border-radius: 13px;">إملأ الإستمارة</button>
                        </div>
                    </div>
                    <br />


                    <div class="row col-md-12">

                        <div class="col-md-5" style="background-color:deeppink;font-size:18px;text-align: center;color:white;height: 73px;border: 2px solid;border-radius: 13px;bottom: 21px;">
                            <div class="form-group" style="width:100%;padding: 4px;">
                                معاً لثبوتيات أقل

                            </div>
                            <button class="istimaraPinkButton" style="font-size:14px;margin-right: 37px;margin-top: 29px;border: 2px solid;border-radius: 13px;background-color:deeppink;">إملأ الإستمارة</button>
                        </div>

                        <div class="col-md-5 col-md-offset-2" style="background-color:dimgray;font-size:17px;text-align: center;color:white;height: 73px;border: 2px solid;border-radius: 13px;bottom: 21px;">
                            <div class="form-group" style="width:100%;">
                                معاً لتبسيط الإجراءت


                            </div>
                            <button class="istimaraGreyButton" style="font-size:15px;margin-right: 37px;margin-top: 29px;border: 2px solid;border-radius: 13px;background-color:dimgray;">إملأ الإستمارة</button>
                        </div>


                    </div>

          </div>

                <div style="width: 196px; left: 119px; position: absolute; top: 356px; height: 32px;" class="lb1" id="LnkBr2-ra5" data-reactid=".0.$SITE_ROOT.$desktop_siteRoot.$PAGES_CONTAINER.$centeredContent.$inlineContent.$SITE_PAGES.$c16q4_DESKTOP.$inlineContent.$Cntnr4-f99.$inlineContent.$LnkBr2-ra5">
                    <ul aria-label="Social bar" id="LnkBr2-ra5itemsContainer" class="lb1itemsContainer" data-reactid=".0.$SITE_ROOT.$desktop_siteRoot.$PAGES_CONTAINER.$centeredContent.$inlineContent.$SITE_PAGES.$c16q4_DESKTOP.$inlineContent.$Cntnr4-f99.$inlineContent.$LnkBr2-ra5.$itemsContainer">
                        
                    </ul>
                </div>
                

                <div style="left: 42px; width: 350px; position: absolute; top: 12px;" class="txtNew" id="WRchTxt0-xy0" data-reactid=".0.$SITE_ROOT.$desktop_siteRoot.$PAGES_CONTAINER.$centeredContent.$inlineContent.$SITE_PAGES.$c16q4_DESKTOP.$inlineContent.$Cntnr4-f99.$inlineContent.$WRchTxt0-xy0"><h6 style="text-align:center; line-height:1.3em;" class="font_6"><span class="color_19" dir="rtl"><span style="line-height:1.3em;color:orange" dir="rtl">كن جزءا من</span></span></h6>

<h1 style="text-align:center; line-height:1.3em;" class="font_0"><span style="line-height:1.3em;">مجتمع أفضل</span></h1>

<h6 style="text-align:center; line-height:1.3em;" class="font_6"><span class="color_19"><span style="line-height:1.3em;color:orange">اشترك و اطلعنا عن رايك</span></span></h6>
</div>*@</div>
            </div><div style="left: 0px; width: 530px; position: absolute; top: -18px; height: 18px;" class="c1" id="comp-ikgz7wdr" data-reactid=".0.$SITE_ROOT.$desktop_siteRoot.$PAGES_CONTAINER.$centeredContent.$inlineContent.$SITE_PAGES.$c16q4_DESKTOP.$inlineContent.$comp-ikgz7wdr"><div id="comp-ikgz7wdrbg" class="c1bg" data-reactid=".0.$SITE_ROOT.$desktop_siteRoot.$PAGES_CONTAINER.$centeredContent.$inlineContent.$SITE_PAGES.$c16q4_DESKTOP.$inlineContent.$comp-ikgz7wdr.$bg"></div><div id="comp-ikgz7wdrinlineContent" class="c1inlineContent" data-reactid=".0.$SITE_ROOT.$desktop_siteRoot.$PAGES_CONTAINER.$centeredContent.$inlineContent.$SITE_PAGES.$c16q4_DESKTOP.$inlineContent.$comp-ikgz7wdr.$inlineContent"></div></div><div style="left: 545px; width: 435px; position: absolute; top: -18px; height: 18px;" class="c1" id="comp-ikgz7dab" data-reactid=".0.$SITE_ROOT.$desktop_siteRoot.$PAGES_CONTAINER.$centeredContent.$inlineContent.$SITE_PAGES.$c16q4_DESKTOP.$inlineContent.$comp-ikgz7dab"><div id="comp-ikgz7dabbg" class="c1bg" data-reactid=".0.$SITE_ROOT.$desktop_siteRoot.$PAGES_CONTAINER.$centeredContent.$inlineContent.$SITE_PAGES.$c16q4_DESKTOP.$inlineContent.$comp-ikgz7dab.$bg"></div><div id="comp-ikgz7dabinlineContent" class="c1inlineContent" data-reactid=".0.$SITE_ROOT.$desktop_siteRoot.$PAGES_CONTAINER.$centeredContent.$inlineContent.$SITE_PAGES.$c16q4_DESKTOP.$inlineContent.$comp-ikgz7dab.$inlineContent"></div></div></div></div></div></div></div></div></div></div><noscript data-reactid=".0.$wixAdsRenderer"></noscript><noscript data-reactid=".0.$popupRoot"></noscript><div class="siteAspectsContainer" data-reactid=".0.$siteAspectsContainer"><div data-reactid=".0.$siteAspectsContainer.$aspectPortal"></div><div data-reactid=".0.$siteAspectsContainer.$externalScriptContainer"></div><noscript data-reactid=".0.$siteAspectsContainer.$ecomCheckoutAspectContrainer"></noscript></div><noscript data-reactid=".0.6"></noscript><noscript data-reactid=".0.7"></noscript><noscript data-reactid=".0.8"></noscript></div></div>

       
    
    
<!-- No Footer -->
    
    
    
    

    

</body></html>
<script>

        $("#readmoreBtn").click(function () {

            $("#readmoreBtn").css("display", "none");
            $("#readmoreText").css("display", "block");
           // $("#Cntnr5-wp").css("top", "512px");
            //$("#middleDiv").css("height", "160px");

        });


        @*$(".istimara").click(function () {
            window.location = '@Url.Action("Index", "Forms")';
        });*@


    $(".fasad").click(function () {
        $('#chakwamodal').modal('show');
     
    });




    $(".ridamouwaten").click(function () {
        $('#chakwamodal').modal('show');
    });

    $(".ridamouwazaf").click(function () {
        $('#chakwamodal').modal('show');
    });

    $(".souboutyat").click(function () {
        $('#chakwamodal').modal('show');
    });


    $("#logintest").click(function () {
        window.location = '@Url.Action("Login", "Account")';
    });

    $("#gotachakwa").click(function () {

        window.location = '@Url.Action("Index", "ClaimForms")';

    });


    $("#gotochakawa").click(function () {

        window.location = '@Url.Action("Index", "MyClaim")';

    });

    $(document).on('click', '.logout', function () {
        window.location = '@Url.Action("LogOff", "Account")';

    });

    $(document).on('click', '#gotoforms', function () {
        window.location = '@Url.Action("Index", "Forms")';
    });

</script>