﻿
@{
    ViewBag.Title = "UserManagement";
    //Layout = "~/Views/Shared/_ModularLayout.cshtml";

    List<SelectListItem> Users = ViewData["allUsers"] as List<SelectListItem>;
    List<SelectListItem> Roles = ViewData["allRoles"] as List<SelectListItem>;
}

<style>
    .modal-dialog{
        left:0px !important; 
    }
</style>


<div class="container body-content" style="margin-top:3%">

    <div class="page-content-wrapper">

        <div class="page-content">
            <div class="portlet light " id="form_wizard_1">
                <div class="portlet-body form">
                    <form class="form-horizontal" action="#" id="submit_form" method="POST" novalidate="novalidate">
                        <div class="form-wizard">
                            <div class="form-body">
                                <ul class="nav nav-pills nav-justified steps">
                                    <li>
                                        <a href="#tab3" data-toggle="tab" class="step active">
                                            <span class="number"> ٣ </span>
                                            <span class="desc">
                                                <i class="fa fa-check"></i> إضافة مناصب 
                                            </span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#tab2" data-toggle="tab" class="step">
                                            <span class="number"> ٢ </span>
                                            <span class="desc">
                                                <i class="fa fa-check"></i> إدارة كلمات المرور 
                                            </span>
                                        </a>
                                    </li>                                 
                                    <li class="active">
                                        <a href="#tab1" data-toggle="tab" class="step" aria-expanded="true">
                                            <span class="number"> ١ </span>
                                            <span class="desc">
                                                <i class="fa fa-check"></i> إدارة المناصب 
                                            </span>
                                        </a>
                                    </li>
                                    @*<li>
                                        <a href="#tab4" data-toggle="tab" class="step">
                                            <span class="number"> 4 </span>
                                            <span class="desc">
                                                <i class="fa fa-check"></i> Confirm
                                            </span>
                                        </a>
                                    </li>*@
                                </ul>
                                <div id="bar" class="progress progress-striped" role="progressbar">
                                    <div class="progress-bar progress-bar-success" style="width: 100%;"> </div>
                                </div>
                                <div class="tab-content">
                                    <div class="alert alert-danger display-none">
                                        <button class="close" data-dismiss="alert"></button> You have some form errors. Please check below.
                                    </div>
                                    <div class="alert alert-success display-none">
                                        <button class="close" data-dismiss="alert"></button> Your form validation is successful!
                                    </div>
                                    <div class="tab-pane active" id="tab1">
                                        <h3 class="block" style="margin-left:85%">اختر مستخدم</h3>
                                        <div class="form-group">
                                            <div class="col-md-6">
                                            </div>
                                                <div class="col-md-3">
                                                    @Html.DropDownList("Users", Users, new { @class = "inputcolor form-control placeholder-no-fix;" })
                                                    @*<span class="help-block"> Provide User</span>*@
                                                </div>
                                                <label class="control-label col-md-2">
                                                    مستخدم
                                                    <span class="required" aria-required="true"> * </span>
                                                </label>
                                            </div>

                                        <div class="form-group">
                                            <div class="col-md-6">
                                            </div>
                                            <div class="col-md-3">
                                                @Html.DropDownList("Roles", Roles, new { @class = "inputcolor form-control placeholder-no-fix;" })
                                            </div>
                                            <label class="control-label col-md-2">
                                                منصب
                                                <span class="required" aria-required="true"> * </span>
                                            </label>
                                        </div>

                                        <a id="edituser" class="btn green button-submit">
                                            حفظ
                                            <i class="fa fa-check"></i>
                                        </a>
                                    </div>
                                    <div class="tab-pane" id="tab2">
                                        <h3 class="block" style="margin-left:80%">تغيير كلمة مرور المستخدم</h3>
                                        <div class="form-group">
                                            <div class="col-md-6">
                                            </div>
                                            <div class="col-md-3">
                                                @Html.DropDownList("UsersPass", Users, new { @class = "inputcolor form-control placeholder-no-fix;" })
                                            </div>
                                            <label class="control-label col-md-3">
                                                المستخدم
                                                <span class="required" aria-required="true"> * </span>
                                            </label>
                                        </div>

                                        <div class="form-group">
                                            <div class="col-md-6">
                                            </div>
                                            <div class="col-md-3">
                                                <input id="password" dir="rtl" type="password" class="form-control" name="password" id="submit_form_password">
                                            </div>
                                            <label class="control-label col-md-3">
                                                كلمة مرور
                                                <span class="required" aria-required="true"> * </span>
                                            </label>
                                        </div>
                                        <div class="form-group">
                                            <div class="col-md-6">
                                            </div>
                                            <div class="col-md-3">
                                                <input id="confirmpassword" dir="rtl" type="password" class="form-control" name="rpassword">
                                            </div>
                                            <label class="control-label col-md-3">
                                                تأكيد كلمة المرور
                                                <span class="required" aria-required="true"> * </span>
                                            </label>
                                        </div>

                                        <div class="form-group">
                                            <label class="col-md-2 control-label"></label>
                                            <div class="col-md-10">
                                                <div id="passwordnotmatch" class="alert alert-danger" style="display:none">
                                                    <span>Passwords don't match</span>
                                                </div>
                                            </div>
                                        </div>

                                        <a id="changepass" class="btn green button-submit">
                                            حفظ
                                            <i class="fa fa-check"></i>
                                        </a>

                                    </div>
                                    <div class="tab-pane" id="tab3">
                                            <h3 class="block" style="margin-left:87%">إضافة مناصب </h3>
                                            <div class="form-group">
                                                <div class="col-md-6">
                                                </div>
                                                <div class="col-md-3">
                                                    <input type="text" dir="rtl" id="addrole"  class="form-control" name="card_name">
                                                    <span class="help-block"> </span>
                                                </div>

                                                <label class="control-label col-md-3">
                                                    إسم المنصب
                                                    <span class="required" aria-required="true"> * </span>
                                                </label>
                                            </div>
                                        <a id="saverole" class="btn green button-submit">
                                            حفظ
                                            <i class="fa fa-check"></i>
                                        </a>
                                          
                                         
                                           
                                        </div>
                                        @*<div class="tab-pane" id="tab4">
                                            <h3 class="block">Confirm your account</h3>
                                            <h4 class="form-section">Account</h4>
                                            <div class="form-group">
                                                <label class="control-label col-md-3">Username:</label>
                                                <div class="col-md-4">
                                                    <p class="form-control-static" data-display="username"> </p>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="control-label col-md-3">Email:</label>
                                                <div class="col-md-4">
                                                    <p class="form-control-static" data-display="email"> </p>
                                                </div>
                                            </div>
                                            <h4 class="form-section">Profile</h4>
                                            <div class="form-group">
                                                <label class="control-label col-md-3">Fullname:</label>
                                                <div class="col-md-4">
                                                    <p class="form-control-static" data-display="fullname"> </p>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="control-label col-md-3">Gender:</label>
                                                <div class="col-md-4">
                                                    <p class="form-control-static" data-display="gender"> </p>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="control-label col-md-3">Phone:</label>
                                                <div class="col-md-4">
                                                    <p class="form-control-static" data-display="phone"> </p>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="control-label col-md-3">Address:</label>
                                                <div class="col-md-4">
                                                    <p class="form-control-static" data-display="address"> </p>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="control-label col-md-3">City/Town:</label>
                                                <div class="col-md-4">
                                                    <p class="form-control-static" data-display="city"> </p>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="control-label col-md-3">Country:</label>
                                                <div class="col-md-4">
                                                    <p class="form-control-static" data-display="country"> </p>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="control-label col-md-3">Remarks:</label>
                                                <div class="col-md-4">
                                                    <p class="form-control-static" data-display="remarks"> </p>
                                                </div>
                                            </div>
                                            <h4 class="form-section">Billing</h4>
                                            <div class="form-group">
                                                <label class="control-label col-md-3">Card Holder Name:</label>
                                                <div class="col-md-4">
                                                    <p class="form-control-static" data-display="card_name"> </p>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="control-label col-md-3">Card Number:</label>
                                                <div class="col-md-4">
                                                    <p class="form-control-static" data-display="card_number"> </p>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="control-label col-md-3">CVC:</label>
                                                <div class="col-md-4">
                                                    <p class="form-control-static" data-display="card_cvc"> </p>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="control-label col-md-3">Expiration:</label>
                                                <div class="col-md-4">
                                                    <p class="form-control-static" data-display="card_expiry_date"> </p>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="control-label col-md-3">Payment Options:</label>
                                                <div class="col-md-4">
                                                    <p class="form-control-static" data-display="payment[]"> </p>
                                                </div>
                                            </div>
                                        </div>*@
                                </div>
                            </div>
                            <div class="form-actions">
                                <div class="row">
                                    <div class="col-md-offset-3 col-md-9">
                                        @*<a href="javascript:;" class="btn default button-previous disabled" style="display: none;">
                                                <i class="fa fa-angle-left"></i> Back
                                            </a>
                                            <a href="javascript:;" class="btn btn-outline green button-next">
                                                Continue
                                                <i class="fa fa-angle-right"></i>
                                            </a>*@

                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
@Scripts.Render("~/bundles/jquery")




<script>

    //$('#Users').select2();
    //$('#Roles').select2();
    $(document).on('click', '#edituser', function () {
        var userId = $('#Users').val();
        var role = $('#Roles').val();
        $.ajax({
            type: 'GET',
            url: '@Url.Action("ChangeRole", "Account")',

            data: {
                id: userId,
                role: role

            },
            dataType: 'text',
            success: function (result) {
                bootbox.alert("Changes has been made successfully")

            }
        });
    });

    $(document).on('click', '#changepass', function () {
        var userId = $('#UsersPass').val();
        var newpass = $('#password').val();
        var confirmpassword = $('#confirmpassword').val();


        if (newpass == confirmpassword) {
            $("#passwordnotmatch").css("display", "none");

            $.ajax({
                url: '@Url.Action("ChangePassword", "Account")',
                type: 'GET',
                cache: false,
                dataType: 'text',
                data: ({
                    id: userId,
                    password: newpass,

                }),
                contentType: 'application/json; charset=utf-8',


                success: function (data) {
                    bootbox.alert("Changes has been made successfully")
                    $('#UsersPass').val("");
                   $('#password').val("");

                },
                error: function (xhr) {
                    alert('errorr');
                }
            });
        }
        else {
            $("#passwordnotmatch").css("display", "block");
        }
       
    });



    $(document).on('click', '#saverole', function () {
        var role = $('#addrole').val();
            $.ajax({
                url: '@Url.Action("AddRole", "Forms")',
                type: 'GET',
                cache: false,
                dataType: 'text',
                data: ({
                    role: role,

                }),
                contentType: 'application/json; charset=utf-8',


                success: function (data) {



                    if (data == "Error") {
                        bootbox.alert("This role exist");
                    }
                    else {
                        $('#addrole').val("");
                       bootbox.alert("Changes has been made successfully");
                    }

                },
                error: function (xhr) {
                    alert('errorr');
                }
            });


    });

    

</script>