﻿
@using MoAD.DataObjects.EDMX;



@{
    ViewBag.Title = "UserManagement";
    List<SelectListItem> Users = ViewData["allUsers"] as List<SelectListItem>;
    List<SelectListItem> Roles = ViewData["allRoles"] as List<SelectListItem>;
    List<SelectListItem> Organisation = ViewData["Organisation"] as List<SelectListItem>;
    List<AspNetUser> Allusers = ViewBag.Useres;
    Layout = "~/Views/Shared/_LayoutInitialPage.cshtml";

}

<style>
    .bootbox-body {
        direction: rtl;
    }
</style>
<div class="row" style="text-align:center;padding-top:20px;padding-bottom:20px;">
@if (ViewBag.RolesOrOrganisations == "Roles")
{
    <h3>
        إدارة مناصب المستخدمين
    </h3>
}
@if (ViewBag.RolesOrOrganisations == "Organisations")
{
    <h3>
        إدارة مؤسسات المستخدمين
    </h3>
}
</div>


<div id="example" style="background-color:white;min-height:400px;">


    <div class="form-group row">
        <div class="col-md-4 col-sm-4">
        </div>
        <div class="col-md-5 col-sm-5">
            <h3 class="block" style="text-align:right">اختر مستخدم</h3>
        </div>
        <div class="col-md-3 col-sm-3">
        </div>
    </div>

    <div class="form-group row">

        <div class="col-md-6 col-sm-6 col-xs-6">
        </div>

        <div class="col-md-4 col-sm-4 col-xs-4" style="margin-left:-6%">
            @*@Html.DropDownList("Users", Users, new { @class = "inputcolor form-control placeholder-no-fix;" })*@
            <select id="Users" dir="rtl">
                @{
<option></option>
    foreach (var user in Allusers)
    {
        var role = "";
        var organisation = "";
        var RoleEng = "";
        try
        {

            //role = user.AspNetUserRoles.Where(u=>u.UserId==user.Id).FirstOrDefault().AspNetRole.Name;
            //RoleEng = user.AspNetUserRoles.Where(u=>u.UserId==user.Id).FirstOrDefault().AspNetRole.ArabicName;
            role = user.AspNetRoles.FirstOrDefault().Name;
            RoleEng = user.AspNetRoles.FirstOrDefault().ArabicName;
        }
        catch(Exception e)
        {
            role = "";
            RoleEng = "";
        }



        try
        {
            organisation = user.UserPerOrganisations.LastOrDefault().Organisation1.OrganisationName;
        }
        catch { }
                        <option value="@user.Id" data-organisation="@organisation" data-role="@RoleEng" data-role-Eng="@role"> @user.UserName </option>
                    }
                }


            </select>
        </div>
        <div class="col-md-2 col-sm-2 col-xs-2">
            <label class="control-label">
                المستخدم 
                <span class="required" aria-required="true"> * </span>
            </label>
        </div>
    </div>

    @if (ViewBag.RolesOrOrganisations == "Roles")
    {
        <div class="form-group row">
            <div class="col-md-6 col-sm-6 col-xs-6">
            </div>
            <div class="col-md-4 col-sm-4 col-xs-4" style="margin-left:-6%">
                <input type="text" class="form-control" readonly dir="rtl" id="currenrole">
            </div>
            <div class="col-md-2 col-sm-2 col-xs-2">
                <label class="control-label">
                    المنصب الحالي
                </label>
            </div>
        </div>
    }

    @if (ViewBag.RolesOrOrganisations == "Organisations")
    {
        <div class="form-group row">
            <div class="col-md-6 col-sm-6 col-xs-6">
            </div>
            <div class="col-md-4 col-sm-4 col-xs-4" style="margin-left:-6%">
                <input type="text" class="form-control" readonly dir="rtl" id="currentorganisation">
            </div>
            <div class="col-md-2 col-sm-2 col-xs-2">
                <label class="control-label">
                    الجهة العامة الحالية 
                </label>
            </div>
        </div>
    }
    @{
        if (ViewBag.RolesOrOrganisations == "Organisations")
        {
            <div class="form-group row">
                <div class="col-md-6 col-sm-6 col-xs-6">
                </div>
                <div class="col-md-4 col-sm-4 col-xs-4" style="margin-left:-6%">
                    @Html.DropDownList("Organisation", Organisation, new { @class = "inputcolor form-control placeholder-no-fix;",dir="rtl" })
                </div>
                <div class="col-md-2 col-sm-2 col-xs-2">
                    <label class="control-label">
                        الجهة العامة
                        <span class="required" aria-required="true"> * </span>
                    </label>
                </div>
            </div>
        }

    }
    @{
        if (ViewBag.RolesOrOrganisations == "Roles")
        {
            <div class="form-group row">
                <div class="col-md-6 col-sm-6 col-xs-6">
                </div>
                <div class="col-md-4 col-sm-4 col-xs-4" style="margin-left:-6%">
                    @Html.DropDownList("Roles", Roles, new { @class = "inputcolor form-control placeholder-no-fix;", dir="rtl"})
                </div>
                <div class="col-md-2 col-sm-2 col-xs-2">
                    <label class="control-label">
                        تعديل المنصب 
                        <span class="required" aria-required="true"> * </span>
                    </label>
                </div>
            </div>
        }
    }

    @{
        if (ViewBag.RolesOrOrganisations == "Organisations")
        {
            <div class="form-group row">
                <div class="col-md-4 col-sm-4 col-xs-4" style="margin-left:-6%">
                </div>
                <div class="col-md-5 col-sm-5 col-xs-5">
                    <a id="editorganisation" class="btn green button-submit">
                        حفظ
                        <i class="fa fa-check"></i>
                    </a>
                </div>
                <div class="col-md-3 col-sm-3 col-xs-3">

                </div>
            </div>
        }

    }
    @{
        if (ViewBag.RolesOrOrganisations == "Roles")
        {
            <div class="form-group row">
                <div class="col-md-4 col-sm-4 col-xs-4" style="margin-left:-6%">
                </div>
                <div class="col-md-5 col-sm-5 col-xs-5">
                    <a id="edituser" class="btn green button-submit">
                        حفظ
                        <i class="fa fa-check"></i>
                    </a>
                </div>
                <div class="col-md-3 col-sm-3 col-xs-3">

                </div>
            </div>
        }
    }


</div>

<script>
    $('#Users').select2({
                                            //dropdownParent: $('#Users'),
                                        ajax: {
                                            url: '@Url.Action("LookupUsers", "Home")',
                    dataType: 'json',
                    type: 'POST',
                    delay: 250,
                    cache: true,
                data: function (params)
                {
                    console.log("params");               
                    console.log(params);               

                                                    var query = {
                        //id: sectorKey,
                        userName: params.term,
                         __RequestVerificationToken : $('@Html.AntiForgeryToken()').val()
                        }

                                                return query;
                                            },
                    processResults: function (data, params) {
                                                return {
                                                results: data
                                                };
                                            }
                                        },
                placeholder: 'المستخدم',
                escapeMarkup: function (markup) { return markup; },

                templateSelection: function (data) {

                                            return data.text;
                                        },
                                            "language": {
                           searching: function() {
            return "جاري البحث...";
        },
                                            "noResults": function () {
                                                return "لا يوجد";
                                            }
                                        }
                                    });

    $('option').each(function (index, element) {
        if ($(this).val() == "Absolute")
            $(this).remove();
    });


    //$("#Users").select2({
    //    placeholder: "المستخدم",


    //});


    $('#Roles').select2();
    $('#Organisation').select2();
    $(document).ready(function () {
        $("#Users").val('@ViewBag.UserName').trigger("change");
    });

    $(document).on('click', '#edituser', function () {
        var dialog = bootbox.dialog({
            message: '<p class="text-center"><i class="fa fa-spin fa-spinner"></i> ....جار التحميل</p>',

        });
        var userId = $('#Users').val();
        var role = $('#Roles').val();
        $.ajax({
            type: 'GET',
            url: '@Url.Action("ChangeRole", "Account")',

            data: {
                id: userId,
                role: role

            },
            dataType: 'text',
            success: function (result) {

                source = "تغيير منصب";
                title = "تغيير منصب";
                var currentRole = $("#currenrole").val();
                var nextRole=$("#Roles option:selected").text();
                message = "تغيير منصب من" + currentRole + "إلى" + nextRole;
                SetLog(source, title, message);
                submit_post_via_hidden_form("@Url.Action("UsersRoles", "Home")", { RolesOrOrganisations: "Roles", UserName: $("#Users").val() });

            }
        });
    });


    $("#Users").on("change", function () {

        var currentrole = "";
        var currentorg = "";
        $('#Users option:selected').each(function () {
            currentrole = $(this).attr("data-role");
            currentorg = $(this).attr("data-organisation");
        });

        $('#currenrole').val(currentrole);
        $('#currentorganisation').val(currentorg);
    });

    $(document).on('click', '#editorganisation', function () {
        var dialog = bootbox.dialog({
            message: '<p class="text-center"><i class="fa fa-spin fa-spinner"></i> ....جار التحميل</p>',

        });

        var orgKey = $("#Organisation").val();

        var MouwazafID = $("#Users").val();



        $.ajax({
            url: '@Url.Action("EntidabSave", "Forms")',
            type: 'GET',
            dataType: 'text',
            cache: false,
            data: {
                Organizationkey: orgKey, delegatedOrgKey: null, userKey: MouwazafID
            },
            success: function (data) {


                source = "تغيير مؤسسة";
                title = "تغيير مؤسسة";
                var currentorganisation = $("#currentorganisation").val();
                var Organisation = $("#Organisation option:selected").text();
                message = "تغيير مؤسسة من" + currentorganisation + "إلى" + Organisation;
                SetLog(source, title, message);
                submit_post_via_hidden_form("@Url.Action("UsersRoles", "Home")", { RolesOrOrganisations: "Organisations", UserName: $("#Users").val() });

                //bootbox.alert("تم إجراء التغييرات بنجاح !!", function () {

                //})

            }
        });
    });
</script>