﻿
@{
    Layout = null;
    ViewBag.Title = "";
}

<!DOCTYPE html>


<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="description" content="Latest updates and statistic charts">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <script src="https://ajax.googleapis.com/ajax/libs/webfont/1.6.16/webfont.js"></script>


    <style>
        .m-menu__link-text {
            font-size: 20px !important;
        }
    </style>

    <link href="@Url.Content("~/Content/Metronic/fullcalendar.bundle.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/Metronic/vendors.bundle.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/Metronic/style.bundle.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/jquery.dataTables.min.css")" rel="stylesheet" type="text/css" />
   


</head>
@*style="background-image:'@Url.Content("~/Images/Metronic/bg-1.jpg")'"*@

<body style="background-image:url(@Url.Action("../Images/Metronic/bg-1.jpg")" class="m-page--boxed m-body--fixed m-header--static m-aside--offcanvas-default">







    <div class="m-grid m-grid--hor m-grid--root m-page">

        <header class="m-grid__item	m-grid m-grid--desktop m-grid--hor-desktop  m-header ">
            <div class="m-grid__item m-grid__item--fluid m-grid m-grid--desktop m-grid--hor-desktop m-container m-container--responsive m-container--xxl">
                <div class="m-grid__item m-grid__item--fluid m-grid m-grid--desktop m-grid--ver-desktop m-header__wrapper">

                    <div class="m-grid__item m-brand" style="background:none;">
                        <div class="m-stack m-stack--ver m-stack--general m-stack--inline">
                            <div class="m-stack__item m-stack__item--middle m-brand__logo">
                                <a class="m-brand__logo-wrapper">
                                    <img style="width:60px" src="@Url.Content("~/Images/2000px-coat_of_arms_of_syria.svg.png")" />
                                </a>
                            </div>
                        </div>
                    </div>

                    <div id="m_header_nav" class="m-grid__item m-grid__item--fluid m-header-head" style="background:none;">
                        <div id="m_header_topbar" class="m-topbar  m-stack m-stack--ver m-stack--general">
                            <div class="m-stack__item m-topbar__nav-wrapper">
                                <ul class="m-topbar__nav m-nav m-nav--inline">
                                    <li class="m-nav__item m-topbar__notifications m-topbar__notifications--img m-dropdown m-dropdown--large m-dropdown--header-bg-fill m-dropdown--arrow m-dropdown--align-center 	m-dropdown--mobile-full-width" data-dropdown-toggle="click" data-dropdown-persistent="true">
                                        <a href="#" class="m-nav__link m-dropdown__toggle" id="m_topbar_notification_icon">
                                            <span class="m-nav__link-badge m-badge m-badge--dot m-badge--dot-small m-badge--danger"></span>
                                            <span class="m-nav__link-icon">
                                                <span class="m-nav__link-icon-wrapper">
                                                    <i class="flaticon-music-2"></i>
                                                </span>
                                            </span>
                                        </a>
                                        <div class="m-dropdown__wrapper">
                                            <span class="m-dropdown__arrow m-dropdown__arrow--center"></span>
                                            <div class="m-dropdown__inner">
                                                <div class="m-dropdown__header m--align-center" style="background: url(assets/app/media/img/misc/notification_bg.jpg); background-size: cover;">
                                                    <span class="m-dropdown__header-title">
                                                        9 New
                                                    </span>
                                                    <span class="m-dropdown__header-subtitle">
                                                        User Notifications
                                                    </span>
                                                </div>
                                                <div class="m-dropdown__body">
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="m-nav__item m-topbar__user-profile m-topbar__user-profile--img  m-dropdown m-dropdown--medium m-dropdown--arrow m-dropdown--header-bg-fill m-dropdown--align-right m-dropdown--mobile-full-width m-dropdown--skin-light" data-dropdown-toggle="click">
                                        <a href="#" class="m-nav__link m-dropdown__toggle">
                                            <span class="m-topbar__welcome m--hidden-tablet m--hidden-mobile">
                                                Hello,&nbsp;
                                            </span>
                                            <span class="m-topbar__username m--hidden-tablet m--hidden-mobile m--padding-right-15">
                                                <span class="m-link">
                                                    @User.Identity.Name
                                                </span>
                                            </span>
                                            <span class="m-topbar__userpic">
                                                <img src="@Url.Content("~/Images/InitialPage_Images/user_logo.png")" class="m--img-rounded m--marginless m--img-centered" alt="" />


                                            </span>
                                        </a>
                                        <div class="m-dropdown__wrapper">
                                            <span class="m-dropdown__arrow m-dropdown__arrow--right m-dropdown__arrow--adjust"></span>
                                            <div class="m-dropdown__inner">
                                                <div class="m-dropdown__header m--align-center" style="background: url(assets/app/media/img/misc/user_profile_bg.jpg); background-size: cover;">
                                                    <div class="m-card-user m-card-user--skin-dark">
                                                        <div class="m-card-user__pic">
                                                            <img src="@Url.Content("~/Images/InitialPage_Images/user_logo.png")" class="m--img-rounded m--marginless" alt="" />
                                                        </div>
                                                        <div class="m-card-user__details">
                                                            <span class="m-card-user__name m--font-weight-500">
                                                                Mark Andre
                                                            </span>
                                                            <a href="" class="m-card-user__email m--font-weight-300 m-link">
                                                                mark.andre@gmail.com
                                                            </a>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="m-dropdown__body">
                                                    <div class="m-dropdown__content">
                                                        <ul class="m-nav m-nav--skin-light">
                                                            <li class="m-nav__section m--hide">
                                                                <span class="m-nav__section-text">
                                                                    Section
                                                                </span>
                                                            </li>
                                                            <li class="m-nav__item">
                                                                <a href="profile.html" class="m-nav__link">
                                                                    <i class="m-nav__link-icon flaticon-profile-1"></i>
                                                                    <span class="m-nav__link-title">
                                                                        <span class="m-nav__link-wrap">
                                                                            <span class="m-nav__link-text">
                                                                                My Profile
                                                                            </span>
                                                                            <span class="m-nav__link-badge">
                                                                                <span class="m-badge m-badge--success">
                                                                                    2
                                                                                </span>
                                                                            </span>
                                                                        </span>
                                                                    </span>
                                                                </a>
                                                            </li>
                                                            <li class="m-nav__item">
                                                                <a href="profile.html" class="m-nav__link">
                                                                    <i class="m-nav__link-icon flaticon-share"></i>
                                                                    <span class="m-nav__link-text">
                                                                        Activity
                                                                    </span>
                                                                </a>
                                                            </li>
                                                            <li class="m-nav__item">
                                                                <a href="profile.html" class="m-nav__link">
                                                                    <i class="m-nav__link-icon flaticon-chat-1"></i>
                                                                    <span class="m-nav__link-text">
                                                                        Messages
                                                                    </span>
                                                                </a>
                                                            </li>
                                                            <li class="m-nav__separator m-nav__separator--fit"></li>
                                                            <li class="m-nav__item">
                                                                <a href="profile.html" class="m-nav__link">
                                                                    <i class="m-nav__link-icon flaticon-info"></i>
                                                                    <span class="m-nav__link-text">
                                                                        FAQ
                                                                    </span>
                                                                </a>
                                                            </li>
                                                            <li class="m-nav__item">
                                                                <a href="profile.html" class="m-nav__link">
                                                                    <i class="m-nav__link-icon flaticon-lifebuoy"></i>
                                                                    <span class="m-nav__link-text">
                                                                        Support
                                                                    </span>
                                                                </a>
                                                            </li>
                                                            <li class="m-nav__separator m-nav__separator--fit"></li>
                                                            <li class="m-nav__item" id="logout">
                                                                <a class="btn m-btn--pill btn-secondary m-btn m-btn--custom m-btn--label-brand m-btn--bolder">
                                                                    Logout
                                                                </a>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </header>

        <div class="m-grid__item m-grid__item--fluid m-grid m-grid m-grid--hor m-container m-container--responsive m-container--xxl">
            <div class="m-grid__item m-grid__item--fluid m-grid m-grid--hor-desktop m-grid--desktop m-body" style="background:#f3f4f9;border-radius:20px;height:100px;overflow-y:auto">
                <div class="m-grid__item m-body__nav" style="background:#ffffff;height:70px;border-radius: 15px;">
                    <div class="m-stack m-stack--ver m-stack--desktop" style="display:table">

                        <div class="m-stack__item m-stack__item--middle m-stack__item--fluid">

                            <button class="m-aside-header-menu-mobile-close  m-aside-header-menu-mobile-close--skin-light " id="m_aside_header_menu_mobile_close_btn">
                                <i class="la la-close"></i>
                            </button>

                            <div id="m_header_menu" class="m-header-menu m-aside-header-menu-mobile m-aside-header-menu-mobile--offcanvas  m-header-menu--skin-light m-header-menu--submenu-skin-light m-aside-header-menu-mobile--skin-light m-aside-header-menu-mobile--submenu-skin-light ">
                                <ul class="m-menu__nav  m-menu__nav--submenu-arrow ">
                                    <li class="m-menu__item  m-menu__item--active" aria-haspopup="true">
                                        <a href="index.html" class="m-menu__link ">
                                            <span class="m-menu__item-here" style="margin-top:12px "></span>
                                            <span class="m-menu__link-text">
                                                Dashboard
                                            </span>
                                        </a>
                                    </li>
                                </ul>
                            </div>

                        </div>

                        <div class="m-stack__item m-stack__item--middle m-dropdown m-dropdown--arrow m-dropdown--large m-dropdown--mobile-full-width m-dropdown--align-right m-dropdown--skin-light m-header-search m-header-search--expandable m-header-search--skin-" id="m_quicksearch" data-search-type="default">

                            <form class="m-header-search__form">
                                <div class="m-header-search__wrapper">
                                    <span class="m-header-search__icon-search" id="m_quicksearch_search">
                                        <i class="la la-search"></i>
                                    </span>
                                    <span class="m-header-search__input-wrapper">
                                        <input autocomplete="off" type="text" name="q" class="m-header-search__input" value="" placeholder="Search..." id="m_quicksearch_input">
                                    </span>
                                    <span class="m-header-search__icon-close" id="m_quicksearch_close">
                                        <i class="la la-remove"></i>
                                    </span>
                                    <span class="m-header-search__icon-cancel" id="m_quicksearch_cancel">
                                        <i class="la la-times"></i>
                                    </span>
                                </div>
                            </form>

                            <div class="m-dropdown__wrapper">
                                <div class="m-dropdown__arrow m-dropdown__arrow--center"></div>
                                <div class="m-dropdown__inner">
                                    <div class="m-dropdown__body">
                                        <div class="m-dropdown__scrollable m-scrollable" data-scrollable="true" data-max-height="300" data-mobile-max-height="200">
                                            <div class="m-dropdown__content m-list-search m-list-search--skin-light"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>

                    </div>
                </div>
                <div class="m-grid__item m-grid__item--fluid m-grid m-grid--desktop m-grid--ver-desktop m-body__content">
                    <div class="m-grid__item m-grid__item--fluid m-wrapper">

                        <div class="m-subheader ">
                            <div class="d-flex align-items-center">
                                <div class="mr-auto">
                                    <h3 class="m-subheader__title ">
                                        Dashboard
                                    </h3>
                                </div>
                                <div>
                                    <span class="m-subheader__daterange" id="m_dashboard_daterangepicker">
                                        <span class="m-subheader__daterange-label">
                                            <span class="m-subheader__daterange-title"></span>
                                            <span class="m-subheader__daterange-date m--font-brand"></span>
                                        </span>
                                        <a href="#" class="btn btn-sm btn-brand m-btn m-btn--icon m-btn--icon-only m-btn--custom m-btn--pill">
                                            <i class="la la-angle-down"></i>
                                        </a>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="m-content">
                            <div class="m-portlet">
                                <div class="m-portlet__body  m-portlet__body--no-padding">
                                    <div class="row m-row--no-padding m-row--col-separator-xl">
                                        <div class="col-xl-4">
                                            <!--begin:: Widgets/Revenue Change-->
                                            <div class="m-widget14">
                                                <div class="m-widget14__header">
                                                    <h3 class="m-widget14__title">
                                                        Revenue Change
                                                    </h3>
                                                    <span class="m-widget14__desc">
                                                        Revenue change breakdown by cities
                                                    </span>
                                                </div>
                                                <div class="row  align-items-center">
                                                    <div class="col">
                                                        @*<div id="m_chart_revenue_change" class="m-widget14__chart1" style="height: 180px">



                                                        </div>*@
                                                        <div id="container" style="min-width: 450px; height: 600px; max-width: 600px; margin: 0 auto"></div>




                                                    </div>
                                                </div>
                                            </div>
                                            <!--end:: Widgets/Revenue Change-->
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xl-12">
                                    <div class="m-portlet m-portlet--mobile  m-portlet--rounded">
                                        <div class="m-portlet__head">
                                            <div class="m-portlet__head-caption">
                                                <div class="m-portlet__head-title">
                                                    <h3 class="m-portlet__head-text">
                                                        Exclusive Datatable Plugin
                                                    </h3>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="m-portlet__body">
                                            <table id="example" class="display" cellspacing="0" width="100%">
                                                <thead>
                                                    <tr>
                                                        <th>Citizen Name</th>
                                                        <th>User Pending</th>
                                                        <th>Form Name</th>
                                                        <th>Form Description</th>
                                                        <th>Creation Date</th>
                                                        <th>View</th>

                                                    </tr>
                                                </thead>
                                                <tbody>

                                                    @foreach (var form in Model.listOfForms)
                                                    {
                                                        <tr>
                                                            <td>@form.UpdatedByUserName</td>
                                                            <td>@form.AssighedToUserName</td>
                                                            <td>@form.NextFormTemplateName</td>
                                                            <td>@form.NextFormTemplateDescription</td>
                                                            <td>@form.CreatedAt</td>
                                                            

                                                            <td><button type="button" class="btn btn-circle btn-info" onclick="goToMyClaim(@form.CurrentFormKey)" style="background-color:#534de1">Info</button></td>
                                                        </tr>
                                                    }

                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <footer style="background:none;" class="m-grid__item m-footer ">
            <div class="m-container m-container--responsive m-container--xxl">
                <div class="m-footer__wrapper">
                    <div class="m-stack m-stack--flex-tablet-and-mobile m-stack--ver m-stack--desktop">
                        <div class="m-stack__item m-stack__item--left m-stack__item--middle m-stack__item--last">
                            <span class="m-footer__copyright">
                                2017 &copy; Powered by
                                <a class="m-link">
                                    Learning Social
                                </a>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
    </div>

    <script src="@Url.Content("~/Scripts/Metronic/vendors.bundle.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/Metronic/scripts.bundle.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/Metronic/fullcalendar.bundle.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/Metronic/dashboard.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/vendors/datatables/media/js/jquery.dataTables.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/highcharts.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/exporting.js")" type="text/javascript"></script>





    
    <script>
        
        function goToMyClaim(formKey) {
             @if (User.IsInRole("ADManager"))
             {
                 <text>
                    window.location = '@Url.Action("ClaimViewManager2", "Home")/' + "?formKey=" + formKey;
                 </text>
             }


             @if (User.IsInRole("OPManager"))
             {
                 <text>
                    window.location = '@Url.Action("ClaimViewManager", "Home")/' + "?formKey=" + formKey;
                 </text>
             }


             @if (User.IsInRole("Citizen"))
             {
                 <text>
                    window.location = '@Url.Action("MyClaimForm", "MyClaim")/' + "?formKey=" + formKey;
                 </text>
             }

        }

        $(document).ready(function () {
            $('#example').DataTable();
        });


        Highcharts.chart('container', {
            chart: {
                plotBackgroundColor: null,
                plotBorderWidth: null,
                plotShadow: false,
                type: 'pie'
            },
            title: {
                text: 'Test'
            },
            tooltip: {
                pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
            },
            plotOptions: {
                pie: {
                    allowPointSelect: true,
                    cursor: 'pointer',
                    dataLabels: {
                        enabled: true,
                        format: '<b>{point.name}</b>: {point.percentage:.1f} %',
                        style: {
                            color: (Highcharts.theme && Highcharts.theme.contrastTextColor) || 'black'
                        }
                    }
                }
            },
            series: [{
                name: 'Brands',
                colorByPoint: true,
                data: [{
                    name: 'IE',
                    y: 56.33
                }, {
                    name: 'Chrome',
                    y: 24.03,
                    sliced: true,
                    selected: true
                }, {
                    name: 'Firefox',
                    y: 10.38
                }, {
                    name: 'Safari',
                    y: 4.77
                }, {
                    name: 'Opera',
                    y: 0.91
                }, {
                    name: 'Other',
                    y: 0.2
                }]
            }]
        });

        

        $(document).on('click', '#logout', function () {

            window.location = '@Url.Action("LogOff", "Account")';

        });









    </script>

</body>

</html>
