﻿@using MoAD.DataObjects.EDMX
@using Microsoft.AspNet.Identity;
@{
    //if (User.IsInRole("Citizen") || User.IsInRole("Employee"))
    //{
    //    Layout = "~/views/home/_SharedLayout.cshtml";
    //}
    //else
    //{
    Layout = "~/views/shared/_layoutinitialpage.cshtml";
    // }


    ViewBag.Title = "Dashboard";

    GetUserInformation_Result UserInfo = ViewBag.UserInfo;
    List<SelectListItem> Organisations = ViewData["Organisation"] as List<SelectListItem>;
    List<ReportingOverAllHistory_Result> ReportOverAllHistory = ViewBag.ReportingOverAllHistoryResult as List<ReportingOverAllHistory_Result>;
    List<GetAllFormsOfAUser_Result> formsList = ViewData["formsPerUser"] as List<GetAllFormsOfAUser_Result>;
}
<style type="text/css">

      @@media only screen and (max-width: 500px) {
   .DivToChangeResponsive{
    width:100%;
    }
}

    #coverPhoto {
        background-image: url('@Url.Content("~/assets/pages/img/login/dashboardImage.png")');
    }

     #coverPhotoPB {
 
        background-image: url('@Url.Content("~/images/pb/dashboardpic.jpg")');
    }

    .page-content-inner{
        padding-top:0px;
    }

    #formsTableViewer th{
        text-align:center;
    }

    #formsTableViewer td{
        text-align:center;
    }

    .viewFormButton:hover{
        background-color:white;
        color:#01a8fe;
    }

    .formRow:hover{
        background:#01a8fe!important;
        color:white;
    }

    .smileyButton{
        width:20%;
        margin-right:10%;
        font-size:3rem;
        border:0;
    }

    .smileyButtonGreen{
        color:#5cb85c!important;
    }

    .smileyButtonRed{
        color:#d9534f!important;
    }

    .smileyButtonOrange{
        color:#f0ad4e!important;
    }

    .smileyButtonGreen:hover{
        background:#5cb85c!important;
        color:white!important;
    }

    .smileyButtonRed:hover{
        background:#d9534f!important;
        color:white!important;
    }

    .smileyButtonOrange:hover{
        background:#f0ad4e!important;
        color:white!important;
    }

    .modal-content{
        direction:rtl;
    }
    body, input, textarea, keygen, select, button {
    letter-spacing: 0px !important;
}


</style>
<div class="modal fade in" id="feedbackmodal" tabindex="-1" aria-hidden="true" style="display: none; padding-right: 17px;">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 style="" class="modal-title">رأي المواطن !!</h4>
            </div>
            <div class="row" style="text-align:center">
                <div class="col-lg-4" style="text-align:center">
                    <figure>
                        <img style="cursor:pointer" onclick="feedback('6447')" src="@Url.Content("~/Images/FeedbackIcons/smiley.png")" alt="" />
                        <figcaption style="font-size:20px;color:#53b553">راضي</figcaption>
                    </figure>
                </div>
                <div class="col-lg-4" style="text-align:center">
                    <figure>
                        <img style="cursor:pointer" onclick="feedback('6448')" src="@Url.Content("~/Images/FeedbackIcons/neutral.png")" alt="" />
                        <figcaption style="font-size:20px;color:orange">حيادي</figcaption>
                    </figure>
                </div>
                <div class="col-lg-4" style="text-align:center">
                    <figure>
                        <img style="cursor:pointer" onclick="feedback('6449')" src="@Url.Content("~/Images/FeedbackIcons/sad.png")" alt="" />
                        <figcaption style="font-size:20px;color:red">غير راضي </figcaption>
                    </figure>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn dark btn-outline" data-dismiss="modal">إغلاق</button>
                @*<button type="button" id="gotachakwa" class="btn green">إملأ الشكوى  </button>*@
            </div>
        </div>
    </div>
</div>
<section class="page-content" style="text-align:right;">
    <div class="page-content-inner">
        <div class="dashboard-container">
            @if (!User.IsInRole("Citizen") && !User.IsInRole("Expert") && !User.IsInRole("Technicien"))
            {
              
                <div class="row">
                    <div class="col-lg-5 col-md-12 col-sm-12 DivToChangeResponsive" dir="rtl" style="float:right">
                        <div class="widget widget-one">
                            @if (User.IsInRole("PB"))
                            {
                                <div id="coverPhotoPB" class="widget-header height-300">

                                </div>

                            }
                            else
                            {
                                <div id="coverPhoto" class="widget-header height-300">
                                    @*<h2 style="direction:rtl;" class="color-white">
                                            لوحة التحكم <br />الرئيسية
                                        </h2>*@
                                </div>
                            }


                            <div class="widget-body clearfix">
                                <div class="s1" style="float:none;">
                                    <a class="avatar" style="border-radius:35px!important;" href="javascript:void(0);">
                                        @{
                                            if (ViewBag.UserImage != null && ViewBag.UserImage != "")
                                            {
                                                var imgSrc = String.Format("data:image/gif;base64,{0}", ViewBag.UserImage);
                                                <a download="image.jpg" href="@imgSrc" title="ImageName">
                                                    <img id="" name="" src="@imgSrc" />
                                                </a>
                                            }
                                            else
                                            {
                                                <img id="" name="" src="@Url.Content("~/images/InitialPage_Images/user_logo.png")" />

                                            }

                                        }
                                        @*<img src="@Url.Content("~/Images/InitialPage_Images/user_logo.png")" alt="Alternative text to the image">*@
                                    </a>
                                    <br />
                                    @*<strong>@User.Identity.Name</strong>*@
                                    <div class="form-group row">
                                        <div class="col-md-6">

                                        </div>
                                        <div class="col-md-3">
                                            <label class="form-control-label" for="l0">@User.Identity.Name</label>

                                        </div>
                                        <div class="col-md-3">
                                            <label class="form-control-label" for="l0">إسم المستخدم :</label>

                                        </div>
                                    </div>


                                    <div class="form-group row">
                                        <div class="col-md-6">

                                        </div>
                                        <div class="col-md-3">
                                            <label class="form-control-label" for="l0">@UserInfo.Role</label>

                                        </div>
                                        <div class="col-md-3">
                                            <label class="form-control-label" for="l0">المنصب :</label>

                                        </div>
                                    </div>
                                    <br />
                                </div>
                                <div class="s2">
                                    <div class="widget-info">
                                        @(UserInfo.FirstName == null ? "" : UserInfo.FirstName) @(UserInfo.FatherName == null ? "" : UserInfo.FatherName) @(UserInfo.LastName == null ? "" : UserInfo.LastName)
                                    </div>
@if (!User.IsInRole("PB"))
{
                                    <span class="label label-primary">
                                        <i>SSN: </i>
                                        @UserInfo.SSN
                                    </span>

                                    @*if (UserInfo.AccessFailedCount <= 1)
                                    {
                                        <span class="label label-primary">
                                            <i>AccessFailedCount: </i>
                                            @UserInfo.AccessFailedCount
                                        </span>

                                    }
                                    else
                                    {
                                        <span class="label label-danger">
                                            <i>AccessFailedCount: </i>
                                            @UserInfo.AccessFailedCount
                                        </span>
                                    }*@
}
                                </div>
                            </div>
                        </div>
                    </div>

                   
                    <div class="col-lg-7 col-md-12 col-sm-12 DivToChangeResponsive" style="float:left;">

                        @if (!User.IsInRole("ADDirector") && !User.IsInRole("ADManager"))
                        {
                            <div class="row" style="text-align:center;background-color:white;padding-top:10px">
                                <h3>مجمل الشكاوى</h3>
                            </div>

                        }


                        @*@if (User.IsInRole("OPManager") || User.IsInRole("OPDirector") || User.IsInRole("OPGeneralDirector"))
                            {
                                <div class="row" style="background-color:white;padding-top:10px">
                                    <div class="col-md-5" style="float:right;margin-left: 3%;">
                                        @Html.DropDownList("Organisations", Organisations, new { @class = "inputcolor form-control placeholder-no-fix Organisations", @onchange = "ExecuteAllReports($(this))" })
                                        </div>

                                        @Html.Action("_Organisations", "Home")
                                    </div>
                            }*@


                        <div class="widget widget-three row">
                            <div class="widget widget-one">
                                <div class="widget-body clearfix">
                                    <div class="row" style="display:block;">
                                        <div class="col-md-4">
                                            <div class="row" style="padding-top:30px">
                                                <h3 style="text-align:center;">الشكوى الواردة  </h3>
                                            </div>
                                            <div id="chart2" class="height-300" style="max-height:233px;">
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="row" style="padding-top:30px">
                                                <h3 style="text-align:center;"> حالة الشكوى  </h3>
                                            </div>
                                            <div id="chart3" class="height-300" style="max-height:233px;">
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="row" style="padding-top:30px">
                                                <h3 style="text-align:center;">مراحل الشكوى  </h3>
                                            </div>
                                            <div id="chart0" class="height-300" style="max-height:233px;">
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>

                </div>

                                            if (User.IsInRole("OPManager") || User.IsInRole("OPDirector") || User.IsInRole("OPGeneralDirector"))
                                            {
                                                <div class="row" style="text-align:center;background-color:white;padding-top:10px">
                                                    <h3>الشكاوى المتابعة من قبلي</h3>
                                                </div>

                                                <div class="row" style="background-color:white;padding-top:10px">

                                                    <div class="col-md-3" style="float:left;">

                                                        @Html.DropDownList("Organisations", Organisations, "الجهة الخاصة", new { @class = "inputcolor form-control placeholder-no-fix Organisations", @onchange = "ExecuteAllReports($(this))" })
                                                    </div>
                                                    <div class="col-md-1">
                                                        :الجهة الخاصة
                                                    </div>

                                                    @*@Html.Action("_Organisations", "Home")*@
                                                </div>

                                                <div class="row" style="background-color:white;">
                                                    <div class="col-md-6">
                                                        <div class="row" style="padding-top:30px">
                                                            <h5 style="text-align:center;">مراحل الشكوى   </h5>
                                                        </div>
                                                        <h5 style="color:red;display:none;text-align:center;" class="EmptyChart">لا يوجد معلومات</h5>

                                                        <div id="chart1" class="height-300" style="max-height:240px;">
                                                        </div>
                                                    </div>

                                                    <div class="col-md-6">
                                                        <div class="row" style="padding-top:30px">
                                                            <h5 style="text-align:center;">حالة الشكوى   </h5>
                                                        </div>
                                                        <div id="chart4" class="height-300" style="max-height:240px;">
                                                        </div>
                                                    </div>

                                                </div>

                                                }

                                            }
         
            @if (!User.IsInRole("PB"))
            {

                HtmlString Body = new HtmlString("");
                HtmlString style = new HtmlString("");
                if (User.IsInRole("Citizen"))
                {
                    Body = new HtmlString("Body");
                    style = new HtmlString("filter: blur(25px); transition: filter 2s; -webkit - transition: filter 2s;");
                
                }
                        <div class="@Body" style="overflow-x:hidden;margin-top:1%;@style">
                            <div class="col-xl-12">
                                <div class="">
                                    <div class="col-xl-12">
                                        <div class="widget widget-two" style="direction:rtl;">
                                            <div class="widget-header">
                                                <span class="text-truncate text-nowrap">الاستبيانات <strong>قيد الانتظار</strong></span>
                                            </div>
                                            <div class="">
                                                <div class="widget-body clearfix">
                                                    <div style="overflow-x:hidden;" class="conversation-block min-height-50  custom-scroll">
                                                        @{
                                                            var OrganizationKey1 = Request.Params["OrganizationKey"];
                                                            if (OrganizationKey1 != null && OrganizationKey1 != "null")
                                                            {
                                                                <div class="btn-group  row" data-toggle="buttons" style="margin-left:1%;">
                                                                    <label class="btn btn-default-outline" onclick='filterTable("قيد الاستطلاع")'>
                                                                        <input type="radio" name="example5">
                                                                        شكاوى قيد الاستطلاع
                                                                    </label>
                                                                    <label class="btn btn-default-outline" onclick='filterTable("معالجة")'>
                                                                        <input type="radio" name="example2">
                                                                        شكاوى معالجة
                                                                    </label>
                                                                    <label class="btn btn-default-outline" onclick='filterTable("قيد المعالجة")'>
                                                                        <input type="radio" name="example5">
                                                                        شكاوى قيد المعالجة
                                                                    </label>
                                                                    <label class="btn btn-default-outline" onclick='filterTable("مرفوضة")'>
                                                                        <input type="radio" name="example4">
                                                                        شكاوى مرفوضة
                                                                    </label>
                                                                    <label class="btn btn-default-outline" onclick='filterTable("قيد المراجعة")'>
                                                                        <input type="radio" name="example3">
                                                                        شكاوى قيد المراجعة
                                                                    </label>
                                                                    <label class="btn btn-default-outline active" onclick='filterTable("جديدة")'>
                                                                        <input type="radio" name="example1">
                                                                        شكاوى جديدة
                                                                    </label>
                                                                </div>
                                                            }

                                                        }

                                                        @{
                                                            var item = Request.Params["OrganizationKey"];
                                                            item = (item == null || item == "null") ? "1" : "2";


                                                            HtmlString active1 = item == "1" ? new HtmlString("active") : new HtmlString("");
                                                            HtmlString active2 = item == "2" ? new HtmlString("active") : new HtmlString("");
                                                            if (!User.IsInRole("Citizen"))
                                                            {
                                                                <div class="btn-group row" data-toggle="buttons" style="float:left;margin-top:1.5%">
                                                                    <label class="btn btn-default-outline @active1" onclick='tableMyItem("MyItems")'>
                                                                        <input type="radio" name="TableItem">
                                                                        الشكاوى المتابعة من قبلي
                                                                    </label>
                                                                    <label class="btn btn-default-outline @active2" onclick='tableMyItem("AllItems")'>
                                                                        <input type="radio" name="TableItem">
                                                                        مجمل الشكاوى
                                                                    </label>
                                                                </div>
                                                            }


                                                        }

                                                    </div>
                                                    <table id="formsTableViewer" class="display" cellspacing="0" width="100%">
                                                        <thead>
                                                            <tr>
                                                                @if (!User.IsInRole("Expert") && !User.IsInRole("Technicien"))
                                                                {
                                                                    <th style="text-align:center;">رؤية الإستبيان</th>
                                                                }
                                                                <th style="text-align:center;">الرقم</th>
                                                                <th style="text-align:center;">الشكوى</th>
                                                                <th style="text-align:center;">تاريخ التقديم</th>
                                                                <th style="text-align:center;">الجهة العامة</th>
                                                                <th style="text-align:center;">الجهة العامة الفرعية</th>
                                                                <th style="text-align:center;">الخدمة / الشخص</th>
                                                                <th style="display:none;"></th>
                                                                <th style="display:none;"></th>
                                                                @if (User.IsInRole("Citizen"))
                                                                {
                                                                    <th style="text-align:center;">رأي المواطن</th>

                                                                }
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            @{

                                                                List<GetWorkFlowItemInstancePerUser_Result> statusRows = Model.listOfForms as List<GetWorkFlowItemInstancePerUser_Result>;
                                                                var OrganizationKey = Request.Params["OrganizationKey"];
                                                                OrganizationKey = (OrganizationKey == null || OrganizationKey == "null") ? "0" : "1";

                                                                //var FilteredStatus = statusRows.Where(x => x.AssignedToUserKey == User.Identity.GetUserId() || User.IsInRole("Citizen")).ToList();
                                                                var FilteredStatus = statusRows.Where(x => (x.AssignedToUserKey == User.Identity.GetUserId() && OrganizationKey.Equals("0")) || (x.NextOrganisationKey == ViewBag.OrganisationKey && OrganizationKey.Equals("1")) || User.IsInRole("Citizen")).ToList();

                                                                //                                                    if (statusRows.Count == 0)
                                                                //                                                    {
                                                                //#warning This should be visited
                                                                //                                                        return;
                                                                //                                                    }
                                                                var statusRowLatest = from element in FilteredStatus
                                                                                      group element by element.GUID into groups
                                                                                      select groups.OrderByDescending(p => p.UpdatedAt).First();

                                                                foreach (var row in statusRowLatest)
                                                                {

                                                                    //var formkey = statusRows.Where(x => x.CurrentFormtemplateKey == 106 && x.GUID == row.GUID).OrderByDescending(x => x.UpdatedAt).FirstOrDefault().CurrentFormKey;
                                                                    //var citizenkey = statusRows.Where(x => x.CurrentFormtemplateKey == 106 && x.GUID == row.GUID).OrderByDescending(x => x.UpdatedAt).FirstOrDefault().UpdatedByUserKey;


                                                                    <tr>
                                                                        @if (!User.IsInRole("Expert") && !User.IsInRole("Technicien"))
                                                                        {
                                                                            <td>
                                                                                <button type="button" class="btn btn-circle btn-info viewFormButton" onclick="goToMyClaim('@row.CurrentFormKey','@row.GUID','@row.CreatedAt','@row.UpdatedByUserKey','@row.NextFormTemplateKey','@row.NextStatusKey','@row.CurrentFormtemplateKey','@row.CurrentFormtemplateName','@row.NextStatusName','@row.NextOrganisationKey','@row.CurrentOrganisationKey')" style="background-color:#01a8fe;width:120px;padding:2px;">أنقر</button>
                                                                            </td>
                                                                        }
                                                                        <td>@row.GUID</td>
                                                                        <td>@row.CurrentFormName</td>
                                                                        <td>@row.CreatedAt</td>
                                                                        <td>@row.CurrentOrganisationName</td>
                                                                        <td></td>
                                                                        <td></td>
                                                                        <td style="display:none;">@row.CurrentStatusName</td>
                                                                        <td style="display:none;">@row.CurrentStatusKey</td>
                                                                        @if (User.IsInRole("Citizen"))
                                                                        {
                                                                            if (row.CurrentStatusKey == 15)
                                                                            {
                                                                                <td>
                                                                                    <button type="button" class="btn btn-circle btn-info viewFormButton" onclick="GoToFeedBackPopUp('@row.GUID','@row.CreatedAt')" style="background-color:#5cb85c;width:120px;padding:2px;" disabled>أنقر</button>
                                                                                </td>
                                                                            }
                                                                            else
                                                                            {
                                                                                <td>
                                                                                    <button type="button" class="btn btn-circle btn-info viewFormButton" onclick="GoToFeedBackPopUp('@row.GUID','@row.CreatedAt')" style="background-color:#5cb85c;width:120px;padding:2px;">أنقر</button>
                                                                                </td>
                                                                            }

                                                                        }
                                                                    </tr>
                                                                }
                                                            }
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        }
                        @*@if (!User.IsInRole("Citizen"))
                            {
                                <div class="row">
                                    <div class="col-xl-12">
                                        <div class="widget widget-two" style="direction:rtl;">
                                            <div class="widget-header">
                                                <div class="dropdown pull-right">
                                                    <div aria-expanded="false">
                                                        <i class="icmn-folder-open"></i>
                                                        <span class="lg-down">مسائل سابقة</span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="widget-body clearfix">
                                                <div class="conversation-block custom-scroll" style="height: 260px">
                                                    @foreach (var form in ReportOverAllHistory)
                                                    {
                                                        <div style="cursor:pointer;" class="conversation-item" data-formKey="@form.FormKey">
                                                            <div class="s1">
                                                                <a class="avatar" href="javascript:void(0);">
                                                                    <img src="@Url.Content("~/Images/InitialPage_Images/user_logo.png")" alt="Alternative text to the image" />
                                                                </a>
                                                            </div>
                                                            <div class="s2 formRow" >
                                                                <strong>الوثيقة: @form.FormTemplateName </strong>
                                                                <p>الشرح: @form.FormTemplateDescription </p>
                                                                <p>التاريخ: @form.CreatedAt </p>
                                                                <p>الحالة: @form.CurrentStatus </p>
                                                                <p>الموظف: @form.AssignedToUserFullName </p>
                                                            </div>
                                                        </div>
                                                    }
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            }*@

                        @*@if (User.IsInRole("Citizen"))
                            {
                                <div class="row">
                                    <div class="col-xl-12">
                                        <div class="row">
                                            <div class="col-xl-12">
                                                <div class="widget widget-two" style="direction:rtl;">
                                                    <div class="widget-header">
                                                        @if (!User.IsInRole("Citizen"))
                                                        {
                                                            <span class="text-truncate text-nowrap">الاستبيانات <strong>قيد الانتظار</strong></span>
                                                        }
                                                        else
                                                        {
                                                            <span class="text-truncate text-nowrap">إستبياناتي</span>
                                                        }
                                                    </div>
                                                    <div class="row">
                                                        <div class="widget-body clearfix">
                                                            <div style="overflow-x:hidden;" class="conversation-block min-height-50  custom-scroll">
                                                                <div class="btn-group" data-toggle="buttons">
                                                                    <label class="btn btn-default-outline">
                                                                        <input type="radio" name="example1">
                                                                        شكاوى جديدة
                                                                    </label>
                                                                    <label class="btn btn-default-outline">
                                                                        <input type="radio" name="example2">
                                                                        شكاوى معالجة
                                                                    </label>
                                                                    <label class="btn btn-default-outline">
                                                                        <input type="radio" name="example3">
                                                                        شكاوى قيد المراجعة
                                                                    </label>
                                                                    <label class="btn btn-default-outline">
                                                                        <input type="radio" name="example4">
                                                                        شكاوى مرفوضة
                                                                    </label>
                                                                </div>
                                                            </div>
                                                            <table id="formsTableViewer" class="display" cellspacing="0" width="100%">
                                                                <thead>
                                                                    <tr>
                                                                        <th>رؤية الإستبيان</th>
                                                                        <th>تاريخ الإنشاء</th>
                                                                        <th>وصف الإستبيان</th>
                                                                        <th>إسم الإستبيان</th>
                                                                        <th>قيد الانتظار</th>
                                                                        <th>إسم المواطن</th>
                                                                    </tr>
                                                                </thead>
                                                                <tbody>
                                                                    @{

                                                                        List<GetWorkFlowItemInstancePerUser_Result> statusRows = Model.listOfForms as List<GetWorkFlowItemInstancePerUser_Result>;

                                                                        var statusRowLatest = from element in statusRows
                                                                                              group element by element.GUID into groups
                                                                                              select groups.OrderByDescending(p => p.UpdatedAt).First();
                                                                        var formkey = statusRows.Where(row => row.CurrentFormtemplateKey == 106).FirstOrDefault().CurrentFormKey;
                                                                        var citizenkey = statusRows.Where(x => x.CurrentFormtemplateKey == 106).FirstOrDefault().UpdatedByUserKey;
                                                                        foreach (var row in statusRowLatest)
                                                                        {
                                                                            <tr>
                                                                                <td>
                                                                                    <button type="button" class="btn btn-circle btn-info viewFormButton" onclick="goToMyClaim('@row.CurrentFormKey','@row.GUID','@row.CreatedAt','@citizenkey','@row.NextFormTemplateKey','@row.CurrentStatusKey','@row.CurrentFormtemplateKey','@row.CurrentFormtemplateName')" style="background-color:#01a8fe;width:120px;padding:2px;">أنقر</button>
                                                                                </td>
                                                                                <td>@row.GUID</td>
                                                                                <td>@row.CurrentFormName</td>
                                                                                <td>@row.CreatedAt</td>
                                                                                <td>@row.CurrentOrganisationName</td>
                                                                            </tr>
                                                                        }
                                                                    }
                                                                </tbody>
                                                            </table>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                                                        }*@
                    </div>
                                                </div>
                                                <script>
                                                    function ExecuteAllReports(Organisation){
                                                        var OrganizationKey = $("#Organisations").val();
                                                        DrawChart1(OrganizationKey,'@User.Identity.GetUserId()');
                                                    }

                                                    function DrawChart1(OrgKey,UserID){

                                                        $.ajax({
                                                            url: '@Url.Action("ReportingGeneralPieChartJson", "UserDashboard")',
                                                            type: 'GET',
                                                            dataType: 'text',
                                                            cache: false,
                                                            data: {
                                                                nextExtendedOrganisationKey: OrgKey, assignedToUserKey: UserID
                                                            },
                                                            success: function (data) {
                                                                var obj = jQuery.parseJSON(data);
                                                                console.log("honee="+obj);

                                                                if (obj[0][0] == "لا يوجد معلومات ") {
                                                                    $(".EmptyChart").css("display", "block");
                                                                    $("#chart1").css("display", "none");

                                                                } else {
                                                                    $(".EmptyChart").css("display", "none");
                                                                    $("#chart1").css("display", "block");

                                                                }

                                                                var chart1 = c3.generate({
                                                                    bindto: '#chart1',
                                                                    data: {
                                                                        columns:obj,
                                                                        type: 'pie',

                                                                    }, tooltip: {
                                                                        format: {

                                                                            value: function (value, ratio, id) {
                                                                                var format = id === 'data1' ? d3.format(',') : d3.format('');
                                                                                return format(value);
                                                                            }

                                                                        }
                                                                    }
                                                                });
                                                            }
                                                        });


                                                    }



                                                    function filterTable(itemToFilter) {
                                                        if (itemToFilter == "جديدة") {
                                                            ExecuteFilter("1");
                                                        }
                                                        else if (itemToFilter == "مرفوضة") {
                                                            ExecuteFilter("6");
                                                        }
                                                        else if (itemToFilter == "معالجة") {
                                                            ExecuteFilter("13|15|18");

                                                        }
                                                        else if (itemToFilter == "قيد المراجعة") {
                                                            ExecuteFilter("3|17|21");
                                                        }
                                                        else if (itemToFilter == "قيد المعالجة") {
                                                            //ExecuteFilter("2|11");
                                                            ExecuteFilter("2|11");
                                                        }
                                                        else if (itemToFilter == "قيد الاستطلاع") {
                                                            ExecuteFilter("4");
                                                        }



                                                    }


                                                    function ExecuteFilter(itemToFilter) {
                                                        $("#formsTableViewer").DataTable()
                                                                          .column(8)
                                                                          .search('^' + itemToFilter + '$', true, false)
                                                                          .draw();



                                                    }

                                                    //$(function () {

                                                    //    autosize($('#textarea'));

                                                    //    $('.carousel-widget').carousel({
                                                    //        interval: 4000
                                                    //    });

                                                    //    $('.carousel-widget-2').carousel({
                                                    //        interval: 6000
                                                    //    });

                                                    //    $("[data-toggle=tooltip]").tooltip();

                                                    //});



                                                    function feedbackBox(formKey) {
                                                        //bootbox.confirm({
                                                        //    message: "إن الحل كان معاقبة الموظف المسؤول عن خدمة متابعات حالة المريض",
                                                        //    buttons: {
                                                        //        confirm: {
                                                        //            label: ' ',
                                                        //            className: 'icmn-smile smileyButton'
                                                        //        },
                                                        //        noclose: {
                                                        //            label: ' ',
                                                        //            className: 'icmn-neutral smileyButton'
                                                        //        },
                                                        //        cancel: {
                                                        //            label: ' ',
                                                        //            className: 'icmn-sad smileyButton'
                                                        //        }
                                                        //    },
                                                        //    callback: function (result) {
                                                        //        console.log('This was logged in the callback: ' + result);
                                                        //    }
                                                        //});

                                                        bootbox.dialog({
                                                            title: 'توصيف الحل',
                                                            message: "<p>إن الحل كان معاقبة الموظف المسؤول عن خدمة متابعات حالة المريض</p>",
                                                            buttons: {
                                                                cancel: {
                                                                    label: " ",
                                                                    className: 'icmn-smile smileyButton smileyButtonGreen text-success'
                                                                },
                                                                noclose: {
                                                                    label: " ",
                                                                    className: 'icmn-neutral smileyButton smileyButtonOrange text-warning'
                                                                },
                                                                ok: {
                                                                    label: " ",
                                                                    className: 'icmn-sad smileyButton smileyButtonRed text-danger'
                                                                }
                                                            }
                                                        });
                                                    }

                                                    $(document).ready(function () {

                                                        $("#formsTableViewer").DataTable({
                                                            "scrollX": true,
                                                            "oLanguage": {
                                                                "sSearch": "إبحث",
                                                                "sLengthMenu": "عدد الأسطر لكل صفحة _MENU_ ",
                                                            }





                                                        });

                                                        @if (Request.Params["OrganizationKey"]!=null && Request.Params["OrganizationKey"]!="null")
                 {
                     <text>
                                                        ExecuteFilter("1");
                                                        </text>
                 }





                                                        ////////////////////////Charts Part///////////////////


                                                        var chart0 = c3.generate({
                                                            bindto: '#chart0',
                                                            data: {
                                                                columns:@Html.Raw(Json.Encode(ViewBag.GeneralPieChart)),
                                                                type: 'pie',
                                                                //onclick: function (d, i) { console.log("onclick", d, i); },
                                                                //onmouseover: function (d, i) { console.log("onmouseover", d, i); },
                                                                //onmouseout: function (d, i) { console.log("onmouseout", d, i); }
                                                            },    tooltip: {
                                                                format: {
                                                                    //title: function (d) { return 'Data ' + d; },
                                                                    value: function (value, ratio, id) {
                                                                        var format = id === 'data1' ? d3.format(',') : d3.format('');
                                                                        return format(value);
                                                                    }
                                                                    //            value: d3.format(',') // apply this format to both y and y2
                                                                }
                                                            }
                                                        });

                                                        var chart1 = c3.generate({
                                                            bindto: '#chart1',
                                                            data: {
                                                                columns:@Html.Raw(Json.Encode(ViewBag.PieChart1)),
                                                                type: 'pie',
                                                                //onclick: function (d, i) { console.log("onclick", d, i); },
                                                                //onmouseover: function (d, i) { console.log("onmouseover", d, i); },
                                                                //onmouseout: function (d, i) { console.log("onmouseout", d, i); }
                                                            }, tooltip: {
                                                                format: {
                                                                    //title: function (d) { return 'Data ' + d; },
                                                                    value: function (value, ratio, id) {
                                                                        var format = id === 'data1' ? d3.format(',') : d3.format('');
                                                                        return format(value);
                                                                    }
                                                                    //            value: d3.format(',') // apply this format to both y and y2
                                                                }
                                                            }
                                                        });

                                                        var chart2 = c3.generate({
                                                            bindto: '#chart2',
                                                            data: {
                                                                columns:@Html.Raw(Json.Encode(ViewBag.PieChart2)),
                                                                type: 'pie',
                                                                //onclick: function (d, i) { console.log("onclick", d, i); },
                                                                //onmouseover: function (d, i) { console.log("onmouseover", d, i); },
                                                                //onmouseout: function (d, i) { console.log("onmouseout", d, i); }
                                                            },    tooltip: {
                                                                format: {
                                                                    //title: function (d) { return 'Data ' + d; },
                                                                    value: function (value, ratio, id) {
                                                                        var format = id === 'data1' ? d3.format(',') : d3.format('');
                                                                        return format(value);
                                                                    }
                                                                    //            value: d3.format(',') // apply this format to both y and y2
                                                                }
                                                            }
                                                        });
                                                        var chart3 = c3.generate({
                                                            bindto: '#chart3',
                                                            data: {
                                                                columns:@Html.Raw(Json.Encode(ViewBag.PieChart3)),
                                                                type: 'pie',
                                                                //onclick: function (d, i) { console.log("onclick", d, i); },
                                                                //onmouseover: function (d, i) { console.log("onmouseover", d, i); },
                                                                //onmouseout: function (d, i) { console.log("onmouseout", d, i); }
                                                            },    tooltip: {
                                                                format: {
                                                                    //title: function (d) { return 'Data ' + d; },
                                                                    value: function (value, ratio, id) {
                                                                        var format = id === 'data1' ? d3.format(',') : d3.format('');
                                                                        return format(value);
                                                                    }
                                                                    //            value: d3.format(',') // apply this format to both y and y2
                                                                }
                                                            }
                                                        });


                                                        //columns: [
                                                        //          ['تبسيط', 10],
                                                        //          ['Solved', 7],
                                                        //          ['First occurrence', 10],
                                                        //          ['Recurrent', 73],

                                                        //],






                                                        var chart4 = c3.generate({
                                                            bindto: '#chart4',
                                                            data: {
                                                                columns:@Html.Raw(Json.Encode(ViewBag.PieChart4)),
                                                                type: 'pie',
                                                                //onclick: function (d, i) { console.log("onclick", d, i); },
                                                                //onmouseover: function (d, i) { console.log("onmouseover", d, i); },
                                                                //onmouseout: function (d, i) { console.log("onmouseout", d, i); }
                                                            },    tooltip: {
                                                                format: {
                                                                    //title: function (d) { return 'Data ' + d; },
                                                                    value: function (value, ratio, id) {
                                                                        var format = id === 'data1' ? d3.format(',') : d3.format('');
                                                                        return format(value);
                                                                    }
                                                                    //            value: d3.format(',') // apply this format to both y and y2
                                                                }
                                                            }
                                                        });
                                                        //////////////////////////////////////////////////////////
                                                        //setTimeout(function () {
                                                        //    chart.load({
                                                        //        columns: [
                                                        //            ["قيد الانتظار", 10],
                                                        //            ["تم حلها", 1.4, 1.5, 1.5, 1.3, 1.5, 1.3, 1.6, 1.0, 1.3, 1.4, 1.0, 1.5, 1.0, 1.4, 1.3, 1.4, 1.5, 1.0, 1.5, 1.1, 1.8, 1.3, 1.5, 1.2, 1.3, 1.4, 1.4, 1.7, 1.5, 1.0, 1.1, 1.0, 1.2, 1.6, 1.5, 1.6, 1.5, 1.3, 1.3, 1.3, 1.2, 1.4, 1.2, 1.0, 1.3, 1.2, 1.3, 1.3, 1.1, 1.3],
                                                        //            ["مكررة", 1.4, 1.5, 1.5, 1.3, 1.5, 1.3, 1.6, 1.0, 1.3, 1.4, 1.0, 1.5, 1.0, 1.4, 1.3, 1.4, 1.5, 1.0, 1.5, 1.1, 1.8, 1.3, 1.5, 1.2, 1.3, 1.4, 1.4, 1.7, 1.5, 1.0, 1.1, 1.0, 1.2, 1.6, 1.5, 1.6, 1.5, 1.3, 1.3, 1.3, 1.2, 1.4, 1.2, 1.0, 1.3, 1.2, 1.3, 1.3, 1.1, 1.3],
                                                        //            ["مرة أولى", 1.4, 1.5, 1.5, 1.3, 1.5, 1.3, 1.6, 1.0, 1.3, 1.4, 1.0, 1.5, 1.0, 1.4, 1.3, 1.4, 1.5, 1.0, 1.5, 1.1, 1.8, 1.3, 1.5, 1.2, 1.3, 1.4, 1.4, 1.7, 1.5, 1.0, 1.1, 1.0, 1.2, 1.6, 1.5, 1.6, 1.5, 1.3, 1.3, 1.3, 1.2, 1.4, 1.2, 1.0, 1.3, 1.2, 1.3, 1.3, 1.1, 1.3],
                                                        //            ["معالجة", 2.5, 1.9, 2.1, 1.8, 2.2, 2.1, 1.7, 1.8, 1.8, 2.5, 2.0, 1.9, 2.1, 2.0, 2.4, 2.3, 1.8, 2.2, 2.3, 1.5, 2.3, 2.0, 2.0, 1.8, 2.1, 1.8, 1.8, 1.8, 2.1, 1.6, 1.9, 2.0, 2.2, 1.5, 1.4, 2.3, 2.4, 1.8, 1.8, 2.1, 2.4, 2.3, 1.9, 2.3, 2.5, 2.3, 1.9, 2.0, 2.3, 1.8],
                                                        //        ]
                                                        //    });
                                                        //}, 1500);

                                                        //setTimeout(function () {
                                                        //    chart.unload({
                                                        //        ids: 'data1'
                                                        //    });
                                                        //    //chart.unload({
                                                        //    //    ids: 'data2'
                                                        //    //});
                                                        //}, 2500);

                                                        //var chart2 = c3.generate({
                                                        //    bindto: '#chart2',
                                                        //    data: {
                                                        //        // iris data from R
                                                        //        columns: [
                                                        //            ['data1', 60],
                                                        //            ['data2', 135],
                                                        //        ],
                                                        //        type: 'pie',
                                                        //        onclick: function (d, i) { console.log("onclick", d, i); },
                                                        //        onmouseover: function (d, i) { console.log("onmouseover", d, i); },
                                                        //        onmouseout: function (d, i) { console.log("onmouseout", d, i); }
                                                        //    }
                                                        //});

                                                        //setTimeout(function () {
                                                        //    chart.load({
                                                        //        columns: [
                                                        //            ["pipoi", 0.2, 0.2, 0.2, 0.2, 0.2, 0.4, 0.3, 0.2, 0.2, 0.1, 0.2, 0.2, 0.1, 0.1, 0.2, 0.4, 0.4, 0.3, 0.3, 0.3, 0.2, 0.4, 0.2, 0.5, 0.2, 0.2, 0.4, 0.2, 0.2, 0.2, 0.2, 0.4, 0.1, 0.2, 0.2, 0.2, 0.2, 0.1, 0.2, 0.2, 0.3, 0.3, 0.2, 0.6, 0.4, 0.3, 0.2, 0.2, 0.2, 0.2],
                                                        //            ["kaka", 1.4, 1.5, 1.5, 1.3, 1.5, 1.3, 1.6, 1.0, 1.3, 1.4, 1.0, 1.5, 1.0, 1.4, 1.3, 1.4, 1.5, 1.0, 1.5, 1.1, 1.8, 1.3, 1.5, 1.2, 1.3, 1.4, 1.4, 1.7, 1.5, 1.0, 1.1, 1.0, 1.2, 1.6, 1.5, 1.6, 1.5, 1.3, 1.3, 1.3, 1.2, 1.4, 1.2, 1.0, 1.3, 1.2, 1.3, 1.3, 1.1, 1.3],
                                                        //            ["virginica", 2.5, 1.9, 2.1, 1.8, 2.2, 2.1, 1.7, 1.8, 1.8, 2.5, 2.0, 1.9, 2.1, 2.0, 2.4, 2.3, 1.8, 2.2, 2.3, 1.5, 2.3, 2.0, 2.0, 1.8, 2.1, 1.8, 1.8, 1.8, 2.1, 1.6, 1.9, 2.0, 2.2, 1.5, 1.4, 2.3, 2.4, 1.8, 1.8, 2.1, 2.4, 2.3, 1.9, 2.3, 2.5, 2.3, 1.9, 2.0, 2.3, 1.8],
                                                        //        ]
                                                        //    });
                                                        //}, 1500);

                                                        //setTimeout(function () {
                                                        //    chart.unload({
                                                        //        ids: 'data1'
                                                        //    });
                                                        //    chart.unload({
                                                        //        ids: 'data2'
                                                        //    });
                                                        //}, 2500);

                                                    });


                                                    function tableMyItem(Item) {

                                                        if (Item == "AllItems") {
                                                            @if (User.IsInRole("OPGeneralDirector"))
                 {
                     <text>
                                                            window.location = '@Url.Action("Index", "UserDashboard")/' + "?OrganizationKey=" + 'OPGeneralDirector';
                                                            </text>
                 }
                 else
                 { <text>
                                                            window.location = '@Url.Action("Index", "UserDashboard")/' + "?OrganizationKey=" + '@ViewBag.OrganisationKey';
                                                            </text>
                 }
                                                        } else {
                                                            window.location = '@Url.Action("Index", "UserDashboard")/' + "?OrganizationKey=" + 'null';
                                                        }

                                                    }

                                                    var GUIDfeedback="";
                                                    var CreatedDate="";
                                                    function GoToFeedBackPopUp(GUID,CreatedAt) {
                                                        
                                                        $('#feedbackmodal').modal('show');
                                                        
                                                        GUIDfeedback =GUID;
                                                        CreatedDate =CreatedAt;
                                                    }




                                                    function feedback(CitizenFeedback){
                                                        var AnswerTemplateKey = [];
                                                        var FormKey;
                                                        var answsers = { key: CitizenFeedback, Textvalue: "", type: "RadioCheckBox", Parent:"",Child:"",count:""  };
                                                        AnswerTemplateKey.push(answsers);



                                                        $('#feedbackmodal').modal('hide');

                                                        console.log(CitizenFeedback);
                                                        console.log(GUIDfeedback);

                                                        $.ajax({
                                                            url: '@Url.Action("SubmitFormForUser", "ClaimForms")',
                                                            type: 'GET',
                                                            dataType: 'json',
                                                            cache: false,
                                                            data: {
                                                                trackingStatusKey: "1", formTemplateKey: '155', userKey: "@User.Identity.GetUserId()", organisationKey: '3'
                                                            },
                                                            success: function (data) {
                                                                FormKey = data;

                                                                $.ajax({
                                                                    url: '@Url.Action("AnswersByUser", "ClaimForms")',
                                                                    type: 'POST',
                                                                    dataType: 'json',
                                                                    cache: false,
                                                                    data: {
                                                                        formKey: FormKey, answerTemplateKey: JSON.stringify(AnswerTemplateKey)
                                                                    },
                                                                    success: function (data) {

                                                                        $.ajax({
                                                                            url: '@Url.Action("SaveClaimForm", "ClaimForms")',
                                                                            type: 'GET',
                                                                            dataType: 'json',
                                                                            cache: false,
                                                                            data: {
                                                                                formKey: FormKey
                                                                            },
                                                                            success: function (data) {

                                                                                $.ajax({
                                                                                    url: '@Url.Action("CreateNewWorkFlowInstance", "Home")',
                                                                                    dataType: "text",
                                                                                    data: {
                                                                                        Note: "",
                                                                                        GUID: GUIDfeedback,
                                                                                        CreatedAt: CreatedDate,
                                                                                        Formkey: FormKey,
                                                                                        CurrentStatusKey: "15",
                                                                                        NextFormTemplateKey: "117",
                                                                                        //ActionKey: "18",
                                                                                        NextOrganisationKey: "3",
                                                                                        currenOrganisationKey: "3"


                                                                                    },
                                                                                    success: function (result) {
                                                                                        bootbox.alert(" تم حفظ النموذج !!", function () {
                                                                                            window.location = '@Url.Action("Index", "UserDashboard")';
                                                                                        })


                                                                                    }
                                                                                });



                                                                            }
                                                                        });
                                                                    }
                                                                });
                                                            }
                                                        });


                                                    }




                                                </script>
                                            </section>
