﻿
@using MoAD.DataObjects.EDMX;



@{
   
    Layout = "~/Views/Shared/_LayoutInitialPage.cshtml";

}

<style>
    .bootbox-body {
        direction: rtl;
    }
</style>
<div class="row" style="text-align:center;padding-top:20px;padding-bottom:20px;">
   
        <h3>
            Privilege
        </h3>
  
  
</div>


<div id="example" style="background-color:white;min-height:400px;">


 

    <div class="form-group row">

        <div class="col-md-6 col-sm-6 col-xs-6">
        </div>

        <div class="col-md-4 col-sm-4 col-xs-4" style="margin-left:-6%">
            <input type="text" class="form-control" readonly dir="ltr" value="Privilege" id="Name">
           
        </div>
        <div class="col-md-2 col-sm-2 col-xs-2">
            <label class="control-label">
                Name
                <span class="required" aria-required="true"> * </span>
            </label>
        </div>
    </div>

    <div class="form-group row">

        <div class="col-md-6 col-sm-6 col-xs-6">
        </div>

        <div class="col-md-4 col-sm-4 col-xs-4" style="margin-left:-6%">
            <input type="text" class="form-control" dir="ltr" readonly id="Type" value="Icon">

        </div>
        <div class="col-md-2 col-sm-2 col-xs-2">
            <label class="control-label">
                Type
                <span class="required" aria-required="true"> * </span>
            </label>
        </div>
    </div>
    
    
    <div class="form-group row">

    <div class="col-md-6 col-sm-6 col-xs-6">
    </div>

    <div class="col-md-4 col-sm-4 col-xs-4" style="margin-left:-6%">
        <input type="text" class="form-control" dir="ltr" id="Size">

    </div>
    <div class="col-md-2 col-sm-2 col-xs-2">
        <label class="control-label">
            Size
            <span class="required" aria-required="true"> * </span>
        </label>
    </div>
</div>  
    
    <div class="form-group row">

    <div class="col-md-6 col-sm-6 col-xs-6">
    </div>

    <div class="col-md-4 col-sm-4 col-xs-4" style="margin-left:-6%">
        <input type="text" class="form-control" dir="ltr" id="Html">

    </div>
    <div class="col-md-2 col-sm-2 col-xs-2">
        <label class="control-label">
            Html
            <span class="required" aria-required="true"> * </span>
        </label>
    </div>
</div>
    
    <div class="form-group row">

    <div class="col-md-6 col-sm-6 col-xs-6">
    </div>

    <div class="col-md-4 col-sm-4 col-xs-4" style="margin-left:-6%">
        <input type="text" class="form-control" dir="ltr" id="HtmlCode">

    </div>
    <div class="col-md-2 col-sm-2 col-xs-2">
        <label class="control-label">
            HtmlCode
            <span class="required" aria-required="true"> * </span>
        </label>
    </div>
</div>
    
    <div class="form-group row">

    <div class="col-md-6 col-sm-6 col-xs-6">
    </div>

    <div class="col-md-4 col-sm-4 col-xs-4" style="margin-left:-6%">
        <input type="text" class="form-control" dir="ltr" id="ColumnValue">

    </div>
    <div class="col-md-2 col-sm-2 col-xs-2">
        <label class="control-label">
            ColumnValue
            <span class="required" aria-required="true"> * </span>
        </label>
    </div>
</div>
    
    <div class="form-group row">

    <div class="col-md-6 col-sm-6 col-xs-6">
    </div>

    <div class="col-md-4 col-sm-4 col-xs-4" style="margin-left:-6%">
        <input type="text" class="form-control" dir="ltr" id="PrivilegeName">

    </div>
    <div class="col-md-2 col-sm-2 col-xs-2">
        <label class="control-label">
            PrivilegeName
            <span class="required" aria-required="true"> * </span>
        </label>
    </div>
</div>


    <div class="form-group row">

    <div class="col-md-6 col-sm-6 col-xs-6">
    </div>

    <div class="col-md-4 col-sm-4 col-xs-4" style="margin-left:-6%">
        <input type="text" class="form-control" dir="ltr" id="PrivilegeParent">

    </div>
    <div class="col-md-2 col-sm-2 col-xs-2">
        <label class="control-label">
            PrivilegeParent
            <span class="required" aria-required="true"> * </span>
        </label>
    </div>
</div>


    <div class="form-group row">

    <div class="col-md-6 col-sm-6 col-xs-6">
    </div>

    <div class="col-md-4 col-sm-4 col-xs-4" style="margin-left:-6%">
        <input type="text" class="form-control" dir="ltr" id="Level">

    </div>
    <div class="col-md-2 col-sm-2 col-xs-2">
        <label class="control-label">
            Level
            <span class="required" aria-required="true"> * </span>
        </label>
    </div>
</div>
    
    <div class="form-group row">

    <div class="col-md-6 col-sm-6 col-xs-6">
    </div>

    <div class="col-md-4 col-sm-4 col-xs-4" style="margin-left:-6%">
        <input type="text" class="form-control" dir="ltr" id="Index">

    </div>
    <div class="col-md-2 col-sm-2 col-xs-2">
        <label class="control-label">
            Index
            <span class="required" aria-required="true"> * </span>
        </label>
    </div>
</div>
    
    <div class="form-group row">

    <div class="col-md-6 col-sm-6 col-xs-6">
    </div>

    <div class="col-md-4 col-sm-4 col-xs-4" style="margin-left:-6%">
       <select id="PositionType">
           <option value="Parent">Parent</option>
           <option value="Leaf">Leaf</option>

       </select>

    </div>
    <div class="col-md-2 col-sm-2 col-xs-2">
        <label class="control-label">
            PositionType
            <span class="required" aria-required="true"> * </span>
        </label>
    </div>
</div>
    
    
    <div class="form-group row">

    <div class="col-md-6 col-sm-6 col-xs-6">
    </div>

    <div class="col-md-4 col-sm-4 col-xs-4" style="margin-left:-6%">
        <select id="PrivilegeType">
            <option value="Menu">Menu</option>
            <option value="Forms">Forms</option>

        </select>


    </div>
    <div class="col-md-2 col-sm-2 col-xs-2">
        <label class="control-label">
            PrivilegeType
            <span class="required" aria-required="true"> * </span>
        </label>
    </div>
</div>
      

   
            <div class="form-group row">
                <div class="col-md-4 col-sm-4 col-xs-4" style="margin-left:-6%">
                </div>
                <div class="col-md-5 col-sm-5 col-xs-5">
                    <a id="Save" class="btn green button-submit">
                        Save
                        <i class="fa fa-check"></i>
                    </a>
                </div>
                <div class="col-md-3 col-sm-3 col-xs-3">

                </div>
            </div>
     


</div>

<script>
    $("select").select2();

    $(document).on('click', '#Save', function () {
        var dialog = bootbox.dialog({
            message: '<p class="text-center"><i class="fa fa-spin fa-spinner"></i> ....جار التحميل</p>',

        });
        var Name = $('#Name').val();
        var Type = $('#Type').val();
        var Size = $('#Size').val();
        var Html = $('#Html').val();
        var HtmlCode = $('#HtmlCode').val();
        var ColumnValue = $('#ColumnValue').val();
        var PrivilegeName = $('#PrivilegeName').val();
        var PrivilegeParent = $('#PrivilegeParent').val();
        var Level = $('#Level').val();
        var Index = $('#Index').val();
        var PositionType = $('#PositionType').val();
        var PrivilegeType = $('#PrivilegeType').val();



        $.ajax({
            type: 'GET',
            url: '@Url.Action("CreatePrivilege", "Privilege")',

            data: {
                Name: Name,
                Type: Type,
                Size: Size,
                Html: Html,
                HtmlCode: HtmlCode,
                ColumnValue: ColumnValue,
                PrivilegeName: PrivilegeName,
                PrivilegeParent: PrivilegeParent,
                Level: Level,
                Index: Index,
                PositionType: PositionType,
                PrivilegeType: PrivilegeType,

            },
            dataType: 'text',
            success: function (result) {

                location.reload();
            }
        });
    });


</script>