﻿.mm-survey {
    /*margin-top: 75px;*/
    margin-bottom: 50px;
}

.mm-survey-container {
    width: 100%;
    min-height: auto;
    background: rgba(250, 250, 250, 0.6);
}

.mm-survey-results-container {
    width: 100%;
    /*min-height: 600px;*/
    background: rgba(250, 250, 250, 0.6);
}

.mm-survey-page {
    display: none;
    /*font-family: 'Raleway';*/
    font-weight: 100;
    padding: 20px;
}

    .mm-survey-page.active {
        display: block;
    }

.mm-survey-controller {
    position: relative;
    height: 60px;
    background: rgb(71 131 165);
    padding: 12px 14px;
}

.mm-survey-results-controller {
    position: relative;
    height: 60px;
    background: rgb(25, 38, 77);
    padding: 12px 14px;
}

.mm-back-btn {
    display: inline-block;
    position: relative;
    float: left;
}

.mm-prev-btn {
    display: inline-block;
    position: relative;
    float: right;
}

.mm-next-btn {
    display: inline-block;
    opacity: 0.25;
    position: relative;
    float: left;
}

.mm-finish-btn {
    display: none;
    position: relative;
    float: left;
}

    .mm-finish-btn button {
       /* background: #fff !important;*/
        color: #4783a5;
    }

.mm-survey-controller button {
    background: #4783a5;
    border: 1px solid;
    padding: 8px 18px;
    /*font-family: 'Raleway';*/
    font-weight: 300;
    color: white;
}

.mm-survey-results-controller button {
    background: #fff;
    border: none;
    padding: 8px 18px;
    color:darkblue;
}

.mm-survey-progress {
    width: 100%;
    height: 30px;
    background: #f5f5f5;
    overflow: hidden;
}

.mm-progress {
    transition: width 0.5s ease-in-out;
}

.mm-survey-progress-bar {
    height: 30px;
    width: 0%;
    background: linear-gradient(to left, #4CB8C4, #3CD3AD);
}

.mm-survey-q {
    list-style-type: none;
    padding: 0px;
}

    .mm-survey-q li {
        display: block;
        /*padding: 20px 0px;*/
        margin-bottom: 10px;
        width: 100%;
        background: #fff;
    }

        .mm-survey-q li input {
            width: 100%;
        }

.mm-survery-content label {
    width: 100%;
    padding: 10px 10px;
    margin: 0px !important;
}

    .mm-survery-content label:hover {
        cursor: pointer;
    }

/*.mm-survey-question {
	min-height: 100px;
}*/

.mm-survey-question p {
    color: #646464;
    font-size: 22px;
    font-weight: 200;
    margin-bottom: 20px;
    line-height: 40px;
}

.mm-survery-content label p {
    display: inline-block;
    position: relative;
    /*top: 2px;
    left: 5px;*/
    margin: 10px;
    color: #646464;
}

input[type="radio"] {
    display: none;
}

    input[type="radio"] + label {
        color: #292321;
        /*font-family: 'Raleway';*/
        font-weight: 300;
        font-size: 16px;
    }

        input[type="radio"] + label span {
            display: inline-block;
            width: 30px;
            height: 30px;
            margin: 2px 4px 0 0;
            vertical-align: middle;
            cursor: pointer;
            -moz-border-radius: 50%;
            border-radius: 50%;
        }

        input[type="radio"] + label span {
            border: 2px solid #4783a5;
            background: transparent;
          /*  background-color: rgb(71 131 165);*/
        }

    input[type="radio"]:checked + label span {
        background-color: rgb(71 131 165);
        /*  border: 2px solid #4783a5;
        background: transparent;*/
    }

    input[type="radio"] + label span,
    input[type="radio"]:checked + label span {
        -webkit-transition: background-color 0.20s ease-in-out;
        -o-transition: background-color 0.20s ease-in-out;
        -moz-transition: background-color 0.20s ease-in-out;
        transition: background-color 0.20s ease-in-out;
    }

.mm-survey-item {
    background: rgba(225,225,225,0.8);
    margin-bottom: 15px;
    border-bottom: 1px solid rgba(33,33,33,0.15);
    border-radius: 0px 0px 4px 4px;
}

.mm-prev-btn button:focus, .mm-next-btn button:focus, .mm-finish-btn button:focus {
    outline: none;
    border: none;
}

.mm-survey.okay .mm-next-btn {
    display: inline-block;
    opacity: 1;
}

.mm-finish-btn.active {
    display: inline-block;
}

.mm-survey-results {
    display: none;
}

.mm-survey-results-score {
    margin: 0px;
    padding: 15px;
    text-align: center;
    font-size: 26px;
    font-family: "Droid Arabic Kufi", serif;
    font-weight: 600;
    color:rgb(25, 38, 77);
    background:rgba(255,255,255,0.8);
    /*letter-spacing: -6px;*/
}

.mm-survey-results-list {
    list-style-type: none;
    padding: 10px 15px;
    margin: 0px;
}

.mm-survey-results-item {
    color: #fff;
    margin-top: 10px;
    padding: 15px 15px 15px 0px;
    /*font-family: 'Raleway';*/
    font-weight: 300;
}

    .mm-survey-results-item.correct {
        background: linear-gradient(to left, #4CB8C4, #3CD3AD);
    }

    .mm-survey-results-item.incorrect {
        background: rgba(255,255,255,0.8);
        text-align: left;
    }

.mm-item-number {
    height: 40px;
    position: relative;
    padding: 10px;
    background: rgb(71 131 165);
    color: #fff;
}

.mm-item-info {
    float: right;
    color: black;
    text-align: right;
    color:darkblue;
}
