﻿@{
    ViewBag.Title = "Index";
    Layout = null;
}
<div>
    @using (Html.BeginForm("FormSubmit", "Recaptcha", FormMethod.Post))
    {
        <div class="g-recaptcha" data-sitekey="6LcaGEIUAAAAACkBf3Wqj9xJgD8pcBRaQgbHjG_H"></div>
        <input type="submit" value="Submit" />
    }
</div>
<span style="display:inline-block; font-size:20px;margin:20px 0;padding:20px;border:1px solid #D3D3D3">
    @ViewBag.Message
</span>
@*<script src='https://www.google.com/recaptcha/api.js' type="text/javascript"></script>*@ 
