﻿
@{
    Layout = "~/Views/Shared/_LayoutInitialPage.cshtml";
    //List<SelectListItem> Organisations = ViewData["Organisation"] as List<SelectListItem>;
    List<SelectListItem> OrganisationsParent = ViewData["OrganisationsWithParent"] as List<SelectListItem>;
    List<SelectListItem> JobDescription = ViewData["JobDescription"] as List<SelectListItem>;

}

<style>
    .col-md-3 {
        float: right;
    }

    .col-md-9 {
        float: left;
        margin-left: 1%;
    }

    .form-control {
        text-align: right;
    }

    .col-md-10 {
        float: left;
    }
</style>



<section>
    <div class="page-content-inner">
        <!-- Basic Form Elements -->
        <section class="panel">

            <div class="row" style="text-align: right;padding-top: 20px;padding-bottom: 20px;margin-right: 2%;">
                <h3>
                    تعديل الموظف

                </h3>
            </div>
            <div class="row" style="text-align:right;">
                <div class="col-lg-6" style="border-right: 4px solid #f2f4f8;">
                    <div class="form-group row">
                        <div class="col-md-10">
                            <input type="text" class="form-control"  value="@ViewBag.MouwazafinToEdit.BIRTHPLACE" id="BIRTHPLACE">
                        </div>
                        <div class="col-md-2">
                            <label class="form-control-label" for="l0">محل الولادة</label>
                        </div>

                    </div>

                    <div class="form-group row">

                        <div class="col-md-10">
                            <input type="text" class="form-control"  value="@ViewBag.MouwazafinToEdit.BIRTHDAY" id="BIRTHDAY">
                        </div>
                        <div class="col-md-2">
                            <label class="form-control-label" for="l0">نهار الولادة</label>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-md-10">
                            <input type="text" class="form-control"  value="@ViewBag.MouwazafinToEdit.BIRTHMONTH" id="BIRTHMONTH">
                        </div>
                        <div class="col-md-2">
                            <label class="form-control-label" for="l0">شهر الولادة</label>
                        </div>

                    </div>

                    <div class="form-group row">
                        <div class="col-md-10">
                            <input type="text" class="form-control ChangeField" value="@ViewBag.MouwazafinToEdit.BIRTHYEAR" id="BIRTHYEAR">
                        </div>
                        <div class="col-md-2">
                            <label class="form-control-label" for="l0">سنة الولادة</label>
                        </div>

                    </div>

                    <div class="form-group row">
                        <div class="col-md-4">
                            @*<input type="text" class="form-control ChangeField" value="@ViewBag.MouwazafinToEdit.SIDENAME" id="BIRTHYEAR">*@
                            <select id="Organisations"></select>
                            @*@Html.DropDownList("Organisations", Organisations, "الجهة العامة", new { @class = "inputcolor form-control placeholder-no-fix" })*@


                        </div>
                        <div class="col-md-2">
                            <label class="form-control-label" for="l0">الجهة العامة</label>
                        </div>
                        <div class="col-md-4">
                            <input type="text" class="form-control ChangeField" value="@ViewBag.SIDEPARENT" id="BIRTHYEAR">


                        </div>
                        <div class="col-md-2">
                            <label class="form-control-label" for="l0">الجهة العامة الحالية </label>
                        </div>


                    </div>

                </div>
                <div class="col-lg-6">

                    <div class="form-group row">

                        <div class="col-md-10">
                            <input type="text" class="form-control"  value="@ViewBag.MouwazafinToEdit.FIRSTNAME" id="FIRSTNAME">
                        </div>
                        <div class="col-md-2">
                            <label class="form-control-label" for="l0"> الاسم</label>
                        </div>
                    </div>

                    <div class="form-group row">

                        <div class="col-md-10">
                            <input type="text" class="form-control"  value="@ViewBag.MouwazafinToEdit.FATHERNAME" id="FATHERNAME">
                        </div>
                        <div class="col-md-2">
                            <label class="form-control-label" for="l0">إسم الأب</label>
                        </div>
                    </div>

                    <div class="form-group row">

                        <div class="col-md-10">
                            <input type="text" class="form-control" value="@ViewBag.MouwazafinToEdit.SURNAME" id="SURNAME">
                        </div>

                        <div class="col-md-2">
                            <label class="form-control-label" for="l0">الشهرة</label>
                        </div>
                    </div>

                    <div class="form-group row">

                        <div class="col-md-10">
                            <input type="text" class="form-control"  value="@ViewBag.MouwazafinToEdit.MOTHERNAME" id="MOTHERNAME">
                        </div>

                        <div class="col-md-2">
                            <label class="form-control-label" for="l0">إسم الأم</label>
                        </div>
                    </div>

                    <div class="form-group row">
                        <div class="col-md-4">
                            @*<input type="text" class="form-control ChangeField" value="@ViewBag.MouwazafinToEdit.SIDEPARENT" id="BIRTHYEAR">*@
                            @Html.DropDownList("OrganisationsParent", OrganisationsParent, "الجهة المركزية", new { @class = "inputcolor form-control placeholder-no-fix" })


                        </div>
                        <div class="col-md-2">
                            <label class="form-control-label" for="l0">الجهة المركزية</label>
                        </div>
                        <div class="col-md-4">
                            <input type="text" class="form-control ChangeField" value="@ViewBag.SIDENAME" id="BIRTHYEAR">


                        </div>
                        <div class="col-md-2">
                            <label class="form-control-label" for="l0">الجهة المركزية الحالية </label>
                        </div>

                    </div>

                    <div class="form-group row">
                        <div class="col-md-10">
                            @Html.DropDownList("JobDescription", JobDescription, "الوظيفة", new { @class = "inputcolor form-control placeholder-no-fix" })


                        </div>
                        <div class="col-md-2">
                            <label class="form-control-label" for="l0">الوظيفة</label>
                        </div>

                    </div>
                </div>


                <div class="row">

                    <button class="btn btn-primary" id="SAVEmOUWAZAF" style="margin-bottom:1%;margin-right:10%;">تعديل </button>



                </div>
            </div>

        </section>
        <!-- End -->
    </div>
</section>
<script>


    $("#OrganisationsParent").select2();
    $("#JobDescription").select2();
    $("#JobDescription").val('@ViewBag.JobName').trigger("change");
    @*console.log('@ViewBag.SIDEPARENT');
    console.log('@ViewBag.SIDENAME');*@

    $("#OrganisationsParent").change(function () {

        $.ajax({
            url: '@Url.Action("GetAllOrganisationsJson", "MouwazafinWithOrgs")',
            type: 'GET',
            cache: false,
            dataType: 'json',
            data: ({
                parentOrg: $("#OrganisationsParent option:selected").text()
            }),
            contentType: 'application/json; charset=utf-8',


            success: function (data) {
                console.log(data);
                
                var html = '';
                $.each(data, function (key, value) {

                   
                    html += "<option value='" + value.OrganisationKey + "'>" + value.OrganisationName + "</option>"

                });
                $("#Organisations").append(html);
               
            },
            error: function (xhr) {
                alert('errorr');
            }
        });


    });


    $("#SAVEmOUWAZAF").click(function () {

        waitingDialog.show(' !!!  جاري التحميل');

        var FIRSTNAME = $('#FIRSTNAME').val();
        var FATHERNAME = $('#FATHERNAME').val();
        var SURNAME = $('#SURNAME').val();
        var MOTHERNAME = $('#MOTHERNAME').val();
        var BIRTHPLACE = $('#BIRTHPLACE').val();
        var BIRTHDAY = $('#BIRTHDAY').val();
        var BIRTHMONTH = $('#BIRTHMONTH').val();
        var BIRTHYEAR = $('#BIRTHYEAR').val();
        var SIDENAME = $("#Organisations option:selected").text();
        var SIDEPARENT = $("#OrganisationsParent option:selected").text();
        var JobKey = $('#JobDescription').val();
        console.log(SIDENAME);
        console.log(SIDEPARENT);

        $.ajax({
            url: '@Url.Action("EditMouwatin", "MouwazafinWithOrgs")',
            type: 'GET',
            cache: false,
            dataType: 'text',
            data: ({
                RowId: '@ViewBag.MouwazafinToEdit.MWOKey',
                FIRSTNAME: FIRSTNAME,
                FATHERNAME: FATHERNAME,
                SURNAME: SURNAME,
                MOTHERNAME: MOTHERNAME,
                BIRTHPLACE: BIRTHPLACE,
                BIRTHDAY: BIRTHDAY,
                BIRTHMONTH: BIRTHMONTH,
                BIRTHYEAR: BIRTHYEAR,
                SIDENAME: SIDENAME,
                SIDEPARENT: SIDEPARENT,
                JobKey: JobKey
            }),
            contentType: 'application/json; charset=utf-8',


            success: function (data) {
                submit_post_via_hidden_form("@Url.Action("Index", "MouwazafinWithOrgs")", {});

            },
            error: function (xhr) {
                alert('errorr');
            }
        });



    });

    function submit_post_via_hidden_form(url, params) {
        var f = $("<form method='POST' style='display:none;'></form>").attr({
            action: url
        }).appendTo(document.body);

        for (var i in params) {
            if (params.hasOwnProperty(i)) {
                $('<input type="hidden" />').attr({
                    name: i,
                    value: params[i]
                }).appendTo(f);
            }
        }

        f.submit();

        f.remove();
    }


</script>

