﻿
@{
    Layout = "~/Views/Shared/_LayoutInitialPage.cshtml";
}

<style>
    thead th {
        text-align: right;
        background-color: white !important;
    }

    tbody tr td {
        text-align: right;
        background-color: white;
    }
    #example1_paginate,#example1_info{
        margin-top:6% !important;
    }

    #example1_length{
        margin-top:1%;
    }

</style>



<div class="row" style="margin-top:1%;">
    <div class="col-xl-12">
        <div class="row">
            <div class="col-xl-12">
                <div class="widget widget-two" style="direction:ltr;">
                    <div class="widget-header" dir="rtl">
                        <span class="text-truncate text-nowrap" >جدول  <strong>الموظفين</strong></span>
                    </div>
                    <div class="row">


                        <div class="col-lg-12" style="text-align:right">

                            <div class="form-group row col-md-6" style="float:right;margin-top:1%">
                                <div class="col-md-2">
                                    <div class="btn btn-primary" id="SearchBtn">
                                        ابحث
                                    </div>
                                </div>
                                <div class="col-md-8">
                                    <input type="text" class="form-control ChangeField" id="SearchValue1" dir="rtl">
                                    <input type="text" class="form-control ChangeField" id="SearchValue2" dir="rtl">

                                    <input type="text" class="form-control ChangeField" id="SearchValue3" dir="rtl">

                                </div>
                                <div class="col-md-2">
                                    <label class="form-control-label" for="l0"> : البحث </label>
                                </div>

                            </div>
                            <img src="@Url.Content("~/images/newdesignpics/loadertablemouwazafin.gif")" style="margin-top:6%;display:none" id="LoaderTable">
                            <div class="margin-bottom-50" id="TableAppend">



                                @Html.Partial("Mouwazafin")
                            </div>

                            <div class="row" style="margin-bottom: 1%;margin-top: -3%;margin-right: 1%;">

                                <div class="btn btn-primary-outline" id="Previous1000">1000 السابق</div>
                                <div class="btn btn-primary-outline" id="Next1000">1000 التالي</div>


                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>



<script>
    
 

    $('#example1').DataTable({
        responsive: true,
        autoWidth: true,
        scrollX: true,
        fixedColumns: true,
        searching: false,
        drawCallback: function () {
            $('.paginate_button', this.api().table().container())
               .on('click', function () {
                   //alert("next");
               });
        }

    });

    function EditMouwazaf(MouwazafToedit) {
        var RowId = $(MouwazafToedit).attr("data-value");
        submit_post_via_hidden_form("@Url.Action("Edit", "MouwazafinWithOrgs")", { RowId: RowId });

    }

    function submit_post_via_hidden_form(url, params) {
        var f = $("<form target='_blank' method='POST' style='display:none;'></form>").attr({
            action: url
        }).appendTo(document.body);

        for (var i in params) {
            if (params.hasOwnProperty(i)) {
                $('<input type="hidden" />').attr({
                    name: i,
                    value: params[i]
                }).appendTo(f);
            }
        }

        f.submit();

        f.remove();
    }
    var x = 1000;
    $("#Next1000").click(function () {
        if ($("#Next1000").attr('disabled')) {
            ;
        } else {
           
            $("#Previous1000").removeAttr("disabled");

            var SearchValue1 = $("#SearchValue1").val();
            var SearchValue2 = $("#SearchValue2").val();
            var SearchValue3 = $("#SearchValue3").val();

            if (SearchValue1 == "")
                SearchValue1 = "null";
            if (SearchValue2 == "")
                SearchValue2 = "null";
            if (SearchValue3 == "")
                SearchValue3 = "null";
            if (x == 0)
                x = 1000;


            $("#LoaderTable").show();
            $("#TableAppend").html('');
            $.ajax({
                url: '@Url.Action("Mouwazafin", "MouwazafinWithOrgs")',
                dataType: "html",
                data: { SearchValue1: SearchValue1, SearchValue2: SearchValue2, SearchValue3: SearchValue3, count: "BETWEEN " + x + " AND " + (x + 1000) + "" },
                success: function (result) {
                    x += 1000;
                   
                  
                    $("#TableAppend").append(result);
                    $("#LoaderTable").hide();

                    $('#example1').DataTable({
                        responsive: true,
                        autoWidth: true,
                        scrollX: true,
                        fixedColumns: true,
                        searching: false

                    });

                    var countTable = $('#example1').DataTable().data().count();

                    if (countTable == 0)
                        $("#Next1000").attr("disabled", true);


                    console.log("countTable=" + countTable);


                }

            });
        }
       

    });


    $("#Previous1000").click(function () {
        if ($("#Previous1000").attr('disabled')) {
            ;
        } else {
            $("#Next1000").removeAttr("disabled");

            var SearchValue1 = $("#SearchValue1").val();
            var SearchValue2 = $("#SearchValue2").val();
            var SearchValue3 = $("#SearchValue3").val();

            if (SearchValue1 == "")
                SearchValue1 = "null";
            if (SearchValue2 == "")
                SearchValue2 = "null";
            if (SearchValue3 == "")
                SearchValue3 = "null";

            $("#LoaderTable").show();
            $("#TableAppend").html('');
            $.ajax({
                url: '@Url.Action("Mouwazafin", "MouwazafinWithOrgs")',
                dataType: "html",
                data: { SearchValue1: SearchValue1, SearchValue2: SearchValue2, SearchValue3: SearchValue3, count: "BETWEEN " + (x - 2000) + " AND " + (x - 1000) + "" },
                success: function (result) {
                    x -= 1000;
                    ;
                    $("#TableAppend").append(result);
                    $("#LoaderTable").hide();

                    $('#example1').DataTable({
                        responsive: true,
                        autoWidth: true,
                        scrollX: true,
                        fixedColumns: true,
                        searching: false

                    });

                    if (x == 1000) {
                        $("#Previous1000").attr("disabled", true);
                       
                    }

                    var countTable = $('#example1').DataTable().data().count();
                    if (countTable == 0)
                        $("#Previous1000").attr("disabled", true);
                }

            });
        }

      

    });

    $("#SearchBtn").click(function () {
        var SearchValue1 = $("#SearchValue1").val();
        var SearchValue2 = $("#SearchValue2").val();
        var SearchValue3 = $("#SearchValue3").val();

        if (SearchValue1=="")
            SearchValue1 = "null";
        if (SearchValue2 == "")
            SearchValue2 = "null";
        if (SearchValue3 == "")
            SearchValue3 = "null";
        x = 1000;
        $("#LoaderTable").show();
        $("#TableAppend").html('');
            $.ajax({
                url: '@Url.Action("Mouwazafin", "MouwazafinWithOrgs")',
                dataType: "html",
                data: { SearchValue1: SearchValue1, SearchValue2: SearchValue2, SearchValue3: SearchValue3, count: "BETWEEN 0 AND 1000" },
                success: function (result) {
                   
                    ;
                    $("#TableAppend").append(result);
                    $("#LoaderTable").hide();

                    $('#example1').DataTable({
                        responsive: true,
                        autoWidth: true,
                        scrollX: true,
                        fixedColumns: true,
                        searching: false

                    });



                }

            });
        
     

    });
</script>