﻿<table class="table table-hover nowrap" id="example1" width="100%">
    <thead>
        <tr>
            <th>الوظيفة</th>
            <th>الجهة المركزية</th>
            <th>الجهة العامة</th>
            <th>سنة الولادة</th>
            <th>شهر الولادة</th>
            <th>نهار الولادة</th>
            <th>محل الولادة</th>
            <th>إسم الأم</th>
            <th>الشهرة</th>
            <th>إسم الأب</th>
            <th>الاسم</th>
            <th></th>

        </tr>
    </thead>

    <tbody id="TableBody">
        @{
            foreach (var item in ViewBag.MouwazafinWithOrgsTable)
            {

                <tr>
                    <td>@item.JobName</td>
                    <td>@item.SIDEPARENT</td>
                    <td>@item.SIDENAME</td>
                    <td>@item.BIRTHYEAR</td>
                    <td>@item.BIRTHMONTH</td>
                    <td>@item.BIRTHDAY</td>
                    <td>@item.BIRTHPLACE</td>
                    <td>@item.MOTHERNAME</td>
                    <td>@item.SURNAME</td>
                    <td>@item.FATHERNAME</td>
                    <td>@item.FIRSTNAME</td>
                    <td data-value="@item.MWOKey" onclick="EditMouwazaf(this)"><a>تعديل</a></td>

                </tr>
            }



        }


    </tbody>
</table>

