﻿
@using MoAD.DataObjects.EDMX;



@{
    ViewBag.Title = "UserManagement";
    List<SelectListItem> Organisation = ViewData["Organisation"] as List<SelectListItem>;

    Layout = "~/Views/Shared/_LayoutInitialPage.cshtml";

}

<style>
    .bootbox-body {
        direction: rtl;
    }
</style>
<div class="row" style="text-align:center;padding-top:20px;padding-bottom:20px;">
    <h3>
        تعديل المؤسسات
    </h3>
</div>


<div id="example" style="background-color:white;min-height:400px;">

        
            <div class="form-group row">
                <div class="col-md-6 col-sm-6 col-xs-6">
                </div>
                <div class="col-md-4 col-sm-4 col-xs-4" style="margin-left:-6%;margin-top:2%;">
                    @Html.DropDownList("Organisation", Organisation, new { @class = "inputcolor form-control placeholder-no-fix;", dir = "rtl" })
                </div>
                <div class="col-md-2 col-sm-2 col-xs-2" style="margin-top:2%;">
                    <label class="control-label">
                        الجهة العامة
                        <span class="required" aria-required="true"> * </span>
                    </label>
                </div>
            </div>
    

    <div class="form-group row">
        <div class="col-md-6 col-sm-6 col-xs-6">
        </div>
        <div class="col-md-4 col-sm-4 col-xs-4" style="margin-left:-6%;margin-top:2%;">
            <input id="EditOrgInput" class="form-control" dir="rtl"/>
        </div>
        <div class="col-md-2 col-sm-2 col-xs-2" style="margin-top:2%;">
            <label class="control-label">
                تعديل
                <span class="required" aria-required="true"> * </span>
            </label>
        </div>
    </div>

  
    <div class="form-group row">
        <div class="col-md-4 col-sm-4 col-xs-4" style="margin-left:-6%">
        </div>
        <div class="col-md-5 col-sm-5 col-xs-5">
            <a id="editorganisation" class="btn green button-submit">
                حفظ
                <i class="fa fa-check"></i>
            </a>
        </div>
        <div class="col-md-3 col-sm-3 col-xs-3">

        </div>
    </div>   



</div>

<script>
    $('#Organisation').select2();
    if ('@ViewBag.organKey' != null && '@ViewBag.organKey' != '') {
        $('#Organisation').val('@ViewBag.organKey').trigger("change");
    }

    $("#EditOrgInput").val($("#Organisation option:selected").text());

    $('#Organisation').change(function () {
        $("#EditOrgInput").val($("#Organisation option:selected").text());

    });

    $(document).on('click', '#editorganisation', function () {
       
        var dialog = bootbox.dialog({
            message: '<p class="text-center"><i class="fa fa-spin fa-spinner"></i> ....جار التحميل</p>',

        });

        var orgKey = $("#Organisation").val();
        var orgName = $("#EditOrgInput").val();




        $.ajax({
            url: '@Url.Action("UpdateOrganisation", "MouwazafinWithOrgs")',
            type: 'GET',
            dataType: 'text',
            cache: false,
            data: {
                orgKey: orgKey, OrgName: orgName
            },
            success: function (data) {
                submit_post_via_hidden_form("@Url.Action("UpdateOrgs", "MouwazafinWithOrgs")", { organKey: orgKey });

                //bootbox.alert("تم إجراء التغييرات بنجاح !!", function () {

                //})

            }
        });
    });
</script>