﻿@using MoAD.WebApplication.Models
@{
    ViewBag.Title = "_EmployeesTable";
    var EmployeesData = ViewData["EmployeesData"] as List<ERMEmployees>;
}

<table class="table table-hover nowrap" id="ERMEmployeesTable" width="100%">
    <thead>
        <tr>
            <th>#</th>
            <th>الاسم</th>
            <th>إسم الاب</th>
            <th>الشهرة</th>
            <th>إسم الأم</th>
            <th>مكان الولادة</th>
            <th></th>
        </tr>
    </thead>

    <tbody id="BodyTable">
        @foreach (var item in EmployeesData)
        {
            <tr>
                <td>@item.EmployeesRecordKey</td>
                <td>@item.FirstName</td>
                <td>@item.FatherName</td>
                <td>@item.SurName</td>
                <td>@item.MotherName</td>
                <td>@item.BirthPlace</td>
                <td>
                    <button class="btn btn-primary HistoryForms" data-FullName="@item.FirstName @item.FatherName @item.SurName" data-EmpKey="@item.EmployeesRecordKey">تعبئة خارطة الموارد البشرية</button>
                </td>
            </tr>
        }

    </tbody>
</table>

<script>
    $('#ERMEmployeesTable').DataTable({
        responsive: true,
        autoWidth: true,
        fixedColumns: true,
        searching: false,
        "oLanguage": {
            "sLengthMenu": "عدد الأسطر لكل صفحة _MENU_ ",
            "sEmptyTable": '<span lang="ar" dir="rtl">لا يوجد معلومات في</span>',
            "oPaginate": {

                "sPrevious": "السابقة", // This is the link to the previous page
                "sNext": "التالية", // This is the link to the next page

            }
        },
        drawCallback: function () {
            $('.paginate_button', this.api().table().container())
               .on('click', function () {
                   //alert("next");
               });
        }
    });
</script>


