﻿@using MoAD.DataObjects.EDMX;
@{
    ViewBag.Title = "ERMReports";
    List<GetAllOrganisations_Result> AllOrganisations = ViewBag.AllOrganisations;
  
    var OrgName = ViewBag.OrganisationName;
    Layout = "~/views/shared/_layoutinitialpage.cshtml";
}

<style>
    body, input, textarea, keygen, select, button {
        letter-spacing: 0px !important;
    }

    .amExportButton{
        background:#dae3e3;
    }
    /*thead th {
        text-align: right;
    }

    tfoot th {
        text-align: right;
    }

    .div2blink {
        transition: backgroundColor 0.05s ease-in-out;
    }

    .backgroundChange {
        color: red;
    }

    .row {
        display: block;
    }

    .select2-container {
        border: 1px solid black;
    }

    .select2 .select2-selection--single {
        height: 39px;
    }

    .select2-results {
        height: 200px;
        overflow-y: scroll;
    }

    .select2-results__options {
        height: 100%;
    }*/

    tspan {
        direction:ltr;
        font-size: 14px;
    }

    .chartContainer {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .EmptyChartMsg{
        position:absolute;
        font-size:20px;
    }
</style>



<script src="@Url.Content("~/scripts/amcharts/amcharts.js")"></script>
<script src="@Url.Content("~/scripts/amcharts/serial.js")"></script>
<script src="@Url.Content("~/scripts/amcharts/pie.js")"></script>
<script src="@Url.Content("~/scripts/amcharts/radar.js")"></script>
<script src="@Url.Content("~/scripts/amcharts/light.js")"></script>
<script src="@Url.Content("~/scripts/amcharts/patterns.js")"></script>
<script src="@Url.Content("~/scripts/amcharts/chalk.js")"></script>
<script src="@Url.Content("~/scripts/amcharts/ammap.js")"></script>
<script src="@Url.Content("~/scripts/amcharts/worldlow.js")"></script>
<script src="@Url.Content("~/scripts/amcharts/amstock.js")"></script>
<script src="@Url.Content("~/scripts/amcharts/app.min.js")"></script>
<script src="@Url.Content("~/scripts/amcharts/fabric.min.js")"></script>
<script src="@Url.Content("~/scripts/amcharts/FileSaver.min.js")"></script>
<script src="@Url.Content("~/scripts/amcharts/jszip.min.js")"></script>
<script src="@Url.Content("~/scripts/amcharts/pdfmake.min.js")"></script>
<script src="@Url.Content("~/scripts/amcharts/vfs_fonts.js")"></script>
<script src="@Url.Content("~/scripts/amcharts/export.min.js")"></script>
<script src="@Url.Content("~/scripts/amcharts/charts-amcharts3.js")"></script>

<link rel="stylesheet" href="https://www.amcharts.com/lib/3/plugins/export/export.css" type="text/css" media="all" />
<div class="col-md-12" style="background-color:white;text-align:right;margin-top:5px;margin-bottom:5px;">
    <div class="col-md-6">    
    </div>
    <div class="col-md-4">
        
        <select id="orgDropdown">
            <option value="General">التقرير العام</option>
            @foreach(var item in AllOrganisations)
            {
                <option value="@item.OrganisationKey">@item.OrganisationName</option>
            }
        </select>
    </div>
    <div class="col-md-2">
        الجهة العامة
    </div>

</div>
<div class="col-xl-12 col-md-12" dir="rtl">
    <div class="widget widget-six" style="-webkit-border-radius: 5px;border-radius: 5px;margin-bottom: 16px;border: 1px solid #eceff4;">
        <div class="widget-header" style="color:black;">
            <strong>تقارير خارطة الموارد البشرية</strong>
        </div>

        <div class="widget-body">
            <div class="col-md-12">
                <div class="widget widget-six" style="-webkit-border-radius: 5px;border-radius: 5px;margin-bottom: 16px;border: 1px solid #eceff4;">
                    <div class="widget-header" style="color:black;">
                        <strong>(@OrgName)توزع القوى العاملة على الشرائح العمرية</strong>
                    </div>

                    <div class="widget-body">
                        <div class="col-lg-12" style="background:white;">
                            <div class="margin-bottom-50">
                                <div id="chart_1" class="chart" style="height: 500px;"> </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-12">
                <div class="widget widget-six" style="-webkit-border-radius: 5px;border-radius: 5px;margin-bottom: 16px;border: 1px solid #eceff4;">
                    <div class="widget-header" style="color:black;">
                        <strong>(@OrgName)توزع الشرائح العمرية على الفئات</strong>
                    </div>

                    <div class="widget-body">
                        <div class="col-lg-12" style="background:white;">
                            <div class="margin-bottom-50 chartContainer">
                                @if (ViewBag.EmployeePerAgeSliceReportObject.Count == 0)
                                {
                                    <p class="EmptyChartMsg">لا توجد بيانات متاحة بعد</p>
                                }
                                <div id="chart_4" class="chart" style="height: 500px;"> </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-12">
                <div class="widget widget-six" style="-webkit-border-radius: 5px;border-radius: 5px;margin-bottom: 16px;border: 1px solid #eceff4;">
                    <div class="widget-header" style="color:black;">
                        <strong>(@OrgName)تطور نسبة الفئة الأولى من التعيين</strong>
                    </div>

                    <div class="widget-body">
                        <div class="col-lg-12" style="background:white;">
                            <div class="margin-bottom-50 chartContainer">
                                @if (ViewBag.EmloyeePerEmploymentDateSliceOne.Count == 0)
                                {
                                    <p class="EmptyChartMsg">لا توجد بيانات متاحة بعد</p>
                                }
                                <div id="chart_2" class="chart" style="height: 500px;"> </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-12">
                <div class="widget widget-six" style="-webkit-border-radius: 5px;border-radius: 5px;margin-bottom: 16px;border: 1px solid #eceff4;">
                    <div class="widget-header" style="color:black;">
                        <strong>(@OrgName)حصة الفئة الشابة من المسميات الوظيفية</strong>
                    </div>

                    <div class="widget-body">
                        <div class="col-lg-12" style="background:white;">
                            <div class="margin-bottom-50">
                                <div id="chart_3" class="chart" style="height: 500px;"> </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-12">
                <div class="widget widget-six" style="-webkit-border-radius: 5px;border-radius: 5px;margin-bottom: 16px;border: 1px solid #eceff4;">
                    <div class="widget-header" style="color:black;">
                        <strong>(@OrgName)توزيع المسميات الوظيفية على الفئات</strong>
                    </div>

                    <div class="widget-body">
                        <div class="col-lg-12" style="background:white;">
                            <div class="margin-bottom-50 chartContainer">
                                @if (ViewBag.EmployeesHavingOrNotHavingTitlePerSliceObject.Count == 0)
                                {
                                    <p class="EmptyChartMsg">لا توجد بيانات متاحة بعد</p>
                                }
                                <div id="chart_5" class="chart" style="height: 500px;"> </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-12">
                <div class="widget widget-six" style="-webkit-border-radius: 5px;border-radius: 5px;margin-bottom: 16px;border: 1px solid #eceff4;">
                    <div class="widget-header" style="color:black;">
                        <strong>(@OrgName)توزيع المسميات الوظيفية على الوحدات التنظيمية الفرعية</strong>
                    </div>

                    <div class="widget-body">
                        <div class="col-lg-12" style="background:white;">
                            <div class="margin-bottom-50 chartContainer">
                                @if (ViewBag.EmplyeesWithAndWithoutSubOrganisationalUnitObject.Count == 0)
                                {
                                    <p class="EmptyChartMsg">لا توجد بيانات متاحة بعد</p>
                                }
                                <div id="chart_6" class="chart" style="height: 500px;"> </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-12">
                <div class="widget widget-six" style="-webkit-border-radius: 5px;border-radius: 5px;margin-bottom: 16px;border: 1px solid #eceff4;">
                    <div class="widget-header" style="color:black;">
                        <strong>(@OrgName)نسبة التوطين الوظيفي</strong>
                    </div>

                    <div class="widget-body">
                        <div class="col-lg-12" style="background:white;">
                            <div class="margin-bottom-50">
                                <div id="chart_7" class="chart" style="height: 500px;"> </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-12">
                <div class="widget widget-six" style="-webkit-border-radius: 5px;border-radius: 5px;margin-bottom: 16px;border: 1px solid #eceff4;">
                    <div class="widget-header" style="color:black;">
                        <strong>(@OrgName)الشهادات العلمية غير المستثمرة</strong>
                    </div>

                    <div class="widget-body">
                        <div class="col-lg-12" style="background:white;">
                            <div class="margin-bottom-50 chartContainer">
                                @if (ViewBag.EmployeesCertificateReportObject.Count == 0)
                                {
                                    <p class="EmptyChartMsg">لا توجد بيانات متاحة بعد</p>
                                }
                                <div id="chart_8" class="chart" style="height: 500px;"> </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-12">
                <div class="widget widget-six" style="-webkit-border-radius: 5px;border-radius: 5px;margin-bottom: 16px;border: 1px solid #eceff4;">
                    <div class="widget-header" style="color:black;">
                        <strong>(@OrgName)توزع القوى العاملة على شرائح القدم الوظيفي</strong>
                    </div>

                    <div class="widget-body">
                        <div class="col-lg-12" style="background:white;">
                            <div class="margin-bottom-50">
                                <div id="chart_9" class="chart" style="height: 500px;"> </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-12">
                <div class="widget widget-six" style="-webkit-border-radius: 5px;border-radius: 5px;margin-bottom: 16px;border: 1px solid #eceff4;">
                    <div class="widget-header" style="color:black;">
                        <strong>(@OrgName)نسب القوى العاملة الذين شغلوا مواقع وظيفية سابقة والذين لم يشغلوا مواقع وظيفية سابقة</strong>
                    </div>

                    <div class="widget-body">
                        <div class="col-lg-12" style="background:white;">
                            <div class="margin-bottom-50 chartContainer">
                                @if (ViewBag.EmployeesPreviousEmploymentsReportObject.Count == 0)
                                {
                                    <p class="EmptyChartMsg">لا توجد بيانات متاحة بعد</p>
                                }
                                <div id="chart_77" class="chart" style="height: 500px;"> </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-12">
                <div class="widget widget-six" style="-webkit-border-radius: 5px;border-radius: 5px;margin-bottom: 16px;border: 1px solid #eceff4;">
                    <div class="widget-header" style="color:black;">
                        <strong>(@OrgName)توزع العاملين الذين لم يشغلوا مواقع وظيفية سابقة على الفئات</strong>
                    </div>

                    <div class="widget-body">
                        <div class="col-lg-12" style="background:white;">
                            <div class="margin-bottom-50 chartContainer">
                                @if (ViewBag.EmployeesPreviousEmploymentsPerSlicesReportObject.Count == 0)
                                {
                                    <p class="EmptyChartMsg">لا توجد بيانات متاحة بعد</p>
                                }
                                <div id="chart_777" class="chart" style="height: 500px;"> </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-12">
                <div class="widget widget-six" style="-webkit-border-radius: 5px;border-radius: 5px;margin-bottom: 16px;border: 1px solid #eceff4;">
                    <div class="widget-header" style="color:black;">
                        <strong>(@OrgName)مقارنة بين القدم الوظيفي والمواقع الوظيفية السابقة</strong>
                    </div>

                    <div class="widget-body">
                        <div class="col-lg-12" style="background:white;">
                            <div class="margin-bottom-50">
                                <div id="chart_33" class="chart" style="height: 500px;"> </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-12">
                <div class="widget widget-six" style="-webkit-border-radius: 5px;border-radius: 5px;margin-bottom: 16px;border: 1px solid #eceff4;">
                    <div class="widget-header" style="color:black;">
                        <strong>(@OrgName)المقارنة بين  نسبة العاملين  الذين  خضعوا لدورات تدريبية والذين  لم يخضعوا</strong>
                    </div>

                    <div class="widget-body">
                        <div class="col-lg-12" style="background:white;">
                            <div class="margin-bottom-50">
                                <div class="margin-bottom-50 chartContainer">
                                    @if (ViewBag.EmployeesWithTrainingCoursesVsWitoutTrainingCoursesReportObject.Count == 0)
                                    {
                                        <p class="EmptyChartMsg">لا توجد بيانات متاحة بعد</p>
                                    }
                                    <div id="chart_7777" class="chart" style="height: 500px;"> </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-12">
                    <div class="widget widget-six" style="-webkit-border-radius: 5px;border-radius: 5px;margin-bottom: 16px;border: 1px solid #eceff4;">
                        <div class="widget-header" style="color:black;">
                            <strong>(@OrgName)العاملين الذين لم يخضعوا للتدريب موزعين على شرائح القدم الوظيفي</strong>
                        </div>

                        <div class="widget-body">
                            <div class="col-lg-12" style="background:white;">
                                <div class="margin-bottom-50 chartContainer">
                                    @if (ViewBag.EmployeesWithoutTrainingCoursesPerEmploymentTimeReportObject.Count == 0)
                                    {
                                        <p class="EmptyChartMsg">لا توجد بيانات متاحة بعد</p>
                                    }
                                    <div id="chart_77777" class="chart" style="height: 500px;"> </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-12">
                    <div class="widget widget-six" style="-webkit-border-radius: 5px;border-radius: 5px;margin-bottom: 16px;border: 1px solid #eceff4;">
                        <div class="widget-header" style="color:black;">
                            <strong>(@OrgName)العاملين  الذين  لم يخضعوا للتدريب موزعين  على الفئات</strong>
                        </div>

                        <div class="widget-body">
                            <div class="col-lg-12" style="background:white;">
                                <div class="margin-bottom-50 chartContainer">
                                    @if (ViewBag.EmployeesWithoutTrainingCoursesSlicesReportObject.Count == 0)
                                    {
                                        <p class="EmptyChartMsg">لا توجد بيانات متاحة بعد</p>
                                    }
                                    <div id="chart_777777" class="chart" style="height: 500px;"> </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="widget widget-six" style="-webkit-border-radius: 5px;border-radius: 5px;margin-bottom: 16px;border: 1px solid #eceff4;">
                        <div class="widget-header" style="color:black;">
                            <strong>(@OrgName)نسبة القوى العاملة المترهلة</strong>
                        </div>

                        <div class="widget-body">
                            <div class="col-lg-12" style="background:white;">
                                <div class="margin-bottom-50">
                                    <div id="chart_11" class="chart" style="height: 500px;"> </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="widget widget-six" style="-webkit-border-radius: 5px;border-radius: 5px;margin-bottom: 16px;border: 1px solid #eceff4;">
                        <div class="widget-header" style="color:black;">
                            <strong>(@OrgName)نسبة القوى العاملة غير المستثمرة</strong>
                        </div>

                        <div class="widget-body">
                            <div class="col-lg-12" style="background:white;">
                                <div class="margin-bottom-50">
                                    <div id="chart_10" class="chart" style="height: 500px;"> </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-12">
                    <div class="widget widget-six" style="-webkit-border-radius: 5px;border-radius: 5px;margin-bottom: 16px;border: 1px solid #eceff4;">
                        <div class="widget-header" style="color:black;">
                            <strong>(@OrgName)القوى العاملة التي ستحال إلى التقاعد بعد ٥ سنوات</strong>
                        </div>

                        <div class="widget-body">
                            <div class="col-lg-12" style="background:white;">
                                <div class="margin-bottom-50">
                                    <div id="chart_333" class="chart" style="height: 500px;"> </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="widget widget-six" style="-webkit-border-radius: 5px;border-radius: 5px;margin-bottom: 16px;border: 1px solid #eceff4;">
                        <div class="widget-header" style="color:black;">
                            <strong>(@OrgName)توزع المحالي  إلى التقاعد بعد ٢٨ سنة خدمة على الفئات</strong>
                        </div>

                        <div class="widget-body">
                            <div class="col-lg-12" style="background:white;">
                                <div class="margin-bottom-50">
                                    <div id="chart_444" class="chart" style="height: 500px;"> </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="widget widget-six" style="-webkit-border-radius: 5px;border-radius: 5px;margin-bottom: 16px;border: 1px solid #eceff4;">
                        <div class="widget-header" style="color:black;">
                            <strong>(@OrgName)توزع المحالين  إلى التقاعد عند عمر الستين  على الفئات</strong>
                        </div>

                        <div class="widget-body">
                            <div class="col-lg-12" style="background:white;">
                                <div class="margin-bottom-50">
                                    <div id="chart_44" class="chart" style="height: 500px;"> </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="widget widget-six" style="-webkit-border-radius: 5px;border-radius: 5px;margin-bottom: 16px;border: 1px solid #eceff4;">
                        <div class="widget-header" style="color:black;">
                            <strong>(@OrgName)نسبة الإناث في المواقع الإدارية الوسطى</strong>
                        </div>

                        <div class="widget-body">
                            <div class="col-lg-12" style="background:white;">
                                <div class="margin-bottom-50 chartContainer">
                                    @if (ViewBag.WomenPerEmployeesPerTitleReportObject.Count == 0)
                                    {
                                        <p class="EmptyChartMsg">لا توجد بيانات متاحة بعد</p>
                                    }
                                    <div id="chart_12" class="chart" style="height: 500px;"> </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="widget widget-six" style="-webkit-border-radius: 5px;border-radius: 5px;margin-bottom: 16px;border: 1px solid #eceff4;">
                        <div class="widget-header" style="color:black;">
                            <strong>(@OrgName)عدد الإناث بالنسبة للعد الكلي للقوى العاملة</strong>
                        </div>

                        <div class="widget-body">
                            <div class="col-lg-12" style="background:white;">
                                <div class="margin-bottom-50">
                                    <div id="chart_111" class="chart" style="height: 500px;"> </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

<script>
    $("select").select2();

    $("#orgDropdown").val('@ViewBag.OrganisationID').trigger("change");

    $("#orgDropdown").change(function(){
        var OrganisationKey=$(this).val();

        if(OrganisationKey=="General"){
            window.location='@Url.Action("ERMReports", "ERMEmployees")';
        }else{
            window.location='@Url.Action("ERMReports", "ERMEmployees")/?OrganisationID=' + OrganisationKey;
        }
    })

    var initChartSample1 = function () {
        var chart = AmCharts.makeChart("chart_1", {
            "type": "serial",
            "theme": "light",
            "pathToImages": App.getGlobalPluginsPath() + "amcharts/amcharts/images/",
            "autoMargins": false,
            "marginLeft": 30,
            "marginRight": 8,
            "marginTop": 10,
            "marginBottom": 26,

            "fontFamily": 'Open Sans',
            "color": '#888',

            "dataProvider":
                @Html.Raw(Json.Encode(ViewBag.EmployeePerAgeReportObject)),
            "valueAxes": [{
                "axisAlpha": 0,
                "position": "left"
            }],
            "startDuration": 1,
            "graphs": [{
                "alphaField": "alpha",
                "balloonText": "<span style='font-size:13px;'>[[title]]  [[category]]:<b>[[value]]</b> [[additional]]</span>",
                "dashLengthField": "dashLengthColumn",
                "fillAlphas": 1,
                "title": "عدد الموظفين",
                "type": "column",
                "valueField": "income"
            }, {
                "balloonText": "<span style='font-size:13px;'>[[title]]  [[category]]:<b>[[value]]</b> [[additional]]</span>",
                "bullet": "round",
                "dashLengthField": "dashLengthLine",
                "lineThickness": 3,
                "bulletSize": 7,
                "bulletBorderAlpha": 1,
                "bulletColor": "#FFFFFF",
                "useLineColorForBulletBorder": true,
                "bulletBorderThickness": 3,
                "fillAlphas": 0,
                "lineAlpha": 1,
                "title": "عدد الشكاوى المعالجة",
                "valueField": "expenses"
            }],
            "categoryField": "year",
            "categoryAxis": {
                "gridPosition": "start",
                "axisAlpha": 0,
                "tickLength": 0
            },
            "export": {
                "enabled": true,
               "menu": ["PNG","PDF","Print"]
            },


        });

        $('#chart_1').closest('.portlet').find('.fullscreen').click(function () {
            chart.invalidateSize();
        });
    }

    var initChartSample4 = function() {
        var chart = AmCharts.makeChart("chart_4", {
            "type": "serial",
            "theme": "light",
            "legend": {
                "autoMargins": false,
                "borderAlpha": 0.2,
                "equalWidths": false,
                "horizontalGap": 10,
                "markerSize": 10,
                "useGraphSettings": true,
                "valueAlign": "left",
                "valueWidth": 0
            },
            "dataProvider":
              @Html.Raw(Json.Encode(ViewBag.EmployeePerAgeSliceReportObject)),
            "valueAxes": [{
                "stackType": "100%",
                "axisAlpha": 0,
                "gridAlpha": 0,
                "labelsEnabled": false,
                "position": "left"
            }],
            "graphs": [{
                "balloonText": "[[title]], [[category]]<br><span style='font-size:14px;'><b>[[value]]</b> ([[percents]]%)</span>",
                "fillAlphas": 0.9,
                "fontSize": 11,
                "labelText": "[[percents]]%",
                "lineAlpha": 0.5,
                "title": "الفئة الأولى",
                "type": "column",
                "valueField": "europe"
            }, {
                "balloonText": "[[title]], [[category]]<br><span style='font-size:14px;'><b>[[value]]</b> ([[percents]]%)</span>",
                "fillAlphas": 0.9,
                "fontSize": 11,
                "labelText": "[[percents]]%",
                "lineAlpha": 0.5,
                "title": "الفئة الثانية",
                "type": "column",
                "valueField": "namerica"
            }, {
                "balloonText": "[[title]], [[category]]<br><span style='font-size:14px;'><b>[[value]]</b> ([[percents]]%)</span>",
                "fillAlphas": 0.9,
                "fontSize": 11,
                "labelText": "[[percents]]%",
                "lineAlpha": 0.5,
                "title": "باقي الفئات",
                "type": "column",
                "valueField": "asia"
            }],
            "marginTop": 30,
            "marginRight": 0,
            "marginLeft": 0,
            "marginBottom": 40,
            "autoMargins": false,
            "categoryField": "year",
            "categoryAxis": {
                "gridPosition": "start",
                "axisAlpha": 0,
                "gridAlpha": 0
            },
            "export": {
                "enabled": true,
                "menu": ["PNG","PDF","Print"]

            }
        });

        $('#chart_4').closest('.portlet').find('.fullscreen').click(function() {
            chart.invalidateSize();
        });
    }

    var initChartSample2 = function() {
        var chart = AmCharts.makeChart("chart_2", {
            "type": "serial",
            "theme": "none",
            "marginTop":0,
            "marginRight": 80,
            "dataProvider":
                 @Html.Raw(Json.Encode(ViewBag.EmloyeePerEmploymentDateSliceOne)),
            "valueAxes": [{
                "axisAlpha": 0,
                "position": "left"
            }],
            "graphs": [{
                "id":"g1",
                "balloonText": "[[category]]<br><b><span style='font-size:14px;'>[[value]]</span></b>",
                "bullet": "round",
                "bulletSize": 8,
                "lineColor": "#d1655d",
                "lineThickness": 2,
                "negativeLineColor": "#637bb6",
                "type": "smoothedLine",
                "valueField": "value"
            }],
            "chartCursor": {
                "categoryBalloonDateFormat": "YYYY",
                "cursorAlpha": 0,
                "valueLineEnabled":true,
                "valueLineBalloonEnabled":true,
                "valueLineAlpha":0.5,
                "fullWidth":true
            },
            "dataDateFormat": "YYYY",
            "categoryField": "year",
            "categoryAxis": {
                "minPeriod": "YYYY",
                "parseDates": true,
                "minorGridAlpha": 0.1,
                "minorGridEnabled": true
            },
            "export": {
                "enabled": true,
                "menu": ["PNG","PDF","Print"]
            }
        });

        $('#chart_2').closest('.portlet').find('.fullscreen').click(function() {
            chart.invalidateSize();
        });
    }

    var initChartSample3 = function() {
        var chart = AmCharts.makeChart("chart_3", {
            "type": "serial",
            "theme": "light",
            "categoryField": "year",
            //"rotate": true,
            "startDuration": 1,
            "categoryAxis": {
                "gridPosition": "start",
                "position": "left"
            },
            "trendLines": [],
            "graphs": [
              {
                  "balloonText": "العدد الكلي لفئة الشباب:[[value]]",
                  "fillAlphas": 0.8,
                  "id": "AmGraph-1",
                  "lineAlpha": 0.2,
                  "title": "Income",
                  "type": "column",
                  "valueField": "income"
              },
              {
                  "balloonText": "لديهم مسمى وظيفي:[[value]]",
                  "fillAlphas": 0.8,
                  "id": "AmGraph-2",
                  "lineAlpha": 0.2,
                  "title": "Expenses",
                  "type": "column",
                  "valueField": "expenses"
              }
            ],
            "guides": [],
            "valueAxes": [
              {
                  "id": "ValueAxis-1",
                  "position": "top",
                  "axisAlpha": 0
              }
            ],
            "allLabels": [],
            "balloon": {},
            "titles": [],
            "dataProvider":
                 @Html.Raw(Json.Encode(ViewBag.AdultsPerTitleObject)),
            "export": {
                "enabled": true,
                "menu": ["PNG","PDF","Print"]
            }

        });

        $('#chart_3').closest('.portlet').find('.fullscreen').click(function() {
            chart.invalidateSize();
        });
    }

    var chart;
    var legend;
    var selected;

    var types = @Html.Raw(Json.Encode(ViewBag.EmployeesHavingOrNotHavingTitlePerSliceObject));
    //    [{
    //    type: "Fossil Energy",
    //    percent: 8,
    //    color: "#ff9e01",
    //    subs: [{
    //        type: "Oil",
    //        percent: 2
    //    }, {
    //        type: "Coal",
    //        percent: 3
    //    }, {
    //        type: "Nuclear",
    //        percent: 3
    //    }]
    //}, {
    //    type: "Green Energy",
    //    percent: 1,
    //    color: "#b0de09",
    //    subs: [{
    //        type: "Hydro",
    //        percent: 1
    //    }, {
    //        type: "Wind",
    //        percent: 0
    //    }, {
    //        type: "Other",
    //        percent: 0
    //    }]
    //}];

    function generateChartData() {
        var chartData = [];
        for (var i = 0; i < types.length; i++) {
            if (i == selected) {
                for (var x = 0; x < types[i].subs.length; x++) {
                    chartData.push({
                        type: types[i].subs[x].type,
                        percent: types[i].subs[x].percent,
                        color: types[i].color,
                        pulled: true
                    });
                }
            } else {
                chartData.push({
                    type: types[i].type,
                    percent: types[i].percent,
                    color: types[i].color,
                    id: i
                });
            }
        }
        return chartData;
    }

    var initChartSample5 = function() {
        var chart = AmCharts.makeChart("chart_5", {
            "type": "pie",
            "theme": "light",

            "dataProvider": generateChartData(),
            "labelText": "[[title]]: [[value]]",
            "balloonText": "[[title]]: [[value]]",
            "titleField": "type",
            "valueField": "percent",
            "outlineColor": "#FFFFFF",
            "outlineAlpha": 0.8,
            "outlineThickness": 2,
            "colorField": "color",
            "pulledField": "pulled",
            "titles": [{
                "text": "انقر الشريحة لرؤية التفاصيل"
            }],
            "listeners": [{
                "event": "clickSlice",
                "method": function(event) {
                    var chart = event.chart;
                    if (event.dataItem.dataContext.id != undefined) {
                        selected = event.dataItem.dataContext.id;
                    } else {
                        selected = undefined;
                    }
                    chart.dataProvider = generateChartData();
                    chart.validateData();
                }
            }],
            "export": {
                "enabled": true,
                "menu": ["PNG","PDF","Print"]
            }
        });

        $('#chart_5').closest('.portlet').find('.fullscreen').click(function() {
            chart.invalidateSize();
        });
    }

    var initChartSample6 = function() {
        var chart = AmCharts.makeChart("chart_6", {
            "type": "pie",
            "theme": "light",
            "dataProvider":
                @Html.Raw(Json.Encode(ViewBag.EmplyeesWithAndWithoutSubOrganisationalUnitObject)),
            "valueField": "litres",
            "titleField": "country",
            "balloon":{
                "fixedPosition":true
            },
            "export": {
                "enabled": true,
                "menu": ["PNG","PDF","Print"]
            }
        });

        $('#chart_6').closest('.portlet').find('.fullscreen').click(function() {
            chart.invalidateSize();
        });
    }

    var initChartSample7 = function() {
        var chart = AmCharts.makeChart("chart_7", {
            "type": "serial",
            "theme": "light",
            "categoryField": "year",
            //"rotate": true,
            "startDuration": 1,
            "categoryAxis": {
                "gridPosition": "start",
                "position": "left"
            },
            "trendLines": [],
            "graphs": [
              {
                  "balloonText": "نسبة القوى العاملة الذين ليس لديهم مسمى وظيفي :[[value]]",
                  "fillAlphas": 0.8,
                  "id": "AmGraph-1",
                  "lineAlpha": 0.2,
                  "title": "Income",
                  "type": "column",
                  "valueField": "income"
              },
              {
                  "balloonText": "نسبة المسميات الوظيفية غير الموزعة على وحدات تنظيمية فرعية:[[value]]",
                  "fillAlphas": 0.8,
                  "id": "AmGraph-2",
                  "lineAlpha": 0.2,
                  "title": "Expenses",
                  "type": "column",
                  "valueField": "expenses"
              }
            ],
            "guides": [],
            "valueAxes": [
              {
                  "id": "ValueAxis-1",
                  "position": "top",
                  "axisAlpha": 0
              }
            ],
            "allLabels": [],
            "balloon": {},
            "titles": [],
            "dataProvider":
                 @Html.Raw(Json.Encode(ViewBag.EmplyeesWithoutTitleVsEmployeesWithTitleButNotHavingSubOrganizationalUnit)),
            "export": {
                "enabled": true,
                "menu": ["PNG","PDF","Print"]
            }

        });

        $('#chart_7').closest('.portlet').find('.fullscreen').click(function() {
            chart.invalidateSize();
        });
    }

    var initChartSample8 = function() {
        var chart = AmCharts.makeChart("chart_8", {
            "type": "serial",
            "theme": "none",
            "legend": {
                "horizontalGap": 10,
                "maxColumns": 1,
                "position": "right",
                "useGraphSettings": true,
                "markerSize": 10
            },
            "dataProvider":
                 @Html.Raw(Json.Encode(ViewBag.EmployeesCertificateReportObject)),
            //    [{
            //    "year": 2003,
            //    "europe": 2.5,
            //    "namerica": 2.5,
            //    "asia": 2.1
            //}, {
            //    "year": 2004,
            //    "europe": 2.6,
            //    "namerica": 2.7,
            //    "asia": 2.2
            //}, {
            //    "year": 2005,
            //    "europe": 2.8,
            //    "namerica": 2.9,
            //    "asia": 2.4
            //}, {
            //    "year": 2005,
            //    "europe": 2.8,
            //    "namerica": 2.9,
            //    "asia": 2.4
            //}],
            "valueAxes": [{
                "stackType": "regular",
                "axisAlpha": 0.3,
                "gridAlpha": 0
            }],
            "graphs": [{
                "balloonText": "<b>[[title]]</b><br><span style='font-size:14px'>[[category]]: <b>[[value]]</b></span>",
                "fillAlphas": 0.8,
                "labelText": "[[value]]",
                "lineAlpha": 0.3,
                "title": "الفئة الأولى",
                "type": "column",
                "color": "#000000",
                "valueField": "europe"
            }, {
                "balloonText": "<b>[[title]]</b><br><span style='font-size:14px'>[[category]]: <b>[[value]]</b></span>",
                "fillAlphas": 0.8,
                "labelText": "[[value]]",
                "lineAlpha": 0.3,
                "title": "الفئة الثاني",
                "type": "column",
                "color": "#000000",
                "valueField": "namerica"
            }, {
                "balloonText": "<b>[[title]]</b><br><span style='font-size:14px'>[[category]]: <b>[[value]]</b></span>",
                "fillAlphas": 0.8,
                "labelText": "[[value]]",
                "lineAlpha": 0.3,
                "title": "باقي الفئات",
                "type": "column",
                "color": "#000000",
                "valueField": "asia"
            }],
            "categoryField": "year",
            "categoryAxis": {
                "gridPosition": "start",
                "axisAlpha": 0,
                "gridAlpha": 0,
                "position": "left"
            },
            "export": {
                "enabled": true,
                "menu": ["PNG","PDF","Print"]
            }

        });

        $('#chart_8').closest('.portlet').find('.fullscreen').click(function() {
            chart.invalidateSize();
        });
    }

    var initChartSample9 = function() {
        var chart = AmCharts.makeChart("chart_9", {
            "type": "serial",
            "theme": "none",
            "legend": {
                "horizontalGap": 10,
                "maxColumns": 1,
                "position": "right",
                "useGraphSettings": true,
                "markerSize": 10
            },
            "dataProvider":
                 @Html.Raw(Json.Encode(ViewBag.EmployeesPerEmploymentDateReportObject)),
            //    [{
            //    "year": 2003,
            //    "europe": 2.5,
            //    "namerica": 2.5,
            //    "asia": 2.1
            //}, {
            //    "year": 2004,
            //    "europe": 2.6,
            //    "namerica": 2.7,
            //    "asia": 2.2
            //}, {
            //    "year": 2005,
            //    "europe": 2.8,
            //    "namerica": 2.9,
            //    "asia": 2.4
            //}, {
            //    "year": 2005,
            //    "europe": 2.8,
            //    "namerica": 2.9,
            //    "asia": 2.4
            //}],
            "valueAxes": [{
                "stackType": "regular",
                "axisAlpha": 0.3,
                "gridAlpha": 0
            }],
            "graphs": [{
                "balloonText": "<b>[[title]]</b><br><span style='font-size:14px'>[[category]]: <b>[[value]]</b></span>",
                "fillAlphas": 0.8,
                "labelText": "[[value]]",
                "lineAlpha": 0.3,
                "title": "الفئة الأولى",
                "type": "column",
                "color": "#000000",
                "valueField": "europe"
            }, {
                "balloonText": "<b>[[title]]</b><br><span style='font-size:14px'>[[category]]: <b>[[value]]</b></span>",
                "fillAlphas": 0.8,
                "labelText": "[[value]]",
                "lineAlpha": 0.3,
                "title": "الفئة الثاني",
                "type": "column",
                "color": "#000000",
                "valueField": "namerica"
            }, {
                "balloonText": "<b>[[title]]</b><br><span style='font-size:14px'>[[category]]: <b>[[value]]</b></span>",
                "fillAlphas": 0.8,
                "labelText": "[[value]]",
                "lineAlpha": 0.3,
                "title": "باقي الفئات",
                "type": "column",
                "color": "#000000",
                "valueField": "asia"
            }],
            "categoryField": "year",
            "categoryAxis": {
                "gridPosition": "start",
                "axisAlpha": 0,
                "gridAlpha": 0,
                "position": "left"
            },
            "export": {
                "enabled": true,
                "menu": ["PNG","PDF","Print"]
            }

        });

        $('#chart_9').closest('.portlet').find('.fullscreen').click(function() {
            chart.invalidateSize();
        });
    }

    var initChartSample77 = function() {
        var chart = AmCharts.makeChart("chart_77", {
            "type": "pie",
            "theme": "light",
            "dataProvider":
                @Html.Raw(Json.Encode(ViewBag.EmployeesPreviousEmploymentsReportObject)),
            "valueField": "litres",
            "titleField": "country",
            "balloon":{
                "fixedPosition":true
            },
            "export": {
                "enabled": true,
                "menu": ["PNG","PDF","Print"]
            }
        });
        $('#chart_77').closest('.portlet').find('.fullscreen').click(function() {
            chart.invalidateSize();
        });
    }

    var initChartSample777 = function() {
        var chart = AmCharts.makeChart("chart_777", {
            "type": "pie",
            "theme": "light",
            "dataProvider":
                @Html.Raw(Json.Encode(ViewBag.EmployeesPreviousEmploymentsPerSlicesReportObject)),
            "valueField": "litres",
            "titleField": "country",
            "balloon":{
                "fixedPosition":true
            },
            "export": {
                "enabled": true,
                "menu": ["PNG","PDF","Print"]
            }
        });
        $('#chart_777').closest('.portlet').find('.fullscreen').click(function() {
            chart.invalidateSize();
        });
    }

    var initChartSample33 = function() {
        var chart = AmCharts.makeChart("chart_33", {
            "type": "serial",
            "theme": "light",
            "categoryField": "year",
            //"rotate": true,
            "startDuration": 1,
            "categoryAxis": {
                "gridPosition": "start",
                "position": "left"
            },
            "trendLines": [],
            "graphs": [
              {
                  "balloonText": "عدد العاملين الذين لم يشغلوا موقع وظيفي سابق:[[value]]",
                  "fillAlphas": 0.8,
                  "id": "AmGraph-1",
                  "lineAlpha": 0.2,
                  "title": "Income",
                  "type": "column",
                  "valueField": "income"
              },
              {
                  "balloonText": "عدد الشاغلين لموقع وظيفي سابق واحد على الأقل:[[value]]",
                  "fillAlphas": 0.8,
                  "id": "AmGraph-2",
                  "lineAlpha": 0.2,
                  "title": "Expenses",
                  "type": "column",
                  "valueField": "expenses"
              }
            ],
            "guides": [],
            "valueAxes": [
              {
                  "id": "ValueAxis-1",
                  "position": "top",
                  "axisAlpha": 0
              }
            ],
            "allLabels": [],
            "balloon": {},
            "titles": [],
            "dataProvider":
                 @Html.Raw(Json.Encode(ViewBag.EmployeesEmploymentTimeVsPreviousEmploymentsReportObject)),
            "export": {
                "enabled": true,
                "menu": ["PNG","PDF","Print"]
            }

        });

        $('#chart_33').closest('.portlet').find('.fullscreen').click(function() {
            chart.invalidateSize();
        });
    }

    var initChartSample7777 = function() {
        var chart = AmCharts.makeChart("chart_7777", {
            "type": "pie",
            "theme": "light",
            "dataProvider":
                @Html.Raw(Json.Encode(ViewBag.EmployeesWithTrainingCoursesVsWitoutTrainingCoursesReportObject)),
            "valueField": "litres",
            "titleField": "country",
            "balloon":{
                "fixedPosition":true
            },
            "export": {
                "enabled": true,
                "menu": ["PNG","PDF","Print"]
            }
        });
        $('#chart_7777').closest('.portlet').find('.fullscreen').click(function() {
            chart.invalidateSize();
        });
    }

    var initChartSample77777 = function() {
        var chart = AmCharts.makeChart("chart_77777", {
            "type": "pie",
            "theme": "light",
            "dataProvider":
                @Html.Raw(Json.Encode(ViewBag.EmployeesWithoutTrainingCoursesPerEmploymentTimeReportObject)),
            "valueField": "litres",
            "titleField": "country",
            "balloon":{
                "fixedPosition":true
            },
            "export": {
                "enabled": true,
                "menu": ["PNG","PDF","Print"]
            }
        });
        $('#chart_77777').closest('.portlet').find('.fullscreen').click(function() {
            chart.invalidateSize();
        });
    }

    var initChartSample777777 = function() {
        var chart = AmCharts.makeChart("chart_777777", {
            "type": "pie",
            "theme": "light",
            "dataProvider":
                @Html.Raw(Json.Encode(ViewBag.EmployeesWithoutTrainingCoursesSlicesReportObject)),
            "valueField": "litres",
            "titleField": "country",
            "balloon":{
                "fixedPosition":true
            },
            "export": {
                "enabled": true,
                "menu": ["PNG","PDF","Print"]
            }
        });
        $('#chart_777777').closest('.portlet').find('.fullscreen').click(function() {
            chart.invalidateSize();
        });
    }
    var initChartSample10 = function() {
        var chart = AmCharts.makeChart("chart_10", {
            "type": "serial",
            "theme": "light",
            "categoryField": "year",
            //"rotate": true,
            "startDuration": 1,
            "categoryAxis": {
                "gridPosition": "start",
                "position": "left"
            },
            "trendLines": [],
            "graphs": [
              {
                  "balloonText": "العدد الكلي للعاملين :[[value]]",
                  "fillAlphas": 0.8,
                  "id": "AmGraph-1",
                  "lineAlpha": 0.2,
                  "title": "Income",
                  "type": "column",
                  "valueField": "income"
              },
              {
                  "balloonText": "العمالة غير المستثمرة:[[value]]",
                  "fillAlphas": 0.8,
                  "id": "AmGraph-2",
                  "lineAlpha": 0.2,
                  "title": "Expenses",
                  "type": "column",
                  "valueField": "expenses"
              }
            ],
            "guides": [],
            "valueAxes": [
              {
                  "id": "ValueAxis-1",
                  "position": "top",
                  "axisAlpha": 0
              }
            ],
            "allLabels": [],
            "balloon": {},
            "titles": [],
            "dataProvider":
                 @Html.Raw(Json.Encode(ViewBag.UnEmployedEmployeesReportObject)),
            "export": {
                "enabled": true,
                "menu": ["PNG","PDF","Print"]
            }

        });

        $('#chart_10').closest('.portlet').find('.fullscreen').click(function() {
            chart.invalidateSize();
        });
    }

    var initChartSample11 = function() {
        var chart = AmCharts.makeChart("chart_11", {
            "type": "serial",
            "theme": "light",
            "categoryField": "year",
            //"rotate": true,
            "startDuration": 1,
            "categoryAxis": {
                "gridPosition": "start",
                "position": "left"
            },
            "trendLines": [],
            "graphs": [
              {
                  "balloonText": "العدد الكلي للعاملين :[[value]]",
                  "fillAlphas": 0.8,
                  "id": "AmGraph-1",
                  "lineAlpha": 0.2,
                  "title": "Income",
                  "type": "column",
                  "valueField": "income"
              },
              {
                  "balloonText": "العمالة المترهلة:[[value]]",
                  "fillAlphas": 0.8,
                  "id": "AmGraph-2",
                  "lineAlpha": 0.2,
                  "title": "Expenses",
                  "type": "column",
                  "valueField": "expenses"
              }
            ],
            "guides": [],
            "valueAxes": [
              {
                  "id": "ValueAxis-1",
                  "position": "top",
                  "axisAlpha": 0
              }
            ],
            "allLabels": [],
            "balloon": {},
            "titles": [],
            "dataProvider":
                 @Html.Raw(Json.Encode(ViewBag.EmployeesWithoutPreviousEmploymentsAndWithoutTrainingCoursesAndDoNotWantToContinueEducation)),
            "export": {
                "enabled": true,
                "menu": ["PNG","PDF","Print"]
            }

        });

        $('#chart_11').closest('.portlet').find('.fullscreen').click(function() {
            chart.invalidateSize();
        });
    }

    var initChartSample333 = function() {
        var chart = AmCharts.makeChart("chart_333", {
            "type": "serial",
            "theme": "light",
            "categoryField": "year",
            "rotate": true,
            "startDuration": 1,
            "categoryAxis": {
                "gridPosition": "start",
                "position": "left"
            },
            "trendLines": [],
            "graphs": [
              {
                  "balloonText": "العدد الكلي للعاملين:[[value]]",
                  "fillAlphas": 0.8,
                  "id": "AmGraph-1",
                  "lineAlpha": 0.2,
                  "title": "Income",
                  "type": "column",
                  "valueField": "income"
              },
              {
                  "balloonText": "المحالين للتقاعد بعد ٥ سنوات:[[value]]",
                  "fillAlphas": 0.8,
                  "id": "AmGraph-2",
                  "lineAlpha": 0.2,
                  "title": "Expenses",
                  "type": "column",
                  "valueField": "expenses"
              }
            ],
            "guides": [],
            "valueAxes": [
              {
                  "id": "ValueAxis-1",
                  "position": "top",
                  "axisAlpha": 0
              }
            ],
            "allLabels": [],
            "balloon": {},
            "titles": [],
            "dataProvider":
                 @Html.Raw(Json.Encode(ViewBag.EmployeesRetiredAfter5YearsFromNowReportObject)),
            "export": {
                "enabled": true,
                "menu": ["PNG","PDF","Print"]
            }

        });

        $('#chart_333').closest('.portlet').find('.fullscreen').click(function() {
            chart.invalidateSize();
        });
    }

    var initChartSample44 = function() {
        var chart = AmCharts.makeChart("chart_44", {
            "type": "serial",
            "theme": "light",
            "categoryField": "year",
            "rotate": true,
            "startDuration": 1,
            "categoryAxis": {
                "gridPosition": "start",
                "position": "left"
            },
            "trendLines": [],
            "graphs": [
              {
                  "balloonText": "العدد الكلي للعاملين:[[value]]",
                  "fillAlphas": 0.8,
                  "id": "AmGraph-1",
                  "lineAlpha": 0.2,
                  "title": "Income",
                  "type": "column",
                  "valueField": "income"
              },
              {
                  "balloonText": "المحالين للتقاعد بعد ٥ سنوات:[[value]]",
                  "fillAlphas": 0.8,
                  "id": "AmGraph-2",
                  "lineAlpha": 0.2,
                  "title": "Expenses",
                  "type": "column",
                  "valueField": "expenses"
              }
            ],
            "guides": [],
            "valueAxes": [
              {
                  "id": "ValueAxis-1",
                  "position": "top",
                  "axisAlpha": 0
              }
            ],
            "allLabels": [],
            "balloon": {},
            "titles": [],
            "dataProvider":
                 @Html.Raw(Json.Encode(ViewBag.EmployeesRetiredAfter5YearsBecauseOfAge60PerSlicesReport)),
            "export": {
                "enabled": true,
                "menu": ["PNG","PDF","Print"]
            }

        });

        $('#chart_44').closest('.portlet').find('.fullscreen').click(function() {
            chart.invalidateSize();
        });
    }

    var initChartSample444 = function() {
        var chart = AmCharts.makeChart("chart_444", {
            "type": "serial",
            "theme": "light",
            "categoryField": "year",
            "rotate": true,
            "startDuration": 1,
            "categoryAxis": {
                "gridPosition": "start",
                "position": "left"
            },
            "trendLines": [],
            "graphs": [
              {
                  "balloonText": "العدد الكلي للعاملين:[[value]]",
                  "fillAlphas": 0.8,
                  "id": "AmGraph-1",
                  "lineAlpha": 0.2,
                  "title": "Income",
                  "type": "column",
                  "valueField": "income"
              },
              {
                  "balloonText": "المحالين للتقاعد بعد ٥ سنوات:[[value]]",
                  "fillAlphas": 0.8,
                  "id": "AmGraph-2",
                  "lineAlpha": 0.2,
                  "title": "Expenses",
                  "type": "column",
                  "valueField": "expenses"
              }
            ],
            "guides": [],
            "valueAxes": [
              {
                  "id": "ValueAxis-1",
                  "position": "top",
                  "axisAlpha": 0
              }
            ],
            "allLabels": [],
            "balloon": {},
            "titles": [],
            "dataProvider":
                 @Html.Raw(Json.Encode(ViewBag.EmployeesRetiredAfter5YearsBecause28EmploymentYearsPerSlicesReportReport)),
            "export": {
                "enabled": true,
                "menu": ["PNG","PDF","Print"]
            }

        });

        $('#chart_444').closest('.portlet').find('.fullscreen').click(function() {
            chart.invalidateSize();
        });
    }

    var initChartSample111 = function() {
        var chart = AmCharts.makeChart("chart_111", {
            "type": "serial",
            "theme": "light",
            "categoryField": "year",
            //"rotate": true,
            "startDuration": 1,
            "categoryAxis": {
                "gridPosition": "start",
                "position": "left"
            },
            "trendLines": [],
            "graphs": [
              {
                  "balloonText": "العدد الكلي للعاملين :[[value]]",
                  "fillAlphas": 0.8,
                  "id": "AmGraph-1",
                  "lineAlpha": 0.2,
                  "title": "Income",
                  "type": "column",
                  "valueField": "income"
              },
              {
                  "balloonText": "عدد الإناث:[[value]]",
                  "fillAlphas": 0.8,
                  "id": "AmGraph-2",
                  "lineAlpha": 0.2,
                  "title": "Expenses",
                  "type": "column",
                  "valueField": "expenses"
              }
            ],
            "guides": [],
            "valueAxes": [
              {
                  "id": "ValueAxis-1",
                  "position": "top",
                  "axisAlpha": 0
              }
            ],
            "allLabels": [],
            "balloon": {},
            "titles": [],
            "dataProvider":
                 @Html.Raw(Json.Encode(ViewBag.WomenPerEmployeesReportObject)),
            "export": {
                "enabled": true,
                "menu": ["PNG","PDF","Print"]
            }

        });

        $('#chart_111').closest('.portlet').find('.fullscreen').click(function() {
            chart.invalidateSize();
        });
    }

    var initChartSample12 = function() {
        var chart = AmCharts.makeChart("chart_12", {
            "type": "pie",
            "theme": "light",
            "dataProvider":
                @Html.Raw(Json.Encode(ViewBag.WomenPerEmployeesPerTitleReportObject)),
            "valueField": "litres",
            "titleField": "country",
            "balloon":{
                "fixedPosition":true
            },
            "export": {
                "enabled": true,
                "menu": ["PNG","PDF","Print"]
            }
        });

        $('#chart_12').closest('.portlet').find('.fullscreen').click(function() {
            chart.invalidateSize();
        });
    }
</script>