﻿@model IEnumerable<MoAD.WebApplication.Models.ERMEmployees>
@{
    ViewBag.Title = "index";
    Layout = "~/views/shared/_layoutinitialpage.cshtml";
}

<style>
    th, td {
        text-align: center;
    }

     .overlay {
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            position: fixed;
            background: #fff;
            z-index: 8;
        }

        .overlay__inner {
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            position: absolute;
        }

        .overlay__content {
            left: 50%;
            position: absolute;
            top: 50%;
            transform: translate(-50%, -50%);
        }

        .spinner {
            width: 75px;
            height: 75px;
            display: inline-block;
            border-width: 2px;
            border-color: rgb(0, 156, 222);
            border-top-color: #fff;
            animation: spin 1s infinite linear;
            border-radius: 100%;
            border-style: solid;
        }

         @@keyframes spin {
            100% {
                transform: rotate(360deg);
            }
        }
</style>
<div class="overlay">
    <div class="overlay__inner">
        <div class="overlay__content"><span class="spinner"></span></div>
    </div>
</div>

<!-- end::Page Loader -->
<!-- begin:: Page -->
<div class="col-xl-12 col-md-12" dir="rtl">
    <div class="widget widget-six" style="-webkit-border-radius: 5px;border-radius: 5px;margin-bottom: 16px;border: 1px solid #eceff4;">
        <div class="widget-header" style="color:black;">
            <strong>خارطة الموارد البشرية</strong>
        </div>

        <div class="widget-body">
            <div class="col-lg-12" style="background:white;">
                <h5 style="color:black;margin-right:2%;margin-top:10px;">جدول الموظفين</h5>
                <br />
                <div class="row" style="margin-bottom:10px;">
                    <div class="col-md-2">
                        <button class="btn btn-primary" id="SearchBtn">بحث</button>
                    </div>
                    <div class="col-md-2">
                        <input class="form-control" type="text" id="motherName" placeholder="إسم الأم"/>
                    </div>
                    <div class="col-md-2">
                        <input class="form-control" type="text" id="surName" placeholder="الشهرة"/>
                    </div>
                    <div class="col-md-2">
                        <input class="form-control" type="text" id="fatherName" placeholder="إسم الأب" />
                    </div>
                    <div class="col-md-2">
                        <input class="form-control" type="text" id="firstName" placeholder="الإسم" />
                    </div>
                    <div class="col-md-2">
                        <input class="form-control" type="number" id="personalNumber" placeholder="الرقم الشخصي"/>
                    </div>
                </div>
                <div class="margin-bottom-50" id="TableDiv">
                    @Html.Partial("_EmployeesTable", new ViewDataDictionary { { "EmployeesData", Model } })
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $(window).on('load', function () {
        $(".overlay").fadeOut();
    });

    $("#SearchBtn").click(function () {
        var personalNumber = $("#personalNumber").val();
        var firstName = $("#firstName").val();
        var surName = $("#surName").val();
        var fatherName = $("#fatherName").val();
        var motherName = $("#motherName").val();
        $(".overlay").fadeIn();
        $.ajax({
            url: '@Url.Action("SearchEmployees", "ERMEmployees")',
            type: 'POST',
            dataType: "html",
            data: {
                personalNumber: personalNumber,
                firstName: firstName,
                surName: surName,
                fatherName: fatherName,
                motherName: motherName
            },
            success: function (data) {
                $("#TableDiv").empty();
                $("#TableDiv").html(data);
                $(".overlay").fadeOut();
            }
        });
    })

    $(document).on("click", ".HistoryForms", function () {
        $(".overlay").fadeIn();
        var EmpKey = $(this).attr("data-EmpKey");
        var fullName = $(this).attr("data-FullName");
        window.location = '@Url.Action("AdManagersClaims", "Home")/?ClaimType=خارطة الموارد البشرية&HighlightedPart=menu-kharita&empID=' + EmpKey + '&fullName=' + fullName;
    })
</script>

