﻿@using MoAD.DataObjects.EDMX;

@{
    ViewBag.Title = "index";
    Layout = "~/Views/Shared/_LayoutInitialPage.cshtml";
    List<GetAllUsersPerOrganisationAndRole_Result> List = ViewBag.OrganisationUser;
}

<script>
    $(document).ready(function () {
        $('#table').DataTable({

            "oLanguage": {
                "sSearch": "إبحث",
                "sLengthMenu": "عدد الأسطر لكل صفحة _MENU_ ",
            
            }
        });
    });
</script>

<style>
    .dataTables_wrapper {
        direction: rtl;
    }
 
</style>

<div class="col-xl-12">
    <div class="widget widget-two" style="direction:rtl;">
        <div class="widget-header">
            <span class="text-truncate text-nowrap">إعدادات <strong>المستخدمين</strong></span><span class="pull-left">@Html.ActionLink("جديد", "Create")</span>
        </div>
        <div class="row">
            <div class="widget-body clearfix">
                <table id="table" class="display" cellspacing="0" width="100%">
                    <thead>
                        <tr>
                            <th>
                                اسم المستخدم
                            </th>
                            <th>
                                الاسم 
                            </th>
                            <th>
                                اسم الأب
                            </th>
                            <th>
                                الشهرة
                            </th>
                            <th>
                                الهاتف
                            </th>
                            <th>
                                البريد الالكتروني
                            </th>
                            <th>
                                
                            </th>
                        </tr>
                    </thead>
                    @foreach (var item in List)
                    {
                        <tr>
                            <td>

                                @item.UserName
                            </td>
                            <td>
                               
                                @item.FirstName 
                            </td>
                            <td>

                                @item.FatherName
                            </td>
                            <td>

                                @item.LastName
                            </td>
                           
                            <td>

                                @item.PhoneNumber
                            </td>
                            <td>

                                @item.Email
                            </td>
                            <td>
                                @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                                @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                                @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                            </td>
                          
                        </tr>
                    }
                   
                </table>
            </div>
        </div>
    </div>
</div>



