﻿@using Microsoft.AspNet.Identity
@using MoAD.DataObjects.EDMX
@using MoAD.WebApplication.Objects;
@using MoAD.WebApplication.Managers
@using Microsoft.AspNet.Identity
@using MoAD.WebApplication.Models;
@using System;
@using System.Text;


@{
    Layout = Layout = "~/Views/Shared/_CommonLayout.cshtml";
    Dictionary<string, List<GetFormTemplate_Result>> Survey = ViewBag.Survey;
    List<GetUserSurveyAnswer_Result> userInfoSurvey = ViewBag.GetAnswers;
    HttpCookie languageCookie = Request.Cookies["Language"];
    var InitialDirection = "rtl";
    if (languageCookie != null && languageCookie.Value != "3")
    {
        InitialDirection = "ltr";
    }
    List<GetAdManagerForms_Result> Estetla3Ra2iPublishedFormsForManbar = ViewBag.Estetla3Ra2iPublishedForms;

    if (Estetla3Ra2iPublishedFormsForManbar == null)
    {
        Estetla3Ra2iPublishedFormsForManbar = new List<GetAdManagerForms_Result>();
    }
    Dictionary<string, string> Locale = ViewBag.Locale;

    List<NavBarViewModel> PageItems = (List<NavBarViewModel>)ViewBag.PageItems;
    int languageIdentifier = (int)ViewBag.Languageidentifier;
    ViewBag.Title = Utilities.GetDataTransaltionByGuid(PageItems.FirstOrDefault().Items.FirstOrDefault().Component.ComponentSourceEntityKey, languageIdentifier);
    //List<NavBarViewModel> NavbarData = (List<NavBarViewModel>)ViewBag.NavbarData;
}

<style>
    .fullscreen {
        z-index: 999999999 !important;
    }

    .btn-primary {
        color: #fff;
        background-color: #337ab7 !important;
        border-color: #2e6da4 !important;
    }

    .content p {
        font-size: 25px;
        font-family: 'ge_dinar_onemedium' !important;
    }

    .inner p {
        font-size: 25px;
        font-family: 'ge_dinar_onemedium' !important;
    }

    ul a {
        cursor: pointer;
    }

    button, a {
        font-family: 'ge_dinar_onemedium' !important;
    }

    a {
        border-bottom: none !important;
    }

    h4, h3 {
        font-weight: normal !important;
    }


    h1 {
        font-size: 2.8rem !important;
    }

    h2 {
        font-size: 2.06rem;
    }


    .img-container {
        height: 276px;
        transform: translateX(-47%);
        margin: 20px;
    }


    .img img {
        width: 12.75rem;
        margin: 76px 40px;
    }


    .show-slide, .show-slide2 {
        display: block !important;
    }



    .toggle-btns {
        display: flex;
        justify-content: center;
        margin-top: 0.625rem;
    }


        .toggle-btns ul {
            display: flex;
            justify-content: center;
            align-items: center;
            background: #BFBFBF;
            border-radius: 0.937rem;
            padding-left: 4px;
            padding-right: 4px;
            list-style-type: none;
        }

            .toggle-btns ul li button {
                width: 1.25rem;
                height: 1.25rem;
                background: #959494;
                margin: 3px;
                border-radius: 50%;
                cursor: pointer;
                border: none;
            }

    .previous, .next, .previous2, .next2 {
        background: none;
        border: none;
    }


    i {
        font-size: 1.625rem;
        color: #447F99;
    }


    .imgft {
        height: 10vw !important;
    }

    .smallimage {
        margin: auto;
    }

    .takrir-ada2-container h1 {
        font-size: 2.8rem !important;
    }

    .linetitle {
        background-color: #882525;
        height: 0.3vw;
        margin-bottom: 0.5vw;
    }

    .kalimaTawjihyaText {
        font-size: 2.0rem;
        color: #5c6a72;
    }

    hr {
        box-shadow: 0px 8px 5px 0px rgba(0,0,0,0.26);
    }

    .box {
        margin-top: -55px;
        background: #D9DBDA;
        text-align: center;
        box-shadow: 8px 7px 5px 0px rgba(0,0,0,0.52);
    }

        .box p {
            color: #646464;
            font-size: 2.5rem;
            margin: 20px 0;
        }



    .flex {
        display: flex;
        justify-content: center;
    }

    .slider-responsive {
        margin: 10px 50px;
    }





    /* MEDIA QUERIES*/
    @@media(max-width:1960px) {

        .img-container {
            height: auto;
            transform: translateX(0);
        }

        .img img {
            margin: 76px 0px;
        }
    }


    @@media(max-width:1300px) {



        .text-responsive {
            width: 100% !important;
        }
    }


    .modal {
        z-index: 999999999999;
    }
</style>



<!-- Main -->
<section id="main" style="position:relative;margin-top:2%;direction:unset;">
    @{
        if (PageItems != null && PageItems.Count() != 0)
        {
            <div class="inner">


                <!-- One -->
                <section id="one" class="wrapper style1">


                    <header style="background:none !important;" class="special">
                        <h2 class="pointer element-to-change" data-toggle="modal" data-target="#exampleModal" data-id="@PageItems.FirstOrDefault().Items.FirstOrDefault().Component.ComponentKey" data-translation="@PageItems.FirstOrDefault().Items.FirstOrDefault().Component.ComponentSourceEntityKey">@Utilities.GetDataTransaltionByGuid(PageItems.FirstOrDefault().Items.FirstOrDefault().Component.ComponentSourceEntityKey, languageIdentifier)</h2>
                        @*<p> @Html.Raw(BaseController.GetFieldLabel(Locale, "AboutMarkazPageSyrianArabRepublic"))</p>*@
                    </header>
                    <div class="content pointer  element-to-change summer-note" data-toggle="modal" data-target="#exampleModal" data-id="@PageItems.Where(i => i.ComponentOrder == 2).FirstOrDefault().Items.FirstOrDefault().Component.ComponentKey" data-translation="@PageItems.Where(i => i.ComponentOrder == 2).FirstOrDefault().Items.FirstOrDefault().Component.ComponentSourceEntityKey">
                        @{

                            var test = Utilities.GetDataTransaltionByGuid(PageItems.Where(i => i.ComponentOrder == 2).FirstOrDefault().Items.FirstOrDefault().Component.ComponentSourceEntityKey, languageIdentifier);

                            var res = "";
                            if (Utilities.TryGetFromBase64String(test))
                            {
                                var stringconverted = System.Convert.FromBase64String(test);
                                res = Encoding.UTF8.GetString(stringconverted);
                            }
                           
                        }

                        @Html.Raw(res)
                    </div>
                </section>


                <!-- Three -->
                <section id="three" class="wrapper">
                    <div class="spotlight">
                        @{
                            var componentsOrder3 = PageItems.Where(i => i.ComponentOrder == 3).FirstOrDefault();
                            if (componentsOrder3 != null)
                            {
                                var components = componentsOrder3.Items.OrderBy(i => i.ComponentIndex).ToList();
                                var index = 0;

                                if (components != null)
                                {
                                    foreach (var component in components)
                                    {
                                        if (component.Component.ComponentType.ComponentType1 == "Image")
                                        {
                                            <div class="image flush element-to-change pointer drop-zone" data-toggle="modal" data-target="#exampleModal" data-id="@component.Component.ComponentKey" data-translation="@component.Component.ComponentSourceEntityKey">
                                                <img src="@Url.Action("GetFilePathFromExtendedData","Files", new { extensionFileKey= component.Component.ComponentSourceEntityKey })" id="@(index%2 != 0 ? "left":"")" alt="" />

                                            </div>
                                        }
                                        else
                                        {
                                            <div class="inner  pointer  element-to-change summer-note" data-toggle="modal" data-target="#exampleModal" data-id="@component.Component.ComponentKey" data-translation="@component.Component.ComponentSourceEntityKey">
                                                @{
                                                    var translationValue = Utilities.GetDataTransaltionByGuid(component.Component.ComponentSourceEntityKey, languageIdentifier);
                                                    var res2 = "";
                                                    if (Utilities.TryGetFromBase64String(translationValue))
                                                    {
                                                        var stringconverted2 = System.Convert.FromBase64String(translationValue);
                                                        res = Encoding.UTF8.GetString(stringconverted2);
                                                    }
                                                    
                                                }
                                                @Html.Raw(res)
                                                @*<p lang="ar" dir="rtl" style="font-size:35px;text-align:center;">٤٠ نقطة</p>*@
                                            </div>

                                        }
                                        index++;
                                    }
                                }
                            }


                        }


                    </div>


                </section>
            </div>
        }
    }


</section>

@if (User.IsInRole("Editor"))
{
    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel"></h5>
                    <button type="button" class="close" id="closeModal" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    تعديل
                </div>
                @Html.Partial("~/Views/TestCMS/_SingleElementModal.cshtml", new SingleElementViewModel() { ElementTranslation = "" })
                <div class="modal-footer" style="margin-top:20px;">
                    <input type="button" id="saveBtn" class="btn btn-primary" value="حفظ" />
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">
                        إغلاق
                    </button>
                </div>
            </div>
        </div>
    </div>
}

    <!-- Scripts -->
    @*<script src="@Url.Content("~/content/about/assets/js/jquery.min.js")"></script>*@
    <script src=@Url.Content("~/assets/NewPages/sweetAlert/sweetalert.js")></script>
    <script src="@Url.Content("~/content/about/assets/js/jquery.poptrox.min.js")"></script>
    <script src="@Url.Content("~/content/about/assets/js/skel.min.js")"></script>
    <script src="@Url.Content("~/content/about/assets/js/util.js")"></script>
    <script src="@Url.Content("~/content/about/assets/js/main.js")"></script>


    <script>

        var pageKey = '@PageItems.FirstOrDefault().Items.FirstOrDefault().Component.ComponentKey';

        function reveal() {
            var reveals = document.querySelectorAll(".reveal");

            for (var i = 0; i < reveals.length; i++) {
                var windowHeight = window.innerHeight;
                var elementTop = reveals[i].getBoundingClientRect().top;
                var elementVisible = 150;

                if (elementTop < windowHeight - elementVisible) {
                    reveals[i].classList.add("active");
                } else {
                    reveals[i].classList.remove("active");
                }
            }
        }

        window.addEventListener("scroll", reveal);
        $(function () {
            $('#main-menu').smartmenus({
                subMenusSubOffsetX: 1,
                subMenusSubOffsetY: -8
            });
        });


        $(".dropbtn").click(function () {

            $(this).next().toggle();
        });

        document.addEventListener('keydown', function (event) {
            if (event.keyCode == 27) {
                event.preventDefault();
            }

        });


        function myFunction() {
            var x = document.getElementById("myTopnav");
            if (x.className === "topnav") {
                x.className += " responsive";
            } else {
                x.className = "topnav";
            }
        }


        /////////LoaderPart////
        $(window).on('load', function () {

       // setTimeout(function () {
            fadeOutEffect();
       // }, 6000);

        function fadeOutEffect() {

            var fadeTarget = document.getElementById("overlay");
            var fadeEffect = setInterval(function () {
                if (!fadeTarget.style.opacity) {
                    fadeTarget.style.opacity = 1;
                }
                if (fadeTarget.style.opacity > 0) {
                    fadeTarget.style.opacity -= 0.1;
                } else {
                    clearInterval(fadeEffect);
                }


            }, 300);

            setTimeout(function () {
                $(".Body").css("filter", "");

            }, 3000);
            $("#HeaderLogo").fadeIn(6000);

            setTimeout(function () {

                $("#overlay").remove();
            }, 5000);

        }

        });
        /////////End LoaderPart////



        //function myFunction() {
        //    var x = document.getElementById("myTopnav");
        //    if (x.className === "topnav") {
        //        x.className += " responsive";
        //    } else {
        //        x.className = "topnav";
        //    }
        //}
          $("#ManbarSilatWasel").click(function () {

            submit_post_via_hidden_form("@Url.Action("Manbar", "NewPages")", {});

          });
        $("#MarsadAlAda2AlIdari").click(function () {

            submit_post_via_hidden_form("@Url.Action("Marsad", "NewPages")", {});

        });
        $("#SignInMarkaz").click(function () {

            @if (User.Identity.IsAuthenticated)
            {

                if (User.IsInRole("PB"))
                {
 <text>
            window.location = '@Url.Action("Index", "PBDashboard")';

            </text>
                }
                else
                {
 <text>
            submit_post_via_hidden_form("@Url.Action("Index", "Home")", {});

            </text>
                }

            } else
            {
                <text>
            submit_post_via_hidden_form("@Url.Action("LoginView", "Account")", { ManagerIndex: "True" });

            </text>
            }


        });

        $("#SinInMangersButton").click(function () {

            @if (User.Identity.IsAuthenticated)
                            {

                                if (User.IsInRole("PB"))
                                {
 <text>
            window.location = '@Url.Action("Index", "PBDashboard")';

            </text>
                                }
                                else
                                {
 <text>
            submit_post_via_hidden_form("@Url.Action("Index", "Home")", {});

            </text>
                                }

            }else
            {
                <text>
            submit_post_via_hidden_form("@Url.Action("LoginView", "Account")", { ManagerIndex: "True" });

            </text>
            }


        });

        $(".goToEstetla3ra2i").click(function () {
            var formKey = $(this).attr("data-formkey");
             submit_post_via_hidden_form("@Url.Action("Index", "SurveyReport")", { FormTemKey: formKey });
        })

        $(".EmptyEstetla3Class").hover(function () {
            $(this).text("لا يوجد نتائج إستطلاعات رأي");
        })

        $(".EmptyEstetla3Class").mouseleave(function () {
            $(this).text("نتائج إستطلاعات الرأي");
        })

        $("#GlobalLearningLink").click(function () {

            window.location.href = "http://www.gl.ae/home";

        });


        $("#SignInManbar").click(function () {

            submit_post_via_hidden_form("@Url.Action("LoginView", "Account")", {});


        });

        $("#GoToManbar").click(function () {

            submit_post_via_hidden_form("@Url.Action("Manbar", "Home")", {});


        });

        $("#GoToMarkaz").click(function () {

            submit_post_via_hidden_form("@Url.Action("Markaz", "NewPages")", {});


        });


        $("#AboutMarsad").click(function () {
            if (checkIfSamePage("Home/AboutMarsad") == "NotFound")
                submit_post_via_hidden_form("@Url.Action("AboutMarsad", "Home")", {});


        });


        $("#AboutMarkaz").click(function () {
            if (checkIfSamePage("Home/AboutMarkaz") == "NotFound")
                submit_post_via_hidden_form("@Url.Action("AboutMarkaz", "Home")", {});


        });

        $("#AboutManbar").click(function () {




            if (checkIfSamePage("Home/AboutManbar") == "NotFound")
                submit_post_via_hidden_form("@Url.Action("AboutManbar", "Home")", {});

        });


        function checkIfSamePage(PagePath) {
            var url = window.location.href;     // Returns full URL


            if (url.indexOf(PagePath) != -1) {
                return "Found";
            } else {
                return "NotFound"
            }


        }

        $("#Khousousya").click(function () {
            if (checkIfSamePage("Home/Khousousya") == "NotFound")
                submit_post_via_hidden_form("@Url.Action("Khousousya", "Home")", {});


        });

        $("#Himayatalserya").click(function () {
            if (checkIfSamePage("Home/Himayatalserya") == "NotFound")
                submit_post_via_hidden_form("@Url.Action("Himayatalserya", "Home")", {});


        });

        @*var ClassName = '@ViewBag.PageName';

                        $("." + ClassName).show();*@



        $("#Moutaba3atChakwa").click(function () {


            window.location = '@Url.Action("Index", "UserDashboard")';

        });


        $("#gotodashbordCitizen").click(function () {


            @if (User.Identity.IsAuthenticated)
       {
                      <text>
            window.location = '@Url.Action("Index", "UserDashboard")';

            </text>
            }else
            {

                                     <text>
            $("#SignInManbar").click();

            </text>

            }



        });


        $("#gotodashbord").click(function () {

            @if (User.IsInRole("ADManager") || User.IsInRole("ADDirector") || User.IsInRole("HR"))
            {
                <text>
            window.location = '@Url.Action("AdUsersLandingPage", "Home")';

            </text>
            }@*else
                if (User.IsInRole("Administrator")) {

                    <text>
            window.location = '@Url.Action("Index", "AspNetUsers")';


            </text>

                }*@else
                    if (User.IsInRole("Editor")) {

                        <text>
            window.location = '@Url.Action("Index", "MouwazafinWithOrgs")';


            </text>

                    }
                    else
                        if (User.IsInRole("PB")) {

                            <text>
            window.location = '@Url.Action("Index", "PBDashboard")';


            </text>

                        }
                        else
                        {
                            <text>
            window.location = '@Url.Action("Index", "UserDashboard")';

            </text>
                        }

            {

            }
        });

        function submit_post_via_hidden_form(url, params) {
            var f = $("<form method='POST' style='display:none;'></form>").attr({
                action: url
            }).appendTo(document.body);

            for (var i in params) {
                if (params.hasOwnProperty(i)) {
                    $('<input type="hidden" />').attr({
                        name: i,
                        value: params[i]
                    }).appendTo(f);
                }
            }

            f.submit();

            f.remove();
        }

        $("#AkhbarWizara").click(function () {

            submit_post_via_hidden_form("@Url.Action("AkhbarWizara", "Home")", {});


        })

        $("#HeaderLogo").click(function () {
            submit_post_via_hidden_form("@Url.Action("Markaz", "NewPages")", {});

        })

        $("#Machari3Wizara").click(function () {

            submit_post_via_hidden_form("@Url.Action("Machari3Wizara", "Home")", {});


        })


        $(".akhbaralwizara").click(function () {
            window.location = '@Url.Action("AboutWizara", "Home")';
        });

        $(".machari3alwizara").click(function () {
            window.location = '@Url.Action("AboutMachari3", "Home")';
        });


        $(".logoff").click(function () {


            window.location = '@Url.Action("LogOff", "Account")';

        });

        function goToMyClaim(formKey, GUID, CreatedAt, CitizenKey, NextFormTemplateKey, CurrentStatusKey, CurrentFormtemplateKey, CurrentFormtemplateName, CurrentStatusName, NextOrganisationKey, CurrentOrganisationKey) {

            @if (User.IsInRole("ADManager") || User.IsInRole("ADDirector"))
           {
               <text>
            submit_post_via_hidden_form("@Url.Action("ADManagerTemplate", "FormTemplatesDisplay")", { formKey: formKey, GUID: GUID, CreatedAt: CreatedAt, CitizenKey: CitizenKey, CurrentStatusKey: CurrentStatusKey, NextFormTemplateKey: NextFormTemplateKey, CurrentFormtemplateKey: CurrentFormtemplateKey, CurrentFormtemplateName: CurrentFormtemplateName, NextOrganisationKey: NextOrganisationKey, CurrentOrganisationKey: CurrentOrganisationKey });

            @*window.location = '@Url.Action("ADManagerTemplate", "FormTemplatesDisplay")/' + "?formKey=" + formKey + "&GUID=" + GUID + "&CreatedAt=" + CreatedAt + "&CitizenKey=" + CitizenKey + "&CurrentStatusKey=" + CurrentStatusKey + "&NextFormTemplateKey=" + NextFormTemplateKey + "&CurrentFormtemplateKey=" + CurrentFormtemplateKey + "&CurrentFormtemplateName=" + CurrentFormtemplateName + "&NextOrganisationKey=" + NextOrganisationKey + "&CurrentOrganisationKey=" + CurrentOrganisationKey;*@
            </text>
                        }
            @if (User.IsInRole("OPManager") || User.IsInRole("OPGeneralDirector") || User.IsInRole("OPDirector") || User.IsInRole("Human Development Sector") || User.IsInRole("Administrative sector") || User.IsInRole("Economic sector") || User.IsInRole("Service sector"))
            {
                <text>
            @*window.location = '@Url.Action("FormInstance", "Home")/' + "?formKey=" + formKey + "&GUID=" + GUID + "&CreatedAt=" + CreatedAt + "&CitizenKey=" + CitizenKey + "&CurrentStatusKey=" + CurrentStatusKey + "&NextFormTemplateKey=" + NextFormTemplateKey + "&CurrentFormtemplateKey=" + CurrentFormtemplateKey + "&CurrentFormtemplateName=" + CurrentFormtemplateName + "&CurrentStatusName=" + CurrentStatusName + "&NextOrganisationKey=" + NextOrganisationKey + "&CurrentOrganisationKey=" + CurrentOrganisationKey;*@
            submit_post_via_hidden_form("@Url.Action("FormInstance", "Home")", { formKey: formKey, GUID: GUID, CreatedAt: CreatedAt, CitizenKey: CitizenKey, CurrentStatusKey: CurrentStatusKey, NextFormTemplateKey: NextFormTemplateKey, CurrentFormtemplateKey: CurrentFormtemplateKey, CurrentFormtemplateName: CurrentFormtemplateName, CurrentStatusName: CurrentStatusName, NextOrganisationKey: NextOrganisationKey, CurrentOrganisationKey: CurrentOrganisationKey });

            </text>
                        }
            @if (User.IsInRole("Citizen"))
            {
                <text>
            @*window.location = '@Url.Action("ADManagerTemplate", "FormTemplatesDisplay")/' + "?formKey=" + formKey + "&GUID=" + GUID + "&CreatedAt=" + CreatedAt + "&CitizenKey=" + CitizenKey + "&CurrentStatusKey=" + CurrentStatusKey + "&NextFormTemplateKey=" + NextFormTemplateKey + "&CurrentFormtemplateKey=" + CurrentFormtemplateKey + "&CurrentFormtemplateName=" + CurrentFormtemplateName + "&NextOrganisationKey=" + NextOrganisationKey + "&CurrentOrganisationKey=" + CurrentOrganisationKey;*@
            submit_post_via_hidden_form("@Url.Action("ADManagerTemplate", "FormTemplatesDisplay")", { formKey: formKey, GUID: GUID, CreatedAt: CreatedAt, CitizenKey: CitizenKey, CurrentStatusKey: CurrentStatusKey, NextFormTemplateKey: NextFormTemplateKey, CurrentFormtemplateKey: CurrentFormtemplateKey, CurrentFormtemplateName: CurrentFormtemplateName, NextOrganisationKey: NextOrganisationKey, CurrentOrganisationKey: CurrentOrganisationKey });

            </text>
                        }
        }


        function changeLanguage(languageCode) {
            $.ajax({
                url: '@Url.Action("ChangeLanguage", "Home")',
                type: 'GET',
                cache: false,
                dataType: 'text',
                data: ({
                    id: languageCode
                }),
                contentType: 'application/json; charset=utf-8',
                success: function (data) {
                    location.reload();
                },
                error: function (xhr) {
                    console.log('errorr');
                }
            });
        }


        function submit_post_via_hidden_form(url, params) {
            var f = $('<form method="POST"style="display:none;"></form>').attr({
                action: url
            }).appendTo(document.body);

            for (var i in params) {
                if (params.hasOwnProperty(i)) {
                    $('<input type="hidden" />').attr({
                        name: i,
                        value: params[i]
                    }).appendTo(f);
                }
            }

            f.submit();

            f.remove();
        }

        var AnswerTemplateKey = [];
        var FormKey;
        $('.mm-finish-btn').on('click', function () {
            $('.mm-survey-item input:checked').each(function (index, val) {

                answsers = { key: $(this).attr("data-templatekey"), Textvalue: $(this).val(), type: "RadioBox", Parent: "", Child: "", count: "" }
                AnswerTemplateKey.push(answsers);
            });
            $.blockUI($("#body"));
            $.ajax({
                url: '@Url.Action("SubmitFormForUser", "ClaimForms")',
                type: 'GET',
                dataType: 'json',
                cache: false,
                data: {
                    trackingStatusKey: "1", formTemplateKey: "191", userKey: "@User.Identity.GetUserId()", organisationKey: " ", FileExtensionName: '@ViewBag.myCookie', FileExtensionType: '@ViewBag.myIP'
                },
                success: function (data) {

                    console.log(AnswerTemplateKey);
                    FormKey = data;
                    $.ajax({
                        url: '@Url.Action("AnswersByUser", "ClaimForms")',
                        type: 'POST',
                        dataType: 'json',
                        cache: false,
                        data: {
                            formKey: FormKey, answerTemplateKey: JSON.stringify(AnswerTemplateKey)
                        },
                        success: function (data) {

                            $.ajax({
                                url: '@Url.Action("SaveClaimForm", "ClaimForms")',
                                type: 'GET',
                                dataType: 'json',
                                cache: false,
                                data: {
                                    formKey: FormKey
                                },
                                success: function (data) {
                                    $.unblockUI($("#body"));
                                    console.log("survey submited successfully");
                                }
                            });
                }
            });
        }
        });

        });

        //CMS
         var clickedElement = "";
        var language = 3;

        @*$(document).on('click', '#deletePageBtn', function () {
             $.ajax({

                            url: '@Url.Action("DeletePage", "Template")',



                            type: 'POST',



                            data: {

                                __RequestVerificationToken: $('@Html.AntiForgeryToken()').val(),

                                keyPage: pageKey,

                            },



                 success: function (data) {
                     if (data != "400") {

                     }
                 },
                            error: function (error) {

                                swal("Error", "Error Occured!", "error");

                            }
                        });
        })*@

        @if(!User.Identity.IsAuthenticated && !User.IsInRole("Editor"))
            {
               <text>
        $(".modal").remove();

            </text>
            }

        $(document).on('click', '.element-to-change', function () {


            clickedElement = $(this);
            var guid = $(this).data('translation');
            var componentId = $(this).data('id');
            language = @languageIdentifier;
            var singleElementModal = {};
            singleElementModal["ElementTranslation"] = guid;
            singleElementModal["languageNeeded"] = language;
            singleElementModal["componentId"] = componentId;
            if (clickedElement.hasClass("summer-note")) {
                singleElementModal["isSummerNote"] = true;
            }
            if (clickedElement.hasClass("drop-zone")) {
                singleElementModal["isDropZone"] = true;


            }


            $(".modal-body-single-element").empty();
            $(".modal-body-single-element").append('<img src="@Url.Content("~/images/customgif/Syrian Loader.gif")" alt="Loading" style="width:20%;z-index:4; margin-right:40%" />');

            var singleElementModalJsonString = JSON.stringify(singleElementModal);

             $.ajax({

                            url: '@Url.Action("ChangeLanguageInModal","TestCMS")',



                            type: 'POST',



                            data: {

                                __RequestVerificationToken: $('@Html.AntiForgeryToken()').val(),

                                componentName: "singleElement",

                                componentStringObject: singleElementModalJsonString

                            },



                 success: function (data) {
                     if (data != "404") {
                         $(".modal-body-single-element").empty();
                         $(".modal-body-single-element").append(data);
                     }
                     else {
                         swal("Error", "Error Occured!", "error");
                     }

                                //$(".modal-body-card").empty();
                                //$(".modal-body-card").append(data);





                            },



                            error: function (error) {

                                swal("Error", "Error Occured!", "error");

                            }
                        });



        })
         $(document).on('change', "#languageDropDownSingle", function () {
            language = $("#languageDropDownSingle option:selected").val();

                // 1) get the data translation
                var singleElementModal = {};
                singleElementModal["ElementTranslation"] = $("#inputModal").data("translation");
             singleElementModal["languageNeeded"] = language;
             singleElementModal["componentId"] = $("#inputModal").data("id");
             if (clickedElement.hasClass("summer-note")) {
                 singleElementModal["isSummerNote"] = true;
             }
             if (clickedElement.hasClass("drop-zone")) {
                 singleElementModal["isDropZone"] = true;


             }
            $(".modal-body-single-element").empty();
            $(".modal-body-single-element").append('<img src="@Url.Content("~/images/customgif/Syrian Loader.gif")" alt="Loading" style="width:20%;z-index:4; margin-right:40%" />');
                var singleElementModalJsonString = JSON.stringify(singleElementModal);
                $.ajax({

                            url: '@Url.Action("ChangeLanguageInModal","TestCMS")',



                            type: 'POST',



                            data: {

                                __RequestVerificationToken: $('@Html.AntiForgeryToken()').val(),

                                componentName: "singleElement",

                                componentStringObject: singleElementModalJsonString

                            },



                            success: function (data) {

                                if (data != "404") {
                                    $(".modal-body-single-element").empty();
                                    $(".modal-body-single-element").append(data);
                                }
                                else {
                                    swal("Error", "Error Occured!", "error");
                                }



                            },



                            error: function (error) {

                                swal("Error", "Error Occured!", "error");

                            }
                        });

         })

        $(document).on('click', '#saveBtn', function () {
            $.blockUI($("body"));

            var inputElement = $("#inputModal");

            var componentId = $(inputElement).data('id');
            var componentTranslation = $(inputElement).data('translation');
            var componentNewVal = "";
            var componentType = "";

            if ($(inputElement).hasClass("summernote")) {
                var summerNoteText = $(".summernote").summernote('code');
                console.log(summerNoteText);

                componentNewVal = window.btoa(unescape(encodeURIComponent(summerNoteText)));
                console.log(componentNewVal);
                componentType = "SummerNote";

            }
            else if ($(inputElement).hasClass("dropzone")) {
                componentNewVal = fileKey;
            }


            else {

                componentNewVal = $(inputElement).val();
            }

             $(".modal-body-single-element").empty();
            $(".modal-body-single-element").append('<img src="@Url.Content("~/images/customgif/Syrian Loader.gif")" alt="Loading" style="width:20%;z-index:4; margin-right:40%" />');

            $.ajax({
                            url: '@Url.Action("EditComponent", "Template")',

                            type: 'POST',

                            data: {

                                __RequestVerificationToken: $('@Html.AntiForgeryToken()').val(),

                                componentKey: componentId,
                                translation: componentTranslation,
                                language: language,
                                newComponentVal: componentNewVal,
                                componentType: componentType
                            },



                success: function (data) {
                    $.unblockUI($("body"));
                    if ($(clickedElement).hasClass("image")) {
                        location.reload();
                        //$(clickedElement).find('img').attr("src", data);
                        //console.log($(clickedElement).find('img'));
                    }
                    else {
                        var currentLang = '@languageIdentifier';
                        if (language == currentLang) {
                            $(clickedElement).empty();
                            $(clickedElement).append(data);
                        }


                    }


                            },



                            error: function (error) {
                                $.unblockUI($("#body"));
                                swal("Error", "Error Occured!", "error");

                            }
            });
            $("#closeModal").click();

        })

        

    </script>

