﻿@{ 
    Layout = "~/Views/Shared/_LayoutInitialPage.cshtml";
}

<head>
    @*<link href="~/content/treejs/css/components.min.css" rel="stylesheet" />
    <link href="~/content/treejs/css/plugins.min.css" rel="stylesheet" />
    <link href="~/content/treejs/css/style.min.css" rel="stylesheet" />

    <script src="~/content/treejs/js/app.min.js"></script>
    <script src="~/content/treejs/js/jstree.min.js"></script>
    <script src="~/content/treejs/js/ui-tree.min.js"></script>*@
</head>




<div class="row" style="text-align:right;background-color:white;">
    <img src="@Url.Content("~/images/newdesignpics/loadertablemouwazafin.gif")" style="position: absolute;top: 45%;left: 45%;transform: translate(-50%, -50%);z-index:3;margin:0;display:none" class="LoaderTable1">

    <h3 style="margin-top:1%;margin-right:4%;">صفحة الامتيازات</h3>
    <div class="col-md-6">
        <div class="portlet light bordered" style="min-height:50%;">
            <div class="portlet-title">
                <div class="caption" style="float:right;">
                    <span class="caption-subject font-blue-sharp bold uppercase">لائحة الامتيازات </span>
                </div>
                <div class="actions" style="float:left;">

                    @*<a class="btn btn-circle btn-icon-only btn-default" href="javascript:;">
                        <i class="icon-wrench"></i>
                    </a>*@
                    <a class="btn btn-circle btn-icon-only btn-default" href="javascript:;" onclick="AddPrivilege()">
                        <i class="fa fa-exchange"></i>
                    </a>
                </div>
            </div>
            <div class="portlet-body">
                <div>
                    <img src="@Url.Content("~/images/newdesignpics/loadertablemouwazafin.gif")" style="display:none" class="LoaderTable">

                    <ul style="list-style-type:none" id="AllPriv">
                        @*<li>
                             الاستبانات <i class="fa fa-plus-square"></i>
                            <ul style="list-style-type:none">
                                <li style="color:lightblue;">
                                     معا لتبسيط الإجراءات  
                                </li>
                                <li style="color:lightblue;"> مؤشر تبسيط الإجراءت وتقانة المعلومات  </li>
                            </ul>
                        </li>*@
                        @*<li>
                            الاستبانات <i class="fa fa-plus-square"></i>
                            <ul style="list-style-type:none">
                                <li style="color:lightblue;">
                                    معا لتبسيط الإجراءات
                                </li>
                                <li style="color:lightblue;"> مؤشر تبسيط الإجراءت وتقانة المعلومات  </li>
                            </ul>
                        </li>*@
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="portlet light bordered" style="min-height:50%;">
            <div class="portlet-title">
                <div class="caption" style="float:right;">
                    <span class="caption-subject font-blue-sharp bold uppercase">تعديل الامتيازات </span>
                </div>
                <div class="actions" style="float:left">
                    <div class="btn-group">
                        <a class="btn green-haze btn-outline btn-circle btn-sm" href="javascript:;" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
                            المنصب
                            <i class="fa fa-angle-down"></i>
                        </a>
                        <ul class="dropdown-menu pull-right" style="width: 300px; height: 200px; overflow: auto">
                         @{
                             foreach (var item in ViewBag.Roles)
                             {
                                 if (item.RoleId != "4")
                                 {
                                    <li>
                                        <a href="javascript:;" class="RoleList" data-value="@item.RoleId">@item.RoleName</a>
                                    </li>
                                 }

                             }
                        }
                           
                        </ul>
                    </div>
                </div>
                <div class="actions" style="float:left;margin-left: 1%;margin-right:1%;">

                    <a class="btn btn-circle btn-icon-only btn-default" href="javascript:;" onclick="ChangeTime()">
                        <i class="icon-wrench"></i>
                    </a>
                    <a class="btn btn-circle btn-icon-only btn-default" href="javascript:;" onclick="DeletePrivilege()">
                        <i class="icon-trash"></i>
                    </a>
                    <a class="btn btn-circle btn-icon-only btn-default" href="javascript:;" id="saveBtn" style="visibility:hidden;">
                        <i class="fa fa-check"></i>
                    </a>
                </div>
                <div class="input-group datetimepicker" id="datetimepicker" style="direction:ltr;width: 25%;visibility:hidden;">
                    <input style="z-index:0" type="text" placeholder="MM/DD/YYYY" class="form-control">
                    <span class="input-group-addon">
                        <i class="fa fa-calendar" aria-hidden="true"></i>
                    </span>                                     
                </div>


            </div>
            <div class="portlet-body">
                <div>
                    <img src="@Url.Content("~/images/newdesignpics/loadertablemouwazafin.gif")" style="display:none" class="LoaderTable">

                    <ul style="list-style-type:none" id="PrivList">
                    </ul>
                </div>
            </div>
        </div>
    </div>

</div>

<script>

    $(function () {
        //$('#datetimepicker').datetimepicker();
        //$("#datetimepicker").datetimepicker({ maxDate: new Date });
        var date = new Date();
        var currentMonth = date.getMonth();
        var currentDate = date.getDate();
        var currentYear = date.getFullYear();
        $('.datetimepicker').datetimepicker({
            format: 'YYYY/MM/DD',
            widgetPositioning: {
                horizontal: 'left'
            },

            icons: {
                time: "fa fa-clock-o",
                date: "fa fa-calendar",
                up: "fa fa-arrow-up",
                down: "fa fa-arrow-down",
                previous: 'fa fa-chevron-left',
                next: 'fa fa-chevron-right',
            },

            minDate: new Date(currentYear, currentMonth, currentDate)

        });
    });


    function ChangeTime() {
        $("#datetimepicker").css("visibility", "visible");
        $("#saveBtn").css("visibility", "visible");

    }


    var checkAllChildrenAftercheckBoxParentCheck = "0";

    function checkAllChildren(PrivilegePerRoleKey, thisCheckbox, PriviligeParent) {

      
        var status = thisCheckbox.checked;
        $("#" + PrivilegePerRoleKey).find("input").each(function () {

            this.checked = status;
            //$(this).trigger("click");
            //$(this).trigger("click");

        });

        var ClassNAME = thisCheckbox.className;
        var IconId = ClassNAME.replace("Parent", "icon");
        var UlId = IconId.replace("icon_", "");



        if (status == true && ($("#" + UlId + " li").length == 0)) {
            checkAllChildrenAftercheckBoxParentCheck = "1";
            $("#" + IconId).trigger("click");

        }

        $('.' + PrivilegePerRoleKey).each(function () {
            this.checked = status;
        });
        
        if (PriviligeParent != undefined) {
            
            Parentcheck(PriviligeParent, thisCheckbox,"true");
        }
        
    }

    function Parentcheck(PriviligeParent, thisCheckbox,ParentCheckVariable) {
        
        var ParentClass = thisCheckbox.className;
        var FindParent = 0;
        
        var status = thisCheckbox.checked;
        if (status == false) {
            
            //$(".Parent_" + ParentClass).attr("checked", false);
           
        } else {
        
            for (i = 0; i < PrivlegeKeyRightTable.length; i++) {
                
                    if (PrivlegeKeyRightTable[i].trim() == PriviligeParent.trim())
                        FindParent = 1;
                }
               
                if (FindParent == 0) {
                   
                    $(".Parent_" + ParentClass).trigger("click");
                    // $(".Parent_336").prop("checked", true);
                    //$(".Parent_" + ParentClass).prop("checked", true);
                }
        }


        if (ParentCheckVariable == "true") {

            $("#" + PriviligeParent).prop("checked", true);
            //$("#" + PriviligeParent).trigger("click");

        }

       
    }

    var PrivilegeKey = [];
    function AddPrivilege() {


        $('#AllPriv input').each(function (index, element) {
            if (this.checked && $(this).val() != '') {

                answsers = { key: $(this).val(), roleKey: "Empty" }
                PrivilegeKey.push(answsers);
            }
        });


        SetAccessPrivilege(PrivilegeKey, RoleId, "15", null)

    }


    function DeletePrivilege() {


        $('#PrivList input').each(function (index, element) {
            if (this.checked && $(this).val() != '') {
                answsers = { key: $(this).val(), roleKey: $(this).attr("data-value") }
                PrivilegeKey.push(answsers);

            }
        });


        DeleteAccessPrivilege(PrivilegeKey, RoleId, "18", null)

    }

    $("#saveBtn").click(function () {

        var Date1 = $("#datetimepicker").find("input").val().replace(/\//g, '-');
        var FirstDate = Date1 + " 00:00:00";


        $("#datetimepicker").css("visibility", "hidden");
        $("#saveBtn").css("visibility", "hidden");

        $('#PrivList input').each(function (index, element) {
            if (this.checked && $(this).val() != '') {
                answsers = { key: $(this).val(), roleKey: $(this).attr("data-value") }
                PrivilegeKey.push(answsers);

            }
        });


        UpdateAccessPrivilege(PrivilegeKey, RoleId, "16", Date1)

    });

    function DeleteAccessPrivilege(privilegeKey, roleKey, conditionKey, assignedTime) {
        $(".LoaderTable1").show();
        $.ajax({
            url: '@Url.Action("DeleteAccessPrivilege", "Privileges")',
            dataType: "text",
            data: { privilegeKey: JSON.stringify(privilegeKey), roleKey: roleKey, conditionKey: conditionKey, assignedTime: assignedTime },
            success: function (result) {
                refreshPrivileges(roleKey);
                PrivilegeKey = [];
            }
        });
    }
    
    function UpdateAccessPrivilege(privilegeKey, roleKey, conditionKey, assignedTime) {
        $(".LoaderTable1").show();
        $.ajax({
            url: '@Url.Action("UpdateAccessPrivilege", "Privileges")',
            dataType: "text",
            data: { privilegeKey: JSON.stringify(privilegeKey), roleKey: roleKey, conditionKey: conditionKey, assignedTime: assignedTime },
            success: function (result) {
                refreshPrivileges(roleKey);
                PrivilegeKey = [];
            }
        });
    }


    function SetAccessPrivilege(privilegeKey, roleKey, conditionKey, assignedTime) {
        $(".LoaderTable1").show();
        $.ajax({
            url: '@Url.Action("SetAccessPrivilege", "Privileges")',
            dataType: "text",
            data: { privilegeKey: JSON.stringify(privilegeKey), roleKey: roleKey, conditionKey: conditionKey, assignedTime: assignedTime },
            success: function (result) {
                refreshPrivileges(roleKey);
                PrivilegeKey = [];
            }
        });
    }



    function refreshPrivileges(roleKey) {
        PrivlegeKeyRightTable = [];
        $.ajax({
            url: '@Url.Action("AccessPivilege", "Privileges")',
            dataType: "json",
            data: { RoleId: roleKey },
            success: function (result) {

                var html = "";
                var html1 = "";
                $("#PrivList").empty();
                $("#AllPriv").empty();
                var undefined = "undefined";
                var i = 0;
                $.each(result, function (key, value) {

                    if (value.Position == "Right") {
                        PrivlegeKeyRightTable[i] = value.PrivilegeName;
                        i++;
                        var PrivilegeName = "'" + value.PrivilegeName + "'";

                        html += '<li>' + value.PrivilegeName + ' <input type="checkbox" value="' + value.PrivilegeKey + '" data-value="' + value.PrivilegePerRoleKey + '" onclick="checkAllChildren(' + value.PrivilegePerRoleKey + ',this)" class="Parent_' + value.PrivilegePerRoleKey + '"> <i class="fa fa-plus-square" onclick="Getchildren(' + PrivilegeName + ',' + "'" + value.PrivilegePerRoleKey + "'" + ',' + "'" + RoleId + "'" + ',' + "'" + value.Position + "'" + ')"  id="icon_' + value.PrivilegePerRoleKey + '"></i>';
                        //html += '<div class="mt-comment-text">' + value.Subject + '<span class="label label-sm label-danger" onclick="approveticket(' + key + ',' + "'" + value.Description + "'" + ',' + "'" + value.Priority + "'" + ',' + "'" + value.Status + "'" + ',' + "'" + value.Author + "'" + ',' + "'" + value.Subject + "'" + ')" style="float:right;cursor:pointer">Approve </span>' + '</div>';

                        if (value.AllowedDays != null)
                            html += "<span style='color:red;float:left'>" + value.AllowedDays + " days left</span>";
                        html += "<ul id='" + value.PrivilegePerRoleKey + "' style='list-style-type:none'></ul>";
                    }



                    if (value.Position == "Left") {
                        var PrivilegeName = "'" + value.PrivilegeName + "'";
                        html1 += '<li>' + value.PrivilegeName + ' <input type="checkbox" value="' + value.PrivilegeKey + '" onclick="checkAllChildren(' + value.PrivilegePerRoleKey + ',this)" class="Parent_' + value.PrivilegePerRoleKey + '"> <i class="fa fa-plus-square" onclick="Getchildren(' + PrivilegeName + ',' + "'" + value.PrivilegePerRoleKey + "'" + ',' + "'" + RoleId + "'" + ',' + "'" + value.Position + "'" + ')" id="icon_' + value.PrivilegePerRoleKey + '"></i>';
                        html1 += "<ul id='" + value.PrivilegePerRoleKey + "' style='list-style-type:none'></ul>";
                    }
                    var PrivilegeName = "'" + value.PrivilegeName + "'";


                });


                $("#PrivList").append(html);
                $("#AllPriv").append(html1);
                $(".LoaderTable1").hide();
            }
        });
    }

    var RoleId = "";
    var PrivlegeKeyRightTable = [];
    $(".RoleList").click(function(){
        
        RoleId = $(this).attr("data-value");
        $("#PrivList").empty();
        $("#AllPriv").empty();
         $(".LoaderTable").show();

        $.ajax({
            url: '@Url.Action("AccessPivilege", "Privileges")',
            dataType: "json",
            data: { RoleId: RoleId },
            success: function (result) {

                var html = "";
                var html1 = "";
                $("#PrivList").empty();
                $("#AllPriv").empty();
                var undefined = "undefined";

                var i = 0;
                $.each(result, function (key, value) {

                    

                    if (value.Position == "Right") {
                        PrivlegeKeyRightTable[i] = value.PrivilegeName;
                        i++;
                        var PrivilegeName = "'" + value.PrivilegeName + "'";

                        html += '<li>' + value.PrivilegeName + ' <input type="checkbox" value="' + value.PrivilegeKey + '" data-value="' + value.PrivilegePerRoleKey + '" onclick="checkAllChildren(' + value.PrivilegePerRoleKey + ',this)" class="Parent_' + value.PrivilegePerRoleKey + '" id="' + value.PrivilegeName + '"> <i class="fa fa-plus-square" onclick="Getchildren(' + PrivilegeName + ',' + "'" + value.PrivilegePerRoleKey + "'" + ',' + "'" + RoleId + "'" + ',' + "'" + value.Position + "'" + ')"  id="icon_' + value.PrivilegePerRoleKey + '"></i>';
                        //html += '<div class="mt-comment-text">' + value.Subject + '<span class="label label-sm label-danger" onclick="approveticket(' + key + ',' + "'" + value.Description + "'" + ',' + "'" + value.Priority + "'" + ',' + "'" + value.Status + "'" + ',' + "'" + value.Author + "'" + ',' + "'" + value.Subject + "'" + ')" style="float:right;cursor:pointer">Approve </span>' + '</div>';

                        if (value.AllowedDays != null)
                            html += "<span style='color:red;float:left'>" + value.AllowedDays + " days left</span>";
                        html += "<ul id='" + value.PrivilegePerRoleKey + "' style='list-style-type:none'></ul>";
                    }



                    if (value.Position == "Left") {
                        var PrivilegeName = "'" + value.PrivilegeName + "'";
                        html1 += '<li>' + value.PrivilegeName + ' <input type="checkbox" value="' + value.PrivilegeKey + '" onclick="checkAllChildren(' + value.PrivilegePerRoleKey + ',this)" class="Parent_' + value.PrivilegePerRoleKey + '" id="' + value.PrivilegeName + '"> <i class="fa fa-plus-square" onclick="Getchildren(' + PrivilegeName + ',' + "'" + value.PrivilegePerRoleKey + "'" + ',' + "'" + RoleId + "'" + ',' + "'" + value.Position + "'" + ')" id="icon_' + value.PrivilegePerRoleKey + '"></i>';
                        html1 += "<ul id='" + value.PrivilegePerRoleKey + "' style='list-style-type:none'></ul>";
                    }
                    var PrivilegeName = "'" + value.PrivilegeName + "'";

                    
                });

                $("#PrivList").append(html);
                $("#AllPriv").append(html1);
                $(".LoaderTable").hide();
            }
        });

    });

        
    function Getchildren(PrivilegeName, Id, RoleID,position) {
       
       
        if ($("#icon_" + Id).hasClass("fa fa-plus-square")) {
            $(".LoaderTable1").show();
            var test = $(this).attr("data-position");
          
            if (RoleID != undefined || RoleID != "undefined") {
                RoleId = RoleID;
            } else {
                ;
            }


            $("#icon_" + Id).removeClass("fa fa-plus-square");
            $("#icon_" + Id).addClass("fa fa-minus-square");

            if ($("#" + Id + " li").length == 0) {
                $.ajax({
                    url: '@Url.Action("AccessPivilege", "Privileges")',
                    dataType: "json",
                    data: { RoleId: RoleId, ParentPrivilege: PrivilegeName },
                    success: function (result) {
                        
                        if (position == "Right") {
                            $.each(result, function (key, value) {

                                
                                if (value.Position == "Right") {
                                    var PrivilegeName = "'" + value.PrivilegeName + "'";

                                    if (value.PositionType == "Parent") {
                                        
                                        var html = "";
                                        html += '<li style="color:blue;">' + value.PrivilegeName + ' <input type="checkbox" value="' + value.PrivilegeKey + '" onclick="checkAllChildren(' + value.PrivilegePerRoleKey + ',this,' + "'" + value.PriviligeParent + "'" + ')" class="Parent_' + value.PrivilegePerRoleKey + '"> <i class="fa fa-plus-square" onclick="Getchildren(' + PrivilegeName + ',' + "'" + value.PrivilegePerRoleKey + "'" + ',' + "'" + RoleId + "'" + ',' + "'" + value.Position + "'" + ')" id="icon_' + value.PrivilegePerRoleKey + '"></i>';
                                        html += "<ul id='" + value.PrivilegePerRoleKey + "' style='list-style-type:none'></ul>";
                                        $("#" + Id).append(html);

                                    } else {
                                        var html = "";
                                       
                                        html += "<li style='color:lightblue;margin-right:3%;'>" + value.PrivilegeName + " <input type='checkbox' value='" + value.PrivilegeKey + "' class='" + Id + "' onclick='Parentcheck(this)'> </li>";

                                        $("#" + Id).append(html);
                                    }
                                    
                                }
                                   

                            });
                         
                        } else {
                            $.each(result, function (key, value) {
                                if (value.Position == "Left") {
                                    var PrivilegeName = "'" + value.PrivilegeName + "'";
                                    if (value.PositionType == "Parent") {
                                        
                                        var html = "";
                                        html += '<li style="color:blue;">' + value.PrivilegeName + ' <input type="checkbox" value="' + value.PrivilegeKey + '" onclick="checkAllChildren(' + value.PrivilegePerRoleKey + ',this,' + "'" + value.PriviligeParent + "'" + ')" class="Parent_' + value.PrivilegePerRoleKey + '"> <i class="fa fa-plus-square" onclick="Getchildren(' + PrivilegeName + ',' + "'" + value.PrivilegePerRoleKey + "'" + ',' + "'" + RoleId + "'" + ',' + "'" + value.Position + "'" + ')" id="icon_' + value.PrivilegePerRoleKey + '"></i>';
                                        html += "<ul id='" + value.PrivilegePerRoleKey + "' style='list-style-type:none'></ul>";
                                        $("#" + Id).append(html);
                                    } else {

                                        var html = "";
                                        var True = "true";
                                        html += "<li style='color:lightblue;margin-right:3%;'>" + value.PrivilegeName + " <input type='checkbox' value='" + value.PrivilegeKey + "' class='" + Id + "' onclick='Parentcheck(" + '"' + value.PriviligeParent + '"' + ",this)'> </li>";

                                        $("#" + Id).append(html);
                                    }
                                   
                                }
                            });
                            
                        }

                        if (checkAllChildrenAftercheckBoxParentCheck == "1") {
                            checkAllChildrenAftercheckBoxParentCheck = "0";

                            $("#" + Id).find("input").each(function () {

                                //this.checked = true;
                                $(this).trigger("click");
                            })
                            $("." + Id).each(function () {
                                this.checked = true;
                            });
                           
                        }
                        $(".Parent_" + Id).each(function () {
                            if (this.checked == true) {
                                $(".Parent_" + Id).find("input").each(function () {
                                    this.checked = true;
                                });
                                $("." + Id).each(function () {
                                    this.checked = true;
                                });
                            }
                               
                        });
                        console.log("PrivilegeName");
                        console.log(PrivilegeName);
                        if (PrivilegeName.includes("التقارير")) {
                            console.log("1");

                            $(".LoaderTable1").show();
                        } else if (PrivilegeName.includes("تقارير ")) {
                            console.log("2");

                            setTimeout(function () { $(".LoaderTable1").hide(); }, 12000);
                        }else {
                            setTimeout(function () { $(".LoaderTable1").hide(); }, 4000);
                        }
                    }
                });
            }
        }
        else {

            $("#" + Id).empty();
            $("#icon_" + Id).removeClass("fa fa-minus-square");
            $("#icon_" + Id).addClass("fa fa-plus-square");
        }
    }





</script>