﻿@model MoAD.DataObjects.EDMX.GetOrganisations_Result

@{
    ViewBag.Title = "حذف";
    Layout = "~/Views/Shared/_LayoutInitialPage.cshtml";
}

@using (Html.BeginForm())
{
    <div class="row" style="margin-top:1%;">
        <div class="col-xl-12">
            <div class="row margin-bottom-25">
                <div class="col-xl-12">
                    <div class="widget widget-two" style="direction:ltr;">
                        <div class="widget-header" dir="rtl">
                            <span class="text-truncate text-nowrap">حذف المؤسسة رقم  <strong>@Model.OrganisationKey</strong></span>
                        </div>
                        <div class="row">
                            <div class="col-lg-2"></div>
                            <div class="col-lg-8" style="text-align:right;margin-top: 15px;">
                                <img src="@Url.Content("~/images/newdesignpics/loadertablemouwazafin.gif")" style="margin-top:6%;display:none" id="LoaderTable">
                                <div class="margin-bottom-50 m-form m-form--fit m-form--label-align-right m-form--group-seperator-dashed">
                                    @Html.AntiForgeryToken()
                                    <div class="m-form__content">
                                        @Html.ValidationSummary("", new { @class = "text-danger mt-4" })
                                    </div>
                                    <div class="m-alert m-alert--icon alert alert-danger m-5" role="alert">
                                        <div class="m-alert__icon">
                                            <i class="flaticon-danger"></i>
                                        </div>
                                        <div class="m-alert__text">
                                            <strong>حذر!</strong> هل أنت متأكد أنك تريد حذف <strong>@Html.DisplayFor(model => model.OrganisationName, new { htmlAttributes = new { @class = "form-control m-input" } })</strong> ؟
                                        </div>
                                    </div>
                                    <div class="m-form__actions m-form__actions--solid">
                                        <div class="row" style="text-align:left;">
                                            <div class="col-lg-2">
                                                <button type="submit" class="btn btn-danger">حذف</button>
                                                @Html.ActionLink("الرجوع", "Index", "", new { @class = "btn btn-brand" })
                                            </div>
                                            <div class="col-lg-8"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-2"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
