﻿@model MoAD.DataObjects.EDMX.GetOrganisations_Result

@{
    ViewBag.Title = "تعديل";
    Layout = "~/Views/Shared/_LayoutInitialPage.cshtml";
}

<style>
    .m-form__group {
        direction: rtl !important;
    }

    .col-form-label {
        font-weight: bolder !important;
    }
</style>

@using (Html.BeginForm())
{
    <div class="row" style="margin-top:1%;">
        <div class="col-xl-12">
            <div class="row">
                <div class="col-xl-12">
                    <div class="widget widget-two" style="direction:ltr;">
                        <div class="widget-header" dir="rtl">
                            <span class="text-truncate text-nowrap">تفاصيل المؤسسة رقم  <strong>@Model.OrganisationKey</strong></span>
                        </div>
                        <div class="row">
                            <div class="col-lg-12" style="text-align:right;margin-top: 15px;">
                                <img src="@Url.Content("~/images/newdesignpics/loadertablemouwazafin.gif")" style="margin-top:6%;display:none" id="LoaderTable">
                                <div class="margin-bottom-50 m-form m-form--fit m-form--label-align-right m-form--group-seperator-dashed">
                                    @Html.AntiForgeryToken()
                                    <div class="m-form__content">
                                        @Html.ValidationSummary("", new { @class = "text-danger mt-4" })
                                    </div>

                                    <div class="form-group m-form__group row">
                                        <div class="col-lg-2"></div>
                                        <div class="col-lg-6">
                                            @Html.EditorFor(model => model.OrganisationKey, new { htmlAttributes = new { @class = "form-control m-input", @readonly = "readonly" } })
                                            <span class="m-form__help">الرقم التسلسلي للجهة العامة </span>
                                        </div>
                                        <label class="col-lg-1 col-form-label">المفتاح</label>
                                    </div>
                                    <div class="form-group m-form__group row">
                                        <div class="col-lg-2"></div>
                                        <div class="col-lg-6">
                                            @Html.EditorFor(model => model.OrganisationName, new { htmlAttributes = new { @class = "form-control m-input" } })
                                            <span class="m-form__help">إسم الجهة العامة</span>
                                            @Html.ValidationMessageFor(model => model.OrganisationName, "*", new { @class = "m-form__help text-danger" })
                                        </div>
                                        <label class="col-lg-1 col-form-label">الجهة العامة</label>
                                    </div>
                                    <div class="form-group m-form__group row">
                                        <div class="col-lg-2"></div>
                                        <div class="col-lg-6">
                                            @Html.DropDownList("OrganisationParent", null, htmlAttributes: new { @id = "MinistriesDropDownList", @class = "form-control" })
                                            <span class="m-form__help">إسم الوزارة التي تتبع إليها الجهة العامة</span>
                                            @Html.ValidationMessageFor(model => model.OrganisationParent, "*", new { @class = "m-form__help text-danger" })
                                        </div>
                                        <label class="col-lg-1 col-form-label">الوزارة</label>
                                    </div>
                                    <div class="form-group m-form__group row">
                                        <div class="col-lg-2"></div>
                                        <div class="col-lg-6">
                                            @Html.DropDownList("Province", null, htmlAttributes: new { @id = "ProvincesDropDownList", @class = "form-control" })
                                            <span class="m-form__help">مكان الجهة العامة</span>
                                            @Html.ValidationMessageFor(model => model.Province, "*", new { @class = "m-form__help text-danger" })
                                        </div>
                                        <label class="col-lg-1 col-form-label">المحافظة</label>
                                    </div>
                                    <div class="form-group m-form__group row">
                                        <div class="col-lg-2"></div>
                                        <div class="col-lg-6">
                                            @Html.DropDownList("Visibility", null, htmlAttributes: new { @id = "VisibilityDropDownList", @class = "form-control" })
                                            <span class="m-form__help">الوضع الحالي للجهة العامة على البرنامج</span>
                                            @Html.ValidationMessageFor(model => model.Visibility, "*", new { @class = "m-form__help text-danger" })
                                        </div>
                                        <label class="col-lg-1 col-form-label">الحالة</label>
                                    </div>
                                    <div class="form-group m-form__group row">
                                        <div class="col-lg-2"></div>
                                        <div class="col-lg-6">
                                            @Html.DropDownList("OPManagerRoleGroupKey", null, htmlAttributes: new { @id = "SectorsDropDownList", @class = "form-control" })
                                            <span class="m-form__help">تخصص الجهة العامة</span>
                                            @Html.ValidationMessageFor(model => model.ArabicName, "*", new { @class = "m-form__help text-danger" })
                                        </div>
                                        <label class="col-lg-1 col-form-label">القطاع</label>
                                    </div>
                                    <div class="m-form__actions m-form__actions--solid">
                                        <div class="row" style="text-align:left;">
                                            <div class="col-lg-2"></div>
                                            <div class="col-lg-6">
                                                <button type="submit" class="btn btn-secondary">حفظ</button>
                                                @Html.ActionLink("الرجوع", "Index", "", new { @class = "btn btn-brand" })
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
}

@section Scripts {

    <!--begin::Page Scripts -->
    <script>
        $("#ProvincesDropDownList").select2({
            dir: "rtl"
        });
        $("#MinistriesDropDownList").select2({
            dir: "rtl"
        });
        $("#VisibilityDropDownList").select2({
            dir: "rtl"
        });
        $("#SectorsDropDownList").select2({
            dir: "rtl"
        });

    </script>
    <!--end::Page Scripts -->
}
