﻿@model IEnumerable<MoAD.DataObjects.EDMX.GetOrganisations_Result>

@{
    ViewBag.Title = "المؤسسات";
    Layout = "~/Views/Shared/_LayoutInitialPage.cshtml";
}


<style>
    thead th {
        text-align: right;
        background-color: white !important;
    }

    tbody tr td {
        text-align: right;
        background-color: white;
    }

    #example1_paginate, #example1_info {
        margin-top: 6% !important;
    }

    #example1_length {
        margin-top: 1%;
    }

    div.dataTables_wrapper {
        direction: rtl;
    }

    div.dataTables_length {
        text-align: left;
        margin-left: 20px;
    }

    div.dataTables_info {
        text-align: left;
        margin-left: 20px;
    }

    div.dataTables_filter {
        padding-right: 25px;
    }

    select[name="m_table_1_length"] {
        padding-right: 40px !important;
        padding-top: 0 !important;
        padding-left: 0 !important;
        padding-bottom: 0 !important;
        width: 80px;
        text-align: left;
    }

    .m-badge.m-badge--success {
        background-color: #34bfa3;
        color: #ffffff;
    }

    .m-badge.m-badge--danger {
        background-color: #f4516c;
        color: #ffffff;
    }

    .m-badge.m-badge--wide {
        letter-spacing: 0.6px;
        padding: 1px 10px;
        border-radius: 0;
        border-radius: 0.75rem;
    }

    .m-badge {
        background: #eaeaea;
        color: #444;
        font-size: 0.8rem;
        line-height: 20px;
        min-height: 20px;
        min-width: 20px;
        vertical-align: middle;
        text-align: center;
        display: inline-block;
        padding: 0px 3px;
        border-radius: 0.75rem;
    }

    .dropdown-item:hover
    {
        text-decoration:none;
    }
</style>



<div class="row" style="margin-top:1%;">
    <div class="col-xl-12">
        <div class="row">
            <div class="col-xl-12">
                <div class="widget widget-two" style="direction:ltr;">
                    <div class="widget-header" dir="rtl">
                        <span class="text-truncate text-nowrap">جدول  <strong>المؤسسات</strong></span>
                        <span class="text-truncate text-nowrap pull-left">
                            <strong>
                                <a href="@Url.Action("Create", "Organisations")">
                                    <i class="m-menu__link-icon fa fa-plus"></i>
                                    <span class="m-menu__link-title">
                                        <span class="m-menu__link-wrap">
                                            <span class="m-menu__link-text">
                                                إضافة
                                            </span>
                                        </span>
                                    </span>
                                </a>
                            </strong>
                        </span>
                    </div>
                    <div class="row">
                        <div class="col-lg-1"></div>
                        <div class="col-lg-10" style="text-align:right;margin-top: 15px;">
                            <img src="@Url.Content("~/images/newdesignpics/loadertablemouwazafin.gif")" style="margin-top:6%;display:none" id="LoaderTable">
                            <div class="margin-bottom-50" id="TableAppend">
                                <!--begin: Datatable -->
                                <table class="table table-striped- table-bordered table-hover table-checkable" id="m_table_1">
                                    <thead>
                                        <tr>
                                            <th>
                                                المفتاح
                                            </th>
                                            <th>
                                                الجهة العامة
                                            </th>
                                            <th>
                                                الوزارة
                                            </th>
                                            <th>
                                                المحافظة
                                            </th>
                                            <th>
                                                الحالة
                                            </th>
                                            <th>
                                                القطاع
                                            </th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var item in Model)
                                        {
                                            <tr>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.OrganisationKey)
                                                </td>
                                                <td>
                                                    <b>@item.OrganisationName</b>
                                                </td>
                                                <td>
                                                    <b>@Html.DisplayFor(modelItem => item.OrganisationParent)</b>
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.Province)
                                                </td>
                                                <td>
                                                    @(string.IsNullOrEmpty(item.Visibility) ?
                                                Html.Raw("<span class='m-badge m-badge--danger m-badge--wide'>غير مفعلة</span>") : Html.Raw("<span class='m-badge m-badge--success m-badge--wide'>متاحة</span>"))
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.ArabicName)
                                                </td>
                                                <td>
                                                    @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                                                    @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                                                    @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                                                </td>
                                            </tr>
                                        }

                                    </tbody>

                                </table>
                            </div>
                        </div>
                        <div class="col-lg-1"></div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>




@section Scripts {


    <!--begin::Page Scripts -->
    <script>
        function editItem() {

        }

        var Datatable = {
            init: function () {
                $("#m_table_1").DataTable({
                    responsive: true, autoWidth: true, fixedColumns: true,
                    "language": {
                        "search": "إبحث :   ",
                        "info": "عرض _START_ إلى _END_ من أصل _TOTAL_ سجلات",
                        "infoFiltered": "(نتائج من مجمل _MAX_ سجل)",
                        "lengthMenu": "عرض _MENU_ سجلات",
                        "infoEmpty": "لا يوجد أي سجلات للعرض",
                            "paginate": {
                            "first":      "الأولى",
                            "last":       "الأخيرة",
                            "next":       "التالي",
                            "previous":   "السابق"
                        }
                    },
                    pagingType: "full_numbers", columnDefs: [{
                        targets: -1, title: "إدارة", orderable: !1, render: function (a, e, n, t) {

                       return '\n<span class="dropdown">' +
                                '\n<a href="#" class="btn m-btn m-btn--hover-brand m-btn--icon m-btn--icon-only" data-toggle="dropdown" aria-expanded="true">' +
                                    '\n<i class="fa fa-ellipsis-h"></i>\n</a>\n<div class="dropdown-menu dropdown-menu-left">' +
                                    '\n<a class="dropdown-item" href="@Url.Action("Details")/' + n[0] + '" style="width: auto;text-align: right;padding: 10px;margin-right: 10px;"><i class="fa fa-info"></i> التفاصيل</a>' +
                                    '\n<a class="dropdown-item" href="@Url.Action("Edit")/' + n[0] + '"  style="width: auto;text-align: right;padding: 10px;margin-right: 10px;"><i class="fa fa-edit"></i> تعديل</a>' +
                                    '\n<a class="dropdown-item" href="@Url.Action("Delete")/' + n[0] + '"  style="width: auto;text-align: right;padding: 10px;margin-right: 10px;"><i class="fa fa-trash"></i> إلغاء</a>' +
                                    '\n</div>\n</span>\n'
                        }
                    }]
                }
                )
            }
        }

        ;
        jQuery(document).ready(function () {
            Datatable.init()
        }

        );
    </script>
    <!--end::Page Scripts -->
}
