﻿@{
    ViewBag.Title = "AlTakarir";
    Layout = "~/Views/Shared/_LayoutInitialPage.cshtml";
}
<style>
    @@media only screen and (max-width: 1300px) {
        .counter-icon {
            display: none !important;
        }
    }

    .select2-container--open{
z-index:9999999!important;
}

.modal-backdrop {
    /* bug fix - no overlay */    
    display: none;    
}

</style>

@if (User.IsInRole("PB"))
{

    @Styles.Render("~/Content/vendors.bundle.css")
    @Styles.Render("~/Content/style.bundle.css")

    @*<link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/vendors.bundle.css")">
        <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/style.bundle.css")">*@
}
<div class="row">

    <div class="col-xl-4 col-lg-4 col-sm-4 col-xs-12" style="cursor:pointer;padding-top:10px;text-align:center;float:right;visibility:hidden;">
        <div class="widget widget-seven">
            <div class="widget-body">
                <div class="widget-body-inner">
                    <p style="font-size:1.3rem !important;word-wrap: break-word;font-weight: bold" class="text-uppercase">bgvdfssssss</p>
                    <i class="counter-icon icmn-pen-plus"></i>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-4 col-lg-4 col-sm-4 col-xs-12" style="cursor:pointer;padding-top:10px;text-align:center;float:right">
        <div class="widget widget-seven" @*onclick="GetPublishedGeneralTakarir('@ViewBag.Description')"*@ id="GetPublishedGeneralTakarir" data-ViewBag="@ViewBag.Description">
            <div class="widget-body">
                <div class="widget-body-inner">
                    <p style="font-size:1.3rem !important;word-wrap: break-word;font-weight: bold;color:black;" class="text-uppercase">التقرير العام</p>
                    <i class="counter-icon fa fa-list-alt"></i>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-4 col-lg-4 col-sm-4 col-xs-12" style="cursor:pointer;padding-top:10px;text-align:center;float:right;visibility:hidden;">
        <div class="widget widget-seven">
            <div class="widget-body">
                <div class="widget-body-inner">
                    <p style="font-size:1.3rem !important;word-wrap: break-word;font-weight: bold" class="text-uppercase">bgvdfssssss</p>
                    <i class="counter-icon icmn-pen-plus"></i>
                </div>
            </div>
        </div>
    </div>

</div>

<div class="row">

    <div class="col-xl-4 col-lg-4 col-sm-4 col-xs-12" style="cursor:pointer;padding-top:10px;text-align:center;float:right;visibility:hidden;">
        <div class="widget widget-seven">
            <div class="widget-body">
                <div class="widget-body-inner">
                    <p style="font-size:1.3rem !important;word-wrap: break-word;font-weight: bold" class="text-uppercase">bgvdfssssss</p>
                    <i class="counter-icon icmn-pen-plus"></i>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-4 col-lg-4 col-sm-4 col-xs-12" style="cursor:pointer;padding-top:10px;text-align:center;float:right">
        <div class="widget widget-seven" @*onclick="GetPublishedProvinceTakarir('@ViewBag.Description')"*@ data-ViewBag="@ViewBag.Description" id="GetPublishedProvinceTakarir">
            <div class="widget-body">
                <div class="widget-body-inner">
                    <p style="font-size:1.3rem !important;word-wrap: break-word;font-weight: bold;color:black;" class="text-uppercase">التقرير على مستوى الإقليمي</p>
                    <i class="counter-icon fa fa-map"></i>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-4 col-lg-4 col-sm-4 col-xs-12" style="cursor:pointer;padding-top:10px;text-align:center;float:right;visibility:hidden;">
        <div class="widget widget-seven" >
            <div class="widget-body">
                <div class="widget-body-inner">
                    <p style="font-size:1.3rem !important;word-wrap: break-word;font-weight: bold" class="text-uppercase">bgvdfssssss</p>
                    <i class="counter-icon icmn-pen-plus"></i>
                </div>
            </div>
        </div>
    </div>

</div>


<div class="row">

    <div class="col-xl-4 col-lg-4 col-sm-4 col-xs-12" style="cursor:pointer;padding-top:10px;text-align:center;float:right;visibility:hidden;">
        <div class="widget widget-seven">
            <div class="widget-body">
                <div class="widget-body-inner">
                    <p style="font-size:1.3rem !important;word-wrap: break-word;font-weight: bold" class="text-uppercase">bgvdfssssss</p>
                    <i class="counter-icon icmn-pen-plus"></i>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-4 col-lg-4 col-sm-4 col-xs-12" style="cursor:pointer;padding-top:10px;text-align:center;float:right">
      
        <div class="widget widget-seven" @*onclick="GetPublishedWizaraTakarir('@ViewBag.Description')"*@ data-ViewBag="@ViewBag.Description" id="GetPublishedWizaraTakarir">
            <div class="widget-body">
                <div class="widget-body-inner">
                    <p style="font-size:1.3rem !important;word-wrap: break-word;font-weight: bold;color:black;" class="text-uppercase">التقرير على مستوى الوزارة</p>
                    <i class="counter-icon fa fa-building"></i>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-4 col-lg-4 col-sm-4 col-xs-12" style="cursor:pointer;padding-top:10px;text-align:center;float:right;visibility:hidden;">
        <div class="widget widget-seven">
            <div class="widget-body">
                <div class="widget-body-inner">
                    <p style="font-size:1.3rem !important;word-wrap: break-word;font-weight: bold" class="text-uppercase">bgvdfssssss</p>
                    <i class="counter-icon icmn-pen-plus"></i>
                </div>
            </div>
        </div>
    </div>

</div>


<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal" id="ModalBtn" style="display:none;">
    Launch demo modal
</button>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" style="text-align:right;">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">إختر التقرير</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
               <select id="TakrirType">

                   <option value="180"> تقارير رضا  الموظف</option>
                   <option value="181"> تقارير رضا المواطن</option>
                   <option value="182"> تقارير مكافحة الفساد</option>

               </select>
                <div id="organisationsdiv" style="display:none;">


                </div>
            </div>
           
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">إلغاء</button>
                <button type="button" class="btn btn-primary" id="Save">حفظ</button>
            </div>
        </div>
    </div>
</div>


<script>

     @*@if (User.IsInRole("PB"))
     {

         <text>
     $(".page-content").css("margin-top", "-4%");
         </text>
         
     }*@

    $.ajax({
        url: '@Url.Action("GetAllOrganisations", "Takarir")',
        type: 'GET',
        dataType: 'json',
        cache: false,
        data: {

        },
        success: function (data) {



            html = '<select id="orgdropdown">'
            html += '<option value="placeholder" disabled selected>إختر الجهة العامة</option>';
            //html+="<option value=NULL data-ParentOrg='NULL'>جميع الجهات العامة</option>";

            $.each(data, function (index, value) {
                html += "<option value=" + value.OrganisationKey + " data-ParentOrg='" + value.OrganisationParent + "'>" + value.OrganisationName + "</option>";
            });
            html += '</select>';
            $("#organisationsdiv").append(html);

            $("#orgdropdown").select2();
        }
    });


    $("select").select2();
    var Level = "";

    $("#GetPublishedGeneralTakarir").click(function () {
        var desc = $(this).attr("data-ViewBag");
        GetPublishedGeneralTakarir(desc)

    });


        function GetPublishedGeneralTakarir(desc) {

            if (desc == "NotPublish"){
                submit_post_via_hidden_form("@Url.Action("Index", "Takarir")", { OrganizationKey: "NULL", FormTemplateKey: '@ViewBag.FormTemplateKey', TakarirLevel: "مستوى العام" });

            }
            else {
                Level = "مستوى العام";
            
                $("#ModalBtn").click();

            }

        };

        $("#TakrirType").change(function () {

            if (Level == "مستوى الوزارة") {


                $("#organisationsdiv").css("display","block");
            }

        });

        $("#GetPublishedProvinceTakarir").click(function () {
            var desc = $(this).attr("data-ViewBag");
            GetPublishedProvinceTakarir(desc)

        });

        function GetPublishedProvinceTakarir(desc) {
            if (desc == "NotPublish"){
                submit_post_via_hidden_form("@Url.Action("Index", "Takarir")", { FormTemplateKey: '@ViewBag.FormTemplateKey', TakarirLevel: "مستوى الإقليمي" });

            }
            else {

                Level = "مستوى الإقليمي";

                $("#ModalBtn").click();

            }

        };

    $("#GetPublishedWizaraTakarir").click(function () {
        var desc = $(this).attr("data-ViewBag");
        GetPublishedWizaraTakarir(desc)

    });
        function GetPublishedWizaraTakarir(desc) {
            if (desc == "NotPublish"){
                submit_post_via_hidden_form("@Url.Action("Index", "Takarir")", { FormTemplateKey: '@ViewBag.FormTemplateKey', TakarirLevel: "مستوى الوزارة" });

            }
            else {

                Level = "مستوى الوزارة";

                $("#ModalBtn").click();

            }

        };

        $("#Save").click(function () {

            var FormTemplateKey = $("#TakrirType").val();
            var DropdownoRGvALUE=$("#orgdropdown option:selected").val();
            if (Level == "مستوى الوزارة" && DropdownoRGvALUE == "placeholder") {
           
                $("#organisationsdiv").css("display", "block");
            

            } else {
                submit_post_via_hidden_form("@Url.Action("PublishedTakarir", "Takarir")", { FormTemplateKey: FormTemplateKey, HighlightedPart: "Takarir", Level: Level, TakeOrg: DropdownoRGvALUE });

            }


        });

        function submit_post_via_hidden_form(url, params) {
            var f = $("<form method='POST' style='display:none;'></form>").attr({
                action: url
            }).appendTo(document.body);

            for (var i in params) {
                if (params.hasOwnProperty(i)) {
                    $('<input type="hidden" />').attr({
                        name: i,
                        value: params[i]
                    }).appendTo(f);
                }
            }

            f.submit();

            f.remove();
        }

</script>