﻿@using Newtonsoft.Json
@using Microsoft.AspNet.Identity;
@using MoAD.WebApplication.DataObjects;

@using MoAD.WebApplication.Globals
@{

    Layout = "~/Views/Shared/_LayoutInitialPage.cshtml";




#pragma warning the dropdown need to be fixed;

}
<script src="@Url.Content("~/scripts/print.min.js")" type="text/javascript"></script>
<link href="@Url.Content("~/content/print.min.css")" rel="stylesheet" media="print" />

@*<script src="@Url.Content(" ~/scripts/jspdf.min.js")"></script>*@
@*<embed type="application/pdf"
    src="Images/path_to_pdf_document.pdf"
    id="pdfDocument"
    width="100%"
    height="100%" />*@
<style>
    body, input, textarea, keygen, select, button {
        letter-spacing: 0px !important;
    }

    /*.ct-bar {
        stroke-width: 70px;
    }*/

    .c3-legend-item {
        font-size: 21px !important;
    }

    td {
        font-size: 22px;
    }

    .ct-label {
        font-size: 20px;
        font-weight: bold !important;
    }

    div.single-page-block-form {
        direction: ltr !important;
    }

    .widget-sparkline-chart .widget-sparkline-title {
        display: block;
        font-size: 14px;
        font-weight: 600;
        color: #a1afbb;
    }

    .c3-area {
        opacity: 1 !important;
    }

    .UserInput {
        width: 100% !important;
    }
    /*h2 {
        font-size: 1rem !important;
    }*/

    label {
        font-size: 1rem;
    }

    .userinput {
        width: 500px;
    }

    .pagination-lg .page-link {
    }

    .claimsections {
        padding-top: 20px;
    }

    .breadcrumb-custom li > a, .breadcrumb-custom li > span {
        padding: 9px 10px 9px 10px;
    }

    #_335 {
        color: red !important;
        font-size: 17px !important;
    }

    #_369 {
        color: red !important;
        font-size: 17px !important;
    }

    #_382 {
        color: red !important;
        font-size: 17px !important;
    }

    #_429 {
        color: red !important;
        font-size: 17px !important;
    }

    #_464 {
        color: red !important;
        font-size: 17px !important;
    }

    #_498 {
        color: red !important;
        font-size: 17px !important;
    }

    #_514 {
        color: red !important;
        font-size: 17px !important;
    }

    #_534 {
        color: red !important;
        font-size: 17px !important;
    }

    #_560 {
        color: red !important;
        font-size: 17px !important;
    }

    #_591 {
        color: red !important;
        font-size: 17px !important;
    }

    #_605 {
        color: red !important;
        font-size: 17px !important;
    }

    #_615 {
        color: red !important;
        font-size: 17px !important;
    }

    #_631 {
        color: red !important;
        font-size: 17px !important;
    }

    #_655 {
        color: red !important;
        font-size: 17px !important;
    }

    #_703 {
        color: red !important;
        font-size: 17px !important;
    }

    #_712 {
        color: red !important;
        font-size: 17px !important;
    }

    /*.modal-content {
        direction: rtl;
    }*/
    .modal-content {
        text-align: right;
    }

    .EmptyMessage {
        color: red;
        display: none;
    }

    h3 {
        font-family: Calibri;
    }


    #BackgrounDiv {
        background-repeat: no-repeat !important;
        background-size: 100% 100%;
    }
</style>

<div style="background-image: url('@Url.Content("~/images/newdesignpics/takarirbackground.jpg")'" id="BackgrounDiv">
    <label id="FormTemplateKey" style="display:none"> </label>
    <h3 class="text-right" id="title" style="padding-bottom: 20px;font-size: 2rem;margin-top:1%;margin-right:1%">
        <label id="Title" style="margin-top: 1%;font-size: 38px;font-weight: bold;"><u>@ViewBag.formTemplate</u></label>
    </h3>

    <div class="single-page-block-inner">


        <div class="single-page-block-form" style="direction:rtl;width:100%;">
            <div class="claimsections" style="display:block;margin-right:1%;">
                <div id="formContent" class="row" style="margin-right:3%;">
                    <div class="col-md-10" style="float:right;">
                        @{
                            var Last = "";
                            var Last1 = "";
                            foreach (var item in ViewBag.FormValues)
                            {


                                if (Last == item.QuestionValue)
                                {
                                    Last = "";
                                }
                                else
                                {
                                    Last = item.QuestionValue;
                                    <div>
                                        <h3 id="_@item.QuestionKey" class="text-right part- questionans Reapeat" style="text-align:right;display:block">
                                            @item.QuestionValue
                                            <span class="small"></span>
                                        </h3>

                                    </div>
                                }


                                if (item.AnswerInstanceFileExtensionType == "Freetext")
                                {
                                    <div style="display:block;padding-bottom: 20px;display:block" class="row " data-toggle="buttons">


                                        <label class="btn btn-default" style="float:right;font-size:27px;">
                                            @item.AnswerInstanceFileExtensionName
                                        </label>
                                    </div>
                                }

                                if (item.AnswerInstanceFileExtensionName == "UnOrderedList")
                                {
                                    <div style="display:block;padding-bottom: 20px;" class="row " data-toggle="buttons">
                                        <ul class="UnOrderedList" style="direction:rtl;font-size:30px;color:#827ca1" data-FirstValues="@item.AnswerInstanceFileExtensionSqlQueries" data-count="@item.AnswerInstanceFileExtensionColumnValue" data-SecondValues="@item.AnswerInstanceFileExtensionqlParameters"></ul>
                                    </div>
                                }

                                if (item.AnswerInstanceFileExtensionName == "Plot")
                                {
                                    <div class="margin-bottom-50">
                                        <!-- Bar Chart -->
                                        <canvas id="chart-bar1" class="Plot" width="200" height="100" data-FirstValues="@item.AnswerInstanceFileExtensionSqlQueries" data-count="@item.AnswerInstanceFileExtensionColumnValue" data-SecondValues="@item.AnswerInstanceFileExtensionqlParameters"></canvas>
                                        <!-- End Bar Chart -->
                                        @*<div class="btn btn-primary" onclick="printCanvas()" style="float:right;margin-right:1%;">Save as PDF</div>*@
                                    </div>


                                }

                                if (item.AnswerInstanceFileExtensionName == "Plot1")
                                {
                                    <div class="margin-bottom-50">

                                        <div class="widget-body ct-chart2 Plot1" style="height:500px;" width="200" height="100" data-FirstValues="@item.AnswerInstanceFileExtensionSqlQueries" data-count="@item.AnswerInstanceFileExtensionColumnValue" data-SecondValues="@item.AnswerInstanceFileExtensionqlParameters">
                                        </div>
                                    </div>
                                }

                                if (item.AnswerInstanceFileExtensionName == "Plot2")
                                {
                                    <div class="col-md-6">
                                        <div class="margin-bottom-50">

                                            <div class="widget-body ct-chart2 Plot2" style="height:500px;" width="200" height="100" data-FirstValues="@item.AnswerInstanceFileExtensionSqlQueries" data-count="@item.AnswerInstanceFileExtensionColumnValue" data-SecondValues="@item.AnswerInstanceFileExtensionqlParameters">
                                            </div>
                                        </div>
                                    </div>
                                }

                                if (item.AnswerInstanceFileExtensionType == "TextArea")
                                {
                                    <div style="display:block;padding-bottom: 20px;" class="row " data-toggle="buttons">


                                        <label class="btn btn-default" style="float:right;font-size:27px;">
                                            @item.AnswerInstanceFileExtensionName
                                        </label>
                                    </div>
                                }

                                if (item.AnswerInstanceFileExtensionName == "PieChart")
                                {
                                    <div style="display:block;padding-bottom: 20px;" class="row " data-toggle="buttons">

                                        <div class="height-300 PieChart" style="max-height:240px;" data-FirstValues="@item.AnswerInstanceFileExtensionSqlQueries" data-count="@item.AnswerInstanceFileExtensionColumnValue" data-SecondValues="@item.AnswerInstanceFileExtensionqlParameters">
                                        </div>
                                    </div>
                                }
                                if (item.AnswerInstanceFileExtensionName == "PieChart1")
                                {

                                    if (Last1 == item.QuestionValue)
                                    {
                                        Last1 = "";
                                    }
                                    else
                                    {
                                        Last1 = item.QuestionValue;
                                        <div class="col-md-4" style="max-height:240px;margin-top: 5%;">
                                            <h5 style="color:red;display:none;text-align:center;" class="NoDataTa7sinChartBar">لا يوجد معلومات</h5>

                                            <canvas id="chart-bar2" width="400" height="200"></canvas>

                                        </div>
                                    }



                                    <div class="col-md-4">

                                        <div class="height-300 PieChart1" style="max-height:240px;margin-left: -35%;" data-FirstValues="@item.AnswerInstanceFileExtensionSqlQueries" data-count="@item.AnswerInstanceFileExtensionColumnValue" data-SecondValues="@item.AnswerInstanceFileExtensionqlParameters">
                                        </div>


                                        <div class="row" style="margin-top:10%">
                                            <div class="col-md-5" style="margin-left:2%;">
                                                <label class="form-control-label" for="l0" style="float:right;">: إلى</label>

                                                <div class="input-group datetimepicker datetimepicker2" style="direction:ltr">
                                                    <input style="z-index:0;" type="text" placeholder="MM/DD/YYYY" class="form-control" disabled>
                                                    <span class="input-group-addon">
                                                        <i class="fa fa-calendar" aria-hidden="true"></i>
                                                    </span>
                                                </div>

                                            </div>

                                            <div class="col-md-5">
                                                <label class="form-control-label" for="l0" style="float:right;">: من</label>

                                                <div class="input-group datetimepicker datetimepicker1" style="direction:ltr">
                                                    <input style="z-index:0;" type="text" placeholder="MM/DD/YYYY" class="form-control" disabled>
                                                    <span class="input-group-addon">
                                                        <i class="fa fa-calendar" aria-hidden="true"></i>
                                                    </span>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                }

                                if (item.AnswerInstanceFileExtensionName == "DifferenceTable")
                                {
                                    <div class="col-lg-6 DifferenceTable" data-FirstValues="@item.AnswerInstanceFileExtensionSqlQueries" data-count="@item.AnswerInstanceFileExtensionColumnValue" data-SecondValues="@item.AnswerInstanceFileExtensionqlParameters">


                                        <div class="widget widget-seven" style="border:1px solid;width:50%;margin-left:20%">
                                            <div class="widget-body">
                                                <div href="javascript: void(0);" class="widget-body-inner">
                                                    <h5 class="text-uppercase" style="float:right">: الفارق </h5>
                                                    <i class="counter-icon icmn-stats-growth"></i>
                                                    <span class="counter-count">
                                                        <span class="counter-init" id="yearsresult" data-from="0" data-to="67"></span>
                                                    </span>
                                                </div>
                                            </div>
                                        </div>




                                    </div>

                                    <div class="row">
                                        <div class="col-md-1">
                                        </div>
                                        <div class="col-md-10">
                                            <table id="ReportingTable" cellspacing="0" width="100%">
                                                <thead>
                                                    <tr>
                                                        <th style="text-align:center">عدد الشكاوى</th>
                                                        <th style="text-align:center">ألسنة</th>
                                                    </tr>
                                                </thead>
                                                <tbody></tbody>
                                            </table>
                                        </div>
                                        <div class="col-md-1">
                                        </div>
                                    </div>
                                }


                            }
                        }

                        @if (ViewBag.FileExtensionName != "")
                        {
                            <div class="btn btn-primary" id="SavAsPdfBtn" onclick="SaveAsPDF()" style="float:right;margin-right:2%;">Save as PDF</div>

                            <div class="row" style="text-align:center">
                                <button type="button" class="btn btn-icon btn-primary  margin-inline" data-toggle="modal" data-target="#myModal" style="width:20%;border-radius:.25rem !important" id="submitClaimForm">
                                    <i class="fa fa-upload" aria-hidden="true"></i>
                                    [نشر]
                                </button>

                            </div>
                        }


                    </div>
                </div>


            </div>





        </div>

        <br />


    </div>
</div>

<script>

    $("#submitClaimForm").click(function () {

        $.ajax({
            url: '@Url.Action("PublishTakarir", "Takarir")',
            dataType: "text",
            data: { formKey: '@ViewBag.formInstanceKey',fileExtensionName:'@ViewBag.FileExtensionName',formTemplateKey:'@ViewBag.FormTemplateKey' },
            success: function (result) {

                submit_post_via_hidden_form("@Url.Action("TakarirTable", "Takarir")", { ClaimType: '@ViewBag.FormtemplateType', HighlightedPart: "Takarir" });

            }

        });


    });

    function printCanvas() {

        var canvasObj = document.getElementById("chart-bar1");
        var imgObj = canvasObj.toDataURL("image/png");

        submit_post_via_hidden_form("@Url.Action("PrintGraphs", "Reporting")", { Title: "تحسن الخدمات", Image: imgObj, formInstanceKey: '@ViewBag.formInstanceKey', formTemplateName: '@ViewBag.formTemplate' });

    }

    function submit_post_via_hidden_form(url, params) {
        var f = $("<form method='POST' style='display:none;'></form>").attr({
            action: url
        }).appendTo(document.body);

        for (var i in params) {
            if (params.hasOwnProperty(i)) {
                $('<input type="hidden" />').attr({
                    name: i,
                    value: params[i]
                }).appendTo(f);
            }
        }

        f.submit();

        f.remove();
    }


    $('.UnOrderedList').each(function (index, element) {
        var data1 = $(this).attr("data-FirstValues");
        var data2 = $(this).attr("data-SecondValues");
        var count = $(this).attr("data-count");
        var input = this;
        var data1Json = JSON.parse(data1);
        var x = 0;
        var j = 0;
        //console.log(JSON.stringify(data2));
        // console.log(data1);

        var myEscapedJSONString = data2.replace(/\\n/g, " ")
                                              .replace(/\\'/g, "\\'")
                                              .replace(/\\"/g, '\\"')
                                              .replace(/\\&/g, "\\&")
                                              .replace(/\\r/g, " ")
                                              .replace(/\\t/g, "\\t")
                                              .replace(/\\b/g, "\\b")
                                              .replace(/\\f/g, "\\f");


        // console.log(myEscapedJSONString);
        //var data2Json = JSON.parse(data2);
        if (count == 1) {


            $(data1Json).each(function (index, value) {
                if (count == 1) {
                    $(input).append("<li>" + value + "</li>");

                } else {

                }

            });


        } else {
            var html = '';

            $(data1Json).each(function (index, value) {


                html += "<li><i class='fa fa-plus-square' onclick='OpenChild(" + j + ",this)'></i>" + value;



                $(JSON.parse(myEscapedJSONString)).each(function (index, value) {
                    //alert(index);
                    if (index == j)
                        html += "<li style='display:none;list-style-type:none;color:black;font-size:24px;' class='child AnswerToHide_" + j + "'>" + value + "</li></li>";
                    //x++;

                });
                j++;

            });
            $(input).append(html);


        }


    });

    var i=0;
    var ArrayResult=[];
    $('.PieChart1').each(function (index, element) {
        var data1 = $(this).attr("data-FirstValues");
        var data2 = $(this).attr("data-SecondValues");
        var count = $(this).attr("data-count");
        var input = this;
        data2=data2.replace("00:00:00","");
        data2=data2.replace(/-/g, "/");

        count=count.replace("00:00:00","");
        count=count.replace(/-/g, "/");



        $(this).parent().find(".datetimepicker1").find("input").val(data2);
        $(this).parent().find(".datetimepicker2").find("input").val(count);

        if(i==0){
            var chart2 = c3.generate({
                bindto: input,
                size: {
                    height: 340,
                    width: 680
                },
                data: {
                    columns: @Html.Raw(Json.Encode(ViewBag.PieChart1Data)),
                    type: 'pie',

                    //onclick: function (d, i) { //console.log("onclick", d, i); },
                    //onmouseover: function (d, i) { //console.log("onmouseover", d, i); },
                    //onmouseout: function (d, i) { //console.log("onmouseout", d, i); }
                },
                color: {
                pattern: ["blue", "red","lightblue","lightred"]
        }, tooltip: {
                    format: {
                        //title: function (d) { return 'Data ' + d; },
                        value: function (value, ratio, id) {
                            var format = id === 'data1' ? d3.format(',') : d3.format('');
                            return format(value);
                        }
                        //            value: d3.format(',') // apply this format to both y and y2
                    }
                }
            });
            i++;
            ArrayResult[0]=@Html.Raw(Json.Encode(ViewBag.PieChart1Data));
        }else{
            var chart3 = c3.generate({
                bindto: input,
                size: {
                    height: 340,
                    width: 680
                },
                data: {
                    columns: @Html.Raw(Json.Encode(ViewBag.PieChart2Data)),
                    type: 'pie',

                    //onclick: function (d, i) { //console.log("onclick", d, i); },
                    //onmouseover: function (d, i) { //console.log("onmouseover", d, i); },
                    //onmouseout: function (d, i) { //console.log("onmouseout", d, i); }
                }, 
                color: {
                    pattern: ["blue", "red","lightblue","lightred"]
                },tooltip: {
                    format: {
                        //title: function (d) { return 'Data ' + d; },
                        value: function (value, ratio, id) {
                            var format = id === 'data1' ? d3.format(',') : d3.format('');
                            return format(value);
                        }
                        //            value: d3.format(',') // apply this format to both y and y2
                    }
                }
            });

            ArrayResult[1]=@Html.Raw(Json.Encode(ViewBag.PieChart2Data));
            console.log("ArrayResult[1]="+ArrayResult[1]);
            fillArray(ArrayResult[0],ArrayResult[1]);
        }


    });

    function removeElement(array, element) {
        const index = array.indexOf(element);

        if (index !== -1) {
            array.splice(index, 1);
        }
    }

    function removeDuplicates(arr) {
        let unique_array = []
        for (let i = 0; i < arr.length; i++) {
            if (unique_array.indexOf(arr[i]) == -1) {
                unique_array.push(arr[i])
            }
        }
        return unique_array
    }

    function fillArray(obj1,obj2){


        console.log("obj1="+obj1);
        console.log("obj2="+obj2);


        var titles = [];
        var values1 = [];
        var values2 = [];
        var difference = [];
        var newlist = obj1.concat(obj2);

        console.log("newlist=" + newlist);

        $.each(newlist, function (index, value) {

            if (value[0] != "لا يوجد معلومات " && value[0] != undefined)
                titles[index] = value[0];


        });
        console.log("titles=" + titles);

        titles = removeDuplicates(titles);
        titles = titles.filter(function (element) {
            return element !== undefined;
        });
        console.log("titles=" + titles);


        $.each(obj1, function (index, value) {
            values1[index] = value[1];


        });

        $.each(obj2, function (index, value) {
            values2[index] = value[1];


        });

        //console.log("titles=" + titles);

        var values1Lenght = values1.length;
        var values2Lenght = values2.length;
        removeElement(values1, 100);
        removeElement(values2, 100);
        console.log("values1=" + values1);
        console.log("values2=" + values2);

        if (values1Lenght > values2Lenght) {
            valuesLenght = values1Lenght;
        } else {
            valuesLenght = values2Lenght;
        }
        for (i = 0; i < valuesLenght; i++) {

            if (values2[i] == 100 || values2[i] == undefined) {
                var diff = values1[i] - 0;
                difference[i] = diff;
                console.log(diff);

            } else if (values1[i] == 100 || values1[i] == undefined) {
                var diff = 0 - values2[i];
                difference[i] = diff;
                console.log(diff);

            }
            else {
                var diff = values1[i] - values2[i];
                difference[i] = diff;
                console.log(diff);

            }


        }
        console.log("values1Lenght=" + values1Lenght);
        console.log("difference=" + difference);

        BarChartData = difference;
        //BAR CHART
        var barCtx = document.getElementById('chart-bar2').getContext('2d');

        var dataBar = {
            labels: titles,
            datasets: [
                {
                    label: [],

                    backgroundColor: [
                        'rgb(31, 119, 180)',
                        'rgb(255, 127, 14)',
                        'rgb(44, 160, 44)',
                        'rgb(214, 39, 40)'
                    ],
                    borderColor: [
                        'rgb(31, 119, 180)',
                        'rgb(255, 127, 14)',
                        'rgb(44, 160, 44)',
                        'rgb(214, 39, 40)'
                    ],
                    borderWidth: 1,
                    data: difference
                }
            ]
        };

        new Chart(barCtx, {
            type: "bar",
            data: dataBar,
            showTooltips: false,
            options: {
                legend: {
                    display: false
                },
                tooltips: {
                    callbacks: {
                        label: function (tooltipItem) {
                            return tooltipItem.yLabel;
                        }
                    }
                },
                scales: {
                    xAxes: [{
                        stacked: true,
                        ticks: {

                            fontSize: 20
                        }
                    }],
                    yAxes: [{
                        stacked: true,
                        ticks: {
                            beginAtZero: true,
                            callback: function (value) { if (Number.isInteger(value)) { return value; } },
                            fontSize: 15,
                            stepSize: 1
                        }
                    }]
                },

            }
        });
    }

    $('.Plot2').each(function (index, element) {
        var data1 = $(this).attr("data-FirstValues");
        var data2 = $(this).attr("data-SecondValues");
        var count = $(this).attr("data-count");
        var input = this;

        var data1Json = JSON.parse(data1);
        var data2Json = JSON.parse(data2);

        chart2 = new Chartist.Bar(input, {
            labels: data1Json,
            series: [
            data2Json,
            ]

        }, {
            axisX: {
                position: 'start',
                onlyInteger: true,

            },
            axisY: {
                position: 'end',
                onlyInteger: true,

            }
        });




    });
    var table;

    table = $('#ReportingTable').DataTable({
        "scrollX": true,
    });
    $('.DifferenceTable').each(function (index, element) {
        var data1 = $(this).attr("data-FirstValues");
        var data2 = $(this).attr("data-SecondValues");
        var count = $(this).attr("data-count");
        var input = this;

        var data1Json = JSON.parse(data1);
        var data2Json = JSON.parse(data2);
        obj=data1Json;
        table.clear().draw();
        $.each(obj, function (index, value) {


            table.row.add([
    '' + value.ClaimsCount + '',
    '' + value.Year + '',
            ]).draw(false);
        });



        var value1 = obj[0].ClaimsCount;
        var value2 = obj[1].ClaimsCount
        var result = 0;


        result = Number(value1) - Number(value2);
        if (result > 0) {
            $('#yearsresult').css("color", "red");
        } else {
            $('#yearsresult').css("color", "green");
        }
        console.log(result);
        $('#yearsresult').text(result);




    });

    $('.Plot1').each(function (index, element) {
        var data1 = $(this).attr("data-FirstValues");
        var data2 = $(this).attr("data-SecondValues");
        var count = $(this).attr("data-count");
        var input = this;

        var data1Json = JSON.parse(data1);
        var data2Json = JSON.parse(data2);

        chart2 = new Chartist.Bar(input, {
            labels: data1Json,
            series: [
            data2Json,
            ]

        }, {
            axisX: {
                position: 'start',
                onlyInteger: true,

            },
            axisY: {
                position: 'end',
                onlyInteger: true,

            }
        });




    });


    $('.Plot').each(function (index, element) {
        var data1 = $(this).attr("data-FirstValues");
        var data2 = $(this).attr("data-SecondValues");
        var count = $(this).attr("data-count");
        var input = this;

        var data1Json = JSON.parse(data1);
        var data2Json = JSON.parse(data2);

        //Bar Chart
        var barCtx = document.getElementById('chart-bar1').getContext('2d');

        var dataBar = {
            labels: data1Json,
            datasets: [
                {
                    label: "My First dataset",
                    backgroundColor: [
                                        'rgba(167, 240, 173, 0.8)',
                                        'rgba(236, 182, 84,  0.8)',
                                        'rgba(217, 170, 163,  0.8)',
                                        'rgba(75, 192, 192,  0.8)',
                                        'rgba(153, 102, 255,  0.8)',
                                        'rgba(255, 159, 64,  0.8)'
                    ],
                    borderColor: [
                        'rgba(167, 240, 173,1)',
                        'rgba(236, 182, 84, 1)',
                        'rgba(217, 170, 163, 1)',
                        'rgba(75, 192, 192, 1)',
                        'rgba(153, 102, 255, 1)',
                        'rgba(255, 159, 64, 1)'
                    ],
                    borderWidth: 1,
                    data: data2Json
                }
            ]
        };

        new Chart(barCtx, {
            type: "bar",
            data: dataBar,
            options: {
                legend: {
                    display: false
                },
                tooltips: {
                    callbacks: {
                        label: function (tooltipItem) {
                            return tooltipItem.yLabel;
                        }
                    }
                },
                scales: {
                    xAxes: [{
                        stacked: true,
                        ticks: {

                            fontSize: 20
                        }
                    }],
                    yAxes: [{
                        stacked: true,
                        ticks: {

                            fontSize: 20
                        }
                    }]
                }
            }
        });




    });
    var chart1 = c3.generate({
        bindto: '.PieChart',
        size: {
            height: 340,
            width: 680
        },
        data: {
            columns: @Html.Raw(Json.Encode(ViewBag.PieChartData)),
            type: 'pie',

            //onclick: function (d, i) { //console.log("onclick", d, i); },
            //onmouseover: function (d, i) { //console.log("onmouseover", d, i); },
            //onmouseout: function (d, i) { //console.log("onmouseout", d, i); }
        },
        color: {
            pattern: ["blue", "red","lightblue","lightred"]
        },tooltip: {
            format: {
                //title: function (d) { return 'Data ' + d; },
                value: function (value, ratio, id) {
                    var format = id === 'data1' ? d3.format(',') : d3.format('');
                    return format(value);
                }
                //            value: d3.format(',') // apply this format to both y and y2
            }
        }
    });





    function OpenChild(classId, Parent) {

        if ($(Parent).hasClass("fa fa-plus-square")) {
            $(Parent).removeClass("fa fa-plus-square");
            $(Parent).addClass("fa fa-minus-square");



            $(".AnswerToHide_" + classId).show();
        } else {
            $(Parent).removeClass("fa fa-minus-square");
            $(Parent).addClass("fa fa-plus-square");



            $(".AnswerToHide_" + classId).hide();
        }
    }

    $(".dropify").dropify();


    function SaveAsPDF(button) {





        //window.print();
        $(".fa fa-plus-square").removeClass("fa fa-plus-square");
        $(".fa-plus-square").addClass("fa fa-minus-square");


        $(".child").show();

        //Hide SaveAsPDF Button
        $("#SavAsPdfBtn").css("display", "none");
        $("#UploadDiv").css("display", "none");
        $("#submitClaimForm").css("display", "none");
        $(".visible-footer").css("display", "none");
        $(".left-menu").css("display", "none");
        $(".top-menu").css("display", "none");
        $(".menu").css("display", "none");



        //Print Page
        window.print();
        //console.log(result);

        $("#SavAsPdfBtn").css("display", "block");
        $("#UploadDiv").css("display", "block");
        $("#submitClaimForm").css("display", "block");
        $(".visible-footer").css("display", "block");
        $(".left-menu").css("display", "block");
        $(".top-menu").css("display", "block");
        $(".menu").css("display", "block");
        //Restore orignal HTML
        // location.reload();
        // document.body.innerHTML = oldPage;

    }




    function GetDataDropDown(SqlQuery, SqlParam) {



        //var test = MoAD.WebApplication.Globals.Configuration.DATA_INTERFACE_URL;


        var BASICPath = '@MoAD.WebApplication.Globals.Configuration.WEB_APPLICATION_URL';

        if (BASICPath == "online")
            BASICPath = "http://" + '@Request.Url.Authority';

        var path = BASICPath + "/Takarir/" + SqlQuery;

        // console.log(path);

        $.ajax({
            url: path,
            type: 'GET',
            dataType: 'json',
            cache: false,
            data: {

            },
            success: function (data) {

                var html = '';
                $.each(data, function (index, value) {
                    html += "<option value=" + value.OrganisationKey + ">" + value.OrganisationName + "</option>";
                    //console.log(value.OrganisationName);
                });
                $("#Id_13016").append(html);
                $("#Id_13016").select2();



            }
        });
    }




    var FirstTimeAnswerClick = 0;
    var FormKey = "";
    var AnswerTemplateKey = [];

    var pageid = 1;

    var PageN = 1;

    var testah = 0;

    function nextpage(pagenumber, pagination, Page) {
        $(".menulist").css("font-weight", "normal");
        $(".claimsections").css('display', 'none')
        $("#section3").css("display", "block");
        $(".questionans").css("display", "none");
        $(".cubes").css("display", "none");
        $("." + pagenumber).css("display", "block");
        $(pagination).css("font-weight", "bold");
        $("#gonext").css('display', 'block')

        pageid = Number(Page);
        PageN = Number(Page);
    }

    function PreviousPage(pagenumber, pagination, Page) {
        $(".menulist").css("font-weight", "normal");
        $(".claimsections").css('display', 'none')
        $("#section3").css("display", "block");
        $(".questionans").css("display", "none");
        $(".cubes").css("display", "none");
        $("." + pagenumber).css("display", "block");
        $(pagination).css("font-weight", "bold");
        $("#gonext").css('display', 'block')

        pageid = Number(Page - 1);
        PageN = Number(Page - 1);
    }

    $(document).ready(function () {

        $(function () {
            $('#formContent').on('keydown', '.NumericInput', function (e) { -1 !== $.inArray(e.keyCode, [46, 8, 9, 27, 13, 110, 190]) || (/65|67|86|88/.test(e.keyCode) && (e.ctrlKey === true || e.metaKey === true)) && (!0 === e.ctrlKey || !0 === e.metaKey) || 35 <= e.keyCode && 40 >= e.keyCode || (e.shiftKey || 48 > e.keyCode || 57 < e.keyCode) && (96 > e.keyCode || 105 < e.keyCode) && e.preventDefault() });
        })

        $("#testRepeat").click(function () {
            //alert($(".Reapeat").length);

            var classCount = $(".Reapeat").length;

            for (i = 0; i < classCount; i++) {
                $("#divates").append($(".Reapeat").eq(i).html());
            }

        });

        $("label").click(function () {

            $(this).parent().find("label").removeClass("active");
            $(this).parent().find("label").css("background-color", "");
            //$(this).css("background-color","white");
            var color = $(this).attr("data-colorCode");
            if (color != null) {
                $(this).css("background-color", color);
            }

            ////disable and enable dropify
            if ($(this)[0].innerText == "نعم") {
                $(this).parent().next().next().find(".dropify").removeAttr("disabled");
                $(this).parent().next().next().find(".dropify-wrapper").removeClass("disabled");
            }
            if ($(this)[0].innerText == "لا") {
                $(this).parent().next().next().find(".dropify").prop("disabled", true);
                $(this).parent().next().next().find(".dropify-wrapper").addClass("disabled");

            }


        });


        //$('.dropify').dropify();
        //$(".page-link-1").css("background-color", "#93b5ec");
        $(".select2").select2();
        $(".userinput").css("width", "400px");
        $(".userinput").css("border-radius", "29px");
        $(".userinput").css("height", "40px");
        $(".fileupload").css("width", "313%");
        $(".fileupload").css("height", "100px");
        $(".fileupload").css("margin-left", "-312px");
        $(".fileupload").css("margin-top", "10px");

        $("input[type='radio']").addClass("mt-radio");
        $(".page-link-1").click();

        $(function () {
            //$('#datetimepicker').datetimepicker();
            //$("#datetimepicker").datetimepicker({ maxDate: new Date });
            var date = new Date();
            var currentMonth = date.getMonth();
            var currentDate = date.getDate();
            var currentYear = date.getFullYear();
            $('.datetimepicker').datetimepicker({
                format: 'YYYY/MM/DD',
                widgetPositioning: {
                    horizontal: 'left'
                },
                icons: {
                    time: "fa fa-clock-o",
                    date: "fa fa-calendar",
                    up: "fa fa-arrow-up",
                    down: "fa fa-arrow-down",
                    previous: 'fa fa-chevron-left',
                    next: 'fa fa-chevron-right',
                },

                maxDate: new Date(currentYear, currentMonth, currentDate)

            });
        });
    });

    function ProductImage(file) {
        var selectedFile = event.target.files[0];
        var reader = new FileReader();
        var imgtag = $(file).parent().parent().find('.fileupload')[0];
        reader.onload = function () {
            imgtag.src = event.target.result;
        };
        reader.readAsDataURL(selectedFile);
    }


    $(document).on('click', "[id^='answerClick']", function () {

        FirstTimeAnswerClick++;
        if (FirstTimeAnswerClick == 1) {
        }

    });








    ////Bar Chart
    //var barCtx = document.getElementById('chart-bar1').getContext('2d');

    //var dataBar = {
    //    labels: ["", "", "", "", "", "", ""],
    //    datasets: [
    //        {
    //            label: "My First dataset",
    //            backgroundColor: [
    //                'rgba(255, 99, 132, 0.2)',
    //                'rgba(54, 162, 235, 0.2)',
    //                'rgba(255, 206, 86, 0.2)',
    //                'rgba(75, 192, 192, 0.2)',
    //                'rgba(153, 102, 255, 0.2)',
    //                'rgba(255, 159, 64, 0.2)'
    //            ],
    //            borderColor: [
    //                'rgba(255,99,132,1)',
    //                'rgba(54, 162, 235, 1)',
    //                'rgba(255, 206, 86, 1)',
    //                'rgba(75, 192, 192, 1)',
    //                'rgba(153, 102, 255, 1)',
    //                'rgba(255, 159, 64, 1)'
    //            ],
    //            borderWidth: 1,
    //            data: [0, 0, 0, 0, 0, 0, 0]
    //        }
    //    ]
    //};

    //new Chart(barCtx, {
    //    type: "bar",
    //    data: dataBar,
    //    options: {
    //        legend: {
    //            display: false
    //        },
    //        tooltips: {
    //            callbacks: {
    //                label: function (tooltipItem) {
    //                    return tooltipItem.yLabel;
    //                }
    //            }
    //        },
    //        scales: {
    //            xAxes: [{
    //                stacked: true
    //            }],
    //            yAxes: [{
    //                stacked: true
    //            }]
    //        }
    //    }
    //});
    //function radioevent(){
    //    alert("koko");

    //}



    //$('input[type="radio"]').on('click', function(e) {
    //    alert("koko");
    //});




</script>
