﻿@using Newtonsoft.Json
@using Microsoft.AspNet.Identity;
@using MoAD.WebApplication.Controllers;
@using MoAD.DataObjects.EDMX;

@{
    Layout = "~/Views/Shared/_LayoutInitialPage.cshtml";
    List<GetAdManagerForms_Result> FormValues = ViewBag.ManagerForms;
    List<SelectListItem> Organisations = ViewData["Organisation"] as List<SelectListItem>;

}
<style>
    .centeralign {
        text-align: center;
    }

    td {
        text-align: center;
    }

    .dataTables_length {
        float: left;
    }
</style>




<div class="row" style="margin-top:1%;background-color:white;">
    <div class="row" style="text-align:center;padding-top:30px;">
        <h3>
            @ViewBag.title
        </h3>
    </div>

    @if (User.IsInRole("OPManager") || User.IsInRole("OPGeneralDirector") || User.IsInRole("OPDirector"))
    {
        var General = "";
        var Province = "";
        var Ministry = "";

        if(ViewBag.Level== "مستوى العام")
        {
            General = "active";
        }
        else if (ViewBag.Level == "مستوى الإقليمي")
        {
            Province = "active";
        }
        else if (ViewBag.Level == "مستوى الوزارة")
        {
            Ministry = "active";
        }

        <div class="btn-group row" data-toggle="buttons" style="float:right;margin-right:30px;">
            <label class="btn btn-default-outline @Ministry" onclick='FilterTable("مستوى الوزارة")'>
                <input type="radio" name="TableItem">
                مستوى الوزارة
            </label>

            <label class="btn btn-default-outline @Province" onclick='FilterTable("مستوى الإقليمي")'>
                <input type="radio" name="TableItem">
                مستوى الإقليمي
            </label>
          
            <label class="btn btn-default-outline @General" onclick='FilterTable("مستوى العام")'>
                <input type="radio" name="TableItem">
                مستوى العام
            </label>
        </div>
        @*<div class="form-group row">
            <div class="col-md-4  col-sm-5 col-xs-5" style="float:left;margin-left: 3%;">
                @Html.DropDownList("OrganisationsForms", Organisations, new { @class = "inputcolor form-control placeholder-no-fix Organisations" })
            </div>
            <div class="col-md-4 col-sm-5 col-xs-5">
                <label class="form-control-label" for="l0"> : الجهة الخاصة </label>
            </div>

        </div>*@
    }
    <div class="col-xl-12">
        <div class="row">
            <div class="col-xl-12">
                <div class="widget widget-two" style="direction:rtl;">
                    <div class="widget-header">
                        <span class="text-truncate text-nowrap"><strong>إستبيناتي</strong></span>
                    </div>
                    <div class="row">
                        <div class="widget-body clearfix">
                            <table id="ClaimTable" class="table  table-bordered  dataTable no-footer dtr-inline" cellspacing="0" width="100%">
                                <thead>
                                    <tr>
                                        <th class="centeralign">إسم الإستبانة </th>
                                        <th class="centeralign">تاريخ التعبئة </th>
                                        <th class="centeralign"> مقدم الاستبانة </th>
                                        <th class="centeralign">الجهة العامة</th>
                                        <th class="centeralign">الحالة</th>
                                        <th class="centeralign">نوع التقرير</th>

                                        
                                        <th class="centeralign">رؤية الإستبانة</th>
                                    </tr>
                                </thead>
                                <tbody id="tablebody">
                                    @{
                                        foreach (var form in FormValues)
                                        {
                                            <tr>
                                                <td> @form.FormTemplateName</td>
                                                <td>@form.CreatedAt</td>
                                                <td>@form.UserName</td>
                                                <td>@form.OrganisationName</td>
                                                @{
                                                    if (form.IsPublished == "Published")
                                                    {
                                                        <td style="color:green;">نشرت</td>

                                                    }
                                                    else
                                                    {
                                                        <td style="color:red;">لم تنشر</td>


                                                    }
                                                }
                                                <td> 
                                                 @form.FileExtensionName</td>

                                        
                                                <td><button type="button" onclick="viewestibana(@form.FormTemplateKey,@form.FormKey,'@form.FormTemplateName','@form.FileExtensionName')" class="btn btn-circle btn-info viewFormButton" style="background-color:#5cb85c;width:120px;padding:2px;">أنقر</button> </td>
                                            </tr>
                                        }
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    var table;
    $(document).ready(function () {
        $("#OrganisationsForms").select2({ width: '100%' });

        table = $("#ClaimTable").DataTable({
            //"ordering": false,
            "oLanguage": {
                "sSearch": "إبحث",
                "sLengthMenu": "عدد الأسطر لكل صفحة _MENU_ ",
            }
        });
        $("#OrganisationsForms").trigger("change");

        id = '@ViewBag.HighlightedPart';
        if (id != null && id != "null") {
            $("#" + id).addClass("left-menu-list-opened");
            $("#menu-initialpage").removeClass("left-menu-list-active");

        }

        if (id == '') {
            $("#menu-initialpage").addClass("left-menu-list-active");
        }


    });

    function viewestibana(FormTemplateKey, formkey, FormTemplateName, FileExtensionName) {
        submit_post_via_hidden_form("@Url.Action("TakarirView", "Takarir")", { formInstanceKey: formkey, formTemplateName: FormTemplateName, FileExtensionName: FileExtensionName });
    }

    function FilterTable(levelVariable) {
        console.log("FilterTable");
        submit_post_via_hidden_form("@Url.Action("TakarirTable", "Takarir")", { ClaimType: '@ViewBag.title', HighlightedPart: '@ViewBag.HighlightedPart', Level: levelVariable });
    }

    $("#OrganisationsForms").on("change", function () {
        console.log($(this).val());
        //ViewBag.title
        table.clear().draw();


        $.ajax({
            type: 'GET',
            url: '@Url.Action("opManagerFormsTable", "Home")',
            data: {
                ClaimType: '@ViewBag.title'.trim(),
                organisationKey: $(this).val()
            },


            dataType: 'text',
            success: function (result) {
                var test = JSON.parse(result);
                console.log(test);
                $.each(test, function (index, value) {
                    if (value.IsPublished != "Published")
                    {
                        IsPublished = "لم تنشر";
                        color = "red";
                    } else {
                        IsPublished = "نشرت";
                        color = "green";
                    }



                    table.row.add([
            '' + value.FormTemplateName + '',
            '' + value.CreatedAt + '',
            '' + value.UserName + '',
            '' + value.OrganisationName + '',
            '<span style="color:' + color + ';">' + IsPublished + '</span>',
            '' + value.FileExtensionName + '',
            "<button type='button' onclick='viewestibana(" + value.FormTemplateKey + "," + value.FormKey + ", " + '"' + value.FormTemplateName + '"' + "," + '"' + value.FileExtensionName + '"' + ")' class='btn btn-circle btn-info viewFormButton' style='background-color:#5cb85c;width:120px;padding:2px;'>أنقر</button>",
                    ]).draw(false);
                });

            }
        });



        //'<button type="button" onclick="viewestibana(' + value.FormTemplateKey + ',' + value.FormKey + ',"'+ value.FormTemplateName +'")" class="btn btn-circle btn-info viewFormButton" style="background-color:#5cb85c;width:120px;padding:2px;">أنقر</button> ',



    });


</script>