﻿
@{
    ViewBag.Title = "AddSurveyTemplate";
       Layout = "~/Views/Shared/_LayoutInitialPage.cshtml";
}

    <div class="row" style="margin-top: 1%; background-color: white;">
        <div class="row" style="text-align:center;padding-top:30px;">
            <h3>
                إضافة نموذج جديد
            </h3>
        </div>

        <div class="col-xl-12">
            <div class="row">
                <div class="col-xl-3"></div>
                <div class="col-xl-6" id="QuestionsDiv">
                    <div class="widget widget-two" style="direction:rtl;">
                        <div class="widget-header">
                            <span class="text-truncate text-nowrap">
                                <strong>عنوان الاستطلاع</strong>
                            </span>

                        </div>

                        <div class="widget-body clearfix">
                            <input class="form-control reqInp" id="TemplateName" />
                            <input class="form-control reqInp" id="TemplateType" value="Survey" hidden />
                            <input class="form-control reqInp" id="TemplateDescription" value="NotPublished" hidden />
                        </div>
                    </div>
                    <div class="widget widget-two" style="direction:rtl;" id="QuestionDiv_0">
                        <div class="widget-header">
                            <input class="form-control reqInp QuestionInput" placeholder="سؤال" />
                        </div>

                        <div class="widget-body clearfix">
                            <div id="AnswersDiv_0">
                                <input class="form-control reqInp answerInput checkboxradio_0 radiobox" style="margin-top:1%;" placeholder="إجابة" />
                                <input class="form-control reqInp answerInput checkboxradio_0 radiobox" style="margin-top:1%;" placeholder="إجابة" />
                            </div>
                            <button class="btn btn-secondary addAnswer" style="margin-top:1%;" data-divID="AnswersDiv_0" data-questionIndex="0">إضافة إجابة</button>
                            <button class="btn btn-danger deleteAnswer" style="margin-top:1%;margin-right:1%;" data-divID="AnswersDiv_0">إلغاء إجابة</button>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3"></div>
            </div>
           
                <div class="widget widget-two" style="direction:rtl;">
                    <div class="row">
                        <div class="widget-body clearfix" style="text-align:center;">
                            <button class="btn btn-primary" id="addQuestion">حفظ السؤال</button>
                            <button class="btn btn-primary" id="SaveTemplate">حفظ</button>
                            <button class="btn btn-danger" id="cancelTemplate">إلغاء</button>
                        </div>
                    </div>
                </div>
            
        </div>
    </div>

<script>
$('select').select2({
    dir: "rtl"
});

    var questionsIndex = 1;
    var AnswerIndex = 1;
    //$("#addQuestion").click(function () {
    //    $("#ValidateForm").click();
        
    //    $(".QuestionInput").prop("disabled", true);
    //    $(".answerInput").prop("disabled", true);
    //    $(".addAnswer").prop("disabled", true);
    //    $(".deleteAnswer").prop("disabled", true);

    //    var html = '<div class="widget widget-two" style="direction:rtl;" id="QuestionDiv_'+questionsIndex+'">';
    //    html += '<div class="widget-header"><input class="form-control reqInp QuestionInput" placeholder="سؤال" /></div>';
    //    html += '<div class="widget-body clearfix">';
    //    html += '<div id="AnswersDiv_'+questionsIndex+'"><input class="form-control reqInp answerInput checkboxradio radiobox" style="margin-top:1%;" placeholder="إجابة" /><input class="form-control reqInp answerInput checkboxradio radiobox" style="margin-top:1%;" placeholder="إجابة" /></div>';
    //    html += '<button class="btn btn-secondary addAnswer" style="margin-top:1%;" data-divID="AnswersDiv_'+questionsIndex+'">إضافة إجابة</button>';
    //    html += '<button class="btn btn-danger deleteAnswer" style="margin-top:1%;margin-right:1%;" data-divID="AnswersDiv_'+questionsIndex+'">إلغاء إجابة</button>';
    //    html += '</div></div>';

    //    $("#QuestionsDiv").append(html);
    //    questionsIndex++;
    //})

    $(document).on("click", ".addAnswer", function () {
        var divId = $(this).attr("data-divID");
        var qIndex = $(this).attr("data-questionIndex");
        
        $("#" + divId).append('<input class="form-control reqInp answerInput checkboxradio_'+qIndex+' radiobox" style="margin-top:1%;" placeholder="إجابة" />');
    })

    $(document).on("click", ".deleteAnswer", function () {
        $(".answerInput").last().remove();
    })

    $("#cancelTemplate").click(function () {
        window.location = '@Url.Action("Index","SurveyGenerator")';
    })

    $("#SaveTemplate").click(function () {
        $("#ValidateForm").click();
        setTimeout(function () {
                saveform();
            }, 5000);
         
     })

     var i = 0;
        var formid ="formid";
    $(document).on("click", "#addQuestion", function () {
        console.log("ValidateFormValidateFormValidateForm");
            if (formid === "formid") {
                createformtemplate();
            }
            var question = "";
         

            try {
                 question = $(".QuestionInput").last().val();
            } catch (err) {

            }
            var answerstext = [];
        var FormElementKeys = [];
        var qIndex = parseInt(questionsIndex) - 1;
     
        var answers = $(".checkboxradio_" + qIndex);


            for (j = 0; j < answers.length; j++) {
                
                if (answers[j].classList.contains("checkbox")) {
                    answerstext.push(answers[j].innerText)
                    FormElementKeys.push(2);
                }
                if (answers[j].classList.contains("radiobox")) {
                    answerstext.push(answers[j].value)

                    FormElementKeys.push(3);
                }

                if (answers[j].classList.contains("uploadfile")) {
                    answerstext.push(answers[j].innerText)

                    FormElementKeys.push(4);
                }

                if (answers[j].classList.contains("userinput")) {
                    answerstext.push("")
                    FormElementKeys.push(12);
                }

                if (answers[j].classList.contains("freetext")) {
                    answerstext.push(answers[j].innerText)

                    FormElementKeys.push(10);
                }

                if (answers[j].classList.contains("dropdown")) {
                     var dropdownsanswers = answers[j].value.split(";");                  
                     for (K = 0 ; K < dropdownsanswers.length; K++) {
                         answerstext.push(dropdownsanswers[K])
                         FormElementKeys.push(11);
                     }    
                }
                if (answers[j].classList.contains("userbutton")) {
                    answerstext.push(answers[j].innerText)
                    FormElementKeys.push(13);                 
                }
        }

        console.log("dsjusdhjah");
        console.log(question);
        
        console.log(answerstext);
        console.log(FormElementKeys);
        console.log(formid);
       
            setTimeout(function () {
                createquestion(question, answerstext, FormElementKeys, formid);
            }, 5000);

             $(".QuestionInput").prop("disabled", true);
        $(".answerInput").prop("disabled", true);
        $(".addAnswer").prop("disabled", true);
        $(".deleteAnswer").prop("disabled", true);

        var html = '<div class="widget widget-two" style="direction:rtl;" id="QuestionDiv_'+questionsIndex+'">';
        html += '<div class="widget-header"><input class="form-control reqInp QuestionInput" placeholder="سؤال" /></div>';
        html += '<div class="widget-body clearfix">';
        html += '<div id="AnswersDiv_'+questionsIndex+'"><input class="form-control reqInp answerInput checkboxradio_'+questionsIndex+' radiobox" style="margin-top:1%;" placeholder="إجابة" /><input class="form-control reqInp answerInput checkboxradio_'+questionsIndex+' radiobox" style="margin-top:1%;" placeholder="إجابة" /></div>';
        html += '<button class="btn btn-secondary addAnswer" style="margin-top:1%;" data-divID="AnswersDiv_'+questionsIndex+'"  data-questionIndex="'+questionsIndex+'">إضافة إجابة</button>';
        html += '<button class="btn btn-danger deleteAnswer" style="margin-top:1%;margin-right:1%;" data-divID="AnswersDiv_'+questionsIndex+'">إلغاء إجابة</button>';
        html += '</div></div>';

        $("#QuestionsDiv").append(html);
        questionsIndex++;

        });

    function createquestion(questionvalue, answerstext, FormElementKeys, formid) {
            $.ajax({
                url: '@Url.Action("CreateQuestion", "Forms")',
                type: "POST",
                cache: false,

                data: function () {
                    var data = new FormData();
                    data.append("questionvalue", questionvalue);
                    data.append("answerstext", answerstext);
                    data.append("FormElementKeys", FormElementKeys);
                    data.append("formid", formid);
                    data.append("AnswerIndex", AnswerIndex);

                    return data;
                }(),

                contentType: false,
                processData: false,

                success: function (response) {
                    AnswerIndex++;

                },
                error: function (xhr) {
                }
            });



    }

     function createformtemplate() {
            var name = $("#TemplateName").val();
            var TemplateTypetype = $("#TemplateType").val();
            var description = $("#TemplateDescription").val();
            $.ajax({
                type: 'GET',
                url: '@Url.Action("CreateNewFormTemplate", "Forms")',

                data: {
                    name: name,
                    description: description,
                    formTemplateType: TemplateTypetype
                    //formTemplateType: "Claim",
                },
                dataType: 'text',
                success: function (result) {
                    formid = result;
                }
            });
        }

        function saveform() {
          
            $.ajax({
                type: 'GET',
                url: '@Url.Action("SaveForm", "Forms")',

                data: {
                    FormId: formid,

                },
                dataType: 'text',
                success: function (result) {
                    bootbox.alert("تم حفظ النموذج");
                     window.location = '@Url.Action("Index","SurveyGenerator")';
                }
            });


        }
</script>

