﻿@using MoAD.DataObjects.EDMX

@{
    ViewBag.Title = "EditSurveyTemplate";
    Layout = "~/Views/Shared/_LayoutInitialPage.cshtml";
    Dictionary<string, List<GetFormTemplate_Result>> SurveyQuestions = ViewBag.Survey;
    int questionIndex = 0;
}
<script src="@Url.Content("~/assets/BlockUI.js")"></script>
<style>
    textarea {
        overflow: hidden;
    }

    .QuestionInput {
        background-color: #f2f4f8;
    }

    .form-control{
        font-size:1.5rem;
    }
</style>

<div class="row" style="margin-top: 1%; background-color: white;">
    <div class="row" style="text-align:center;padding-top:30px;">
        <h3>
            تعديل النموذج
        </h3>
    </div>

    <div class="col-xl-12">
        <div class="row">
            <div class="col-xl-3"></div>
            <div class="col-xl-6" id="QuestionsDiv">

                <div class="widget widget-two" style="direction:rtl;">
                    <div class="widget-header">
                        <span class="text-truncate text-nowrap">
                            <strong>عنوان الاستطلاع</strong>
                        </span>

                    </div>

                    <div class="widget-body clearfix">
                        <input class="form-control reqInp" id="TemplateName" value="@ViewBag.SurveyTitle" />
                        <input class="form-control reqInp" id="TemplateType" value="Survey" hidden />
                        <input class="form-control reqInp" id="TemplateDescription" value="@ViewBag.SurveyDescription" hidden />
                    </div>
                </div>
                @foreach (var question in SurveyQuestions)
                {

                    <div class="widget widget-two" style="direction:rtl;" id="QuestionDiv_0">
                        <div class="widget-header">
                            <div class="col-12">
                                <div class="col-6">
                                    <textarea class="form-control reqInp QuestionInput" data-questionKey="@question.Key" id="QuestionId_@questionIndex" placeholder="سؤال" value="@question.Value.Where(q => q.QuestionKey == int.Parse(question.Key)).FirstOrDefault().QuestionValue">@question.Value.Where(q => q.QuestionKey == int.Parse(question.Key)).FirstOrDefault().QuestionValue</textarea>
                                    @*<input class="form-control reqInp QuestionInput" data-questionKey="@question.Key" id="QuestionId_@questionIndex" placeholder="سؤال" value="@question.Value.Where(q => q.QuestionKey == int.Parse(question.Key)).FirstOrDefault().QuestionValue" />*@
                                </div>
                                <div class="col-6" style="margin-top:1%;">
                                    <i class="fa fa-trash deleteQuestion" style="cursor:pointer;" data-questionKey="@question.Key"></i>
                                    <img src="@Url.Content("~/images/newdesignpics/loadertablemouwazafin.gif")" style="display:none;width:15px;" class="questionLoader_@question.Key">
                                </div>
                            </div>
                        </div>

                        <div class="widget-body clearfix">
                            <div id="AnswersDiv_@questionIndex">
                                @{
                                    int? lastAnswerIndex = 0;
                                }
                                @foreach (var answer in question.Value)
                                {

                                    <div class="col-12">
                                        <div class="col-6">
                                            <input class="form-inline reqInp answerInput checkboxradio_@questionIndex radiobox form-control" data-questionIndex="@questionIndex" data-answerKey="@answer.AnswerTemplateKey" style="margin-top:1%;" placeholder="إجابة" data-questionKey="@question.Key" value="@answer.AnswerValue" />
                                        </div>
                                        <div class="col-6" style="margin-top:1%;">
                                            <i class="fa fa-trash deleteAnswerTemplate" style="cursor:pointer;" data-answerKey="@answer.AnswerTemplateKey"></i><img src="@Url.Content("~/images/newdesignpics/loadertablemouwazafin.gif")" style="display:none;width:15px;" class="answerLoader_@answer.AnswerTemplateKey">
                                        </div>

                                    </div>
                                    lastAnswerIndex = answer.AnswerTemplateKeyIndex;
                                }
                            </div>
                            <button class="btn btn-secondary addAnswer" style="margin-top:1%;" data-divID="AnswersDiv_@questionIndex" data-lastAnswerIndex="@lastAnswerIndex" data-questionKey="@question.Key" data-questionIndex="@questionIndex">إضافة إجابة</button>
                        </div>
                    </div>
                    questionIndex++;
                }
            </div>
            <div class="col-xl-3"></div>
        </div>

        <div class="widget widget-two" style="direction:rtl;">
            <div class="row">
                <div class="widget-body clearfix" style="text-align:center;">
                    <button class="btn btn-primary" id="addQuestion">إضافة سؤال</button>
                    <button class="btn btn-primary" id="SaveTemplate">تعديل </button>
                    <button class="btn btn-danger" id="cancelTemplate">إلغاء</button>
                </div>
            </div>
        </div>

    </div>
</div>

<script>
$('select').select2({
    dir: "rtl"
});
    @if (ViewBag.OnlyQuestionsEdit == "True") {
<text>
    $(".deleteQuestion").hide();
    $(".deleteAnswerTemplate").hide();
    $(".addAnswer").hide();
    $("#addQuestion").hide();
    </text>
    }

     @if (User.IsInRole("Editor")) {
<text>
    $(".deleteQuestion").hide();
    $(".deleteAnswerTemplate").hide();
    $(".addAnswer").hide();
    $("#addQuestion").hide();
    </text>
    }

    var questionsIndex = @questionIndex;
    var AnswerIndex = 1;

    $(document).on("click", ".addAnswer", function () {
        var divId = $(this).attr("data-divID");
        var qIndex = $(this).attr("data-questionIndex");
        var questionKey = $(this).attr("data-questionKey");
        var lastAnswerIndex = $(this).attr("data-lastAnswerIndex");
        $("#" + divId).append('<div class="col-12"><div class="col-6"><input class="form-control reqInp answerInput checkboxradio_' + qIndex + ' radiobox" data-questionKey="' + questionKey + '" data-questionIndex="' + qIndex + '" data-lastAnswerIndex="' + lastAnswerIndex +'" data-answerKey="0" style="margin-top:1%;" placeholder="إجابة" /></div><div class="col-6" style="margin-top:1%;"><i class="fa fa-trash deleteAnswerTemplate" style="cursor:pointer;" data-answerKey="0"></i><img src="@Url.Content("~/images/newdesignpics/loadertablemouwazafin.gif")" style="display:none;width:15px;" class="answerLoader_0"></div></div>');
    })

    //$(document).on("click", ".deleteAnswer", function () {
    //    $(".answerInput").last().remove();
    //})

    $("#cancelTemplate").click(function () {

          @if(User.IsInRole("Editor"))
            {
            <text>
        window.location = '@Url.Action("Manbar", "NewPages")';
        return;
    </text>
                }

        @if (ViewBag.OnlyQuestionsEdit == "True") {

                <text>
    window.location = '@Url.Action("Index", "UserDashboard")';
    </text>


            }
            else
            {


                 <text>
        window.location = '@Url.Action("Index","SurveyGenerator")';
        </text>


            }

    })

    var questionsArray = [];
    var answersArray = [];
    $("#SaveTemplate").click(function () {
        //$("#ValidateForm").click();
        //setTimeout(function () {
        //        saveform();
        //    }, 5000);

        $.blockUI($("#body"));
        var titleSurvey = $("#TemplateName").val();

        $(".QuestionInput").each(function (index) {
            if ($(this).val() != '') {
             var question = { key: $(this).attr("data-questionKey"), value: $(this).val() };
            questionsArray.push(question);
            }
        });

        $(".answerInput").each(function (index) {
            if ($(this).val() != '') {
                //var qIndex = parseInt();
                var answer = { key: $(this).attr("data-answerKey"), value: $(this).val(), questionValue: $("#QuestionId_" + $(this).attr("data-questionIndex")).val(), questionKey: $(this).attr("data-questionKey"), lastAnswerIndex: $(this).attr("data-lastAnswerIndex")};
                answersArray.push(answer);
            }
        });

        $.ajax({
                type: 'POST',
                url: '@Url.Action("UpdateSurveyTemplate", "SurveyGenerator")',

            data: {
                surveyId: formid, title: titleSurvey, answers: JSON.stringify(answersArray), questions: JSON.stringify(questionsArray)
                },
                dataType: 'text',
            success: function (result) {
                $.unblockUI($("#body"));
                bootbox.alert("تم تعديل النموذج");
                @if(User.IsInRole("Editor"))
                {



<text>
                window.location = '@Url.Action("Manbar","Home")';
                return;
                </text>
            }
            else
            {

<text>
                window.location = '@Url.Action("Index","SurveyGenerator")';
                return;
                        </text>
            }

            }, error: function (result) {
                $.unblockUI($("#body"));

                  @if(User.IsInRole("Editor"))
                {



<text>
                window.location = '@Url.Action("Manbar","Home")';
                return;
                </text>
            }
            else
            {

<text>
                window.location = '@Url.Action("Index","SurveyGenerator")';
                return;
                        </text>
            }
                   // bootbox.alert("Error");
                }
            });
     })

     var i = 0;
        var formid ="@ViewBag.formTemplateKey";
    $(document).on("click", "#addQuestion", function () {

        var html = '<div class="widget widget-two" style="direction:rtl;" id="QuestionDiv_' + questionsIndex + '">';
        html += '<div class="widget-header"><div class="col-12"><div class="col-6"><input class="form-control reqInp QuestionInput" id="QuestionId_'+questionsIndex+'" data-questionKey="0" placeholder="سؤال" /></div><div class="col-6" style="margin-top:1%;"><i class="fa fa-trash deleteQuestion" style="cursor:pointer;" data-questionKey="0"></i></div></div></div>';
        html += '<div class="widget-body clearfix">';
        html += '<div id="AnswersDiv_'+questionsIndex+'"><div class="col-12"><div class="col-6"><input class="form-control reqInp answerInput checkboxradio_'+questionsIndex+' radiobox"  data-questionIndex="'+questionsIndex+'" data-answerKey="0" style="margin-top:1%;" placeholder="إجابة" /></div><div class="col-6" style="margin-top:1%;"><i class="fa fa-trash deleteAnswerTemplate" style="cursor:pointer;" data-questionIndex="'+questionsIndex+'" data-answerKey="0"></i></div></div><div class="col-12"><div class="col-6"><input class="form-control reqInp answerInput checkboxradio_'+questionsIndex+' radiobox" data-questionIndex="'+questionsIndex+'" data-answerKey="0"  style="margin-top:1%;" placeholder="إجابة" /></div><div class="col-6" style="margin-top:1%;"><i class="fa fa-trash deleteAnswerTemplate" style="cursor:pointer;" data-answerKey="0"></i><img src="@Url.Content("~/images/newdesignpics/loadertablemouwazafin.gif")" style="display:none;width:15px;" class="answerLoader_0"></div></div></div>';
        html += '<button class="btn btn-secondary addAnswer" style="margin-top:1%;" data-divID="AnswersDiv_'+questionsIndex+'"  data-questionIndex="'+questionsIndex+'">إضافة إجابة</button>';
        html += '</div></div>';

        $("#QuestionsDiv").append(html);
        questionsIndex++;

        });

    function createquestion(questionvalue, answerstext, FormElementKeys, formid) {
            $.ajax({
                url: '@Url.Action("CreateQuestion", "Forms")',
                type: "POST",
                cache: false,

                data: function () {
                    var data = new FormData();
                    data.append("questionvalue", questionvalue);
                    data.append("answerstext", answerstext);
                    data.append("FormElementKeys", FormElementKeys);
                    data.append("formid", formid);
                    data.append("AnswerIndex", AnswerIndex);

                    return data;
                }(),

                contentType: false,
                processData: false,

                success: function (response) {
                    AnswerIndex++;

                },
                error: function (xhr) {
                }
            });



    }

     function createformtemplate() {
            var name = $("#TemplateName").val();
            var TemplateTypetype = $("#TemplateType").val();
            var description = $("#TemplateDescription").val();
            $.ajax({
                type: 'GET',
                url: '@Url.Action("CreateNewFormTemplate", "Forms")',

                data: {
                    name: name,
                    description: description,
                    formTemplateType: TemplateTypetype
                    //formTemplateType: "Claim",
                },
                dataType: 'text',
                success: function (result) {
                    formid = result;
                }
            });
        }

        function saveform() {

            $.ajax({
                type: 'GET',
                url: '@Url.Action("SaveForm", "Forms")',

                data: {
                    FormId: formid,

                },
                dataType: 'text',
                success: function (result) {
                    bootbox.alert("Form Created");
                     window.location = '@Url.Action("Index","SurveyGenerator")';
                }
            });


    }

    $(document).on("click", ".deleteAnswerTemplate", function () {
        var answerKey = $(this).attr("data-answerKey");
        if (answerKey == 0) {
            $(this).parent().parent().remove();
        } else {
            var thisElement = $(this);
            $(".answerLoader_" + answerKey).css("display", "");

        $.ajax({
            url: '@Url.Action("DeleteAnswer", "SurveyGenerator")',
            dataType: "text",
            data: { id_ans: answerKey },
            success: function (result) {
                if (result == "Success") {
                    //location.reload();
                     $(".answerLoader_" + answerKey).css("display", "none");
             thisElement.parent().parent().remove();
                }
             },
             error: function (result) {
                 bootbox.alert("Error in deleting answer !");
                 $(".answerLoader_" + answerKey).css("display", "none");
            }
        });
        }
    })

    $(document).on("click", ".deleteQuestion", function () {
        var questionKey = $(this).attr("data-questionKey");
        if (questionKey == 0) {
            $(this).parent().parent().parent().parent().remove();
        } else {
            var thisElement = $(this);
$(".questionLoader_" + questionKey).css("display", "");

        $.ajax({
            url: '@Url.Action("DeleteQuestion", "SurveyGenerator")',
            dataType: "text",
            data: { id_quest: questionKey },
            success: function (result) {
                if (result == "Success") {
                    //location.reload();
                    $(".questionLoader_" + questionKey).css("display", "none");
             thisElement.parent().parent().parent().parent().remove();
                }
             },
             error: function (result) {
                 bootbox.alert("Error in deleting question !");
                 $(".questionLoader_" + questionKey).css("display", "none");
            }
        });
        }
    })
</script>

