﻿@using MoAD.WebApplication.Controllers;
@using MoAD.DataObjects.EDMX;

@{
    Layout = "~/Views/Shared/_LayoutInitialPage.cshtml";
    List<GetAllFormTemplatesForaType_Result> AllSurveyFormTemplate = ViewBag.AllSurveyFormTemplate;
    List<GetAdManagerForms_Result> SavedForms = ViewBag.SavedForms;

}
<style>
    .centeralign {
        text-align: center;
    }

    td {
        text-align: center;
    }

    .dataTables_length {
        float: left;
    }
</style>

<link href="@Url.Content("~/assets/vendors/switch.rtl.css")" rel="stylesheet" />

<div class="row" style="margin-top:1%;background-color:white;">
    <div class="row" style="text-align:center;padding-top:30px;">
        <h3>
            @ViewBag.title
        </h3>
    </div>

    <div class="col-xl-12">
        <div class="row">
            <div class="col-xl-12">
                <div class="widget widget-two" style="direction:rtl;">
                    <div class="widget-header">
                        <span class="text-truncate text-nowrap">
                        <strong>إستبيناتي</strong>
                        </span>
                        <button class="btn btn-primary" style="float:left;" id="addTemplate">إضافة نموذج جديد</button>
                    </div>
                    <div class="row">
                        <div class="widget-body clearfix">
                            <table id="ClaimTable" class="table  table-bordered  dataTable no-footer dtr-inline" cellspacing="0" width="100%">
                                <thead>
                                    <tr>
                                        <th class="centeralign">إسم الإستبانة </th>
                                        <th class="centeralign">تاريخ التعبئة </th>
                                        <th class="centeralign">نشرت</th>
                                        <th class="centeralign">نوع التقرير</th>


                                        <th class="centeralign">رؤية الإستبانة</th>
                                    </tr>
                                </thead>
                                <tbody id="tablebody">
                                    @{
                                        //foreach (var form in SavedForms)
                                        foreach (var form in AllSurveyFormTemplate)
                                        {
                                            string templateKey = form.FormTemplateKey.ToString();
                                            var FormTemplateInfo = SurveyReportController.GetFormTemplate(templateKey).Result;
                                            <tr>
                                                <td> @form.Name</td>
                                                <td>@form.CreatedAt</td>
                                                @{
                                                    var checkedSwitch = form.Description == "Survey for manbar" || form.Description=="Survey for markaz" ? "checked" : "";
                                                    var PublishOrUnpublishBtnSwitch = form.Description == "Survey for manbar" || form.Description=="Survey for markaz" ? "Published" : "NotPublished";
                                                    var ForManbarOrMarkaz=form.Description=="Survey for markaz" ? "Markaz" : form.Description=="Survey for manbar"?"Manbar":"";

                                                    <td>
                                                        <div class="col-12">
                                                            <span class="m-switch PublishOrUnpublishBtn" data-MarkazOrManbar="@ForManbarOrMarkaz" data-ActionToDo="@PublishOrUnpublishBtnSwitch" data-formKey="@form.FormTemplateKey" data-formTemplateType="@form.FormTemplateType" data-formTemplateKey="@form.FormTemplateKey">
                                                                <label>
                                                                    <input type="checkbox" @checkedSwitch name="">
                                                                    <span></span>
                                                                </label>
                                                            </span>
                                                        </div>
                                                    </td>
                                                }



                                                <td>@FormTemplateInfo.FirstOrDefault().FormTemplateName</td>
                                                <td>
                                                    <button type="button" onclick="viewestibana(@form.FormTemplateKey.ToString())" class="btn btn-circle btn-info viewFormButton" style="background-color:#5cb85c;width:120px;padding:2px;">أنقر</button>
                                                    <button type="button" onclick="deleteSurvey(@form.FormTemplateKey.ToString())" class="btn btn-circle btn-danger deleteSurvey" style="width:120px;padding:2px;">حذف</button>
                                                </td>
                                            </tr>
                                        }
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade in" id="publicModal" tabindex="-1" aria-hidden="true" style="display: none; padding-right: 17px;" dir="rtl">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 style="" class="modal-title">رأي المواطن !!</h4>
            </div>
            <div class="modal-header">
                <select id="wajihaDropdown">
                    <option value="Survey for manbar">منبر</option>
                    <option value="Survey for markaz">مركز</option>
                </select>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" id="publishSurvey">نشر</button>
                <button type="button" class="btn dark btn-outline" data-dismiss="modal" id="closePublishModal">إغلاق</button>
                @*<button type="button" id="gotachakwa" class="btn green">إملأ الشكوى  </button>*@
            </div>
        </div>
    </div>
</div>

<div class="modal fade in" id="deleteModal" tabindex="-1" aria-hidden="true" style="display: none; padding-right: 17px;" dir="rtl">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 style="" class="modal-title">حذف النموذج</h4>
            </div>
            <div class="modal-header">
                هل أنت متأكد أنك تريد حذف هذا النموذج ؟
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" id="deleteSurvey">نعم</button>
                <button type="button" class="btn dark btn-outline" data-dismiss="modal" id="closePublishModal">لا</button>
            </div>
        </div>
    </div>
</div>
<script>
    $('#wajihaDropdown').select2({
    dir: "rtl"
});
    
    var table;
    $(document).ready(function () {
        $("#OrganisationsForms").select2({ width: '100%' });

        table = $("#ClaimTable").DataTable({
            responsive: true, autoWidth: true,
            //"ordering": false,
            "oLanguage": {
                "sSearch": "إبحث",
                "sLengthMenu": "عدد الأسطر لكل صفحة _MENU_ ",
                "info": "عرض _START_ إلى _END_ من أصل _TOTAL_ سجلات",
                "infoFiltered": "(نتائج من مجمل _MAX_ سجل)",
                "lengthMenu": "عرض _MENU_ سجلات",
                "infoEmpty": "لا يوجد أي سجلات للعرض",
                "paginate": {
                    "first": "الأولى",
                    "last": "الأخيرة",
                    "next": "التالي",
                    "previous": "السابق"
                }
            }
        });
        $("#OrganisationsForms").trigger("change");

        id = '@ViewBag.HighlightedPart';
        if (id != null && id != "null") {
            $("#" + id).addClass("left-menu-list-opened");
            $("#menu-initialpage").removeClass("left-menu-list-active");

        }

        if (id == '') {
            $("#menu-initialpage").addClass("left-menu-list-active");
        }


    });

    function viewestibana(formKey) {
        console.log("viewestibanaviewestibana");
        console.log(formKey);
        submit_post_via_hidden_form("@Url.Action("SurveyTemplateView", "SurveyGenerator")", { formTemplateKey: formKey });
    }

    var publishActionValue = "";
    var switchBtnElement;
    var MarkazOrManbar = "";
    $(".PublishOrUnpublishBtn").change(function () {
         $("#publishSurvey").html("نشر");
        switchBtnElement = $(this);
        publishActionValue = $(this).attr("data-ActionToDo");
        publishFormKey = $(this).attr("data-formKey");
        MarkazOrManbar = $(this).attr("data-MarkazOrManbar");
        var dropdownValue = $("#wajihaDropdown option:selected").val();

        if (MarkazOrManbar == "Manbar" && dropdownValue=="Survey for manbar") {
            $("#publishSurvey").html("عدم النشر");
        } else if (MarkazOrManbar == "Markaz" && dropdownValue=="Survey for markaz") {
            $("#publishSurvey").html("عدم النشر");
        }else {
            $("#publishSurvey").html("نشر");
        }
        document.body.scrollTop = 0;
        document.documentElement.scrollTop = 0;
       
        $('#publicModal').modal({backdrop: 'static', keyboard: false})  
        $('#publicModal').modal('show');
    })

    $("#publishSurvey").click(function () {
         
        var newAction ="";
        if (publishActionValue == "Published") {
            newAction = "NotPublished";
        } else {
            newAction = $("#wajihaDropdown option:selected").val();
        }
        //$(this).removeAttr("data-ActionToDo");
        //$(this).attr("data-ActionToDo", newAction);

        $.ajax({
            url: '@Url.Action("PublishSurvey", "SurveyGenerator")',
            dataType: "text",
            data: { id: publishFormKey, publishAction: newAction },
            success: function (result) {
                if (result == "Success") {
                    location.reload();
                }
            }
        });
    })

    $(document).on("change", "#wajihaDropdown", function () {
        console.log("wajihaDropdownwajihaDropdown");
        var dropdownValue = $(this).val();
        console.log(dropdownValue);
        

        if (MarkazOrManbar == "Manbar" && dropdownValue == "Survey for manbar") {
            console.log(MarkazOrManbar);
            $("#publishSurvey").html("عدم النشر");
        }
        else if (MarkazOrManbar == "Markaz" && dropdownValue == "Survey for markaz") {
            console.log(MarkazOrManbar);
            $("#publishSurvey").html("عدم النشر");
        } else {
            $("#publishSurvey").html("نشر");
        }
    })


      $("#closePublishModal").click(function () {
         
          if (publishActionValue == "Published") {
              switchBtnElement.find("input").prop("checked", true);
        } else {
            switchBtnElement.find("input").prop("checked", false);
        }
    })
    $("#OrganisationsForms").on("change", function () {
        console.log($(this).val());
        //ViewBag.title
        table.clear().draw();


        $.ajax({
            type: 'GET',
            url: '@Url.Action("opManagerFormsTable", "Home")',
            data: {
                ClaimType: '@ViewBag.title'.trim(),
                organisationKey: $(this).val()
            },


            dataType: 'text',
            success: function (result) {
                var test = JSON.parse(result);
                console.log(test);
                $.each(test, function (index, value) {
                    if (value.IsPublished != "Published") {
                        IsPublished = "لم تنشر";
                        color = "red";
                    } else {
                        IsPublished = "نشرت";
                        color = "green";
                    }



                    table.row.add([
            '' + value.FormTemplateName + '',
            '' + value.CreatedAt + '',
            '' + value.UserName + '',
            '' + value.OrganisationName + '',
            '<span style="color:' + color + ';">' + IsPublished + '</span>',
            '' + value.FileExtensionName + '',
            "<button type='button' onclick='viewestibana(" + value.FormTemplateKey + "," + value.FormKey + ", " + '"' + value.FormTemplateName + '"' + "," + '"' + value.FileExtensionName + '"' + ")' class='btn btn-circle btn-info viewFormButton' style='background-color:#5cb85c;width:120px;padding:2px;'>أنقر</button>",
                    ]).draw(false);
                });

            }
        });



        //'<button type="button" onclick="viewestibana(' + value.FormTemplateKey + ',' + value.FormKey + ',"'+ value.FormTemplateName +'")" class="btn btn-circle btn-info viewFormButton" style="background-color:#5cb85c;width:120px;padding:2px;">أنقر</button> ',

        
    });

    $("#addTemplate").click(function () {
            window.location = '@Url.Action("AddSurveyTemplate","SurveyGenerator")';
    })

     var deleteSurveyKey;
    function deleteSurvey(key) {
         document.body.scrollTop = 0;
  document.documentElement.scrollTop = 0;
        deleteSurveyKey = key;
         $('#deleteModal').modal('show');
    }

    $("#deleteSurvey").click(function () {
         $.ajax({
            url: '@Url.Action("DeleteSurvey", "SurveyGenerator")',
            dataType: "text",
            data: { surveyTemplateKey: deleteSurveyKey, },
            success: function (result) {
                if (result == "Success") {
                    location.reload();
                }
             },
             error: function (result) {
                
            }
        });
    })

</script>