﻿@using MoAD.DataObjects.EDMX

@{
    ViewBag.Title = "SurveyTemplateView";
    Layout = "~/Views/Shared/_LayoutInitialPage.cshtml";
    Dictionary<string, List<GetFormTemplate_Result>> SurveyQuestions = ViewBag.Survey;
}

<link href="@Url.Content("~/assets/surveycomponent/survey.css")" rel="stylesheet" />

<div class="widget widget-two" style="direction:rtl;">
    <div class="widget-header">
        <div class="row" style="text-align:center;margin-bottom:1%;">
            <button class="btn btn-default" id="backToTable">العودة إلى الائحة</button>
            <button class="btn btn-primary" id="editSurvey">تعديل النموذج</button>
        </div>
    </div>

    <div class="widget-body clearfix">
        <div class="row">
            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2"></div>

            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12" style="width:100%;min-height:auto;padding:10px;">
                <div class="container">
                    <div class="col-sm-12" style="text-align:right">
                        <div class="mm-survey">
                            <div class="mm-survey-results" style="display:block">
                                <div class="mm-survey-results-container">
                                    <h3 class="mm-survey-results-score">@ViewBag.SurveyTitle</h3>
                                    <ul class="mm-survey-results-list">
                                        @*@foreach (var item in userInfoSurvey)
                                    {
                                        <li class="mm-survey-results-item incorrect">
                                            <span class="mm-item-number">@item.AnswerTemplateValue</span>
                                            <span class="mm-item-info">@item.QuestionValue</span>
                                        </li>
                                    }*@
                                    </ul>
                                </div>
                                @*<div>
                                <h3 class="mm-survey-results-score">يمكنكم الإطلاع على نتائج إستطلاعات الرأي المنشورة من خلال الضغط على مفتاح <a href="#main-menu">"نتائج إستطلاعات الرأي"</a> الموجود في لائحة التحكم أعلاه</h3>
                            </div>*@
                            </div>

                            @*@if (Survey.Count == 0 && userInfoSurvey.Count == 0)
                        {
                            <div class="mm-survey-results" style="display:block">
                                <div class="mm-survey-results-container">
                                    <h3 class="mm-survey-results-score" style="direction:rtl;margin-top:44px;border:5px solid white;">
                                        @Html.Raw(BaseController.GetFieldLabel(Locale, "_NoSurveyMsg"))
                                    </h3>
                                </div>
                            </div>
                        }*@

                            <div class="mm-survey-bottom">
                                <div class="mm-survey-container">
                                    @{
                                        int index = 1;
                                        int j = 0;

                                        foreach (var question in SurveyQuestions)
                                        {
                                            var active = index == 1 ? "active" : "";
                                            <div class="mm-survey-page @active" data-page="@index">
                                                <div class="mm-survery-content">
                                                    <div class="mm-survey-question">
                                                        <p id="quest_@index">@question.Value.Where(q => q.QuestionKey == int.Parse(question.Key)).FirstOrDefault().QuestionValue</p>
                                                    </div>
                                                    @{

                                                        foreach (var answer in question.Value)
                                                        {
                                                            j++;
                                                            var radioId = "radio0" + j;
                                                            var radioName = "radio" + index;

                                                            <div class="mm-survey-item">
                                                                <input type="radio" id="@radioId" data-item="@index" name="@radioName" data-templatekey="@answer.AnswerTemplateKey" value="@answer.AnswerValue" />
                                                                <label for="@radioId"><span></span><p>@answer.AnswerValue</p></label>
                                                            </div>
                                                        }
                                                    }

                                                </div>
                                            </div>
                                            index++;
                                        }
                                        @*foreach (var Key in Survey.Keys)
                                    {

                                        var active = index == 1 ? "active" : "";
                                        <div class="mm-survey-page @active" data-page="@index">
                                            <div class="mm-survery-content">
                                                <div class="mm-survey-question">
                                                    <p id="quest_@index">@Survey[Key].FirstOrDefault().QuestionValue</p>
                                                </div>
                                                @{

                                                    foreach (var answer in Survey[Key])
                                                    {
                                                        j++;
                                                        var radioId = "radio0" + j;
                                                        var radioName = "radio" + index;

                                                        <div class="mm-survey-item">
                                                            <input type="radio" id="@radioId" data-item="@index" name="@radioName" data-templatekey="@answer.AnswerTemplateKey" value="@answer.AnswerValue" />
                                                            <label for="@radioId"><span></span><p>@answer.AnswerValue</p></label>
                                                        </div>
                                                    }
                                                }

                                            </div>
                                        </div>
                                        index++;
                                    }*@
                                    }

                                </div>

                                <div class="mm-survey-controller">
                                    <div class="mm-prev-btn">
                                        <button>السابق</button>
                                    </div>
                                    <div class="mm-next-btn">
                                        <button disabled="true">التالي</button>
                                    </div>
                                    @*<div class="mm-finish-btn">
                                    <button>_Submit</button>
                                </div>*@
                                </div>
                            </div>


                        </div>
                    </div>
                </div>



            </div>

            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2"></div>
        </div>
    </div>
</div>





<script src="@Url.Content("~/assets/surveycomponent/survey.js")"></script>

<script>
    $("#backToTable").click(function () {
        window.location = '@Url.Action("Index","SurveyGenerator")';
    })

     $("#editSurvey").click(function () {
        window.location = '@Url.Action("EditSurveyTemplate","SurveyGenerator")/?f_if=' + '@ViewBag.formTemplateKey';
    })
</script>