﻿@using MoAD.WebApplication.Models;
@*@model List<MyForm>*@







@{
    ViewBag.Title = "My Form Title";
    Layout = "~/views/shared/_layoutinitialpage.cshtml";

}


<html lang="en">
<head>

    <style>
        hr.doubleLine {
            border-top: 3px double #8c8b8b;
        }


        .page-content-inner{

            padding-top:0px !important;
        }
        .mt-element-list .list-news.mt-list-container{

            border-color:#202d3a !important;

        }
        .mt-element-list .list-news.mt-list-container ul>.mt-list-item{

                        border-color:#202d3a !important;

        }
    </style>

    <title>إستبياناتي</title>

</head>

<body>

    <br />
   



    @*@Html.Action("Index", "QuickNav")*@






    <div id="formContainer" class="body-content row">

        <div class="col-lg-2">

        </div>


        <div class="col-lg-8">

            <div class="mt-element-list">
                <div class="mt-list-head list-news font-white bg-blue">
                    <div class="list-head-title-container">
                        <span class="badge badge-primary pull-right">@ViewBag.MyFormNumber</span>
                        <h3 class="list-title">إستبياناتي</h3>
                    </div>
                </div>
                <div class="mt-list-container list-news">
                    <ul>


                        @foreach (var form in Model.MyFormClaim)
                        {
                            <li class="mt-list-item" style="height:80px;">
                                <div onclick="goToMyClaim(@form.FormKey)" style="right:0px!important;left:5px" class="list-icon-container">
                                    <a>
                                        <i class="fa fa-angle-left"></i>
                                    </a>
                                </div>
                                <div style="margin-left:85%" class="list-datetime bold uppercase font-green">  </div>
                                <div class="list-item-content" style="float: right;direction: rtl;">
                                    <h3 style="float:right;" class="uppercase">
                                        <a>@form.Name</a>
                                    </h3>
                                    <br/>
                                    <p style="float:right;">@form.Description</p>
                                </div>
                            </li>
                        }
                    </ul>
                </div>
            </div>
        </div>

        <div class="col-lg-2">

        </div>
    </div>

    <div id="template" class="row" style="height:300px;display:none">

        <div class="col-lg-2" id="backtotemplates">
            <a class="btn btn-circle btn-lg blue">
                <i class="fa fa-backward" aria-hidden="true"></i> Back
            </a>
        </div>
        <div class="col-lg-8" id="templatecontent">




        </div>
        <div class="col-lg-2" id="editbuttons">

        </div>

    </div>

</body>
</html>


