﻿
@{
    ViewBag.Title = "My Claim Form";
}
@*<h2>index</h2>*@

<div id="templatecontent" class="row" style="position:relative;top:32px;">

</div>
<script src="@Url.Content("~/scripts/jquery-1.10.2.js")"></script>
<script>
    var FirstTimeAnswerClick = 0;
    var FormKey="";
    var AnswerTemplateKey = [];

    $(document).ready(function () {
        viewMyClaim(@ViewBag.formKey);
       
    });

function viewMyClaim(formKey) {

        $.ajax({
            type: 'GET',
            url: '@Url.Action("GetSavedForm", "MyClaim")',
            data: {
                FormKey: formKey,
            },
            dataType: 'json',
            success: function (result) {
                console.log(result);

                var i = 0;
                var j = 0;
                $.each(result, function (index, value) {

                    var question = '<h2 dir="rtl"> ' + value.QuestionValue + '</h2>';

                    var QuestionAnswersDiv = "<div style='position: relative;width:100%;margin-right:10%;float:right;'>" + question + "</div>";

                    var answers = "";
                    $.each(value.Answers, function (index1, value1) {
                        if (value.FormElementFileExtensionName != "FileUpload") {

                            if (value.FormElementFileExtensionName != "Radiobox") {

                                var fillanswevalue = $(value1.FormElementFileExtensionHTMLCode);
                                fillanswevalue[0].children[1].name = "radio" + i;
                                fillanswevalue[0].children[0].innerText = value1.AnswerValue;
                                fillanswevalue["0"].id = "quest" + i + "answer" + j;
                                fillanswevalue[0].children[1].id = "answerClick" + j + i;
                                fillanswevalue[0].children[1].value = value1.AnswerTemplateKey;
                                console.log(fillanswevalue[0].children[1]);

                                j++;
                                answers += fillanswevalue[0].outerHTML;

                            } else {

                                var fillanswevalue = $(value1.FormElementFileExtensionHTMLCode);
                                fillanswevalue[0].children[0].innerText = value1.AnswerValue;
                                fillanswevalue["0"].id = "quest" + i + "answer" + j;
                                fillanswevalue[0].children[1].id = "answerClick" + j + i;
                                fillanswevalue[0].children[1].value = value1.AnswerTemplateKey;

                                j++;

                                answers += fillanswevalue[0].outerHTML;



                            }
                        }
                        else {
                            answers += value1.FormElementFileExtensionHTMLCode;
                        }

                    });

                    QuestionAnswersDiv += "<div class='row line" + i + "' style='height:80px;'>";
                    QuestionAnswersDiv += " <div id='answersDiv" + i + "' class='cubes col-lg-4' style='height:80px;margin-right:10%;float:right;'  data-value='4'>" + answers + "</div>";
                    QuestionAnswersDiv += "</div>";

                    i++;

                    // $("#templatecontent").append(dropzone);
                    $("#templatecontent").append(QuestionAnswersDiv);

                    $("#templatecontent").append('<div class="col-md-12"> <hr class="doubleLine"> </div>');

                });

                $('input:checkbox').not(this).prop('checked', true);
                $("input:radio").attr("checked", "checked");
                
            }
        });
    }


</script>