﻿
@{

    Layout = "~/Views/Shared/_LayoutInitialPage.cshtml";
    List<SelectListItem> Organisations = ViewData["Organisation"] as List<SelectListItem>;
}




<head>
    <meta name="viewport" content="width=device-width" />
    <title>index</title>

    @if (User.IsInRole("PB"))
    {
        <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/vendors.bundle.css")">
        <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/style.bundle.css")">
    }
    <style>
        body, input, textarea, keygen, select, button {
            letter-spacing: 0px !important;
        }

        thead th {
            text-align: right;
        }

        tfoot th {
            text-align: right;
        }

        .div2blink {
            transition: backgroundColor 0.05s ease-in-out;
        }

        .backgroundChange {
            color: red;
        }

        .row {
            display: block;
        }

        .select2-container {
            border: 1px solid black;
        }

        .select2 .select2-selection--single {
            height: 39px;
        }

         .select2-results {
            height: 200px;
            overflow-y: scroll;
        }

        .select2-results__options {
            height: 100%;
        }
        /*.select2-container *{
             outline:auto!important;
        }*/
        tspan {
            font-size: 14px;
        }
    </style>
</head>

@*<script src="@Url.Content("~/Scripts/vendors/bootstrap/dist/js/bootstrap.min.js")"></script>
    <script src="@Url.Content("~/scripts/amcharts/bootstrap.min.js")"></script>
    <script src="@Url.Content("~/scripts/amcharts/bootstrap-switch.min.js")"></script>*@
<script src="@Url.Content("~/scripts/amcharts/amcharts.js")"></script>
<script src="@Url.Content("~/scripts/amcharts/serial.js")"></script>
<script src="@Url.Content("~/scripts/amcharts/pie.js")"></script>
<script src="@Url.Content("~/scripts/amcharts/radar.js")"></script>
<script src="@Url.Content("~/scripts/amcharts/light.js")"></script>
<script src="@Url.Content("~/scripts/amcharts/patterns.js")"></script>
<script src="@Url.Content("~/scripts/amcharts/chalk.js")"></script>
<script src="@Url.Content("~/scripts/amcharts/ammap.js")"></script>
<script src="@Url.Content("~/scripts/amcharts/worldlow.js")"></script>
<script src="@Url.Content("~/scripts/amcharts/amstock.js")"></script>
<script src="@Url.Content("~/scripts/amcharts/app.min.js")"></script>
<script src="@Url.Content("~/scripts/amcharts/charts-amcharts4.js")"></script>



<div class="loader" id="loader">

    <section class="panel" style="text-align:right;">
        <div class="panel-heading">
            <h3 style="color:black;">
                صفحة المراقبة

            </h3>
        </div>
        <div class="panel-body">

            <div class="row">
                <div @*style="width: 75%;height: auto;margin: 0 auto;padding: 10px;position: relative;"*@ style="margin-top:2%;margin-bottom:2%;margin-right:1%;">
                    <h4 style="margin-right:1%;color:black;">أكثر المستخدمين تحركاً</h4>
                    <br />
                    <!-- Line Chart -->


                    <div id="chart_1" class="chart" style="height: 500px;"> </div>
                    @*<div id="chart" class="height-300" style="max-height:288px;" dir="ltr">*@
                </div>
                <!-- End Line Chart -->
            </div>
        </div>

        <div class="row" id="moujmaTaharoukat" style="margin-left:1%;margin-right:1%;">

            <div class="col-xl-6 col-md-12">
                <div class="widget widget-six" style="-webkit-border-radius: 5px;border-radius: 5px;margin-bottom: 16px;border: 1px solid #eceff4;">
                    <div class="widget-header" style="color:black;">

                        <strong>مجمل تحركات المستخدم</strong>
                    </div>
                    <div class="widget-header" style="color:black;">

                        <div class="form-group row">
                            <div class="col-md-2" style="float:left;margin-top: 2%;">

                            </div>
                            <div class="col-md-2" style="float:left;margin-top: 2%;">

                            </div>
                            <div class="col-md-6" style="float:left;">
                                @Html.DropDownList("Organisations1", Organisations, "إختر المؤسسة", new { @class = "inputcolor form-control placeholder-no-fix Organisations" })
                            </div>
                            <div class="col-md-2" dir="rtl">
                                <label style="color:black;">المؤسسة :</label>
                            </div>
                        </div>

                        <div class="form-group row">
                            <div class="col-md-2" style="float:left;margin-top: 2%;">

                            </div>
                            <div class="col-md-2" style="float:left;margin-top: 2%;">

                            </div>

                            <div class="col-md-2" style="margin-top: 2%;float:right" dir="rtl">
                                <label style="color:black;">المستخدم :</label>
                            </div>
                            <div class="col-md-6" style="margin-top: 2%;float:right">
                                <select id="UserDropdownSend1"><option>إختر المستخدم</option></select>
                            </div>
                        </div>
                    </div>
                    <div class="widget-body">
                        <div class="margin-bottom-50" id="graph-container1">
                            <div style="text-align:center;" id="FingerUp2"><img src="@Url.Content("~/images/pbdashboard/images/colorchangearrowup.gif")" style="height:18%;" /></div>
                            <div id="EmptyMessage2" style="text-align:center;margin-top: 4%;"><h2 style="color:black;">الرجاء إختيار مستخدم</h2></div>
                            <div id="Loader2" style="text-align:center;display:none;margin-top:5%;margin:10px auto;"><img src="@Url.Content("~/images/pbdashboard/images/transparent-blue-loading-image-gif.gif")" style="height: 10%;" /></div>


                        </div>
                    </div>
                </div>
            </div>

            <div class="col-xl-6 col-md-12">
                <div class="widget widget-six" style="-webkit-border-radius: 5px;border-radius: 5px;margin-bottom: 16px;border: 1px solid #eceff4;">
                    <div class="widget-header" style="color:black;">

                        <strong>مجمل تحركات المستخدم</strong>
                    </div>
                    <div class="widget-header" style="color:black;">

                        <div class="form-group row">
                            <div class="col-md-2" style="float:left;margin-top: 2%;">

                            </div>
                            <div class="col-md-2" style="float:left;margin-top: 2%;">

                            </div>
                            <div class="col-md-6" style="float:left;">
                                @Html.DropDownList("Organisations", Organisations, "إختر المؤسسة", new { @class = "inputcolor form-control placeholder-no-fix Organisations" })
                            </div>
                            <div class="col-md-2" dir="rtl">
                                <label style="color:black;">المؤسسة :</label>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-md-2" style="float:left;margin-top: 2%;">

                            </div>
                            <div class="col-md-2" style="float:left;margin-top: 2%;">

                            </div>

                            <div class="col-md-6" style="float:left;margin-top: 2%;">
                                <select id="UserDropdownSend"><option>إختر المستخدم</option></select>
                            </div>
                            <div class="col-md-2" style="margin-top: 2%;" dir="rtl">
                                <label style="color:black;">المستخدم :</label>
                            </div>
                        </div>

                    </div>
                    <div class="widget-body">
                        <div class="margin-bottom-50" id="graph-container">
                            <div style="text-align:center;" id="FingerUp1"><img src="@Url.Content("~/images/pbdashboard/images/colorchangearrowup.gif")" style="height:18%;" /></div>

                            <div id="EmptyMessage1" style="text-align:center;margin-top: 4%;"><h2 style="color:black;">الرجاء إختيار مستخدم</h2></div>
                            <div id="Loader1" style="text-align:center;display:none;margin-top:5%;margin:10px auto;"><img src="@Url.Content("~/images/pbdashboard/images/transparent-blue-loading-image-gif.gif")" style="height: 10%;" /></div>



                        </div>
                    </div>
                </div>
            </div>

            @*<div class="col-lg-6">
                    <h4 style="color:black;margin-right:2%;">مجمل تحركات المستخدم</h4>
                    <div class="form-group row" style="margin-left:1%;margin-right:1%;">
                        <div class="col-md-8" style="float:left;">
                            @Html.DropDownList("Organisations1", Organisations, "إختر المؤسسة", new { @class = "inputcolor form-control placeholder-no-fix Organisations" })
                        </div>
                        <div class="col-md-4" dir="rtl">
                            <label style="float:right;color:black;">المؤسسة :</label>
                        </div>
                    </div>

                    <div class="form-group row" style="margin-left:1%;margin-right:1%;">
                        <div class="col-md-8" style="float:left;margin-top: 2%;">
                            <select id="UserDropdownSend1"><option>إختر المستخدم</option></select>
                        </div>
                        <div class="col-md-4" style="margin-top: 2%;" dir="rtl">
                            <label style="float:right;color:black;">المستخدم :</label>
                        </div>
                    </div>
                    <br />
                    <div class="margin-bottom-50" id="graph-container1">
                        <div style="text-align:center;" id="FingerUp2"><img src="@Url.Content("~/images/pbdashboard/images/colorchangearrowup.gif")" style="height:18%;"/></div>
                        <div id="EmptyMessage2" style="text-align:center;"><h2 style="color:black;">الرجاء إختيار مستخدم</h2></div>
                        <div id="Loader2" style="text-align:center;display:none;"><img src="@Url.Content("~/images/pbdashboard/images/transparent-blue-loading-image-gif.gif")" style="height: 10%;"/></div>


                    </div>
                </div>*@
            @*<div class="col-lg-6">
                    <h4 style="color:black;margin-right:2%;">مجمل تحركات المستخدم</h4>
                    <div class="form-group row" style="margin-left:1%;margin-right:1%;">
                        <div class="col-md-8" style="float:left;">
                            @Html.DropDownList("Organisations", Organisations, "إختر المؤسسة", new { @class = "inputcolor form-control placeholder-no-fix Organisations" })
                        </div>
                        <div class="col-md-4" dir="rtl">
                            <label style="float:right;color:black;">المؤسسة :</label>
                        </div>
                    </div>

                    <div class="form-group row" style="margin-left:1%;margin-right:1%;">
                        <div class="col-md-8" style="float:left;margin-top: 2%;">
                            <select id="UserDropdownSend"><option>إختر المستخدم</option></select>
                        </div>
                        <div class="col-md-4" style="margin-top: 2%;" dir="rtl">
                            <label style="float:right;color:black;">المستخدم :</label>
                        </div>
                    </div>
                    <br />
                    <div class="margin-bottom-50" id="graph-container">
                        <div style="text-align:center;" id="FingerUp1"><img src="@Url.Content("~/images/pbdashboard/images/colorchangearrowup.gif")" style="height:18%;"/></div>

                        <div id="EmptyMessage1" style="text-align:center;"><h2 style="color:black;">الرجاء إختيار مستخدم</h2></div>
                        <div id="Loader1" style="text-align:center;display:none;"><img src="@Url.Content("~/images/pbdashboard/images/transparent-blue-loading-image-gif.gif")" style="height: 10%;"/></div>



                    </div>
                </div>*@
        </div>

        <div class="row" style="margin-left:1%;margin-right:1%;">
            <div class="col-lg-12" dir="rtl">
                <h4 style="color:black;margin-right:2%;">جدول المراقبة</h4>
                <br />
                <div class="margin-bottom-50">
                    <table class="table table-hover nowrap" id="example2" width="100%">
                        <thead>
                            <tr>
                                <th>المستخدم</th>
                                <th>الجهة</th>
                                <th>العنوان</th>
                                <th>المصدر</th>
                                <th>المنصب</th>
                                <th>المضمون</th>
                                <th>الوقت</th>
                                <th>عنوان الIP</th>
                            </tr>
                        </thead>

                        <tbody id="BodyTable">
                            @{
                                foreach (var item in ViewBag.LogTable)
                                {
                                    var ClassToHide = item.UserKey + "ToHide";
                                    <tr class="@item.UserKey" style="background-color:lightgray;">
                                        <td class="UserRow" data-value="@item.UserKey"><span class="divtoBlink">@item.Username </span><i class="fa fa-plus"></i></td>
                                        <td class="@ClassToHide"><span class="divtoBlink">@item.OrganisationName</span></td>
                                        <td class="@ClassToHide"><span class="divtoBlink">@item.Title</span></td>
                                        <td class="@ClassToHide"><span class="divtoBlink">@item.Source</span></td>
                                        <td class="@ClassToHide"><span class="divtoBlink">@item.ArabicRole</span></td>
                                        <td class="@ClassToHide"><span class="divtoBlink">@item.Message</span></td>
                                        <td class="@ClassToHide"><span class="divtoBlink">@item.DateTime.ToString("dd/MM/yyyy HH:mm")</span></td>
                                        <td class="@ClassToHide"><span class="divtoBlink">@item.IPAddress</span></td>
                                    </tr>
                                }



                            }


                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <div class="row" style="margin-bottom: 1%;margin-top: -3%;margin-right: 1%;">

            <div class="btn btn-primary-outline" id="Next10">10 التالي</div>
            <div class="btn btn-primary-outline" id="Previous10">10 السابق</div>


        </div>



    </section>
</div>




<script>


    var initChartSample1 = function () {
        var chart = AmCharts.makeChart("chart_1", {
            "type": "serial",
            "theme": "light",
            "pathToImages": App.getGlobalPluginsPath() + "amcharts/amcharts/images/",
            "autoMargins": false,
            "marginLeft": 30,
            "marginRight": 8,
            "marginTop": 10,
            "marginBottom": 26,

            "fontFamily": 'Open Sans',
            "color": '#888',

            "dataProvider":
                @Html.Raw(Json.Encode(ViewBag.MostUsersLogMove)),

            "valueAxes": [{
                "axisAlpha": 0,
                "position": "left"
            }],
            "startDuration": 1,
            "graphs": [{
                "alphaField": "alpha",
                "balloonText": "<span style='font-size:13px;'>[[title]]  [[category]]:<b>[[value]]</b> [[additional]]</span>",
                "dashLengthField": "dashLengthColumn",
                "fillAlphas": 1,
                "title": "عدد التحركات",
                "type": "column",
                "valueField": "income"
            }, {
                "balloonText": "<span style='font-size:13px;'>[[title]]  [[category]]:<b>[[value]]</b> [[additional]]</span>",
                "bullet": "round",
                "dashLengthField": "dashLengthLine",
                "lineThickness": 3,
                "bulletSize": 7,
                "bulletBorderAlpha": 1,
                "bulletColor": "#FFFFFF",
                "useLineColorForBulletBorder": true,
                "bulletBorderThickness": 3,
                "fillAlphas": 0,
                "lineAlpha": 1,
                "title": "عدد الشكاوى المعالجة",
                "valueField": "expenses"
            }],
            "categoryField": "year",
            "categoryAxis": {
                "gridPosition": "start",
                "axisAlpha": 0,
                "tickLength": 0
            }
        });

        $('#chart_1').closest('.portlet').find('.fullscreen').click(function () {
            chart.invalidateSize();
        });
    }


    $("#Organisations").trigger("change");


    var x = 10;
    $("#Next10").click(function () {

        if ($("#Next10").attr('disabled')) {
            ;
        }else{
            $("#Previous10").removeAttr("disabled");
            var Userkey = $(".divtoBlink").attr("data-value");
            var SearchValue1 = $("#SearchValue1").val();
            var SearchValue2 = $("#SearchValue2").val();
            var SearchValue3 = $("#SearchValue3").val();

            if (SearchValue1 == "")
                SearchValue1 = "null";
            if (SearchValue2 == "")
                SearchValue2 = "null";
            if (SearchValue3 == "")
                SearchValue3 = "null";
            if (x == 0)
                x = 10;


            $("#LoaderTable").show();

            $.ajax({
                url: '@Url.Action("GetLogTableJson", "Logging")',
                dataType: "json",
                data: {

                    pagination:"BETWEEN " + x + " AND " + (x + 10) + ""},
                success: function (result) {
                    x += 10;

                    if(result.length==0){

                        $("#Next10").attr("disabled",true);

                    }else{
                        $("#BodyTable").html('');
                        var html='';

                        $.each(result, function (i, item) {
                            var ClassToHide = item.UserKey + "ToHide";
                            html+="<tr class='"+item.UserKey+"' style='background-color:lightgray;'>";
                            html+="<td class='UserRow' data-value='"+item.UserKey+"'><span class='divtoBlink'>"+item.Username+" </span><i class='fa fa-plus'></i></td>";
                            html+="<td class='"+ClassToHide+"'><span class='divtoBlink'>"+item.OrganisationName+"</span></td>";
                            html+="<td class='"+ClassToHide+"'><span class='divtoBlink'>"+item.Title+"</span></td>";
                            html+="<td class='"+ClassToHide+"'><span class='divtoBlink'>"+item.Source+"</span></td>";
                            html+="<td class='"+ClassToHide+"'><span class='divtoBlink'>"+item.UserRole+"</span></td>";
                            html += "<td class='" + ClassToHide + "'><span class='divtoBlink'>" + item.Message + "</span></td>";
                            html += "<td class='" + ClassToHide + "'><span class='divtoBlink'>" + $.formattedDate(new Date(parseInt(item.DateTime.substr(6)))) + "</span></td>";
                            html += "<td class='" + ClassToHide + "'><span class='divtoBlink'>" + item.IPAddress + "</span></td>";
                            html += "</tr>";

                        });

                        $("#BodyTable").append(html);
                        $("#LoaderTable").hide();



                        var countTable = $('#example1').DataTable().data().count();




                        console.log("countTable=" + countTable);
                    }



                }

            });
        }


    });


    $("#Previous10").click(function () {
        if ($("#Previous10").attr('disabled')) {
            ;
        }else{
            $("#Next10").removeAttr("disabled");
            var Userkey = $(".divtoBlink").attr("data-value");

            var SearchValue1 = $("#SearchValue1").val();
            var SearchValue2 = $("#SearchValue2").val();
            var SearchValue3 = $("#SearchValue3").val();

            if (SearchValue1 == "")
                SearchValue1 = "null";
            if (SearchValue2 == "")
                SearchValue2 = "null";
            if (SearchValue3 == "")
                SearchValue3 = "null";

            $("#LoaderTable").show();
            $("#TableAppend").html('');
            $.ajax({
                url: '@Url.Action("GetLogTableJson", "Logging")',
                dataType: "json",
                data: {
                    pagination:"BETWEEN " + (x - 20) + " AND " + (x - 10) + ""},
                success: function (result) {
                    x -= 10;

                    if(result.length==0){
                        $("#Previous10").attr("disabled",true);


                    }else{
                        $("#LoaderTable").hide();
                        $("#BodyTable").html('');
                        var html='';
                        $.each(result, function (i, item) {
                            var ClassToHide = item.UserKey + "ToHide";
                            html+="<tr class='"+item.UserKey+"' style='background-color:lightgray;'>";
                            html+="<td class='UserRow' data-value='"+item.UserKey+"'><span class='divtoBlink'>"+item.Username+" </span><i class='fa fa-plus'></i></td>";
                            html+="<td class='"+ClassToHide+"'><span class='divtoBlink'>"+item.OrganisationName+"</span></td>";
                            html+="<td class='"+ClassToHide+"'><span class='divtoBlink'>"+item.Title+"</span></td>";
                            html+="<td class='"+ClassToHide+"'><span class='divtoBlink'>"+item.Source+"</span></td>";
                            html+="<td class='"+ClassToHide+"'><span class='divtoBlink'>"+item.UserRole+"</span></td>";
                            html+="<td class='"+ClassToHide+"'><span class='divtoBlink'>"+item.Message+"</span></td>";
                            html+="<td class='"+ClassToHide+"'><span class='divtoBlink'>"+$.formattedDate(new Date(parseInt(item.DateTime.substr(6))))+"</span></td>";
                            html+="<td class='"+ClassToHide+"'><span class='divtoBlink'>"+item.IPAddress+"</span></td>";
                            html+="</tr>";

                        });

                        $("#BodyTable").append(html);
                    }





                }

            });
        }


    });

    $(document).ready(function () {

        $("select").select2();
        //$('#example1').DataTable({
        //    responsive: true,
        //    autoWidth: true,
        //    scrollX: true,
        //    fixedColumns: true
        //});
        let $div2blink = $(".divtoBlink"); // Save reference for better performance
        let backgroundInterval = setInterval(function () {
            $div2blink.toggleClass("backgroundChange");
        }, 1000)



        HighlightMenuClick();

        $("#Logging").addClass("left-menu-list-active");

        var FromPieChartClick = 0;

        $("#Organisations").change(function () {
            var orgKey = $("#Organisations").val();
            FillTablePerOrg(orgKey);
            $.ajax({
                url: '@Url.Action("GetAccessUsers", "Logging")',
                type: 'GET',
                cache: false,
                dataType: 'json',
                data: ({
                    orgKey: orgKey
                }),
                contentType: 'application/json; charset=utf-8',
                success: function (data) {

                    $("#UserDropdownSend").empty();

                    var html = "";
                    $.each(data, function (i, item) {
                        html += '<option value=' + item.UserKey + '> ' + item.UserName + ' </option>';
                    });
                    $("#UserDropdownSend").append(html);
                    $("#UserDropdownSend").select2();


                    if (FromPieChartClick == 0) {
                        $("#UserDropdownSend").change();
                    } else {

                        $("#UserDropdownSend").val(UserPieChartKey);

                        $("#UserDropdownSend").change();

                    }



                },
                error: function (xhr) {
                    alert('errorr');
                }
            });
            //console.log(orgKey);


        });

        $("#Organisations1").change(function () {
            var orgKey = $("#Organisations1").val();

            $.ajax({
                url: '@Url.Action("GetAccessUsers", "Logging")',
                type: 'GET',
                cache: false,
                dataType: 'json',
                data: ({
                    orgKey: orgKey
                }),
                contentType: 'application/json; charset=utf-8',
                success: function (data) {

                    $("#UserDropdownSend1").empty();

                    var html = "";
                    $.each(data, function (i, item) {
                        html += '<option value=' + item.UserKey + '> ' + item.UserName + ' </option>';
                    });
                    $("#UserDropdownSend1").append(html);
                    $("#UserDropdownSend1").change();


                },
                error: function (xhr) {
                    alert('errorr');
                }
            });
            //console.log(orgKey);


        });

        $("#UserDropdownSend").change(function () {
            $("#chart_66").remove();


            $("#EmptyMessage1").fadeOut();
            $("#FingerUp1").fadeOut();

            setTimeout(function(){

                $("#Loader1").fadeIn(); }, 500);

            var UserKey = $("#UserDropdownSend").val();

            $.ajax({
                url: '@Url.Action("GetLog", "Logging")',
                type: 'GET',
                cache: false,
                dataType: 'text',
                data: ({
                    Id: UserKey
                }),
                contentType: 'application/json; charset=utf-8',
                success: function (data) {

                    var obj = jQuery.parseJSON(data);
                    console.log("udsisydius="+obj);



                    ResetPiecHART2();

                    if(obj==""){
                        $("#EmptyMessage1").html('');

                        $("#EmptyMessage1").html('<h2 style="color:black;">لا يوجد معلومات</h2>');
                        $("#EmptyMessage1").fadeIn();
                        $("#Loader1").fadeOut();
                        $("#chart_66").fadeOut();
                    }else{
                        $("#graph-container").append('<div id="chart_66" class="chart" style="height: 525px;"> </div>');
                        var chart = AmCharts.makeChart( "chart_66", {
                            "type": "pie",
                            "theme": "light",
                            "labelText": "[[title]]",
                            "dataProvider": obj,
                            "valueField": "value",
                            "titleField": "country",
                            "outlineAlpha": 0.4,
                            "depth3D": 15,
                            "balloonText": "[[title]]<br><span style='font-size:14px'><b>[[value]]</b> ([[percents]]%)</span>",
                            "angle": 30,
                            "export": {
                                "enabled": true
                            }
                        } );

                        $("#Loader1").fadeOut();
                        setTimeout(function(){

                            initChartSample66(); }, 4000);
                    }



                },
                error: function (xhr) {
                    alert('errorr');
                }
            });



        });

        function ResetPiecHART1(){
            var initChartSample6 = function() {
                var chart = AmCharts.makeChart("chart_6", {
                    "type": "pie",
                    "theme": "light",

                    "fontFamily": 'Open Sans',

                    "color":    '#888',

                    "dataProvider": [],
                    "valueField": "litres",
                    "titleField": "country",
                    "exportConfig": {
                        menuItems: [{
                            icon: App.getGlobalPluginsPath() + "amcharts/amcharts/images/export.png",
                            format: 'png'
                        }]
                    }
                });

                $('#chart_6').closest('.portlet').find('.fullscreen').click(function() {
                    chart.invalidateSize();
                });
            }

            initChartSample6();
        }


        function ResetPiecHART2(){
            var initChartSample66 = function() {
                var chart = AmCharts.makeChart("chart_66", {
                    "type": "pie",
                    "theme": "light",

                    "fontFamily": 'Open Sans',

                    "color":    '#888',

                    "dataProvider": [],
                    "valueField": "litres",
                    "titleField": "country",
                    "exportConfig": {
                        menuItems: [{
                            icon: App.getGlobalPluginsPath() + "amcharts/amcharts/images/export.png",
                            format: 'png'
                        }]
                    }
                });

                $('#chart_66').closest('.portlet').find('.fullscreen').click(function() {
                    chart.invalidateSize();
                });
            }
            initChartSample66();
        }


        $("#UserDropdownSend1").change(function () {
            $("#chart_6").remove();
            $("#EmptyMessage2").fadeOut();
            $("#FingerUp2").fadeOut();

            setTimeout(function(){

                $("#Loader2").fadeIn(); }, 500);
            var UserKey = $("#UserDropdownSend1").val();

            $.ajax({
                url: '@Url.Action("GetLog", "Logging")',
                type: 'GET',
                cache: false,
                dataType: 'text',
                data: ({
                    Id: UserKey
                }),
                contentType: 'application/json; charset=utf-8',
                success: function (data) {
                    //console.log("Data ==" + data);
                    var obj = jQuery.parseJSON(data);


                    ResetPiecHART1();






                    if(obj==""){
                        $("#EmptyMessage2").html('');

                        $("#EmptyMessage2").html('<h2 style="color:black;">لا يوجد معلومات</h2>');
                        $("#EmptyMessage2").fadeIn();
                        $("#Loader2").fadeOut();
                        $("#chart_6").fadeOut();
                    }else{
                        $("#graph-container1").append('<div id="chart_6" class="chart" style="height: 525px;"> </div>');
                        var chart = AmCharts.makeChart( "chart_6", {
                            "type": "pie",
                            "theme": "light",
                            "labelText": "[[title]]",
                            "dataProvider": obj,
                            "valueField": "value",
                            "titleField": "country",
                            "outlineAlpha": 0.4,
                            "depth3D": 15,
                            "balloonText": "[[title]]<br><span style='font-size:14px'><b>[[value]]</b> ([[percents]]%)</span>",
                            "angle": 30,
                            "export": {
                                "enabled": true
                            }
                        } );

                        $("#Loader2").fadeOut();
                        setTimeout(function(){

                            initChartSample6(); }, 4000);
                    }






                },
                error: function (xhr) {
                    alert('errorr');
                }
            });



        });



        $(document).on("click",".UserRow",function(){

            var PlusOrMinus = $(this).find("i").attr("class");
            var Userkey = $(this).attr("data-value");
            var trClass = $(this).parent().attr("class");
            var RowClass = trClass.replace(" odd", "");

            if (PlusOrMinus == "fa fa-plus") {
                $(this).find("i").remove();
                $(this).append("<i class='fa fa-minus'></i>");


                $.ajax({
                    url: '@Url.Action("GetLogTableJson", "Logging")',
                    type: 'GET',
                    cache: false,
                    dataType: 'text',
                    data: ({
                        monitor: Userkey,
                        pagination:"BETWEEN 1 AND 5"
                    }),
                    contentType: 'application/json; charset=utf-8',
                    success: function (data) {


                        $("." + RowClass + "ToHide").hide();


                        var html = "";
                        $.each(JSON.parse(data), function (i, item) {

                            html += '<tr class=' + RowClass + '_extra' + '><td>' + item.Username + '</td>';
                            html += '<td>' + item.OrganisationName + '</td>';
                            html += '<td>' + item.Title + '</td>';
                            html += '<td>' + item.Source + '</td>';
                            html += '<td>' + item.UserRole + '</td>';
                            html += '<td>' + item.Message + '</td>';
                            html += '<td>' + $.formattedDate(new Date(parseInt(item.DateTime.substr(6)))) + '</td>';
                            html += '<td>' + item.IPAddress + '</td>';
                            html += '</tr>';
                        });

                        html += '<tr id="' + RowClass + '"><td class="MoreDetails"  data-id="'+Userkey+'"><a>المزيد من المعلومات ....</a></td>';
                        html += '<td></td>';
                        html += '<td></td>';
                        html += '<td></td>';
                        html += '<td></td>';
                        html += '<td></td>';
                        html += '<td></td></tr>';

                        $(html).insertAfter("." + RowClass);

                    },
                    error: function (xhr) {
                        alert('errorr');
                    }
                });
            } else {
                $(this).find("i").remove();
                $(this).append("<i class='fa fa-plus'></i>");
                $("." + RowClass + '_extra').remove();
                $("." + RowClass + "ToHide").show();
                $("#" + RowClass).hide();
            }
        });





        $(document).on("click",".MoreDetails",function(){
            var userkey=$(this).attr("data-id");

            submit_post_via_hidden_form("@Url.Action("MoreDetails", "Logging")", { userkey: userkey});


        });

        function submit_post_via_hidden_form(url, params) {
            var f = $("<form target='_blank' method='POST' style='display:none;'></form>").attr({
                action: url
            }).appendTo(document.body);

            for (var i in params) {
                if (params.hasOwnProperty(i)) {
                    $('<input type="hidden" />').attr({
                        name: i,
                        value: params[i]
                    }).appendTo(f);
                }
            }

            f.submit();

            f.remove();
        }

        $.formattedDate = function (dateToFormat) {
            var dateObject = new Date(dateToFormat);
            var day = dateObject.getDate();
            var month = dateObject.getMonth() + 1;
            var year = dateObject.getFullYear();
            day = day < 10 ? "0" + day : day;
            month = month < 10 ? "0" + month : month;
            var formattedDate = day + "/" + month + "/" + year;
            return formattedDate;
        };






        var UserPieChartKey;

        function OnPieChartClick(Value) {
            location.href = "#moujmaTaharoukat";
            var UserKey;

            //alert(Value.id);
            $.ajax({
                url: '@Url.Action("MostUsersLogMoveJson", "Logging")',
                type: 'GET',
                cache: false,
                dataType: 'json',
                contentType: 'application/json; charset=utf-8',
                success: function (data) {

                    $.each(data, function (i, item) {
                        //alert(item.UserName);
                        if (Value.id == item.UserName) {
                            UserKey = item.UserKey;

                            OrganisationKey = item.OrganisationKey;

                        }
                    });
                    FromPieChartClick = 1;
                    $("#Organisations").val(OrganisationKey).trigger("change");


                    UserPieChartKey = UserKey;
                    //$("#UserDropdownSend").val(UserKey).trigger("change");

                },
                error: function (xhr) {
                    alert('errorr');
                }
            });




        }

        function HighlightMenuClick() {

            $("#menu-initialpage").removeClass("left-menu-list-active");

        }


    });

    function FillTablePerOrg(orgKey){
        $.ajax({
            url: '@Url.Action("GetLogTableJson", "Logging")',
            dataType: "json",
            data: {
                Organisationns:orgKey},
            success: function (result) {
                x -= 10;



                $("#BodyTable").html('');
                var html='';
                $.each(result, function (i, item) {
                    var ClassToHide = item.UserKey + "ToHide";
                    html+="<tr class='"+item.UserKey+"' style='background-color:lightgray;'>";
                    html+="<td class='UserRow' data-value='"+item.UserKey+"'><span class='divtoBlink'>"+item.Username+" </span><i class='fa fa-plus'></i></td>";
                    html+="<td class='"+ClassToHide+"'><span class='divtoBlink'>"+item.OrganisationName+"</span></td>";
                    html+="<td class='"+ClassToHide+"'><span class='divtoBlink'>"+item.Title+"</span></td>";
                    html+="<td class='"+ClassToHide+"'><span class='divtoBlink'>"+item.Source+"</span></td>";
                    html+="<td class='"+ClassToHide+"'><span class='divtoBlink'>"+item.UserRole+"</span></td>";
                    html+="<td class='"+ClassToHide+"'><span class='divtoBlink'>"+item.Message+"</span></td>";
                    html+="<td class='"+ClassToHide+"'><span class='divtoBlink'>"+$.formattedDate(new Date(parseInt(item.DateTime.substr(6))))+"</span></td>";
                    html+="<td class='"+ClassToHide+"'><span class='divtoBlink'>"+item.IPAddress+"</span></td>";
                    html+="</tr>";
                });

                $("#BodyTable").append(html);






            }

        });
    }



</script>
