﻿

@{
    Layout = "~/Views/Shared/_LayoutInitialPage.cshtml";
}

<!DOCTYPE html>


<head>
    <meta name="viewport" content="width=device-width" />
    <title>index</title>
    <style>
        .form-inline{
            display:block;
        }


        .row{
            display:block;
        }


        body, input, textarea, keygen, select, button {
            letter-spacing: 0px !important;
        }

        thead th {
            text-align: right;
        }

        tfoot th {
            text-align: right;
        }

        .div2blink {
            transition: backgroundColor 0.05s ease-in-out;
        }

        .backgroundChange {
            color: red;
        }

          #example1_paginate,#example1_info{
        margin-top:6% !important;
    }

    #example1_length,#example1_filter{
        margin-top:1%;
        color:black;
    }
    </style>
</head>

<div class="row" style="margin-top:1%;">
    
        
            <div class="col-xl-12">
                <div class="widget widget-two">
                    <div class="widget-header"  style="color:black;text-align:right;">
                        <span class="text-truncate text-nowrap">جدول  <strong>المراقبة</strong></span>
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <img src="@Url.Content("~/images/newdesignpics/loadertablemouwazafin.gif")" style="margin-right:40%;display:none" id="LoaderTable">

                            <div class="margin-bottom-50" style="margin-right:2%;" dir="rtl">
                                <table class="table table-hover nowrap" id="example1" width="100%">
                                    <thead>
                                        <tr>
                                            <th>المستخدم</th>
                                            <th>الجهة</th>
                                            <th>العنوان</th>
                                            <th>المصدر</th>
                                            <th>المنصب</th>
                                            <th>المضمون</th>
                                            <th>الوقت</th>
                                        </tr>
                                    </thead>

                                    <tbody>
                                        @{
                                            foreach (var item in ViewBag.LogTableMoreDetails)
                                            {
                                                var ClassToHide = item.UserKey + "ToHide";
                                                <tr class="@item.UserKey" style="background-color:lightgray;">
                                                    <td class="UserRow" data-value="@item.UserKey"><span class="divtoBlink">@item.Username </span></td>
                                                    <td class="@ClassToHide">@item.OrganisationName</td>
                                                    <td class="@ClassToHide">@item.Title</td>
                                                    <td class="@ClassToHide">@item.Source</td>
                                                    <td class="@ClassToHide">@item.ArabicRole</td>
                                                    <td class="@ClassToHide">@item.Message</td>
                                                    <td class="@ClassToHide">@item.DateTime.ToString("dd/MM/yyyy HH:mm")</td>
                                                </tr>
                                               
                                            }



                                        }


                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>

                    @*<div class="row" style="margin-bottom: 1%;margin-top: -3%;margin-right: 1%;">

                        <div class="btn btn-primary-outline" id="Next1000">Next 1000</div>
                        <div class="btn btn-primary-outline" id="Previous1000">Previous 1000</div>


                    </div>*@

                </div>
            </div>
       
    
</div>


<script>

    $('#example1').DataTable({
        responsive: true,
        autoWidth: true,
        scrollX: true,
        fixedColumns: true,
        searching: true,
        "oLanguage": {
            "sSearch": "<span>إبحث:</span><span style='visibility:hidden'>إبحث:</span>",
            "sLengthMenu": "عدد الأسطر لكل صفحة _MENU_ ",
            "sEmptyTable": '<span lang="ar" dir="rtl">لا يوجد معلومات في</span>',
            "oPaginate": {

                "sPrevious": "السابقة", // This is the link to the previous page
                "sNext": "التالية", // This is the link to the next page

            }
        },
        drawCallback: function () {
            $('.paginate_button', this.api().table().container())
               .on('click', function () {
                   //alert("next");
               });
        }

    });


    var x = 1000;
    $("#Next1000").click(function () {
        $("#Previous1000").prop("disabled", false);
        var Userkey = $(".divtoBlink").attr("data-value");
        var SearchValue1 = $("#SearchValue1").val();
        var SearchValue2 = $("#SearchValue2").val();
        var SearchValue3 = $("#SearchValue3").val();

        if (SearchValue1 == "")
            SearchValue1 = "null";
        if (SearchValue2 == "")
            SearchValue2 = "null";
        if (SearchValue3 == "")
            SearchValue3 = "null";
        if (x == 0)
            x = 1000;


        $("#LoaderTable").show();
        $("#TableAppend").html('');
        $.ajax({
             url: '@Url.Action("GetLogTableJson", "Logging")',
            dataType: "html",
            data: { 
                monitor: Userkey,
                pagination:"BETWEEN " + x + " AND " + (x + 1000) + ""},
            success: function (result) {
                x += 1000;
                ;

                $("#TableAppend").append(result);
                $("#LoaderTable").hide();


         
                //$('#example1').DataTable({
                //    responsive: true,
                //    autoWidth: true,
                //    scrollX: true,
                //    fixedColumns: true,
                //    searching: true,
                //    drawCallback: function () {
                //        $('.paginate_button', this.api().table().container())
                //           .on('click', function () {
                //               //alert("next");
                //           });
                //    }

                //});

                var countTable = $('#example1').DataTable().data().count();

                if (countTable <= 12012)
                    $("#Next1000").prop("disabled", true);


                console.log("countTable=" + countTable);


            }

        });

    });


    $("#Previous1000").click(function () {
        $("#Next1000").prop("disabled", false);
        var Userkey = $(".divtoBlink").attr("data-value");

        var SearchValue1 = $("#SearchValue1").val();
        var SearchValue2 = $("#SearchValue2").val();
        var SearchValue3 = $("#SearchValue3").val();

        if (SearchValue1 == "")
            SearchValue1 = "null";
        if (SearchValue2 == "")
            SearchValue2 = "null";
        if (SearchValue3 == "")
            SearchValue3 = "null";

        $("#LoaderTable").show();
        $("#TableAppend").html('');
        $.ajax({
            url: '@Url.Action("GetLogTableJson", "Logging")',
            dataType: "html",
            data: {monitor: Userkey,
                pagination:"BETWEEN " + (x - 2000) + " AND " + (x - 1000) + ""}, 
            success: function (result) {
                x -= 1000;
                ;
                $("#TableAppend").append(result);
                $("#LoaderTable").hide();

                //$('#example1').DataTable({
                //    responsive: true,
                //    autoWidth: true,
                //    scrollX: true,
                //    fixedColumns: true,
                //    searching: true,
                //    drawCallback: function () {
                //        $('.paginate_button', this.api().table().container())
                //           .on('click', function () {
                //               //alert("next");
                //           });
                //    }

                //});

                if (x == 1000)
                    $("#Previous1000").prop("disabled", true);

            }

        });

    });
</script>