﻿@model IEnumerable<MoAD.DataObjects.EDMX.Log>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutInitialPage.cshtml";
}


<script>
    $(document).ready(function () {
        $('#table').DataTable({

            "oLanguage": {
                "sSearch": "إبحث",
                "sLengthMenu": "عدد الأسطر لكل صفحة _MENU_ ",
            }
        });
    });
</script>

<div class="row" style="margin-top:1%;">
    <div class="col-xl-12">
        <div class="row">
            <div class="col-xl-12">
                <div class="widget widget-two" style="direction:rtl;">
                    <div class="widget-header">
                        <span class="text-truncate text-nowrap">إعدادات <strong>قيد الانتظار</strong></span>
                    </div>

                    <div class="row">
                        <div class="widget-body clearfix">

                            <table id="table" class="display" cellspacing="0" width="100%">
                                <thead>
                                    <tr>
                                        <th>
                                            @Html.DisplayNameFor(model => model.DateTime)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.Source)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.Title)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.Message)
                                        </th>
                                        <th></th>
                                    </tr>
                                </thead>
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.DateTime)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Source)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Title)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Message)
                                        </td>
                                        <td>
                                            @Html.ActionLink("Edit", "Edit", new { id = item.Identifier }) |
                                            @Html.ActionLink("Details", "Details", new { id = item.Identifier }) |
                                            @Html.ActionLink("Delete", "Delete", new { id = item.Identifier })
                                        </td>
                                    </tr>
                                }
                                <tfoot>
                                    <tr>
                                        <th>
                                            @Html.DisplayNameFor(model => model.DateTime)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.Source)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.Title)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.Message)
                                        </th>
                                        <th></th>
                                    </tr>
                                </tfoot>

                            </table>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>