﻿@model List<object>

@{
    Layout = null;
    ViewBag.Title = "Claim Form Title";
}

<style>

    .modal-dialog{
        left:0px;
    }

    body {
        background-repeat: no-repeat;
        background-size: 100%;
        
    }

    .single-page-login-beta .single-page-block .single-page-block-inner {
        background-color: #ffffff;
        -webkit-box-shadow: 0px 15px 70px -5px rgba(36, 34, 47, 0.13);
                box-shadow: 0px 15px 70px -5px rgba(36, 34, 47, 0.13);
        margin-bottom: 0px;
        -webkit-border-radius: 0px !important;
                border-radius: 0px !important;
        max-width: 940px;
        padding: 0px;
        height: 687px;
        position: relative;
    }
    
    .single-page-block .single-page-block-inner {
        min-width: 300px;
        max-width: 600px;
        margin: 0px auto;
        padding: 50px 40px 20px;
        -webkit-border-radius: 10px;
                border-radius: 10px;
        overflow: hidden;
        background-color: #d2d9e5;
        position: relative;
    }
    h2{

        font-size:20px !important;
    }



</style>

<link href="@Url.Content("~/Content/Css/font-awesome.min.css")" rel="stylesheet" type="text/css" />
<link href="@Url.Content("~/Content/Css/simple-line-icons.min.css")" rel="stylesheet" type="text/css" />
<link href="@Url.Content("~/Content/Css/bootstrap.min.css")" rel="stylesheet" type="text/css" />

<body background="@Url.Action("../Images/CleanUI/Background1.jpg")">
    
    
    <div class="single-page-block">
        <div class="row">
            <div class="col-xl-12" style="">
                <div class="single-page-block-inner" style="background: white;max-width: 973px !important;padding: 0px;height: 76%;margin-top: 136px;">
                    <div class="single-page-block-sidebar col-lg-4 col-md-4 col-sm-4 col-xs-4" style="background-image: url(@Url.Action("../Images/Building.jpg"));height:1220px">
                        <div class="" style="position:absolute;z-index: 1;top: 0px;left: 0px; width: 100%;height: 100%;background: rgba(23, 41, 75, 0.6)">
                        </div>    
                    </div>

                    <div class="single-page-block-form col-lg-8 col-md-8  col-sm-8 col-xs-8">
                        @Html.Partial("_FormViewer", new ViewDataDictionary { { "formTemplate", Model } })
                    


                    </div>

                </div>
            </div>
        </div>
    </div>

</body>





<script>

    $(document).ready(function () {

        var answers = '@ViewBag.Answers';

        answers = answers.replace(/&quot;/g, '');
        //answers = answers.replace(/key:/g, '');
        console.log(answers)


        //var obj = JSON.parse(answers);
        //console.log(obj);
    });


</script>