﻿@using Microsoft.AspNet.Identity
@using MoAD.DataObjects.EDMX
@using MoAD.WebApplication.Objects
@using MoAD.WebApplication.Models
@using MoAD.WebApplication.Managers

@{
    ViewBag.Title = ViewBag.FormTemplateTitle;
    Layout = null;
    int languageIdentifier = (int)ViewBag.Languageidentifier;
    HttpCookie languageCookie = Request.Cookies["Language"];
}




@if (ViewBag.ManagerIndex == "True")
{
    Layout = null;
    @Html.Partial("_FormViewerAdmin", new ViewDataDictionary { { "formTemplate", Model }, { "OrganisationKey", ViewBag.OrganisationKey }, { "FormTemplateType", ViewBag.FormTemplateType }, { "OpOrganisations", ViewBag.OpOrganisations }, { "formInstanceKey", ViewBag.formInstanceKey }, { "employeeRecord", ViewBag.employeeRecord } })

<script>
    setTimeout(function () {
        fadeOutEffect();
    }, 6000);

    function fadeOutEffect() {

        var fadeTarget = document.getElementById("overlay");
        var fadeEffect = setInterval(function () {
            if (!fadeTarget.style.opacity) {
                fadeTarget.style.opacity = 1;
            }
            if (fadeTarget.style.opacity > 0) {
                fadeTarget.style.opacity -= 0.1;
            } else {
                clearInterval(fadeEffect);
            }


        }, 300);

        setTimeout(function () {
            $(".Body").css("filter", "");

        }, 3000);
        $("#HeaderLogo").fadeIn(6000);

        setTimeout(function () {

            $("#overlay").remove();
        }, 5000);

    }
</script>
}
else
{
    Layout = "~/Views/Shared/_CommonLayout.cshtml";


    <!-- Clean UI Styles -->
    <link rel="stylesheet" href="@Url.Content("~/Content/ClaimPage/vendors/bootstrap/dist/css/bootstrap.min.css")" />
    <link rel="stylesheet" href="@Url.Content("~/Content/ClaimPage/common/css/source/main.css")" />
    <link rel="stylesheet" href="@Url.Content("~/Content/ClaimPage/vendors/dropify/dist/css/dropify.min.css")" />
    <link rel="stylesheet" href="@Url.Content("~/assets/vendors/eonasdan-bootstrap-datetimepicker/build/css/bootstrap-datetimepicker.min.css")" />

    <!-- Vendors Scripts -->
    <!-- v1.0.0 -->
    <script src="@Url.Content("~/Content/ClaimPage/vendors/jquery/jquery.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Content/ClaimPage/vendors/tether/dist/js/tether.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Content/ClaimPage/vendors/bootstrap/dist/js/bootstrap.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Content/ClaimPage/vendors/html5-form-validation/dist/jquery.validation.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Content/ClaimPage/vendors/jquery-typeahead/dist/jquery.typeahead.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Content/ClaimPage/vendors/jquery-mask-plugin/dist/jquery.mask.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Content/ClaimPage/vendors/autosize/dist/autosize.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Content/ClaimPage/vendors/bootstrap-show-password/bootstrap-show-password.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Content/ClaimPage/vendors/moment/min/moment.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Content/ClaimPage/vendors/bootstrap-sweetalert/dist/sweetalert.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Content/ClaimPage/vendors/dropify/dist/js/dropify.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/bootbox.min.js")"></script>
    <script src="@Url.Content("~/Scripts/select2.min.js")"></script>
    <script src="@Url.Content("~/assets/vendors/eonasdan-bootstrap-datetimepicker/build/js/bootstrap-datetimepicker.min.js")"></script>
    <script src="@Url.Content("~/scripts/header/jquery.smartmenus.js")"></script>

    <!-- Clean UI Scripts -->
    <script src="@Url.Content("~/Content/ClaimPage/common/js/common.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/bootstrap-waitingfor.js")"></script>

    <style>
        .HeaderH1{
            font-size:2.0rem !important;
        }
    </style>




    <section class="page-content" style="padding:20px">


        <div class="page-content-inner single-page-login-beta" @*style="background-image: url(@Url.Content("~/Images/FormBackground.jpg"));"*@>
            <!--<div class="single-page-block-header">
            <div class="row">
                <div class="col-lg-4" style="display:inline-block">
                    <div class="logo">
                        <a href='@Url.Action("Manbar", "Home")'>
                            <img src="@Url.Content("~/Content/ClaimPage/common/img/logo.png")" alt="صلة وصل" />
                        </a>
                    </div>
                </div>
                <div class="col-lg-8" style="display:inline-block">
                    <div class="single-page-block-header-menu">
                        <ul class="list-unstyled list-inline">
                            <li><a href="@Url.Action("Manbar", "Home")">&larr; الرجوع</a></li>
                            <li class="active"><a href="javascript: void(0);">الإستبان </a></li>-->
            @*<li><a href="javascript: void(0);">عن الوزارة</a></li>
                <li><a href="javascript: void(0);">الدعم</a></li>*@
            <!--</ul>
                        </div>
                    </div>
                </div>
            </div>-->
            <div class="single-page-block">
                <div class="row">
                    <div class="col-xl-12">

                        <div class="single-page-block-inner">
                            @*<div class="single-page-block-sidebar" style="background-image: url(@Url.Content("~/Images/FormsSideImage.jpg"));direction:rtl;">*@
                            <div class="single-page-block-sidebar" style="background-color:white;direction:rtl;">

                            </div>




                            <div class="single-page-block-form" style="padding:20px 70px 90px;direction:rtl;">
                                @Html.Partial("_FormViewer", new ViewDataDictionary { { "formTemplate", Model }, { "OrganisationKey", ViewBag.OrganisationKey }, { "FormTemplateKey", ViewBag.FormTemplateKey } })
                                <div class="row col-lg-12 single-page-block-footer text-center">
                                    <ul class="list-unstyled list-inline">
                                        <li><a href="@Url.Action("Manbar","Home")" style="color: #447f99 !important; font-size: 1.3rem;">الرجوع</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>


                    </div>

                </div>

            </div>
            <!--<div class="single-page-block-footer text-center" style="padding:70px;">
            <ul class="list-unstyled list-inline">
                <li><a href="@Url.Action("Manbar","Home")" style="color: #447f99 !important;">الرجوع</a></li>-->
            @*<li class="active"><a href="javascript: void(0);" style="color:#808080 !important;">الخصوصية</a></li>
                <li><a href="javascript: void(0);" style="color:#808080 !important;">الدعم</a></li>
                <li><a href="javascript: void(0);" style="color:#808080 !important;">اتصل بنا</a></li>*@
            <!--</ul>
            </div>-->
        </div>

        <!-- Page Scripts -->
        <!-- End Page Scripts -->
    </section>

}

<script>
    $(document).ready(function () {
     

        @*$('#esemsoulasi').append('@ViewBag.FirstName');
        $('#esemsoulasi').append('@ViewBag.FatherName');*@
        $('#esemsoulasi').append('@ViewBag.Email');
        $('#celnumber').append('@ViewBag.PhoneNumber');
        $('#email').append('@ViewBag.Email');
        $('#_368').html('');
        $('#_426').html('');

        var title = decodeHtml('@ViewBag.FormTemplateTitle');
        $('#title').text(title);
        $('#FormTemplateKey').append(@ViewBag.FormTemplateKey);

        id = '@ViewBag.HighlightedPart';
        if (id != null && id != "null") {
            $("#" + id).addClass("left-menu-list-opened");
            $("#menu-initialpage").removeClass("left-menu-list-active");

        }

        if (id == '') {
            $("#menu-initialpage").addClass("left-menu-list-active");
        }

    });


    function changesection(sectionId, sectionbutton) {

        $(".claimsections").css('display', 'none')
        $("#" + sectionId).css('display', 'block')
        $(".menulist").css("font-weight", "normal");
        $("#gonext").css('display', 'none')
        $(sectionbutton).css("font-weight", "bold");
    }


    $(document).ready(function () {

        $('.dropify').dropify();
    });

    function decodeHtml(html) {
        var txt = document.createElement("textarea");
        txt.innerHTML = html;
        return txt.value;
    }

    function submit_post_via_hidden_form(url, params) {
        var f = $("<form method='POST' style='display:none;'></form>").attr({
            action: url
        }).appendTo(document.body);

        for (var i in params) {
            if (params.hasOwnProperty(i)) {
                $('<input type="hidden" />').attr({
                    name: i,
                    value: params[i]
                }).appendTo(f);
            }
        }

        f.submit();

        f.remove();
    }
    $("#HeaderLogo").click(function () {
            submit_post_via_hidden_form("@Url.Action("Index", "Home")", {});

        })
</script>