﻿
@using MoAD.WebApplication.Models;

@{
    ViewBag.Title = "Index";
    Layout = null;
}
<style>
    @@media only screen and (max-width: 800px) {
        #formElements {
            z-index: 4 !important;
            position: fixed !important;
            margin-left: 70px !important;
            top: 235px !important;
            background-color: rgba(0, 0, 0, 0.6) !important;
            width: 315px !important;
            height: 60% !important;
            padding: 20px !important;
            color: white !important;
            text-align: right !important;
            /*display: none !important;*/
            border-radius: 20px !important;
            
        }
    }

   

    .quick-nav-trigger {
        position: absolute;
        z-index: 10103;
        top: 0;
        left: 0;
        height: 60px;
        width: 60px;
        border-radius: 50% !important;
        overflow: hidden;
        white-space: nowrap;
        color: transparent;
    }
</style>
<nav class="quick-nav" style="position:fixed;top:310px;z-index:4">
    <a class="quick-nav-trigger" onclick="formsClick()" href="#0" style="background-color:#01a8fe;">
        <i class="fa fa-file-o" style="position:relative;font-size: large;left:40%;top:40%;color:white"></i>
    </a>
    @*<a id="forms" onclick="formsClick()" style="padding-right: 85px;padding-left: 19px;">
            <span>
                <i class="fa fa-file-o" style="position:relative;font-size: large;">

                </i>
            </span>


        </a>*@

    @*<ul>
            <li>
                <div class="row">
                    <div class="col-md-5" style="padding-right: 0px;">
                        <a id="forms" onclick="formsClick()" style="padding-right: 85px;padding-left: 19px;">
                            <span>
                            <i class="fa fa-file-o" style="position:relative;font-size: large;">

                                </i></span>


                        </a>
                    </div>
                </div>
            </li>
        </ul>
        <span aria-hidden="true" class="quick-nav-bg" style="background:#01a8fe"></span>*@
</nav>

<div id="formElements" style="z-index: 4;position: fixed;margin-left: 75px;top: 235px;background-color: rgba(0, 0, 0, 0.6);width: 350px;height: 200px;padding: 20px;color: white;text-align: right;border-radius: 20px !important;display:none;">
    !! إستطلاع رأي
    <div style="float:left;cursor:pointer;"><i class="fa fa-times closeForm"></i></div><hr style="width: 100%;position:absolute;left: 0px;top:40px;" />
    <div class="row" style="text-align:center">
        <div class="col-lg-4 col-md-4 col-sm-4" style="text-align:center">
            <figure>
                <img style="cursor:pointer;height:100px" src="@Url.Content("~/Images/FeedbackIcons/smiley.png")" alt="" />
                <figcaption style="font-size:20px;color:#53b553">راضي</figcaption>
            </figure>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4" style="text-align:center">
            <figure>
                <img style="cursor:pointer;height:100px" src="@Url.Content("~/Images/FeedbackIcons/neutral.png")" alt="" />
                <figcaption style="font-size:20px;color:orange">حيادي</figcaption>
            </figure>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4" style="text-align:center">
            <figure>
                <img style="cursor:pointer;height:100px" src="@Url.Content("~/Images/FeedbackIcons/sad.png")" alt="" />
                <figcaption style="font-size:20px;color:red">غير راضي </figcaption>
            </figure>
        </div>
    </div>
</div>



<script src="@Url.Content("~/Scripts/Metronic/quick-nav.min.js")" type="text/javascript"></script>


<script type="text/javascript">

    function formsClick() {

        $("#formElements").show();
        $(".formTypesTxt").hide();
        setTimeout(function () {

            $(".quick-nav").addClass("nav-is-visible");

        }, 5);

        $(".closeForm").click(function () {

            $("#formElements").hide();
            $(".formTypesTxt").show();

        });
    }


    $(document).on('click', '.quick-nav li a', function () {
        var elementNumber = $(this).attr("data-elementNumber");
        $("#quickNavChild" + elementNumber).toggle();
    });


</script>



