﻿
@using MoAD.WebApplication.Models;

@{
    ViewBag.Title = "Index";
    Layout = null;
}

<nav class="quick-nav" style="position:fixed;top:200px;">
    <a class="quick-nav-trigger" href="#0">
        <span aria-hidden="true"></span>
    </a>
    <ul>
        <li>
            <div class="row">
                <div class="col-md-5" style="padding-right: 0px;">
                    <a id="forms" onclick="formsClick()" style="padding-right: 85px;padding-left: 19px;">
                        <span><i class="fa fa-file-o" style="position:relative;font-size: large;"></i></span>


                    </a>
                </div>
                <div class="col-md-5 formTypesTxt" style="padding-left: 0px;right: 25px; width: 120px;left: 0px;"> <i><span style="margin-top: 10px;color:black;float:left;">Form</span></i></div>
            </div>
        </li>
        <li>
            <div class="row">
                <div class="col-md-5" style="padding-right: 0px;">
                    <a style="padding-right: 85px;padding-left: 19px;">
                        <span><i class="fa fa-sliders" style="position:relative;font-size: large;"></i></span>


                    </a>
                </div>
                <div class="col-md-5 formTypesTxt" style="padding-left: 0px;right: 25px;width: 120px;left: 0px;"> <i><span style="margin-top: 10px;color:black;float:left;">Rating & Sliders</span></i></div>
            </div>
        </li>
        <li>
            <div class="row">
                <div class="col-md-5" style="padding-right: 0px;">
                    <a style="padding-right: 85px;padding-left: 19px;">
                        <span><i class="fa fa-check" style="position:relative;font-size: large;"></i></span>


                    </a>
                </div>
                <div class="col-md-5 formTypesTxt" style="padding-left: 0px;right: 25px;width: 120px;left: 0px;"> <i><span style="margin-top: 10px;color:black;float:left;">Validation</span></i></div>
            </div>
        </li>
        <li>
            <div class="row">
                <div class="col-md-5" style="padding-right: 0px;">
                    <a style="padding-right: 85px;padding-left: 19px;">
                        <span><i class="fa fa-object-group" style="position:relative;font-size: large;"></i></span>


                    </a>
                </div>
                <div class="col-md-5 formTypesTxt" style="padding-left: 0px; right: 25px;width: 120px;left: 0px;"> <i><span style="margin-top: 10px;color:black;float:left;">Other</span></i></div>
            </div>
        </li>
    </ul>
    <span aria-hidden="true" class="quick-nav-bg"></span>
</nav>
<div id="formElements" style="z-index:1;position:fixed;margin-left:75px;background-color:#36c6d3;border-radius: 20px !important;padding: 20px;color:white;display:none;">Form <div style="float:right;cursor:pointer;"><i class="fa fa-times closeForm"></i></div><hr style="width: 100%;position:absolute;left: 0px;top:25px;"/>
    <ul style="margin-top: 30px;font-size: 20px;padding-left: 0;list-style-type: none;">
        @foreach (var form in Model.listOfCategories)
        {
            <li draggable="true" id="@(form.Name + "drag")" ondragstart="drag(event,this)" style="margin-top: 20px;cursor:pointer" data-elementkey="@form.FormElementKey" data-value="@form.HTMLCode"><i class="@form.HTML"></i>&nbsp; @form.Name</li>
        }

        


    </ul>
    </div>

   
 
<script type="text/javascript">

    function formsClick(){

        $("#formElements").show();
        $(".formTypesTxt").hide();
        setTimeout(function () {

            $(".quick-nav").addClass("nav-is-visible");
            
        }, 5);
       
        $(".closeForm").click(function () {

            $("#formElements").hide();
            $(".formTypesTxt").show();

        });
    }
    

</script>



