﻿@model List<MoAD.DataObjects.EDMX.Page>

<table id="example" class="table table-bordered table-hover">
    <thead class="thead-light">
        <tr>
            <th>#</th>
            <th>إسم الصفحة</th>
            <th>عمليات</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var page in Model)
        {
            <tr>
                <th scope="row">@page.PageKey</th>
                <td>@page.PageName</td>
                <td>
                    <a href="@Url.Action("Index","Template",new { @id = page.PageKey})" class="btn btn-primary" target="_blank">تعديل</a>
                    <a href="#" class="btn btn-danger removeBtn" data-id="@page.PageKey" data-toggle="modal" data-target="#exampleModal">حذف</a>
                </td>
            </tr>
        }

    </tbody>
</table>
