﻿@model MoAD.DataObjects.EDMX.WorkFlowItem

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_LayoutInitialPage.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>WorkFlowItem</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.WorkFlowItemIndex)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.WorkFlowItemIndex)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AspNetRole.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AspNetRole.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AspNetRole1.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AspNetRole1.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FormTemplate.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FormTemplate.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FormTemplate1.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FormTemplate1.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.KPI.KPIValue)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.KPI.KPIValue)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Organisation.OrganisationName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Organisation.OrganisationName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Organisation1.OrganisationName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Organisation1.OrganisationName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Status.StatusValue)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Status.StatusValue)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Status1.StatusValue)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Status1.StatusValue)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
