﻿@model IEnumerable<MoAD.DataObjects.EDMX.WorkFlowItem>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutInitialPage.cshtml";
}

<script>
    $(document).ready(function () {
        $('#table').DataTable({
            "scrollX": true,
            "oLanguage": {
                "sSearch": "إبحث",
                "sLengthMenu": "عدد الأسطر لكل صفحة _MENU_ ",
            }
        });
});
</script>

<div class="row" style="margin-top:1%;">
    <div class="col-xl-12">
        <div class="row">
            <div class="col-xl-12">
                <div class="widget widget-two" style="direction:rtl;">
                    <div class="widget-header">
                        <span class="text-truncate text-nowrap">إعدادات <strong>قيد الانتظار</strong></span><span class="pull-left">@Html.ActionLink("جديد", "Create")</span>
                    </div>

                    <div class="row">
                        <div class="widget-body clearfix">

                            <table id="table" class="display" cellspacing="0" width="100%">
                                <thead>
                                    <tr>
                                        <th>
                                            @Html.DisplayNameFor(model => model.WorkFlowItemIndex)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.AspNetRole.Name)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.AspNetRole1.Name)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.FormTemplate.Name)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.FormTemplate1.Name)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.KPI.KPIValue)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.Organisation.OrganisationName)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.Organisation1.OrganisationName)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.Status.StatusValue)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.Status1.StatusValue)
                                        </th>
                                        <th></th>
                                    </tr>
                                </thead>

                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.WorkFlowItemIndex)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.AspNetRole.Name)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.AspNetRole1.Name)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.FormTemplate.Name)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.FormTemplate1.Name)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.KPI.KPIValue)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Organisation.OrganisationName)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Organisation1.OrganisationName)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Status.StatusValue)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Status1.StatusValue)
                                        </td>
                                        <td>
                                            <div class="row" style="width:400px;margin-right: 5%;">
                                                @Html.ActionLink("Edit", "Edit", new { id = item.WorkFlowItemKey }) |
                                                @Html.ActionLink("Details", "Details", new { id = item.WorkFlowItemKey }) |
                                                @Html.ActionLink("Delete", "Delete", new { id = item.WorkFlowItemKey })
                                                </div>
</td>
                                    </tr>
                                }

                                <tfoot>
                                    <tr>
                                        <th>
                                            @Html.DisplayNameFor(model => model.WorkFlowItemIndex)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.AspNetRole.Name)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.AspNetRole1.Name)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.FormTemplate.Name)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.FormTemplate1.Name)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.KPI.KPIValue)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.Organisation.OrganisationName)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.Organisation1.OrganisationName)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.Status.StatusValue)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.Status1.StatusValue)
                                        </th>
                                        <th></th>
                                    </tr>
                                </tfoot>

                            </table>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
